Repository github/docs, pull requests merged in 2020-11, with the labels that each got.

#569 Specify that merge commit email address is only available when creating a merge commit
  content/github/collaborating-with-issues-and-pull-requests/merging-a-pull-request.md
Labels: content, core

#731 Add link to creating a repository dispatch event
  content/actions/learn-github-actions/introduction-to-github-actions.md
Labels: actions, content, ecosystem, hacktoberfest-accepted

#284 PowerShell Quickstart
  assets/images/help/repository/actions-failed-pester-test.png
  content/actions/guides/building-and-testing-powershell.md
  content/actions/guides/index.md
Labels: actions, ecosystem

#999 repo sync
  content/github/site-policy/github-ae-data-protection-agreement.md
  content/github/site-policy/github-ae-product-specific-terms.md
  content/github/site-policy/github-privacy-statement.md
  content/github/site-policy/index.md
Labels: automerge, autoupdate

#1015 repo sync
  lib/all-products.js
  tests/rendering/sidebar.js
Labels: automerge, autoupdate

#1019 repo sync
  content/github/setting-up-and-managing-your-github-user-account/about-your-personal-dashboard.md
Labels: automerge, autoupdate

#881 Minor typo fixed for "sidebar"
  content/graphql/guides/managing-enterprise-accounts.md
Labels: content

#362 use ed25519 keys instead of rsa keys
  content/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, core, hacktoberfest-accepted

#734 Update about-github-pages.md
  content/github/working-with-github-pages/about-github-pages.md
Labels: content, hacktoberfest-accepted, localization

#904 Fix external link to Pro Git subtree merge chapter
  content/github/using-git/about-git-subtree-merges.md
Labels: content, core, hacktoberfest-accepted

#842 doc: update phrasing to use `default branch` rather than `main` in Syncing a Fork
  content/github/collaborating-with-issues-and-pull-requests/syncing-a-fork.md
Labels: content, core

#1025 repo sync
  middleware/robots.js
  tests/rendering/robots-txt.js
Labels: automerge, autoupdate

#866 chore: Run npm audit fix --force
  package-lock.json
  package.json
Labels: engineering

#864 fix: Use pull_request_target for SECRET access
  .github/workflows/start-new-engineering-pr-workflow.yml
Labels: engineering

#863 fix: Remove empty strategy on codeQL job
  .github/workflows/codeql.yml
Labels: engineering

#1028 repo sync
  .github/workflows/dry-run-sync-algolia-search-indices.yml
Labels: automerge, autoupdate

#902 Fix the broken Android mirror link
  content/github/getting-started-with-github/finding-ways-to-contribute-to-open-source-on-github.md
Labels: autosquash, content, core, hacktoberfest-accepted

#798 chore: flatten and document pinned actions
  .github/allowed-actions.js
  .github/workflows/dry-run-sync-algolia-search-indices.yml
  .github/workflows/first-responder-docs-content.yml
  .github/workflows/send-eng-issues-to-backlog.yml
  .github/workflows/start-new-engineering-pr-workflow.yml
  .github/workflows/sync-algolia-search-indices.yml
  .github/workflows/translations.yml
  .github/workflows/triage-issue-comments.yml
Labels: engineering, hacktoberfest-accepted

#493 Update migrating-from-jenkins-to-github-actions.md
  content/actions/learn-github-actions/migrating-from-jenkins-to-github-actions.md
Labels: actions, content, ecosystem, hacktoberfest-accepted

#972 Fix broken link: voice and tone
  contributing/content-style-guide.md
Labels: hacktoberfest-accepted

#953 Create re-request-review reusable and use it in appropriate places
  content/github/collaborating-with-issues-and-pull-requests/about-pull-request-reviews.md
  content/github/collaborating-with-issues-and-pull-requests/incorporating-feedback-in-your-pull-request.md
  data/reusables/pull_requests/re-request-review.md
Labels: content, core

#1048 repo sync
  package-lock.json
  package.json
Labels: automerge, autoupdate

#653 Change Maven hostname to maven.pkg.github.com
  content/packages/publishing-and-managing-packages/about-github-packages.md
Labels: content, ecosystem, packages

#667 Actions: Add missing runs-on (managing complex workflows)
  content/actions/learn-github-actions/managing-complex-workflows.md
Labels: actions, content, ecosystem, hacktoberfest-accepted

#762 Update managing-complex-workflows.md
  content/actions/learn-github-actions/managing-complex-workflows.md
Labels: actions, content, ecosystem, hacktoberfest-accepted

#692 exclusion is not supported by notification filters
  content/github/managing-subscriptions-and-notifications-on-github/managing-notifications-from-your-inbox.md
Labels: content, core, hacktoberfest-accepted

#1037 fix: CSS class had single quote in name
  includes/header.html
Labels: engineering

#1000 chore: Don't trigger comment-triage on PRs
  .github/workflows/triage-issue-comments.yml
Labels: engineering

#862 chore: Pull JS Linting to separate Action
  .github/workflows/js-lint.yml
  .github/workflows/test.yml
  README.md
Labels: engineering

#584 Registry URLs must include https://
  content/packages/using-github-packages-with-your-projects-ecosystem/configuring-npm-for-use-with-github-packages.md
Labels: content, ecosystem, hacktoberfest-accepted, packages

#1064 repo sync
  lib/enterprise-dates.json
Labels: automerge, autoupdate

#482 Actions: Add section about group/ungroup commands
  assets/images/actions-log-group.png
  content/actions/reference/workflow-commands-for-github-actions.md
Labels: actions, content, ecosystem, hacktoberfest-accepted

#733 chore: Typo roundup with cSpell
  CONTRIBUTING.md
  content/actions/guides/building-and-testing-powershell.md
  content/actions/learn-github-actions/migrating-from-gitlab-cicd-to-github-actions.md
  content/actions/learn-github-actions/security-hardening-for-github-actions.md
  content/actions/reference/workflow-commands-for-github-actions.md
  content/admin/authentication/using-saml.md
  content/admin/packages/configuring-third-party-storage-for-packages.md
  content/admin/user-management/auditing-users-across-your-enterprise.md
  content/developers/apps/creating-ci-tests-with-the-checks-api.md
  content/developers/apps/identifying-and-authorizing-users-for-github-apps.md
  content/developers/apps/setting-up-your-development-environment-to-create-a-github-app.md
  content/developers/github-marketplace/rest-endpoints-for-the-github-marketplace-api.md
  content/github/authenticating-to-github/connecting-with-third-party-applications.md
  content/github/setting-up-and-managing-organizations-and-teams/managing-code-review-assignment-for-your-team.md
  content/github/setting-up-and-managing-organizations-and-teams/viewing-insights-for-your-organization.md
  content/github/working-with-github-pages/troubleshooting-jekyll-build-errors-for-github-pages-sites.md
  content/insights/installing-and-configuring-github-insights/managing-contributors-and-teams.md
  content/rest/reference/permissions-required-for-github-apps.md
  contributing/content-style-guide.md
  contributing/node-versions.md
  contributing/troubleshooting.md
  data/reusables/github-insights/contributors-tab.md
  data/reusables/marketplace/downgrade-marketplace-only.md
  data/reusables/project-management/resync-automation.md
  data/reusables/webhooks/installation_properties.md
  data/reusables/webhooks/member_webhook_properties.md
  data/reusables/webhooks/ping_short_desc.md
  data/reusables/webhooks/repo_desc.md
  data/reusables/webhooks/repository_vulnerability_alert_short_desc.md
  data/variables/README.md
Labels: content, ecosystem, hacktoberfest-accepted

#905 Update registry endpoints to use https
  content/packages/using-github-packages-with-your-projects-ecosystem/configuring-npm-for-use-with-github-packages.md
Labels: content, ecosystem, packages

#849 Update security-hardening-for-github-actions.md
  content/actions/learn-github-actions/security-hardening-for-github-actions.md
Labels: actions, content, ecosystem

#531 Add more details about workflow_run
  content/actions/reference/events-that-trigger-workflows.md
Labels: actions, content, ecosystem, hacktoberfest-accepted

#1011 chore: Remove locales from docs.microsoft.com urls
  content/actions/guides/building-and-testing-powershell.md
  content/actions/learn-github-actions/migrating-from-azure-pipelines-to-github-actions.md
  content/actions/reference/encrypted-secrets.md
  content/actions/reference/specifications-for-github-hosted-runners.md
  content/admin/authentication/configuring-authentication-and-provisioning-for-your-enterprise-using-azure-ad.md
  content/admin/enterprise-management/upgrading-github-enterprise-server.md
  content/admin/enterprise-support/submitting-a-ticket.md
  content/admin/installation/installing-github-enterprise-server-on-azure.md
  content/admin/installation/installing-github-enterprise-server-on-hyper-v.md
  content/github/developing-online-with-codespaces/personalizing-codespaces-for-your-account.md
  content/github/setting-up-and-managing-your-enterprise/managing-licenses-for-visual-studio-subscription-with-github-enterprise.md
  content/packages/using-github-packages-with-your-projects-ecosystem/configuring-dotnet-cli-for-use-with-github-packages.md
  contributing/content-style-guide.md
  tests/rendering/server.js
Labels: content

#836 Clarify artifact upload/download mechanism
  content/actions/guides/storing-workflow-data-as-artifacts.md
Labels: actions, content, ecosystem, hacktoberfest-accepted

#438 Actions: How to run jobs on issue_comment only if PR
  content/actions/reference/events-that-trigger-workflows.md
Labels: actions, content, ecosystem, hacktoberfest-accepted

#945 Reorder sections
  content/github/managing-large-files/removing-files-from-a-repositorys-history.md
Labels: content, core

#930 Update about-self-hosted-runners.md
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
Labels: actions, content, ecosystem

#1023 Update when repo scope is required for GitHub Packages
  content/packages/publishing-and-managing-packages/about-github-packages.md
Labels: content, ecosystem, packages

#650 Update events-that-trigger-workflows.md
  content/actions/reference/events-that-trigger-workflows.md
Labels: actions, content, ecosystem, hacktoberfest-accepted

#1091 repo sync
  assets/images/help/organizations/org-settings-interaction-limits.png
  assets/images/help/organizations/org-settings-moderation-settings.png
  assets/images/help/organizations/organization-temporary-interaction-limits-options.png
  assets/images/help/repository/repo-settings-interaction-limits.png
  assets/images/help/repository/repo-settings-moderation-settings.png
  assets/images/help/repository/temporary-interaction-limits-options.png
  assets/images/help/settings/settings-sidebar-interaction-limits.png
  assets/images/help/settings/user-account-temporary-interaction-limits-options.png
  content/github/building-a-strong-community/index.md
  content/github/building-a-strong-community/limiting-interactions-for-your-user-account.md
  content/github/building-a-strong-community/limiting-interactions-in-your-organization.md
  content/github/building-a-strong-community/limiting-interactions-in-your-repository.md
  data/reusables/community/interaction-limits-duration.md
  data/reusables/community/interaction-limits-restrictions.md
  data/reusables/community/set-interaction-limit.md
  data/reusables/community/types-of-interaction-limits.md
Labels: automerge, autoupdate

#578 workspaceFolder is not supported yet
  content/github/developing-online-with-codespaces/configuring-codespaces-for-your-project.md
Labels: content, core, hacktoberfest-accepted

#1103 repo sync
  middleware/events.js
Labels: automerge, autoupdate

#1106 repo sync
  content/rest/overview/api-previews.md
Labels: automerge, autoupdate

#1110 repo sync
  package-lock.json
  package.json
Labels: automerge, autoupdate

#376 API Libraries Design update
  content/rest/overview/libraries.md
  package-lock.json
Labels: hacktoberfest-accepted, stale

#1120 repo sync
  assets/images/help/images/comparing-travis-with-actions.png
  content/actions/learn-github-actions/index.md
  content/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions.md
Labels: automerge, autoupdate

#1122 repo sync
  content/github/site-policy/github-insights-and-data-protection-for-your-organization.md
Labels: automerge, autoupdate

#792 Update guidelines-for-legal-requests-of-user-data.md
  content/github/site-policy/guidelines-for-legal-requests-of-user-data.md
Labels: content, hacktoberfest-accepted

#1066 Update blocking-a-user-from-your-personal-account.md
  content/github/building-a-strong-community/blocking-a-user-from-your-personal-account.md
Labels: content, core

#1124 repo sync
  content/github/setting-up-and-managing-your-enterprise/about-enterprise-accounts.md
  content/github/setting-up-and-managing-your-enterprise/adding-organizations-to-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/configuring-saml-single-sign-on-and-scim-for-your-enterprise-account-using-okta.md
  content/github/setting-up-and-managing-your-enterprise/configuring-the-retention-period-for-github-actions-artifacts-and-logs-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/configuring-webhooks-for-organization-events-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/enforcing-a-policy-on-dependency-insights-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/enforcing-github-actions-policies-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/enforcing-project-board-policies-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/enforcing-repository-management-policies-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/enforcing-security-settings-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/enforcing-team-policies-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/managing-licenses-for-visual-studio-subscription-with-github-enterprise.md
  content/github/setting-up-and-managing-your-enterprise/managing-organizations-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/managing-unowned-organizations-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/managing-users-in-your-enterprise.md
  content/github/setting-up-and-managing-your-enterprise/setting-policies-for-organizations-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/viewing-and-managing-a-users-saml-access-to-your-enterprise.md
  content/github/setting-up-and-managing-your-enterprise/viewing-the-audit-logs-for-organizations-in-your-enterprise-account.md
Labels: automerge, autoupdate

#1032 chore: Add EditorConfig for IDE whitespace
  .editorconfig
Labels: engineering

#1137 repo sync
  script/graphql/update-files.js
Labels: automerge, autoupdate

#1138 repo sync
  middleware/enterprise-data-endpoint.js
  middleware/index.js
  tests/rendering/server.js
Labels: automerge, autoupdate

#1142 repo sync
  script/create-webhooks-for-new-version.js
Labels: automerge, autoupdate

#1187 repo sync
  package-lock.json
  package.json
Labels: automerge, autoupdate

#1191 repo sync
  content/rest/reference/actions.md
Labels: automerge, autoupdate

#722 Changed the term master to main
  data/glossaries/external.yml
Labels: content, hacktoberfest-accepted

#1115 chore: flatten ifs for fkirc/skip-duplicate-actions
  .github/workflows/browser-test.yml
  .github/workflows/test.yml
Labels: engineering

#1038 chore: Filter CI job for dependabot auto-merge
  .github/workflows/automerge-dependencies.yml
Labels: engineering

#1197 repo sync
  javascripts/wrap-code-terms.js
Labels: automerge, autoupdate

#691 Add Codespaces capability to contribute to the site
  .devcontainer.json
  CONTRIBUTING.md
  contributing/development.md
Labels: contributing docs, hacktoberfest-accepted

#1206 repo sync
  content/packages/using-github-packages-with-your-projects-ecosystem/configuring-apache-maven-for-use-with-github-packages.md
  content/packages/using-github-packages-with-your-projects-ecosystem/configuring-docker-for-use-with-github-packages.md
  content/packages/using-github-packages-with-your-projects-ecosystem/configuring-gradle-for-use-with-github-packages.md
  content/packages/using-github-packages-with-your-projects-ecosystem/configuring-npm-for-use-with-github-packages.md
  content/packages/using-github-packages-with-your-projects-ecosystem/configuring-rubygems-for-use-with-github-packages.md
  data/reusables/package_registry/lowercase-name-field.md
Labels: automerge, autoupdate

#358 docs: add example YAML for workflow_dispatch
  content/actions/managing-workflow-runs/manually-running-a-workflow.md
  content/actions/reference/events-that-trigger-workflows.md
Labels: actions, content, ecosystem, hacktoberfest-accepted

#1182 Read to write statement swap to address #644
  content/actions/managing-workflow-runs/re-running-a-workflow.md
Labels: actions, content, ecosystem

#1210 repo sync
  stylesheets/tables.scss
Labels: automerge, autoupdate

#806 Update docs around what image formats are supported by GHCR
  content/packages/getting-started-with-github-container-registry/about-github-container-registry.md
  content/packages/managing-container-images-with-github-container-registry/deleting-a-container-image.md
  data/reusables/package_registry/container-registry-beta.md
Labels: ecosystem, hacktoberfest-accepted, packages

#1235 repo sync
  assets/images/help/repository/commit-hello-world-file.png
  assets/images/help/repository/manual-workflow-trigger.png
  assets/images/help/repository/say-hello-job.png
  assets/images/help/repository/workflow-job-listing.png
  assets/images/help/repository/workflow-log-listing.png
  assets/images/help/repository/workflow-run-listing.png
  content/actions/quickstart.md
  content/github/administering-a-repository/about-secret-scanning.md
  content/github/administering-a-repository/configuring-secret-scanning-for-private-repositories.md
  content/github/administering-a-repository/managing-alerts-from-secret-scanning.md
  content/github/setting-up-and-managing-organizations-and-teams/managing-secret-scanning-for-your-organization.md
  data/reusables/gated-features/secret-scanning.md
  data/reusables/secret-scanning/beta.md
  javascripts/experiment.js
Labels: automerge, autoupdate

#1239 repo sync
  translations/pt-BR/content/github/managing-security-vulnerabilities/about-alerts-for-vulnerable-dependencies.md
Labels: automerge, autoupdate

#1240 repo sync
  .github/workflows/check-all-english-links.yml
  .gitignore
  content/actions/index.md
  layouts/product-landing.html
  lib/excluded-links.js
  package-lock.json
  package.json
  script/check-english-links.js
  script/check-external-links
  script/check-internal-links
  script/get-blc-command.js
Labels: automerge, autoupdate

#1247 repo sync
  .github/workflows/check-all-english-links.yml
  .github/workflows/repo-freeze-check.yml
  content/actions/reference/specifications-for-github-hosted-runners.md
Labels: automerge, autoupdate

#1257 repo sync
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-codeql-code-scanning-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/enabling-code-scanning-for-a-repository.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/managing-code-scanning-alerts-for-your-repository.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/triaging-code-scanning-alerts-in-pull-requests.md
  content/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization.md
Labels: automerge, autoupdate

#1262 repo sync
  content/actions/guides/building-and-testing-powershell.md
  content/actions/guides/publishing-nodejs-packages.md
  content/actions/guides/setting-up-continuous-integration-using-workflow-templates.md
  content/actions/index.md
  includes/guide-card.html
  layouts/product-landing.html
  lib/frontmatter.js
  middleware/csp.js
  middleware/featured-links.js
  stylesheets/index.scss
  stylesheets/product-landing.scss
  stylesheets/shadows.scss
Labels: automerge, autoupdate

#1272 repo sync
  content/admin/authentication/configuring-authentication-and-provisioning-for-your-enterprise-using-azure-ad.md
  content/admin/authentication/configuring-saml-single-sign-on-for-your-enterprise.md
  content/admin/authentication/configuring-user-provisioning-for-your-enterprise.md
Labels: automerge, autoupdate

#1274 repo sync
  content/actions/index.md
Labels: automerge, autoupdate

#1234 Fix the table overflowing sidebar
  content/github/writing-on-github/autolinked-references-and-urls.md
  stylesheets/tables.scss
Labels: engineering

#1281 repo sync
  content/actions/index.md
  data/variables/action_code_examples.yml
  includes/code-example-card.html
  javascripts/filter-code-examples.js
  javascripts/index.js
  layouts/product-landing.html
  tests/content/lint-files.js
  tests/content/liquid-line-breaks.js
Labels: automerge, autoupdate

#1284 repo sync
  includes/all-articles.html
  javascripts/all-articles.js
  javascripts/index.js
  layouts/product-landing.html
  lib/render-content.js
Labels: automerge, autoupdate

#1285 repo sync
  .github/workflows/check-all-english-links.yml
  includes/header-notification.html
  includes/header.html
  middleware/index.js
  middleware/notices.js
  script/content-migrations/README.md
  script/content-migrations/update-developer-site-links.js
  tests/rendering/header.js
Labels: automerge, autoupdate

#501 Multiple deploy keys
  content/developers/overview/managing-deploy-keys.md
Labels: content, ecosystem, hacktoberfest-accepted

#1295 repo sync
  content/rest/reference/interactions.md
  data/reusables/interactions/interactions-detail.md
  package-lock.json
  package.json
Labels: automerge, autoupdate

#1310 repo sync
  package-lock.json
  package.json
Labels: automerge, autoupdate

#1318 repo sync
  data/ui.yml
  data/variables/release_candidate.yml
  includes/header-notification.html
  script/release-banner.js
Labels: automerge, autoupdate

#1320 repo sync
  content/github/site-policy/github-additional-product-terms.md
Labels: automerge, autoupdate

#1321 repo sync
  content/developers/apps/rate-limits-for-github-apps.md
  content/rest/overview/other-authentication-methods.md
  content/rest/overview/resources-in-the-rest-api.md
  content/rest/overview/troubleshooting.md
  content/rest/reference/oauth-authorizations.md
  contributing/content-style-guide.md
  contributing/localization-checklist.md
  data/reusables/apps/deprecating_password_auth.md
  lib/redirects/get-docs-path-from-developer-path.js
  script/README.md
  tests/fixtures/rest-redirects.json
Labels: automerge, autoupdate

#1325 repo sync
  layouts/product-landing.html
  lib/page.js
  lib/statsd.js
  middleware/render-page.js
  package-lock.json
  package.json
Labels: automerge, autoupdate

#1231 Avoid use branch for example workflows
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, content, ecosystem

#1132 Update workflow-syntax-for-github-actions.md
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, content, ecosystem

#1108 Make description of step more accurate
  content/actions/learn-github-actions/introduction-to-github-actions.md
Labels: actions, content, ecosystem

#1219 Add note that secret scanning endpoints should be able to handle larg…
  content/developers/overview/secret-scanning.md
Labels: DSP, content

#1330 Restructure sentence to include .NET Framework
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/troubleshooting-the-codeql-workflow.md
Labels: DSP, content

#1338 fix: update role and add missing label for search
  content/actions/index.md
Labels: engineering

#820 Make note about HTML-encoding Query Strings in Search Docs
  content/rest/reference/search.md
Labels: content, ecosystem, hacktoberfest-accepted, stale

#1268 add responsive to footer
  includes/small-footer.html
Labels: engineering

#786 Add Heroku hint to Pull Request Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: contributing docs, hacktoberfest-accepted, stale

#1328 chore: Convert Standard to eslint-config-standard
  .eslintignore
  .eslintrc.js
  .github/workflows/js-lint.yml
  .github/workflows/test-translations.yml
  lib/redirects/get-docs-path-from-developer-path.js
  lib/remove-liquid-statements.js
  lib/site-tree.js
  lib/warm-server.js
  package-lock.json
  package.json
  script/content-migrations/update-developer-site-links.js
  script/graphql/build-changelog-from-markdown.js
  script/update-readme.js
  tests/rendering/sidebar.js
Labels: engineering

#1429 repo sync
  content/github/authenticating-to-github/about-anonymized-image-urls.md
Labels: automerge, autoupdate

#1430 repo sync
  content/github/authenticating-to-github/reviewing-your-security-log.md
  content/github/setting-up-and-managing-organizations-and-teams/reviewing-the-audit-log-for-your-organization.md
Labels: automerge, autoupdate

#1433 repo sync
  translations/pt-BR/content/github/index.md
  translations/pt-BR/content/github/managing-security-vulnerabilities/about-alerts-for-vulnerable-dependencies.md
  translations/pt-BR/content/github/using-git/getting-started-with-git-and-github.md
Labels: automerge, autoupdate

#1437 repo sync
  .github/allowed-actions.js
  .github/workflows/check-all-english-links.yml
Labels: automerge, autoupdate

#1438 repo sync
  contributing/development.md
Labels: automerge, autoupdate

#1439 repo sync
  lib/enterprise-server-releases.js
  lib/is-archived-version.js
  lib/redirects/static/developer-docs-routes-for-supported-versions.json
  middleware/archived-enterprise-versions-assets.js
  middleware/archived-enterprise-versions.js
  tests/routing/deprecated-enterprise-versions.js
Labels: automerge, autoupdate

#1443 repo sync
  data/variables/action_code_examples.yml
Labels: automerge, autoupdate

#1451 repo sync
  content/packages/using-github-packages-with-your-projects-ecosystem/configuring-npm-for-use-with-github-packages.md
Labels: automerge, autoupdate

#1453 repo sync
  content/actions/reference/events-that-trigger-workflows.md
  content/developers/webhooks-and-events/webhook-events-and-payloads.md
Labels: automerge, autoupdate

#1458 repo sync
  README.md
Labels: automerge, autoupdate

#1459 repo sync
  README.md
Labels: automerge, autoupdate

#1460 repo sync
  includes/helpfulness.html
Labels: automerge, autoupdate

#1463 repo sync
  javascripts/events.js
Labels: automerge, autoupdate

#1464 repo sync
  stylesheets/tables.scss
Labels: automerge, autoupdate

#1465 repo sync
  assets/images/help/organizations/security-and-analysis-disable-or-enable-all.png
  assets/images/help/organizations/security-and-analysis-enable-or-disable-feature-checkbox.png
  assets/images/help/repository/security-and-analysis-security-alerts-person-or-team-search.png
  assets/images/help/repository/security-and-analysis-security-alerts-save-changes.png
  assets/images/help/repository/security-and-analysis-security-alerts-username-x.png
  content/github/administering-a-repository/about-secret-scanning.md
  content/github/administering-a-repository/managing-security-and-analysis-settings-for-your-repository.md
  content/github/managing-security-vulnerabilities/about-alerts-for-vulnerable-dependencies.md
  content/github/setting-up-and-managing-organizations-and-teams/reviewing-the-audit-log-for-your-organization.md
Labels: automerge, autoupdate

#1469 repo sync
  middleware/webpack.js
  package-lock.json
  package.json
Labels: automerge, autoupdate

#1470 repo sync
  script/graphql/update-files.js
Labels: automerge, autoupdate

#1471 repo sync
  script/README.md
  script/enterprise-server-deprecations/archive-version.js
  script/enterprise-server-deprecations/remove-version-markup.js
  script/enterprise-server-releases/create-webhook-files.js
  script/enterprise-server-releases/ghes-to-ghae-versioning.js
  script/enterprise-server-releases/release-banner.js
  script/new-versioning/enterprise-ae.js
  script/new-versioning/fixtures.js
  script/new-versioning/main
  script/new-versioning/move-admin-dir.js
  script/new-versioning/update-content.js
  script/new-versioning/update-frontmatter.js
  script/new-versioning/update-not-fpt-conditionals.js
  script/new-versioning/update-products-yml.js
Labels: automerge, autoupdate

#1474 repo sync
  lib/page.js
  tests/unit/page.js
Labels: automerge, autoupdate

#1479 repo sync
  lib/excluded-links.js
  script/check-english-links.js
Labels: automerge, autoupdate

#1482 repo sync
  assets/images/help/settings/actions-enterprise-account-add-runner-group-options.png
  assets/images/help/settings/actions-org-add-runner-group-options.png
  content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  data/reusables/github-actions/self-hosted-runner-configure-runner-group-access.md
Labels: automerge, autoupdate

#1484 repo sync
  content/developers/apps/authorizing-oauth-apps.md
  content/developers/apps/identifying-and-authorizing-users-for-github-apps.md
Labels: automerge, autoupdate

#1491 repo sync
  content/admin/enterprise-management/increasing-storage-capacity.md
  data/reusables/enterprise_installation/hardware-considerations-all-platforms.md
  data/reusables/enterprise_installation/hardware-rec-table.md
Labels: automerge, autoupdate

#1492 repo sync
  assets/images/help/notifications-v2/watch-repository-options-custom.png
  assets/images/help/notifications-v2/watch-repository-options-custom2.png
  assets/images/help/notifications-v2/watched-notifications-custom.png
  content/github/managing-subscriptions-and-notifications-on-github/about-notifications.md
  content/github/managing-subscriptions-and-notifications-on-github/configuring-notifications.md
  content/github/managing-subscriptions-and-notifications-on-github/managing-your-subscriptions.md
  content/github/managing-subscriptions-and-notifications-on-github/viewing-your-subscriptions.md
  data/reusables/notifications-v2/custom-notifications-beta.md
Labels: automerge, autoupdate

#908 Update generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  content/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, core, stale

#1507 repo sync
  script/README.md
  script/enterprise-server-releases/create-graphql-files.js
  script/enterprise-server-releases/create-webhook-files.js
Labels: automerge, autoupdate

#1508 repo sync
  assets/images/help/package-registry/packages-overview-diagram.png
Labels: automerge, autoupdate

#1509 repo sync
  content/github/site-policy/github-marketplace-terms-of-service.md
Labels: automerge, autoupdate

#1510 repo sync
  content/admin/release-notes.md
  data/release-notes/.gitkeep
  includes/release-notes-category-label.html
  layouts/release-notes.html
  lib/liquid-tags/extended-markdown.js
  lib/release-notes-schema.js
  lib/render-content.js
  lib/warm-server.js
  middleware/contextualizers/enterprise-release-notes.js
  middleware/index.js
  tests/content/lint-files.js
  tests/routing/enterprise-release-notes.js
Labels: automerge, autoupdate

#1279 Fixes typo in key app.github.rate-limiting-exempt-users
  content/admin/configuration/command-line-utilities.md
Labels: bug, content, core

#1074 Update add-ssh-key-to-ssh-agent documentation
  data/reusables/ssh/add-ssh-key-to-ssh-agent-commandline.md
  data/reusables/ssh/add-ssh-key-to-ssh-agent.md
Labels: content, core

#1512 repo sync
  includes/article.html
  includes/helpfulness.html
  javascripts/experiment.js
  javascripts/helpfulness.js
  tests/browser/browser.js
Labels: automerge, autoupdate

#1416 Update Configuring a codespace for VS
  content/github/developing-online-with-codespaces/using-codespaces-in-visual-studio.md
Labels: content, core

#1557 repo sync
  package-lock.json
  package.json
Labels: automerge, autoupdate

#1566 repo sync
  CODE_OF_CONDUCT.md
Labels: automerge, autoupdate

#1063 Update adding-a-new-ssh-key-to-your-github-account.md
  content/github/authenticating-to-github/adding-a-new-ssh-key-to-your-github-account.md
Labels: content, core

#1569 repo sync
  .github/workflows/sync-single-english-algolia-index.yml
  contributing/search.md
  lib/algolia/sync.js
  lib/liquid-tags/extended-markdown.js
  script/sync-algolia-search-indices.js
Labels: automerge, autoupdate

#1570 repo sync
  .github/workflows/sync-single-english-algolia-index.yml
Labels: automerge, autoupdate

#1355 Update to ed25519 from rsa
  content/github/authenticating-to-github/adding-a-new-ssh-key-to-your-github-account.md
Labels: content, core

#1496 Suggest to avoid "Master branch" instead of "Default branch"
  contributing/content-style-guide.md
Labels: contributing docs

#675 fix: Bad code fence indenting in ordered lists
  content/admin/enterprise-management/configuring-high-availability-replication-for-a-cluster.md
  content/admin/installation/installing-github-enterprise-server-on-google-cloud-platform.md
  content/admin/policies/creating-a-pre-receive-hook-environment.md
  content/admin/policies/creating-a-pre-receive-hook-script.md
  content/github/using-git/setting-your-username-in-git.md
Labels: content, hacktoberfest-accepted

#1193 Remove note about package immutability
  content/packages/managing-container-images-with-github-container-registry/deleting-a-container-image.md
  content/packages/publishing-and-managing-packages/deleting-a-package.md
  content/packages/publishing-and-managing-packages/publishing-a-package.md
  data/reusables/package_registry/package-immutability.md
Labels: content, ecosystem, packages

#1580 repo sync
  content/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions.md
  content/actions/reference/workflow-syntax-for-github-actions.md
  data/reusables/github-actions/matrix-variable-example.md
Labels: automerge, autoupdate

#1584 repo sync
  content/github/setting-up-and-managing-organizations-and-teams/reviewing-the-audit-log-for-your-organization.md
  content/github/setting-up-and-managing-your-github-user-account/integrating-jira-with-your-personal-projects.md
  content/insights/installing-and-configuring-github-insights/enabling-a-link-between-github-insights-and-github-enterprise.md
  tests/content/lint-files.js
Labels: automerge, autoupdate

#1585 repo sync
  .github/actions-scripts/enterprise-algolia-label.js
  .github/workflows/sync-single-english-algolia-index.yml
  package.json
Labels: automerge, autoupdate

#1586 repo sync
  content/actions/guides/building-and-testing-java-with-gradle.md
  content/actions/guides/building-and-testing-java-with-maven.md
  content/actions/guides/building-and-testing-nodejs.md
  content/actions/guides/building-and-testing-powershell.md
  content/actions/guides/building-and-testing-python.md
  content/actions/guides/building-and-testing-ruby.md
  content/actions/learn-github-actions/managing-complex-workflows.md
  content/actions/learn-github-actions/migrating-from-circleci-to-github-actions.md
  content/actions/learn-github-actions/migrating-from-gitlab-cicd-to-github-actions.md
  content/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions.md
  content/actions/reference/usage-limits-billing-and-administration.md
  content/developers/apps/identifying-and-authorizing-users-for-github-apps.md
  content/github/administering-a-repository/managing-releases-in-a-repository.md
  data/reusables/pre-release-program/expiring-user-access-tokens-beta.md
  lib/check-developer-links.js
  lib/check-links.js
  lib/find-page-in-version.js
  lib/liquid-tags/link.js
  lib/path-utils.js
  lib/site-tree.js
  middleware/featured-links.js
Labels: automerge, autoupdate

#1589 repo sync
  script/enterprise-server-releases/create-graphql-files.js
Labels: automerge, autoupdate

#1591 repo sync
  .github/allowed-actions.js
  .github/workflows/check-all-english-links.yml
Labels: automerge, autoupdate

#1592 repo sync
  .github/allowed-actions.js
  .github/workflows/check-all-english-links.yml
Labels: automerge, autoupdate

#1594 repo sync
  content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  data/reusables/github-actions/self-hosted-runner-configure-runner-group-access.md
  jest.config.js
  lib/liquid-tags/indented-data-reference.js
  script/check-deps.js
  tests/content/featured-links.js
  tests/content/site-tree.js
  tests/content/webhooks.js
  tests/helpers/supertest.js
  tests/meta/orphan-tests.js
  tests/rendering/breadcrumbs.js
  tests/rendering/curated-homepage-links.js
  tests/rendering/footer.js
  tests/rendering/head.js
  tests/rendering/header.js
  tests/rendering/page-titles.js
  tests/rendering/rest.js
  tests/rendering/robots-txt.js
  tests/rendering/server.js
  tests/rendering/sidebar.js
  tests/routing/deprecated-enterprise-versions.js
  tests/routing/developer-site-redirects.js
  tests/routing/enterprise-release-notes.js
  tests/routing/language-code-redirects.js
  tests/routing/redirects.js
  tests/routing/top-developer-site-path-redirects.js
  tests/unit/liquid-helpers.js
  tests/unit/products.js
  tests/unit/versions.js
Labels: automerge, autoupdate

#1627 repo sync
  content/github/managing-your-work-on-github/about-labels.md
  content/github/managing-your-work-on-github/applying-labels-to-issues-and-pull-requests.md
  content/github/managing-your-work-on-github/creating-a-label.md
  content/github/managing-your-work-on-github/deleting-a-label.md
  content/github/managing-your-work-on-github/editing-a-label.md
  content/github/managing-your-work-on-github/index.md
  content/github/managing-your-work-on-github/labeling-issues-and-pull-requests.md
  content/github/managing-your-work-on-github/managing-labels.md
  content/github/managing-your-work-on-github/managing-your-work-with-issues-and-pull-requests.md
Labels: automerge, autoupdate
