Repository github/docs, pull requests merged in 2020-10, with the labels that each got.

#170 repo sync
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/improve-existing-docs.md
  .github/ISSUE_TEMPLATE/improve-the-site.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automerge, autoupdate

#174 repo sync
  includes/article.html
Labels: automerge, autoupdate

#176 Fix license text and link
  README.md
Labels: triage

#175 repo sync
  content/github/administering-a-repository/changing-the-default-branch.md
  script/anonymize-branch.js
Labels: automerge, autoupdate

#181 repo sync
  .github/workflows/triage-issue-comments.yml
  .github/workflows/triage-issues.yml
  .github/workflows/triage-pull-requests.yml
Labels: automerge, autoupdate

#179 Update applying-labels-to-issues-and-pull-requests.md
  content/github/managing-your-work-on-github/applying-labels-to-issues-and-pull-requests.md
Labels: triage

#195 Update running-code-scanning-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/running-code-scanning-in-your-ci-system.md
Labels: DSP

#182 Update environment-variables.md
  content/actions/reference/environment-variables.md
Labels: actions, content

#273 repo sync
  content/packages/using-github-packages-with-your-projects-ecosystem/configuring-gradle-for-use-with-github-packages.md
  javascripts/events.js
  javascripts/index.js
  lib/hydro.js
  lib/schema-event-2.js
  middleware/events.js
  middleware/index.js
  middleware/req-utils.js
  tests/rendering/events.js
  tests/unit/hydro.js
Labels: automerge, autoupdate

#225 remove all-contributors suggestion from merge notification
  .github/workflows/merged-notification.yml
Labels: engineering

#274 repo sync
  content/github/managing-security-vulnerabilities/about-alerts-for-vulnerable-dependencies.md
  content/github/managing-subscriptions-and-notifications-on-github/configuring-notifications.md
  content/github/managing-subscriptions-and-notifications-on-github/managing-notifications-from-your-inbox.md
Labels: automerge, autoupdate

#180 Fix tests for Actions AllowList
  .github/allowed-actions.js
  tests/unit/actions-workflows.js
Labels: engineering

#192 Update context-and-expression-syntax-for-github-actions.md
  content/actions/reference/context-and-expression-syntax-for-github-actions.md
Labels: content, ecosystem

#215 correct the version of node required
  contributing/development.md
  contributing/node-versions.md
Labels: engineering

#256 remove translations/*/content/README.md
  translations/ja-JP/content/README.md
  translations/zh-CN/content/README.md
Labels: engineering, localization

#185 Update about-email-notifications-for-pushes-to-your-repository.md
  content/github/administering-a-repository/about-email-notifications-for-pushes-to-your-repository.md
Labels: content, core

#290 repo sync
  content/rest/guides/getting-started-with-the-rest-api.md
  content/rest/overview/resources-in-the-rest-api.md
Labels: automerge, autoupdate

#177 auto merge dependabot updates
  .github/allowed-actions.js
  .github/workflows/automerge-dependencies.yml
Labels: engineering

#154 run windows tests on the public repo
  .github/workflows/test-windows.yml
Labels: engineering, windows

#294 repo sync
  content/rest/overview/endpoints-available-for-github-apps.md
  lib/rest.js
  tests/rendering/rest.js
Labels: automerge, autoupdate

#296 repo sync
  content/actions/guides/storing-workflow-data-as-artifacts.md
  content/actions/managing-workflow-runs/downloading-workflow-artifacts.md
  content/actions/managing-workflow-runs/removing-workflow-artifacts.md
  content/actions/managing-workflow-runs/using-workflow-run-logs.md
  content/actions/reference/usage-limits-billing-and-administration.md
  content/admin/github-actions/setting-up-the-tool-cache-on-self-hosted-runners-without-internet-access.md
  content/github/administering-a-repository/configuring-the-retention-period-for-github-actions-artifacts-and-logs-in-your-repository.md
  content/github/administering-a-repository/index.md
  content/github/setting-up-and-managing-organizations-and-teams/configuring-the-retention-period-for-github-actions-artifacts-and-logs-in-your-organization.md
  content/github/setting-up-and-managing-organizations-and-teams/index.md
  content/github/setting-up-and-managing-your-enterprise-account/configuring-the-retention-period-for-github-actions-artifacts-and-logs-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise-account/index.md
  data/reusables/actions/about-artifact-log-retention.md
  data/reusables/github-actions/artifact-log-retention-statement.md
  data/reusables/github-actions/change-retention-period-for-artifacts-logs.md
Labels: automerge, autoupdate

#188 Update configuring-gradle-for-use-with-github-packages.md
  content/packages/using-github-packages-with-your-projects-ecosystem/configuring-gradle-for-use-with-github-packages.md
Labels: content, ecosystem, packages

#249 Contributing: Fix links
  CONTRIBUTING.md
Labels: contributing docs

#307 repo sync
  content/actions/reference/workflow-commands-for-github-actions.md
Labels: automerge, autoupdate

#325 repo sync
  content/actions/learn-github-actions/index.md
  content/actions/learn-github-actions/migrating-from-gitlab-cicd-to-github-actions.md
  content/index.md
Labels: automerge, autoupdate

#336 repo sync
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-code-scanning-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-the-codeql-workflow-for-compiled-languages.md
  data/reusables/code-scanning/analyze-go.md
Labels: automerge, autoupdate

#353 repo sync
  .github/allowed-actions.js
  .github/workflows/automerge.yml
  .github/workflows/autosquash.yml
Labels: automerge, autoupdate

#355 repo sync
  middleware/events.js
Labels: automerge, autoupdate

#357 repo sync
  .github/workflows/start-new-engineering-pr-workflow.yml
Labels: automerge, autoupdate

#359 Add Chiedo as contributor via all-contributors
  .all-contributorsrc
  README.md
Labels: engineering

#366 Fix all contributors in readme
  README.md
Labels: contributing docs

#363 repo sync
  .github/CODEOWNERS
  content/rest/reference/actions.md
  package-lock.json
  package.json
Labels: automerge, autoupdate

#190 Update package-immutability.md
  data/reusables/package_registry/package-immutability.md
Labels: ecosystem, packages

#201 Update using-ldap.md
  content/admin/authentication/using-ldap.md
Labels: content, core

#202 Update changing-your-primary-email-address.md
  content/github/setting-up-and-managing-your-github-user-account/changing-your-primary-email-address.md
Labels: content, core

#208 Update configuring-the-ip-address-using-the-virtual-machine-console.md
  content/admin/configuration/configuring-the-ip-address-using-the-virtual-machine-console.md
Labels: content, core

#213 Update workflow-syntax-for-github-actions.md
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, ecosystem

#262 fix some ghcr docker call examples had a typo when specifying image tag
  content/packages/managing-container-images-with-github-container-registry/pushing-and-pulling-docker-images.md
Labels: content, ecosystem, packages

#333 Fix Cache Search Example
  content/actions/guides/caching-dependencies-to-speed-up-workflows.md
Labels: actions, content, ecosystem

#216 Update workflow-commands-for-github-actions.md
  content/actions/reference/workflow-commands-for-github-actions.md
Labels: actions, content, ecosystem

#343 Update GitHub Actions code example "with" syntax to map instead of array
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-code-scanning.md
Labels: DSP

#463 repo sync
  .github/allowed-actions.js
  .github/workflows/crowdin.yml
  assets/images/help/codespaces/choose-branch-vscode.png
  assets/images/help/codespaces/choose-repository-vscode.png
  assets/images/help/codespaces/create-codespace-vscode.png
  assets/images/help/codespaces/delete-codespace-vscode.png
  content/admin/configuration/network-ports.md
  content/github/developing-online-with-codespaces/using-codespaces-in-visual-studio-code.md
  crowdin-actions-config.yml
  data/reusables/codespaces/use-visual-studio-features.md
  data/reusables/enterprise_installation/necessary_ports.md
  data/reusables/enterprise_installation/when-9418-necessary.md
Labels: automerge, autoupdate

#411 Add missing 'skipped' option to `needs`
  content/actions/reference/context-and-expression-syntax-for-github-actions.md
Labels: actions, content, ecosystem

#478 repo sync
  content/admin/configuration/configuring-code-scanning-for-your-appliance.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/about-integration-with-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-codeql-code-scanning-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/index.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/integrating-with-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/running-codeql-code-scanning-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/sarif-support-for-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/troubleshooting-codeql-code-scanning-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/uploading-a-sarif-file-to-github.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/using-codeql-code-scanning-with-your-existing-ci-system.md
Labels: automerge, autoupdate

#490 repo sync
  .github/workflows/crowdin.yml
Labels: automerge, autoupdate

#494 repo sync
  .github/CODEOWNERS
  .github/workflows/crowdin.yml
Labels: automerge, autoupdate

#512 repo sync
  script/README.md
  script/preview-openapi-changes
Labels: automerge, autoupdate

#513 repo sync
  content/developers/webhooks-and-events/securing-your-webhooks.md
  content/developers/webhooks-and-events/webhook-events-and-payloads.md
  data/reusables/webhooks/secret.md
Labels: automerge, autoupdate

#435 Docker container actions and service containers only work on 'ubuntu-latest'
  data/reusables/github-actions/docker-container-os-support.md
Labels: actions, content, ecosystem

#445 Use ubuntu-latest instead of 16.04 as an Actions example
  content/actions/reference/context-and-expression-syntax-for-github-actions.md
Labels: content, ecosystem, triage

#520 repo sync
  assets/images/github-apps/github_apps_delete_key.png
  assets/images/github-apps/github_apps_private_key_fingerprint.png
  content/developers/apps/authenticating-with-github-apps.md
  translations/de-DE/content/developers/apps/authenticating-with-github-apps.md
  translations/es-XL/content/developers/apps/authenticating-with-github-apps.md
  translations/ja-JP/content/developers/apps/authenticating-with-github-apps.md
  translations/ko-KR/content/developers/apps/authenticating-with-github-apps.md
  translations/pt-BR/content/developers/apps/authenticating-with-github-apps.md
  translations/ru-RU/content/developers/apps/authenticating-with-github-apps.md
  translations/zh-CN/content/developers/apps/authenticating-with-github-apps.md
Labels: automerge, autoupdate

#526 repo sync
  .github/allowed-actions.js
  .github/workflows/browser-test.yml
  .github/workflows/pa11y.yml
  .github/workflows/test.yml
Labels: automerge, autoupdate

#365 add tip about nodenv permissions
  contributing/node-versions.md
Labels: engineering

#374 Update adding-a-new-ssh-key-to-your-github-account.md
  content/github/authenticating-to-github/adding-a-new-ssh-key-to-your-github-account.md
Labels: autosquash, content, core

#539 repo sync
  .github/workflows/crowdin.yml
  .github/workflows/first-responder-docs-content.yml
  content/actions/creating-actions/creating-a-composite-run-steps-action.md
  script/preview-openapi-changes
Labels: automerge, autoupdate

#548 repo sync
  assets/images/help/images/overview-actions-result-updated.png
  assets/images/help/repository/annotated-workflow.png
  assets/images/help/repository/check-suite-list.png
  assets/images/help/repository/copy-link-button-updated.png
  assets/images/help/repository/copy-link-button.png
  assets/images/help/repository/delete-all-logs-updated.png
  assets/images/help/repository/download-logs-drop-down-updated.png
  assets/images/help/repository/failed-check-step.png
  assets/images/help/repository/javascript-action-workflow-run-updated.png
  assets/images/help/repository/search-log-box-updated.png
  assets/images/help/repository/search-log-box.png
  assets/images/help/repository/super-linter-workflow-results-updated.png
  assets/images/help/repository/workflow-run-kebab-horizontal-icon-updated.png
  content/actions/creating-actions/creating-a-javascript-action.md
  content/actions/learn-github-actions/introduction-to-github-actions.md
  content/actions/managing-workflow-runs/using-workflow-run-logs.md
  content/actions/quickstart.md
  data/reusables/repositories/navigate-to-job-superlinter.md
  data/reusables/repositories/navigate-to-job.md
  data/reusables/repositories/navigate-to-workflow-superlinter.md
  data/reusables/repositories/view-failed-job-results-superlinter.md
  data/reusables/repositories/view-run-superlinter.md
  data/reusables/repositories/view-specific-line-superlinter.md
Labels: automerge, autoupdate

#199 Update linking-a-pull-request-to-an-issue.md
  content/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue.md
Labels: automerge, content, core

#187 Update creating-a-default-community-health-file.md
  content/github/building-a-strong-community/creating-a-default-community-health-file.md
Labels: automerge, content, core

#364 docs: include subdirectories note
  content/github/creating-cloning-and-archiving-repositories/about-code-owners.md
Labels: content, core

#554 repo sync
  package-lock.json
  package.json
Labels: automerge, autoupdate

#217 Update linking-a-repository-to-a-project-board.md
  content/github/managing-your-work-on-github/linking-a-repository-to-a-project-board.md
Labels: content, core

#555 Move GitHub Action versions to shas
  .github/allowed-actions.js
  .github/workflows/60-days-stale-check.yml
  .github/workflows/auto-label-prs.yml
  .github/workflows/autoupdate-branch.yml
  .github/workflows/browser-test.yml
  .github/workflows/check-all-english-links.yml
  .github/workflows/codeql.yml
  .github/workflows/crowdin.yml
  .github/workflows/first-responder-docs-content.yml
  .github/workflows/merged-notification.yml
  .github/workflows/pa11y.yml
  .github/workflows/ping-staging-apps.yml
  .github/workflows/remove-unused-assets.yml
  .github/workflows/repo-sync.yml
  .github/workflows/send-eng-issues-to-backlog.yml
  .github/workflows/start-new-engineering-pr-workflow.yml
  .github/workflows/sync-algolia-search-indices.yml
  .github/workflows/test-translations.yml
  .github/workflows/test-windows.yml
  .github/workflows/test.yml
  .github/workflows/translations.yml
  .github/workflows/triage-issue-comments.yml
  .github/workflows/triage-issues.yml
  .github/workflows/triage-pull-requests.yml
  .github/workflows/triage-stale-check.yml
  .github/workflows/update-graphql-files.yml
Labels: automerge

#505 Update testing-webhooks.md
  content/developers/webhooks-and-events/testing-webhooks.md
Labels: content, ecosystem

#556 repo sync
  .github/workflows/browser-test.yml
  .github/workflows/crowdin.yml
  .github/workflows/test.yml
  lib/redirects/precompile.js
  tests/routing/developer-site-redirects.js
Labels: automerge, autoupdate

#566 repo sync
  assets/fonts/alliance/alliance-no-1-bold.woff
  assets/fonts/alliance/alliance-no-1-extrabold.woff
  assets/fonts/alliance/alliance-no-1-medium.woff
  assets/fonts/alliance/alliance-no-1-regular.woff
  content/actions/index.md
  layouts/product-landing.html
  lib/frontmatter.js
  stylesheets/new-mktg.scss
Labels: automerge, autoupdate

#568 repo sync
  content/admin/enterprise-management/upgrade-requirements.md
  includes/error-404-deprecation-message.html
  middleware/context.js
  script/new-versioning/update-not-fpt-conditionals.js
  tests/fixtures/page-versioned-for-all-enterprise-releases.md
  tests/unit/page.js
Labels: automerge, autoupdate

#483 Update about-pull-requests.md
  content/github/collaborating-with-issues-and-pull-requests/about-pull-requests.md
Labels: content, core

#271 Fix indentation inside Code Examples
  contributing/content-style-guide.md
Labels: actions, ecosystem

#508 Missed slash in "if" and minor formatting
  content/packages/using-github-packages-with-your-projects-ecosystem/configuring-npm-for-use-with-github-packages.md
Labels: content, ecosystem, packages

#581 repo sync
  package-lock.json
  package.json
Labels: automerge, autoupdate

#528 example to echo out put from previous step fails
  content/actions/reference/workflow-commands-for-github-actions.md
Labels: actions, autosquash, content, ecosystem

#586 repo sync
  data/reusables/gated-features/code-scanning.md
Labels: automerge, autoupdate

#574 Upgrade Skip Duplicate Actions
  .github/allowed-actions.js
  .github/workflows/browser-test.yml
  .github/workflows/test.yml
Labels: automerge

#588 repo sync
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/about-integration-with-code-scanning.md
Labels: automerge, autoupdate

#593 repo sync
  content/actions/guides/building-and-testing-nodejs.md
  content/actions/quickstart.md
  contributing/content-markup-reference.md
  javascripts/copy-code.js
  javascripts/index.js
  package-lock.json
  package.json
  script/check-deps.js
  stylesheets/syntax-highlighting.scss
Labels: automerge, autoupdate

#597 repo sync
  assets/images/enterprise/business-accounts/license-tab.png
  assets/images/enterprise/enterprises/enterprise-server-billing-license-info.png
  assets/images/enterprise/enterprises/license.png
  assets/images/enterprise/settings/enterprise-settings.png
  assets/images/help/business-accounts/enterprise-account-settings-tab.png
  assets/images/help/enterprises/enterprise-licensing-tab.png
  content/admin/enterprise-support/providing-data-to-github-support.md
  content/admin/enterprise-support/submitting-a-ticket.md
  content/admin/overview/managing-your-github-enterprise-license.md
  content/github/setting-up-and-managing-your-enterprise-account/about-enterprise-accounts.md
  content/github/setting-up-and-managing-your-enterprise-account/index.md
  content/github/setting-up-and-managing-your-enterprise-account/managing-organizations-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise-account/managing-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise-account/setting-policies-for-organizations-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise-account/viewing-the-subscription-and-usage-for-your-enterprise-account.md
  data/reusables/enterprise-accounts/access-enterprise-on-dotcom.md
  data/reusables/enterprise-accounts/access-enterprise.md
  data/reusables/enterprise-accounts/enterprise-licensing-tab.md
  data/reusables/enterprise-accounts/license-tab.md
Labels: automerge, autoupdate

#604 repo sync
  .github/workflows/remove-unused-assets.yml
Labels: automerge, autoupdate

#605 repo sync
  lib/graphql/static/changelog.json
Labels: automerge, autoupdate

#606 repo sync
  .github/workflows/crowdin.yml
  content/admin/enterprise-support/about-github-enterprise-support.md
  crowdin-actions-config.yml
  crowdin.yml
  script/README.md
  script/reset-translated-file.js
  translations/de-DE/content/admin/enterprise-support/about-github-enterprise-support.md
  translations/es-XL/content/admin/enterprise-support/about-github-enterprise-support.md
  translations/ja-JP/content/admin/enterprise-support/about-github-enterprise-support.md
  translations/ko-KR/content/admin/enterprise-support/about-github-enterprise-support.md
  translations/pt-BR/content/admin/enterprise-support/about-github-enterprise-support.md
  translations/ru-RU/content/admin/enterprise-support/about-github-enterprise-support.md
  translations/zh-CN/content/admin/enterprise-support/about-github-enterprise-support.md
Labels: automerge, autoupdate

#633 repo sync
  assets/images/help/repository/code-scanning-alert-close-drop-down.png
  assets/images/help/repository/code-scanning-alert-details.png
  assets/images/help/repository/code-scanning-alert.png
  assets/images/help/repository/code-scanning-branch-filter.png
  assets/images/help/repository/code-scanning-delete-alerts.png
  assets/images/help/repository/code-scanning-filter-by-rule.png
  assets/images/help/repository/code-scanning-pr-alert.png
  assets/images/help/repository/code-scanning-pr-annotation.png
  assets/images/help/repository/code-scanning-show-paths.png
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/managing-code-scanning-alerts-for-your-repository.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/triaging-code-scanning-alerts-in-pull-requests.md
  data/reusables/code-scanning/choose-alert-dismissal-reason.md
  data/reusables/code-scanning/click-alert-in-list.md
  data/reusables/code-scanning/false-positive-fix-codeql.md
Labels: automerge, autoupdate

#640 repo sync
  content/github/site-policy/github-sensitive-data-removal-policy.md
  content/github/site-policy/github-trademark-policy.md
Labels: automerge, autoupdate

#641 repo sync
  content/developers/apps/scopes-for-oauth-apps.md
Labels: automerge, autoupdate

#491 Fix duplicate list entry name in about-self-hosted-runners.md
  data/reusables/github-actions/usage-matrix-limits.md
Labels: actions, autosquash, content, ecosystem

#651 repo sync
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/index.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/running-codeql-code-scanning-in-a-container.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/troubleshooting-codeql-code-scanning-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/troubleshooting-the-codeql-workflow.md
Labels: automerge, autoupdate

#542 add slack to github integrations list
  content/github/customizing-your-github-workflow/github-extensions-and-integrations.md
Labels: content, core

#655 repo sync
  content/developers/github-marketplace/about-github-marketplace.md
Labels: automerge, autoupdate

#656 repo sync
  .github/workflows/first-responder-docs-content.yml
Labels: automerge, autoupdate

#657 repo sync
  .github/workflows/test-windows.yml
Labels: automerge, autoupdate

#661 repo sync
  javascripts/experiment.js
  javascripts/helpfulness.js
  lib/schema-event-2.js
  lib/schema-event.js
  middleware/events.js
  package-lock.json
  package.json
  tests/rendering/events.js
Labels: automerge, autoupdate

#664 repo sync
  content/github/managing-files-in-a-repository/navigating-code-on-github.md
Labels: automerge, autoupdate

#550 Fixed broken links in README.md
  content/README.md
Labels: contributing docs

#400 GitHub Actions: Be precise about the format
  content/actions/reference/context-and-expression-syntax-for-github-actions.md
Labels: actions, content, ecosystem

#499 Fix and extend push webhook documentation.
  content/developers/webhooks-and-events/webhook-events-and-payloads.md
Labels: content, ecosystem

#618 Update storing-workflow-data-as-artifacts.md
  content/actions/guides/storing-workflow-data-as-artifacts.md
Labels: actions, content, ecosystem

#680 repo sync
  .github/workflows/repo-sync.yml
  content/github/administering-a-repository/configuration-options-for-dependency-updates.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/managing-code-scanning-alerts-for-your-repository.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/running-codeql-code-scanning-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/sarif-support-for-code-scanning.md
  data/reusables/dependabot/supported-package-managers.md
  middleware/handle-csrf-errors.js
  middleware/handle-errors.js
  middleware/index.js
Labels: automerge, autoupdate

#683 repo sync
  data/reusables/repositories/tracks-vulnerabilities.md
  server.js
Labels: automerge, autoupdate

#690 repo sync
  javascripts/events.js
  javascripts/user-agent.js
  tests/javascripts/user-agent.js
Labels: automerge, autoupdate

#694 repo sync
  data/reusables/actions/actions-not-verified.md
Labels: automerge, autoupdate

#695 repo sync
  javascripts/events.js
  lib/cookie-settings.js
  middleware/events.js
  middleware/index.js
  package-lock.json
  package.json
Labels: automerge, autoupdate

#567 Fix default GPG key type
  content/github/authenticating-to-github/generating-a-new-gpg-key.md
Labels: content, core

#697 repo sync
  assets/images/help/profile/profile-block-or-report-button.png
  assets/images/help/profile/profile-blockuser.png
  assets/images/help/profile/profile-report-abuse.png
  assets/images/help/profile/profile-unblock-or-report-user.png
  assets/images/help/profile/profile-unblockuser.png
  content/github/authenticating-to-github/removing-sensitive-data-from-a-repository.md
  content/github/building-a-strong-community/unblocking-a-user-from-your-personal-account.md
  content/github/creating-cloning-and-archiving-repositories/creating-a-template-repository.md
  content/github/managing-large-files/about-git-large-file-storage.md
  content/github/setting-up-and-managing-organizations-and-teams/about-your-organization-dashboard.md
  data/reusables/profile/user_profile_page_block_or_report.md
Labels: automerge, autoupdate

#553 Update https-cloning-errors.md
  content/github/creating-cloning-and-archiving-repositories/https-cloning-errors.md
Labels: content, core

#519 Elaborate on how to escape multiple labels in issue templates
  content/github/building-a-strong-community/manually-creating-a-single-issue-template-for-your-repository.md
Labels: content, core

#706 repo sync
  package-lock.json
  package.json
Labels: automerge, autoupdate

#289 Update permalinks.md
  contributing/permalinks.md
Labels: contributing docs

#538 Specify ssh shell is required to enable dependency graph
  content/admin/configuration/enabling-alerts-for-vulnerable-dependencies-on-github-enterprise-server.md
Labels: content, core

#388 add support banner container
  includes/support.html
Labels: design

#723 repo sync
  javascripts/search.js
Labels: automerge, autoupdate

#727 repo sync
  middleware/render-page.js
Labels: automerge, autoupdate

#728 repo sync
  middleware/render-page.js
Labels: automerge, autoupdate

#729 repo sync
  javascripts/events.js
Labels: automerge, autoupdate

#730 repo sync
  javascripts/google-analytics.js
  javascripts/index.js
  javascripts/print.js
  tests/browser/browser.js
Labels: automerge, autoupdate

#736 repo sync
  assets/images/help/repository/audit-log-entries.png
  content/actions/learn-github-actions/security-hardening-for-github-actions.md
  content/github/setting-up-and-managing-organizations-and-teams/reviewing-the-audit-log-for-your-organization.md
Labels: automerge, autoupdate

#740 repo sync
  content/github/managing-your-work-on-github/about-automation-for-project-boards.md
  content/github/managing-your-work-on-github/tracking-progress-on-your-project-board.md
  data/reusables/project-management/project-progress-locations.md
Labels: automerge, autoupdate

#743 repo sync
  content/README.md
Labels: automerge, autoupdate

#744 repo sync
  content/admin/configuration/enabling-alerts-for-vulnerable-dependencies-on-github-enterprise-server.md
  content/github/managing-security-vulnerabilities/about-alerts-for-vulnerable-dependencies.md
  content/github/managing-security-vulnerabilities/configuring-notifications-for-vulnerable-dependencies.md
  content/github/managing-security-vulnerabilities/index.md
  content/github/managing-subscriptions-and-notifications-on-github/configuring-notifications.md
  content/github/managing-subscriptions-and-notifications-on-github/managing-notifications-from-your-inbox.md
  content/github/managing-subscriptions-and-notifications-on-github/managing-your-subscriptions.md
  data/reusables/notifications/vulnerable-dependency-notification-delivery-method-customization.md
  data/reusables/notifications/vulnerable-dependency-notification-options.md
Labels: automerge, autoupdate

#252 Add optional cleanup step after failover to HA replica
  content/admin/enterprise-management/initiating-a-failover-to-your-replica-appliance.md
Labels: content, core

#752 repo sync
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/index.md
Labels: automerge, autoupdate

#754 repo sync
  content/insights/installing-and-configuring-github-insights/updating-github-insights.md
  lib/page.js
  tests/fixtures/products/admin/some-category/some-article-with-mismatched-versions-frontmatter.md
  tests/unit/page.js
Labels: automerge, autoupdate

#756 repo sync
  lib/hydro.js
  lib/schema-event.js
  tests/rendering/events.js
Labels: automerge, autoupdate

#757 repo sync
  javascripts/events.js
Labels: automerge, autoupdate

#767 repo sync
  .github/allowed-actions.js
  .github/workflows/repo-freeze-reminders.yml
  .github/workflows/repo-sync.yml
Labels: automerge, autoupdate

#233 update master to main
  content/github/collaborating-with-issues-and-pull-requests/syncing-a-fork.md
Labels: content, core, stale

#774 Manual repo sync to fix the Actions error
  .github/allowed-actions.js
  .github/workflows/repo-sync.yml
  tests/links-and-images/developer-links-and-images.js
  tests/links-and-images/links-and-images.js
Labels: automerge, autoupdate

#760 Update managing-code-scanning-alerts-for-your-repository.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/managing-code-scanning-alerts-for-your-repository.md
Labels: DSP, content

#807 repo sync
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-code-scanning.md
Labels: automerge, autoupdate

#809 repo sync
  assets/images/help/dependabot/dependabot-alert-pr-link.png
  assets/images/help/dependabot/dependabot-security-update-error.png
  assets/images/help/dependabot/dependabot-tab-view-error-beta.png
  assets/images/help/dependabot/dependabot-version-update-error-beta.png
  content/github/administering-a-repository/about-github-dependabot-version-updates.md
  content/github/administering-a-repository/about-securing-your-repository.md
  content/github/administering-a-repository/managing-pull-requests-for-dependency-updates.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/enabling-code-scanning-for-a-repository.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/managing-code-scanning-alerts-for-your-repository.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/triaging-code-scanning-alerts-in-pull-requests.md
  content/github/managing-security-vulnerabilities/about-alerts-for-vulnerable-dependencies.md
  content/github/managing-security-vulnerabilities/about-github-dependabot-security-updates.md
  content/github/managing-security-vulnerabilities/browsing-security-vulnerabilities-in-the-github-advisory-database.md
  content/github/managing-security-vulnerabilities/configuring-github-dependabot-security-updates.md
  content/github/managing-security-vulnerabilities/index.md
  content/github/managing-security-vulnerabilities/troubleshooting-github-dependabot-errors.md
  content/github/managing-security-vulnerabilities/troubleshooting-the-detection-of-vulnerable-dependencies.md
  content/github/managing-security-vulnerabilities/viewing-and-updating-vulnerable-dependencies-in-your-repository.md
  content/github/setting-up-and-managing-organizations-and-teams/permission-levels-for-an-organization.md
  data/reusables/code-scanning/click-alert-in-list.md
  data/reusables/code-scanning/false-positive-fix-codeql.md
  data/reusables/dependabot/automated-tests-note.md
  data/reusables/dependabot/pull-request-introduction.md
Labels: automerge, autoupdate

#812 repo sync
  content/github/authenticating-to-github/githubs-ssh-key-fingerprints.md
  content/github/authenticating-to-github/testing-your-ssh-connection.md
  lib/hydro.js
  middleware/index.js
  middleware/record-redirect.js
  translations/de-DE/content/github/authenticating-to-github/githubs-ssh-key-fingerprints.md
  translations/de-DE/content/github/authenticating-to-github/testing-your-ssh-connection.md
  translations/es-XL/content/github/authenticating-to-github/githubs-ssh-key-fingerprints.md
  translations/es-XL/content/github/authenticating-to-github/testing-your-ssh-connection.md
  translations/ja-JP/content/github/authenticating-to-github/githubs-ssh-key-fingerprints.md
  translations/ja-JP/content/github/authenticating-to-github/testing-your-ssh-connection.md
  translations/ko-KR/content/github/authenticating-to-github/githubs-ssh-key-fingerprints.md
  translations/ko-KR/content/github/authenticating-to-github/testing-your-ssh-connection.md
  translations/pt-BR/content/github/authenticating-to-github/githubs-ssh-key-fingerprints.md
  translations/pt-BR/content/github/authenticating-to-github/testing-your-ssh-connection.md
  translations/ru-RU/content/github/authenticating-to-github/githubs-ssh-key-fingerprints.md
  translations/ru-RU/content/github/authenticating-to-github/testing-your-ssh-connection.md
  translations/zh-CN/content/github/authenticating-to-github/githubs-ssh-key-fingerprints.md
  translations/zh-CN/content/github/authenticating-to-github/testing-your-ssh-connection.md
Labels: automerge, autoupdate

#816 repo sync
  package-lock.json
  package.json
Labels: automerge, autoupdate

#817 repo sync
  includes/footer.html
  javascripts/search.js
  middleware/csp.js
  tests/rendering/server.js
  tests/routing/top-developer-site-path-redirects.js
Labels: automerge, autoupdate

#818 repo sync
  lib/all-versions.js
  lib/rest.js
  middleware/contextualizers/rest.js
  tests/links-and-images/developer-links-and-images.js
Labels: automerge, autoupdate

#408 Replaced "main" by "master"
  content/github/importing-your-projects-to-github/adding-an-existing-project-to-github-using-the-command-line.md
Labels: content, core

#828 repo sync
  content/developers/webhooks-and-events/creating-webhooks.md
  content/developers/webhooks-and-events/securing-your-webhooks.md
  content/rest/reference/apps.md
  content/rest/reference/orgs.md
  content/rest/reference/repos.md
  data/reusables/webhooks/webhooks-rest-api-links.md
  includes/rest_operation.html
  package-lock.json
  package.json
Labels: automerge, autoupdate

#793 Fix list Markdown formatting
  content/graphql/guides/forming-calls-with-graphql.md
Labels: DSP, content

#833 repo sync
  content/github/getting-started-with-github/github-for-mobile.md
Labels: automerge, autoupdate

#843 repo sync
  includes/rest_operation.html
  package-lock.json
  package.json
Labels: automerge, autoupdate

#850 repo sync
  content/README.md
  content/actions/index.md
  content/index.md
  content/insights/index.md
  content/packages/index.md
  includes/article.html
  includes/featured-links.html
  lib/frontmatter.js
  lib/page.js
  middleware/featured-links.js
  tests/content/featured-links.js
  translations/de-DE/content/actions/index.md
  translations/de-DE/content/index.md
  translations/de-DE/content/insights/index.md
  translations/de-DE/content/packages/index.md
  translations/es-XL/content/actions/index.md
  translations/es-XL/content/index.md
  translations/es-XL/content/insights/index.md
  translations/es-XL/content/packages/index.md
  translations/ja-JP/content/actions/index.md
  translations/ja-JP/content/index.md
  translations/ja-JP/content/insights/index.md
  translations/ja-JP/content/packages/index.md
  translations/ko-KR/content/actions/index.md
  translations/ko-KR/content/index.md
  translations/ko-KR/content/insights/index.md
  translations/ko-KR/content/packages/index.md
  translations/pt-BR/content/actions/index.md
  translations/pt-BR/content/index.md
  translations/pt-BR/content/insights/index.md
  translations/pt-BR/content/packages/index.md
  translations/ru-RU/content/actions/index.md
  translations/ru-RU/content/index.md
  translations/ru-RU/content/insights/index.md
  translations/ru-RU/content/packages/index.md
  translations/zh-CN/content/actions/index.md
  translations/zh-CN/content/index.md
  translations/zh-CN/content/insights/index.md
  translations/zh-CN/content/packages/index.md
Labels: automerge, autoupdate

#852 repo sync
  lib/all-versions.js
  lib/rest.js
  package-lock.json
  package.json
Labels: automerge, autoupdate

#853 repo sync
  script/preview-openapi-changes
Labels: automerge, autoupdate

#328 Remove the mention of HOME environment variable
  content/actions/reference/environment-variables.md
Labels: actions, ecosystem

#856 repo sync
  content/github/getting-started-with-github/githubs-products.md
  data/reusables/webhooks/check_run_properties.md
Labels: automerge, autoupdate

#858 repo sync
  .github/workflows/sync-algolia-search-indices.yml
  content/developers/apps/creating-a-github-app-using-url-parameters.md
Labels: automerge, autoupdate

#859 repo sync
  translations/pt-BR/content/actions/reference/workflow-syntax-for-github-actions.md
  translations/pt-BR/content/github/getting-started-with-github/githubs-products.md
Labels: automerge, autoupdate

#860 repo sync
  content/graphql/reference/queries.md
Labels: automerge, autoupdate

#861 repo sync
  translations/pt-BR/content/github/managing-security-vulnerabilities/about-alerts-for-vulnerable-dependencies.md
Labels: automerge, autoupdate

#768 chore: Only run freeze reminder on internal repo
  .github/workflows/repo-freeze-reminders.yml
Labels: engineering, hacktoberfest-accepted

#865 repo sync
  assets/images/github-apps/github_apps_callback_url_multiple.png
  content/admin/configuration/enabling-alerts-for-vulnerable-dependencies-on-github-enterprise-server.md
  content/developers/apps/creating-a-github-app.md
  content/developers/apps/creating-an-oauth-app.md
  content/developers/apps/identifying-and-authorizing-users-for-github-apps.md
  content/github/managing-security-vulnerabilities/about-alerts-for-vulnerable-dependencies.md
  content/github/managing-security-vulnerabilities/configuring-notifications-for-vulnerable-dependencies.md
  content/github/managing-security-vulnerabilities/viewing-and-updating-vulnerable-dependencies-in-your-repository.md
  content/rest/overview/index.md
  content/rest/overview/openapi-description.md
  data/reusables/notifications/vulnerable-dependency-notification-options.md
Labels: automerge, autoupdate

#765 Changed 'people' to 'accounts'
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-the-codeql-workflow-for-compiled-languages.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/enabling-code-scanning-for-a-repository.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/managing-code-scanning-alerts-for-your-repository.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/triaging-code-scanning-alerts-in-pull-requests.md
Labels: DSP, autosquash, content, hacktoberfest-accepted
