Repository github/docs, pull requests merged in 2020-12, with the labels that each got.

#1717 repo sync
  .github/allowed-actions.js
  .github/workflows/check-all-english-links.yml
Labels: automerge, autoupdate

#1637 Removed deprecated echo set-env instruction for python code scanning excerpt
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-code-scanning.md
Labels: DSP, content

#1242 Improve documentation issue no #1034
  content/github/getting-started-with-github/keyboard-shortcuts.md
Labels: content, core

#1516 fix typo
  content/github/administering-a-repository/configuration-options-for-dependency-updates.md
Labels: DSP, content

#1252 Remove extraneous grammar period which breaks the compare URL
  data/reusables/repositories/two-dot-diff-comparison-example-urls.md
Labels: content, core, stale

#1154 Properly capitalize "macOS"
  content/actions/creating-actions/about-actions.md
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  content/actions/reference/specifications-for-github-hosted-runners.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/running-codeql-code-scanning-in-a-container.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/running-codeql-code-scanning-in-your-ci-system.md
  data/reusables/github-actions/macos-runner-preview.md
Labels: content

#1316 Typo in the example code
  content/actions/quickstart.md
Labels: actions, ecosystem

#1395 Clarify GH password requirements
  content/github/authenticating-to-github/creating-a-strong-password.md
Labels: content, core

#1389 chore: Remove bolding from headings
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
  content/actions/reference/context-and-expression-syntax-for-github-actions.md
  content/actions/reference/workflow-syntax-for-github-actions.md
  data/reusables/github-actions/actions-on-examples.md
Labels: actions, content, core

#1456 Fix typo metadata-syntax-for-github-actions.md
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
Labels: actions, content, ecosystem

#1369 Update setting-up-your-development-environment-to-create-a-github-app.md
  content/developers/apps/setting-up-your-development-environment-to-create-a-github-app.md
Labels: content, ecosystem

#1457 Add proper markdown to 'main'
  data/glossaries/external.yml
Labels: content, core

#1271 Increasing the importance
  content/github/collaborating-with-issues-and-pull-requests/creating-and-deleting-branches-within-your-repository.md
Labels: content, core

#1292 typo: Double word cleanup
  content/admin/github-actions/manually-syncing-actions-from-githubcom.md
  content/admin/github-actions/setting-up-the-tool-cache-on-self-hosted-runners-without-internet-access.md
  content/github/setting-up-and-managing-organizations-and-teams/disabling-oauth-app-access-restrictions-for-your-organization.md
  content/github/site-policy/github-corporate-terms-of-service.md
  content/github/site-policy/github-registered-developer-agreement.md
  content/github/supporting-the-open-source-community-with-github-sponsors/sponsoring-an-open-source-contributor.md
  content/github/supporting-the-open-source-community-with-github-sponsors/viewing-your-sponsors-and-sponsorships.md
  contributing/content-style-guide.md
Labels: content

#629 Actions: promote jobs steps title to h3 to appear in sidebar
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, content, ecosystem, hacktoberfest-accepted

#1710 clean useless whitespaces in filter-branch example
  content/github/using-git/splitting-a-subfolder-out-into-a-new-repository.md
Labels: content, core

#1746 repo sync
  content/actions/guides/publishing-nodejs-packages.md
  content/actions/guides/setting-up-continuous-integration-using-workflow-templates.md
  content/actions/reference/workflow-syntax-for-github-actions.md
  includes/guide-card.html
  javascripts/fake-hogan.js
  middleware/csp.js
  tests/rendering/server.js
  webpack.config.js
Labels: automerge, autoupdate

#1685 Correct `page` to `post` in Intro Docs
  content/github/working-with-github-pages/adding-content-to-your-github-pages-site-using-jekyll.md
Labels: content, core

#1683 Update adding-a-new-ssh-key-to-your-github-account.md
  content/github/authenticating-to-github/adding-a-new-ssh-key-to-your-github-account.md
Labels: content, core

#1503 fix: LinkHeader link trailing slash
  content/rest/guides/getting-started-with-the-rest-api.md
  lib/excluded-links.js
Labels: content

#1751 repo sync
  assets/images/help/organizations/repositories-dialog.png
  assets/images/help/organizations/repository-access-cog-button.png
  content/github/administering-a-repository/about-dependabot-version-updates.md
  content/github/administering-a-repository/configuration-options-for-dependency-updates.md
  content/github/administering-a-repository/enabling-and-disabling-version-updates.md
  content/github/managing-security-vulnerabilities/configuring-notifications-for-vulnerable-dependencies.md
  content/github/managing-security-vulnerabilities/troubleshooting-dependabot-errors.md
  content/github/setting-up-and-managing-organizations-and-teams/managing-security-and-analysis-settings-for-your-organization.md
  data/reusables/dependabot/private-dependencies-note.md
  data/reusables/dependabot/supported-package-managers.md
Labels: automerge, autoupdate

#1752 repo sync
  .github/workflows/test.yml
  .github/workflows/update-graphql-files.yml
  lib/graphql/README.md
  package-lock.json
  package.json
  script/README.md
  script/graphql/README.md
  script/graphql/build-changelog-from-markdown.js
  script/graphql/build-changelog.js
  script/graphql/update-files.js
  tests/fixtures/changelog-entry.json
  tests/fixtures/updated-changelog-file.json
  tests/graphql/build-changelog-test.js
  tests/graphql/example_changelog.json
Labels: automerge, autoupdate

#1756 repo sync
  .github/workflows/openapi-decorate.yml
  middleware/robots.js
  tests/rendering/robots-txt.js
Labels: automerge, autoupdate

#1602 Don't specify registry specific path
  data/reusables/package_registry/authenticate-packages.md
Labels: content, ecosystem, packages

#1415 Update authenticating-with-github-apps.md
  content/developers/apps/authenticating-with-github-apps.md
Labels: content, ecosystem, stale

#1248 Added filter out documentation using `-`
  content/github/managing-your-work-on-github/using-search-to-filter-issues-and-pull-requests.md
Labels: content, core

#1757 repo sync
  .github/CODEOWNERS
Labels: automerge, autoupdate

#1758 repo sync
  contributing/content-style-guide.md
  lib/page.js
  tests/unit/page.js
  translations/es-XL/content/insights/installing-and-configuring-github-insights/updating-github-insights.md
Labels: automerge, autoupdate

#1762 repo sync
  content/developers/webhooks-and-events/webhook-events-and-payloads.md
Labels: automerge, autoupdate

#1607 Update libraries.md to include python client for GitHub's REST API that uses the OpenAPI Spec
  content/rest/overview/libraries.md
Labels: content, ecosystem

#1763 repo sync
  data/reusables/github-actions/contacting-support.md
Labels: automerge, autoupdate

#1229 Fixes #1190
  content/developers/overview/about-githubs-apis.md
Labels: content, ecosystem

#610 A quick experiment to get allow React components in Markdown pages and throughout the site
  lib/frontmatter.js
  lib/page.js
  lib/react/babel.js
  lib/react/engine.js
  package-lock.json
  package.json
  react/README.md
  script/check-deps.js
  webpack.config.js
Labels: never-stale

#1793 repo sync
  content/actions/index.md
  layouts/product-landing.html
  lib/frontmatter.js
  middleware/csp.js
  tests/content/lint-files.js
  tests/meta/repository-references.js
Labels: automerge, autoupdate

#1794 repo sync
  lib/algolia/find-indexable-pages.js
  lib/find-page-in-version.js
  lib/find-page.js
  lib/find-unused-assets.js
  lib/get-english-headings.js
  lib/get-map-topic-content.js
  lib/pages.js
  lib/redirects/get-docs-path-from-developer-path.js
  lib/redirects/precompile.js
  lib/site-tree.js
  lib/warm-server.js
  middleware/context.js
  script/check-s3-images.js
  script/content-migrations/update-developer-site-links.js
  script/enterprise-server-deprecations/archive-version.js
  script/pages-with-liquid-titles.js
  tests/content/crowdin-config.js
  tests/content/site-data-references.js
  tests/links-and-images/developer-links-and-images.js
  tests/links-and-images/links-and-images.js
  tests/rendering/server.js
  tests/unit/find-page.js
  tests/unit/liquid-helpers.js
  tests/unit/pages.js
  tests/unit/toc-links.js
Labels: automerge, autoupdate

#1127 Simplify repository element in npm's project.json to use https URL
  content/packages/using-github-packages-with-your-projects-ecosystem/configuring-npm-for-use-with-github-packages.md
Labels: content, ecosystem, packages, ready to merge

#1734 Correcting a small typo in the UUID
  content/admin/enterprise-management/initiating-a-failover-to-your-replica-appliance.md
Labels: ready to merge

#1799 repo sync
  content/github/site-policy/github-enterprise-service-level-agreement.md
Labels: automerge, autoupdate

#1926 repo sync
  .github/workflows/repo-sync-stalls.yml
  assets/images/marketplace/marketplace-request-button.png
  assets/images/marketplace/marketplace_verified_creator_badges_apps.png
  content/developers/github-marketplace/about-github-marketplace.md
  content/developers/github-marketplace/about-verified-creators.md
  content/developers/github-marketplace/billing-customers.md
  content/developers/github-marketplace/customer-experience-best-practices-for-apps.md
  content/developers/github-marketplace/drafting-a-listing-for-your-app.md
  content/developers/github-marketplace/handling-new-purchases-and-free-trials.md
  content/developers/github-marketplace/index.md
  content/developers/github-marketplace/pricing-plans-for-github-marketplace-apps.md
  content/developers/github-marketplace/requirements-for-listing-an-app.md
  content/developers/github-marketplace/security-best-practices-for-apps.md
  content/developers/github-marketplace/security-review-process-for-submitted-apps.md
  content/developers/github-marketplace/setting-pricing-plans-for-your-listing.md
  content/developers/github-marketplace/submitting-your-listing-for-publication.md
  content/developers/github-marketplace/submitting-your-listing-for-review.md
  content/developers/github-marketplace/testing-your-app.md
  content/developers/github-marketplace/webhook-events-for-the-github-marketplace-api.md
  content/education/manage-coursework-with-github-classroom/create-an-individual-assignment.md
  content/github/customizing-your-github-workflow/about-github-marketplace.md
  data/reusables/actions/actions-not-verified.md
  data/reusables/marketplace/app-transfer-to-org-for-verification.md
  data/reusables/marketplace/free-plan-note.md
  data/reusables/marketplace/launch-with-free.md
  data/reusables/marketplace/marketplace-billing-ui-requirements.md
Labels: automerge, autoupdate

#1927 repo sync
  middleware/categories-for-support-team.js
  tests/content/category-pages.js
  tests/content/glossary.js
  tests/content/remove-liquid-statements.js
  tests/content/site-data-references.js
  tests/content/site-data.js
  tests/graphql/build-changelog-test.js
  tests/meta/orphan-tests.js
  tests/rendering/rest.js
  tests/unit/early-access.js
Labels: automerge, autoupdate

#1928 repo sync
  .github/workflows/repo-sync-stalls.yml
Labels: automerge, autoupdate

#1935 repo sync
  .github/allowed-actions.js
  .github/workflows/repo-freeze-reminders.yml
  .github/workflows/repo-sync-stalls.yml
  .github/workflows/repo-sync.yml
  .github/workflows/sync-algolia-search-indices.yml
  lib/page.js
  lib/pages.js
  tests/browser/browser.js
  tests/content/crowdin-config.js
  tests/content/site-data-references.js
  tests/routing/redirects.js
  tests/unit/find-page.js
  tests/unit/liquid-helpers.js
  tests/unit/page.js
  tests/unit/pages.js
Labels: automerge, autoupdate

#1936 repo sync
  lib/page.js
  lib/pages.js
  tests/browser/browser.js
  tests/content/crowdin-config.js
  tests/content/site-data-references.js
  tests/routing/redirects.js
  tests/unit/find-page.js
  tests/unit/liquid-helpers.js
  tests/unit/page.js
  tests/unit/pages.js
Labels: automerge, autoupdate

#1947 repo sync
  .github/workflows/js-lint.yml
  .github/workflows/repo-sync-stalls.yml
  .github/workflows/repo-sync.yml
  .github/workflows/yml-lint.yml
  assets/images/help/discussions/public-repo-settings.png
  content/discussions/quickstart.md
  content/github/working-with-github-support/index.md
  content/rest/overview/troubleshooting.md
  data/reusables/discussions/enabling-or-disabling-github-discussions-for-your-repository.md
  lib/data-directory.js
  lib/filename-to-key.js
  lib/redirects/get-docs-path-from-developer-path.js
  lib/rewrite-local-links.js
  lib/site-data.js
  middleware/csp.js
  package-lock.json
  package.json
  server.js
  tests/fixtures/rest-redirects.json
  tests/routing/developer-site-redirects.js
  tests/unit/data-directory/filename-to-key.js
  tests/unit/data-directory/fixtures/README.md
  tests/unit/data-directory/fixtures/bar.yaml
  tests/unit/data-directory/fixtures/foo.json
  tests/unit/data-directory/fixtures/nested/baz.md
  tests/unit/data-directory/index.js
Labels: automerge, autoupdate

#1392 Remove starter workflows from code examples
  data/variables/action_code_examples.yml
Labels: engineering

#1948 docs(webhooks-and-event-payloads): 'installation' property is always …
  content/developers/webhooks-and-events/webhook-events-and-payloads.md
  data/reusables/webhooks/app_always_desc.md
Labels: content, ecosystem

#1951 repo sync
  content/github/getting-started-with-github/github-glossary.md
  lib/liquid-tags/data.js
  tests/unit/liquid-helpers.js
Labels: automerge, autoupdate

#1952 repo sync
  lib/redirects/precompile.js
  lib/warm-server.js
  script/early-access/create-branch
  tests/routing/developer-site-redirects.js
Labels: automerge, autoupdate

#1953 repo sync
  .github/workflows/confirm-internal-staff-work-in-docs.yml
  data/ui.yml
  includes/breadcrumbs.html
  includes/header-notification.html
  middleware/breadcrumbs.js
  middleware/contextualizers/early-access-links.js
  middleware/early-access-breadcrumbs.js
  middleware/index.js
  stylesheets/article.scss
  tests/helpers/conditional-runs.js
  tests/rendering/breadcrumbs.js
  tests/rendering/server.js
  tests/unit/early-access.js
Labels: automerge, autoupdate

#1895 Add READMEs for API content directories
  README.md
  content/graphql/README.md
  content/rest/README.md
Labels: ready to merge

#1954 repo sync
  .github/workflows/repo-sync-stalls.yml
  content/actions/learn-github-actions/security-hardening-for-github-actions.md
  data/ui.yml
  includes/article-version-switcher.html
  includes/head.html
  layouts/enterprise-server-releases.html
  lib/enterprise-server-releases.js
  middleware/enterprise-server-releases.js
  middleware/index.js
Labels: automerge, autoupdate

#1970 repo sync
  layouts/graphql-explorer.html
  middleware/csp.js
Labels: automerge, autoupdate

#1973 repo sync
  .github/workflows/autoupdate-repo-sync-branch-on-cron.yml
  .github/workflows/repo-sync.yml
Labels: automerge, autoupdate

#1974 repo sync
  .github/workflows/autoupdate-repo-sync-branch-on-cron.yml
Labels: automated-reposync-pr, automerge, autoupdate

#1975 repo sync
  .vscode/launch.json
  contributing/development.md
  package.json
Labels: automated-reposync-pr, automerge, autoupdate

#1977 repo sync
  .github/workflows/autoupdate-repo-sync-branch-on-cron.yml
Labels: automated-reposync-pr, automerge, autoupdate

#1551 Clarify CODEOWNERS syntax exceptions
  content/github/creating-cloning-and-archiving-repositories/about-code-owners.md
Labels: content, core

#1304 Add GitHub Pages Action
  data/variables/action_code_examples.yml
Labels: actions, content, ecosystem

#1980 repo sync
  .github/workflows/autoupdate-repo-sync-branch-on-cron.yml
  .github/workflows/confirm-internal-staff-work-in-docs.yml
  package-lock.json
Labels: automated-reposync-pr, automerge, autoupdate

#1230 [add] force push
  content/github/authenticating-to-github/removing-sensitive-data-from-a-repository.md
Labels: content, core

#2009 repo sync
  middleware/connect-datadog.js
  middleware/index.js
  package-lock.json
  package.json
Labels: automated-reposync-pr, automerge, autoupdate

#2011 repo sync
  data/release-notes/2-22/0.yml
  data/release-notes/2-22/1.yml
  data/release-notes/2-22/2.yml
  data/release-notes/2-22/3.yml
  data/release-notes/2-22/4.yml
  includes/release-notes-category-label.html
  includes/release-notes-heading.html
  layouts/release-notes.html
  lib/release-notes-schema.js
  middleware/contextualizers/enterprise-release-notes.js
  stylesheets/gradients.scss
  stylesheets/index.scss
  stylesheets/release-notes.scss
  tests/meta/repository-references.js
Labels: automated-reposync-pr, automerge, autoupdate

#2014 repo sync
  layouts/release-notes.html
Labels: automated-reposync-pr, automerge, autoupdate

#2015 repo sync
  server.js
Labels: automated-reposync-pr, automerge, autoupdate

#2016 repo sync
  server.js
Labels: automated-reposync-pr, automerge, autoupdate

#2020 repo sync
  .github/allowed-actions.js
  .github/workflows/close-unwanted-pull-requests.yml
  .github/workflows/triage-unallowed-contributions.yml
  docs/index.yaml
Labels: automated-reposync-pr, automerge, autoupdate

#1307 Add `needs:` syntax example using `always()` condition
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, content, ecosystem

#1454 Info about committing node_modules to the git repo
  content/actions/creating-actions/creating-a-javascript-action.md
Labels: actions, content, ecosystem, ready to merge

#1493 Fix GITHUB.SHA and GITHUB.REF for repository_dispatch
  content/actions/reference/events-that-trigger-workflows.md
Labels: actions, content, ecosystem

#1609 Update building-and-testing-java-with-maven.md
  content/actions/guides/building-and-testing-java-with-maven.md
  content/actions/guides/publishing-java-packages-with-maven.md
  data/reusables/github-actions/publish-to-maven-workflow-step.md
  data/reusables/github-actions/publish-to-packages-workflow-step.md
Labels: actions, content, ecosystem

#2075 repo sync
  includes/release-notes-category-label.html
  includes/release-notes-heading.html
  layouts/release-notes.html
  lib/render-content/index.js
  stylesheets/release-notes.scss
Labels: automated-reposync-pr, automerge, autoupdate

#2077 repo sync
  data/release-notes/2-20/0.yml
  data/release-notes/2-20/1.yml
  data/release-notes/2-20/10.yml
  data/release-notes/2-20/11.yml
  data/release-notes/2-20/12.yml
  data/release-notes/2-20/13.yml
  data/release-notes/2-20/14.yml
  data/release-notes/2-20/15.yml
  data/release-notes/2-20/16.yml
  data/release-notes/2-20/17.yml
  data/release-notes/2-20/18.yml
  data/release-notes/2-20/19.yml
  data/release-notes/2-20/2.yml
  data/release-notes/2-20/20.yml
  data/release-notes/2-20/21.yml
  data/release-notes/2-20/22.yml
  data/release-notes/2-20/3.yml
  data/release-notes/2-20/4.yml
  data/release-notes/2-20/5.yml
  data/release-notes/2-20/6.yml
  data/release-notes/2-20/7.yml
  data/release-notes/2-20/8.yml
  data/release-notes/2-20/9.yml
  data/release-notes/2-21/0.yml
  data/release-notes/2-21/1.yml
  data/release-notes/2-21/10.yml
  data/release-notes/2-21/11.yml
  data/release-notes/2-21/12.yml
  data/release-notes/2-21/13.yml
  data/release-notes/2-21/2.yml
  data/release-notes/2-21/3.yml
  data/release-notes/2-21/4.yml
  data/release-notes/2-21/5.yml
  data/release-notes/2-21/6.yml
  data/release-notes/2-21/7.yml
  data/release-notes/2-21/8.yml
  data/release-notes/2-21/9.yml
  data/release-notes/2-22/5.yml
  tests/routing/enterprise-release-notes.js
Labels: automated-reposync-pr, automerge, autoupdate

#2080 repo sync
  lib/data-directory.js
  lib/pages.js
  lib/path-utils.js
Labels: automated-reposync-pr, automerge, autoupdate

#2081 repo sync
  lib/page.js
  lib/pages.js
Labels: automated-reposync-pr, automerge, autoupdate

#2083 repo sync
  .github/workflows/codeql.yml
Labels: automated-reposync-pr, automerge, autoupdate

#2084 repo sync
  content/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-github-actions.md
  content/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-github-packages.md
  content/github/setting-up-and-managing-billing-and-payments-on-github/managing-your-spending-limit-for-github-actions.md
  content/github/setting-up-and-managing-billing-and-payments-on-github/managing-your-spending-limit-for-github-packages.md
  content/packages/learn-github-packages/about-github-packages.md
  data/reusables/actions/actions-packages-set-spending-limit.md
  data/reusables/dotcom_billing/actions-packages-unpaid-account.md
  data/reusables/github-actions/actions-billing.md
  data/reusables/github-actions/actions-spending-limit-brief.md
  data/reusables/github-actions/actions-spending-limit-detailed.md
  data/reusables/github-actions/actions-spending-limit.md
  data/reusables/github-actions/spending-limit-enterprise-account.md
  data/reusables/package_registry/packages-billing.md
  data/reusables/package_registry/packages-spending-limit-brief.md
  data/reusables/package_registry/packages-spending-limit-detailed.md
  data/reusables/package_registry/spending-limit-enterprise-account.md
Labels: automated-reposync-pr, automerge, autoupdate

#1354 Add warning regarding `pull_request_target` event
  content/actions/reference/events-that-trigger-workflows.md
Labels: actions, content, ecosystem

#1505 fix: Links to localhost addresses
  content/developers/apps/authorizing-oauth-apps.md
  content/developers/apps/using-content-attachments.md
  lib/excluded-links.js
Labels: content, ecosystem

#2115 repo sync
  .github/workflows/triage-unallowed-contributions.yml
  content/admin/enterprise-support/about-github-enterprise-support.md
  content/admin/enterprise-support/about-support-for-advanced-security.md
  layouts/product-landing.html
Labels: automated-reposync-pr, automerge, autoupdate

#2119 repo sync
  assets/images/actions-approve-deployments.png
  assets/images/actions-review-deployments.png
  assets/images/environments-sidebar.png
  assets/images/help/settings/appearance-tab.png
  content/actions/guides/about-continuous-integration.md
  content/actions/guides/building-and-testing-nodejs.md
  content/actions/guides/building-and-testing-powershell.md
  content/actions/guides/building-and-testing-python.md
  content/actions/guides/publishing-docker-images.md
  content/actions/guides/publishing-nodejs-packages.md
  content/actions/learn-github-actions/managing-complex-workflows.md
  content/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions.md
  content/actions/learn-github-actions/security-hardening-for-github-actions.md
  content/actions/managing-workflow-runs/enabling-debug-logging.md
  content/actions/managing-workflow-runs/index.md
  content/actions/managing-workflow-runs/reviewing-deployments.md
  content/actions/reference/authentication-in-a-workflow.md
  content/actions/reference/encrypted-secrets.md
  content/actions/reference/environments.md
  content/actions/reference/events-that-trigger-workflows.md
  content/actions/reference/index.md
  content/actions/reference/workflow-syntax-for-github-actions.md
  content/developers/overview/index.md
  content/developers/overview/viewing-deployment-history.md
  data/reusables/actions/environments-beta.md
  data/reusables/gated-features/actions-shared.md
  data/reusables/gated-features/actions.md
  data/reusables/gated-features/environments.md
  data/reusables/github-actions/permissions-statement-environment.md
  data/reusables/github-actions/permissions-statement-secrets-environment.md
  data/reusables/github-actions/sidebar-environment.md
Labels: automated-reposync-pr, automerge, autoupdate

#2120 repo sync
  content/developers/webhooks-and-events/webhook-events-and-payloads.md
Labels: automated-reposync-pr, automerge, autoupdate

#2123 repo sync
  .github/workflows/triage-unallowed-contributions.yml
  content/desktop/installing-and-configuring-github-desktop/keyboard-shortcuts.md
Labels: automated-reposync-pr, automerge, autoupdate

#2124 repo sync
  content/github/site-policy/github-marketplace-developer-agreement.md
Labels: automated-reposync-pr, automerge, autoupdate

#2127 repo sync
  lib/data-directory.js
  lib/page.js
  lib/pages.js
  lib/redirects/precompile.js
  tests/routing/redirects.js
Labels: automated-reposync-pr, automerge, autoupdate

#2132 repo sync
  server.js
Labels: automated-reposync-pr, automerge, autoupdate

#2133 repo sync
  app.json
  lib/statsd.js
Labels: automated-reposync-pr, automerge, autoupdate

#2135 repo sync
  .github/workflows/triage-unallowed-contributions.yml
Labels: automated-reposync-pr, automerge, autoupdate

#2138 repo sync
  assets/images/help/enterprises/add-a-domain-button.png
  assets/images/help/enterprises/verified-domains-tab.png
  content/github/setting-up-and-managing-organizations-and-teams/permission-levels-for-an-organization.md
  content/github/setting-up-and-managing-organizations-and-teams/restricting-email-notifications-to-an-approved-domain.md
  content/github/setting-up-and-managing-organizations-and-teams/verifying-your-organizations-domain.md
  content/github/setting-up-and-managing-your-enterprise/index.md
  content/github/setting-up-and-managing-your-enterprise/restricting-email-notifications-for-your-enterprise-account-to-approved-domains.md
  content/github/setting-up-and-managing-your-enterprise/verifying-your-enterprise-accounts-domain.md
  data/reusables/enterprise-accounts/verified-domains-tab.md
  data/reusables/enterprise-accounts/verifying-domains-release-phase.md
  data/reusables/organizations/add-dns-txt-record.md
  data/reusables/organizations/add-domain.md
  data/reusables/organizations/continue-verifying-domain.md
  data/reusables/organizations/restrict-email-notifications.md
  data/reusables/organizations/verified-domains-details.md
Labels: automated-reposync-pr, automerge, autoupdate

#2139 repo sync
  assets/images/help/pull_requests/allow-auto-merge-checkbox.png
  assets/images/help/pull_requests/confirm-auto-merge-button.png
  assets/images/help/pull_requests/disable-auto-merge-button.png
  assets/images/help/pull_requests/enable-auto-merge-button.png
  assets/images/help/pull_requests/enable-auto-merge-drop-down.png
  assets/images/help/pull_requests/pull-request-information-fields.png
  content/github/administering-a-repository/about-protected-branches.md
  content/github/administering-a-repository/configuring-pull-request-merges.md
  content/github/administering-a-repository/index.md
  content/github/administering-a-repository/managing-auto-merge-for-pull-requests-in-your-repository.md
  content/github/collaborating-with-issues-and-pull-requests/automatically-merging-a-pull-request.md
  content/github/collaborating-with-issues-and-pull-requests/index.md
  content/github/collaborating-with-issues-and-pull-requests/merging-a-pull-request.md
  content/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization.md
  content/github/setting-up-and-managing-your-github-user-account/permission-levels-for-a-user-account-repository.md
  data/reusables/gated-features/auto-merge.md
  data/reusables/pull_requests/auto-merge-release-phase.md
  data/reusables/pull_requests/you-can-auto-merge.md
Labels: automated-reposync-pr, automerge, autoupdate

#2141 repo sync
  lib/data-directory.js
  lib/page.js
  lib/pages.js
  lib/warm-server.js
  package-lock.json
  package.json
Labels: automated-reposync-pr, automerge, autoupdate

#2143 repo sync
  tests/unit/pages.js
Labels: automated-reposync-pr, automerge, autoupdate

#2004 Tiny headline adjustment for the Issue event types page
  content/developers/webhooks-and-events/issue-event-types.md
Labels: content, ecosystem

#1385 Actions: Indicate that .steps is an array of objects
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
  content/actions/learn-github-actions/migrating-from-jenkins-to-github-actions.md
  content/actions/reference/environment-variables.md
  content/actions/reference/workflow-syntax-for-github-actions.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-code-scanning.md
Labels: actions, content, ecosystem

#1692 Update securing-your-webhooks.md
  content/developers/webhooks-and-events/securing-your-webhooks.md
Labels: content, ecosystem

#1699 Typo fix
  content/actions/guides/building-and-testing-nodejs.md
Labels: actions, content, ecosystem

#2154 repo sync
  data/reusables/dependabot/supported-package-managers.md
Labels: automated-reposync-pr, automerge, autoupdate

#2021 update dropdown
  stylesheets/nav.scss
Labels: engineering

#2163 repo sync
  middleware/breadcrumbs.js
Labels: automated-reposync-pr, automerge, autoupdate

#2164 repo sync
  content/admin/configuration/configuring-email-for-notifications.md
  data/reusables/notifications/outbound_email_tip.md
  lib/failbot.js
  lib/handle-exceptions.js
Labels: automated-reposync-pr, automerge, autoupdate

#2168 repo sync
  content/actions/index.md
  content/actions/learn-github-actions/finding-and-customizing-actions.md
  content/packages/index.md
Labels: automated-reposync-pr, automerge, autoupdate

#2169 repo sync
  .github/workflows/repo-sync-stalls.yml
  content/graphql/overview/resource-limitations.md
Labels: automated-reposync-pr, automerge, autoupdate

#2030 Update wrong `Issue_comment` link
  content/actions/reference/events-that-trigger-workflows.md
Labels: actions, content, ecosystem

#2174 repo sync
  .github/allowed-actions.js
  .github/workflows/remove-unused-assets.yml
  .github/workflows/update-graphql-files.yml
  Gemfile.lock
Labels: automated-reposync-pr, automerge, autoupdate

#2185 repo sync
  content/github/site-policy/guidelines-for-legal-requests-of-user-data.md
Labels: automated-reposync-pr, automerge, autoupdate

#2189 repo sync
  app.json
Labels: automated-reposync-pr, automerge, autoupdate

#2190 repo sync
  app.json
Labels: automated-reposync-pr, automerge, autoupdate

#2191 repo sync
  .github/workflows/repo-sync.yml
  content/developers/apps/creating-a-github-app-using-url-parameters.md
  content/developers/apps/identifying-and-authorizing-users-for-github-apps.md
  content/developers/apps/suspending-a-github-app-installation.md
  content/developers/github-marketplace/pricing-plans-for-github-marketplace-apps.md
  content/developers/github-marketplace/requirements-for-listing-an-app.md
  content/developers/overview/managing-deploy-keys.md
  content/developers/webhooks-and-events/webhook-events-and-payloads.md
  content/github/authenticating-to-github/authorizing-oauth-apps.md
  content/github/authenticating-to-github/connecting-with-third-party-applications.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/running-codeql-code-scanning-in-your-ci-system.md
  content/github/managing-subscriptions-and-notifications-on-github/managing-your-subscriptions.md
  content/github/receiving-notifications-about-activity-on-github/watching-and-unwatching-repositories.md
  content/github/searching-for-information-on-github/searching-code.md
  content/rest/overview/libraries.md
  content/rest/reference/enterprise-admin.md
  data/reusables/pre-release-program/suspend-installation-beta.md
  lib/check-developer-links.js
  lib/check-images.js
  lib/check-links.js
  lib/find-page.js
  lib/path-utils.js
  tests/helpers/links-checker.js
  tests/links-and-images/developer-links-and-images.js
  tests/links-and-images/links-and-images.js
Labels: automated-reposync-pr, automerge, autoupdate

#2195 repo sync
  content/developers/github-marketplace/creating-apps-for-github-marketplace.md
  content/github/site-policy/github-insights-and-data-protection-for-your-organization.md
  content/insights/installing-and-configuring-github-insights/about-data-in-github-insights.md
  content/insights/installing-and-configuring-github-insights/installing-github-insights.md
  includes/breadcrumbs.html
  includes/sidebar-guides.html
  includes/sidebar-specific-product.html
  lib/get-map-topic-content.js
  lib/page.js
  lib/redirects/permalinks.js
  lib/site-tree.js
  middleware/breadcrumbs.js
  middleware/early-access-breadcrumbs.js
  tests/content/category-pages.js
  tests/content/site-tree.js
  tests/helpers/links-checker.js
  tests/rendering/breadcrumbs.js
Labels: automated-reposync-pr, automerge, autoupdate

#2196 repo sync
  CONTRIBUTING.md
Labels: automated-reposync-pr, automerge, autoupdate

#2198 repo sync
  .github/workflows/repo-sync.yml
  content/graphql/reference/enums.md
  content/graphql/reference/input-objects.md
  content/graphql/reference/interfaces.md
  content/graphql/reference/mutations.md
  content/graphql/reference/objects.md
  content/graphql/reference/queries.md
  content/graphql/reference/scalars.md
  content/graphql/reference/unions.md
Labels: automated-reposync-pr, automerge, autoupdate

#2199 repo sync
  lib/redirects/precompile.js
  lib/site-data.js
  lib/warm-server.js
Labels: automated-reposync-pr, automerge, autoupdate

#2200 repo sync
  middleware/archived-enterprise-versions-assets.js
  middleware/archived-enterprise-versions.js
  middleware/block-robots.js
  middleware/index.js
  middleware/robots.js
  tests/rendering/block-robots.js
  tests/rendering/robots-txt.js
  tests/routing/deprecated-enterprise-versions.js
Labels: automated-reposync-pr, automerge, autoupdate

#2085 Add GKE, Amazon ECS, and Azure App Service deployment guides
  content/actions/guides/deploying-to-amazon-elastic-container-service.md
  content/actions/guides/deploying-to-azure-app-service.md
  content/actions/guides/deploying-to-google-kubernetes-engine.md
  content/actions/guides/index.md
Labels: ecosystem, ready to merge

#2214 repo sync
  data/release-notes/2-20/23.yml
  data/release-notes/2-21/14.yml
  data/release-notes/2-22/6.yml
Labels: automated-reposync-pr, automerge, autoupdate

#1917 Add support for page.defaultPlatform frontmatter
  content/README.md
  content/actions/hosting-your-own-runners/configuring-the-self-hosted-runner-application-as-a-service.md
  content/actions/hosting-your-own-runners/monitoring-and-troubleshooting-self-hosted-runners.md
  contributing/content-markup-reference.md
  includes/article.html
  javascripts/display-platform-specific-content.js
  lib/frontmatter.js
  lib/page.js
  package.json
  tests/browser/browser.js
  tests/unit/page.js
Labels: engineering

#2216 repo sync
  content/actions/reference/encrypted-secrets.md
  content/actions/reference/events-that-trigger-workflows.md
  data/reusables/actions/forked-secrets.md
  data/reusables/developer-site/pull_request_forked_repos_link.md
Labels: automated-reposync-pr, automerge, autoupdate

#2223 repo sync
  includes/all-articles.html
Labels: automated-reposync-pr, automerge, autoupdate

#2225 repo sync
  stylesheets/search.scss
  tests/browser/browser.js
Labels: automated-reposync-pr, automerge, autoupdate

#2252 repo sync
  content/github/site-policy/github-privacy-statement.md
  content/github/site-policy/github-subprocessors-and-cookies.md
Labels: automated-reposync-pr, automerge, autoupdate

#2253 repo sync
  content/rest/overview/resources-in-the-rest-api.md
Labels: automated-reposync-pr, automerge, autoupdate

#2260 repo sync
  assets/images/help/repository/choose-used-by-package.png
  assets/images/help/repository/used-by-section.png
  content/github/visualizing-repository-data-with-graphs/exploring-the-dependencies-of-a-repository.md
Labels: automated-reposync-pr, automerge, autoupdate

#2269 repo sync
  .github/CODEOWNERS
  content/packages/guides/configuring-npm-for-use-with-github-packages.md
Labels: automated-reposync-pr, automerge, autoupdate

#2274 repo sync
  assets/images/help/delete-container-package-version.png
  assets/images/help/package-registry/confirm-container-package-deletion.png
  assets/images/help/package-registry/confirm-container-package-version-deletion.png
  assets/images/help/package-registry/delete-container-package-button.png
  assets/images/help/package-registry/delete-container-package-version.png
  assets/images/help/package-registry/delete-package-under-danger-zone.png
  assets/images/help/package-registry/make-all-container-versions-visible.png
  assets/images/help/package-registry/options-for-container-settings.png
  content/packages/guides/deleting-a-container-image.md
Labels: automated-reposync-pr, automerge, autoupdate

#2234 fix typo in creating-a-pull-request-from-a-fork.md
  content/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork.md
Labels: ready to merge

#2254 Update docs for generating a new SSH key for windows
  content/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, core, windows

#2286 repo sync
  content/rest/overview/resources-in-the-rest-api.md
Labels: automated-reposync-pr, automerge, autoupdate

#2298 repo sync
  content/actions/guides/publishing-docker-images.md
  content/education/manage-coursework-with-github-classroom/leave-feedback-with-pull-requests.md
Labels: automated-reposync-pr, automerge, autoupdate

#2283 fix typo in Gradle Kotlin DSL script filename extension
  data/reusables/dependabot/supported-package-managers.md
Labels: content, ecosystem, packages, ready to merge

#2449 repo sync
  lib/get-mini-toc-items.js
Labels: automated-reposync-pr, automerge, autoupdate

#2455 repo sync
  content/github/site-policy/github-subprocessors-and-cookies.md
Labels: automated-reposync-pr, automerge, autoupdate
