Repository github/docs, pull requests merged in 2021-02, with the labels that each got.

#2946 (fix) update about-dependabot-version-updates.md
  content/github/administering-a-repository/about-dependabot-version-updates.md
Labels: DSP, content

#3380 repo sync
  .github/workflows/triage-unallowed-contributions.yml
Labels: automated-reposync-pr, automerge, autoupdate

#3383 repo sync
  .github/workflows/close-external-repo-sync-prs.yml
Labels: automated-reposync-pr, automerge, autoupdate

#3386 repo sync
  .github/workflows/test-translations.yml
  jest.config.js
  package.json
  tests/content/lint-files.js
  tests/helpers/lint-translation-reporter.js
Labels: automated-reposync-pr, automerge, autoupdate

#3216 remove hyphen in label to match UI
  content/github/administering-a-repository/about-protected-branches.md
Labels: content, core

#3028 owners don't consume a license
  content/github/setting-up-and-managing-your-enterprise/roles-in-an-enterprise.md
Labels: content, core, ready to merge

#3398 repo sync
  content/admin/configuration/configuring-data-encryption-for-your-enterprise.md
Labels: automated-reposync-pr, automerge, autoupdate

#3399 repo sync
  assets/images/help/settings/token_description.png
Labels: automated-reposync-pr, automerge, autoupdate

#3401 repo sync
  .github/workflows/build-docker-image.yml
  Dockerfile
Labels: automated-reposync-pr, automerge, autoupdate

#2723 Update associating-an-email-with-your-gpg-key.md
  content/github/authenticating-to-github/associating-an-email-with-your-gpg-key.md
Labels: content, core

#3413 repo sync
  content/admin/enterprise-management/upgrading-github-enterprise-server.md
  content/admin/github-actions/getting-started-with-github-actions-for-github-enterprise-server.md
  data/reusables/actions/enterprise-beta.md
  data/reusables/actions/enterprise-common-prereqs.md
  data/reusables/actions/enterprise-hardware-considerations.md
  data/reusables/enterprise_installation/about-adjusting-resources.md
  data/reusables/enterprise_installation/aws-supported-instance-types.md
  data/reusables/enterprise_installation/hardware-considerations-all-platforms.md
  data/reusables/enterprise_installation/hardware-rec-table.md
Labels: automated-reposync-pr, automerge, autoupdate

#3414 repo sync
  content/github/creating-cloning-and-archiving-repositories/about-code-owners.md
Labels: automated-reposync-pr, automerge, autoupdate

#3416 repo sync
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-codeql-code-scanning-in-your-ci-system.md
Labels: automated-reposync-pr, automerge, autoupdate

#3417 repo sync
  middleware/set-fastly-cache-headers.js
Labels: automated-reposync-pr, automerge, autoupdate

#3420 repo sync
  assets/images/help/security/advisory-database-dependabot-alerts-filters.png
  assets/images/help/security/advisory-database-dependabot-alerts.png
  assets/images/help/security/advisory-database-dropdown-filters.png
  content/github/managing-security-vulnerabilities/about-alerts-for-vulnerable-dependencies.md
  content/github/managing-security-vulnerabilities/browsing-security-vulnerabilities-in-the-github-advisory-database.md
  data/reusables/github-actions/supported-github-runners.md
  data/reusables/github-actions/ubuntu-runner-preview.md
  middleware/set-fastly-cache-headers.js
Labels: automated-reposync-pr, automerge, autoupdate

#3426 repo sync
  javascripts/search.js
  package-lock.json
  package.json
  script/check-deps.js
  stylesheets/search.scss
Labels: automated-reposync-pr, automerge, autoupdate

#3431 repo sync
  middleware/index.js
Labels: automated-reposync-pr, automerge, autoupdate

#3433 repo sync
  middleware/index.js
  middleware/set-fastly-cache-headers.js
  tests/rendering/server.js
Labels: automated-reposync-pr, automerge, autoupdate

#3270 Adding a section for support architectures for self-hosted runners
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  content/actions/hosting-your-own-runners/using-self-hosted-runners-in-a-workflow.md
Labels: actions, content

#3440 repo sync
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-codeql-code-scanning-in-your-ci-system.md
Labels: automated-reposync-pr, automerge, autoupdate

#2430 Clarify inactive status made to same environment name
  content/rest/reference/repos.md
Labels: content, ecosystem, ready to merge

#3451 repo sync
  middleware/csp.js
  middleware/set-fastly-cache-headers.js
  tests/rendering/server.js
Labels: automated-reposync-pr, automerge, autoupdate

#3452 repo sync
  Dockerfile
Labels: automated-reposync-pr, automerge, autoupdate

#3454 repo sync
  middleware/archived-enterprise-versions-assets.js
  middleware/index.js
  middleware/set-fastly-surrogate-key.js
  tests/rendering/server.js
Labels: automated-reposync-pr, automerge, autoupdate

#3455 repo sync
  middleware/archived-enterprise-versions-assets.js
  middleware/archived-enterprise-versions.js
  middleware/disable-caching-on-safari.js
  middleware/render-page.js
  middleware/set-fastly-surrogate-key.js
Labels: automated-reposync-pr, automerge, autoupdate

#3460 repo sync
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automated-reposync-pr, automerge, autoupdate

#3466 repo sync
  content/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization.md
  data/reusables/enterprise-accounts/payment-information-tab.md
Labels: automated-reposync-pr, automerge, autoupdate

#3473 repo sync
  .github/workflows/triage-stale-check.yml
Labels: automated-reposync-pr, automerge, autoupdate

#3476 repo sync
  react/README.md
Labels: automated-reposync-pr, automerge, autoupdate

#3457 Fix broken link to Repl.it Quickstart Guide
  content/education/manage-coursework-with-github-classroom/about-using-replit-with-github-classroom.md
Labels: ready to merge

#3479 repo sync
  assets/images/help/pull_requests/allow-auto-merge-checkbox.png
  assets/images/help/pull_requests/disable-auto-merge-button.png
  assets/images/help/pull_requests/enable-auto-merge-button.png
  assets/images/help/pull_requests/enable-auto-merge-drop-down.png
  content/github/administering-a-repository/managing-auto-merge-for-pull-requests-in-your-repository.md
  content/github/collaborating-with-issues-and-pull-requests/automatically-merging-a-pull-request.md
  content/github/collaborating-with-issues-and-pull-requests/merging-a-pull-request.md
  content/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization.md
  content/github/setting-up-and-managing-your-github-user-account/permission-levels-for-a-user-account-repository.md
  data/reusables/gated-features/auto-merge.md
  data/reusables/pull_requests/auto-merge-release-phase.md
  data/reusables/pull_requests/you-can-auto-merge.md
Labels: automated-reposync-pr, automerge, autoupdate

#3486 repo sync
  content/developers/apps/authenticating-with-github-apps.md
  content/rest/overview/resources-in-the-rest-api.md
  data/variables/product.yml
Labels: automated-reposync-pr, automerge, autoupdate

#3497 repo sync
  includes/breadcrumbs.html
  layouts/product-sublanding.html
  layouts/release-notes.html
  translations/ja-JP/content/insights/installing-and-configuring-github-insights/managing-available-metrics-and-reports.md
  translations/ja-JP/data/reusables/enterprise-accounts/hooks-tab.md
  translations/ja-JP/data/reusables/enterprise-accounts/messages-tab.md
  translations/ja-JP/data/reusables/github-insights/events-tab.md
  translations/ja-JP/data/reusables/github-insights/exclude-files-tab.md
  translations/ja-JP/data/reusables/github-insights/repo-groups-tab.md
  translations/ja-JP/data/reusables/github-insights/repositories-tab.md
  translations/ja-JP/data/reusables/github-insights/settings-tab.md
  translations/ja-JP/data/reusables/github-insights/teams-tab.md
Labels: automated-reposync-pr, automerge, autoupdate

#3501 repo sync
  .github/workflows/update-graphql-files.yml
Labels: automated-reposync-pr, automerge, autoupdate

#2851 Capitalize the H in GitHub
  content/developers/apps/creating-ci-tests-with-the-checks-api.md
  content/developers/apps/migrating-oauth-apps-to-github-apps.md
  content/developers/github-marketplace/handling-new-purchases-and-free-trials.md
  content/github/setting-up-and-managing-organizations-and-teams/configuring-saml-single-sign-on-and-scim-using-okta.md
  content/rest/overview/libraries.md
  data/variables/action_code_examples.yml
Labels: content, core, waiting for review

#3002 Updates to AWS ECS deploy guide
  content/actions/guides/deploying-to-amazon-elastic-container-service.md
Labels: actions, content, ecosystem, waiting for review

#3149 use node action V2
  content/actions/guides/publishing-nodejs-packages.md
Labels: actions, content, ecosystem, waiting for review

#3492 Correcting a typo in code
  content/actions/reference/events-that-trigger-workflows.md
Labels: actions, content, ecosystem, waiting for review

#3536 fix: update broken link
  content/rest/guides/basics-of-authentication.md
Labels: ready to merge

#3521 fix outdated link in events-that-trigger-workflows.md
  content/actions/reference/events-that-trigger-workflows.md
Labels: content, core, ready to merge

#3577 Remove reference to GHAE as part of the GDP
  content/developers/overview/github-developer-program.md
Labels: ready to merge

#3187 Fail when creating PR
  content/actions/reference/authentication-in-a-workflow.md
Labels: actions, content, ecosystem, waiting for review

#3315 Update securing-your-webhooks.md
  content/developers/webhooks-and-events/securing-your-webhooks.md
Labels: content, ecosystem, waiting for review

#1121 Update the container registry examples for `steps.uses`
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, content, ecosystem, waiting for review

#3739 repo sync
  content/README.md
Labels: automated-reposync-pr, automerge, autoupdate

#3606 Add AWS pricing and IAM links
  content/admin/installation/installing-github-enterprise-server-on-aws.md
Labels: content, enterprise admin, ready to merge

#2178 Update creating-a-github-pages-site-with-jekyll.md
  content/github/working-with-github-pages/creating-a-github-pages-site-with-jekyll.md
Labels: content, core, never-stale, waiting for review

#3748 repo sync
  assets/images/help/enterprises/ghas-orgs-list-click-org.png
  assets/images/help/enterprises/ghas-orgs-list.png
  assets/images/help/organizations/ghas-repos-list.png
  assets/images/help/repository/enable-ghas-confirmation-dotcom.png
  content/github/administering-a-repository/configuring-secret-scanning-for-your-repositories.md
  content/github/administering-a-repository/managing-security-and-analysis-settings-for-your-repository.md
  content/github/getting-started-with-github/about-github-advanced-security.md
  content/github/setting-up-and-managing-organizations-and-teams/managing-security-and-analysis-settings-for-your-organization.md
  content/github/setting-up-and-managing-your-enterprise/about-enterprise-accounts.md
  content/github/setting-up-and-managing-your-enterprise/index.md
  content/github/setting-up-and-managing-your-enterprise/managing-use-of-advanced-security-for-organizations-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/viewing-the-subscription-and-usage-for-your-enterprise-account.md
  data/release-notes/3-0/0.yml
  data/reusables/advanced-security/enable-disable-committer-info.md
  data/reusables/advanced-security/license-overview.md
Labels: automated-reposync-pr, automerge, autoupdate

#3749 repo sync
  content/actions/reference/environments.md
Labels: automated-reposync-pr, automerge, autoupdate

#3754 repo sync
  .github/workflows/triage-stale-check.yml
Labels: automated-reposync-pr, automerge, autoupdate

#3770 repo sync
  data/ui.yml
  includes/helpfulness.html
  javascripts/experiment.js
  javascripts/helpfulness.js
  tests/browser/browser.js
Labels: automated-reposync-pr, automerge, autoupdate

#3771 repo sync
  content/actions/reference/workflow-syntax-for-github-actions.md
  data/reusables/actions/learn-more-about-yaml.md
Labels: automated-reposync-pr, automerge, autoupdate

#3773 repo sync
  data/release-notes/3-0/0.yml
Labels: automated-reposync-pr, automerge, autoupdate

#3775 repo sync
  script/check-english-links.js
Labels: automated-reposync-pr, automerge, autoupdate

#3778 repo sync
  lib/redis-accessor.js
  middleware/rate-limit.js
  script/purge-redis-pages.js
Labels: automated-reposync-pr, automerge, autoupdate

#3736 Add note about no deployment_status events for inactive state
  content/actions/reference/events-that-trigger-workflows.md
Labels: actions, content, ready to merge, waiting for review

#3796 repo sync
  .github/workflows/repo-sync-stalls.yml
Labels: automated-reposync-pr, automerge, autoupdate

#3019 Update issue templates
  .github/ISSUE_TEMPLATE/improve-existing-docs.md
  .github/ISSUE_TEMPLATE/improve-existing-docs.yaml
  .github/ISSUE_TEMPLATE/improve-the-site.md
  .github/ISSUE_TEMPLATE/improve-the-site.yaml
Labels: contributing docs, waiting for review

#3802 repo sync
  .github/allowed-actions.js
  .github/workflows/repo-sync.yml
  content/actions/managing-workflow-runs/adding-a-workflow-status-badge.md
Labels: automated-reposync-pr, automerge, autoupdate

#3810 repo sync
  .github/allowed-actions.js
  .github/workflows/repo-sync.yml
Labels: automated-reposync-pr, automerge, autoupdate

#2961 Clarify how to create a CNAME
  content/github/working-with-github-pages/managing-a-custom-domain-for-your-github-pages-site.md
Labels: content, core, ready to merge

#3896 repo sync
  javascripts/experiment.js
  javascripts/helpfulness.js
  lib/redirects/get-old-paths-from-permalink.js
  tests/browser/browser.js
Labels: automated-reposync-pr, automerge, autoupdate

#3060 Update docs to note schedule action delay (#3059)
  content/actions/reference/events-that-trigger-workflows.md
Labels: actions, content, ecosystem, ready to merge, waiting for review

#3904 repo sync
  .github/workflows/triage-stale-check.yml
Labels: automated-reposync-pr, automerge, autoupdate

#3905 repo sync
  content/github/site-policy/github-additional-product-terms.md
  content/github/working-with-github-pages/about-github-pages.md
Labels: automated-reposync-pr, automerge, autoupdate

#3752 docs: fix heading link for supported OS self hosted runners
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
Labels: actions, content, ready to merge

#3913 repo sync
  content/actions/learn-github-actions/security-hardening-for-github-actions.md
  content/admin/user-management/audited-actions.md
  content/github/setting-up-and-managing-organizations-and-teams/reviewing-the-audit-log-for-your-organization.md
  data/reusables/actions/actions-audit-events-for-enterprise.md
  data/reusables/actions/actions-audit-events-workflow.md
Labels: automated-reposync-pr, automerge, autoupdate

#3920 repo sync
  .github/ISSUE_COMMENT_TEMPLATE/status.yml
  .github/allowed-actions.js
  .github/workflows/post-status-updates-to-slack.yml
Labels: automated-reposync-pr, automerge, autoupdate

#3922 repo sync
  lib/site-tree.js
Labels: automated-reposync-pr, automerge, autoupdate

#2932 Document ghe-config command to enable/disable Code Scanning
  content/admin/configuration/configuring-code-scanning-for-your-appliance.md
Labels: enterprise admin, waiting for review

#2243 Place a scrollable button to the top of the page
  includes/scroll-button.html
  javascripts/index.js
  javascripts/scroll-up.js
  layouts/default.html
  stylesheets/index.scss
  stylesheets/scroll-button.scss
Labels: engineering, ready to merge

#3932 repo sync
  content/graphql/guides/index.md
  content/graphql/guides/using-the-graphql-api-for-discussions.md
Labels: automated-reposync-pr, automerge, autoupdate

#3934 repo sync
  content/actions/managing-workflow-runs/reviewing-deployments.md
  content/actions/reference/environments.md
  content/rest/reference/repos.md
  data/reusables/actions/about-secrets.md
  data/reusables/webhooks/check_run_properties.md
  lib/webhooks/static/dotcom/check_run.completed.payload.json
  lib/webhooks/static/dotcom/check_run.created.payload.json
  lib/webhooks/static/dotcom/check_run.rerequested.payload.json
Labels: automated-reposync-pr, automerge, autoupdate

#3936 repo sync
  .github/allowed-actions.js
  .github/workflows/repo-sync.yml
Labels: automated-reposync-pr, automerge, autoupdate

#3510 Update quickstart.md
  content/actions/quickstart.md
Labels: actions, content, ecosystem, ready to merge, waiting for review

#3942 repo sync
  data/reusables/actions/about-secrets.md
Labels: automated-reposync-pr, automerge, autoupdate

#3774 adding how to link forked repo to a project board
  content/github/managing-your-work-on-github/linking-a-repository-to-a-project-board.md
Labels: content, core

#3571 Add mention of .mp4 .mov
  content/github/managing-your-work-on-github/file-attachments-on-issues-and-pull-requests.md
Labels: content, core, waiting for review

#3956 repo sync
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/de-DE/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/es-ES/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/ja-JP/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/ko-KR/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/pt-BR/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/ru-RU/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/zh-CN/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
Labels: automated-reposync-pr, automerge, autoupdate

#3972 repo sync
  content/github/developing-online-with-codespaces/about-codespaces.md
Labels: automated-reposync-pr, automerge, autoupdate

#3981 repo sync
  lib/enterprise-server-releases.js
  middleware/archived-enterprise-versions.js
  script/enterprise-server-deprecations/archive-version.js
  tests/routing/deprecated-enterprise-versions.js
Labels: automated-reposync-pr, automerge, autoupdate

#3984 repo sync
  lib/redis-accessor.js
  middleware/rate-limit.js
  script/purge-redis-pages.js
Labels: automated-reposync-pr, automerge, autoupdate

#3987 repo sync
  content/github/site-policy/dmca-takedown-policy.md
  content/github/site-policy/guide-to-submitting-a-dmca-takedown-notice.md
Labels: automated-reposync-pr, automerge, autoupdate

#3769 Fix copy/pasta in label_short_desc
  data/reusables/webhooks/label_short_desc.md
Labels: content, ecosystem, webhooks

#3415 Update why-wasnt-my-application-for-a-student-developer-pack-approved.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/why-wasnt-my-application-for-a-student-developer-pack-approved.md
Labels: content, core, ready to merge

#3928 CommunityBridge is LFX Mentorship now
  content/github/administering-a-repository/displaying-a-sponsor-button-in-your-repository.md
Labels: core

#3899 Add keyboard shortcut for toggling annotations
  content/github/getting-started-with-github/keyboard-shortcuts.md
Labels: core

#4032 repo sync
  .github/workflows/repo-freeze-check.yml
Labels: automated-reposync-pr, automerge, autoupdate
