Repository github/docs, pull requests merged in 2021-05, with the labels that each got.

#5765 fix: changed class theme in language toggle to use the base active
  includes/header.html
Labels: engineering, waiting for review

#5990 repo sync
  .github/workflows/enterprise-dates.yml
  assets/images/help/codespaces/add-node-prebuilt-container.png
  assets/images/help/codespaces/add-node-version.png
  assets/images/help/codespaces/change-machine-type-choice.png
  assets/images/help/codespaces/change-machine-type-menu-option.png
  assets/images/help/codespaces/choose-custom-machine-type.png
  assets/images/help/codespaces/codespaces-button.png
  assets/images/help/codespaces/codespaces-commit-activity.png
  assets/images/help/codespaces/codespaces-commit-commit-message.png
  assets/images/help/codespaces/codespaces-commit-pr-button.png
  assets/images/help/codespaces/codespaces-commit-pr.png
  assets/images/help/codespaces/codespaces-commit-stage.png
  assets/images/help/codespaces/codespaces-devcontainers-reload.png
  assets/images/help/codespaces/codespaces-npmstart.png
  assets/images/help/codespaces/codespaces-port-toast.png
  assets/images/help/codespaces/codespaces-rebuild.png
  assets/images/help/codespaces/custom-codespace-button.png
  assets/images/help/codespaces/devcontainers-options.png
  assets/images/help/codespaces/new-codespace-button.png
  assets/images/help/codespaces/open-with-codespaces-button.png
  assets/images/help/codespaces/resume-codespace.png
  assets/images/help/codespaces/suspend-current-codespace.png
  assets/images/help/codespaces/your-codespaces-list.png
  assets/images/help/codespaces/your-codespaces-option.png
  content/codespaces/developing-in-codespaces/creating-a-codespace.md
  content/codespaces/developing-in-codespaces/deleting-a-codespace.md
  content/codespaces/developing-in-codespaces/developing-in-a-codespace.md
  content/codespaces/developing-in-codespaces/forwarding-ports-in-your-codespace.md
  content/codespaces/developing-in-codespaces/index.md
  content/codespaces/developing-in-codespaces/using-codespaces-in-visual-studio-code.md
  content/codespaces/getting-started-with-codespaces/about-billing-for-codespaces.md
  content/codespaces/getting-started-with-codespaces/about-codespaces.md
  content/codespaces/getting-started-with-codespaces/getting-started-with-your-nodejs-project-in-codespaces.md
  content/codespaces/getting-started-with-codespaces/index.md
  content/codespaces/index.md
  content/codespaces/setting-up-your-codespace/configuring-codespaces-for-your-project.md
  content/codespaces/setting-up-your-codespace/index.md
  content/codespaces/setting-up-your-codespace/personalizing-codespaces-for-your-account.md
  content/codespaces/working-with-your-codespace/changing-the-machine-type-for-your-codespace.md
  content/codespaces/working-with-your-codespace/index.md
  content/codespaces/working-with-your-codespace/managing-access-and-security-for-codespaces.md
  content/codespaces/working-with-your-codespace/managing-encrypted-secrets-for-codespaces.md
  content/codespaces/working-with-your-codespace/managing-gpg-verification-for-codespaces.md
  content/codespaces/working-with-your-codespace/troubleshooting-your-codespace.md
  content/github/developing-online-with-codespaces/index.md
  content/index.md
  data/allowed-topics.js
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/schema.docs.graphql
  data/reusables/codespaces/codespaces-machine-types.md
  data/reusables/codespaces/your-codespaces-procedure-step.md
  lib/graphql/static/prerendered-input-objects.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  tests/content/category-pages.js
Labels: automated-reposync-pr, autoupdate, triage

#5995 repo sync
  content/codespaces/developing-in-codespaces/creating-a-codespace.md
  content/codespaces/getting-started-with-codespaces/getting-started-with-your-nodejs-project-in-codespaces.md
  content/codespaces/working-with-your-codespace/changing-the-machine-type-for-your-codespace.md
  content/codespaces/working-with-your-codespace/index.md
Labels: automated-reposync-pr, autoupdate, triage

#5997 repo sync
  lib/enterprise-dates.json
Labels: automated-reposync-pr, autoupdate, triage

#5945 docs(pull_request_webhook_properties): update ‘action’ description
  data/reusables/webhooks/pull_request_webhook_properties.md
Labels: actions, ready to merge

#6020 packages/registry/rubygems: Fix typo of "you Gemfile" => "your Gemfile"
  content/packages/working-with-a-github-packages-registry/working-with-the-rubygems-registry.md
Labels: triage

#6010 docs(content-style-guide): add guidance on list delimiters
  contributing/content-style-guide.md
Labels: contributing docs, waiting for review

#6027 Fix formatting in article About Status Checks
  content/github/collaborating-with-issues-and-pull-requests/about-status-checks.md
Labels: ready to merge, triage

#6077 repo sync
  content/rest/reference/permissions-required-for-github-apps.md
Labels: automated-reposync-pr, autoupdate, triage

#6002 Updates REST API examples to HTTP/2
  content/developers/apps/scopes-for-oauth-apps.md
  content/developers/apps/setting-up-your-development-environment-to-create-a-github-app.md
  content/developers/overview/secret-scanning.md
  content/developers/webhooks-and-events/github-event-types.md
  content/developers/webhooks-and-events/webhook-events-and-payloads.md
  content/github/authenticating-to-github/about-anonymized-image-urls.md
  content/rest/guides/getting-started-with-the-rest-api.md
  content/rest/overview/media-types.md
  content/rest/overview/resources-in-the-rest-api.md
  content/rest/reference/activity.md
Labels: github apps, ready to merge

#6084 repo sync
  .eslintrc.js
  .github/workflows/js-lint.yml
  package-lock.json
  package.json
  script/README.md
  script/check-deps.js
Labels: automated-reposync-pr, autoupdate, triage

#6025 Add target attribute to open the external document in a new browser tab
  includes/header.html
  includes/landing.html
  includes/sidebar-homepage.html
Labels: ready to merge, triage

#6028 Initial draft for Python quickstart
  assets/images/help/codespaces/add-nodejs-selection.png
  assets/images/help/codespaces/add-python-prebuilt-container.png
  assets/images/help/codespaces/add-python-version.png
  assets/images/help/codespaces/python-extensions.png
  assets/images/help/codespaces/python-port-forwarding.png
  content/codespaces/getting-started-with-codespaces/getting-started-with-your-nodejs-project-in-codespaces.md
  content/codespaces/getting-started-with-codespaces/getting-started-with-your-python-project-in-codespaces.md
  content/codespaces/getting-started-with-codespaces/index.md
Labels: guide, waiting for review

#6098 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: automated-reposync-pr, autoupdate, triage

#6105 repo sync
  assets/images/help/discussions/github-discussions-example.png
  assets/images/help/issues/issue-example.png
  assets/images/help/projects/team-discussions-example.png
  assets/images/help/pull_requests/pr-conversation-example.png
  assets/images/help/pull_requests/pr-files-changed-example.png
  content/discussions/collaborating-with-your-community-using-discussions/participating-in-a-discussion.md
  content/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github.md
  content/github/collaborating-with-issues-and-pull-requests/commenting-on-a-pull-request.md
  content/github/collaborating-with-issues-and-pull-requests/getting-started.md
  content/github/collaborating-with-issues-and-pull-requests/index.md
  content/github/collaborating-with-issues-and-pull-requests/quickstart-for-communicating-on-github.md
  content/github/getting-started-with-github/be-social.md
  content/github/managing-your-work-on-github/sorting-issues-and-pull-requests.md
  content/github/writing-on-github/autolinked-references-and-urls.md
  content/organizations/collaborating-with-your-team/about-team-discussions.md
  data/allowed-topics.js
  tests/fixtures/article-with-redirect-from-string.md
  tests/routing/redirects.js
Labels: automated-reposync-pr, autoupdate, triage

#6108 repo sync
  content/admin/advanced-security/configuring-code-scanning-for-your-appliance.md
  content/admin/advanced-security/enabling-github-advanced-security-for-your-enterprise.md
  data/release-notes/3-1/0-rc1.yml
  data/reusables/advanced-security/ghas-helps-developers.md
Labels: automated-reposync-pr, autoupdate, triage

#6113 repo sync
  .github/workflows/send-issues-to-how-how-we-work-boards.yml
Labels: automated-reposync-pr, autoupdate, triage

#6117 repo sync
  content/github/index.md
Labels: automated-reposync-pr, autoupdate, triage

#6124 repo sync
  components/Breadcrumbs.tsx
  components/Contribution.tsx
  components/DefaultLayout.tsx
  components/DeprecationBanner.tsx
  components/Helpfulness.tsx
  components/ScrollButton.tsx
  components/SmallFooter.tsx
  components/Support.tsx
  components/SupportSection.tsx
  components/context/MainContext.tsx
  components/hooks/useTranslation.tsx
  components/hooks/useVersion.tsx
  middleware/render-page.js
  next.config.js
  package-lock.json
  package.json
  pages/[versionId]/sponsors.tsx
Labels: automated-reposync-pr, autoupdate, triage

#6123 Correct billing information for ghae
  content/admin/overview/managing-billing-for-your-enterprise.md
Labels: triage

#6132 repo sync
  content/github/managing-large-files/removing-files-from-git-large-file-storage.md
Labels: automated-reposync-pr, autoupdate, triage

#6104 Fix the missing text in "Working with the Apache Maven registry"
  content/packages/working-with-a-github-packages-registry/working-with-the-apache-maven-registry.md
Labels: triage

#6061 add additional information on dealing with ~/.ssh/config errors on Mac
  content/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: ready to merge, ssh

#6109 Always use yaml instead of sometimes yml as code language
  content/README.md
  content/code-security/secure-coding/uploading-a-sarif-file-to-github.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/uploading-a-sarif-file-to-github.md
  data/variables/README.md
Labels: triage

#6144 repo sync
  content/codespaces/getting-started-with-codespaces/getting-started-with-your-nodejs-project-in-codespaces.md
  content/codespaces/working-with-your-codespace/index.md
Labels: automated-reposync-pr, autoupdate, triage

#6146 repo sync
  assets/images/help/codespaces/codespace-overview.png
  content/codespaces/about-codespaces.md
  content/codespaces/codespaces-reference/about-billing-for-codespaces.md
  content/codespaces/codespaces-reference/index.md
  content/codespaces/getting-started-with-codespaces/about-codespaces.md
  content/codespaces/getting-started-with-codespaces/index.md
  content/codespaces/index.md
  content/codespaces/setting-up-your-codespace/configuring-codespaces-for-your-project.md
Labels: automated-reposync-pr, autoupdate, triage

#5309 Explain that a "list" means "of lines" not of YAML
  content/actions/guides/caching-dependencies-to-speed-up-workflows.md
Labels: actions, waiting for review

#6149 repo sync
  assets/images/help/profile/profile-block-or-report-button.png
  content/codespaces/about-codespaces.md
  content/codespaces/setting-up-your-codespace/configuring-codespaces-for-your-project.md
  data/reusables/profile/user_profile_page_block_or_report.md
Labels: automated-reposync-pr, autoupdate, triage

#6222 repo sync
  data/release-notes/3-1/0-rc1.yml
Labels: automated-reposync-pr, autoupdate, triage

#6166 Fixed grammatical mistake/typo.
  content/actions/reference/environments.md
Labels: triage

#6181 Remove stray space
  content/actions/reference/context-and-expression-syntax-for-github-actions.md
Labels: triage

#6231 repo sync
  .github/actions-scripts/fr-add-docs-reviewers-requests.py
  .github/allowed-actions.js
  .github/workflows/docs-review-collect.yml
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: automated-reposync-pr, autoupdate, triage

#5392 Add `pull_request_target` in base_ref and head_ref doc
  content/actions/reference/context-and-expression-syntax-for-github-actions.md
Labels: actions, waiting for review

#5746 Fix ghe-webhook-logs -v options example
  content/admin/configuration/command-line-utilities.md
Labels: GHE, waiting for review

#6207 Fix code sample
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
Labels: actions, waiting for review

#6262 repo sync
  content/code-security/secure-coding/configuring-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-code-scanning.md
Labels: automated-reposync-pr, autoupdate, triage

#5669 Update generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  content/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: ssh, waiting for review

#6092 Initial draft for C# (.NET) quickstart
  assets/images/help/codespaces/add-dotnet-prebuilt-container.png
  assets/images/help/codespaces/add-dotnet-version.png
  assets/images/help/codespaces/dotnet-extensions.png
  assets/images/help/codespaces/dotnet-options.png
  content/codespaces/getting-started-with-codespaces/getting-started-with-your-dotnet-project.md
  content/codespaces/getting-started-with-codespaces/index.md
Labels: guide, waiting for review

#6142 Initial draft for Java quickstart
  assets/images/help/codespaces/add-java-prebuilt-container.png
  assets/images/help/codespaces/add-java-version.png
  content/codespaces/getting-started-with-codespaces/getting-started-with-your-java-project-in-codespaces.md
  content/codespaces/getting-started-with-codespaces/index.md
Labels: guide, waiting for review

#5969 Replacing GITHUB_TOKEN with PAT
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, ready to merge

#6282 repo sync
  .babelrc
  components/DefaultLayout.tsx
  components/Header.tsx
  components/HeaderNotifications.tsx
  components/LanguagePicker.tsx
  components/MobileProductDropdown.tsx
  components/VersionPicker.tsx
  components/context/MainContext.tsx
  components/hooks/useTranslation.tsx
  components/lib/ExcludesNull.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  pages/_document.tsx
Labels: automated-reposync-pr, autoupdate, triage

#6088 Remove requested_action event type
  content/actions/reference/events-that-trigger-workflows.md
Labels: actions, waiting for review

#6308 repo sync
  content/github/creating-cloning-and-archiving-repositories/creating-a-repository-from-a-template.md
  content/github/creating-cloning-and-archiving-repositories/creating-a-template-repository.md
Labels: automated-reposync-pr, autoupdate, triage

#6315 repo sync
  assets/images/help/repository/environments-top.png
  assets/images/help/repository/environments.png
  content/github/administering-a-repository/viewing-deployment-activity-for-your-repository.md
Labels: automated-reposync-pr, autoupdate, triage

#6252 fix: add rel noopener to aitgap-links.js
  javascripts/airgap-links.js
Labels: ready to merge, triage

#6041 Unify YAML indent
  content/actions/creating-actions/creating-a-composite-run-steps-action.md
  content/actions/creating-actions/creating-a-docker-container-action.md
  content/actions/creating-actions/creating-a-javascript-action.md
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
  content/actions/guides/building-and-testing-net.md
  content/actions/guides/building-and-testing-nodejs.md
  content/actions/guides/building-and-testing-powershell.md
  content/actions/guides/building-and-testing-python.md
  content/actions/guides/building-and-testing-ruby.md
  content/actions/guides/building-and-testing-swift.md
  content/actions/guides/building-and-testing-xamarin-applications.md
  content/actions/guides/caching-dependencies-to-speed-up-workflows.md
  content/actions/guides/publishing-nodejs-packages.md
  content/actions/reference/authentication-in-a-workflow.md
  content/actions/reference/context-and-expression-syntax-for-github-actions.md
  content/actions/reference/events-that-trigger-workflows.md
  content/actions/reference/workflow-commands-for-github-actions.md
  content/actions/reference/workflow-syntax-for-github-actions.md
  content/actions/using-github-hosted-runners/customizing-github-hosted-runners.md
  content/code-security/secure-coding/configuring-code-scanning.md
  content/code-security/secure-coding/running-codeql-code-scanning-in-a-container.md
  content/code-security/secure-coding/troubleshooting-the-codeql-workflow.md
  content/code-security/secure-coding/uploading-a-sarif-file-to-github.md
  content/code-security/supply-chain-security/configuration-options-for-dependency-updates.md
  content/developers/apps/using-content-attachments.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/running-codeql-code-scanning-in-a-container.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/troubleshooting-the-codeql-workflow.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/uploading-a-sarif-file-to-github.md
  content/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions.md
  data/reusables/gpg/x-509-key.md
Labels: content, ready to merge

#6034 Add link to "Searching discussions" in GraphQL API for Discussions
  content/graphql/guides/using-the-graphql-api-for-discussions.md
Labels: graphql, ready to merge

#6313 Update RAM requirements to match between examples for Cluster HA
  content/admin/enterprise-management/configuring-high-availability-replication-for-a-cluster.md
Labels: triage

#6327 Add h3 headers
  content/github/getting-started-with-github/create-a-repo.md
  content/github/getting-started-with-github/fork-a-repo.md
  content/github/getting-started-with-github/set-up-git.md
Labels: triage

#6339 issue-5849
  content/github/getting-started-with-github/about-git-subtree-merges.md
  content/github/getting-started-with-github/getting-changes-from-a-remote-repository.md
  content/github/getting-started-with-github/using-git-rebase-on-the-command-line.md
Labels: triage

#6342 Libraries: replace `octokit/rest.js` with `octokit/octokit.js`
  content/rest/overview/libraries.md
Labels: triage

#5391 Update creating-postgresql-service-containers.md
  content/actions/guides/creating-postgresql-service-containers.md
Labels: actions, triage

#6353 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: automated-reposync-pr, autoupdate, triage

#6244 Use https for choosealicense.com
  content/github/creating-cloning-and-archiving-repositories/licensing-a-repository.md
  content/github/getting-started-with-github/create-a-repo.md
  content/github/getting-started-with-github/fork-a-repo.md
Labels: content

#6372 repo sync
  content/code-security/secure-coding/about-codeql-code-scanning-in-your-ci-system.md
  content/code-security/secure-coding/configuring-code-scanning.md
  content/code-security/secure-coding/configuring-codeql-runner-in-your-ci-system.md
  content/code-security/secure-coding/running-codeql-cli-in-your-ci-system.md
  content/code-security/secure-coding/sarif-support-for-code-scanning.md
Labels: automated-reposync-pr, autoupdate, triage

#6374 repo sync
  assets/images/help/pull_requests/dragging_images.gif
  content/github/authenticating-to-github/about-anonymized-urls.md
  content/github/authenticating-to-github/index.md
  content/github/managing-your-work-on-github/file-attachments-on-issues-and-pull-requests.md
Labels: automated-reposync-pr, autoupdate, triage

#6376 repo sync
  includes/support-section.html
  layouts/default.html
  layouts/dev-toc.html
  layouts/error-404.html
  layouts/error-500.html
  layouts/graphql-explorer.html
  layouts/product-landing.html
  layouts/product-sublanding.html
  layouts/release-notes.html
  middleware/render-page.js
  stylesheets/scroll-button.scss
  stylesheets/toggle-images-button.scss
Labels: automated-reposync-pr, autoupdate, triage

#6380 repo sync
  layouts/product-landing.html
  stylesheets/index.scss
  stylesheets/product-landing.scss
Labels: automated-reposync-pr, autoupdate, triage

#6383 repo sync
  .github/workflows/add-review-template.yml
Labels: automated-reposync-pr, autoupdate, triage

#6386 repo sync
  .github/review-template.md
Labels: automated-reposync-pr, autoupdate, triage

#6388 repo sync
  data/release-notes/2-21/21.yml
  data/release-notes/2-22/13.yml
  data/release-notes/3-0/7.yml
Labels: automated-reposync-pr, autoupdate, triage

#6391 Changing Sidebar Style Changes
  includes/sidebar-specific-product.html
  stylesheets/sidebar.scss
Labels: triage

#6325 Add keyboard shortcut for discussions
  content/github/getting-started-with-github/keyboard-shortcuts.md
Labels: Campus Experts + Docs program, triage

#6398 repo sync
  assets/images/help/enterprises/add-a-domain-button.png
  assets/images/help/enterprises/verified-domains-tab.png
  assets/images/help/organizations/add-a-domain-button.png
  assets/images/help/organizations/add-domain-field.png
  assets/images/help/organizations/continue-verifying-domain.png
  assets/images/help/organizations/create-dns-txt-record-instructions.png
  assets/images/help/organizations/domains-approve-domain.png
  assets/images/help/organizations/domains-approve-it-instead.png
  assets/images/help/organizations/domains-delete.png
  assets/images/help/organizations/pending-domain-verification.png
  assets/images/help/organizations/verified-domains-button.png
  assets/images/help/organizations/verify-domain-final-button.png
  content/admin/configuration/index.md
  content/admin/configuration/verifying-or-approving-a-domain-for-your-enterprise.md
  content/admin/policies/index.md
  content/admin/policies/restricting-email-notifications-for-your-enterprise.md
  content/developers/github-marketplace/applying-for-publisher-verification-for-your-organization.md
  content/github/setting-up-and-managing-your-enterprise/index.md
  content/github/setting-up-and-managing-your-enterprise/restricting-email-notifications-for-your-enterprise-account-to-approved-domains.md
  content/github/setting-up-and-managing-your-enterprise/restricting-email-notifications-for-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/verifying-or-approving-a-domain-for-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/verifying-your-enterprise-accounts-domain.md
  content/github/setting-up-and-managing-your-github-profile/about-your-organizations-profile.md
  content/organizations/keeping-your-organization-secure/index.md
  content/organizations/keeping-your-organization-secure/managing-security-and-analysis-settings-for-your-organization.md
  content/organizations/keeping-your-organization-secure/restricting-email-notifications-for-your-organization.md
  content/organizations/keeping-your-organization-secure/restricting-email-notifications-to-an-approved-domain.md
  content/organizations/managing-organization-settings/index.md
  content/organizations/managing-organization-settings/verifying-or-approving-a-domain-for-your-organization.md
  content/organizations/managing-organization-settings/verifying-your-organizations-domain.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/permission-levels-for-an-organization.md
  data/reusables/enterprise-accounts/add-a-domain.md
  data/reusables/enterprise-accounts/approved-domains-about.md
  data/reusables/enterprise-accounts/approved-domains-beta-note.md
  data/reusables/enterprise-accounts/domains-about-approval.md
  data/reusables/enterprise-accounts/domains-about-verification.md
  data/reusables/enterprise-accounts/domains-approving.md
  data/reusables/enterprise-accounts/domains-removing.md
  data/reusables/enterprise-accounts/domains-verifying.md
  data/reusables/enterprise-accounts/email-restrictions-about.md
  data/reusables/enterprise-accounts/email-restrictions-restricting.md
  data/reusables/enterprise-accounts/verified-domains-tab.md
  data/reusables/notifications/email-restrictions-verification.md
  data/reusables/organizations/add-a-domain.md
  data/reusables/organizations/continue-verifying-domain.md
  data/reusables/organizations/domains-approve-domain.md
  data/reusables/organizations/domains-approve-it-instead.md
  data/reusables/organizations/verified-domains.md
Labels: automated-reposync-pr, autoupdate, triage

#4882 Add note regarding validation of nuget packages
  content/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry.md
Labels: packages, waiting for review

#6030 Consistent use of "private" vs "internal" terms for GitHub Apps
  content/developers/apps/making-a-github-app-public-or-private.md
Labels: content, waiting for review

#6110 Issue 1981: Setting guidelines for contributors
  content/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors.md
  content/github/managing-your-work-on-github/managing-labels.md
Labels: content, waiting for review

#6407 repo sync
  script/fix-translation-errors.js
  script/i18n/homogenize-frontmatter.js
  script/lint-translation-files.js
  script/test-render-translation.js
  tests/linting/lint-files.js
Labels: automated-reposync-pr, autoupdate, triage

#6403 Update workflow queue limits
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  content/actions/reference/usage-limits-billing-and-administration.md
  data/reusables/github-actions/usage-workflow-queue-limits.md
Labels: triage

#6412 repo sync
  .github/workflows/crowdin-cleanup.yml
  data/reusables/code-scanning/analyze-go.md
  data/reusables/code-scanning/autobuild-add-build-steps.md
  script/i18n/homogenize-frontmatter.js
Labels: automated-reposync-pr, autoupdate, triage

#6362 Remove duplicated link
  content/admin/overview/index.md
Labels: GHE, waiting for review

#6490 repo sync
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/why-wasnt-my-application-for-a-student-developer-pack-approved.md
Labels: automated-reposync-pr, autoupdate, triage

#6491 repo sync
  content/github/authenticating-to-github/creating-a-strong-password.md
Labels: automated-reposync-pr, autoupdate, triage

#6507 repo sync
  data/reusables/dependabot/supported-package-managers.md
Labels: automated-reposync-pr, autoupdate, triage

#6209 Fix example code snippets
  content/developers/webhooks-and-events/securing-your-webhooks.md
Labels: waiting for review, webhooks

#6512 repo sync
  content/github/visualizing-repository-data-with-graphs/viewing-a-projects-contributors.md
Labels: automated-reposync-pr, autoupdate, triage

#6518 repo sync
  content/github/collaborating-with-issues-and-pull-requests/quickstart-for-communicating-on-github.md
Labels: automated-reposync-pr, autoupdate, triage

#6519 repo sync
  .github/workflows/update-status-labels-on-tracking-issues.yml
  includes/rest_operation.html
Labels: automated-reposync-pr, autoupdate, triage

#6437 Added intro, updated second line & open source contribution.md
  content/github/getting-started-with-github/finding-ways-to-contribute-to-open-source-on-github.md
  content/github/getting-started-with-github/git-cheatsheet.md
Labels: triage

#6520 repo sync
  contributing/content-style-guide.md
Labels: automated-reposync-pr, autoupdate, triage

#6522 repo sync
  script/content-migrations/comment-on-open-prs.js
  script/content-migrations/update-tocs.js
  script/helpers/git-utils.js
  script/helpers/github.js
Labels: automated-reposync-pr, autoupdate, triage

#6523 repo sync
  content/developers/apps/creating-a-github-app.md
  content/developers/github-marketplace/writing-a-listing-description-for-your-app.md
Labels: automated-reposync-pr, autoupdate, triage

#6414 Add intros
  content/github/setting-up-and-managing-your-github-profile/index.md
  content/github/setting-up-and-managing-your-github-user-account/index.md
Labels: Campus Experts + Docs program, ready to merge

#6533 repo sync
  assets/images/help/organizations/org-settings-link.png
  content/admin/policies/managing-pre-receive-hooks-on-the-github-enterprise-server-appliance.md
  content/admin/user-management/adding-people-to-teams.md
  content/admin/user-management/creating-teams.md
  content/admin/user-management/removing-users-from-teams-and-organizations.md
  content/admin/user-management/requiring-two-factor-authentication-for-an-organization.md
  content/code-security/security-overview/exploring-security-alerts.md
  content/github/managing-your-work-on-github/creating-a-project-board.md
  content/github/setting-up-and-managing-billing-and-payments-on-github/changing-the-duration-of-your-billing-cycle.md
  content/github/setting-up-and-managing-billing-and-payments-on-github/creating-and-paying-for-an-organization-on-behalf-of-a-client.md
  content/github/setting-up-and-managing-your-github-user-account/accessing-an-organization.md
  content/github/setting-up-and-managing-your-github-user-account/publicizing-or-hiding-organization-membership.md
  content/github/setting-up-and-managing-your-github-user-account/viewing-peoples-roles-in-an-organization.md
  content/organizations/collaborating-with-groups-in-organizations/viewing-insights-for-your-organization.md
  content/organizations/collaborating-with-your-team/creating-a-team-discussion.md
  content/organizations/collaborating-with-your-team/editing-or-deleting-a-team-discussion.md
  content/organizations/collaborating-with-your-team/pinning-a-team-discussion.md
  content/organizations/granting-access-to-your-organization-with-saml-single-sign-on/viewing-and-managing-a-members-saml-access-to-your-organization.md
  content/organizations/keeping-your-organization-secure/requiring-two-factor-authentication-in-your-organization.md
  content/organizations/keeping-your-organization-secure/viewing-whether-users-in-your-organization-have-2fa-enabled.md
  content/organizations/managing-access-to-your-organizations-project-boards/adding-an-outside-collaborator-to-a-project-board-in-your-organization.md
  content/organizations/managing-access-to-your-organizations-project-boards/managing-access-to-a-project-board-for-organization-members.md
  content/organizations/managing-access-to-your-organizations-project-boards/managing-an-individuals-access-to-an-organization-project-board.md
  content/organizations/managing-access-to-your-organizations-project-boards/managing-team-access-to-an-organization-project-board.md
  content/organizations/managing-access-to-your-organizations-project-boards/removing-an-outside-collaborator-from-an-organization-project-board.md
  content/organizations/managing-access-to-your-organizations-repositories/canceling-an-invitation-to-become-an-outside-collaborator-in-your-organization.md
  content/organizations/managing-access-to-your-organizations-repositories/converting-an-organization-member-to-an-outside-collaborator.md
  content/organizations/managing-access-to-your-organizations-repositories/converting-an-outside-collaborator-to-an-organization-member.md
  content/organizations/managing-access-to-your-organizations-repositories/managing-an-individuals-access-to-an-organization-repository.md
  content/organizations/managing-access-to-your-organizations-repositories/managing-team-access-to-an-organization-repository.md
  content/organizations/managing-access-to-your-organizations-repositories/reinstating-a-former-outside-collaborators-access-to-your-organization.md
  content/organizations/managing-access-to-your-organizations-repositories/removing-an-outside-collaborator-from-an-organization-repository.md
  content/organizations/managing-membership-in-your-organization/adding-people-to-your-organization.md
  content/organizations/managing-membership-in-your-organization/canceling-or-editing-an-invitation-to-join-your-organization.md
  content/organizations/managing-membership-in-your-organization/inviting-users-to-join-your-organization.md
  content/organizations/managing-membership-in-your-organization/reinstating-a-former-member-of-your-organization.md
  content/organizations/managing-membership-in-your-organization/removing-a-member-from-your-organization.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/giving-team-maintainer-permissions-to-an-organization-member.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/maintaining-ownership-continuity-for-your-organization.md
  content/organizations/migrating-to-improved-organization-permissions/converting-an-owners-team-to-improved-organization-permissions.md
  content/organizations/migrating-to-improved-organization-permissions/migrating-admin-teams-to-improved-organization-permissions.md
  content/organizations/organizing-members-into-teams/adding-organization-members-to-a-team.md
  content/organizations/organizing-members-into-teams/changing-team-visibility.md
  content/organizations/organizing-members-into-teams/creating-a-team.md
  content/organizations/organizing-members-into-teams/deleting-a-team.md
  content/organizations/organizing-members-into-teams/managing-code-review-assignment-for-your-team.md
  content/organizations/organizing-members-into-teams/managing-scheduled-reminders-for-your-team.md
  content/organizations/organizing-members-into-teams/moving-a-team-in-your-organizations-hierarchy.md
  content/organizations/organizing-members-into-teams/removing-organization-members-from-a-team.md
  content/organizations/organizing-members-into-teams/renaming-a-team.md
  content/organizations/organizing-members-into-teams/requesting-to-add-a-child-team.md
  content/organizations/organizing-members-into-teams/requesting-to-add-or-change-a-parent-team.md
  content/organizations/organizing-members-into-teams/setting-your-teams-profile-picture.md
  content/organizations/organizing-members-into-teams/synchronizing-a-team-with-an-identity-provider-group.md
  content/packages/learn-github-packages/viewing-packages.md
  data/reusables/profile/access_org.md
  data/reusables/profile/org_settings.md
  data/reusables/user_settings/access_org.md
  lib/enterprise-dates.json
Labels: automated-reposync-pr, autoupdate, triage

#6161 Update self hosted runner for an org steps
  content/actions/hosting-your-own-runners/adding-self-hosted-runners.md
  content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  content/actions/hosting-your-own-runners/monitoring-and-troubleshooting-self-hosted-runners.md
  content/actions/hosting-your-own-runners/removing-self-hosted-runners.md
  data/reusables/enterprise-accounts/actions-runners-tab.md
  data/reusables/github-actions/self-hosted-runner-configure-runner-group-access.md
  data/reusables/github-actions/self-hosted-runner-list.md
  data/reusables/github-actions/self-hosted-runner-navigate-to-repo-org-enterprise.md
  data/reusables/github-actions/self-hosted-runner-removing-a-runner.md
  data/reusables/github-actions/settings-sidebar-actions-runners.md
  data/reusables/organizations/settings-sidebar-actions.md
  data/reusables/repositories/settings-sidebar-actions.md
Labels: actions, waiting for review

#5886 Update migrating-to-github-container-registry-for-docker-images.md
  content/packages/working-with-a-github-packages-registry/migrating-to-the-container-registry-from-the-docker-registry.md
Labels: packages, triage, waiting for review

#6543 repo sync
  .github/PULL_REQUEST_TEMPLATE.md
  content/rest/reference/permissions-required-for-github-apps.md
Labels: automated-reposync-pr, autoupdate, triage

#6544 repo sync
  content/code-security/supply-chain-security/configuration-options-for-dependency-updates.md
  content/code-security/supply-chain-security/enabling-and-disabling-version-updates.md
  data/reusables/dependabot/warning-ignore-option.md
Labels: automated-reposync-pr, autoupdate, triage

#6546 repo sync
  content/rest/reference/permissions-required-for-github-apps.md
Labels: automated-reposync-pr, autoupdate, triage

#6547 repo sync
  includes/all-articles-category.html
  includes/all-articles-product.html
  includes/category-articles-list.html
  includes/product-articles-list.html
Labels: automated-reposync-pr, autoupdate, triage

#6557 repo sync
  assets/images/help/discussions/category-in-sidebar.png
  assets/images/help/discussions/change-category-drop-down.png
  assets/images/help/discussions/search-and-filter-controls.png
  assets/images/help/issues/labels-drop-down.png
  assets/images/help/issues/labels-in-sidebar.png
  content/discussions/collaborating-with-your-community-using-discussions/about-discussions.md
  content/discussions/collaborating-with-your-community-using-discussions/collaborating-with-maintainers-using-discussions.md
  content/discussions/managing-discussions-for-your-community/managing-categories-for-discussions-in-your-repository.md
  content/discussions/managing-discussions-for-your-community/managing-discussions-in-your-repository.md
  content/discussions/quickstart.md
  content/github/managing-your-work-on-github/managing-labels.md
  data/reusables/discussions/about-announcement-format.md
  data/reusables/discussions/about-categories-and-formats.md
  data/reusables/discussions/you-can-label-discussions.md
Labels: automated-reposync-pr, autoupdate, triage

#6364 Update article on the GitHub CLI
  content/github/getting-started-with-github/github-cli.md
Labels: Campus Experts + Docs program

#6427 Fix procedure about configuring LMS #6273
  content/education/manage-coursework-with-github-classroom/manage-classrooms.md
Labels: Campus Experts + Docs program, waiting for review

#6317 Update Docker Registry workflow examples for docker/build-push-action@v2
  content/actions/guides/publishing-docker-images.md
  content/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions.md
  data/reusables/github-actions/docker-tag-with-ref.md
Labels: packages, ready to merge

#6568 repo sync
  components/Breadcrumbs.tsx
  components/DefaultLayout.tsx
  components/ExampleComponent.tsx
  components/Header.tsx
  components/ScrollButton.tsx
  components/SidebarNav.tsx
  components/context/MainContext.tsx
  components/context/ProductLandingContext.tsx
  components/hooks/useFeatureFlags.tsx
  components/landing/AllArticlesProduct.tsx
  components/landing/HomepageVersionPicker.tsx
  components/landing/LandingSection.tsx
  components/landing/ProductArticlesList.tsx
  components/lib/getThemeProps.tsx
  components/product/AllProductsLink.tsx
  components/product/ProductSiteTree.tsx
  components/product/ProductSiteTreeNew.tsx
  pages/[versionId]/[productId]/index.tsx
  pages/_app.tsx
  pages/_document.tsx
Labels: automated-reposync-pr, autoupdate, triage

#6581 repo sync
  includes/breadcrumbs.html
  includes/sidebar-product.html
  middleware/contextualizers/breadcrumbs.js
  tests/content/category-pages.js
  tests/content/featured-links.js
  tests/content/site-tree.js
  tests/fixtures/developer-redirects.json
  tests/fixtures/rest-redirects.json
  tests/helpers/schemas/site-tree-schema.js
  tests/linting/lint-files.js
  tests/rendering/breadcrumbs.js
  tests/rendering/header.js
  tests/rendering/server.js
  tests/rendering/sidebar.js
  tests/routing/developer-site-redirects.js
  tests/routing/redirects.js
  tests/unit/liquid-helpers.js
  tests/unit/page.js
  tests/unit/pages.js
Labels: automated-reposync-pr, autoupdate, triage

#6587 repo sync
  middleware/contextualizers/generic-toc.js
Labels: automated-reposync-pr, autoupdate, triage

#6316 Style guide fix
  content/actions/reference/context-and-expression-syntax-for-github-actions.md
Labels: ready to merge, triage

#6440 Add required maven-publish plugin to examples
  content/actions/guides/publishing-java-packages-with-gradle.md
Labels: ready to merge, triage

#6185 Update treemap URL in rendering-data-as-graphs.md
  content/rest/guides/rendering-data-as-graphs.md
Labels: ready to merge, triage

#6585 Add introduction sentence to manage large files category
  content/github/managing-large-files/index.md
Labels: ready to merge, triage

#6588 repo sync
  content/github/authenticating-to-github/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication.md
  lib/data-directory.js
  lib/page.js
  lib/redis-accessor.js
  lib/search/algolia-get-remote-index-names.js
  lib/search/algolia-search-index.js
  lib/search/cached-index-names.json
  middleware/index.js
  package-lock.json
  package.json
  script/check-english-links.js
  script/create-glossary-from-spreadsheet.js
  script/early-access/symlink-from-local-repo.js
  script/early-access/update-data-and-image-paths.js
  script/enterprise-server-deprecations/archive-version.js
  script/enterprise-server-deprecations/remove-version-markup.js
  script/enterprise-server-releases/create-graphql-files.js
  script/enterprise-server-releases/create-rest-files.js
  script/enterprise-server-releases/create-webhook-files.js
  script/enterprise-server-releases/ghes-to-ghae-versioning.js
  script/enterprise-server-releases/release-banner.js
  script/fix-translation-errors.js
  script/graphql/update-files.js
  script/graphql/utils/process-upcoming-changes.js
  script/move-reusables-to-markdown.js
  script/purge-fastly-by-url.js
  script/reset-translated-file.js
  script/rest/openapi-check.js
  script/rest/update-files.js
  tests/content/liquid-line-breaks.js
  tests/fixtures/changelog-entry.json
  tests/graphql/build-changelog-test.js
  tests/linting/lint-files.js
  tests/rendering/server.js
  tests/routing/developer-site-redirects.js
Labels: automated-reposync-pr, autoupdate, triage

#6591 repo sync
  content/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/upgrading-from-dependabotcom-to-github-native-dependabot.md
Labels: automated-reposync-pr, autoupdate, triage

#6596 repo sync
  assets/images/help/package-registry/packages-diagram-with-container-registry.png
  assets/images/help/package-registry/packages-diagram-without-container-registry.png
Labels: automated-reposync-pr, autoupdate, triage

#6551 fix minor typo in "About continuous integration" guide
  content/actions/guides/about-continuous-integration.md
Labels: triage

#6602 repo sync
  content/developers/apps/guides/using-content-attachments.md
Labels: automated-reposync-pr, autoupdate, triage

#6606 repo sync
  content/developers/github-marketplace/using-the-github-marketplace-api-in-your-app/testing-your-app.md
Labels: automated-reposync-pr, autoupdate, triage

#6608 repo sync
  content/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/configuration-options-for-dependency-updates.md
Labels: automated-reposync-pr, autoupdate, triage

#6616 repo sync
  package-lock.json
Labels: automated-reposync-pr, autoupdate, triage

#6618 repo sync
  assets/images/help/desktop/diff-selection.png
  assets/images/help/desktop/expand-diff-view.png
  content/desktop/contributing-and-collaborating-using-github-desktop/adding-and-cloning-repositories/cloning-and-forking-repositories-from-github-desktop.md
  content/desktop/contributing-and-collaborating-using-github-desktop/making-changes-in-a-branch/committing-and-reviewing-changes-to-your-project.md
Labels: automated-reposync-pr, autoupdate, triage

#6621 repo sync
  .github/CODEOWNERS
  components/Contribution.tsx
  components/DefaultLayout.tsx
  components/Header.tsx
  components/context/MainContext.tsx
  components/landing/FeaturedArticles.tsx
  components/landing/HomepageVersionPicker.tsx
  components/landing/LandingHero.tsx
  components/lib/getThemeProps.tsx
  components/product/ProductSiteTree.tsx
  lib/schema-event.js
  middleware/events.js
  middleware/render-page.js
  package-lock.json
  package.json
  pages/[versionId]/[productId]/index.tsx
  pages/_app.tsx
  pages/_document.tsx
Labels: automated-reposync-pr, autoupdate, triage

#6623 repo sync
  components/SidebarNav.tsx
  components/context/MainContext.tsx
  components/context/ProductLandingContext.tsx
  components/hooks/useFeatureFlags.tsx
  components/landing/AllArticlesProduct.tsx
  components/landing/ProductArticlesList.tsx
  components/product/ProductSiteTree.tsx
  components/product/ProductSiteTreeNew.tsx
  pages/[versionId]/[productId]/index.tsx
Labels: automated-reposync-pr, autoupdate, triage

#6624 repo sync
  contributing/content-model.md
Labels: automated-reposync-pr, autoupdate, triage

#6575 Add warning notice on GitHub Jobs Deprecation
  content/github/finding-talent-with-github-jobs/about-github-jobs.md
  content/github/setting-up-and-managing-your-github-user-account/managing-user-account-settings/what-does-the-available-for-hire-checkbox-do.md
Labels: waiting for review

#6625 repo sync
  .github/allowed-actions.js
  .github/workflows/browser-test.yml
  .github/workflows/dry-run-sync-algolia-search-indices.yml
  .github/workflows/js-lint.yml
  .github/workflows/link-check-dotcom.yml
  .github/workflows/link-check-ghae.yml
  .github/workflows/link-check-ghes.yml
  .github/workflows/pa11y.yml
  .github/workflows/sync-algolia-search-indices.yml
  .github/workflows/sync-single-english-algolia-index.yml
  .github/workflows/test-windows.yml
  .github/workflows/test.yml
  .github/workflows/yml-lint.yml
  .husky/.gitignore
  .husky/pre-commit
  .husky/pre-push
  .node-version
  CONTRIBUTING.md
  package-lock.json
  package.json
Labels: automated-reposync-pr, autoupdate, triage

#6513 Clariry that App ID !== Client ID
  content/developers/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps.md
Labels: github apps, waiting for review

#6614 Updated the Glossary article
  content/github/getting-started-with-github/quickstart/fork-a-repo.md
  content/github/getting-started-with-github/quickstart/github-glossary.md
  data/glossaries/external.yml
Labels: Campus Experts + Docs program

#6633 repo sync
  content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/increasing-storage-capacity.md
  content/code-security/secret-security/about-secret-scanning.md
  content/code-security/secret-security/configuring-secret-scanning-for-your-repositories.md
  tests/routing/developer-site-redirects.js
Labels: automated-reposync-pr, autoupdate, triage

#6605 Add intro for "Importing your projects to GitHub" category
  content/github/importing-your-projects-to-github/index.md
Labels: Campus Experts + Docs program, ready to merge, triage

#6723 repo sync
  content/code-security/secure-coding/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-runner-in-your-ci-system.md
  content/code-security/secure-coding/using-codeql-code-scanning-with-your-existing-ci-system/running-codeql-runner-in-your-ci-system.md
  data/reusables/code-scanning/codeql-runner-analyze-example.md
Labels: automated-reposync-pr, autoupdate, triage

#6724 repo sync
  content/admin/advanced-security/configuring-secret-scanning-for-your-appliance.md
  content/code-security/secure-coding/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
Labels: automated-reposync-pr, autoupdate, triage

#6730 repo sync
  content/developers/apps/building-oauth-apps/authorizing-oauth-apps.md
Labels: automated-reposync-pr, autoupdate, triage

#6731 repo sync
  script/i18n/homogenize-frontmatter.js
Labels: automated-reposync-pr, autoupdate, triage

#6622 Delete content/github/finding-talent-with-github-jobs directory
  content/github/finding-talent-with-github-jobs/about-github-jobs.md
  content/github/finding-talent-with-github-jobs/index.md
  content/github/index.md
Labels: content, waiting for review

#6736 repo sync
  .github/workflows/send-crowdin-prs-to-boards.yml
Labels: automated-reposync-pr, autoupdate, triage

#6739 repo sync
  .github/workflows/add-review-template.yml
Labels: automated-reposync-pr, autoupdate, triage

#6741 repo sync
  .github/workflows/site-policy-sync.yml
Labels: automated-reposync-pr, autoupdate, triage

#6742 repo sync
  .eslintrc.js
  .github/workflows/browser-test.yml
  .github/workflows/build-docker-image.yml
  .github/workflows/pa11y.yml
  Dockerfile
  app.json
  components/Contribution.tsx
  components/Header.tsx
  components/landing/FeaturedArticles.tsx
  lib/page.js
  lib/react/babel.js
  lib/react/engine.js
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  react/README.md
  script/content-migrations/add-tags-to-articles.js
  script/content-migrations/deduplicate-enterprise-assets.js
  tests/README.md
  webpack.config.js
Labels: automated-reposync-pr, autoupdate, triage

#6743 repo sync
  content/developers/apps/building-github-apps/authenticating-with-github-apps.md
Labels: automated-reposync-pr, autoupdate, triage

#6732 Update link phrasing to correct grammatical tense
  content/github/authenticating-to-github/connecting-to-github-with-ssh/adding-a-new-ssh-key-to-your-github-account.md
Labels: content, ready to merge

#6548 Update no-verification-disposable-emails.md
  data/reusables/user_settings/no-verification-disposable-emails.md
Labels: ready to merge

#6750 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
Labels: automated-reposync-pr, autoupdate, triage

#6758 repo sync
  content/code-security/getting-started/about-securing-your-repository.md
  content/github/administering-a-repository/index.md
  content/github/administering-a-repository/securing-your-repository.md
  content/rest/reference/secret-scanning.md
Labels: automated-reposync-pr, autoupdate, triage

#6615 Tweak information regarding the GitHub GPG key
  content/github/authenticating-to-github/managing-commit-signature-verification/about-commit-signature-verification.md
Labels: content, waiting for review

#6760 repo sync
  assets/images/help/images/example-script-injection-mitigated.png
  assets/images/help/images/example-script-injection-pr-title.png
  assets/images/help/images/example-script-injection-result.png
  content/actions/creating-actions/creating-a-composite-run-steps-action.md
  content/actions/creating-actions/creating-a-docker-container-action.md
  content/actions/creating-actions/creating-a-javascript-action.md
  content/actions/learn-github-actions/security-hardening-for-github-actions.md
  content/actions/reference/context-and-expression-syntax-for-github-actions.md
  data/reusables/github-actions/context-injection-warning.md
  tests/meta/repository-references.js
Labels: automated-reposync-pr, autoupdate, triage

#6768 repo sync
  data/release-notes/2-21/22.yml
  data/release-notes/2-22/14.yml
  data/release-notes/3-0/8.yml
Labels: automated-reposync-pr, autoupdate, triage

#6598 Update issue_comment Webhook Description
  data/reusables/webhooks/issue_comment_short_desc.md
Labels: waiting for review, webhooks

#6777 repo sync
  content/rest/reference/permissions-required-for-github-apps.md
  package-lock.json
  package.json
  script/content-migrations/remove-map-topics.js
  script/helpers/add-redirect-to-frontmatter.js
  script/i18n/homogenize-frontmatter.js
  script/move-category-to-product.js
  script/reconcile-filenames-with-ids.js
  script/search/algolia-client.js
  script/search/algolia-get-remote-index-names.js
  script/search/algolia-search-index.js
  script/search/build-records.js
  script/search/find-indexable-pages.js
  script/search/lunr-get-index-names.js
  script/search/lunr-search-index.js
  script/search/parse-page-sections-into-records.js
  script/search/rank.js
  script/search/sync.js
  script/search/validate-records.js
  script/sync-search-indices.js
  tests/unit/search/parse-page-sections-into-records.js
  tests/unit/search/rank.js
Labels: automated-reposync-pr, autoupdate, triage

#6695 Correct steps outputs example -- it needs an id
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, ready to merge

#6660 Small tweak to an example file pattern match
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, ready to merge

#6796 repo sync
  content/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request.md
  content/github/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/commenting-on-a-pull-request.md
  content/issues/tracking-your-work-with-issues/creating-issues/creating-an-issue.md
Labels: automated-reposync-pr, autoupdate, triage

#6809 repo sync
  content/github/administering-a-repository/configuring-pull-request-merges/managing-auto-merge-for-pull-requests-in-your-repository.md
  content/github/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/automatically-merging-a-pull-request.md
  data/reusables/pull_requests/auto-merge-requires-branch-protection.md
Labels: automated-reposync-pr, autoupdate, triage

#6812 repo sync
  package-lock.json
Labels: automated-reposync-pr, autoupdate, triage

#6815 repo sync
  assets/images/help/sponsors/access-github-sponsors-dashboard.png
  assets/images/help/sponsors/draft-tier-edit.png
  assets/images/help/sponsors/recommended-rewards.png
  assets/images/help/sponsors/tier-editor-button.png
  content/sponsors/receiving-sponsorships-through-github-sponsors/managing-your-sponsorship-tiers.md
  data/reusables/sponsors/navigate-to-sponsors-dashboard.md
  data/reusables/sponsors/tier-details.md
  javascripts/display-tool-specific-content.js
  javascripts/events.js
  lib/hydro.js
  lib/schema-event.js
  tests/rendering/events.js
Labels: automated-reposync-pr, autoupdate, triage

#6817 repo sync
  content/github/administering-a-repository/managing-branches-in-your-repository/changing-the-default-branch.md
  content/github/administering-a-repository/managing-branches-in-your-repository/renaming-a-branch.md
  content/github/setting-up-and-managing-your-github-user-account/managing-user-account-settings/permission-levels-for-a-user-account-repository.md
  content/organizations/managing-access-to-your-organizations-repositories/repository-permission-levels-for-an-organization.md
Labels: automated-reposync-pr, autoupdate, triage

#6818 repo sync
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
Labels: automated-reposync-pr, autoupdate, triage

#6822 repo sync
  content/github/site-policy/dmca-takedown-policy.md
  content/github/site-policy/github-acceptable-use-policies.md
  content/github/site-policy/guide-to-submitting-a-dmca-takedown-notice.md
Labels: automated-reposync-pr, autoupdate, triage

#6754 Added Intro for "Writing on GitHub"
  content/github/writing-on-github/index.md
Labels: Campus Experts + Docs program, ready to merge

#6824 repo sync
  content/github/site-policy/github-additional-product-terms.md
  content/github/site-policy/github-terms-for-additional-products-and-features.md
  content/github/site-policy/index.md
Labels: automated-reposync-pr, autoupdate, triage

#6774 typo: "banch"
  content/github/administering-a-repository/managing-branches-in-your-repository/renaming-a-branch.md
Labels: triage
