Repository github/docs, pull requests merged in 2021-10, with the labels that each got.

#10450 repo sync
  .github/actions-scripts/fr-add-docs-reviewers-requests.js
  .github/actions-scripts/projects.js
  .github/actions-scripts/ready-for-docs-review.js
  .github/workflows/os-ready-for-review.yml
  .github/workflows/ready-for-doc-review.yml
Labels: triage, autoupdate, automated-reposync-pr

#10413 Fix incorrect information about SCIM
  content/github/setting-up-and-managing-your-enterprise/managing-users-in-your-enterprise/viewing-and-managing-a-users-saml-access-to-your-enterprise.md
  content/organizations/granting-access-to-your-organization-with-saml-single-sign-on/viewing-and-managing-a-members-saml-access-to-your-organization.md
  data/reusables/saml/about-linked-identities.md
Labels: content

#10453 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: triage, autoupdate, automated-reposync-pr

#10361 Update backing-up-a-repository.md
  content/repositories/archiving-a-github-repository/backing-up-a-repository.md
Labels: content, waiting for review

#10376 Add missing "Open Git Bash" step
  content/get-started/getting-started-with-git/associating-text-editors-with-git.md
Labels: content, waiting for review

#10454 repo sync
  .github/actions-scripts/projects.js
  .github/actions-scripts/ready-for-docs-review.js
Labels: triage, autoupdate, automated-reposync-pr

#10457 repo sync
  .github/workflows/check-broken-links-github-github.yml
  .github/workflows/repo-sync.yml
  script/check-github-github-links.js
  script/helpers/git-utils.js
  tests/routing/developer-site-redirects.js
Labels: triage, autoupdate, automated-reposync-pr

#10458 repo sync
  .github/workflows/prod-build-deploy.yml
  script/deployment/deploy-to-production.js
  script/deployment/deploy-to-staging.js
  translations/pt-BR/content/actions/learn-github-actions/managing-complex-workflows.md
  translations/zh-CN/content/authentication/authenticating-with-saml-single-sign-on/about-authentication-with-saml-single-sign-on.md
Labels: triage, autoupdate, automated-reposync-pr

#10463 repo sync
  .github/workflows/os-ready-for-review.yml
Labels: triage, autoupdate, automated-reposync-pr

#10466 repo sync
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  lib/webhooks/static/dotcom/push.payload.json
Labels: triage, autoupdate, automated-reposync-pr

#10527 repo sync
  content/github/site-policy/github-terms-for-additional-products-and-features.md
Labels: triage, autoupdate, automated-reposync-pr

#10530 repo sync
  content/repositories/creating-and-managing-repositories/about-repositories.md
Labels: triage, autoupdate, automated-reposync-pr

#10532 repo sync
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
Labels: triage, autoupdate, automated-reposync-pr

#10595 repo sync
  content/github/copilot/about-github-copilot-telemetry.md
  content/github/copilot/github-copilot-telemetry-terms.md
  content/github/copilot/index.md
  content/github/copilot/telemetry-terms.md
  data/variables/product.yml
Labels: triage, autoupdate, automated-reposync-pr

#10431 Fixed Typographical Errors
  CONTRIBUTING.md
Labels: content, hacktoberfest-accepted, ready to merge

#10261 Add IP Allow List Events to Org Security Audit Log Review
  content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
Labels: content, ready to merge

#10501 Adds Further Reading Links to certain Codespaces docs
  content/codespaces/managing-codespaces-for-your-organization/managing-encrypted-secrets-for-your-repository-and-organization-for-codespaces.md
  content/codespaces/managing-codespaces-for-your-organization/managing-repository-access-for-your-organizations-codespaces.md
  content/codespaces/managing-codespaces-for-your-organization/reviewing-your-organizations-audit-logs-for-codespaces.md
  content/codespaces/managing-your-codespaces/managing-encrypted-secrets-for-your-codespaces.md
  content/codespaces/managing-your-codespaces/managing-repository-access-for-your-codespaces.md
  content/codespaces/managing-your-codespaces/reviewing-your-security-logs-for-codespaces.md
Labels: content, hacktoberfest-accepted, waiting for review

#10606 repo sync
  content/rest/overview/api-previews.md
Labels: triage, autoupdate, automated-reposync-pr

#10426 Update device flow OAuth app responses
  assets/images/github-apps/device_authorization_page_for_user_code.png
  content/developers/apps/building-oauth-apps/authorizing-oauth-apps.md
  data/reusables/apps/oauth-auth-vary-response.md
Labels: content, waiting for review

#10616 repo sync
  assets/images/enterprise/3.2/repository/code-scanning-missing-analysis.png
  assets/images/help/repository/code-scanning-analysis-not-found.png
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/setting-up-code-scanning-for-a-repository.md
Labels: triage, autoupdate, automated-reposync-pr

#10617 repo sync
  content/search-github/getting-started-with-searching-on-github/about-searching-on-github.md
  lib/enterprise-dates.json
Labels: triage, autoupdate, automated-reposync-pr

#10490 Replace old unsubscribe image with the latest one
  assets/images/help/notifications-v2/unsubscribe-from-main-inbox.png
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/managing-subscriptions-for-activity-on-github/managing-your-subscriptions.md
Labels: content, hacktoberfest-accepted, ready to merge

#10622 repo sync
  .github/workflows/staging-build-pr.yml
  .github/workflows/staging-deploy-pr.yml
  .github/workflows/staging-undeploy-pr.yml
Labels: triage, autoupdate, automated-reposync-pr

#10624 repo sync
  .github/workflows/prod-build-deploy.yml
  .github/workflows/staging-deploy-pr.yml
  .github/workflows/staging-undeploy-pr.yml
Labels: triage, autoupdate, automated-reposync-pr

#10620 Fix link to self-review
  .github/PULL_REQUEST_TEMPLATE.md
Labels: content, hacktoberfest-accepted, ready to merge

#10627 repo sync
  assets/images/help/images/deploy-graph.png
  content/actions/automating-builds-and-tests/about-continuous-integration.md
  content/actions/deployment/about-continuous-deployment.md
  content/actions/deployment/deploying-to-amazon-elastic-container-service.md
  content/actions/deployment/deploying-to-azure-app-service.md
  content/actions/deployment/deploying-to-google-kubernetes-engine.md
  content/actions/deployment/deploying-with-github-actions.md
  content/actions/deployment/index.md
  content/actions/deployment/using-environments-for-deployment.md
  content/actions/deployment/viewing-deployment-history.md
  content/actions/index.md
  content/actions/learn-github-actions/creating-workflow-templates.md
  content/actions/learn-github-actions/managing-complex-workflows.md
  content/actions/learn-github-actions/using-workflow-templates.md
  content/actions/learn-github-actions/workflow-syntax-for-github-actions.md
  content/actions/managing-workflow-runs/index.md
  content/actions/managing-workflow-runs/reviewing-deployments.md
  content/actions/managing-workflow-runs/skipping-workflow-runs.md
  content/actions/monitoring-and-troubleshooting-workflows/index.md
  content/actions/monitoring-and-troubleshooting-workflows/notifications-for-workflow-runs.md
  content/actions/security-guides/security-hardening-for-github-actions.md
  content/developers/overview/index.md
  content/rest/reference/repos.md
  data/reusables/actions/about-environments.md
  data/reusables/actions/cd-templates-actions.md
  data/reusables/actions/concurrency-beta.md
  data/reusables/actions/delete-env-key.md
  data/reusables/actions/environment-deployment-event.md
  data/reusables/actions/environment-example.md
  data/reusables/github-actions/name-environment.md
  data/reusables/github-actions/new-environment.md
  data/reusables/repositories/workflow-notifications.md
Labels: triage, autoupdate, automated-reposync-pr

#10630 repo sync
  .github/workflows/staging-undeploy-pr.yml
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files.md
  script/deployment/create-app.js
  script/deployment/create-staging-app-name.js
Labels: triage, autoupdate, automated-reposync-pr

#10632 repo sync
  content/graphql/guides/managing-enterprise-accounts.md
Labels: triage, autoupdate, automated-reposync-pr

#10636 repo sync
  script/deployment/create-app.js
Labels: triage, autoupdate, automated-reposync-pr

#10685 repo sync
  content/rest/overview/api-previews.md
Labels: triage, autoupdate, automated-reposync-pr

#10383 added info about the 64 char limit for common name
  content/pages/getting-started-with-github-pages/securing-your-github-pages-site-with-https.md
Labels: content, ready to merge

#10776 repo sync
  content/github/collaborating-with-pull-requests/collaborating-on-repositories-with-code-quality-features/about-status-checks.md
Labels: triage, autoupdate, automated-reposync-pr

#10785 repo sync
  data/reusables/code-scanning/upload-sarif-alert-limit.md
Labels: triage, autoupdate, automated-reposync-pr

#10794 repo sync
  contributing/content-style-guide.md
Labels: triage, autoupdate, automated-reposync-pr

#10795 repo sync
  content/search-github/searching-on-github/searching-code.md
  data/reusables/actions/ae-hosted-runners-beta.md
Labels: triage, autoupdate, automated-reposync-pr
