Repository github/docs, pull requests merged in 2021-06, with the labels that each got.

#6779 Added clarification for pre-subdomain isolation URLs
  content/admin/configuration/configuring-network-settings/enabling-subdomain-isolation.md
Labels: enterprise admin, waiting for review

#6862 Clarifying repository locking behaviour for migrations
  data/reusables/enterprise_migrations/locking-repositories.md
Labels: GHE, waiting for review

#6965 repo sync
  content/code-security/secure-coding/using-codeql-code-scanning-with-your-existing-ci-system/running-codeql-runner-in-your-ci-system.md
Labels: automated-reposync-pr, autoupdate, triage

#6941 Remove 'public' clarification for repos eligible for community files
  content/communities/setting-up-your-project-for-healthy-contributions/creating-a-default-community-health-file.md
Labels: triage

#6966 repo sync
  assets/images/help/repository/code-scanning-free-text-search-areas.png
  assets/images/help/repository/code-scanning-search-alerts.png
  content/code-security/secure-coding/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
Labels: automated-reposync-pr, autoupdate, triage

#6967 repo sync
  content/codespaces/setting-up-your-codespace/personalizing-codespaces-for-your-account.md
Labels: automated-reposync-pr, autoupdate, triage

#6980 repo sync
  .github/workflows/confirm-internal-staff-work-in-docs.yml
  lib/release-notes-utils.js
Labels: automated-reposync-pr, autoupdate, triage

#6808 docs: add example of terraform-registry configuration
  content/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/configuration-options-for-dependency-updates.md
Labels: dependabot, ready to merge

#6243 updated the link to release of `apache/log4j` repo
  content/github/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
Labels: ready to merge

#6989 Add co-authors reference to Mars 2020 contributor badge
  content/github/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
Labels: triage

#6999 repo sync
  content/actions/guides/building-and-testing-xamarin-applications.md
Labels: automated-reposync-pr, autoupdate, triage

#6800 Change `productVersions` to `versions` in content templates
  contributing/content-templates.md
Labels: contributing docs, ready to merge

#7009 Added a "the" to Codespaces beta language
  content/codespaces/about-codespaces.md
Labels: triage

#6832 Added bug hunter and campus expert badge
  content/github/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
Labels: ready to merge

#7011 repo sync
  lib/excluded-links.js
  package-lock.json
  package.json
Labels: automated-reposync-pr, autoupdate, triage

#7013 repo sync
  components/Breadcrumbs.tsx
  components/HeaderNotifications.tsx
  components/LanguagePicker.tsx
  components/ScrollButton.tsx
  components/TruncateLines.tsx
  components/article/ArticleTitle.tsx
  components/article/ArticleVersionPicker.tsx
  components/article/PrinterIcon.tsx
  components/context/MainContext.tsx
  components/context/ProductLandingContext.tsx
  components/context/TocLandingContext.tsx
  components/landing/FeaturedArticles.tsx
  components/landing/GuideCards.tsx
  components/landing/ProductArticlesList.tsx
  components/landing/ProductLanding.tsx
  components/landing/TableOfContents.tsx
  components/landing/TocLanding.tsx
  components/product/SidebarProduct.tsx
  content/github/setting-up-and-managing-your-enterprise/managing-users-in-your-enterprise/roles-in-an-enterprise.md
  pages/[versionId]/[productId]/[...restPage]/index.tsx
  pages/[versionId]/[productId]/index.tsx
  stylesheets/index.scss
  stylesheets/lists.scss
  stylesheets/opacity.scss
  stylesheets/utilities.scss
Labels: automated-reposync-pr, autoupdate, triage

#7020 repo sync
  .github/workflows/update-status-labels-on-tracking-issues.yml
Labels: automated-reposync-pr, autoupdate, triage

#7021 repo sync
  content/actions/creating-actions/creating-a-javascript-action.md
Labels: automated-reposync-pr, autoupdate, triage

#7019 Updated reusables and GPG commands for windows
  data/reusables/gpg/copy-gpg-key-id.md
  data/reusables/gpg/list-keys-with-note.md
Labels: waiting for review

#6888 Add introduction sentence to searching for information on GitHub
  content/github/searching-for-information-on-github/index.md
Labels: Campus Experts + Docs program, waiting for review

#7041 repo sync
  assets/images/help/repository/code-scanning-check-failure-setting.png
  content/code-security/secure-coding/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  content/code-security/secure-coding/automatically-scanning-your-code-for-vulnerabilities-and-errors/triaging-code-scanning-alerts-in-pull-requests.md
Labels: automated-reposync-pr, autoupdate, triage

#7045 repo sync
  content/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/configuration-options-for-dependency-updates.md
  content/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/managing-pull-requests-for-dependency-updates.md
Labels: automated-reposync-pr, autoupdate, triage

#7050 repo sync
  components/Breadcrumbs.tsx
  components/Header.tsx
  components/LanguagePicker.tsx
  components/Link.tsx
  components/MobileProductDropdown.tsx
  components/SidebarNav.tsx
  components/VersionPicker.tsx
  components/article/ArticleVersionPicker.tsx
  components/landing/FeaturedArticles.tsx
  components/landing/GuideCards.tsx
  components/landing/HomepageVersionPicker.tsx
  components/landing/LandingHero.tsx
  components/landing/ProductArticlesList.tsx
  components/landing/ProductLanding.tsx
  components/landing/SponsorsExamples.tsx
  components/landing/TableOfContents.tsx
  components/product/SidebarProduct.tsx
  pages/[versionId]/[productId]/[...restPage]/index.tsx
Labels: automated-reposync-pr, autoupdate, triage

#6783 Added Cloning context
  content/github/getting-started-with-github/quickstart/create-a-repo.md
Labels: Campus Experts + Docs program, ready to merge, triage

#7051 repo sync
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-xenserver.md
  content/billing/managing-your-github-billing-settings/viewing-your-subscriptions-and-billing-date.md
  data/release-notes/enterprise-server/3-0/8.yml
  data/release-notes/enterprise-server/3-1/0-rc1.yml
  data/release-notes/enterprise-server/3-1/0.yml
  data/variables/release_candidate.yml
Labels: automated-reposync-pr, autoupdate, triage

#7053 repo sync
  components/DefaultLayout.tsx
  components/context/MainContext.tsx
  feature-flags.json
  middleware/render-page.js
  pages/_app.tsx
  tests/browser/browser.js
Labels: automated-reposync-pr, autoupdate, triage

#6887 Added/Improved Intros for the Map Topics
  content/github/getting-started-with-github/exploring-projects-on-github/index.md
  content/github/getting-started-with-github/getting-started-with-git/index.md
  content/github/getting-started-with-github/learning-about-github/index.md
  content/github/getting-started-with-github/quickstart/index.md
  content/github/getting-started-with-github/signing-up-for-github/index.md
  content/github/getting-started-with-github/using-git/index.md
  content/github/getting-started-with-github/using-github/index.md
Labels: Campus Experts + Docs program, waiting for review

#7054 repo sync
  content/README.md
  contributing/content-markup-reference.md
  includes/tool-switcher.html
  javascripts/display-tool-specific-content.js
  lib/frontmatter.js
  lib/liquid-tags/extended-markdown.js
  lib/schema-event.js
Labels: automated-reposync-pr, autoupdate, triage

#7057 repo sync
  content/admin/user-management/monitoring-activity-in-your-enterprise/audited-actions.md
  content/billing/managing-billing-for-your-github-account/how-does-upgrading-or-downgrading-affect-the-billing-process.md
  content/code-security/supply-chain-security/managing-vulnerabilities-in-your-projects-dependencies/about-managing-vulnerable-dependencies.md
  content/github/collaborating-with-pull-requests/working-with-forks/what-happens-to-forks-when-a-repository-is-deleted-or-changes-visibility.md
  content/github/managing-large-files/versioning-large-files/about-git-large-file-storage.md
  content/github/site-policy-deprecated/github-connect-addendum-to-the-github-enterprise-license-agreement.md
  content/github/site-policy/github-government-takedown-policy.md
  content/github/site-policy/github-username-policy.md
  content/graphql/guides/using-the-explorer.md
  content/graphql/overview/resource-limitations.md
  script/content-migrations/update-headers.js
Labels: automated-reposync-pr, autoupdate, triage

#7060 repo sync
  content/actions/reference/encrypted-secrets.md
Labels: automated-reposync-pr, autoupdate, triage

#7075 repo sync
  content/github/site-policy/github-acceptable-use-policies.md
  content/github/site-policy/github-community-guidelines.md
Labels: automated-reposync-pr, autoupdate, triage

#7078 repo sync
  assets/images/help/repository/secret-scanning-add-custom-pattern.png
  assets/images/help/repository/secret-scanning-create-custom-pattern.png
  assets/images/help/repository/secret-scanning-remove-custom-pattern.png
  components/SupportSection.tsx
  components/Survey.tsx
  content/code-security/secret-security/about-secret-scanning.md
  content/code-security/secret-security/configuring-secret-scanning-for-your-repositories.md
  content/code-security/secret-security/defining-custom-patterns-for-secret-scanning.md
  content/code-security/secret-security/index.md
  data/release-notes/enterprise-server/3-1/0.yml
  data/reusables/repositories/navigate-to-ghas-settings.md
  data/reusables/repositories/secret-scanning-add-custom-pattern.md
  data/reusables/secret-scanning/about-secret-scanning.md
  data/reusables/secret-scanning/secret-scanning-process.md
  data/ui.yml
  includes/article.html
  includes/generic-toc-flat.html
  includes/generic-toc-nested.html
  includes/support-section.html
  includes/survey.html
  javascripts/events.js
  javascripts/index.js
  javascripts/survey.js
  lib/create-tree.js
  lib/find-page-in-site-tree.js
  lib/page-data.js
  lib/warm-server.js
  middleware/contextualizers/current-product-tree.js
  middleware/contextualizers/generic-toc.js
  middleware/contextualizers/render-tree-titles.js
  middleware/index.js
  stylesheets/index.scss
  stylesheets/survey.scss
  tests/browser/browser.js
  tests/content/site-tree.js
  tests/routing/deprecated-enterprise-versions.js
Labels: automated-reposync-pr, autoupdate, triage

#6994 eval command standardised across OSes
  content/github/authenticating-to-github/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: ssh, waiting for review

#7080 repo sync
  components/Header.tsx
  components/Search.tsx
  javascripts/events.js
  javascripts/search.js
  pages/404.tsx
  pages/500.tsx
Labels: automated-reposync-pr, autoupdate, triage

#7100 repo sync
  content/github/site-policy/github-community-guidelines.md
Labels: automated-reposync-pr, autoupdate, triage

#6922 Update creating-a-github-pages-site-with-jekyll.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/creating-a-github-pages-site-with-jekyll.md
Labels: pages

#7064 remove duplicate entries
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/index.md
Labels: waiting for review

#7129 repo sync
  assets/images/help/billing/billing-change-email-modal.png
  assets/images/help/billing/billing-change-email.png
  assets/images/help/organizations/billing-settings.png
  assets/images/help/settings/settings-sidebar-organizations.png
  content/billing/managing-billing-for-git-large-file-storage/downgrading-git-large-file-storage.md
  content/billing/managing-billing-for-git-large-file-storage/upgrading-git-large-file-storage.md
  content/billing/managing-billing-for-git-large-file-storage/viewing-your-git-large-file-storage-usage.md
  content/billing/managing-billing-for-github-actions/managing-your-spending-limit-for-github-actions.md
  content/billing/managing-billing-for-github-actions/viewing-your-github-actions-usage.md
  content/billing/managing-billing-for-github-packages/managing-your-spending-limit-for-github-packages.md
  content/billing/managing-billing-for-github-packages/viewing-your-github-packages-usage.md
  content/billing/managing-billing-for-your-github-account/downgrading-your-github-subscription.md
  content/billing/managing-billing-for-your-github-account/upgrading-your-github-subscription.md
  content/billing/managing-billing-for-your-github-account/viewing-and-managing-pending-changes-to-your-subscription.md
  content/billing/managing-your-github-billing-settings/adding-information-to-your-receipts.md
  content/billing/managing-your-github-billing-settings/adding-or-editing-a-payment-method.md
  content/billing/managing-your-github-billing-settings/changing-the-duration-of-your-billing-cycle.md
  content/billing/managing-your-github-billing-settings/removing-a-payment-method.md
  content/billing/managing-your-github-billing-settings/setting-your-billing-email.md
  content/billing/managing-your-github-billing-settings/viewing-your-payment-history-and-receipts.md
  content/billing/managing-your-github-billing-settings/viewing-your-subscriptions-and-billing-date.md
  content/billing/setting-up-paid-organizations-for-procurement-companies/renewing-your-clients-paid-organization.md
  content/billing/setting-up-paid-organizations-for-procurement-companies/upgrading-or-downgrading-your-clients-paid-organization.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/adding-a-billing-manager-to-your-organization.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/removing-a-billing-manager-from-your-organization.md
  data/reusables/organizations/billing-settings.md
  data/reusables/profile/org_settings.md
Labels: automated-reposync-pr, autoupdate, triage

#7131 repo sync
  content/admin/configuration/configuring-your-enterprise/initializing-github-ae.md
  content/admin/enterprise-support/receiving-help-from-github-support/submitting-a-ticket.md
  content/admin/overview/about-github-ae.md
Labels: automated-reposync-pr, autoupdate, triage

#7133 repo sync
  contributing/development.md
Labels: automated-reposync-pr, autoupdate, triage

#6886 Add introduction sentence to visualizing repository data with graphs
  content/github/visualizing-repository-data-with-graphs/index.md
Labels: Campus Experts + Docs program, waiting for review

#7148 repo sync
  .github/ISSUE_TEMPLATE/production-config-change.md
  .github/workflows/confirm-internal-staff-work-in-docs.yml
  .github/workflows/move-existing-issues-to-the-correct-repo.yml
  .github/workflows/move-new-issues-to-correct-docs-repo.yml
  .github/workflows/send-issues-to-how-how-we-work-boards.yml
  .github/workflows/send-prs-to-how-how-we-work-boards.yml
  .github/workflows/update-status-labels-on-tracking-issues.yml
  components/context/MainContext.tsx
  pages/[versionId]/graphql/overview/explorer.tsx
Labels: automated-reposync-pr, autoupdate, triage

#7144 feat: docs for adding code blocks in code blocks
  assets/images/help/writing/fenced-code-show-backticks-rendered.png
  content/github/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks.md
Labels: ready to merge, triage

#7156 repo sync
  .github/workflows/move-existing-issues-to-the-correct-repo.yml
  .github/workflows/move-new-issues-to-correct-docs-repo.yml
  components/HeaderNotifications.tsx
  components/context/MainContext.tsx
  includes/header-notification.html
  middleware/context.js
  middleware/detect-language.js
  package-lock.json
  package.json
  tests/helpers/supertest.js
  tests/rendering/header.js
Labels: automated-reposync-pr, autoupdate, triage

#7161 repo sync
  components/article/ArticlePage.tsx
  components/article/ArticleTitle.tsx
  components/article/LearningTrackNav.tsx
  components/context/ArticleContext.tsx
  data/ui.yml
  includes/article.html
  lib/page.js
  middleware/render-page.js
  pages/[versionId]/[productId]/index.tsx
Labels: automated-reposync-pr, autoupdate, triage

#7165 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: automated-reposync-pr, autoupdate, triage

#7116 Redo: Added Keeper to list of mentioned password managers and TOTP storage
  content/github/authenticating-to-github/keeping-your-account-and-data-secure/creating-a-strong-password.md
  content/github/authenticating-to-github/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication.md
Labels: triage

#7168 repo sync
  content/code-security/secret-security/about-secret-scanning.md
  content/code-security/secret-security/defining-custom-patterns-for-secret-scanning.md
  content/developers/overview/index.md
  content/developers/overview/secret-scanning-partner-program.md
Labels: automated-reposync-pr, autoupdate, triage

#7170 repo sync
  lib/enterprise-dates.json
Labels: automated-reposync-pr, autoupdate, triage

#6885 Conventioning section titles
  content/actions/reference/workflow-syntax-for-github-actions.md
  data/reusables/actions/actions-group-concurrency.md
  data/reusables/github-actions/actions-on-examples.md
Labels: Campus Experts + Docs program, waiting for review

#7182 repo sync
  assets/images/help/enterprises/settings-support-add-entitlement.png
  assets/images/help/enterprises/settings-support-entitlement-search.png
  assets/images/help/enterprises/settings-support-remove-entitlement.png
  assets/images/help/enterprises/settings-support.png
  content/github/setting-up-and-managing-your-enterprise/managing-users-in-your-enterprise/index.md
  content/github/setting-up-and-managing-your-enterprise/managing-users-in-your-enterprise/managing-support-entitlements-for-your-enterprise.md
  content/github/setting-up-and-managing-your-enterprise/managing-users-in-your-enterprise/roles-in-an-enterprise.md
  content/github/working-with-github-support/submitting-a-ticket.md
  data/reusables/enterprise-accounts/support-entitlements.md
Labels: automated-reposync-pr, autoupdate, triage

#7084 Remove `GraphQL-Features` header requirement for Discussions API
  content/graphql/guides/using-the-graphql-api-for-discussions.md
Labels: graphql, waiting for review

#7184 repo sync
  components/Link.tsx
Labels: automated-reposync-pr, autoupdate, triage

#7074 Reopened: Added update to "Adding your SSH key to the ssh-agent"
  content/github/authenticating-to-github/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  content/github/authenticating-to-github/keeping-your-account-and-data-secure/reviewing-your-ssh-keys.md
  data/reusables/command_line/start_ssh_agent.md
Labels: ssh, waiting for review

#7186 repo sync
  assets/images/enterprise/3.1/help/repository/repo-tabs-issues.png
  assets/images/enterprise/3.1/help/repository/repo-tabs-pull-requests.png
  assets/images/help/repository/repo-tabs-issues.png
  assets/images/help/repository/repo-tabs-pull-requests.png
  data/reusables/repositories/sidebar-issues.md
  data/reusables/repositories/sidebar-pr.md
Labels: automated-reposync-pr, autoupdate, triage

#7190 repo sync
  components/Search.tsx
  components/Survey.tsx
  data/ui.yml
  includes/survey.html
  javascripts/events.js
  javascripts/survey.js
  lib/schema-event.js
  middleware/events.js
Labels: automated-reposync-pr, autoupdate, triage

#7192 repo sync
  assets/images/github-apps/github-apps-allow-list-empty.png
  assets/images/help/security/enable-ip-allowlist-githubapps-checkbox.png
  content/admin/configuration/configuring-your-enterprise/restricting-network-traffic-to-your-enterprise.md
  content/developers/apps/building-github-apps/creating-a-github-app.md
  content/developers/apps/building-github-apps/index.md
  content/developers/apps/building-github-apps/managing-allowed-ip-addresses-for-a-github-app.md
  content/github/setting-up-and-managing-your-enterprise/setting-policies-for-organizations-in-your-enterprise-account/enforcing-security-settings-in-your-enterprise-account.md
  content/organizations/keeping-your-organization-secure/managing-allowed-ip-addresses-for-your-organization.md
  data/reusables/apps/ip-allow-list-only-apps.md
  data/reusables/apps/settings-step.md
  data/reusables/identity-and-permissions/ip-allow-lists-add-description.md
  data/reusables/identity-and-permissions/ip-allow-lists-add-ip.md
  data/reusables/identity-and-permissions/ip-allow-lists-address-inheritance.md
  data/reusables/identity-and-permissions/ip-allow-lists-enterprise.md
  data/reusables/identity-and-permissions/ip-allow-lists-githubapps-enterprise.md
  data/reusables/user-settings/modify_github_app.md
Labels: automated-reposync-pr, autoupdate, triage

#7195 repo sync
  includes/tool-switcher.html
Labels: automated-reposync-pr, autoupdate, triage

#7197 repo sync
  .github/workflows/repo-sync.yml
  package-lock.json
Labels: automated-reposync-pr, autoupdate, triage

#7199 repo sync
  package-lock.json
Labels: automated-reposync-pr, autoupdate, triage

#7200 repo sync
  components/HeaderNotifications.tsx
  components/context/TocLandingContext.tsx
  components/landing/TocLanding.tsx
  middleware/render-page.js
  pages/[versionId]/[productId]/index.tsx
Labels: automated-reposync-pr, autoupdate, triage

#7212 repo sync
  content/developers/apps/building-oauth-apps/authorizing-oauth-apps.md
  content/github/authenticating-to-github/keeping-your-account-and-data-secure/authorizing-oauth-apps.md
  data/reusables/apps/oauth-token-limit.md
Labels: automated-reposync-pr, autoupdate, triage

#7229 repo sync
  lib/graphql/static/upcoming-changes.json
  script/graphql/utils/process-upcoming-changes.js
Labels: automated-reposync-pr, autoupdate, triage

#7247 repo sync
  content/organizations/managing-access-to-your-organizations-repositories/repository-permission-levels-for-an-organization.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/permission-levels-for-an-organization.md
Labels: automated-reposync-pr, autoupdate, triage

#7248 repo sync
  components/DefaultLayout.tsx
  components/Header.tsx
  components/HeaderNotifications.tsx
  components/context/MainContext.tsx
  components/context/ProductLandingContext.tsx
  components/hooks/useOnScreen.tsx
  components/hooks/useVersion.tsx
  components/landing/ProductLanding.tsx
  components/landing/ProductReleases.tsx
  components/release-notes/GHAEReleaseNotePatch.tsx
  components/release-notes/GHAEReleaseNotes.tsx
  components/release-notes/GHESReleaseNotePatch.tsx
  components/release-notes/GHESReleaseNotes.tsx
  components/release-notes/PatchNotes.tsx
  components/release-notes/types.ts
  data/ui.yml
  includes/enterprise-server-release-notes.html
  javascripts/release-notes.js
  package-lock.json
  package.json
  pages/[versionId]/admin/release-notes.tsx
  stylesheets/release-notes.scss
  tsconfig.json
Labels: automated-reposync-pr, autoupdate, triage

#7206 Fix POST->GET for listing GitHub App installations
  content/developers/apps/building-github-apps/authenticating-with-github-apps.md
Labels: triage

#7257 repo sync
  script/search/algolia-search-index.js
Labels: automated-reposync-pr, autoupdate, triage

#7258 repo sync
  content/discussions/guides/index.md
Labels: automated-reposync-pr, autoupdate, triage

#7262 repo sync
  data/reusables/dependabot/supported-package-managers.md
Labels: automated-reposync-pr, autoupdate, triage

#7265 repo sync
  data/release-notes/enterprise-server/2-21/23.yml
  data/release-notes/enterprise-server/2-22/15.yml
  data/release-notes/enterprise-server/3-0/9.yml
  data/release-notes/enterprise-server/3-1/0.yml
  data/release-notes/enterprise-server/3-1/1.yml
Labels: automated-reposync-pr, autoupdate, triage

#7188 Enable jsx-a11y linter and linting
  .eslintrc.js
  components/Breadcrumbs.tsx
  components/Contribution.tsx
  components/Link.tsx
  components/ProductPicker.tsx
  components/Search.tsx
  components/SidebarNav.tsx
  components/Survey.tsx
  components/article/ArticlePage.tsx
  components/landing/CommunityExamples.tsx
  components/landing/FeaturedArticles.tsx
  components/landing/TocLanding.tsx
  components/product/SidebarProduct.tsx
  components/release-notes/GHESReleaseNotePatch.tsx
  package-lock.json
  package.json
  pages/404.tsx
  pages/500.tsx
  pages/[versionId]/admin/release-notes.tsx
  pages/[versionId]/graphql/overview/explorer.tsx
  pages/_app.tsx
  tests/linting/lint-files.js
Labels: ready to merge, triage

#7272 repo sync
  data/graphql/ghae/graphql_previews.ghae.yml
  data/graphql/graphql_previews.yml
  lib/graphql/static/previews.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  script/enterprise-server-releases/add-ghec-to-fpt.js
Labels: automated-reposync-pr, autoupdate, triage

#7274 repo sync
  components/article/ArticleTitle.tsx
  components/context/TocLandingContext.tsx
  components/product/SidebarProduct.tsx
Labels: automated-reposync-pr, autoupdate, triage

#7277 repo sync
  assets/images/help/codespaces/add-prebuilt-container-command.png
  assets/images/help/codespaces/codespaces-commad-palette.png
  assets/images/help/codespaces/codespaces-logs.png
  assets/images/help/codespaces/codespaces-stop.png
  assets/images/help/codespaces/codespaces-view-menu.png
  content/codespaces/codespaces-reference/index.md
  content/codespaces/codespaces-reference/using-the-command-palette-in-codespaces.md
  content/codespaces/developing-in-codespaces/developing-in-a-codespace.md
  content/codespaces/getting-started-with-codespaces/getting-started-with-your-dotnet-project.md
  content/codespaces/getting-started-with-codespaces/getting-started-with-your-java-project-in-codespaces.md
  content/codespaces/getting-started-with-codespaces/getting-started-with-your-nodejs-project-in-codespaces.md
  content/codespaces/getting-started-with-codespaces/getting-started-with-your-python-project-in-codespaces.md
  content/codespaces/setting-up-your-codespace/configuring-codespaces-for-your-project.md
  data/reusables/codespaces/command-palette-container.md
  data/reusables/codespaces/rebuild-command.md
  data/reusables/codespaces/secrets-on-start.md
Labels: automated-reposync-pr, autoupdate, triage

#7284 repo sync
  .github/workflows/check-all-english-links.yml
  content/github/administering-a-repository/defining-the-mergeability-of-pull-requests/about-protected-branches.md
  content/github/administering-a-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
  data/reusables/pull_requests/resolving-conversations.md
Labels: automated-reposync-pr, autoupdate, triage

#7289 repo sync
  contributing/liquid-helpers.md
Labels: automated-reposync-pr, autoupdate, triage

#7291 repo sync
  content/code-security/secure-coding/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
Labels: automated-reposync-pr, autoupdate, triage

#7293 repo sync
  components/Breadcrumbs.tsx
  components/context/ProductSubLandingContext.tsx
  components/landing/CodeExampleCard.tsx
  components/landing/LandingSection.tsx
  components/sublanding/ArticleCard.tsx
  components/sublanding/ArticleCards.tsx
  components/sublanding/LearningTrack.tsx
  components/sublanding/LearningTracks.tsx
  components/sublanding/ProductSubLanding.tsx
  components/sublanding/SubLandingHero.tsx
  pages/[versionId]/[productId]/index.tsx
Labels: automated-reposync-pr, autoupdate, triage

#7294 repo sync
  components/context/MainContext.tsx
  components/landing/ProductArticlesList.tsx
  components/product/SidebarProduct.tsx
Labels: automated-reposync-pr, autoupdate, triage

#7297 repo sync
  components/context/TocLandingContext.tsx
  components/landing/TocLanding.tsx
  javascripts/display-tool-specific-content.js
  middleware/render-page.js
  package-lock.json
  package.json
Labels: automated-reposync-pr, autoupdate, triage

#7300 repo sync
  components/landing/LandingHero.tsx
  components/sublanding/LearningTrack.tsx
  content/actions/reference/encrypted-secrets.md
  content/admin/overview/managing-your-github-enterprise-license.md
  content/developers/webhooks-and-events/webhooks/securing-your-webhooks.md
  content/github/administering-a-repository/releasing-projects-on-github/managing-releases-in-a-repository.md
  content/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-comparing-branches-in-pull-requests.md
  content/github/managing-security-vulnerabilities/managing-vulnerabilities-in-your-projects-dependencies/about-alerts-for-vulnerable-dependencies.md
  content/github/managing-subscriptions-and-notifications-on-github/managing-subscriptions-for-activity-on-github/viewing-your-subscriptions.md
  content/github/managing-subscriptions-and-notifications-on-github/setting-up-notifications/about-notifications.md
  content/github/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
  content/github/managing-subscriptions-and-notifications-on-github/viewing-and-triaging-notifications/managing-notifications-from-your-inbox.md
  content/github/searching-for-information-on-github/getting-started-with-searching-on-github/about-searching-on-github.md
  content/github/setting-up-and-managing-your-enterprise/managing-your-enterprise-account/about-enterprise-accounts.md
  content/github/setting-up-and-managing-your-enterprise/managing-your-enterprise-account/viewing-the-subscription-and-usage-for-your-enterprise-account.md
  content/organizations/managing-membership-in-your-organization/reinstating-a-former-member-of-your-organization.md
  content/packages/learn-github-packages/about-permissions-for-github-packages.md
  content/rest/overview/resources-in-the-rest-api.md
  content/rest/reference/permissions-required-for-github-apps.md
  data/reusables/repositories/changed-files.md
  data/reusables/repositories/sidebar-dependabot-alerts.md
Labels: automated-reposync-pr, autoupdate, triage

#7305 repo sync
  data/release-notes/enterprise-server/3-1/0.yml
  data/release-notes/enterprise-server/3-1/1.yml
Labels: automated-reposync-pr, autoupdate, triage

#7324 repo sync
  components/landing/TocLanding.tsx
Labels: automated-reposync-pr, autoupdate, triage

#7301 Update sharing-workflows-with-your-organization.md
  content/actions/learn-github-actions/sharing-workflows-with-your-organization.md
Labels: actions, waiting for review

#7193 Remove reference to actions/delete-package-versions
  content/packages/learn-github-packages/deleting-and-restoring-a-package.md
Labels: actions, waiting for review

#7350 repo sync
  assets/images/help/settings/context-switcher-button.png
  assets/images/help/settings/context-switcher-menu.png
  content/billing/managing-billing-for-git-large-file-storage/about-billing-for-git-large-file-storage.md
  content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
  content/billing/managing-billing-for-github-marketplace-apps/about-billing-for-github-marketplace.md
  content/billing/managing-billing-for-github-packages/about-billing-for-github-packages.md
  content/billing/managing-billing-for-github-sponsors/about-billing-for-github-sponsors.md
  content/billing/managing-billing-for-your-github-account/about-billing-for-github-accounts.md
  content/billing/managing-your-github-billing-settings/about-billing-on-github.md
  data/reusables/user_settings/context_switcher.md
Labels: automated-reposync-pr, autoupdate, triage

#7366 repo sync
  components/Search.tsx
  components/Survey.tsx
  javascripts/airgap-links.js
  javascripts/airgap-links.ts
  javascripts/all-articles.js
  javascripts/all-articles.ts
  javascripts/browser-date-formatter.d.ts
  javascripts/copy-code.ts
  javascripts/dev-toc.ts
  javascripts/display-platform-specific-content.js
  javascripts/display-platform-specific-content.ts
  javascripts/display-tool-specific-content.js
  javascripts/display-tool-specific-content.ts
  javascripts/events.js
  javascripts/events.ts
  javascripts/experiment.ts
  javascripts/explorer.js
  javascripts/explorer.ts
  javascripts/filter-cards.ts
  javascripts/get-csrf.js
  javascripts/get-csrf.ts
  javascripts/hyperscript.ts
  javascripts/index.ts
  javascripts/localization.ts
  javascripts/nav.ts
  javascripts/print.ts
  javascripts/release-notes.js
  javascripts/release-notes.ts
  javascripts/scroll-up.ts
  javascripts/search-with-your-keyboard.d.ts
  javascripts/search.ts
  javascripts/set-next-env.ts
  javascripts/show-more.ts
  javascripts/sidebar.ts
  javascripts/survey.js
  javascripts/survey.ts
  javascripts/toggle-images.ts
  javascripts/user-agent.ts
  javascripts/wrap-code-terms.ts
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.js
Labels: automated-reposync-pr, autoupdate, triage

#7372 repo sync
  components/landing/GuideCard.tsx
  components/landing/ProductLanding.tsx
  components/landing/ProductReleases.tsx
  javascripts/display-platform-specific-content.ts
Labels: automated-reposync-pr, autoupdate, triage

#7373 repo sync
  components/context/ProductSubLandingContext.tsx
  components/sublanding/LearningTrack.tsx
  components/sublanding/LearningTracks.tsx
Labels: automated-reposync-pr, autoupdate, triage

#7381 repo sync
  .github/workflows/triage-unallowed-contributions.yml
  content/github/site-policy/github-acceptable-use-policies.md
  content/github/site-policy/github-privacy-statement.md
  script/deploy
  script/deployment/create-staging-app-name.js
  script/deployment/deploy-to-staging.js
  script/deployment/parse-pr-url.js
  script/search/parse-page-sections-into-records.js
  tests/meta/repository-references.js
  tests/unit/search/fixtures/page-with-sections.html
Labels: automated-reposync-pr, autoupdate, triage

#7382 repo sync
  content/admin/overview/index.md
  middleware/catch-bad-accept-language.js
  middleware/index.js
  package-lock.json
  package.json
Labels: automated-reposync-pr, autoupdate, triage

#7384 repo sync
  components/context/ProductLandingContext.tsx
  components/landing/GuideCards.tsx
  content/README.md
  contributing/content-model.md
  contributing/content-style-guide.md
  layouts/product-landing.html
  lib/all-versions.js
  lib/liquid-tags/ifversion-supported-operators.js
  lib/liquid-tags/ifversion.js
  lib/render-content/index.js
  lib/version-satisfies-range.js
  middleware/contextualizers/short-versions.js
  middleware/index.js
  tests/helpers/get-ifversion-conditionals.js
  tests/helpers/schemas/versions-schema.js
  tests/linting/lint-files.js
  tests/unit/liquid.js
Labels: automated-reposync-pr, autoupdate, triage

#7385 repo sync
  components/context/ProductLandingContext.tsx
  includes/rest_operation.html
Labels: automated-reposync-pr, autoupdate, triage

#7176 More info on "remote origin already exists"
  content/github/getting-started-with-github/getting-started-with-git/managing-remote-repositories.md
Labels: content, waiting for review

#7171 fix: show browse option only on dotcom version
  content/actions/learn-github-actions/finding-and-customizing-actions.md
Labels: content, waiting for review

#7398 repo sync
  .eslintrc.js
  components/Breadcrumbs.tsx
  components/context/ProductLandingContext.tsx
  components/context/ProductSubLandingContext.tsx
  components/context/TocLandingContext.tsx
  components/landing/ArticleList.tsx
  components/landing/FeaturedArticles.tsx
  components/landing/GuideCards.tsx
  components/landing/LandingHero.tsx
  components/landing/LandingSection.tsx
  components/landing/ProductArticlesList.tsx
  components/landing/ProductLanding.tsx
  components/landing/TocLanding.tsx
  components/sublanding/ArticleCard.tsx
  components/sublanding/ArticleCards.tsx
  components/sublanding/ProductSubLanding.tsx
  components/sublanding/SubLandingHero.tsx
  data/ui.yml
  javascripts/display-platform-specific-content.ts
  pages/index.tsx
Labels: automated-reposync-pr, autoupdate, triage

#7404 repo sync
  components/context/ProductLandingContext.tsx
  components/landing/CodeExamples.tsx
  components/landing/ProductReleases.tsx
  middleware/index.js
  middleware/is-next-request.js
  middleware/render-page.js
  package-lock.json
  package.json
  tests/rendering/sidebar.js
Labels: automated-reposync-pr, autoupdate, triage

#7406 repo sync
  components/context/ProductLandingContext.tsx
Labels: automated-reposync-pr, autoupdate, triage

#7407 repo sync
  .github/workflows/link-check-dotcom.yml
  .github/workflows/link-check-ghae.yml
  .github/workflows/link-check-ghes.yml
  .github/workflows/test.yml
Labels: automated-reposync-pr, autoupdate, triage

#7408 repo sync
  .github/actions-scripts/create-enterprise-issue.js
  .github/actions-scripts/enterprise-server-issue-templates/release-issue.md
  components/product/SidebarProduct.tsx
  package.json
  script/enterprise-server-releases/create-graphql-files.js
Labels: automated-reposync-pr, autoupdate, triage

#7409 repo sync
  javascripts/display-tool-specific-content.ts
  javascripts/scroll-anchoring.d.ts
Labels: automated-reposync-pr, autoupdate, triage

#6740 Describe `$RUNNER_OS`/`$RUNNER_TEMP`/`$RUNNER_TOOL_CACHE` environment variables
  content/actions/reference/context-and-expression-syntax-for-github-actions.md
  content/actions/reference/environment-variables.md
  data/reusables/actions/runner-os-description.md
  data/reusables/actions/runner-temp-directory-description.md
  data/reusables/actions/runner-tool-cache-description.md
Labels: actions, waiting for review

#7432 repo sync
  middleware/contextualizers/release-notes.js
Labels: automated-reposync-pr, autoupdate, triage

#7434 repo sync
  .github/workflows/triage-unallowed-contributions.yml
  Gemfile
  Gemfile.lock
  assets/images/help/desktop/amend-commit-context-menu.png
  assets/images/help/desktop/amend-last-commit-overview.png
  assets/images/help/desktop/create-branch-from-commit-context-menu.png
  assets/images/help/desktop/create-branch-from-commit-overview.png
  assets/images/help/desktop/reorder-drag-and-drop.png
  assets/images/help/desktop/reorder-force-push-dialog.png
  assets/images/help/desktop/reorder-merge-commit-dialog.png
  assets/images/help/desktop/reorder-resolve-conflicts.png
  assets/images/help/desktop/reorder-stash-dialog.png
  assets/images/help/desktop/squash-and-merge-menu.png
  assets/images/help/desktop/squash-and-merge-selection.png
  assets/images/help/desktop/squash-drag-and-drop.png
  assets/images/help/desktop/squash-force-push.png
  assets/images/help/desktop/squash-merge-commit-dialog.png
  assets/images/help/desktop/squash-multiple-commits.png
  assets/images/help/desktop/squash-stash-dialog.png
  content/desktop/contributing-and-collaborating-using-github-desktop/index.md
  content/desktop/contributing-and-collaborating-using-github-desktop/keeping-your-local-repository-in-sync-with-github/syncing-your-branch.md
  content/desktop/contributing-and-collaborating-using-github-desktop/making-changes-in-a-branch/committing-and-reviewing-changes-to-your-project.md
  content/desktop/contributing-and-collaborating-using-github-desktop/making-changes-in-a-branch/index.md
  content/desktop/contributing-and-collaborating-using-github-desktop/making-changes-in-a-branch/managing-branches.md
  content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/amending-a-commit.md
  content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/cherry-picking-a-commit.md
  content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/index.md
  content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/managing-tags.md
  content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/reordering-commits.md
  content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/reverting-a-commit.md
  content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/squashing-commits.md
  script/README.md
  script/graphql/update-files.js
  script/graphql/utils/remove-hidden-schema-members.rb
Labels: automated-reposync-pr, autoupdate, triage

#7440 repo sync
  .github/allowed-actions.js
  .github/workflows/update-graphql-files.yml
Labels: automated-reposync-pr, autoupdate, triage

#7447 repo sync
  content/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/configuration-options-for-dependency-updates.md
Labels: automated-reposync-pr, autoupdate, triage

#7448 repo sync
  middleware/abort.js
  next.config.js
  package-lock.json
  package.json
  stylesheets/bump-link.scss
  webpack.config.js
Labels: automated-reposync-pr, autoupdate, triage

#7449 repo sync
  script/rest/utils/operation-schema.js
Labels: automated-reposync-pr, autoupdate, triage

#7452 repo sync
  .github/CODEOWNERS
Labels: automated-reposync-pr, autoupdate, triage

#6090 Update Python package build and upload example
  content/actions/guides/building-and-testing-python.md
Labels: actions, waiting for review

#7468 repo sync
  content/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/managing-encrypted-secrets-for-dependabot.md
Labels: automated-reposync-pr, autoupdate, triage

#7471 repo sync
  middleware/contextualizers/release-notes.js
Labels: automated-reposync-pr, autoupdate, triage

#7476 repo sync
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
Labels: automated-reposync-pr, autoupdate, triage

#7477 repo sync
  components/Header.tsx
  components/Search.tsx
  components/SidebarNav.tsx
  components/context/MainContext.tsx
  components/context/ProductLandingContext.tsx
  components/landing/ArticleList.tsx
  components/landing/CodeExampleCard.tsx
  components/landing/CodeExamples.tsx
  components/landing/LandingSection.tsx
  components/landing/ProductArticlesList.tsx
  components/landing/ProductLanding.tsx
  javascripts/scroll-anchoring.d.ts
  middleware/is-next-request.js
  tests/browser/browser.js
  tests/content/featured-links.js
  tests/rendering/sidebar.js
Labels: automated-reposync-pr, autoupdate, triage

#7478 repo sync
  .github/workflows/staging-deploy-pr.yml
  .github/workflows/staging-undeploy-pr.yml
  .github/workflows/workflow-lint.yml
  script/deployment/create-staging-app-name.js
  script/deployment/deploy-to-staging.js
  script/deployment/undeploy-from-staging.js
Labels: automated-reposync-pr, autoupdate, triage

#7482 repo sync
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/staging-deploy-pr.yml
  components/LanguagePicker.tsx
  next.config.js
  package-lock.json
  package.json
Labels: automated-reposync-pr, autoupdate, triage

#7483 repo sync
  middleware/is-next-request.js
Labels: automated-reposync-pr, autoupdate, triage

#7484 repo sync
  .github/workflows/staging-deploy-pr.yml
  script/graphql/update-files.js
Labels: automated-reposync-pr, autoupdate, triage

#7486 repo sync
  content/admin/managing-github-advanced-security-for-your-enterprise/about-licensing-for-github-advanced-security.md
  content/admin/managing-github-advanced-security-for-your-enterprise/configuring-code-scanning-for-your-appliance.md
  content/admin/managing-github-advanced-security-for-your-enterprise/configuring-secret-scanning-for-your-appliance.md
  content/admin/managing-github-advanced-security-for-your-enterprise/enabling-github-advanced-security-for-your-enterprise.md
  content/admin/managing-github-advanced-security-for-your-enterprise/index.md
  content/admin/managing-github-advanced-security-for-your-enterprise/viewing-your-github-advanced-security-usage.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/automatically-scanning-your-code-for-vulnerabilities-and-errors/running-codeql-code-scanning-in-a-container.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/automatically-scanning-your-code-for-vulnerabilities-and-errors/setting-up-code-scanning-for-a-repository.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/automatically-scanning-your-code-for-vulnerabilities-and-errors/triaging-code-scanning-alerts-in-pull-requests.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/integrating-with-code-scanning/about-integration-with-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/integrating-with-code-scanning/uploading-a-sarif-file-to-github.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-code-scanning-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/using-codeql-code-scanning-with-your-existing-ci-system/running-codeql-code-scanning-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/using-codeql-code-scanning-with-your-existing-ci-system/troubleshooting-codeql-code-scanning-in-your-ci-system.md
  content/github/managing-security-vulnerabilities/managing-vulnerabilities-in-your-projects-dependencies/about-alerts-for-vulnerable-dependencies.md
  content/github/managing-security-vulnerabilities/managing-vulnerabilities-in-your-projects-dependencies/configuring-notifications-for-vulnerable-dependencies.md
  content/github/visualizing-repository-data-with-graphs/understanding-connections-between-repositories/about-the-dependency-graph.md
  content/github/visualizing-repository-data-with-graphs/understanding-connections-between-repositories/exploring-the-dependencies-of-a-repository.md
  tests/unit/pages.js
Labels: automated-reposync-pr, autoupdate, triage

#7487 repo sync
  tests/routing/release-notes.js
Labels: automated-reposync-pr, autoupdate, triage

#7488 repo sync
  contributing/content-templates.md
Labels: automated-reposync-pr, autoupdate, triage

#7489 repo sync
  content/github/getting-started-with-github/using-github/keyboard-shortcuts.md
  content/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: automated-reposync-pr, autoupdate, triage

#7496 repo sync
  script/helpers/walk-files.js
  script/move-category-to-product.js
Labels: automated-reposync-pr, autoupdate, triage

#7497 repo sync
  middleware/is-next-request.js
Labels: automated-reposync-pr, autoupdate, triage

#7504 repo sync
  components/context/ProductSubLandingContext.tsx
Labels: automated-reposync-pr, autoupdate, triage

#7533 repo sync
  content/github/authenticating-to-github/keeping-your-account-and-data-secure/about-githubs-ip-addresses.md
Labels: automated-reposync-pr, autoupdate, triage

#7542 repo sync
  content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/reordering-commits.md
Labels: automated-reposync-pr, autoupdate, triage

#7545 repo sync
  assets/images/help/repository/fetch-and-merge-button.png
  assets/images/help/repository/fetch-upstream-drop-down.png
  content/github/collaborating-with-pull-requests/working-with-forks/syncing-a-fork.md
  translations/ko-KR/content/github/getting-started-with-github/quickstart/fork-a-repo.md
Labels: automated-reposync-pr, autoupdate, triage

#7548 repo sync
  tests/unit/pages.js
Labels: automated-reposync-pr, autoupdate, triage

#7095 Intro Added to Commits/Notification Category
  content/github/committing-changes-to-your-project/index.md
  content/github/managing-subscriptions-and-notifications-on-github/index.md
Labels: Campus Experts + Docs program, waiting for review

#7550 repo sync
  assets/images/help/package-registry/container-registry-details-page.png
  assets/images/help/package-registry/packages-diagram-with-container-registry.png
  content/actions/guides/publishing-docker-images.md
  content/billing/managing-billing-for-github-packages/about-billing-for-github-packages.md
  content/packages/index.md
  content/packages/learn-github-packages/about-permissions-for-github-packages.md
  content/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility.md
  content/packages/learn-github-packages/deleting-and-restoring-a-package.md
  content/packages/learn-github-packages/introduction-to-github-packages.md
  content/packages/learn-github-packages/viewing-packages.md
  content/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions.md
  content/packages/working-with-a-github-packages-registry/enabling-improved-container-support-with-the-container-registry.md
  content/packages/working-with-a-github-packages-registry/index.md
  content/packages/working-with-a-github-packages-registry/migrating-to-the-container-registry-from-the-docker-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-container-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-docker-registry.md
  content/rest/reference/packages.md
  data/reusables/actions/actions-not-certified-by-github.md
  data/reusables/github-actions/docker-tag-with-ref.md
  data/reusables/github-actions/release-trigger-workflow.md
  data/reusables/package_registry/authenticate_with_pat_for_container_registry.md
  data/reusables/package_registry/container-registry-beta.md
  data/reusables/package_registry/docker-vs-container-registry.md
  data/reusables/package_registry/docker_registry_deprecation_status.md
  data/reusables/package_registry/feature-preview-for-container-registry.md
  data/reusables/package_registry/github-token-security-over-pat.md
  data/reusables/package_registry/publish-docker-image.md
  data/reusables/package_registry/repo-scoped-and-granular-permissions-packages.md
  javascripts/wrap-code-terms.ts
  lib/webhooks/static/dotcom/package.published.payload.json
  tests/content/featured-links.js
Labels: automated-reposync-pr, autoupdate, triage

#7559 repo sync
  components/DefaultLayout.tsx
  components/PrintAction.tsx
  components/article/ArticleTitle.tsx
  components/context/MainContext.tsx
  components/release-notes/GHESReleaseNotePatch.tsx
  components/sublanding/LearningTrack.tsx
  javascripts/copy-code.ts
  javascripts/experiment.ts
  pages/[versionId]/[productId]/index.tsx
  pages/[versionId]/graphql/overview/explorer.tsx
  pages/_app.tsx
Labels: automated-reposync-pr, autoupdate, triage

#7566 repo sync
  content/actions/reference/authentication-in-a-workflow.md
  content/admin/authentication/managing-identity-and-access-for-your-enterprise/configuring-user-provisioning-for-your-enterprise.md
  content/developers/apps/getting-started-with-apps/setting-up-your-development-environment-to-create-a-github-app.md
  content/developers/apps/guides/using-content-attachments.md
  content/rest/guides/getting-started-with-the-rest-api.md
  content/rest/guides/traversing-with-pagination.md
  data/reusables/github-insights/enterprise-api-url.md
  data/reusables/rest-api/dotcom-only-guide-note.md
  data/variables/product.yml
Labels: automated-reposync-pr, autoupdate, triage

#7568 repo sync
  content/github/site-policy/github-sponsors-additional-terms.md
Labels: automated-reposync-pr, autoupdate, triage

#7571 repo sync
  content/github/collaborating-with-pull-requests/working-with-forks/syncing-a-fork.md
Labels: automated-reposync-pr, autoupdate, triage

#7328 Add intros for articles on commits
  content/github/committing-changes-to-your-project/viewing-and-comparing-commits/comparing-commits.md
  content/github/committing-changes-to-your-project/viewing-and-comparing-commits/differences-between-commit-views.md
Labels: Campus Experts + Docs program, waiting for review

#7433 Update generating-a-new-gpg-key.md
  content/github/authenticating-to-github/managing-commit-signature-verification/generating-a-new-gpg-key.md
Labels: content, waiting for review

#7580 repo sync
  middleware/contextualizers/generic-toc.js
  tests/unit/early-access.js
Labels: automated-reposync-pr, autoupdate, triage

#7581 repo sync
  .github/workflows/move-new-issues-to-correct-docs-repo.yml
Labels: automated-reposync-pr, autoupdate, triage

#7392 Updated Quickstart Footers
  content/get-started/quickstart/be-social.md
  content/get-started/quickstart/create-a-repo.md
  content/get-started/quickstart/fork-a-repo.md
  content/get-started/quickstart/set-up-git.md
  data/reusables/support/connect-in-the-forum-bootcamp.md
Labels: Campus Experts + Docs program, waiting for review

#7446 Fix typo in action step name
  .github/workflows/browser-test.yml
Labels: ready to merge

#7587 repo sync
  lib/frontmatter.js
  lib/redirects/permalinks.js
  lib/rest/index.js
  lib/webhooks/index.js
  middleware/contextualizers/graphql.js
  middleware/csrf.js
  middleware/index.js
  middleware/is-next-request.js
  middleware/search.js
  middleware/webpack.js
  package-lock.json
  package.json
  script/enterprise-server-releases/create-rest-files.js
  script/helpers/github.js
  script/reconcile-filenames-with-ids.js
  script/rest/openapi-check.js
  script/rest/update-files.js
  script/rest/utils/operation.js
  script/sync-search-indices.js
  server.js
  tests/browser/browser.js
  tests/content/graphql.js
  tests/content/site-data.js
  tests/rendering/rest.js
  tests/rendering/server.js
  tests/routing/top-developer-site-path-redirects.js
  tests/unit/liquid-helpers.js
Labels: automated-reposync-pr, autoupdate, triage

#7589 repo sync
  components/SidebarNav.tsx
  components/article/ArticleVersionPicker.tsx
  components/context/MainContext.tsx
  components/landing/HomepageVersionPicker.tsx
  includes/head.html
  includes/header-version-switcher.html
  includes/landing.html
  lib/path-utils.js
  lib/permalink.js
  middleware/context.js
  pages/index.tsx
  tests/unit/page.js
  tests/unit/permalink.js
  tests/unit/versions.js
Labels: automated-reposync-pr, autoupdate, triage

#7579 Fix Linguist "generated code" link
  content/github/administering-a-repository/managing-repository-settings/customizing-how-changed-files-appear-on-github.md
Labels: ready to merge

#7590 repo sync
  .github/workflows/repo-sync.yml
Labels: automated-reposync-pr, autoupdate, triage

#7598 repo sync
  content/rest/reference/permissions-required-for-github-apps.md
Labels: automated-reposync-pr, autoupdate, triage

#7576 Clarifying GitHub Actions behaviour when GitHub Enterprise Server is in Maintenance Mode
  content/admin/configuration/configuring-your-enterprise/enabling-and-scheduling-maintenance-mode.md
Labels: triage

#7607 repo sync
  assets/images/help/settings/codespaces-org-access-and-security-radio-buttons.png
Labels: automated-reposync-pr, autoupdate, triage

#7610 repo sync
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  content/actions/learn-github-actions/migrating-from-gitlab-cicd-to-github-actions.md
  content/actions/using-github-hosted-runners/about-github-hosted-runners.md
Labels: automated-reposync-pr, autoupdate, triage

#7611 repo sync
  package-lock.json
  package.json
  script/content-migrations/create-csv-of-short-titles.js
  script/content-migrations/update-short-titles-from-csv.js
Labels: automated-reposync-pr, autoupdate, triage
