Repository github/docs, pull requests merged in 2021-11, with the labels that each got.

#11618 repo sync
  middleware/record-redirect.js
Labels: triage, autoupdate, automated-reposync-pr

#11622 repo sync
  components/sublanding/LearningTrack.module.scss
  components/sublanding/LearningTrack.tsx
  tests/rendering/learning-tracks.js
Labels: triage, autoupdate, automated-reposync-pr

#11624 repo sync
  content/codespaces/customizing-your-codespace/personalizing-codespaces-for-your-account.md
  content/codespaces/developing-in-codespaces/developing-in-a-codespace.md
  content/codespaces/developing-in-codespaces/forwarding-ports-in-your-codespace.md
  content/codespaces/developing-in-codespaces/using-codespaces-in-visual-studio-code.md
  content/codespaces/overview.md
  content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-dotnet-project-for-codespaces.md
  content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-java-project-for-codespaces.md
  content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-nodejs-project-for-codespaces.md
  content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-python-project-for-codespaces.md
  data/reusables/codespaces/about-port-forwarding.md
  data/reusables/codespaces/links-to-get-started.md
Labels: triage, autoupdate, automated-reposync-pr

#11625 repo sync
  lib/search/indexes/github-docs-3.0-de-records.json.br
  lib/search/indexes/github-docs-3.0-de.json.br
  lib/search/indexes/github-docs-3.1-de-records.json.br
  lib/search/indexes/github-docs-3.1-de.json.br
  lib/search/indexes/github-docs-3.2-de-records.json.br
  lib/search/indexes/github-docs-3.2-de.json.br
  lib/search/indexes/github-docs-dotcom-de-records.json.br
  lib/search/indexes/github-docs-dotcom-de.json.br
  lib/search/indexes/github-docs-ghae-de-records.json.br
  lib/search/indexes/github-docs-ghae-de.json.br
  lib/search/lunr-search.js
  script/search/lunr-search-index.js
Labels: triage, autoupdate, automated-reposync-pr

#11628 repo sync
  lib/search/indexes/github-docs-3.0-cn-records.json.br
  lib/search/indexes/github-docs-3.0-cn.json.br
  lib/search/indexes/github-docs-3.0-en-records.json.br
  lib/search/indexes/github-docs-3.0-en.json.br
  lib/search/indexes/github-docs-3.0-es-records.json.br
  lib/search/indexes/github-docs-3.0-es.json.br
  lib/search/indexes/github-docs-3.0-ja-records.json.br
  lib/search/indexes/github-docs-3.0-ja.json.br
  lib/search/indexes/github-docs-3.0-pt-records.json.br
  lib/search/indexes/github-docs-3.0-pt.json.br
  lib/search/indexes/github-docs-3.1-cn-records.json.br
  lib/search/indexes/github-docs-3.1-cn.json.br
  lib/search/indexes/github-docs-3.1-en-records.json.br
  lib/search/indexes/github-docs-3.1-en.json.br
  lib/search/indexes/github-docs-3.1-es-records.json.br
  lib/search/indexes/github-docs-3.1-es.json.br
  lib/search/indexes/github-docs-3.1-ja-records.json.br
  lib/search/indexes/github-docs-3.1-ja.json.br
  lib/search/indexes/github-docs-3.1-pt-records.json.br
  lib/search/indexes/github-docs-3.1-pt.json.br
  lib/search/indexes/github-docs-3.2-cn-records.json.br
  lib/search/indexes/github-docs-3.2-cn.json.br
  lib/search/indexes/github-docs-3.2-en-records.json.br
  lib/search/indexes/github-docs-3.2-en.json.br
  lib/search/indexes/github-docs-3.2-es-records.json.br
  lib/search/indexes/github-docs-3.2-es.json.br
  lib/search/indexes/github-docs-3.2-ja-records.json.br
  lib/search/indexes/github-docs-3.2-ja.json.br
  lib/search/indexes/github-docs-3.2-pt-records.json.br
  lib/search/indexes/github-docs-3.2-pt.json.br
  lib/search/indexes/github-docs-dotcom-cn-records.json.br
  lib/search/indexes/github-docs-dotcom-cn.json.br
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  lib/search/indexes/github-docs-dotcom-es-records.json.br
  lib/search/indexes/github-docs-dotcom-es.json.br
  lib/search/indexes/github-docs-dotcom-ja-records.json.br
  lib/search/indexes/github-docs-dotcom-ja.json.br
  lib/search/indexes/github-docs-dotcom-pt-records.json.br
  lib/search/indexes/github-docs-dotcom-pt.json.br
  lib/search/indexes/github-docs-ghae-cn-records.json.br
  lib/search/indexes/github-docs-ghae-cn.json.br
  lib/search/indexes/github-docs-ghae-en-records.json.br
  lib/search/indexes/github-docs-ghae-en.json.br
  lib/search/indexes/github-docs-ghae-es-records.json.br
  lib/search/indexes/github-docs-ghae-es.json.br
  lib/search/indexes/github-docs-ghae-ja-records.json.br
  lib/search/indexes/github-docs-ghae-ja.json.br
  lib/search/indexes/github-docs-ghae-pt-records.json.br
  lib/search/indexes/github-docs-ghae-pt.json.br
  lib/search/indexes/github-docs-ghec-cn-records.json.br
  lib/search/indexes/github-docs-ghec-cn.json.br
  lib/search/indexes/github-docs-ghec-en-records.json.br
  lib/search/indexes/github-docs-ghec-en.json.br
  lib/search/indexes/github-docs-ghec-es-records.json.br
  lib/search/indexes/github-docs-ghec-es.json.br
  lib/search/indexes/github-docs-ghec-ja-records.json.br
  lib/search/indexes/github-docs-ghec-ja.json.br
  lib/search/indexes/github-docs-ghec-pt-records.json.br
  lib/search/indexes/github-docs-ghec-pt.json.br
Labels: triage, autoupdate, automated-reposync-pr

#11619 Fix broken pull requests links
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/about-pull-request-merges.md
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/merging-a-pull-request.md
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/merging-an-upstream-repository-into-your-fork.md
Labels: content, ready to merge

#11588 Add {% raw %} in configuring-openid-connect-in-amazon-web-services.md
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
Labels: content, ready to merge

#10001 Added Intros for REST API Pages
  content/rest/reference/actions.md
  content/rest/reference/activity.md
  content/rest/reference/apps.md
  content/rest/reference/billing.md
  content/rest/reference/checks.md
Labels: content, ready to merge, Campus Experts + Docs program

#10973 Update broken link on '/rest/overview/other-authentication-methods'
  content/rest/overview/other-authentication-methods.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#11079 A couple of small fixes to issue event types docs
  content/developers/webhooks-and-events/events/issue-event-types.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#10997 Removed outdated refrence to git shell
  content/authentication/keeping-your-account-and-data-secure/reviewing-your-ssh-keys.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#11132 Fix wrong "Create a commit comment" link in Pull Requests REST API page
  content/rest/reference/pulls.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#11226 add quotes around python versions in gha examples
  content/actions/automating-builds-and-tests/building-and-testing-python.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#11234 Update internal footer links to be language dynamic and fix Developer API link
  components/page-footer/SmallFooter.tsx
Labels: engineering, ready to merge

#11510 Update citation CFF docs
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files.md
Labels: content, hacktoberfest-accepted, ready to merge

#11646 repo sync
  content/admin/authentication/authenticating-users-for-your-github-enterprise-server-instance/using-ldap.md
  content/organizations/managing-git-access-to-your-organizations-repositories/about-ssh-certificate-authorities.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
Labels: triage, autoupdate, automated-reposync-pr

#11240 Added note about filename as requested in #11097
  content/actions/creating-actions/creating-a-docker-container-action.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#11248 updated the docs of merging multiple user accounts
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/merging-multiple-user-accounts.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#11295 Update the description of how to view blocked users for a personal account
  assets/images/help/settings/settings-sidebar-blocked-users.png
  data/reusables/user_settings/blocked_users.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#11653 repo sync
  script/README.md
  script/i18n/fix-translation-errors.js
  script/i18n/lint-translation-files.js
  script/i18n/reset-known-broken-translation-files.js
  script/i18n/reset-translated-file.js
  script/i18n/test-render-translation.js
  script/i18n/update-crowdin-issue.js
Labels: triage, autoupdate, automated-reposync-pr

#11320 Fix Grammatical errors in README
  README.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#11654 repo sync
  lib/search/indexes/github-docs-3.0-cn-records.json.br
  lib/search/indexes/github-docs-3.0-cn.json.br
  lib/search/indexes/github-docs-3.0-en-records.json.br
  lib/search/indexes/github-docs-3.0-en.json.br
  lib/search/indexes/github-docs-3.0-es-records.json.br
  lib/search/indexes/github-docs-3.0-es.json.br
  lib/search/indexes/github-docs-3.0-ja-records.json.br
  lib/search/indexes/github-docs-3.0-ja.json.br
  lib/search/indexes/github-docs-3.0-pt-records.json.br
  lib/search/indexes/github-docs-3.0-pt.json.br
  lib/search/indexes/github-docs-3.1-cn-records.json.br
  lib/search/indexes/github-docs-3.1-cn.json.br
  lib/search/indexes/github-docs-3.1-en-records.json.br
  lib/search/indexes/github-docs-3.1-en.json.br
  lib/search/indexes/github-docs-3.1-es-records.json.br
  lib/search/indexes/github-docs-3.1-es.json.br
  lib/search/indexes/github-docs-3.1-ja-records.json.br
  lib/search/indexes/github-docs-3.1-ja.json.br
  lib/search/indexes/github-docs-3.1-pt-records.json.br
  lib/search/indexes/github-docs-3.1-pt.json.br
  lib/search/indexes/github-docs-3.2-cn-records.json.br
  lib/search/indexes/github-docs-3.2-cn.json.br
  lib/search/indexes/github-docs-3.2-en-records.json.br
  lib/search/indexes/github-docs-3.2-en.json.br
  lib/search/indexes/github-docs-3.2-es-records.json.br
  lib/search/indexes/github-docs-3.2-es.json.br
  lib/search/indexes/github-docs-3.2-ja-records.json.br
  lib/search/indexes/github-docs-3.2-ja.json.br
  lib/search/indexes/github-docs-3.2-pt-records.json.br
  lib/search/indexes/github-docs-3.2-pt.json.br
  lib/search/indexes/github-docs-dotcom-cn-records.json.br
  lib/search/indexes/github-docs-dotcom-cn.json.br
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  lib/search/indexes/github-docs-dotcom-es-records.json.br
  lib/search/indexes/github-docs-dotcom-es.json.br
  lib/search/indexes/github-docs-dotcom-ja-records.json.br
  lib/search/indexes/github-docs-dotcom-ja.json.br
  lib/search/indexes/github-docs-dotcom-pt-records.json.br
  lib/search/indexes/github-docs-dotcom-pt.json.br
  lib/search/indexes/github-docs-ghae-cn-records.json.br
  lib/search/indexes/github-docs-ghae-cn.json.br
  lib/search/indexes/github-docs-ghae-en-records.json.br
  lib/search/indexes/github-docs-ghae-en.json.br
  lib/search/indexes/github-docs-ghae-es-records.json.br
  lib/search/indexes/github-docs-ghae-es.json.br
  lib/search/indexes/github-docs-ghae-ja-records.json.br
  lib/search/indexes/github-docs-ghae-ja.json.br
  lib/search/indexes/github-docs-ghae-pt-records.json.br
  lib/search/indexes/github-docs-ghae-pt.json.br
  lib/search/indexes/github-docs-ghec-cn-records.json.br
  lib/search/indexes/github-docs-ghec-cn.json.br
  lib/search/indexes/github-docs-ghec-en-records.json.br
  lib/search/indexes/github-docs-ghec-en.json.br
  lib/search/indexes/github-docs-ghec-es-records.json.br
  lib/search/indexes/github-docs-ghec-es.json.br
  lib/search/indexes/github-docs-ghec-ja-records.json.br
  lib/search/indexes/github-docs-ghec-ja.json.br
  lib/search/indexes/github-docs-ghec-pt-records.json.br
  lib/search/indexes/github-docs-ghec-pt.json.br
Labels: triage, autoupdate, automated-reposync-pr

#11328 Fix ambiguous keyboard shortcut to stop local server
  contributing/development.md
Labels: engineering, content, hacktoberfest-accepted, ready to merge, waiting for review

#11341 Bumped download limit for deleting a public package to 5000
  content/packages/learn-github-packages/deleting-and-restoring-a-package.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#11362 fix: Align formatting for custom domain options
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/troubleshooting-custom-domains-and-github-pages.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#11587 Product Name - Active Directory
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-azure.md
Labels: content, ready to merge

#11655 repo sync
  content/codespaces/developing-in-codespaces/creating-a-codespace.md
  content/codespaces/getting-started/deep-dive.md
  script/i18n/reset-known-broken-translation-files.js
Labels: triage, autoupdate, automated-reposync-pr

#11657 repo sync
  components/release-notes/PatchNotes.tsx
Labels: triage, autoupdate, automated-reposync-pr

#11658 repo sync
  lib/search/indexes/github-docs-3.0-cn-records.json.br
  lib/search/indexes/github-docs-3.0-cn.json.br
  lib/search/indexes/github-docs-3.0-en-records.json.br
  lib/search/indexes/github-docs-3.0-en.json.br
  lib/search/indexes/github-docs-3.0-es-records.json.br
  lib/search/indexes/github-docs-3.0-es.json.br
  lib/search/indexes/github-docs-3.0-ja-records.json.br
  lib/search/indexes/github-docs-3.0-ja.json.br
  lib/search/indexes/github-docs-3.0-pt-records.json.br
  lib/search/indexes/github-docs-3.0-pt.json.br
  lib/search/indexes/github-docs-3.1-cn-records.json.br
  lib/search/indexes/github-docs-3.1-cn.json.br
  lib/search/indexes/github-docs-3.1-en-records.json.br
  lib/search/indexes/github-docs-3.1-en.json.br
  lib/search/indexes/github-docs-3.1-es-records.json.br
  lib/search/indexes/github-docs-3.1-es.json.br
  lib/search/indexes/github-docs-3.1-ja-records.json.br
  lib/search/indexes/github-docs-3.1-ja.json.br
  lib/search/indexes/github-docs-3.1-pt-records.json.br
  lib/search/indexes/github-docs-3.1-pt.json.br
  lib/search/indexes/github-docs-3.2-cn-records.json.br
  lib/search/indexes/github-docs-3.2-cn.json.br
  lib/search/indexes/github-docs-3.2-en-records.json.br
  lib/search/indexes/github-docs-3.2-en.json.br
  lib/search/indexes/github-docs-3.2-es-records.json.br
  lib/search/indexes/github-docs-3.2-es.json.br
  lib/search/indexes/github-docs-3.2-ja-records.json.br
  lib/search/indexes/github-docs-3.2-ja.json.br
  lib/search/indexes/github-docs-3.2-pt-records.json.br
  lib/search/indexes/github-docs-3.2-pt.json.br
  lib/search/indexes/github-docs-dotcom-cn-records.json.br
  lib/search/indexes/github-docs-dotcom-cn.json.br
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  lib/search/indexes/github-docs-dotcom-es-records.json.br
  lib/search/indexes/github-docs-dotcom-es.json.br
  lib/search/indexes/github-docs-dotcom-ja-records.json.br
  lib/search/indexes/github-docs-dotcom-ja.json.br
  lib/search/indexes/github-docs-dotcom-pt-records.json.br
  lib/search/indexes/github-docs-dotcom-pt.json.br
  lib/search/indexes/github-docs-ghae-cn-records.json.br
  lib/search/indexes/github-docs-ghae-cn.json.br
  lib/search/indexes/github-docs-ghae-en-records.json.br
  lib/search/indexes/github-docs-ghae-en.json.br
  lib/search/indexes/github-docs-ghae-es-records.json.br
  lib/search/indexes/github-docs-ghae-es.json.br
  lib/search/indexes/github-docs-ghae-ja-records.json.br
  lib/search/indexes/github-docs-ghae-ja.json.br
  lib/search/indexes/github-docs-ghae-pt-records.json.br
  lib/search/indexes/github-docs-ghae-pt.json.br
  lib/search/indexes/github-docs-ghec-cn-records.json.br
  lib/search/indexes/github-docs-ghec-cn.json.br
  lib/search/indexes/github-docs-ghec-en-records.json.br
  lib/search/indexes/github-docs-ghec-en.json.br
  lib/search/indexes/github-docs-ghec-es-records.json.br
  lib/search/indexes/github-docs-ghec-es.json.br
  lib/search/indexes/github-docs-ghec-ja-records.json.br
  lib/search/indexes/github-docs-ghec-ja.json.br
  lib/search/indexes/github-docs-ghec-pt-records.json.br
  lib/search/indexes/github-docs-ghec-pt.json.br
Labels: triage, autoupdate, automated-reposync-pr

#11662 repo sync
  lib/search/indexes/github-docs-3.0-cn-records.json.br
  lib/search/indexes/github-docs-3.0-cn.json.br
  lib/search/indexes/github-docs-3.0-en-records.json.br
  lib/search/indexes/github-docs-3.0-en.json.br
  lib/search/indexes/github-docs-3.0-es-records.json.br
  lib/search/indexes/github-docs-3.0-es.json.br
  lib/search/indexes/github-docs-3.0-ja-records.json.br
  lib/search/indexes/github-docs-3.0-ja.json.br
  lib/search/indexes/github-docs-3.0-pt-records.json.br
  lib/search/indexes/github-docs-3.0-pt.json.br
  lib/search/indexes/github-docs-3.1-cn-records.json.br
  lib/search/indexes/github-docs-3.1-cn.json.br
  lib/search/indexes/github-docs-3.1-en-records.json.br
  lib/search/indexes/github-docs-3.1-en.json.br
  lib/search/indexes/github-docs-3.1-es-records.json.br
  lib/search/indexes/github-docs-3.1-es.json.br
  lib/search/indexes/github-docs-3.1-ja-records.json.br
  lib/search/indexes/github-docs-3.1-ja.json.br
  lib/search/indexes/github-docs-3.1-pt-records.json.br
  lib/search/indexes/github-docs-3.1-pt.json.br
  lib/search/indexes/github-docs-3.2-cn-records.json.br
  lib/search/indexes/github-docs-3.2-cn.json.br
  lib/search/indexes/github-docs-3.2-en-records.json.br
  lib/search/indexes/github-docs-3.2-en.json.br
  lib/search/indexes/github-docs-3.2-es-records.json.br
  lib/search/indexes/github-docs-3.2-es.json.br
  lib/search/indexes/github-docs-3.2-ja-records.json.br
  lib/search/indexes/github-docs-3.2-ja.json.br
  lib/search/indexes/github-docs-3.2-pt-records.json.br
  lib/search/indexes/github-docs-3.2-pt.json.br
  lib/search/indexes/github-docs-dotcom-cn-records.json.br
  lib/search/indexes/github-docs-dotcom-cn.json.br
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  lib/search/indexes/github-docs-dotcom-es-records.json.br
  lib/search/indexes/github-docs-dotcom-es.json.br
  lib/search/indexes/github-docs-dotcom-ja-records.json.br
  lib/search/indexes/github-docs-dotcom-ja.json.br
  lib/search/indexes/github-docs-dotcom-pt-records.json.br
  lib/search/indexes/github-docs-dotcom-pt.json.br
  lib/search/indexes/github-docs-ghae-cn-records.json.br
  lib/search/indexes/github-docs-ghae-cn.json.br
  lib/search/indexes/github-docs-ghae-en-records.json.br
  lib/search/indexes/github-docs-ghae-en.json.br
  lib/search/indexes/github-docs-ghae-es-records.json.br
  lib/search/indexes/github-docs-ghae-es.json.br
  lib/search/indexes/github-docs-ghae-ja-records.json.br
  lib/search/indexes/github-docs-ghae-ja.json.br
  lib/search/indexes/github-docs-ghae-pt-records.json.br
  lib/search/indexes/github-docs-ghae-pt.json.br
  lib/search/indexes/github-docs-ghec-cn-records.json.br
  lib/search/indexes/github-docs-ghec-cn.json.br
  lib/search/indexes/github-docs-ghec-en-records.json.br
  lib/search/indexes/github-docs-ghec-en.json.br
  lib/search/indexes/github-docs-ghec-es-records.json.br
  lib/search/indexes/github-docs-ghec-es.json.br
  lib/search/indexes/github-docs-ghec-ja-records.json.br
  lib/search/indexes/github-docs-ghec-ja.json.br
  lib/search/indexes/github-docs-ghec-pt-records.json.br
  lib/search/indexes/github-docs-ghec-pt.json.br
Labels: triage, autoupdate, automated-reposync-pr

#11363 Fix typo in getting-started-with-github-enterprise-cloud.md
  content/get-started/onboarding/getting-started-with-github-enterprise-cloud.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#11365 Fixed typo in CODEOWNERS file size section
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#11395 Update README.md
  README.md
  contributing/localization-checklist.md
Labels: content, contributing docs, hacktoberfest-accepted, ready to merge, waiting for review

#11465 Update error-ssh-add-illegal-option----k.md
  content/authentication/troubleshooting-ssh/error-ssh-add-illegal-option----k.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#11666 repo sync
  contributing/content-style-guide.md
Labels: triage, autoupdate, automated-reposync-pr

#11473 Remove incorrect info related with GPG sign
  content/authentication/managing-commit-signature-verification/about-commit-signature-verification.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#11482 Fixed the link for: types of contributions
  README.md
Labels: contributing docs, hacktoberfest-accepted, ready to merge, waiting for review

#11009 Describe `inputs` context in contexts page
  content/actions/learn-github-actions/contexts.md
Labels: content, hacktoberfest-accepted, ready to merge

#11483 Small grammar change on "About geo-replication" page
  content/admin/enterprise-management/configuring-high-availability/about-geo-replication.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#11373 Docs(merge_strategies): Clarfiy rebase and ff merge similarity
  data/reusables/pull_requests/rebase_and_merge_summary.md
Labels: content, hacktoberfest-accepted, waiting for review

#11570 Remove duplicate "token.actions.githubusercontent.com:sub" key
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#11671 repo sync
  package-lock.json
  package.json
Labels: triage, autoupdate, automated-reposync-pr

#11589 Correct typo in autoscaling-with-self-hosted-runners.md
  content/actions/hosting-your-own-runners/autoscaling-with-self-hosted-runners.md
Labels: content, ready to merge

#11590 Update autoscaling-with-self-hosted-runners.md (typo fix)
  content/actions/hosting-your-own-runners/autoscaling-with-self-hosted-runners.md
Labels: content, ready to merge

#11672 repo sync
  package-lock.json
  package.json
Labels: triage, autoupdate, automated-reposync-pr

#11572 Fix link to self-review
  .github/PULL_REQUEST_TEMPLATE.md
Labels: content, ready to merge

#11675 repo sync
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository.md
Labels: triage, autoupdate, automated-reposync-pr

#11678 repo sync
  lib/search/indexes/github-docs-3.0-cn-records.json.br
  lib/search/indexes/github-docs-3.0-cn.json.br
  lib/search/indexes/github-docs-3.0-en-records.json.br
  lib/search/indexes/github-docs-3.0-en.json.br
  lib/search/indexes/github-docs-3.0-es-records.json.br
  lib/search/indexes/github-docs-3.0-es.json.br
  lib/search/indexes/github-docs-3.0-ja-records.json.br
  lib/search/indexes/github-docs-3.0-ja.json.br
  lib/search/indexes/github-docs-3.0-pt-records.json.br
  lib/search/indexes/github-docs-3.0-pt.json.br
  lib/search/indexes/github-docs-3.1-cn-records.json.br
  lib/search/indexes/github-docs-3.1-cn.json.br
  lib/search/indexes/github-docs-3.1-en-records.json.br
  lib/search/indexes/github-docs-3.1-en.json.br
  lib/search/indexes/github-docs-3.1-es-records.json.br
  lib/search/indexes/github-docs-3.1-es.json.br
  lib/search/indexes/github-docs-3.1-ja-records.json.br
  lib/search/indexes/github-docs-3.1-ja.json.br
  lib/search/indexes/github-docs-3.1-pt-records.json.br
  lib/search/indexes/github-docs-3.1-pt.json.br
  lib/search/indexes/github-docs-3.2-cn-records.json.br
  lib/search/indexes/github-docs-3.2-cn.json.br
  lib/search/indexes/github-docs-3.2-en-records.json.br
  lib/search/indexes/github-docs-3.2-en.json.br
  lib/search/indexes/github-docs-3.2-es-records.json.br
  lib/search/indexes/github-docs-3.2-es.json.br
  lib/search/indexes/github-docs-3.2-ja-records.json.br
  lib/search/indexes/github-docs-3.2-ja.json.br
  lib/search/indexes/github-docs-3.2-pt-records.json.br
  lib/search/indexes/github-docs-3.2-pt.json.br
  lib/search/indexes/github-docs-dotcom-cn-records.json.br
  lib/search/indexes/github-docs-dotcom-cn.json.br
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  lib/search/indexes/github-docs-dotcom-es-records.json.br
  lib/search/indexes/github-docs-dotcom-es.json.br
  lib/search/indexes/github-docs-dotcom-ja-records.json.br
  lib/search/indexes/github-docs-dotcom-ja.json.br
  lib/search/indexes/github-docs-dotcom-pt-records.json.br
  lib/search/indexes/github-docs-dotcom-pt.json.br
  lib/search/indexes/github-docs-ghae-cn-records.json.br
  lib/search/indexes/github-docs-ghae-cn.json.br
  lib/search/indexes/github-docs-ghae-en-records.json.br
  lib/search/indexes/github-docs-ghae-en.json.br
  lib/search/indexes/github-docs-ghae-es-records.json.br
  lib/search/indexes/github-docs-ghae-es.json.br
  lib/search/indexes/github-docs-ghae-ja-records.json.br
  lib/search/indexes/github-docs-ghae-ja.json.br
  lib/search/indexes/github-docs-ghae-pt-records.json.br
  lib/search/indexes/github-docs-ghae-pt.json.br
  lib/search/indexes/github-docs-ghec-cn-records.json.br
  lib/search/indexes/github-docs-ghec-cn.json.br
  lib/search/indexes/github-docs-ghec-en-records.json.br
  lib/search/indexes/github-docs-ghec-en.json.br
  lib/search/indexes/github-docs-ghec-es-records.json.br
  lib/search/indexes/github-docs-ghec-es.json.br
  lib/search/indexes/github-docs-ghec-ja-records.json.br
  lib/search/indexes/github-docs-ghec-ja.json.br
  lib/search/indexes/github-docs-ghec-pt-records.json.br
  lib/search/indexes/github-docs-ghec-pt.json.br
Labels: triage, autoupdate, automated-reposync-pr

#11593 Fixed typos (from Linx to Linux & Ctl to Ctrl)
  content/get-started/using-github/github-command-palette.md
Labels: content, ready to merge

#11652 add-missing-right-paren
  content/get-started/using-git/resolving-merge-conflicts-after-a-git-rebase.md
Labels: content, ready to merge

#11688 repo sync
  .github/allowed-actions.js
  .github/workflows/site-policy-sync.yml
Labels: triage, autoupdate, automated-reposync-pr

#11690 repo sync
  content/actions/learn-github-actions/contexts.md
  data/release-notes/enterprise-server/2-22/23.yml
  package-lock.json
  package.json
  script/i18n/test-html-pages.js
  script/search/search-qa-data.json
  script/search/search-qa-test.js
Labels: triage, autoupdate, automated-reposync-pr

#11692 repo sync
  data/release-notes/enterprise-server/2-22/23.yml
  data/release-notes/enterprise-server/3-2/3.yml
Labels: triage, autoupdate, automated-reposync-pr

#11698 repo sync
  data/release-notes/enterprise-server/3-2/2.yml
Labels: triage, autoupdate, automated-reposync-pr

#11703 repo sync
  lib/create-tree.js
Labels: triage, autoupdate, automated-reposync-pr

#11704 repo sync
  .github/workflows/staging-build-pr.yml
  script/i18n/prune-stale-files.js
Labels: triage, autoupdate, automated-reposync-pr

#11712 repo sync
  lib/search/indexes/github-docs-3.0-cn-records.json.br
  lib/search/indexes/github-docs-3.0-cn.json.br
  lib/search/indexes/github-docs-3.0-en-records.json.br
  lib/search/indexes/github-docs-3.0-en.json.br
  lib/search/indexes/github-docs-3.0-es-records.json.br
  lib/search/indexes/github-docs-3.0-es.json.br
  lib/search/indexes/github-docs-3.0-ja-records.json.br
  lib/search/indexes/github-docs-3.0-ja.json.br
  lib/search/indexes/github-docs-3.0-pt-records.json.br
  lib/search/indexes/github-docs-3.0-pt.json.br
  lib/search/indexes/github-docs-3.1-cn-records.json.br
  lib/search/indexes/github-docs-3.1-cn.json.br
  lib/search/indexes/github-docs-3.1-en-records.json.br
  lib/search/indexes/github-docs-3.1-en.json.br
  lib/search/indexes/github-docs-3.1-es-records.json.br
  lib/search/indexes/github-docs-3.1-es.json.br
  lib/search/indexes/github-docs-3.1-ja-records.json.br
  lib/search/indexes/github-docs-3.1-ja.json.br
  lib/search/indexes/github-docs-3.1-pt-records.json.br
  lib/search/indexes/github-docs-3.1-pt.json.br
  lib/search/indexes/github-docs-3.2-cn-records.json.br
  lib/search/indexes/github-docs-3.2-cn.json.br
  lib/search/indexes/github-docs-3.2-en-records.json.br
  lib/search/indexes/github-docs-3.2-en.json.br
  lib/search/indexes/github-docs-3.2-es-records.json.br
  lib/search/indexes/github-docs-3.2-es.json.br
  lib/search/indexes/github-docs-3.2-ja-records.json.br
  lib/search/indexes/github-docs-3.2-ja.json.br
  lib/search/indexes/github-docs-3.2-pt-records.json.br
  lib/search/indexes/github-docs-3.2-pt.json.br
  lib/search/indexes/github-docs-dotcom-cn-records.json.br
  lib/search/indexes/github-docs-dotcom-cn.json.br
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  lib/search/indexes/github-docs-dotcom-es-records.json.br
  lib/search/indexes/github-docs-dotcom-es.json.br
  lib/search/indexes/github-docs-dotcom-ja-records.json.br
  lib/search/indexes/github-docs-dotcom-ja.json.br
  lib/search/indexes/github-docs-dotcom-pt-records.json.br
  lib/search/indexes/github-docs-dotcom-pt.json.br
  lib/search/indexes/github-docs-ghae-cn-records.json.br
  lib/search/indexes/github-docs-ghae-cn.json.br
  lib/search/indexes/github-docs-ghae-en-records.json.br
  lib/search/indexes/github-docs-ghae-en.json.br
  lib/search/indexes/github-docs-ghae-es-records.json.br
  lib/search/indexes/github-docs-ghae-es.json.br
  lib/search/indexes/github-docs-ghae-ja-records.json.br
  lib/search/indexes/github-docs-ghae-ja.json.br
  lib/search/indexes/github-docs-ghae-pt-records.json.br
  lib/search/indexes/github-docs-ghae-pt.json.br
  lib/search/indexes/github-docs-ghec-cn-records.json.br
  lib/search/indexes/github-docs-ghec-cn.json.br
  lib/search/indexes/github-docs-ghec-en-records.json.br
  lib/search/indexes/github-docs-ghec-en.json.br
  lib/search/indexes/github-docs-ghec-es-records.json.br
  lib/search/indexes/github-docs-ghec-es.json.br
  lib/search/indexes/github-docs-ghec-ja-records.json.br
  lib/search/indexes/github-docs-ghec-ja.json.br
  lib/search/indexes/github-docs-ghec-pt-records.json.br
  lib/search/indexes/github-docs-ghec-pt.json.br
Labels: triage, autoupdate, automated-reposync-pr

#11718 repo sync
  data/release-notes/enterprise-server/3-2/3.yml
Labels: triage, autoupdate, automated-reposync-pr

#11720 repo sync
  middleware/find-page.js
Labels: triage, autoupdate, automated-reposync-pr

#11723 repo sync
  lib/search/indexes/github-docs-3.0-cn-records.json.br
  lib/search/indexes/github-docs-3.0-cn.json.br
  lib/search/indexes/github-docs-3.0-en-records.json.br
  lib/search/indexes/github-docs-3.0-en.json.br
  lib/search/indexes/github-docs-3.0-es-records.json.br
  lib/search/indexes/github-docs-3.0-es.json.br
  lib/search/indexes/github-docs-3.0-ja-records.json.br
  lib/search/indexes/github-docs-3.0-ja.json.br
  lib/search/indexes/github-docs-3.0-pt-records.json.br
  lib/search/indexes/github-docs-3.0-pt.json.br
  lib/search/indexes/github-docs-3.1-cn-records.json.br
  lib/search/indexes/github-docs-3.1-cn.json.br
  lib/search/indexes/github-docs-3.1-en-records.json.br
  lib/search/indexes/github-docs-3.1-en.json.br
  lib/search/indexes/github-docs-3.1-es-records.json.br
  lib/search/indexes/github-docs-3.1-es.json.br
  lib/search/indexes/github-docs-3.1-ja-records.json.br
  lib/search/indexes/github-docs-3.1-ja.json.br
  lib/search/indexes/github-docs-3.1-pt-records.json.br
  lib/search/indexes/github-docs-3.1-pt.json.br
  lib/search/indexes/github-docs-3.2-cn-records.json.br
  lib/search/indexes/github-docs-3.2-cn.json.br
  lib/search/indexes/github-docs-3.2-en-records.json.br
  lib/search/indexes/github-docs-3.2-en.json.br
  lib/search/indexes/github-docs-3.2-es-records.json.br
  lib/search/indexes/github-docs-3.2-es.json.br
  lib/search/indexes/github-docs-3.2-ja-records.json.br
  lib/search/indexes/github-docs-3.2-ja.json.br
  lib/search/indexes/github-docs-3.2-pt-records.json.br
  lib/search/indexes/github-docs-3.2-pt.json.br
  lib/search/indexes/github-docs-dotcom-cn-records.json.br
  lib/search/indexes/github-docs-dotcom-cn.json.br
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  lib/search/indexes/github-docs-dotcom-es-records.json.br
  lib/search/indexes/github-docs-dotcom-es.json.br
  lib/search/indexes/github-docs-dotcom-ja-records.json.br
  lib/search/indexes/github-docs-dotcom-ja.json.br
  lib/search/indexes/github-docs-dotcom-pt-records.json.br
  lib/search/indexes/github-docs-dotcom-pt.json.br
  lib/search/indexes/github-docs-ghae-cn-records.json.br
  lib/search/indexes/github-docs-ghae-cn.json.br
  lib/search/indexes/github-docs-ghae-en-records.json.br
  lib/search/indexes/github-docs-ghae-en.json.br
  lib/search/indexes/github-docs-ghae-es-records.json.br
  lib/search/indexes/github-docs-ghae-es.json.br
  lib/search/indexes/github-docs-ghae-ja-records.json.br
  lib/search/indexes/github-docs-ghae-ja.json.br
  lib/search/indexes/github-docs-ghae-pt-records.json.br
  lib/search/indexes/github-docs-ghae-pt.json.br
  lib/search/indexes/github-docs-ghec-cn-records.json.br
  lib/search/indexes/github-docs-ghec-cn.json.br
  lib/search/indexes/github-docs-ghec-en-records.json.br
  lib/search/indexes/github-docs-ghec-en.json.br
  lib/search/indexes/github-docs-ghec-es-records.json.br
  lib/search/indexes/github-docs-ghec-es.json.br
  lib/search/indexes/github-docs-ghec-ja-records.json.br
  lib/search/indexes/github-docs-ghec-ja.json.br
  lib/search/indexes/github-docs-ghec-pt-records.json.br
  lib/search/indexes/github-docs-ghec-pt.json.br
Labels: triage, autoupdate, automated-reposync-pr

#11725 repo sync
  script/i18n/fix-translation-errors.js
  script/i18n/homogenize-frontmatter.js
  script/i18n/test-render-translation.js
Labels: triage, autoupdate, automated-reposync-pr

#11727 repo sync
  crowdin.yml
Labels: triage, autoupdate, automated-reposync-pr

#11737 repo sync
  lib/search/indexes/github-docs-3.0-cn-records.json.br
  lib/search/indexes/github-docs-3.0-cn.json.br
  lib/search/indexes/github-docs-3.0-en-records.json.br
  lib/search/indexes/github-docs-3.0-en.json.br
  lib/search/indexes/github-docs-3.0-es-records.json.br
  lib/search/indexes/github-docs-3.0-es.json.br
  lib/search/indexes/github-docs-3.0-ja-records.json.br
  lib/search/indexes/github-docs-3.0-ja.json.br
  lib/search/indexes/github-docs-3.0-pt-records.json.br
  lib/search/indexes/github-docs-3.0-pt.json.br
  lib/search/indexes/github-docs-3.1-cn-records.json.br
  lib/search/indexes/github-docs-3.1-cn.json.br
  lib/search/indexes/github-docs-3.1-en-records.json.br
  lib/search/indexes/github-docs-3.1-en.json.br
  lib/search/indexes/github-docs-3.1-es-records.json.br
  lib/search/indexes/github-docs-3.1-es.json.br
  lib/search/indexes/github-docs-3.1-ja-records.json.br
  lib/search/indexes/github-docs-3.1-ja.json.br
  lib/search/indexes/github-docs-3.1-pt-records.json.br
  lib/search/indexes/github-docs-3.1-pt.json.br
  lib/search/indexes/github-docs-3.2-cn-records.json.br
  lib/search/indexes/github-docs-3.2-cn.json.br
  lib/search/indexes/github-docs-3.2-en-records.json.br
  lib/search/indexes/github-docs-3.2-en.json.br
  lib/search/indexes/github-docs-3.2-es-records.json.br
  lib/search/indexes/github-docs-3.2-es.json.br
  lib/search/indexes/github-docs-3.2-ja-records.json.br
  lib/search/indexes/github-docs-3.2-ja.json.br
  lib/search/indexes/github-docs-3.2-pt-records.json.br
  lib/search/indexes/github-docs-3.2-pt.json.br
  lib/search/indexes/github-docs-dotcom-cn-records.json.br
  lib/search/indexes/github-docs-dotcom-cn.json.br
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  lib/search/indexes/github-docs-dotcom-es-records.json.br
  lib/search/indexes/github-docs-dotcom-es.json.br
  lib/search/indexes/github-docs-dotcom-ja-records.json.br
  lib/search/indexes/github-docs-dotcom-ja.json.br
  lib/search/indexes/github-docs-dotcom-pt-records.json.br
  lib/search/indexes/github-docs-dotcom-pt.json.br
  lib/search/indexes/github-docs-ghae-cn-records.json.br
  lib/search/indexes/github-docs-ghae-cn.json.br
  lib/search/indexes/github-docs-ghae-en-records.json.br
  lib/search/indexes/github-docs-ghae-en.json.br
  lib/search/indexes/github-docs-ghae-es-records.json.br
  lib/search/indexes/github-docs-ghae-es.json.br
  lib/search/indexes/github-docs-ghae-ja-records.json.br
  lib/search/indexes/github-docs-ghae-ja.json.br
  lib/search/indexes/github-docs-ghae-pt-records.json.br
  lib/search/indexes/github-docs-ghae-pt.json.br
  lib/search/indexes/github-docs-ghec-cn-records.json.br
  lib/search/indexes/github-docs-ghec-cn.json.br
  lib/search/indexes/github-docs-ghec-en-records.json.br
  lib/search/indexes/github-docs-ghec-en.json.br
  lib/search/indexes/github-docs-ghec-es-records.json.br
  lib/search/indexes/github-docs-ghec-es.json.br
  lib/search/indexes/github-docs-ghec-ja-records.json.br
  lib/search/indexes/github-docs-ghec-ja.json.br
  lib/search/indexes/github-docs-ghec-pt-records.json.br
  lib/search/indexes/github-docs-ghec-pt.json.br
Labels: triage, autoupdate, automated-reposync-pr

#11744 repo sync
  lib/search/indexes/github-docs-3.0-cn-records.json.br
  lib/search/indexes/github-docs-3.0-cn.json.br
  lib/search/indexes/github-docs-3.0-en-records.json.br
  lib/search/indexes/github-docs-3.0-en.json.br
  lib/search/indexes/github-docs-3.0-es-records.json.br
  lib/search/indexes/github-docs-3.0-es.json.br
  lib/search/indexes/github-docs-3.0-ja-records.json.br
  lib/search/indexes/github-docs-3.0-ja.json.br
  lib/search/indexes/github-docs-3.0-pt-records.json.br
  lib/search/indexes/github-docs-3.0-pt.json.br
  lib/search/indexes/github-docs-3.1-cn-records.json.br
  lib/search/indexes/github-docs-3.1-cn.json.br
  lib/search/indexes/github-docs-3.1-en-records.json.br
  lib/search/indexes/github-docs-3.1-en.json.br
  lib/search/indexes/github-docs-3.1-es-records.json.br
  lib/search/indexes/github-docs-3.1-es.json.br
  lib/search/indexes/github-docs-3.1-ja-records.json.br
  lib/search/indexes/github-docs-3.1-ja.json.br
  lib/search/indexes/github-docs-3.1-pt-records.json.br
  lib/search/indexes/github-docs-3.1-pt.json.br
  lib/search/indexes/github-docs-3.2-cn-records.json.br
  lib/search/indexes/github-docs-3.2-cn.json.br
  lib/search/indexes/github-docs-3.2-en-records.json.br
  lib/search/indexes/github-docs-3.2-en.json.br
  lib/search/indexes/github-docs-3.2-es-records.json.br
  lib/search/indexes/github-docs-3.2-es.json.br
  lib/search/indexes/github-docs-3.2-ja-records.json.br
  lib/search/indexes/github-docs-3.2-ja.json.br
  lib/search/indexes/github-docs-3.2-pt-records.json.br
  lib/search/indexes/github-docs-3.2-pt.json.br
  lib/search/indexes/github-docs-dotcom-cn-records.json.br
  lib/search/indexes/github-docs-dotcom-cn.json.br
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  lib/search/indexes/github-docs-dotcom-es-records.json.br
  lib/search/indexes/github-docs-dotcom-es.json.br
  lib/search/indexes/github-docs-dotcom-ja-records.json.br
  lib/search/indexes/github-docs-dotcom-ja.json.br
  lib/search/indexes/github-docs-dotcom-pt-records.json.br
  lib/search/indexes/github-docs-dotcom-pt.json.br
  lib/search/indexes/github-docs-ghae-cn-records.json.br
  lib/search/indexes/github-docs-ghae-cn.json.br
  lib/search/indexes/github-docs-ghae-en-records.json.br
  lib/search/indexes/github-docs-ghae-en.json.br
  lib/search/indexes/github-docs-ghae-es-records.json.br
  lib/search/indexes/github-docs-ghae-es.json.br
  lib/search/indexes/github-docs-ghae-ja-records.json.br
  lib/search/indexes/github-docs-ghae-ja.json.br
  lib/search/indexes/github-docs-ghae-pt-records.json.br
  lib/search/indexes/github-docs-ghae-pt.json.br
  lib/search/indexes/github-docs-ghec-cn-records.json.br
  lib/search/indexes/github-docs-ghec-cn.json.br
  lib/search/indexes/github-docs-ghec-en-records.json.br
  lib/search/indexes/github-docs-ghec-en.json.br
  lib/search/indexes/github-docs-ghec-es-records.json.br
  lib/search/indexes/github-docs-ghec-es.json.br
  lib/search/indexes/github-docs-ghec-ja-records.json.br
  lib/search/indexes/github-docs-ghec-ja.json.br
  lib/search/indexes/github-docs-ghec-pt-records.json.br
  lib/search/indexes/github-docs-ghec-pt.json.br
Labels: triage, autoupdate, automated-reposync-pr

#11716 Found typo on documentation about Authentication
  content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
Labels: content, ready to merge

#11773 Fix Command Palette Reference link
  content/get-started/using-github/github-command-palette.md
Labels: triage

#10594 Adding permission requirements for encrypted AWS S3 buckets within enterprise-s3-permission.md
  data/reusables/actions/enterprise-s3-permission.md
Labels: content, actions, hacktoberfest-accepted, ready to merge

#11220 fix workflow_call inputs path in workflow syntax
  content/actions/learn-github-actions/workflow-syntax-for-github-actions.md
Labels: content, actions, hacktoberfest-accepted, ready to merge

#11818 repo sync
  .github/workflows/60-days-stale-check.yml
Labels: triage, autoupdate, automated-reposync-pr

#11825 repo sync
  content/admin/user-management/managing-users-in-your-enterprise/auditing-users-across-your-enterprise.md
  content/get-started/onboarding/getting-started-with-github-enterprise-cloud.md
  content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
  data/reusables/audit_log/audit-log-git-events-retention.md
  data/reusables/getting-started/reviewing-org-audit-log-and-integrations.md
Labels: triage, autoupdate, automated-reposync-pr

#11826 repo sync
  assets/images/help/repository/code-scanning-alert-list-tracked-issues.png
  assets/images/help/repository/code-scanning-alert-tracked-in-pill.png
  assets/images/help/repository/code-scanning-create-issue-for-alert.png
  assets/images/help/repository/code-scanning-new-tracking-issue.png
  assets/images/help/repository/code-scanning-tracking-issue-hovercard.png
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/index.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/tracking-code-scanning-alerts-in-issues-using-task-lists.md
  content/code-security/guides.md
  content/issues/tracking-your-work-with-issues/about-task-lists.md
  content/issues/tracking-your-work-with-issues/creating-an-issue.md
  data/reusables/code-scanning/alert-tracking-link.md
  data/reusables/code-scanning/beta-alert-tracking-in-issues.md
  data/reusables/code-scanning/explore-alert.md
  data/reusables/code-scanning/github-issues-integration.md
Labels: triage, autoupdate, automated-reposync-pr

#11828 repo sync
  assets/images/help/repository/PR-reviews-required-updated.png
  assets/images/help/repository/number-of-required-review-approvals-updated.png
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
Labels: triage, autoupdate, automated-reposync-pr

#10528 Fixes About Task lists article
  assets/images/enterprise/writing/task-lists-reorder.gif
  content/issues/tracking-your-work-with-issues/about-task-lists.md
Labels: content, hacktoberfest-accepted, ready to merge

#11308 updates step 4 to use token auth
  content/admin/user-management/migrating-data-to-and-from-your-enterprise/exporting-migration-data-from-githubcom.md
Labels: content, hacktoberfest-accepted, ready to merge

#11829 repo sync
  content/codespaces/developing-in-codespaces/using-codespaces-with-github-cli.md
  content/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: triage, autoupdate, automated-reposync-pr

#11680 add anchor to link the list of supported secrets
  content/code-security/secret-scanning/about-secret-scanning.md
Labels: content, ready to merge

#11335 Made `jobs.<job_id>.steps[*].shell` a separate ##
  content/actions/learn-github-actions/workflow-syntax-for-github-actions.md
Labels: content, actions, hacktoberfest-accepted, ready to merge

#11785 Update storing-workflow-data-as-artifacts.md
  content/actions/advanced-guides/storing-workflow-data-as-artifacts.md
Labels: content, ready to merge

#11790 Fix broken link on "Resolving a merge conflict on GitHub" page
  content/pull-requests/collaborating-with-pull-requests/addressing-merge-conflicts/about-merge-conflicts.md
Labels: content, ready to merge

#11801 Update about-wikis.md
  content/communities/documenting-your-project-with-wikis/about-wikis.md
Labels: content, ready to merge

#11839 repo sync
  assets/images/help/business-accounts/confirm-and-upgrade-button.png
  assets/images/help/business-accounts/create-enterprise-account-button.png
  assets/images/help/business-accounts/enterprise-name-field.png
  assets/images/help/business-accounts/enterprise-slug-field.png
  assets/images/help/business-accounts/upgrade-to-enterprise-account.png
  components/article/ArticleGridLayout.tsx
  components/article/ArticlePage.tsx
  components/landing/TocLanding.tsx
  components/page-header/Breadcrumbs.module.scss
  components/page-header/Breadcrumbs.tsx
  components/page-header/Header.module.scss
  components/page-header/Header.tsx
  components/page-header/VersionPicker.tsx
  content/admin/guides.md
  content/admin/overview/about-enterprise-accounts.md
  content/admin/overview/creating-an-enterprise-account.md
  content/admin/overview/index.md
  content/admin/user-management/managing-organizations-in-your-enterprise/adding-organizations-to-your-enterprise.md
  content/organizations/collaborating-with-groups-in-organizations/about-organizations.md
  data/reusables/enterprise-accounts/invite-organization.md
  data/reusables/enterprise/create-an-enterprise-account.md
  lib/create-tree.js
  tests/rendering/server.js
Labels: triage, autoupdate, automated-reposync-pr

#11840 repo sync
  assets/images/help/branches/pr-retargeting-diagram1.png
  assets/images/help/branches/pr-retargeting-diagram2.png
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-branches.md
Labels: triage, autoupdate, automated-reposync-pr

#11843 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/prerendered-input-objects.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
Labels: triage, autoupdate, automated-reposync-pr

#11443 Update instructions for generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, hacktoberfest-accepted, ready to merge

#11850 repo sync
  .github/workflows/staging-deploy-pr.yml
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  content/actions/index.md
  content/actions/using-github-hosted-runners/about-github-hosted-runners.md
  content/actions/using-github-hosted-runners/customizing-github-hosted-runners.md
  lib/hydro.js
  package-lock.json
  package.json
Labels: triage, autoupdate, automated-reposync-pr

#10502 Adds info on how to use VSCode Insider in Codespaces
  assets/images/help/codespaces/codespaces-insiders-vscode.png
  content/codespaces/developing-in-codespaces/using-codespaces-in-visual-studio-code.md
Labels: content, hacktoberfest-accepted, ready to merge, codespaces

#11855 repo sync
  content/codespaces/developing-in-codespaces/codespaces-lifecycle.md
  content/codespaces/developing-in-codespaces/creating-a-codespace.md
  content/codespaces/developing-in-codespaces/deleting-a-codespace.md
  content/codespaces/developing-in-codespaces/index.md
  content/codespaces/getting-started/deep-dive.md
  content/codespaces/index.md
Labels: triage, autoupdate, automated-reposync-pr

#11788 Fix Condition codeblock syntax
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
Labels: content, waiting for review

#11779 docs: replace id_token to id-token
  content/actions/security-guides/automatic-token-authentication.md
  data/reusables/github-actions/github-token-available-permissions.md
Labels: content, waiting for review

#11863 repo sync
  assets/images/help/billing/download-enterprise-GHAS-usage-data.png
  assets/images/help/billing/download-organization-GHAS-usage-data.png
  content/billing/managing-billing-for-github-advanced-security/viewing-your-github-advanced-security-usage.md
Labels: triage, autoupdate, automated-reposync-pr

#11834 Fix typo in workflow paths [Building and testing Python]
  components/playground/content/building-and-testing/python.tsx
Labels: engineering, content

#11842 update powershell usage
  content/actions/automating-builds-and-tests/building-and-testing-powershell.md
  content/actions/learn-github-actions/workflow-commands-for-github-actions.md
  content/admin/advanced-security/deploying-github-advanced-security-in-your-enterprise.md
  content/authentication/keeping-your-account-and-data-secure/about-anonymized-urls.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/setting-up-code-scanning-for-a-repository.md
  data/allowed-topics.js
  data/product-examples/actions/code-examples.yml
Labels: content, ready to merge

#11508 Update index.md
  content/github/copilot/index.md
Labels: content, hacktoberfest-accepted, ready to merge

#11876 repo sync
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/deleting-your-user-account.md
  content/organizations/managing-organization-settings/converting-an-organization-into-a-user.md
Labels: triage, autoupdate, automated-reposync-pr

#11862 Add redirect for older version of article
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/reverting-a-pull-request.md
Labels: content, ready to merge

#11880 repo sync
  content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
Labels: triage, autoupdate, automated-reposync-pr

#11884 repo sync
  content/admin/configuration/managing-connections-between-your-enterprise-accounts/enabling-the-dependency-graph-and-dependabot-alerts-on-your-enterprise-account.md
  content/admin/enterprise-management/configuring-high-availability/about-geo-replication.md
  content/admin/enterprise-management/configuring-high-availability/about-high-availability-configuration.md
  content/admin/github-actions/advanced-configuration-and-troubleshooting/troubleshooting-github-actions-for-your-enterprise.md
  content/code-security/supply-chain-security/managing-vulnerabilities-in-your-projects-dependencies/viewing-and-updating-vulnerable-dependencies-in-your-repository.md
  data/reusables/dependabot/enterprise-enable-dependabot.md
Labels: triage, autoupdate, automated-reposync-pr

#11822 Add note clarifying feature availability
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms.md
  data/reusables/community/issue-forms-beta.md
Labels: content, waiting for review

#11896 repo sync
  content/github-cli/github-cli/github-cli-reference.md
Labels: triage, autoupdate, automated-reposync-pr

#11898 repo sync
  components/article/ArticlePage.tsx
  components/article/PlatformPicker.tsx
  components/context/ArticleContext.tsx
  components/lib/display-platform-specific-content.ts
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  content/code-security/getting-started/securing-your-organization.md
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  lib/page.js
  pages/[versionId]/[productId]/index.tsx
  tests/browser/browser.js
  tsconfig.json
Labels: triage, autoupdate, automated-reposync-pr

#11907 repo sync
  package-lock.json
  package.json
  script/backfill-missing-localizations.js
Labels: triage, autoupdate, automated-reposync-pr

#11912 repo sync
  components/article/PlatformPicker.tsx
Labels: triage, autoupdate, automated-reposync-pr

#11911 Fix missing redirect to merge queue docs
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/adding-a-pull-request-to-the-merge-queue.md
Labels: triage

#11564 Make the last step a step in Mirroring a repo sect
  content/repositories/creating-and-managing-repositories/duplicating-a-repository.md
Labels: content, hacktoberfest-accepted, waiting for review

#11925 repo sync
  assets/images/octicons/search-16.svg
  assets/images/octicons/search-24.svg
  assets/images/octicons/search.svg
  components/Search.module.scss
  components/Search.tsx
  components/page-header/Header.tsx
  package-lock.json
  package.json
  pages/index.tsx
  script/search/lunr-search-index.js
Labels: triage, autoupdate, automated-reposync-pr

#11633 Add example to CLI section of Add a new SSH key
  content/authentication/connecting-to-github-with-ssh/adding-a-new-ssh-key-to-your-github-account.md
Labels: content, waiting for review

#11722 Update gh CLI steps in adding-a-new-ssh-key-to-your-github-account.md
  content/authentication/connecting-to-github-with-ssh/adding-a-new-ssh-key-to-your-github-account.md
Labels: content, waiting for review

#11927 repo sync
  components/Search.module.scss
  components/Search.tsx
  components/context/MainContext.tsx
Labels: triage, autoupdate, automated-reposync-pr

#11958 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: triage, autoupdate, automated-reposync-pr

#11972 repo sync
  .github/workflows/js-lint.yml
  Dockerfile
Labels: triage, autoupdate, automated-reposync-pr

#11999 Update managing-remote-repositories.md
  content/get-started/getting-started-with-git/managing-remote-repositories.md
Labels: content, ready to merge

#12001 Fix typo in OIDC
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
Labels: content, ready to merge

#11894 Keep simpler example, fix table formatting
  content/search-github/getting-started-with-searching-on-github/understanding-the-search-syntax.md
Labels: content, waiting for review

#11934 Provide a description for the code scanning permissions
  content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-custom-repository-roles-for-an-organization.md
Labels: content, waiting for review

#12020 repo sync
  content/admin/configuration/configuring-network-settings/configuring-tls.md
  content/admin/user-management/monitoring-activity-in-your-enterprise/log-forwarding.md
  content/authentication/authenticating-with-saml-single-sign-on/authorizing-a-personal-access-token-for-use-with-saml-single-sign-on.md
  content/authentication/authenticating-with-saml-single-sign-on/authorizing-an-ssh-key-for-use-with-saml-single-sign-on.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/managing-team-synchronization-for-your-organization.md
  content/sponsors/receiving-sponsorships-through-github-sponsors/viewing-your-sponsors-and-sponsorships.md
  data/reusables/saml/authorized-creds-info.md
Labels: triage, autoupdate, automated-reposync-pr

#12021 repo sync
  content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md
  package-lock.json
  package.json
Labels: triage, autoupdate, automated-reposync-pr

#12028 repo sync
  content/github/site-policy/github-terms-for-additional-products-and-features.md
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: triage, autoupdate, automated-reposync-pr

#12031 repo sync
  lib/handle-exceptions.js
  middleware/events.js
Labels: triage, autoupdate, automated-reposync-pr

#11567 Actions: Add `echo` workflow command
  content/actions/learn-github-actions/workflow-commands-for-github-actions.md
Labels: content, hacktoberfest-accepted, waiting for review

#12036 repo sync
  lib/enterprise-dates.json
Labels: triage, autoupdate, automated-reposync-pr

#12037 repo sync
  data/release-notes/enterprise-server/3-3/0-rc1.yml
Labels: triage, autoupdate, automated-reposync-pr

#12039 repo sync
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
Labels: triage, autoupdate, automated-reposync-pr

#12045 repo sync
  content/billing/managing-licenses-for-visual-studio-subscriptions-with-github-enterprise/about-visual-studio-subscriptions-with-github-enterprise.md
Labels: triage, autoupdate, automated-reposync-pr

#12009 fix: missing paren in link in "Resolving a merge conflict on GitHub"
  content/pull-requests/collaborating-with-pull-requests/addressing-merge-conflicts/resolving-a-merge-conflict-on-github.md
Labels: content, ready to merge

#11514 Set Password in Incognito or Private browser Mode
  content/admin/authentication/managing-your-enterprise-users-with-your-identity-provider/about-enterprise-managed-users.md
Labels: content, hacktoberfest-accepted, ready to merge

#12051 repo sync
  assets/images/help/settings/accessibility-tab.png
  assets/images/help/settings/disable-character-key-shortcuts.png
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/index.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/managing-accessibility-settings.md
  content/get-started/using-github/keyboard-shortcuts.md
  data/features/keyboard-shortcut-accessibility-setting.yml
  data/reusables/user_settings/accessibility_settings.md
Labels: triage, autoupdate, automated-reposync-pr

#12056 repo sync
  data/reusables/github-actions/supported-github-runners.md
Labels: triage, autoupdate, automated-reposync-pr

#12058 repo sync
  content/billing/index.md
  lib/failbot.js
  package-lock.json
  package.json
  tests/unit/failbot.js
Labels: triage, autoupdate, automated-reposync-pr

#12061 repo sync
  components/Search.tsx
  components/page-header/Header.tsx
  components/page-header/LanguagePicker.tsx
  components/page-header/ProductPicker.tsx
  components/page-header/VersionPicker.tsx
  components/ui/Picker/Picker.tsx
  components/ui/Picker/index.ts
  package-lock.json
  package.json
  pages/storybook.tsx
  tests/rendering/header.js
  tests/rendering/server.js
  tests/unit/products.js
Labels: triage, autoupdate, automated-reposync-pr

#11195 Change block usersetting
  assets/images/help/organizations/org-settings-moderation-settings.png
  content/communities/maintaining-your-safety-on-github/unblocking-a-user-from-your-organization.md
  data/reusables/organizations/moderation-settings.md
Labels: content, hacktoberfest-accepted, ready to merge

#12062 repo sync
  assets/images/help/writing/collapsed-section-view.png
  assets/images/help/writing/open-collapsed-section.png
  content/github/writing-on-github/working-with-advanced-formatting/index.md
  content/github/writing-on-github/working-with-advanced-formatting/organizing-information-with-collapsed-sections.md
Labels: triage, autoupdate, automated-reposync-pr

#12064 repo sync
  lib/failbot.js
Labels: triage, autoupdate, automated-reposync-pr

#12065 repo sync
  lib/failbot.js
  lib/search/lunr-search.js
  tests/unit/failbot.js
Labels: triage, autoupdate, automated-reposync-pr

#12067 repo sync
  components/Search.module.scss
  components/Search.tsx
Labels: triage, autoupdate, automated-reposync-pr

#12069 repo sync
  lib/page.js
Labels: triage, autoupdate, automated-reposync-pr

#12071 repo sync
  script/i18n/lint-translation-files.js
  tests/unit/pages.js
Labels: triage, autoupdate, automated-reposync-pr

#12075 repo sync
  content/README.md
Labels: triage, autoupdate, automated-reposync-pr

#12078 repo sync
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-azure.md
Labels: triage, autoupdate, automated-reposync-pr

#12082 repo sync
  components/Search.tsx
  components/hooks/useQuery.ts
Labels: triage, autoupdate, automated-reposync-pr

#12083 repo sync
  data/reusables/webhooks/workflow_job_properties.md
  lib/webhooks/static/dotcom/workflow_job.payload.json
Labels: triage, autoupdate, automated-reposync-pr

#12084 repo sync
  assets/images/help/repository/required-statuses-list.png
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches.md
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks.md
Labels: triage, autoupdate, automated-reposync-pr

#12086 repo sync
  package-lock.json
  package.json
  pages/storybook.tsx
Labels: triage, autoupdate, automated-reposync-pr

#11932 update `gh repo create` docs
  content/get-started/quickstart/create-a-repo.md
  content/github-cli/github-cli/creating-github-cli-extensions.md
  content/github/importing-your-projects-to-github/importing-source-code-to-github/adding-an-existing-project-to-github-using-the-command-line.md
Labels: content, waiting for review

#12092 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
Labels: triage, autoupdate, automated-reposync-pr

#12097 repo sync
  components/Search.tsx
Labels: triage, autoupdate, automated-reposync-pr

#12099 repo sync
  components/article/ArticlePage.tsx
  components/context/ArticleContext.tsx
  components/landing/CodeExampleCard.tsx
  components/sublanding/ArticleCard.tsx
  lib/get-mini-toc-items.js
  tests/rendering/server.js
Labels: triage, autoupdate, automated-reposync-pr

#12100 repo sync
  components/article/ArticlePage.tsx
Labels: triage, autoupdate, automated-reposync-pr

#12101 repo sync
  .github/allowed-actions.js
  .github/workflows/check-broken-links-github-github.yml
  .github/workflows/enterprise-dates.yml
  .github/workflows/remove-unused-assets.yml
  .github/workflows/test.yml
  .github/workflows/update-graphql-files.yml
  tests/linting/lint-files.js
Labels: triage, autoupdate, automated-reposync-pr

#12102 repo sync
  lib/excluded-links.js
  lib/warm-server.js
Labels: triage, autoupdate, automated-reposync-pr

#12104 repo sync
  components/article/ArticlePage.tsx
Labels: triage, autoupdate, automated-reposync-pr
