Repository github/docs, pull requests merged in 2021-07, with the labels that each got.

#7683 Add CNAME note for firewalls
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
Labels: content, triage

#7845 repo sync
  data/reusables/support/about-premium-plans.md
Labels: automated-reposync-pr, autoupdate, triage

#7848 repo sync
  content/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/automating-dependabot-with-github-actions.md
  content/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/index.md
Labels: automated-reposync-pr, autoupdate, triage

#7852 repo sync
  content/sponsors/receiving-sponsorships-through-github-sponsors/setting-up-github-sponsors-for-your-organization.md
Labels: automated-reposync-pr, autoupdate, triage

#7854 repo sync
  content/actions/guides/building-and-testing-nodejs.md
  content/actions/guides/caching-dependencies-to-speed-up-workflows.md
  content/actions/guides/deploying-to-azure-app-service.md
  content/actions/guides/publishing-nodejs-packages.md
  content/actions/learn-github-actions/introduction-to-github-actions.md
  content/actions/learn-github-actions/managing-complex-workflows.md
  content/actions/learn-github-actions/migrating-from-jenkins-to-github-actions.md
  content/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions.md
  content/actions/reference/workflow-syntax-for-github-actions.md
  content/admin/github-actions/managing-access-to-actions-from-githubcom/setting-up-the-tool-cache-on-self-hosted-runners-without-internet-access.md
  content/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions.md
  content/packages/quickstart.md
Labels: automated-reposync-pr, autoupdate, triage

#7856 repo sync
  content/actions/managing-workflow-runs/disabling-and-enabling-a-workflow.md
  content/actions/managing-workflow-runs/downloading-workflow-artifacts.md
  content/actions/managing-workflow-runs/manually-running-a-workflow.md
  content/actions/managing-workflow-runs/re-running-a-workflow.md
  content/actions/managing-workflow-runs/viewing-workflow-run-history.md
  content/get-started/quickstart/fork-a-repo.md
  content/github/authenticating-to-github/connecting-to-github-with-ssh/adding-a-new-ssh-key-to-your-github-account.md
  content/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request.md
  content/github/creating-cloning-and-archiving-repositories/cloning-a-repository-from-github/cloning-a-repository.md
  content/issues/trying-out-the-new-projects-experience/using-the-api-to-manage-projects.md
  data/reusables/cli/download-cli.md
Labels: automated-reposync-pr, autoupdate, triage

#7688 Fix doc - missing types, won't compile
  content/packages/working-with-a-github-packages-registry/working-with-the-gradle-registry.md
Labels: packages, waiting for review

#7859 repo sync
  layouts/dev-toc.html
  middleware/dev-toc.js
Labels: automated-reposync-pr, autoupdate, triage

#7863 repo sync
  content/actions/guides/adding-labels-to-issues.md
  content/actions/guides/building-and-testing-java-with-gradle.md
  content/actions/guides/building-and-testing-python.md
  content/actions/guides/building-and-testing-ruby.md
  content/actions/guides/building-and-testing-swift.md
  content/actions/guides/commenting-on-an-issue-when-a-label-is-added.md
  content/actions/guides/deploying-to-amazon-elastic-container-service.md
  content/actions/guides/deploying-to-azure-app-service.md
  content/actions/guides/deploying-to-google-kubernetes-engine.md
  content/actions/guides/moving-assigned-issues-on-project-boards.md
  content/actions/guides/publishing-docker-images.md
  content/actions/guides/publishing-java-packages-with-gradle.md
  content/actions/guides/removing-a-label-when-a-card-is-added-to-a-project-board-column.md
  content/actions/guides/scheduling-issue-creation.md
  content/actions/learn-github-actions/migrating-from-circleci-to-github-actions.md
  content/actions/reference/workflow-syntax-for-github-actions.md
  content/admin/github-actions/managing-access-to-actions-from-githubcom/manually-syncing-actions-from-githubcom.md
  content/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions.md
  data/reusables/actions/actions-not-certified-by-github-comment.md
  data/reusables/actions/actions-not-certified-by-github-note.md
  data/reusables/code-scanning/custom-configuration-file.md
  data/reusables/package_registry/publish-docker-image.md
Labels: automated-reposync-pr, autoupdate, triage

#7864 repo sync
  assets/images/help/issues/quickstart-add-label-to-issue.png
  assets/images/help/issues/quickstart-add-task-list-to-issue.png
  assets/images/help/issues/quickstart-collaborating-on-issue.png
  assets/images/help/issues/quickstart-create-large-initiative-issue.png
  assets/images/help/issues/quickstart-creating-issue-template.png
  assets/images/help/issues/quickstart-creating-readme.png
  assets/images/help/issues/quickstart-issue-creation-menu-with-template.png
  assets/images/help/issues/quickstart-project-board.png
  assets/images/help/issues/quickstart-projects-board-view.png
  assets/images/help/issues/quickstart-projects-table-view.png
  content/issues/index.md
  content/issues/tracking-your-work-with-issues/index.md
  content/issues/tracking-your-work-with-issues/planning-and-tracking-work-for-your-team-or-project.md
  content/rest/reference/apps.md
  content/rest/reference/orgs.md
  content/rest/reference/repos.md
  data/reusables/webhooks/webhooks-rest-api-links.md
Labels: automated-reposync-pr, autoupdate, triage

#7865 repo sync
  lib/create-tree.js
  lib/page-data.js
Labels: automated-reposync-pr, autoupdate, triage

#7869 repo sync
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: automated-reposync-pr, autoupdate, triage

#7875 repo sync
  assets/images/help/repository/secret-scanning-create-custom-pattern.png
  data/reusables/repositories/secret-scanning-add-custom-pattern.md
Labels: automated-reposync-pr, autoupdate, triage

#7881 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
Labels: automated-reposync-pr, autoupdate, triage

#7882 repo sync
  content/code-security/secure-coding/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
Labels: automated-reposync-pr, autoupdate, triage

#7887 repo sync
  content/github/setting-up-and-managing-your-enterprise/configuring-identity-and-access-management-for-your-enterprise-account/about-identity-and-access-management-for-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/configuring-identity-and-access-management-for-your-enterprise-account/about-user-provisioning-for-organizations-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/configuring-identity-and-access-management-for-your-enterprise-account/configuring-saml-single-sign-on-and-scim-for-your-enterprise-account-using-okta.md
  content/github/setting-up-and-managing-your-enterprise/configuring-identity-and-access-management-for-your-enterprise-account/configuring-saml-single-sign-on-for-your-enterprise-account-using-okta.md
  content/github/setting-up-and-managing-your-enterprise/configuring-identity-and-access-management-for-your-enterprise-account/enabling-saml-single-sign-on-for-organizations-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/configuring-identity-and-access-management-for-your-enterprise-account/index.md
  content/github/setting-up-and-managing-your-enterprise/managing-organizations-in-your-enterprise-account/managing-unowned-organizations-in-your-enterprise-account.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/about-identity-and-access-management-with-saml-single-sign-on.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/about-scim.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/configuring-saml-single-sign-on-and-scim-using-okta.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/connecting-your-identity-provider-to-your-organization.md
  content/rest/reference/enterprise-admin.md
  content/rest/reference/scim.md
  data/reusables/scim/enterprise-account-scim.md
Labels: automated-reposync-pr, autoupdate, triage

#7788 Added Intros to REST API pages
  content/rest/reference/projects.md
  content/rest/reference/pulls.md
  content/rest/reference/rate-limit.md
  content/rest/reference/reactions.md
  content/rest/reference/repos.md
Labels: Campus Experts + Docs program

#7828 Update adding-a-workflow-status-badge.md
  content/actions/managing-workflow-runs/adding-a-workflow-status-badge.md
Labels: actions, waiting for review

#7889 repo sync
  script/graphql/utils/process-schemas.js
  script/graphql/utils/schema-helpers.js
Labels: automated-reposync-pr, autoupdate, triage

#7891 repo sync
  lib/warm-server.js
Labels: automated-reposync-pr, autoupdate, triage

#7893 repo sync
  javascripts/events.ts
Labels: automated-reposync-pr, autoupdate, triage

#7894 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
Labels: automated-reposync-pr, autoupdate, triage

#7890 Updated instructions on "Allowing changes to a pull request branch created from a fork" on how to allow changes
  data/reusables/repositories/allow-maintainers-user-forks.md
Labels: content, ready to merge

#7803 Fix grammar for enterprise accounts
  content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
Labels: GHE, actions, waiting for review

#7884 Fix PubSubHubbub link on Repositories#Webhooks
  content/rest/reference/repos.md
Labels: ready to merge, triage

#7938 Reword "name" and "about" issue template frontmatter (#7570)
  .github/ISSUE_TEMPLATE/improve-existing-docs.md
  .github/ISSUE_TEMPLATE/improve-the-site.md
Labels: ready to merge, waiting for review

#7939 Update manually-running-a-workflow.md
  content/actions/managing-workflow-runs/manually-running-a-workflow.md
Labels: ready to merge

#7943 fix typo in about-task-lists.md
  content/issues/tracking-your-work-with-issues/about-task-lists.md
Labels: ready to merge

#8121 repo sync
  content/issues/trying-out-the-new-projects-experience/best-practices-for-managing-projects.md
  data/reusables/webhooks/pull_request_webhook_properties.md
Labels: automated-reposync-pr, autoupdate, triage

#8123 repo sync
  .github/workflows/block-js-changes.yml
  script/code/convert-cjs-to-esm.mjs
Labels: automated-reposync-pr, autoupdate, triage

#8126 repo sync
  content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
  data/reusables/audit_log/audited-data-list.md
Labels: automated-reposync-pr, autoupdate, triage

#8134 repo sync
  assets/images/enterprise/site-admin-settings/enable-marketplace-actions-drop-down.png
  content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enforcing-github-actions-policies-for-your-enterprise.md
  content/rest/reference/apps.md
  content/rest/reference/orgs.md
  content/rest/reference/repos.md
  data/reusables/actions/allow-specific-actions-intro.md
  data/reusables/webhooks/webhooks-rest-api-links.md
  lib/webhooks/static/dotcom/pull_request_review_comment.created.payload.json
  lib/webhooks/static/ghae/pull_request_review_comment.created.payload.json
  lib/webhooks/static/ghes-2.20/pull_request_review_comment.created.payload.json
  lib/webhooks/static/ghes-2.21/pull_request_review_comment.created.payload.json
  lib/webhooks/static/ghes-2.22/pull_request_review_comment.created.payload.json
  lib/webhooks/static/ghes-3.0/pull_request_review_comment.created.payload.json
  lib/webhooks/static/ghes-3.1/pull_request_review_comment.created.payload.json
Labels: automated-reposync-pr, autoupdate, triage

#8144 repo sync
  content/actions/guides/index.md
  content/code-security/guides.md
  content/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/automating-dependabot-with-github-actions.md
  data/learning-tracks/code-security.yml
Labels: automated-reposync-pr, autoupdate, triage

#7974 Correct CRE terminology for GitHub Premium Support
  content/admin/enterprise-support/overview/about-github-enterprise-support.md
Labels: GHE, content, waiting for review

#8125 Max diff files = 300
  content/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/limits-for-viewing-content-and-diffs-in-a-repository.md
Labels: content, waiting for review

#7867 fix(about-dependabot-security-updates): typo
  content/code-security/supply-chain-security/managing-vulnerabilities-in-your-projects-dependencies/about-dependabot-security-updates.md
Labels: dependabot, waiting for review

#8135 Clarify that the default branch is excluded
  content/github/administering-a-repository/managing-branches-in-your-repository/viewing-branches-in-your-repository.md
Labels: content, waiting for review

#8168 repo sync
  content/education/manage-coursework-with-github-classroom/get-started-with-github-classroom/basics-of-setting-up-github-classroom.md
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/about-using-replit-with-github-classroom.md
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/index.md
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/integrate-github-classroom-with-an-online-ide.md
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/replit-with-github-classroom.md
Labels: automated-reposync-pr, autoupdate, triage

#8169 repo sync
  .github/allowed-actions.js
  .github/workflows/browser-test.yml
  .github/workflows/dry-run-sync-algolia-search-indices.yml
  .github/workflows/js-lint.yml
  .github/workflows/link-check-dotcom.yml
  .github/workflows/link-check-ghae.yml
  .github/workflows/link-check-ghes.yml
  .github/workflows/pa11y.yml
  .github/workflows/staging-deploy-pr.yml
  .github/workflows/staging-undeploy-pr.yml
  .github/workflows/sync-algolia-search-indices.yml
  .github/workflows/sync-single-english-algolia-index.yml
  .github/workflows/test-windows.yml
  .github/workflows/test.yml
  .github/workflows/yml-lint.yml
Labels: automated-reposync-pr, autoupdate, triage

#7955 Added Intros to REST APIs Pages
  content/rest/reference/markdown.md
  content/rest/reference/meta.md
  content/rest/reference/migrations.md
  content/rest/reference/orgs.md
  content/rest/reference/packages.md
Labels: Campus Experts + Docs program, waiting for review

#7921 More SSH details in connecting-to-github-with-ssh
  content/github/authenticating-to-github/connecting-to-github-with-ssh/index.md
Labels: content, ssh, waiting for review

#8175 repo sync
  ownership.yaml
Labels: automated-reposync-pr, autoupdate, triage

#8120 Update workflow-syntax-for-github-actions.md
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, ready to merge

#8132 Fix typo in permission name
  content/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/automating-dependabot-with-github-actions.md
Labels: content, ready to merge

#8184 repo sync
  lib/rewrite-local-links.js
Labels: automated-reposync-pr, autoupdate, triage

#8141 Fix workflow in Actions 'Introductions' article
  assets/images/help/images/overview-actions-event.png
  content/actions/learn-github-actions/introduction-to-github-actions.md
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: triage

#8191 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: automated-reposync-pr, autoupdate, triage

#7824 Update 'Using a specific shell'
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, waiting for review

#8205 repo sync
  data/variables/migrations.yml
Labels: automated-reposync-pr, autoupdate, triage

#8214 repo sync
  assets/images/help/releases/releases_description.png
Labels: automated-reposync-pr, autoupdate, triage

#8215 repo sync
  script/graphql/update-files.js
Labels: automated-reposync-pr, autoupdate, triage

#8216 repo sync
  .github/workflows/triage-app-json.yml
Labels: automated-reposync-pr, autoupdate, triage

#8217 repo sync
  data/release-notes/enterprise-server/2-22/17.yml
  data/release-notes/enterprise-server/3-0/11.yml
  data/release-notes/enterprise-server/3-1/3.yml
Labels: automated-reposync-pr, autoupdate, triage

#7781 Reword GITHUB_WORKSPACE description
  content/actions/reference/environment-variables.md
Labels: actions, ready to merge

#8226 repo sync
  content/github/working-with-github-support/about-github-support.md
Labels: automated-reposync-pr, autoupdate, triage

#8179 #7975 Added missing activity types to pull_request trigger
  content/actions/reference/events-that-trigger-workflows.md
Labels: actions, ready to merge

#7874 fix: support the rewrite of browser rendered javascripts to typescripts. Resolves #7872
  javascripts/README.md
Labels: engineering, waiting for review

#8233 repo sync
  components/product/SidebarProduct.tsx
Labels: automated-reposync-pr, autoupdate, triage

#8235 repo sync
  content/github/site-policy/github-community-forum-code-of-conduct.md
  content/github/site-policy/github-community-guidelines.md
Labels: automated-reposync-pr, autoupdate, triage

#7937 GitHub Actions data transfer is not billed (#7569)
  content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
Labels: actions, waiting for review

#8252 repo sync
  content/actions/learn-github-actions/introduction-to-github-actions.md
Labels: automated-reposync-pr, autoupdate, triage

#8016 Update responses for current format
  content/rest/guides/getting-started-with-the-rest-api.md
Labels: content, rest, waiting for review

#8176 docs: add headers
  content/get-started/getting-started-with-git/configuring-git-to-handle-line-endings.md
  content/get-started/getting-started-with-git/setting-your-username-in-git.md
  content/get-started/using-git/pushing-commits-to-a-remote-repository.md
Labels: content, waiting for review

#8107 Add clarification about glob chars in branch/tag matching
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: content, waiting for review

#8275 repo sync
  content/admin/configuration/configuring-network-settings/configuring-built-in-firewall-rules.md
Labels: automated-reposync-pr, autoupdate, triage

#8284 repo sync
  .gitignore
  .husky/pre-commit
  package-lock.json
  package.json
Labels: automated-reposync-pr, autoupdate, triage

#8291 repo sync
  content/admin/configuration/managing-connections-between-github-enterprise-server-and-github-enterprise-cloud/enabling-alerts-for-vulnerable-dependencies-on-github-enterprise-server.md
Labels: automated-reposync-pr, autoupdate, triage

#8286 Clarified the organizations that get visibility on 'internal' repositories
  content/admin/user-management/managing-organizations-in-your-enterprise/index.md
Labels: triage

#8302 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: automated-reposync-pr, autoupdate, triage

#8288 Update configuring-user-provisioning-for-your-enterprise.md to include SCIM URL
  content/admin/authentication/managing-identity-and-access-for-your-enterprise/configuring-user-provisioning-for-your-enterprise.md
Labels: triage

#8270 added upper-case-solution
  data/reusables/pages/create-repo-name.md
Labels: content, waiting for review

#8172 Vigilant feature marks cryptographically verified signatures (whose GPG key's email has been verified by github) as unverified.
  content/github/authenticating-to-github/managing-commit-signature-verification/displaying-verification-statuses-for-all-of-your-commits.md
Labels: content, waiting for review

#7784 Add CODEOWNERS usage details
  content/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners.md
Labels: content, waiting for review

#7618 Update about-artifact-log-retention.md
  data/reusables/actions/about-artifact-log-retention.md
Labels: actions, waiting for review

#8370 Fix invalid raw markup
  data/reusables/package_registry/publish-docker-image.md
Labels: triage

#8037 Added Intros for GitHub Enterprise map topics
  content/admin/policies/enforcing-policies-for-your-enterprise/index.md
  content/admin/user-management/monitoring-activity-in-your-enterprise/index.md
Labels: content, waiting for review

#8393 repo sync
  package-lock.json
  package.json
Labels: automated-reposync-pr, autoupdate, triage

#8394 repo sync
  .github/workflows/openapi-schema-check.yml
  package-lock.json
  package.json
Labels: automated-reposync-pr, autoupdate, triage

#8378 Fix syntax error on caching example in GitlabCI/CD comparison
  content/actions/learn-github-actions/migrating-from-gitlab-cicd-to-github-actions.md
Labels: actions, waiting for review

#8362 Fix jobs timeout misleading in workflow syntax article
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: content, ready to merge

#8397 repo sync
  script/code/convert-cjs-to-esm.mjs
  script/content-migrations/commonmark-indent.js
Labels: automated-reposync-pr, autoupdate, triage

#8402 repo sync
  content/github/index.md
  tests/rendering/breadcrumbs.js
  tests/rendering/header.js
  tests/rendering/sidebar.js
  tests/unit/products.js
Labels: automated-reposync-pr, autoupdate, triage

#8388 Fix broken markdown link in code search documentation
  content/github/searching-for-information-on-github/searching-on-github/searching-code.md
Labels: triage

#8404 repo sync
  Dockerfile
Labels: automated-reposync-pr, autoupdate, triage

#8406 repo sync
  assets/images/help/organizations/organization-account-transformation-warning.png
  content/admin/enterprise-management/configuring-clustering/evacuating-a-cluster-node.md
  content/github/setting-up-and-managing-your-github-user-account/managing-user-account-settings/converting-a-user-into-an-organization.md
Labels: automated-reposync-pr, autoupdate, triage

#8379 Update managing-the-default-branch-name-for-your-repositories.md
  content/github/setting-up-and-managing-your-github-user-account/managing-user-account-settings/managing-the-default-branch-name-for-your-repositories.md
Labels: content, ready to merge

#8407 repo sync
  .github/workflows/triage-unallowed-contributions.yml
  lib/render-content/create-processor.js
Labels: automated-reposync-pr, autoupdate

#8409 repo sync
  .github/allowed-actions.js
  .github/workflows/link-check-dotcom.yml
  .github/workflows/link-check-ghae.yml
  .github/workflows/link-check-ghes.yml
  .github/workflows/openapi-schema-check.yml
  .github/workflows/test.yml
  .github/workflows/triage-unallowed-contributions.yml
  .github/workflows/workflow-lint.yml
Labels: automated-reposync-pr, autoupdate, triage

#8413 repo sync
  components/Survey.tsx
Labels: automated-reposync-pr, autoupdate, triage

#8414 repo sync
  components/landing/CodeExampleCard.tsx
  components/sublanding/ArticleCard.tsx
Labels: automated-reposync-pr, autoupdate, triage

#8416 repo sync
  .github/allowed-actions.js
  .github/workflows/workflow-lint.yml
Labels: automated-reposync-pr, autoupdate, triage

#8417 repo sync
  components/GenericError.tsx
  middleware/handle-errors.js
  middleware/render-page.js
  next-env.d.ts
  pages/404.tsx
  pages/500.tsx
  pages/_error.tsx
  stylesheets/utilities.scss
  tests/browser/browser.js
  tests/rendering/server.js
Labels: automated-reposync-pr, autoupdate, triage

#8418 repo sync
  content/admin/configuration/configuring-your-enterprise/initializing-github-ae.md
  content/get-started/index.md
  content/get-started/onboarding/getting-started-with-github-ae.md
  content/get-started/onboarding/getting-started-with-github-enterprise-cloud.md
  content/get-started/onboarding/getting-started-with-github-enterprise-server.md
  content/get-started/onboarding/getting-started-with-github-team.md
  content/get-started/onboarding/getting-started-with-your-github-account.md
  content/get-started/onboarding/index.md
  data/reusables/getting-started/about-and-creating-teams.md
  data/reusables/getting-started/actions.md
  data/reusables/getting-started/adding-members-to-organizations.md
  data/reusables/getting-started/api.md
  data/reusables/getting-started/configuring-security-features.md
  data/reusables/getting-started/contact-support-enterprise.md
  data/reusables/getting-started/contact-support.md
  data/reusables/getting-started/creating-organizations.md
  data/reusables/getting-started/creating-teams.md
  data/reusables/getting-started/customizing-and-automating.md
  data/reusables/getting-started/enforcing-repo-management-policies.md
  data/reusables/getting-started/github-pages-enterprise.md
  data/reusables/getting-started/giving-access-to-repositories-projects-apps.md
  data/reusables/getting-started/learning-lab-enterprise.md
  data/reusables/getting-started/learning-lab.md
  data/reusables/getting-started/managing-enterprise-members.md
  data/reusables/getting-started/managing-org-members.md
  data/reusables/getting-started/managing-org-policies.md
  data/reusables/getting-started/managing-repo-changes.md
  data/reusables/getting-started/managing-team-settings.md
  data/reusables/getting-started/marketplace.md
  data/reusables/getting-started/open-source-projects.md
  data/reusables/getting-started/org-permissions-and-roles.md
  data/reusables/getting-started/packages.md
  data/reusables/getting-started/participating-in-community.md
  data/reusables/getting-started/requiring-2fa.md
  data/reusables/getting-started/reviewing-org-audit-log-and-integrations.md
  data/reusables/getting-started/setting-org-and-repo-permissions.md
  data/reusables/getting-started/sponsors.md
  data/reusables/getting-started/using-org-community-files-and-moderation-tools.md
  data/reusables/github-ae/initialize-enterprise.md
  data/reusables/support/ask-and-answer-forum.md
Labels: automated-reposync-pr, autoupdate, triage

#8420 repo sync
  Procfile
  lib/redis-accessor.js
  middleware/render-page.js
  script/README.md
  script/purge-redis-pages.js
  script/release-heroku
  tests/unit/redis-accessor.js
Labels: automated-reposync-pr, autoupdate, triage

#8421 repo sync
  .github/actions-scripts/enterprise-server-issue-templates/deprecation-issue.md
  script/enterprise-server-deprecations/remove-redirects.js
  script/helpers/get-liquid-conditionals.js
Labels: automated-reposync-pr, autoupdate, triage

#8428 repo sync
  content/actions/learn-github-actions/security-hardening-for-github-actions.md
  content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
  data/reusables/actions/actions-audit-events-for-enterprise.md
Labels: automated-reposync-pr, autoupdate, triage

#8429 repo sync
  .github/ISSUE_COMMENT_TEMPLATE/batch-status.yml
Labels: automated-reposync-pr, autoupdate, triage

#8365 Removes outdated note about X.509 Certs in Linux `gpgsm`
  content/github/authenticating-to-github/managing-commit-signature-verification/telling-git-about-your-signing-key.md
Labels: content, ready to merge

#8392 Fixes Inconsistent description of scope of env set via `GITHUB_ENV` & `core.exportVariable`
  content/actions/reference/environment-variables.md
  content/actions/reference/workflow-commands-for-github-actions.md
Labels: content, ready to merge

#8435 repo sync
  .github/workflows/openapi-decorate.yml
Labels: automated-reposync-pr, autoupdate, triage

#8438 repo sync
  components/release-notes/PatchNotes.tsx
Labels: automated-reposync-pr, autoupdate, triage

#8439 repo sync
  .gitignore
  Dockerfile
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  data/reusables/supported-languages/go.md
  includes/all-enterprise-releases-link.html
  includes/all-products-link.html
  includes/contribution.html
  includes/error-404-deprecation-message.html
  includes/head.html
  includes/header-notification.html
  includes/header-version-switcher.html
  includes/header.html
  includes/liquid-tags/homepage-link-with-intro.html
  includes/liquid-tags/link-as-article-card.html
  includes/liquid-tags/link-in-list.html
  includes/liquid-tags/link-with-intro.html
  includes/liquid-tags/link.html
  includes/liquid-tags/topic-link-in-list.html
  includes/scripts.html
  includes/scroll-button.html
  includes/search-form.html
  includes/sidebar-homepage.html
  includes/sidebar-product.html
  includes/sidebar.html
  includes/small-footer.html
  includes/support-section.html
  includes/support.html
  includes/survey.html
  includes/toggle-images.html
  includes/tool-switcher.html
  javascripts/explorer.ts
  javascripts/hyperscript.ts
  javascripts/index.ts
  javascripts/print.ts
  javascripts/scroll-up.ts
  javascripts/search-with-your-keyboard.d.ts
  javascripts/search.ts
  layouts/README.md
  layouts/error-404.html
  layouts/error-500.html
  lib/built-asset-urls.js
  lib/render-content/index.js
  middleware/context.js
  middleware/handle-errors.js
  next.config.js
  package-lock.json
  package.json
  stylesheets/index.scss
  tests/rendering/server.js
  webpack.config.js
Labels: automated-reposync-pr, autoupdate, triage

#8443 repo sync
  components/landing/ProductArticlesList.tsx
Labels: automated-reposync-pr, autoupdate, triage

#8444 repo sync
  components/DefaultLayout.tsx
  components/article/ArticlePage.tsx
  components/context/ProductLandingContext.tsx
  components/landing/GuideCard.tsx
  components/landing/TableOfContents.tsx
  lib/all-versions.js
  lib/frontmatter.js
  lib/get-applicable-versions.js
  lib/non-enterprise-default-version.js
  lib/old-versions-utils.js
  lib/page-data.js
  lib/path-utils.js
  lib/permalink.js
  lib/redirects/get-old-paths-from-permalink.js
  lib/redirects/permalinks.js
  lib/render-content/plugins/rewrite-legacy-asset-paths.js
  lib/render-content/plugins/rewrite-local-links.js
  lib/rest/index.js
  lib/rewrite-local-links.js
  lib/search/versions.js
  middleware/context.js
  middleware/contextualizers/graphql.js
  middleware/contextualizers/webhooks.js
  script/content-migrations/update-developer-site-links.js
  script/content-migrations/use-short-versions.js
  script/enterprise-server-deprecations/remove-redirects.js
  script/enterprise-server-deprecations/remove-static-files.js
  script/enterprise-server-deprecations/remove-version-markup.js
  script/enterprise-server-releases/create-graphql-files.js
  script/enterprise-server-releases/create-rest-files.js
  script/enterprise-server-releases/create-webhook-files.js
  script/enterprise-server-releases/release-banner.js
  script/graphql/update-files.js
  script/helpers/get-liquid-conditionals.js
  script/helpers/get-version-blocks.js
  script/helpers/remove-deprecated-frontmatter.js
  script/helpers/remove-liquid-statements.js
  script/search/sync.js
  script/update-internal-links.js
  tests/browser/browser.js
  tests/content/graphql.js
  tests/content/remove-liquid-statements.js
  tests/content/webhooks.js
  tests/linting/lint-files.js
  tests/rendering/header.js
  tests/unit/liquid.js
  tests/unit/openapi-schema.js
  tests/unit/page.js
  tests/unit/toc-links.js
  tests/unit/versions.js
Labels: automated-reposync-pr, autoupdate, triage

#8545 repo sync
  content/code-security/supply-chain-security/managing-vulnerabilities-in-your-projects-dependencies/troubleshooting-the-detection-of-vulnerable-dependencies.md
Labels: automated-reposync-pr, autoupdate, triage

#8546 repo sync
  content/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-citation-files.md
Labels: automated-reposync-pr, autoupdate, triage

#8547 repo sync
  content/github/site-policy/github-pre-release-program.md
Labels: automated-reposync-pr, autoupdate, triage

#8500 Flatten prerequisites for RubyGems registry
  content/packages/working-with-a-github-packages-registry/working-with-the-rubygems-registry.md
Labels: content, ready to merge

#8552 repo sync
  content/code-security/secure-coding/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
Labels: automated-reposync-pr, autoupdate, triage

#8559 repo sync
  components/hooks/useFeatureFlags.ts
  components/hooks/useOnScreen.ts
  components/hooks/useTranslation.ts
  components/hooks/useVersion.ts
  components/lib/ExcludesNull.ts
  components/lib/getThemeProps.ts
Labels: automated-reposync-pr, autoupdate, triage

#8560 repo sync
  content/admin/authentication/authenticating-users-for-your-github-enterprise-server-instance/allowing-built-in-authentication-for-users-outside-your-identity-provider.md
Labels: automated-reposync-pr, autoupdate, triage

#8405 Update workflow run limit from 100 to 500
  data/reusables/github-actions/usage-workflow-queue-limits.md
Labels: content, waiting for review

#8562 repo sync
  assets/images/help/settings/token_expiration.png
  assets/images/personal_token.png
  content/developers/apps/getting-started-with-apps/about-apps.md
  content/github/authenticating-to-github/keeping-your-account-and-data-secure/creating-a-personal-access-token.md
  content/rest/guides/getting-started-with-the-rest-api.md
  data/reusables/user_settings/removes-personal-access-tokens.md
Labels: automated-reposync-pr, autoupdate, triage

#8563 repo sync
  data/reusables/security/displayed-information.md
Labels: automated-reposync-pr, autoupdate, triage

#8567 repo sync
  components/LanguagePicker.tsx
Labels: automated-reposync-pr, autoupdate, triage

#8568 repo sync
  .github/workflows/ping-staging-apps.yml
Labels: automated-reposync-pr, autoupdate, triage

#8573 repo sync
  .github/actions-scripts/fr-add-docs-reviewers-requests.js
  .github/actions-scripts/fr-add-docs-reviewers-requests.py
  .github/allowed-actions.js
  .github/workflows/docs-review-collect.yml
Labels: automated-reposync-pr, autoupdate, triage

#8574 repo sync
  .github/actions-scripts/fr-add-docs-reviewers-requests.js
Labels: automated-reposync-pr, autoupdate, triage

#8577 repo sync
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
Labels: automated-reposync-pr, autoupdate, triage

#8579 repo sync
  content/admin/enterprise-support/overview/about-github-enterprise-support.md
  content/admin/enterprise-support/overview/about-support-for-advanced-security.md
  data/reusables/enterprise_enterprise_support/support-holiday-availability.md
Labels: automated-reposync-pr, autoupdate, triage

#8576 Update dependency group wording in Dependabot settings docs
  content/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/configuration-options-for-dependency-updates.md
Labels: content, ready to merge

#8561 Add discussions: permission for GITHUB_TOKEN
  data/reusables/github-actions/github-token-available-permissions.md
Labels: actions, waiting for review

#8430 Issue forms: set the "body" field as required
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms.md
Labels: content, waiting for review

#7923 add extraction to the Kustomize
  content/actions/guides/deploying-to-google-kubernetes-engine.md
Labels: actions, waiting for review

#8591 repo sync
  .github/CODEOWNERS
  .github/labeler.yml
  Dockerfile
  README.md
  components/README.md
  components/Search.tsx
  components/Survey.tsx
  components/lib/copy-code.ts
  components/lib/display-platform-specific-content.ts
  components/lib/display-tool-specific-content.ts
  components/lib/events.ts
  components/lib/experiment.ts
  components/lib/get-csrf.ts
  components/lib/localization.ts
  components/lib/scroll-anchoring.d.ts
  components/lib/toggle-images.ts
  components/lib/user-agent.ts
  components/lib/wrap-code-terms.ts
  content/README.md
  contributing/development.md
  contributing/search.md
  data/README.md
  data/learning-tracks/README.md
  data/product-examples/README.md
  data/release-notes/enterprise-server/README.md
  data/release-notes/github-ae/README.md
  includes/README.md
  javascripts/README.md
  javascripts/index.ts
  lib/get-mini-toc-items.js
  lib/liquid-tags/README.md
  pages/[versionId]/[productId]/index.tsx
  pages/_app.tsx
  stylesheets/README.md
  stylesheets/tables.scss
  tests/javascripts/user-agent.js
Labels: automated-reposync-pr, autoupdate, triage

#8593 repo sync
  content/code-security/secure-coding/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-with-codeql.md
  content/code-security/secure-coding/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning.md
  content/code-security/secure-coding/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  content/code-security/secure-coding/automatically-scanning-your-code-for-vulnerabilities-and-errors/index.md
  content/code-security/secure-coding/automatically-scanning-your-code-for-vulnerabilities-and-errors/setting-up-code-scanning-for-a-repository.md
  content/code-security/secure-coding/using-codeql-code-scanning-with-your-existing-ci-system/about-codeql-code-scanning-in-your-ci-system.md
  content/code-security/secure-coding/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  content/code-security/secure-coding/using-codeql-code-scanning-with-your-existing-ci-system/installing-codeql-cli-in-your-ci-system.md
  content/code-security/secure-coding/using-codeql-code-scanning-with-your-existing-ci-system/running-codeql-runner-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  data/features/codeql-packs.yml
  data/reusables/code-scanning/about-codeql-analysis.md
  data/reusables/code-scanning/beta-codeql-packs-actions.md
  data/reusables/code-scanning/beta-codeql-packs-cli.md
  data/reusables/code-scanning/run-additional-queries.md
Labels: automated-reposync-pr, autoupdate, triage

#8594 repo sync
  .github/workflows/check-all-english-links.yml
  .github/workflows/crowdin-cleanup.yml
  .github/workflows/docs-review-collect.yml
  .github/workflows/dry-run-sync-algolia-search-indices.yml
  .github/workflows/enterprise-dates.yml
  .github/workflows/open-enterprise-issue.yml
  .github/workflows/remove-stale-staging-apps.yml
  .github/workflows/remove-unused-assets.yml
  .github/workflows/sync-algolia-search-indices.yml
  .github/workflows/sync-single-english-algolia-index.yml
  .github/workflows/triage-unallowed-contributions.yml
  .github/workflows/update-graphql-files.yml
Labels: automated-reposync-pr, autoupdate, triage

#8289 Fixed filename capitalization errors.
  content/actions/creating-actions/creating-a-docker-container-action.md
Labels: content, ready to merge

#8597 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: automated-reposync-pr, autoupdate, triage

#8602 repo sync
  .github/workflows/automerge.yml
  .github/workflows/crowdin-cleanup.yml
  .github/workflows/enterprise-dates.yml
  .github/workflows/openapi-decorate.yml
  .github/workflows/remove-unused-assets.yml
  .github/workflows/update-graphql-files.yml
Labels: automated-reposync-pr, autoupdate, triage

#8371 Added Intros for REST API Pages
  content/rest/reference/git.md
  content/rest/reference/gitignore.md
  content/rest/reference/interactions.md
  content/rest/reference/issues.md
  content/rest/reference/licenses.md
Labels: Campus Experts + Docs program, ready to merge, rest

#8411 Clarify that `always()` has a side effect
  content/actions/reference/context-and-expression-syntax-for-github-actions.md
Labels: actions, ready to merge

#8621 Update git hooks for lfs
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
Labels: engineering

#8389 Add documentation for actions/setup-node pnpm cache
  content/actions/guides/building-and-testing-nodejs.md
  content/actions/guides/caching-dependencies-to-speed-up-workflows.md
Labels: actions, ready to merge

#8627 Set up npm and run npm ci to run husky to get githooks for LFS
  .github/workflows/repo-sync.yml
Labels: triage

#8634 repo sync
  content/github/administering-a-repository/finding-information-in-a-repository/using-search-to-filter-issues-and-pull-requests.md
  content/github/searching-for-information-on-github/searching-on-github/searching-issues-and-pull-requests.md
Labels: automated-reposync-pr, autoupdate, triage

#8592 Fix 'skip to end' link on DMCA
  content/github/site-policy/dmca-takedown-policy.md
Labels: content, waiting for review

#8637 repo sync
  components/HeaderNotifications.tsx
  components/LanguagePicker.tsx
  components/Search.tsx
  components/context/LanguagesContext.tsx
  components/context/MainContext.tsx
  pages/_app.tsx
Labels: automated-reposync-pr, autoupdate, triage

#8638 repo sync
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-for-your-schoolwork/about-github-education-for-students.md
  content/education/guides.md
Labels: automated-reposync-pr, autoupdate, triage

#8595 Update configuring-dns-nameservers.md
  content/admin/configuration/configuring-network-settings/configuring-dns-nameservers.md
Labels: content, waiting for review

#8639 repo sync
  .eslintrc.js
  includes/rest_operation.html
  lib/get-english-headings.js
  lib/render-content/create-processor.js
  lib/render-content/plugins/code-header.js
  lib/render-content/plugins/rewrite-legacy-asset-paths.js
  lib/render-content/plugins/rewrite-local-links.js
  lib/render-content/plugins/use-english-headings.js
  lib/render-content/plugins/wrap-in-element.js
  package-lock.json
  package.json
  script/update-internal-links.js
  tests/linting/lint-files.js
Labels: automated-reposync-pr, autoupdate, triage

#8390 Add table anchors in About billing for GitHub Actions
  content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
Labels: content, waiting for review

#8642 repo sync
  content/admin/configuration/managing-connections-between-github-enterprise-server-and-github-enterprise-cloud/enabling-alerts-for-vulnerable-dependencies-on-github-enterprise-server.md
  content/get-started/onboarding/getting-started-with-github-enterprise-server.md
  content/get-started/onboarding/getting-started-with-your-github-account.md
  data/reusables/code-scanning/run-additional-queries.md
Labels: automated-reposync-pr, autoupdate, triage

#8644 repo sync
  content/get-started/index.md
  content/get-started/onboarding/getting-started-with-github-enterprise-cloud.md
  content/get-started/onboarding/index.md
  content/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-citation-files.md
  content/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-readmes.md
Labels: automated-reposync-pr, autoupdate, triage

#8646 repo sync
  middleware/handle-invalid-paths.js
Labels: automated-reposync-pr, autoupdate, triage

#8640 update migrating-oauth-apps-to-github-apps.md to include requested ch…
  content/developers/apps/getting-started-with-apps/migrating-oauth-apps-to-github-apps.md
Labels: ready to merge, triage

#8647 repo sync
  .github/actions-scripts/create-enterprise-issue.js
  .github/actions-scripts/enterprise-algolia-label.js
  lib/all-products.js
  lib/check-node-version.js
  lib/enterprise-server-releases.js
  lib/process-learning-tracks.js
  script/content-migrations/deduplicate-enterprise-assets.js
  script/content-migrations/update-short-titles-from-csv.js
  script/create-glossary-from-spreadsheet.js
  script/enterprise-server-releases/create-graphql-files.js
  script/enterprise-server-releases/create-rest-files.js
  script/enterprise-server-releases/release-banner.js
  script/graphql/update-files.js
  script/graphql/utils/prerender-input-objects.js
  script/graphql/utils/prerender-objects.js
  script/graphql/utils/process-schemas.js
  script/graphql/utils/schema-helpers.js
  script/purge-fastly-by-url.js
  script/update-enterprise-dates.js
  script/update-readme.js
  tests/content/gitignore.js
  tests/unit/get-rss-feeds.js
  tests/unit/search/parse-page-sections-into-records.js
Labels: automated-reposync-pr, autoupdate, triage

#8649 repo sync
  Dockerfile
  components/Breadcrumbs.tsx
  components/DefaultLayout.tsx
  components/DeprecationBanner.tsx
  components/GenericError.tsx
  components/article/ArticleContent.tsx
  components/article/ArticleGridLayout.module.scss
  components/article/ArticleGridLayout.tsx
  components/article/ArticlePage.tsx
  components/article/ArticleTopper.tsx
  components/article/LearningTrackNav.tsx
  components/context/LanguagesContext.tsx
  components/context/TocLandingContext.tsx
  components/declarations.d.ts
  components/landing/TableOfContents.tsx
  components/landing/TocLanding.tsx
  components/page-footer/Contribution.tsx
  components/page-footer/SmallFooter.tsx
  components/page-footer/Support.tsx
  components/page-footer/SupportSection.tsx
  components/page-footer/Survey.tsx
  components/page-header/DeprecationBanner.tsx
  components/page-header/Header.tsx
  components/page-header/HeaderNotifications.module.scss
  components/page-header/HeaderNotifications.tsx
  components/page-header/LanguagePicker.tsx
  components/page-header/ProductPicker.tsx
  components/sublanding/LearningTracks.tsx
  data/reusables/gated-features/environments.md
  pages/404.tsx
  pages/[versionId]/graphql/overview/explorer.tsx
  pages/_app.tsx
  pages/index.tsx
  stylesheets/breadcrumbs.scss
  stylesheets/deprecation-banner.scss
  stylesheets/dev-toc.scss
  stylesheets/explorer.scss
  stylesheets/featured-links.scss
  stylesheets/headings.scss
  stylesheets/index.scss
  stylesheets/lists.scss
  stylesheets/nav.scss
  stylesheets/opacity.scss
  stylesheets/print.scss
  stylesheets/scroll-button.scss
  stylesheets/survey.scss
  stylesheets/underline-dashed.scss
  stylesheets/utilities.scss
  tests/content/featured-links.js
  tests/rendering/breadcrumbs.js
  tests/rendering/header.js
  tests/rendering/server.js
  tests/routing/deprecated-enterprise-versions.js
Labels: automated-reposync-pr, autoupdate, triage

#8652 repo sync
  content/github/authenticating-to-github/connecting-to-github-with-ssh/working-with-ssh-key-passphrases.md
  translations/de-DE/content/github/authenticating-to-github/connecting-to-github-with-ssh/working-with-ssh-key-passphrases.md
  translations/es-ES/content/github/authenticating-to-github/connecting-to-github-with-ssh/working-with-ssh-key-passphrases.md
  translations/es-XL/content/github/authenticating-to-github/connecting-to-github-with-ssh/working-with-ssh-key-passphrases.md
  translations/ja-JP/content/github/authenticating-to-github/connecting-to-github-with-ssh/working-with-ssh-key-passphrases.md
  translations/ko-KR/content/github/authenticating-to-github/connecting-to-github-with-ssh/working-with-ssh-key-passphrases.md
  translations/pt-BR/content/github/authenticating-to-github/connecting-to-github-with-ssh/working-with-ssh-key-passphrases.md
  translations/ru-RU/content/github/authenticating-to-github/connecting-to-github-with-ssh/working-with-ssh-key-passphrases.md
  translations/zh-CN/content/github/authenticating-to-github/connecting-to-github-with-ssh/working-with-ssh-key-passphrases.md
Labels: automated-reposync-pr, autoupdate, triage

#8653 repo sync
  .github/actions-scripts/fr-add-docs-reviewers-requests.js
Labels: automated-reposync-pr, autoupdate, triage
