Repository github/docs, pull requests merged in 2021-12, with the labels that each got.

#11831 Document reusable workflow limitation
  content/actions/learn-github-actions/reusing-workflows.md
Labels: content, triage, ready to merge

#12454 Making it easier to understand dependency review for public versus private repos
  data/reusables/gated-features/dependency-review.md
Labels: content, waiting for review

#12374 Add new runner variable `runner.arch`
  content/actions/learn-github-actions/contexts.md
  content/actions/learn-github-actions/environment-variables.md
  data/features/actions-runner-arch-envvars.yml
  data/reusables/actions/runner-arch-description.md
Labels: content, waiting for review

#12504 Clarify wording for runs-on syntax
  content/actions/learn-github-actions/workflow-syntax-for-github-actions.md
  data/reusables/github-actions/self-hosted-runner-labels-runs-on.md
Labels: content, waiting for review

#12587 Update secret scanning docs
  assets/images/help/repository/secret-scanning-click-alert.png
  assets/images/help/repository/secret-scanning-resolve-alert.png
  content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
Labels: ready to merge

#12090 Change iconName to Optional
  content/actions/learn-github-actions/creating-workflow-templates.md
Labels: content, ready to merge

#12148 Replace npm install with npm ci
  content/actions/publishing-packages/publishing-nodejs-packages.md
Labels: content, actions, ready to merge

#12598 repo sync
  middleware/cache-control.js
  middleware/redirects/handle-redirects.js
  tests/rendering/server.js
  translations/log/pt-resets.csv
  translations/pt-BR/content/actions/creating-actions/releasing-and-maintaining-actions.md
  translations/pt-BR/content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
  translations/pt-BR/content/actions/guides.md
  translations/pt-BR/content/actions/hosting-your-own-runners/adding-self-hosted-runners.md
  translations/pt-BR/content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  translations/pt-BR/content/actions/hosting-your-own-runners/removing-self-hosted-runners.md
  translations/pt-BR/content/actions/learn-github-actions/workflow-syntax-for-github-actions.md
  translations/pt-BR/content/admin/guides.md
  translations/pt-BR/content/code-security/guides.md
  translations/pt-BR/content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
  translations/pt-BR/content/codespaces/guides.md
  translations/pt-BR/content/developers/apps/building-github-apps/creating-a-github-app-using-url-parameters.md
  translations/pt-BR/content/developers/apps/guides/using-content-attachments.md
  translations/pt-BR/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/pt-BR/content/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  translations/pt-BR/content/issues/guides.md
  translations/pt-BR/content/rest/overview/api-previews.md
  translations/pt-BR/content/rest/reference/permissions-required-for-github-apps.md
  translations/pt-BR/content/sponsors/guides.md
  translations/pt-BR/data/learning-tracks/README.md
  translations/pt-BR/data/reusables/enterprise/ghec-cta-button.md
  translations/pt-BR/data/reusables/gated-features/environments.md
  translations/pt-BR/data/reusables/github-actions/self-hosted-runner-groups-navigate-to-repo-org-enterprise.md
  translations/pt-BR/data/reusables/github-actions/self-hosted-runner-labels-runs-on.md
  translations/pt-BR/data/reusables/github-actions/self-hosted-runner-management-permissions-required.md
  translations/pt-BR/data/reusables/github-actions/self-hosted-runner-navigate-to-org-enterprise.md
  translations/pt-BR/data/reusables/github-actions/self-hosted-runner-navigate-to-repo-org-enterprise.md
  translations/pt-BR/data/reusables/github-actions/self-hosted-runner-reusing.md
  translations/pt-BR/data/ui.yml
Labels: triage, automated-reposync-pr

#12599 repo sync
  translations/ja-JP/content/actions/creating-actions/releasing-and-maintaining-actions.md
  translations/ja-JP/content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
  translations/ja-JP/content/actions/guides.md
  translations/ja-JP/content/actions/hosting-your-own-runners/adding-self-hosted-runners.md
  translations/ja-JP/content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  translations/ja-JP/content/actions/hosting-your-own-runners/removing-self-hosted-runners.md
  translations/ja-JP/content/actions/learn-github-actions/workflow-syntax-for-github-actions.md
  translations/ja-JP/content/admin/guides.md
  translations/ja-JP/content/code-security/guides.md
  translations/ja-JP/content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
  translations/ja-JP/content/codespaces/guides.md
  translations/ja-JP/content/developers/apps/building-github-apps/creating-a-github-app-using-url-parameters.md
  translations/ja-JP/content/developers/apps/guides/using-content-attachments.md
  translations/ja-JP/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/ja-JP/content/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  translations/ja-JP/content/issues/guides.md
  translations/ja-JP/content/rest/overview/api-previews.md
  translations/ja-JP/content/rest/reference/permissions-required-for-github-apps.md
  translations/ja-JP/content/sponsors/guides.md
  translations/ja-JP/data/learning-tracks/README.md
  translations/ja-JP/data/reusables/enterprise/ghec-cta-button.md
  translations/ja-JP/data/reusables/gated-features/environments.md
  translations/ja-JP/data/reusables/github-actions/self-hosted-runner-groups-navigate-to-repo-org-enterprise.md
  translations/ja-JP/data/reusables/github-actions/self-hosted-runner-labels-runs-on.md
  translations/ja-JP/data/reusables/github-actions/self-hosted-runner-management-permissions-required.md
  translations/ja-JP/data/reusables/github-actions/self-hosted-runner-navigate-to-org-enterprise.md
  translations/ja-JP/data/reusables/github-actions/self-hosted-runner-navigate-to-repo-org-enterprise.md
  translations/ja-JP/data/reusables/github-actions/self-hosted-runner-reusing.md
  translations/ja-JP/data/ui.yml
  translations/log/cn-resets.csv
  translations/log/ja-resets.csv
  translations/zh-CN/content/actions/creating-actions/releasing-and-maintaining-actions.md
  translations/zh-CN/content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
  translations/zh-CN/content/actions/guides.md
  translations/zh-CN/content/actions/hosting-your-own-runners/adding-self-hosted-runners.md
  translations/zh-CN/content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  translations/zh-CN/content/actions/hosting-your-own-runners/removing-self-hosted-runners.md
  translations/zh-CN/content/actions/learn-github-actions/workflow-syntax-for-github-actions.md
  translations/zh-CN/content/admin/guides.md
  translations/zh-CN/content/code-security/guides.md
  translations/zh-CN/content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
  translations/zh-CN/content/codespaces/guides.md
  translations/zh-CN/content/developers/apps/building-github-apps/creating-a-github-app-using-url-parameters.md
  translations/zh-CN/content/developers/apps/guides/using-content-attachments.md
  translations/zh-CN/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/zh-CN/content/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  translations/zh-CN/content/issues/guides.md
  translations/zh-CN/content/rest/overview/api-previews.md
  translations/zh-CN/content/rest/reference/permissions-required-for-github-apps.md
  translations/zh-CN/content/sponsors/guides.md
  translations/zh-CN/data/learning-tracks/README.md
  translations/zh-CN/data/reusables/enterprise/ghec-cta-button.md
  translations/zh-CN/data/reusables/gated-features/environments.md
  translations/zh-CN/data/reusables/github-actions/self-hosted-runner-groups-navigate-to-repo-org-enterprise.md
  translations/zh-CN/data/reusables/github-actions/self-hosted-runner-labels-runs-on.md
  translations/zh-CN/data/reusables/github-actions/self-hosted-runner-management-permissions-required.md
  translations/zh-CN/data/reusables/github-actions/self-hosted-runner-navigate-to-org-enterprise.md
  translations/zh-CN/data/reusables/github-actions/self-hosted-runner-navigate-to-repo-org-enterprise.md
  translations/zh-CN/data/reusables/github-actions/self-hosted-runner-reusing.md
  translations/zh-CN/data/ui.yml
Labels: triage, automated-reposync-pr

#12600 repo sync
  .github/workflows/triage-stale-check.yml
  content/github-cli/github-cli/creating-github-cli-extensions.md
  translations/es-ES/content/actions/creating-actions/releasing-and-maintaining-actions.md
  translations/es-ES/content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
  translations/es-ES/content/actions/guides.md
  translations/es-ES/content/actions/hosting-your-own-runners/adding-self-hosted-runners.md
  translations/es-ES/content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  translations/es-ES/content/actions/hosting-your-own-runners/removing-self-hosted-runners.md
  translations/es-ES/content/actions/learn-github-actions/workflow-syntax-for-github-actions.md
  translations/es-ES/content/admin/guides.md
  translations/es-ES/content/code-security/guides.md
  translations/es-ES/content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
  translations/es-ES/content/codespaces/guides.md
  translations/es-ES/content/developers/apps/building-github-apps/creating-a-github-app-using-url-parameters.md
  translations/es-ES/content/developers/apps/guides/using-content-attachments.md
  translations/es-ES/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/es-ES/content/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  translations/es-ES/content/issues/guides.md
  translations/es-ES/content/rest/overview/api-previews.md
  translations/es-ES/content/rest/reference/permissions-required-for-github-apps.md
  translations/es-ES/content/sponsors/guides.md
  translations/es-ES/data/learning-tracks/README.md
  translations/es-ES/data/reusables/enterprise/ghec-cta-button.md
  translations/es-ES/data/reusables/gated-features/environments.md
  translations/es-ES/data/reusables/github-actions/self-hosted-runner-groups-navigate-to-repo-org-enterprise.md
  translations/es-ES/data/reusables/github-actions/self-hosted-runner-labels-runs-on.md
  translations/es-ES/data/reusables/github-actions/self-hosted-runner-management-permissions-required.md
  translations/es-ES/data/reusables/github-actions/self-hosted-runner-navigate-to-org-enterprise.md
  translations/es-ES/data/reusables/github-actions/self-hosted-runner-navigate-to-repo-org-enterprise.md
  translations/es-ES/data/reusables/github-actions/self-hosted-runner-reusing.md
  translations/es-ES/data/ui.yml
  translations/log/es-resets.csv
Labels: triage, automated-reposync-pr

#12630 repo sync
  translations/log/pt-resets.csv
  translations/pt-BR/content/actions/learn-github-actions/creating-workflow-templates.md
  translations/pt-BR/content/actions/publishing-packages/publishing-nodejs-packages.md
  translations/pt-BR/content/authentication/keeping-your-account-and-data-secure/reviewing-your-security-log.md
  translations/pt-BR/content/authentication/securing-your-account-with-two-factor-authentication-2fa/recovering-your-account-if-you-lose-your-2fa-credentials.md
  translations/pt-BR/content/github-cli/github-cli/creating-github-cli-extensions.md
  translations/pt-BR/data/glossaries/external.yml
  translations/pt-BR/data/graphql/ghae/graphql_previews.ghae.yml
  translations/pt-BR/data/graphql/ghec/graphql_previews.yml
  translations/pt-BR/data/graphql/graphql_previews.yml
Labels: triage, automated-reposync-pr

#12633 repo sync
  translations/es-ES/content/actions/learn-github-actions/creating-workflow-templates.md
  translations/es-ES/content/actions/publishing-packages/publishing-nodejs-packages.md
  translations/es-ES/content/authentication/keeping-your-account-and-data-secure/reviewing-your-security-log.md
  translations/es-ES/content/authentication/securing-your-account-with-two-factor-authentication-2fa/recovering-your-account-if-you-lose-your-2fa-credentials.md
  translations/es-ES/content/github-cli/github-cli/creating-github-cli-extensions.md
  translations/es-ES/data/glossaries/external.yml
  translations/es-ES/data/graphql/ghae/graphql_previews.ghae.yml
  translations/es-ES/data/graphql/ghec/graphql_previews.yml
  translations/es-ES/data/graphql/graphql_previews.yml
  translations/log/es-resets.csv
Labels: triage, automated-reposync-pr

#12668 repo sync
  content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrade-requirements.md
  content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/introducing-github-actions-to-your-enterprise.md
  content/admin/index.md
  content/admin/overview/about-upgrades-to-new-releases.md
  content/admin/packages/getting-started-with-github-packages-for-your-enterprise.md
  data/reusables/enterprise/upgrade-ghes-for-actions.md
  data/reusables/enterprise/upgrade-ghes-for-features.md
  data/reusables/gated-features/ghas.md
  data/reusables/gated-features/packages.md
  data/reusables/secret-scanning/beta.md
  data/variables/enterprise.yml
Labels: triage, automated-reposync-pr

#12675 repo sync
  contributing/content-style-guide.md
Labels: triage, automated-reposync-pr

#12677 repo sync
  content/actions/managing-workflow-runs/skipping-workflow-runs.md
  content/actions/security-guides/security-hardening-for-github-actions.md
  content/admin/user-management/monitoring-activity-in-your-enterprise/audited-actions.md
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
  data/features/actions-runner-arch-envvars.yml
  data/features/keyboard-shortcut-accessibility-setting.yml
  data/reusables/actions/actions-audit-events-workflow.md
Labels: triage, automated-reposync-pr

#12681 repo sync
  content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
Labels: triage, automated-reposync-pr

#12674 Remove duplicate "each of"
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
Labels: content, ready to merge

#12595 fixed errors within gist docs for GitHub AE
  content/github/writing-on-github/editing-and-sharing-content-with-gists/forking-and-cloning-gists.md
  data/variables/gists.yml
Labels: content, ready to merge

#12685 repo sync
  middleware/index.js
  tests/rendering/server.js
Labels: triage, automated-reposync-pr

#12686 repo sync
  content/actions/monitoring-and-troubleshooting-workflows/viewing-job-execution-time.md
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: triage, automated-reposync-pr

#12687 repo sync
  script/i18n/report-reset-files.js
  translations/ja-JP/content/actions/learn-github-actions/creating-workflow-templates.md
  translations/ja-JP/content/actions/publishing-packages/publishing-nodejs-packages.md
  translations/ja-JP/content/authentication/keeping-your-account-and-data-secure/reviewing-your-security-log.md
  translations/ja-JP/content/authentication/securing-your-account-with-two-factor-authentication-2fa/recovering-your-account-if-you-lose-your-2fa-credentials.md
  translations/ja-JP/content/github-cli/github-cli/creating-github-cli-extensions.md
  translations/ja-JP/data/glossaries/external.yml
  translations/ja-JP/data/graphql/ghae/graphql_previews.ghae.yml
  translations/ja-JP/data/graphql/ghec/graphql_previews.yml
  translations/ja-JP/data/graphql/graphql_previews.yml
  translations/log/cn-resets.csv
  translations/log/ja-resets.csv
  translations/zh-CN/content/actions/learn-github-actions/creating-workflow-templates.md
  translations/zh-CN/content/actions/publishing-packages/publishing-nodejs-packages.md
  translations/zh-CN/content/authentication/keeping-your-account-and-data-secure/reviewing-your-security-log.md
  translations/zh-CN/content/authentication/securing-your-account-with-two-factor-authentication-2fa/recovering-your-account-if-you-lose-your-2fa-credentials.md
  translations/zh-CN/content/github-cli/github-cli/creating-github-cli-extensions.md
  translations/zh-CN/data/glossaries/external.yml
  translations/zh-CN/data/graphql/ghae/graphql_previews.ghae.yml
  translations/zh-CN/data/graphql/ghec/graphql_previews.yml
  translations/zh-CN/data/graphql/graphql_previews.yml
Labels: triage, automated-reposync-pr

#12689 repo sync
  contributing/content-style-guide.md
Labels: triage, automated-reposync-pr

#12693 repo sync
  .github/workflows/test.yml
Labels: triage, automated-reposync-pr

#12694 repo sync
  .gitignore
Labels: triage, automated-reposync-pr

#12698 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: triage, automated-reposync-pr

#12702 repo sync
  assets/images/help/enterprises/organization-search.png
  assets/images/help/enterprises/remove-organization-warning.png
  assets/images/help/enterprises/remove-organization.png
  content/admin/user-management/managing-organizations-in-your-enterprise/adding-organizations-to-your-enterprise.md
  content/admin/user-management/managing-organizations-in-your-enterprise/index.md
  content/admin/user-management/managing-organizations-in-your-enterprise/removing-organizations-from-your-enterprise.md
Labels: triage, automated-reposync-pr

#12704 repo sync
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/using-a-merge-queue.md
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches.md
  data/reusables/pull_requests/merge-queue-merging-method.md
  data/reusables/pull_requests/merge-queue-overview.md
Labels: triage, automated-reposync-pr

#12711 repo sync
  lib/rest/index.js
  middleware/contextualizers/rest.js
  middleware/redirects/language-code-redirects.js
  tests/rendering/rest.js
  tests/unit/openapi-schema.js
  translations/es-ES/content/actions/managing-workflow-runs/skipping-workflow-runs.md
  translations/es-ES/content/actions/monitoring-and-troubleshooting-workflows/viewing-job-execution-time.md
  translations/es-ES/content/actions/security-guides/security-hardening-for-github-actions.md
  translations/es-ES/content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrade-requirements.md
  translations/es-ES/content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server.md
  translations/es-ES/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  translations/es-ES/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/introducing-github-actions-to-your-enterprise.md
  translations/es-ES/content/admin/index.md
  translations/es-ES/content/admin/overview/about-upgrades-to-new-releases.md
  translations/es-ES/content/admin/packages/getting-started-with-github-packages-for-your-enterprise.md
  translations/es-ES/content/admin/user-management/monitoring-activity-in-your-enterprise/audited-actions.md
  translations/es-ES/content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  translations/es-ES/content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
  translations/es-ES/content/github/writing-on-github/editing-and-sharing-content-with-gists/forking-and-cloning-gists.md
  translations/es-ES/content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
  translations/es-ES/content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
  translations/es-ES/data/features/actions-runner-arch-envvars.yml
  translations/es-ES/data/features/keyboard-shortcut-accessibility-setting.yml
  translations/es-ES/data/reusables/actions/actions-audit-events-workflow.md
  translations/es-ES/data/reusables/enterprise/upgrade-ghes-for-actions.md
  translations/es-ES/data/reusables/enterprise/upgrade-ghes-for-features.md
  translations/es-ES/data/reusables/gated-features/ghas.md
  translations/es-ES/data/reusables/gated-features/packages.md
  translations/es-ES/data/reusables/secret-scanning/beta.md
  translations/es-ES/data/reusables/secret-scanning/partner-secret-list-private-repo.md
  translations/es-ES/data/variables/enterprise.yml
  translations/es-ES/data/variables/gists.yml
  translations/log/es-resets.csv
Labels: triage, automated-reposync-pr

#12716 repo sync
  .github/workflows/sync-search-pr.yml
  lib/search/popular-pages.json
Labels: triage, automated-reposync-pr

#12553 doc: update docs for publishing to npm + gpr
  content/actions/publishing-packages/publishing-nodejs-packages.md
Labels: content, ready to merge

#12725 repo sync
  data/release-notes/enterprise-server/3-2/0.yml
Labels: triage, automated-reposync-pr

#12728 repo sync
  content/actions/index.md
  script/i18n/reset-files-with-broken-liquid-tags.js
Labels: triage, automated-reposync-pr

#12730 repo sync
  content/graphql/index.md
  content/rest/index.md
Labels: triage, automated-reposync-pr

#12738 repo sync
  assets/images/help/saml/okta-ae-add-application.png
  assets/images/help/saml/okta-ae-add-github-ae.png
  assets/images/help/saml/okta-ae-assign-group-to-app.png
  assets/images/help/saml/okta-ae-assign-role.png
  assets/images/help/saml/okta-ae-assign-to-people.png
  assets/images/help/saml/okta-ae-assign-user.png
  assets/images/help/saml/okta-ae-assignments-tab.png
  assets/images/help/saml/okta-ae-browse-app-catalog.png
  assets/images/help/saml/okta-ae-configure-app.png
  assets/images/help/saml/okta-ae-configure-base-url.png
  assets/images/help/saml/okta-ae-enable-api-integration.png
  assets/images/help/saml/okta-ae-group-add-app.png
  assets/images/help/saml/okta-ae-provisioning-tab.png
  assets/images/help/saml/okta-ae-push-groups-add.png
  assets/images/help/saml/okta-ae-push-groups-by-name.png
  assets/images/help/saml/okta-ae-push-groups-tab.png
  assets/images/help/saml/okta-ae-search.png
  assets/images/help/saml/okta-ae-sign-on-tab.png
  assets/images/help/saml/okta-ae-site-admin-external-groups.png
  assets/images/help/saml/okta-ae-site-admin-group-details.png
  assets/images/help/saml/okta-ae-site-admin-list-groups.png
  assets/images/help/saml/okta-ae-to-app-settings.png
  assets/images/help/saml/okta-ae-view-setup-instructions.png
  content/admin/authentication/configuring-authentication-and-provisioning-with-your-identity-provider/configuring-authentication-and-provisioning-for-your-enterprise-using-okta.md
  content/admin/authentication/configuring-authentication-and-provisioning-with-your-identity-provider/index.md
  content/admin/authentication/configuring-authentication-and-provisioning-with-your-identity-provider/mapping-okta-groups-to-teams.md
  content/admin/authentication/managing-identity-and-access-for-your-enterprise/about-identity-and-access-management-for-your-enterprise.md
  content/admin/authentication/managing-identity-and-access-for-your-enterprise/configuring-saml-single-sign-on-for-your-enterprise.md
  content/admin/authentication/managing-identity-and-access-for-your-enterprise/configuring-user-provisioning-for-your-enterprise.md
  content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
  data/release-notes/github-ae/2021-06/2021-12-06.yml
  data/reusables/github-ae/saml-idp-table.md
  data/reusables/saml/external-group-audit-events.md
  data/reusables/saml/external-identity-audit-events.md
  data/reusables/saml/okta-ae-applications-menu.md
  data/reusables/saml/okta-ae-configure-app.md
  data/reusables/saml/okta-ae-provisioning-tab.md
  data/reusables/saml/okta-ae-sso-beta.md
  data/reusables/saml/saml-supported-idps.md
  data/reusables/scim/supported-idps.md
Labels: triage, automated-reposync-pr

#12657 Removed retired key and note about new ssh keys
  content/authentication/keeping-your-account-and-data-secure/githubs-ssh-key-fingerprints.md
Labels: content, ready to merge

#12746 repo sync
  middleware/archived-enterprise-versions.js
Labels: triage, automated-reposync-pr

#12749 repo sync
  data/release-notes/enterprise-server/3-0/21.yml
Labels: triage, automated-reposync-pr

#12750 repo sync
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/integrate-github-classroom-with-an-ide.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/connect-a-learning-management-system-to-github-classroom.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-a-group-assignment.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-an-assignment-from-a-template-repository.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-an-individual-assignment.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/manage-classrooms.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/use-autograding.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/use-the-git-and-github-starter-assignment.md
  data/reusables/classroom/classroom-admins-link.md
  data/reusables/organizations/organizations_include.md
Labels: triage, automated-reposync-pr

#12752 repo sync
  .github/workflows/code-lint.yml
  .prettierignore
  assets/images/help/enterprises/audit-stream-bucket-google-cloud-storage.png
  assets/images/help/enterprises/audit-stream-check-endpoint-google-cloud-storage.png
  assets/images/help/enterprises/audit-stream-choice-google-cloud-storage.png
  assets/images/help/enterprises/audit-stream-json-credentials-google-cloud-storage.png
  components/guides/ArticleCards.tsx
  components/landing/TableOfContents.tsx
  content/admin/user-management/managing-organizations-in-your-enterprise/streaming-the-audit-logs-for-organizations-in-your-enterprise-account.md
  content/admin/user-management/managing-organizations-in-your-enterprise/viewing-the-audit-logs-for-organizations-in-your-enterprise.md
  data/reusables/enterprise/navigate-to-log-streaming-tab.md
  data/reusables/enterprise/verify-audit-log-streaming-endpoint.md
  package.json
  script/i18n/liquid-diff.js
  stylesheets/images.scss
Labels: triage, automated-reposync-pr

#12756 repo sync
  .github/workflows/create-translation-batch-pr.yml
Labels: triage, automated-reposync-pr

#12759 repo sync
  .github/actions-scripts/update-merge-queue-branch.js
Labels: triage, automated-reposync-pr

#12761 repo sync
  components/landing/ArticleList.tsx
  components/landing/CodeExampleCard.tsx
  components/sidebar/AllProductsLink.tsx
  content/codespaces/developing-in-codespaces/connecting-to-a-private-network.md
  content/codespaces/developing-in-codespaces/index.md
Labels: triage, automated-reposync-pr

#12762 repo sync
  .github/workflows/browser-test.yml
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#12488 Provide workflow_dispatch variable usage example
  content/actions/learn-github-actions/workflow-syntax-for-github-actions.md
Labels: content, actions, ready to merge

#12763 repo sync
  .github/actions-scripts/purge-fastly-edge-cache.js
  .github/workflows/browser-test.yml
  .github/workflows/prod-build-deploy.yml
  middleware/archived-enterprise-versions.js
  middleware/index.js
  middleware/set-fastly-surrogate-key.js
  package.json
  tests/rendering/server.js
  tests/routing/deprecated-enterprise-versions.js
Labels: triage, automated-reposync-pr

#12764 repo sync
  components/hooks/useQuery.ts
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/about-notifications.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
  content/admin/configuration/configuring-your-enterprise/index.md
  content/admin/configuration/configuring-your-enterprise/managing-github-mobile-for-your-enterprise.md
  content/admin/guides.md
  content/get-started/using-github/github-mobile.md
  content/get-started/using-github/index.md
  content/github/site-policy/github-terms-of-service.md
  contributing/content-model.md
  data/release-notes/enterprise-server/3-1/0.yml
  data/reusables/notifications/vulnerable-dependency-notification-options.md
  data/variables/product.yml
  lib/search/popular-pages.json
  translations/es-ES/content/admin/configuration/configuring-your-enterprise/managing-github-for-mobile-for-your-enterprise.md
  translations/es-ES/content/get-started/using-github/github-for-mobile.md
  translations/ja-JP/content/admin/configuration/configuring-your-enterprise/managing-github-for-mobile-for-your-enterprise.md
  translations/ja-JP/content/get-started/using-github/github-for-mobile.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/managing-github-for-mobile-for-your-enterprise.md
  translations/pt-BR/content/get-started/using-github/github-for-mobile.md
  translations/zh-CN/content/admin/configuration/configuring-your-enterprise/managing-github-for-mobile-for-your-enterprise.md
  translations/zh-CN/content/get-started/using-github/github-for-mobile.md
Labels: triage, automated-reposync-pr

#12721 AD LDS & ADAM do not have have `userAccountControl` attribute present.
  content/admin/authentication/authenticating-users-for-your-github-enterprise-server-instance/using-ldap.md
Labels: content, ready to merge, enterprise, waiting for review

#12785 repo sync
  .github/workflows/link-check-all.yml
  content/admin/user-management/migrating-data-to-and-from-your-enterprise/exporting-migration-data-from-githubcom.md
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/committing-changes-to-a-pull-request-branch-created-from-a-fork.md
  script/rendered-content-link-checker.mjs
Labels: triage, automated-reposync-pr

#12606 Add missing "pages" GITHUB_TOKEN permissions to list
  data/reusables/github-actions/github-token-available-permissions.md
Labels: content, actions, ready to merge

#12800 repo sync
  .github/CODEOWNERS
  .github/workflows/create-translation-batch-pr.yml
  assets/images/help/stars/add-repo-to-list.png
  assets/images/help/stars/create-list-with-description.png
  assets/images/help/stars/create-list.png
  assets/images/help/stars/edit-list-options.png
  assets/images/help/stars/lists-overview-on-stars-page.png
  assets/images/help/stars/navigate-to-stars-page.png
  assets/images/help/stars/search-bar-for-starred-repos.png
  assets/images/help/stars/stars-dropdown-on-repo.png
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-profile.md
  content/get-started/exploring-projects-on-github/saving-repositories-with-stars.md
  data/reusables/stars/stars-page-navigation.md
Labels: triage, automated-reposync-pr

#12802 repo sync
  content/get-started/index.md
  content/get-started/quickstart/create-a-repo.md
  content/get-started/quickstart/fork-a-repo.md
  content/get-started/quickstart/index.md
  content/get-started/quickstart/set-up-git.md
Labels: triage, automated-reposync-pr

#12808 repo sync
  .github/CODEOWNERS
  components/guides/ArticleCard.tsx
  components/page-header/Header.tsx
  translations/log/pt-resets.csv
  translations/pt-BR/content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/about-notifications.md
  translations/pt-BR/content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-profile.md
  translations/pt-BR/content/actions/learn-github-actions/workflow-syntax-for-github-actions.md
  translations/pt-BR/content/admin/authentication/authenticating-users-for-your-github-enterprise-server-instance/using-ldap.md
  translations/pt-BR/content/admin/configuration/configuring-network-settings/using-github-enterprise-server-with-a-load-balancer.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/index.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/managing-github-mobile-for-your-enterprise.md
  translations/pt-BR/content/admin/enterprise-management/configuring-clustering/cluster-network-configuration.md
  translations/pt-BR/content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/increasing-storage-capacity.md
  translations/pt-BR/content/admin/guides.md
  translations/pt-BR/content/admin/user-management/migrating-data-to-and-from-your-enterprise/exporting-migration-data-from-githubcom.md
  translations/pt-BR/content/billing/managing-licenses-for-visual-studio-subscriptions-with-github-enterprise/setting-up-visual-studio-subscriptions-with-github-enterprise.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/connecting-to-a-private-network.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/index.md
  translations/pt-BR/content/get-started/exploring-projects-on-github/saving-repositories-with-stars.md
  translations/pt-BR/content/get-started/index.md
  translations/pt-BR/content/get-started/quickstart/create-a-repo.md
  translations/pt-BR/content/get-started/quickstart/fork-a-repo.md
  translations/pt-BR/content/get-started/quickstart/index.md
  translations/pt-BR/content/get-started/quickstart/set-up-git.md
  translations/pt-BR/content/get-started/using-github/github-mobile.md
  translations/pt-BR/content/get-started/using-github/index.md
  translations/pt-BR/content/github/site-policy/github-terms-of-service.md
  translations/pt-BR/content/graphql/guides/managing-enterprise-accounts.md
  translations/pt-BR/content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-custom-repository-roles-for-an-organization.md
  translations/pt-BR/content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/committing-changes-to-a-pull-request-branch-created-from-a-fork.md
  translations/pt-BR/content/repositories/working-with-files/using-files/navigating-code-on-github.md
  translations/pt-BR/content/rest/reference/enterprise-admin.md
  translations/pt-BR/content/rest/reference/packages.md
  translations/pt-BR/data/release-notes/enterprise-server/3-1/0.yml
  translations/pt-BR/data/reusables/enterprise_installation/proxy-incompatible-with-aws-nlbs.md
  translations/pt-BR/data/reusables/github-actions/github-token-available-permissions.md
  translations/pt-BR/data/reusables/github-actions/self-hosted-runner-groups-navigate-to-repo-org-enterprise.md
  translations/pt-BR/data/reusables/github-actions/self-hosted-runner-navigate-to-org-enterprise.md
  translations/pt-BR/data/reusables/github-actions/self-hosted-runner-navigate-to-repo-org-enterprise.md
  translations/pt-BR/data/reusables/notifications/vulnerable-dependency-notification-options.md
  translations/pt-BR/data/reusables/stars/stars-page-navigation.md
  translations/pt-BR/data/reusables/supported-languages/python.md
  translations/pt-BR/data/variables/product.yml
Labels: triage, automated-reposync-pr

#12811 repo sync
  components/page-footer/SmallFooter.tsx
  lib/use-english-headings.js
Labels: triage, automated-reposync-pr

#12814 repo sync
  translations/log/pt-resets.csv
Labels: triage, automated-reposync-pr

#12801 Fix link to pagination doc
  content/rest/guides/traversing-with-pagination.md
Labels: content, ready to merge

#12836 repo sync
  lib/render-content/create-processor.js
  lib/render-content/plugins/rewrite-asset-urls.js
  lib/rewrite-local-links.js
  middleware/asset-preprocessing.js
  middleware/index.js
  middleware/set-fastly-surrogate-key.js
  script/rendered-content-link-checker.mjs
  tests/rendering/server.js
Labels: triage, automated-reposync-pr

#12848 repo sync
  content/get-started/onboarding/getting-started-with-github-enterprise-cloud.md
  content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  data/release-notes/enterprise-server/3-3/0.yml
Labels: triage, automated-reposync-pr

#12850 repo sync
  content/actions/migrating-to-github-actions/migrating-from-azure-pipelines-to-github-actions.md
  content/actions/migrating-to-github-actions/migrating-from-circleci-to-github-actions.md
  content/actions/migrating-to-github-actions/migrating-from-jenkins-to-github-actions.md
  content/actions/migrating-to-github-actions/migrating-from-travis-ci-to-github-actions.md
  content/github/index.md
  content/github/setting-up-and-managing-your-enterprise.md
  translations/es-ES/content/github/setting-up-and-managing-your-enterprise.md
  translations/ja-JP/content/github/setting-up-and-managing-your-enterprise.md
  translations/pt-BR/content/github/setting-up-and-managing-your-enterprise.md
  translations/zh-CN/content/github/setting-up-and-managing-your-enterprise.md
Labels: triage, automated-reposync-pr

#12854 repo sync
  .github/workflows/create-translation-batch-pr.yml
Labels: triage, automated-reposync-pr

#12855 repo sync
  .github/workflows/create-translation-batch-pr.yml
Labels: triage, automated-reposync-pr

#12858 repo sync
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/index.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/managing-subscriptions-for-activity-on-github/viewing-your-subscriptions.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/about-notifications.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/viewing-and-triaging-notifications/index.md
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-profile.md
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/pinning-items-to-your-profile.md
  content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-graphs-on-your-profile/sending-enterprise-contributions-to-your-githubcom-profile.md
  content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-graphs-on-your-profile/viewing-contributions-on-your-profile.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-access-to-your-personal-repositories/index.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-access-to-your-personal-repositories/inviting-collaborators-to-a-personal-repository.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-access-to-your-personal-repositories/removing-a-collaborator-from-a-personal-repository.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-access-to-your-personal-repositories/removing-yourself-from-a-collaborators-repository.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-email-preferences/index.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-email-preferences/remembering-your-github-username-or-email.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-email-preferences/setting-your-commit-email-address.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/about-your-personal-dashboard.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/changing-your-github-username.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/converting-a-user-into-an-organization.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/deleting-your-user-account.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/index.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/managing-access-to-your-user-accounts-project-boards.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/merging-multiple-user-accounts.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-your-membership-in-organizations/accessing-an-organization.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-your-membership-in-organizations/publicizing-or-hiding-organization-membership.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-your-membership-in-organizations/removing-yourself-from-an-organization.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-your-membership-in-organizations/requesting-organization-approval-for-oauth-apps.md
  content/authentication/index.md
  content/authentication/keeping-your-account-and-data-secure/about-anonymized-urls.md
  content/authentication/keeping-your-account-and-data-secure/about-githubs-ip-addresses.md
  content/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token.md
  content/authentication/keeping-your-account-and-data-secure/creating-a-strong-password.md
  content/authentication/keeping-your-account-and-data-secure/githubs-ssh-key-fingerprints.md
  content/authentication/keeping-your-account-and-data-secure/index.md
  content/authentication/keeping-your-account-and-data-secure/removing-sensitive-data-from-a-repository.md
  content/authentication/keeping-your-account-and-data-secure/reviewing-your-ssh-keys.md
  content/authentication/keeping-your-account-and-data-secure/updating-your-github-access-credentials.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/accessing-github-using-two-factor-authentication.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/changing-two-factor-authentication-delivery-methods-for-your-mobile-device.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication-recovery-methods.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/index.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/recovering-your-account-if-you-lose-your-2fa-credentials.md
  content/get-started/using-git/about-git-rebase.md
  content/get-started/using-git/about-git-subtree-merges.md
  content/get-started/using-git/getting-changes-from-a-remote-repository.md
  content/get-started/using-git/pushing-commits-to-a-remote-repository.md
  content/get-started/using-git/splitting-a-subfolder-out-into-a-new-repository.md
  content/get-started/using-git/using-git-rebase-on-the-command-line.md
Labels: triage, automated-reposync-pr

#12863 repo sync
  components/guides/ArticleCard.tsx
Labels: triage, automated-reposync-pr

#12886 repo sync
  tests/helpers/diff-files.js
  tests/linting/lint-files.js
Labels: triage, automated-reposync-pr

#12889 repo sync
  lib/changelog.js
  middleware/contextualizers/whats-new-changelog.js
  tests/unit/get-rss-feeds.js
Labels: triage, automated-reposync-pr

#12920 repo sync
  tests/content/site-tree.js
  translations/ja-JP/content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/about-notifications.md
  translations/ja-JP/content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-profile.md
  translations/ja-JP/content/actions/learn-github-actions/workflow-syntax-for-github-actions.md
  translations/ja-JP/content/admin/authentication/authenticating-users-for-your-github-enterprise-server-instance/using-ldap.md
  translations/ja-JP/content/admin/configuration/configuring-network-settings/using-github-enterprise-server-with-a-load-balancer.md
  translations/ja-JP/content/admin/configuration/configuring-your-enterprise/index.md
  translations/ja-JP/content/admin/configuration/configuring-your-enterprise/managing-github-mobile-for-your-enterprise.md
  translations/ja-JP/content/admin/enterprise-management/configuring-clustering/cluster-network-configuration.md
  translations/ja-JP/content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/increasing-storage-capacity.md
  translations/ja-JP/content/admin/guides.md
  translations/ja-JP/content/admin/user-management/migrating-data-to-and-from-your-enterprise/exporting-migration-data-from-githubcom.md
  translations/ja-JP/content/billing/managing-licenses-for-visual-studio-subscriptions-with-github-enterprise/setting-up-visual-studio-subscriptions-with-github-enterprise.md
  translations/ja-JP/content/codespaces/developing-in-codespaces/connecting-to-a-private-network.md
  translations/ja-JP/content/codespaces/developing-in-codespaces/index.md
  translations/ja-JP/content/get-started/exploring-projects-on-github/saving-repositories-with-stars.md
  translations/ja-JP/content/get-started/index.md
  translations/ja-JP/content/get-started/quickstart/create-a-repo.md
  translations/ja-JP/content/get-started/quickstart/fork-a-repo.md
  translations/ja-JP/content/get-started/quickstart/index.md
  translations/ja-JP/content/get-started/quickstart/set-up-git.md
  translations/ja-JP/content/get-started/using-github/github-mobile.md
  translations/ja-JP/content/get-started/using-github/index.md
  translations/ja-JP/content/github/site-policy/github-terms-of-service.md
  translations/ja-JP/content/graphql/guides/managing-enterprise-accounts.md
  translations/ja-JP/content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-custom-repository-roles-for-an-organization.md
  translations/ja-JP/content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/committing-changes-to-a-pull-request-branch-created-from-a-fork.md
  translations/ja-JP/content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-security-and-analysis-settings-for-your-repository.md
  translations/ja-JP/content/repositories/working-with-files/using-files/navigating-code-on-github.md
  translations/ja-JP/content/rest/reference/enterprise-admin.md
  translations/ja-JP/data/release-notes/enterprise-server/3-1/0.yml
  translations/ja-JP/data/reusables/enterprise_installation/proxy-incompatible-with-aws-nlbs.md
  translations/ja-JP/data/reusables/github-actions/github-token-available-permissions.md
  translations/ja-JP/data/reusables/github-actions/self-hosted-runner-groups-navigate-to-repo-org-enterprise.md
  translations/ja-JP/data/reusables/github-actions/self-hosted-runner-navigate-to-org-enterprise.md
  translations/ja-JP/data/reusables/github-actions/self-hosted-runner-navigate-to-repo-org-enterprise.md
  translations/ja-JP/data/reusables/notifications/vulnerable-dependency-notification-options.md
  translations/ja-JP/data/reusables/stars/stars-page-navigation.md
  translations/ja-JP/data/reusables/supported-languages/python.md
  translations/ja-JP/data/variables/product.yml
  translations/log/ja-resets.csv
Labels: triage, automated-reposync-pr

#12925 repo sync
  content/authentication/authenticating-with-saml-single-sign-on/authorizing-a-personal-access-token-for-use-with-saml-single-sign-on.md
  content/authentication/authenticating-with-saml-single-sign-on/authorizing-an-ssh-key-for-use-with-saml-single-sign-on.md
  content/authentication/authenticating-with-saml-single-sign-on/index.md
  content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  content/authentication/connecting-to-github-with-ssh/index.md
  content/authentication/connecting-to-github-with-ssh/working-with-ssh-key-passphrases.md
  content/authentication/managing-commit-signature-verification/about-commit-signature-verification.md
  content/authentication/managing-commit-signature-verification/index.md
  content/authentication/managing-commit-signature-verification/signing-commits.md
  content/authentication/managing-commit-signature-verification/signing-tags.md
  content/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key.md
  content/authentication/troubleshooting-commit-signature-verification/checking-your-commit-and-tag-signature-verification-status.md
  content/authentication/troubleshooting-commit-signature-verification/index.md
  content/authentication/troubleshooting-ssh/error-agent-admitted-failure-to-sign.md
  content/authentication/troubleshooting-ssh/index.md
  content/authentication/troubleshooting-ssh/recovering-your-ssh-key-passphrase.md
  content/github/index.md
  content/github/writing-on-github/index.md
  content/repositories/archiving-a-github-repository/index.md
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/index.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/deleting-and-restoring-branches-in-a-pull-request.md
  content/repositories/creating-and-managing-repositories/creating-a-new-repository.md
  content/repositories/creating-and-managing-repositories/creating-an-issues-only-repository.md
  content/repositories/creating-and-managing-repositories/deleting-a-repository.md
  content/repositories/creating-and-managing-repositories/duplicating-a-repository.md
  content/repositories/creating-and-managing-repositories/transferring-a-repository.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-readmes.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-repository-languages.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/classifying-your-repository-with-topics.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/licensing-a-repository.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-security-and-analysis-settings-for-your-repository.md
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/about-email-notifications-for-pushes-to-your-repository.md
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/setting-repository-visibility.md
  content/repositories/releasing-projects-on-github/about-releases.md
  content/repositories/releasing-projects-on-github/index.md
  content/repositories/releasing-projects-on-github/managing-releases-in-a-repository.md
  content/repositories/releasing-projects-on-github/viewing-your-repositorys-releases-and-tags.md
  content/repositories/viewing-activity-and-data-for-your-repository/about-repository-graphs.md
  content/repositories/viewing-activity-and-data-for-your-repository/viewing-a-projects-contributors.md
  content/repositories/working-with-files/index.md
  content/repositories/working-with-files/managing-files/editing-files.md
  content/repositories/working-with-files/managing-large-files/about-git-large-file-storage.md
  content/repositories/working-with-files/managing-large-files/about-large-files-on-github.md
  content/repositories/working-with-files/managing-large-files/about-storage-and-bandwidth-usage.md
  content/repositories/working-with-files/managing-large-files/collaboration-with-git-large-file-storage.md
  content/repositories/working-with-files/managing-large-files/configuring-git-large-file-storage.md
  content/repositories/working-with-files/managing-large-files/installing-git-large-file-storage.md
  content/repositories/working-with-files/using-files/getting-permanent-links-to-files.md
  content/repositories/working-with-files/using-files/tracking-changes-in-a-file.md
  tests/content/featured-links.js
  tests/fixtures/github-blog-feed-packages-2021.xml
Labels: triage, automated-reposync-pr

#12242 Update configuring-a-packages-access-control-and-visibility.md
  content/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility.md
Labels: content, waiting for review

#12839 Update small grammer error in understanding-github-actions.md
  content/actions/learn-github-actions/understanding-github-actions.md
Labels: content, actions, ready to merge

#12841 Update metadata-syntax-for-github-actions.md
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
Labels: content, actions, ready to merge

#12940 repo sync
  content/admin/authentication/configuring-authentication-and-provisioning-with-your-identity-provider/configuring-authentication-and-provisioning-for-your-enterprise-using-azure-ad.md
  content/admin/authentication/configuring-authentication-and-provisioning-with-your-identity-provider/configuring-authentication-and-provisioning-for-your-enterprise-using-okta.md
  content/admin/authentication/configuring-authentication-and-provisioning-with-your-identity-provider/mapping-okta-groups-to-teams.md
  content/admin/authentication/managing-identity-and-access-for-your-enterprise/about-identity-and-access-management-for-your-enterprise.md
  content/admin/authentication/managing-identity-and-access-for-your-enterprise/configuring-saml-single-sign-on-for-your-enterprise.md
  content/admin/authentication/managing-identity-and-access-for-your-enterprise/configuring-user-provisioning-for-your-enterprise.md
  content/authentication/authenticating-with-saml-single-sign-on/about-authentication-with-saml-single-sign-on.md
  content/authentication/authenticating-with-saml-single-sign-on/authorizing-a-personal-access-token-for-use-with-saml-single-sign-on.md
  content/authentication/authenticating-with-saml-single-sign-on/authorizing-an-ssh-key-for-use-with-saml-single-sign-on.md
  content/authentication/authenticating-with-saml-single-sign-on/index.md
  content/authentication/authenticating-with-saml-single-sign-on/viewing-and-managing-your-active-saml-sessions.md
  content/authentication/connecting-to-github-with-ssh/about-ssh.md
  content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
  content/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token.md
  content/billing/managing-billing-for-your-github-account/upgrading-your-github-subscription.md
  content/get-started/getting-started-with-git/about-remote-repositories.md
  content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  content/organizations/granting-access-to-your-organization-with-saml-single-sign-on/about-two-factor-authentication-and-saml-single-sign-on.md
  content/organizations/granting-access-to-your-organization-with-saml-single-sign-on/index.md
  content/organizations/granting-access-to-your-organization-with-saml-single-sign-on/managing-bots-and-service-accounts-with-saml-single-sign-on.md
  content/organizations/granting-access-to-your-organization-with-saml-single-sign-on/viewing-and-managing-a-members-saml-access-to-your-organization.md
  content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
  content/organizations/managing-membership-in-your-organization/can-i-create-accounts-for-people-in-my-organization.md
  content/organizations/managing-membership-in-your-organization/inviting-users-to-join-your-organization.md
  content/organizations/managing-organization-settings/renaming-an-organization.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/about-identity-and-access-management-with-saml-single-sign-on.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/about-scim.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/accessing-your-organization-if-your-identity-provider-is-unavailable.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/configuring-saml-single-sign-on-and-scim-using-okta.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/connecting-your-identity-provider-to-your-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/downloading-your-organizations-saml-single-sign-on-recovery-codes.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/enabling-and-testing-saml-single-sign-on-for-your-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/enforcing-saml-single-sign-on-for-your-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/index.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/managing-team-synchronization-for-your-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/preparing-to-enforce-saml-single-sign-on-in-your-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/troubleshooting-identity-and-access-management.md
  content/organizations/organizing-members-into-teams/creating-a-team.md
  content/organizations/organizing-members-into-teams/synchronizing-a-team-with-an-identity-provider-group.md
  content/repositories/creating-and-managing-repositories/about-repositories.md
  content/rest/reference/packages.md
  data/reusables/gated-features/internal-repos.md
  data/reusables/gated-features/saml-sso.md
  data/reusables/gated-features/team-synchronization.md
  data/reusables/organizations/organizations_include.md
  data/reusables/organizations/team-synchronization.md
  data/reusables/repositories/about-internal-repos.md
  data/reusables/saml/dotcom-saml-explanation.md
  data/reusables/saml/saml-accounts.md
  data/reusables/saml/saml-session-oauth.md
  lib/redirects/static/redirect-exceptions.txt
Labels: triage, automated-reposync-pr

#12941 repo sync
  lib/redirects/precompile.js
  middleware/handle-errors.js
  tests/helpers/supertest.js
  tests/rendering/server.js
Labels: triage, automated-reposync-pr

#12943 repo sync
  components/page-header/VersionPicker.tsx
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  data/reusables/actions/ae-beta.md
  data/reusables/actions/hardware-requirements-3.2.md
  data/reusables/actions/hardware-requirements-after.md
  data/reusables/actions/hardware-requirements-before.md
  data/reusables/enterprise_installation/hardware-rec-table.md
  tests/translations/empty-sources-test.js
Labels: triage, automated-reposync-pr

#12947 repo sync
  .github/allowed-actions.js
  .github/workflows/crowdin.yml
  components/ui/ScrollButton/ScrollButton.tsx
Labels: triage, automated-reposync-pr

#12950 repo sync
  .github/workflows/create-translation-batch-pr.yml
  components/Search.tsx
  components/landing/TableOfContents.tsx
  lib/webhooks/static/dotcom/code_scanning_alert.reopened.payload.json
Labels: triage, automated-reposync-pr

#12953 repo sync
  data/release-notes/enterprise-server/3-0/22.yml
  data/release-notes/enterprise-server/3-1/14.yml
  data/release-notes/enterprise-server/3-2/6.yml
  data/release-notes/enterprise-server/3-3/1.yml
Labels: triage, automated-reposync-pr

#12964 repo sync
  .github/workflows/60-days-stale-check.yml
  .github/workflows/add-review-template.yml
  .github/workflows/auto-label-prs.yml
  .github/workflows/autoupdate-branch.yml
  .github/workflows/browser-test.yml
  .github/workflows/check-all-english-links.yml
  .github/workflows/check-broken-links-github-github.yml
  .github/workflows/check-for-spammy-issues.yml
  .github/workflows/code-lint.yml
  .github/workflows/codeql.yml
  .github/workflows/confirm-internal-staff-work-in-docs.yml
  .github/workflows/content-changes-table-comment.yml
  .github/workflows/copy-api-issue-to-internal.yml
  .github/workflows/create-translation-batch-pr.yml
  .github/workflows/crowdin-cleanup.yml
  .github/workflows/enterprise-dates.yml
  .github/workflows/enterprise-release-sync-search-index.yml
  .github/workflows/first-responder-docs-content.yml
  .github/workflows/hubber-contribution-help.yml
  .github/workflows/link-check-dotcom.yml
  .github/workflows/link-check-ghae.yml
  .github/workflows/link-check-ghec.yml
  .github/workflows/link-check-ghes.yml
  .github/workflows/merged-notification.yml
  .github/workflows/move-existing-issues-to-the-correct-repo.yml
  .github/workflows/move-help-wanted-issues.yml
  .github/workflows/move-new-issues-to-correct-docs-repo.yml
  .github/workflows/move-ready-to-merge-pr.yaml
  .github/workflows/move-reopened-issues-to-triage.yaml
  .github/workflows/no-response.yaml
  .github/workflows/open-enterprise-issue.yml
  .github/workflows/openapi-schema-check.yml
  .github/workflows/os-ready-for-review.yml
  .github/workflows/pa11y.yml
  .github/workflows/ping-staging-apps.yml
  .github/workflows/ready-for-doc-review.yml
  .github/workflows/remove-from-fr-board.yaml
  .github/workflows/remove-unused-assets.yml
  .github/workflows/repo-freeze-check.yml
  .github/workflows/repo-sync-stalls.yml
  .github/workflows/repo-sync.yml
  .github/workflows/site-policy-reminder.yml
  .github/workflows/site-policy-sync.yml
  .github/workflows/start-new-engineering-pr-workflow.yml
  .github/workflows/sync-search-indices.yml
  .github/workflows/sync-search-pr.yml
  .github/workflows/test-windows.yml
  .github/workflows/test.yml
  .github/workflows/transfer-api-issue-to-openapi.yml
  .github/workflows/transfer-to-localization-repo.yml
  .github/workflows/triage-issue-comments.yml
  .github/workflows/triage-pull-requests.yml
  .github/workflows/triage-unallowed-contributions.yml
  .github/workflows/triage-unallowed-internal-changes.yml
  .github/workflows/update-graphql-files.yml
  .github/workflows/workflow-lint.yml
  components/article/ArticlePage.tsx
  tests/rendering/server.js
Labels: triage, automated-reposync-pr

#12967 repo sync
  .github/workflows/codeql.yml
Labels: automated-reposync-pr

#12973 repo sync
  translations/log/pt-resets.csv
  translations/pt-BR/content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-custom-repository-roles-for-an-organization.md
  translations/pt-BR/data/release-notes/enterprise-server/3-0/22.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-1/14.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-2/6.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/1.yml
Labels: automated-reposync-pr

#9015 example for self-hosted runners in the wild
  content/actions/hosting-your-own-runners/monitoring-and-troubleshooting-self-hosted-runners.md
Labels: content, actions, waiting for review

#12979 repo sync
  content/admin/configuration/configuring-your-enterprise/accessing-the-administrative-shell-ssh.md
  content/admin/configuration/configuring-your-enterprise/accessing-the-management-console.md
  content/admin/configuration/configuring-your-enterprise/configuring-backups-on-your-appliance.md
  content/admin/configuration/configuring-your-enterprise/enabling-and-scheduling-maintenance-mode.md
  content/admin/configuration/configuring-your-enterprise/index.md
  content/admin/installation/index.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/index.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-aws.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-azure.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-google-cloud-platform.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-hyper-v.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-openstack-kvm.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-vmware.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-xenserver.md
  content/admin/overview/about-enterprise-accounts.md
  content/admin/overview/about-the-github-enterprise-api.md
  content/github/customizing-your-github-workflow/exploring-integrations/github-extensions-and-integrations.md
  content/github/extending-github/about-webhooks.md
  content/github/extending-github/git-automation-with-oauth-tokens.md
  content/github/extending-github/index.md
  content/github/importing-your-projects-to-github/importing-source-code-to-github/adding-an-existing-project-to-github-using-the-command-line.md
  content/github/importing-your-projects-to-github/importing-source-code-to-github/importing-a-repository-with-github-importer.md
  content/github/importing-your-projects-to-github/importing-source-code-to-github/index.md
  content/github/importing-your-projects-to-github/importing-source-code-to-github/source-code-migration-tools.md
  content/github/importing-your-projects-to-github/index.md
  content/github/importing-your-projects-to-github/working-with-subversion-on-github/what-are-the-differences-between-subversion-and-git.md
  content/github/site-policy-deprecated/amendment-to-github-terms-of-service-applicable-to-us-federal-government-users.md
  content/github/site-policy-deprecated/github-connect-addendum-to-the-github-enterprise-license-agreement.md
  content/github/site-policy-deprecated/github-enterprise-service-level-agreement.md
  content/github/site-policy-deprecated/github-enterprise-subscription-agreement.md
  content/github/site-policy-deprecated/github-supplemental-terms-for-microsoft-volume-licensing.md
  content/github/site-policy/coordinated-disclosure-of-security-vulnerabilities.md
  content/github/site-policy/dmca-takedown-policy.md
  content/github/site-policy/github-community-guidelines.md
  content/github/site-policy/github-logo-policy.md
  content/github/site-policy/github-privacy-statement.md
  content/github/site-policy/github-subprocessors-and-cookies.md
  content/github/site-policy/github-terms-of-service.md
  content/github/site-policy/github-username-policy.md
  content/github/site-policy/global-privacy-practices.md
  content/github/site-policy/guide-to-submitting-a-dmca-counter-notice.md
  content/github/site-policy/guide-to-submitting-a-dmca-takedown-notice.md
  content/github/site-policy/guidelines-for-legal-requests-of-user-data.md
  content/github/site-policy/index.md
  content/github/working-with-github-support/github-enterprise-cloud-support.md
  content/github/writing-on-github/editing-and-sharing-content-with-gists/creating-gists.md
  content/github/writing-on-github/editing-and-sharing-content-with-gists/index.md
  content/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/index.md
  content/github/writing-on-github/working-with-advanced-formatting/attaching-files.md
  content/github/writing-on-github/working-with-saved-replies/editing-a-saved-reply.md
Labels: automated-reposync-pr

#12981 repo sync
  translations/log/pt-resets.csv
  translations/pt-BR/content/actions/hosting-your-own-runners/monitoring-and-troubleshooting-self-hosted-runners.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/accessing-the-administrative-shell-ssh.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/accessing-the-management-console.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/configuring-backups-on-your-appliance.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/enabling-and-scheduling-maintenance-mode.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/index.md
  translations/pt-BR/content/admin/installation/index.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/index.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-aws.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-azure.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-google-cloud-platform.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-hyper-v.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-openstack-kvm.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-vmware.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-xenserver.md
  translations/pt-BR/content/admin/overview/about-enterprise-accounts.md
  translations/pt-BR/content/admin/overview/about-the-github-enterprise-api.md
  translations/pt-BR/content/github/customizing-your-github-workflow/exploring-integrations/github-extensions-and-integrations.md
  translations/pt-BR/content/github/extending-github/about-webhooks.md
  translations/pt-BR/content/github/extending-github/git-automation-with-oauth-tokens.md
  translations/pt-BR/content/github/extending-github/index.md
  translations/pt-BR/content/github/importing-your-projects-to-github/importing-source-code-to-github/adding-an-existing-project-to-github-using-the-command-line.md
  translations/pt-BR/content/github/importing-your-projects-to-github/importing-source-code-to-github/importing-a-repository-with-github-importer.md
  translations/pt-BR/content/github/importing-your-projects-to-github/importing-source-code-to-github/index.md
  translations/pt-BR/content/github/importing-your-projects-to-github/importing-source-code-to-github/source-code-migration-tools.md
  translations/pt-BR/content/github/importing-your-projects-to-github/index.md
  translations/pt-BR/content/github/importing-your-projects-to-github/working-with-subversion-on-github/what-are-the-differences-between-subversion-and-git.md
  translations/pt-BR/content/github/site-policy/coordinated-disclosure-of-security-vulnerabilities.md
  translations/pt-BR/content/github/site-policy/dmca-takedown-policy.md
  translations/pt-BR/content/github/site-policy/github-community-guidelines.md
  translations/pt-BR/content/github/site-policy/github-logo-policy.md
  translations/pt-BR/content/github/site-policy/github-privacy-statement.md
  translations/pt-BR/content/github/site-policy/github-subprocessors-and-cookies.md
  translations/pt-BR/content/github/site-policy/github-terms-of-service.md
  translations/pt-BR/content/github/site-policy/github-username-policy.md
  translations/pt-BR/content/github/site-policy/global-privacy-practices.md
  translations/pt-BR/content/github/site-policy/guide-to-submitting-a-dmca-counter-notice.md
  translations/pt-BR/content/github/site-policy/guide-to-submitting-a-dmca-takedown-notice.md
  translations/pt-BR/content/github/site-policy/guidelines-for-legal-requests-of-user-data.md
  translations/pt-BR/content/github/site-policy/index.md
  translations/pt-BR/content/github/working-with-github-support/github-enterprise-cloud-support.md
  translations/pt-BR/content/github/writing-on-github/editing-and-sharing-content-with-gists/creating-gists.md
  translations/pt-BR/content/github/writing-on-github/editing-and-sharing-content-with-gists/index.md
  translations/pt-BR/content/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/index.md
  translations/pt-BR/content/github/writing-on-github/working-with-advanced-formatting/attaching-files.md
  translations/pt-BR/content/github/writing-on-github/working-with-saved-replies/editing-a-saved-reply.md
Labels: automated-reposync-pr

#12984 repo sync
  .github/actions-scripts/staging-commit-status-success.js
  .github/actions-scripts/staging-deploy.js
  .github/workflows/prod-build-deploy.yml
  .github/workflows/staging-build-and-deploy-pr.yml
  .github/workflows/staging-build-pr.yml
  .github/workflows/staging-deploy-pr.yml
  .github/workflows/test.yml
  script/deployment/deploy-to-staging.js
Labels: automated-reposync-pr

#12990 repo sync
  assets/images/help/overview/sign-in-pattern.png
  content/billing/managing-billing-for-your-github-account/about-billing-for-github-accounts.md
  content/billing/managing-billing-for-your-github-account/upgrading-your-github-subscription.md
  content/get-started/learning-about-github/access-permissions-on-github.md
  content/get-started/learning-about-github/githubs-products.md
  content/get-started/learning-about-github/types-of-github-accounts.md
  content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  content/get-started/signing-up-for-github/signing-up-for-a-new-github-account.md
  content/organizations/collaborating-with-groups-in-organizations/about-organizations.md
  data/reusables/accounts/accounts-billed-separately.md
  data/reusables/organizations/organization-plans.md
  data/reusables/organizations/organizations_include.md
Labels: automated-reposync-pr

#12991 repo sync
  components/landing/CodeExamples.tsx
Labels: automated-reposync-pr

#12992 repo sync
  components/landing/CodeExamples.tsx
  components/landing/GuideCard.tsx
  data/ui.yml
Labels: automated-reposync-pr

#12993 repo sync
  components/DefaultLayout.tsx
  components/page-header/RestRepoBanner.tsx
  content/actions/deployment/managing-your-deployments/viewing-deployment-history.md
  content/actions/learn-github-actions/events-that-trigger-workflows.md
  content/admin/policies/enforcing-policy-with-pre-receive-hooks/creating-a-pre-receive-hook-script.md
  content/developers/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps.md
  content/developers/apps/getting-started-with-apps/differences-between-github-apps-and-oauth-apps.md
  content/developers/apps/getting-started-with-apps/migrating-oauth-apps-to-github-apps.md
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  content/rest/guides/traversing-with-pagination.md
  content/rest/guides/working-with-comments.md
  content/rest/overview/api-previews.md
  content/rest/reference/branches.md
  content/rest/reference/collaborators.md
  content/rest/reference/commits.md
  content/rest/reference/deployments.md
  content/rest/reference/index.md
  content/rest/reference/pages.md
  content/rest/reference/permissions-required-for-github-apps.md
  content/rest/reference/pulls.md
  content/rest/reference/releases.md
  content/rest/reference/repos.md
  content/rest/reference/repository-metrics.md
  content/rest/reference/webhooks.md
  data/release-notes/enterprise-server/3-2/0-rc1.yml
  data/release-notes/enterprise-server/3-2/0.yml
  data/release-notes/enterprise-server/3-3/0-rc1.yml
  data/release-notes/enterprise-server/3-3/0.yml
  data/release-notes/github-ae/2021-06/2021-12-06.yml
  data/reusables/webhooks/commit_comment_properties.md
  data/reusables/webhooks/deploy_key_properties.md
  data/reusables/webhooks/deployment_short_desc.md
  data/reusables/webhooks/deployment_status_short_desc.md
  lib/rest/index.js
  middleware/contextualizers/rest.js
  tests/fixtures/rss-feed.xml
  tests/rendering/rest.js
Labels: automated-reposync-pr

#12994 repo sync
  middleware/healthz.js
  middleware/index.js
Labels: automated-reposync-pr

#12996 repo sync
  components/page-header/RestRepoBanner.tsx
Labels: automated-reposync-pr

#12962 Remove duplicate section for internal repositories
  content/repositories/creating-and-managing-repositories/about-repositories.md
Labels: content, ready to merge

#13024 repo sync
  middleware/render-page.js
Labels: automated-reposync-pr

#13025 repo sync
  lib/page.js
  middleware/render-page.js
  translations/ja-JP/content/admin/authentication/authenticating-users-for-your-github-enterprise-server-instance/disabling-unauthenticated-sign-ups.md
  translations/ja-JP/content/admin/authentication/authenticating-users-for-your-github-enterprise-server-instance/index.md
  translations/ja-JP/content/admin/authentication/authenticating-users-for-your-github-enterprise-server-instance/using-cas.md
  translations/ja-JP/content/admin/authentication/authenticating-users-for-your-github-enterprise-server-instance/using-ldap.md
  translations/ja-JP/content/admin/authentication/authenticating-users-for-your-github-enterprise-server-instance/using-saml.md
  translations/ja-JP/content/admin/authentication/managing-your-enterprise-users-with-your-identity-provider/index.md
  translations/ja-JP/content/admin/configuration/configuring-network-settings/configuring-a-hostname.md
  translations/ja-JP/content/admin/configuration/configuring-network-settings/configuring-an-outbound-web-proxy-server.md
  translations/ja-JP/content/admin/configuration/configuring-network-settings/configuring-built-in-firewall-rules.md
  translations/ja-JP/content/admin/configuration/configuring-network-settings/configuring-dns-nameservers.md
  translations/ja-JP/content/admin/configuration/configuring-network-settings/configuring-tls.md
  translations/ja-JP/content/admin/configuration/configuring-network-settings/enabling-subdomain-isolation.md
  translations/ja-JP/content/admin/configuration/configuring-network-settings/index.md
  translations/ja-JP/content/admin/configuration/configuring-network-settings/network-ports.md
  translations/ja-JP/content/admin/configuration/configuring-network-settings/using-github-enterprise-server-with-a-load-balancer.md
  translations/ja-JP/content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  translations/ja-JP/content/admin/configuration/configuring-your-enterprise/configuring-email-for-notifications.md
  translations/ja-JP/content/admin/configuration/configuring-your-enterprise/configuring-github-pages-for-your-enterprise.md
  translations/ja-JP/content/admin/configuration/configuring-your-enterprise/configuring-time-synchronization.md
  translations/ja-JP/content/admin/configuration/configuring-your-enterprise/enabling-private-mode.md
  translations/ja-JP/content/admin/configuration/configuring-your-enterprise/site-admin-dashboard.md
  translations/ja-JP/content/admin/configuration/configuring-your-enterprise/troubleshooting-ssl-errors.md
  translations/ja-JP/content/admin/configuration/managing-connections-between-your-enterprise-accounts/connecting-your-enterprise-account-to-github-enterprise-cloud.md
  translations/ja-JP/content/admin/configuration/managing-connections-between-your-enterprise-accounts/enabling-the-dependency-graph-and-dependabot-alerts-on-your-enterprise-account.md
  translations/ja-JP/content/admin/configuration/managing-connections-between-your-enterprise-accounts/enabling-unified-contributions-between-your-enterprise-account-and-githubcom.md
  translations/ja-JP/content/admin/configuration/managing-connections-between-your-enterprise-accounts/enabling-unified-search-between-your-enterprise-account-and-githubcom.md
  translations/ja-JP/content/admin/configuration/managing-connections-between-your-enterprise-accounts/index.md
  translations/ja-JP/content/admin/user-management/index.md
  translations/ja-JP/content/admin/user-management/managing-organizations-in-your-enterprise/adding-people-to-teams.md
  translations/ja-JP/content/admin/user-management/managing-organizations-in-your-enterprise/index.md
  translations/ja-JP/content/admin/user-management/managing-organizations-in-your-enterprise/managing-projects-using-jira.md
  translations/ja-JP/content/admin/user-management/managing-organizations-in-your-enterprise/preventing-users-from-creating-organizations.md
  translations/ja-JP/content/admin/user-management/managing-organizations-in-your-enterprise/viewing-the-audit-logs-for-organizations-in-your-enterprise.md
  translations/ja-JP/content/admin/user-management/managing-repositories-in-your-enterprise/configuring-git-large-file-storage-for-your-enterprise.md
  translations/ja-JP/content/admin/user-management/managing-repositories-in-your-enterprise/disabling-git-ssh-access-on-your-enterprise.md
  translations/ja-JP/content/admin/user-management/managing-repositories-in-your-enterprise/troubleshooting-service-hooks.md
  translations/ja-JP/content/admin/user-management/managing-users-in-your-enterprise/auditing-ssh-keys.md
  translations/ja-JP/content/admin/user-management/managing-users-in-your-enterprise/auditing-users-across-your-enterprise.md
  translations/ja-JP/content/admin/user-management/managing-users-in-your-enterprise/customizing-user-messages-for-your-enterprise.md
  translations/ja-JP/content/admin/user-management/managing-users-in-your-enterprise/index.md
  translations/ja-JP/content/admin/user-management/managing-users-in-your-enterprise/inviting-people-to-manage-your-enterprise.md
  translations/ja-JP/content/admin/user-management/managing-users-in-your-enterprise/managing-dormant-users.md
  translations/ja-JP/content/admin/user-management/managing-users-in-your-enterprise/promoting-or-demoting-a-site-administrator.md
  translations/ja-JP/content/admin/user-management/managing-users-in-your-enterprise/rebuilding-contributions-data.md
  translations/ja-JP/content/admin/user-management/managing-users-in-your-enterprise/roles-in-an-enterprise.md
  translations/ja-JP/content/admin/user-management/managing-users-in-your-enterprise/suspending-and-unsuspending-users.md
  translations/ja-JP/content/admin/user-management/monitoring-activity-in-your-enterprise/activity-dashboard.md
  translations/ja-JP/content/admin/user-management/monitoring-activity-in-your-enterprise/audit-logging.md
  translations/ja-JP/content/admin/user-management/monitoring-activity-in-your-enterprise/audited-actions.md
  translations/ja-JP/content/admin/user-management/monitoring-activity-in-your-enterprise/searching-the-audit-log.md
  translations/ja-JP/content/admin/user-management/monitoring-activity-in-your-enterprise/viewing-push-logs.md
  translations/log/ja-resets.csv
Labels: automated-reposync-pr

#13027 repo sync
  .github/workflows/staging-deploy-pr.yml
  assets/images/help/codespaces/org-user-permission-settings-outside-collaborators.png
  components/article/ArticlePage.tsx
  content/codespaces/managing-codespaces-for-your-organization/enabling-codespaces-for-your-organization.md
  content/graphql/reference/mutations.md
  lib/graphql/static/prerendered-mutations.json
  middleware/contextualizers/graphql.js
  middleware/index.js
  middleware/render-page.js
  middleware/spot-content-flaws.js
  package-lock.json
  package.json
  script/graphql/update-files.js
  script/graphql/utils/prerender-graphql.js
  tests/rendering/server.js
Labels: automated-reposync-pr

#12985 correction of redirecting link in content
  content/rest/reference/search.md
Labels: content

#13032 repo sync
  components/page-header/RestRepoBanner.tsx
Labels: automated-reposync-pr

#13034 repo sync
  translations/log/pt-resets.csv
  translations/pt-BR/content/admin/configuration/managing-connections-between-your-enterprise-accounts/connecting-your-enterprise-account-to-github-enterprise-cloud.md
  translations/pt-BR/content/codespaces/codespaces-reference/allowing-your-codespace-to-access-a-private-image-registry.md
  translations/pt-BR/content/codespaces/managing-codespaces-for-your-organization/enabling-codespaces-for-your-organization.md
  translations/pt-BR/content/graphql/reference/mutations.md
  translations/pt-BR/content/repositories/creating-and-managing-repositories/about-repositories.md
  translations/pt-BR/data/release-notes/enterprise-server/3-0/20.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-1/12.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-2/4.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/0.yml
Labels: automated-reposync-pr

#13039 repo sync
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/merging-multiple-user-accounts.md
Labels: automated-reposync-pr

#13047 repo sync
  content/codespaces/customizing-your-codespace/setting-your-timeout-period-for-codespaces.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/reviewing-proposed-changes-in-a-pull-request.md
Labels: automated-reposync-pr

#13049 repo sync
  content/billing/managing-billing-for-git-large-file-storage/downgrading-git-large-file-storage.md
  content/billing/managing-billing-for-git-large-file-storage/upgrading-git-large-file-storage.md
  content/billing/managing-billing-for-git-large-file-storage/viewing-your-git-large-file-storage-usage.md
  content/billing/setting-up-paid-organizations-for-procurement-companies/about-organizations-for-procurement-companies.md
  content/billing/setting-up-paid-organizations-for-procurement-companies/index.md
  content/code-security/supply-chain-security/managing-vulnerabilities-in-your-projects-dependencies/index.md
  content/organizations/collaborating-with-groups-in-organizations/about-your-organizations-news-feed.md
  content/organizations/collaborating-with-groups-in-organizations/accessing-your-organizations-settings.md
  content/organizations/collaborating-with-groups-in-organizations/index.md
  content/organizations/index.md
  content/organizations/keeping-your-organization-secure/index.md
  content/organizations/keeping-your-organization-secure/restricting-email-notifications-for-your-organization.md
  content/organizations/managing-access-to-your-organizations-repositories/index.md
  content/organizations/managing-access-to-your-organizations-repositories/managing-an-individuals-access-to-an-organization-repository.md
  content/organizations/managing-access-to-your-organizations-repositories/managing-team-access-to-an-organization-repository.md
  content/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
  content/organizations/managing-git-access-to-your-organizations-repositories/index.md
  content/organizations/managing-membership-in-your-organization/can-i-create-accounts-for-people-in-my-organization.md
  content/organizations/managing-membership-in-your-organization/index.md
  content/organizations/managing-membership-in-your-organization/inviting-users-to-join-your-organization.md
  content/organizations/managing-organization-settings/renaming-an-organization.md
  content/organizations/managing-organization-settings/setting-permissions-for-adding-outside-collaborators.md
  content/organizations/managing-organization-settings/setting-permissions-for-deleting-or-transferring-repositories.md
  content/organizations/managing-organization-settings/transferring-organization-ownership.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/index.md
  content/organizations/migrating-to-improved-organization-permissions/converting-an-admin-team-to-improved-organization-permissions.md
  content/organizations/migrating-to-improved-organization-permissions/converting-an-owners-team-to-improved-organization-permissions.md
  content/organizations/migrating-to-improved-organization-permissions/index.md
  content/organizations/migrating-to-improved-organization-permissions/migrating-admin-teams-to-improved-organization-permissions.md
  content/organizations/organizing-members-into-teams/adding-organization-members-to-a-team.md
  content/organizations/organizing-members-into-teams/assigning-the-team-maintainer-role-to-a-team-member.md
  content/organizations/organizing-members-into-teams/creating-a-team.md
  content/organizations/organizing-members-into-teams/index.md
  content/organizations/organizing-members-into-teams/moving-a-team-in-your-organizations-hierarchy.md
  content/organizations/organizing-members-into-teams/removing-organization-members-from-a-team.md
  content/organizations/restricting-access-to-your-organizations-data/about-oauth-app-access-restrictions.md
  content/organizations/restricting-access-to-your-organizations-data/approving-oauth-apps-for-your-organization.md
  content/organizations/restricting-access-to-your-organizations-data/denying-access-to-a-previously-approved-oauth-app-for-your-organization.md
  content/organizations/restricting-access-to-your-organizations-data/disabling-oauth-app-access-restrictions-for-your-organization.md
  content/organizations/restricting-access-to-your-organizations-data/enabling-oauth-app-access-restrictions-for-your-organization.md
  content/pull-requests/collaborating-with-pull-requests/collaborating-on-repositories-with-code-quality-features/index.md
  content/pull-requests/collaborating-with-pull-requests/getting-started/about-collaborative-development-models.md
  content/pull-requests/collaborating-with-pull-requests/getting-started/index.md
  content/pull-requests/collaborating-with-pull-requests/index.md
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/index.md
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/what-happens-to-forks-when-a-repository-is-deleted-or-changes-visibility.md
  content/pull-requests/committing-changes-to-your-project/creating-and-editing-commits/changing-a-commit-message.md
  content/pull-requests/committing-changes-to-your-project/index.md
  content/pull-requests/committing-changes-to-your-project/troubleshooting-commits/why-are-my-commits-linked-to-the-wrong-user.md
Labels: automated-reposync-pr

#13056 repo sync
  .github/workflows/test.yml
  content/admin/advanced-security/index.md
  content/admin/advanced-security/viewing-your-github-advanced-security-usage.md
  content/communities/moderating-comments-and-conversations/managing-disruptive-comments.md
  content/desktop/installing-and-configuring-github-desktop/overview/keyboard-shortcuts.md
  content/developers/github-marketplace/selling-your-app-on-github-marketplace/receiving-payment-for-app-purchases.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-for-your-schoolwork/why-wasnt-my-application-for-a-student-developer-pack-approved.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-in-your-classroom-and-research/apply-for-an-educator-or-researcher-discount.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-in-your-classroom-and-research/why-wasnt-my-application-for-an-educator-or-researcher-discount-approved.md
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/about-custom-domains-and-github-pages.md
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/index.md
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/troubleshooting-custom-domains-and-github-pages.md
  content/pages/index.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/about-jekyll-build-errors-for-github-pages-sites.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/adding-a-theme-to-your-github-pages-site-using-jekyll.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/setting-a-markdown-processor-for-your-github-pages-site-using-jekyll.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/troubleshooting-jekyll-build-errors-for-github-pages-sites.md
  content/rest/guides/index.md
  middleware/redirects/handle-redirects.js
  tests/content/redirect-orphans.js
  tests/routing/redirects.js
  translations/es-ES/content/admin/advanced-security/viewing-your-github-advanced-security-usage.md
  translations/ja-JP/content/admin/advanced-security/viewing-your-github-advanced-security-usage.md
  translations/pt-BR/content/admin/advanced-security/viewing-your-github-advanced-security-usage.md
  translations/zh-CN/content/admin/advanced-security/viewing-your-github-advanced-security-usage.md
Labels: automated-reposync-pr

#13058 repo sync
  .github/workflows/manually-purge-fastly.yml
Labels: automated-reposync-pr

#13060 repo sync
  contributing/content-style-guide.md
Labels: automated-reposync-pr

#13066 repo sync
  .devcontainer/devcontainer.json
Labels: automated-reposync-pr

#13068 repo sync
  .github/workflows/create-translation-batch-pr.yml
  components/landing/GuideCard.tsx
Labels: automated-reposync-pr

#13069 repo sync
  .devcontainer/devcontainer.json
  content/admin/configuration/managing-connections-between-your-enterprise-accounts/enabling-the-dependency-graph-and-dependabot-alerts-on-your-enterprise-account.md
  content/code-security/supply-chain-security/managing-vulnerabilities-in-your-projects-dependencies/about-alerts-for-vulnerable-dependencies.md
  content/code-security/supply-chain-security/managing-vulnerabilities-in-your-projects-dependencies/browsing-security-vulnerabilities-in-the-github-advisory-database.md
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
Labels: automated-reposync-pr

#13073 repo sync
  .github/CODEOWNERS
  lib/search/popular-pages.json
Labels: automated-reposync-pr

#13074 repo sync
  content/pages/getting-started-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site.md
  content/pages/getting-started-with-github-pages/creating-a-github-pages-site.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/about-jekyll-build-errors-for-github-pages-sites.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/creating-a-github-pages-site-with-jekyll.md
  data/reusables/pages/check-workflow-run.md
  data/reusables/pages/pages-builds-with-github-actions-public-beta.md
  data/reusables/pages/twenty-minutes-to-publish.md
Labels: automated-reposync-pr

#13085 repo sync
  assets/images/help/repository/branching.png
Labels: automated-reposync-pr

#13086 repo sync
  content/actions/creating-actions/index.md
  content/actions/index.md
  content/actions/learn-github-actions/index.md
  content/actions/migrating-to-github-actions/index.md
  content/developers/apps/building-github-apps/authenticating-with-github-apps.md
  content/developers/apps/building-github-apps/creating-a-github-app.md
  content/developers/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps.md
  content/developers/apps/building-github-apps/index.md
  content/developers/apps/building-github-apps/rate-limits-for-github-apps.md
  content/developers/apps/building-github-apps/setting-permissions-for-github-apps.md
  content/developers/apps/getting-started-with-apps/about-apps.md
  content/developers/apps/getting-started-with-apps/differences-between-github-apps-and-oauth-apps.md
  content/developers/apps/index.md
  content/developers/apps/managing-github-apps/index.md
  content/developers/apps/managing-github-apps/modifying-a-github-app.md
  content/developers/overview/managing-deploy-keys.md
  content/developers/overview/replacing-github-services.md
  content/developers/overview/secret-scanning-partner-program.md
  content/developers/overview/using-ssh-agent-forwarding.md
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  content/issues/index.md
  content/issues/organizing-your-work-with-project-boards/managing-project-boards/about-project-boards.md
  content/issues/organizing-your-work-with-project-boards/managing-project-boards/closing-a-project-board.md
  content/issues/organizing-your-work-with-project-boards/managing-project-boards/creating-a-project-board.md
  content/issues/organizing-your-work-with-project-boards/managing-project-boards/deleting-a-project-board.md
  content/issues/organizing-your-work-with-project-boards/managing-project-boards/editing-a-project-board.md
  content/issues/organizing-your-work-with-project-boards/tracking-work-with-project-boards/adding-issues-and-pull-requests-to-a-project-board.md
  content/issues/organizing-your-work-with-project-boards/tracking-work-with-project-boards/adding-notes-to-a-project-board.md
  content/issues/tracking-your-work-with-issues/about-issues.md
  content/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue.md
  content/issues/using-labels-and-milestones-to-track-work/creating-and-editing-milestones-for-issues-and-pull-requests.md
  content/issues/using-labels-and-milestones-to-track-work/managing-labels.md
  content/pull-requests/collaborating-with-pull-requests/addressing-merge-conflicts/index.md
  content/pull-requests/collaborating-with-pull-requests/addressing-merge-conflicts/resolving-a-merge-conflict-using-the-command-line.md
  content/pull-requests/collaborating-with-pull-requests/collaborating-on-repositories-with-code-quality-features/about-status-checks.md
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/about-pull-request-merges.md
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/index.md
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-branches.md
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests.md
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-and-deleting-branches-within-your-repository.md
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/index.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/commenting-on-a-pull-request.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/filtering-files-in-a-pull-request.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/index.md
  content/search-github/getting-started-with-searching-on-github/about-searching-on-github.md
  content/search-github/getting-started-with-searching-on-github/enabling-githubcom-repository-search-from-your-private-enterprise-environment.md
  content/search-github/getting-started-with-searching-on-github/understanding-the-search-syntax.md
  content/search-github/index.md
  content/search-github/searching-on-github/searching-for-repositories.md
  content/search-github/searching-on-github/searching-issues-and-pull-requests.md
Labels: automated-reposync-pr

#13087 repo sync
  content/actions/learn-github-actions/contexts.md
  content/actions/learn-github-actions/reusing-workflows.md
Labels: automated-reposync-pr

#12959 Correct GraphQL API endpoints for GHAE
  data/variables/product.yml
Labels: content, waiting for review, graphql

#12584 Revise Management console API Authentication curl example
  content/rest/reference/enterprise-admin.md
Labels: content, enterprise, waiting for review

#13095 repo sync
  assets/images/help/organizations/create-dns-txt-record-instructions.png
  assets/images/help/organizations/verify-domain-final-button.png
  content/admin/github-actions/advanced-configuration-and-troubleshooting/backing-up-and-restoring-github-enterprise-server-with-github-actions-enabled.md
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: automated-reposync-pr

#13096 repo sync
  .github/workflows/autoupdate-branch.yml
  .github/workflows/browser-test.yml
  .github/workflows/code-lint.yml
  .github/workflows/codeql.yml
  .github/workflows/content-changes-table-comment.yml
  .github/workflows/crowdin-cleanup.yml
  .github/workflows/enterprise-release-sync-search-index.yml
  .github/workflows/link-check-all.yml
  .github/workflows/link-check-dotcom.yml
  .github/workflows/link-check-ghae.yml
  .github/workflows/link-check-ghec.yml
  .github/workflows/link-check-ghes.yml
  .github/workflows/openapi-decorate.yml
  .github/workflows/openapi-schema-check.yml
  .github/workflows/package-lock-lint.yml
  .github/workflows/prod-build-deploy.yml
  .github/workflows/staging-build-and-deploy-pr.yml
  .github/workflows/staging-build-pr.yml
  .github/workflows/staging-undeploy-pr.yml
  .github/workflows/sync-search-pr.yml
  .github/workflows/test-windows.yml
  .github/workflows/test.yml
  .github/workflows/triage-unallowed-internal-changes.yml
  .github/workflows/workflow-lint.yml
Labels: automated-reposync-pr

#13097 repo sync
  content/actions/learn-github-actions/using-workflow-templates.md
  data/features/actions-starter-template-ui.yml
Labels: automated-reposync-pr

#13098 repo sync
  Dockerfile
  components/context/ProductLandingContext.tsx
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-docker-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-java-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-net-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-nodejs-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-php-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-python-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-to-azure-kubernetes-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-to-azure-static-web-app.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/index.md
  content/actions/deployment/deploying-to-your-cloud-provider/index.md
  content/actions/guides.md
  data/allowed-topics.js
  data/reusables/actions/create-azure-app-plan.md
  data/reusables/actions/create-azure-publish-profile.md
  data/ui.yml
  lib/frontmatter.js
  middleware/featured-links.js
  tests/fixtures/article-with-videos.md
  tests/unit/page.js
  translations/es-ES/content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure-app-service.md
  translations/ja-JP/content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure-app-service.md
  translations/pt-BR/content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure-app-service.md
  translations/zh-CN/content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure-app-service.md
Labels: automated-reposync-pr

#13104 repo sync
  components/guides/LearningTrack.tsx
Labels: automated-reposync-pr

#13105 repo sync
  .github/workflows/repo-sync.yml
Labels: automated-reposync-pr

#13228 repo sync
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch.md
Labels: automated-reposync-pr

#13179 Remove line-breaks between rows to fix eerie rendering
  content/search-github/searching-on-github/searching-commits.md
Labels: content, ready to merge

#12297 Change version to master
  content/actions/managing-issues-and-pull-requests/adding-labels-to-issues.md
Labels: content, actions, ready to merge, waiting for review

#13238 repo sync
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/migrating-from-the-codeql-runner-to-codeql-cli.md
Labels: automated-reposync-pr

#13258 repo sync
  translations/ja-JP/content/actions/managing-issues-and-pull-requests/adding-labels-to-issues.md
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/index.md
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/recommended-hardware-resources-for-running-codeql.md
  translations/ja-JP/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/installing-codeql-cli-in-your-ci-system.md
  translations/ja-JP/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/migrating-from-the-codeql-runner-to-codeql-cli.md
  translations/ja-JP/content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch.md
  translations/ja-JP/content/search-github/searching-on-github/searching-commits.md
  translations/log/cn-resets.csv
  translations/log/ja-resets.csv
  translations/zh-CN/content/actions/managing-issues-and-pull-requests/adding-labels-to-issues.md
  translations/zh-CN/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  translations/zh-CN/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/index.md
  translations/zh-CN/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/recommended-hardware-resources-for-running-codeql.md
  translations/zh-CN/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/installing-codeql-cli-in-your-ci-system.md
  translations/zh-CN/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/migrating-from-the-codeql-runner-to-codeql-cli.md
  translations/zh-CN/content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch.md
  translations/zh-CN/content/search-github/searching-on-github/searching-commits.md
Labels: automated-reposync-pr

#12030 add troubleshooting ssl cert provisioning in pages
  content/pages/getting-started-with-github-pages/securing-your-github-pages-site-with-https.md
Labels: content, waiting for review

#13276 repo sync
  .devcontainer/devcontainer.json
  content/codespaces/developing-in-codespaces/default-environment-variables-for-your-codespace.md
  content/codespaces/developing-in-codespaces/index.md
Labels: automated-reposync-pr

#13247 Grammar updates
  content/issues/trying-out-the-new-projects-experience/using-the-api-to-manage-projects.md
Labels: content, ready to merge

#13248 Spelling updates
  content/issues/trying-out-the-new-projects-experience/creating-a-project.md
Labels: content, ready to merge

#13250 Grammar update
  content/issues/tracking-your-work-with-issues/creating-an-issue.md
Labels: content, ready to merge

#13252 Grammar update
  content/issues/organizing-your-work-with-project-boards/managing-project-boards/closing-a-project-board.md
Labels: content, ready to merge

#13254 Grammar update
  content/issues/organizing-your-work-with-project-boards/tracking-work-with-project-boards/archiving-cards-on-a-project-board.md
Labels: content, ready to merge

#13298 repo sync
  assets/images/help/repository/allow-force-pushes-specify-who.png
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches.md
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
Labels: automated-reposync-pr

#13307 repo sync
  content/README.md
Labels: automated-reposync-pr
