Repository github/docs, pull requests merged in 2021-09, with the labels that each got.

#9466 repo sync
  lib/search/indexes/github-docs-2.22-cn-records.json.br
  lib/search/indexes/github-docs-2.22-cn.json.br
  lib/search/indexes/github-docs-2.22-de-records.json.br
  lib/search/indexes/github-docs-2.22-de.json.br
  lib/search/indexes/github-docs-2.22-en-records.json.br
  lib/search/indexes/github-docs-2.22-en.json.br
  lib/search/indexes/github-docs-2.22-es-records.json.br
  lib/search/indexes/github-docs-2.22-es.json.br
  lib/search/indexes/github-docs-2.22-ja-records.json.br
  lib/search/indexes/github-docs-2.22-ja.json.br
  lib/search/indexes/github-docs-2.22-pt-records.json.br
  lib/search/indexes/github-docs-2.22-pt.json.br
  lib/search/indexes/github-docs-3.0-cn-records.json.br
  lib/search/indexes/github-docs-3.0-cn.json.br
  lib/search/indexes/github-docs-3.0-de-records.json.br
  lib/search/indexes/github-docs-3.0-de.json.br
  lib/search/indexes/github-docs-3.0-en-records.json.br
  lib/search/indexes/github-docs-3.0-en.json.br
  lib/search/indexes/github-docs-3.0-es-records.json.br
  lib/search/indexes/github-docs-3.0-es.json.br
  lib/search/indexes/github-docs-3.0-ja-records.json.br
  lib/search/indexes/github-docs-3.0-ja.json.br
  lib/search/indexes/github-docs-3.0-pt-records.json.br
  lib/search/indexes/github-docs-3.0-pt.json.br
  lib/search/indexes/github-docs-3.1-cn-records.json.br
  lib/search/indexes/github-docs-3.1-cn.json.br
  lib/search/indexes/github-docs-3.1-de-records.json.br
  lib/search/indexes/github-docs-3.1-de.json.br
  lib/search/indexes/github-docs-3.1-en-records.json.br
  lib/search/indexes/github-docs-3.1-en.json.br
  lib/search/indexes/github-docs-3.1-es-records.json.br
  lib/search/indexes/github-docs-3.1-es.json.br
  lib/search/indexes/github-docs-3.1-ja-records.json.br
  lib/search/indexes/github-docs-3.1-ja.json.br
  lib/search/indexes/github-docs-3.1-pt-records.json.br
  lib/search/indexes/github-docs-3.1-pt.json.br
  lib/search/indexes/github-docs-dotcom-cn-records.json.br
  lib/search/indexes/github-docs-dotcom-cn.json.br
  lib/search/indexes/github-docs-dotcom-de-records.json.br
  lib/search/indexes/github-docs-dotcom-de.json.br
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  lib/search/indexes/github-docs-dotcom-es-records.json.br
  lib/search/indexes/github-docs-dotcom-es.json.br
  lib/search/indexes/github-docs-dotcom-ja-records.json.br
  lib/search/indexes/github-docs-dotcom-ja.json.br
  lib/search/indexes/github-docs-dotcom-pt-records.json.br
  lib/search/indexes/github-docs-dotcom-pt.json.br
  lib/search/indexes/github-docs-ghae-cn-records.json.br
  lib/search/indexes/github-docs-ghae-cn.json.br
  lib/search/indexes/github-docs-ghae-de-records.json.br
  lib/search/indexes/github-docs-ghae-de.json.br
  lib/search/indexes/github-docs-ghae-en-records.json.br
  lib/search/indexes/github-docs-ghae-en.json.br
  lib/search/indexes/github-docs-ghae-es-records.json.br
  lib/search/indexes/github-docs-ghae-es.json.br
  lib/search/indexes/github-docs-ghae-ja-records.json.br
  lib/search/indexes/github-docs-ghae-ja.json.br
  lib/search/indexes/github-docs-ghae-pt-records.json.br
  lib/search/indexes/github-docs-ghae-pt.json.br
Labels: triage, autoupdate, automated-reposync-pr

#9447 Fix typo in managing-complex-workflows.md
  content/actions/learn-github-actions/managing-complex-workflows.md
Labels: content, ready to merge

#9245 Fix accuracy of short title on "Migrating OAuth Apps to GitHub Apps" article
  content/developers/apps/getting-started-with-apps/migrating-oauth-apps-to-github-apps.md
Labels: content, ready to merge

#9277 - adds a comment to prompt people to verify settings are enabled in v…
  content/codespaces/managing-your-codespaces/managing-gpg-verification-for-codespaces.md
Labels: content, waiting for review

#9487 repo sync
  components/PrintAction.tsx
  components/article/ArticleTitle.tsx
  components/article/PrinterIcon.tsx
  components/release-notes/GHESReleaseNotePatch.tsx
Labels: triage, autoupdate, automated-reposync-pr

#9296 Remove stray periods
  .github/ISSUE_TEMPLATE/improve-existing-docs.yaml
  .github/ISSUE_TEMPLATE/partner-contributed-documentation.yml
Labels: content, ready to merge

#9490 repo sync
  .github/workflows/staging-build-pr.yml
  .github/workflows/staging-deploy-pr.yml
Labels: triage, autoupdate, automated-reposync-pr

#9491 repo sync
  .github/workflows/staging-deploy-pr.yml
Labels: triage, autoupdate, automated-reposync-pr

#9494 repo sync
  lib/search/indexes/github-docs-2.22-cn-records.json.br
  lib/search/indexes/github-docs-2.22-cn.json.br
  lib/search/indexes/github-docs-2.22-de-records.json.br
  lib/search/indexes/github-docs-2.22-de.json.br
  lib/search/indexes/github-docs-2.22-en-records.json.br
  lib/search/indexes/github-docs-2.22-en.json.br
  lib/search/indexes/github-docs-2.22-es-records.json.br
  lib/search/indexes/github-docs-2.22-es.json.br
  lib/search/indexes/github-docs-2.22-ja-records.json.br
  lib/search/indexes/github-docs-2.22-ja.json.br
  lib/search/indexes/github-docs-2.22-pt-records.json.br
  lib/search/indexes/github-docs-2.22-pt.json.br
  lib/search/indexes/github-docs-3.0-cn-records.json.br
  lib/search/indexes/github-docs-3.0-cn.json.br
  lib/search/indexes/github-docs-3.0-de-records.json.br
  lib/search/indexes/github-docs-3.0-de.json.br
  lib/search/indexes/github-docs-3.0-en-records.json.br
  lib/search/indexes/github-docs-3.0-en.json.br
  lib/search/indexes/github-docs-3.0-es-records.json.br
  lib/search/indexes/github-docs-3.0-es.json.br
  lib/search/indexes/github-docs-3.0-ja-records.json.br
  lib/search/indexes/github-docs-3.0-ja.json.br
  lib/search/indexes/github-docs-3.0-pt-records.json.br
  lib/search/indexes/github-docs-3.0-pt.json.br
  lib/search/indexes/github-docs-3.1-cn-records.json.br
  lib/search/indexes/github-docs-3.1-cn.json.br
  lib/search/indexes/github-docs-3.1-de-records.json.br
  lib/search/indexes/github-docs-3.1-de.json.br
  lib/search/indexes/github-docs-3.1-en-records.json.br
  lib/search/indexes/github-docs-3.1-en.json.br
  lib/search/indexes/github-docs-3.1-es-records.json.br
  lib/search/indexes/github-docs-3.1-es.json.br
  lib/search/indexes/github-docs-3.1-ja-records.json.br
  lib/search/indexes/github-docs-3.1-ja.json.br
  lib/search/indexes/github-docs-3.1-pt-records.json.br
  lib/search/indexes/github-docs-3.1-pt.json.br
  lib/search/indexes/github-docs-dotcom-cn-records.json.br
  lib/search/indexes/github-docs-dotcom-cn.json.br
  lib/search/indexes/github-docs-dotcom-de-records.json.br
  lib/search/indexes/github-docs-dotcom-de.json.br
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  lib/search/indexes/github-docs-dotcom-es-records.json.br
  lib/search/indexes/github-docs-dotcom-es.json.br
  lib/search/indexes/github-docs-dotcom-ja-records.json.br
  lib/search/indexes/github-docs-dotcom-ja.json.br
  lib/search/indexes/github-docs-dotcom-pt-records.json.br
  lib/search/indexes/github-docs-dotcom-pt.json.br
  lib/search/indexes/github-docs-ghae-cn-records.json.br
  lib/search/indexes/github-docs-ghae-cn.json.br
  lib/search/indexes/github-docs-ghae-de-records.json.br
  lib/search/indexes/github-docs-ghae-de.json.br
  lib/search/indexes/github-docs-ghae-en-records.json.br
  lib/search/indexes/github-docs-ghae-en.json.br
  lib/search/indexes/github-docs-ghae-es-records.json.br
  lib/search/indexes/github-docs-ghae-es.json.br
  lib/search/indexes/github-docs-ghae-ja-records.json.br
  lib/search/indexes/github-docs-ghae-ja.json.br
  lib/search/indexes/github-docs-ghae-pt-records.json.br
  lib/search/indexes/github-docs-ghae-pt.json.br
Labels: triage, autoupdate, automated-reposync-pr

#9497 repo sync
  package-lock.json
  package.json
Labels: triage, autoupdate, automated-reposync-pr

#9469 Use current version of fetch-metadata action
  content/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/automating-dependabot-with-github-actions.md
Labels: content, waiting for review

#9504 repo sync
  lib/search/indexes/github-docs-2.22-cn-records.json.br
  lib/search/indexes/github-docs-2.22-cn.json.br
  lib/search/indexes/github-docs-2.22-de-records.json.br
  lib/search/indexes/github-docs-2.22-de.json.br
  lib/search/indexes/github-docs-2.22-en-records.json.br
  lib/search/indexes/github-docs-2.22-en.json.br
  lib/search/indexes/github-docs-2.22-es-records.json.br
  lib/search/indexes/github-docs-2.22-es.json.br
  lib/search/indexes/github-docs-2.22-ja-records.json.br
  lib/search/indexes/github-docs-2.22-ja.json.br
  lib/search/indexes/github-docs-2.22-pt-records.json.br
  lib/search/indexes/github-docs-2.22-pt.json.br
  lib/search/indexes/github-docs-3.0-cn-records.json.br
  lib/search/indexes/github-docs-3.0-cn.json.br
  lib/search/indexes/github-docs-3.0-de-records.json.br
  lib/search/indexes/github-docs-3.0-de.json.br
  lib/search/indexes/github-docs-3.0-en-records.json.br
  lib/search/indexes/github-docs-3.0-en.json.br
  lib/search/indexes/github-docs-3.0-es-records.json.br
  lib/search/indexes/github-docs-3.0-es.json.br
  lib/search/indexes/github-docs-3.0-ja-records.json.br
  lib/search/indexes/github-docs-3.0-ja.json.br
  lib/search/indexes/github-docs-3.0-pt-records.json.br
  lib/search/indexes/github-docs-3.0-pt.json.br
  lib/search/indexes/github-docs-3.1-cn-records.json.br
  lib/search/indexes/github-docs-3.1-cn.json.br
  lib/search/indexes/github-docs-3.1-de-records.json.br
  lib/search/indexes/github-docs-3.1-de.json.br
  lib/search/indexes/github-docs-3.1-en-records.json.br
  lib/search/indexes/github-docs-3.1-en.json.br
  lib/search/indexes/github-docs-3.1-es-records.json.br
  lib/search/indexes/github-docs-3.1-es.json.br
  lib/search/indexes/github-docs-3.1-ja-records.json.br
  lib/search/indexes/github-docs-3.1-ja.json.br
  lib/search/indexes/github-docs-3.1-pt-records.json.br
  lib/search/indexes/github-docs-3.1-pt.json.br
  lib/search/indexes/github-docs-dotcom-cn-records.json.br
  lib/search/indexes/github-docs-dotcom-cn.json.br
  lib/search/indexes/github-docs-dotcom-de-records.json.br
  lib/search/indexes/github-docs-dotcom-de.json.br
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  lib/search/indexes/github-docs-dotcom-es-records.json.br
  lib/search/indexes/github-docs-dotcom-es.json.br
  lib/search/indexes/github-docs-dotcom-ja-records.json.br
  lib/search/indexes/github-docs-dotcom-ja.json.br
  lib/search/indexes/github-docs-dotcom-pt-records.json.br
  lib/search/indexes/github-docs-dotcom-pt.json.br
  lib/search/indexes/github-docs-ghae-cn-records.json.br
  lib/search/indexes/github-docs-ghae-cn.json.br
  lib/search/indexes/github-docs-ghae-de-records.json.br
  lib/search/indexes/github-docs-ghae-de.json.br
  lib/search/indexes/github-docs-ghae-en-records.json.br
  lib/search/indexes/github-docs-ghae-en.json.br
  lib/search/indexes/github-docs-ghae-es-records.json.br
  lib/search/indexes/github-docs-ghae-es.json.br
  lib/search/indexes/github-docs-ghae-ja-records.json.br
  lib/search/indexes/github-docs-ghae-ja.json.br
  lib/search/indexes/github-docs-ghae-pt-records.json.br
  lib/search/indexes/github-docs-ghae-pt.json.br
Labels: triage, autoupdate, automated-reposync-pr

#9481 a discussion -> an issue
  content/discussions/guides/best-practices-for-community-conversations-on-github.md
Labels: content, ready to merge

#9508 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-with-codeql.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  data/reusables/code-scanning/beta-codeql-packs-actions.md
  data/reusables/code-scanning/beta-codeql-packs-cli.md
Labels: triage, autoupdate, automated-reposync-pr

#9510 repo sync
  assets/images/help/billing/lfs-data.png
  content/github/managing-large-files/versioning-large-files/about-storage-and-bandwidth-usage.md
  data/reusables/dotcom_billing/lfs-data.md
Labels: triage, autoupdate, automated-reposync-pr

#9474 Add a note that help readers avoid problems of can not do 'git push'
  content/github/authenticating-to-github/keeping-your-account-and-data-secure/removing-sensitive-data-from-a-repository.md
Labels: content, waiting for review

#9515 repo sync
  data/reusables/codespaces/codespaces-trial-period.md
Labels: triage, autoupdate, automated-reposync-pr

#9518 repo sync
  content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
  content/billing/managing-billing-for-github-packages/about-billing-for-github-packages.md
  content/developers/github-marketplace/selling-your-app-on-github-marketplace/receiving-payment-for-app-purchases.md
  content/sponsors/receiving-sponsorships-through-github-sponsors/tax-information-for-github-sponsors.md
  data/reusables/github-actions/actions-spending-limit-brief.md
  data/reusables/github-actions/actions-spending-limit-detailed.md
  data/reusables/package_registry/packages-spending-limit-brief.md
  data/reusables/package_registry/packages-spending-limit-detailed.md
Labels: triage, autoupdate, automated-reposync-pr

#9524 repo sync
  lib/search/indexes/github-docs-2.22-cn-records.json.br
  lib/search/indexes/github-docs-2.22-cn.json.br
  lib/search/indexes/github-docs-2.22-de-records.json.br
  lib/search/indexes/github-docs-2.22-de.json.br
  lib/search/indexes/github-docs-2.22-en-records.json.br
  lib/search/indexes/github-docs-2.22-en.json.br
  lib/search/indexes/github-docs-2.22-es-records.json.br
  lib/search/indexes/github-docs-2.22-es.json.br
  lib/search/indexes/github-docs-2.22-ja-records.json.br
  lib/search/indexes/github-docs-2.22-ja.json.br
  lib/search/indexes/github-docs-2.22-pt-records.json.br
  lib/search/indexes/github-docs-2.22-pt.json.br
  lib/search/indexes/github-docs-3.0-cn-records.json.br
  lib/search/indexes/github-docs-3.0-cn.json.br
  lib/search/indexes/github-docs-3.0-de-records.json.br
  lib/search/indexes/github-docs-3.0-de.json.br
  lib/search/indexes/github-docs-3.0-en-records.json.br
  lib/search/indexes/github-docs-3.0-en.json.br
  lib/search/indexes/github-docs-3.0-es-records.json.br
  lib/search/indexes/github-docs-3.0-es.json.br
  lib/search/indexes/github-docs-3.0-ja-records.json.br
  lib/search/indexes/github-docs-3.0-ja.json.br
  lib/search/indexes/github-docs-3.0-pt-records.json.br
  lib/search/indexes/github-docs-3.0-pt.json.br
  lib/search/indexes/github-docs-3.1-cn-records.json.br
  lib/search/indexes/github-docs-3.1-cn.json.br
  lib/search/indexes/github-docs-3.1-de-records.json.br
  lib/search/indexes/github-docs-3.1-de.json.br
  lib/search/indexes/github-docs-3.1-en-records.json.br
  lib/search/indexes/github-docs-3.1-en.json.br
  lib/search/indexes/github-docs-3.1-es-records.json.br
  lib/search/indexes/github-docs-3.1-es.json.br
  lib/search/indexes/github-docs-3.1-ja-records.json.br
  lib/search/indexes/github-docs-3.1-ja.json.br
  lib/search/indexes/github-docs-3.1-pt-records.json.br
  lib/search/indexes/github-docs-3.1-pt.json.br
  lib/search/indexes/github-docs-dotcom-cn-records.json.br
  lib/search/indexes/github-docs-dotcom-cn.json.br
  lib/search/indexes/github-docs-dotcom-de-records.json.br
  lib/search/indexes/github-docs-dotcom-de.json.br
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  lib/search/indexes/github-docs-dotcom-es-records.json.br
  lib/search/indexes/github-docs-dotcom-es.json.br
  lib/search/indexes/github-docs-dotcom-ja-records.json.br
  lib/search/indexes/github-docs-dotcom-ja.json.br
  lib/search/indexes/github-docs-dotcom-pt-records.json.br
  lib/search/indexes/github-docs-dotcom-pt.json.br
  lib/search/indexes/github-docs-ghae-cn-records.json.br
  lib/search/indexes/github-docs-ghae-cn.json.br
  lib/search/indexes/github-docs-ghae-de-records.json.br
  lib/search/indexes/github-docs-ghae-de.json.br
  lib/search/indexes/github-docs-ghae-en-records.json.br
  lib/search/indexes/github-docs-ghae-en.json.br
  lib/search/indexes/github-docs-ghae-es-records.json.br
  lib/search/indexes/github-docs-ghae-es.json.br
  lib/search/indexes/github-docs-ghae-ja-records.json.br
  lib/search/indexes/github-docs-ghae-ja.json.br
  lib/search/indexes/github-docs-ghae-pt-records.json.br
  lib/search/indexes/github-docs-ghae-pt.json.br
Labels: triage, autoupdate, automated-reposync-pr

#9526 repo sync
  .github/workflows/content-changes-table-comment.yml
Labels: triage, autoupdate, automated-reposync-pr

#9527 repo sync
  .github/workflows/content-changes-table-comment.yml
Labels: triage, autoupdate, automated-reposync-pr

#9307 Update the routing logic based on recent changes
  content/actions/hosting-your-own-runners/using-self-hosted-runners-in-a-workflow.md
Labels: content, waiting for review

#9529 repo sync
  lib/search/indexes/github-docs-2.22-cn-records.json.br
  lib/search/indexes/github-docs-2.22-cn.json.br
  lib/search/indexes/github-docs-2.22-de-records.json.br
  lib/search/indexes/github-docs-2.22-de.json.br
  lib/search/indexes/github-docs-2.22-en-records.json.br
  lib/search/indexes/github-docs-2.22-en.json.br
  lib/search/indexes/github-docs-2.22-es-records.json.br
  lib/search/indexes/github-docs-2.22-es.json.br
  lib/search/indexes/github-docs-2.22-ja-records.json.br
  lib/search/indexes/github-docs-2.22-ja.json.br
  lib/search/indexes/github-docs-2.22-pt-records.json.br
  lib/search/indexes/github-docs-2.22-pt.json.br
  lib/search/indexes/github-docs-3.0-cn-records.json.br
  lib/search/indexes/github-docs-3.0-cn.json.br
  lib/search/indexes/github-docs-3.0-de-records.json.br
  lib/search/indexes/github-docs-3.0-de.json.br
  lib/search/indexes/github-docs-3.0-en-records.json.br
  lib/search/indexes/github-docs-3.0-en.json.br
  lib/search/indexes/github-docs-3.0-es-records.json.br
  lib/search/indexes/github-docs-3.0-es.json.br
  lib/search/indexes/github-docs-3.0-ja-records.json.br
  lib/search/indexes/github-docs-3.0-ja.json.br
  lib/search/indexes/github-docs-3.0-pt-records.json.br
  lib/search/indexes/github-docs-3.0-pt.json.br
  lib/search/indexes/github-docs-3.1-cn-records.json.br
  lib/search/indexes/github-docs-3.1-cn.json.br
  lib/search/indexes/github-docs-3.1-de-records.json.br
  lib/search/indexes/github-docs-3.1-de.json.br
  lib/search/indexes/github-docs-3.1-en-records.json.br
  lib/search/indexes/github-docs-3.1-en.json.br
  lib/search/indexes/github-docs-3.1-es-records.json.br
  lib/search/indexes/github-docs-3.1-es.json.br
  lib/search/indexes/github-docs-3.1-ja-records.json.br
  lib/search/indexes/github-docs-3.1-ja.json.br
  lib/search/indexes/github-docs-3.1-pt-records.json.br
  lib/search/indexes/github-docs-3.1-pt.json.br
  lib/search/indexes/github-docs-dotcom-cn-records.json.br
  lib/search/indexes/github-docs-dotcom-cn.json.br
  lib/search/indexes/github-docs-dotcom-de-records.json.br
  lib/search/indexes/github-docs-dotcom-de.json.br
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  lib/search/indexes/github-docs-dotcom-es-records.json.br
  lib/search/indexes/github-docs-dotcom-es.json.br
  lib/search/indexes/github-docs-dotcom-ja-records.json.br
  lib/search/indexes/github-docs-dotcom-ja.json.br
  lib/search/indexes/github-docs-dotcom-pt-records.json.br
  lib/search/indexes/github-docs-dotcom-pt.json.br
  lib/search/indexes/github-docs-ghae-cn-records.json.br
  lib/search/indexes/github-docs-ghae-cn.json.br
  lib/search/indexes/github-docs-ghae-de-records.json.br
  lib/search/indexes/github-docs-ghae-de.json.br
  lib/search/indexes/github-docs-ghae-en-records.json.br
  lib/search/indexes/github-docs-ghae-en.json.br
  lib/search/indexes/github-docs-ghae-es-records.json.br
  lib/search/indexes/github-docs-ghae-es.json.br
  lib/search/indexes/github-docs-ghae-ja-records.json.br
  lib/search/indexes/github-docs-ghae-ja.json.br
  lib/search/indexes/github-docs-ghae-pt-records.json.br
  lib/search/indexes/github-docs-ghae-pt.json.br
Labels: triage, autoupdate, automated-reposync-pr

#9530 repo sync
  assets/images/help/billing/lfs-data.png
Labels: triage, autoupdate, automated-reposync-pr

#9531 repo sync
  assets/images/help/billing/lfs-data.png
Labels: triage, autoupdate, automated-reposync-pr

#9532 repo sync
  components/page-footer/Survey.tsx
Labels: triage, autoupdate, automated-reposync-pr

#9539 repo sync
  .github/workflows/staging-build-pr-docker.yml
  .github/workflows/staging-deploy-pr-docker.yml
  .github/workflows/workflow-lint.yml
  Dockerfile
  components/Search.module.scss
  components/Search.tsx
  script/deployment/create-app.js
  script/deployment/create-staging-app-name.js
  script/deployment/deploy-to-staging-docker.js
  script/remove-stale-staging-apps.js
  stylesheets/utilities.scss
Labels: triage, autoupdate, automated-reposync-pr

#9542 repo sync
  content/rest/guides/delivering-deployments.md
Labels: triage, autoupdate, automated-reposync-pr

#9543 repo sync
  lib/search/indexes/github-docs-2.22-cn-records.json.br
  lib/search/indexes/github-docs-2.22-cn.json.br
  lib/search/indexes/github-docs-2.22-de-records.json.br
  lib/search/indexes/github-docs-2.22-de.json.br
  lib/search/indexes/github-docs-2.22-en-records.json.br
  lib/search/indexes/github-docs-2.22-en.json.br
  lib/search/indexes/github-docs-2.22-es-records.json.br
  lib/search/indexes/github-docs-2.22-es.json.br
  lib/search/indexes/github-docs-2.22-ja-records.json.br
  lib/search/indexes/github-docs-2.22-ja.json.br
  lib/search/indexes/github-docs-2.22-pt-records.json.br
  lib/search/indexes/github-docs-2.22-pt.json.br
  lib/search/indexes/github-docs-3.0-cn-records.json.br
  lib/search/indexes/github-docs-3.0-cn.json.br
  lib/search/indexes/github-docs-3.0-de-records.json.br
  lib/search/indexes/github-docs-3.0-de.json.br
  lib/search/indexes/github-docs-3.0-en-records.json.br
  lib/search/indexes/github-docs-3.0-en.json.br
  lib/search/indexes/github-docs-3.0-es-records.json.br
  lib/search/indexes/github-docs-3.0-es.json.br
  lib/search/indexes/github-docs-3.0-ja-records.json.br
  lib/search/indexes/github-docs-3.0-ja.json.br
  lib/search/indexes/github-docs-3.0-pt-records.json.br
  lib/search/indexes/github-docs-3.0-pt.json.br
  lib/search/indexes/github-docs-3.1-cn-records.json.br
  lib/search/indexes/github-docs-3.1-cn.json.br
  lib/search/indexes/github-docs-3.1-de-records.json.br
  lib/search/indexes/github-docs-3.1-de.json.br
  lib/search/indexes/github-docs-3.1-en-records.json.br
  lib/search/indexes/github-docs-3.1-en.json.br
  lib/search/indexes/github-docs-3.1-es-records.json.br
  lib/search/indexes/github-docs-3.1-es.json.br
  lib/search/indexes/github-docs-3.1-ja-records.json.br
  lib/search/indexes/github-docs-3.1-ja.json.br
  lib/search/indexes/github-docs-3.1-pt-records.json.br
  lib/search/indexes/github-docs-3.1-pt.json.br
  lib/search/indexes/github-docs-dotcom-cn-records.json.br
  lib/search/indexes/github-docs-dotcom-cn.json.br
  lib/search/indexes/github-docs-dotcom-de-records.json.br
  lib/search/indexes/github-docs-dotcom-de.json.br
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  lib/search/indexes/github-docs-dotcom-es-records.json.br
  lib/search/indexes/github-docs-dotcom-es.json.br
  lib/search/indexes/github-docs-dotcom-ja-records.json.br
  lib/search/indexes/github-docs-dotcom-ja.json.br
  lib/search/indexes/github-docs-dotcom-pt-records.json.br
  lib/search/indexes/github-docs-dotcom-pt.json.br
  lib/search/indexes/github-docs-ghae-cn-records.json.br
  lib/search/indexes/github-docs-ghae-cn.json.br
  lib/search/indexes/github-docs-ghae-de-records.json.br
  lib/search/indexes/github-docs-ghae-de.json.br
  lib/search/indexes/github-docs-ghae-en-records.json.br
  lib/search/indexes/github-docs-ghae-en.json.br
  lib/search/indexes/github-docs-ghae-es-records.json.br
  lib/search/indexes/github-docs-ghae-es.json.br
  lib/search/indexes/github-docs-ghae-ja-records.json.br
  lib/search/indexes/github-docs-ghae-ja.json.br
  lib/search/indexes/github-docs-ghae-pt-records.json.br
  lib/search/indexes/github-docs-ghae-pt.json.br
Labels: triage, autoupdate, automated-reposync-pr

#9545 repo sync
  .github/workflows/staging-deploy-pr.yml
Labels: triage, autoupdate, automated-reposync-pr

#9546 repo sync
  .github/workflows/staging-build-pr-docker.yml
Labels: triage, autoupdate, automated-reposync-pr

#9548 repo sync
  .github/workflows/staging-build-pr-docker.yml
Labels: triage, autoupdate, automated-reposync-pr

#9549 repo sync
  .github/workflows/staging-deploy-pr.yml
  script/deploy.js
Labels: triage, autoupdate, automated-reposync-pr

#9550 repo sync
  .github/workflows/staging-deploy-pr-docker.yml
  .github/workflows/staging-deploy-pr.yml
Labels: triage, autoupdate, automated-reposync-pr

#9551 repo sync
  .github/workflows/staging-build-pr-docker.yml
  .github/workflows/staging-deploy-pr-docker.yml
Labels: triage, autoupdate, automated-reposync-pr

#9621 Update SSH key capitalization
  content/github/authenticating-to-github/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, ready to merge

#9872 repo sync
  .github/workflows/staging-deploy-pr-docker.yml
  content/github/searching-for-information-on-github/searching-on-github/searching-for-repositories.md
  content/github/searching-for-information-on-github/searching-on-github/searching-users.md
  content/sponsors/getting-started-with-github-sponsors/about-github-sponsors.md
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: triage, autoupdate, automated-reposync-pr

#9875 repo sync
  content/admin/configuration/configuring-your-enterprise/configuring-backups-on-your-appliance.md
Labels: triage, autoupdate, automated-reposync-pr

#9876 repo sync
  .github/workflows/close-on-invalid-label.yaml
Labels: triage, autoupdate, automated-reposync-pr

#9879 repo sync
  content/actions/reference/events-that-trigger-workflows.md
Labels: triage, autoupdate, automated-reposync-pr

#9880 repo sync
  .github/workflows/check-all-english-links.yml
  content/developers/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps.md
  content/developers/apps/building-oauth-apps/authorizing-oauth-apps.md
Labels: triage, autoupdate, automated-reposync-pr

#9882 repo sync
  lib/search/indexes/github-docs-2.22-cn-records.json.br
  lib/search/indexes/github-docs-2.22-cn.json.br
  lib/search/indexes/github-docs-2.22-de-records.json.br
  lib/search/indexes/github-docs-2.22-de.json.br
  lib/search/indexes/github-docs-2.22-en-records.json.br
  lib/search/indexes/github-docs-2.22-en.json.br
  lib/search/indexes/github-docs-2.22-es-records.json.br
  lib/search/indexes/github-docs-2.22-es.json.br
  lib/search/indexes/github-docs-2.22-ja-records.json.br
  lib/search/indexes/github-docs-2.22-ja.json.br
  lib/search/indexes/github-docs-2.22-pt-records.json.br
  lib/search/indexes/github-docs-2.22-pt.json.br
  lib/search/indexes/github-docs-3.0-cn-records.json.br
  lib/search/indexes/github-docs-3.0-cn.json.br
  lib/search/indexes/github-docs-3.0-de-records.json.br
  lib/search/indexes/github-docs-3.0-de.json.br
  lib/search/indexes/github-docs-3.0-en-records.json.br
  lib/search/indexes/github-docs-3.0-en.json.br
  lib/search/indexes/github-docs-3.0-es-records.json.br
  lib/search/indexes/github-docs-3.0-es.json.br
  lib/search/indexes/github-docs-3.0-ja-records.json.br
  lib/search/indexes/github-docs-3.0-ja.json.br
  lib/search/indexes/github-docs-3.0-pt-records.json.br
  lib/search/indexes/github-docs-3.0-pt.json.br
  lib/search/indexes/github-docs-3.1-cn-records.json.br
  lib/search/indexes/github-docs-3.1-cn.json.br
  lib/search/indexes/github-docs-3.1-de-records.json.br
  lib/search/indexes/github-docs-3.1-de.json.br
  lib/search/indexes/github-docs-3.1-en-records.json.br
  lib/search/indexes/github-docs-3.1-en.json.br
  lib/search/indexes/github-docs-3.1-es-records.json.br
  lib/search/indexes/github-docs-3.1-es.json.br
  lib/search/indexes/github-docs-3.1-ja-records.json.br
  lib/search/indexes/github-docs-3.1-ja.json.br
  lib/search/indexes/github-docs-3.1-pt-records.json.br
  lib/search/indexes/github-docs-3.1-pt.json.br
  lib/search/indexes/github-docs-dotcom-cn-records.json.br
  lib/search/indexes/github-docs-dotcom-cn.json.br
  lib/search/indexes/github-docs-dotcom-de-records.json.br
  lib/search/indexes/github-docs-dotcom-de.json.br
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  lib/search/indexes/github-docs-dotcom-es-records.json.br
  lib/search/indexes/github-docs-dotcom-es.json.br
  lib/search/indexes/github-docs-dotcom-ja-records.json.br
  lib/search/indexes/github-docs-dotcom-ja.json.br
  lib/search/indexes/github-docs-dotcom-pt-records.json.br
  lib/search/indexes/github-docs-dotcom-pt.json.br
  lib/search/indexes/github-docs-ghae-cn-records.json.br
  lib/search/indexes/github-docs-ghae-cn.json.br
  lib/search/indexes/github-docs-ghae-de-records.json.br
  lib/search/indexes/github-docs-ghae-de.json.br
  lib/search/indexes/github-docs-ghae-en-records.json.br
  lib/search/indexes/github-docs-ghae-en.json.br
  lib/search/indexes/github-docs-ghae-es-records.json.br
  lib/search/indexes/github-docs-ghae-es.json.br
  lib/search/indexes/github-docs-ghae-ja-records.json.br
  lib/search/indexes/github-docs-ghae-ja.json.br
  lib/search/indexes/github-docs-ghae-pt-records.json.br
  lib/search/indexes/github-docs-ghae-pt.json.br
Labels: triage, autoupdate, automated-reposync-pr

#9883 repo sync
  .github/workflows/staging-deploy-pr-docker.yml
Labels: triage, autoupdate, automated-reposync-pr

#9886 repo sync
  .github/workflows/staging-deploy-pr-docker.yml
Labels: triage, autoupdate, automated-reposync-pr

#9888 repo sync
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
Labels: triage, autoupdate, automated-reposync-pr

#9893 repo sync
  data/release-notes/enterprise-server/2-22/21.yml
  data/release-notes/enterprise-server/3-0/15.yml
  data/release-notes/enterprise-server/3-1/7.yml
Labels: triage, autoupdate, automated-reposync-pr

#9904 repo sync
  lib/search/indexes/github-docs-2.22-cn-records.json.br
  lib/search/indexes/github-docs-2.22-cn.json.br
  lib/search/indexes/github-docs-2.22-de-records.json.br
  lib/search/indexes/github-docs-2.22-de.json.br
  lib/search/indexes/github-docs-2.22-en-records.json.br
  lib/search/indexes/github-docs-2.22-en.json.br
  lib/search/indexes/github-docs-2.22-es-records.json.br
  lib/search/indexes/github-docs-2.22-es.json.br
  lib/search/indexes/github-docs-2.22-ja-records.json.br
  lib/search/indexes/github-docs-2.22-ja.json.br
  lib/search/indexes/github-docs-2.22-pt-records.json.br
  lib/search/indexes/github-docs-2.22-pt.json.br
  lib/search/indexes/github-docs-3.0-cn-records.json.br
  lib/search/indexes/github-docs-3.0-cn.json.br
  lib/search/indexes/github-docs-3.0-de-records.json.br
  lib/search/indexes/github-docs-3.0-de.json.br
  lib/search/indexes/github-docs-3.0-en-records.json.br
  lib/search/indexes/github-docs-3.0-en.json.br
  lib/search/indexes/github-docs-3.0-es-records.json.br
  lib/search/indexes/github-docs-3.0-es.json.br
  lib/search/indexes/github-docs-3.0-ja-records.json.br
  lib/search/indexes/github-docs-3.0-ja.json.br
  lib/search/indexes/github-docs-3.0-pt-records.json.br
  lib/search/indexes/github-docs-3.0-pt.json.br
  lib/search/indexes/github-docs-3.1-cn-records.json.br
  lib/search/indexes/github-docs-3.1-cn.json.br
  lib/search/indexes/github-docs-3.1-de-records.json.br
  lib/search/indexes/github-docs-3.1-de.json.br
  lib/search/indexes/github-docs-3.1-en-records.json.br
  lib/search/indexes/github-docs-3.1-en.json.br
  lib/search/indexes/github-docs-3.1-es-records.json.br
  lib/search/indexes/github-docs-3.1-es.json.br
  lib/search/indexes/github-docs-3.1-ja-records.json.br
  lib/search/indexes/github-docs-3.1-ja.json.br
  lib/search/indexes/github-docs-3.1-pt-records.json.br
  lib/search/indexes/github-docs-3.1-pt.json.br
  lib/search/indexes/github-docs-dotcom-cn-records.json.br
  lib/search/indexes/github-docs-dotcom-cn.json.br
  lib/search/indexes/github-docs-dotcom-de-records.json.br
  lib/search/indexes/github-docs-dotcom-de.json.br
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  lib/search/indexes/github-docs-dotcom-es-records.json.br
  lib/search/indexes/github-docs-dotcom-es.json.br
  lib/search/indexes/github-docs-dotcom-ja-records.json.br
  lib/search/indexes/github-docs-dotcom-ja.json.br
  lib/search/indexes/github-docs-dotcom-pt-records.json.br
  lib/search/indexes/github-docs-dotcom-pt.json.br
  lib/search/indexes/github-docs-ghae-cn-records.json.br
  lib/search/indexes/github-docs-ghae-cn.json.br
  lib/search/indexes/github-docs-ghae-de-records.json.br
  lib/search/indexes/github-docs-ghae-de.json.br
  lib/search/indexes/github-docs-ghae-en-records.json.br
  lib/search/indexes/github-docs-ghae-en.json.br
  lib/search/indexes/github-docs-ghae-es-records.json.br
  lib/search/indexes/github-docs-ghae-es.json.br
  lib/search/indexes/github-docs-ghae-ja-records.json.br
  lib/search/indexes/github-docs-ghae-ja.json.br
  lib/search/indexes/github-docs-ghae-pt-records.json.br
  lib/search/indexes/github-docs-ghae-pt.json.br
Labels: triage, autoupdate, automated-reposync-pr

#9907 repo sync
  .github/workflows/sync-search-indices.yml
Labels: triage, autoupdate, automated-reposync-pr

#9911 repo sync
  .github/workflows/sync-search-indices.yml
Labels: triage, autoupdate, automated-reposync-pr

#9925 repo sync
  content/issues/trying-out-the-new-projects-experience/customizing-your-project-views.md
  script/rest/utils/create-code-samples.js
Labels: triage, autoupdate, automated-reposync-pr

#9477 Document behavior in case of suspension by owner.
  content/developers/apps/managing-github-apps/suspending-a-github-app-installation.md
Labels: content, waiting for review

#9926 repo sync
  content/rest/reference/repos.md
Labels: triage, autoupdate, automated-reposync-pr

#9480 Add tip to Authorizing OAuth Apps about revoking app for SAML SSO issues
  content/github/authenticating-to-github/keeping-your-account-and-data-secure/authorizing-oauth-apps.md
Labels: content, waiting for review

#9927 repo sync
  .github/workflows/docs-review-collect.yml
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-access-to-your-personal-repositories/inviting-collaborators-to-a-personal-repository.md
  content/admin/user-management/managing-users-in-your-enterprise/customizing-user-messages-for-your-enterprise.md
  content/billing/managing-billing-for-github-advanced-security/viewing-your-github-advanced-security-usage.md
  content/code-security/security-advisories/editing-a-security-advisory.md
  content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-dotnet-project-for-codespaces.md
  content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-java-project-for-codespaces.md
  content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-nodejs-project-for-codespaces.md
  content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-python-project-for-codespaces.md
  content/discussions/managing-discussions-for-your-community/managing-discussions-in-your-repository.md
  content/github/administering-a-repository/managing-branches-in-your-repository/changing-the-default-branch.md
  content/github/setting-up-and-managing-your-enterprise/managing-users-in-your-enterprise/managing-support-entitlements-for-your-enterprise.md
  content/github/writing-on-github/working-with-saved-replies/creating-a-saved-reply.md
  content/organizations/keeping-your-organization-secure/managing-security-and-analysis-settings-for-your-organization.md
Labels: triage, autoupdate, automated-reposync-pr

#9930 repo sync
  .github/workflows/staging-deploy-pr-docker.yml
Labels: triage, autoupdate, automated-reposync-pr

#9933 repo sync
  content/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: triage, autoupdate, automated-reposync-pr

#9934 repo sync
  .github/workflows/staging-deploy-pr.yml
  script/deployment/deploy-to-staging.js
Labels: triage, autoupdate, automated-reposync-pr

#9935 repo sync
  lib/webhooks/README.md
  lib/webhooks/index.js
  tests/rendering/webhooks.js
Labels: triage, autoupdate, automated-reposync-pr

#9941 repo sync
  content/github/site-policy/github-community-forum-code-of-conduct.md
Labels: triage, autoupdate, automated-reposync-pr

#9942 repo sync
  content/admin/overview/system-overview.md
Labels: triage, autoupdate, automated-reposync-pr

#9943 repo sync
  content/developers/apps/building-oauth-apps/authorizing-oauth-apps.md
  content/github/authenticating-to-github/keeping-your-account-and-data-secure/creating-a-personal-access-token.md
  content/github/authenticating-to-github/keeping-your-account-and-data-secure/index.md
  content/github/authenticating-to-github/keeping-your-account-and-data-secure/reviewing-your-security-log.md
  content/github/authenticating-to-github/keeping-your-account-and-data-secure/token-expiration-and-revocation.md
  content/rest/overview/troubleshooting.md
  data/reusables/apps/oauth-token-limit.md
Labels: triage, autoupdate, automated-reposync-pr

#9870 Bump macOS support from El Capitan to Sierra
  data/variables/desktop.yml
Labels: content, ready to merge, desktop

#9946 repo sync
  content/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/duplicating-a-repository.md
Labels: triage, autoupdate, automated-reposync-pr

#9947 repo sync
  .github/workflows/close-on-invalid-label.yaml
Labels: triage, autoupdate, automated-reposync-pr

#9913 Update SSH key capitalization
  content/github/authenticating-to-github/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, ready to merge

#9387 Update self-hosted-runner-labels-runs-on.md
  data/reusables/github-actions/self-hosted-runner-labels-runs-on.md
Labels: content, ready to merge

#9948 repo sync
  content/developers/overview/secret-scanning-partner-program.md
Labels: triage, autoupdate, automated-reposync-pr

#9311 Update "Restrictions for accessing a cache" - make clear that cache entries are shared between workflows
  content/actions/guides/caching-dependencies-to-speed-up-workflows.md
Labels: content, actions, ready to merge

#9950 repo sync
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
Labels: triage, autoupdate, automated-reposync-pr

#9952 repo sync
  content/billing/managing-billing-for-github-actions/managing-your-spending-limit-for-github-actions.md
  content/billing/managing-billing-for-github-codespaces/managing-spending-limits-for-codespaces.md
  content/billing/managing-billing-for-github-packages/managing-your-spending-limit-for-github-packages.md
  data/reusables/billing/email-notifications.md
Labels: triage, autoupdate, automated-reposync-pr

#9427 Updating Bulk Enablement for non-Powershell Example
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/setting-up-code-scanning-for-a-repository.md
Labels: content, waiting for review

#9937 Adding double quotes to Ruby script
  content/developers/apps/building-github-apps/authenticating-with-github-apps.md
Labels: content, waiting for review

#9300 Update removing-a-member-from-your-organization.md
  content/organizations/managing-membership-in-your-organization/removing-a-member-from-your-organization.md
Labels: content, waiting for review

#9954 repo sync
  .github/workflows/remove-stale-staging-apps.yml
  .github/workflows/remove-stale-staging-resources.yml
  script/deployment/deploy-to-staging-docker.js
  script/deployment/deploy-to-staging.js
  script/deployment/undeploy-from-staging.js
  script/remove-stale-staging-envs.js
Labels: triage, autoupdate, automated-reposync-pr

#9389 Suggestion to simplify public key copying
  content/github/authenticating-to-github/connecting-to-github-with-ssh/adding-a-new-ssh-key-to-your-github-account.md
Labels: content, waiting for review

#9956 repo sync
  data/release-notes/enterprise-server/3-1/1.yml
  data/release-notes/enterprise-server/3-1/2.yml
  data/release-notes/enterprise-server/3-1/3.yml
  data/release-notes/enterprise-server/3-1/4.yml
  data/release-notes/enterprise-server/3-1/5.yml
  data/release-notes/enterprise-server/3-1/6.yml
  data/release-notes/enterprise-server/3-1/7.yml
Labels: triage, autoupdate, automated-reposync-pr

#9932 Fix rendering of titles on index pages that contain apostrophes
  components/context/TocLandingContext.tsx
Labels: triage

#9537 Document installing extensions using full repo URL
  content/github-cli/github-cli/using-github-cli-extensions.md
Labels: content, waiting for review

#9957 repo sync
  .github/actions-scripts/enterprise-server-issue-templates/deprecation-issue.md
  .github/actions-scripts/enterprise-server-issue-templates/release-issue.md
  .github/actions-scripts/projects.js
Labels: triage, autoupdate, automated-reposync-pr

#9963 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
Labels: triage, autoupdate, automated-reposync-pr

#9965 repo sync
  .github/workflows/staging-build-pr-docker.yml
  .github/workflows/staging-build-pr.yml
  .github/workflows/staging-deploy-pr-docker.yml
  .github/workflows/staging-deploy-pr.yml
  .github/workflows/staging-undeploy-pr.yml
  script/deployment/deploy-to-staging-docker.js
  script/deployment/deploy-to-staging.js
Labels: triage, autoupdate, automated-reposync-pr

#9966 repo sync
  .github/workflows/staging-deploy-pr-docker.yml
  .github/workflows/staging-deploy-pr.yml
Labels: triage, autoupdate, automated-reposync-pr

#9970 repo sync
  script/remove-stale-staging-envs.js
Labels: triage, autoupdate, automated-reposync-pr

#9971 repo sync
  .github/workflows/remove-stale-staging-resources.yml
Labels: triage, autoupdate, automated-reposync-pr

#9972 repo sync
  .github/workflows/staging-deploy-pr-docker.yml
  script/deployment/create-app.js
  script/remove-stale-staging-envs.js
Labels: triage, autoupdate, automated-reposync-pr

#9903 Fix sponsors link
  data/reusables/sponsors/stripe-supported-regions.md
Labels: content, ready to merge

#9909 Update C# support for code navigation
  data/reusables/supported-languages/Cs.md
Labels: content, ready to merge

#10008 repo sync
  content/developers/apps/building-oauth-apps/authorizing-oauth-apps.md
  content/developers/apps/getting-started-with-apps/about-apps.md
  content/github/authenticating-to-github/keeping-your-account-and-data-secure/creating-a-personal-access-token.md
  content/github/authenticating-to-github/keeping-your-account-and-data-secure/reviewing-your-security-log.md
  content/github/authenticating-to-github/keeping-your-account-and-data-secure/token-expiration-and-revocation.md
  data/release-notes/enterprise-server/3-2/0-rc1.yml
Labels: triage, autoupdate, automated-reposync-pr

#10012 repo sync
  assets/images/enterprise/management-console/lets-encrypt-status.png
  content/admin/configuration/configuring-network-settings/configuring-tls.md
Labels: triage, autoupdate, automated-reposync-pr

#10019 repo sync
  content/github/authenticating-to-github/keeping-your-account-and-data-secure/token-expiration-and-revocation.md
Labels: triage, autoupdate, automated-reposync-pr

#10013 Fix typo
  content/codespaces/troubleshooting/troubleshooting-your-connection-to-codespaces.md
Labels: content, ready to merge

#10022 repo sync
  assets/images/help/codespaces/export-changes-to-a-branch.png
  content/billing/managing-billing-for-github-codespaces/about-billing-for-codespaces.md
  content/billing/managing-billing-for-github-codespaces/managing-spending-limits-for-codespaces.md
  content/codespaces/codespaces-reference/understanding-billing-for-codespaces.md
  content/codespaces/troubleshooting/exporting-changes-to-a-branch.md
  content/codespaces/troubleshooting/index.md
  data/reusables/codespaces/exporting-changes.md
Labels: triage, autoupdate, automated-reposync-pr

#10023 repo sync
  content/actions/guides/deploying-to-azure-app-service.md
  content/actions/guides/deploying-to-google-kubernetes-engine.md
  content/actions/learn-github-actions/migrating-from-jenkins-to-github-actions.md
Labels: triage, autoupdate, automated-reposync-pr

#10024 repo sync
  .github/actions-scripts/enterprise-server-issue-templates/release-issue.md
  .github/workflows/docs-review-collect.yml
  .github/workflows/sync-search-indices.yml
  contributing/search.md
  script/sync-search-indices.js
Labels: triage, autoupdate, automated-reposync-pr

#10027 repo sync
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
Labels: triage, autoupdate, automated-reposync-pr

#10029 repo sync
  lib/render-content/plugins/use-english-headings.js
  lib/render-content/renderContent.js
  lib/use-english-headings.js
  package-lock.json
  package.json
  script/deploy.js
  script/graphql/build-changelog.js
  script/reconcile-category-dirs-with-ids.js
  script/reconcile-filenames-with-ids.js
  tests/content/category-pages.js
  tests/unit/pages.js
Labels: triage, autoupdate, automated-reposync-pr

#10032 repo sync
  assets/images/help/repository/secret-scanning-confirm-deletion-custom-pattern.png
  assets/images/help/repository/secret-scanning-create-custom-pattern.png
  assets/images/help/repository/secret-scanning-remove-custom-pattern.png
  content/admin/enterprise-management/configuring-clustering/upgrading-a-cluster.md
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  data/reusables/advanced-security/secret-scanning-add-custom-pattern-details.md
  data/reusables/advanced-security/secret-scanning-new-custom-pattern.md
  data/reusables/enterprise-accounts/advanced-security-security-features.md
Labels: triage, autoupdate, automated-reposync-pr

#9533 Quote labels in the issue form example
  data/reusables/community/issue-forms-sample.md
Labels: content, waiting for review

#9902 Fix git filter-repo command arguments in splitting-a-subfolder-out-into-a-new-repository.md
  content/get-started/using-git/splitting-a-subfolder-out-into-a-new-repository.md
Labels: content, waiting for review

#10048 repo sync
  .github/workflows/staging-deploy-pr-docker.yml
Labels: triage, autoupdate, automated-reposync-pr

#10050 repo sync
  .github/workflows/staging-deploy-pr-docker.yml
  .github/workflows/staging-deploy-pr.yml
Labels: triage, autoupdate, automated-reposync-pr

#10051 repo sync
  contributing/content-style-guide.md
Labels: triage, autoupdate, automated-reposync-pr

#10073 repo sync
  data/reusables/github-actions/private-repository-forks-overview.md
Labels: triage, autoupdate, automated-reposync-pr

#10074 repo sync
  .github/workflows/staging-build-pr-docker.yml
  .github/workflows/staging-build-pr.yml
  .github/workflows/staging-undeploy-pr.yml
  content/github/authenticating-to-github/keeping-your-account-and-data-secure/creating-a-personal-access-token.md
  content/packages/working-with-a-github-packages-registry/working-with-the-apache-maven-registry.md
  script/deployment/undeploy-from-staging.js
Labels: triage, autoupdate, automated-reposync-pr

#10076 repo sync
  content/admin/configuration/configuring-your-enterprise/configuring-data-encryption-for-your-enterprise.md
  content/admin/configuration/configuring-your-enterprise/index.md
  content/admin/index.md
  content/admin/overview/about-github-ae.md
Labels: triage, autoupdate, automated-reposync-pr

#10077 repo sync
  .github/workflows/staging-deploy-pr-docker.yml
  .github/workflows/staging-deploy-pr.yml
Labels: triage, autoupdate, automated-reposync-pr

#10080 repo sync
  .github/workflows/staging-deploy-pr-docker.yml
  .github/workflows/staging-deploy-pr.yml
Labels: triage, autoupdate, automated-reposync-pr

#10081 repo sync
  lib/enterprise-server-releases.js
  tests/linting/lint-files.js
Labels: triage, autoupdate, automated-reposync-pr

#10082 repo sync
  .github/workflows/staging-deploy-pr-docker.yml
  .github/workflows/staging-deploy-pr.yml
Labels: triage, autoupdate, automated-reposync-pr

#9874 Actions: Document "notice" workflow command
  content/actions/reference/workflow-commands-for-github-actions.md
Labels: content, actions, waiting for review

#10085 repo sync
  content/github/site-policy/github-terms-for-additional-products-and-features.md
Labels: triage, autoupdate, automated-reposync-pr

#10092 repo sync
  content/admin/configuration/configuring-your-enterprise/site-admin-dashboard.md
Labels: triage, autoupdate, automated-reposync-pr

#10098 repo sync
  content/get-started/using-github/keyboard-shortcuts.md
Labels: triage, autoupdate, automated-reposync-pr

#10100 repo sync
  content/actions/reference/workflow-syntax-for-github-actions.md
  content/admin/configuration/configuring-network-settings/configuring-an-outbound-web-proxy-server.md
  content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/getting-started-with-github-actions-for-github-enterprise-server.md
  content/github/authenticating-to-github/securing-your-account-with-two-factor-authentication-2fa/countries-where-sms-authentication-is-supported.md
  content/repositories/creating-and-managing-repositories/about-repositories.md
  content/repositories/index.md
  content/repositories/releasing-projects-on-github/linking-to-releases.md
  data/reusables/actions/proxy-considerations.md
Labels: triage, autoupdate, automated-reposync-pr

#10103 repo sync
  .github/workflows/staging-deploy-pr.yml
Labels: triage, autoupdate, automated-reposync-pr

#10110 repo sync
  assets/images/help/enterprises/audit-stream-add-azure.png
  assets/images/help/enterprises/audit-stream-add-splunk.png
  assets/images/help/enterprises/audit-stream-check-azure.png
  assets/images/help/enterprises/audit-stream-check-splunk.png
  assets/images/help/enterprises/audit-stream-choice-azure.png
  assets/images/help/enterprises/audit-stream-choice-splunk.png
  assets/images/help/enterprises/audit-stream-delete.png
  assets/images/help/enterprises/audit-stream-pause.png
  assets/images/help/enterprises/azure-connection-string.png
  assets/images/help/enterprises/azure-event-hubs-list.png
  assets/images/help/enterprises/azure-shared-access-policies.png
  content/github/setting-up-and-managing-your-enterprise/managing-organizations-in-your-enterprise-account/index.md
  content/github/setting-up-and-managing-your-enterprise/managing-organizations-in-your-enterprise-account/streaming-the-audit-logs-for-organizations-in-your-enterprise-account.md
Labels: triage, autoupdate, automated-reposync-pr

#10115 repo sync
  content/billing/managing-billing-for-github-codespaces/about-billing-for-codespaces.md
  content/billing/managing-billing-for-github-codespaces/managing-spending-limits-for-codespaces.md
  content/codespaces/codespaces-reference/understanding-billing-for-codespaces.md
  content/codespaces/getting-started/deep-dive.md
  content/codespaces/getting-started/quickstart.md
  content/codespaces/managing-codespaces-for-your-organization/enabling-codespaces-for-your-organization.md
  content/codespaces/managing-codespaces-for-your-organization/managing-billing-for-codespaces-in-your-organization.md
  content/codespaces/overview.md
  content/codespaces/troubleshooting/troubleshooting-creation-and-deletion-of-codespaces.md
  data/reusables/codespaces/codespaces-spending-limit-requirement.md
  data/reusables/codespaces/codespaces-trial-period.md
Labels: triage, autoupdate, automated-reposync-pr

#10116 repo sync
  components/GenericError.tsx
  components/article/ArticlePage.tsx
  components/landing/LandingHero.tsx
  components/landing/TocLanding.tsx
  components/page-footer/Survey.tsx
  components/sublanding/SubLandingHero.tsx
  components/ui/Lead/Lead.module.scss
  components/ui/Lead/Lead.tsx
  components/ui/Lead/index.ts
  pages/404.tsx
  pages/storybook.tsx
Labels: triage, autoupdate, automated-reposync-pr

#10095 Update default schedule time as random
  content/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/configuration-options-for-dependency-updates.md
Labels: content, waiting for review

#10118 repo sync
  components/playground/editor/Editor.tsx
Labels: triage, autoupdate, automated-reposync-pr

#9426 Update workflow-commands-for-github-actions.md
  content/actions/reference/authentication-in-a-workflow.md
  content/actions/reference/workflow-commands-for-github-actions.md
Labels: content, actions, waiting for review

#10128 repo sync
  .github/workflows/close-on-invalid-label.yaml
Labels: triage, autoupdate, automated-reposync-pr

#10135 repo sync
  content/actions/reference/workflow-commands-for-github-actions.md
  data/reusables/actions/message-annotation-explanation.md
  data/reusables/actions/message-parameters.md
Labels: triage, autoupdate, automated-reposync-pr

#10136 repo sync
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
Labels: triage, autoupdate, automated-reposync-pr

#10137 repo sync
  content/code-security/supply-chain-security/managing-vulnerabilities-in-your-projects-dependencies/configuring-notifications-for-vulnerable-dependencies.md
  data/reusables/notifications/vulnerable-dependency-notification-enable.md
  package-lock.json
  package.json
Labels: triage, autoupdate, automated-reposync-pr

#10141 repo sync
  assets/images/bad-screenshot-example.png
  assets/images/good-screenshot-example.png
  assets/images/screenshot-example.png
  contributing/images-and-versioning.md
Labels: triage, autoupdate, automated-reposync-pr

#10142 repo sync
  .github/workflows/staging-deploy-pr.yml
Labels: triage, autoupdate, automated-reposync-pr

#10144 repo sync
  .github/workflows/staging-build-pr-docker.yml
Labels: triage, autoupdate, automated-reposync-pr

#10140 Discussion activity type "opened" should be "created"
  content/actions/reference/events-that-trigger-workflows.md
Labels: triage

#10146 repo sync
  components/DefaultLayout.tsx
  components/context/MainContext.tsx
  components/lib/events.ts
  lib/languages.js
  lib/schema-event.js
  tests/rendering/events.js
Labels: triage, autoupdate, automated-reposync-pr

#10148 repo sync
  components/Link.tsx
  middleware/csp.js
Labels: triage, autoupdate, automated-reposync-pr

#10151 repo sync
  content/communities/index.md
Labels: triage, autoupdate, automated-reposync-pr

#10152 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: triage, autoupdate, automated-reposync-pr

#10153 repo sync
  .github/workflows/staging-build-pr-docker.yml
  .github/workflows/staging-build-pr.yml
  .github/workflows/staging-deploy-pr-docker.yml
  .github/workflows/staging-deploy-pr.yml
  script/early-access/clone-for-build.js
Labels: triage, autoupdate, automated-reposync-pr

#10154 repo sync
  .github/workflows/staging-build-pr-docker.yml
  .github/workflows/staging-deploy-pr-docker.yml
  script/deployment/deploy-to-staging-docker.js
Labels: triage, autoupdate, automated-reposync-pr

#10114 Clarify who can start a discussion on a project
  content/discussions/quickstart.md
Labels: content, waiting for review

#10129 Update project-board-visibility.md
  data/reusables/project-management/project-board-visibility.md
Labels: content, waiting for review

#10214 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/running-codeql-code-scanning-in-a-container.md
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  content/code-security/code-scanning/integrating-with-code-scanning/uploading-a-sarif-file-to-github.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/about-codeql-code-scanning-in-your-ci-system.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-runner-in-your-ci-system.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/index.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/migrating-from-the-codeql-runner-to-codeql-cli.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/running-codeql-runner-in-your-ci-system.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/troubleshooting-codeql-runner-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-code-scanning-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/using-codeql-code-scanning-with-your-existing-ci-system/running-codeql-code-scanning-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/using-codeql-code-scanning-with-your-existing-ci-system/troubleshooting-codeql-code-scanning-in-your-ci-system.md
  data/reusables/code-scanning/beta-codeql-runner.md
  data/reusables/code-scanning/deprecation-codeql-runner.md
  tests/meta/repository-references.js
Labels: triage, autoupdate, automated-reposync-pr

#10215 repo sync
  package-lock.json
  package.json
  tests/meta/repository-references.js
Labels: triage, autoupdate, automated-reposync-pr

#10216 repo sync
  components/ui/MarkdownContent/MarkdownContent.module.scss
  content/rest/reference/pulls.md
  includes/doctocat-link-icon.html
  includes/graphql-enum.html
  includes/graphql-input-object.html
  includes/graphql-interface.html
  includes/graphql-mutation.html
  includes/graphql-object.html
  includes/graphql-query.html
  includes/graphql-scalar.html
  includes/graphql-union.html
  includes/rest_operation.html
  lib/get-mini-toc-items.js
  lib/render-content/create-processor.js
  lib/render-content/doctocat-link-icon.js
  tests/unit/render-content.js
Labels: triage, autoupdate, automated-reposync-pr

#10220 repo sync
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/about-codeql-code-scanning-in-your-ci-system.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
Labels: triage, autoupdate, automated-reposync-pr

#10221 repo sync
  content/repositories/creating-and-managing-repositories/duplicating-a-repository.md
Labels: triage, autoupdate, automated-reposync-pr

#10225 repo sync
  components/context/TocLandingContext.tsx
  components/landing/TocLanding.tsx
Labels: triage, autoupdate, automated-reposync-pr

#10233 repo sync
  CONTRIBUTING.md
  README.md
  assets/images/table-of-contents.png
  content/README.md
  contributing/README.md
  contributing/content-style-guide.md
  contributing/how-to-use-labels.md
  contributing/self-review.md
  contributing/types-of-contributions.md
  contributing/working-in-docs-repository.md
Labels: triage, autoupdate, automated-reposync-pr

#10240 repo sync
  .github/workflows/staging-deploy-pr.yml
Labels: triage, autoupdate, automated-reposync-pr

#10242 repo sync
  .github/workflows/staging-deploy-pr.yml
Labels: triage, autoupdate, automated-reposync-pr

#10243 repo sync
  middleware/learning-track.js
  tests/rendering/learning-tracks.js
Labels: triage, autoupdate, automated-reposync-pr

#10244 repo sync
  .github/workflows/staging-deploy-pr.yml
Labels: triage, autoupdate, automated-reposync-pr

#10245 repo sync
  .github/workflows/staging-deploy-pr.yml
  data/release-notes/enterprise-server/3-0/0.yml
  data/release-notes/enterprise-server/3-0/1.yml
  data/release-notes/enterprise-server/3-0/10.yml
  data/release-notes/enterprise-server/3-0/11.yml
  data/release-notes/enterprise-server/3-0/12.yml
  data/release-notes/enterprise-server/3-0/13.yml
  data/release-notes/enterprise-server/3-0/14.yml
  data/release-notes/enterprise-server/3-0/15.yml
  data/release-notes/enterprise-server/3-0/2.yml
  data/release-notes/enterprise-server/3-0/3.yml
  data/release-notes/enterprise-server/3-0/4.yml
  data/release-notes/enterprise-server/3-0/5.yml
  data/release-notes/enterprise-server/3-0/6.yml
  data/release-notes/enterprise-server/3-0/7.yml
  data/release-notes/enterprise-server/3-0/8.yml
  data/release-notes/enterprise-server/3-0/9.yml
  data/release-notes/enterprise-server/3-1/0.yml
  data/release-notes/enterprise-server/3-1/1.yml
  data/release-notes/enterprise-server/3-1/2.yml
  data/release-notes/enterprise-server/3-1/3.yml
  data/release-notes/enterprise-server/3-1/4.yml
  data/release-notes/enterprise-server/3-1/5.yml
  data/release-notes/enterprise-server/3-1/6.yml
  data/release-notes/enterprise-server/3-1/7.yml
  data/release-notes/enterprise-server/3-2/0-rc1.yml
Labels: triage, autoupdate, automated-reposync-pr

#9538 Provide link to how uptime is managed
  content/codespaces/getting-started/deep-dive.md
  data/reusables/codespaces/codespaces-billing.md
Labels: content, triage, waiting for review
