Repository github/docs, pull requests merged in 2021-04, with the labels that each got.

#4976 repo sync
  content/developers/apps/creating-a-github-app-from-a-manifest.md
  content/developers/apps/creating-a-github-app-using-url-parameters.md
Labels: automated-reposync-pr, automerge, autoupdate, triage

#4955 Update managing-a-custom-domain-for-your-github-pages-site.md
  content/github/working-with-github-pages/managing-a-custom-domain-for-your-github-pages-site.md
Labels: pages, waiting for review

#4956 Update www-and-apex-domain-recommendation.md
  content/github/working-with-github-pages/about-custom-domains-and-github-pages.md
  content/github/working-with-github-pages/managing-a-custom-domain-for-your-github-pages-site.md
  data/reusables/pages/www-and-apex-domain-recommendation.md
Labels: pages, triage, waiting for review

#4957 Update troubleshooting-custom-domains-and-github-pages.md
  content/github/working-with-github-pages/troubleshooting-custom-domains-and-github-pages.md
Labels: pages, waiting for review

#4985 repo sync
  content/admin/github-actions/index.md
  content/admin/github-actions/using-the-latest-version-of-the-official-bundled-actions.md
  data/reusables/github-actions/actions-github-connect-requirement.md
Labels: automated-reposync-pr, automerge, autoupdate, triage

#4419 Clearer instructions
  content/github/writing-on-github/creating-gists.md
Labels: writing on github

#4830 Adding some extra detail around renaming
  content/github/administering-a-repository/renaming-a-branch.md
Labels: administering a repo, waiting for review

#4330 Add PullRequestReviewEvent documentation
  content/developers/webhooks-and-events/github-event-types.md
Labels: staging-upgraded, triage, waiting for review, webhooks

#4987 docs: add missing word in enabling-and-disabling-version-updates.md
  content/code-security/supply-chain-security/enabling-and-disabling-version-updates.md
Labels: ready to merge

#5003 Update link to Linguist troubleshooting documentation
  content/github/creating-cloning-and-archiving-repositories/about-repository-languages.md
Labels: ready to merge, triage

#5016 remove `.git` for example folder
  content/github/creating-cloning-and-archiving-repositories/duplicating-a-repository.md
Labels: core, ready to merge

#4953 Update building-and-testing-net.md
  content/actions/guides/building-and-testing-net.md
Labels: actions, waiting for review

#4945 Actions: Add deprecationMessage metadata syntax field
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
Labels: actions, waiting for review

#5147 Adding a note about broken SAML SSO
  content/github/setting-up-and-managing-organizations-and-teams/renaming-an-organization.md
Labels: triage

#5168 repo sync
  assets/images/help/pages/choose-a-theme.png
  assets/images/help/pages/click-private-pages-url-to-preview.png
  assets/images/help/pages/enforce-https-custom-domains.png
  assets/images/help/pages/pages-tab.png
  assets/images/help/pages/publishing-source-drop-down.png
  assets/images/help/pages/remove-custom-domain.png
  assets/images/help/pages/save-custom-apex-domain.png
  assets/images/help/pages/save-custom-subdomain.png
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/about-custom-domains-and-github-pages.md
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
  content/pages/getting-started-with-github-pages/adding-a-theme-to-your-github-pages-site-with-the-theme-chooser.md
  content/pages/getting-started-with-github-pages/changing-the-visibility-of-your-github-pages-site.md
  content/pages/getting-started-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site.md
  content/pages/getting-started-with-github-pages/creating-a-github-pages-site.md
  content/pages/getting-started-with-github-pages/securing-your-github-pages-site-with-https.md
  content/pages/getting-started-with-github-pages/unpublishing-a-github-pages-site.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/creating-a-github-pages-site-with-jekyll.md
  data/reusables/pages/sidebar-pages.md
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5173 repo sync
  .github/workflows/repo-sync.yml
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5176 repo sync
  content/README.md
  content/actions/index.md
  content/discussions/index.md
  content/education/index.md
  content/packages/index.md
  layouts/product-landing.html
  lib/changelog.js
  lib/frontmatter.js
  middleware/contextualizers/whats-new-changelog.js
  middleware/index.js
  package-lock.json
  package.json
  stylesheets/type.scss
  tests/fixtures/rss-feed.xml
  tests/unit/get-rss-feeds.js
  translations/de-DE/content/actions/index.md
  translations/de-DE/content/discussions/index.md
  translations/de-DE/content/education/index.md
  translations/de-DE/content/packages/index.md
  translations/es-ES/content/actions/index.md
  translations/es-ES/content/discussions/index.md
  translations/es-ES/content/education/index.md
  translations/es-ES/content/packages/index.md
  translations/ja-JP/content/actions/index.md
  translations/ja-JP/content/discussions/index.md
  translations/ja-JP/content/education/index.md
  translations/ja-JP/content/packages/index.md
  translations/ko-KR/content/actions/index.md
  translations/ko-KR/content/discussions/index.md
  translations/ko-KR/content/education/index.md
  translations/ko-KR/content/packages/index.md
  translations/pt-BR/content/actions/index.md
  translations/pt-BR/content/discussions/index.md
  translations/pt-BR/content/education/index.md
  translations/pt-BR/content/packages/index.md
  translations/ru-RU/content/actions/index.md
  translations/ru-RU/content/discussions/index.md
  translations/ru-RU/content/education/index.md
  translations/ru-RU/content/packages/index.md
  translations/zh-CN/content/actions/index.md
  translations/zh-CN/content/discussions/index.md
  translations/zh-CN/content/education/index.md
  translations/zh-CN/content/packages/index.md
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5177 repo sync
  assets/images/help/repository/actions-quickstart-commit-new-file.png
  assets/images/help/repository/actions-quickstart-job.png
  assets/images/help/repository/actions-quickstart-log-detail.png
  assets/images/help/repository/actions-quickstart-logs.png
  assets/images/help/repository/actions-quickstart-run-name.png
  assets/images/help/repository/actions-quickstart-workflow-sidebar.png
  content/actions/quickstart.md
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5179 repo sync
  assets/images/help/billing/confirm-sponsorship-cancellation.png
  assets/images/help/settings/settings-sidebar-billing-plans.png
  assets/images/help/sponsors/add-a-tier-button.png
  assets/images/help/sponsors/enable-custom-amounts.png
  assets/images/help/sponsors/filter-drop-down.png
  assets/images/help/sponsors/pay-prorated-amount-link.png
  assets/images/help/sponsors/publish-tier-button.png
  assets/images/help/sponsors/save-tier-draft.png
  assets/images/help/sponsors/select-a-tier-box.png
  assets/images/help/sponsors/set-default-amount.png
  assets/images/help/sponsors/show-one-time-tiers.png
  assets/images/help/sponsors/sponsor-developer-button.png
  assets/images/help/sponsors/tier-price-description.png
  assets/images/help/sponsors/update-sponsorship-button.png
  assets/images/help/sponsors/updates-checkbox-manage.png
  assets/images/help/sponsors/who-can-see-sponsorship.png
  content/github/authenticating-to-github/reviewing-your-security-log.md
  content/github/setting-up-and-managing-billing-and-payments-on-github/downgrading-a-sponsorship.md
  content/github/setting-up-and-managing-billing-and-payments-on-github/upgrading-a-sponsorship.md
  content/github/supporting-the-open-source-community-with-github-sponsors/about-github-sponsors-for-open-source-contributors.md
  content/github/supporting-the-open-source-community-with-github-sponsors/about-github-sponsors.md
  content/github/supporting-the-open-source-community-with-github-sponsors/contacting-your-sponsors.md
  content/github/supporting-the-open-source-community-with-github-sponsors/index.md
  content/github/supporting-the-open-source-community-with-github-sponsors/managing-your-sponsorship-goal.md
  content/github/supporting-the-open-source-community-with-github-sponsors/managing-your-sponsorship-tiers.md
  content/github/supporting-the-open-source-community-with-github-sponsors/setting-up-github-sponsors-for-your-organization.md
  content/github/supporting-the-open-source-community-with-github-sponsors/setting-up-github-sponsors-for-your-user-account.md
  content/github/supporting-the-open-source-community-with-github-sponsors/sponsoring-an-open-source-contributor.md
  content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
  data/reusables/sponsors/choose-updates.md
  data/reusables/sponsors/click-add-tier.md
  data/reusables/sponsors/enable-custom-amounts.md
  data/reusables/sponsors/feedback.md
  data/reusables/sponsors/pay-prorated-amount.md
  data/reusables/sponsors/prorated-sponsorship.md
  data/reusables/sponsors/review-and-publish-tier.md
  data/reusables/sponsors/review-tiers-to-select.md
  data/reusables/sponsors/select-a-tier.md
  data/reusables/sponsors/sponsorship-details.md
  data/reusables/sponsors/tier-details.md
  data/reusables/user_settings/billing_plans.md
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5183 repo sync
  content/admin/github-actions/manually-syncing-actions-from-githubcom.md
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5100 Fix link and remove /articles
  content/github/authenticating-to-github/creating-a-personal-access-token.md
Labels: core, ready to merge

#5200 repo sync
  content/organizations/managing-peoples-access-to-your-organization-with-roles/maintaining-ownership-continuity-for-your-organization.md
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5201 repo sync
  content/github/authenticating-to-github/reviewing-your-security-log.md
  content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5210 repo sync
  .github/allowed-actions.js
  .github/workflows/browser-test.yml
  .github/workflows/link-check-dotcom.yml
  .github/workflows/link-check-ghae.yml
  .github/workflows/link-check-ghes.yml
  .github/workflows/test.yml
Labels: automated-reposync-pr, automerge, autoupdate, triage

#1766 Update managing-projects-using-jira.md
  assets/images/enterprise/orgs-and-teams/edit-organization-settings.png
  assets/images/enterprise/orgs-and-teams/jira/jira-applications.png
  assets/images/enterprise/orgs-and-teams/jira/jira-integrations-dvcs.png
  assets/images/enterprise/orgs-and-teams/jira/jira-link-github-account.png
  assets/images/enterprise/orgs-and-teams/organization-dev-settings-oauth-apps.png
  assets/images/enterprise/orgs-and-teams/profile-select-organization.png
  assets/images/enterprise/orgs-and-teams/register-oauth-application-button.png
  content/admin/user-management/managing-projects-using-jira.md
Labels: content, core, waiting for review

#5217 repo sync
  Dockerfile.openapi_decorator
  docker-compose.yaml
  script/rest/openapi-check.js
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5221 repo sync
  lib/create-tree.js
  lib/page-data.js
  lib/warm-server2.js
  middleware/breadcrumbs.js
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5160 [Contributing guide] Replace broken image link
  CONTRIBUTING.md
Labels: triage

#5252 repo sync
  .github/workflows/repo-sync.yml
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5291 repo sync
  script/prevent-translation-commits.js
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5292 repo sync
  .github/workflows/repo-sync.yml
  .github/workflows/send-issues-to-how-how-we-work-boards.yml
  .github/workflows/send-prs-to-how-how-we-work-boards.yml
  content/actions/learn-github-actions/sharing-workflows-with-your-organization.md
  content/github/getting-started-with-github/githubs-products.md
  content/github/working-with-github-support/about-github-premium-support-for-github-enterprise-cloud.md
  content/insights/exploring-your-usage-of-github-enterprise/metrics-available-with-github-insights.md
  content/insights/exploring-your-usage-of-github-enterprise/navigating-between-github-enterprise-and-github-insights.md
  content/insights/exploring-your-usage-of-github-enterprise/setting-your-timezone-for-github-insights.md
  content/insights/exploring-your-usage-of-github-enterprise/viewing-key-metrics-and-reports.md
  content/insights/installing-and-configuring-github-insights/about-data-in-github-insights.md
  content/insights/installing-and-configuring-github-insights/about-github-insights.md
  content/insights/installing-and-configuring-github-insights/configuring-the-connection-between-github-insights-and-github-enterprise.md
  content/insights/installing-and-configuring-github-insights/enabling-a-link-between-github-insights-and-github-enterprise.md
  content/insights/installing-and-configuring-github-insights/installing-github-insights.md
  content/insights/installing-and-configuring-github-insights/managing-available-metrics-and-reports.md
  content/insights/installing-and-configuring-github-insights/managing-contributors-and-teams.md
  content/insights/installing-and-configuring-github-insights/managing-events.md
  content/insights/installing-and-configuring-github-insights/managing-goals.md
  content/insights/installing-and-configuring-github-insights/managing-organizations.md
  content/insights/installing-and-configuring-github-insights/managing-permissions-in-github-insights.md
  content/insights/installing-and-configuring-github-insights/managing-repositories.md
  content/insights/installing-and-configuring-github-insights/system-overview-for-github-insights.md
  content/insights/installing-and-configuring-github-insights/updating-github-insights.md
  data/reusables/gated-features/actions-shared.md
  data/reusables/gated-features/ghas.md
  data/reusables/gated-features/github-insights.md
  data/reusables/gated-features/packages.md
  lib/hydro.js
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5294 repo sync
  .github/actions-scripts/enterprise-server-issue-templates/release-issue.md
  content/github/managing-your-work-on-github/creating-and-editing-milestones-for-issues-and-pull-requests.md
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5295 repo sync
  content/github/getting-started-with-github/keyboard-shortcuts.md
  content/github/writing-on-github/basic-writing-and-formatting-syntax.md
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5299 repo sync
  .github/workflows/open-enterprise-issue.yml
  .github/workflows/send-crowdin-prs-to-boards.yml
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5302 repo sync
  middleware/timeout.js
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5304 repo sync
  .github/workflows/repo-sync.yml
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5305 repo sync
  includes/sidebar-guides.html
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5307 repo sync
  .github/workflows/repo-sync.yml
Labels: automated-reposync-pr, automerge, autoupdate, triage

#5308 docs(Creating a GitHub App from a manifest): `POST /app-manifests/:code/conversions` -> `POST /app-manifests/{code}/conversions`
  content/developers/apps/creating-a-github-app-from-a-manifest.md
Labels: triage

#4924 docs: show current topic in bold
  content/github/getting-started-with-github/be-social.md
  content/github/getting-started-with-github/fork-a-repo.md
Labels: getting started, waiting for review

#5104 Correct template-specific workflow syntax
  content/actions/guides/building-and-testing-nodejs.md
  content/actions/guides/building-and-testing-ruby.md
Labels: actions, waiting for review

#5323 repo sync
  content/organizations/managing-access-to-your-organizations-repositories/adding-outside-collaborators-to-repositories-in-your-organization.md
Labels: automated-reposync-pr, autoupdate, triage

#5333 repo sync
  .github/ISSUE_COMMENT_TEMPLATE/quick-status.yml
  assets/images/enterprise/3.0/dependabot-alert-dismiss.png
  assets/images/enterprise/3.0/dependabot-alert-info.png
  assets/images/enterprise/graphs/click-alert-in-alerts-list.png
  assets/images/enterprise/repository/dependabot-alert-dismiss-drop-down.png
  assets/images/enterprise/repository/dependabot-alerts-tab.png
  content/actions/reference/environments.md
  content/actions/reference/workflow-syntax-for-github-actions.md
  content/code-security/supply-chain-security/about-alerts-for-vulnerable-dependencies.md
  content/code-security/supply-chain-security/troubleshooting-the-detection-of-vulnerable-dependencies.md
  content/code-security/supply-chain-security/viewing-and-updating-vulnerable-dependencies-in-your-repository.md
  content/github/managing-security-vulnerabilities/about-alerts-for-vulnerable-dependencies.md
  content/organizations/managing-access-to-your-organizations-repositories/repository-permission-levels-for-an-organization.md
  data/reusables/actions/actions-group-concurrency.md
  data/reusables/actions/concurrency-beta.md
  data/reusables/repositories/sidebar-dependabot-alerts.md
  data/reusables/security-advisory/link-browsing-advisory-db.md
Labels: automated-reposync-pr, autoupdate, triage

#5335 repo sync
  .github/allowed-actions.js
  .github/workflows/repo-sync.yml
  .github/workflows/translations.yml
  content/actions/reference/environments.md
  content/actions/reference/workflow-syntax-for-github-actions.md
  data/reusables/actions/actions-group-concurrency.md
  data/reusables/actions/concurrency-beta.md
Labels: automated-reposync-pr, autoupdate, triage

#5337 repo sync
  content/graphql/reference/input-objects.md
  lib/graphql/static/prerendered-input-objects.json
  middleware/contextualizers/graphql.js
  middleware/render-page.js
  script/graphql/update-files.js
  script/graphql/utils/prerender-input-objects.js
  script/graphql/utils/prerender-objects.js
Labels: automated-reposync-pr, autoupdate, triage

#5342 repo sync
  Procfile
  script/release-heroku
Labels: automated-reposync-pr, autoupdate, triage

#5247 Update ref of blob custom media type in git database page
  content/rest/reference/git.md
Labels: ready to merge, rest

#5363 repo sync
  content/organizations/managing-peoples-access-to-your-organization-with-roles/maintaining-ownership-continuity-for-your-organization.md
Labels: automated-reposync-pr, autoupdate, triage

#5364 repo sync
  ownership.yaml
Labels: automated-reposync-pr, autoupdate, triage

#5140 Branch renaming: local repo update instructions
  content/github/administering-a-repository/renaming-a-branch.md
Labels: administering a repo, waiting for review

#5367 repo sync
  script/release-heroku
Labels: automated-reposync-pr, autoupdate, triage

#5369 repo sync
  middleware/contextualizers/layout.js
  middleware/index.js
  middleware/render-page.js
Labels: automated-reposync-pr, autoupdate, triage

#5370 repo sync
  assets/images/octicons/hamburger.svg
  assets/images/octicons/search.svg
  assets/images/octicons/x.svg
  includes/article-version-switcher.html
  includes/footer.html
  includes/header-notification.html
  includes/header.html
  stylesheets/gradient.scss
Labels: automated-reposync-pr, autoupdate, triage

#5372 repo sync
  middleware/webpack.js
  package-lock.json
  package.json
  script/check-deps.js
  webpack.config.js
Labels: automated-reposync-pr, autoupdate, triage

#5373 repo sync
  content/github/authenticating-to-github/reviewing-your-security-log.md
  content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
Labels: automated-reposync-pr, autoupdate, triage

#5375 repo sync
  script/lint-translation-files.js
  script/reset-known-broken-translation-files.js
  script/update-crowdin-issue.js
  tests/content/lint-files.js
  tests/meta/repository-references.js
Labels: automated-reposync-pr, autoupdate, triage

#5380 repo sync
  data/release-notes/2-21/19.yml
  data/release-notes/2-22/11.yml
  data/release-notes/3-0/5.yml
Labels: automated-reposync-pr, autoupdate, triage

#5381 repo sync
  content/code-security/supply-chain-security/configuration-options-for-dependency-updates.md
Labels: automated-reposync-pr, autoupdate, triage

#5286 Update workflow-syntax-for-github-actions.md
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, ready to merge

#5383 repo sync
  content/actions/guides/index.md
  content/actions/guides/managing-github-actions-with-github-cli.md
  content/actions/managing-workflow-runs/disabling-and-enabling-a-workflow.md
  content/actions/managing-workflow-runs/downloading-workflow-artifacts.md
  content/actions/managing-workflow-runs/manually-running-a-workflow.md
  content/actions/managing-workflow-runs/re-running-a-workflow.md
  content/actions/managing-workflow-runs/using-workflow-run-logs.md
  content/actions/managing-workflow-runs/viewing-workflow-run-history.md
  data/reusables/actions/actions-cli.md
  data/reusables/cli/actions-cli-version.md
  data/reusables/cli/cli-auth.md
  data/reusables/cli/cli-manual.md
  data/reusables/cli/cli-repo.md
  data/reusables/cli/download-update-cli.md
Labels: automated-reposync-pr, autoupdate, triage

#5343 Changed reference to master branching in actions docs, should be main to match renaming
  content/actions/guides/about-packaging-with-github-actions.md
Labels: ready to merge

#5384 repo sync
  CONTRIBUTING.md
Labels: automated-reposync-pr, autoupdate, triage

#5387 repo sync
  includes/header.html
  layouts/enterprise-server-releases.html
  lib/get-mini-toc-items.js
  middleware/enterprise-server-releases.js
Labels: automated-reposync-pr, autoupdate, triage

#5389 repo sync
  content/admin/github-actions/using-the-latest-version-of-the-official-bundled-actions.md
Labels: automated-reposync-pr, autoupdate, triage

#5397 repo sync
  data/release-notes/2-21/19.yml
  data/release-notes/2-22/11.yml
  data/release-notes/3-0/5.yml
Labels: automated-reposync-pr, autoupdate, triage

#5399 repo sync
  content/code-security/secure-coding/about-code-scanning.md
  content/code-security/secure-coding/about-integration-with-code-scanning.md
  content/code-security/secure-coding/automatically-scanning-your-code-for-vulnerabilities-and-errors.md
  content/code-security/secure-coding/configuring-code-scanning.md
  content/code-security/secure-coding/configuring-codeql-code-scanning-in-your-ci-system.md
  content/code-security/secure-coding/configuring-the-codeql-workflow-for-compiled-languages.md
  content/code-security/secure-coding/index.md
  content/code-security/secure-coding/integrating-with-code-scanning.md
  content/code-security/secure-coding/managing-code-scanning-alerts-for-your-repository.md
  content/code-security/secure-coding/running-codeql-code-scanning-in-a-container.md
  content/code-security/secure-coding/running-codeql-code-scanning-in-your-ci-system.md
  content/code-security/secure-coding/sarif-support-for-code-scanning.md
  content/code-security/secure-coding/setting-up-code-scanning-for-a-repository.md
  content/code-security/secure-coding/triaging-code-scanning-alerts-in-pull-requests.md
  content/code-security/secure-coding/troubleshooting-codeql-code-scanning-in-your-ci-system.md
  content/code-security/secure-coding/troubleshooting-the-codeql-workflow.md
  content/code-security/secure-coding/uploading-a-sarif-file-to-github.md
  content/code-security/secure-coding/using-codeql-code-scanning-with-your-existing-ci-system.md
  content/code-security/supply-chain-security/about-alerts-for-vulnerable-dependencies.md
  content/code-security/supply-chain-security/about-the-dependency-graph.md
  content/code-security/supply-chain-security/configuring-notifications-for-vulnerable-dependencies.md
  content/code-security/supply-chain-security/exploring-the-dependencies-of-a-repository.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/about-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/about-integration-with-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/automatically-scanning-your-code-for-vulnerabilities-and-errors.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-codeql-code-scanning-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-the-codeql-workflow-for-compiled-languages.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/index.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/integrating-with-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/managing-code-scanning-alerts-for-your-repository.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/running-codeql-code-scanning-in-a-container.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/running-codeql-code-scanning-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/sarif-support-for-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/setting-up-code-scanning-for-a-repository.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/triaging-code-scanning-alerts-in-pull-requests.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/troubleshooting-codeql-code-scanning-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/troubleshooting-the-codeql-workflow.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/uploading-a-sarif-file-to-github.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/using-codeql-code-scanning-with-your-existing-ci-system.md
  content/github/managing-security-vulnerabilities/about-alerts-for-vulnerable-dependencies.md
  content/github/managing-security-vulnerabilities/configuring-notifications-for-vulnerable-dependencies.md
  content/github/managing-security-vulnerabilities/index.md
  content/github/managing-security-vulnerabilities/managing-vulnerabilities-in-your-projects-dependencies.md
  content/github/visualizing-repository-data-with-graphs/about-the-dependency-graph.md
  content/github/visualizing-repository-data-with-graphs/exploring-the-dependencies-of-a-repository.md
  data/release-notes/3-0/5.yml
Labels: automated-reposync-pr, autoupdate, triage

#5403 repo sync
  content/developers/github-marketplace/writing-a-listing-description-for-your-app.md
Labels: automated-reposync-pr, autoupdate, triage

#5405 repo sync
  assets/images/help/settings/theme-choose-a-day-and-night-theme-to-sync.png
  assets/images/help/settings/theme-choose-a-single-theme.png
  assets/images/help/settings/theme-mode-drop-down-menu.png
  assets/images/help/settings/theme-settings-radio-buttons.png
  content/code-security/secure-coding/setting-up-code-scanning-for-a-repository.md
  content/github/setting-up-and-managing-your-github-user-account/managing-your-theme-settings.md
Labels: automated-reposync-pr, autoupdate, triage

#5406 repo sync
  package-lock.json
Labels: automated-reposync-pr, autoupdate, triage

#5407 repo sync
  content/actions/index.md
  content/discussions/index.md
  data/ui.yml
  data/variables/actions_code_examples.yml
  includes/code-examples.html
  includes/community-examples.html
  includes/sidebar-specific-product.html
  layouts/product-landing.html
  lib/site-tree-titles.js
  lib/site-tree.js
  middleware/categories-for-support-team.js
  middleware/context.js
  middleware/index.js
  translations/de-DE/data/variables/actions_code_examples.yml
  translations/es-ES/data/variables/actions_code_examples.yml
  translations/ja-JP/data/variables/actions_code_examples.yml
  translations/ko-KR/data/variables/actions_code_examples.yml
  translations/pt-BR/data/variables/actions_code_examples.yml
  translations/ru-RU/data/variables/actions_code_examples.yml
  translations/zh-CN/data/variables/actions_code_examples.yml
Labels: automated-reposync-pr, autoupdate, triage

#5412 repo sync
  includes/all-products-link.html
  includes/sidebar-homepage.html
  includes/sidebar-specific-product.html
  includes/sidebar.html
  stylesheets/sidebar.scss
Labels: automated-reposync-pr, autoupdate, triage

#5413 repo sync
  assets/images/help/codespaces/add-port-button.png
  assets/images/help/codespaces/add-prebuilt-container-command.png
  assets/images/help/codespaces/automatic-port-forwarding.png
  assets/images/help/codespaces/copy-icon-port-url.png
  assets/images/help/codespaces/label-icon.png
  assets/images/help/codespaces/label-text-box.png
  assets/images/help/codespaces/make-public-option.png
  assets/images/help/codespaces/port-number-text-box.png
  assets/images/help/codespaces/ports-tab.png
  assets/images/help/codespaces/prebuilt-container-ok-button.png
  assets/images/help/codespaces/predefined-container-definitions-list.png
  assets/images/help/codespaces/rebuild-container-command.png
  assets/images/help/codespaces/rebuild-prompt.png
  assets/images/help/codespaces/recovery-mode-error-message.png
  assets/images/help/codespaces/update-devcontainer-to-add-port-option.png
  content/github/developing-online-with-codespaces/configuring-codespaces-for-your-project.md
  content/github/developing-online-with-codespaces/developing-in-a-codespace.md
  content/github/developing-online-with-codespaces/forwarding-ports-in-your-codespace.md
  content/github/developing-online-with-codespaces/index.md
  content/github/developing-online-with-codespaces/troubleshooting-your-codespace.md
  data/reusables/codespaces/about-port-forwarding.md
  data/reusables/codespaces/apply-devcontainer-changes.md
  data/reusables/codespaces/navigate-to-ports-tab.md
  data/reusables/codespaces/rebuild-command.md
  data/reusables/codespaces/recovery-mode.md
  data/reusables/codespaces/type-port-label.md
Labels: automated-reposync-pr, autoupdate, triage

#5414 repo sync
  includes/all-products-link.html
  includes/sidebar-homepage.html
  includes/sidebar-specific-product.html
  includes/sidebar.html
  stylesheets/sidebar.scss
Labels: automated-reposync-pr, autoupdate, triage

#5417 repo sync
  lib/get-document-type.js
  lib/page.js
Labels: automated-reposync-pr, autoupdate, triage

#5426 repo sync
  content/github/site-policy/github-corporate-terms-of-service.md
Labels: automated-reposync-pr, autoupdate, triage

#5430 repo sync
  content/github/site-policy-deprecated/github-enterprise-subscription-agreement.md
  content/github/site-policy-deprecated/github-supplemental-terms-for-microsoft-volume-licensing.md
  content/github/site-policy/github-insights-and-data-protection-for-your-organization.md
Labels: automated-reposync-pr, autoupdate, triage

#5442 repo sync
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
Labels: automated-reposync-pr, autoupdate, triage

#5443 repo sync
  content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
Labels: automated-reposync-pr, autoupdate, triage

#5444 repo sync
  content/actions/guides/managing-github-actions-with-github-cli.md
Labels: automated-reposync-pr, autoupdate, triage

#5445 repo sync
  content/pages/getting-started-with-github-pages/about-github-pages.md
Labels: automated-reposync-pr, autoupdate, triage

#5447 repo sync
  content/admin/enterprise-management/increasing-storage-capacity.md
Labels: automated-reposync-pr, autoupdate, triage

#5448 repo sync
  .github/workflows/site-policy-sync.yml
Labels: automated-reposync-pr, autoupdate, triage

#5450 repo sync
  content/admin/github-actions/enabling-automatic-access-to-githubcom-actions-using-github-connect.md
  data/reusables/actions/enterprise-github-connect-warning.md
Labels: automated-reposync-pr, autoupdate, triage

#5451 repo sync
  .github/workflows/no-response.yaml
Labels: automated-reposync-pr, autoupdate, triage

#5441 Fix typo
  content/actions/reference/context-and-expression-syntax-for-github-actions.md
Labels: ready to merge

#5506 repo sync
  content/admin/github-actions/about-using-actions-in-your-enterprise.md
Labels: automated-reposync-pr, autoupdate, triage

#5523 repo sync
  data/release-notes/3-0/0.yml
  data/release-notes/3-0/1.yml
  data/release-notes/3-0/2.yml
  data/release-notes/3-0/3.yml
  data/release-notes/3-0/4.yml
  data/release-notes/3-0/5.yml
Labels: automated-reposync-pr, autoupdate, triage

#5527 repo sync
  assets/images/help/profile/badge-arctic-code-vault-small.png
  assets/images/help/profile/badge-mars-2020-small.png
  assets/images/help/profile/badge-sponsors-small.png
  assets/images/help/profile/profile-badge-settings.png
  content/github/setting-up-and-managing-your-github-profile/personalizing-your-profile.md
Labels: automated-reposync-pr, autoupdate, triage

#5528 repo sync
  content/actions/reference/environments.md
  content/actions/reference/workflow-syntax-for-github-actions.md
  data/reusables/actions/actions-group-concurrency.md
  data/reusables/actions/concurrency-beta.md
Labels: automated-reposync-pr, autoupdate, triage

#5529 repo sync
  content/admin/overview/managing-billing-for-your-enterprise.md
Labels: automated-reposync-pr, autoupdate, triage

#5530 repo sync
  assets/images/help/codespaces/vscode-change-machine-choose-repo.png
  assets/images/help/codespaces/vscode-change-machine-choose-type.png
  assets/images/help/codespaces/vscode-change-machine-type-option.png
  content/github/developing-online-with-codespaces/using-codespaces-in-visual-studio-code.md
  data/reusables/codespaces/codespaces-machine-types.md
Labels: automated-reposync-pr, autoupdate, triage

#5531 repo sync
  content/code-security/supply-chain-security/configuration-options-for-dependency-updates.md
Labels: automated-reposync-pr, autoupdate, triage

#5535 repo sync
  content/github/developing-online-with-codespaces/index.md
  content/github/developing-online-with-codespaces/using-codespaces-in-visual-studio-code.md
  content/github/developing-online-with-codespaces/using-codespaces-in-visual-studio.md
  data/variables/product.yml
Labels: automated-reposync-pr, autoupdate, triage

#5548 repo sync
  content/code-security/supply-chain-security/configuration-options-for-dependency-updates.md
Labels: automated-reposync-pr, autoupdate, triage

#5551 repo sync
  content/actions/guides/about-continuous-integration.md
  content/admin/configuration/about-enterprise-configuration.md
  content/admin/configuration/initializing-github-ae.md
Labels: automated-reposync-pr, autoupdate, triage

#5567 repo sync
  assets/images/help/settings/actions-workflow-permissions-enterprise.png
  assets/images/help/settings/actions-workflow-permissions-organization.png
  assets/images/help/settings/actions-workflow-permissions-repository.png
  content/actions/guides/adding-labels-to-issues.md
  content/actions/guides/building-and-testing-net.md
  content/actions/guides/building-and-testing-ruby.md
  content/actions/guides/closing-inactive-issues.md
  content/actions/guides/commenting-on-an-issue-when-a-label-is-added.md
  content/actions/guides/deploying-to-amazon-elastic-container-service.md
  content/actions/guides/publishing-docker-images.md
  content/actions/guides/publishing-java-packages-with-gradle.md
  content/actions/guides/publishing-java-packages-with-maven.md
  content/actions/guides/publishing-nodejs-packages.md
  content/actions/guides/removing-a-label-when-a-card-is-added-to-a-project-board-column.md
  content/actions/guides/scheduling-issue-creation.md
  content/actions/learn-github-actions/security-hardening-for-github-actions.md
  content/actions/reference/authentication-in-a-workflow.md
  content/actions/reference/workflow-syntax-for-github-actions.md
  content/code-security/secure-coding/configuring-code-scanning.md
  content/code-security/secure-coding/running-codeql-code-scanning-in-a-container.md
  content/code-security/secure-coding/troubleshooting-the-codeql-workflow.md
  content/code-security/secure-coding/uploading-a-sarif-file-to-github.md
  content/github/administering-a-repository/disabling-or-limiting-github-actions-for-a-repository.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/running-codeql-code-scanning-in-a-container.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/troubleshooting-the-codeql-workflow.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/uploading-a-sarif-file-to-github.md
  content/github/setting-up-and-managing-your-enterprise/enforcing-github-actions-policies-in-your-enterprise-account.md
  content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  content/packages/guides/using-github-packages-with-github-actions.md
  content/packages/quickstart.md
  data/reusables/github-actions/forked-write-permission.md
  data/reusables/github-actions/github-token-available-permissions.md
  data/reusables/github-actions/github-token-permissions.md
  data/reusables/github-actions/publish-to-packages-workflow-step.md
  data/reusables/github-actions/workflow-permissions-intro.md
  data/reusables/github-actions/workflow-permissions-modifying.md
Labels: automated-reposync-pr, autoupdate, triage

#5568 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/prerendered-input-objects.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  stylesheets/index.scss
Labels: automated-reposync-pr, autoupdate, triage

#5571 repo sync
  assets/images/help/settings/codespaces-image-registry-secret-example.png
  content/github/authenticating-to-github/reviewing-your-security-log.md
  content/github/developing-online-with-codespaces/managing-access-and-security-for-codespaces.md
  content/github/developing-online-with-codespaces/managing-encrypted-secrets-for-codespaces.md
  content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
Labels: automated-reposync-pr, autoupdate, triage

#5576 repo sync
  stylesheets/tables.scss
Labels: automated-reposync-pr, autoupdate, triage

#5577 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
  includes/article.html
  tests/rendering/server.js
Labels: automated-reposync-pr, autoupdate, triage

#5508 updating contribution.md under docs in github
  CONTRIBUTING.md
Labels: contributing docs, waiting for review

#5582 repo sync
  content/admin/github-actions/using-the-latest-version-of-the-official-bundled-actions.md
Labels: automated-reposync-pr, autoupdate, triage

#5585 repo sync
  content/developers/webhooks-and-events/webhook-events-and-payloads.md
Labels: automated-reposync-pr, autoupdate, triage

#5592 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
Labels: automated-reposync-pr, autoupdate, triage

#5595 repo sync
  stylesheets/index.scss
Labels: automated-reposync-pr, autoupdate, triage

#5601 repo sync
  .github/workflows/move-ready-to-merge-pr.yaml
Labels: automated-reposync-pr, autoupdate, triage

#5603 repo sync
  .github/workflows/copy-api-issue-to-internal.yml
  .github/workflows/transfer-api-issue-to-openapi.yml
Labels: automated-reposync-pr, autoupdate, triage

#5410 Update supported-github-runners.md
  data/reusables/github-actions/supported-github-runners.md
Labels: actions, ready to merge

#5606 repo sync
  lib/liquid-tags/README.md
  lib/liquid-tags/indented-data-reference.js
  tests/unit/liquid-helpers.js
Labels: automated-reposync-pr, autoupdate, triage

#5604 Add token parameter to issue labeler Action
  content/actions/guides/adding-labels-to-issues.md
  content/actions/guides/removing-a-label-when-a-card-is-added-to-a-project-board-column.md
Labels: triage

#5385 Make it more understandable
  content/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: ssh, waiting for review

#5561 Fix some incorrect spacing in the Code Scanning alert event documentation.
  data/reusables/webhooks/code_scanning_alert_event_properties.md
Labels: ready to merge

#3375 Update example with Octokit Checks API methods
  content/developers/apps/creating-ci-tests-with-the-checks-api.md
Labels: content, ecosystem, ready to merge

#5626 repo sync
  content/admin/enterprise-management/upgrading-github-enterprise-server.md
Labels: automated-reposync-pr, autoupdate, triage

#5627 repo sync
  data/reusables/gated-features/auto-merge.md
Labels: automated-reposync-pr, autoupdate, triage

#5572 actions-scheduled-workflow-example: fix cron spec
  data/reusables/repositories/actions-scheduled-workflow-example.md
Labels: actions, ready to merge

#5631 repo sync
  content/admin/user-management/migrating-to-internal-repositories.md
Labels: automated-reposync-pr, autoupdate, triage

#5054 Wikis aren't crawled. Suggest GH Pages alternative
  content/communities/documenting-your-project-with-wikis/about-wikis.md
Labels: communities, ready to merge

#5614 Add rate limit note; suggest caching/etags
  content/developers/overview/secret-scanning.md
Labels: ready to merge, secret scanning

#4537 Document GitHub serverside limit on URL length
  content/github/managing-your-work-on-github/about-automation-for-issues-and-pull-requests-with-query-parameters.md
Labels: core, waiting for review

#5634 repo sync
  .github/PULL_REQUEST_TEMPLATE.md
  includes/header.html
  stylesheets/article.scss
  stylesheets/dev-toc.scss
  stylesheets/directory.scss
  stylesheets/gradient.scss
  stylesheets/index.scss
  stylesheets/nav.scss
  stylesheets/new-mktg.scss
  stylesheets/opacity.scss
  stylesheets/overrides.scss
  stylesheets/product-landing.scss
  stylesheets/product-sublanding.scss
  stylesheets/release-notes.scss
  stylesheets/scroll-button.scss
  stylesheets/search.scss
  stylesheets/shadows.scss
  stylesheets/sidebar.scss
  stylesheets/type.scss
Labels: automated-reposync-pr, autoupdate, triage

#5635 repo sync
  content/code-security/supply-chain-security/index.md
  content/code-security/supply-chain-security/upgrading-from-dependabotcom-to-github-native-dependabot.md
Labels: automated-reposync-pr, autoupdate, triage

#5532 Consistent YAML indentation
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, ready to merge

#5638 repo sync
  lib/liquid-tags/indented-data-reference.js
  lib/render-content/create-processor.js
  lib/render-content/plugins/wrap-in-element.js
Labels: automated-reposync-pr, autoupdate, triage

#5639 repo sync
  assets/images/help/pull_requests/actions-approve-and-run-workflows-from-fork.png
  content/actions/managing-workflow-runs/approving-workflow-runs-from-public-forks.md
  content/actions/managing-workflow-runs/index.md
  data/reusables/developer-site/pull_request_forked_repos_link.md
Labels: automated-reposync-pr, autoupdate, triage

#5645 repo sync
  content/actions/learn-github-actions/migrating-from-circleci-to-github-actions.md
  content/actions/using-github-hosted-runners/about-github-hosted-runners.md
  content/actions/using-github-hosted-runners/customizing-github-hosted-runners.md
  content/actions/using-github-hosted-runners/index.md
  content/github/authenticating-to-github/adding-a-new-ssh-key-to-your-github-account.md
Labels: automated-reposync-pr, autoupdate, triage

#5646 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
Labels: automated-reposync-pr, autoupdate, triage

#5647 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: automated-reposync-pr, autoupdate, triage

#5650 repo sync
  content/admin/github-actions/using-the-latest-version-of-the-official-bundled-actions.md
Labels: automated-reposync-pr, autoupdate, triage

#5652 repo sync
  content/github/authenticating-to-github/using-ssh-over-the-https-port.md
Labels: automated-reposync-pr, autoupdate, triage

#5666 repo sync
  content/github/setting-up-and-managing-your-github-profile/personalizing-your-profile.md
Labels: automated-reposync-pr, autoupdate, triage

#5678 repo sync
  content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  content/admin/github-actions/enabling-github-actions-with-amazon-s3-storage.md
  content/admin/github-actions/enabling-github-actions-with-minio-gateway-for-nas-storage.md
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
Labels: automated-reposync-pr, autoupdate, triage

#5679 repo sync
  data/reusables/github-actions/self-hosted-runner-configure-runner-group-access.md
Labels: automated-reposync-pr, autoupdate, triage

#5719 repo sync
  lib/frontmatter.js
  script/fix-translation-errors.js
Labels: automated-reposync-pr, autoupdate, triage

#5723 repo sync
  lib/liquid-tags/README.md
  lib/liquid-tags/indented-data-reference.js
Labels: automated-reposync-pr, autoupdate, triage

#5724 repo sync
  stylesheets/alerts.scss
  stylesheets/article.scss
  stylesheets/breadcrumbs.scss
  stylesheets/bump-link.scss
  stylesheets/code.scss
  stylesheets/deprecation-banner.scss
  stylesheets/extended-markdown.scss
  stylesheets/featured-links.scss
  stylesheets/font-mktg.scss
  stylesheets/headings.scss
  stylesheets/helpfulness.scss
  stylesheets/images.scss
  stylesheets/index.scss
  stylesheets/lists.scss
  stylesheets/overrides.scss
  stylesheets/summary.scss
  stylesheets/syntax-highlighting.scss
  stylesheets/tables.scss
  stylesheets/type.scss
  stylesheets/underline-dashed.scss
Labels: automated-reposync-pr, autoupdate, triage

#5766 repo sync
  includes/toggle-images.html
  javascripts/toggle-images.js
  stylesheets/images.scss
Labels: automated-reposync-pr, autoupdate, triage

#5768 repo sync
  content/admin/configuration/command-line-utilities.md
  content/github/importing-your-projects-to-github/about-github-importer.md
  content/github/importing-your-projects-to-github/source-code-migration-tools.md
  data/glossaries/internal.yml
  data/variables/migrations.yml
Labels: automated-reposync-pr, autoupdate, triage

#5769 Clarify release event trigger behaviour
  content/actions/reference/events-that-trigger-workflows.md
Labels: ready to merge, triage

#5779 repo sync
  script/fix-translation-errors.js
  tests/content/lint-files.js
  tests/content/site-tree.js
  tests/helpers/schemas/languages-schema.js
  tests/helpers/schemas/products-schema.js
  tests/helpers/schemas/release-notes-schema.js
  tests/helpers/schemas/site-tree-schema.js
  tests/helpers/schemas/versions-schema.js
  tests/unit/languages.js
  tests/unit/products.js
  tests/unit/versions.js
Labels: automated-reposync-pr, autoupdate, triage

#5781 Change the color of the warning links
  includes/header-notification.html
Labels: triage

#5785 repo sync
  assets/images/help/repository/readme-automatic-toc-setting.png
  assets/images/help/repository/readme-automatic-toc.png
  content/github/creating-cloning-and-archiving-repositories/about-readmes.md
Labels: automated-reposync-pr, autoupdate, triage

#5786 repo sync
  content/admin/all-releases.md
  content/admin/index.md
  data/ui.yml
  includes/all-enterprise-releases-link.html
  includes/article-version-switcher.html
  includes/header-version-switcher.html
  layouts/enterprise-server-releases.html
  lib/redirects/get-old-paths-from-permalink.js
  lib/render-content/plugins/rewrite-local-links.js
  middleware/enterprise-server-releases.js
  middleware/index.js
  tests/content/lint-files.js
Labels: automated-reposync-pr, autoupdate, triage

#5795 repo sync
  content/actions/guides/building-and-testing-net.md
  content/actions/guides/building-and-testing-xamarin-applications.md
  content/actions/guides/index.md
  content/rest/reference/repos.md
  data/allowed-topics.js
Labels: automated-reposync-pr, autoupdate, triage

#5797 repo sync
  assets/images/help/commits/signature-verification-statuses.png
  assets/images/help/commits/vigilant-mode-checkbox.png
  content/github/administering-a-repository/about-protected-branches.md
  content/github/authenticating-to-github/about-commit-signature-verification.md
  content/github/authenticating-to-github/checking-your-commit-and-tag-signature-verification-status.md
  content/github/authenticating-to-github/displaying-verification-statuses-for-all-of-your-commits.md
  content/github/authenticating-to-github/index.md
  content/github/developing-online-with-codespaces/about-billing-for-codespaces.md
  data/reusables/identity-and-permissions/verification-status-check.md
  data/reusables/identity-and-permissions/vigilant-mode-beta-note.md
  data/reusables/identity-and-permissions/vigilant-mode-verification-statuses.md
Labels: automated-reposync-pr, autoupdate, triage

#5798 repo sync
  content/github/setting-up-and-managing-your-github-profile/personalizing-your-profile.md
Labels: automated-reposync-pr, autoupdate, triage

#5803 repo sync
  data/release-notes/2-21/20.yml
  data/release-notes/2-22/12.yml
  data/release-notes/3-0/6.yml
Labels: automated-reposync-pr, autoupdate, triage

#5804 repo sync
  content/actions/index.md
  data/ui.yml
  layouts/product-landing.html
Labels: automated-reposync-pr, autoupdate, triage

#5808 repo sync
  .github/workflows/remove-stale-staging-apps.yml
  .github/workflows/test-windows.yml
  .github/workflows/test.yml
  script/remove-stale-staging-apps.js
  tests/linting/lint-files.js
  tests/routing/top-developer-site-path-redirects.js
Labels: automated-reposync-pr, autoupdate, triage

#5637 Update secret-scanning partner onboarding to add more 'gotcha' information for signature validation
  content/developers/overview/secret-scanning.md
Labels: ready to merge, secret scanning
