Repository github/docs, pull requests merged in 2021-01, with the labels that each got.

#2527 repo sync
  content/github/site-policy/github-marketplace-developer-agreement.md
Labels: automated-reposync-pr, automerge, autoupdate

#1781 Update PATH prepending with practical example
  content/actions/reference/workflow-commands-for-github-actions.md
Labels: actions, content, ecosystem

#2534 repo sync
  content/developers/github-marketplace/receiving-payment-for-app-purchases.md
  data/reusables/apps/marketplace_revenue_share.md
Labels: automated-reposync-pr, automerge, autoupdate

#2220 Update testing-your-ssh-connection.md
  content/github/authenticating-to-github/testing-your-ssh-connection.md
Labels: content, core

#2540 repo sync
  content/admin/overview/about-enterprise-accounts.md
Labels: automated-reposync-pr, automerge, autoupdate

#2542 repo sync
  content/github/authenticating-to-github/testing-your-ssh-connection.md
Labels: automated-reposync-pr, automerge, autoupdate

#1424 fix github app manifests docs ✨
  assets/images/github-apps/github_apps_probot-registration.png
Labels: content, ecosystem

#2544 repo sync
  translations/ja-JP/content/actions/creating-actions/creating-a-composite-run-steps-action.md
Labels: automated-reposync-pr, automerge, autoupdate

#1890 Fix invalid syntax for pull_request_target example
  content/actions/reference/events-that-trigger-workflows.md
Labels: actions, content, ecosystem, ready to merge

#1994 Fix filter pattern cheat sheet examples
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, content, ecosystem, ready to merge

#2549 repo sync
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/troubleshooting-the-codeql-workflow.md
Labels: automated-reposync-pr, automerge, autoupdate

#2562 repo sync
  content/github/managing-security-vulnerabilities/troubleshooting-dependabot-errors.md
  content/github/setting-up-and-managing-organizations-and-teams/managing-security-and-analysis-settings-for-your-organization.md
  data/reusables/dependabot/private-dependencies-note.md
Labels: automated-reposync-pr, automerge, autoupdate

#2251 fix breadcrumbs block
  includes/article.html
  layouts/graphql-explorer.html
  stylesheets/article.scss
Labels: engineering

#2572 repo sync
  content/actions/quickstart.md
  content/github/managing-subscriptions-and-notifications-on-github/managing-your-subscriptions.md
  content/github/setting-up-and-managing-organizations-and-teams/managing-secret-scanning-for-your-organization.md
  content/github/setting-up-and-managing-organizations-and-teams/reviewing-the-audit-log-for-your-organization.md
  content/github/setting-up-and-managing-your-github-user-account/managing-your-theme-settings.md
  content/github/site-policy/github-and-trade-controls.md
  data/reusables/gated-features/environments.md
  lib/encode-bracketed-parentheses.js
  lib/page.js
  lib/site-data.js
  tests/README.md
  tests/content/algolia-search.js
  tests/content/crowdin-config.js
  tests/content/site-data.js
  tests/content/webhooks.js
  tests/helpers/links-checker.js
  tests/unit/page.js
  tests/unit/product-names.js
Labels: automated-reposync-pr, automerge, autoupdate

#2577 repo sync
  content/github/site-policy/github-and-trade-controls.md
Labels: automated-reposync-pr, automerge, autoupdate

#1993 Update Emoji-cheat-sheet link
  content/github/writing-on-github/basic-writing-and-formatting-syntax.md
Labels: content, core

#2589 repo sync
  content/github/site-policy/github-subprocessors-and-cookies.md
Labels: automated-reposync-pr, automerge, autoupdate

#2594 repo sync
  content/actions/guides/publishing-nodejs-packages.md
Labels: automated-reposync-pr, automerge, autoupdate

#2600 repo sync
  content/github/site-policy/github-enterprise-service-level-agreement.md
Labels: automated-reposync-pr, automerge, autoupdate

#2603 repo sync
  data/reusables/dependabot/private-dependencies-note.md
  translations/zh-CN/content/actions/reference/index.md
Labels: automated-reposync-pr, automerge, autoupdate

#2605 repo sync
  assets/images/help/organizations/security-and-analysis-disable-or-enable-all-ghas-dotcom.png
  assets/images/help/organizations/security-and-analysis-disable-or-enable-all.png
  assets/images/help/organizations/security-and-analysis-enable-or-disable-feature-checkbox-dotcom.png
  assets/images/help/organizations/security-and-analysis-enable-or-disable-feature-checkbox.png
  assets/images/help/organizations/security-and-analysis-highlight-ghas.png
  assets/images/help/repository/dependency-graph-enable-button.png
  assets/images/help/repository/enable-ghas-confirmation-dotcom.png
  assets/images/help/repository/enable-ghas-dotcom.png
  assets/images/help/repository/enable-secret-scanning-dotcom.png
  assets/images/help/repository/repo-change-confirm.png
  assets/images/help/repository/repo-change-select.png
  assets/images/help/repository/security-and-analysis-disable-or-enable-dotcom-private.png
  assets/images/help/repository/security-and-analysis-disable-or-enable-dotcom-public.png
  content/github/administering-a-repository/configuring-secret-scanning-for-your-repositories.md
  content/github/administering-a-repository/index.md
  content/github/administering-a-repository/managing-security-and-analysis-settings-for-your-repository.md
  content/github/administering-a-repository/setting-repository-visibility.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/troubleshooting-codeql-code-scanning-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/troubleshooting-the-codeql-workflow.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/uploading-a-sarif-file-to-github.md
  content/github/getting-started-with-github/about-github-advanced-security.md
  content/github/getting-started-with-github/githubs-products.md
  content/github/getting-started-with-github/index.md
  content/github/setting-up-and-managing-organizations-and-teams/managing-security-and-analysis-settings-for-your-organization.md
  content/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization.md
  content/github/setting-up-and-managing-organizations-and-teams/reviewing-the-audit-log-for-your-organization.md
  content/github/understanding-how-github-uses-and-protects-your-data/managing-data-use-settings-for-your-private-repository.md
  data/reusables/advanced-security/more-info-ghas.md
  data/reusables/advanced-security/note-org-enable-uses-seats.md
  data/reusables/code-scanning/codeql-runner-license.md
  data/reusables/code-scanning/not-available.md
  data/reusables/gated-features/code-scanning.md
  data/reusables/gated-features/secret-scanning.md
  data/variables/product.yml
Labels: automated-reposync-pr, automerge, autoupdate

#2621 repo sync
  lib/redis-accessor.js
  middleware/rate-limit.js
  middleware/render-page.js
  package-lock.json
  package.json
  tests/unit/redis-accessor.js
Labels: automated-reposync-pr, automerge, autoupdate

#2622 repo sync
  content/github/site-policy/github-subprocessors-and-cookies.md
Labels: automated-reposync-pr, automerge, autoupdate

#2490 fix btn on mobile & add more indent to video block
  layouts/product-landing.html
Labels: engineering

#2475 Update troubleshooting-dependabot-errors.md
  content/github/managing-security-vulnerabilities/troubleshooting-dependabot-errors.md
Labels: DSP, content

#2638 repo sync
  content/github/site-policy/github-bug-bounty-program-legal-safe-harbor.md
Labels: automated-reposync-pr, automerge, autoupdate

#1863 Curious omission of English in supported languages
  content/github/getting-started-with-github/github-for-mobile.md
Labels: content, core

#2319 Fix incorrect example link on Searching Commits
  content/github/searching-for-information-on-github/searching-commits.md
Labels: content, core

#2654 repo sync
  content/github/collaborating-with-issues-and-pull-requests/reviewing-dependency-changes-in-a-pull-request.md
  content/github/collaborating-with-issues-and-pull-requests/reviewing-proposed-changes-in-a-pull-request.md
  data/reusables/repositories/return-to-source-diff.md
Labels: automated-reposync-pr, automerge, autoupdate

#1957 fix: add discussions to contribution graph
  content/github/setting-up-and-managing-your-github-profile/why-are-my-contributions-not-showing-up-on-my-profile.md
Labels: content, core

#2657 repo sync
  middleware/rate-limit.js
  middleware/render-page.js
Labels: automated-reposync-pr, automerge, autoupdate

#2659 repo sync
  content/rest/overview/api-previews.md
Labels: automated-reposync-pr, automerge, autoupdate

#2663 repo sync
  .github/allowed-actions.js
  .github/workflows/site-policy-sync.yml
Labels: automated-reposync-pr, automerge, autoupdate

#2664 repo sync
  Procfile
  data/release-notes/2-22/0.yml
  script/purge-redis-pages.js
Labels: automated-reposync-pr, automerge, autoupdate

#2326 Improve description of branch targeting for action release management
  content/actions/learn-github-actions/finding-and-customizing-actions.md
Labels: actions, content, ecosystem

#2588 Use correct syntax for adding label in dockerfile
  content/packages/guides/connecting-a-repository-to-a-container-image.md
Labels: content, ecosystem, packages

#2667 repo sync
  .github/workflows/repo-sync-stalls.yml
  script/purge-redis-pages.js
Labels: automated-reposync-pr, automerge, autoupdate

#2668 repo sync
  content/github/site-policy/amendment-to-github-terms-of-service-applicable-to-us-federal-government-users.md
  content/github/site-policy/github-ae-data-protection-agreement.md
  content/github/site-policy/github-ae-product-specific-terms.md
  content/github/site-policy/github-connect-addendum-to-the-github-enterprise-license-agreement.md
  content/github/site-policy/github-data-protection-addendum.md
  content/github/site-policy/github-enterprise-cloud-evaluation-agreement.md
  content/github/site-policy/github-enterprise-server-license-agreement.md
  content/github/site-policy/github-enterprise-service-level-agreement.md
  content/github/site-policy/github-enterprise-subscription-agreement.md
  content/github/site-policy/github-supplemental-terms-for-microsoft-volume-licensing.md
  crowdin.yml
  includes/header-notification.html
  includes/sidebar-specific-product.html
  lib/site-tree.js
  tests/content/lint-files.js
Labels: automated-reposync-pr, automerge, autoupdate

#1501 Include work around for wildcards in HTTP Proxy Exclusion list
  content/admin/configuration/configuring-an-outbound-web-proxy-server.md
Labels: content, core

#1558 Update Windows default shell
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, content, ecosystem

#2672 repo sync
  content/actions/learn-github-actions/managing-complex-workflows.md
  content/actions/learn-github-actions/sharing-workflows-with-your-organization.md
  content/actions/quickstart.md
  data/reusables/actions/workflow-template-overview.md
Labels: automated-reposync-pr, automerge, autoupdate

#2213 update repository url of licensee
  content/github/creating-cloning-and-archiving-repositories/licensing-a-repository.md
Labels: content, core

#2160 Fix accessibility issues on homepage and individual article pages
  includes/article.html
  includes/contribution.html
  includes/header.html
  includes/helpfulness.html
  includes/landing.html
  includes/liquid-tags/link-with-intro.html
  includes/search-form.html
  includes/sidebar-specific-product.html
  includes/sidebar.html
  includes/support.html
  layouts/enterprise-server-releases.html
  layouts/product-landing.html
  tests/rendering/server.js
  tests/unit/liquid-helpers.js
Labels: engineering

#2758 repo sync
  content/actions/guides/publishing-nodejs-packages.md
  content/admin/github-actions/about-using-githubcom-actions-on-github-enterprise-server.md
Labels: automated-reposync-pr, automerge, autoupdate

#2688 Change example dates to match accompanying image on troubleshooting-commits-on-your-timeline.md
  content/github/setting-up-and-managing-your-github-profile/troubleshooting-commits-on-your-timeline.md
Labels: content, core

#2680 Added row for deleting a discussion in repository permissions table
  content/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization.md
Labels: content, core

#2766 repo sync
  .github/workflows/60-days-stale-check.yml
  .github/workflows/automerge-dependencies.yml
  .github/workflows/automerge.yml
  .github/workflows/autoupdate-branch.yml
  .github/workflows/codeql.yml
  .github/workflows/pa11y.yml
  .github/workflows/repo-freeze-check.yml
  .github/workflows/repo-sync-stalls.yml
  .github/workflows/repo-sync.yml
  .github/workflows/site-policy-sync.yml
  .github/workflows/start-new-engineering-pr-workflow.yml
Labels: automated-reposync-pr, automerge, autoupdate

#2768 repo sync
  lib/get-mini-toc-items.js
Labels: automated-reposync-pr, automerge, autoupdate

#2773 repo sync
  assets/images/help/organizations/codespaces-sidebar-tab.png
  assets/images/help/organizations/security-and-analysis-disable-or-enable-all-ghas-dotcom.png
  assets/images/help/organizations/security-and-analysis-enable-or-disable-feature-checkbox-dotcom.png
  assets/images/help/organizations/security-and-analysis-highlight-ghas.png
  assets/images/help/organizations/select-selected-users-radio-button.png
  assets/images/help/repository/choose-used-by-package.png
  assets/images/help/repository/code-scanning-actions-list.png
  assets/images/help/repository/code-scanning-pr-alert.png
  assets/images/help/repository/commit-hello-world-file.png
  assets/images/help/repository/dependency-graph-enable-button.png
  assets/images/help/repository/docker-action-workflow-run-updated.png
  assets/images/help/repository/enable-ghas-confirmation-dotcom.png
  assets/images/help/repository/enable-ghas-dotcom.png
  assets/images/help/repository/enable-secret-scanning-dotcom.png
  assets/images/help/repository/license-review-tool.png
  assets/images/help/repository/repo-change-confirm.png
  assets/images/help/repository/repo-change-select.png
  assets/images/help/repository/security-and-analysis-disable-or-enable-dotcom-private.png
  assets/images/help/repository/security-and-analysis-disable-or-enable-dotcom-public.png
  assets/images/help/repository/super-linter-workflow-results.png
  assets/images/help/settings/codespaces-access-and-security-radio-buttons.png
  assets/images/help/settings/codespaces-access-and-security-repository-drop-down.png
  assets/images/help/settings/codespaces-gpg-verification-radio-buttons.png
  assets/images/help/settings/codespaces-gpg-verification-repository-drop-down.png
  assets/images/help/settings/codespaces-new-secret-button.png
  assets/images/help/settings/codespaces-secret-delete-button.png
  assets/images/help/settings/codespaces-secret-delete-warning.png
  assets/images/help/settings/codespaces-secret-name-field.png
  assets/images/help/settings/codespaces-secret-repository-access-drop-down.png
  assets/images/help/settings/codespaces-secret-repository-checkboxes.png
  assets/images/help/settings/codespaces-secret-update-button.png
  assets/images/help/settings/codespaces-secret-update-value-text.png
  assets/images/help/settings/codespaces-secret-value-field.png
  assets/images/help/settings/codespaces-tab.png
Labels: automated-reposync-pr, automerge, autoupdate

#1651 Explain how workflow run URL is constructed
  content/actions/reference/environment-variables.md
Labels: actions, content, ecosystem

#2568 Fix grammar in building-and-testing-python.md
  content/actions/guides/building-and-testing-python.md
Labels: actions, content, ecosystem, ready to merge

#2626 Correct the example URL
  content/github/using-git/adding-a-remote.md
Labels: content, core, ready to merge

#2003 fix: Update commit trailer Tip
  content/github/committing-changes-to-your-project/creating-a-commit-on-behalf-of-an-organization.md
  content/github/committing-changes-to-your-project/creating-a-commit-with-multiple-authors.md
  data/reusables/pull_requests/commit-message-with-trailer-beginning.md
Labels: content, core

#2188 Update working-with-ssh-key-passphrases.md
  content/github/authenticating-to-github/working-with-ssh-key-passphrases.md
Labels: content, core, stale

#2158 docs: update nodejs template guide to match node versions
  content/actions/guides/building-and-testing-nodejs.md
Labels: actions, content, ecosystem

#2880 repo sync
  content/github/administering-a-repository/about-dependabot-version-updates.md
  content/github/managing-security-vulnerabilities/about-dependabot-security-updates.md
  content/github/managing-security-vulnerabilities/configuring-notifications-for-vulnerable-dependencies.md
  content/github/managing-subscriptions-and-notifications-on-github/managing-notifications-from-your-inbox.md
Labels: automated-reposync-pr, automerge, autoupdate

#2882 repo sync
  assets/images/help/branch/branch-rename-rename.png
  assets/images/help/branch/branch-rename-type.png
  assets/images/help/business-accounts/billing-license-info-click-view-details-or-download.png
  assets/images/help/business-accounts/billing-license-info.png
  content/actions/reference/events-that-trigger-workflows.md
  content/github/administering-a-repository/changing-the-default-branch.md
  content/github/administering-a-repository/index.md
  content/github/administering-a-repository/renaming-a-branch.md
  content/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization.md
  content/github/setting-up-and-managing-your-enterprise/managing-licenses-for-visual-studio-subscription-with-github-enterprise.md
  content/github/setting-up-and-managing-your-enterprise/viewing-the-subscription-and-usage-for-your-enterprise-account.md
  content/github/setting-up-and-managing-your-github-user-account/permission-levels-for-a-user-account-repository.md
  content/github/working-with-github-support/about-github-support.md
  data/reusables/repositories/workflow-notifications.md
Labels: automated-reposync-pr, automerge, autoupdate

#2890 repo sync
  .github/workflows/test-windows.yml
Labels: automated-reposync-pr, automerge, autoupdate

#2891 repo sync
  .github/workflows/site-policy-sync.yml
  assets/images/help/gist/create-secret-gist-button.png
  assets/images/help/gist/gist-visibility-drop-down-ae.png
  assets/images/help/gist/gist-visibility-drop-down.png
  assets/images/help/projects/visibility-radio-buttons-ae.png
  assets/images/help/projects/visibility-radio-buttons.png
  content/github/managing-your-work-on-github/changing-project-board-visibility.md
  content/github/managing-your-work-on-github/copying-a-project-board.md
  content/github/managing-your-work-on-github/creating-a-project-board.md
  content/github/setting-up-and-managing-organizations-and-teams/about-identity-and-access-management-with-saml-single-sign-on.md
  content/github/setting-up-and-managing-organizations-and-teams/about-scim.md
  content/github/setting-up-and-managing-organizations-and-teams/project-board-permissions-for-an-organization.md
  content/github/setting-up-and-managing-organizations-and-teams/synchronizing-a-team-with-an-identity-provider-group.md
  content/github/setting-up-and-managing-organizations-and-teams/viewing-and-managing-a-members-saml-access-to-your-organization.md
  content/github/setting-up-and-managing-your-enterprise/about-identity-and-access-management-for-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/about-user-provisioning-for-organizations-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/configuring-identity-and-access-management-for-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/configuring-saml-single-sign-on-and-scim-for-your-enterprise-account-using-okta.md
  content/github/setting-up-and-managing-your-enterprise/enabling-saml-single-sign-on-for-organizations-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/enforcing-security-settings-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/index.md
  content/github/setting-up-and-managing-your-enterprise/managing-team-synchronization-for-organizations-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/managing-unowned-organizations-in-your-enterprise-account.md
  content/github/setting-up-and-managing-your-enterprise/viewing-and-managing-a-users-saml-access-to-your-enterprise.md
  content/github/setting-up-and-managing-your-github-user-account/permission-levels-for-user-owned-project-boards.md
  content/github/writing-on-github/creating-gists.md
  content/github/writing-on-github/forking-and-cloning-gists.md
  data/glossaries/external.yml
  data/reusables/enterprise-accounts/user-provisioning-release-stage.md
  data/reusables/gist/cannot-convert-public-gists-to-secret.md
  data/reusables/identity-and-permissions/revoking-identity-team-sync.md
  data/reusables/identity-and-permissions/team-sync-azure-permissions.md
  data/reusables/identity-and-permissions/team-sync-confirm.md
  data/reusables/organizations/team-synchronization.md
  data/reusables/project-management/choose-visibility.md
  data/reusables/project-management/project-board-visibility.md
  data/reusables/saml/about-saml-enterprise-accounts.md
  data/reusables/saml/dotcom-saml-explanation.md
  data/variables/gists.yml
  package-lock.json
Labels: automated-reposync-pr, automerge, autoupdate

#2892 repo sync
  assets/images/help/sponsors/export-all.png
  assets/images/help/sponsors/export-your-sponsors.png
  assets/images/help/sponsors/filter-drop-down.png
  content/github/supporting-the-open-source-community-with-github-sponsors/viewing-your-sponsors-and-sponsorships.md
  data/reusables/sponsors/activity-tab.md
Labels: automated-reposync-pr, automerge, autoupdate

#2893 repo sync
  contributing/redirects.md
  lib/page.js
  lib/pages.js
  lib/read-frontmatter.js
  lib/warm-server.js
  tests/unit/page.js
Labels: automated-reposync-pr, automerge, autoupdate

#1938 cover triage level permissions for labels
  content/github/managing-your-work-on-github/managing-labels.md
  content/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization.md
Labels: content, core

#2048 Update using-git-rebase-on-the-command-line.md
  content/github/using-git/using-git-rebase-on-the-command-line.md
Labels: content, core

#2227 Document new keyboard shortcuts for Actions
  content/github/getting-started-with-github/keyboard-shortcuts.md
Labels: actions, content, ecosystem, ready to merge

#2894 repo sync
  content/developers/apps/scopes-for-oauth-apps.md
  content/github/site-policy-deprecated/amendment-to-github-terms-of-service-applicable-to-us-federal-government-users.md
  content/github/site-policy-deprecated/github-ae-data-protection-agreement.md
  content/github/site-policy-deprecated/github-ae-product-specific-terms.md
  content/github/site-policy-deprecated/github-connect-addendum-to-the-github-enterprise-license-agreement.md
  content/github/site-policy-deprecated/github-data-protection-addendum.md
  content/github/site-policy-deprecated/github-enterprise-cloud-evaluation-agreement.md
  content/github/site-policy-deprecated/github-enterprise-server-license-agreement.md
  content/github/site-policy-deprecated/github-enterprise-service-level-agreement.md
  content/github/site-policy-deprecated/github-enterprise-subscription-agreement.md
  content/github/site-policy-deprecated/github-supplemental-terms-for-microsoft-volume-licensing.md
  content/github/site-policy/index.md
  crowdin.yml
  lib/warm-server.js
  middleware/contextualizers/graphql.js
  middleware/contextualizers/webhooks.js
  middleware/csp.js
  package-lock.json
  package.json
  tests/content/lint-files.js
  tests/routing/deprecated-enterprise-versions.js
Labels: automated-reposync-pr, automerge, autoupdate

#1803 Actions: env context cannot be used in job.<job_id>.if
  content/actions/reference/context-and-expression-syntax-for-github-actions.md
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, content, ecosystem, ready to merge

#2751 Add a couple of inline links for convenience to close #2732
  contributing/content-style-guide.md
Labels: contributing docs, ready to merge

#2500 Update README.md
  README.md
Labels: content, contributing docs, ready to merge

#2071 Update about-github-packages.md
  content/packages/learn-github-packages/about-github-packages.md
Labels: content, ecosystem, packages, ready to merge

#2905 repo sync
  content/actions/guides/building-and-testing-net.md
  content/actions/guides/index.md
  data/release-notes/2-22/0.yml
  data/release-notes/3-0/0-rc.yml
Labels: automated-reposync-pr, automerge, autoupdate

#2662 Close #2625 by updating method to enable Dependabot security updates
  assets/images/help/repository/enable-dependabot-security-updates-button.png
  assets/images/help/repository/enable-dependabot-security-updates-drop-down.png
  content/github/managing-security-vulnerabilities/configuring-dependabot-security-updates.md
Labels: DSP, content

#1931 Add info on where posts are published to
  content/github/working-with-github-pages/adding-content-to-your-github-pages-site-using-jekyll.md
Labels: core

#2896 [SEO] Update URLs across Docs footers
  includes/footer.html
  includes/small-footer.html
Labels: ready to merge

#2912 repo sync
  .github/workflows/autoupdate-branch.yml
  .github/workflows/codeql.yml
  includes/liquid-tags/link-with-short-title.html
  lib/liquid-tags/README.md
  lib/liquid-tags/homepage-link-with-intro.js
  lib/liquid-tags/link-in-list.js
  lib/liquid-tags/link-with-intro.js
  lib/liquid-tags/link-with-short-title.js
  lib/liquid-tags/link.js
  lib/liquid-tags/topic-link-in-list.js
  lib/render-content/index.js
  tests/unit/liquid-helpers.js
Labels: automated-reposync-pr, automerge, autoupdate

#2827 Add missing closing bracket to mutation structure
  content/graphql/guides/forming-calls-with-graphql.md
Labels: content, ecosystem

#2602 Correct curl params to match output in examples
  content/rest/overview/resources-in-the-rest-api.md
Labels: content, ecosystem

#2944 repo sync
  script/rest/update-files.js
Labels: automated-reposync-pr, automerge, autoupdate

#2179 Fix workflow_dispatch security statement
  content/actions/managing-workflow-runs/manually-running-a-workflow.md
Labels: actions, content, ecosystem

#2211 include 'shell command' as a possible step task
  content/actions/learn-github-actions/introduction-to-github-actions.md
Labels: actions, content, ecosystem

#2353 Update workflow-syntax-for-github-actions.md
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, content, ecosystem

#2093 Actions: Various fixes for migration pages
  content/actions/learn-github-actions/migrating-from-azure-pipelines-to-github-actions.md
  content/actions/learn-github-actions/migrating-from-circleci-to-github-actions.md
  content/actions/learn-github-actions/migrating-from-gitlab-cicd-to-github-actions.md
  content/actions/learn-github-actions/migrating-from-jenkins-to-github-actions.md
  content/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions.md
  stylesheets/tables.scss
Labels: actions, content, ecosystem

#772 chore: Add missing code fence languages
  content/README.md
  content/actions/creating-actions/dockerfile-support-for-github-actions.md
  content/actions/creating-actions/setting-exit-codes-for-actions.md
  content/actions/guides/building-and-testing-nodejs.md
  content/actions/guides/caching-dependencies-to-speed-up-workflows.md
  content/actions/guides/publishing-nodejs-packages.md
  content/actions/guides/storing-workflow-data-as-artifacts.md
  content/actions/hosting-your-own-runners/using-a-proxy-server-with-self-hosted-runners.md
  content/actions/managing-workflow-runs/adding-a-workflow-status-badge.md
  content/actions/reference/workflow-commands-for-github-actions.md
  content/admin/enterprise-management/evacuating-a-cluster-node.md
  content/admin/enterprise-management/initializing-the-cluster.md
  content/admin/github-actions/manually-syncing-actions-from-githubcom.md
  content/admin/policies/creating-a-pre-receive-hook-script.md
  content/admin/user-management/migrating-to-internal-repositories.md
  content/developers/apps/creating-a-github-app-from-a-manifest.md
  content/developers/apps/creating-ci-tests-with-the-checks-api.md
  content/developers/apps/identifying-and-authorizing-users-for-github-apps.md
  content/developers/overview/secret-scanning.md
  content/github/building-a-strong-community/manually-creating-a-single-issue-template-for-your-repository.md
  content/github/collaborating-with-issues-and-pull-requests/resolving-a-merge-conflict-using-the-command-line.md
  content/github/collaborating-with-issues-and-pull-requests/working-with-pre-receive-hooks.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-codeql-code-scanning-in-your-ci-system.md
  content/github/working-with-github-pages/about-github-pages-and-jekyll.md
  content/github/working-with-github-pages/about-jekyll-build-errors-for-github-pages-sites.md
  content/github/working-with-github-pages/adding-a-theme-to-your-github-pages-site-using-jekyll.md
  content/github/working-with-github-pages/creating-a-custom-404-page-for-your-github-pages-site.md
  content/github/working-with-github-pages/troubleshooting-jekyll-build-errors-for-github-pages-sites.md
  content/github/writing-on-github/basic-writing-and-formatting-syntax.md
  content/github/writing-on-github/organizing-information-with-tables.md
  content/graphql/guides/introduction-to-graphql.md
  content/insights/installing-and-configuring-github-insights/enabling-a-link-between-github-insights-and-github-enterprise.md
  content/packages/guides/configuring-apache-maven-for-use-with-github-packages.md
  content/packages/guides/configuring-npm-for-use-with-github-packages.md
  content/packages/guides/configuring-rubygems-for-use-with-github-packages.md
  content/packages/manage-packages/deleting-a-package.md
Labels: content, hacktoberfest-accepted, never-stale

#2972 repo sync
  content/developers/overview/secret-scanning.md
Labels: automated-reposync-pr, automerge, autoupdate

#2974 repo sync
  content/actions/guides/deploying-to-amazon-elastic-container-service.md
  content/actions/guides/deploying-to-azure-app-service.md
  content/actions/guides/deploying-to-google-kubernetes-engine.md
  content/actions/index.md
  content/discussions/index.md
  data/ui.yml
  includes/article-cards.html
  includes/liquid-tags/link-as-article-card.html
  javascripts/filter-cards.js
  javascripts/show-more.js
  layouts/product-sublanding.html
  lib/get-link-data.js
  lib/liquid-tags/link-as-article-card.js
  lib/liquid-tags/link.js
  lib/page.js
  lib/render-content/index.js
  middleware/csp.js
  tests/browser/browser.js
  tests/unit/liquid-helpers.js
  tests/unit/page.js
Labels: automated-reposync-pr, automerge, autoupdate

#2989 repo sync
  content/github/getting-started-with-github/about-github-advanced-security.md
  content/github/managing-security-vulnerabilities/about-alerts-for-vulnerable-dependencies.md
  content/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization.md
Labels: automated-reposync-pr, automerge, autoupdate

#1293 Update types-of-emails-github-sends.md
  content/github/setting-up-and-managing-your-github-user-account/types-of-emails-github-sends.md
Labels: content, core, never-stale

#2930 Bug fix: update GHES migration procedure reusable
  data/reusables/enterprise_migrations/ready-to-import-migrations.md
Labels: content, core

#3006 repo sync
  .github/allowed-actions.js
  .github/workflows/repo-sync.yml
  .github/workflows/translations.yml
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/managing-code-scanning-alerts-for-your-repository.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/running-codeql-code-scanning-in-your-ci-system.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/sarif-support-for-code-scanning.md
  content/github/finding-security-vulnerabilities-and-errors-in-your-code/uploading-a-sarif-file-to-github.md
  data/reusables/code-scanning/upload-sarif-alert-limit.md
Labels: automated-reposync-pr, automerge, autoupdate

#2380 Add Octocrab to third party libraries
  content/rest/overview/libraries.md
Labels: content, ecosystem, ready to merge

#3012 repo sync
  .github/workflows/triage-unallowed-contributions.yml
Labels: automated-reposync-pr, automerge, autoupdate

#3015 repo sync
  lib/old-versions-utils.js
  lib/permalink.js
  lib/redirects/get-docs-path-from-developer-path.js
  lib/redirects/permalinks.js
  lib/rewrite-local-links.js
  lib/site-tree.js
Labels: automated-reposync-pr, automerge, autoupdate

#2137 Update actions-billing.md
  data/reusables/github-actions/actions-billing.md
Labels: actions, content, ecosystem

#3024 repo sync
  data/release-notes/3-0/0-rc.yml
  includes/head.html
  includes/scripts.html
  layouts/dev-toc.html
  lib/built-asset-urls.js
  middleware/context.js
  tests/rendering/server.js
Labels: automated-reposync-pr, automerge, autoupdate

#2988 Improve docs to be more explanatory
  content/actions/creating-actions/creating-a-docker-container-action.md
Labels: actions, content, ecosystem

#3026 repo sync
  data/reusables/code-scanning/not-available.md
Labels: automated-reposync-pr, automerge, autoupdate

#2850 Update adding-an-existing-project-to-github-using-the-command-line.md
  content/github/importing-your-projects-to-github/adding-an-existing-project-to-github-using-the-command-line.md
Labels: content, core

#3033 repo sync
  content/actions/index.md
  content/discussions/index.md
  content/packages/index.md
Labels: automated-reposync-pr, automerge, autoupdate

#3034 repo sync
  content/insights/installing-and-configuring-github-insights/installing-github-insights.md
Labels: automated-reposync-pr, automerge, autoupdate

#3036 repo sync
  content/actions/guides/about-service-containers.md
  content/actions/guides/building-and-testing-java-with-ant.md
  content/actions/guides/building-and-testing-java-with-gradle.md
  content/actions/guides/building-and-testing-java-with-maven.md
  content/actions/guides/building-and-testing-nodejs.md
  content/actions/guides/building-and-testing-python.md
  content/actions/guides/caching-dependencies-to-speed-up-workflows.md
  content/actions/guides/creating-postgresql-service-containers.md
  content/actions/guides/creating-redis-service-containers.md
  content/actions/guides/publishing-docker-images.md
  content/actions/guides/publishing-java-packages-with-gradle.md
  content/actions/guides/publishing-java-packages-with-maven.md
  content/actions/guides/publishing-nodejs-packages.md
  content/actions/guides/storing-workflow-data-as-artifacts.md
  data/reusables/github-actions/java-jvm-architecture.md
Labels: automated-reposync-pr, automerge, autoupdate

#3037 repo sync
  javascripts/hyperscript.js
  javascripts/search.js
Labels: automated-reposync-pr, automerge, autoupdate

#2485 Added if conditional environment variable example
  content/actions/reference/environment-variables.md
Labels: actions, content, ecosystem

#2900 Updated gradle cache example
  content/actions/guides/building-and-testing-java-with-gradle.md
Labels: actions, content, ecosystem

#2941 Switch HTTP to HTTPS
  content/github/authenticating-to-github/removing-sensitive-data-from-a-repository.md
Labels: content, core

#2936 Update building-and-testing-net.md
  content/actions/guides/building-and-testing-net.md
Labels: actions, content, ecosystem

#2543 audit log data via REST API.
  content/github/setting-up-and-managing-organizations-and-teams/reviewing-the-audit-log-for-your-organization.md
Labels: content, ecosystem

#3047 repo sync
  .github/allowed-actions.js
  .github/workflows/automerge-dependencies.yml
  assets/images/help/organizations/github-pages-creation-checkboxes.png
  assets/images/help/pages/403-file-name.png
  assets/images/help/pages/click-private-pages-url-to-preview.png
  assets/images/help/pages/public-or-private-visibility.png
  content/actions/creating-actions/about-actions.md
  content/actions/learn-github-actions/finding-and-customizing-actions.md
  content/actions/learn-github-actions/security-hardening-for-github-actions.md
  content/actions/reference/workflow-syntax-for-github-actions.md
  content/github/getting-started-with-github/githubs-products.md
  content/github/setting-up-and-managing-organizations-and-teams/disabling-publication-of-github-pages-sites-for-your-organization.md
  content/github/setting-up-and-managing-organizations-and-teams/index.md
  content/github/setting-up-and-managing-organizations-and-teams/managing-the-publication-of-github-pages-sites-for-your-organization.md
  content/github/setting-up-and-managing-organizations-and-teams/permission-levels-for-an-organization.md
  content/github/setting-up-and-managing-organizations-and-teams/reviewing-the-audit-log-for-your-organization.md
  content/github/site-policy/github-subprocessors-and-cookies.md
  content/github/working-with-github-pages/about-github-pages.md
  content/github/working-with-github-pages/changing-the-visibility-of-your-github-pages-site.md
  content/github/working-with-github-pages/creating-a-github-pages-site-with-jekyll.md
  content/github/working-with-github-pages/creating-a-github-pages-site.md
  content/github/working-with-github-pages/index.md
  content/github/working-with-github-pages/unpublishing-a-github-pages-site.md
  contributing/development.md
  data/reusables/gated-features/private-pages.md
  data/reusables/pages/about-private-publishing.md
  data/reusables/pages/choose-visibility.md
  data/reusables/pages/org-owners-can-restrict-pages-creation.md
  data/reusables/pages/private_pages_are_public_warning.md
  data/reusables/pages/twenty-minutes-to-publish.md
  data/reusables/pages/visit-site.md
  javascripts/search.js
  layouts/release-notes.html
  lib/search/algolia-search.js
  middleware/search.js
  package-lock.json
Labels: automated-reposync-pr, automerge, autoupdate

#3051 repo sync
  content/admin/overview/about-github-ae.md
  content/admin/overview/index.md
  lib/liquid-tags/link.js
Labels: automated-reposync-pr, automerge, autoupdate

#3063 repo sync
  content/actions/reference/workflow-syntax-for-github-actions.md
  data/reusables/github-actions/macos-runner-preview.md
Labels: automated-reposync-pr, automerge, autoupdate

#2381 Added Emoji Resource List
  content/github/setting-up-and-managing-your-github-profile/managing-your-profile-readme.md
Labels: content, core

#2740 Fix copy
  content/github/site-policy/github-subprocessors-and-cookies.md
Labels: content, core, site policy

#3071 repo sync
  lib/liquid-tags/link.js
  lib/path-utils.js
  tests/browser/browser.js
Labels: automated-reposync-pr, automerge, autoupdate

#3076 repo sync
  content/github/building-a-strong-community/blocking-a-user-from-your-organization.md
  content/github/building-a-strong-community/blocking-a-user-from-your-personal-account.md
Labels: automated-reposync-pr, automerge, autoupdate

#3078 repo sync
  content/actions/guides/building-and-testing-net.md
  content/admin/enterprise-support/about-github-enterprise-support.md
Labels: automated-reposync-pr, automerge, autoupdate

#3079 repo sync
  assets/images/lynn_hashimoto.png
  content/github/site-policy-deprecated/github-ae-data-protection-agreement.md
Labels: automated-reposync-pr, automerge, autoupdate

#3080 repo sync
  .github/allowed-actions.js
  .github/workflows/dry-run-sync-algolia-search-indices.yml
  .github/workflows/js-lint.yml
  .github/workflows/link-check-test.yml
  .github/workflows/sync-algolia-search-indices.yml
  .github/workflows/sync-single-english-algolia-index.yml
  .github/workflows/test-translations.yml
  .github/workflows/test-windows.yml
  .github/workflows/test.yml
  .github/workflows/yml-lint.yml
  assets/images/site/labtocat.png
  assets/images/site/waldocat.png
  content/github/setting-up-and-managing-organizations-and-teams/managing-the-publication-of-github-pages-sites-for-your-organization.md
  layouts/error-404.html
  layouts/error-500.html
  middleware/csp.js
  package.json
  script/README.md
  script/check-internal-links.js
  tests/helpers/links-checker.js
  tests/links-and-images/links-and-images.js
  tests/rendering/server.js
Labels: automated-reposync-pr, automerge, autoupdate

#2645 Fix workflow syntax
  content/actions/guides/building-and-testing-python.md
Labels: actions, content, ecosystem, ready to merge

#2951 Fix little punctuation error by adding two periods after two words.
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, content, ecosystem, ready to merge

#3092 repo sync
  content/actions/guides/index.md
  data/learning-tracks/actions.yml
Labels: automated-reposync-pr, automerge, autoupdate

#3145 repo sync
  content/github/site-policy/github-and-trade-controls.md
Labels: automated-reposync-pr, automerge, autoupdate

#3148 repo sync
  assets/images/marketplace/accept-marketplace-terms.png
  assets/images/marketplace/apps-with-verified-creator-badges.png
  assets/images/marketplace/developer-settings-in-org-settings.png
  assets/images/marketplace/edit-marketplace-listing-overview.png
  assets/images/marketplace/marketplace_listing_overview.png
  assets/images/marketplace/paid-plan-checklist.png
  assets/images/marketplace/publish-this-plan-button.png
  assets/images/marketplace/publish-your-app-checklist-and-submission.png
  assets/images/marketplace/publisher-verification-checklist.png
  assets/images/marketplace/publisher-verification-settings-option.png
  assets/images/marketplace/publisher-verification.png
  assets/images/marketplace/request-verification-process-starter.png
  assets/images/marketplace/verified-creator-badge-for-actions.png
  content/developers/github-marketplace/about-github-marketplace.md
  content/developers/github-marketplace/about-verified-creator-badges.md
  content/developers/github-marketplace/about-verified-creators.md
  content/developers/github-marketplace/applying-for-publisher-verification-for-your-organization.md
  content/developers/github-marketplace/drafting-a-listing-for-your-app.md
  content/developers/github-marketplace/github-marketplace-overview.md
  content/developers/github-marketplace/index.md
  content/developers/github-marketplace/requirements-for-listing-an-app.md
  content/developers/github-marketplace/setting-pricing-plans-for-your-listing.md
  content/developers/github-marketplace/submitting-your-listing-for-publication.md
  content/github/customizing-your-github-workflow/about-github-marketplace.md
  data/reusables/actions/actions-not-verified.md
  data/reusables/user-settings/edit_marketplace_listing.md
Labels: automated-reposync-pr, automerge, autoupdate

#3155 repo sync
  .github/workflows/link-check-test.yml
  .github/workflows/test.yml
  script/early-access/clone-for-build.js
Labels: automated-reposync-pr, automerge, autoupdate

#3167 repo sync
  content/actions/hosting-your-own-runners/using-self-hosted-runners-in-a-workflow.md
  content/github/site-policy/guidelines-for-legal-requests-of-user-data.md
  content/rest/reference/permissions-required-for-github-apps.md
  data/ui.yml
  includes/article.html
  includes/learning-track-nav.html
  javascripts/search.js
  layouts/product-sublanding.html
  lib/get-link-data.js
  lib/page.js
  middleware/index.js
  middleware/learning-track.js
  middleware/render-page.js
  package.json
  script/check-deps.js
  tests/browser/browser.js
  tests/rendering/learning-tracks.js
Labels: automated-reposync-pr, automerge, autoupdate

#2647 Add an example that helps use custom commands as "shell"
  content/actions/reference/workflow-syntax-for-github-actions.md
Labels: actions, content, ecosystem, ready to merge

#3049 On the code-nav page, link to Tree-sitter instead of Semantic
  content/github/managing-files-in-a-repository/navigating-code-on-github.md
Labels: content, core, ready to merge

#3174 repo sync
  middleware/learning-track.js
  script/check-internal-links.js
Labels: automated-reposync-pr, automerge, autoupdate

#3094 Fix typo in configuring-email-for-notifications.md
  content/admin/configuration/configuring-email-for-notifications.md
Labels: content, core

#3198 repo sync
  assets/images/help/settings/email_services_addresses.png
  assets/images/help/settings/email_services_approved_header.png
  assets/images/help/settings/email_services_token.png
  assets/images/help/settings/save_notification_settings.png
  assets/images/help/settings/setup_notifications_settings.png
  content/admin/configuration/configuring-email-for-notifications.md
  content/github/administering-a-repository/about-email-notifications-for-pushes-to-your-repository.md
  tests/rendering/server.js
Labels: automated-reposync-pr, automerge, autoupdate

#3209 repo sync
  contributing/search.md
Labels: automated-reposync-pr, automerge, autoupdate

#3211 repo sync
  content/github/setting-up-and-managing-your-enterprise/managing-licenses-for-visual-studio-subscription-with-github-enterprise.md
Labels: automated-reposync-pr, automerge, autoupdate

#3212 repo sync
  tests/content/lint-files.js
Labels: automated-reposync-pr, automerge, autoupdate

#3213 repo sync
  data/glossaries/external.yml
  package.json
  tests/browser/browser.js
  tests/content/lint-files.js
Labels: automated-reposync-pr, automerge, autoupdate

#2899 Update caching suggestions for Gradle Builds
  content/actions/guides/building-and-testing-java-with-gradle.md
Labels: actions, content, ecosystem

#3231 repo sync
  .github/workflows/check-for-spammy-issues.yml
Labels: automated-reposync-pr, automerge, autoupdate

#3232 repo sync
  content/developers/apps/creating-ci-tests-with-the-checks-api.md
  content/github/getting-started-with-github/git-cheatsheet.md
Labels: automated-reposync-pr, automerge, autoupdate

#3236 repo sync
  data/release-notes/3-0/0-rc1.yml
  layouts/release-notes.html
  middleware/contextualizers/enterprise-release-notes.js
Labels: automated-reposync-pr, automerge, autoupdate

#3237 repo sync
  .github/workflows/check-for-spammy-issues.yml
Labels: automated-reposync-pr, automerge, autoupdate

#3248 repo sync
  lib/instrument-middleware.js
  middleware/index.js
Labels: automated-reposync-pr, automerge, autoupdate

#3249 repo sync
  lib/instrument-middleware.js
Labels: automated-reposync-pr, automerge, autoupdate

#3261 repo sync
  data/release-notes/2-20/18.yml
  data/release-notes/2-21/9.yml
  data/release-notes/2-22/1.yml
Labels: automated-reposync-pr, automerge, autoupdate

#3263 repo sync
  assets/images/marketplace/apps-with-verified-publisher-badge.png
  assets/images/marketplace/publisher-verification-checklist.png
  content/developers/github-marketplace/about-github-marketplace.md
  content/developers/github-marketplace/about-marketplace-badges.md
  content/developers/github-marketplace/applying-for-publisher-verification-for-your-organization.md
  content/developers/github-marketplace/index.md
  content/github/customizing-your-github-workflow/about-github-marketplace.md
  data/reusables/marketplace/launch-with-free.md
  data/ui.yml
  layouts/product-sublanding.html
  stylesheets/product-sublanding.scss
Labels: automated-reposync-pr, automerge, autoupdate

#3265 repo sync
  content/github/setting-up-and-managing-your-enterprise/about-identity-and-access-management-for-your-enterprise-account.md
  data/reusables/saml/about-user-provisioning-enterprise-account.md
Labels: automated-reposync-pr, automerge, autoupdate

#3266 repo sync
  content/github/managing-security-vulnerabilities/publishing-a-security-advisory.md
Labels: automated-reposync-pr, automerge, autoupdate

#3267 repo sync
  content/README.md
  data/README.md
  data/learning-tracks/README.md
Labels: automated-reposync-pr, automerge, autoupdate

#3274 repo sync
  content/github/getting-started-with-github/git-and-github-learning-resources.md
  content/github/site-policy-deprecated/amendment-to-github-terms-of-service-applicable-to-us-federal-government-users.md
  content/github/site-policy-deprecated/github-ae-data-protection-agreement.md
  content/github/site-policy-deprecated/github-ae-product-specific-terms.md
  content/github/site-policy-deprecated/github-connect-addendum-to-the-github-enterprise-license-agreement.md
  content/github/site-policy-deprecated/github-data-protection-addendum.md
  content/github/site-policy-deprecated/github-enterprise-cloud-evaluation-agreement.md
  content/github/site-policy-deprecated/github-enterprise-server-license-agreement.md
  content/github/site-policy-deprecated/github-enterprise-service-level-agreement.md
  content/github/site-policy-deprecated/github-enterprise-subscription-agreement.md
  content/github/site-policy-deprecated/github-supplemental-terms-for-microsoft-volume-licensing.md
Labels: automated-reposync-pr, automerge, autoupdate

#3276 repo sync
  .github/allowed-actions.js
  .github/workflows/site-policy-sync.yml
Labels: automated-reposync-pr, automerge, autoupdate

#3277 repo sync
  .github/workflows/link-check-dotcom.yml
  .github/workflows/link-check-ghae.yml
  .github/workflows/link-check-ghes.yml
  lib/excluded-links.js
  script/check-english-links.js
  script/check-internal-links.js
Labels: automated-reposync-pr, automerge, autoupdate

#3278 repo sync
  contributing/content-markup-reference.md
  includes/scripts.html
  javascripts/copy-code.js
  javascripts/display-platform-specific-content.js
  javascripts/search.js
  javascripts/wrap-code-terms.js
  lib/render-content/create-processor.js
  lib/render-content/renderContent.js
  lib/search/versions.js
  middleware/context.js
  middleware/search.js
  package-lock.json
  package.json
  script/check-deps.js
Labels: automated-reposync-pr, automerge, autoupdate

#3282 repo sync
  content/github/administering-a-repository/changing-the-default-branch.md
  content/github/administering-a-repository/renaming-a-branch.md
  content/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization.md
  content/github/setting-up-and-managing-your-github-user-account/permission-levels-for-a-user-account-repository.md
Labels: automated-reposync-pr, automerge, autoupdate

#3289 repo sync
  data/reusables/dependabot/supported-package-managers.md
Labels: automated-reposync-pr, automerge, autoupdate

#3293 repo sync
  .github/workflows/test-translations.yml
  content/actions/creating-actions/about-actions.md
  content/actions/creating-actions/creating-a-composite-run-steps-action.md
  content/actions/creating-actions/creating-a-docker-container-action.md
  content/actions/creating-actions/creating-a-javascript-action.md
  content/actions/guides/about-continuous-integration.md
  content/actions/guides/about-packaging-with-github-actions.md
  content/actions/guides/about-service-containers.md
  content/actions/guides/building-and-testing-java-with-ant.md
  content/actions/guides/building-and-testing-java-with-gradle.md
  content/actions/guides/building-and-testing-java-with-maven.md
  content/actions/guides/building-and-testing-nodejs.md
  content/actions/guides/building-and-testing-powershell.md
  content/actions/guides/building-and-testing-python.md
  content/actions/guides/building-and-testing-ruby.md
  content/actions/guides/caching-dependencies-to-speed-up-workflows.md
  content/actions/guides/creating-postgresql-service-containers.md
  content/actions/guides/creating-redis-service-containers.md
  content/actions/guides/deploying-to-amazon-elastic-container-service.md
  content/actions/guides/deploying-to-azure-app-service.md
  content/actions/guides/deploying-to-google-kubernetes-engine.md
  content/actions/guides/index.md
  content/actions/guides/publishing-docker-images.md
  content/actions/guides/publishing-java-packages-with-gradle.md
  content/actions/guides/publishing-java-packages-with-maven.md
  content/actions/guides/publishing-nodejs-packages.md
  content/actions/guides/setting-up-continuous-integration-using-workflow-templates.md
  content/actions/guides/storing-workflow-data-as-artifacts.md
  content/actions/learn-github-actions/essential-features-of-github-actions.md
  content/actions/learn-github-actions/finding-and-customizing-actions.md
  content/actions/learn-github-actions/introduction-to-github-actions.md
  content/actions/learn-github-actions/managing-complex-workflows.md
  content/actions/learn-github-actions/migrating-from-azure-pipelines-to-github-actions.md
  content/actions/learn-github-actions/migrating-from-circleci-to-github-actions.md
  content/actions/learn-github-actions/migrating-from-gitlab-cicd-to-github-actions.md
  content/actions/learn-github-actions/migrating-from-jenkins-to-github-actions.md
  content/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions.md
  content/actions/learn-github-actions/security-hardening-for-github-actions.md
  content/actions/quickstart.md
  data/ui.yml
  includes/article-cards.html
  includes/liquid-tags/link-as-article-card.html
  javascripts/filter-cards.js
  layouts/product-sublanding.html
  lib/frontmatter.js
  lib/liquid-tags/link-as-article-card.js
  lib/page.js
  tests/fixtures/article-with-includeGuides.md
  tests/unit/liquid-helpers.js
  tests/unit/page.js
Labels: automated-reposync-pr, automerge, autoupdate
