Repository github/docs, pull requests merged in 2022-02, with the labels that each got.

#14873 repo sync
  .github/workflows/openapi-decorate.yml
  components/release-notes/PatchNotes.tsx
Labels: automated-reposync-pr

#13508 Update Keyboard Shortcuts to meet GitHub's new Content Style Guide
  content/get-started/using-github/keyboard-shortcuts.md
Labels: content, waiting for review

#14782 Update about-dependency-review.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
Labels: content, waiting for review

#14908 repo sync
  package-lock.json
  package.json
  script/content-migrations/update-short-titles-from-csv.js
Labels: automated-reposync-pr

#13742 Fix #13741 : Self hosted Pull-based scale update
  content/actions/hosting-your-own-runners/autoscaling-with-self-hosted-runners.md
Labels: content, actions, ready to merge, waiting for review

#14741 updated the events-that-trigger-workflows by fixing a typo
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: content, ready to merge

#14115 Add how to view/download a file
  assets/images/help/repository/raw-file-button.png
  content/repositories/working-with-files/using-files/index.md
  content/repositories/working-with-files/using-files/viewing-a-file.md
  translations/es-ES/content/repositories/working-with-files/using-files/tracking-changes-in-a-file.md
  translations/ja-JP/content/repositories/working-with-files/using-files/tracking-changes-in-a-file.md
  translations/pt-BR/content/repositories/working-with-files/using-files/tracking-changes-in-a-file.md
  translations/zh-CN/content/repositories/working-with-files/using-files/tracking-changes-in-a-file.md
Labels: content, ready to merge

#14914 repo sync
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  content/actions/hosting-your-own-runners/autoscaling-with-self-hosted-runners.md
  data/reusables/github-actions/self-hosted-runner-configure.md
Labels: automated-reposync-pr

#14553 Added explanation about workdir override in entrypoint
  content/actions/creating-actions/dockerfile-support-for-github-actions.md
Labels: content, actions, ready to merge

#14917 repo sync
  .github/workflows/prod-build-deploy-azure.yml
  .github/workflows/prod-build-deploy.yml
Labels: automated-reposync-pr

#14919 repo sync
  script/check-english-links.js
Labels: automated-reposync-pr

#13708 Note case-sensitivity of CODEOWERS in CODEOWNERS syntax docs
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
Labels: content, ready to merge

#14928 repo sync
  package-lock.json
  package.json
  script/search/validate-records.js
Labels: automated-reposync-pr

#14934 repo sync
  content/actions/security-guides/encrypted-secrets.md
  package-lock.json
  package.json
Labels: automated-reposync-pr

#14937 repo sync
  package-lock.json
  package.json
Labels: automated-reposync-pr

#14940 repo sync
  package-lock.json
  package.json
Labels: automated-reposync-pr

#14942 repo sync
  package-lock.json
  package.json
Labels: automated-reposync-pr

#14961 repo sync
  assets/images/help/sponsors/grant-sponsors-access-to-repo-checkbox.png
  assets/images/help/sponsors/grant-sponsors-access-to-repo-dropdown.png
  content/repositories/creating-and-managing-repositories/transferring-a-repository.md
  content/sponsors/receiving-sponsorships-through-github-sponsors/managing-your-sponsorship-tiers.md
  data/reusables/sponsors/sponsors-only-repos.md
  data/reusables/sponsors/tier-details.md
Labels: automated-reposync-pr

#14966 repo sync
  contributing/redirects.md
Labels: automated-reposync-pr

#14912 Set all x-ratelimit-* header names to loweracse
  content/rest/overview/resources-in-the-rest-api.md
Labels: content, ready to merge, rest

#12909 Make action metadata file introduction more open
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
Labels: content, actions, ready to merge

#14969 repo sync
  .dockerignore
  .github/actions-scripts/merge-early-access.sh
  .github/actions-scripts/prune-for-preview-env.sh
  .github/workflows/main-preview-docker-cache.yml
  .github/workflows/prod-build-deploy-azure.yml
  .github/workflows/staging-build-and-deploy-azure.yml
  Dockerfile
  components/DefaultLayout.tsx
  components/article/ToolPicker.tsx
  components/release-notes/GHESReleaseNotePatch.tsx
  components/release-notes/PatchNotes.tsx
  content/README.md
  content/get-started/using-github/keyboard-shortcuts.md
  contributing/content-markup-reference.md
  data/release-notes/enterprise-server/3-0/24.yml
  data/release-notes/enterprise-server/3-1/16.yml
  data/release-notes/enterprise-server/3-2/8.yml
  data/release-notes/enterprise-server/3-3/3.yml
  lib/frontmatter.js
  lib/liquid-tags/extended-markdown.js
  lib/page.js
  lib/schema-event.js
  staging-azure-deploy-template.json
Labels: automated-reposync-pr

#14970 repo sync
  .github/workflows/optimize-images.yml
  assets/images/help/settings/compliance-report-download.png
  content/admin/overview/accessing-compliance-reports-for-your-enterprise.md
  content/admin/overview/index.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-security-settings-in-your-enterprise.md
  content/code-security/getting-started/securing-your-organization.md
  content/issues/index.md
  content/organizations/keeping-your-organization-secure/index.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/accessing-compliance-reports-for-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/index.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-allowed-ip-addresses-for-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/restricting-email-notifications-for-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-your-organizations-installed-integrations.md
  content/organizations/keeping-your-organization-secure/managing-two-factor-authentication-for-your-organization/index.md
  content/organizations/keeping-your-organization-secure/managing-two-factor-authentication-for-your-organization/preparing-to-require-two-factor-authentication-in-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-two-factor-authentication-for-your-organization/requiring-two-factor-authentication-in-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-two-factor-authentication-for-your-organization/viewing-whether-users-in-your-organization-have-2fa-enabled.md
  content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
  data/reusables/security/compliance-report-list.md
  data/reusables/security/compliance-report-screenshot.md
  translations/es-ES/content/organizations/keeping-your-organization-secure/managing-allowed-ip-addresses-for-your-organization.md
  translations/es-ES/content/organizations/keeping-your-organization-secure/managing-security-and-analysis-settings-for-your-organization.md
  translations/es-ES/content/organizations/keeping-your-organization-secure/preparing-to-require-two-factor-authentication-in-your-organization.md
  translations/es-ES/content/organizations/keeping-your-organization-secure/requiring-two-factor-authentication-in-your-organization.md
  translations/es-ES/content/organizations/keeping-your-organization-secure/restricting-email-notifications-for-your-organization.md
  translations/es-ES/content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
  translations/es-ES/content/organizations/keeping-your-organization-secure/reviewing-your-organizations-installed-integrations.md
  translations/es-ES/content/organizations/keeping-your-organization-secure/viewing-whether-users-in-your-organization-have-2fa-enabled.md
  translations/ja-JP/content/organizations/keeping-your-organization-secure/managing-allowed-ip-addresses-for-your-organization.md
  translations/ja-JP/content/organizations/keeping-your-organization-secure/managing-security-and-analysis-settings-for-your-organization.md
  translations/ja-JP/content/organizations/keeping-your-organization-secure/preparing-to-require-two-factor-authentication-in-your-organization.md
  translations/ja-JP/content/organizations/keeping-your-organization-secure/requiring-two-factor-authentication-in-your-organization.md
  translations/ja-JP/content/organizations/keeping-your-organization-secure/restricting-email-notifications-for-your-organization.md
  translations/ja-JP/content/organizations/keeping-your-organization-secure/reviewing-your-organizations-installed-integrations.md
  translations/ja-JP/content/organizations/keeping-your-organization-secure/viewing-whether-users-in-your-organization-have-2fa-enabled.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/managing-allowed-ip-addresses-for-your-organization.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/managing-security-and-analysis-settings-for-your-organization.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/preparing-to-require-two-factor-authentication-in-your-organization.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/requiring-two-factor-authentication-in-your-organization.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/restricting-email-notifications-for-your-organization.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/reviewing-your-organizations-installed-integrations.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/viewing-whether-users-in-your-organization-have-2fa-enabled.md
  translations/zh-CN/content/organizations/keeping-your-organization-secure/managing-allowed-ip-addresses-for-your-organization.md
  translations/zh-CN/content/organizations/keeping-your-organization-secure/managing-security-and-analysis-settings-for-your-organization.md
  translations/zh-CN/content/organizations/keeping-your-organization-secure/preparing-to-require-two-factor-authentication-in-your-organization.md
  translations/zh-CN/content/organizations/keeping-your-organization-secure/requiring-two-factor-authentication-in-your-organization.md
  translations/zh-CN/content/organizations/keeping-your-organization-secure/restricting-email-notifications-for-your-organization.md
  translations/zh-CN/content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
  translations/zh-CN/content/organizations/keeping-your-organization-secure/reviewing-your-organizations-installed-integrations.md
  translations/zh-CN/content/organizations/keeping-your-organization-secure/viewing-whether-users-in-your-organization-have-2fa-enabled.md
Labels: automated-reposync-pr

#14972 repo sync
  .github/workflows/codeql.yml
  .github/workflows/enterprise-dates.yml
  .github/workflows/main-preview-docker-cache.yml
  .github/workflows/prod-build-deploy-azure.yml
  .github/workflows/remove-unused-assets.yml
  .github/workflows/staging-build-and-deploy-azure.yml
  .github/workflows/update-graphql-files.yml
  components/page-header/Header.tsx
  package-lock.json
  package.json
  script/rest/utils/create-code-samples.js
Labels: automated-reposync-pr

#14976 repo sync
  .github/workflows/package-lock-lint.yml
  content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-custom-repository-roles-for-an-organization.md
  package-lock.json
  package.json
Labels: automated-reposync-pr

#14979 repo sync
  .github/dependabot.yml
  .github/workflows/optimize-images.yml
  assets/images/help/organizations/org-oauth-applications-ghe.png
  assets/images/help/repository/raw-file-button.png
  assets/images/help/settings/compliance-report-download.png
  assets/images/help/sponsors/grant-sponsors-access-to-repo-checkbox.png
  assets/images/help/sponsors/grant-sponsors-access-to-repo-dropdown.png
  package-lock.json
  package.json
Labels: automated-reposync-pr

#14983 repo sync
  assets/images/site/favicon.ico
  lib/webhooks/static/dotcom/check_run.completed.payload.json
  lib/webhooks/static/dotcom/check_run.created.payload.json
  lib/webhooks/static/dotcom/check_suite.completed.payload.json
  lib/webhooks/static/dotcom/check_suite.requested.payload.json
  lib/webhooks/static/dotcom/check_suite.rerequested.payload.json
  lib/webhooks/static/ghae/check_run.completed.payload.json
  lib/webhooks/static/ghae/check_run.created.payload.json
  lib/webhooks/static/ghae/check_suite.completed.payload.json
  lib/webhooks/static/ghae/check_suite.requested.payload.json
  lib/webhooks/static/ghae/check_suite.rerequested.payload.json
  lib/webhooks/static/ghae/push.payload.json
  lib/webhooks/static/ghae/status.payload.json
  lib/webhooks/static/ghes-3.0/check_run.completed.payload.json
  lib/webhooks/static/ghes-3.0/check_run.created.payload.json
  lib/webhooks/static/ghes-3.0/check_suite.completed.payload.json
  lib/webhooks/static/ghes-3.0/check_suite.requested.payload.json
  lib/webhooks/static/ghes-3.0/check_suite.rerequested.payload.json
  lib/webhooks/static/ghes-3.0/push.payload.json
  lib/webhooks/static/ghes-3.0/status.payload.json
  lib/webhooks/static/ghes-3.1/check_run.completed.payload.json
  lib/webhooks/static/ghes-3.1/check_run.created.payload.json
  lib/webhooks/static/ghes-3.1/check_suite.completed.payload.json
  lib/webhooks/static/ghes-3.1/check_suite.requested.payload.json
  lib/webhooks/static/ghes-3.1/check_suite.rerequested.payload.json
  lib/webhooks/static/ghes-3.1/push.payload.json
  lib/webhooks/static/ghes-3.1/status.payload.json
  lib/webhooks/static/ghes-3.2/check_run.completed.payload.json
  lib/webhooks/static/ghes-3.2/check_run.created.payload.json
  lib/webhooks/static/ghes-3.2/check_suite.completed.payload.json
  lib/webhooks/static/ghes-3.2/check_suite.requested.payload.json
  lib/webhooks/static/ghes-3.2/check_suite.rerequested.payload.json
  lib/webhooks/static/ghes-3.2/push.payload.json
  lib/webhooks/static/ghes-3.2/status.payload.json
  lib/webhooks/static/ghes-3.3/check_run.completed.payload.json
  lib/webhooks/static/ghes-3.3/check_run.created.payload.json
  lib/webhooks/static/ghes-3.3/check_suite.completed.payload.json
  lib/webhooks/static/ghes-3.3/check_suite.requested.payload.json
  lib/webhooks/static/ghes-3.3/check_suite.rerequested.payload.json
  lib/webhooks/static/ghes-3.3/push.payload.json
  lib/webhooks/static/ghes-3.3/status.payload.json
  middleware/favicon.js
  middleware/index.js
  package-lock.json
  package.json
  script/find-orphaned-assets.mjs
  tests/rendering/favicon.js
Labels: automated-reposync-pr

#14988 repo sync
  content/actions/index.md
  data/product-examples/actions/code-examples.yml
Labels: automated-reposync-pr

#14991 repo sync
  .github/workflows/staging-build-and-deploy-azure.yml
Labels: automated-reposync-pr

#14996 repo sync
  components/landing/CodeExamples.tsx
  data/product-examples/README.md
  tests/browser/browser.js
Labels: automated-reposync-pr

#15002 repo sync
  data/reusables/codespaces/codespaces-billing.md
Labels: automated-reposync-pr

#15010 repo sync
  content/actions/learn-github-actions/usage-limits-billing-and-administration.md
  content/admin/github-actions/advanced-configuration-and-troubleshooting/troubleshooting-github-actions-for-your-enterprise.md
  content/admin/index.md
  content/admin/user-management/managing-organizations-in-your-enterprise/adding-people-to-teams.md
  content/admin/user-management/managing-organizations-in-your-enterprise/continuous-integration-using-jenkins.md
  content/admin/user-management/managing-organizations-in-your-enterprise/creating-teams.md
  content/admin/user-management/managing-organizations-in-your-enterprise/managing-projects-using-jira.md
  content/admin/user-management/managing-organizations-in-your-enterprise/removing-users-from-teams-and-organizations.md
  content/get-started/signing-up-for-github/setting-up-a-trial-of-github-ae.md
  content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  content/rest/reference/scim.md
Labels: automated-reposync-pr

#15012 repo sync
  assets/images/help/repository/code-scanning-experimental-alert-list.png
  assets/images/help/repository/code-scanning-experimental-alert-show.png
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-alerts.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-with-codeql.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/index.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/running-codeql-code-scanning-in-a-container.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/triaging-code-scanning-alerts-in-pull-requests.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  content/code-security/code-scanning/index.md
  content/code-security/code-scanning/integrating-with-code-scanning/about-integration-with-code-scanning.md
  content/code-security/code-scanning/integrating-with-code-scanning/index.md
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  content/code-security/code-scanning/integrating-with-code-scanning/uploading-a-sarif-file-to-github.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-runner-in-your-ci-system.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/index.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/running-codeql-runner-in-your-ci-system.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/troubleshooting-codeql-runner-in-your-ci-system.md
  content/code-security/guides.md
  data/features/codeql-ml-queries.yml
  data/reusables/code-scanning/beta-codeql-ml-queries.md
  data/reusables/code-scanning/codeql-query-suites-explanation.md
  data/reusables/code-scanning/codeql-query-suites.md
Labels: automated-reposync-pr

#15019 repo sync
  .github/workflows/triage-pull-requests.yml
Labels: automated-reposync-pr

#15021 repo sync
  .github/actions-scripts/merge-early-access.sh
  .github/workflows/azure-preview-env-deploy.yml
  .github/workflows/azure-preview-env-destroy.yml
  .github/workflows/workflow-lint.yml
  azure-preview-env-template.json
Labels: triage, automated-reposync-pr

#15024 repo sync
  assets/images/help/pull_requests/pull-request-update-branch-rebase-option.png
  assets/images/help/pull_requests/pull-request-update-branch-with-dropdown.png
  assets/images/help/pull_requests/pull-request-update-branch.png
  assets/images/help/repository/always-suggest-updating-branches.png
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request.md
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/index.md
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/keeping-your-pull-request-in-sync-with-the-base-branch.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/configuring-commit-rebasing-for-pull-requests.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/configuring-commit-squashing-for-pull-requests.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/index.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-auto-merge-for-pull-requests-in-your-repository.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-suggestions-to-update-pull-request-branches.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-the-automatic-deletion-of-branches.md
Labels: triage, automated-reposync-pr

#15027 repo sync
  assets/images/help/command-palette/command-palette-keyboard-shortcut-settings.png
  components/lib/events.ts
  components/sidebar/AllProductsLink.tsx
  components/sidebar/SidebarHomepage.tsx
  content/get-started/using-github/github-command-palette.md
  lib/page.js
  middleware/render-page.js
  tests/rendering/server.js
  tests/unit/page.js
Labels: triage, automated-reposync-pr

#15034 repo sync
  .github/workflows/azure-preview-env-deploy.yml
  .github/workflows/azure-preview-env-destroy.yml
Labels: triage, automated-reposync-pr

#15041 repo sync
  .github/workflows/azure-preview-env-destroy.yml
  Dockerfile
  azure-preview-env-template.json
  docker-compose.prod.tmpl.yaml
  lib/prefix-stream-write.js
  package-lock.json
  package.json
  server.mjs
Labels: triage, automated-reposync-pr

#15043 repo sync
  .github/workflows/azure-preview-env-deploy.yml
Labels: triage, automated-reposync-pr

#15045 repo sync
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#14998 OIDC - Adding permissions settings
  content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-azure.md
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-cloud-providers.md
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-google-cloud-platform.md
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-hashicorp-vault.md
  data/reusables/actions/oidc-permissions-token.md
Labels: content, actions, waiting for review

#15073 repo sync
  content/rest/reference/permissions-required-for-github-apps.md
Labels: triage, automated-reposync-pr

#15074 repo sync
  crowdin.yml
  lib/create-tree.js
  lib/page-data.js
  tests/unit/load-translation-orphans.js
  tests/unit/pages.js
Labels: triage, automated-reposync-pr

#14994 Fix "labels" type
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms.md
Labels: content, ready to merge, waiting for review

#15077 repo sync
  .devcontainer/devcontainer.json
Labels: triage, automated-reposync-pr

#15080 repo sync
  content/rest/reference/permissions-required-for-github-apps.md
Labels: triage, automated-reposync-pr

#15083 repo sync
  middleware/archived-asset-redirects.js
  middleware/index.js
Labels: triage, automated-reposync-pr

#15085 repo sync
  assets/images/help/organizations/member-privileges.png
  content/organizations/managing-organization-settings/managing-the-forking-policy-for-your-organization.md
  data/reusables/profile/org_member_privileges.md
  middleware/index.js
  middleware/set-fastly-surrogate-key.js
  tests/rendering/server.js
Labels: triage, automated-reposync-pr

#15086 repo sync
  lib/page-data.js
Labels: triage, automated-reposync-pr

#15088 repo sync
  assets/images/help/settings/accessibility-tab.png
  assets/images/help/settings/codespaces-tab.png
  assets/images/help/settings/org-settings-pages.png
  assets/images/help/settings/settings-sidebar-billing-plans.png
  assets/images/help/settings/settings-sidebar-blocked-users.png
  assets/images/help/settings/settings-sidebar-interaction-limits.png
  assets/images/help/settings/settings-sidebar-organizations.png
  assets/images/help/settings/settings-sidebar-third-party-access.png
  assets/images/help/settings/user-settings-pages.png
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-access-to-your-personal-repositories/removing-yourself-from-a-collaborators-repository.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/integrating-jira-with-your-personal-projects.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/managing-your-tab-size-rendering-preference.md
  content/authentication/keeping-your-account-and-data-secure/reviewing-your-deploy-keys.md
  content/communities/moderating-comments-and-conversations/limiting-interactions-for-your-user-account.md
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/verifying-your-custom-domain-for-github-pages.md
  data/reusables/organizations/billing-settings.md
  data/reusables/organizations/oauth_app_access.md
  data/reusables/organizations/teams_sidebar.md
  data/reusables/repositories/sidebar-notifications.md
  data/reusables/user-settings/oauth_apps.md
  data/reusables/user_settings/access_applications.md
  data/reusables/user_settings/accessibility_settings.md
  data/reusables/user_settings/account_settings.md
  data/reusables/user_settings/appearance-settings.md
  data/reusables/user_settings/billing_plans.md
  data/reusables/user_settings/blocked_users.md
  data/reusables/user_settings/codespaces-tab.md
  data/reusables/user_settings/developer_settings.md
  data/reusables/user_settings/emails.md
  data/reusables/user_settings/organizations.md
  data/reusables/user_settings/repo-tab.md
  data/reusables/user_settings/saved_replies.md
  data/reusables/user_settings/security-analysis.md
  data/reusables/user_settings/security.md
  data/reusables/user_settings/ssh.md
Labels: triage, automated-reposync-pr

#15093 repo sync
  content/admin/configuration/configuring-your-enterprise/configuring-backups-on-your-appliance.md
Labels: triage, automated-reposync-pr

#15098 repo sync
  components/article/PlatformPicker.tsx
  components/page-header/VersionPicker.tsx
  data/ui.yml
Labels: triage, automated-reposync-pr

#15101 repo sync
  .github/actions-scripts/content-changes-table-comment.js
  .github/actions-scripts/get-preview-app-info.sh
  .github/workflows/azure-preview-env-deploy.yml
  .github/workflows/azure-preview-env-destroy.yml
  .github/workflows/content-changes-table-comment.yml
Labels: triage, automated-reposync-pr

#15169 repo sync
  translations/es-ES/content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-access-to-your-personal-repositories/removing-yourself-from-a-collaborators-repository.md
  translations/es-ES/content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/integrating-jira-with-your-personal-projects.md
  translations/es-ES/content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/managing-your-tab-size-rendering-preference.md
  translations/es-ES/content/admin/configuration/configuring-your-enterprise/configuring-backups-on-your-appliance.md
  translations/es-ES/content/authentication/keeping-your-account-and-data-secure/reviewing-your-deploy-keys.md
  translations/es-ES/content/communities/moderating-comments-and-conversations/limiting-interactions-for-your-user-account.md
  translations/es-ES/content/pages/configuring-a-custom-domain-for-your-github-pages-site/verifying-your-custom-domain-for-github-pages.md
  translations/es-ES/data/reusables/organizations/billing-settings.md
  translations/es-ES/data/reusables/organizations/oauth_app_access.md
  translations/es-ES/data/reusables/organizations/teams_sidebar.md
  translations/es-ES/data/reusables/repositories/sidebar-notifications.md
  translations/es-ES/data/reusables/user-settings/oauth_apps.md
  translations/es-ES/data/reusables/user_settings/access_applications.md
  translations/es-ES/data/reusables/user_settings/accessibility_settings.md
  translations/es-ES/data/reusables/user_settings/account_settings.md
  translations/es-ES/data/reusables/user_settings/appearance-settings.md
  translations/es-ES/data/reusables/user_settings/billing_plans.md
  translations/es-ES/data/reusables/user_settings/blocked_users.md
  translations/es-ES/data/reusables/user_settings/codespaces-tab.md
  translations/es-ES/data/reusables/user_settings/developer_settings.md
  translations/es-ES/data/reusables/user_settings/emails.md
  translations/es-ES/data/reusables/user_settings/organizations.md
  translations/es-ES/data/reusables/user_settings/repo-tab.md
  translations/es-ES/data/reusables/user_settings/saved_replies.md
  translations/es-ES/data/reusables/user_settings/security-analysis.md
  translations/es-ES/data/reusables/user_settings/security.md
  translations/es-ES/data/reusables/user_settings/ssh.md
  translations/es-ES/data/ui.yml
Labels: triage, automated-reposync-pr

#15133 The missing full stop has been added.
  content/rest/guides/delivering-deployments.md
Labels: triage

#15214 repo sync
  content/rest/reference/permissions-required-for-github-apps.md
Labels: triage, automated-reposync-pr

#15215 repo sync
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#15082 Updating ghcr_token to github_token
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
  data/reusables/actions/jobs/section-running-jobs-in-a-container-credentials.md
Labels: content, actions, waiting for review

#15219 repo sync
  assets/images/help/repository/code-scanning-alert-tracked-in-pill.png
  assets/images/help/repository/code-scanning-alert.png
  assets/images/help/repository/code-scanning-create-issue-for-alert.png
  assets/images/help/repository/code-scanning-experimental-alert-show.png
  assets/images/help/repository/code-scanning-free-text-search-areas.png
  assets/images/help/repository/code-scanning-pr-alert.png
  assets/images/help/repository/code-scanning-show-paths.png
Labels: triage, automated-reposync-pr

#15227 repo sync
  middleware/index.js
  middleware/set-fastly-surrogate-key.js
  middleware/static-asset-caching.js
Labels: triage, automated-reposync-pr

#15078 Add security overview to github-security-features.md
  content/code-security/getting-started/github-security-features.md
Labels: content, waiting for review, code security

#15243 repo sync
  content/rest/reference/enterprise-admin.md
Labels: triage, automated-reposync-pr

#15124 [Actions] `push` event does not have Activity types
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: content, actions, ready to merge

#14895 📝 Clarify usage of single quotes in string datatype for literals
  content/actions/learn-github-actions/expressions.md
Labels: content, actions, ready to merge, waiting for review

#14992 Update actions-scheduled-workflow-example.md
  data/reusables/repositories/actions-scheduled-workflow-example.md
Labels: content, actions, ready to merge

#14876 Fix value of GITHUB_REF for release events
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: content, actions, ready to merge

#15258 repo sync
  .devcontainer/Dockerfile
  .devcontainer/library-scripts/github-debian.sh
Labels: triage, automated-reposync-pr

#15260 repo sync
  assets/images/help/2fa/2fa-recovery-code-link.png
  assets/images/help/2fa/2fa-type-verify-recovery-code.png
  assets/images/help/2fa/alt-verifications.png
  assets/images/help/2fa/no-access-link.png
  assets/images/help/2fa/one-time-password-field.png
  assets/images/help/2fa/reset-auth-settings.png
  assets/images/help/2fa/send-one-time-password.png
  assets/images/help/2fa/try-recovering-your-account-link.png
  assets/images/help/2fa/verify-email-address.png
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/recovering-your-account-if-you-lose-your-2fa-credentials.md
  data/reusables/accounts/you-must-know-your-password.md
  package-lock.json
  package.json
  script/README.md
  script/deploy.js
  tests/meta/repository-references.js
Labels: triage, automated-reposync-pr

#13663 Update authorizing-oauth-apps.md
  content/developers/apps/building-oauth-apps/authorizing-oauth-apps.md
Labels: content, ready to merge

#15030 Update for gradle/gradle-build-action@v2.1.3
  content/actions/automating-builds-and-tests/building-and-testing-java-with-gradle.md
  content/actions/publishing-packages/publishing-java-packages-with-gradle.md
Labels: content, actions, ready to merge

#14856 Add reference to scorecards
  content/actions/security-guides/security-hardening-for-github-actions.md
Labels: content, actions, ready to merge, waiting for review

#15271 Update about-identity-and-access-management-for-your-enterprise.md
  content/admin/identity-and-access-management/managing-iam-for-your-enterprise/about-identity-and-access-management-for-your-enterprise.md
Labels: content, enterprise, waiting for review

#15291 repo sync
  components/Search.tsx
  lib/render-content/plugins/rewrite-local-links.js
  tests/fixtures/page-with-deprecated-enterprise-links.md
  tests/unit/page.js
  translations/pt-BR/content/actions/learn-github-actions/expressions.md
  translations/pt-BR/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/pt-BR/content/actions/using-workflows/workflow-syntax-for-github-actions.md
  translations/pt-BR/content/admin/enterprise-management/configuring-clustering/differences-between-clustering-and-high-availability-ha.md
  translations/pt-BR/content/authentication/securing-your-account-with-two-factor-authentication-2fa/recovering-your-account-if-you-lose-your-2fa-credentials.md
  translations/pt-BR/content/code-security/getting-started/github-security-features.md
  translations/pt-BR/content/rest/reference/enterprise-admin.md
  translations/pt-BR/content/rest/reference/permissions-required-for-github-apps.md
  translations/pt-BR/data/reusables/accounts/you-must-know-your-password.md
  translations/pt-BR/data/reusables/actions/jobs/section-running-jobs-in-a-container-credentials.md
  translations/pt-BR/data/reusables/repositories/actions-scheduled-workflow-example.md
  translations/zh-CN/content/actions/learn-github-actions/expressions.md
  translations/zh-CN/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/zh-CN/content/actions/using-workflows/workflow-syntax-for-github-actions.md
  translations/zh-CN/content/admin/enterprise-management/configuring-clustering/differences-between-clustering-and-high-availability-ha.md
  translations/zh-CN/content/authentication/securing-your-account-with-two-factor-authentication-2fa/recovering-your-account-if-you-lose-your-2fa-credentials.md
  translations/zh-CN/content/code-security/getting-started/github-security-features.md
  translations/zh-CN/content/rest/reference/enterprise-admin.md
  translations/zh-CN/content/rest/reference/permissions-required-for-github-apps.md
  translations/zh-CN/data/reusables/accounts/you-must-know-your-password.md
  translations/zh-CN/data/reusables/actions/jobs/section-running-jobs-in-a-container-credentials.md
  translations/zh-CN/data/reusables/repositories/actions-scheduled-workflow-example.md
Labels: triage, automated-reposync-pr

#15293 repo sync
  middleware/search.js
  tests/content/search.js
Labels: triage, automated-reposync-pr

#15255 Update usage minutes "Sample minutes cost calculation"
  content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
Labels: content, waiting for review

#15295 repo sync
  components/playground/PlaygroundArticle.tsx
Labels: triage, automated-reposync-pr

#15286 Force pushing has its use
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests.md
Labels: content, waiting for review

#15301 repo sync
  middleware/handle-errors.js
  tests/rendering/static-assets.js
Labels: triage, automated-reposync-pr

#15313 repo sync
  assets/images/commonmark-lists.png
  contributing/content-markup-reference.md
Labels: triage, automated-reposync-pr

#15314 repo sync
  content/actions/security-guides/automatic-token-authentication.md
  data/reusables/github-actions/github-token-available-permissions.md
Labels: triage, automated-reposync-pr

#15315 repo sync
  content/communities/maintaining-your-safety-on-github/reporting-abuse-or-spam.md
  content/github/site-policy/submitting-content-removal-requests.md
Labels: triage, automated-reposync-pr

#15253 Enhance "About GitHub Advanced Security" page
  content/get-started/learning-about-github/about-github-advanced-security.md
Labels: content, waiting for review

#15318 repo sync
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/about-forks.md
Labels: triage, automated-reposync-pr

#15320 repo sync
  content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
Labels: triage, automated-reposync-pr

#14757 Typo fix in building a strong community
  content/github/site-policy/github-community-guidelines.md
Labels: content, site policy, ready to merge

#15305 Remove unnecessary use of range of days
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/recovering-your-account-if-you-lose-your-2fa-credentials.md
Labels: content, ready to merge

#15333 repo sync
  middleware/catch-bad-accept-language.js
  middleware/index.js
  package-lock.json
  package.json
  tests/rendering/server.js
Labels: triage, automated-reposync-pr

#15335 repo sync
  .dockerignore
  .github/workflows/azure-preview-env-deploy.yml
  .github/workflows/azure-preview-env-destroy.yml
  .github/workflows/main-preview-docker-cache.yml
  .gitignore
  Dockerfile
  assets/images/help/billing/actions-packages-spending-limit-notifications.png
  assets/images/help/billing/codespaces-spending-limit-notifications.png
  content/actions/using-workflows/workflow-commands-for-github-actions.md
  content/billing/managing-billing-for-github-codespaces/managing-spending-limits-for-codespaces.md
  data/reusables/billing/email-notifications.md
Labels: triage, automated-reposync-pr

#15338 repo sync
  .github/workflows/azure-preview-env-deploy.yml
  assets/images/enterprise/3.2/repository/secret-scanning-create-custom-pattern.png
  assets/images/help/repository/secret-scanning-create-custom-pattern.png
  assets/images/help/repository/secret-scanning-publish-pattern.png
  azure-preview-env-template.json
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  data/reusables/advanced-security/secret-scanning-add-custom-pattern-details.md
  data/reusables/advanced-security/secret-scanning-create-custom-pattern.md
  data/reusables/secret-scanning/beta-dry-runs.md
Labels: triage, automated-reposync-pr

#15289 fix: typo on code owners page
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
Labels: content, ready to merge, code owners

#13270 Correctly assign IAM policy bindings
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-google-kubernetes-engine.md
Labels: content, actions, ready to merge

#14953 Update outdated assets
  assets/images/create_app.png
  assets/images/deploy-key.png
  assets/images/install_permissions.png
  assets/images/private_key.png
  assets/images/settings/developer_settings.png
Labels: content, ready to merge

#15266 Clarifying some container job items
  content/actions/learn-github-actions/contexts.md
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
  data/reusables/github-actions/docker-container-os-support.md
Labels: content, triage, actions, ready to merge

#15218 Added the Table of Contents
  assets/images/help/repository/headings_toc.png
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, waiting for review

#15362 repo sync
  content/admin/user-management/migrating-data-to-and-from-your-enterprise/exporting-migration-data-from-your-enterprise.md
  content/admin/user-management/migrating-data-to-and-from-your-enterprise/preparing-to-migrate-data-to-your-enterprise.md
  content/authentication/keeping-your-account-and-data-secure/about-githubs-ip-addresses.md
  content/developers/github-marketplace/creating-apps-for-github-marketplace/security-best-practices-for-apps.md
  lib/excluded-links.js
Labels: triage, automated-reposync-pr

#15366 repo sync
  middleware/archived-enterprise-versions-assets.js
  middleware/handle-errors.js
  tests/rendering/events.js
  tests/rendering/static-assets.js
Labels: triage, automated-reposync-pr

#15369 repo sync
  pages/[versionId]/[productId]/index.tsx
Labels: triage, automated-reposync-pr

#15396 repo sync
  translations/pt-BR/content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-google-kubernetes-engine.md
  translations/pt-BR/content/actions/learn-github-actions/contexts.md
  translations/pt-BR/content/actions/using-workflows/workflow-syntax-for-github-actions.md
  translations/pt-BR/content/admin/user-management/migrating-data-to-and-from-your-enterprise/exporting-migration-data-from-your-enterprise.md
  translations/pt-BR/content/admin/user-management/migrating-data-to-and-from-your-enterprise/preparing-to-migrate-data-to-your-enterprise.md
  translations/pt-BR/content/authentication/keeping-your-account-and-data-secure/about-githubs-ip-addresses.md
  translations/pt-BR/content/developers/github-marketplace/creating-apps-for-github-marketplace/security-best-practices-for-apps.md
  translations/pt-BR/content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  translations/pt-BR/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
  translations/pt-BR/data/reusables/github-actions/docker-container-os-support.md
Labels: triage, automated-reposync-pr

#15240 Improve Ruby guide
  content/actions/automating-builds-and-tests/building-and-testing-ruby.md
Labels: content, actions, ready to merge

#15452 repo sync
  assets/images/help/settings/sso-allowlist-button.png
  assets/images/help/settings/token-authorize-button.png
  content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  content/admin/configuration/configuring-your-enterprise/troubleshooting-ssl-errors.md
  content/admin/github-actions/managing-access-to-actions-from-githubcom/about-using-actions-in-your-enterprise.md
  content/admin/github-actions/managing-access-to-actions-from-githubcom/enabling-automatic-access-to-githubcom-actions-using-github-connect.md
  content/admin/identity-and-access-management/managing-iam-for-your-enterprise/configuring-saml-single-sign-on-for-your-enterprise.md
  content/admin/identity-and-access-management/managing-iam-with-enterprise-managed-users/configuring-saml-single-sign-on-for-enterprise-managed-users.md
  content/authentication/authenticating-with-saml-single-sign-on/authorizing-a-personal-access-token-for-use-with-saml-single-sign-on.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/enabling-and-testing-saml-single-sign-on-for-your-organization.md
  content/support/contacting-github-support/providing-data-to-github-support.md
  data/reusables/actions/enterprise-github-connect-warning.md
  data/reusables/saml/cannot-update-existing-saml-settings.md
  data/reusables/saml/saml-disabled-linked-identities-removed.md
Labels: triage, automated-reposync-pr

#15311 Specify GH Desktop partial commit signing support
  data/reusables/gpg/desktop-support-for-commit-signing.md
Labels: content, ready to merge

#15474 repo sync
  tests/routing/developer-site-redirects.js
Labels: triage, automated-reposync-pr

#15475 repo sync
  .github/actions-scripts/prune-for-preview-env.sh
  .gitignore
  content/admin/index.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-security-settings-in-your-enterprise.md
  content/get-started/using-git/about-git-rebase.md
  content/organizations/organizing-members-into-teams/managing-scheduled-reminders-for-your-team.md
  lib/find-page.js
  lib/get-redirect.js
  lib/languages.js
  lib/page.js
  lib/path-utils.js
  lib/permalink.js
  lib/redirects/README.md
  lib/redirects/get-old-paths-from-permalink.js
  lib/redirects/permalinks.js
  lib/redirects/precompile.js
  lib/redirects/static/developer.json
  middleware/find-page.js
  middleware/index.js
  middleware/redirects/handle-redirects.js
  script/rendered-content-link-checker.mjs
  script/update-internal-links.js
  tests/helpers/supertest.js
  tests/rendering/footer.js
  tests/rendering/header.js
  tests/rendering/learning-tracks.js
  tests/rendering/server.js
  tests/routing/redirects.js
  tests/unit/get-redirect.js
Labels: triage, automated-reposync-pr

#15476 repo sync
  tests/helpers/supertest.js
Labels: triage, automated-reposync-pr

#15368 Broken Link
  content/developers/overview/github-developer-program.md
Labels: content, ready to merge

#15478 repo sync
  .github/workflows/optimize-images.yml
Labels: triage, automated-reposync-pr

#15488 repo sync
  assets/images/commonmark-lists.png
  assets/images/create_app.png
  assets/images/deploy-key.png
  assets/images/help/2fa/2fa-password-reset.png
  assets/images/help/2fa/2fa-recovery-code-link.png
  assets/images/help/2fa/2fa-type-verify-recovery-code.png
  assets/images/help/2fa/alt-verifications.png
  assets/images/help/2fa/no-access-link.png
  assets/images/help/2fa/one-time-password-field.png
  assets/images/help/2fa/reset-auth-settings.png
  assets/images/help/2fa/send-one-time-password.png
  assets/images/help/2fa/try-recovering-your-account-link.png
  assets/images/help/2fa/verify-email-address.png
  assets/images/help/billing/actions-packages-spending-limit-notifications.png
  assets/images/help/billing/codespaces-spending-limit-notifications.png
  assets/images/help/command-palette/command-palette-keyboard-shortcut-settings.png
  assets/images/help/dependabot/dependabot-alert-pr-link.png
  assets/images/help/graphs/click-alert-in-alerts-list-ungrouped.png
  assets/images/help/graphs/dependabot-alerts-filters.png
  assets/images/help/organizations/member-privileges.png
  assets/images/help/organizations/repo-creation-perms-radio-buttons-fpt.png
  assets/images/help/pull_requests/pull-request-update-branch-rebase-option.png
  assets/images/help/pull_requests/pull-request-update-branch-with-dropdown.png
  assets/images/help/pull_requests/pull-request-update-branch.png
  assets/images/help/repository/always-suggest-updating-branches.png
  assets/images/help/repository/code-scanning-alert-tracked-in-pill.png
  assets/images/help/repository/code-scanning-alert.png
  assets/images/help/repository/code-scanning-create-issue-for-alert.png
  assets/images/help/repository/code-scanning-experimental-alert-list.png
  assets/images/help/repository/code-scanning-experimental-alert-show.png
  assets/images/help/repository/code-scanning-free-text-search-areas.png
  assets/images/help/repository/code-scanning-pr-alert.png
  assets/images/help/repository/code-scanning-show-paths.png
  assets/images/help/repository/create-dependabot-security-update-button-ungrouped.png
  assets/images/help/repository/dependabot-alert-dismiss-drop-down-ungrouped.png
  assets/images/help/repository/dependabot-alerts-view.png
  assets/images/help/repository/headings_toc.png
  assets/images/help/repository/legacy-dependabot-alerts-view.png
  assets/images/help/repository/secret-scanning-create-custom-pattern.png
  assets/images/help/repository/secret-scanning-publish-pattern.png
  assets/images/help/settings/sso-allowlist-button.png
  assets/images/help/settings/theme-choose-a-day-and-night-theme-to-sync-highcontrast.png
  assets/images/help/settings/theme-choose-a-single-theme-highcontrast.png
  assets/images/help/settings/token-authorize-button.png
  assets/images/help/writing/mermaid-flow-chart.png
  assets/images/install_permissions.png
  assets/images/private_key.png
  assets/images/settings/developer_settings.png
Labels: triage, automated-reposync-pr

#15523 repo sync
  .github/actions-scripts/enterprise-server-issue-templates/release-issue.md
  .github/workflows/sync-search-indices.yml
Labels: triage, automated-reposync-pr

#15525 repo sync
  content/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository.md
Labels: triage, automated-reposync-pr

#15526 repo sync
  assets/images/help/desktop/commit-revert-mac.png
  assets/images/help/desktop/commit-revert-win.png
  data/reusables/desktop/revert-commit.md
Labels: triage, automated-reposync-pr

#15485 Update evacuating-a-cluster-node.md
  content/admin/enterprise-management/configuring-clustering/evacuating-a-cluster-node.md
Labels: content, ready to merge, enterprise

#12137 Clarification in trust-relationship policy example
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
Labels: content, actions, waiting for review

#15453 fix: add note preventing user from changing nameserver
  content/admin/configuration/configuring-network-settings/configuring-dns-nameservers.md
  data/reusables/enterprise_installation/preventing-nameservers-change.md
Labels: content, ready to merge

#15410 Add `Link an issue` shortcut to keyboard-shortcuts.md
  content/get-started/using-github/keyboard-shortcuts.md
Labels: content, ready to merge

#15538 repo sync
  components/Search.module.scss
  components/Search.tsx
  content/get-started/signing-up-for-github/signing-up-for-a-new-github-account.md
  script/find-orphaned-assets.mjs
Labels: triage, automated-reposync-pr

#15540 repo sync
  .github/workflows/triage-unallowed-contributions.yml
  content/code-security/secret-scanning/about-secret-scanning.md
  content/repositories/archiving-a-github-repository/archiving-repositories.md
Labels: triage, automated-reposync-pr

#15545 repo sync
  pages/_app.tsx
Labels: triage, automated-reposync-pr

#15546 repo sync
  assets/images/help/pull_requests/confirm-auto-merge-button.png
  assets/images/help/pull_requests/pull-request-information-fields-enterprise.png
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/automatically-merging-a-pull-request.md
  data/reusables/pull_requests/auto-merge-requires-branch-protection.md
Labels: triage, automated-reposync-pr

#15489 added details of connecting azure account per issue 13018 and the exa…
  content/billing/managing-billing-for-your-github-account/connecting-an-azure-subscription-to-your-enterprise.md
Labels: content, waiting for review

#15549 repo sync
  middleware/contextualizers/generic-toc.js
Labels: triage, automated-reposync-pr

#15559 repo sync
  .github/actions-scripts/openapi-schema-branch.js
  components/DefaultLayout.tsx
  components/article/ArticlePage.tsx
  components/page-header/RestBanner.tsx
  components/page-header/RestRepoBanner.tsx
  content/actions/hosting-your-own-runners/adding-self-hosted-runners.md
  content/actions/hosting-your-own-runners/autoscaling-with-self-hosted-runners.md
  content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  content/actions/hosting-your-own-runners/removing-self-hosted-runners.md
  content/rest/reference/actions.md
  content/rest/reference/enterprise-admin.md
  lib/redirects/static/client-side-rest-api-redirects.json
  script/rest/utils/rest-api-overrides.json
Labels: triage, automated-reposync-pr

#15561 repo sync
  data/features/pull-request-approval-limit.yml
Labels: triage, automated-reposync-pr

#15564 repo sync
  content/search-github/index.md
Labels: triage, automated-reposync-pr

#15572 repo sync
  content/admin/user-management/managing-users-in-your-enterprise/roles-in-an-enterprise.md
  content/billing/managing-billing-for-your-github-account/about-billing-for-your-enterprise.md
  content/billing/managing-billing-for-your-github-account/about-per-user-pricing.md
  content/get-started/learning-about-github/githubs-products.md
  content/organizations/managing-access-to-your-organizations-repositories/adding-outside-collaborators-to-repositories-in-your-organization.md
  data/release-notes/enterprise-server/3-4/0-rc1.yml
  data/reusables/billing/per-user-pricing-reference.md
  data/reusables/organizations/org-invite-scim.md
  data/reusables/organizations/outside-collaborators-use-seats.md
Labels: triage, automated-reposync-pr

#15487 updated to reference write permissions
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/reverting-a-pull-request.md
Labels: content, ready to merge

#15585 repo sync
  data/release-notes/enterprise-server/3-4/0-rc1.yml
Labels: triage, automated-reposync-pr

#15589 repo sync
  content/admin/configuration/configuring-github-connect/about-github-connect.md
  content/admin/enterprise-management/configuring-high-availability/recovering-a-high-availability-configuration.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  data/reusables/audit_log/only-three-months-displayed.md
  data/reusables/enterprise_management_console/save-settings.md
Labels: triage, automated-reposync-pr

#15590 repo sync
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  data/reusables/actions/hardware-requirements-3.3.md
  data/reusables/actions/hardware-requirements-3.4.md
  data/reusables/enterprise_installation/hardware-rec-table.md
Labels: triage, automated-reposync-pr

#15591 repo sync
  content/actions/learn-github-actions/finding-and-customizing-actions.md
Labels: triage, automated-reposync-pr

#15592 repo sync
  package-lock.json
Labels: triage, automated-reposync-pr

#15304 Clarify GITHUB_REF for PRs
  content/actions/learn-github-actions/environment-variables.md
Labels: content, actions, ready to merge, waiting for review

#15593 repo sync
  data/release-notes/enterprise-server/3-0/21.yml
  data/release-notes/enterprise-server/3-1/13.yml
  data/release-notes/enterprise-server/3-2/5.yml
Labels: triage, automated-reposync-pr

#15617 repo sync
  translations/pt-BR/content/actions/learn-github-actions/environment-variables.md
  translations/pt-BR/content/actions/learn-github-actions/finding-and-customizing-actions.md
  translations/pt-BR/content/admin/configuration/configuring-github-connect/about-github-connect.md
  translations/pt-BR/content/admin/enterprise-management/configuring-high-availability/recovering-a-high-availability-configuration.md
  translations/pt-BR/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  translations/pt-BR/data/release-notes/enterprise-server/3-0/21.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-0/25.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-1/13.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-1/17.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-2/5.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-2/9.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/4.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-4/0-rc1.yml
  translations/pt-BR/data/reusables/actions/hardware-requirements-3.3.md
  translations/pt-BR/data/reusables/actions/hardware-requirements-3.4.md
  translations/pt-BR/data/reusables/audit_log/only-three-months-displayed.md
  translations/pt-BR/data/reusables/enterprise_installation/hardware-rec-table.md
  translations/pt-BR/data/reusables/enterprise_management_console/save-settings.md
Labels: triage, automated-reposync-pr

#15672 repo sync
  translations/es-ES/content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-access-to-your-personal-repositories/removing-yourself-from-a-collaborators-repository.md
  translations/es-ES/content/authentication/keeping-your-account-and-data-secure/reviewing-your-security-log.md
  translations/es-ES/content/authentication/securing-your-account-with-two-factor-authentication-2fa/accessing-github-using-two-factor-authentication.md
  translations/es-ES/content/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication.md
  translations/es-ES/content/billing/managing-billing-for-your-github-account/about-billing-for-your-enterprise.md
  translations/es-ES/content/billing/managing-billing-for-your-github-account/about-per-user-pricing.md
  translations/es-ES/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/running-codeql-code-scanning-in-a-container.md
  translations/es-ES/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  translations/es-ES/content/codespaces/troubleshooting/working-with-support-for-codespaces.md
  translations/es-ES/content/get-started/getting-started-with-git/managing-remote-repositories.md
  translations/es-ES/content/repositories/archiving-a-github-repository/archiving-repositories.md
  translations/es-ES/content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/configuring-commit-rebasing-for-pull-requests.md
  translations/es-ES/content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  translations/es-ES/data/reusables/organizations/org-invite-scim.md
  translations/es-ES/data/reusables/pull_requests/auto-merge-requires-branch-protection.md
Labels: triage, automated-reposync-pr

#15687 repo sync
  content/rest/reference/permissions-required-for-github-apps.md
Labels: triage, automated-reposync-pr

#15600 [nit] replace "director" => "direction"
  content/discussions/guides/best-practices-for-community-conversations-on-github.md
Labels: content, ready to merge, waiting for review

#15524 Fix misspelling: proxys/proxies
  content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
Labels: content, ready to merge, waiting for review

#15688 repo sync
  content/code-security/getting-started/github-security-features.md
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/requesting-a-pull-request-review.md
  data/reusables/advanced-security/ghas-availability.md
  data/reusables/gated-features/dependency-review.md
  data/reusables/gated-features/multiple-pr-reviewers.md
Labels: triage, automated-reposync-pr

#15694 repo sync
  translations/pt-BR/content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
  translations/pt-BR/content/code-security/getting-started/github-security-features.md
  translations/pt-BR/content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  translations/pt-BR/content/discussions/guides/best-practices-for-community-conversations-on-github.md
  translations/pt-BR/content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/requesting-a-pull-request-review.md
  translations/pt-BR/content/rest/reference/permissions-required-for-github-apps.md
  translations/pt-BR/data/reusables/advanced-security/ghas-availability.md
  translations/pt-BR/data/reusables/gated-features/dependency-review.md
  translations/pt-BR/data/reusables/gated-features/multiple-pr-reviewers.md
Labels: triage, automated-reposync-pr

#15615 Update `repository-branches.md`
  data/reusables/pages/sidebar-pages.md
  data/reusables/repositories/repository-branches.md
Labels: content, waiting for review

#15691 Update cloning-a-repository.md
  content/repositories/creating-and-managing-repositories/cloning-a-repository.md
Labels: content, waiting for review

#15686 Update understanding-the-search-syntax.md
  content/search-github/getting-started-with-searching-on-github/understanding-the-search-syntax.md
Labels: content, waiting for review

#15607 Update identifying-and-authorizing-users-for-github-apps.md
  content/developers/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps.md
Labels: content, waiting for review

#15645 Document `prerelease` release search parameter
  content/repositories/releasing-projects-on-github/searching-a-repositorys-releases.md
Labels: content, waiting for review

#15692 Update about-github-security-advisories.md
  content/code-security/security-advisories/about-github-security-advisories.md
  content/code-security/supply-chain-security/managing-vulnerabilities-in-your-projects-dependencies/browsing-security-vulnerabilities-in-the-github-advisory-database.md
Labels: content, waiting for review, code security

#15734 repo sync
  assets/images/enterprise/support/health-check-dialog-choose-file.png
  assets/images/enterprise/support/health-check-dialog-ea.png
  assets/images/enterprise/support/support-portal-header-premium.png
  assets/images/enterprise/support/support-portal-health-checks-section.png
  assets/images/enterprise/support/support-portal-request-health-check.png
  content/actions/using-workflows/reusing-workflows.md
  content/admin/enterprise-management/monitoring-your-appliance/generating-a-health-check-for-your-enterprise.md
  content/admin/enterprise-management/monitoring-your-appliance/index.md
  content/support/contacting-github-support/providing-data-to-github-support.md
  content/support/learning-about-github-support/about-github-premium-support.md
  data/reusables/gated-features/generated-health-checks.md
Labels: triage, automated-reposync-pr

#15700 Clarify which Feather icons aren't supported.
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
Labels: content, actions, ready to merge, waiting for review

#15749 repo sync
  components/DefaultLayout.tsx
  stylesheets/utilities.scss
Labels: triage, automated-reposync-pr

#15751 repo sync
  package-lock.json
  package.json
  script/graphql/build-changelog.js
Labels: triage, automated-reposync-pr
