Repository github/docs, pull requests merged in 2022-07, with the labels that each got.

#18902 repo sync
  assets/images/help/copilot/telemetry-option.png
  content/copilot/configuring-github-copilot/configuring-github-copilot-settings-on-githubcom.md
  content/copilot/configuring-github-copilot/index.md
  content/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-a-jetbrains-ide.md
  content/copilot/overview-of-github-copilot/about-github-copilot.md
  data/reusables/copilot/dotcom-settings.md
  data/reusables/user-settings/copilot-settings.md
Labels: triage, automated-reposync-pr

#18896 fix typo on step 2 of Initiating Failover
  content/admin/enterprise-management/configuring-high-availability/initiating-a-failover-to-your-replica-appliance.md
Labels: content, ready to merge, enterprise, waiting for review

#18478 Add Supported Color Models to Basic Writing Syntax
  assets/images/help/writing/supported-color-models-hex-rendered.png
  assets/images/help/writing/supported-color-models-hsl-rendered.png
  assets/images/help/writing/supported-color-models-rendered.png
  assets/images/help/writing/supported-color-models-rgb-rendered.png
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, ready to merge

#18951 place the period within a quotation mark
  content/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot.md
Labels: content, ready to merge, billing, copilot

#18927 Update README.md
  README.md
Labels: content, ready to merge, waiting for review

#18934 Change docs around -eo pipefail when shell is not specified
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions, waiting for review

#18749 Remove unneeded step for managing org moderators.
  content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-moderators-in-your-organization.md
Labels: content, ready to merge, organizations

#18758 Update getting-started-with-github-copilot-in-visual-studio.md
  content/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-visual-studio.md
Labels: content, waiting for review, copilot

#18800 Add information about security policy being shown in template chooser
  assets/images/help/issues/new-issue-page-with-multiple-templates.png
Labels: content, ready to merge, waiting for review, issues

#18922 [#18921] Added Link to Ubuntu 22.04 GHA Runner Configuration
  content/actions/using-github-hosted-runners/about-github-hosted-runners.md
Labels: content, actions, ready to merge, waiting for review

#18905 Fixing non-working codesnippet.
  content/packages/quickstart.md
Labels: content, packages, ready to merge, waiting for review

#18997 repo sync
  .github/workflows/dry-run-elasticsearch-indexing.yml
  package-lock.json
  package.json
  script/search/index-elasticsearch.mjs
  script/search/parse-page-sections-into-records.js
  translations/ja-JP/content/admin/guides.md
  translations/ja-JP/content/admin/identity-and-access-management/managing-iam-for-your-enterprise/index.md
  translations/ja-JP/content/admin/identity-and-access-management/managing-iam-for-your-enterprise/troubleshooting-identity-and-access-management-for-your-enterprise.md
  translations/ja-JP/content/admin/identity-and-access-management/using-saml-for-enterprise-iam/configuring-saml-single-sign-on-for-your-enterprise-using-okta.md
  translations/ja-JP/content/admin/identity-and-access-management/using-saml-for-enterprise-iam/saml-configuration-reference.md
  translations/ja-JP/content/admin/identity-and-access-management/using-saml-for-enterprise-iam/troubleshooting-saml-authentication.md
  translations/ja-JP/content/admin/user-management/managing-organizations-in-your-enterprise/index.md
  translations/ja-JP/content/admin/user-management/managing-organizations-in-your-enterprise/managing-unowned-organizations-in-your-enterprise.md
  translations/ja-JP/content/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot.md
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/running-codeql-code-scanning-in-a-container.md
  translations/ja-JP/content/codespaces/customizing-your-codespace/configuring-automatic-deletion-of-your-codespaces.md
  translations/ja-JP/content/codespaces/managing-codespaces-for-your-organization/restricting-the-retention-period-for-codespaces.md
  translations/ja-JP/content/codespaces/the-githubdev-web-based-editor.md
  translations/ja-JP/content/codespaces/troubleshooting/troubleshooting-dotfiles-for-codespaces.md
  translations/ja-JP/content/organizations/managing-saml-single-sign-on-for-your-organization/index.md
  translations/ja-JP/content/organizations/managing-saml-single-sign-on-for-your-organization/managing-team-synchronization-for-your-organization.md
  translations/ja-JP/content/organizations/managing-saml-single-sign-on-for-your-organization/troubleshooting-identity-and-access-management-for-your-organization.md
  translations/ja-JP/data/reusables/actions/workflow-permissions-intro.md
  translations/ja-JP/data/reusables/actions/workflow-pr-approval-permissions-intro.md
  translations/ja-JP/data/reusables/actions/workflow-run-approve-public-fork.md
  translations/ja-JP/data/reusables/actions/workflow-template-overview.md
  translations/ja-JP/data/reusables/identity-and-permissions/team-sync-confirm-scim.md
  translations/ja-JP/data/reusables/saml/authentication-loop.md
  translations/ja-JP/data/reusables/saml/current-time-earlier-than-notbefore-condition.md
  translations/ja-JP/data/reusables/saml/okta-edit-provisioning.md
Labels: triage, automated-reposync-pr

#18998 repo sync
  components/rest/RestOperation.module.scss
  components/rest/RestOperation.tsx
  content/rest/search.md
  data/reusables/repositories/reaction_list.md
  package-lock.json
  package.json
  script/content-migrations/deduplicate-enterprise-assets.js
Labels: triage, automated-reposync-pr

#19001 repo sync
  script/search/parse-page-sections-into-records.js
  tests/unit/search/fixtures/page-with-heading-and-paragraph-no-whitespace.html
  tests/unit/search/fixtures/page-with-multiple-h1s.html
  tests/unit/search/parse-page-sections-into-records.js
Labels: triage, automated-reposync-pr

#18860 Update JetBrains installation instructions
  content/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-a-jetbrains-ide.md
Labels: content, waiting for review, copilot

#19009 repo sync
  content/admin/configuration/configuring-network-settings/using-github-enterprise-server-with-a-load-balancer.md
Labels: triage, automated-reposync-pr

#19015 repo sync
  components/context/AutomatedPageContext.tsx
  components/homepage/ProductSelectionCard.tsx
  components/rest/RestReferencePage.tsx
  components/sidebar/RestCollapsibleSection.tsx
  content/code-security/dependabot/working-with-dependabot/managing-pull-requests-for-dependency-updates.md
  pages/[versionId]/rest/[category]/[subcategory].tsx
  pages/[versionId]/rest/[category]/index.tsx
Labels: triage, automated-reposync-pr

#18877 Fix GraphQL scopes for consistency with Explorer
  content/graphql/guides/forming-calls-with-graphql.md
Labels: content, ready to merge, waiting for review, graphql

#18886 `queued` is added in check_suite[status] value
  data/reusables/webhooks/check_suite_properties.md
Labels: content, ready to merge, waiting for review, webhooks

#19035 repo sync
  content/get-started/writing-on-github/working-with-advanced-formatting/attaching-files.md
  data/release-notes/github-ae/2022-05/2022-05-17.yml
Labels: triage, automated-reposync-pr

#19036 repo sync
  content/admin/code-security/index.md
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/deploying-github-advanced-security-in-your-enterprise.md
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/enabling-github-advanced-security-for-your-enterprise.md
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/index.md
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/overview-of-github-advanced-security-deployment.md
  content/code-security/adopting-github-advanced-security-at-scale/index.md
  content/code-security/adopting-github-advanced-security-at-scale/introduction-to-adopting-github-advanced-security-at-scale.md
  content/code-security/adopting-github-advanced-security-at-scale/phase-1-align-on-your-rollout-strategy-and-goals.md
  content/code-security/adopting-github-advanced-security-at-scale/phase-2-preparing-to-enable-at-scale.md
  content/code-security/adopting-github-advanced-security-at-scale/phase-3-pilot-programs.md
  content/code-security/adopting-github-advanced-security-at-scale/phase-4-create-internal-documentation.md
  content/code-security/adopting-github-advanced-security-at-scale/phase-5-rollout-and-scale-code-scanning.md
  content/code-security/adopting-github-advanced-security-at-scale/phase-6-rollout-and-scale-secret-scanning.md
  content/code-security/getting-started/index.md
  content/code-security/index.md
  content/get-started/learning-about-github/about-github-advanced-security.md
  lib/redirects/static/redirect-exceptions.txt
Labels: triage, automated-reposync-pr

#18945 Fix job name in example code
  content/actions/security-guides/automatic-token-authentication.md
Labels: content, actions, waiting for review

#19040 repo sync
  translations/pt-BR/content/actions/creating-actions/about-custom-actions.md
  translations/pt-BR/content/actions/security-guides/automatic-token-authentication.md
  translations/pt-BR/content/admin/code-security/index.md
  translations/pt-BR/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/deploying-github-advanced-security-in-your-enterprise.md
  translations/pt-BR/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/enabling-github-advanced-security-for-your-enterprise.md
  translations/pt-BR/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/index.md
  translations/pt-BR/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/overview-of-github-advanced-security-deployment.md
  translations/pt-BR/content/code-security/adopting-github-advanced-security-at-scale/index.md
  translations/pt-BR/content/code-security/adopting-github-advanced-security-at-scale/introduction-to-adopting-github-advanced-security-at-scale.md
  translations/pt-BR/content/code-security/adopting-github-advanced-security-at-scale/phase-1-align-on-your-rollout-strategy-and-goals.md
  translations/pt-BR/content/code-security/adopting-github-advanced-security-at-scale/phase-2-preparing-to-enable-at-scale.md
  translations/pt-BR/content/code-security/adopting-github-advanced-security-at-scale/phase-3-pilot-programs.md
  translations/pt-BR/content/code-security/adopting-github-advanced-security-at-scale/phase-4-create-internal-documentation.md
  translations/pt-BR/content/code-security/adopting-github-advanced-security-at-scale/phase-5-rollout-and-scale-code-scanning.md
  translations/pt-BR/content/code-security/adopting-github-advanced-security-at-scale/phase-6-rollout-and-scale-secret-scanning.md
  translations/pt-BR/content/code-security/index.md
  translations/pt-BR/content/codespaces/getting-started/deep-dive.md
  translations/pt-BR/content/codespaces/getting-started/index.md
  translations/pt-BR/content/codespaces/getting-started/quickstart.md
  translations/pt-BR/content/codespaces/managing-codespaces-for-your-organization/index.md
  translations/pt-BR/content/codespaces/setting-up-your-project-for-codespaces/index.md
  translations/pt-BR/content/get-started/learning-about-github/about-github-advanced-security.md
  translations/pt-BR/content/get-started/writing-on-github/working-with-advanced-formatting/attaching-files.md
  translations/pt-BR/content/graphql/guides/forming-calls-with-graphql.md
  translations/pt-BR/data/release-notes/github-ae/2022-05/2022-05-17.yml
  translations/pt-BR/data/reusables/webhooks/check_suite_properties.md
Labels: triage, automated-reposync-pr

#19041 repo sync
  assets/images/help/dependabot/dependabot-alerts-sort-dropdown.png
  components/Search.tsx
  content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  data/features/dependabot-most-important-sort-option.yml
Labels: triage, automated-reposync-pr

#19046 repo sync
  middleware/redirects/handle-redirects.js
  tests/routing/redirects.js
Labels: triage, automated-reposync-pr

#19057 repo sync
  translations/pt-BR/content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  translations/pt-BR/data/features/dependabot-most-important-sort-option.yml
Labels: triage, automated-reposync-pr

#19066 repo sync
  translations/es-ES/content/actions/creating-actions/about-custom-actions.md
  translations/es-ES/content/actions/security-guides/automatic-token-authentication.md
  translations/es-ES/content/admin/code-security/index.md
  translations/es-ES/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/deploying-github-advanced-security-in-your-enterprise.md
  translations/es-ES/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/enabling-github-advanced-security-for-your-enterprise.md
  translations/es-ES/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/index.md
  translations/es-ES/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/overview-of-github-advanced-security-deployment.md
  translations/es-ES/content/code-security/adopting-github-advanced-security-at-scale/index.md
  translations/es-ES/content/code-security/adopting-github-advanced-security-at-scale/introduction-to-adopting-github-advanced-security-at-scale.md
  translations/es-ES/content/code-security/adopting-github-advanced-security-at-scale/phase-1-align-on-your-rollout-strategy-and-goals.md
  translations/es-ES/content/code-security/adopting-github-advanced-security-at-scale/phase-2-preparing-to-enable-at-scale.md
  translations/es-ES/content/code-security/adopting-github-advanced-security-at-scale/phase-3-pilot-programs.md
  translations/es-ES/content/code-security/adopting-github-advanced-security-at-scale/phase-4-create-internal-documentation.md
  translations/es-ES/content/code-security/adopting-github-advanced-security-at-scale/phase-5-rollout-and-scale-code-scanning.md
  translations/es-ES/content/code-security/adopting-github-advanced-security-at-scale/phase-6-rollout-and-scale-secret-scanning.md
  translations/es-ES/content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  translations/es-ES/content/code-security/index.md
  translations/es-ES/content/codespaces/getting-started/deep-dive.md
  translations/es-ES/content/codespaces/getting-started/index.md
  translations/es-ES/content/codespaces/getting-started/quickstart.md
  translations/es-ES/content/codespaces/managing-codespaces-for-your-organization/index.md
  translations/es-ES/content/codespaces/setting-up-your-project-for-codespaces/index.md
  translations/es-ES/content/get-started/learning-about-github/about-github-advanced-security.md
  translations/es-ES/content/get-started/writing-on-github/working-with-advanced-formatting/attaching-files.md
  translations/es-ES/content/graphql/guides/forming-calls-with-graphql.md
  translations/es-ES/data/features/dependabot-most-important-sort-option.yml
  translations/es-ES/data/release-notes/github-ae/2022-05/2022-05-17.yml
  translations/es-ES/data/reusables/webhooks/check_suite_properties.md
Labels: triage, automated-reposync-pr

#19069 repo sync
  data/features/README.md
Labels: triage, automated-reposync-pr

#19092 repo sync
  data/reusables/actions/enterprise-http-proxy.md
Labels: triage, automated-reposync-pr

#19031 Fix grammar
  data/reusables/actions/jobs/about-matrix-strategy.md
Labels: content, actions, ready to merge, waiting for review

#19094 repo sync
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
  content/repositories/releasing-projects-on-github/about-releases.md
  data/features/enterprise-owner-join-org.yml
  data/features/pr-tree-view.yml
  data/features/remove-enterprise-members.yml
Labels: triage, automated-reposync-pr

#19095 repo sync
  content/admin/configuration/configuring-network-settings/using-github-enterprise-server-with-a-load-balancer.md
  content/admin/overview/about-github-enterprise-server.md
  content/support/learning-about-github-support/about-github-support.md
  data/reusables/actions/more-resources-for-ghes.md
  data/reusables/enterprise_installation/hardware-considerations-all-platforms.md
  data/reusables/enterprise_installation/hardware-rec-table.md
  data/variables/product.yml
Labels: triage, automated-reposync-pr

#19113 repo sync
  lib/search/popular-pages.json
Labels: triage, automated-reposync-pr

#19115 repo sync
  content/code-security/security-overview/about-the-security-overview.md
  content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
  content/code-security/security-overview/index.md
  content/code-security/security-overview/viewing-the-security-overview.md
  data/reusables/gated-features/security-overview.md
  data/reusables/security-overview/beta.md
  data/reusables/security-overview/permissions.md
Labels: triage, automated-reposync-pr

#19116 repo sync
  translations/pt-BR/content/actions/creating-actions/metadata-syntax-for-github-actions.md
  translations/pt-BR/content/admin/configuration/configuring-network-settings/using-github-enterprise-server-with-a-load-balancer.md
  translations/pt-BR/content/admin/overview/about-github-enterprise-server.md
  translations/pt-BR/content/code-security/security-overview/about-the-security-overview.md
  translations/pt-BR/content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
  translations/pt-BR/content/code-security/security-overview/index.md
  translations/pt-BR/content/code-security/security-overview/viewing-the-security-overview.md
  translations/pt-BR/content/repositories/releasing-projects-on-github/about-releases.md
  translations/pt-BR/content/support/learning-about-github-support/about-github-support.md
  translations/pt-BR/data/features/README.md
  translations/pt-BR/data/features/enterprise-owner-join-org.yml
  translations/pt-BR/data/features/pr-tree-view.yml
  translations/pt-BR/data/features/remove-enterprise-members.yml
  translations/pt-BR/data/reusables/actions/enterprise-http-proxy.md
  translations/pt-BR/data/reusables/actions/jobs/about-matrix-strategy.md
  translations/pt-BR/data/reusables/actions/more-resources-for-ghes.md
  translations/pt-BR/data/reusables/enterprise_installation/hardware-considerations-all-platforms.md
  translations/pt-BR/data/reusables/enterprise_installation/hardware-rec-table.md
  translations/pt-BR/data/reusables/gated-features/security-overview.md
  translations/pt-BR/data/reusables/security-overview/beta.md
  translations/pt-BR/data/reusables/security-overview/permissions.md
  translations/pt-BR/data/variables/product.yml
Labels: triage, automated-reposync-pr

#18986 [docs] small copy update
  contributing/types-of-contributions.md
Labels: content, contributing docs, ready to merge, waiting for review

#19120 repo sync
  script/search/index-elasticsearch.mjs
Labels: triage, automated-reposync-pr

#18274 Update working-with-the-nuget-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry.md
Labels: content, packages, ready to merge

#19055 Fix link format
  content/communities/documenting-your-project-with-wikis/about-wikis.md
Labels: content, waiting for review, communities

#19126 repo sync
  content/organizations/collaborating-with-groups-in-organizations/customizing-your-organizations-profile.md
  content/site-policy/other-site-policies/github-and-trade-controls.md
Labels: triage, automated-reposync-pr

#19100 Update a link to updated REST API from Viewing a project's contributors
  content/repositories/viewing-activity-and-data-for-your-repository/viewing-a-projects-contributors.md
Labels: content, waiting for review, repositories

#19128 repo sync
  content/site-policy/github-terms/github-corporate-terms-of-service.md
Labels: triage, automated-reposync-pr

#19131 repo sync
  assets/images/help/settings/gpg-verified-with-expired-key.png
  content/authentication/managing-commit-signature-verification/about-commit-signature-verification.md
  content/authentication/managing-commit-signature-verification/adding-a-gpg-key-to-your-github-account.md
  content/authentication/managing-commit-signature-verification/adding-a-new-gpg-key-to-your-github-account.md
  content/authentication/managing-commit-signature-verification/associating-an-email-with-your-gpg-key.md
  content/authentication/managing-commit-signature-verification/checking-for-existing-gpg-keys.md
  content/authentication/managing-commit-signature-verification/generating-a-new-gpg-key.md
  content/authentication/managing-commit-signature-verification/index.md
  content/authentication/managing-commit-signature-verification/signing-commits.md
  content/authentication/managing-commit-signature-verification/signing-tags.md
  content/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key.md
  content/authentication/troubleshooting-commit-signature-verification/index.md
  content/authentication/troubleshooting-commit-signature-verification/updating-an-expired-gpg-key.md
  data/features/upload-expired-or-revoked-gpg-key.yml
  data/reusables/enterprise_site_admin_settings/add-key-to-web-flow-user.md
Labels: triage, automated-reposync-pr

#19065 Removed code backticks from <kbd> blocks
  data/reusables/codespaces/rebuild-command.md
Labels: content, waiting for review, codespaces

#19135 repo sync
  script/search/index-elasticsearch.mjs
Labels: triage, automated-reposync-pr

#19137 repo sync
  middleware/redirects/handle-redirects.js
  script/search/index-elasticsearch.mjs
  tests/routing/redirects.js
Labels: triage, automated-reposync-pr

#19139 repo sync
  .github/workflows/add-review-template.yml
Labels: triage, automated-reposync-pr

#19025 Add the definition of "directory" to the glossary
  data/glossaries/external.yml
Labels: content, ready to merge, waiting for review

#19154 repo sync
  components/page-header/LanguagePicker.tsx
  content/admin/configuration/configuring-your-enterprise/index.md
  content/admin/configuration/configuring-your-enterprise/troubleshooting-tls-errors.md
Labels: triage, automated-reposync-pr

#19164 repo sync
  content/codespaces/troubleshooting/troubleshooting-dotfiles-for-codespaces.md
Labels: triage, automated-reposync-pr

#19174 repo sync
  .github/workflows/azure-preview-env-deploy.yml
  .github/workflows/azure-prod-build-deploy.yml
  .github/workflows/azure-staging-build-deploy.yml
  .github/workflows/main-preview-docker-cache.yml
Labels: triage, automated-reposync-pr

#19175 repo sync
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/index.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/troubleshooting-tls-errors.md
  translations/pt-BR/content/codespaces/troubleshooting/troubleshooting-dotfiles-for-codespaces.md
  translations/pt-BR/content/issues/organizing-your-work-with-project-boards/managing-project-boards/creating-a-project-board.md
  translations/pt-BR/data/glossaries/external.yml
  translations/pt-BR/data/release-notes/github-ae/2022-05/2022-05-17.yml
  translations/pt-BR/data/reusables/projects/classic-project-creation.md
  translations/pt-BR/data/reusables/projects/project_boards_old.md
  translations/pt-BR/data/reusables/projects/projects-api.md
Labels: triage, automated-reposync-pr

#19179 repo sync
  script/search/lunr-search-index.js
  script/search/search-index-records.js
  script/search/sync-search-indices.js
  script/search/sync.js
Labels: triage, automated-reposync-pr

#19181 repo sync
  middleware/cache-full-rendering.js
Labels: triage, automated-reposync-pr

#19183 repo sync
  translations/ja-JP/content/admin/configuration/configuring-your-enterprise/index.md
  translations/ja-JP/content/admin/configuration/configuring-your-enterprise/troubleshooting-tls-errors.md
  translations/ja-JP/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  translations/ja-JP/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
  translations/ja-JP/content/authentication/managing-commit-signature-verification/about-commit-signature-verification.md
  translations/ja-JP/content/authentication/managing-commit-signature-verification/adding-a-gpg-key-to-your-github-account.md
  translations/ja-JP/content/authentication/managing-commit-signature-verification/adding-a-new-gpg-key-to-your-github-account.md
  translations/ja-JP/content/authentication/managing-commit-signature-verification/associating-an-email-with-your-gpg-key.md
  translations/ja-JP/content/authentication/managing-commit-signature-verification/checking-for-existing-gpg-keys.md
  translations/ja-JP/content/authentication/managing-commit-signature-verification/generating-a-new-gpg-key.md
  translations/ja-JP/content/authentication/managing-commit-signature-verification/index.md
  translations/ja-JP/content/authentication/managing-commit-signature-verification/signing-commits.md
  translations/ja-JP/content/authentication/managing-commit-signature-verification/signing-tags.md
  translations/ja-JP/content/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key.md
  translations/ja-JP/content/authentication/troubleshooting-commit-signature-verification/index.md
  translations/ja-JP/content/authentication/troubleshooting-commit-signature-verification/updating-an-expired-gpg-key.md
  translations/ja-JP/content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  translations/ja-JP/content/codespaces/troubleshooting/troubleshooting-dotfiles-for-codespaces.md
  translations/ja-JP/content/communities/documenting-your-project-with-wikis/about-wikis.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/managing-project-boards/creating-a-project-board.md
  translations/ja-JP/content/organizations/collaborating-with-groups-in-organizations/customizing-your-organizations-profile.md
  translations/ja-JP/content/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry.md
  translations/ja-JP/content/repositories/viewing-activity-and-data-for-your-repository/viewing-a-projects-contributors.md
  translations/ja-JP/content/site-policy/github-terms/github-corporate-terms-of-service.md
  translations/ja-JP/content/site-policy/github-terms/github-terms-of-service.md
  translations/ja-JP/content/site-policy/other-site-policies/github-and-trade-controls.md
  translations/ja-JP/data/features/README.md
  translations/ja-JP/data/features/upload-expired-or-revoked-gpg-key.yml
  translations/ja-JP/data/glossaries/external.yml
  translations/ja-JP/data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  translations/ja-JP/data/graphql/ghec/graphql_upcoming_changes.public.yml
  translations/ja-JP/data/graphql/graphql_upcoming_changes.public.yml
  translations/ja-JP/data/release-notes/github-ae/2022-05/2022-05-17.yml
  translations/ja-JP/data/reusables/actions/enterprise-http-proxy.md
  translations/ja-JP/data/reusables/actions/jobs/about-matrix-strategy.md
  translations/ja-JP/data/reusables/audit_log/audit-log-action-categories.md
  translations/ja-JP/data/reusables/audit_log/audit-log-events-workflows.md
  translations/ja-JP/data/reusables/audit_log/audit-log-git-events-retention.md
  translations/ja-JP/data/reusables/audit_log/audit-log-search-list-info-about-action.md
  translations/ja-JP/data/reusables/audit_log/audit_log_sidebar_for_org_admins.md
  translations/ja-JP/data/reusables/codespaces/rebuild-command.md
  translations/ja-JP/data/reusables/enterprise_site_admin_settings/add-key-to-web-flow-user.md
  translations/ja-JP/data/reusables/projects/classic-project-creation.md
  translations/ja-JP/data/reusables/projects/project_boards_old.md
  translations/ja-JP/data/reusables/projects/projects-api.md
  translations/log/ja-resets.csv
Labels: triage, automated-reposync-pr

#19189 repo sync
  data/features/mermaid.yml
Labels: triage, automated-reposync-pr

#19194 repo sync
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  data/reusables/actions/supported-github-runners.md
Labels: triage, automated-reposync-pr

#19196 repo sync
  data/release-notes/enterprise-server/3-4/2.yml
  data/release-notes/enterprise-server/3-4/3.yml
  data/release-notes/enterprise-server/3-4/4.yml
  data/release-notes/enterprise-server/3-4/5.yml
Labels: triage, automated-reposync-pr

#19197 repo sync
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/converting-a-user-into-an-organization.md
  content/admin/configuration/configuring-your-enterprise/troubleshooting-tls-errors.md
Labels: triage, automated-reposync-pr

#19199 repo sync
  content/admin/configuration/configuring-github-connect/about-github-connect.md
  content/admin/overview/about-enterprise-accounts.md
  content/admin/overview/about-github-ae.md
  content/admin/overview/about-github-enterprise-server.md
  content/admin/overview/about-github-for-enterprises.md
  content/admin/overview/index.md
  content/get-started/learning-about-github/githubs-products.md
  content/get-started/onboarding/getting-started-with-github-ae.md
  content/get-started/onboarding/getting-started-with-github-enterprise-cloud.md
  content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  content/organizations/collaborating-with-groups-in-organizations/about-organizations.md
  data/reusables/enterprise/about-github-for-enterprises.md
  data/reusables/organizations/about-organizations.md
  data/reusables/organizations/organization-plans.md
  data/reusables/organizations/organizations_include.md
  package-lock.json
  package.json
  translations/es-ES/content/admin/configuration/configuring-your-enterprise/index.md
  translations/es-ES/content/admin/configuration/configuring-your-enterprise/troubleshooting-tls-errors.md
  translations/es-ES/content/codespaces/troubleshooting/troubleshooting-dotfiles-for-codespaces.md
  translations/es-ES/content/issues/organizing-your-work-with-project-boards/managing-project-boards/creating-a-project-board.md
  translations/es-ES/data/glossaries/external.yml
  translations/es-ES/data/release-notes/github-ae/2022-05/2022-05-17.yml
  translations/es-ES/data/reusables/projects/classic-project-creation.md
  translations/es-ES/data/reusables/projects/project_boards_old.md
  translations/es-ES/data/reusables/projects/projects-api.md
  translations/zh-CN/content/admin/configuration/configuring-your-enterprise/index.md
  translations/zh-CN/content/admin/configuration/configuring-your-enterprise/troubleshooting-tls-errors.md
  translations/zh-CN/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
  translations/zh-CN/content/authentication/managing-commit-signature-verification/about-commit-signature-verification.md
  translations/zh-CN/content/authentication/managing-commit-signature-verification/adding-a-gpg-key-to-your-github-account.md
  translations/zh-CN/content/authentication/managing-commit-signature-verification/adding-a-new-gpg-key-to-your-github-account.md
  translations/zh-CN/content/authentication/managing-commit-signature-verification/associating-an-email-with-your-gpg-key.md
  translations/zh-CN/content/authentication/managing-commit-signature-verification/checking-for-existing-gpg-keys.md
  translations/zh-CN/content/authentication/managing-commit-signature-verification/generating-a-new-gpg-key.md
  translations/zh-CN/content/authentication/managing-commit-signature-verification/index.md
  translations/zh-CN/content/authentication/managing-commit-signature-verification/signing-commits.md
  translations/zh-CN/content/authentication/managing-commit-signature-verification/signing-tags.md
  translations/zh-CN/content/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key.md
  translations/zh-CN/content/authentication/troubleshooting-commit-signature-verification/index.md
  translations/zh-CN/content/authentication/troubleshooting-commit-signature-verification/updating-an-expired-gpg-key.md
  translations/zh-CN/content/codespaces/troubleshooting/troubleshooting-dotfiles-for-codespaces.md
  translations/zh-CN/content/communities/documenting-your-project-with-wikis/about-wikis.md
  translations/zh-CN/content/issues/organizing-your-work-with-project-boards/managing-project-boards/creating-a-project-board.md
  translations/zh-CN/content/organizations/collaborating-with-groups-in-organizations/customizing-your-organizations-profile.md
  translations/zh-CN/content/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry.md
  translations/zh-CN/content/repositories/viewing-activity-and-data-for-your-repository/viewing-a-projects-contributors.md
  translations/zh-CN/content/site-policy/github-terms/github-corporate-terms-of-service.md
  translations/zh-CN/content/site-policy/other-site-policies/github-and-trade-controls.md
  translations/zh-CN/data/features/upload-expired-or-revoked-gpg-key.yml
  translations/zh-CN/data/glossaries/external.yml
  translations/zh-CN/data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  translations/zh-CN/data/graphql/ghec/graphql_upcoming_changes.public.yml
  translations/zh-CN/data/graphql/graphql_upcoming_changes.public.yml
  translations/zh-CN/data/release-notes/github-ae/2022-05/2022-05-17.yml
  translations/zh-CN/data/reusables/codespaces/rebuild-command.md
  translations/zh-CN/data/reusables/enterprise_site_admin_settings/add-key-to-web-flow-user.md
  translations/zh-CN/data/reusables/projects/classic-project-creation.md
  translations/zh-CN/data/reusables/projects/project_boards_old.md
  translations/zh-CN/data/reusables/projects/projects-api.md
Labels: triage, automated-reposync-pr

#19029 Fix casing of GeoJSON/TopoJSON
  content/get-started/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks.md
  content/get-started/writing-on-github/working-with-advanced-formatting/creating-diagrams.md
  data/glossaries/internal.yml
Labels: content, waiting for review, get started

#19030 Fix casing of GeoJSON/TopoJSON
  content/repositories/working-with-files/using-files/working-with-non-code-files.md
Labels: content, ready to merge, waiting for review, repositories

#19200 repo sync
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
Labels: triage, automated-reposync-pr

#19202 repo sync
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#19203 repo sync
  data/release-notes/enterprise-server/3-2/16.yml
  data/release-notes/enterprise-server/3-3/11.yml
  data/release-notes/enterprise-server/3-4/6.yml
  data/release-notes/enterprise-server/3-5/3.yml
Labels: triage, automated-reposync-pr

#17883 Information about CPU architecture for GitHub hosted runners
  content/actions/using-github-hosted-runners/about-github-hosted-runners.md
Labels: actions, SME reviewed

#19212 repo sync
  package-lock.json
Labels: triage, automated-reposync-pr

#19218 repo sync
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#19220 repo sync
  .github/workflows/sync-search-elasticsearch.yml
Labels: triage, automated-reposync-pr

#19221 repo sync
  middleware/api/index.js
  middleware/api/session.js
  middleware/index.js
  tests/helpers/e2etest.js
  tests/rendering/session.js
  tests/routing/events.js
Labels: triage, automated-reposync-pr

#19224 repo sync
  content/rest/overview/resources-in-the-rest-api.md
Labels: triage, automated-reposync-pr

#19234 repo sync
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/converting-a-user-into-an-organization.md
  translations/pt-BR/content/actions/using-github-hosted-runners/about-github-hosted-runners.md
  translations/pt-BR/content/admin/configuration/configuring-github-connect/about-github-connect.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/initializing-github-ae.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/troubleshooting-tls-errors.md
  translations/pt-BR/content/admin/overview/about-enterprise-accounts.md
  translations/pt-BR/content/admin/overview/about-github-ae.md
  translations/pt-BR/content/admin/overview/about-github-enterprise-server.md
  translations/pt-BR/content/admin/overview/about-github-for-enterprises.md
  translations/pt-BR/content/admin/overview/index.md
  translations/pt-BR/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-github-actions-in-your-enterprise.md
  translations/pt-BR/content/admin/policies/index.md
  translations/pt-BR/content/admin/user-management/managing-organizations-in-your-enterprise/index.md
  translations/pt-BR/content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/pt-BR/content/get-started/learning-about-github/githubs-products.md
  translations/pt-BR/content/get-started/onboarding/getting-started-with-github-ae.md
  translations/pt-BR/content/get-started/onboarding/getting-started-with-github-enterprise-cloud.md
  translations/pt-BR/content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  translations/pt-BR/content/get-started/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks.md
  translations/pt-BR/content/get-started/writing-on-github/working-with-advanced-formatting/creating-diagrams.md
  translations/pt-BR/content/organizations/collaborating-with-groups-in-organizations/about-organizations.md
  translations/pt-BR/content/repositories/working-with-files/using-files/working-with-non-code-files.md
  translations/pt-BR/content/rest/overview/resources-in-the-rest-api.md
  translations/pt-BR/content/support/learning-about-github-support/about-github-support.md
  translations/pt-BR/data/features/mermaid.yml
  translations/pt-BR/data/glossaries/internal.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-2/16.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/11.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-4/2.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-4/3.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-4/4.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-4/5.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-4/6.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-5/3.yml
  translations/pt-BR/data/reusables/actions/supported-github-runners.md
  translations/pt-BR/data/reusables/enterprise/about-github-for-enterprises.md
  translations/pt-BR/data/reusables/organizations/about-organizations.md
  translations/pt-BR/data/reusables/organizations/organization-plans.md
  translations/pt-BR/data/reusables/organizations/organizations_include.md
Labels: triage, automated-reposync-pr

#19285 repo sync
  content/code-security/supply-chain-security/end-to-end-supply-chain/securing-code.md
Labels: triage, automated-reposync-pr

#17458 Adds recommendation of SHA Pinning to example workflows
  content/actions/automating-builds-and-tests/building-and-testing-java-with-gradle.md
  content/actions/automating-builds-and-tests/building-and-testing-python.md
  content/actions/automating-builds-and-tests/building-and-testing-ruby.md
  content/actions/automating-builds-and-tests/building-and-testing-swift.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-amazon-elastic-container-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-docker-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-java-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-net-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-nodejs-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-php-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-python-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-to-azure-kubernetes-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-to-azure-static-web-app.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-google-kubernetes-engine.md
  content/actions/managing-issues-and-pull-requests/adding-labels-to-issues.md
  content/actions/managing-issues-and-pull-requests/commenting-on-an-issue-when-a-label-is-added.md
  content/actions/managing-issues-and-pull-requests/moving-assigned-issues-on-project-boards.md
  content/actions/managing-issues-and-pull-requests/removing-a-label-when-a-card-is-added-to-a-project-board-column.md
  content/actions/managing-issues-and-pull-requests/scheduling-issue-creation.md
  content/actions/migrating-to-github-actions/migrating-from-circleci-to-github-actions.md
  content/actions/publishing-packages/publishing-docker-images.md
  content/actions/publishing-packages/publishing-java-packages-with-gradle.md
  content/issues/trying-out-the-new-projects-experience/automating-projects.md
  content/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions.md
  data/reusables/actions/actions-use-sha-pinning-comment.md
  data/reusables/package_registry/publish-docker-image.md
Labels: content, actions, ready to merge, waiting for review

#19321 repo sync
  assets/images/help/education/community-exchange-repo-submission-offers.png
  assets/images/help/education/community-exchange-repo-submission-purpose.png
  assets/images/help/education/community-exchange-repo-submission-repo.png
  assets/images/help/education/community-exchange-search-and-filter.png
  assets/images/help/education/community-exchange-submission-add-repo.png
  assets/images/help/education/community-exchange-submissions-tab.png
  content/education/contribute-with-github-community-exchange/getting-started-with-github-community-exchange.md
  content/education/contribute-with-github-community-exchange/index.md
  content/education/contribute-with-github-community-exchange/managing-your-submissions-to-github-community-exchange.md
  content/education/contribute-with-github-community-exchange/submitting-your-repository-to-github-community-exchange.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-for-your-schoolwork/about-github-community-exchange.md
  content/education/guides.md
  content/education/index.md
  data/reusables/education/about-github-community-exchange-intro.md
  data/reusables/education/about-github-education-link.md
  data/reusables/education/access-github-community-exchange.md
Labels: triage, automated-reposync-pr

#19324 repo sync
  content/actions/learn-github-actions/contexts.md
  content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
  content/search-github/searching-on-github/finding-files-on-github.md
  data/features/actions-stable-actor-ids.yml
  data/features/file-finder-exclusion-controls.yml
Labels: triage, automated-reposync-pr

#18280 Make images more useful in GitHub Pages Quickstart
  assets/images/help/repository/repo-actions-settings.png
Labels: content, waiting for review, pages

#19328 repo sync
  data/reusables/copilot/dotcom-settings.md
  data/reusables/gated-features/copilot.md
Labels: triage, automated-reposync-pr

#19329 repo sync
  assets/images/help/repository/repo-actions-settings.png
  content/admin/configuration/configuring-network-settings/configuring-dns-nameservers.md
  content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  data/reusables/gated-features/code-scanning.md
Labels: triage, automated-reposync-pr

#19330 repo sync
  content/get-started/writing-on-github/working-with-advanced-formatting/attaching-files.md
  content/get-started/writing-on-github/working-with-advanced-formatting/autolinked-references-and-urls.md
  data/reusables/repositories/anyone-can-view-anonymized-url.md
  data/reusables/support/submit-a-ticket.md
Labels: triage, automated-reposync-pr

#19331 repo sync
  content/developers/apps/building-oauth-apps/scopes-for-oauth-apps.md
Labels: triage, automated-reposync-pr

#19332 repo sync
  content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
Labels: triage, automated-reposync-pr

#19333 repo sync
  assets/images/help/codespaces/exported-codespace-secret.png
  content/codespaces/managing-your-codespaces/managing-encrypted-secrets-for-your-codespaces.md
Labels: triage, automated-reposync-pr

#19334 repo sync
  assets/images/help/codespaces/CSV-usage-report.png
  content/billing/managing-billing-for-github-codespaces/viewing-your-github-codespaces-usage.md
Labels: triage, automated-reposync-pr

#19340 repo sync
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  data/features/dependency-review-action-licenses.yml
  data/reusables/dependency-review/action-enterprise.md
  data/variables/product.yml
Labels: triage, automated-reposync-pr

#19341 repo sync
  package-lock.json
Labels: triage, automated-reposync-pr

#19344 repo sync
  components/lib/events.ts
  components/lib/get-csrf.ts
  components/lib/get-session.ts
  middleware/cache-full-rendering.js
  pages/_app.tsx
  tests/browser/browser.js
  tests/rendering/render-caching.js
Labels: triage, automated-reposync-pr

#19345 repo sync
  assets/images/help/repository/copy-default-branch-only.png
  assets/images/help/repository/fork-choose-owner.png
  assets/images/help/repository/fork-choose-repo-name.png
  assets/images/help/repository/fork-create-button.png
  assets/images/help/repository/fork-description.png
  content/get-started/quickstart/contributing-to-projects.md
  content/get-started/quickstart/fork-a-repo.md
Labels: triage, automated-reposync-pr

#19296 Fix typo
  content/communities/documenting-your-project-with-wikis/adding-or-editing-wiki-pages.md
Labels: content, ready to merge, communities

#19123 Fix grammar and clearer test readme
  tests/README.md
Labels: content, ready to merge, SME reviewed

#19213 Update github-developer-program.md
  content/developers/overview/github-developer-program.md
Labels: content, ready to merge, developers

#19347 repo sync
  lib/get-mini-toc-items.js
  lib/rest/index.js
  lib/search/indexes/github-docs-dotcom-en-records.json.br
  lib/search/indexes/github-docs-dotcom-en.json.br
  package.json
Labels: triage, automated-reposync-pr

#19349 repo sync
  components/page-header/Header.tsx
Labels: triage, automated-reposync-pr

#19350 repo sync
  assets/images/help/pages/unpublish-site.png
  content/actions/using-workflows/events-that-trigger-workflows.md
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/troubleshooting-custom-domains-and-github-pages.md
  content/pages/getting-started-with-github-pages/about-github-pages.md
  content/pages/getting-started-with-github-pages/adding-a-theme-to-your-github-pages-site-with-the-theme-chooser.md
  content/pages/getting-started-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site.md
  content/pages/getting-started-with-github-pages/creating-a-github-pages-site.md
  content/pages/getting-started-with-github-pages/unpublishing-a-github-pages-site.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/about-jekyll-build-errors-for-github-pages-sites.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/troubleshooting-jekyll-build-errors-for-github-pages-sites.md
  data/features/pages-custom-workflow.yml
  data/reusables/pages/admin-must-push.md
  data/reusables/pages/check-workflow-run.md
  data/reusables/pages/configure-publishing-source.md
  data/reusables/pages/decide-publishing-source.md
  data/reusables/pages/navigate-publishing-source.md
  data/reusables/pages/new-or-existing-repo.md
  data/reusables/pages/pages-about-branch-source.md
  data/reusables/pages/pages-about-publishing-source.md
  data/reusables/pages/pages-custom-workflow-beta.md
  data/reusables/pages/test-locally.md
Labels: triage, automated-reposync-pr

#19351 repo sync
  data/reusables/organizations/security-manager-beta-note.md
Labels: triage, automated-reposync-pr

#19353 repo sync
  components/ui/MiniTocs/MiniTocs.tsx
Labels: triage, automated-reposync-pr

#19360 repo sync
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: triage, automated-reposync-pr

#19337 Add clarity to how to contribute to GitHub Docs
  README.md
Labels: content, contributing docs, ready to merge, waiting for review

#19267 Fix github.actor examples
  content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
Labels: content, ready to merge, waiting for review, dependabot, code security

#19365 repo sync
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
Labels: triage, automated-reposync-pr

#19366 repo sync
  content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
  content/rest/actions/cache.md
Labels: triage, automated-reposync-pr

#19368 repo sync
  assets/images/help/codespaces/prebuild-authorization-page.png
  assets/images/help/codespaces/prebuild-configs-list.png
  assets/images/help/codespaces/prebuilds-choose-branch.png
  assets/images/help/codespaces/prebuilds-choose-configfile.png
  assets/images/help/codespaces/prebuilds-see-output.png
  assets/images/help/codespaces/prebuilds-set-up.png
  assets/images/help/settings/codespaces-access-and-security-radio-buttons.png
  content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
  content/codespaces/developing-in-codespaces/creating-a-codespace.md
  content/codespaces/managing-codespaces-for-your-organization/managing-repository-access-for-your-organizations-codespaces.md
  content/codespaces/managing-your-codespaces/managing-repository-access-for-your-codespaces.md
  content/codespaces/prebuilding-your-codespaces/about-github-codespaces-prebuilds.md
  content/codespaces/prebuilding-your-codespaces/allowing-a-prebuild-to-access-other-repositories.md
  content/codespaces/prebuilding-your-codespaces/configuring-prebuilds.md
  content/codespaces/prebuilding-your-codespaces/index.md
  content/codespaces/prebuilding-your-codespaces/managing-prebuilds.md
  content/codespaces/troubleshooting/troubleshooting-prebuilds.md
  data/reusables/codespaces/billing-for-prebuilds-default.md
  data/reusables/codespaces/billing-for-prebuilds-reducing.md
  data/reusables/codespaces/billing-for-prebuilds.md
  data/reusables/codespaces/prebuilds-not-available.md
  data/reusables/codespaces/prebuilds-permission-authorization.md
Labels: triage, automated-reposync-pr

#19370 repo sync
  components/page-footer/Contribution.tsx
Labels: triage, automated-reposync-pr

#18887 Fix links to community discussions
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/about-notifications.md
  content/codespaces/index.md
  content/codespaces/the-githubdev-web-based-editor.md
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  content/discussions/collaborating-with-your-community-using-discussions/about-discussions.md
  content/discussions/index.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-in-your-classroom-and-research/about-github-education-for-educators-and-researchers.md
  content/get-started/using-github/github-mobile.md
  content/packages/learn-github-packages/introduction-to-github-packages.md
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/automatically-merging-a-pull-request.md
  content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md
  content/repositories/working-with-files/using-files/working-with-non-code-files.md
  content/sponsors/index.md
  data/release-notes/enterprise-server/3-4/0-rc1.yml
  data/release-notes/enterprise-server/3-4/0.yml
  data/reusables/sponsors/feedback.md
  data/variables/contact.yml
  data/variables/product.yml
  lib/page.js
  tests/fixtures/rss-feed.xml
  tests/rendering/footer.js
Labels: content, more-information-needed

#19374 repo sync
  components/lib/get-session.ts
  tests/browser/browser.js
Labels: triage, automated-reposync-pr

#19375 repo sync
  components/lib/events.ts
  components/lib/get-session.ts
  translations/log/cn-resets.csv
  translations/zh-CN/content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
  translations/zh-CN/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/zh-CN/content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
  translations/zh-CN/content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
  translations/zh-CN/content/codespaces/developing-in-codespaces/creating-a-codespace.md
  translations/zh-CN/content/codespaces/managing-codespaces-for-your-organization/managing-repository-access-for-your-organizations-codespaces.md
  translations/zh-CN/content/codespaces/managing-your-codespaces/managing-repository-access-for-your-codespaces.md
  translations/zh-CN/content/codespaces/prebuilding-your-codespaces/about-github-codespaces-prebuilds.md
  translations/zh-CN/content/codespaces/prebuilding-your-codespaces/allowing-a-prebuild-to-access-other-repositories.md
  translations/zh-CN/content/codespaces/prebuilding-your-codespaces/configuring-prebuilds.md
  translations/zh-CN/content/codespaces/prebuilding-your-codespaces/index.md
  translations/zh-CN/content/codespaces/prebuilding-your-codespaces/managing-prebuilds.md
  translations/zh-CN/content/codespaces/troubleshooting/troubleshooting-prebuilds.md
  translations/zh-CN/content/communities/documenting-your-project-with-wikis/adding-or-editing-wiki-pages.md
  translations/zh-CN/content/communities/maintaining-your-safety-on-github/blocking-a-user-from-your-personal-account.md
  translations/zh-CN/content/developers/overview/github-developer-program.md
  translations/zh-CN/content/issues/planning-and-tracking-with-projects/index.md
  translations/zh-CN/content/organizations/managing-access-to-your-organizations-project-boards/index.md
  translations/zh-CN/content/organizations/managing-access-to-your-organizations-project-boards/managing-an-individuals-access-to-an-organization-project-board.md
  translations/zh-CN/content/organizations/managing-access-to-your-organizations-project-boards/managing-team-access-to-an-organization-project-board.md
  translations/zh-CN/content/organizations/managing-access-to-your-organizations-project-boards/removing-an-outside-collaborator-from-an-organization-project-board.md
  translations/zh-CN/content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
  translations/zh-CN/content/pages/configuring-a-custom-domain-for-your-github-pages-site/troubleshooting-custom-domains-and-github-pages.md
  translations/zh-CN/content/pages/getting-started-with-github-pages/about-github-pages.md
  translations/zh-CN/content/pages/getting-started-with-github-pages/adding-a-theme-to-your-github-pages-site-with-the-theme-chooser.md
  translations/zh-CN/content/pages/getting-started-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site.md
  translations/zh-CN/content/pages/getting-started-with-github-pages/creating-a-github-pages-site.md
  translations/zh-CN/content/pages/getting-started-with-github-pages/unpublishing-a-github-pages-site.md
  translations/zh-CN/content/pages/setting-up-a-github-pages-site-with-jekyll/about-jekyll-build-errors-for-github-pages-sites.md
  translations/zh-CN/content/pages/setting-up-a-github-pages-site-with-jekyll/troubleshooting-jekyll-build-errors-for-github-pages-sites.md
  translations/zh-CN/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
  translations/zh-CN/content/rest/actions/cache.md
  translations/zh-CN/data/features/pages-custom-workflow.yml
  translations/zh-CN/data/reusables/codespaces/billing-for-prebuilds-default.md
  translations/zh-CN/data/reusables/codespaces/billing-for-prebuilds-reducing.md
  translations/zh-CN/data/reusables/codespaces/billing-for-prebuilds.md
  translations/zh-CN/data/reusables/codespaces/prebuilds-not-available.md
  translations/zh-CN/data/reusables/codespaces/prebuilds-permission-authorization.md
  translations/zh-CN/data/reusables/organizations/security-manager-beta-note.md
  translations/zh-CN/data/reusables/pages/admin-must-push.md
  translations/zh-CN/data/reusables/pages/check-workflow-run.md
  translations/zh-CN/data/reusables/pages/configure-publishing-source.md
  translations/zh-CN/data/reusables/pages/decide-publishing-source.md
  translations/zh-CN/data/reusables/pages/navigate-publishing-source.md
  translations/zh-CN/data/reusables/pages/new-or-existing-repo.md
  translations/zh-CN/data/reusables/pages/pages-about-branch-source.md
  translations/zh-CN/data/reusables/pages/pages-about-publishing-source.md
  translations/zh-CN/data/reusables/pages/pages-custom-workflow-beta.md
  translations/zh-CN/data/reusables/pages/test-locally.md
Labels: triage, automated-reposync-pr

#19382 repo sync
  content/rest/overview/permissions-required-for-github-apps.md
Labels: triage, automated-reposync-pr

#19388 repo sync
  content/repositories/creating-and-managing-repositories/transferring-a-repository.md
Labels: triage, automated-reposync-pr

#19393 repo sync
  data/release-notes/enterprise-server/3-5/0.yml
  translations/zh-CN/data/release-notes/enterprise-server/3-5/0.yml
Labels: triage, automated-reposync-pr

#19394 repo sync
  components/lib/events.ts
  components/lib/get-session.ts
Labels: triage, automated-reposync-pr

#19395 repo sync
  .github/workflows/stale.yml
Labels: triage, automated-reposync-pr

#19396 repo sync
  translations/pt-BR/content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/about-notifications.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  translations/pt-BR/content/codespaces/index.md
  translations/pt-BR/content/codespaces/the-githubdev-web-based-editor.md
  translations/pt-BR/content/communities/setting-up-your-project-for-healthy-contributions/about-community-management-and-moderation.md
  translations/pt-BR/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository.md
  translations/pt-BR/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/pt-BR/content/discussions/collaborating-with-your-community-using-discussions/about-discussions.md
  translations/pt-BR/content/discussions/index.md
  translations/pt-BR/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-in-your-classroom-and-research/about-github-education-for-educators-and-researchers.md
  translations/pt-BR/content/get-started/learning-about-github/faq-about-changes-to-githubs-plans.md
  translations/pt-BR/content/get-started/learning-about-github/github-language-support.md
  translations/pt-BR/content/get-started/using-github/github-mobile.md
  translations/pt-BR/content/packages/learn-github-packages/introduction-to-github-packages.md
  translations/pt-BR/content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/automatically-merging-a-pull-request.md
  translations/pt-BR/content/repositories/creating-and-managing-repositories/transferring-a-repository.md
  translations/pt-BR/content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md
  translations/pt-BR/content/repositories/working-with-files/using-files/working-with-non-code-files.md
  translations/pt-BR/content/rest/overview/permissions-required-for-github-apps.md
  translations/pt-BR/content/site-policy/github-terms/github-community-code-of-conduct.md
  translations/pt-BR/content/site-policy/github-terms/github-community-forum-code-of-conduct.md
  translations/pt-BR/content/site-policy/github-terms/index.md
  translations/pt-BR/content/sponsors/index.md
  translations/pt-BR/data/release-notes/enterprise-server/3-4/0-rc1.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-4/0.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-5/0.yml
  translations/pt-BR/data/reusables/actions/contacting-support.md
  translations/pt-BR/data/reusables/sponsors/feedback.md
  translations/pt-BR/data/reusables/support/connect-in-the-forum-bootcamp.md
  translations/pt-BR/data/reusables/support/help_resources.md
  translations/pt-BR/data/variables/contact.yml
  translations/pt-BR/data/variables/product.yml
Labels: triage, automated-reposync-pr

#19398 repo sync
  components/context/MainContext.tsx
  content/site-policy/other-site-policies/guidelines-for-legal-requests-of-user-data.md
  lib/frontmatter.js
  lib/liquid-tags/data.js
Labels: triage, automated-reposync-pr

#19399 repo sync
  middleware/cache-control.js
  middleware/healthz.js
  middleware/index.js
  middleware/render-page.js
  middleware/set-fastly-cache-headers.js
  tests/rendering/server.js
  translations/es-ES/content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/about-notifications.md
  translations/es-ES/content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  translations/es-ES/content/codespaces/index.md
  translations/es-ES/content/codespaces/the-githubdev-web-based-editor.md
  translations/es-ES/content/communities/setting-up-your-project-for-healthy-contributions/about-community-management-and-moderation.md
  translations/es-ES/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository.md
  translations/es-ES/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/es-ES/content/discussions/collaborating-with-your-community-using-discussions/about-discussions.md
  translations/es-ES/content/discussions/index.md
  translations/es-ES/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-in-your-classroom-and-research/about-github-education-for-educators-and-researchers.md
  translations/es-ES/content/get-started/learning-about-github/faq-about-changes-to-githubs-plans.md
  translations/es-ES/content/get-started/learning-about-github/github-language-support.md
  translations/es-ES/content/get-started/using-github/github-mobile.md
  translations/es-ES/content/packages/learn-github-packages/introduction-to-github-packages.md
  translations/es-ES/content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/automatically-merging-a-pull-request.md
  translations/es-ES/content/repositories/creating-and-managing-repositories/transferring-a-repository.md
  translations/es-ES/content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md
  translations/es-ES/content/repositories/working-with-files/using-files/working-with-non-code-files.md
  translations/es-ES/content/rest/overview/permissions-required-for-github-apps.md
  translations/es-ES/content/site-policy/github-terms/github-community-code-of-conduct.md
  translations/es-ES/content/site-policy/github-terms/github-community-forum-code-of-conduct.md
  translations/es-ES/content/site-policy/github-terms/index.md
  translations/es-ES/content/sponsors/index.md
  translations/es-ES/data/release-notes/enterprise-server/3-4/0-rc1.yml
  translations/es-ES/data/release-notes/enterprise-server/3-4/0.yml
  translations/es-ES/data/release-notes/enterprise-server/3-5/0.yml
  translations/es-ES/data/reusables/actions/contacting-support.md
  translations/es-ES/data/reusables/sponsors/feedback.md
  translations/es-ES/data/reusables/support/connect-in-the-forum-bootcamp.md
  translations/es-ES/data/reusables/support/help_resources.md
  translations/es-ES/data/variables/contact.yml
  translations/es-ES/data/variables/product.yml
  translations/log/es-resets.csv
Labels: triage, automated-reposync-pr

#19403 repo sync
  translations/log/cn-resets.csv
  translations/zh-CN/content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/about-notifications.md
  translations/zh-CN/content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  translations/zh-CN/content/codespaces/index.md
  translations/zh-CN/content/codespaces/the-githubdev-web-based-editor.md
  translations/zh-CN/content/communities/setting-up-your-project-for-healthy-contributions/about-community-management-and-moderation.md
  translations/zh-CN/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository.md
  translations/zh-CN/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/zh-CN/content/discussions/collaborating-with-your-community-using-discussions/about-discussions.md
  translations/zh-CN/content/discussions/index.md
  translations/zh-CN/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-in-your-classroom-and-research/about-github-education-for-educators-and-researchers.md
  translations/zh-CN/content/get-started/learning-about-github/faq-about-changes-to-githubs-plans.md
  translations/zh-CN/content/get-started/learning-about-github/github-language-support.md
  translations/zh-CN/content/get-started/using-github/github-mobile.md
  translations/zh-CN/content/packages/learn-github-packages/introduction-to-github-packages.md
  translations/zh-CN/content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/automatically-merging-a-pull-request.md
  translations/zh-CN/content/repositories/creating-and-managing-repositories/transferring-a-repository.md
  translations/zh-CN/content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md
  translations/zh-CN/content/repositories/working-with-files/using-files/working-with-non-code-files.md
  translations/zh-CN/content/rest/overview/permissions-required-for-github-apps.md
  translations/zh-CN/content/site-policy/github-terms/github-community-code-of-conduct.md
  translations/zh-CN/content/site-policy/github-terms/github-community-forum-code-of-conduct.md
  translations/zh-CN/content/site-policy/github-terms/index.md
  translations/zh-CN/content/sponsors/index.md
  translations/zh-CN/data/release-notes/enterprise-server/3-4/0-rc1.yml
  translations/zh-CN/data/release-notes/enterprise-server/3-4/0.yml
  translations/zh-CN/data/reusables/actions/contacting-support.md
  translations/zh-CN/data/reusables/sponsors/feedback.md
  translations/zh-CN/data/reusables/support/connect-in-the-forum-bootcamp.md
  translations/zh-CN/data/reusables/support/help_resources.md
  translations/zh-CN/data/variables/contact.yml
  translations/zh-CN/data/variables/product.yml
Labels: triage, automated-reposync-pr

#19405 repo sync
  translations/ja-JP/content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/about-notifications.md
  translations/ja-JP/content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  translations/ja-JP/content/codespaces/index.md
  translations/ja-JP/content/codespaces/the-githubdev-web-based-editor.md
  translations/ja-JP/content/communities/setting-up-your-project-for-healthy-contributions/about-community-management-and-moderation.md
  translations/ja-JP/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository.md
  translations/ja-JP/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/ja-JP/content/discussions/collaborating-with-your-community-using-discussions/about-discussions.md
  translations/ja-JP/content/discussions/index.md
  translations/ja-JP/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-in-your-classroom-and-research/about-github-education-for-educators-and-researchers.md
  translations/ja-JP/content/get-started/learning-about-github/faq-about-changes-to-githubs-plans.md
  translations/ja-JP/content/get-started/learning-about-github/github-language-support.md
  translations/ja-JP/content/get-started/using-github/github-mobile.md
  translations/ja-JP/content/packages/learn-github-packages/introduction-to-github-packages.md
  translations/ja-JP/content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/automatically-merging-a-pull-request.md
  translations/ja-JP/content/repositories/creating-and-managing-repositories/transferring-a-repository.md
  translations/ja-JP/content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md
  translations/ja-JP/content/repositories/working-with-files/using-files/working-with-non-code-files.md
  translations/ja-JP/content/rest/overview/permissions-required-for-github-apps.md
  translations/ja-JP/content/site-policy/github-terms/github-community-code-of-conduct.md
  translations/ja-JP/content/site-policy/github-terms/github-community-forum-code-of-conduct.md
  translations/ja-JP/content/site-policy/github-terms/index.md
  translations/ja-JP/content/sponsors/index.md
  translations/ja-JP/data/release-notes/enterprise-server/3-4/0-rc1.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-4/0.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-5/0.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-6/0-rc1.yml
  translations/ja-JP/data/reusables/actions/contacting-support.md
  translations/ja-JP/data/reusables/sponsors/feedback.md
  translations/ja-JP/data/reusables/support/connect-in-the-forum-bootcamp.md
  translations/ja-JP/data/reusables/support/help_resources.md
  translations/ja-JP/data/variables/contact.yml
  translations/ja-JP/data/variables/product.yml
  translations/log/ja-resets.csv
Labels: triage, automated-reposync-pr

#19422 repo sync
  translations/pt-BR/content/site-policy/other-site-policies/guidelines-for-legal-requests-of-user-data.md
Labels: triage, automated-reposync-pr

#19426 repo sync
  translations/es-ES/content/site-policy/other-site-policies/guidelines-for-legal-requests-of-user-data.md
Labels: triage, automated-reposync-pr

#19432 repo sync
  translations/zh-CN/content/site-policy/other-site-policies/guidelines-for-legal-requests-of-user-data.md
Labels: triage, automated-reposync-pr

#19438 repo sync
  translations/ja-JP/content/billing/managing-billing-for-github-codespaces/viewing-your-github-codespaces-usage.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/managing-project-boards/about-automation-for-project-boards.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/managing-project-boards/about-project-boards.md
  translations/ja-JP/content/site-policy/other-site-policies/guidelines-for-legal-requests-of-user-data.md
  translations/ja-JP/data/release-notes/enterprise-server/3-6/0-rc1.yml
  translations/log/ja-resets.csv
Labels: triage, automated-reposync-pr

#19446 repo sync
  data/release-notes/enterprise-server/3-3/11.yml
  data/release-notes/enterprise-server/3-4/6.yml
  data/release-notes/enterprise-server/3-5/3.yml
Labels: triage, automated-reposync-pr
