Repository github/docs, pull requests merged in 2022-05, with the labels that each got.

#17540 repo sync
  components/guides/ProductGuides.tsx
Labels: triage, automated-reposync-pr

#17547 repo sync
  components/sidebar/RestCollapsibleSection.tsx
  pages/[versionId]/rest/overview/endpoints-available-for-github-apps.tsx
Labels: triage, automated-reposync-pr

#17550 repo sync
  data/reusables/actions/self-hosted-runner-security.md
Labels: triage, automated-reposync-pr

#17560 repo sync
  components/rest/RestOperation.tsx
Labels: triage, automated-reposync-pr

#17571 repo sync
  content/actions/using-workflows/reusing-workflows.md
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
  data/features/actions-inherit-secrets-reusable-workflows.yml
  data/reusables/actions/pass-inputs-to-reusable-workflows.md
Labels: triage, automated-reposync-pr

#17579 repo sync
  content/rest/apps/apps.md
  content/rest/apps/installations.md
  content/rest/apps/marketplace.md
  content/rest/apps/oauth-applications.md
  content/rest/apps/webhooks.md
  content/rest/codespaces/codespaces.md
  content/rest/codespaces/machines.md
  content/rest/codespaces/repository-secrets.md
  content/rest/codespaces/secrets.md
  content/rest/deployments/deployments.md
  content/rest/deployments/environments.md
  content/rest/orgs/members.md
  content/rest/orgs/webhooks.md
  content/rest/projects/cards.md
  content/rest/projects/collaborators.md
  content/rest/projects/columns.md
  content/rest/projects/projects.md
  content/rest/teams/discussion-comments.md
  content/rest/teams/discussions.md
  content/rest/teams/external-groups.md
  content/rest/teams/members.md
  content/rest/teams/team-sync.md
  content/rest/teams/teams.md
  data/reusables/organizations/team-api.md
  data/reusables/projects/projects-api.md
Labels: triage, automated-reposync-pr

#17582 repo sync
  content/rest/issues/assignees.md
  content/rest/issues/comments.md
  content/rest/issues/events.md
  content/rest/issues/issues.md
  content/rest/issues/labels.md
  content/rest/issues/timeline.md
  content/rest/migrations/orgs.md
  content/rest/migrations/source-imports.md
  content/rest/migrations/users.md
  content/rest/pulls/comments.md
  content/rest/pulls/pulls.md
  content/rest/pulls/review-requests.md
  content/rest/pulls/reviews.md
  content/rest/repos/autolinks.md
  content/rest/repos/contents.md
  content/rest/repos/repos.md
  content/rest/repos/tags.md
  content/rest/users/blocking.md
  content/rest/users/emails.md
  content/rest/users/followers.md
  content/rest/users/gpg-keys.md
  content/rest/users/keys.md
  content/rest/users/users.md
  data/reusables/pull_requests/issues-media-types.md
  data/reusables/pull_requests/issues-pr-shared-api.md
  data/reusables/user-settings/user-api.md
Labels: triage, automated-reposync-pr

#17510 Delete duplicate content in fork-a-repo.md
  content/get-started/quickstart/fork-a-repo.md
Labels: content, ready to merge, waiting for review, get started

#17586 Update enabling-dependabot-for-your-enterprise.md
  content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
Labels: content, ready to merge, enterprise

#17459 Members readme is in a private `.github-private` repository
  content/organizations/collaborating-with-groups-in-organizations/customizing-your-organizations-profile.md
Labels: content, waiting for review, organizations

#17592 repo sync
  translations/pt-BR/content/actions/using-workflows/reusing-workflows.md
  translations/pt-BR/content/actions/using-workflows/workflow-syntax-for-github-actions.md
  translations/pt-BR/content/get-started/quickstart/fork-a-repo.md
  translations/pt-BR/content/rest/apps/apps.md
  translations/pt-BR/content/rest/apps/installations.md
  translations/pt-BR/content/rest/apps/marketplace.md
  translations/pt-BR/content/rest/apps/oauth-applications.md
  translations/pt-BR/content/rest/apps/webhooks.md
  translations/pt-BR/content/rest/codespaces/codespaces.md
  translations/pt-BR/content/rest/codespaces/machines.md
  translations/pt-BR/content/rest/codespaces/repository-secrets.md
  translations/pt-BR/content/rest/codespaces/secrets.md
  translations/pt-BR/content/rest/deployments/deployments.md
  translations/pt-BR/content/rest/deployments/environments.md
  translations/pt-BR/content/rest/issues/assignees.md
  translations/pt-BR/content/rest/issues/comments.md
  translations/pt-BR/content/rest/issues/events.md
  translations/pt-BR/content/rest/issues/issues.md
  translations/pt-BR/content/rest/issues/labels.md
  translations/pt-BR/content/rest/issues/timeline.md
  translations/pt-BR/content/rest/migrations/orgs.md
  translations/pt-BR/content/rest/migrations/source-imports.md
  translations/pt-BR/content/rest/migrations/users.md
  translations/pt-BR/content/rest/orgs/members.md
  translations/pt-BR/content/rest/orgs/webhooks.md
  translations/pt-BR/content/rest/projects/cards.md
  translations/pt-BR/content/rest/projects/collaborators.md
  translations/pt-BR/content/rest/projects/columns.md
  translations/pt-BR/content/rest/projects/projects.md
  translations/pt-BR/content/rest/pulls/comments.md
  translations/pt-BR/content/rest/pulls/pulls.md
  translations/pt-BR/content/rest/pulls/review-requests.md
  translations/pt-BR/content/rest/pulls/reviews.md
  translations/pt-BR/content/rest/repos/autolinks.md
  translations/pt-BR/content/rest/repos/contents.md
  translations/pt-BR/content/rest/repos/repos.md
  translations/pt-BR/content/rest/repos/tags.md
  translations/pt-BR/content/rest/teams/discussion-comments.md
  translations/pt-BR/content/rest/teams/discussions.md
  translations/pt-BR/content/rest/teams/external-groups.md
  translations/pt-BR/content/rest/teams/members.md
  translations/pt-BR/content/rest/teams/team-sync.md
  translations/pt-BR/content/rest/teams/teams.md
  translations/pt-BR/content/rest/users/blocking.md
  translations/pt-BR/content/rest/users/emails.md
  translations/pt-BR/content/rest/users/followers.md
  translations/pt-BR/content/rest/users/gpg-keys.md
  translations/pt-BR/content/rest/users/keys.md
  translations/pt-BR/content/rest/users/users.md
  translations/pt-BR/data/features/actions-inherit-secrets-reusable-workflows.yml
  translations/pt-BR/data/reusables/actions/pass-inputs-to-reusable-workflows.md
  translations/pt-BR/data/reusables/actions/self-hosted-runner-security.md
  translations/pt-BR/data/reusables/organizations/team-api.md
  translations/pt-BR/data/reusables/projects/projects-api.md
  translations/pt-BR/data/reusables/pull_requests/issues-media-types.md
  translations/pt-BR/data/reusables/pull_requests/issues-pr-shared-api.md
  translations/pt-BR/data/reusables/user-settings/user-api.md
Labels: triage, automated-reposync-pr

#17596 repo sync
  middleware/anchor-redirect.js
Labels: triage, automated-reposync-pr

#17598 repo sync
  .github/actions-scripts/content-changes-table-comment.js
Labels: triage, automated-reposync-pr

#17599 repo sync
  lib/rest/index.js
  pages/[versionId]/rest/[category]/[subcategory].tsx
  pages/[versionId]/rest/[category]/index.tsx
Labels: triage, automated-reposync-pr

#17604 repo sync
  lib/rest/index.js
  lib/rest/static/apps/enabled-for-apps.json
  pages/[versionId]/rest/overview/endpoints-available-for-github-apps.tsx
  script/rest/update-files.js
  tests/rendering/rest.js
Labels: triage, automated-reposync-pr

#17607 repo sync
  components/rest/RestOperation.tsx
Labels: triage, automated-reposync-pr

#17611 repo sync
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
Labels: triage, automated-reposync-pr

#17614 repo sync
  assets/images/help/organizations/repo-invitations-checkbox-old.png
  assets/images/help/organizations/repo-invitations-checkbox-updated.png
  content/admin/configuration/configuring-your-enterprise/site-admin-dashboard.md
  content/admin/overview/creating-an-enterprise-account.md
  content/organizations/managing-organization-settings/setting-permissions-for-adding-outside-collaborators.md
Labels: triage, automated-reposync-pr

#17622 repo sync
  content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-custom-repository-roles-for-an-organization.md
  tests/rendering/rest.js
Labels: triage, automated-reposync-pr

#17624 repo sync
  .github/actions-scripts/content-changes-table-comment.js
Labels: triage, automated-reposync-pr

#16471 Added limitation for inputs for a workflow_dispatch event
  content/actions/managing-workflow-runs/manually-running-a-workflow.md
Labels: content, actions, waiting for review, SME reviewed

#17734 repo sync
  assets/images/help/classroom/classroom-settings-enable-codespaces-button.png
  assets/images/help/classroom/org-view-codespaces-eligibility.png
  assets/images/help/classroom/select-supported-editor-including-codespaces.png
  assets/images/help/classroom/setup-classroom-enable-codespaces-button.png
  assets/images/help/classroom/student-codespaces-readme-link.png
  assets/images/help/classroom/student-launch-new-codespace.png
  assets/images/help/classroom/teacher-assignment-view-with-codespaces.png
  content/codespaces/managing-codespaces-for-your-organization/enabling-codespaces-for-your-organization.md
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/index.md
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/integrate-github-classroom-with-an-ide.md
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/using-github-codespaces-with-github-classroom.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-a-group-assignment.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-an-individual-assignment.md
  data/reusables/classroom/assignments-guide-choose-an-online-ide.md
  data/reusables/classroom/classroom-codespaces-link.md
  data/reusables/classroom/free-limited-codespaces-for-verified-teachers-beta-note.md
  data/reusables/gated-features/codespaces-classroom-articles.md
Labels: triage, automated-reposync-pr

#17630 Codespaces `write-all` permission syntax is incorrect
  content/codespaces/managing-your-codespaces/managing-repository-access-for-your-codespaces.md
Labels: content, waiting for review, codespaces

#17735 repo sync
  assets/images/actions-job-summary-simple-example.png
  content/actions/learn-github-actions/environment-variables.md
  content/actions/using-workflows/workflow-commands-for-github-actions.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-for-your-schoolwork/about-github-education-for-students.md
  data/features/actions-job-summaries.yml
  data/reusables/education/about-github-education-link.md
  data/reusables/repositories/view-run.md
Labels: triage, automated-reposync-pr

#17756 Update types-of-contributions.md
  contributing/types-of-contributions.md
Labels: triage

#17280 Tweaks for managing disruptive comments
  content/communities/moderating-comments-and-conversations/managing-disruptive-comments.md
Labels: content, ready to merge, communities, get started

#17685 Fix "used to signed in"
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/about-two-factor-authentication.md
Labels: content, ready to merge, authentication

#17442 Update troubleshooting-the-codeql-workflow.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
Labels: content, waiting for review, code security, SME reviewed

#17706 Fix an incorrect explanation of the `is:unmerged` search qualifier
  content/search-github/searching-on-github/searching-issues-and-pull-requests.md
Labels: content, waiting for review, search-github

#17201 docs: highlight Git Credential Manager as alternative to PATs/SSH keys
  content/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/accessing-github-using-two-factor-authentication.md
  data/reusables/user-settings/password-authentication-deprecation.md
Labels: content, waiting for review, authentication

#17642 Fix typo octocat and replace with YOUR_USERNAME
  content/get-started/quickstart/fork-a-repo.md
Labels: content, waiting for review, get started

#17753 Update github.dart link to new organization.
  content/rest/overview/libraries.md
Labels: content, ready to merge, rest

#17783 repo sync
  data/release-notes/enterprise-server/3-5/0-rc1.yml
Labels: triage, automated-reposync-pr

#17784 repo sync
  content/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates.md
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  data/features/dependabot-grouped-dependencies.yml
Labels: triage, automated-reposync-pr

#17788 repo sync
  content/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers.md
Labels: triage, automated-reposync-pr

#17427 Style guide fixes to linking-a-pull-request-to-an-issue.md
  content/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue.md
Labels: content, waiting for review, issues

#17790 repo sync
  content/support/learning-about-github-support/about-github-support.md
Labels: triage, automated-reposync-pr

#17792 repo sync
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  data/release-notes/enterprise-server/3-5/0-rc1.yml
  data/reusables/actions/hardware-requirements-3.5.md
  data/reusables/enterprise_installation/hardware-rec-table.md
  package-lock.json
  package.json
  script/content-migrations/add-tags-to-articles.js
Labels: triage, automated-reposync-pr

#17794 repo sync
  .eslintrc.js
  docker-compose.prod.tmpl.yaml
  lib/sigsci.js
  middleware/index.js
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#17428 Style guide fixes
  content/issues/tracking-your-work-with-issues/about-issues.md
Labels: content, ready to merge

#17795 repo sync
  assets/images/help/repository/secret-scanning-dry-run-custom-pattern-select-repo.png
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  data/features/secret-scanning-enterprise-dry-runs.yml
  data/reusables/advanced-security/secret-scanning-dry-run-results.md
  data/reusables/advanced-security/secret-scanning-dry-run-select-repos.md
  middleware/index.js
  middleware/overload-protection.js
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#17796 repo sync
  lib/sigsci.js
Labels: triage, automated-reposync-pr

#17800 repo sync
  middleware/overload-protection.js
Labels: triage, automated-reposync-pr

#17802 repo sync
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
  translations/ja-JP/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  translations/ja-JP/content/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token.md
  translations/ja-JP/content/authentication/securing-your-account-with-two-factor-authentication-2fa/accessing-github-using-two-factor-authentication.md
  translations/ja-JP/content/billing/managing-billing-for-your-github-account/connecting-an-azure-subscription-to-your-enterprise.md
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  translations/ja-JP/content/code-security/dependabot/dependabot-alerts/about-dependabot-alerts.md
  translations/ja-JP/content/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates.md
  translations/ja-JP/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/ja-JP/content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  translations/ja-JP/content/codespaces/getting-started/quickstart.md
  translations/ja-JP/content/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers.md
  translations/ja-JP/content/get-started/quickstart/fork-a-repo.md
  translations/ja-JP/content/issues/tracking-your-work-with-issues/about-issues.md
  translations/ja-JP/content/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue.md
  translations/ja-JP/content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/configuring-commit-squashing-for-pull-requests.md
  translations/ja-JP/content/rest/overview/libraries.md
  translations/ja-JP/content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  translations/ja-JP/content/support/learning-about-github-support/about-github-support.md
  translations/ja-JP/data/features/dependabot-grouped-dependencies.yml
  translations/ja-JP/data/features/secret-scanning-enterprise-dry-runs.yml
  translations/ja-JP/data/learning-tracks/README.md
  translations/ja-JP/data/learning-tracks/code-security.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-5/0-rc1.yml
  translations/ja-JP/data/reusables/actions/hardware-requirements-3.5.md
  translations/ja-JP/data/reusables/advanced-security/secret-scanning-dry-run-results.md
  translations/ja-JP/data/reusables/advanced-security/secret-scanning-dry-run-select-repos.md
  translations/ja-JP/data/reusables/enterprise_installation/hardware-rec-table.md
  translations/ja-JP/data/reusables/user-settings/password-authentication-deprecation.md
Labels: triage, automated-reposync-pr

#17815 repo sync
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-azure.md
Labels: triage, automated-reposync-pr

#17816 repo sync
  assets/images/help/settings/actions-workflow-permissions-enterprise-with-pr-approval.png
  assets/images/help/settings/actions-workflow-permissions-organization-with-pr-approval.png
  assets/images/help/settings/actions-workflow-permissions-organization-with-pr-creation-approval.png
  assets/images/help/settings/actions-workflow-permissions-repository-with-pr-approval.png
  content/actions/security-guides/security-hardening-for-github-actions.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-github-actions-in-your-enterprise.md
  content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  data/features/allow-actions-to-approve-pr-with-ent-repo.yml
  data/features/allow-actions-to-approve-pr.yml
  data/reusables/actions/workflow-permissions-intro.md
  data/reusables/actions/workflow-pr-approval-permissions-intro.md
Labels: triage, automated-reposync-pr

#16468 clarify precondition to working with wiki locally
  content/communities/documenting-your-project-with-wikis/adding-or-editing-wiki-pages.md
Labels: content, waiting for review, communities

#17818 repo sync
  data/release-notes/enterprise-server/3-5/0-rc1.yml
Labels: triage, automated-reposync-pr

#17773 clarify that there are two different auto-merge approaches
  content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
Labels: content, waiting for review, code security

#17806 Fix typo in workflow triggers documentation.
  data/reusables/actions/workflows/section-triggering-a-workflow-branches.md
Labels: actions, ready to merge

#17822 repo sync
  middleware/fast-head.js
  middleware/index.js
  middleware/loaderio-verification.js
  tests/rendering/server.js
Labels: triage, automated-reposync-pr

#17825 repo sync
  assets/images/help/2fa/edit-primary-delivery-option.png
  assets/images/help/2fa/edit-sms-delivery-option.png
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/changing-two-factor-authentication-delivery-methods-for-your-mobile-device.md
  translations/log/pt-resets.csv
  translations/pt-BR/content/actions/managing-workflow-runs/skipping-workflow-runs.md
  translations/pt-BR/content/actions/migrating-to-github-actions/migrating-from-circleci-to-github-actions.md
  translations/pt-BR/content/actions/security-guides/security-hardening-for-github-actions.md
  translations/pt-BR/content/actions/using-jobs/using-conditions-to-control-job-execution.md
  translations/pt-BR/content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
  translations/pt-BR/content/actions/using-workflows/workflow-commands-for-github-actions.md
  translations/pt-BR/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  translations/pt-BR/content/admin/identity-and-access-management/managing-iam-for-your-enterprise/username-considerations-for-external-authentication.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-azure.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-openstack-kvm.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-xenserver.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/analyzing-how-your-team-works-with-server-statistics/about-server-statistics.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  translations/pt-BR/content/admin/overview/creating-an-enterprise-account.md
  translations/pt-BR/content/admin/packages/configuring-package-ecosystem-support-for-your-enterprise.md
  translations/pt-BR/content/admin/packages/enabling-github-packages-with-azure-blob-storage.md
  translations/pt-BR/content/admin/packages/getting-started-with-github-packages-for-your-enterprise.md
  translations/pt-BR/content/admin/packages/quickstart-for-configuring-your-minio-storage-bucket-for-github-packages.md
  translations/pt-BR/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-github-actions-in-your-enterprise.md
  translations/pt-BR/content/admin/user-management/managing-organizations-in-your-enterprise/managing-your-role-in-an-organization-owned-by-your-enterprise.md
  translations/pt-BR/content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
  translations/pt-BR/content/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token.md
  translations/pt-BR/content/authentication/keeping-your-account-and-data-secure/reviewing-your-security-log.md
  translations/pt-BR/content/authentication/keeping-your-account-and-data-secure/token-expiration-and-revocation.md
  translations/pt-BR/content/authentication/managing-commit-signature-verification/about-commit-signature-verification.md
  translations/pt-BR/content/authentication/securing-your-account-with-two-factor-authentication-2fa/about-two-factor-authentication.md
  translations/pt-BR/content/authentication/securing-your-account-with-two-factor-authentication-2fa/accessing-github-using-two-factor-authentication.md
  translations/pt-BR/content/billing/managing-billing-for-github-advanced-security/viewing-your-github-advanced-security-usage.md
  translations/pt-BR/content/billing/managing-billing-for-your-github-account/about-per-user-pricing.md
  translations/pt-BR/content/billing/managing-billing-for-your-github-account/connecting-an-azure-subscription-to-your-enterprise.md
  translations/pt-BR/content/billing/managing-your-license-for-github-enterprise/syncing-license-usage-between-github-enterprise-server-and-github-enterprise-cloud.md
  translations/pt-BR/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  translations/pt-BR/content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
  translations/pt-BR/content/communities/documenting-your-project-with-wikis/adding-or-editing-wiki-pages.md
  translations/pt-BR/content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  translations/pt-BR/content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks.md
  translations/pt-BR/content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  translations/pt-BR/data/features/allow-actions-to-approve-pr-with-ent-repo.yml
  translations/pt-BR/data/features/allow-actions-to-approve-pr.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-5/0-rc1.yml
  translations/pt-BR/data/reusables/actions/minio-gateways-removal.md
  translations/pt-BR/data/reusables/actions/workflow-permissions-intro.md
  translations/pt-BR/data/reusables/actions/workflow-pr-approval-permissions-intro.md
  translations/pt-BR/data/reusables/actions/workflows/section-triggering-a-workflow-branches.md
  translations/pt-BR/data/reusables/actions/workflows/section-triggering-a-workflow-paths.md
  translations/pt-BR/data/reusables/secret-scanning/partner-secret-list-public-repo.md
Labels: triage, automated-reposync-pr

#17829 repo sync
  .github/workflows/azure-prod-build-deploy.yml
  translations/es-ES/content/actions/managing-workflow-runs/skipping-workflow-runs.md
  translations/es-ES/content/actions/security-guides/security-hardening-for-github-actions.md
  translations/es-ES/content/actions/using-jobs/using-conditions-to-control-job-execution.md
  translations/es-ES/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-azure.md
  translations/es-ES/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-github-actions-in-your-enterprise.md
  translations/es-ES/content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
  translations/es-ES/content/communities/documenting-your-project-with-wikis/adding-or-editing-wiki-pages.md
  translations/es-ES/content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  translations/es-ES/content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks.md
  translations/es-ES/content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  translations/es-ES/data/features/allow-actions-to-approve-pr-with-ent-repo.yml
  translations/es-ES/data/features/allow-actions-to-approve-pr.yml
  translations/es-ES/data/release-notes/enterprise-server/3-5/0-rc1.yml
  translations/es-ES/data/reusables/actions/workflow-permissions-intro.md
  translations/es-ES/data/reusables/actions/workflow-pr-approval-permissions-intro.md
  translations/es-ES/data/reusables/actions/workflows/section-triggering-a-workflow-branches.md
  translations/es-ES/data/reusables/actions/workflows/section-triggering-a-workflow-paths.md
  translations/es-ES/data/reusables/secret-scanning/partner-secret-list-public-repo.md
Labels: triage, automated-reposync-pr

#17832 repo sync
  .github/workflows/sync-search-indices.yml
  .github/workflows/sync-search-pr.yml
  middleware/index.js
Labels: triage, automated-reposync-pr

#17849 repo sync
  translations/ja-JP/content/actions/managing-workflow-runs/skipping-workflow-runs.md
  translations/ja-JP/content/actions/security-guides/security-hardening-for-github-actions.md
  translations/ja-JP/content/actions/using-jobs/using-conditions-to-control-job-execution.md
  translations/ja-JP/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-azure.md
  translations/ja-JP/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-github-actions-in-your-enterprise.md
  translations/ja-JP/content/billing/managing-billing-for-your-github-account/connecting-an-azure-subscription-to-your-enterprise.md
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  translations/ja-JP/content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
  translations/ja-JP/content/communities/documenting-your-project-with-wikis/adding-or-editing-wiki-pages.md
  translations/ja-JP/content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  translations/ja-JP/content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks.md
  translations/ja-JP/content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  translations/ja-JP/data/features/allow-actions-to-approve-pr-with-ent-repo.yml
  translations/ja-JP/data/features/allow-actions-to-approve-pr.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-5/0-rc1.yml
  translations/ja-JP/data/reusables/actions/workflow-permissions-intro.md
  translations/ja-JP/data/reusables/actions/workflow-pr-approval-permissions-intro.md
  translations/ja-JP/data/reusables/actions/workflows/section-triggering-a-workflow-branches.md
  translations/ja-JP/data/reusables/actions/workflows/section-triggering-a-workflow-paths.md
  translations/ja-JP/data/reusables/secret-scanning/partner-secret-list-public-repo.md
  translations/log/cn-resets.csv
  translations/zh-CN/content/actions/managing-workflow-runs/skipping-workflow-runs.md
  translations/zh-CN/content/actions/security-guides/security-hardening-for-github-actions.md
  translations/zh-CN/content/actions/using-jobs/using-conditions-to-control-job-execution.md
  translations/zh-CN/content/admin/configuration/configuring-github-connect/enabling-server-statistics-for-your-enterprise.md
  translations/zh-CN/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-azure.md
  translations/zh-CN/content/admin/monitoring-activity-in-your-enterprise/analyzing-how-your-team-works-with-server-statistics/exporting-server-statistics.md
  translations/zh-CN/content/admin/monitoring-activity-in-your-enterprise/analyzing-how-your-team-works-with-server-statistics/index.md
  translations/zh-CN/content/admin/monitoring-activity-in-your-enterprise/analyzing-how-your-team-works-with-server-statistics/requesting-server-statistics-using-the-rest-api.md
  translations/zh-CN/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-github-actions-in-your-enterprise.md
  translations/zh-CN/content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
  translations/zh-CN/content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  translations/zh-CN/content/communities/documenting-your-project-with-wikis/adding-or-editing-wiki-pages.md
  translations/zh-CN/content/issues/tracking-your-work-with-issues/about-issues.md
  translations/zh-CN/content/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue.md
  translations/zh-CN/content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  translations/zh-CN/content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/configuring-commit-squashing-for-pull-requests.md
  translations/zh-CN/content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks.md
  translations/zh-CN/content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  translations/zh-CN/content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  translations/zh-CN/data/features/allow-actions-to-approve-pr-with-ent-repo.yml
  translations/zh-CN/data/features/allow-actions-to-approve-pr.yml
  translations/zh-CN/data/release-notes/enterprise-server/3-5/0-rc1.yml
  translations/zh-CN/data/reusables/actions/workflow-permissions-intro.md
  translations/zh-CN/data/reusables/actions/workflow-pr-approval-permissions-intro.md
  translations/zh-CN/data/reusables/actions/workflows/section-triggering-a-workflow-branches.md
  translations/zh-CN/data/reusables/actions/workflows/section-triggering-a-workflow-paths.md
  translations/zh-CN/data/reusables/secret-scanning/partner-secret-list-public-repo.md
  translations/zh-CN/data/variables/product.yml
Labels: triage, automated-reposync-pr

#17850 repo sync
  translations/pt-BR/content/authentication/securing-your-account-with-two-factor-authentication-2fa/changing-two-factor-authentication-delivery-methods-for-your-mobile-device.md
Labels: triage, automated-reposync-pr

#17871 repo sync
  translations/log/cn-resets.csv
  translations/zh-CN/content/actions/managing-workflow-runs/skipping-workflow-runs.md
  translations/zh-CN/content/actions/using-jobs/using-conditions-to-control-job-execution.md
  translations/zh-CN/content/actions/using-workflows/about-workflows.md
  translations/zh-CN/content/admin/configuration/configuring-github-connect/enabling-server-statistics-for-your-enterprise.md
  translations/zh-CN/content/admin/configuration/configuring-your-enterprise/configuring-web-commit-signing.md
  translations/zh-CN/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-azure.md
  translations/zh-CN/content/admin/monitoring-activity-in-your-enterprise/analyzing-how-your-team-works-with-server-statistics/about-server-statistics.md
  translations/zh-CN/content/admin/monitoring-activity-in-your-enterprise/analyzing-how-your-team-works-with-server-statistics/exporting-server-statistics.md
  translations/zh-CN/content/authentication/securing-your-account-with-two-factor-authentication-2fa/changing-two-factor-authentication-delivery-methods-for-your-mobile-device.md
  translations/zh-CN/content/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates.md
  translations/zh-CN/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/zh-CN/content/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers.md
  translations/zh-CN/content/communities/documenting-your-project-with-wikis/adding-or-editing-wiki-pages.md
  translations/zh-CN/content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks.md
  translations/zh-CN/content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  translations/zh-CN/data/reusables/actions/workflows/section-triggering-a-workflow-paths.md
  translations/zh-CN/data/reusables/enterprise-accounts/billing-microsoft-ea-overview.md
  translations/zh-CN/data/reusables/pages/secure-your-domain.md
  translations/zh-CN/data/reusables/pages/settings-verify-domain-setup.md
  translations/zh-CN/data/reusables/sponsors/tax-form-link.md
  translations/zh-CN/data/reusables/support/submit-a-ticket.md
Labels: triage, automated-reposync-pr

#17888 repo sync
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-the-dependency-graph.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization.md
Labels: triage, automated-reposync-pr

#16741 Update assigning-issues-and-pull-requests-to-other-github-users.md
  content/issues/tracking-your-work-with-issues/assigning-issues-and-pull-requests-to-other-github-users.md
Labels: content, waiting for review, issues

#17854 Fix broken anchor link in "Resources in the REST API"
  content/rest/overview/resources-in-the-rest-api.md
Labels: ready to merge

#17896 repo sync
  data/reusables/security/compliance-report-list.md
Labels: triage, automated-reposync-pr

#17897 repo sync
  components/context/MainContext.tsx
  components/page-header/HeaderNotifications.tsx
  lib/frontmatter.js
Labels: triage, automated-reposync-pr

#17898 repo sync
  translations/pt-BR/content/actions/managing-workflow-runs/skipping-workflow-runs.md
  translations/pt-BR/content/actions/security-guides/security-hardening-for-github-actions.md
  translations/pt-BR/content/actions/using-jobs/using-conditions-to-control-job-execution.md
  translations/pt-BR/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  translations/pt-BR/content/admin/enterprise-management/caching-repositories/configuring-a-repository-cache.md
  translations/pt-BR/content/admin/identity-and-access-management/using-saml-for-enterprise-iam/saml-configuration-reference.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-azure.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  translations/pt-BR/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-github-actions-in-your-enterprise.md
  translations/pt-BR/content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
  translations/pt-BR/content/authentication/keeping-your-account-and-data-secure/removing-sensitive-data-from-a-repository.md
  translations/pt-BR/content/authentication/securing-your-account-with-two-factor-authentication-2fa/changing-two-factor-authentication-delivery-methods-for-your-mobile-device.md
  translations/pt-BR/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  translations/pt-BR/content/code-security/dependabot/dependabot-alerts/about-dependabot-alerts.md
  translations/pt-BR/content/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates.md
  translations/pt-BR/content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
  translations/pt-BR/content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  translations/pt-BR/content/code-security/secret-scanning/protecting-pushes-with-secret-scanning.md
  translations/pt-BR/content/code-security/secret-scanning/secret-scanning-patterns.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-the-dependency-graph.md
  translations/pt-BR/content/codespaces/customizing-your-codespace/setting-your-timeout-period-for-codespaces.md
  translations/pt-BR/content/codespaces/managing-codespaces-for-your-organization/enabling-codespaces-for-your-organization.md
  translations/pt-BR/content/codespaces/managing-codespaces-for-your-organization/restricting-access-to-machine-types.md
  translations/pt-BR/content/codespaces/managing-codespaces-for-your-organization/restricting-the-idle-timeout-period.md
  translations/pt-BR/content/codespaces/managing-codespaces-for-your-organization/restricting-the-visibility-of-forwarded-ports.md
  translations/pt-BR/content/codespaces/managing-your-codespaces/managing-repository-access-for-your-codespaces.md
  translations/pt-BR/content/codespaces/prebuilding-your-codespaces/managing-prebuilds.md
  translations/pt-BR/content/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers.md
  translations/pt-BR/content/communities/documenting-your-project-with-wikis/adding-or-editing-wiki-pages.md
  translations/pt-BR/content/communities/moderating-comments-and-conversations/managing-disruptive-comments.md
  translations/pt-BR/content/desktop/contributing-and-collaborating-using-github-desktop/making-changes-in-a-branch/committing-and-reviewing-changes-to-your-project.md
  translations/pt-BR/content/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/configuring-notifications-in-github-desktop.md
  translations/pt-BR/content/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/viewing-a-pull-request-in-github-desktop.md
  translations/pt-BR/content/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/viewing-and-re-running-checks-in-github-desktop.md
  translations/pt-BR/content/developers/apps/building-oauth-apps/scopes-for-oauth-apps.md
  translations/pt-BR/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-for-your-schoolwork/about-github-education-for-students.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/integrate-github-classroom-with-an-ide.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/using-github-codespaces-with-github-classroom.md
  translations/pt-BR/content/issues/tracking-your-work-with-issues/assigning-issues-and-pull-requests-to-other-github-users.md
  translations/pt-BR/content/organizations/managing-membership-in-your-organization/exporting-member-information-for-your-organization.md
  translations/pt-BR/content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  translations/pt-BR/content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization.md
  translations/pt-BR/content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  translations/pt-BR/content/repositories/releasing-projects-on-github/about-releases.md
  translations/pt-BR/data/reusables/repositories/copy-clone-url.md
  translations/pt-BR/data/reusables/security/compliance-report-list.md
  translations/pt-BR/data/reusables/ssh/key-type-support.md
Labels: triage, automated-reposync-pr

#17900 repo sync
  translations/es-ES/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/es-ES/content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  translations/es-ES/content/admin/enterprise-management/caching-repositories/configuring-a-repository-cache.md
  translations/es-ES/content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
  translations/es-ES/content/authentication/keeping-your-account-and-data-secure/removing-sensitive-data-from-a-repository.md
  translations/es-ES/content/authentication/securing-your-account-with-two-factor-authentication-2fa/changing-two-factor-authentication-delivery-methods-for-your-mobile-device.md
  translations/es-ES/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  translations/es-ES/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-the-dependency-graph.md
  translations/es-ES/content/issues/tracking-your-work-with-issues/assigning-issues-and-pull-requests-to-other-github-users.md
  translations/es-ES/content/organizations/managing-membership-in-your-organization/exporting-member-information-for-your-organization.md
  translations/es-ES/content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization.md
  translations/es-ES/content/repositories/releasing-projects-on-github/about-releases.md
  translations/es-ES/data/reusables/repositories/copy-clone-url.md
  translations/es-ES/data/reusables/security/compliance-report-list.md
  translations/es-ES/data/reusables/ssh/key-type-support.md
  translations/ja-JP/content/authentication/securing-your-account-with-two-factor-authentication-2fa/changing-two-factor-authentication-delivery-methods-for-your-mobile-device.md
  translations/ja-JP/content/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates.md
  translations/ja-JP/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/ja-JP/content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  translations/ja-JP/content/issues/tracking-your-work-with-issues/about-issues.md
  translations/ja-JP/content/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue.md
  translations/ja-JP/content/issues/trying-out-the-new-projects-experience/creating-a-project.md
  translations/ja-JP/content/organizations/managing-organization-settings/restricting-repository-visibility-changes-in-your-organization.md
  translations/ja-JP/data/product-examples/README.md
  translations/ja-JP/data/product-examples/code-security/code-examples.yml
  translations/ja-JP/data/release-notes/enterprise-server/2-20/13.yml
  translations/ja-JP/data/release-notes/enterprise-server/2-21/4.yml
Labels: triage, automated-reposync-pr

#17901 repo sync
  package-lock.json
Labels: triage, automated-reposync-pr

#17903 repo sync
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#17904 repo sync
  translations/log/cn-resets.csv
  translations/zh-CN/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/zh-CN/content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  translations/zh-CN/content/admin/enterprise-management/caching-repositories/configuring-a-repository-cache.md
  translations/zh-CN/content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
  translations/zh-CN/content/authentication/keeping-your-account-and-data-secure/removing-sensitive-data-from-a-repository.md
  translations/zh-CN/content/authentication/securing-your-account-with-two-factor-authentication-2fa/changing-two-factor-authentication-delivery-methods-for-your-mobile-device.md
  translations/zh-CN/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  translations/zh-CN/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-the-dependency-graph.md
  translations/zh-CN/content/issues/tracking-your-work-with-issues/assigning-issues-and-pull-requests-to-other-github-users.md
  translations/zh-CN/content/organizations/managing-membership-in-your-organization/exporting-member-information-for-your-organization.md
  translations/zh-CN/content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization.md
  translations/zh-CN/content/repositories/releasing-projects-on-github/about-releases.md
  translations/zh-CN/data/release-notes/enterprise-server/3-0/19.yml
  translations/zh-CN/data/release-notes/enterprise-server/3-2/3.yml
  translations/zh-CN/data/release-notes/enterprise-server/3-3/0-rc1.yml
  translations/zh-CN/data/release-notes/enterprise-server/3-3/0.yml
  translations/zh-CN/data/release-notes/enterprise-server/3-5/0-rc1.yml
  translations/zh-CN/data/reusables/actions/ref_name-description.md
  translations/zh-CN/data/reusables/actions/ref_protected-description.md
  translations/zh-CN/data/reusables/actions/ref_type-description.md
  translations/zh-CN/data/reusables/codespaces/links-to-get-started.md
  translations/zh-CN/data/reusables/enterprise-accounts/dormant-user-activity-threshold.md
  translations/zh-CN/data/reusables/enterprise-accounts/dormant-user-activity.md
  translations/zh-CN/data/reusables/enterprise-accounts/dormant-user-release-phase.md
  translations/zh-CN/data/reusables/enterprise-accounts/enterprise-accounts-compliance-tab.md
  translations/zh-CN/data/reusables/repositories/copy-clone-url.md
  translations/zh-CN/data/reusables/security/compliance-report-list.md
  translations/zh-CN/data/reusables/ssh/key-type-support.md
  translations/zh-CN/data/reusables/support/submit-a-ticket.md
Labels: triage, automated-reposync-pr

#17909 repo sync
  translations/ja-JP/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/ja-JP/content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  translations/ja-JP/content/admin/enterprise-management/caching-repositories/configuring-a-repository-cache.md
  translations/ja-JP/content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
  translations/ja-JP/content/authentication/keeping-your-account-and-data-secure/removing-sensitive-data-from-a-repository.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-the-dependency-graph.md
  translations/ja-JP/content/issues/tracking-your-work-with-issues/assigning-issues-and-pull-requests-to-other-github-users.md
  translations/ja-JP/content/organizations/managing-membership-in-your-organization/exporting-member-information-for-your-organization.md
  translations/ja-JP/content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization.md
  translations/ja-JP/content/repositories/releasing-projects-on-github/about-releases.md
  translations/ja-JP/data/release-notes/enterprise-server/2-21/17.yml
  translations/ja-JP/data/release-notes/enterprise-server/2-22/9.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-0/1.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-0/17.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-0/18.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-0/19.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-0/2.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-0/20.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-0/22.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-0/24.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-0/3.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/2.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/3.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/4.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/6.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/8.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/9.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/1.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/3.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/4.yml
  translations/ja-JP/data/reusables/repositories/copy-clone-url.md
  translations/ja-JP/data/reusables/security/compliance-report-list.md
  translations/ja-JP/data/reusables/ssh/key-type-support.md
  translations/log/ja-resets.csv
Labels: triage, automated-reposync-pr

#17919 repo sync
  assets/images/help/repository/review-calls-to-vulnerable-functions.png
  content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  content/code-security/security-overview/about-the-security-overview.md
  content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
  content/code-security/security-overview/viewing-the-security-overview.md
  data/features/security-overview-feature-specific-alert-page.yml
  data/reusables/organizations/security-overview-feature-specific-page.md
  data/reusables/security-center/permissions.md
Labels: triage, automated-reposync-pr

#17920 repo sync
  content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
  content/authentication/keeping-your-account-and-data-secure/updating-your-github-access-credentials.md
  content/get-started/using-github/github-mobile.md
Labels: triage, automated-reposync-pr

#17921 repo sync
  content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
  content/billing/managing-billing-for-github-packages/about-billing-for-github-packages.md
Labels: triage, automated-reposync-pr

#17925 repo sync
  content/pages/index.md
  tests/content/featured-links.js
Labels: triage, automated-reposync-pr

#17911 Fix broken doc link for 'secure_compare'
  content/developers/webhooks-and-events/webhooks/securing-your-webhooks.md
Labels: triage

#17890 Fix usage of markdown syntax for italic text
  content/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates.md
Labels: triage

#17932 repo sync
  content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-graphs-on-your-profile/viewing-contributions-on-your-profile.md
  content/authentication/keeping-your-account-and-data-secure/reviewing-your-security-log.md
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/about-issue-and-pull-request-templates.md
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository.md
  content/developers/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps.md
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  content/get-started/getting-started-with-git/about-remote-repositories.md
  content/get-started/quickstart/communicating-on-github.md
  content/get-started/using-github/keyboard-shortcuts.md
  content/get-started/writing-on-github/editing-and-sharing-content-with-gists/creating-gists.md
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  content/get-started/writing-on-github/working-with-advanced-formatting/using-keywords-in-issues-and-pull-requests.md
  content/issues/organizing-your-work-with-project-boards/tracking-work-with-project-boards/filtering-cards-on-a-project-board.md
  content/issues/tracking-your-work-with-issues/about-issues.md
  content/issues/tracking-your-work-with-issues/filtering-and-searching-issues-and-pull-requests.md
  content/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue.md
  content/issues/tracking-your-work-with-issues/viewing-all-of-your-issues-and-pull-requests.md
  content/organizations/collaborating-with-groups-in-organizations/about-your-organization-dashboard.md
  content/organizations/collaborating-with-your-team/about-team-discussions.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  content/organizations/organizing-members-into-teams/assigning-the-team-maintainer-role-to-a-team-member.md
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/changing-the-stage-of-a-pull-request.md
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/requesting-a-pull-request-review.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/about-pull-request-reviews.md
  content/pull-requests/committing-changes-to-your-project/viewing-and-comparing-commits/comparing-commits.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/about-merge-methods-on-github.md
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks.md
  content/repositories/creating-and-managing-repositories/creating-a-new-repository.md
  content/repositories/creating-and-managing-repositories/creating-a-repository-from-a-template.md
  content/repositories/creating-and-managing-repositories/creating-a-template-repository.md
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/about-email-notifications-for-pushes-to-your-repository.md
  content/repositories/releasing-projects-on-github/about-releases.md
  content/repositories/releasing-projects-on-github/viewing-your-repositorys-releases-and-tags.md
  content/rest/guides/getting-started-with-the-checks-api.md
  content/search-github/getting-started-with-searching-on-github/understanding-the-search-syntax.md
  content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  data/reusables/apps/deprecating_auth_with_query_parameters.md
  data/reusables/cli/filter-issues-and-pull-requests-tip.md
  data/reusables/organizations/team_maintainers_can.md
  data/reusables/pull_requests/close-issues-using-keywords.md
  data/reusables/repositories/default-issue-templates.md
  data/reusables/repositories/squash-and-rebase-linear-commit-hisitory.md
  data/reusables/repositories/start-line-comment.md
  data/reusables/repositories/suggest-changes.md
  data/reusables/webhooks/check_run_properties.md
  data/reusables/webhooks/check_suite_properties.md
  data/reusables/webhooks/installation_properties.md
  script/helpers/get-liquid-conditionals.js
  script/helpers/get-version-blocks.js
  script/helpers/remove-liquid-statements.js
  tests/content/remove-liquid-statements.js
  tests/fixtures/remove-liquid-statements/unnecessary.md
Labels: triage, automated-reposync-pr

#17939 repo sync
  assets/images/help/repository/PR-bypass-requirements-with-apps.png
  assets/images/help/repository/PR-review-required-dismissals-with-apps.png
  assets/images/help/repository/allow-force-pushes-specify-who-with-apps.png
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
  data/features/integration-branch-protection-exceptions.yml
Labels: triage, automated-reposync-pr

#17940 repo sync
  components/rest/RestPreviewNotice.tsx
Labels: triage, automated-reposync-pr

#17952 repo sync
  data/release-notes/enterprise-server/3-1/21.yml
  data/release-notes/enterprise-server/3-2/13.yml
  data/release-notes/enterprise-server/3-3/8.yml
  data/release-notes/enterprise-server/3-4/3.yml
Labels: triage, automated-reposync-pr

#17954 repo sync
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-nodejs-to-azure-app-service.md
  content/codespaces/codespaces-reference/disaster-recovery-for-codespaces.md
  content/codespaces/codespaces-reference/security-in-codespaces.md
  content/codespaces/codespaces-reference/using-github-copilot-in-codespaces.md
  content/codespaces/codespaces-reference/using-the-vs-code-command-palette-in-codespaces.md
  content/codespaces/developing-in-codespaces/creating-a-codespace.md
  content/codespaces/developing-in-codespaces/developing-in-a-codespace.md
  content/codespaces/developing-in-codespaces/using-codespaces-in-visual-studio-code.md
  content/codespaces/developing-in-codespaces/using-source-control-in-your-codespace.md
  content/codespaces/getting-started/deep-dive.md
  content/codespaces/getting-started/quickstart.md
  content/codespaces/managing-codespaces-for-your-organization/managing-billing-for-codespaces-in-your-organization.md
  content/codespaces/managing-your-codespaces/managing-repository-access-for-your-codespaces.md
  content/codespaces/overview.md
  content/codespaces/prebuilding-your-codespaces/configuring-prebuilds.md
  content/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers.md
  content/codespaces/the-githubdev-web-based-editor.md
  content/codespaces/troubleshooting/troubleshooting-prebuilds.md
  content/desktop/installing-and-configuring-github-desktop/configuring-and-customizing-github-desktop/configuring-a-default-editor.md
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/about-using-visual-studio-code-with-github-classroom.md
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/integrate-github-classroom-with-an-ide.md
  content/get-started/customizing-your-github-workflow/exploring-integrations/github-extensions-and-integrations.md
  content/get-started/getting-started-with-git/associating-text-editors-with-git.md
  content/get-started/onboarding/getting-started-with-your-github-account.md
  content/github/copilot/about-github-copilot-telemetry.md
  content/site-policy/privacy-policies/github-codespaces-privacy-statement.md
  data/reusables/codespaces/click-remote-explorer-icon-vscode.md
  data/reusables/codespaces/committing-link-to-procedure.md
  data/reusables/codespaces/connect-to-codespace-from-vscode.md
  data/reusables/codespaces/creating-a-codespace-in-vscode.md
  data/reusables/codespaces/deleting-a-codespace-in-vscode.md
  data/reusables/codespaces/more-info-devcontainer.md
  data/reusables/codespaces/use-visual-studio-features.md
  data/reusables/codespaces/vscode-settings-order.md
  data/variables/product.yml
Labels: triage, automated-reposync-pr

#17969 repo sync
  assets/images/help/enterprises/cancel-enterprise-member-invitation.png
  content/admin/user-management/managing-users-in-your-enterprise/viewing-people-in-your-enterprise.md
  tests/rendering/rest.js
Labels: triage, automated-reposync-pr

#17842 Add a missing preposition
  content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
Labels: triage

#17927 Add `poetry` to caching dependencies package managers
  content/actions/automating-builds-and-tests/building-and-testing-python.md
  content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
Labels: triage

#17977 repo sync
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/about-pull-request-merges.md
Labels: triage, automated-reposync-pr

#17978 repo sync
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/about-pull-request-merges.md
Labels: triage, automated-reposync-pr

#17985 repo sync
  content/code-security/supply-chain-security/end-to-end-supply-chain/end-to-end-supply-chain-overview.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-supply-chain-security.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
Labels: triage, automated-reposync-pr

#17809 Fix choosing a runner wording
  content/actions/deployment/about-deployments/deploying-with-github-actions.md
Labels: content, actions, ready to merge

#16361 Add octocat-rs to Rust libraries
  content/rest/overview/libraries.md
Labels: content, ready to merge, waiting for review, rest

#17777 Update to "Styling text" section
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, ready to merge, waiting for review, get started

#17979 Fix raw templating in Jekyll SCSS code sample
  content/pages/setting-up-a-github-pages-site-with-jekyll/adding-a-theme-to-your-github-pages-site-using-jekyll.md
Labels: triage

#18001 repo sync
  content/codespaces/developing-in-codespaces/using-codespaces-with-github-cli.md
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#18007 repo sync
  .github/workflows/azure-preview-env-deploy.yml
  assets/images/help/writing/dollar-sign-inline-math-expression.png
  assets/images/help/writing/dollar-sign-within-math-expression.png
  assets/images/help/writing/inline-math-markdown-rendering.png
  assets/images/help/writing/math-expression-as-a-block-rendering.png
  content/get-started/writing-on-github/working-with-advanced-formatting/index.md
  content/get-started/writing-on-github/working-with-advanced-formatting/writing-mathematical-expressions.md
  data/features/math.yml
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  lib/graphql/static/prerendered-input-objects.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
Labels: triage, automated-reposync-pr

#18012 repo sync
  content/get-started/using-github/keyboard-shortcuts.md
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: triage, automated-reposync-pr

#18014 repo sync
  .github/workflows/autoupdate-branch.yml
  .github/workflows/azure-prod-build-deploy.yml
  .github/workflows/browser-test.yml
  .github/workflows/check-all-english-links.yml
  .github/workflows/check-broken-links-github-github.yml
  .github/workflows/code-lint.yml
  .github/workflows/content-changes-table-comment.yml
  .github/workflows/create-translation-batch-pr.yml
  .github/workflows/crowdin-cleanup.yml
  .github/workflows/docs-review-collect.yml
  .github/workflows/enterprise-dates.yml
  .github/workflows/enterprise-release-sync-search-index.yml
  .github/workflows/link-check-all.yml
  .github/workflows/msft-create-translation-batch-pr.yml
  .github/workflows/open-enterprise-issue.yml
  .github/workflows/openapi-decorate.yml
  .github/workflows/openapi-schema-check.yml
  .github/workflows/orphaned-assets-check.yml
  .github/workflows/os-ready-for-review.yml
  .github/workflows/pa11y.yml
  .github/workflows/package-lock-lint.yml
  .github/workflows/ready-for-doc-review.yml
  .github/workflows/remove-unused-assets.yml
  .github/workflows/repo-sync.yml
  .github/workflows/sync-search-indices.yml
  .github/workflows/sync-search-pr.yml
  .github/workflows/test.yml
  .github/workflows/triage-unallowed-internal-changes.yml
  .github/workflows/update-graphql-files.yml
Labels: triage, automated-reposync-pr

#18018 repo sync
  middleware/fastly-cache-test.js
  middleware/index.js
Labels: triage, automated-reposync-pr

#18019 repo sync
  middleware/fastly-cache-test.js
Labels: triage, automated-reposync-pr

#17804 Typo: Missing spacing for markdown formatting
  content/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates.md
Labels: content, ready to merge, waiting for review, code security

#18024 repo sync
  tests/meta/repository-references.js
Labels: triage, automated-reposync-pr

#18032 repo sync
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
  data/reusables/actions/jobs/section-defining-outputs-for-jobs.md
  data/reusables/actions/output-limitations.md
Labels: triage, automated-reposync-pr

#18035 repo sync
  data/release-notes/enterprise-server/3-3/8.yml
Labels: triage, automated-reposync-pr

#17717 Adds description table for webhook payload object of `workflow_dispatch` webhook event
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
Labels: content, ready to merge, waiting for review, developers

#18047 repo sync
  translations/ja-JP/content/actions/automating-builds-and-tests/building-and-testing-python.md
  translations/ja-JP/content/actions/deployment/about-deployments/deploying-with-github-actions.md
  translations/ja-JP/content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
  translations/ja-JP/content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
  translations/ja-JP/content/admin/enterprise-management/monitoring-your-appliance/monitoring-using-snmp.md
  translations/ja-JP/content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
  translations/ja-JP/content/code-security/supply-chain-security/end-to-end-supply-chain/end-to-end-supply-chain-overview.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-supply-chain-security.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/ja-JP/content/codespaces/developing-in-codespaces/using-codespaces-with-github-cli.md
  translations/ja-JP/content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  translations/ja-JP/content/get-started/writing-on-github/working-with-advanced-formatting/index.md
  translations/ja-JP/content/get-started/writing-on-github/working-with-advanced-formatting/writing-mathematical-expressions.md
  translations/ja-JP/content/pages/setting-up-a-github-pages-site-with-jekyll/adding-a-theme-to-your-github-pages-site-using-jekyll.md
  translations/ja-JP/content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/about-pull-request-merges.md
  translations/ja-JP/content/rest/overview/libraries.md
  translations/ja-JP/data/features/math.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/0-rc1.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/0.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-4/0-rc1.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-4/0.yml
Labels: triage, automated-reposync-pr

#18048 repo sync
  components/Search.tsx
  components/homepage/HomePageHero.tsx
  components/page-header/Header.tsx
  data/ui.yml
  tests/browser/browser.js
  tests/rendering/server.js
Labels: triage, automated-reposync-pr

#18022 Added Link to macOS 12 Info Page
  content/actions/using-github-hosted-runners/about-github-hosted-runners.md
Labels: triage

#18055 repo sync
  translations/ja-JP/content/actions/creating-actions/metadata-syntax-for-github-actions.md
  translations/ja-JP/content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
  translations/ja-JP/content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  translations/ja-JP/content/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates.md
  translations/ja-JP/content/code-security/supply-chain-security/end-to-end-supply-chain/end-to-end-supply-chain-overview.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  translations/ja-JP/content/get-started/using-github/keyboard-shortcuts.md
  translations/ja-JP/content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/tracking-work-with-project-boards/filtering-cards-on-a-project-board.md
  translations/ja-JP/content/issues/tracking-your-work-with-issues/about-issues.md
  translations/ja-JP/content/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue.md
  translations/ja-JP/content/issues/tracking-your-work-with-issues/viewing-all-of-your-issues-and-pull-requests.md
  translations/ja-JP/content/organizations/collaborating-with-groups-in-organizations/about-your-organization-dashboard.md
  translations/ja-JP/content/pages/index.md
  translations/ja-JP/content/rest/overview/resources-in-the-rest-api.md
  translations/ja-JP/data/release-notes/enterprise-server/3-3/0-rc1.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/0.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/8.yml
  translations/ja-JP/data/reusables/actions/jobs/section-defining-outputs-for-jobs.md
  translations/ja-JP/data/reusables/actions/output-limitations.md
Labels: triage, automated-reposync-pr

#18056 repo sync
  components/article/ArticleGridLayout.tsx
Labels: triage, automated-reposync-pr

#18069 repo sync
  translations/pt-BR/content/actions/using-github-hosted-runners/about-github-hosted-runners.md
  translations/pt-BR/content/admin/identity-and-access-management/managing-iam-for-your-enterprise/about-authentication-for-your-enterprise.md
  translations/pt-BR/content/admin/index.md
  translations/pt-BR/content/admin/overview/about-enterprise-accounts.md
  translations/pt-BR/content/admin/overview/creating-an-enterprise-account.md
  translations/pt-BR/content/admin/policies/enforcing-policies-for-your-enterprise/about-enterprise-policies.md
  translations/pt-BR/content/admin/policies/enforcing-policies-for-your-enterprise/index.md
  translations/pt-BR/content/billing/managing-billing-for-your-github-account/about-billing-for-your-enterprise.md
  translations/pt-BR/content/billing/managing-billing-for-your-github-account/viewing-the-subscription-and-usage-for-your-enterprise-account.md
  translations/pt-BR/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/pt-BR/content/get-started/onboarding/getting-started-with-github-enterprise-cloud.md
  translations/pt-BR/data/learning-tracks/admin.yml
  translations/pt-BR/data/reusables/enterprise/about-policies.md
  translations/pt-BR/data/ui.yml
Labels: triage, automated-reposync-pr

#15579 Update automation-for-release-forms-with-query-parameters.md
  content/repositories/releasing-projects-on-github/automation-for-release-forms-with-query-parameters.md
Labels: content, waiting for review

#18140 repo sync
  components/page-header/RestBanner.tsx
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/managing-the-default-branch-name-for-your-repositories.md
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-server.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files.md
  data/release-notes/enterprise-server/3-5/0-rc1.yml
  data/release-notes/github-ae/2022-05/2022-05-17.yml
Labels: triage, automated-reposync-pr

#18147 repo sync
  translations/es-ES/content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/managing-the-default-branch-name-for-your-repositories.md
  translations/es-ES/content/actions/automating-builds-and-tests/building-and-testing-java-with-maven.md
  translations/es-ES/content/actions/automating-builds-and-tests/building-and-testing-swift.md
  translations/es-ES/content/actions/security-guides/security-hardening-for-github-actions.md
  translations/es-ES/content/actions/using-containerized-services/about-service-containers.md
  translations/es-ES/content/actions/using-workflows/storing-workflow-data-as-artifacts.md
  translations/es-ES/content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
  translations/es-ES/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/about-github-actions-for-enterprises.md
  translations/es-ES/content/admin/overview/accessing-compliance-reports-for-your-enterprise.md
  translations/es-ES/content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  translations/es-ES/content/discussions/managing-discussions-for-your-community/viewing-insights-for-your-discussions.md
  translations/es-ES/content/get-started/privacy-on-github/managing-data-use-settings-for-your-private-repository.md
  translations/es-ES/content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-server.md
  translations/es-ES/content/get-started/using-github/github-mobile.md
  translations/es-ES/content/get-started/writing-on-github/working-with-advanced-formatting/organizing-information-with-collapsed-sections.md
  translations/es-ES/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/index.md
  translations/es-ES/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  translations/es-ES/content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  translations/es-ES/content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/keeping-your-pull-request-in-sync-with-the-base-branch.md
  translations/es-ES/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files.md
  translations/es-ES/content/repositories/releasing-projects-on-github/automation-for-release-forms-with-query-parameters.md
  translations/es-ES/data/release-notes/enterprise-server/3-5/0-rc1.yml
  translations/es-ES/data/release-notes/github-ae/2022-05/2022-05-17.yml
  translations/es-ES/data/reusables/accounts/you-must-know-your-password.md
  translations/es-ES/data/reusables/advanced-security/secret-scanning-create-custom-pattern.md
  translations/es-ES/data/reusables/projects/project-description.md
  translations/es-ES/data/reusables/pull_requests/merge-queue-merging-method.md
  translations/es-ES/data/reusables/rest-api/always-check-your-limit.md
  translations/es-ES/data/reusables/saml/saml-disabled-linked-identities-removed.md
  translations/es-ES/data/reusables/secret-scanning/beta-dry-runs.md
Labels: triage, automated-reposync-pr

#18148 repo sync
  translations/ja-JP/content/actions/using-github-hosted-runners/about-github-hosted-runners.md
  translations/ja-JP/content/admin/identity-and-access-management/managing-iam-for-your-enterprise/about-authentication-for-your-enterprise.md
  translations/ja-JP/content/admin/index.md
  translations/ja-JP/content/admin/overview/about-enterprise-accounts.md
  translations/ja-JP/content/admin/overview/creating-an-enterprise-account.md
  translations/ja-JP/content/admin/policies/enforcing-policies-for-your-enterprise/about-enterprise-policies.md
  translations/ja-JP/content/admin/policies/enforcing-policies-for-your-enterprise/index.md
  translations/ja-JP/content/billing/managing-billing-for-your-github-account/about-billing-for-your-enterprise.md
  translations/ja-JP/content/billing/managing-billing-for-your-github-account/viewing-the-subscription-and-usage-for-your-enterprise-account.md
  translations/ja-JP/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/ja-JP/content/get-started/onboarding/getting-started-with-github-enterprise-cloud.md
  translations/ja-JP/data/learning-tracks/admin.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/1.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/10.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/11.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/12.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/13.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/2.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/5.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/8.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-4/3.yml
  translations/ja-JP/data/reusables/enterprise/about-policies.md
  translations/ja-JP/data/ui.yml
Labels: triage, automated-reposync-pr

#18149 repo sync
  data/reusables/enterprise_enterprise_support/support-holiday-availability.md
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/managing-the-default-branch-name-for-your-repositories.md
  translations/ja-JP/content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  translations/ja-JP/content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-server.md
  translations/ja-JP/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files.md
  translations/ja-JP/content/repositories/releasing-projects-on-github/automation-for-release-forms-with-query-parameters.md
  translations/ja-JP/data/release-notes/enterprise-server/3-0/21.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-0/23.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/4.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/5.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/7.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/8.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/9.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/0-rc1.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/0.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/2.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/3.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/4.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-5/0-rc1.yml
  translations/ja-JP/data/release-notes/github-ae/2022-05/2022-05-17.yml
Labels: triage, automated-reposync-pr

#18151 repo sync
  middleware/detect-language.js
  middleware/fast-root-redirect.js
  middleware/index.js
Labels: triage, automated-reposync-pr

#18153 repo sync
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
Labels: triage, automated-reposync-pr

#17470 docs(workflow): add concurrency keyword as supports by reusable workflow
  content/actions/using-workflows/reusing-workflows.md
Labels: content, actions, ready to merge, waiting for review, needs SME

#18133 Remove extra whitespace character
  content/actions/security-guides/encrypted-secrets.md
Labels: content, actions, waiting for review

#18172 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  data/reusables/code-scanning/run-additional-queries.md
  tests/meta/repository-references.js
Labels: triage, automated-reposync-pr

#16715 docs(graphql): order token scopes by form order
  content/graphql/guides/forming-calls-with-graphql.md
Labels: content, ready to merge, waiting for review, graphql

#18181 repo sync
  .eslintrc.js
  docker-compose.prod.tmpl.yaml
  lib/sigsci.js
  middleware/index.js
Labels: triage, automated-reposync-pr

#18184 repo sync
  assets/images/help/education/create-org-button.png
  assets/images/help/education/create-organization-button.png
  assets/images/help/education/upgrade-org-button.png
  assets/images/help/repository/enable-debug-logging.png
  content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  content/actions/monitoring-and-troubleshooting-workflows/enabling-debug-logging.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-in-your-classroom-and-research/apply-for-an-educator-or-researcher-discount.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  data/features/debug-reruns.yml
  data/features/secret-scanning-alert-audit-log.yml
  data/reusables/actions/enable-debug-logging-cli.md
  data/reusables/actions/enable-debug-logging.md
  data/reusables/education/upgrade-organization.md
  data/reusables/education/upgrade-page.md
Labels: triage, automated-reposync-pr

#18154 Fix link text and missing period
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/about-github-campus-program.md
Labels: content, ready to merge, waiting for review

#18186 repo sync
  components/Search.tsx
  components/guides/ArticleCards.tsx
  components/landing/TableOfContents.tsx
Labels: triage, automated-reposync-pr

#18189 repo sync
  lib/search/popular-pages.json
  middleware/handle-invalid-paths.js
  tests/rendering/server.js
Labels: triage, automated-reposync-pr

#18193 repo sync
  components/rest/RestReferencePage.tsx
  tests/rendering/rest.js
Labels: triage, automated-reposync-pr

#18196 repo sync
  translations/log/cn-resets.csv
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/managing-the-default-branch-name-for-your-repositories.md
  translations/zh-CN/content/actions/creating-actions/metadata-syntax-for-github-actions.md
  translations/zh-CN/content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  translations/zh-CN/content/actions/monitoring-and-troubleshooting-workflows/enabling-debug-logging.md
  translations/zh-CN/content/actions/security-guides/encrypted-secrets.md
  translations/zh-CN/content/actions/using-workflows/reusing-workflows.md
  translations/zh-CN/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  translations/zh-CN/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/exporting-audit-log-activity-for-your-enterprise.md
  translations/zh-CN/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  translations/zh-CN/content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  translations/zh-CN/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-in-your-classroom-and-research/apply-for-an-educator-or-researcher-discount.md
  translations/zh-CN/content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-server.md
  translations/zh-CN/content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  translations/zh-CN/content/graphql/guides/forming-calls-with-graphql.md
  translations/zh-CN/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  translations/zh-CN/content/pages/getting-started-with-github-pages/changing-the-visibility-of-your-github-pages-site.md
  translations/zh-CN/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files.md
  translations/zh-CN/content/repositories/releasing-projects-on-github/automation-for-release-forms-with-query-parameters.md
  translations/zh-CN/data/features/debug-reruns.yml
  translations/zh-CN/data/features/secret-scanning-alert-audit-log.yml
  translations/zh-CN/data/release-notes/enterprise-server/3-5/0-rc1.yml
  translations/zh-CN/data/release-notes/github-ae/2021-06/2021-12-06.yml
  translations/zh-CN/data/release-notes/github-ae/2022-05/2022-05-17.yml
  translations/zh-CN/data/reusables/actions/about-artifact-log-retention.md
  translations/zh-CN/data/reusables/actions/enable-debug-logging-cli.md
  translations/zh-CN/data/reusables/actions/enable-debug-logging.md
  translations/zh-CN/data/reusables/actions/runner-arch-description.md
  translations/zh-CN/data/reusables/audit_log/git-events-export-limited.md
  translations/zh-CN/data/reusables/code-scanning/run-additional-queries.md
  translations/zh-CN/data/reusables/education/upgrade-organization.md
  translations/zh-CN/data/reusables/education/upgrade-page.md
  translations/zh-CN/data/reusables/enterprise/upgrade-ghes-for-actions.md
  translations/zh-CN/data/reusables/enterprise/upgrade-ghes-for-features.md
  translations/zh-CN/data/reusables/enterprise_enterprise_support/support-holiday-availability.md
  translations/zh-CN/data/reusables/identity-and-permissions/team-sync-confirm-scim.md
  translations/zh-CN/data/reusables/pages/about-private-publishing.md
  translations/zh-CN/data/ui.yml
  translations/zh-CN/data/variables/product.yml
Labels: triage, automated-reposync-pr

#18197 repo sync
  translations/ja-JP/content/actions/creating-actions/metadata-syntax-for-github-actions.md
  translations/ja-JP/content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  translations/ja-JP/content/actions/monitoring-and-troubleshooting-workflows/enabling-debug-logging.md
  translations/ja-JP/content/actions/security-guides/encrypted-secrets.md
  translations/ja-JP/content/actions/using-workflows/reusing-workflows.md
  translations/ja-JP/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  translations/ja-JP/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/exporting-audit-log-activity-for-your-enterprise.md
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  translations/ja-JP/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-in-your-classroom-and-research/apply-for-an-educator-or-researcher-discount.md
  translations/ja-JP/content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  translations/ja-JP/content/graphql/guides/forming-calls-with-graphql.md
  translations/ja-JP/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  translations/ja-JP/content/pages/getting-started-with-github-pages/changing-the-visibility-of-your-github-pages-site.md
  translations/ja-JP/data/features/debug-reruns.yml
  translations/ja-JP/data/features/secret-scanning-alert-audit-log.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/0-rc1.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/0.yml
  translations/ja-JP/data/reusables/actions/about-artifact-log-retention.md
  translations/ja-JP/data/reusables/actions/enable-debug-logging-cli.md
  translations/ja-JP/data/reusables/actions/enable-debug-logging.md
  translations/ja-JP/data/reusables/audit_log/git-events-export-limited.md
  translations/ja-JP/data/reusables/code-scanning/run-additional-queries.md
  translations/ja-JP/data/reusables/education/upgrade-organization.md
  translations/ja-JP/data/reusables/education/upgrade-page.md
  translations/ja-JP/data/reusables/enterprise_enterprise_support/support-holiday-availability.md
  translations/ja-JP/data/reusables/pages/about-private-publishing.md
  translations/log/ja-resets.csv
Labels: triage, automated-reposync-pr

#16550 issue templates: remove `preview_only` attribute
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/common-validation-errors-when-creating-issue-forms.md
Labels: content, ready to merge, waiting for review, communities

#18213 repo sync
  content/actions/learn-github-actions/contexts.md
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#18219 repo sync
  middleware/index.js
  middleware/trailing-slashes.js
  package-lock.json
  package.json
  tests/routing/redirects.js
Labels: triage, automated-reposync-pr

#18227 repo sync
  middleware/cache-full-rendering.js
Labels: triage, automated-reposync-pr

#18231 repo sync
  translations/es-ES/content/actions/creating-actions/metadata-syntax-for-github-actions.md
  translations/es-ES/content/actions/learn-github-actions/contexts.md
  translations/es-ES/content/authentication/managing-commit-signature-verification/about-commit-signature-verification.md
  translations/es-ES/content/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication.md
  translations/es-ES/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/es-ES/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/common-validation-errors-when-creating-issue-forms.md
  translations/es-ES/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/about-github-campus-program.md
  translations/es-ES/content/get-started/quickstart/fork-a-repo.md
  translations/es-ES/content/get-started/writing-on-github/working-with-advanced-formatting/creating-diagrams.md
  translations/es-ES/content/graphql/guides/using-global-node-ids.md
  translations/es-ES/content/packages/working-with-a-github-packages-registry/working-with-the-container-registry.md
  translations/es-ES/content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/about-merge-methods-on-github.md
  translations/es-ES/content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
  translations/es-ES/content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md
  translations/es-ES/content/rest/overview/permissions-required-for-github-apps.md
  translations/es-ES/data/reusables/actions/about-artifact-log-retention.md
  translations/es-ES/data/reusables/notifications-v2/custom-notification-types.md
  translations/es-ES/data/reusables/pull_requests/rebase_and_merge_verification.md
Labels: triage, automated-reposync-pr

#18233 repo sync
  translations/ja-JP/content/actions/learn-github-actions/contexts.md
  translations/ja-JP/content/authentication/managing-commit-signature-verification/about-commit-signature-verification.md
  translations/ja-JP/content/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/ja-JP/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/common-validation-errors-when-creating-issue-forms.md
  translations/ja-JP/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/about-github-campus-program.md
  translations/ja-JP/content/get-started/quickstart/fork-a-repo.md
  translations/ja-JP/content/get-started/writing-on-github/working-with-advanced-formatting/creating-diagrams.md
  translations/ja-JP/content/graphql/guides/using-global-node-ids.md
  translations/ja-JP/content/packages/working-with-a-github-packages-registry/working-with-the-container-registry.md
  translations/ja-JP/content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/about-merge-methods-on-github.md
  translations/ja-JP/content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
  translations/ja-JP/content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md
  translations/ja-JP/content/rest/overview/permissions-required-for-github-apps.md
  translations/ja-JP/data/release-notes/enterprise-server/3-3/0-rc1.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/0.yml
  translations/ja-JP/data/reusables/notifications-v2/custom-notification-types.md
  translations/ja-JP/data/reusables/pull_requests/rebase_and_merge_verification.md
  translations/log/ja-resets.csv
Labels: triage, automated-reposync-pr

#18246 repo sync
  data/reusables/actions/jobs/section-using-jobs-in-a-workflow-needs.md
Labels: triage, automated-reposync-pr

#18250 repo sync
  content/pull-requests/collaborating-with-pull-requests/collaborating-on-repositories-with-code-quality-features/about-status-checks.md
  content/rest/guides/getting-started-with-the-checks-api.md
  data/reusables/pull_requests/retention-checks-data.md
Labels: triage, automated-reposync-pr

#18257 repo sync
  translations/log/cn-resets.csv
  translations/zh-CN/content/actions/learn-github-actions/contexts.md
  translations/zh-CN/content/authentication/managing-commit-signature-verification/about-commit-signature-verification.md
  translations/zh-CN/content/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication.md
  translations/zh-CN/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/zh-CN/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/common-validation-errors-when-creating-issue-forms.md
  translations/zh-CN/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/about-github-campus-program.md
  translations/zh-CN/content/get-started/quickstart/fork-a-repo.md
  translations/zh-CN/content/get-started/writing-on-github/working-with-advanced-formatting/creating-diagrams.md
  translations/zh-CN/content/graphql/guides/using-global-node-ids.md
  translations/zh-CN/content/packages/working-with-a-github-packages-registry/working-with-the-container-registry.md
  translations/zh-CN/content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/about-merge-methods-on-github.md
  translations/zh-CN/content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
  translations/zh-CN/content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md
  translations/zh-CN/content/rest/overview/permissions-required-for-github-apps.md
  translations/zh-CN/data/reusables/notifications-v2/custom-notification-types.md
  translations/zh-CN/data/reusables/pull_requests/rebase_and_merge_verification.md
Labels: triage, automated-reposync-pr

#18259 repo sync
  lib/render-content/plugins/code-header.js
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#18260 repo sync
  tests/rendering/products.js
  tests/rendering/versions.js
  tests/unit/products.js
  tests/unit/versions.js
Labels: triage, automated-reposync-pr

#18190 Fix link format
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/about-github-campus-program.md
Labels: content, ready to merge, waiting for review

#18275 repo sync
  script/search/build-records.js
Labels: triage, automated-reposync-pr

#18277 repo sync
  content/admin/configuration/configuring-github-connect/enabling-automatic-user-license-sync-for-your-enterprise.md
  content/admin/configuration/configuring-your-enterprise/verifying-or-approving-a-domain-for-your-enterprise.md
  content/admin/user-management/managing-users-in-your-enterprise/viewing-people-in-your-enterprise.md
  content/billing/index.md
  content/billing/managing-billing-for-your-github-account/about-billing-for-your-enterprise.md
  content/billing/managing-billing-for-your-github-account/about-per-user-pricing.md
  content/billing/managing-billing-for-your-github-account/index.md
  content/billing/managing-your-license-for-github-enterprise/about-licenses-for-github-enterprise.md
  content/billing/managing-your-license-for-github-enterprise/index.md
  content/billing/managing-your-license-for-github-enterprise/syncing-license-usage-between-github-enterprise-server-and-github-enterprise-cloud.md
  content/billing/managing-your-license-for-github-enterprise/troubleshooting-license-usage-for-github-enterprise.md
  content/billing/managing-your-license-for-github-enterprise/viewing-license-usage-for-github-enterprise.md
  data/reusables/billing/license-statuses.md
  data/reusables/billing/per-user-pricing-reference.md
  data/reusables/enterprise-licensing/about-license-sync.md
  data/reusables/enterprise-licensing/unique-user-licensing-model.md
  data/reusables/enterprise-licensing/verified-domains-license-sync.md
  data/variables/product.yml
Labels: triage, automated-reposync-pr

#18278 repo sync
  content/github/copilot/index.md
  content/github/copilot/research-recitation.md
  lib/redirects/external-sites.json
Labels: triage, automated-reposync-pr

#18279 repo sync
  content/billing/managing-billing-for-your-github-account/about-per-user-pricing.md
Labels: triage, automated-reposync-pr

#18281 repo sync
  content/get-started/importing-your-projects-to-github/importing-source-code-to-github/importing-a-repository-with-github-importer.md
Labels: triage, automated-reposync-pr

#18282 repo sync
  content/code-security/dependabot/dependabot-security-updates/configuring-dependabot-security-updates.md
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  content/code-security/dependabot/working-with-dependabot/troubleshooting-the-detection-of-vulnerable-dependencies.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-supply-chain-security.md
  data/reusables/dependabot/configuration-options.md
Labels: triage, automated-reposync-pr

#18284 repo sync
  .github/workflows/azure-preview-env-deploy.yml
  data/release-notes/enterprise-server/3-5/0-rc1.yml
Labels: triage, automated-reposync-pr

#18287 repo sync
  assets/images/help/images/actions-oidc-gateway.png
  content/actions/using-github-hosted-runners/connecting-to-a-private-network.md
  content/actions/using-github-hosted-runners/index.md
  content/code-security/dependabot/working-with-dependabot/troubleshooting-the-detection-of-vulnerable-dependencies.md
  tests/meta/repository-references.js
Labels: triage, automated-reposync-pr

#18288 repo sync
  components/page-footer/Contribution.tsx
Labels: triage, automated-reposync-pr

#18286 :memo: [ci skip] Resolve typo in 'Signature verification for rebase a…
  data/reusables/pull_requests/rebase_and_merge_verification.md
Labels: content, ready to merge, waiting for review

#18289 repo sync
  lib/hydro.js
Labels: triage, automated-reposync-pr

#18290 repo sync
  translations/pt-BR/content/actions/using-github-hosted-runners/connecting-to-a-private-network.md
  translations/pt-BR/content/actions/using-github-hosted-runners/index.md
  translations/pt-BR/content/admin/configuration/configuring-github-connect/enabling-automatic-user-license-sync-for-your-enterprise.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/verifying-or-approving-a-domain-for-your-enterprise.md
  translations/pt-BR/content/admin/user-management/managing-users-in-your-enterprise/viewing-people-in-your-enterprise.md
  translations/pt-BR/content/billing/index.md
  translations/pt-BR/content/billing/managing-billing-for-your-github-account/about-billing-for-your-enterprise.md
  translations/pt-BR/content/billing/managing-billing-for-your-github-account/about-per-user-pricing.md
  translations/pt-BR/content/billing/managing-billing-for-your-github-account/index.md
  translations/pt-BR/content/billing/managing-your-license-for-github-enterprise/about-licenses-for-github-enterprise.md
  translations/pt-BR/content/billing/managing-your-license-for-github-enterprise/index.md
  translations/pt-BR/content/billing/managing-your-license-for-github-enterprise/syncing-license-usage-between-github-enterprise-server-and-github-enterprise-cloud.md
  translations/pt-BR/content/billing/managing-your-license-for-github-enterprise/troubleshooting-license-usage-for-github-enterprise.md
  translations/pt-BR/content/billing/managing-your-license-for-github-enterprise/viewing-license-usage-for-github-enterprise.md
  translations/pt-BR/content/code-security/dependabot/dependabot-security-updates/configuring-dependabot-security-updates.md
  translations/pt-BR/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/pt-BR/content/code-security/dependabot/working-with-dependabot/troubleshooting-the-detection-of-vulnerable-dependencies.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-supply-chain-security.md
  translations/pt-BR/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/about-github-campus-program.md
  translations/pt-BR/content/get-started/importing-your-projects-to-github/importing-source-code-to-github/importing-a-repository-with-github-importer.md
  translations/pt-BR/content/github/copilot/index.md
  translations/pt-BR/content/github/copilot/research-recitation.md
  translations/pt-BR/data/release-notes/enterprise-server/3-5/0-rc1.yml
  translations/pt-BR/data/reusables/billing/license-statuses.md
  translations/pt-BR/data/reusables/billing/per-user-pricing-reference.md
  translations/pt-BR/data/reusables/dependabot/configuration-options.md
  translations/pt-BR/data/reusables/enterprise-licensing/about-license-sync.md
  translations/pt-BR/data/reusables/enterprise-licensing/unique-user-licensing-model.md
  translations/pt-BR/data/reusables/enterprise-licensing/verified-domains-license-sync.md
  translations/pt-BR/data/reusables/pull_requests/rebase_and_merge_verification.md
  translations/pt-BR/data/variables/product.yml
Labels: triage, automated-reposync-pr

#18294 repo sync
  translations/ja-JP/content/actions/using-github-hosted-runners/connecting-to-a-private-network.md
  translations/ja-JP/content/actions/using-github-hosted-runners/index.md
  translations/ja-JP/content/admin/configuration/configuring-github-connect/enabling-automatic-user-license-sync-for-your-enterprise.md
  translations/ja-JP/content/admin/configuration/configuring-your-enterprise/verifying-or-approving-a-domain-for-your-enterprise.md
  translations/ja-JP/content/admin/user-management/managing-users-in-your-enterprise/viewing-people-in-your-enterprise.md
  translations/ja-JP/content/billing/index.md
  translations/ja-JP/content/billing/managing-billing-for-your-github-account/about-billing-for-your-enterprise.md
  translations/ja-JP/content/billing/managing-billing-for-your-github-account/about-per-user-pricing.md
  translations/ja-JP/content/billing/managing-billing-for-your-github-account/index.md
  translations/ja-JP/content/billing/managing-your-license-for-github-enterprise/about-licenses-for-github-enterprise.md
  translations/ja-JP/content/billing/managing-your-license-for-github-enterprise/index.md
  translations/ja-JP/content/billing/managing-your-license-for-github-enterprise/syncing-license-usage-between-github-enterprise-server-and-github-enterprise-cloud.md
  translations/ja-JP/content/billing/managing-your-license-for-github-enterprise/troubleshooting-license-usage-for-github-enterprise.md
  translations/ja-JP/content/billing/managing-your-license-for-github-enterprise/viewing-license-usage-for-github-enterprise.md
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  translations/ja-JP/content/code-security/dependabot/dependabot-security-updates/configuring-dependabot-security-updates.md
  translations/ja-JP/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/ja-JP/content/code-security/dependabot/working-with-dependabot/troubleshooting-the-detection-of-vulnerable-dependencies.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-supply-chain-security.md
  translations/ja-JP/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/about-github-campus-program.md
  translations/ja-JP/content/get-started/importing-your-projects-to-github/importing-source-code-to-github/importing-a-repository-with-github-importer.md
  translations/ja-JP/content/github/copilot/index.md
  translations/ja-JP/content/github/copilot/research-recitation.md
  translations/ja-JP/data/release-notes/enterprise-server/3-5/0-rc1.yml
  translations/ja-JP/data/reusables/billing/license-statuses.md
  translations/ja-JP/data/reusables/billing/per-user-pricing-reference.md
  translations/ja-JP/data/reusables/dependabot/configuration-options.md
  translations/ja-JP/data/reusables/enterprise-licensing/about-license-sync.md
  translations/ja-JP/data/reusables/enterprise-licensing/unique-user-licensing-model.md
  translations/ja-JP/data/reusables/enterprise-licensing/verified-domains-license-sync.md
  translations/ja-JP/data/reusables/pull_requests/rebase_and_merge_verification.md
  translations/ja-JP/data/variables/product.yml
  translations/log/ja-resets.csv
Labels: triage, automated-reposync-pr
