Repository github/docs, pull requests merged in 2022-11, with the labels that each got.

#21716 repo sync
  content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  content/actions/hosting-your-own-runners/using-labels-with-self-hosted-runners.md
  content/actions/using-github-hosted-runners/controlling-access-to-larger-runners.md
  content/actions/using-github-hosted-runners/using-larger-runners.md
  content/actions/using-jobs/choosing-the-runner-for-a-job.md
  data/features/target-runner-groups.yml
  data/reusables/actions/jobs/example-runs-on-groups.md
  data/reusables/actions/jobs/example-runs-on-labels-and-groups.md
  data/reusables/actions/jobs/section-choosing-the-runner-for-a-job.md
  data/reusables/actions/section-using-unique-names-for-runner-groups.md
Labels: automated-reposync-pr

#21728 repo sync
  middleware/api/es-search.js
  translations/log/msft-cn-resets.csv
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-profile.md
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/why-are-my-contributions-not-showing-up-on-my-profile.md
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/permission-levels-for-a-personal-account-repository.md
  translations/zh-CN/content/actions/creating-actions/setting-exit-codes-for-actions.md
  translations/zh-CN/content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  translations/zh-CN/content/actions/hosting-your-own-runners/using-labels-with-self-hosted-runners.md
  translations/zh-CN/content/actions/using-github-hosted-runners/controlling-access-to-larger-runners.md
  translations/zh-CN/content/actions/using-github-hosted-runners/using-larger-runners.md
  translations/zh-CN/content/actions/using-jobs/choosing-the-runner-for-a-job.md
  translations/zh-CN/content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server.md
  translations/zh-CN/content/admin/identity-and-access-management/managing-iam-for-your-enterprise/username-considerations-for-external-authentication.md
  translations/zh-CN/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  translations/zh-CN/content/admin/overview/about-enterprise-accounts.md
  translations/zh-CN/content/admin/user-management/managing-organizations-in-your-enterprise/adding-organizations-to-your-enterprise.md
  translations/zh-CN/content/admin/user-management/managing-organizations-in-your-enterprise/index.md
  translations/zh-CN/content/admin/user-management/managing-users-in-your-enterprise/viewing-people-in-your-enterprise.md
  translations/zh-CN/content/authentication/authenticating-with-saml-single-sign-on/about-authentication-with-saml-single-sign-on.md
  translations/zh-CN/content/authentication/keeping-your-account-and-data-secure/reviewing-your-security-log.md
  translations/zh-CN/content/billing/managing-licenses-for-visual-studio-subscriptions-with-github-enterprise/about-visual-studio-subscriptions-with-github-enterprise.md
  translations/zh-CN/content/billing/managing-licenses-for-visual-studio-subscriptions-with-github-enterprise/setting-up-visual-studio-subscriptions-with-github-enterprise.md
  translations/zh-CN/content/billing/managing-your-license-for-github-enterprise/troubleshooting-license-usage-for-github-enterprise.md
  translations/zh-CN/content/code-security/secret-scanning/about-secret-scanning.md
  translations/zh-CN/content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
  translations/zh-CN/content/code-security/security-advisories/global-security-advisories/about-global-security-advisories.md
  translations/zh-CN/content/code-security/security-advisories/global-security-advisories/about-the-github-advisory-database.md
  translations/zh-CN/content/code-security/security-advisories/global-security-advisories/browsing-security-advisories-in-the-github-advisory-database.md
  translations/zh-CN/content/code-security/security-advisories/global-security-advisories/editing-security-advisories-in-the-github-advisory-database.md
  translations/zh-CN/content/code-security/security-advisories/global-security-advisories/index.md
  translations/zh-CN/content/code-security/security-advisories/guidance-on-reporting-and-writing/index.md
  translations/zh-CN/content/code-security/security-advisories/index.md
  translations/zh-CN/content/code-security/security-advisories/repository-security-advisories/about-coordinated-disclosure-of-security-vulnerabilities.md
  translations/zh-CN/content/code-security/security-advisories/repository-security-advisories/about-repository-security-advisories.md
  translations/zh-CN/content/code-security/security-advisories/repository-security-advisories/creating-a-repository-security-advisory.md
  translations/zh-CN/content/code-security/security-advisories/repository-security-advisories/editing-a-repository-security-advisory.md
  translations/zh-CN/content/code-security/security-advisories/repository-security-advisories/index.md
  translations/zh-CN/content/code-security/security-advisories/repository-security-advisories/publishing-a-repository-security-advisory.md
  translations/zh-CN/content/codespaces/codespaces-reference/allowing-your-codespace-to-access-a-private-image-registry.md
  translations/zh-CN/content/codespaces/setting-up-your-project-for-codespaces/automatically-opening-files-in-the-codespaces-for-a-repository.md
  translations/zh-CN/content/codespaces/setting-up-your-project-for-codespaces/setting-a-minimum-specification-for-codespace-machines.md
  translations/zh-CN/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  translations/zh-CN/content/organizations/managing-saml-single-sign-on-for-your-organization/about-identity-and-access-management-with-saml-single-sign-on.md
  translations/zh-CN/content/repositories/creating-and-managing-repositories/renaming-a-repository.md
  translations/zh-CN/content/support/learning-about-github-support/about-github-support.md
  translations/zh-CN/data/reusables/actions/jobs/section-choosing-the-runner-for-a-job.md
  translations/zh-CN/data/reusables/audit_log/audit-log-action-categories.md
  translations/zh-CN/data/reusables/billing/license-statuses.md
  translations/zh-CN/data/reusables/enterprise-accounts/vss-ghe-description.md
  translations/zh-CN/data/reusables/package_registry/authenticate_with_pat_for_v2_registry.md
  translations/zh-CN/data/reusables/repositories/security-advisories-republishing.md
  translations/zh-CN/data/reusables/saml/outside-collaborators-exemption.md
  translations/zh-CN/data/reusables/saml/resources-without-sso.md
  translations/zh-CN/data/reusables/saml/saml-accounts.md
  translations/zh-CN/data/reusables/security-advisory/security-advisory-overview.md
  translations/zh-CN/data/variables/product.yml
Labels: automated-reposync-pr

#21730 repo sync
  .github/workflows/sync-search-elasticsearch.yml
  middleware/api/es-search.js
  script/search/index-elasticsearch.js
Labels: automated-reposync-pr

#21734 repo sync
  script/helpers/git-utils.js
Labels: automated-reposync-pr

#21738 repo sync
  content/get-started/getting-started-with-git/about-remote-repositories.md
  data/reusables/user-settings/password-authentication-deprecation.md
Labels: automated-reposync-pr

#21739 repo sync
  data/reusables/organizations/org_settings.md
Labels: automated-reposync-pr

#21742 repo sync
  assets/images/help/classroom/student-codespaces-readme-link.png
  assets/images/help/classroom/student-launch-new-codespace.png
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/using-github-codespaces-with-github-classroom.md
Labels: automated-reposync-pr

#21746 repo sync
  data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/graphql_upcoming_changes.public.yml
  data/graphql/ghec/schema.docs.graphql
  data/graphql/ghes-3.7/graphql_upcoming_changes.public-enterprise.yml
  data/graphql/ghes-3.7/schema.docs-enterprise.graphql
  data/graphql/graphql_upcoming_changes.public.yml
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/previews.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
  lib/graphql/static/schema-ghes-3.7.json
  lib/graphql/static/upcoming-changes.json
  package-lock.json
  package.json
Labels: automated-reposync-pr

#21750 repo sync
  stylesheets/extended-markdown.scss
Labels: automated-reposync-pr

#21751 repo sync
  content/organizations/managing-programmatic-access-to-your-organization/managing-requests-for-personal-access-tokens-in-your-organization.md
  content/organizations/managing-programmatic-access-to-your-organization/reviewing-and-revoking-personal-access-tokens-in-your-organization.md
  data/reusables/user-settings/patv2-filters.md
Labels: automated-reposync-pr

#21754 repo sync
  data/reusables/secret-scanning/secret-list-private-push-protection.md
Labels: automated-reposync-pr

#21755 repo sync
  stylesheets/extended-markdown.scss
Labels: automated-reposync-pr

#21756 repo sync
  content/admin/enterprise-management/caching-repositories/configuring-a-repository-cache.md
Labels: automated-reposync-pr

#21758 repo sync
  content/code-security/secret-scanning/about-secret-scanning.md
Labels: automated-reposync-pr

#21760 repo sync
  lib/excluded-links.js
Labels: automated-reposync-pr

#21764 repo sync
  components/graphql/Changelog.tsx
  pages/[versionId]/graphql/overview/changelog.tsx
Labels: automated-reposync-pr

#21769 repo sync
  content/site-policy/github-terms/github-terms-for-additional-products-and-features.md
Labels: automated-reposync-pr

#21771 repo sync
  package-lock.json
  package.json
Labels: automated-reposync-pr

#21772 repo sync
  components/guides/LearningTrack.tsx
  components/release-notes/PatchNotes.tsx
  components/rest/RestOperation.tsx
  package-lock.json
  package.json
  script/rest/utils/decorator.js
  tests/rendering/rest.js
Labels: automated-reposync-pr

#21775 repo sync
  content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-amazon-s3-storage.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  data/reusables/actions/enterprise-s3-support-warning.md
  data/reusables/actions/enterprise-s3-tech-partners.md
Labels: automated-reposync-pr

#21800 repo sync
  content/developers/webhooks-and-events/webhooks/configuring-your-server-to-receive-payloads.md
  content/developers/webhooks-and-events/webhooks/creating-webhooks.md
  content/developers/webhooks-and-events/webhooks/index.md
  content/developers/webhooks-and-events/webhooks/receiving-webhooks-with-the-github-cli.md
  content/rest/guides/building-a-ci-server.md
  content/rest/guides/delivering-deployments.md
  data/features/cli-webhook-forwarding.yml
Labels: automated-reposync-pr

#21801 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
Labels: automated-reposync-pr

#21812 repo sync
  content/codespaces/developing-in-codespaces/default-environment-variables-for-your-codespace.md
  content/codespaces/developing-in-codespaces/forwarding-ports-in-your-codespace.md
  content/codespaces/troubleshooting/troubleshooting-port-forwarding-for-github-codespaces.md
  data/reusables/codespaces/forwarded-ports-environment-variable.md
Labels: automated-reposync-pr

#21813 repo sync
  components/article/InArticlePicker.tsx
Labels: automated-reposync-pr

#21817 repo sync
  translations/log/msft-cn-resets.csv
  translations/zh-CN/content/admin/enterprise-management/caching-repositories/configuring-a-repository-cache.md
  translations/zh-CN/content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-amazon-s3-storage.md
  translations/zh-CN/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  translations/zh-CN/content/admin/user-management/managing-organizations-in-your-enterprise/adding-organizations-to-your-enterprise.md
  translations/zh-CN/content/admin/user-management/managing-organizations-in-your-enterprise/index.md
  translations/zh-CN/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
  translations/zh-CN/content/code-security/secret-scanning/about-secret-scanning.md
  translations/zh-CN/content/codespaces/developing-in-codespaces/default-environment-variables-for-your-codespace.md
  translations/zh-CN/content/codespaces/developing-in-codespaces/forwarding-ports-in-your-codespace.md
  translations/zh-CN/content/codespaces/troubleshooting/troubleshooting-port-forwarding-for-github-codespaces.md
  translations/zh-CN/content/developers/webhooks-and-events/webhooks/creating-webhooks.md
  translations/zh-CN/content/developers/webhooks-and-events/webhooks/index.md
  translations/zh-CN/content/organizations/collaborating-with-groups-in-organizations/about-organizations.md
  translations/zh-CN/content/organizations/managing-peoples-access-to-your-organization-with-roles/index.md
  translations/zh-CN/content/rest/guides/building-a-ci-server.md
  translations/zh-CN/content/rest/guides/delivering-deployments.md
  translations/zh-CN/data/reusables/actions/enterprise-s3-support-warning.md
  translations/zh-CN/data/reusables/actions/jobs/example-runs-on-groups.md
  translations/zh-CN/data/reusables/actions/jobs/example-runs-on-labels-and-groups.md
  translations/zh-CN/data/reusables/actions/jobs/section-choosing-the-runner-for-a-job.md
  translations/zh-CN/data/reusables/actions/section-using-unique-names-for-runner-groups.md
  translations/zh-CN/data/reusables/organizations/about-custom-repo-roles.md
  translations/zh-CN/data/reusables/organizations/custom-repo-roles-ghec-only.md
  translations/zh-CN/data/reusables/secret-scanning/secret-list-private-push-protection.md
Labels: automated-reposync-pr

#21818 repo sync
  Dockerfile
  lib/create-tree.js
  package-lock.json
  package.json
Labels: automated-reposync-pr

#21819 repo sync
  contributing/content-style-guide.md
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
  data/reusables/secret-scanning/secret-list-private-push-protection.md
  data/variables/product.yml
Labels: automated-reposync-pr

#21825 repo sync
  assets/images/help/dependabot/dependabot-notification-frequency.png
  assets/images/help/enterprises/dependabot-alerts-options-no-UI.png
  content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
  data/reusables/notifications/vulnerable-dependency-notification-options.md
  lib/webhooks/static/decorated/ghes-3.3.json
  lib/webhooks/static/decorated/ghes-3.4.json
  lib/webhooks/static/decorated/ghes-3.5.json
  lib/webhooks/static/decorated/ghes-3.6.json
Labels: automated-reposync-pr

#21826 repo sync
  script/rest/update-files.js
  script/rest/utils/decorator.js
  script/rest/utils/get-openapi-schemas.js
  tests/fixtures/openapi-release-configs/api.github.com.yaml
  tests/fixtures/openapi-release-configs/ghec.yaml
  tests/fixtures/openapi-release-configs/ghes-3.2.yaml
  tests/fixtures/openapi-release-configs/ghes-3.7.yaml
  tests/fixtures/openapi-release-configs/ghes-3.8.yaml
  tests/fixtures/openapi-release-configs/github.ae.yaml
  tests/unit/openapi-decorator.js
Labels: automated-reposync-pr

#21851 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
Labels: automated-reposync-pr

#21854 repo sync
  translations/log/msft-cn-resets.csv
  translations/zh-CN/content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
  translations/zh-CN/data/reusables/notifications/vulnerable-dependency-notification-options.md
  translations/zh-CN/data/reusables/secret-scanning/partner-secret-list-private-repo.md
  translations/zh-CN/data/reusables/secret-scanning/partner-secret-list-public-repo.md
  translations/zh-CN/data/reusables/secret-scanning/secret-list-private-push-protection.md
  translations/zh-CN/data/variables/product.yml
Labels: automated-reposync-pr

#21856 repo sync
  lib/get-applicable-versions.js
  tests/unit/get-applicable-versions.js
  tests/unit/ghae-versioning.js
Labels: automated-reposync-pr

#21867 repo sync
  translations/log/msft-es-resets.csv
  translations/log/msft-pt-resets.csv
  translations/pt-BR/content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-amazon-s3-storage.md
  translations/pt-BR/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  translations/pt-BR/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
  translations/pt-BR/content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/default-environment-variables-for-your-codespace.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/forwarding-ports-in-your-codespace.md
  translations/pt-BR/content/codespaces/troubleshooting/troubleshooting-port-forwarding-for-github-codespaces.md
  translations/pt-BR/content/developers/webhooks-and-events/webhooks/creating-webhooks.md
  translations/pt-BR/content/developers/webhooks-and-events/webhooks/index.md
  translations/pt-BR/content/issues/tracking-your-work-with-issues/filtering-and-searching-issues-and-pull-requests.md
  translations/pt-BR/content/rest/guides/building-a-ci-server.md
  translations/pt-BR/content/rest/guides/delivering-deployments.md
  translations/pt-BR/content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  translations/pt-BR/data/reusables/actions/enterprise-s3-support-warning.md
  translations/pt-BR/data/reusables/notifications/vulnerable-dependency-notification-options.md
  translations/pt-BR/data/reusables/organizations/org_settings.md
  translations/pt-BR/data/reusables/secret-scanning/partner-secret-list-private-repo.md
  translations/pt-BR/data/reusables/secret-scanning/partner-secret-list-public-repo.md
  translations/pt-BR/data/reusables/secret-scanning/secret-list-private-push-protection.md
  translations/pt-BR/data/variables/product.yml
Labels: automated-reposync-pr

#21693 Broken Markup fixed
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-cloud-providers.md
Labels: content, actions, hacktoberfest-accepted, ready to merge, waiting for review

#21794 Updated GitHub App manifest parameter
  content/developers/apps/building-github-apps/creating-a-github-app-from-a-manifest.md
Labels: content, ready to merge, waiting for review, developers

#21875 repo sync
  content/admin/code-security/managing-supply-chain-security-for-your-enterprise/about-supply-chain-security-for-your-enterprise.md
  content/admin/code-security/managing-supply-chain-security-for-your-enterprise/enabling-the-dependency-graph-for-your-enterprise.md
  content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
  data/reusables/dependency-review/dependency-review-enabled-ghes.md
  data/reusables/dependency-review/feature-overview.md
  data/reusables/dependency-review/short-summary.md
  stylesheets/index.scss
  stylesheets/markdown-overrides.scss
Labels: automated-reposync-pr

#21877 repo sync
  data/features/GH-advisory-db-supports-malware.yml
  data/reusables/security/displayed-information.md
Labels: automated-reposync-pr

#21878 repo sync
  components/page-footer/SupportSection.tsx
Labels: automated-reposync-pr

#21879 repo sync
  translations/es-ES/content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-cloud-providers.md
  translations/es-ES/content/admin/code-security/managing-supply-chain-security-for-your-enterprise/about-supply-chain-security-for-your-enterprise.md
  translations/es-ES/content/admin/code-security/managing-supply-chain-security-for-your-enterprise/enabling-the-dependency-graph-for-your-enterprise.md
  translations/es-ES/content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
  translations/es-ES/content/organizations/managing-programmatic-access-to-your-organization/managing-requests-for-personal-access-tokens-in-your-organization.md
  translations/es-ES/content/organizations/managing-programmatic-access-to-your-organization/reviewing-and-revoking-personal-access-tokens-in-your-organization.md
  translations/es-ES/content/repositories/creating-and-managing-repositories/duplicating-a-repository.md
  translations/es-ES/data/reusables/dependency-review/feature-overview.md
  translations/es-ES/data/reusables/security/displayed-information.md
  translations/ja-JP/content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-cloud-providers.md
  translations/ja-JP/content/admin/code-security/managing-supply-chain-security-for-your-enterprise/about-supply-chain-security-for-your-enterprise.md
  translations/ja-JP/content/admin/code-security/managing-supply-chain-security-for-your-enterprise/enabling-the-dependency-graph-for-your-enterprise.md
  translations/ja-JP/content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
  translations/ja-JP/content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-amazon-s3-storage.md
  translations/ja-JP/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
  translations/ja-JP/content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
  translations/ja-JP/content/codespaces/developing-in-codespaces/default-environment-variables-for-your-codespace.md
  translations/ja-JP/content/codespaces/developing-in-codespaces/forwarding-ports-in-your-codespace.md
  translations/ja-JP/content/codespaces/troubleshooting/troubleshooting-port-forwarding-for-github-codespaces.md
  translations/ja-JP/content/developers/webhooks-and-events/webhooks/creating-webhooks.md
  translations/ja-JP/content/developers/webhooks-and-events/webhooks/index.md
  translations/ja-JP/content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/using-github-codespaces-with-github-classroom.md
  translations/ja-JP/content/issues/tracking-your-work-with-issues/filtering-and-searching-issues-and-pull-requests.md
  translations/ja-JP/content/organizations/managing-peoples-access-to-your-organization-with-roles/about-custom-repository-roles.md
  translations/ja-JP/content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-custom-repository-roles-for-an-organization.md
  translations/ja-JP/content/repositories/creating-and-managing-repositories/duplicating-a-repository.md
  translations/ja-JP/content/rest/guides/building-a-ci-server.md
  translations/ja-JP/content/rest/guides/delivering-deployments.md
  translations/ja-JP/content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  translations/ja-JP/data/reusables/actions/enterprise-s3-support-warning.md
  translations/ja-JP/data/reusables/dependency-review/feature-overview.md
  translations/ja-JP/data/reusables/notifications/vulnerable-dependency-notification-options.md
  translations/ja-JP/data/reusables/secret-scanning/partner-secret-list-private-repo.md
  translations/ja-JP/data/reusables/secret-scanning/partner-secret-list-public-repo.md
  translations/ja-JP/data/reusables/secret-scanning/secret-list-private-push-protection.md
  translations/ja-JP/data/reusables/security/displayed-information.md
  translations/ja-JP/data/variables/product.yml
  translations/log/msft-es-resets.csv
  translations/log/msft-ja-resets.csv
Labels: automated-reposync-pr

#21883 repo sync
  assets/images/help/dependabot/dependabot-version-update-forks.png
  content/code-security/dependabot/dependabot-version-updates/configuring-dependabot-version-updates.md
  data/features/dependabot-version-updates-for-forks.yml
  translations/log/msft-cn-resets.csv
  translations/log/msft-pt-resets.csv
  translations/pt-BR/content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-cloud-providers.md
  translations/pt-BR/content/admin/code-security/managing-supply-chain-security-for-your-enterprise/about-supply-chain-security-for-your-enterprise.md
  translations/pt-BR/content/admin/code-security/managing-supply-chain-security-for-your-enterprise/enabling-the-dependency-graph-for-your-enterprise.md
  translations/pt-BR/content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/troubleshooting-the-dependency-graph.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/using-github-codespaces-with-github-classroom.md
  translations/pt-BR/content/organizations/managing-peoples-access-to-your-organization-with-roles/about-custom-repository-roles.md
  translations/pt-BR/content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-custom-repository-roles-for-an-organization.md
  translations/pt-BR/content/repositories/creating-and-managing-repositories/duplicating-a-repository.md
  translations/pt-BR/data/reusables/dependency-review/feature-overview.md
  translations/pt-BR/data/reusables/security/displayed-information.md
  translations/zh-CN/content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-cloud-providers.md
  translations/zh-CN/content/admin/code-security/managing-supply-chain-security-for-your-enterprise/about-supply-chain-security-for-your-enterprise.md
  translations/zh-CN/content/admin/code-security/managing-supply-chain-security-for-your-enterprise/enabling-the-dependency-graph-for-your-enterprise.md
  translations/zh-CN/content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
  translations/zh-CN/content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/using-github-codespaces-with-github-classroom.md
  translations/zh-CN/content/organizations/managing-peoples-access-to-your-organization-with-roles/about-custom-repository-roles.md
  translations/zh-CN/content/repositories/creating-and-managing-repositories/duplicating-a-repository.md
  translations/zh-CN/data/reusables/dependency-review/feature-overview.md
  translations/zh-CN/data/reusables/security/displayed-information.md
Labels: automated-reposync-pr

#21864 Add missing heading
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks.md
Labels: content, ready to merge, waiting for review, repositories

#21884 repo sync
  lib/create-tree.js
  lib/languages.js
  lib/page-data.js
  middleware/find-page.js
Labels: automated-reposync-pr

#21886 repo sync
  lib/get-mini-toc-items.js
  tests/unit/mini-toc-items.js
Labels: automated-reposync-pr

#21887 repo sync
  components/landing/TableOfContents.tsx
  middleware/contextualizers/generic-toc.js
Labels: automated-reposync-pr

#21890 repo sync
  .github/actions-scripts/enterprise-search-label.js
  .github/workflows/enterprise-release-sync-search-index.yml
  .github/workflows/sync-search-indices.yml
  script/enterprise-server-deprecations/remove-static-files.js
  script/search/index-elasticsearch.js
Labels: automated-reposync-pr

#21891 repo sync
  script/rest/utils/decorator.js
Labels: automated-reposync-pr

#21892 repo sync
  .github/actions-scripts/prune-for-preview-env.sh
  .github/workflows/triage-unallowed-contributions.yml
  .github/workflows/triage-unallowed-internal-changes.yml
  script/copy-to-test-repo.sh
Labels: automated-reposync-pr

#21894 repo sync
  content/actions/learn-github-actions/usage-limits-billing-and-administration.md
Labels: triage, automated-reposync-pr

#21933 repo sync
  data/reusables/repositories/tracks-vulnerabilities.md
Labels: automated-reposync-pr

#21934 repo sync
  lib/get-data.js
  tests/helpers/data-directory.js
  tests/unit/get-data.js
Labels: automated-reposync-pr

#21935 repo sync
  .github/actions/rendered-content-link-checker.js
  .github/workflows/link-check-daily.yml
  .gitignore
  components/context/MainContext.tsx
  components/page-header/VersionPicker.tsx
  content/rest/overview/libraries.md
  lib/permalink.js
  package-lock.json
  package.json
  script/dev-toc/generate.js
  tests/unit/permalink.js
Labels: automated-reposync-pr

#20172 chore: update guide to include path to public key for ssh signing
  data/reusables/gpg/paste-ssh-public-key.md
Labels: content, ready to merge, ssh, authentication, SME reviewed, Merge-after-freeze

#21909 Spelling error in section header
  content/developers/webhooks-and-events/webhooks/receiving-webhooks-with-the-github-cli.md
Labels: content, ready to merge, developers, Merge-after-freeze

#21733 Clarified that SQL Server sample is also applicable to Azure SQL
  data/product-examples/codespaces/code-examples.yml
Labels: content, ready to merge, waiting for review, Codespaces, Merge-after-freeze

#21938 repo sync
  content/developers/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps.md
Labels: automated-reposync-pr

#21753 Update downloading-workflow-artifacts.md
  content/actions/managing-workflow-runs/downloading-workflow-artifacts.md
Labels: content, actions, ready to merge, waiting for review

#21931 Fix "creat issue" typo
  content/code-security/security-advisories/repository-security-advisories/configuring-private-vulnerability-reporting-for-a-repository.md
Labels: content, ready to merge, waiting for review, code security, Merge-after-freeze

#21920 Fixes typo in Configuring CodeQL CLI in your CI system
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
Labels: content, ready to merge, codeql, Merge-after-freeze

#21929 Remove duplicate paragraph in `Customizing GitHub Codespaces`
  content/codespaces/overview.md
Labels: content, waiting for review, Codespaces

#21943 repo sync
  content/actions/automating-builds-and-tests/building-and-testing-go.md
  content/actions/security-guides/security-hardening-for-github-actions.md
  content/actions/using-workflows/workflow-commands-for-github-actions.md
  content/admin/configuration/configuring-github-connect/about-github-connect.md
  content/admin/configuration/configuring-github-connect/managing-github-connect.md
  content/admin/configuration/configuring-network-settings/network-ports.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  content/copilot/overview-of-github-copilot/about-github-copilot.md
  content/get-started/writing-on-github/working-with-advanced-formatting/attaching-files.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/about-custom-repository-roles.md
  content/repositories/creating-and-managing-repositories/transferring-a-repository.md
  data/reusables/copilot/emus-cannot-use-copilot.md
  data/reusables/enterprise-accounts/emu-scim-note.md
  data/reusables/gated-features/copilot.md
  data/reusables/github-connect/connection-port-protocol.md
  tests/meta/repository-references.js
Labels: automated-reposync-pr

#21948 repo sync
  components/lib/get-rest-code-samples.ts
  components/rest/types.ts
  middleware/contextualizers/features.js
  middleware/index.js
  tests/unit/liquid.js
Labels: automated-reposync-pr

#21949 repo sync
  .github/workflows/dry-run-elasticsearch-indexing.yml
  .github/workflows/sync-search-elasticsearch.yml
  .github/workflows/sync-search-pr.yml
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-azure.md
  contributing/search.md
  lib/search/compress.js
  lib/search/lunr-search.js
  package-lock.json
  package.json
  script/README.md
  script/search/index-elasticsearch.js
  script/search/lunr-get-index-names.js
  script/search/lunr-search-index.js
  script/search/search-index-records.js
  script/search/search-qa-data.json
  script/search/search-qa-test.js
  script/search/sync-search-indices.js
  script/search/sync.js
Labels: automated-reposync-pr

#21799 feat: Add githubkit to Python libraries
  content/rest/overview/libraries.md
Labels: content, ready to merge, rest, Merge-after-freeze

#21954 repo sync
  components/context/LanguagesContext.tsx
  components/page-header/HeaderNotifications.tsx
  components/page-header/LanguagePicker.tsx
  lib/languages.js
  middleware/detect-language.js
Labels: automated-reposync-pr

#21957 repo sync
  content/actions/security-guides/security-hardening-for-github-actions.md
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/configuring-code-scanning-for-your-appliance.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/running-codeql-code-scanning-in-a-container.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/setting-up-code-scanning-for-a-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/triaging-code-scanning-alerts-in-pull-requests.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  content/code-security/code-scanning/integrating-with-code-scanning/uploading-a-sarif-file-to-github.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-runner-in-your-ci-system.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/migrating-from-the-codeql-runner-to-codeql-cli.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/running-codeql-runner-in-your-ci-system.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/troubleshooting-codeql-runner-in-your-ci-system.md
  content/code-security/getting-started/securing-your-repository.md
  data/reusables/code-scanning/autobuild-compiled-languages.md
  data/reusables/code-scanning/codeql-runner-analyze-example.md
  data/reusables/code-scanning/deprecation-codeql-runner.md
  data/reusables/code-scanning/edit-workflow.md
  data/variables/code-scanning.yml
  data/variables/product.yml
Labels: automated-reposync-pr

#21925 Explain that people outside organisation cannot view any teams.
  data/reusables/organizations/types-of-team-visibility.md
Labels: content, ready to merge, waiting for review, organizations

#21903 Passing secrets to reusable workflows
  content/actions/security-guides/encrypted-secrets.md
Labels: content, actions, ready to merge, waiting for review

#21978 repo sync
  content/organizations/managing-organization-settings/managing-the-display-of-member-names-in-your-organization.md
Labels: automated-reposync-pr

#21981 repo sync
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghec.json
  translations/log/msft-es-resets.csv
  translations/log/msft-ja-resets.csv
Labels: automated-reposync-pr

#21982 repo sync
  content/code-security/adopting-github-advanced-security-at-scale/phase-6-rollout-and-scale-secret-scanning.md
  content/code-security/getting-started/github-security-features.md
  content/code-security/getting-started/securing-your-organization.md
  content/code-security/secret-scanning/about-secret-scanning.md
  content/code-security/security-overview/about-the-security-overview.md
  content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
  content/code-security/security-overview/viewing-the-security-overview.md
  content/get-started/learning-about-github/about-github-advanced-security.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
  data/reusables/actions/actions-audit-events-workflow.md
  data/reusables/audit_log/audit-log-events-workflows.md
  data/reusables/dependabot/dependabot-alerts-filters.md
  data/reusables/organizations/filter-security-overview.md
  data/reusables/organizations/security-overview-feature-specific-page.md
  data/reusables/projects/migrate-project-steps.md
  translations/log/msft-cn-resets.csv
  translations/log/msft-pt-resets.csv
Labels: automated-reposync-pr

#21988 repo sync
  translations/es-ES/content/code-security/adopting-github-advanced-security-at-scale/phase-6-rollout-and-scale-secret-scanning.md
  translations/es-ES/content/code-security/getting-started/github-security-features.md
  translations/es-ES/content/code-security/getting-started/securing-your-organization.md
  translations/es-ES/content/code-security/secret-scanning/about-secret-scanning.md
  translations/es-ES/content/code-security/security-overview/about-the-security-overview.md
  translations/es-ES/content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
  translations/es-ES/content/code-security/security-overview/viewing-the-security-overview.md
  translations/es-ES/content/get-started/learning-about-github/about-github-advanced-security.md
  translations/es-ES/data/reusables/organizations/filter-security-overview.md
  translations/es-ES/data/reusables/organizations/security-overview-feature-specific-page.md
  translations/ja-JP/content/code-security/adopting-github-advanced-security-at-scale/phase-6-rollout-and-scale-secret-scanning.md
  translations/ja-JP/content/code-security/getting-started/github-security-features.md
  translations/ja-JP/content/code-security/getting-started/securing-your-organization.md
  translations/ja-JP/content/code-security/secret-scanning/about-secret-scanning.md
  translations/ja-JP/content/code-security/security-overview/about-the-security-overview.md
  translations/ja-JP/content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
  translations/ja-JP/content/code-security/security-overview/viewing-the-security-overview.md
  translations/ja-JP/content/get-started/learning-about-github/about-github-advanced-security.md
  translations/ja-JP/data/reusables/dependabot/dependabot-alerts-filters.md
  translations/ja-JP/data/reusables/organizations/filter-security-overview.md
Labels: automated-reposync-pr

#21989 repo sync
  translations/pt-BR/content/code-security/adopting-github-advanced-security-at-scale/phase-6-rollout-and-scale-secret-scanning.md
  translations/pt-BR/content/code-security/getting-started/github-security-features.md
  translations/pt-BR/content/code-security/getting-started/securing-your-organization.md
  translations/pt-BR/content/code-security/secret-scanning/about-secret-scanning.md
  translations/pt-BR/content/code-security/security-overview/about-the-security-overview.md
  translations/pt-BR/content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
  translations/pt-BR/content/code-security/security-overview/viewing-the-security-overview.md
  translations/pt-BR/content/get-started/learning-about-github/about-github-advanced-security.md
  translations/pt-BR/data/reusables/organizations/filter-security-overview.md
  translations/pt-BR/data/reusables/organizations/security-overview-feature-specific-page.md
  translations/zh-CN/content/code-security/adopting-github-advanced-security-at-scale/phase-6-rollout-and-scale-secret-scanning.md
  translations/zh-CN/content/code-security/getting-started/github-security-features.md
  translations/zh-CN/content/code-security/getting-started/securing-your-organization.md
  translations/zh-CN/content/code-security/secret-scanning/about-secret-scanning.md
  translations/zh-CN/content/code-security/security-overview/about-the-security-overview.md
  translations/zh-CN/content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
  translations/zh-CN/content/code-security/security-overview/viewing-the-security-overview.md
  translations/zh-CN/content/get-started/learning-about-github/about-github-advanced-security.md
  translations/zh-CN/data/reusables/organizations/filter-security-overview.md
  translations/zh-CN/data/reusables/organizations/security-overview-feature-specific-page.md
Labels: automated-reposync-pr

#22001 repo sync
  content/actions/hosting-your-own-runners/using-labels-with-self-hosted-runners.md
Labels: automated-reposync-pr

#22006 repo sync
  components/Search.tsx
  data/ui.yml
  middleware/api/es-search.js
  middleware/api/search.js
  tests/browser/browser.js
  tests/content/api-search.js
  tests/content/fixtures/search-indexes/github-docs-dotcom-en-records.json
Labels: automated-reposync-pr

#22008 repo sync
  .github/workflows/sync-search-pr.yml
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  data/features/dependency-review-action-fail-on-scopes.yml
Labels: automated-reposync-pr

#22009 repo sync
  content/billing/managing-billing-for-your-github-account/downgrading-your-github-subscription.md
  content/rest/dependency-graph/dependency-review.md
  content/site-policy/acceptable-use-policies/github-acceptable-use-policies.md
  data/reusables/dependency-review/dependency-review-api-beta-note.md
Labels: automated-reposync-pr

#22011 repo sync
  .github/workflows/sync-search-pr.yml
Labels: automated-reposync-pr

#22014 repo sync
  lib/process-learning-tracks.js
  translations/log/msft-cn-resets.csv
  translations/log/msft-pt-resets.csv
  translations/pt-BR/content/actions/hosting-your-own-runners/using-labels-with-self-hosted-runners.md
  translations/pt-BR/content/admin/identity-and-access-management/managing-iam-for-your-enterprise/about-authentication-for-your-enterprise.md
  translations/pt-BR/content/admin/overview/index.md
  translations/pt-BR/content/billing/managing-billing-for-your-github-account/downgrading-your-github-subscription.md
  translations/pt-BR/content/code-security/security-overview/about-the-security-overview.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/using-github-codespaces-with-github-cli.md
  translations/pt-BR/content/get-started/onboarding/getting-started-with-github-enterprise-cloud.md
  translations/pt-BR/content/get-started/onboarding/getting-started-with-github-enterprise-server.md
  translations/pt-BR/content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  translations/pt-BR/content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-server.md
  translations/pt-BR/content/organizations/collaborating-with-groups-in-organizations/about-organizations.md
  translations/pt-BR/content/organizations/collaborating-with-groups-in-organizations/index.md
  translations/pt-BR/content/repositories/creating-and-managing-repositories/index.md
  translations/pt-BR/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-readmes.md
  translations/pt-BR/content/rest/dependency-graph/dependency-review.md
  translations/pt-BR/data/reusables/dependency-review/dependency-review-api-beta-note.md
  translations/zh-CN/content/actions/hosting-your-own-runners/using-labels-with-self-hosted-runners.md
  translations/zh-CN/content/admin/identity-and-access-management/managing-iam-for-your-enterprise/about-authentication-for-your-enterprise.md
  translations/zh-CN/content/admin/overview/index.md
  translations/zh-CN/content/billing/managing-billing-for-your-github-account/downgrading-your-github-subscription.md
  translations/zh-CN/content/code-security/security-overview/about-the-security-overview.md
  translations/zh-CN/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  translations/zh-CN/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  translations/zh-CN/content/codespaces/developing-in-codespaces/using-github-codespaces-with-github-cli.md
  translations/zh-CN/content/get-started/onboarding/getting-started-with-github-enterprise-cloud.md
  translations/zh-CN/content/get-started/onboarding/getting-started-with-github-enterprise-server.md
  translations/zh-CN/content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  translations/zh-CN/content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-server.md
  translations/zh-CN/content/organizations/collaborating-with-groups-in-organizations/about-organizations.md
  translations/zh-CN/content/organizations/collaborating-with-groups-in-organizations/index.md
  translations/zh-CN/content/repositories/creating-and-managing-repositories/index.md
  translations/zh-CN/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-readmes.md
  translations/zh-CN/content/rest/dependency-graph/dependency-review.md
  translations/zh-CN/data/reusables/dependency-review/dependency-review-api-beta-note.md
Labels: automated-reposync-pr

#22015 repo sync
  assets/images/help/settings/actions-fork-pull-request-workflows-require-approval.png
  content/actions/managing-workflow-runs/approving-workflow-runs-from-private-forks.md
  content/actions/managing-workflow-runs/approving-workflow-runs-from-public-forks.md
  content/actions/managing-workflow-runs/index.md
  data/features/actions-private-fork-workflow-approvals.yml
  data/reusables/actions/private-repository-forks-configure.md
  data/reusables/actions/private-repository-forks-options.md
  data/reusables/actions/workflows/approve-workflow-runs.md
  lib/rest/index.js
  pages/[versionId]/rest/overview/endpoints-available-for-github-apps.tsx
  tests/rendering/rest.js
Labels: automated-reposync-pr

#22005 Remove uneeded whitespace on `git remote rm` example output
  content/get-started/getting-started-with-git/managing-remote-repositories.md
Labels: content, waiting for review, get started

#22018 repo sync
  content/repositories/working-with-files/using-files/navigating-code-on-github.md
Labels: automated-reposync-pr

#21992 Sentence fix for overview.md
  content/codespaces/overview.md
Labels: content, ready to merge, Codespaces

#22020 repo sync
  assets/images/help/discussions/click-pin-discussion-with-category-pins.png
  assets/images/help/discussions/delete-discussion-with-category-pins.png
  assets/images/help/discussions/edit-pinned-discussion-with-category-pins.png
  assets/images/help/discussions/overview-pinned-discussions.png
  assets/images/help/discussions/pin-discussion-to-category-modal.png
  assets/images/help/discussions/pin-discussion-to-category.png
  assets/images/help/discussions/transfer-discussion-with-category-pin.png
  assets/images/help/discussions/unpin-discussion-from-category-modal.png
  assets/images/help/discussions/unpin-discussion-from-category.png
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/using-the-audit-log-api-for-your-enterprise.md
  content/communities/maintaining-your-safety-on-github/blocking-a-user-from-your-organization.md
  content/developers/apps/building-oauth-apps/scopes-for-oauth-apps.md
  content/discussions/managing-discussions-for-your-community/managing-discussions.md
  content/discussions/managing-discussions-for-your-community/moderating-discussions.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  data/features/discussions-category-specific-pins.yml
  data/features/discussions-hide-comments-on-block.yml
  data/features/read-audit-scope.yml
  data/reusables/organizations/blocking-a-user.md
Labels: automated-reposync-pr

#22021 repo sync
  .github/workflows/sync-search-elasticsearch.yml
Labels: automated-reposync-pr

#22024 repo sync
  .github/workflows/openapi-decorate.yml
  content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
  content/packages/working-with-a-github-packages-registry/working-with-the-npm-registry.md
Labels: automated-reposync-pr

#22029 repo sync
  data/release-notes/enterprise-server/3-3/16.yml
  data/release-notes/enterprise-server/3-4/11.yml
  data/release-notes/enterprise-server/3-5/8.yml
  data/release-notes/enterprise-server/3-6/4.yml
Labels: automated-reposync-pr

#22030 repo sync
  .github/actions-scripts/fr-add-docs-reviewers-requests.js
  .github/actions-scripts/projects.js
  .github/actions-scripts/ready-for-docs-review.js
Labels: automated-reposync-pr

#21607 Warn to wait for checks if using Dependabot auto-merge
  content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
Labels: content, ready to merge, dependabot, code security, SME reviewed

#22034 repo sync
  .prettierignore
  .prettierrc.json
  content/get-started/index.md
Labels: automated-reposync-pr

#22035 repo sync
  translations/es-ES/content/actions/managing-workflow-runs/approving-workflow-runs-from-public-forks.md
  translations/es-ES/content/actions/managing-workflow-runs/index.md
  translations/es-ES/content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
  translations/es-ES/content/admin/configuration/configuring-github-connect/about-github-connect.md
  translations/es-ES/content/admin/configuration/configuring-github-connect/managing-github-connect.md
  translations/es-ES/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  translations/es-ES/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/using-the-audit-log-api-for-your-enterprise.md
  translations/es-ES/content/admin/overview/index.md
  translations/es-ES/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
  translations/es-ES/content/code-security/code-scanning/integrating-with-code-scanning/uploading-a-sarif-file-to-github.md
  translations/es-ES/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/running-codeql-runner-in-your-ci-system.md
  translations/es-ES/content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
  translations/es-ES/content/codespaces/prebuilding-your-codespaces/testing-dev-container-changes.md
  translations/es-ES/content/communities/maintaining-your-safety-on-github/blocking-a-user-from-your-organization.md
  translations/es-ES/content/developers/apps/building-oauth-apps/scopes-for-oauth-apps.md
  translations/es-ES/content/developers/webhooks-and-events/webhooks/receiving-webhooks-with-the-github-cli.md
  translations/es-ES/content/discussions/managing-discussions-for-your-community/managing-discussions.md
  translations/es-ES/content/discussions/managing-discussions-for-your-community/moderating-discussions.md
  translations/es-ES/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-students/about-github-global-campus-for-students.md
  translations/es-ES/content/get-started/getting-started-with-git/managing-remote-repositories.md
  translations/es-ES/content/get-started/index.md
  translations/es-ES/content/get-started/quickstart/contributing-to-projects.md
  translations/es-ES/content/get-started/writing-on-github/working-with-advanced-formatting/attaching-files.md
  translations/es-ES/content/organizations/collaborating-with-groups-in-organizations/index.md
  translations/es-ES/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  translations/es-ES/content/packages/working-with-a-github-packages-registry/working-with-the-npm-registry.md
  translations/es-ES/content/repositories/creating-and-managing-repositories/index.md
  translations/es-ES/content/repositories/working-with-files/using-files/navigating-code-on-github.md
  translations/es-ES/content/rest/dependency-graph/dependency-review.md
  translations/es-ES/data/reusables/actions/private-repository-forks-configure.md
  translations/es-ES/data/reusables/actions/private-repository-forks-options.md
  translations/es-ES/data/reusables/actions/workflows/approve-workflow-runs.md
  translations/es-ES/data/reusables/code-scanning/edit-workflow.md
  translations/es-ES/data/reusables/enterprise/ghec-authentication-options.md
  translations/es-ES/data/reusables/gpg/paste-ssh-public-key.md
  translations/es-ES/data/reusables/organizations/blocking-a-user.md
  translations/es-ES/data/reusables/repositories/about-READMEs.md
  translations/log/msft-es-resets.csv
Labels: automated-reposync-pr

#22036 repo sync
  translations/ja-JP/content/actions/managing-workflow-runs/approving-workflow-runs-from-public-forks.md
  translations/ja-JP/content/actions/managing-workflow-runs/index.md
  translations/ja-JP/content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
  translations/ja-JP/content/admin/configuration/configuring-github-connect/about-github-connect.md
  translations/ja-JP/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/using-the-audit-log-api-for-your-enterprise.md
  translations/ja-JP/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/running-codeql-runner-in-your-ci-system.md
  translations/ja-JP/content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
  translations/ja-JP/content/codespaces/overview.md
  translations/ja-JP/content/communities/maintaining-your-safety-on-github/blocking-a-user-from-your-organization.md
  translations/ja-JP/content/developers/apps/building-oauth-apps/scopes-for-oauth-apps.md
  translations/ja-JP/content/discussions/managing-discussions-for-your-community/managing-discussions.md
  translations/ja-JP/content/discussions/managing-discussions-for-your-community/moderating-discussions.md
  translations/ja-JP/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-students/about-github-global-campus-for-students.md
  translations/ja-JP/content/get-started/getting-started-with-git/managing-remote-repositories.md
  translations/ja-JP/content/get-started/index.md
  translations/ja-JP/content/get-started/quickstart/contributing-to-projects.md
  translations/ja-JP/content/organizations/collaborating-with-groups-in-organizations/index.md
  translations/ja-JP/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  translations/ja-JP/content/packages/working-with-a-github-packages-registry/working-with-the-npm-registry.md
  translations/ja-JP/content/repositories/creating-and-managing-repositories/index.md
  translations/ja-JP/content/repositories/working-with-files/using-files/navigating-code-on-github.md
  translations/ja-JP/content/rest/dependency-graph/dependency-review.md
  translations/ja-JP/data/reusables/actions/private-repository-forks-configure.md
  translations/ja-JP/data/reusables/actions/private-repository-forks-options.md
  translations/ja-JP/data/reusables/actions/workflows/approve-workflow-runs.md
  translations/ja-JP/data/reusables/copilot/emus-cannot-use-copilot.md
  translations/ja-JP/data/reusables/enterprise/ghec-authentication-options.md
  translations/ja-JP/data/reusables/gpg/paste-ssh-public-key.md
  translations/ja-JP/data/reusables/organizations/blocking-a-user.md
  translations/ja-JP/data/reusables/repositories/about-READMEs.md
  translations/log/msft-ja-resets.csv
Labels: automated-reposync-pr

#22017 Fix slick typo
  data/reusables/codespaces/source-control.md
Labels: content, ready to merge, waiting for review, Codespaces

#22040 repo sync
  assets/images/help/settings/github-mobile-active-sessions.png
  assets/images/help/settings/revoke-mobile-session.png
  assets/images/help/settings/revoke-session.png
  assets/images/help/settings/saml-active-sessions.png
  components/article/AutomatedPage.tsx
  components/context/AutomatedPageContext.tsx
  components/parameter-table/ChildBodyParametersRows.tsx
  components/parameter-table/ParameterRow.tsx
  components/parameter-table/ParameterTable.tsx
  components/webhooks/Webhook.tsx
  components/webhooks/WebhookPayloadExample.module.scss
  components/webhooks/types.ts
  content/authentication/authenticating-with-saml-single-sign-on/viewing-and-managing-your-active-saml-sessions.md
  content/authentication/keeping-your-account-and-data-secure/index.md
  content/authentication/keeping-your-account-and-data-secure/viewing-and-managing-your-sessions.md
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  data/features/device-and-settings-management-page.yml
  data/reusables/user-settings/sessions.md
  data/ui.yml
  lib/webhooks/index.js
  middleware/api/index.js
  middleware/api/webhooks.js
  middleware/contextualizers/webhooks.js
  middleware/index.js
  pages/[versionId]/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.tsx
  tests/content/webhooks.js
  tests/rendering/webhooks.js
Labels: automated-reposync-pr

#22041 repo sync
  content/rest/codespaces/repository-secrets.md
Labels: automated-reposync-pr

#22042 repo sync
  data/release-notes/enterprise-server/3-3/16.yml
  data/release-notes/enterprise-server/3-4/11.yml
  data/release-notes/enterprise-server/3-5/8.yml
  data/release-notes/enterprise-server/3-6/4.yml
Labels: automated-reposync-pr

#21918 MinIO Gateway Removal
  content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-minio-storage.md
  content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/index.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  content/admin/packages/quickstart-for-configuring-your-minio-storage-bucket-for-github-packages.md
  data/reusables/actions/minio-gateways-removal.md
Labels: content, actions, packages, enterprise, waiting for review

#21768 Add `strategy` to keywords for jobs that call workflows
  content/actions/using-workflows/reusing-workflows.md
Labels: content, actions, waiting for review

#22063 repo sync
  .github/workflows/translation-health-report.yml
  .github/workflows/wip-langs-create-translation-batch-pr.yml
  script/i18n/create-translation-health-report.js
Labels: automated-reposync-pr

#22064 repo sync
  .github/workflows/wip-langs-create-translation-batch-pr.yml
Labels: automated-reposync-pr

#22065 repo sync
  data/features/dependabot-version-updates-enhanced-docker-support.yml
  data/reusables/dependabot/supported-package-managers.md
Labels: automated-reposync-pr

#21741 fixing gh-21736
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, triage, ready to merge, get started

#22044 Update documentation mistake with curl API for mutating iteration fields
  content/issues/planning-and-tracking-with-projects/automating-your-project/using-the-api-to-manage-projects.md
Labels: content, ready to merge, waiting for review, issues

#22067 repo sync
  data/release-notes/enterprise-server/3-7/0.yml
Labels: automated-reposync-pr

#22077 repo sync
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/accessing-compliance-reports-for-your-organization.md
  data/reusables/organizations/compliance.md
Labels: automated-reposync-pr

#22078 repo sync
  content/code-security/security-advisories/guidance-on-reporting-and-writing/privately-reporting-a-security-vulnerability.md
Labels: automated-reposync-pr

#22086 repo sync
  .github/actions/rendered-content-link-checker.js
  .github/workflows/link-check-daily.yml
  components/context/MainContext.tsx
  content/get-started/quickstart/github-glossary.md
  lib/excluded-links.js
  lib/get-applicable-versions.js
  lib/get-data.js
  lib/get-english-headings.js
  lib/liquid-tags/data.js
  lib/liquid-tags/indented-data-reference.js
  lib/page-data.js
  lib/process-learning-tracks.js
  lib/warm-server.js
  middleware/context.js
  middleware/contextualizers/features.js
  middleware/contextualizers/ghae-release-notes.js
  middleware/contextualizers/ghes-release-notes.js
  middleware/contextualizers/glossaries.js
  middleware/contextualizers/product-examples.js
  middleware/index.js
  middleware/learning-track.js
  nodemon.json
  script/rendered-content-link-checker.js
  tests/content/category-pages.js
  tests/content/glossary.js
  tests/fixtures/liquid-tags/good-data-variable.md
  tests/unit/liquid-helpers.js
  tests/unit/liquid-tags/data.js
Labels: automated-reposync-pr

#22019 Add Dart to dependency scope table
  data/reusables/dependabot/dependabot-alerts-dependency-scope.md
Labels: content, waiting for review, dependabot

#22089 repo sync
  middleware/contextualizers/ghae-release-notes.js
  middleware/contextualizers/ghes-release-notes.js
Labels: triage, automated-reposync-pr

#22090 repo sync
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghec.json
  tests/helpers/schemas/learning-tracks-schema.js
  translations/es-ES/content/billing/managing-billing-for-github-codespaces/managing-the-spending-limit-for-github-codespaces.md
  translations/es-ES/content/codespaces/customizing-your-codespace/setting-your-timeout-period-for-github-codespaces.md
  translations/es-ES/content/codespaces/developing-in-codespaces/creating-a-codespace-for-a-repository.md
  translations/es-ES/content/codespaces/developing-in-codespaces/using-github-codespaces-for-pull-requests.md
  translations/es-ES/content/get-started/quickstart/github-glossary.md
  translations/es-ES/content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  translations/es-ES/content/index.md
  translations/es-ES/content/issues/planning-and-tracking-with-projects/automating-your-project/using-the-api-to-manage-projects.md
  translations/es-ES/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/accessing-compliance-reports-for-your-organization.md
  translations/es-ES/data/reusables/dependabot/dependabot-alerts-dependency-scope.md
  translations/es-ES/data/reusables/dependabot/supported-package-managers.md
  translations/es-ES/data/reusables/education/note-on-student-codespaces-usage.md
  translations/es-ES/data/reusables/search/enabling-and-disabling-code-search-and-view-beta.md
  translations/es-ES/data/reusables/security-advisory/security-researcher-cannot-create-advisory.md
  translations/ja-JP/content/authentication/authenticating-with-saml-single-sign-on/viewing-and-managing-your-active-saml-sessions.md
  translations/ja-JP/content/authentication/keeping-your-account-and-data-secure/index.md
  translations/ja-JP/content/billing/managing-billing-for-github-codespaces/viewing-your-github-codespaces-usage.md
  translations/ja-JP/content/codespaces/codespaces-reference/using-the-github-codespaces-plugin-for-jetbrains.md
  translations/ja-JP/content/codespaces/managing-codespaces-for-your-organization/restricting-the-base-image-for-codespaces.md
  translations/ja-JP/content/codespaces/troubleshooting/troubleshooting-github-codespaces-clients.md
  translations/ja-JP/content/get-started/quickstart/github-glossary.md
  translations/ja-JP/content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  translations/ja-JP/content/index.md
  translations/ja-JP/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/accessing-compliance-reports-for-your-organization.md
  translations/ja-JP/data/reusables/dependabot/dependabot-alerts-dependency-scope.md
  translations/ja-JP/data/reusables/dependabot/supported-package-managers.md
  translations/log/msft-es-resets.csv
  translations/log/msft-ja-resets.csv
Labels: automated-reposync-pr

#22093 repo sync
  translations/log/msft-cn-resets.csv
  translations/log/msft-pt-resets.csv
  translations/log/msft-ru-resets.csv
  translations/pt-BR/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/running-codeql-code-scanning-in-a-container.md
  translations/pt-BR/content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  translations/pt-BR/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/migrating-from-the-codeql-runner-to-codeql-cli.md
  translations/pt-BR/content/get-started/quickstart/github-glossary.md
  translations/pt-BR/content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  translations/pt-BR/content/index.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/accessing-compliance-reports-for-your-organization.md
  translations/pt-BR/content/organizations/managing-organization-settings/managing-the-display-of-member-names-in-your-organization.md
  translations/pt-BR/data/reusables/actions/actions-audit-events-workflow.md
  translations/pt-BR/data/reusables/audit_log/audit-log-events-workflows.md
  translations/pt-BR/data/reusables/dependabot/dependabot-alerts-dependency-scope.md
  translations/pt-BR/data/reusables/dependabot/supported-package-managers.md
  translations/pt-BR/data/reusables/organizations/types-of-team-visibility.md
  translations/pt-BR/data/reusables/projects/migrate-project-steps.md
  translations/ru-RU/content/admin/identity-and-access-management/using-saml-for-enterprise-iam/managing-team-synchronization-for-organizations-in-your-enterprise.md
  translations/ru-RU/content/code-security/security-advisories/guidance-on-reporting-and-writing/privately-reporting-a-security-vulnerability.md
  translations/ru-RU/content/get-started/quickstart/github-glossary.md
  translations/ru-RU/content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  translations/ru-RU/content/index.md
  translations/ru-RU/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/accessing-compliance-reports-for-your-organization.md
  translations/ru-RU/data/reusables/dependabot/dependabot-alerts-dependency-scope.md
  translations/zh-CN/content/actions/managing-workflow-runs/approving-workflow-runs-from-private-forks.md
  translations/zh-CN/content/actions/managing-workflow-runs/approving-workflow-runs-from-public-forks.md
  translations/zh-CN/content/admin/identity-and-access-management/managing-iam-for-your-enterprise/about-authentication-for-your-enterprise.md
  translations/zh-CN/content/admin/overview/best-practices-for-enterprises.md
  translations/zh-CN/content/billing/managing-billing-for-your-github-account/downgrading-your-github-subscription.md
  translations/zh-CN/content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  translations/zh-CN/content/codespaces/developing-in-codespaces/using-github-codespaces-with-github-cli.md
  translations/zh-CN/content/communities/maintaining-your-safety-on-github/blocking-a-user-from-your-organization.md
  translations/zh-CN/content/get-started/quickstart/github-glossary.md
  translations/zh-CN/content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-server.md
  translations/zh-CN/content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  translations/zh-CN/content/index.md
  translations/zh-CN/content/organizations/collaborating-with-groups-in-organizations/about-organizations.md
  translations/zh-CN/content/organizations/collaborating-with-groups-in-organizations/best-practices-for-organizations.md
  translations/zh-CN/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/accessing-compliance-reports-for-your-organization.md
  translations/zh-CN/content/repositories/creating-and-managing-repositories/about-repositories.md
  translations/zh-CN/content/repositories/creating-and-managing-repositories/best-practices-for-repositories.md
  translations/zh-CN/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-readmes.md
  translations/zh-CN/content/repositories/working-with-files/using-files/navigating-code-on-github.md
  translations/zh-CN/data/reusables/actions/private-repository-forks-configure.md
  translations/zh-CN/data/reusables/actions/private-repository-forks-options.md
  translations/zh-CN/data/reusables/dependabot/dependabot-alerts-dependency-scope.md
  translations/zh-CN/data/reusables/dependabot/supported-package-managers.md
  translations/zh-CN/data/reusables/enterprise/best-practices.md
  translations/zh-CN/data/reusables/organizations/org-ownership-recommendation.md
  translations/zh-CN/data/reusables/security-overview/about-the-security-overview.md
Labels: automated-reposync-pr

#22094 repo sync
  middleware/contextualizers/ghae-release-notes.js
  middleware/contextualizers/ghes-release-notes.js
  tests/rendering/release-notes.js
Labels: automated-reposync-pr

#22095 repo sync
  lib/enterprise-dates.json
Labels: automated-reposync-pr

#22099 repo sync
  lib/create-tree.js
  lib/page.js
  tests/unit/page.js
Labels: automated-reposync-pr

#21962 Add missing period in section 7.2. of the GitHub Sponsors Additional Terms
  content/site-policy/github-terms/github-sponsors-additional-terms.md
Labels: content, site policy, ready to merge, waiting for review

#22103 repo sync
  lib/get-data.js
  tests/unit/get-data.js
Labels: automated-reposync-pr

#22105 repo sync
  package-lock.json
  package.json
Labels: automated-reposync-pr

#21922 Update working-with-the-rubygems-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-rubygems-registry.md
Labels: content, packages, waiting for review

#22106 repo sync
  data/reusables/advanced-security/more-information-about-enforcement-policy.md
Labels: automated-reposync-pr

#22128 repo sync
  content/code-security/secret-scanning/protecting-pushes-with-secret-scanning.md
Labels: automated-reposync-pr

#22129 repo sync
  content/codespaces/the-githubdev-web-based-editor.md
  content/repositories/working-with-files/managing-files/navigating-files-with-the-new-code-view.md
  data/variables/codespaces.yml
  data/variables/product.yml
Labels: automated-reposync-pr

#22130 repo sync
  content/rest/overview/other-authentication-methods.md
Labels: automated-reposync-pr

#22133 repo sync
  data/reusables/dependabot/dependabot-alerts-dependency-scope.md
Labels: automated-reposync-pr

#22141 repo sync
  .github/workflows/translation-health-report.yml
  components/page-header/LanguagePicker.tsx
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  data/release-notes/enterprise-server/3-7/0.yml
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghec.json
  middleware/find-page.js
  tests/helpers/conditional-runs.js
  tests/rendering/breadcrumbs.js
  tests/rendering/early-access.js
  translations/es-ES/content/code-security/secret-scanning/protecting-pushes-with-secret-scanning.md
  translations/es-ES/content/codespaces/the-githubdev-web-based-editor.md
  translations/es-ES/content/packages/working-with-a-github-packages-registry/working-with-the-rubygems-registry.md
  translations/es-ES/content/rest/overview/other-authentication-methods.md
  translations/es-ES/data/reusables/dependabot/dependabot-alerts-dependency-scope.md
  translations/es-ES/data/reusables/secret-scanning/partner-secret-list-private-repo.md
  translations/es-ES/data/reusables/secret-scanning/secret-list-private-push-protection.md
  translations/es-ES/data/variables/product.yml
  translations/log/msft-es-resets.csv
Labels: automated-reposync-pr

#22142 repo sync
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/ja-JP/content/code-security/secret-scanning/protecting-pushes-with-secret-scanning.md
  translations/ja-JP/content/codespaces/the-githubdev-web-based-editor.md
  translations/ja-JP/content/packages/working-with-a-github-packages-registry/working-with-the-rubygems-registry.md
  translations/ja-JP/content/rest/overview/other-authentication-methods.md
  translations/ja-JP/data/reusables/dependabot/dependabot-alerts-dependency-scope.md
  translations/ja-JP/data/reusables/secret-scanning/partner-secret-list-private-repo.md
  translations/ja-JP/data/reusables/secret-scanning/secret-list-private-push-protection.md
  translations/ja-JP/data/variables/product.yml
  translations/log/msft-cn-resets.csv
  translations/log/msft-ja-resets.csv
  translations/log/msft-pt-resets.csv
  translations/log/msft-ru-resets.csv
  translations/pt-BR/content/code-security/secret-scanning/protecting-pushes-with-secret-scanning.md
  translations/pt-BR/content/codespaces/the-githubdev-web-based-editor.md
  translations/pt-BR/content/packages/working-with-a-github-packages-registry/working-with-the-rubygems-registry.md
  translations/pt-BR/content/rest/overview/other-authentication-methods.md
  translations/pt-BR/data/reusables/dependabot/dependabot-alerts-dependency-scope.md
  translations/pt-BR/data/reusables/secret-scanning/partner-secret-list-private-repo.md
  translations/pt-BR/data/reusables/secret-scanning/secret-list-private-push-protection.md
  translations/pt-BR/data/variables/product.yml
  translations/ru-RU/content/code-security/secret-scanning/protecting-pushes-with-secret-scanning.md
  translations/ru-RU/content/codespaces/the-githubdev-web-based-editor.md
  translations/ru-RU/content/packages/working-with-a-github-packages-registry/working-with-the-rubygems-registry.md
  translations/ru-RU/content/repositories/working-with-files/managing-files/navigating-files-with-the-new-code-view.md
  translations/ru-RU/content/rest/overview/other-authentication-methods.md
  translations/ru-RU/data/reusables/dependabot/dependabot-alerts-dependency-scope.md
  translations/ru-RU/data/reusables/secret-scanning/partner-secret-list-private-repo.md
  translations/ru-RU/data/reusables/secret-scanning/secret-list-private-push-protection.md
  translations/ru-RU/data/variables/product.yml
  translations/zh-CN/content/code-security/secret-scanning/protecting-pushes-with-secret-scanning.md
  translations/zh-CN/content/codespaces/the-githubdev-web-based-editor.md
  translations/zh-CN/content/packages/working-with-a-github-packages-registry/working-with-the-rubygems-registry.md
  translations/zh-CN/content/rest/overview/other-authentication-methods.md
  translations/zh-CN/data/reusables/dependabot/dependabot-alerts-dependency-scope.md
  translations/zh-CN/data/reusables/secret-scanning/partner-secret-list-private-repo.md
  translations/zh-CN/data/reusables/secret-scanning/secret-list-private-push-protection.md
  translations/zh-CN/data/variables/product.yml
Labels: automated-reposync-pr

#22149 repo sync
  content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
Labels: automated-reposync-pr

#22124 Remove unexpected spaces and HTML tag in code
  content/get-started/quickstart/fork-a-repo.md
  data/variables/command_line.yml
Labels: content, waiting for review, get started

#22060 fix typo: 'git filter-repo' -> 'git-filter-repo'
  content/get-started/using-git/splitting-a-subfolder-out-into-a-new-repository.md
Labels: content, triage, ready to merge, waiting for review, using git, get started

#22156 repo sync
  contributing/content-markup-reference.md
  lib/all-tools.js
Labels: automated-reposync-pr

#22168 repo sync
  translations/log/msft-cn-resets.csv
  translations/log/msft-pt-resets.csv
  translations/log/msft-ru-resets.csv
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  translations/pt-BR/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/pt-BR/content/get-started/quickstart/fork-a-repo.md
  translations/pt-BR/content/get-started/using-git/splitting-a-subfolder-out-into-a-new-repository.md
  translations/ru-RU/content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  translations/ru-RU/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/ru-RU/content/get-started/quickstart/fork-a-repo.md
  translations/ru-RU/content/get-started/using-git/splitting-a-subfolder-out-into-a-new-repository.md
  translations/zh-CN/content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  translations/zh-CN/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/zh-CN/content/get-started/quickstart/fork-a-repo.md
  translations/zh-CN/content/get-started/using-git/splitting-a-subfolder-out-into-a-new-repository.md
Labels: automated-reposync-pr

#22169 repo sync
  translations/fr-FR/content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  translations/fr-FR/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/fr-FR/content/get-started/quickstart/fork-a-repo.md
  translations/fr-FR/content/get-started/using-git/splitting-a-subfolder-out-into-a-new-repository.md
  translations/ko-KR/content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  translations/ko-KR/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/ko-KR/content/code-security/secret-scanning/protecting-pushes-with-secret-scanning.md
  translations/ko-KR/content/code-security/security-advisories/guidance-on-reporting-and-writing/privately-reporting-a-security-vulnerability.md
  translations/ko-KR/content/codespaces/the-githubdev-web-based-editor.md
  translations/ko-KR/content/get-started/quickstart/fork-a-repo.md
  translations/ko-KR/content/get-started/quickstart/github-glossary.md
  translations/ko-KR/content/get-started/using-git/splitting-a-subfolder-out-into-a-new-repository.md
  translations/ko-KR/content/packages/working-with-a-github-packages-registry/working-with-the-rubygems-registry.md
  translations/ko-KR/content/repositories/working-with-files/managing-files/navigating-files-with-the-new-code-view.md
  translations/ko-KR/content/rest/overview/other-authentication-methods.md
  translations/ko-KR/data/reusables/dependabot/dependabot-alerts-dependency-scope.md
  translations/ko-KR/data/variables/product.yml
  translations/log/msft-fr-resets.csv
  translations/log/msft-ko-resets.csv
Labels: automated-reposync-pr

#22182 repo sync
  translations/log/msft-ko-resets.csv
Labels: automated-reposync-pr

#22153 remove ">" in link output
  content/rest/guides/traversing-with-pagination.md
Labels: triage, ready to merge

#22193 repo sync
  content/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-a-jetbrains-ide.md
Labels: automated-reposync-pr

#22137 added whitespace control to table
  content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
Labels: content, waiting for review

#22108 Fix broken syntax in syntax-for-githubs-form-schema
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-githubs-form-schema.md
Labels: content, ready to merge, waiting for review, communities

#22202 repo sync
  content/developers/apps/guides/creating-ci-tests-with-the-checks-api.md
Labels: automated-reposync-pr

#21915 Suggest how to ignore .git-blame-ignore-revs
  content/repositories/working-with-files/using-files/viewing-a-file.md
Labels: content, waiting for review, repositories

#22084 Libraries.md - Clojure community client update
  content/rest/overview/libraries.md
Labels: content, ready to merge, waiting for review, rest

#22208 repo sync
  lib/liquid-tags/indented-data-reference.js
  translations/es-ES/content/actions/learn-github-actions/environment-variables.md
  translations/es-ES/content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
  translations/es-ES/content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
  translations/es-ES/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-githubs-form-schema.md
  translations/es-ES/content/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-a-jetbrains-ide.md
  translations/es-ES/content/developers/apps/guides/creating-ci-tests-with-the-checks-api.md
  translations/es-ES/content/rest/guides/traversing-with-pagination.md
  translations/es-ES/data/reusables/actions/ref_name-description.md
  translations/log/msft-es-resets.csv
Labels: automated-reposync-pr

#22213 repo sync
  translations/fr-FR/content/actions/learn-github-actions/environment-variables.md
  translations/fr-FR/content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
  translations/fr-FR/content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
  translations/fr-FR/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-githubs-form-schema.md
  translations/fr-FR/content/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-a-jetbrains-ide.md
  translations/fr-FR/content/developers/apps/guides/creating-ci-tests-with-the-checks-api.md
  translations/fr-FR/content/rest/guides/traversing-with-pagination.md
  translations/fr-FR/data/reusables/actions/ref_name-description.md
  translations/log/msft-fr-resets.csv
Labels: automated-reposync-pr

#22216 repo sync
  tests/helpers/schemas/learning-tracks-schema.js
Labels: automated-reposync-pr

#22217 repo sync
  content/billing/managing-your-license-for-github-enterprise/troubleshooting-license-usage-for-github-enterprise.md
Labels: automated-reposync-pr

#22218 repo sync
  .github/workflows/sync-search-elasticsearch.yml
Labels: automated-reposync-pr

#22219 repo sync
  assets/images/help/2fa/2fa-enrollment-additional-methods.png
  assets/images/help/2fa/2fa-recover-during-setup.png
  assets/images/help/2fa/2fa_sms_alt_option.png
  assets/images/help/2fa/2fa_wizard_app_click_code.png
  assets/images/help/2fa/2fa_wizard_app_enter_code.png
  assets/images/help/2fa/2fa_wizard_download_recovery_codes.png
  assets/images/help/2fa/2fa_wizard_sms_enter_code.png
  assets/images/help/2fa/2fa_wizard_sms_send.png
  assets/images/help/security/enable-github-ip-allow-list.png
  assets/images/help/security/enable-identity-provider-ip-allow-list.png
  assets/images/help/security/enable-ip-allow-list-ghec.png
  assets/images/help/security/ip-allow-list-config-for-github-apps-ghec.png
  assets/images/help/security/ip-allow-list-configuration-github.png
  assets/images/help/security/ip-allow-list-skip-idp-check.png
  assets/images/help/security/ip-allowlist-dropdown-ghec.png
  content/admin/configuration/configuring-your-enterprise/index.md
  content/admin/configuration/configuring-your-enterprise/restricting-network-traffic-to-your-enterprise-with-an-ip-allow-list.md
  content/admin/configuration/configuring-your-enterprise/restricting-network-traffic-to-your-enterprise.md
  content/admin/guides.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-support-for-your-idps-conditional-access-policy.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-oidc-for-enterprise-managed-users.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-saml-single-sign-on-for-enterprise-managed-users.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/migrating-from-saml-to-oidc.md
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/about-saml-for-enterprise-iam.md
  content/admin/index.md
  content/admin/overview/about-github-ae.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-security-settings-in-your-enterprise.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication.md
  content/get-started/onboarding/getting-started-with-github-ae.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-allowed-ip-addresses-for-your-organization.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
  data/features/ip-allow-list-address-check.yml
  data/learning-tracks/admin.yml
  data/reusables/actions/ip-allow-list-self-hosted-runners.md
  data/reusables/enterprise-accounts/azure-emu-support-oidc.md
  data/reusables/enterprise-accounts/emu-azure-admin-consent.md
  data/reusables/enterprise-accounts/oidc-beta-notice.md
  data/reusables/enterprise-accounts/settings-tab.md
  data/reusables/enterprise_installation/image-urls-viewable-warning.md
  data/reusables/enterprise_user_management/SAML-to-OIDC-migration-for-EMU.md
  data/reusables/identity-and-permissions/about-adding-ip-allow-list-entries.md
  data/reusables/identity-and-permissions/about-editing-ip-allow-list-entries.md
  data/reusables/identity-and-permissions/about-enabling-allowed-ip-addresses.md
  data/reusables/identity-and-permissions/check-ip-address-step.md
  data/reusables/identity-and-permissions/check-ip-address.md
  data/reusables/identity-and-permissions/ip-allow-lists-enable.md
  data/reusables/identity-and-permissions/ip-allow-lists-githubapps-enterprise.md
  data/reusables/two_fa/backup_options_during_2fa_enrollment.md
Labels: automated-reposync-pr

#22220 repo sync
  content/billing/managing-billing-for-github-packages/about-billing-for-github-packages.md
Labels: automated-reposync-pr

#22221 repo sync
  script/rest/update-files.js
  script/rest/utils/get-operations.js
Labels: automated-reposync-pr

#22223 repo sync
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
Labels: automated-reposync-pr

#22225 repo sync
  .github/actions-scripts/ready-for-docs-review.js
Labels: automated-reposync-pr

#22228 repo sync
  assets/images/help/issues/tasklist-formatting-toolbar.png
  assets/images/help/issues/tasklist-hero.png
  content/issues/planning-and-tracking-with-projects/learning-about-projects/about-projects.md
  content/issues/planning-and-tracking-with-projects/understanding-fields/about-tracks-and-tracked-by-fields.md
  content/issues/tracking-your-work-with-issues/about-tasklists.md
  data/reusables/projects/tasklists-release-stage.md
Labels: automated-reposync-pr

#22244 repo sync
  .devcontainer/devcontainer.json
Labels: automated-reposync-pr
