Repository github/docs, pull requests merged in 2022-09, with the labels that each got.

#20324 Fix misleading example of reusable workflows
  content/actions/using-workflows/reusing-workflows.md
Labels: triage

#20341 repo sync
  content/site-policy/privacy-policies/github-privacy-statement.md
Labels: triage, automated-reposync-pr

#20343 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/triaging-code-scanning-alerts-in-pull-requests.md
Labels: triage, automated-reposync-pr

#20346 repo sync
  assets/images/help/settings/cookie-settings-accept-or-reject.png
  assets/images/help/settings/cookie-settings-manage.png
  assets/images/help/settings/cookie-settings-save.png
  components/playground/content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-project-for-codespaces/dotnet.tsx
  components/playground/content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-project-for-codespaces/java.tsx
  components/playground/content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-project-for-codespaces/nodejs.tsx
  components/playground/content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-project-for-codespaces/python.tsx
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/index.md
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/managing-your-cookie-preferences-for-githubs-enterprise-marketing-pages.md
  content/codespaces/codespaces-reference/using-the-vs-code-command-palette-in-codespaces.md
  content/codespaces/getting-started/deep-dive.md
  content/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers.md
  content/codespaces/troubleshooting/github-codespaces-logs.md
  content/codespaces/troubleshooting/troubleshooting-your-connection-to-github-codespaces.md
  data/reusables/codespaces/rebuild-command.md
  data/reusables/codespaces/remote-explorer.md
  script/rendered-content-link-checker.js
Labels: triage, automated-reposync-pr

#20347 repo sync
  data/release-notes/enterprise-server/3-2/18.yml
  data/release-notes/enterprise-server/3-3/13.yml
  data/release-notes/enterprise-server/3-4/8.yml
  data/release-notes/enterprise-server/3-5/5.yml
  data/release-notes/enterprise-server/3-6/1.yml
  data/reusables/release-notes/ghas-3.4-secret-scanning-known-issue.md
Labels: triage, automated-reposync-pr

#20348 repo sync
  assets/images/help/codespaces/jupyter-notebook-step3.png
  assets/images/help/codespaces/jupyter-python-kernel-dropdown.png
  assets/images/help/codespaces/jupyter-python-kernel-link.png
  assets/images/help/codespaces/jupyter-run-all.png
  assets/images/help/codespaces/open-codespace-in-jupyter.png
  content/codespaces/developing-in-codespaces/getting-started-with-github-codespaces-for-machine-learning.md
  content/codespaces/developing-in-codespaces/index.md
  content/codespaces/getting-started/quickstart.md
  data/reusables/codespaces/open-codespace-from-template-repo.md
  tests/meta/repository-references.js
Labels: triage, automated-reposync-pr

#20349 repo sync
  content/admin/configuration/configuring-your-enterprise/site-admin-dashboard.md
Labels: triage, automated-reposync-pr

#20350 repo sync
  assets/images/hosted-runner-mgmt.png
  assets/images/hosted-runner.png
  content/actions/hosting-your-own-runners/adding-self-hosted-runners.md
  content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  content/actions/learn-github-actions/understanding-github-actions.md
  content/actions/using-github-hosted-runners/about-github-hosted-runners.md
  content/actions/using-github-hosted-runners/controlling-access-to-larger-runners.md
  content/actions/using-github-hosted-runners/index.md
  content/actions/using-github-hosted-runners/using-larger-runners.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-self-hosted-runners-for-your-enterprise.md
  content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
  data/features/actions-hosted-runners.yml
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  data/reusables/actions/about-runner-groups.md
  data/reusables/actions/actions-billing.md
  data/reusables/actions/add-hosted-runner-overview.md
  data/reusables/actions/add-hosted-runner.md
  data/reusables/actions/automatically-adding-a-runner-to-a-group.md
  data/reusables/actions/changing-the-access-policy-of-a-runner-group.md
  data/reusables/actions/changing-the-name-of-a-runner-group.md
  data/reusables/actions/configure-runner-group-access.md
  data/reusables/actions/configure-runner-group.md
  data/reusables/actions/create-runner-group.md
  data/reusables/actions/creating-a-runner-group-for-an-enterprise.md
  data/reusables/actions/creating-a-runner-group-for-an-organization.md
  data/reusables/actions/hosted-runner-security-admonition.md
  data/reusables/actions/hosted-runner-security.md
  data/reusables/actions/moving-a-runner-to-a-group.md
  data/reusables/actions/removing-a-runner-group.md
  data/reusables/actions/runner-group-enterprise-overview.md
  data/reusables/actions/runner-groups-add-to-enterprise-first-steps.md
  data/reusables/actions/runner-groups-navigate-to-repo-org-enterprise.md
  data/reusables/actions/self-hosted-runner-add-to-enterprise.md
  data/reusables/actions/self-hosted-runner-navigate-to-org-enterprise.md
  data/reusables/actions/self-hosted-runner-navigate-to-repo-org-enterprise.md
  data/reusables/actions/self-hosted-runner-security-admonition.md
  data/reusables/actions/self-hosted-runner-security.md
  data/reusables/billing/billing-hosted-runners.md
  data/reusables/billing/billing-standard-runners.md
  data/reusables/gated-features/hosted-runners.md
  data/variables/actions.yml
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
Labels: triage, automated-reposync-pr

#20177 Fix liquidjs link
  lib/render-content/README.md
Labels: engineering, ready to merge, waiting for review

#20368 repo sync
  content/actions/using-workflows/workflow-commands-for-github-actions.md
Labels: triage, automated-reposync-pr

#20333 update Github-developer program Md punctuation.
  content/developers/overview/github-developer-program.md
Labels: content, ready to merge, waiting for review, developers

#20370 repo sync
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/configuring-dependency-review-for-your-appliance.md
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/index.md
  content/admin/code-security/managing-supply-chain-security-for-your-enterprise/enabling-the-dependency-graph-for-your-enterprise.md
  content/admin/guides.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/automatically-merging-a-pull-request.md
  content/site-policy/github-terms/github-terms-for-additional-products-and-features.md
  data/features/dependency-review-action-ghes.yml
  data/learning-tracks/admin.yml
  data/reusables/dependency-review/dependency-review-action-beta-note.md
  data/reusables/dependency-review/dependency-review-action-overview.md
Labels: triage, automated-reposync-pr

#20372 repo sync
  .github/workflows/copy-api-issue-to-internal.yml
Labels: triage, automated-reposync-pr

#20373 repo sync
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  data/features/audit-log-sso-response-events.yml
Labels: triage, automated-reposync-pr

#20378 repo sync
  content/rest/users/ssh-signing-keys.md
Labels: triage, automated-reposync-pr

#20362 Add quotes to jobs context, fix json code block language
  content/actions/learn-github-actions/contexts.md
Labels: content, actions, waiting for review

#20416 repo sync
  assets/images/help/codespaces/codespaces-badge-on-readme.png
  assets/images/help/codespaces/configure-and-create-option.png
  content/codespaces/developing-in-codespaces/creating-a-codespace.md
  content/codespaces/developing-in-codespaces/deleting-a-codespace.md
  content/codespaces/getting-started/deep-dive.md
  content/codespaces/getting-started/quickstart.md
  content/codespaces/guides.md
  content/codespaces/setting-up-your-project-for-codespaces/adding-a-codespaces-badge.md
  content/codespaces/setting-up-your-project-for-codespaces/index.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-readmes.md
Labels: triage, automated-reposync-pr

#20417 repo sync
  content/code-security/dependabot/dependabot-alerts/browsing-security-advisories-in-the-github-advisory-database.md
Labels: triage, automated-reposync-pr

#20363 Say default queries are all in security-extended suite
  data/reusables/code-scanning/codeql-query-suites.md
Labels: content, waiting for review, codeql

#20423 repo sync
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  data/reusables/gpg/x-509-key.md
Labels: triage, automated-reposync-pr

#20433 repo sync
  data/reusables/gated-features/hosted-runners.md
Labels: triage, automated-reposync-pr

#20435 repo sync
  .github/workflows/test.yml
  middleware/api/es-search.js
  middleware/api/search.js
  package-lock.json
  package.json
  script/search/index-elasticsearch.js
Labels: triage, automated-reposync-pr

#20438 repo sync
  translations/zh-CN/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  translations/zh-CN/content/rest/users/ssh-signing-keys.md
  translations/zh-CN/data/features/audit-log-sso-response-events.yml
Labels: triage, automated-reposync-pr

#20439 repo sync
  components/context/PlaygroundContext.tsx
  components/lib/get-rest-code-samples.ts
  components/playground/CodeLanguagePicker.tsx
  components/rest/RestCodeSamples.tsx
  translations/pt-BR/content/actions/learn-github-actions/contexts.md
  translations/pt-BR/content/actions/learn-github-actions/understanding-github-actions.md
  translations/pt-BR/content/actions/using-github-hosted-runners/about-github-hosted-runners.md
  translations/pt-BR/content/actions/using-github-hosted-runners/using-larger-runners.md
  translations/pt-BR/content/actions/using-workflows/workflow-commands-for-github-actions.md
  translations/pt-BR/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/configuring-dependency-review-for-your-appliance.md
  translations/pt-BR/content/admin/enterprise-management/configuring-high-availability/initiating-a-failover-to-your-replica-appliance.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  translations/pt-BR/content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  translations/pt-BR/content/code-security/dependabot/dependabot-alerts/browsing-security-advisories-in-the-github-advisory-database.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/creating-a-codespace.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/deleting-a-codespace.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/getting-started-with-github-codespaces-for-machine-learning.md
  translations/pt-BR/content/codespaces/getting-started/deep-dive.md
  translations/pt-BR/content/codespaces/getting-started/quickstart.md
  translations/pt-BR/content/codespaces/guides.md
  translations/pt-BR/content/codespaces/setting-up-your-project-for-codespaces/adding-a-codespaces-badge.md
  translations/pt-BR/content/codespaces/setting-up-your-project-for-codespaces/index.md
  translations/pt-BR/content/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers.md
  translations/pt-BR/content/codespaces/troubleshooting/troubleshooting-your-connection-to-github-codespaces.md
  translations/pt-BR/content/developers/overview/github-developer-program.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/connect-a-learning-management-system-to-github-classroom.md
  translations/pt-BR/content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/automatically-merging-a-pull-request.md
  translations/pt-BR/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-readmes.md
  translations/pt-BR/content/rest/users/ssh-signing-keys.md
  translations/pt-BR/content/site-policy/github-terms/github-terms-for-additional-products-and-features.md
  translations/pt-BR/content/site-policy/privacy-policies/github-privacy-statement.md
  translations/pt-BR/data/release-notes/enterprise-server/3-3/13.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-4/8.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-5/0.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-5/5.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-6/0-rc1.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-6/0.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-6/1.yml
  translations/pt-BR/data/reusables/accounts/create-personal-access-tokens.md
  translations/pt-BR/data/reusables/actions/about-runner-groups.md
  translations/pt-BR/data/reusables/actions/actions-billing.md
  translations/pt-BR/data/reusables/actions/actions-use-sha-pinning-comment.md
  translations/pt-BR/data/reusables/actions/add-hosted-runner-overview.md
  translations/pt-BR/data/reusables/actions/add-hosted-runner.md
  translations/pt-BR/data/reusables/actions/automatically-adding-a-runner-to-a-group.md
  translations/pt-BR/data/reusables/actions/changing-the-access-policy-of-a-runner-group.md
  translations/pt-BR/data/reusables/actions/configure-runner-group.md
  translations/pt-BR/data/reusables/actions/contacting-support.md
  translations/pt-BR/data/reusables/actions/creating-a-runner-group-for-an-enterprise.md
  translations/pt-BR/data/reusables/actions/creating-a-runner-group-for-an-organization.md
  translations/pt-BR/data/reusables/actions/jobs/section-choosing-the-runner-for-a-job.md
  translations/pt-BR/data/reusables/actions/jobs/section-running-jobs-in-a-container.md
  translations/pt-BR/data/reusables/code-scanning/codeql-query-suites.md
  translations/pt-BR/data/reusables/gpg/x-509-key.md
Labels: triage, automated-reposync-pr

#20442 repo sync
  .github/actions-scripts/enterprise-server-issue-templates/release-issue.md
  .github/workflows/test.yml
  content/get-started/importing-your-projects-to-github/importing-source-code-to-github/adding-locally-hosted-code-to-github.md
  middleware/redirects/handle-redirects.js
  pages/search.tsx
  tests/helpers/conditional-runs.js
  tests/rendering/search.js
  tests/routing/redirects.js
Labels: triage, automated-reposync-pr

#20443 repo sync
  assets/images/help/issues/development-menu-apply.png
  assets/images/help/issues/development-menu-select-pr-or-branch.png
  assets/images/help/issues/development-menu-select-repository.png
  assets/images/help/issues/development-menu.png
  content/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue.md
  data/features/link-existing-branches-to-issue.yml
Labels: triage, automated-reposync-pr

#20447 repo sync
  middleware/api/search.js
Labels: triage, automated-reposync-pr

#20452 repo sync
  content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-custom-repository-roles-for-an-organization.md
  data/features/custom-repo-role-api.yml
Labels: triage, automated-reposync-pr

#20458 repo sync
  .github/dependabot.yml
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-vmware.md
  data/release-notes/enterprise-server/3-5/0.yml
  data/release-notes/enterprise-server/3-5/1.yml
  data/release-notes/enterprise-server/3-5/2.yml
  data/release-notes/enterprise-server/3-5/3.yml
  data/release-notes/enterprise-server/3-6/0.yml
Labels: triage, automated-reposync-pr

#20462 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
Labels: triage, automated-reposync-pr

#20464 repo sync
  content/site-policy/github-terms/github-sponsors-additional-terms.md
Labels: triage, automated-reposync-pr

#20326 Update gmail-buttons.png
  assets/images/help/notifications/gmail-buttons.png
Labels: content, ready to merge, waiting for review, notifications, account-and-profile

#20468 repo sync
  assets/images/help/notifications/gmail-buttons.png
  ownership.yaml
Labels: triage, automated-reposync-pr

#20444 Removed the two deprecated "Mastering Markdown" links
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/about-writing-and-formatting-on-github.md
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, ready to merge, waiting for review, get started

#20470 repo sync
  .github/actions-scripts/create-translation-batch-pr.js
  .github/actions-scripts/msft-create-translation-batch-pr.js
  .github/workflows/create-translation-batch-pr.yml
  .github/workflows/msft-create-translation-batch-pr.yml
  tests/translations/files.js
  tests/translations/frame.js
Labels: triage, automated-reposync-pr

#20472 repo sync
  .github/workflows/msft-create-translation-batch-pr.yml
Labels: triage, automated-reposync-pr

#20476 repo sync
  content/code-security/dependabot/dependabot-security-updates/about-dependabot-security-updates.md
  content/code-security/dependabot/working-with-dependabot/troubleshooting-dependabot-errors.md
  data/features/dependabot-security-updates-unlock-transitive-dependencies.yaml
Labels: triage, automated-reposync-pr

#20375 Fix YAML in larger runner job example
  content/actions/using-github-hosted-runners/using-larger-runners.md
Labels: content, actions

#20491 repo sync
  content/billing/managing-billing-for-github-codespaces/viewing-your-github-codespaces-usage.md
  content/codespaces/developing-in-codespaces/codespaces-lifecycle.md
  content/codespaces/developing-in-codespaces/creating-a-codespace.md
  content/codespaces/developing-in-codespaces/deleting-a-codespace.md
  content/codespaces/managing-codespaces-for-your-organization/index.md
  content/codespaces/managing-codespaces-for-your-organization/listing-the-codespaces-in-your-organization.md
  content/codespaces/managing-codespaces-for-your-organization/managing-billing-for-github-codespaces-in-your-organization.md
  data/reusables/codespaces/concurrent-codespace-limit.md
  data/reusables/codespaces/max-number-codespaces.md
  data/reusables/dotcom_billing/codespaces-minutes.md
Labels: triage, automated-reposync-pr

#20492 repo sync
  data/features/actions-token-updated-triggers.yml
  data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/graphql_upcoming_changes.public.yml
  data/graphql/ghec/schema.docs.graphql
  data/graphql/graphql_upcoming_changes.public.yml
  data/graphql/schema.docs.graphql
  data/reusables/actions/actions-do-not-trigger-workflows.md
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
  lib/graphql/static/upcoming-changes.json
Labels: triage, automated-reposync-pr

#20441 Remove unrendered em on gpg key
  data/reusables/gpg/copy-gpg-key-id.md
Labels: content, ready to merge, waiting for review, authentication

#20486 Add missing bracket in issue-event-types.md
  content/developers/webhooks-and-events/events/issue-event-types.md
Labels: content, ready to merge, waiting for review, webhooks, developers

#19657 Clarify OIDC process for AWS
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
  data/reusables/actions/oidc-permissions-token.md
  data/reusables/actions/runner-debug-description.md
Labels: content, actions, waiting for review, SME reviewed

#20506 repo sync
  content/codespaces/customizing-your-codespace/personalizing-github-codespaces-for-your-account.md
  content/organizations/managing-access-to-your-organizations-repositories/managing-team-access-to-an-organization-repository.md
Labels: triage, automated-reposync-pr

#20510 repo sync
  script/i18n/msft-tokens.js
Labels: triage, automated-reposync-pr

#20513 repo sync
  content/codespaces/developing-in-codespaces/codespaces-lifecycle.md
  content/codespaces/getting-started/deep-dive.md
  data/reusables/codespaces/max-number-codespaces.md
Labels: triage, automated-reposync-pr

#20519 repo sync
  lib/data-directory.js
Labels: triage, automated-reposync-pr

#20531 repo sync
  translations/es-ES/content/actions/automating-builds-and-tests/about-continuous-integration.md
  translations/es-ES/content/actions/using-workflows/workflow-syntax-for-github-actions.md
  translations/es-ES/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/configuring-code-scanning-for-your-appliance.md
  translations/es-ES/content/admin/configuration/configuring-github-connect/managing-github-connect.md
  translations/es-ES/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  translations/es-ES/content/admin/overview/about-upgrades-to-new-releases.md
  translations/es-ES/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-projects-in-your-enterprise.md
  translations/es-ES/content/authentication/authenticating-with-saml-single-sign-on/authorizing-an-ssh-key-for-use-with-saml-single-sign-on.md
  translations/es-ES/content/billing/managing-licenses-for-visual-studio-subscriptions-with-github-enterprise/about-visual-studio-subscriptions-with-github-enterprise.md
  translations/es-ES/content/code-security/adopting-github-advanced-security-at-scale/phase-2-preparing-to-enable-at-scale.md
  translations/es-ES/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-alerts.md
  translations/es-ES/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-with-codeql.md
  translations/es-ES/content/code-security/code-scanning/integrating-with-code-scanning/index.md
  translations/es-ES/content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  translations/es-ES/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/about-codeql-code-scanning-in-your-ci-system.md
  translations/es-ES/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-runner-in-your-ci-system.md
  translations/es-ES/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/installing-codeql-cli-in-your-ci-system.md
  translations/es-ES/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/running-codeql-runner-in-your-ci-system.md
  translations/es-ES/content/code-security/dependabot/dependabot-alerts/browsing-security-advisories-in-the-github-advisory-database.md
  translations/es-ES/content/codespaces/customizing-your-codespace/personalizing-github-codespaces-for-your-account.md
  translations/es-ES/content/codespaces/developing-in-codespaces/codespaces-lifecycle.md
  translations/es-ES/content/codespaces/developing-in-codespaces/creating-a-codespace.md
  translations/es-ES/content/codespaces/getting-started/deep-dive.md
  translations/es-ES/content/codespaces/getting-started/quickstart.md
  translations/es-ES/content/codespaces/managing-codespaces-for-your-organization/index.md
  translations/es-ES/content/codespaces/setting-up-your-project-for-codespaces/adding-a-codespaces-badge.md
  translations/es-ES/content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/about-using-makecode-arcade-with-github-classroom.md
  translations/es-ES/content/get-started/customizing-your-github-workflow/exploring-integrations/about-github-marketplace.md
  translations/es-ES/content/get-started/importing-your-projects-to-github/importing-source-code-to-github/adding-locally-hosted-code-to-github.md
  translations/es-ES/content/get-started/onboarding/getting-started-with-github-enterprise-cloud.md
  translations/es-ES/content/issues/planning-and-tracking-with-projects/managing-your-project/managing-visibility-of-your-projects.md
  translations/es-ES/content/organizations/managing-organization-settings/allowing-project-visibility-changes-in-your-organization.md
  translations/es-ES/content/organizations/managing-organization-settings/disabling-project-boards-in-your-organization.md
  translations/es-ES/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
  translations/es-ES/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-readmes.md
  translations/es-ES/content/rest/guides/getting-started-with-the-rest-api.md
  translations/es-ES/content/rest/users/ssh-signing-keys.md
  translations/es-ES/content/support/learning-about-github-support/about-github-support.md
  translations/es-ES/data/reusables/accounts/create-account.md
  translations/es-ES/data/reusables/actions/contacting-support.md
  translations/es-ES/data/reusables/code-scanning/codeql-context-for-actions-and-third-party-tools.md
  translations/es-ES/data/reusables/code-scanning/codeql-query-suites.md
  translations/es-ES/data/reusables/code-scanning/edit-workflow.md
  translations/es-ES/data/reusables/codespaces/max-number-codespaces.md
  translations/es-ES/data/reusables/gated-features/hosted-runners.md
  translations/es-ES/data/reusables/getting-started/marketplace.md
  translations/es-ES/data/reusables/gpg/x-509-key.md
  translations/es-ES/data/reusables/project-management/project-board-visibility.md
  translations/log/msft-es-resets.csv
Labels: triage, automated-reposync-pr

#20553 repo sync
  assets/images/help/codespaces/restart-codespace-webui.png
  assets/images/help/codespaces/stop-codespace-webui.png
  content/codespaces/codespaces-reference/using-github-copilot-in-github-codespaces.md
  content/codespaces/developing-in-codespaces/codespaces-lifecycle.md
  content/codespaces/developing-in-codespaces/index.md
  content/codespaces/developing-in-codespaces/stopping-and-starting-a-codespace.md
  content/codespaces/guides.md
  data/reusables/codespaces/navigate-to-codespaces-page.md
  data/reusables/codespaces/stopping-a-codespace.md
  data/reusables/vs-code/open-command-palette.md
Labels: triage, automated-reposync-pr

#20554 repo sync
  .prettierignore
  .vscode/settings.json
  middleware/find-page.js
  tests/translations/files.js
  tests/translations/frame.js
  tests/translations/redirects.js
  tests/translations/search.js
Labels: triage, automated-reposync-pr

#20555 repo sync
  content/rest/repos/lfs.md
  content/support/learning-about-github-support/about-github-support.md
  data/reusables/enterprise_enterprise_support/installing-releases.md
Labels: triage, automated-reposync-pr

#20455 Clarify which dependencies are updated by default
  data/reusables/dependabot/default-dependencies-allow-ignore.md
Labels: content, ready to merge, dependabot

#20556 repo sync
  content/codespaces/troubleshooting/working-with-support-for-github-codespaces.md
  content/rest/overview/libraries.md
  content/rest/overview/permissions-required-for-github-apps.md
Labels: triage, automated-reposync-pr

#20559 repo sync
  translations/es-ES/content/codespaces/codespaces-reference/using-github-copilot-in-github-codespaces.md
  translations/es-ES/content/codespaces/developing-in-codespaces/codespaces-lifecycle.md
  translations/es-ES/content/codespaces/developing-in-codespaces/index.md
  translations/es-ES/content/codespaces/guides.md
  translations/es-ES/content/rest/repos/lfs.md
  translations/es-ES/content/support/learning-about-github-support/about-github-support.md
  translations/es-ES/data/reusables/dependabot/default-dependencies-allow-ignore.md
  translations/es-ES/data/reusables/enterprise_enterprise_support/installing-releases.md
  translations/ja-JP/content/codespaces/codespaces-reference/using-github-copilot-in-github-codespaces.md
  translations/ja-JP/content/codespaces/developing-in-codespaces/codespaces-lifecycle.md
  translations/ja-JP/content/codespaces/developing-in-codespaces/index.md
  translations/ja-JP/content/codespaces/guides.md
  translations/ja-JP/content/rest/repos/lfs.md
  translations/ja-JP/content/support/learning-about-github-support/about-github-support.md
  translations/ja-JP/data/reusables/dependabot/default-dependencies-allow-ignore.md
  translations/ja-JP/data/reusables/enterprise_enterprise_support/installing-releases.md
  translations/log/msft-es-resets.csv
  translations/log/msft-ja-resets.csv
Labels: triage, automated-reposync-pr

#20560 repo sync
  .github/CODEOWNERS
  .github/actions-scripts/create-translation-batch-pr.js
  .github/workflows/create-translation-batch-pr.yml
  .github/workflows/crowdin-cleanup.yml
  .github/workflows/transfer-to-localization-repo.yml
  crowdin.yml
  data/README.md
  data/glossaries/README.md
  data/glossaries/internal.yml
  lib/get-english-headings.js
  lib/liquid-tags/tokens.js
  lib/page-data.js
  script/README.md
  script/backfill-missing-localizations.js
  script/content-migrations/README.md
  script/i18n/lint-translation-files.js
  script/i18n/liquid-diff.js
  script/i18n/report-reset-files.js
  script/i18n/reset-files-with-broken-liquid-tags.js
  script/i18n/reset-known-broken-translation-files.js
  script/i18n/reset-translated-file.js
  script/i18n/test-render-translation.js
  script/i18n/update-crowdin-issue.js
  script/prevent-translation-commits.js
  tests/content/glossary.js
  tests/translations/files.js
  tests/unit/liquid-tags/tokens-test.js
Labels: triage, automated-reposync-pr

#20563 repo sync
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/about-pull-request-merges.md
Labels: triage, automated-reposync-pr

#20569 repo sync
  content/actions/hosting-your-own-runners/monitoring-and-troubleshooting-self-hosted-runners.md
Labels: triage, automated-reposync-pr

#20571 repo sync
  content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
Labels: triage, automated-reposync-pr

#20577 repo sync
  content/code-security/dependabot/dependabot-security-updates/configuring-dependabot-security-updates.md
Labels: triage, automated-reposync-pr

#20582 repo sync
  assets/images/help/codespaces/open-codespace-from-vscode.png
  assets/images/help/codespaces/open-codespace-in-another-editor.png
  assets/images/help/codespaces/open-codespace-remote-explorer.png
  content/codespaces/customizing-your-codespace/setting-your-default-editor-for-github-codespaces.md
  content/codespaces/developing-in-codespaces/creating-a-codespace.md
  content/codespaces/developing-in-codespaces/deleting-a-codespace.md
  content/codespaces/developing-in-codespaces/developing-in-a-codespace.md
  content/codespaces/developing-in-codespaces/index.md
  content/codespaces/developing-in-codespaces/opening-an-existing-codespace.md
  content/codespaces/developing-in-codespaces/using-github-codespaces-in-visual-studio-code.md
  content/codespaces/guides.md
  content/codespaces/index.md
  content/codespaces/troubleshooting/exporting-changes-to-a-branch.md
  data/reusables/codespaces/about-changing-default-editor.md
  data/reusables/codespaces/links-to-get-started.md
  data/reusables/codespaces/using-codespaces-in-vscode.md
  data/reusables/codespaces/your-codespaces-procedure-step.md
Labels: triage, automated-reposync-pr

#20533 Update usage-api-requests.md
  data/reusables/actions/usage-api-requests.md
Labels: content, actions, ready to merge, waiting for review

#20501 Update Copilot docs - GitHub Copilot is now free for all teachers verified on GitHub Global Campus.
  content/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot.md
  content/copilot/overview-of-github-copilot/about-github-copilot.md
  data/reusables/copilot/copilot-prerequisites.md
  data/reusables/gated-features/copilot.md
Labels: content, ready to merge, waiting for review, copilot

#20583 repo sync
  contributing/development.md
  middleware/find-page.js
  middleware/index.js
  nodemon.json
  tests/unit/find-page-middleware.js
Labels: triage, automated-reposync-pr

#20591 repo sync
  content/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers.md
Labels: triage, automated-reposync-pr

#20593 repo sync
  content/get-started/using-github/github-mobile.md
  data/release-notes/enterprise-server/3-4/0.yml
  data/release-notes/enterprise-server/3-5/0.yml
  data/release-notes/enterprise-server/3-6/0.yml
  translations/log/msft-cn-resets.csv
  translations/log/msft-pt-resets.csv
  translations/pt-BR/content/codespaces/codespaces-reference/using-github-copilot-in-github-codespaces.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/codespaces-lifecycle.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/index.md
  translations/pt-BR/content/codespaces/guides.md
  translations/pt-BR/content/codespaces/troubleshooting/working-with-support-for-github-codespaces.md
  translations/pt-BR/content/rest/repos/lfs.md
  translations/pt-BR/content/support/learning-about-github-support/about-github-support.md
  translations/pt-BR/data/reusables/dependabot/default-dependencies-allow-ignore.md
  translations/pt-BR/data/reusables/enterprise_enterprise_support/installing-releases.md
  translations/zh-CN/content/codespaces/codespaces-reference/using-github-copilot-in-github-codespaces.md
  translations/zh-CN/content/codespaces/developing-in-codespaces/codespaces-lifecycle.md
  translations/zh-CN/content/codespaces/developing-in-codespaces/index.md
  translations/zh-CN/content/codespaces/guides.md
  translations/zh-CN/content/codespaces/troubleshooting/working-with-support-for-github-codespaces.md
  translations/zh-CN/content/rest/repos/lfs.md
  translations/zh-CN/content/support/learning-about-github-support/about-github-support.md
  translations/zh-CN/data/reusables/dependabot/default-dependencies-allow-ignore.md
  translations/zh-CN/data/reusables/enterprise_enterprise_support/installing-releases.md
Labels: triage, automated-reposync-pr

#20594 repo sync
  components/article/ArticlePage.tsx
  data/ui.yml
  stylesheets/extended-markdown.scss
Labels: triage, automated-reposync-pr

#20597 repo sync
  assets/images/help/repository/add-reference-prefix-field-alphanumeric.png
  assets/images/help/repository/add-target-url-field-alphanumeric.png
  assets/images/help/repository/autolink-format-setting.png
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/configuring-autolinks-to-reference-external-resources.md
  data/reusables/actions/settings-sidebar-actions-runner-selection.md
Labels: triage, automated-reposync-pr

#20598 repo sync
  middleware/api/es-search.js
  script/search/analyze-text.js
  script/search/index-elasticsearch.js
Labels: triage, automated-reposync-pr

#19552 Edit authenticate-packages.md
  data/reusables/package_registry/authenticate-packages.md
Labels: content, packages, waiting for review, authentication

#20466 Update self-hosted runners to support macOS ARM64
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
Labels: content, actions, waiting for review, needs SME

#20606 repo sync
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  content/actions/hosting-your-own-runners/autoscaling-with-self-hosted-runners.md
  content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  content/actions/security-guides/automatic-token-authentication.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/about-the-audit-log-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/using-the-audit-log-api-for-your-enterprise.md
  content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  content/issues/tracking-your-work-with-issues/filtering-and-searching-issues-and-pull-requests.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-readmes.md
  content/repositories/releasing-projects-on-github/managing-releases-in-a-repository.md
  content/repositories/working-with-files/using-files/working-with-non-code-files.md
  content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  data/reusables/actions/actions-audit-events-workflow.md
  data/reusables/actions/usage-workflow-run-time.md
  data/reusables/audit_log/audit-log-events-workflows.md
  data/reusables/notifications-v2/custom-notification-types.md
  data/reusables/pull_requests/resolving-conversations.md
Labels: triage, automated-reposync-pr

#20607 repo sync
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-organizations-profile.md
  content/actions/deployment/about-deployments/about-continuous-deployment.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-amazon-elastic-container-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-docker-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-java-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-net-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-nodejs-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-php-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-python-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-to-azure-kubernetes-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-to-azure-static-web-app.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-google-kubernetes-engine.md
  content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-azure.md
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-cloud-providers.md
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-google-cloud-platform.md
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-hashicorp-vault.md
  content/actions/deployment/security-hardening-your-deployments/index.md
  content/actions/security-guides/encrypted-secrets.md
  content/actions/security-guides/security-hardening-for-github-actions.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/about-github-actions-for-enterprises.md
  content/billing/managing-billing-for-github-advanced-security/viewing-your-github-advanced-security-usage.md
  content/get-started/writing-on-github/working-with-advanced-formatting/attaching-files.md
  content/organizations/collaborating-with-groups-in-organizations/customizing-your-organizations-profile.md
  data/features/container-hooks.yml
  data/features/oidc-for-emu.yml
  data/features/projects-v2.yml
Labels: triage, automated-reposync-pr

#20608 repo sync
  content/actions/using-github-hosted-runners/using-larger-runners.md
  content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
Labels: triage, automated-reposync-pr

#20609 repo sync
  content/authentication/keeping-your-account-and-data-secure/removing-sensitive-data-from-a-repository.md
Labels: triage, automated-reposync-pr

#20612 repo sync
  contributing/types-of-contributions.md
  data/release-notes/enterprise-server/3-6/0.yml
  translations/README.md
Labels: triage, automated-reposync-pr

#20396 JSON code sample fix
  content/codespaces/developing-in-codespaces/getting-started-with-github-codespaces-for-machine-learning.md
Labels: content, ready to merge, waiting for review, Codespaces

#20615 repo sync
  .github/workflows/azure-preview-env-deploy.yml
  .github/workflows/azure-prod-build-deploy.yml
  .github/workflows/azure-staging-build-deploy.yml
  .github/workflows/main-preview-docker-cache.yml
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
Labels: triage, automated-reposync-pr

#20616 repo sync
  components/ClientSideRefresh.tsx
  components/article/ArticlePage.tsx
Labels: triage, automated-reposync-pr

#20618 repo sync
  translations/log/cn-resets.csv
  translations/log/es-resets.csv
  translations/log/ja-resets.csv
  translations/log/pt-resets.csv
Labels: triage, automated-reposync-pr

#20623 repo sync
  lib/liquid-tags/octicon.js
Labels: triage, automated-reposync-pr

#20624 repo sync
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue.md
Labels: triage, automated-reposync-pr

#20632 repo sync
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/changing-the-default-branch.md
Labels: triage, automated-reposync-pr

#20633 repo sync
  content/codespaces/customizing-your-codespace/configuring-automatic-deletion-of-your-codespaces.md
  content/codespaces/developing-in-codespaces/codespaces-lifecycle.md
  content/codespaces/developing-in-codespaces/deleting-a-codespace.md
Labels: triage, automated-reposync-pr

#20637 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-with-codeql.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  data/features/codeql-packs.yml
  data/variables/product.yml
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/ja-JP/content/codespaces/developing-in-codespaces/codespaces-lifecycle.md
  translations/ja-JP/content/codespaces/developing-in-codespaces/deleting-a-codespace.md
  translations/ja-JP/content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/changing-the-default-branch.md
  translations/ja-JP/content/rest/teams/external-groups.md
  translations/log/msft-ja-resets.csv
  translations/log/msft-pt-resets.csv
  translations/pt-BR/content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
  translations/pt-BR/content/actions/using-workflows/reusing-workflows.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/pt-BR/content/codespaces/customizing-your-codespace/personalizing-github-codespaces-for-your-account.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/codespaces-lifecycle.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/deleting-a-codespace.md
  translations/pt-BR/content/codespaces/getting-started/deep-dive.md
  translations/pt-BR/content/codespaces/managing-codespaces-for-your-organization/managing-billing-for-github-codespaces-in-your-organization.md
  translations/pt-BR/content/organizations/managing-access-to-your-organizations-repositories/managing-team-access-to-an-organization-repository.md
  translations/pt-BR/content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/changing-the-default-branch.md
  translations/pt-BR/content/rest/teams/external-groups.md
  translations/pt-BR/data/reusables/actions/oidc-permissions-token.md
  translations/pt-BR/data/reusables/codespaces/max-number-codespaces.md
Labels: triage, automated-reposync-pr

#20638 repo sync
  data/features/restrict-pushes-create-branch.yml
  data/release-notes/enterprise-server/3-6/0.yml
  middleware/find-page.js
Labels: triage, automated-reposync-pr

#20640 repo sync
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/merging-a-pull-request.md
  data/features/squash-merge-email.yml
  translations/log/msft-cn-resets.csv
  translations/zh-CN/content/actions/using-workflows/reusing-workflows.md
  translations/zh-CN/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/zh-CN/content/codespaces/developing-in-codespaces/codespaces-lifecycle.md
  translations/zh-CN/content/codespaces/developing-in-codespaces/deleting-a-codespace.md
  translations/zh-CN/content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/changing-the-default-branch.md
  translations/zh-CN/content/rest/teams/external-groups.md
Labels: triage, automated-reposync-pr

#20641 repo sync
  translations/es-ES/content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/deleting-your-personal-account.md
  translations/es-ES/content/actions/creating-actions/publishing-actions-in-github-marketplace.md
  translations/es-ES/content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
  translations/es-ES/content/actions/learn-github-actions/contexts.md
  translations/es-ES/content/actions/using-github-hosted-runners/controlling-access-to-larger-runners.md
  translations/es-ES/content/actions/using-workflows/reusing-workflows.md
  translations/es-ES/content/admin/configuration/configuring-your-enterprise/configuring-email-for-notifications.md
  translations/es-ES/content/admin/identity-and-access-management/using-saml-for-enterprise-iam/saml-configuration-reference.md
  translations/es-ES/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  translations/es-ES/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/es-ES/content/codespaces/customizing-your-codespace/personalizing-github-codespaces-for-your-account.md
  translations/es-ES/content/codespaces/developing-in-codespaces/codespaces-lifecycle.md
  translations/es-ES/content/codespaces/developing-in-codespaces/deleting-a-codespace.md
  translations/es-ES/content/codespaces/getting-started/deep-dive.md
  translations/es-ES/content/codespaces/managing-codespaces-for-your-organization/managing-billing-for-github-codespaces-in-your-organization.md
  translations/es-ES/content/organizations/managing-access-to-your-organizations-repositories/managing-team-access-to-an-organization-repository.md
  translations/es-ES/content/packages/learn-github-packages/deleting-and-restoring-a-package.md
  translations/es-ES/content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/changing-the-default-branch.md
  translations/es-ES/content/rest/guides/getting-started-with-the-rest-api.md
  translations/es-ES/content/rest/quickstart.md
  translations/es-ES/content/rest/teams/external-groups.md
  translations/es-ES/data/reusables/actions/oidc-permissions-token.md
  translations/es-ES/data/reusables/codespaces/max-number-codespaces.md
  translations/es-ES/data/reusables/codespaces/open-codespace-from-template-repo.md
  translations/es-ES/data/reusables/package_registry/no-graphql-to-delete-packages.md
  translations/log/msft-es-resets.csv
Labels: triage, automated-reposync-pr

#20644 repo sync
  content/actions/using-github-hosted-runners/using-larger-runners.md
Labels: triage, automated-reposync-pr

#20649 repo sync
  assets/images/help/security/security-advisories-suggest-improvement-reason.png
  content/code-security/dependabot/dependabot-alerts/editing-security-advisories-in-the-github-advisory-database.md
  data/features/security-advisories-reason-for-change.yml
Labels: triage, automated-reposync-pr

#20652 repo sync
  content/issues/planning-and-tracking-with-projects/viewing-insights-from-your-project/index.md
Labels: triage, automated-reposync-pr

#20653 repo sync
  content/index.md
Labels: triage, automated-reposync-pr

#20659 repo sync
  content/codespaces/developing-in-codespaces/getting-started-with-github-codespaces-for-machine-learning.md
  content/codespaces/setting-up-your-project-for-codespaces/adding-a-codespaces-badge.md
Labels: triage, automated-reposync-pr

#20660 repo sync
  content/admin/configuration/configuring-your-enterprise/accessing-the-administrative-shell-ssh.md
Labels: triage, automated-reposync-pr

#20661 repo sync
  content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
Labels: triage, automated-reposync-pr

#20663 repo sync
  translations/es-ES/content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
  translations/es-ES/content/actions/using-github-hosted-runners/using-larger-runners.md
  translations/es-ES/content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  translations/es-ES/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-with-codeql.md
  translations/es-ES/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  translations/es-ES/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  translations/es-ES/content/code-security/dependabot/dependabot-alerts/editing-security-advisories-in-the-github-advisory-database.md
  translations/es-ES/content/index.md
  translations/es-ES/content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/merging-a-pull-request.md
  translations/es-ES/content/site-policy/github-terms/github-community-code-of-conduct.md
  translations/es-ES/content/site-policy/github-terms/github-corporate-terms-of-service.md
  translations/es-ES/content/site-policy/github-terms/github-terms-for-additional-products-and-features.md
  translations/es-ES/content/site-policy/other-site-policies/github-and-trade-controls.md
  translations/es-ES/content/site-policy/other-site-policies/guidelines-for-legal-requests-of-user-data.md
  translations/es-ES/content/site-policy/privacy-policies/github-privacy-statement.md
  translations/es-ES/content/site-policy/privacy-policies/github-subprocessors-and-cookies.md
  translations/log/msft-es-resets.csv
Labels: triage, automated-reposync-pr

#20664 repo sync
  contributing/content-markup-reference.md
  package-lock.json
  package.json
  translations/ja-JP/content/actions/using-github-hosted-runners/using-larger-runners.md
  translations/ja-JP/content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-with-codeql.md
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  translations/ja-JP/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  translations/ja-JP/content/code-security/dependabot/dependabot-alerts/editing-security-advisories-in-the-github-advisory-database.md
  translations/ja-JP/content/index.md
  translations/ja-JP/content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/merging-a-pull-request.md
  translations/ja-JP/content/site-policy/github-terms/github-community-code-of-conduct.md
  translations/ja-JP/content/site-policy/github-terms/github-corporate-terms-of-service.md
  translations/ja-JP/content/site-policy/github-terms/github-terms-for-additional-products-and-features.md
  translations/ja-JP/content/site-policy/other-site-policies/github-and-trade-controls.md
  translations/ja-JP/content/site-policy/other-site-policies/guidelines-for-legal-requests-of-user-data.md
  translations/ja-JP/content/site-policy/privacy-policies/github-privacy-statement.md
  translations/ja-JP/content/site-policy/privacy-policies/github-subprocessors-and-cookies.md
  translations/log/msft-ja-resets.csv
Labels: triage, automated-reposync-pr

#20639 Change he or she to they to make it more inclusive
  content/organizations/managing-organization-settings/transferring-organization-ownership.md
Labels: content, ready to merge, organizations

#20665 repo sync
  translations/log/msft-pt-resets.csv
  translations/pt-BR/content/actions/using-github-hosted-runners/using-larger-runners.md
  translations/pt-BR/content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  translations/pt-BR/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-with-codeql.md
  translations/pt-BR/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  translations/pt-BR/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  translations/pt-BR/content/code-security/dependabot/dependabot-alerts/editing-security-advisories-in-the-github-advisory-database.md
  translations/pt-BR/content/index.md
  translations/pt-BR/content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/merging-a-pull-request.md
  translations/pt-BR/content/site-policy/github-terms/github-community-code-of-conduct.md
  translations/pt-BR/content/site-policy/github-terms/github-corporate-terms-of-service.md
  translations/pt-BR/content/site-policy/github-terms/github-terms-for-additional-products-and-features.md
  translations/pt-BR/content/site-policy/other-site-policies/github-and-trade-controls.md
  translations/pt-BR/content/site-policy/other-site-policies/guidelines-for-legal-requests-of-user-data.md
  translations/pt-BR/content/site-policy/privacy-policies/github-privacy-statement.md
  translations/pt-BR/content/site-policy/privacy-policies/github-subprocessors-and-cookies.md
Labels: triage, automated-reposync-pr

#20666 repo sync
  .github/workflows/azure-preview-env-deploy.yml
  translations/log/msft-cn-resets.csv
  translations/zh-CN/content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
  translations/zh-CN/content/actions/using-github-hosted-runners/using-larger-runners.md
  translations/zh-CN/content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  translations/zh-CN/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-with-codeql.md
  translations/zh-CN/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  translations/zh-CN/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  translations/zh-CN/content/code-security/dependabot/dependabot-alerts/editing-security-advisories-in-the-github-advisory-database.md
  translations/zh-CN/content/index.md
  translations/zh-CN/content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/merging-a-pull-request.md
  translations/zh-CN/content/site-policy/github-terms/github-community-code-of-conduct.md
  translations/zh-CN/content/site-policy/github-terms/github-corporate-terms-of-service.md
  translations/zh-CN/content/site-policy/github-terms/github-terms-for-additional-products-and-features.md
  translations/zh-CN/content/site-policy/other-site-policies/github-and-trade-controls.md
  translations/zh-CN/content/site-policy/other-site-policies/guidelines-for-legal-requests-of-user-data.md
  translations/zh-CN/content/site-policy/privacy-policies/github-privacy-statement.md
  translations/zh-CN/content/site-policy/privacy-policies/github-subprocessors-and-cookies.md
Labels: triage, automated-reposync-pr

#20667 repo sync
  .github/workflows/repo-sync.yml
  .github/workflows/sync-search-elasticsearch.yml
  .github/workflows/triage-unallowed-internal-changes.yml
Labels: triage, automated-reposync-pr

#20706 repo sync
  content/actions/using-workflows/reusing-workflows.md
Labels: triage, automated-reposync-pr

#20709 repo sync
  .github/workflows/sync-search-elasticsearch.yml
  .github/workflows/sync-search-pr.yml
  .github/workflows/test.yml
  lib/hydro.js
  script/search/sync-search-indices.js
Labels: triage, automated-reposync-pr

#20690 Fix type of `strategy` context's properties
  content/actions/learn-github-actions/contexts.md
Labels: content, actions, waiting for review

#20684 Explicitly call out that Dependabot only updates direct dependencies by default
  content/code-security/dependabot/dependabot-version-updates/configuring-dependabot-version-updates.md
Labels: content, waiting for review, dependabot, code security

#20617 Fixing Azure DevOps NuGet Dependabot config examples
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
Labels: content, waiting for review, dependabot, code security

#19186 Add the other specification of Git rev to Comparing commits
  content/pull-requests/committing-changes-to-your-project/viewing-and-comparing-commits/comparing-commits.md
Labels: content, waiting for review, SME reviewed, pull requests

#20726 Update about-workflows.md: fix intro section
  content/actions/using-workflows/about-workflows.md
Labels: content, actions, ready to merge, waiting for review

#20733 repo sync
  .github/workflows/link-check-all.yml
  .github/workflows/test.yml
  components/parameter-table/ChildBodyParametersRows.module.scss
  components/parameter-table/ChildBodyParametersRows.tsx
  components/parameter-table/ParameterRow.tsx
  components/parameter-table/ParameterTable.module.scss
  components/parameter-table/ParameterTable.tsx
  components/parameter-table/types.ts
  components/rest/ParameterRow.tsx
  components/rest/RestOperation.tsx
  data/ui.yml
Labels: automated-reposync-pr

#20735 repo sync
  .github/workflows/azure-preview-env-deploy.yml
Labels: automated-reposync-pr

#20736 repo sync
  .github/actions-scripts/update-merge-queue-branch.js
  .github/workflows/autoupdate-branch.yml
Labels: automated-reposync-pr

#20742 repo sync
  content/actions/publishing-packages/publishing-docker-images.md
  content/packages/working-with-a-github-packages-registry/working-with-the-container-registry.md
  data/reusables/package_registry/about-docker-labels.md
Labels: automated-reposync-pr

#20747 repo sync
  script/sample-unix-commands.md
Labels: automated-reposync-pr

#20748 repo sync
  contributing/deployments.md
Labels: automated-reposync-pr

#20749 repo sync
  script/i18n/msft-tokens.js
Labels: automated-reposync-pr

#20751 repo sync
  assets/images/help/sponsors/fiscal-host-project-profile-field.png
  assets/images/help/sponsors/get-sponsored.png
  assets/images/help/sponsors/org-waitlist-payout-options.png
  assets/images/help/sponsors/payout-receipts.png
  assets/images/help/sponsors/user-waitlist-payout-options.png
  assets/images/help/sponsors/view-eligible-accounts.png
  content/sponsors/receiving-sponsorships-through-github-sponsors/index.md
  content/sponsors/receiving-sponsorships-through-github-sponsors/managing-your-payouts-from-github-sponsors.md
  content/sponsors/receiving-sponsorships-through-github-sponsors/setting-up-github-sponsors-for-your-organization.md
  content/sponsors/receiving-sponsorships-through-github-sponsors/setting-up-github-sponsors-for-your-personal-account.md
  content/sponsors/receiving-sponsorships-through-github-sponsors/using-a-fiscal-host-to-receive-github-sponsors-payouts.md
  data/reusables/sponsors/bank-info-fiscal-host-reminder.md
  data/reusables/sponsors/edit-bank-information.md
  data/reusables/sponsors/payout-choice.md
  data/reusables/sponsors/view-eligible-accounts.md
Labels: automated-reposync-pr

#20756 repo sync
  middleware/api/search.js
  script/search/index-elasticsearch.js
Labels: triage, automated-reposync-pr

#20721 Update About remote repositories page with correct link
  content/get-started/getting-started-with-git/about-remote-repositories.md
Labels: content, waiting for review, ssh, authentication, get started

#20764 repo sync
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise.md
Labels: automated-reposync-pr

#20765 repo sync
  content/developers/index.md
  content/developers/overview/about-githubs-apis.md
  content/graphql/guides/migrating-from-rest-to-graphql.md
  content/graphql/overview/about-the-graphql-api.md
  content/rest/guides/getting-started-with-the-rest-api.md
Labels: automated-reposync-pr

#19097 add section for creating projects using api
  content/issues/planning-and-tracking-with-projects/automating-your-project/using-the-api-to-manage-projects.md
Labels: content, ready to merge, waiting for review, issues

#20773 repo sync
  data/reusables/actions/workflow-template-overview.md
Labels: automated-reposync-pr

#20778 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
Labels: automated-reposync-pr

#20779 repo sync
  lib/redirects/precompile.js
  middleware/api/search.js
Labels: automated-reposync-pr

#20780 repo sync
  content/admin/configuration/configuring-your-enterprise/configuring-email-for-notifications.md
  contributing/content-markup-reference.md
  data/release-notes/enterprise-server/3-2/19.yml
  data/release-notes/enterprise-server/3-3/14.yml
  data/release-notes/enterprise-server/3-4/9.yml
  data/release-notes/enterprise-server/3-5/6.yml
  data/release-notes/enterprise-server/3-6/0.yml
  data/release-notes/enterprise-server/3-6/2.yml
Labels: automated-reposync-pr

#20745 :memo: Fix github.event object attribute repository
  content/developers/webhooks-and-events/events/github-event-types.md
Labels: content, ready to merge, waiting for review, webhooks, developers

#20509 consistent with next (reusables/gpg/paste-gpg-key-id)
  data/reusables/gpg/copy-gpg-key-id.md
Labels: content, ready to merge, authentication

#20783 repo sync
  middleware/api/search.js
  middleware/next.js
  tests/routing/next.js
Labels: automated-reposync-pr

#20785 repo sync
  Dockerfile
Labels: automated-reposync-pr

#20738 Make a few minor contributions
  CONTRIBUTING.md
Labels: content, ready to merge, authentication

#20786 repo sync
  components/ui/MiniTocs/MiniTocs.tsx
Labels: automated-reposync-pr

#20651 Update docker registry note
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
Labels: content, waiting for review, dependabot, code security

#20759 Updating icon to match actual UI
  data/reusables/repositories/changed-files.md
Labels: content, ready to merge, pull requests

#20760 Updating icon to match actual UI
  data/reusables/repositories/suggest-changes.md
Labels: content, ready to merge, pull requests

#20798 repo sync
  content/code-security/dependabot/dependabot-security-updates/about-dependabot-security-updates.md
  data/features/dependabot-security-updates-npm.yml
Labels: automated-reposync-pr

#20799 repo sync
  script/i18n/fix-translation-errors.js
Labels: automated-reposync-pr

#20802 repo sync
  contributing/content-markup-reference.md
Labels: automated-reposync-pr

#20125 Fix link to GraphQL "status" documentation
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: content, ready to merge, waiting for review

#20755 Update resource-limitations.md
  content/graphql/overview/resource-limitations.md
Labels: content, ready to merge, waiting for review, graphql

#20849 repo sync
  translations/log/msft-cn-resets.csv
  translations/zh-CN/content/actions/using-workflows/events-that-trigger-workflows.md
Labels: automated-reposync-pr

#20865 repo sync
  translations/log/msft-ja-resets.csv
Labels: automated-reposync-pr

#20796 Clarify `needs` context
  content/actions/learn-github-actions/contexts.md
Labels: content, actions, waiting for review

#20877 repo sync
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  data/features/actions-macos-arm.yml
Labels: automated-reposync-pr

#20806 solving issues#20289 - part 2/2 - modifying reusable as requested
  data/reusables/repositories/anyone-can-view-anonymized-url.md
Labels: triage

#20805 solving issues#20289 - part 1/2 - adding a sentence as requested
  content/get-started/writing-on-github/working-with-advanced-formatting/attaching-files.md
Labels: triage

#20880 repo sync
  data/release-notes/enterprise-server/3-6/1.yml
  data/release-notes/enterprise-server/3-6/2.yml
Labels: automated-reposync-pr

#20882 repo sync
  data/release-notes/enterprise-server/3-6/0.yml
  data/release-notes/enterprise-server/3-6/1.yml
  data/release-notes/enterprise-server/3-6/2.yml
Labels: automated-reposync-pr

#20884 repo sync
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue.md
Labels: automated-reposync-pr

#20734 Switch `schedule.interval` in examples to `weekly`
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
Labels: content, waiting for review, dependabot, code security

#20888 repo sync
  data/features/profile-name-enterprise-setting.yaml
  lib/frontmatter.js
  lib/read-frontmatter.js
  lib/temporary-ghae-deprecated-flag-error-cleanup.js
  tests/linting/lint-versioning.js
Labels: automated-reposync-pr

#20889 repo sync
  content/rest/overview/permissions-required-for-github-apps.md
Labels: automated-reposync-pr
