Repository github/docs, pull requests merged in 2022-10, with the labels that each got.

#21015 repo sync
  components/graphql/GraphqlItem.tsx
Labels: automated-reposync-pr

#21027 repo sync
  translations/es-ES/content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  translations/es-ES/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/es-ES/content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
  translations/es-ES/data/reusables/pull_requests/merge-queue-beta.md
  translations/es-ES/data/reusables/webhooks/pull_request_properties.md
  translations/es-ES/data/reusables/webhooks/pull_request_webhook_properties.md
  translations/ja-JP/content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  translations/ja-JP/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/ja-JP/content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
  translations/ja-JP/data/reusables/pull_requests/merge-queue-beta.md
  translations/ja-JP/data/reusables/webhooks/pull_request_properties.md
  translations/ja-JP/data/reusables/webhooks/pull_request_webhook_properties.md
  translations/log/msft-es-resets.csv
  translations/log/msft-ja-resets.csv
  translations/log/msft-pt-resets.csv
  translations/pt-BR/content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  translations/pt-BR/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/pt-BR/content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
  translations/pt-BR/data/reusables/pull_requests/merge-queue-beta.md
  translations/pt-BR/data/reusables/webhooks/pull_request_properties.md
  translations/pt-BR/data/reusables/webhooks/pull_request_webhook_properties.md
Labels: automated-reposync-pr

#21036 repo sync
  translations/log/msft-es-resets.csv
  translations/log/msft-ja-resets.csv
  translations/log/msft-pt-resets.csv
Labels: automated-reposync-pr

#21037 repo sync
  translations/log/msft-cn-resets.csv
  translations/zh-CN/content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  translations/zh-CN/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/zh-CN/content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
  translations/zh-CN/data/reusables/pull_requests/merge-queue-beta.md
  translations/zh-CN/data/reusables/webhooks/pull_request_properties.md
  translations/zh-CN/data/reusables/webhooks/pull_request_webhook_properties.md
Labels: automated-reposync-pr

#21035 Clarifies codespaces billing model
  content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
  data/reusables/codespaces/billing-for-prebuilds-reducing.md
  data/reusables/codespaces/codespaces-billing.md
Labels: triage

#21050 repo sync
  content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server.md
Labels: automated-reposync-pr

#21051 repo sync
  assets/images/help/sponsors/custom-amounts.png
  assets/images/help/sponsors/publish-tier-button.png
  assets/images/help/sponsors/save-tier-draft.png
  content/sponsors/receiving-sponsorships-through-github-sponsors/managing-your-sponsorship-tiers.md
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  data/reusables/sponsors/review-and-publish-tier.md
  data/reusables/sponsors/tier-details.md
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
Labels: automated-reposync-pr

#21052 repo sync
  translations/es-ES/content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server.md
  translations/es-ES/content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
  translations/es-ES/content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  translations/es-ES/content/sponsors/receiving-sponsorships-through-github-sponsors/managing-your-sponsorship-tiers.md
  translations/es-ES/data/reusables/codespaces/billing-for-prebuilds-reducing.md
  translations/ja-JP/content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server.md
  translations/ja-JP/content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
  translations/ja-JP/content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  translations/ja-JP/content/sponsors/receiving-sponsorships-through-github-sponsors/managing-your-sponsorship-tiers.md
  translations/ja-JP/data/reusables/codespaces/billing-for-prebuilds-reducing.md
  translations/log/msft-es-resets.csv
  translations/log/msft-ja-resets.csv
  translations/log/msft-pt-resets.csv
  translations/pt-BR/content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server.md
  translations/pt-BR/content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
  translations/pt-BR/content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  translations/pt-BR/content/sponsors/receiving-sponsorships-through-github-sponsors/managing-your-sponsorship-tiers.md
  translations/pt-BR/data/reusables/codespaces/billing-for-prebuilds-reducing.md
Labels: automated-reposync-pr

#21053 repo sync
  translations/log/msft-cn-resets.csv
  translations/zh-CN/content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server.md
  translations/zh-CN/content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
  translations/zh-CN/content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  translations/zh-CN/content/sponsors/receiving-sponsorships-through-github-sponsors/managing-your-sponsorship-tiers.md
  translations/zh-CN/data/reusables/codespaces/billing-for-prebuilds-reducing.md
Labels: automated-reposync-pr

#21057 repo sync
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
Labels: automated-reposync-pr

#21059 repo sync
  script/search/parse-page-sections-into-records.js
Labels: automated-reposync-pr

#21062 repo sync
  .github/workflows/dry-run-elasticsearch-indexing.yml
  .github/workflows/sync-search-pr.yml
  lib/search/popular-pages.json
Labels: automated-reposync-pr

#21064 repo sync
  .github/workflows/site-policy-sync.yml
Labels: automated-reposync-pr

#21065 Updated larger runner doc for non-admin users
  content/actions/using-github-hosted-runners/using-larger-runners.md
Labels: triage

#20457 Update type of `github.ref_protected` to `boolean`
  content/actions/learn-github-actions/contexts.md
Labels: content, actions, waiting for review

#21002 Update version of setup-dotnet to v3
  data/reusables/actions/action-setup-dotnet.md
Labels: content, actions, waiting for review

#21072 repo sync
  assets/images/help/codespaces/advanced-options.png
  assets/images/help/codespaces/choose-branch-vscode.png
  assets/images/help/codespaces/choose-dev-container-vscode.png
  assets/images/help/codespaces/choose-repository-vscode.png
  assets/images/help/codespaces/choose-sku-vscode.png
  assets/images/help/codespaces/default-machine-type.png
  assets/images/help/codespaces/new-codespace-button.png
  content/codespaces/developing-in-codespaces/creating-a-codespace.md
  content/codespaces/overview.md
  data/reusables/codespaces/creating-a-codespace-in-vscode.md
Labels: automated-reposync-pr

#21075 repo sync
  assets/images/automatically-watch-repos-and-teams.png
  assets/images/help/dependabot/dependabot-notification-frequency.png
  assets/images/help/notifications/add-new-route-emphasized.png
  assets/images/help/notifications/custom-router-emphasized.png
  assets/images/help/notifications/default-email-address-emphasized.png
  assets/images/help/notifications/github-actions-customize-notifications.gif
  assets/images/help/notifications/organization-dropdown-custom-routing-emphasis.png
  assets/images/help/notifications/select-email-address-custom-routing-and-save.png
  assets/images/help/notifications/selecting-participating-notifications.gif
  assets/images/participating-watching-subscriptions.png
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/managing-subscriptions-for-activity-on-github/viewing-your-subscriptions.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
  content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
  data/features/update-notification-settings-22.yml
  data/reusables/notifications/vulnerable-dependency-notification-options.md
Labels: triage, automated-reposync-pr

#21077 repo sync
  lib/hydro.js
Labels: automated-reposync-pr

#21078 repo sync
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
Labels: automated-reposync-pr

#21079 repo sync
  content/code-security/getting-started/securing-your-organization.md
Labels: automated-reposync-pr

#21025 Fix "git rm" syntax error
  content/pages/setting-up-a-github-pages-site-with-jekyll/creating-a-github-pages-site-with-jekyll.md
Labels: content, hacktoberfest-accepted

#21080 repo sync
  assets/images/help/desktop/mac-editor-menu.png
  assets/images/help/desktop/windows-editor-menu.png
  assets/images/help/profile/collapsed-section-example.png
  assets/images/help/profile/edit-profile-readme.png
  assets/images/help/profile/lightmode-image-example.png
  assets/images/help/profile/markdown-quote-example.png
  assets/images/help/profile/markdown-table-example.png
  assets/images/help/profile/readme-commit-changes.png
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/managing-your-profile-readme.md
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  content/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors.md
  content/desktop/contributing-and-collaborating-using-github-desktop/making-changes-in-a-branch/index.md
  content/desktop/installing-and-configuring-github-desktop/configuring-and-customizing-github-desktop/configuring-a-default-editor.md
  content/developers/overview/managing-deploy-keys.md
  content/get-started/customizing-your-github-workflow/exploring-integrations/github-extensions-and-integrations.md
  content/get-started/getting-started-with-git/associating-text-editors-with-git.md
  content/get-started/index.md
  content/get-started/onboarding/getting-started-with-your-github-account.md
  content/get-started/quickstart/communicating-on-github.md
  content/get-started/quickstart/git-and-github-learning-resources.md
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/about-writing-and-formatting-on-github.md
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/index.md
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/quickstart-for-writing-on-github.md
  content/issues/tracking-your-work-with-issues/filtering-and-searching-issues-and-pull-requests.md
  content/pull-requests/collaborating-with-pull-requests/addressing-merge-conflicts/resolving-a-merge-conflict-using-the-command-line.md
  content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  content/support/learning-about-github-support/about-github-premium-support.md
  data/reusables/getting-started/picture-element-example.md
  data/reusables/profile/navigating-to-profile.md
Labels: automated-reposync-pr

#21083 repo sync
  translations/log/msft-cn-resets.csv
  translations/zh-CN/content/account-and-profile/managing-subscriptions-and-notifications-on-github/managing-subscriptions-for-activity-on-github/viewing-your-subscriptions.md
  translations/zh-CN/content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/managing-your-profile-readme.md
  translations/zh-CN/content/actions/hosting-your-own-runners/autoscaling-with-self-hosted-runners.md
  translations/zh-CN/content/actions/hosting-your-own-runners/configuring-the-self-hosted-runner-application-as-a-service.md
  translations/zh-CN/content/actions/learn-github-actions/contexts.md
  translations/zh-CN/content/actions/learn-github-actions/understanding-github-actions.md
  translations/zh-CN/content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  translations/zh-CN/content/actions/quickstart.md
  translations/zh-CN/content/actions/security-guides/encrypted-secrets.md
  translations/zh-CN/content/actions/using-github-hosted-runners/using-larger-runners.md
  translations/zh-CN/content/admin/configuration/configuring-your-enterprise/configuring-rate-limits.md
  translations/zh-CN/content/admin/configuration/configuring-your-enterprise/site-admin-dashboard.md
  translations/zh-CN/content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server.md
  translations/zh-CN/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
  translations/zh-CN/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/using-the-audit-log-api-for-your-enterprise.md
  translations/zh-CN/content/authentication/connecting-to-github-with-ssh/adding-a-new-ssh-key-to-your-github-account.md
  translations/zh-CN/content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  translations/zh-CN/content/authentication/managing-commit-signature-verification/signing-commits.md
  translations/zh-CN/content/authentication/managing-commit-signature-verification/signing-tags.md
  translations/zh-CN/content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
  translations/zh-CN/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/zh-CN/content/codespaces/developing-in-codespaces/creating-a-codespace.md
  translations/zh-CN/content/codespaces/developing-in-codespaces/forwarding-ports-in-your-codespace.md
  translations/zh-CN/content/codespaces/developing-in-codespaces/renaming-a-codespace.md
  translations/zh-CN/content/codespaces/developing-in-codespaces/using-github-codespaces-with-github-cli.md
  translations/zh-CN/content/codespaces/overview.md
  translations/zh-CN/content/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors.md
  translations/zh-CN/content/desktop/contributing-and-collaborating-using-github-desktop/making-changes-in-a-branch/index.md
  translations/zh-CN/content/developers/apps/building-github-apps/authenticating-with-github-apps.md
  translations/zh-CN/content/developers/overview/managing-deploy-keys.md
  translations/zh-CN/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/zh-CN/content/get-started/customizing-your-github-workflow/exploring-integrations/github-extensions-and-integrations.md
  translations/zh-CN/content/get-started/getting-started-with-git/associating-text-editors-with-git.md
  translations/zh-CN/content/get-started/index.md
  translations/zh-CN/content/get-started/quickstart/communicating-on-github.md
  translations/zh-CN/content/get-started/quickstart/git-and-github-learning-resources.md
  translations/zh-CN/content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/about-writing-and-formatting-on-github.md
  translations/zh-CN/content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  translations/zh-CN/content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/index.md
  translations/zh-CN/content/issues/planning-and-tracking-with-projects/automating-your-project/using-the-api-to-manage-projects.md
  translations/zh-CN/content/issues/tracking-your-work-with-issues/filtering-and-searching-issues-and-pull-requests.md
  translations/zh-CN/content/packages/working-with-a-github-packages-registry/working-with-the-npm-registry.md
  translations/zh-CN/content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
  translations/zh-CN/content/pull-requests/collaborating-with-pull-requests/addressing-merge-conflicts/resolving-a-merge-conflict-using-the-command-line.md
  translations/zh-CN/content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/merging-a-pull-request.md
  translations/zh-CN/content/repositories/releasing-projects-on-github/managing-releases-in-a-repository.md
  translations/zh-CN/content/repositories/working-with-files/using-files/working-with-non-code-files.md
  translations/zh-CN/content/rest/guides/getting-started-with-the-rest-api.md
  translations/zh-CN/content/rest/overview/other-authentication-methods.md
  translations/zh-CN/content/rest/overview/resources-in-the-rest-api.md
  translations/zh-CN/content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  translations/zh-CN/data/reusables/actions/link-to-example-library.md
  translations/zh-CN/data/reusables/codespaces/creating-a-codespace-in-vscode.md
  translations/zh-CN/data/reusables/notifications/vulnerable-dependency-notification-options.md
Labels: automated-reposync-pr

#21084 repo sync
  script/search/build-records.js
  script/search/parse-page-sections-into-records.js
  script/search/sync-search-indices.js
  script/search/sync.js
Labels: automated-reposync-pr

#20811 Include repository size limits for GHAE
  content/repositories/working-with-files/managing-large-files/about-large-files-on-github.md
Labels: content, enterprise, waiting for review, repositories

#21088 repo sync
  content/developers/apps/building-github-apps/creating-a-github-app-using-url-parameters.md
  content/rest/overview/permissions-required-for-github-apps.md
  data/reusables/apps/metadata-permissions.md
Labels: automated-reposync-pr

#20963 Escape non-escaped `"` marks
  content/issues/planning-and-tracking-with-projects/automating-your-project/using-the-api-to-manage-projects.md
Labels: content, waiting for review, issues

#21090 repo sync
  content/developers/apps/building-github-apps/creating-a-github-app-using-url-parameters.md
  content/rest/overview/permissions-required-for-github-apps.md
Labels: automated-reposync-pr

#21095 repo sync
  content/actions/using-workflows/reusing-workflows.md
  data/reusables/actions/pass-inputs-to-reusable-workflows.md
Labels: automated-reposync-pr

#21081 Add missing step in deleting oauth apps
  assets/images/oauth-apps/oauth_apps_sidebar_advanced.png
  content/developers/apps/managing-oauth-apps/deleting-an-oauth-app.md
Labels: content, hacktoberfest-accepted

#21099 repo sync
  assets/images/help/codespaces/jupyter-python-kernel-dropdown.png
  assets/images/help/codespaces/jupyter-python-kernel-link.png
  content/codespaces/codespaces-reference/disaster-recovery-for-github-codespaces.md
  content/codespaces/developing-in-codespaces/codespaces-lifecycle.md
  content/codespaces/developing-in-codespaces/getting-started-with-github-codespaces-for-machine-learning.md
  content/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers.md
Labels: automated-reposync-pr

#21100 repo sync
  content/site-policy/privacy-policies/github-privacy-statement.md
Labels: automated-reposync-pr

#21111 repo sync
  .gitignore
  assets/images/help/codespaces/disable-prebuild-optimization.png
  assets/images/help/codespaces/edit-prebuild-configuration.png
  assets/images/help/codespaces/show-advanced-options.png
  content/codespaces/prebuilding-your-codespaces/configuring-prebuilds.md
  content/codespaces/troubleshooting/troubleshooting-prebuilds.md
  data/reusables/codespaces/accessing-prebuild-configuration.md
  lib/redirects/static/redirect-exceptions.txt
  script/move-content.js
  tests/fixtures/versionless-redirects.txt
Labels: automated-reposync-pr

#21094 update keys according to guidelines
  content/get-started/using-github/keyboard-shortcuts.md
Labels: content

#21058 Updated UI elements in the docs page
  assets/images/help/pull_requests/merge_box/pr-reviews-in-merge-box.png
  assets/images/help/pull_requests/pull-request-review-statuses.png
  assets/images/help/pull_requests/review-header-with-line-comment.png
Labels: hacktoberfest-accepted

#21125 repo sync
  assets/images/help/pull_requests/merge_box/pr-reviews-in-merge-box.png
  assets/images/help/pull_requests/pull-request-review-statuses.png
  assets/images/help/pull_requests/review-header-with-line-comment.png
Labels: automated-reposync-pr

#21131 repo sync
  content/rest/overview/permissions-required-for-github-apps.md
Labels: automated-reposync-pr

#21134 repo sync
  content/actions/using-workflows/events-that-trigger-workflows.md
  data/features/actions-workflow-run-in-progress.yml
  data/reusables/webhooks/workflow_run_properties.md
Labels: automated-reposync-pr

#21139 repo sync
  assets/images/help/education/academic-status-student.png
  assets/images/help/education/academic-status-teacher.png
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-teachers/apply-to-github-global-campus-as-a-teacher.md
Labels: automated-reposync-pr

#21150 repo sync
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automated-reposync-pr

#21164 repo sync
  assets/images/help/profile/achievements-detail-view.png
  assets/images/help/profile/achievements-hidden.png
  assets/images/help/profile/achievements-on-profile.png
  assets/images/help/profile/achievements-profile-settings-off.png
  assets/images/help/profile/achievements-profile-settings-on.png
  content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/showing-your-private-contributions-and-achievements-on-your-profile.md
  data/features/hide-individual-achievements.yml
Labels: automated-reposync-pr

#21167 repo sync
  assets/images/enterprise/security/enterprise-security-and-analysis-disable-or-enable-all.png
  assets/images/enterprise/security/enterprise-security-and-analysis-enable-or-disable-feature-checkbox.png
  assets/images/enterprise/security/enterprise-security-and-analysis-enable-secret-scanning.png
  content/admin/code-security/index.md
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/index.md
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/managing-github-advanced-security-features-for-your-enterprise.md
  content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  data/features/secret-scanning-enterprise-level.yml
  tests/translations/frame.js
Labels: automated-reposync-pr

#21168 repo sync
  data/reusables/webhooks/repository_vulnerability_alert_short_desc.md
Labels: automated-reposync-pr

#21022 Add GPG format git configuration on GPG setup
  content/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key.md
  data/reusables/gpg/configure-gpg-signing.md
Labels: content, ready to merge

#21028 Add event type `converted_to_discussion`
  content/developers/webhooks-and-events/events/issue-event-types.md
Labels: content, ready to merge, waiting for review, webhooks

#21178 repo sync
  data/features/streaming-datadog.yml
Labels: automated-reposync-pr

#21172 create personal access token link was broken
  content/authentication/authenticating-with-saml-single-sign-on/authorizing-a-personal-access-token-for-use-with-saml-single-sign-on.md
Labels: triage

#21182 repo sync
  content/admin/configuration/configuring-your-enterprise/configuring-rate-limits.md
  content/admin/configuration/configuring-your-enterprise/enabling-and-scheduling-maintenance-mode.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/setting-up-a-staging-instance.md
  content/admin/overview/about-the-github-enterprise-api.md
  content/developers/apps/getting-started-with-apps/setting-up-your-development-environment-to-create-a-github-app.md
  content/developers/apps/guides/creating-ci-tests-with-the-checks-api.md
  content/developers/apps/guides/using-the-github-api-in-your-app.md
  content/rest/scim.md
  data/reusables/enterprise_user_management/manage-global-webhooks-api.md
  data/reusables/support/help_resources.md
  data/reusables/support/prodname_support_forum_with_url.md
  data/variables/product.yml
Labels: automated-reposync-pr

#21181 Update workflow-syntax-for-github-actions.md
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions, hacktoberfest-accepted

#21185 repo sync
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
  translations/es-ES/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/showing-your-private-contributions-and-achievements-on-your-profile.md
  translations/es-ES/content/actions/using-workflows/workflow-syntax-for-github-actions.md
  translations/es-ES/content/admin/code-security/index.md
  translations/es-ES/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/index.md
  translations/es-ES/content/admin/configuration/configuring-your-enterprise/configuring-rate-limits.md
  translations/es-ES/content/authentication/authenticating-with-saml-single-sign-on/authorizing-a-personal-access-token-for-use-with-saml-single-sign-on.md
  translations/es-ES/content/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key.md
  translations/es-ES/content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  translations/es-ES/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/es-ES/content/developers/apps/getting-started-with-apps/setting-up-your-development-environment-to-create-a-github-app.md
  translations/es-ES/content/developers/apps/guides/creating-ci-tests-with-the-checks-api.md
  translations/es-ES/content/developers/apps/guides/using-the-github-api-in-your-app.md
  translations/es-ES/content/developers/webhooks-and-events/events/issue-event-types.md
  translations/es-ES/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/es-ES/data/reusables/support/help_resources.md
  translations/es-ES/data/reusables/webhooks/repository_vulnerability_alert_short_desc.md
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/showing-your-private-contributions-and-achievements-on-your-profile.md
  translations/ja-JP/content/actions/using-workflows/workflow-syntax-for-github-actions.md
  translations/ja-JP/content/admin/code-security/index.md
  translations/ja-JP/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/index.md
  translations/ja-JP/content/admin/configuration/configuring-your-enterprise/configuring-rate-limits.md
  translations/ja-JP/content/authentication/authenticating-with-saml-single-sign-on/authorizing-a-personal-access-token-for-use-with-saml-single-sign-on.md
  translations/ja-JP/content/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key.md
  translations/ja-JP/content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/ja-JP/content/developers/apps/getting-started-with-apps/setting-up-your-development-environment-to-create-a-github-app.md
  translations/ja-JP/content/developers/apps/guides/creating-ci-tests-with-the-checks-api.md
  translations/ja-JP/content/developers/apps/guides/using-the-github-api-in-your-app.md
  translations/ja-JP/content/developers/webhooks-and-events/events/issue-event-types.md
  translations/ja-JP/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/ja-JP/data/reusables/support/help_resources.md
  translations/ja-JP/data/reusables/webhooks/repository_vulnerability_alert_short_desc.md
  translations/log/msft-es-resets.csv
  translations/log/msft-ja-resets.csv
Labels: triage, automated-reposync-pr

#21188 repo sync
  content/authentication/managing-commit-signature-verification/displaying-verification-statuses-for-all-of-your-commits.md
  data/reusables/identity-and-permissions/vigilant-mode-beta-note.md
  translations/log/msft-cn-resets.csv
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/showing-your-private-contributions-and-achievements-on-your-profile.md
  translations/zh-CN/content/actions/using-workflows/workflow-syntax-for-github-actions.md
  translations/zh-CN/content/admin/code-security/index.md
  translations/zh-CN/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/index.md
  translations/zh-CN/content/admin/configuration/configuring-your-enterprise/configuring-rate-limits.md
  translations/zh-CN/content/authentication/authenticating-with-saml-single-sign-on/authorizing-a-personal-access-token-for-use-with-saml-single-sign-on.md
  translations/zh-CN/content/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key.md
  translations/zh-CN/content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  translations/zh-CN/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/zh-CN/content/developers/apps/getting-started-with-apps/setting-up-your-development-environment-to-create-a-github-app.md
  translations/zh-CN/content/developers/apps/guides/creating-ci-tests-with-the-checks-api.md
  translations/zh-CN/content/developers/apps/guides/using-the-github-api-in-your-app.md
  translations/zh-CN/content/developers/webhooks-and-events/events/issue-event-types.md
  translations/zh-CN/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/zh-CN/data/reusables/support/help_resources.md
  translations/zh-CN/data/reusables/webhooks/repository_vulnerability_alert_short_desc.md
Labels: automated-reposync-pr

#21196 repo sync
  assets/images/help/enterprises/advanced-security-policies-availability.png
  assets/images/help/enterprises/advanced-security-policies-enable-or-disable.png
  assets/images/help/enterprises/advanced-security-policies-secret-scanning.png
  assets/images/help/enterprises/change-dependabot-alerts-settings.png
  assets/images/help/enterprises/code-security-and-analysis-policies.png
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-advanced-security-in-your-enterprise.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-code-security-and-analysis-for-your-enterprise.md
  content/admin/policies/enforcing-policies-for-your-enterprise/index.md
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-the-dependency-graph.md
  data/features/security-feature-enablement-policies.yml
  data/reusables/advanced-security/about-ghas-organization-policy.md
  data/reusables/advanced-security/ghas-must-be-enabled.md
  data/reusables/code-scanning/enterprise-enable-code-scanning.md
  data/reusables/code-scanning/enterprise-enable-dependency-graph.md
  data/reusables/dependabot/enterprise-enable-dependabot.md
  data/reusables/enterprise-accounts/advanced-security-organization-policy-drop-down.md
  data/reusables/enterprise-accounts/code-security-and-analysis-policies.md
  data/reusables/getting-started/enterprise-advanced-security.md
  data/reusables/secret-scanning/enterprise-enable-secret-scanning.md
  tests/fixtures/versionless-redirects.txt
Labels: automated-reposync-pr

#21170 [Improvement] Add reference to GitHub copilot documentation
  content/codespaces/codespaces-reference/using-github-copilot-in-github-codespaces.md
Labels: content, hacktoberfest-accepted

#21198 repo sync
  components/parameter-table/ParameterRow.tsx
  components/parameter-table/types.ts
Labels: automated-reposync-pr

#21216 repo sync
  translations/es-ES/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
  translations/es-ES/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-advanced-security-in-your-enterprise.md
  translations/es-ES/content/admin/policies/enforcing-policies-for-your-enterprise/index.md
  translations/es-ES/content/authentication/managing-commit-signature-verification/displaying-verification-statuses-for-all-of-your-commits.md
  translations/es-ES/content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  translations/es-ES/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/es-ES/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-the-dependency-graph.md
  translations/es-ES/content/codespaces/codespaces-reference/using-github-copilot-in-github-codespaces.md
  translations/es-ES/data/reusables/advanced-security/about-ghas-organization-policy.md
  translations/es-ES/data/reusables/code-scanning/enterprise-enable-code-scanning.md
  translations/es-ES/data/reusables/dependabot/enterprise-enable-dependabot.md
  translations/es-ES/data/reusables/getting-started/enterprise-advanced-security.md
  translations/es-ES/data/reusables/identity-and-permissions/vigilant-mode-beta-note.md
  translations/es-ES/data/reusables/secret-scanning/enterprise-enable-secret-scanning.md
  translations/ja-JP/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
  translations/ja-JP/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-advanced-security-in-your-enterprise.md
  translations/ja-JP/content/admin/policies/enforcing-policies-for-your-enterprise/index.md
  translations/ja-JP/content/authentication/managing-commit-signature-verification/displaying-verification-statuses-for-all-of-your-commits.md
  translations/ja-JP/content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-the-dependency-graph.md
  translations/ja-JP/content/codespaces/codespaces-reference/using-github-copilot-in-github-codespaces.md
  translations/ja-JP/data/reusables/advanced-security/about-ghas-organization-policy.md
  translations/ja-JP/data/reusables/code-scanning/enterprise-enable-code-scanning.md
  translations/ja-JP/data/reusables/dependabot/enterprise-enable-dependabot.md
  translations/ja-JP/data/reusables/getting-started/enterprise-advanced-security.md
  translations/ja-JP/data/reusables/identity-and-permissions/vigilant-mode-beta-note.md
  translations/ja-JP/data/reusables/secret-scanning/enterprise-enable-secret-scanning.md
  translations/log/msft-es-resets.csv
  translations/log/msft-ja-resets.csv
Labels: automated-reposync-pr

#21226 repo sync
  translations/log/msft-es-resets.csv
  translations/log/msft-ja-resets.csv
  translations/log/msft-pt-resets.csv
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/showing-your-private-contributions-and-achievements-on-your-profile.md
  translations/pt-BR/content/actions/using-workflows/workflow-syntax-for-github-actions.md
  translations/pt-BR/content/admin/code-security/index.md
  translations/pt-BR/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/index.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/configuring-rate-limits.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
  translations/pt-BR/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-advanced-security-in-your-enterprise.md
  translations/pt-BR/content/admin/policies/enforcing-policies-for-your-enterprise/index.md
  translations/pt-BR/content/authentication/authenticating-with-saml-single-sign-on/authorizing-a-personal-access-token-for-use-with-saml-single-sign-on.md
  translations/pt-BR/content/authentication/managing-commit-signature-verification/displaying-verification-statuses-for-all-of-your-commits.md
  translations/pt-BR/content/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key.md
  translations/pt-BR/content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  translations/pt-BR/content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-the-dependency-graph.md
  translations/pt-BR/content/codespaces/codespaces-reference/using-github-copilot-in-github-codespaces.md
  translations/pt-BR/content/developers/apps/getting-started-with-apps/setting-up-your-development-environment-to-create-a-github-app.md
  translations/pt-BR/content/developers/apps/guides/creating-ci-tests-with-the-checks-api.md
  translations/pt-BR/content/developers/apps/guides/using-the-github-api-in-your-app.md
  translations/pt-BR/content/developers/webhooks-and-events/events/issue-event-types.md
  translations/pt-BR/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/pt-BR/data/reusables/advanced-security/about-ghas-organization-policy.md
  translations/pt-BR/data/reusables/code-scanning/enterprise-enable-code-scanning.md
  translations/pt-BR/data/reusables/dependabot/enterprise-enable-dependabot.md
  translations/pt-BR/data/reusables/getting-started/enterprise-advanced-security.md
  translations/pt-BR/data/reusables/identity-and-permissions/vigilant-mode-beta-note.md
  translations/pt-BR/data/reusables/secret-scanning/enterprise-enable-secret-scanning.md
  translations/pt-BR/data/reusables/support/help_resources.md
  translations/pt-BR/data/reusables/webhooks/repository_vulnerability_alert_short_desc.md
Labels: automated-reposync-pr

#21133 escape non-escaped `"` on GraphQL Query
  content/issues/planning-and-tracking-with-projects/automating-your-project/using-the-api-to-manage-projects.md
Labels: content, ready to merge, waiting for review, graphql

#21195 Cleanup docker registry docs
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
Labels: triage

#21235 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
  data/reusables/code-scanning/analyze-go.md
  data/reusables/code-scanning/autobuild-add-build-steps.md
Labels: automated-reposync-pr

#21236 repo sync
  content/admin/identity-and-access-management/managing-iam-for-your-enterprise/username-considerations-for-external-authentication.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  data/reusables/enterprise-accounts/emu-only-emails-within-the-enterprise-can-conflict.md
Labels: automated-reposync-pr

#21243 repo sync
  translations/log/msft-cn-resets.csv
Labels: automated-reposync-pr

#21244 repo sync
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/using-the-dependency-submission-api.md
Labels: automated-reposync-pr

#21245 repo sync
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue.md
Labels: automated-reposync-pr

#21203 Add Discussions to list of supported products for saved replies
  content/get-started/writing-on-github/working-with-saved-replies/about-saved-replies.md
Labels: content, waiting for review, get started

#21247 repo sync
  components/guides/ProductGuides.tsx
  content/developers/overview/secret-scanning-partner-program.md
Labels: automated-reposync-pr

#21249 repo sync
  translations/es-ES/content/admin/identity-and-access-management/managing-iam-for-your-enterprise/username-considerations-for-external-authentication.md
  translations/es-ES/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  translations/es-ES/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
  translations/es-ES/content/code-security/dependabot/dependabot-alerts/browsing-security-advisories-in-the-github-advisory-database.md
  translations/es-ES/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/es-ES/content/developers/overview/secret-scanning-partner-program.md
  translations/es-ES/content/issues/planning-and-tracking-with-projects/automating-your-project/using-the-api-to-manage-projects.md
  translations/es-ES/data/reusables/code-scanning/analyze-go.md
  translations/es-ES/data/reusables/code-scanning/autobuild-add-build-steps.md
  translations/ja-JP/content/admin/identity-and-access-management/managing-iam-for-your-enterprise/username-considerations-for-external-authentication.md
  translations/ja-JP/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
  translations/ja-JP/content/code-security/dependabot/dependabot-alerts/browsing-security-advisories-in-the-github-advisory-database.md
  translations/ja-JP/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/ja-JP/content/developers/overview/secret-scanning-partner-program.md
  translations/ja-JP/content/issues/planning-and-tracking-with-projects/automating-your-project/using-the-api-to-manage-projects.md
  translations/ja-JP/data/reusables/code-scanning/analyze-go.md
  translations/ja-JP/data/reusables/code-scanning/autobuild-add-build-steps.md
  translations/log/msft-es-resets.csv
  translations/log/msft-ja-resets.csv
Labels: triage, automated-reposync-pr

#21201 Fix `git update-index` command
  content/actions/creating-actions/creating-a-docker-container-action.md
Labels: content, actions, hacktoberfest-accepted

#21253 repo sync
  middleware/index.js
  middleware/redirects/handle-redirects.js
  middleware/search.js
  tests/content/search.js
  tests/routing/redirects.js
Labels: automated-reposync-pr

#21152 Added exceptional subdomains in the redirect URLs
  content/developers/apps/building-oauth-apps/authorizing-oauth-apps.md
Labels: content, ready to merge, waiting for review, developers

#21254 repo sync
  contributing/content-markup-reference.md
  contributing/content-model.md
  contributing/tool-switcher.md
Labels: automated-reposync-pr

#19167 Add generation of custom-named SSH Keys for 'Authentication' section
  content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, waiting for review, authentication

#21258 repo sync
  .github/workflows/site-policy-sync.yml
Labels: automated-reposync-pr

#21259 repo sync
  package-lock.json
  package.json
  script/search/find-indexable-pages.js
  script/search/parse-page-sections-into-records.js
  script/search/sync-search-indices.js
  script/search/sync.js
  tests/unit/search/fixtures/page-with-heading-and-paragraph-no-whitespace.html
  tests/unit/search/parse-page-sections-into-records.js
Labels: automated-reposync-pr

#21250 update link on artifact use to new location
  content/rest/actions/artifacts.md
Labels: content, actions, ready to merge, waiting for review, rest

#21264 repo sync
  content/repositories/creating-and-managing-repositories/transferring-a-repository.md
Labels: automated-reposync-pr

#21271 repo sync
  package-lock.json
  package.json
Labels: automated-reposync-pr

#21256 Full-stop to line 41
  content/get-started/importing-your-projects-to-github/importing-source-code-to-github/adding-locally-hosted-code-to-github.md
Labels: content

#21211 Make it more clear that you need to setup your runners
  content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
Labels: content, ready to merge, enterprise, waiting for review, dependabot

#21278 repo sync
  package-lock.json
Labels: automated-reposync-pr

#21279 repo sync
  translations/es-ES/content/actions/using-workflows/workflow-commands-for-github-actions.md
  translations/es-ES/content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
  translations/es-ES/content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  translations/es-ES/content/billing/managing-billing-for-github-advanced-security/viewing-your-github-advanced-security-usage.md
  translations/es-ES/content/repositories/creating-and-managing-repositories/transferring-a-repository.md
  translations/es-ES/content/rest/enterprise-admin/scim.md
  translations/es-ES/data/release-notes/enterprise-server/3-3/12.yml
  translations/ja-JP/content/actions/using-workflows/workflow-commands-for-github-actions.md
  translations/ja-JP/content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
  translations/ja-JP/content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  translations/ja-JP/content/billing/managing-billing-for-github-advanced-security/viewing-your-github-advanced-security-usage.md
  translations/ja-JP/content/repositories/creating-and-managing-repositories/transferring-a-repository.md
  translations/ja-JP/content/rest/enterprise-admin/scim.md
  translations/ja-JP/data/release-notes/enterprise-server/3-3/12.yml
  translations/log/msft-es-resets.csv
  translations/log/msft-ja-resets.csv
  translations/log/msft-pt-resets.csv
  translations/pt-BR/content/actions/using-workflows/workflow-commands-for-github-actions.md
  translations/pt-BR/content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
  translations/pt-BR/content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  translations/pt-BR/content/billing/managing-billing-for-github-advanced-security/viewing-your-github-advanced-security-usage.md
  translations/pt-BR/content/repositories/creating-and-managing-repositories/transferring-a-repository.md
  translations/pt-BR/content/rest/enterprise-admin/scim.md
  translations/pt-BR/data/release-notes/enterprise-server/3-3/12.yml
Labels: automated-reposync-pr

#21280 repo sync
  lib/render-content/renderContent.js
  translations/log/msft-cn-resets.csv
  translations/zh-CN/content/actions/using-workflows/workflow-commands-for-github-actions.md
  translations/zh-CN/content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
  translations/zh-CN/content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  translations/zh-CN/content/billing/managing-billing-for-github-advanced-security/viewing-your-github-advanced-security-usage.md
  translations/zh-CN/content/repositories/creating-and-managing-repositories/transferring-a-repository.md
  translations/zh-CN/content/rest/enterprise-admin/scim.md
  translations/zh-CN/data/release-notes/enterprise-server/3-3/12.yml
Labels: automated-reposync-pr

#21281 repo sync
  assets/images/help/profile/display-local-time-checkbox.png
  assets/images/help/profile/location-field.png
  assets/images/help/profile/profile-location-and-time.png
  assets/images/help/profile/profile-relative-time.png
  assets/images/help/profile/time-zone-dropdown.png
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
  data/features/profile-time-zone.yml
  data/reusables/profile/update-profile.md
Labels: automated-reposync-pr

#21209 Fix internal hyperlink
  content/actions/security-guides/security-hardening-for-github-actions.md
Labels: content, actions, waiting for review

#20165 Fix docs for adding ssh key for commit signing
  data/reusables/gpg/paste-ssh-public-key.md
Labels: content, waiting for review, ssh, authentication

#21193 Update securing-your-github-pages-site-with-https.md
  content/pages/getting-started-with-github-pages/securing-your-github-pages-site-with-https.md
Labels: content, waiting for review, pages

#21284 repo sync
  middleware/api/es-search.js
  middleware/api/search.js
  script/search/index-elasticsearch.js
  tests/content/api-search.js
  tests/content/fixtures/search-indexes/github-docs-dotcom-en-records.json
  tests/content/fixtures/search-indexes/github-docs-ghae-en-records.json
Labels: automated-reposync-pr

#21291 repo sync
  content/admin/github-actions/advanced-configuration-and-troubleshooting/backing-up-and-restoring-github-enterprise-server-with-github-actions-enabled.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/setting-up-a-staging-instance.md
  data/reusables/actions/apply-configuration-and-enable.md
  data/reusables/actions/configure-storage-provider-platform-commands.md
  data/reusables/actions/configure-storage-provider.md
  data/reusables/enterprise_installation/ssh-into-staging-instance.md
  middleware/handle-errors.js
Labels: automated-reposync-pr

#21293 repo sync
  components/article/PlatformPicker.tsx
  components/article/ToolPicker.tsx
  components/lib/events.ts
  components/rest/RestCodeSamples.tsx
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
Labels: automated-reposync-pr

#21295 repo sync
  content/index.md
  lib/all-products.js
  middleware/context.js
  tests/rendering/server.js
Labels: automated-reposync-pr

#21032 Change keys nomenclature according to guidelines
  content/get-started/using-github/keyboard-shortcuts.md
Labels: content, ready to merge

#21277 Fix typo in URL
  content/repositories/creating-and-managing-repositories/duplicating-a-repository.md
Labels: content, hacktoberfest-accepted, ready to merge, repositories

#21297 repo sync
  content/repositories/creating-and-managing-repositories/transferring-a-repository.md
Labels: automated-reposync-pr

#21298 repo sync
  components/context/MainContext.tsx
  components/playground/PlaygroundArticlePage.tsx
  components/sidebar/AllProductsLink.tsx
  lib/all-products.js
  pages/[versionId]/[productId]/index.tsx
  pages/[versionId]/admin/release-notes.tsx
  pages/[versionId]/graphql/overview/breaking-changes.tsx
  pages/[versionId]/graphql/overview/changelog.tsx
  pages/[versionId]/graphql/overview/explorer.tsx
  pages/[versionId]/graphql/overview/schema-previews.tsx
  pages/[versionId]/graphql/reference/[page].tsx
  pages/[versionId]/rest/[category]/[subcategory].tsx
  pages/[versionId]/rest/[category]/index.tsx
  pages/[versionId]/rest/overview/endpoints-available-for-github-apps.tsx
  pages/index.tsx
  pages/search.tsx
Labels: automated-reposync-pr

#21300 repo sync
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
  translations/ja-JP/content/actions/security-guides/security-hardening-for-github-actions.md
  translations/ja-JP/content/admin/github-actions/advanced-configuration-and-troubleshooting/backing-up-and-restoring-github-enterprise-server-with-github-actions-enabled.md
  translations/ja-JP/content/admin/installation/setting-up-a-github-enterprise-server-instance/setting-up-a-staging-instance.md
  translations/ja-JP/content/get-started/using-github/keyboard-shortcuts.md
  translations/ja-JP/content/index.md
  translations/ja-JP/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
  translations/ja-JP/content/repositories/creating-and-managing-repositories/transferring-a-repository.md
  translations/log/msft-ja-resets.csv
  translations/log/msft-pt-resets.csv
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
  translations/pt-BR/content/actions/security-guides/security-hardening-for-github-actions.md
  translations/pt-BR/content/admin/github-actions/advanced-configuration-and-troubleshooting/backing-up-and-restoring-github-enterprise-server-with-github-actions-enabled.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/setting-up-a-staging-instance.md
  translations/pt-BR/content/get-started/using-github/keyboard-shortcuts.md
  translations/pt-BR/content/index.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
  translations/pt-BR/content/repositories/creating-and-managing-repositories/transferring-a-repository.md
Labels: automated-reposync-pr

#21294 Addressed #21207
  content/get-started/writing-on-github/working-with-advanced-formatting/autolinked-references-and-urls.md
Labels: content, waiting for review, get started

#21301 repo sync
  translations/log/msft-cn-resets.csv
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
  translations/zh-CN/content/actions/security-guides/security-hardening-for-github-actions.md
  translations/zh-CN/content/admin/github-actions/advanced-configuration-and-troubleshooting/backing-up-and-restoring-github-enterprise-server-with-github-actions-enabled.md
  translations/zh-CN/content/admin/installation/setting-up-a-github-enterprise-server-instance/setting-up-a-staging-instance.md
  translations/zh-CN/content/get-started/using-github/keyboard-shortcuts.md
  translations/zh-CN/content/index.md
  translations/zh-CN/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
  translations/zh-CN/content/repositories/creating-and-managing-repositories/transferring-a-repository.md
Labels: automated-reposync-pr

#21241 Update workflow-commands-for-github-actions.md
  content/actions/using-workflows/workflow-commands-for-github-actions.md
Labels: content, actions, waiting for review

#21304 repo sync
  components/article/PlatformPicker.tsx
  components/article/ToolPicker.tsx
Labels: automated-reposync-pr

#20967 Recommend to use 127.0.0.1 instead of localhost
  content/developers/apps/building-oauth-apps/authorizing-oauth-apps.md
Labels: content, waiting for review, SME reviewed, developers

#21305 repo sync
  contributing/content-style-guide.md
  contributing/tool-switcher.md
Labels: automated-reposync-pr

#21306 repo sync
  content/codespaces/codespaces-reference/allowing-your-codespace-to-access-a-private-image-registry.md
  content/packages/learn-github-packages/about-permissions-for-github-packages.md
  content/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility.md
  content/packages/learn-github-packages/deleting-and-restoring-a-package.md
  content/packages/learn-github-packages/introduction-to-github-packages.md
  content/packages/learn-github-packages/viewing-packages.md
  content/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions.md
  data/variables/packages.yml
  data/variables/product.yml
Labels: automated-reposync-pr

#21308 repo sync
  middleware/cache-control.js
  middleware/fast-root-redirect.js
Labels: automated-reposync-pr

#21311 repo sync
  data/reusables/codespaces/creating-a-codespace-in-vscode.md
  translations/es-ES/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
  translations/es-ES/content/actions/security-guides/security-hardening-for-github-actions.md
  translations/es-ES/content/admin/github-actions/advanced-configuration-and-troubleshooting/backing-up-and-restoring-github-enterprise-server-with-github-actions-enabled.md
  translations/es-ES/content/admin/installation/setting-up-a-github-enterprise-server-instance/setting-up-a-staging-instance.md
  translations/es-ES/content/get-started/using-github/keyboard-shortcuts.md
  translations/es-ES/content/index.md
  translations/es-ES/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
  translations/es-ES/content/repositories/creating-and-managing-repositories/transferring-a-repository.md
  translations/log/msft-es-resets.csv
Labels: automated-reposync-pr

#21315 repo sync
  content/admin/installation/setting-up-a-github-enterprise-server-instance/setting-up-a-staging-instance.md
  content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
  content/billing/managing-billing-for-github-codespaces/index.md
  content/billing/managing-billing-for-github-codespaces/managing-spending-limits-for-github-codespaces.md
  content/billing/managing-billing-for-github-codespaces/viewing-your-github-codespaces-usage.md
  content/codespaces/codespaces-reference/index.md
  content/codespaces/codespaces-reference/understanding-billing-for-github-codespaces.md
  content/codespaces/developing-in-codespaces/codespaces-lifecycle.md
  content/codespaces/developing-in-codespaces/index.md
  content/codespaces/getting-started/deep-dive.md
  content/codespaces/getting-started/quickstart.md
  content/codespaces/managing-codespaces-for-your-organization/enabling-github-codespaces-for-your-organization.md
  content/codespaces/managing-codespaces-for-your-organization/index.md
  content/codespaces/managing-codespaces-for-your-organization/listing-the-codespaces-in-your-organization.md
  content/codespaces/managing-codespaces-for-your-organization/managing-billing-for-github-codespaces-in-your-organization.md
  content/codespaces/managing-codespaces-for-your-organization/managing-the-cost-of-github-codespaces-in-your-organization.md
  content/codespaces/overview.md
  content/codespaces/prebuilding-your-codespaces/about-github-codespaces-prebuilds.md
  content/codespaces/prebuilding-your-codespaces/configuring-prebuilds.md
  content/site-policy/github-terms/github-corporate-terms-of-service.md
  content/site-policy/privacy-policies/github-data-protection-agreement.md
  content/site-policy/privacy-policies/index.md
  content/site-policy/site-policy-deprecated/github-enterprise-subscription-agreement.md
  content/site-policy/site-policy-deprecated/github-supplemental-terms-for-microsoft-volume-licensing.md
  data/reusables/codespaces/billing-for-prebuilds-default.md
  data/reusables/codespaces/billing-for-prebuilds-reducing.md
  data/reusables/codespaces/codespaces-billing.md
  data/reusables/codespaces/codespaces-disabling-org-billing.md
  data/reusables/codespaces/codespaces-monthly-billing.md
  data/reusables/codespaces/codespaces-spending-limit-requirement.md
  data/reusables/codespaces/exporting-changes.md
  data/reusables/codespaces/prebuilds-definition.md
  data/reusables/dotcom_billing/pricing_calculator/pricing_cal_codespaces.md
Labels: automated-reposync-pr

#21316 repo sync
  content/codespaces/managing-codespaces-for-your-organization/managing-the-cost-of-github-codespaces-in-your-organization.md
  data/reusables/actions/hosted-runner-security.md
Labels: automated-reposync-pr

#21317 repo sync
  content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
Labels: automated-reposync-pr

#21318 repo sync
  components/guides/ArticleCards.tsx
  components/guides/LearningTrack.tsx
  components/landing/CodeExamples.tsx
  script/search/parse-page-sections-into-records.js
Labels: automated-reposync-pr

#21302 Fixed some typos in about-github-for-enterprises.md
  content/admin/overview/about-github-for-enterprises.md
Labels: content, enterprise, waiting for review

#21322 repo sync
  .github/workflows/test.yml
  assets/images/help/repository/actions-disable-workflow-2022.png
  assets/images/help/repository/actions-enable-workflow-2022.png
  assets/images/help/repository/actions-select-disabled-workflow-2022.png
  assets/images/help/repository/actions-select-workflow-2022.png
  assets/images/help/repository/actions-select-workflow.png
  assets/images/help/repository/actions-workflow-menu-kebab-2022.png
  assets/images/help/repository/rerun-checks-drop-down.png
  assets/images/help/repository/rerun-failed-jobs-drop-down.png
  assets/images/help/repository/view-run-billable-time.png
  content/actions/managing-workflow-runs/disabling-and-enabling-a-workflow.md
  content/actions/managing-workflow-runs/manually-running-a-workflow.md
  content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  content/actions/monitoring-and-troubleshooting-workflows/viewing-job-execution-time.md
  data/features/workflow-nav-2022.yml
Labels: automated-reposync-pr

#21329 repo sync
  content/code-security/secret-scanning/about-secret-scanning.md
  data/features/secret-scanning-backfills.yml
Labels: automated-reposync-pr

#20138 Update contexts.md for GitHub Actions and input variables
  content/actions/learn-github-actions/contexts.md
Labels: content, actions, waiting for review

#21348 repo sync
  assets/images/help/security/security-advisory-add-another-affected-product.png
  assets/images/help/security/security-advisory-affected-versions.png
  assets/images/help/security/security-advisory-ecosystem.png
  assets/images/help/security/security-advisory-package-name.png
  content/code-security/dependabot/dependabot-alerts/editing-security-advisories-in-the-github-advisory-database.md
  content/code-security/guides.md
  content/code-security/repository-security-advisories/best-practices-for-writing-repository-security-advisories.md
  content/code-security/repository-security-advisories/creating-a-repository-security-advisory.md
  content/code-security/repository-security-advisories/editing-a-repository-security-advisory.md
  content/code-security/repository-security-advisories/index.md
  data/learning-tracks/code-security.yml
  data/reusables/repositories/security-advisory-edit-details.md
Labels: automated-reposync-pr

#21355 repo sync
  translations/es-ES/content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/converting-a-user-into-an-organization.md
  translations/es-ES/content/actions/learn-github-actions/contexts.md
  translations/es-ES/content/actions/managing-workflow-runs/disabling-and-enabling-a-workflow.md
  translations/es-ES/content/actions/managing-workflow-runs/manually-running-a-workflow.md
  translations/es-ES/content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  translations/es-ES/content/actions/monitoring-and-troubleshooting-workflows/viewing-job-execution-time.md
  translations/es-ES/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/configuring-code-scanning-for-your-appliance.md
  translations/es-ES/content/billing/managing-billing-for-github-advanced-security/about-billing-for-github-advanced-security.md
  translations/es-ES/content/billing/managing-billing-for-your-github-account/about-per-user-pricing.md
  translations/es-ES/content/code-security/dependabot/dependabot-alerts/editing-security-advisories-in-the-github-advisory-database.md
  translations/es-ES/content/code-security/guides.md
  translations/es-ES/content/code-security/repository-security-advisories/index.md
  translations/es-ES/content/code-security/secret-scanning/about-secret-scanning.md
  translations/log/msft-es-resets.csv
Labels: automated-reposync-pr

#21356 repo sync
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  lib/webhooks/static/dotcom/merge_group.checks_requested.payload.json
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/converting-a-user-into-an-organization.md
  translations/ja-JP/content/actions/learn-github-actions/contexts.md
  translations/ja-JP/content/actions/managing-workflow-runs/disabling-and-enabling-a-workflow.md
  translations/ja-JP/content/actions/managing-workflow-runs/manually-running-a-workflow.md
  translations/ja-JP/content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  translations/ja-JP/content/actions/monitoring-and-troubleshooting-workflows/viewing-job-execution-time.md
  translations/ja-JP/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/configuring-code-scanning-for-your-appliance.md
  translations/ja-JP/content/billing/managing-billing-for-github-advanced-security/about-billing-for-github-advanced-security.md
  translations/ja-JP/content/billing/managing-billing-for-your-github-account/about-per-user-pricing.md
  translations/ja-JP/content/code-security/dependabot/dependabot-alerts/editing-security-advisories-in-the-github-advisory-database.md
  translations/ja-JP/content/code-security/guides.md
  translations/ja-JP/content/code-security/repository-security-advisories/index.md
  translations/ja-JP/content/code-security/secret-scanning/about-secret-scanning.md
  translations/log/msft-cn-resets.csv
  translations/log/msft-ja-resets.csv
  translations/log/msft-pt-resets.csv
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/converting-a-user-into-an-organization.md
  translations/pt-BR/content/actions/learn-github-actions/contexts.md
  translations/pt-BR/content/actions/managing-workflow-runs/disabling-and-enabling-a-workflow.md
  translations/pt-BR/content/actions/managing-workflow-runs/manually-running-a-workflow.md
  translations/pt-BR/content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  translations/pt-BR/content/actions/monitoring-and-troubleshooting-workflows/viewing-job-execution-time.md
  translations/pt-BR/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/configuring-code-scanning-for-your-appliance.md
  translations/pt-BR/content/billing/managing-billing-for-github-advanced-security/about-billing-for-github-advanced-security.md
  translations/pt-BR/content/billing/managing-billing-for-your-github-account/about-per-user-pricing.md
  translations/pt-BR/content/code-security/dependabot/dependabot-alerts/editing-security-advisories-in-the-github-advisory-database.md
  translations/pt-BR/content/code-security/guides.md
  translations/pt-BR/content/code-security/repository-security-advisories/index.md
  translations/pt-BR/content/code-security/secret-scanning/about-secret-scanning.md
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/converting-a-user-into-an-organization.md
  translations/zh-CN/content/actions/learn-github-actions/contexts.md
  translations/zh-CN/content/actions/managing-workflow-runs/disabling-and-enabling-a-workflow.md
  translations/zh-CN/content/actions/managing-workflow-runs/manually-running-a-workflow.md
  translations/zh-CN/content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  translations/zh-CN/content/actions/monitoring-and-troubleshooting-workflows/viewing-job-execution-time.md
  translations/zh-CN/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/configuring-code-scanning-for-your-appliance.md
  translations/zh-CN/content/admin/overview/about-github-for-enterprises.md
  translations/zh-CN/content/billing/managing-billing-for-github-advanced-security/about-billing-for-github-advanced-security.md
  translations/zh-CN/content/billing/managing-billing-for-your-github-account/about-per-user-pricing.md
  translations/zh-CN/content/code-security/dependabot/dependabot-alerts/editing-security-advisories-in-the-github-advisory-database.md
  translations/zh-CN/content/code-security/guides.md
  translations/zh-CN/content/code-security/repository-security-advisories/index.md
  translations/zh-CN/content/code-security/secret-scanning/about-secret-scanning.md
Labels: automated-reposync-pr

#21359 repo sync
  assets/images/help/education/click-get-student-benefits.png
  assets/images/help/education/click-get-teacher-benefits.png
  assets/images/help/education/submit-your-information-button.png
  assets/images/help/education/upload-image-link.png
  assets/images/help/education/upload-proof-status.png
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-students/apply-to-github-global-campus-as-a-student.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-teachers/apply-to-github-global-campus-as-a-teacher.md
  data/reusables/education/benefits-page.md
  data/reusables/education/submit-application.md
  data/reusables/education/upload-proof-status.md
Labels: automated-reposync-pr

#21345 Update locking-conversations.md
  content/communities/moderating-comments-and-conversations/locking-conversations.md
Labels: content, waiting for review, communities

#21328 Remove .v3 from accept header examples.
  content/rest/guides/getting-started-with-the-rest-api.md
  content/rest/quickstart.md
Labels: content, ready to merge, waiting for review, rest

#21384 repo sync
  translations/es-ES/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/es-ES/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-students/apply-to-github-global-campus-as-a-student.md
  translations/es-ES/content/education/manage-coursework-with-github-classroom/get-started-with-github-classroom/glossary.md
  translations/es-ES/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/connect-a-learning-management-system-to-github-classroom.md
  translations/es-ES/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-a-group-assignment.md
  translations/es-ES/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/index.md
  translations/es-ES/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/manage-classrooms.md
  translations/es-ES/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/use-the-git-and-github-starter-assignment.md
  translations/es-ES/content/rest/guides/getting-started-with-the-rest-api.md
  translations/es-ES/data/reusables/education/submit-application.md
  translations/es-ES/data/variables/product.yml
  translations/ja-JP/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/ja-JP/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-students/apply-to-github-global-campus-as-a-student.md
  translations/ja-JP/content/education/manage-coursework-with-github-classroom/get-started-with-github-classroom/glossary.md
  translations/ja-JP/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/connect-a-learning-management-system-to-github-classroom.md
  translations/ja-JP/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-a-group-assignment.md
  translations/ja-JP/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/index.md
  translations/ja-JP/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/manage-classrooms.md
  translations/ja-JP/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/use-the-git-and-github-starter-assignment.md
  translations/ja-JP/content/rest/guides/getting-started-with-the-rest-api.md
  translations/ja-JP/data/reusables/education/submit-application.md
  translations/ja-JP/data/variables/product.yml
  translations/log/msft-es-resets.csv
  translations/log/msft-ja-resets.csv
  translations/log/msft-pt-resets.csv
  translations/pt-BR/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/pt-BR/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-students/apply-to-github-global-campus-as-a-student.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/get-started-with-github-classroom/glossary.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/connect-a-learning-management-system-to-github-classroom.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-a-group-assignment.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/index.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/manage-classrooms.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/use-the-git-and-github-starter-assignment.md
  translations/pt-BR/content/rest/guides/getting-started-with-the-rest-api.md
  translations/pt-BR/data/reusables/education/submit-application.md
  translations/pt-BR/data/variables/product.yml
Labels: automated-reposync-pr

#21398 repo sync
  translations/log/msft-cn-resets.csv
  translations/zh-CN/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/zh-CN/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-students/apply-to-github-global-campus-as-a-student.md
  translations/zh-CN/content/education/manage-coursework-with-github-classroom/get-started-with-github-classroom/glossary.md
  translations/zh-CN/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/connect-a-learning-management-system-to-github-classroom.md
  translations/zh-CN/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-a-group-assignment.md
  translations/zh-CN/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/index.md
  translations/zh-CN/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/manage-classrooms.md
  translations/zh-CN/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/use-the-git-and-github-starter-assignment.md
  translations/zh-CN/content/rest/guides/getting-started-with-the-rest-api.md
  translations/zh-CN/data/reusables/education/submit-application.md
  translations/zh-CN/data/variables/product.yml
Labels: automated-reposync-pr

#21401 repo sync
  content/actions/creating-actions/creating-a-composite-action.md
  content/actions/creating-actions/creating-a-docker-container-action.md
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-amazon-elastic-container-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-php-to-azure-app-service.md
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-cloud-providers.md
  content/actions/examples/using-the-github-cli-on-a-runner.md
  content/actions/hosting-your-own-runners/running-scripts-before-or-after-a-job.md
  content/actions/learn-github-actions/contexts.md
  content/actions/learn-github-actions/expressions.md
  content/actions/using-workflows/reusing-workflows.md
  content/actions/using-workflows/workflow-commands-for-github-actions.md
  data/reusables/actions/jobs/section-defining-outputs-for-jobs.md
Labels: automated-reposync-pr

#18833 Add necessary bits to install and enable copilot.
  content/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-neovim.md
  data/reusables/copilot/config-enable-copilot-in-neovim.md
  data/reusables/copilot/install-copilot-in-neovim.md
Labels: content, waiting for review, copilot

#21412 repo sync
  components/ClientSideRefresh.tsx
  components/landing/TableOfContents.tsx
Labels: automated-reposync-pr

#21413 repo sync
  .github/workflows/azure-preview-env-deploy.yml
  .github/workflows/azure-prod-build-deploy.yml
  .github/workflows/azure-staging-build-deploy.yml
  .github/workflows/main-preview-docker-cache.yml
Labels: automated-reposync-pr

#21416 repo sync
  package-lock.json
  package.json
Labels: automated-reposync-pr

#21417 repo sync
  tests/linting/lint-files.js
Labels: automated-reposync-pr

#21418 repo sync
  .github/workflows/azure-prod-build-deploy.yml
  .github/workflows/azure-staging-build-deploy.yml
  .github/workflows/browser-test.yml
  .github/workflows/check-all-english-links.yml
  .github/workflows/check-broken-links-github-github.yml
  .github/workflows/code-lint.yml
  .github/workflows/content-changes-table-comment.yml
  .github/workflows/docs-review-collect.yml
  .github/workflows/enterprise-dates.yml
  .github/workflows/enterprise-release-sync-search-index.yml
  .github/workflows/link-check-all.yml
  .github/workflows/msft-create-translation-batch-pr.yml
  .github/workflows/open-enterprise-issue.yml
  .github/workflows/openapi-decorate.yml
  .github/workflows/openapi-schema-check.yml
  .github/workflows/orphaned-assets-check.yml
  .github/workflows/os-ready-for-review.yml
  .github/workflows/package-lock-lint.yml
  .github/workflows/ready-for-doc-review.yml
  .github/workflows/remove-unused-assets.yml
  .github/workflows/repo-sync.yml
  .github/workflows/sync-search-elasticsearch.yml
  .github/workflows/sync-search-indices.yml
  .github/workflows/sync-search-pr.yml
  .github/workflows/test.yml
  .github/workflows/triage-unallowed-internal-changes.yml
  .github/workflows/update-graphql-files.yml
  components/article/PlatformPicker.tsx
  components/article/ToolPicker.tsx
  content/rest/guides/getting-started-with-the-rest-api.md
  content/rest/quickstart.md
Labels: automated-reposync-pr

#21421 repo sync
  lib/check-if-next-version-only.js
  lib/redirects/permalinks.js
Labels: automated-reposync-pr

#21313 Update valid-community-issues.md list of required keys
  data/reusables/repositories/valid-community-issues.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review, repositories

#21425 repo sync
  translations/log/msft-cn-resets.csv
  translations/zh-CN/content/actions/creating-actions/creating-a-composite-action.md
  translations/zh-CN/content/actions/creating-actions/creating-a-docker-container-action.md
  translations/zh-CN/content/actions/creating-actions/metadata-syntax-for-github-actions.md
  translations/zh-CN/content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-amazon-elastic-container-service.md
  translations/zh-CN/content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-php-to-azure-app-service.md
  translations/zh-CN/content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-cloud-providers.md
  translations/zh-CN/content/actions/examples/using-the-github-cli-on-a-runner.md
  translations/zh-CN/content/actions/hosting-your-own-runners/running-scripts-before-or-after-a-job.md
  translations/zh-CN/content/actions/learn-github-actions/contexts.md
  translations/zh-CN/content/actions/learn-github-actions/expressions.md
  translations/zh-CN/content/actions/using-workflows/reusing-workflows.md
  translations/zh-CN/content/actions/using-workflows/workflow-commands-for-github-actions.md
  translations/zh-CN/content/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-neovim.md
  translations/zh-CN/content/rest/guides/getting-started-with-the-rest-api.md
  translations/zh-CN/data/reusables/actions/jobs/section-defining-outputs-for-jobs.md
  translations/zh-CN/data/reusables/copilot/install-copilot-in-neovim.md
Labels: automated-reposync-pr

#21422 Fix nesting reusable workflows link
  content/actions/using-workflows/reusing-workflows.md
Labels: content, waiting for review

#21430 repo sync
  components/context/MainContext.tsx
  components/homepage/ProductSelectionCard.tsx
  components/homepage/ProductSelections.tsx
  middleware/context.js
  middleware/contextualizers/product-groups.js
  middleware/index.js
  pages/index.tsx
  tests/rendering/homepage.js
Labels: automated-reposync-pr

#21426 Grammar fixes update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: content, contributing docs, waiting for review

#21433 repo sync
  .github/actions/lib/action-context.js
  .github/actions/lib/debug-time-taken.js
  .github/actions/lib/get-env-inputs.js
  .github/actions/lib/upload-artifact.js
  .github/actions/rendered-content-link-checker.js
  .github/workflows/azure-preview-env-deploy.yml
  .github/workflows/azure-preview-env-destroy.yml
  .github/workflows/browser-test.yml
  .github/workflows/check-all-english-links.yml
  .github/workflows/code-lint.yml
  .github/workflows/content-changes-table-comment.yml
  .github/workflows/link-check-all.yml
  .github/workflows/link-check-daily.yml
  .github/workflows/link-check-on-pr.yml
  .github/workflows/no-response.yaml
  .github/workflows/package-lock-lint.yml
  .github/workflows/sync-search-pr.yml
  .github/workflows/test.yml
  .gitignore
  content/developers/overview/about-githubs-apis.md
  lib/excluded-links.js
  middleware/categories-for-support.js
  package-lock.json
  script/check-english-links.js
  script/copy-to-test-repo.sh
  script/helpers/action-injections.js
  script/rendered-content-link-checker.js
  script/rest/update-files.js
  script/rest/utils/decorator.js
  tests/helpers/action-mocks.js
  tests/rendering/server.js
Labels: automated-reposync-pr

#21434 repo sync
  script/rest/update-files.js
Labels: automated-reposync-pr

#21325 removes 'choice' option for workflow_call type
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions, waiting for review

#21353 fix: Update workflow commands table for env files
  content/actions/using-workflows/workflow-commands-for-github-actions.md
Labels: content, actions, waiting for review

#21377 Update readme sample in creating-a-javascript-action.md
  content/actions/creating-actions/creating-a-javascript-action.md
Labels: content, actions, waiting for review

#21117 workflow_dispatch: Document that ref can be a tag
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: content, actions, hacktoberfest-accepted, ready to merge, waiting for review

#21449 repo sync
  content/rest/codespaces/codespaces.md
Labels: automated-reposync-pr

#21450 repo sync
  assets/images/help/projects-v2/board-add-column.png
  assets/images/help/projects-v2/board-select-columns.png
  assets/images/help/projects-v2/field-sum-menu.png
  assets/images/help/projects-v2/field-sum-select-field.png
  content/issues/planning-and-tracking-with-projects/customizing-views-in-your-project/customizing-a-view.md
  data/features/projects-v2-column-visibility.yml
  data/features/projects-v2-numeric-summary.yml
Labels: automated-reposync-pr

#21451 Add missing `{` to fix variable
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
Labels: content, waiting for review

#21456 repo sync
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-azure.md
Labels: automated-reposync-pr

#21299 Update connecting-your-identity-provider-to-your-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/connecting-your-identity-provider-to-your-organization.md
Labels: content, enterprise, waiting for review, organizations

#21458 repo sync
  content/actions/using-github-hosted-runners/about-github-hosted-runners.md
  content/actions/using-github-hosted-runners/using-larger-runners.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  content/site-policy/acceptable-use-policies/github-acceptable-use-policies.md
  data/features/code-security-audit-log-events.yml
  data/reusables/audit_log/audit-log-action-categories.md
  tests/rendering/robots-txt.js
  tests/rendering/server.js
Labels: automated-reposync-pr

#21460 repo sync
  content/code-security/secret-scanning/about-secret-scanning.md
  data/features/secret-scanning-ghas-store-tokens.yml
  data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/graphql_upcoming_changes.public.yml
  data/graphql/ghec/schema.docs.graphql
  data/graphql/graphql_upcoming_changes.public.yml
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
  lib/graphql/static/upcoming-changes.json
Labels: automated-reposync-pr

#21461 repo sync
  lib/constants.js
  lib/languages.js
  lib/page-data.js
  script/check-github-github-links.js
Labels: automated-reposync-pr

#21463 webhooks/workflow_dispatch: Document that ref can be a tag
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
Labels: content, triage, hacktoberfest-accepted, waiting for review

#21466 repo sync
  middleware/categories-for-support.js
  script/content-migrations/convert-if-to-ifversion.js
Labels: automated-reposync-pr

#21468 repo sync
  content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
  data/reusables/actions/use-request-body-api.md
Labels: automated-reposync-pr
