Repository github/docs, pull requests merged in 2022-03, with the labels that each got.

#15854 docs: fix whitespace templating issue in github table
  content/actions/learn-github-actions/contexts.md
Labels: content, actions, ready to merge

#15454 fix: add a note clarifying the required permissions for syncing a fork
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/syncing-a-fork.md
Labels: content, waiting for review, MLH fellowship

#15964 repo sync
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/about-github-actions-for-enterprises.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/introducing-github-actions-to-your-enterprise.md
  content/billing/managing-your-github-billing-settings/setting-your-billing-email.md
  data/reusables/actions/ghes-actions-not-enabled-by-default.md
Labels: triage, automated-reposync-pr

#15970 repo sync
  content/actions/using-workflows/triggering-a-workflow.md
Labels: triage, automated-reposync-pr

#15830 Update error-permission-denied-publickey.md
  content/authentication/troubleshooting-ssh/error-permission-denied-publickey.md
Labels: content, ready to merge, authentication

#15481 Use valid reusable workflow paths in example yml
  content/actions/using-workflows/reusing-workflows.md
Labels: content, actions, ready to merge, waiting for review

#15505 Add GitHub CLI explanation in syncing-a-fork.md
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/syncing-a-fork.md
Labels: content, ready to merge

#15841 Add vertical bars("|") to the missing points
  content/actions/learn-github-actions/contexts.md
Labels: content, actions, ready to merge

#15990 repo sync
  assets/images/help/business-accounts/change-role-in-org.png
  assets/images/help/business-accounts/remove-member.png
  content/admin/overview/about-enterprise-accounts.md
  content/admin/user-management/managing-organizations-in-your-enterprise/index.md
  content/admin/user-management/managing-organizations-in-your-enterprise/managing-your-role-in-an-organization-owned-by-your-enterprise.md
  content/admin/user-management/managing-users-in-your-enterprise/index.md
  content/admin/user-management/managing-users-in-your-enterprise/removing-a-member-from-your-enterprise.md
  content/admin/user-management/managing-users-in-your-enterprise/roles-in-an-enterprise.md
  content/organizations/managing-membership-in-your-organization/removing-a-member-from-your-organization.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/maintaining-ownership-continuity-for-your-organization.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/about-scim.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/troubleshooting-identity-and-access-management.md
  data/features/enterprise-owner-join-org.yml
  data/features/remove-enterprise-members.yml
  data/reusables/scim/changes-should-come-from-idp.md
Labels: triage, automated-reposync-pr

#15998 repo sync
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#15535 Add remote repository to git push commands
  content/pull-requests/committing-changes-to-your-project/creating-and-editing-commits/changing-a-commit-message.md
Labels: content, ready to merge, waiting for review

#13644 GitHub Pages: clarify when user action is required
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/about-custom-domains-and-github-pages.md
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
Labels: content, ready to merge, sme approved

#15719 Added explanation about hashFiles returning an empty string
  content/actions/learn-github-actions/expressions.md
Labels: content, actions, ready to merge

#15986 Fix outdated URL for the ca-certificates package
  content/authentication/managing-commit-signature-verification/about-commit-signature-verification.md
Labels: content, ready to merge, waiting for review, authentication

#15622 Add warning about env vars defined via others
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions, waiting for review

#16031 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
  includes/rest_operations_at_current_path.html
Labels: triage, automated-reposync-pr

#16042 repo sync
  .github/workflows/openapi-decorate.yml
Labels: triage, automated-reposync-pr

#16049 repo sync
  content/actions/creating-actions/sharing-actions-and-workflows-with-your-enterprise.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  lib/liquid-tags/data.js
  lib/liquid-tags/error-handling.js
  lib/liquid-tags/indented-data-reference.js
  tests/fixtures/liquid-tags/bad-data-variable.md
  tests/fixtures/liquid-tags/good-data-variable.md
  tests/unit/liquid-tags/data.js
  tests/unit/page.js
  tests/unit/toc-links.js
  translations/pt-BR/content/actions/learn-github-actions/expressions.md
  translations/pt-BR/content/admin/github-actions/managing-access-to-actions-from-githubcom/about-using-actions-in-your-enterprise.md
  translations/pt-BR/content/authentication/managing-commit-signature-verification/about-commit-signature-verification.md
  translations/pt-BR/content/pages/configuring-a-custom-domain-for-your-github-pages-site/about-custom-domains-and-github-pages.md
  translations/pt-BR/content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
  translations/pt-BR/content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/filtering-files-in-a-pull-request.md
  translations/pt-BR/content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/reviewing-proposed-changes-in-a-pull-request.md
  translations/pt-BR/content/pull-requests/committing-changes-to-your-project/creating-and-editing-commits/changing-a-commit-message.md
  translations/pt-BR/data/features/pr-tree-view.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-1/18.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-2/10.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/18.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/5.yml
  translations/pt-BR/data/reusables/dependabot/beta-security-and-version-updates-onboarding.md
  translations/pt-BR/data/reusables/dependabot/beta-security-and-version-updates.md
  translations/pt-BR/data/reusables/saml/authorized-creds-info.md
Labels: triage, automated-reposync-pr

#16055 repo sync
  components/page-header/LanguagePicker.tsx
  content/admin/configuration/configuring-github-connect/enabling-automatic-user-license-sync-for-your-enterprise.md
  content/billing/managing-your-license-for-github-enterprise/syncing-license-usage-between-github-enterprise-server-and-github-enterprise-cloud.md
  data/reusables/enterprise-licensing/about-license-sync.md
  data/reusables/enterprise-licensing/verified-domains-license-sync.md
  data/reusables/enterprise-licensing/view-consumed-licenses.md
  lib/get-redirect.js
  lib/page-data.js
  middleware/detect-language.js
  middleware/redirects/handle-redirects.js
  tests/rendering/pages-with-learning-tracks.js
  tests/routing/redirects.js
  tests/unit/get-redirect.js
Labels: triage, automated-reposync-pr

#16100 repo sync
  translations/ja-JP/content/packages/learn-github-packages/about-permissions-for-github-packages.md
  translations/ja-JP/content/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility.md
  translations/log/cn-resets.csv
  translations/zh-CN/content/account-and-profile/managing-subscriptions-and-notifications-on-github/managing-subscriptions-for-activity-on-github/viewing-your-subscriptions.md
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/managing-security-and-analysis-settings-for-your-user-account.md
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/permission-levels-for-a-user-account-repository.md
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-your-membership-in-organizations/viewing-peoples-roles-in-an-organization.md
  translations/zh-CN/content/actions/creating-actions/creating-a-docker-container-action.md
  translations/zh-CN/content/actions/creating-actions/creating-a-javascript-action.md
  translations/zh-CN/content/actions/creating-actions/metadata-syntax-for-github-actions.md
  translations/zh-CN/content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  translations/zh-CN/content/actions/learn-github-actions/understanding-github-actions.md
  translations/zh-CN/content/actions/using-workflows/workflow-syntax-for-github-actions.md
  translations/zh-CN/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-self-hosted-runners-for-your-enterprise.md
  translations/zh-CN/content/code-security/getting-started/github-security-features.md
  translations/zh-CN/content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  translations/zh-CN/content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  translations/zh-CN/content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
  translations/zh-CN/content/code-security/security-overview/about-the-security-overview.md
  translations/zh-CN/content/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository.md
  translations/zh-CN/content/codespaces/managing-codespaces-for-your-organization/enabling-codespaces-for-your-organization.md
  translations/zh-CN/content/developers/apps/building-github-apps/creating-a-github-app-from-a-manifest.md
  translations/zh-CN/content/developers/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps.md
  translations/zh-CN/content/developers/apps/building-github-apps/refreshing-user-to-server-access-tokens.md
  translations/zh-CN/content/developers/apps/building-oauth-apps/authorizing-oauth-apps.md
  translations/zh-CN/content/developers/apps/building-oauth-apps/scopes-for-oauth-apps.md
  translations/zh-CN/content/developers/apps/getting-started-with-apps/activating-optional-features-for-apps.md
  translations/zh-CN/content/get-started/onboarding/getting-started-with-github-enterprise-cloud.md
  translations/zh-CN/content/github-cli/github-cli/creating-github-cli-extensions.md
  translations/zh-CN/content/github-cli/github-cli/using-github-cli-extensions.md
  translations/zh-CN/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
  translations/zh-CN/content/packages/learn-github-packages/about-permissions-for-github-packages.md
  translations/zh-CN/content/repositories/creating-and-managing-repositories/transferring-a-repository.md
  translations/zh-CN/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/index.md
  translations/zh-CN/content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  translations/zh-CN/content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/configuring-autolinks-to-reference-external-resources.md
  translations/zh-CN/content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/setting-repository-visibility.md
  translations/zh-CN/content/rest/overview/endpoints-available-for-github-apps.md
  translations/zh-CN/content/rest/reference/secret-scanning.md
  translations/zh-CN/data/reusables/actions/jobs/section-using-conditions-to-control-job-execution.md
  translations/zh-CN/data/reusables/actions/runner-group-assign-policy-repo.md
  translations/zh-CN/data/reusables/actions/self-hosted-runner-add-to-enterprise.md
  translations/zh-CN/data/reusables/apps/optional_feature_activation.md
  translations/zh-CN/data/reusables/docs/you-can-read-docs-for-your-product.md
Labels: triage, automated-reposync-pr

#16117 repo sync
  .github/workflows/azure-prod-build-deploy.yml
  assets/images/help/business-accounts/remove-admin.png
  assets/images/help/repository/add-tag-protection-rule.png
  assets/images/help/repository/new-tag-protection-rule.png
  assets/images/help/repository/set-tag-protection-pattern.png
  components/page-header/LanguagePicker.tsx
  content/admin/configuration/configuring-github-connect/managing-github-connect.md
  content/admin/identity-and-access-management/managing-iam-for-your-enterprise/configuring-saml-single-sign-on-for-your-enterprise.md
  content/admin/identity-and-access-management/managing-iam-with-enterprise-managed-users/configuring-saml-single-sign-on-for-enterprise-managed-users.md
  content/admin/identity-and-access-management/managing-iam-with-enterprise-managed-users/configuring-scim-provisioning-for-enterprise-managed-users-with-okta.md
  content/admin/identity-and-access-management/managing-iam-with-enterprise-managed-users/configuring-scim-provisioning-for-enterprise-managed-users.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-security-settings-in-your-enterprise.md
  content/admin/user-management/managing-users-in-your-enterprise/inviting-people-to-manage-your-enterprise.md
  content/billing/managing-billing-for-your-github-account/downgrading-your-github-subscription.md
  content/billing/managing-licenses-for-visual-studio-subscriptions-with-github-enterprise/setting-up-visual-studio-subscriptions-with-github-enterprise.md
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-allowed-ip-addresses-for-your-organization.md
  content/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-custom-repository-roles-for-an-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/enabling-and-testing-saml-single-sign-on-for-your-organization.md
  content/packages/index.md
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/configuring-tag-protection-rules.md
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/index.md
  data/reusables/identity-and-permissions/ip-allow-lists-example-and-restrictions.md
  data/reusables/saml/cannot-update-existing-saml-settings.md
  data/reusables/scim/emu-scim-rate-limit.md
  lib/get-redirect.js
  middleware/detect-language.js
  middleware/redirects/handle-redirects.js
  tests/rendering/server.js
  tests/routing/redirects.js
  tests/unit/get-redirect.js
Labels: triage, automated-reposync-pr

#16120 repo sync
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#16114 Remove docker registry URL from the intro line
  content/packages/working-with-a-github-packages-registry/working-with-the-docker-registry.md
Labels: content, ready to merge

#16121 repo sync
  assets/images/help/repository/dependabot-alerts-closed.png
  assets/images/help/repository/dependabot-alerts-select-closed-alert.png
  assets/images/help/repository/reopen-dismissed-alert.png
  content/code-security/supply-chain-security/managing-vulnerabilities-in-your-projects-dependencies/viewing-and-updating-vulnerable-dependencies-in-your-repository.md
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/configuring-tag-protection-rules.md
  data/features/reopen-dependabot-alerts.yml
  data/reusables/gated-features/tag-protection-rules.md
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#15833 Add note for missing sso contributions
  content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-graphs-on-your-profile/why-are-my-contributions-not-showing-up-on-my-profile.md
Labels: content, ready to merge

#14910 head_ref_force_pushed event documentation
  content/developers/webhooks-and-events/events/issue-event-types.md
Labels: content, waiting for review

#15991 Clarify product tier requirement
  content/organizations/organizing-members-into-teams/managing-code-review-settings-for-your-team.md
Labels: content, ready to merge

#16052 Edit content for consistency
  content/pages/getting-started-with-github-pages/about-github-pages.md
Labels: content, ready to merge, pages

#16046 Replace localhost with 127.0.0.1 in OAuth examples
  content/rest/guides/basics-of-authentication.md
Labels: content, ready to merge, waiting for review, rest

#16019 Update duplicating-a-repository.md
  content/repositories/creating-and-managing-repositories/duplicating-a-repository.md
Labels: content, ready to merge, waiting for review, repositories

#15310 Document optional install [user] argument
  content/actions/hosting-your-own-runners/configuring-the-self-hosted-runner-application-as-a-service.md
Labels: content, actions, ready to merge

#16155 repo sync
  .github/workflows/azure-preview-env-deploy.yml
  .github/workflows/move-ready-to-merge-pr.yaml
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/recovering-your-account-if-you-lose-your-2fa-credentials.md
  content/code-security/guides.md
  content/code-security/index.md
  content/organizations/managing-access-to-your-organizations-repositories/adding-outside-collaborators-to-repositories-in-your-organization.md
  content/organizations/managing-access-to-your-organizations-repositories/viewing-people-with-access-to-your-repository.md
  content/organizations/managing-organization-settings/setting-permissions-for-adding-outside-collaborators.md
  data/learning-tracks/code-security.yml
  data/product-examples/code-security/code-examples.yml
  data/reusables/accounts/you-must-know-your-password.md
  data/reusables/gated-features/restrict-add-collaborator.md
  data/reusables/getting-started/managing-org-policies.md
  lib/enterprise-server-releases.js
  lib/get-redirect.js
  lib/redirects/static/redirect-exceptions.txt
  middleware/archived-enterprise-versions.js
  tests/linting/lint-files.js
  tests/routing/deprecated-enterprise-versions.js
  tests/unit/get-redirect.js
Labels: triage, automated-reposync-pr

#16025 Correct link for reviewing dependency changes in a pull request
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/reviewing-proposed-changes-in-a-pull-request.md
Labels: content, ready to merge

#15482 Explain that GITHUB_SHA may not always be the commit that was pushed
  content/actions/learn-github-actions/environment-variables.md
Labels: content, actions, ready to merge

#15503 Adds github.action_status to available contexts
  content/actions/learn-github-actions/contexts.md
Labels: content, actions, ready to merge

#16164 repo sync
  components/lib/events.ts
  components/rest/CodeBlock.tsx
  components/rest/RestCodeSamples.tsx
  contributing/content-style-guide.md
  data/ui.yml
Labels: triage, automated-reposync-pr

#16174 docs: change `tag-ignore` to `tags-ignore`
  data/reusables/actions/workflows/section-run-on-specific-branches-or-tags.md
Labels: content, actions, waiting for review

#15973 Pricing calculator new urls
  content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
  content/billing/managing-billing-for-github-codespaces/about-billing-for-codespaces.md
  content/billing/managing-billing-for-github-packages/about-billing-for-github-packages.md
  data/reusables/dotcom_billing/pricing_cal.md
  data/reusables/dotcom_billing/pricing_calculator/pricing_cal_actions.md
  data/reusables/dotcom_billing/pricing_calculator/pricing_cal_codespaces.md
  data/reusables/dotcom_billing/pricing_calculator/pricing_cal_packages.md
Labels: content, ready to merge, billing

#16028 Workflow boolean input example
  content/actions/learn-github-actions/contexts.md
  data/reusables/actions/workflow-dispatch-inputs.md
Labels: content, actions, ready to merge, waiting for review

#16057 Fixed duplicate/double "which" in leading paragraph
  content/code-security/security-overview/about-the-security-overview.md
Labels: content, ready to merge, code security

#15975 reduce max_old_space_size for jest tests
  package.json
Labels: triage

#16167 Python versions in github action YAML examples should be type string, not float
  components/playground/content/actions/guides/building-and-testing-nodejs-or-python/python.tsx
Labels: engineering, ready to merge, playground

#16153 Add in more copy options to make it easier for the user
  content/actions/creating-actions/creating-a-javascript-action.md
Labels: content, actions, ready to merge

#16172 repo sync
  assets/images/help/issues/burnup-example.png
  assets/images/help/issues/iteration-insert-break.png
  assets/images/help/issues/iterations-example.png
  components/rest/RestCodeSamples.tsx
  components/sidebar/SidebarProduct.tsx
  content/actions/deployment/about-deployments/index.md
  content/actions/deployment/deploying-xcode-applications/index.md
  content/actions/deployment/managing-your-deployments/index.md
  content/actions/deployment/targeting-different-environments/index.md
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  content/actions/security-guides/security-hardening-for-github-actions.md
  content/actions/using-workflows/reusing-workflows.md
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  content/codespaces/managing-codespaces-for-your-organization/enabling-codespaces-for-your-organization.md
  content/developers/apps/building-github-apps/managing-allowed-ip-addresses-for-a-github-app.md
  content/issues/trying-out-the-new-projects-experience/about-projects.md
  content/issues/trying-out-the-new-projects-experience/best-practices-for-managing-projects.md
  content/issues/trying-out-the-new-projects-experience/creating-a-project.md
  content/issues/trying-out-the-new-projects-experience/customizing-your-project-views.md
  content/issues/trying-out-the-new-projects-experience/filtering-projects.md
  content/issues/trying-out-the-new-projects-experience/index.md
  content/issues/trying-out-the-new-projects-experience/managing-iterations.md
  content/issues/trying-out-the-new-projects-experience/using-insights-with-projects.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-allowed-ip-addresses-for-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/reviewing-dependency-changes-in-a-pull-request.md
  data/features/restrict-groups-to-workflows.yml
  data/reusables/actions/restrict-runner-workflow-beta.md
  data/reusables/actions/runner-group-assign-policy-org.md
  data/reusables/actions/runner-group-assign-policy-repo.md
  data/reusables/actions/runner-group-assign-policy-workflow.md
  data/reusables/actions/self-hosted-runner-configure-runner-group-access.md
  data/reusables/actions/self-hosted-runner-configure-runner-group.md
  data/reusables/gated-features/allowed-ip-addresses.md
  data/reusables/gated-features/dependency-review.md
  data/reusables/projects/insights-alpha.md
  data/reusables/projects/projects-filters.md
  lib/redirects/static/redirect-exceptions.txt
  middleware/contextualizers/breadcrumbs.js
Labels: triage, automated-reposync-pr

#16196 repo sync
  .github/actions-scripts/enterprise-server-issue-templates/deprecation-issue.md
  lib/rest/index.js
  pages/[versionId]/rest/reference/[category].tsx
  tests/rendering/rest.js
  tests/unit/openapi-schema.js
Labels: triage, automated-reposync-pr

#16198 repo sync
  .pa11yci
  content/get-started/importing-your-projects-to-github/importing-source-code-to-github/adding-locally-hosted-code-to-github.md
  content/get-started/importing-your-projects-to-github/importing-source-code-to-github/index.md
  content/index.md
  content/repositories/working-with-files/managing-files/adding-a-file-to-a-repository.md
Labels: triage, automated-reposync-pr

#16248 repo sync
  content/pull-requests/index.md
Labels: triage, automated-reposync-pr

#16191 minor grammatical correction
  content/authentication/managing-commit-signature-verification/signing-tags.md
Labels: content, ready to merge

#16258 repo sync
  translations/es-ES/content/actions/deployment/about-deployments/deploying-with-github-actions.md
  translations/es-ES/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/es-ES/content/actions/hosting-your-own-runners/monitoring-and-troubleshooting-self-hosted-runners.md
  translations/es-ES/content/authentication/managing-commit-signature-verification/signing-tags.md
  translations/es-ES/content/pull-requests/index.md
  translations/es-ES/data/reusables/actions/cd-templates-actions.md
Labels: triage, automated-reposync-pr

#16259 repo sync
  translations/log/cn-resets.csv
  translations/pt-BR/content/actions/deployment/about-deployments/deploying-with-github-actions.md
  translations/pt-BR/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/pt-BR/content/actions/hosting-your-own-runners/monitoring-and-troubleshooting-self-hosted-runners.md
  translations/pt-BR/content/authentication/managing-commit-signature-verification/signing-tags.md
  translations/pt-BR/content/pull-requests/index.md
  translations/pt-BR/data/reusables/actions/cd-templates-actions.md
  translations/zh-CN/content/actions/automating-builds-and-tests/building-and-testing-java-with-ant.md
  translations/zh-CN/content/actions/automating-builds-and-tests/building-and-testing-java-with-gradle.md
  translations/zh-CN/content/actions/automating-builds-and-tests/building-and-testing-java-with-maven.md
  translations/zh-CN/content/actions/automating-builds-and-tests/building-and-testing-net.md
  translations/zh-CN/content/actions/automating-builds-and-tests/building-and-testing-nodejs.md
  translations/zh-CN/content/actions/automating-builds-and-tests/building-and-testing-python.md
  translations/zh-CN/content/actions/automating-builds-and-tests/building-and-testing-ruby.md
  translations/zh-CN/content/actions/automating-builds-and-tests/building-and-testing-swift.md
  translations/zh-CN/content/actions/automating-builds-and-tests/index.md
  translations/zh-CN/content/actions/deployment/about-deployments/deploying-with-github-actions.md
  translations/zh-CN/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/zh-CN/content/actions/hosting-your-own-runners/monitoring-and-troubleshooting-self-hosted-runners.md
  translations/zh-CN/content/actions/learn-github-actions/usage-limits-billing-and-administration.md
  translations/zh-CN/content/actions/managing-issues-and-pull-requests/index.md
  translations/zh-CN/content/actions/publishing-packages/index.md
  translations/zh-CN/content/actions/publishing-packages/publishing-docker-images.md
  translations/zh-CN/content/actions/publishing-packages/publishing-java-packages-with-gradle.md
  translations/zh-CN/content/actions/publishing-packages/publishing-nodejs-packages.md
  translations/zh-CN/content/actions/security-guides/automatic-token-authentication.md
  translations/zh-CN/content/actions/security-guides/security-hardening-for-github-actions.md
  translations/zh-CN/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/zh-CN/content/authentication/managing-commit-signature-verification/signing-tags.md
  translations/zh-CN/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/migrating-from-the-codeql-runner-to-codeql-cli.md
  translations/zh-CN/content/pull-requests/index.md
  translations/zh-CN/content/search-github/getting-started-with-searching-on-github/about-searching-on-github.md
  translations/zh-CN/data/reusables/actions/cd-templates-actions.md
  translations/zh-CN/data/reusables/advanced-security/starter-workflow-overview.md
Labels: triage, automated-reposync-pr

#16263 repo sync
  translations/ja-JP/content/actions/deployment/about-deployments/deploying-with-github-actions.md
  translations/ja-JP/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/ja-JP/content/actions/hosting-your-own-runners/monitoring-and-troubleshooting-self-hosted-runners.md
  translations/ja-JP/content/authentication/managing-commit-signature-verification/signing-tags.md
  translations/ja-JP/content/issues/trying-out-the-new-projects-experience/managing-iterations.md
  translations/ja-JP/content/issues/trying-out-the-new-projects-experience/using-insights-with-projects.md
  translations/ja-JP/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-allowed-ip-addresses-for-your-organization.md
  translations/ja-JP/content/pull-requests/index.md
  translations/ja-JP/content/rest/guides/index.md
  translations/ja-JP/content/rest/guides/rendering-data-as-graphs.md
  translations/ja-JP/content/rest/guides/traversing-with-pagination.md
  translations/ja-JP/content/rest/guides/working-with-comments.md
  translations/ja-JP/content/rest/overview/endpoints-available-for-github-apps.md
  translations/ja-JP/content/rest/overview/other-authentication-methods.md
  translations/ja-JP/content/rest/overview/resources-in-the-rest-api.md
  translations/ja-JP/data/reusables/actions/cd-templates-actions.md
Labels: triage, automated-reposync-pr

#16264 repo sync
  content/github/site-policy/github-acceptable-use-policies.md
  content/github/site-policy/github-active-malware-or-exploits.md
  content/github/site-policy/github-bullying-and-harassment.md
  content/github/site-policy/github-community-forum-code-of-conduct.md
  content/github/site-policy/github-community-guidelines.md
  content/github/site-policy/github-disrupting-the-experience-of-other-users.md
  content/github/site-policy/github-doxxing-and-invasion-of-privacy.md
  content/github/site-policy/github-hate-speech-and-discrimination.md
  content/github/site-policy/github-impersonation.md
  content/github/site-policy/github-misinformation-and-disinformation.md
  content/github/site-policy/github-sexually-obscene-content.md
  content/github/site-policy/github-threats-of-violence-and-gratuitously-violent-content.md
  content/github/site-policy/index.md
Labels: triage, automated-reposync-pr

#16265 repo sync
  .github/workflows/azure-preview-env-deploy.yml
  .github/workflows/link-check-all.yml
  .github/workflows/orphaned-assets-check.yml
  .github/workflows/repo-freeze-check.yml
  .github/workflows/test.yml
  .github/workflows/triage-unallowed-internal-changes.yml
Labels: triage, automated-reposync-pr

#16183 Update about-github-marketplace.md - Fixing link
  content/developers/github-marketplace/github-marketplace-overview/about-github-marketplace.md
Labels: content, ready to merge

#16139 Remove RSA from fingerprint page link text
  content/authentication/connecting-to-github-with-ssh/testing-your-ssh-connection.md
Labels: content, ready to merge, authentication

#16287 repo sync
  content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
  content/code-security/guides.md
  content/code-security/index.md
  content/code-security/secret-scanning/about-secret-scanning.md
  content/code-security/supply-chain-security/end-to-end-supply-chain/end-to-end-supply-chain-overview.md
  content/code-security/supply-chain-security/end-to-end-supply-chain/index.md
  content/code-security/supply-chain-security/end-to-end-supply-chain/securing-accounts.md
  content/code-security/supply-chain-security/end-to-end-supply-chain/securing-builds.md
  content/code-security/supply-chain-security/end-to-end-supply-chain/securing-code.md
  content/code-security/supply-chain-security/index.md
  data/learning-tracks/code-security.yml
  data/reusables/secret-scanning/fpt-GHAS-scans.md
  data/reusables/ssh/key-type-support.md
Labels: triage, automated-reposync-pr

#16123 Adding env to container job context availability
  content/actions/learn-github-actions/contexts.md
Labels: content, actions, ready to merge

#16136 fix: deleting and restoring package - GHES versioning update
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  content/packages/learn-github-packages/about-permissions-for-github-packages.md
  content/packages/learn-github-packages/deleting-and-restoring-a-package.md
  content/packages/learn-github-packages/introduction-to-github-packages.md
  content/packages/working-with-a-github-packages-registry/working-with-the-apache-maven-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-docker-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-gradle-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-npm-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-rubygems-registry.md
  data/reusables/rest-reference/packages/packages.md
Labels: content, packages, ready to merge, MLH fellowship

#16135 fix: clarify dependabot enable and disable funtion
  content/code-security/supply-chain-security/managing-vulnerabilities-in-your-projects-dependencies/configuring-dependabot-security-updates.md
Labels: ready to merge, waiting for review, MLH fellowship, code security

#16347 repo sync
  content/packages/working-with-a-github-packages-registry/working-with-the-rubygems-registry.md
  data/product-examples/code-security/code-examples.yml
Labels: triage, automated-reposync-pr

#16349 repo sync
  .devcontainer/devcontainer.json
Labels: triage, automated-reposync-pr

#16351 repo sync
  content/code-security/dependabot/dependabot-alerts/about-dependabot-alerts.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-supply-chain-security.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/index.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
Labels: triage, automated-reposync-pr

#16137 fix: add a note to install the webrick gem for Ruby 3.0 users
  content/pages/setting-up-a-github-pages-site-with-jekyll/testing-your-github-pages-site-locally-with-jekyll.md
Labels: content, ready to merge, pages, MLH fellowship

#12722 Document how to use secrets with `if:` conditionals in GitHub Actions workflows
  content/actions/security-guides/encrypted-secrets.md
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions, ready to merge, waiting for review

#16359 repo sync
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#16363 repo sync
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
Labels: triage, automated-reposync-pr

#16350 chore: replace deprecated String.prototype.substr()
  .github/actions-scripts/projects.js
Labels: engineering, content

#16374 repo sync
  .github/workflows/test.yml
  middleware/rate-limit.js
  script/move-content.mjs
  tests/content/featured-links.js
  tests/content/search.js
  tests/content/webhooks.js
  tests/helpers/caching-headers.js
  tests/helpers/e2etest.js
  tests/rendering/breadcrumbs.js
  tests/rendering/curated-homepage-links.js
  tests/rendering/favicons.js
  tests/rendering/footer.js
  tests/rendering/head.js
  tests/rendering/header.js
  tests/rendering/learning-tracks.js
  tests/rendering/page-titles.js
  tests/rendering/pages-with-learning-tracks.js
  tests/rendering/rest.js
  tests/rendering/robots-txt.js
  tests/rendering/server.js
  tests/rendering/sidebar.js
  tests/rendering/static-assets.js
  tests/rendering/webhooks.js
  tests/routing/deprecated-enterprise-versions.js
  tests/routing/developer-site-redirects.js
  tests/routing/language-code-redirects.js
  tests/routing/redirects.js
  tests/routing/release-notes.js
  tests/routing/remote-ip.js
  tests/routing/top-developer-site-path-redirects.js
  tests/unit/events.js
  tests/unit/octicon.js
  tests/unit/static-assets.js
Labels: triage, automated-reposync-pr

#16376 repo sync
  .github/workflows/browser-test.yml
  .github/workflows/test.yml
  Dockerfile
  jest.config.js
  package-lock.json
  package.json
  script/kill-server-for-jest.mjs
  script/server-for-jest.mjs
  script/start-server-for-jest.mjs
  server.mjs
  start-server.mjs
  tests/README.md
  tests/browser/browser.js
Labels: triage, automated-reposync-pr

#16385 repo sync
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  content/admin/configuration/configuring-network-settings/network-ports.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/about-github-actions-for-enterprises.md
  content/admin/github-actions/managing-access-to-actions-from-githubcom/about-using-actions-in-your-enterprise.md
  content/admin/github-actions/managing-access-to-actions-from-githubcom/enabling-automatic-access-to-githubcom-actions-using-github-connect.md
  data/reusables/actions/enterprise-github-connect-warning.md
  data/reusables/actions/github-connect-resolution.md
  data/reusables/actions/self-hosted-runner-communications-for-ghae.md
  data/reusables/actions/self-hosted-runner-networking-to-dotcom.md
  data/reusables/actions/self-hosted-runner-ports-protocols.md
Labels: triage, automated-reposync-pr

#16386 repo sync
  .github/workflows/test.yml
  lib/site-data.js
  script/warm-before-tests.mjs
Labels: triage, automated-reposync-pr

#16390 repo sync
  translations/log/pt-resets.csv
  translations/pt-BR/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/pt-BR/content/admin/configuration/configuring-network-settings/network-ports.md
  translations/pt-BR/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/about-github-actions-for-enterprises.md
  translations/pt-BR/content/admin/github-actions/managing-access-to-actions-from-githubcom/about-using-actions-in-your-enterprise.md
  translations/pt-BR/content/admin/github-actions/managing-access-to-actions-from-githubcom/enabling-automatic-access-to-githubcom-actions-using-github-connect.md
  translations/pt-BR/content/code-security/dependabot/dependabot-alerts/browsing-security-vulnerabilities-in-the-github-advisory-database.md
  translations/pt-BR/content/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates.md
  translations/pt-BR/content/code-security/dependabot/working-with-dependabot/troubleshooting-the-detection-of-vulnerable-dependencies.md
  translations/pt-BR/data/reusables/actions/enterprise-github-connect-warning.md
  translations/pt-BR/data/reusables/actions/github-connect-resolution.md
  translations/pt-BR/data/reusables/actions/self-hosted-runner-communications-for-ghae.md
  translations/pt-BR/data/reusables/actions/self-hosted-runner-networking-to-dotcom.md
  translations/pt-BR/data/reusables/actions/self-hosted-runner-ports-protocols.md
  translations/pt-BR/data/reusables/dependabot/result-discrepancy.md
  translations/pt-BR/data/reusables/secret-scanning/partner-secret-list-public-repo.md
Labels: triage, automated-reposync-pr

#16403 repo sync
  translations/ja-JP/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/ja-JP/content/actions/security-guides/automatic-token-authentication.md
  translations/ja-JP/content/admin/configuration/configuring-network-settings/network-ports.md
  translations/ja-JP/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/about-github-actions-for-enterprises.md
  translations/ja-JP/content/admin/github-actions/managing-access-to-actions-from-githubcom/about-using-actions-in-your-enterprise.md
  translations/ja-JP/content/admin/github-actions/managing-access-to-actions-from-githubcom/enabling-automatic-access-to-githubcom-actions-using-github-connect.md
  translations/ja-JP/data/reusables/actions/enterprise-github-connect-warning.md
  translations/ja-JP/data/reusables/actions/github-connect-resolution.md
  translations/ja-JP/data/reusables/actions/self-hosted-runner-communications-for-ghae.md
  translations/ja-JP/data/reusables/actions/self-hosted-runner-networking-to-dotcom.md
  translations/ja-JP/data/reusables/actions/self-hosted-runner-ports-protocols.md
  translations/ja-JP/data/reusables/secret-scanning/partner-secret-list-public-repo.md
  translations/log/cn-resets.csv
  translations/log/ja-resets.csv
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/managing-security-and-analysis-settings-for-your-user-account.md
  translations/zh-CN/content/actions/creating-actions/releasing-and-maintaining-actions.md
  translations/zh-CN/content/actions/deployment/about-deployments/about-continuous-deployment.md
  translations/zh-CN/content/actions/deployment/about-deployments/deploying-with-github-actions.md
  translations/zh-CN/content/actions/deployment/about-deployments/index.md
  translations/zh-CN/content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-amazon-elastic-container-service.md
  translations/zh-CN/content/actions/deployment/deploying-to-your-cloud-provider/index.md
  translations/zh-CN/content/actions/deployment/deploying-xcode-applications/index.md
  translations/zh-CN/content/actions/deployment/managing-your-deployments/index.md
  translations/zh-CN/content/actions/deployment/managing-your-deployments/viewing-deployment-history.md
  translations/zh-CN/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/zh-CN/content/actions/security-guides/encrypted-secrets.md
  translations/zh-CN/content/actions/using-jobs/using-concurrency.md
  translations/zh-CN/content/admin/configuration/configuring-network-settings/network-ports.md
  translations/zh-CN/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/about-github-actions-for-enterprises.md
  translations/zh-CN/content/admin/github-actions/managing-access-to-actions-from-githubcom/about-using-actions-in-your-enterprise.md
  translations/zh-CN/content/admin/github-actions/managing-access-to-actions-from-githubcom/enabling-automatic-access-to-githubcom-actions-using-github-connect.md
  translations/zh-CN/content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  translations/zh-CN/content/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates.md
  translations/zh-CN/content/code-security/dependabot/dependabot-version-updates/listing-dependencies-configured-for-version-updates.md
  translations/zh-CN/content/code-security/dependabot/working-with-dependabot/troubleshooting-dependabot-errors.md
  translations/zh-CN/content/code-security/security-overview/about-the-security-overview.md
  translations/zh-CN/content/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository.md
  translations/zh-CN/content/developers/apps/building-github-apps/creating-a-github-app-using-url-parameters.md
  translations/zh-CN/content/get-started/quickstart/contributing-to-projects.md
  translations/zh-CN/content/get-started/quickstart/hello-world.md
  translations/zh-CN/content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-server.md
  translations/zh-CN/content/get-started/using-git/about-git.md
  translations/zh-CN/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  translations/zh-CN/content/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
  translations/zh-CN/content/organizations/managing-peoples-access-to-your-organization-with-roles/maintaining-ownership-continuity-for-your-organization.md
  translations/zh-CN/content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization.md
  translations/zh-CN/content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
  translations/zh-CN/content/pages/quickstart.md
  translations/zh-CN/content/pages/setting-up-a-github-pages-site-with-jekyll/testing-your-github-pages-site-locally-with-jekyll.md
  translations/zh-CN/content/repositories/working-with-files/using-files/working-with-non-code-files.md
  translations/zh-CN/data/reusables/actions/enterprise-github-connect-warning.md
  translations/zh-CN/data/reusables/actions/github-connect-resolution.md
  translations/zh-CN/data/reusables/actions/self-hosted-runner-communications-for-ghae.md
  translations/zh-CN/data/reusables/actions/self-hosted-runner-networking-to-dotcom.md
  translations/zh-CN/data/reusables/actions/self-hosted-runner-ports-protocols.md
  translations/zh-CN/data/reusables/getting-started/managing-team-settings.md
  translations/zh-CN/data/reusables/secret-scanning/partner-secret-list-public-repo.md
Labels: triage, automated-reposync-pr

#16404 repo sync
  translations/es-ES/content/actions/creating-actions/creating-a-javascript-action.md
  translations/es-ES/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/es-ES/content/actions/hosting-your-own-runners/configuring-the-self-hosted-runner-application-as-a-service.md
  translations/es-ES/content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  translations/es-ES/content/admin/configuration/configuring-network-settings/network-ports.md
  translations/es-ES/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/about-github-actions-for-enterprises.md
  translations/es-ES/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-self-hosted-runners-for-your-enterprise.md
  translations/es-ES/content/admin/github-actions/managing-access-to-actions-from-githubcom/about-using-actions-in-your-enterprise.md
  translations/es-ES/content/admin/github-actions/managing-access-to-actions-from-githubcom/enabling-automatic-access-to-githubcom-actions-using-github-connect.md
  translations/es-ES/content/organizations/managing-organization-settings/deleting-an-organization-account.md
  translations/es-ES/content/packages/quickstart.md
  translations/es-ES/content/pages/setting-up-a-github-pages-site-with-jekyll/testing-your-github-pages-site-locally-with-jekyll.md
  translations/es-ES/content/rest/reference/secret-scanning.md
  translations/es-ES/data/learning-tracks/actions.yml
  translations/es-ES/data/learning-tracks/admin.yml
  translations/es-ES/data/reusables/actions/enterprise-github-connect-warning.md
  translations/es-ES/data/reusables/actions/github-connect-resolution.md
  translations/es-ES/data/reusables/actions/runner-group-assign-policy-workflow.md
  translations/es-ES/data/reusables/actions/self-hosted-runner-add-to-enterprise.md
  translations/es-ES/data/reusables/actions/self-hosted-runner-communications-for-ghae.md
  translations/es-ES/data/reusables/actions/self-hosted-runner-networking-to-dotcom.md
  translations/es-ES/data/reusables/actions/self-hosted-runner-ports-protocols.md
  translations/es-ES/data/reusables/apps/optional_feature_activation.md
  translations/es-ES/data/reusables/code-scanning/upload-sarif-alert-limit.md
  translations/es-ES/data/reusables/secret-scanning/partner-secret-list-private-repo.md
  translations/es-ES/data/reusables/secret-scanning/partner-secret-list-public-repo.md
  translations/log/es-resets.csv
Labels: triage, automated-reposync-pr

#16405 repo sync
  translations/es-ES/content/admin/configuration/configuring-network-settings/network-ports.md
  translations/es-ES/content/developers/apps/building-github-apps/creating-a-github-app-from-a-manifest.md
  translations/es-ES/content/developers/apps/building-github-apps/creating-a-github-app.md
  translations/es-ES/content/developers/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps.md
  translations/es-ES/content/developers/apps/building-github-apps/refreshing-user-to-server-access-tokens.md
  translations/es-ES/content/developers/apps/building-oauth-apps/creating-an-oauth-app.md
  translations/es-ES/content/developers/apps/managing-github-apps/modifying-a-github-app.md
  translations/es-ES/content/organizations/managing-membership-in-your-organization/removing-a-member-from-your-organization.md
  translations/es-ES/content/organizations/managing-organization-settings/deleting-an-organization-account.md
  translations/es-ES/content/organizations/managing-peoples-access-to-your-organization-with-roles/maintaining-ownership-continuity-for-your-organization.md
  translations/es-ES/data/reusables/apps/optional_feature_activation.md
Labels: triage, automated-reposync-pr

#15354 Adds the raw powershell equivalents for github actions commands
  components/article/ToolPicker.tsx
  content/README.md
  content/actions/using-workflows/workflow-commands-for-github-actions.md
  contributing/content-markup-reference.md
  lib/frontmatter.js
  lib/liquid-tags/extended-markdown.js
  lib/page.js
  lib/schema-event.js
Labels: content, actions, waiting for review, GH devops MVP

#16416 repo sync
  content/admin/configuration/configuring-network-settings/configuring-a-hostname.md
Labels: triage, automated-reposync-pr

#16127 refreshed some of the language around pull request reviews and differ…
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/requesting-a-pull-request-review.md
Labels: content, waiting for review

#16428 repo sync
  .github/CODEOWNERS
Labels: triage, automated-reposync-pr

#16429 repo sync
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
  content/repositories/releasing-projects-on-github/searching-a-repositorys-releases.md
  data/reusables/code-scanning/beta.md
  data/reusables/secret-scanning/beta.md
Labels: triage, automated-reposync-pr

#16430 repo sync
  data/release-notes/enterprise-server/3-1/0.yml
Labels: triage, automated-reposync-pr

#16433 repo sync
  .github/workflows/optimize-images.yml
Labels: triage, automated-reposync-pr

#16434 Update configuration-options-for-the-dependabot.yml-file.md
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
Labels: triage

#16436 repo sync
  .github/CODEOWNERS
Labels: triage, automated-reposync-pr

#16437 repo sync
  assets/images/help/profile/organization-profile-following.png
  assets/images/help/profile/organization-profile-unfollowing.png
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/about-your-personal-dashboard.md
  content/get-started/exploring-projects-on-github/finding-ways-to-contribute-to-open-source-on-github.md
  content/get-started/exploring-projects-on-github/following-organizations.md
  content/get-started/exploring-projects-on-github/following-people.md
  content/get-started/exploring-projects-on-github/index.md
  content/get-started/exploring-projects-on-github/saving-repositories-with-stars.md
  data/features/for-you-feed.yml
  translations/log/cn-resets.csv
  translations/zh-CN/content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
  translations/zh-CN/content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
  translations/zh-CN/content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-azure.md
  translations/zh-CN/content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-google-cloud-platform.md
  translations/zh-CN/content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-hashicorp-vault.md
  translations/zh-CN/content/actions/deployment/targeting-different-environments/index.md
  translations/zh-CN/content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
  translations/zh-CN/content/actions/using-workflows/workflow-commands-for-github-actions.md
  translations/zh-CN/content/admin/configuration/configuring-network-settings/configuring-a-hostname.md
  translations/zh-CN/content/admin/enterprise-management/configuring-high-availability/initiating-a-failover-to-your-replica-appliance.md
  translations/zh-CN/content/admin/user-management/managing-repositories-in-your-enterprise/restoring-a-deleted-repository.md
  translations/zh-CN/content/admin/user-management/migrating-data-to-and-from-your-enterprise/about-migrations.md
  translations/zh-CN/content/authentication/connecting-to-github-with-ssh/checking-for-existing-ssh-keys.md
  translations/zh-CN/content/authentication/troubleshooting-ssh/using-ssh-over-the-https-port.md
  translations/zh-CN/content/code-security/secret-scanning/about-secret-scanning.md
  translations/zh-CN/content/codespaces/codespaces-reference/using-the-vs-code-command-palette-in-codespaces.md
  translations/zh-CN/content/codespaces/developing-in-codespaces/creating-a-codespace.md
  translations/zh-CN/content/codespaces/developing-in-codespaces/deleting-a-codespace.md
  translations/zh-CN/content/codespaces/developing-in-codespaces/using-codespaces-with-github-cli.md
  translations/zh-CN/content/get-started/quickstart/fork-a-repo.md
  translations/zh-CN/content/issues/trying-out-the-new-projects-experience/managing-access-to-projects.md
  translations/zh-CN/content/issues/trying-out-the-new-projects-experience/managing-the-visibility-of-your-projects.md
  translations/zh-CN/content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-custom-repository-roles-for-an-organization.md
  translations/zh-CN/content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/requesting-a-pull-request-review.md
  translations/zh-CN/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
  translations/zh-CN/content/repositories/releasing-projects-on-github/searching-a-repositorys-releases.md
  translations/zh-CN/content/rest/reference/codespaces.md
  translations/zh-CN/data/release-notes/enterprise-server/3-1/0.yml
  translations/zh-CN/data/release-notes/enterprise-server/3-4/0.yml
  translations/zh-CN/data/reusables/code-scanning/beta.md
  translations/zh-CN/data/reusables/rest-reference/orgs/custom_roles.md
  translations/zh-CN/data/reusables/secret-scanning/beta.md
  translations/zh-CN/data/variables/product.yml
Labels: triage, automated-reposync-pr

#16439 repo sync
  translations/ja-JP/content/actions/using-workflows/workflow-commands-for-github-actions.md
  translations/ja-JP/content/admin/configuration/configuring-network-settings/configuring-a-hostname.md
  translations/ja-JP/content/admin/enterprise-management/configuring-high-availability/initiating-a-failover-to-your-replica-appliance.md
  translations/ja-JP/content/admin/user-management/migrating-data-to-and-from-your-enterprise/about-migrations.md
  translations/ja-JP/content/authentication/connecting-to-github-with-ssh/checking-for-existing-ssh-keys.md
  translations/ja-JP/content/authentication/troubleshooting-ssh/using-ssh-over-the-https-port.md
  translations/ja-JP/content/code-security/secret-scanning/about-secret-scanning.md
  translations/ja-JP/content/get-started/quickstart/fork-a-repo.md
  translations/ja-JP/content/get-started/quickstart/hello-world.md
  translations/ja-JP/content/pages/configuring-a-custom-domain-for-your-github-pages-site/troubleshooting-custom-domains-and-github-pages.md
  translations/ja-JP/content/pages/configuring-a-custom-domain-for-your-github-pages-site/verifying-your-custom-domain-for-github-pages.md
  translations/ja-JP/content/pages/getting-started-with-github-pages/adding-a-theme-to-your-github-pages-site-with-the-theme-chooser.md
  translations/ja-JP/content/pages/getting-started-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site.md
  translations/ja-JP/content/pages/getting-started-with-github-pages/creating-a-github-pages-site.md
  translations/ja-JP/content/pages/getting-started-with-github-pages/securing-your-github-pages-site-with-https.md
  translations/ja-JP/content/pages/index.md
  translations/ja-JP/content/pages/quickstart.md
  translations/ja-JP/content/pages/setting-up-a-github-pages-site-with-jekyll/creating-a-github-pages-site-with-jekyll.md
  translations/ja-JP/content/pages/setting-up-a-github-pages-site-with-jekyll/setting-a-markdown-processor-for-your-github-pages-site-using-jekyll.md
  translations/ja-JP/content/pages/setting-up-a-github-pages-site-with-jekyll/testing-your-github-pages-site-locally-with-jekyll.md
  translations/ja-JP/content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/requesting-a-pull-request-review.md
  translations/ja-JP/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
  translations/ja-JP/content/repositories/releasing-projects-on-github/searching-a-repositorys-releases.md
  translations/ja-JP/data/release-notes/enterprise-server/3-1/0.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-4/0.yml
  translations/ja-JP/data/reusables/code-scanning/beta.md
  translations/ja-JP/data/reusables/secret-scanning/beta.md
  translations/log/ja-resets.csv
Labels: triage, automated-reposync-pr

#16440 repo sync
  package-lock.json
  package.json
  pages/_app.tsx
  translations/es-ES/content/actions/using-workflows/workflow-commands-for-github-actions.md
  translations/es-ES/content/admin/configuration/configuring-network-settings/configuring-a-hostname.md
  translations/es-ES/content/admin/enterprise-management/configuring-high-availability/initiating-a-failover-to-your-replica-appliance.md
  translations/es-ES/content/admin/user-management/migrating-data-to-and-from-your-enterprise/about-migrations.md
  translations/es-ES/content/authentication/connecting-to-github-with-ssh/checking-for-existing-ssh-keys.md
  translations/es-ES/content/authentication/troubleshooting-ssh/using-ssh-over-the-https-port.md
  translations/es-ES/content/code-security/secret-scanning/about-secret-scanning.md
  translations/es-ES/content/get-started/quickstart/fork-a-repo.md
  translations/es-ES/content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/requesting-a-pull-request-review.md
  translations/es-ES/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
  translations/es-ES/content/repositories/releasing-projects-on-github/searching-a-repositorys-releases.md
  translations/es-ES/data/release-notes/enterprise-server/3-1/0.yml
  translations/es-ES/data/release-notes/enterprise-server/3-4/0.yml
  translations/es-ES/data/reusables/code-scanning/beta.md
  translations/es-ES/data/reusables/secret-scanning/beta.md
Labels: triage, automated-reposync-pr

#16441 repo sync
  content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  data/reusables/actions/restrict-runner-workflow-beta.md
Labels: triage, automated-reposync-pr

#16408 Added missing whitespace
  content/site-policy/acceptable-use-policies/github-acceptable-use-policies.md
Labels: content, site policy, ready to merge

#16144 Renaming repo workflow update #15575
  content/repositories/creating-and-managing-repositories/renaming-a-repository.md
Labels: content, waiting for review, MLH fellowship, repositories

#16221 Updated Copyright Year in MIT License
  LICENSE-CODE
Labels: content, ready to merge

#16295 Add copy button to markdown text
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository.md
Labels: content, ready to merge, communities

#16456 Fix broken title
  content/actions/using-workflows/workflow-commands-for-github-actions.md
Labels: content, actions

#16460 repo sync
  .github/workflows/test.yml
Labels: triage, automated-reposync-pr

#16463 repo sync
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/about-your-personal-dashboard.md
  translations/pt-BR/content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  translations/pt-BR/content/actions/using-workflows/workflow-commands-for-github-actions.md
  translations/pt-BR/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/pt-BR/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository.md
  translations/pt-BR/content/get-started/exploring-projects-on-github/finding-ways-to-contribute-to-open-source-on-github.md
  translations/pt-BR/content/get-started/exploring-projects-on-github/following-organizations.md
  translations/pt-BR/content/get-started/exploring-projects-on-github/following-people.md
  translations/pt-BR/content/get-started/exploring-projects-on-github/index.md
  translations/pt-BR/content/get-started/exploring-projects-on-github/saving-repositories-with-stars.md
  translations/pt-BR/content/get-started/privacy-on-github/about-githubs-use-of-your-data.md
  translations/pt-BR/content/get-started/privacy-on-github/managing-data-use-settings-for-your-private-repository.md
  translations/pt-BR/content/repositories/creating-and-managing-repositories/renaming-a-repository.md
  translations/pt-BR/content/repositories/working-with-files/using-files/viewing-a-file.md
  translations/pt-BR/content/site-policy/acceptable-use-policies/github-acceptable-use-policies.md
  translations/pt-BR/content/site-policy/acceptable-use-policies/index.md
  translations/pt-BR/content/site-policy/content-removal-policies/index.md
  translations/pt-BR/content/site-policy/github-terms/github-terms-for-additional-products-and-features.md
  translations/pt-BR/content/site-policy/github-terms/index.md
  translations/pt-BR/content/site-policy/privacy-policies/index.md
  translations/pt-BR/data/features/blame-ignore-revs.yml
  translations/pt-BR/data/features/for-you-feed.yml
  translations/pt-BR/data/reusables/actions/restrict-runner-workflow-beta.md
  translations/pt-BR/data/reusables/user-settings/account_settings.md
Labels: triage, automated-reposync-pr

#16467 repo sync
  data/reusables/support/enterprise-resolving-and-closing-tickets.md
Labels: triage, automated-reposync-pr

#16472 repo sync
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-graphs-on-your-profile/why-are-my-contributions-not-showing-up-on-my-profile.md
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/about-your-personal-dashboard.md
  translations/ja-JP/content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  translations/ja-JP/content/actions/using-workflows/workflow-commands-for-github-actions.md
  translations/ja-JP/content/admin/code-security/managing-github-advanced-security-for-your-enterprise/enabling-github-advanced-security-for-your-enterprise.md
  translations/ja-JP/content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
  translations/ja-JP/content/billing/managing-billing-for-github-advanced-security/about-billing-for-github-advanced-security.md
  translations/ja-JP/content/billing/managing-billing-for-github-advanced-security/index.md
  translations/ja-JP/content/billing/managing-billing-for-github-codespaces/about-billing-for-codespaces.md
  translations/ja-JP/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/ja-JP/content/codespaces/managing-codespaces-for-your-organization/enabling-codespaces-for-your-organization.md
  translations/ja-JP/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository.md
  translations/ja-JP/content/get-started/exploring-projects-on-github/finding-ways-to-contribute-to-open-source-on-github.md
  translations/ja-JP/content/get-started/exploring-projects-on-github/following-organizations.md
  translations/ja-JP/content/get-started/exploring-projects-on-github/following-people.md
  translations/ja-JP/content/get-started/exploring-projects-on-github/index.md
  translations/ja-JP/content/get-started/exploring-projects-on-github/saving-repositories-with-stars.md
  translations/ja-JP/content/get-started/privacy-on-github/about-githubs-use-of-your-data.md
  translations/ja-JP/content/get-started/privacy-on-github/managing-data-use-settings-for-your-private-repository.md
  translations/ja-JP/content/repositories/creating-and-managing-repositories/renaming-a-repository.md
  translations/ja-JP/content/repositories/working-with-files/using-files/viewing-a-file.md
  translations/ja-JP/content/site-policy/acceptable-use-policies/github-acceptable-use-policies.md
  translations/ja-JP/content/site-policy/acceptable-use-policies/index.md
  translations/ja-JP/content/site-policy/content-removal-policies/index.md
  translations/ja-JP/content/site-policy/github-terms/github-terms-for-additional-products-and-features.md
  translations/ja-JP/content/site-policy/github-terms/index.md
  translations/ja-JP/content/site-policy/privacy-policies/index.md
  translations/ja-JP/data/features/blame-ignore-revs.yml
  translations/ja-JP/data/features/for-you-feed.yml
  translations/ja-JP/data/reusables/actions/restrict-runner-workflow-beta.md
  translations/ja-JP/data/reusables/user-settings/account_settings.md
  translations/log/ja-resets.csv
Labels: triage, automated-reposync-pr

#16474 repo sync
  translations/log/cn-resets.csv
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/about-your-personal-dashboard.md
  translations/zh-CN/content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  translations/zh-CN/content/actions/using-workflows/workflow-commands-for-github-actions.md
  translations/zh-CN/content/admin/configuration/configuring-network-settings/configuring-a-hostname.md
  translations/zh-CN/content/admin/enterprise-management/configuring-high-availability/initiating-a-failover-to-your-replica-appliance.md
  translations/zh-CN/content/admin/user-management/migrating-data-to-and-from-your-enterprise/about-migrations.md
  translations/zh-CN/content/authentication/troubleshooting-ssh/using-ssh-over-the-https-port.md
  translations/zh-CN/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/zh-CN/content/codespaces/codespaces-reference/using-github-copilot-in-codespaces.md
  translations/zh-CN/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository.md
  translations/zh-CN/content/get-started/exploring-projects-on-github/finding-ways-to-contribute-to-open-source-on-github.md
  translations/zh-CN/content/get-started/exploring-projects-on-github/following-organizations.md
  translations/zh-CN/content/get-started/exploring-projects-on-github/following-people.md
  translations/zh-CN/content/get-started/exploring-projects-on-github/index.md
  translations/zh-CN/content/get-started/exploring-projects-on-github/saving-repositories-with-stars.md
  translations/zh-CN/content/get-started/privacy-on-github/about-githubs-use-of-your-data.md
  translations/zh-CN/content/get-started/privacy-on-github/managing-data-use-settings-for-your-private-repository.md
  translations/zh-CN/content/get-started/quickstart/fork-a-repo.md
  translations/zh-CN/content/get-started/using-github/github-command-palette.md
  translations/zh-CN/content/issues/guides.md
  translations/zh-CN/content/issues/trying-out-the-new-projects-experience/managing-access-to-projects.md
  translations/zh-CN/content/organizations/managing-membership-in-your-organization/exporting-member-information-for-your-organization.md
  translations/zh-CN/content/organizations/organizing-members-into-teams/assigning-the-team-maintainer-role-to-a-team-member.md
  translations/zh-CN/content/pages/configuring-a-custom-domain-for-your-github-pages-site/verifying-your-custom-domain-for-github-pages.md
  translations/zh-CN/content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/adding-a-pull-request-to-the-merge-queue.md
  translations/zh-CN/content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/reviewing-dependency-changes-in-a-pull-request.md
  translations/zh-CN/content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/using-a-merge-queue.md
  translations/zh-CN/content/repositories/creating-and-managing-repositories/renaming-a-repository.md
  translations/zh-CN/content/repositories/working-with-files/using-files/viewing-a-file.md
  translations/zh-CN/content/site-policy/acceptable-use-policies/github-acceptable-use-policies.md
  translations/zh-CN/content/site-policy/acceptable-use-policies/index.md
  translations/zh-CN/content/site-policy/content-removal-policies/index.md
  translations/zh-CN/content/site-policy/github-terms/github-terms-for-additional-products-and-features.md
  translations/zh-CN/content/site-policy/github-terms/index.md
  translations/zh-CN/content/site-policy/privacy-policies/index.md
  translations/zh-CN/data/features/blame-ignore-revs.yml
  translations/zh-CN/data/features/for-you-feed.yml
  translations/zh-CN/data/reusables/actions/restrict-runner-workflow-beta.md
  translations/zh-CN/data/reusables/user-settings/account_settings.md
  translations/zh-CN/data/variables/product.yml
Labels: triage, automated-reposync-pr

#16480 repo sync
  assets/images/help/repository/actions-general-tab.png
  content/actions/hosting-your-own-runners/adding-self-hosted-runners.md
  content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  content/actions/hosting-your-own-runners/monitoring-and-troubleshooting-self-hosted-runners.md
  content/actions/hosting-your-own-runners/removing-self-hosted-runners.md
  content/organizations/managing-organization-settings/configuring-the-retention-period-for-github-actions-artifacts-and-logs-in-your-organization.md
  content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  data/reusables/actions/change-retention-period-for-artifacts-logs.md
  data/reusables/actions/self-hosted-runner-groups-navigate-to-repo-org-enterprise.md
  data/reusables/actions/self-hosted-runner-navigate-to-org-enterprise.md
  data/reusables/actions/self-hosted-runner-navigate-to-repo-org-enterprise.md
  data/reusables/actions/settings-sidebar-actions-runner-groups.md
  data/reusables/actions/settings-sidebar-actions-runners.md
  data/reusables/actions/settings-sidebar-actions.md
  data/reusables/actions/settings-ui/settings-actions-general.md
  data/reusables/actions/settings-ui/settings-actions-runner-groups.md
  data/reusables/actions/settings-ui/settings-actions-runners.md
  data/reusables/enterprise_management_console/actions.md
  data/reusables/organizations/settings-sidebar-actions-general.md
  data/reusables/organizations/settings-sidebar-actions-runner-groups.md
  data/reusables/organizations/settings-sidebar-actions-runners.md
  data/reusables/organizations/settings-sidebar-actions.md
  data/reusables/repositories/settings-sidebar-actions-general.md
  data/reusables/repositories/settings-sidebar-actions-runners.md
  data/reusables/repositories/settings-sidebar-actions.md
Labels: triage, automated-reposync-pr

#16488 repo sync
  .devcontainer/devcontainer.json
Labels: triage, automated-reposync-pr

#16492 docs:fix spelling mistakes
  content/pages/getting-started-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site.md
Labels: content, ready to merge, get started

#16305 Grammar: lowest of multiple levels
  data/reusables/codespaces/secret-precedence.md
Labels: content, ready to merge, waiting for review, codespaces

#15697 Add example for object filter on object.
  content/actions/learn-github-actions/expressions.md
Labels: content, actions, ready to merge, waiting for review

#16444 Remove duplicated line on self-hosted-runners
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
Labels: content, actions, ready to merge, waiting for review, needs SME

#16658 repo sync
  assets/images/help/billing/actions-packages-report-download-enterprise.png
  assets/images/help/billing/actions-packages-report-download-org.png
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/merging-multiple-user-accounts.md
  content/billing/managing-billing-for-github-actions/viewing-your-github-actions-usage.md
  content/billing/managing-billing-for-github-codespaces/about-billing-for-codespaces.md
  content/billing/managing-billing-for-github-codespaces/viewing-your-codespaces-usage.md
  content/billing/managing-billing-for-github-packages/viewing-your-github-packages-usage.md
  content/repositories/working-with-files/using-files/working-with-non-code-files.md
  data/reusables/dotcom_billing/actions-packages-report-download-org-account.md
  data/reusables/dotcom_billing/codespaces-report-download.md
  data/reusables/enterprise-accounts/actions-packages-report-download-enterprise-accounts.md
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#16659 repo sync
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/managing-your-theme-settings.md
  content/admin/code-security/index.md
  content/admin/code-security/managing-supply-chain-security-for-your-enterprise/about-supply-chain-security-for-your-enterprise.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository.md
  content/pull-requests/committing-changes-to-your-project/viewing-and-comparing-commits/comparing-commits.md
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/configuring-tag-protection-rules.md
  data/reusables/dependabot/beta-security-and-version-updates.md
  data/reusables/dependabot/dependabot-alerts-dependency-graph-enterprise.md
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
Labels: triage, automated-reposync-pr

#16660 repo sync
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/about-notifications.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/viewing-and-triaging-notifications/managing-notifications-from-your-inbox.md
  content/admin/configuration/configuring-your-enterprise/managing-github-mobile-for-your-enterprise.md
  content/get-started/using-github/github-mobile.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-custom-repository-roles-for-an-organization.md
  data/reusables/actions/actions-spending-limit-detailed.md
  data/reusables/billing/overages-billed-monthly.md
  data/reusables/codespaces/codespaces-spending-limit-requirement.md
  data/reusables/mobile/about-mobile.md
  data/reusables/mobile/ghes-release-phase.md
  data/reusables/package_registry/packages-spending-limit-detailed.md
Labels: triage, automated-reposync-pr

#16661 repo sync
  .github/workflows/main-preview-docker-cache.yml
  .github/workflows/sync-search-indices.yml
  assets/images/enterprise/3.0/organizations/security-and-analysis-enable-secret-scanning.png
  assets/images/enterprise/3.0/organizations/security-and-analysis-secret-scanning-enable-by-default.png
  assets/images/enterprise/3.1/help/organizations/security-and-analysis-enable-secret-scanning.png
  assets/images/enterprise/business-accounts/settings-github-connect-tab.png
  assets/images/enterprise/site-admin-settings/enable-marketplace-actions-drop-down.png
  assets/images/github-apps/beta-features-option.png
  assets/images/help/business-accounts/administrators-tab.png
  assets/images/help/commits/Commit-branch-label.png
  assets/images/help/commits/Commit-master-label.png
  assets/images/help/images/overview-actions-result-updated.png
  assets/images/help/repository/delete-all-logs-updated.png
  assets/images/help/repository/docker-action-workflow-run.png
  assets/images/help/repository/download-logs-drop-down-updated.png
  assets/images/help/repository/search-log-box-updated.png
  assets/images/help/repository/super-linter-workflow-results-updated.png
  assets/images/help/repository/superlinter-lint-code-base-job.png
  assets/images/help/repository/workflow-run-kebab-horizontal-icon-updated.png
  assets/images/help/repository/workflow-sidebar.png
  assets/images/help/settings/actions-enterprise-account-add-runner-group.png
  assets/images/settings/developer_settings.png
  middleware/contextualizers/generic-toc.js
Labels: triage, automated-reposync-pr

#16662 repo sync
  .devcontainer/devcontainer.json
  data/reusables/webhooks/check_run_properties.md
  data/reusables/webhooks/check_suite_properties.md
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#16663 repo sync
  components/rest/PreviewsRow.tsx
  components/rest/RestOperation.tsx
  components/rest/RestParameterTable.tsx
  components/rest/RestResponse.tsx
  components/rest/RestResponseTable.module.scss
  components/rest/RestStatusCodes.tsx
  components/rest/types.ts
  data/ui.yml
Labels: triage, automated-reposync-pr

#16665 repo sync
  .github/workflows/test.yml
  components/context/MainContext.tsx
  components/page-header/Header.tsx
  tests/rendering/signup-button.js
Labels: triage, automated-reposync-pr

#16672 repo sync
  assets/images/help/organizations/actions-policy-allow-list-with-workflows.png
  assets/images/help/organizations/actions-policy-with-workflows.png
  assets/images/help/organizations/enterprise-actions-policy-allow-list-with-workflows.png
  assets/images/help/organizations/enterprise-actions-policy-with-workflows.png
  assets/images/help/repository/actions-policy-allow-list-with-workflows.png
  assets/images/help/repository/actions-policy-with-workflows.png
  assets/images/help/settings/actions-policy-allow-select-actions-and-actions-from-github-with-workflows.png
  content/actions/using-workflows/reusing-workflows.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-self-hosted-runners-for-your-enterprise.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/introducing-github-actions-to-your-enterprise.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-github-actions-in-your-enterprise.md
  content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  data/features/actions-workflow-policy.yml
  data/reusables/actions/actions-use-policy-settings.md
  data/reusables/actions/allow-specific-actions-intro.md
  data/reusables/actions/disabling-github-actions.md
  data/reusables/actions/enabled-actions-description.md
  data/reusables/actions/enabled-local-github-actions.md
  data/reusables/actions/enterprise-actions-permissions.md
  data/reusables/actions/policy-label-for-select-actions-workflows.md
  data/reusables/rest-reference/actions/permissions.md
Labels: triage, automated-reposync-pr

#16674 repo sync
  content/admin/configuration/configuring-your-enterprise/managing-github-mobile-for-your-enterprise.md
  data/release-notes/enterprise-server/3-4/0.yml
Labels: triage, automated-reposync-pr

#16678 repo sync
  content/repositories/working-with-files/using-files/working-with-non-code-files.md
Labels: triage, automated-reposync-pr

#14915 Adding explanation that service containers should not be used in composite actions
  content/actions/using-containerized-services/about-service-containers.md
Labels: content, actions, ready to merge

#15977 Add details about required scopes for Self-Hosted Runner
  content/actions/hosting-your-own-runners/autoscaling-with-self-hosted-runners.md
Labels: content, actions, ready to merge

#16275 Added explanation about masking outputs
  content/actions/using-workflows/workflow-commands-for-github-actions.md
Labels: content, actions, ready to merge

#16690 repo sync
  content/actions/hosting-your-own-runners/index.md
  content/actions/hosting-your-own-runners/running-scripts-before-or-after-a-job.md
  content/admin/enterprise-management/caching-repositories/about-repository-caching.md
  content/admin/enterprise-management/caching-repositories/configuring-a-repository-cache.md
  data/features/job-hooks-for-runners.yml
  tests/rendering/signup-button.js
Labels: triage, automated-reposync-pr

#16614 Update projects-filters.md
  data/reusables/projects/projects-filters.md
Labels: content, ready to merge

#16624 fix: minor typo in events-that-trigger-workflows.md
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: content, actions, ready to merge

#16692 repo sync
  .github/workflows/orphaned-assets-check.yml
  script/find-orphaned-assets.mjs
  translations/ja-JP/content/actions/hosting-your-own-runners/adding-self-hosted-runners.md
  translations/ja-JP/content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  translations/ja-JP/content/actions/hosting-your-own-runners/monitoring-and-troubleshooting-self-hosted-runners.md
  translations/ja-JP/content/actions/hosting-your-own-runners/removing-self-hosted-runners.md
  translations/ja-JP/content/billing/managing-billing-for-github-actions/managing-your-spending-limit-for-github-actions.md
  translations/ja-JP/content/billing/managing-billing-for-github-codespaces/about-billing-for-codespaces.md
  translations/ja-JP/content/billing/managing-billing-for-github-codespaces/index.md
  translations/ja-JP/content/billing/managing-billing-for-github-codespaces/managing-spending-limits-for-codespaces.md
  translations/ja-JP/content/billing/managing-billing-for-github-codespaces/viewing-your-codespaces-usage.md
  translations/ja-JP/content/billing/managing-billing-for-github-packages/managing-your-spending-limit-for-github-packages.md
  translations/ja-JP/content/billing/managing-billing-for-your-github-account/about-billing-for-github-accounts.md
  translations/ja-JP/content/billing/managing-billing-for-your-github-account/about-billing-for-your-enterprise.md
  translations/ja-JP/content/billing/managing-billing-for-your-github-account/about-per-user-pricing.md
  translations/ja-JP/content/organizations/managing-organization-settings/configuring-the-retention-period-for-github-actions-artifacts-and-logs-in-your-organization.md
  translations/ja-JP/content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  translations/ja-JP/content/pages/getting-started-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site.md
  translations/ja-JP/content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  translations/ja-JP/content/site-policy/github-terms/github-terms-for-additional-products-and-features.md
  translations/ja-JP/data/reusables/actions/change-retention-period-for-artifacts-logs.md
  translations/ja-JP/data/reusables/actions/self-hosted-runner-groups-navigate-to-repo-org-enterprise.md
  translations/ja-JP/data/reusables/actions/self-hosted-runner-navigate-to-org-enterprise.md
  translations/ja-JP/data/reusables/actions/self-hosted-runner-navigate-to-repo-org-enterprise.md
  translations/ja-JP/data/reusables/actions/settings-sidebar-actions-runner-groups.md
  translations/ja-JP/data/reusables/actions/settings-sidebar-actions-runners.md
  translations/ja-JP/data/reusables/actions/settings-sidebar-actions.md
  translations/ja-JP/data/reusables/actions/settings-ui/settings-actions-general.md
  translations/ja-JP/data/reusables/actions/settings-ui/settings-actions-runner-groups.md
  translations/ja-JP/data/reusables/actions/settings-ui/settings-actions-runners.md
  translations/ja-JP/data/reusables/billing/email-notifications.md
  translations/ja-JP/data/reusables/enterprise_management_console/actions.md
  translations/ja-JP/data/reusables/organizations/settings-sidebar-actions-general.md
  translations/ja-JP/data/reusables/organizations/settings-sidebar-actions-runner-groups.md
  translations/ja-JP/data/reusables/organizations/settings-sidebar-actions-runners.md
  translations/ja-JP/data/reusables/organizations/settings-sidebar-actions.md
  translations/ja-JP/data/reusables/repositories/settings-sidebar-actions-general.md
  translations/ja-JP/data/reusables/repositories/settings-sidebar-actions-runners.md
  translations/ja-JP/data/reusables/repositories/settings-sidebar-actions.md
  translations/ja-JP/data/reusables/support/enterprise-resolving-and-closing-tickets.md
  translations/log/ja-resets.csv
Labels: triage, automated-reposync-pr

#16649 Remove link to developer blog
  content/developers/overview/github-developer-program.md
Labels: content, ready to merge, developers

#16693 repo sync
  assets/images/help/repository/actions-delete-artifact.png
  assets/images/help/repository/actions-failed-pester-test.png
  assets/images/help/repository/artifact-drop-down.png
  assets/images/help/repository/cancel-check-suite.png
  assets/images/help/repository/copy-link-button-updated.png
  assets/images/help/repository/enable-secret-scanning-ghe.png
  assets/images/help/repository/javascript-action-workflow-run-updated.png
  assets/images/help/repository/javascript-action-workflow-run.png
  assets/images/help/repository/passing-data-between-jobs-in-a-workflow.png
  lib/search/lunr-search.js
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/permission-levels-for-a-user-account-repository.md
  translations/zh-CN/content/actions/hosting-your-own-runners/adding-self-hosted-runners.md
  translations/zh-CN/content/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups.md
  translations/zh-CN/content/actions/hosting-your-own-runners/monitoring-and-troubleshooting-self-hosted-runners.md
  translations/zh-CN/content/actions/hosting-your-own-runners/removing-self-hosted-runners.md
  translations/zh-CN/content/get-started/exploring-projects-on-github/finding-ways-to-contribute-to-open-source-on-github.md
  translations/zh-CN/content/get-started/exploring-projects-on-github/following-people.md
  translations/zh-CN/content/get-started/exploring-projects-on-github/saving-repositories-with-stars.md
  translations/zh-CN/content/organizations/managing-organization-settings/configuring-the-retention-period-for-github-actions-artifacts-and-logs-in-your-organization.md
  translations/zh-CN/content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  translations/zh-CN/content/pages/getting-started-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site.md
  translations/zh-CN/content/pull-requests/collaborating-with-pull-requests/collaborating-on-repositories-with-code-quality-features/about-status-checks.md
  translations/zh-CN/content/repositories/creating-and-managing-repositories/renaming-a-repository.md
  translations/zh-CN/content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  translations/zh-CN/content/site-policy/github-terms/github-terms-for-additional-products-and-features.md
  translations/zh-CN/data/reusables/actions/change-retention-period-for-artifacts-logs.md
  translations/zh-CN/data/reusables/actions/self-hosted-runner-groups-navigate-to-repo-org-enterprise.md
  translations/zh-CN/data/reusables/actions/self-hosted-runner-navigate-to-org-enterprise.md
  translations/zh-CN/data/reusables/actions/self-hosted-runner-navigate-to-repo-org-enterprise.md
  translations/zh-CN/data/reusables/actions/settings-sidebar-actions-runner-groups.md
  translations/zh-CN/data/reusables/actions/settings-sidebar-actions-runners.md
  translations/zh-CN/data/reusables/actions/settings-sidebar-actions.md
  translations/zh-CN/data/reusables/actions/settings-ui/settings-actions-general.md
  translations/zh-CN/data/reusables/actions/settings-ui/settings-actions-runner-groups.md
  translations/zh-CN/data/reusables/actions/settings-ui/settings-actions-runners.md
  translations/zh-CN/data/reusables/enterprise_management_console/actions.md
  translations/zh-CN/data/reusables/organizations/settings-sidebar-actions-general.md
  translations/zh-CN/data/reusables/organizations/settings-sidebar-actions-runner-groups.md
  translations/zh-CN/data/reusables/organizations/settings-sidebar-actions-runners.md
  translations/zh-CN/data/reusables/organizations/settings-sidebar-actions.md
  translations/zh-CN/data/reusables/repositories/settings-sidebar-actions-general.md
  translations/zh-CN/data/reusables/repositories/settings-sidebar-actions-runners.md
  translations/zh-CN/data/reusables/repositories/settings-sidebar-actions.md
  translations/zh-CN/data/reusables/support/enterprise-resolving-and-closing-tickets.md
Labels: triage, automated-reposync-pr

#16669 Remove stray trailing `"`
  content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
Labels: content, ready to merge

#16698 repo sync
  data/reusables/actions/usage-workflow-run-time.md
Labels: triage, automated-reposync-pr

#16711 repo sync
  .devcontainer/devcontainer.json
  .devcontainer/java-environment/devcontainer.json
  .devcontainer/ruby-environment/devcontainer.json
  .devcontainer/xxtest-devcontainer.json
  data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/graphql_upcoming_changes.public.yml
  data/graphql/ghec/schema.docs.graphql
  data/graphql/graphql_upcoming_changes.public.yml
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/prerendered-input-objects.json
  lib/graphql/static/prerendered-mutations.json
  lib/graphql/static/previews.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
  lib/graphql/static/upcoming-changes.json
  lib/redirects/static/redirect-exceptions.txt
Labels: triage, automated-reposync-pr

#16713 repo sync
  content/site-policy/acceptable-use-policies/github-acceptable-use-policies.md
  content/site-policy/acceptable-use-policies/github-active-malware-or-exploits.md
  content/site-policy/github-terms/github-community-guidelines.md
Labels: triage, automated-reposync-pr

#16719 repo sync
  assets/images/help/pull_requests/merge-queue-link.png
  assets/images/help/pull_requests/merge-queue-merging-method.png
  assets/images/help/pull_requests/merge-queue-options.png
  assets/images/help/pull_requests/merge-queue-view.png
  assets/images/help/pull_requests/remove-from-queue-button.png
  assets/images/help/pull_requests/view-merge-queue-button.png
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/adding-a-pull-request-to-the-merge-queue.md
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/index.md
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/merging-a-pull-request-with-a-merge-queue.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/index.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/using-a-merge-queue.md
  data/reusables/pull_requests/merge-queue-merging-method.md
  data/reusables/pull_requests/merge-queue-overview-short.md
  data/reusables/pull_requests/merge-queue-overview.md
  data/reusables/pull_requests/merge-queue-references.md
  data/reusables/pull_requests/merge-queue-reject.md
  lib/search/popular-pages.json
Labels: triage, automated-reposync-pr

#16726 repo sync
  data/reusables/rest-reference/codespaces/repository-secrets.md
  data/reusables/rest-reference/codespaces/secrets.md
  translations/pt-BR/content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-amazon-elastic-container-service.md
  translations/pt-BR/content/authentication/index.md
  translations/pt-BR/content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
  translations/pt-BR/content/graphql/overview/resource-limitations.md
  translations/pt-BR/content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/adding-a-pull-request-to-the-merge-queue.md
  translations/pt-BR/content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/index.md
  translations/pt-BR/content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/merging-a-pull-request-with-a-merge-queue.md
  translations/pt-BR/content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/index.md
  translations/pt-BR/content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue.md
  translations/pt-BR/content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/using-a-merge-queue.md
  translations/pt-BR/content/rest/overview/api-previews.md
  translations/pt-BR/content/site-policy/acceptable-use-policies/github-acceptable-use-policies.md
  translations/pt-BR/content/site-policy/acceptable-use-policies/github-active-malware-or-exploits.md
  translations/pt-BR/content/site-policy/github-terms/github-community-guidelines.md
  translations/pt-BR/content/site-policy/privacy-policies/github-data-protection-agreement.md
  translations/pt-BR/data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  translations/pt-BR/data/graphql/ghec/graphql_upcoming_changes.public.yml
  translations/pt-BR/data/graphql/graphql_upcoming_changes.public.yml
  translations/pt-BR/data/reusables/actions/usage-workflow-run-time.md
  translations/pt-BR/data/reusables/enterprise_clustering/replacing-a-cluster-node-modify-cluster-conf.md
  translations/pt-BR/data/reusables/enterprise_clustering/replacing-a-cluster-node-replacement-name.md
  translations/pt-BR/data/reusables/pull_requests/merge-queue-merging-method.md
  translations/pt-BR/data/reusables/pull_requests/merge-queue-overview-short.md
  translations/pt-BR/data/reusables/pull_requests/merge-queue-overview.md
  translations/pt-BR/data/reusables/pull_requests/merge-queue-references.md
  translations/pt-BR/data/reusables/pull_requests/merge-queue-reject.md
Labels: triage, automated-reposync-pr
