Repository github/docs, pull requests merged in 2022-06, with the labels that each got.

#18270 Update failure with additional conditions
  content/actions/learn-github-actions/expressions.md
Labels: content, actions, waiting for review, needs SME

#18291 Fix typo in exponential number.
  content/actions/learn-github-actions/expressions.md
Labels: content, actions, ready to merge

#18297 Clarify requirements on property names
  content/actions/learn-github-actions/contexts.md
Labels: content, actions, ready to merge

#18373 repo sync
  content/admin/configuration/configuring-network-settings/using-github-enterprise-server-with-a-load-balancer.md
  content/admin/configuration/configuring-your-enterprise/accessing-the-management-console.md
Labels: triage, automated-reposync-pr

#17870 Add "Security advisory credit" & "Discussion answered" to "Displaying badges on your profile"
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
Labels: content, ready to merge, waiting for review

#18374 repo sync
  assets/images/help/repository/code-scanning-alert-drop-down-reason.png
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/triaging-code-scanning-alerts-in-pull-requests.md
  data/features/comment-dismissed-code-scanning-alert.yml
  data/reusables/code-scanning/choose-alert-dismissal-reason.md
Labels: triage, automated-reposync-pr

#18376 repo sync
  lib/all-products.js
  lib/check-node-version.js
  lib/enterprise-server-releases.js
  lib/read-file-contents.js
  lib/readfile-async.js
  lib/search/lunr-search.js
  middleware/catch-middleware-error.js
  middleware/contextualizers/features.js
  middleware/contextualizers/short-versions.js
  middleware/events.js
  middleware/find-page.js
  middleware/handle-next-data-path.js
  middleware/index.js
  middleware/remote-ip.js
  middleware/search.js
  script/i18n/fix-translation-errors.js
  script/i18n/homogenize-frontmatter.js
  script/rendered-content-link-checker.mjs
  script/rest/test-open-api-schema.js
  tests/content/category-pages.js
  tests/content/liquid-line-breaks.js
  tests/content/remove-liquid-statements.js
  tests/content/site-data-references.js
  tests/graphql/build-changelog-test.js
  tests/linting/lint-files.js
  tests/rendering/sidebar.js
Labels: triage, automated-reposync-pr

#18378 repo sync
  assets/images/help/2fa/2fa-github-mobile-password-reset.png
  assets/images/help/2fa/2fa-mobile-challenge-password-reset.png
  assets/images/help/2fa/2fa-password-reset.png
  content/authentication/keeping-your-account-and-data-secure/updating-your-github-access-credentials.md
Labels: triage, automated-reposync-pr

#18387 repo sync
  content/actions/hosting-your-own-runners/configuring-the-self-hosted-runner-application-as-a-service.md
Labels: triage, automated-reposync-pr

#18390 repo sync
  content/developers/overview/managing-deploy-keys.md
  content/developers/overview/using-ssh-agent-forwarding.md
  content/developers/webhooks-and-events/webhooks/testing-webhooks.md
  lib/get-redirect.js
  lib/redirects/external-sites.json
  lib/redirects/precompile.js
  middleware/index.js
  middleware/redirects/external.js
  middleware/redirects/handle-redirects.js
  tests/rendering/server.js
  tests/routing/redirects.js
Labels: triage, automated-reposync-pr

#18396 repo sync
  assets/images/help/enterprises/audit-log-enable-source-ip-disclosure-checkbox.png
  assets/images/help/enterprises/audit-log-source-ip-disclosure-tab.png
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/about-the-audit-log-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/displaying-ip-addresses-in-the-audit-log-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/index.md
  data/features/enterprise-audit-log-ip-addresses.yml
  data/reusables/audit_log/audit-log-search-list-info-about-action.md
Labels: triage, automated-reposync-pr

#18398 repo sync
  data/features/project-beta-webhooks.yml
Labels: triage, automated-reposync-pr

#18399 repo sync
  components/lib/wrap-code-terms.ts
Labels: triage, automated-reposync-pr

#18401 repo sync
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
  translations/pt-BR/content/actions/hosting-your-own-runners/configuring-the-self-hosted-runner-application-as-a-service.md
  translations/pt-BR/content/actions/learn-github-actions/contexts.md
  translations/pt-BR/content/actions/learn-github-actions/expressions.md
  translations/pt-BR/content/admin/configuration/configuring-network-settings/using-github-enterprise-server-with-a-load-balancer.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/accessing-the-management-console.md
  translations/pt-BR/content/admin/identity-and-access-management/index.md
  translations/pt-BR/content/admin/identity-and-access-management/managing-recovery-codes-for-your-enterprise/accessing-your-enterprise-account-if-your-identity-provider-is-unavailable.md
  translations/pt-BR/content/admin/identity-and-access-management/managing-recovery-codes-for-your-enterprise/downloading-your-enterprise-accounts-saml-single-sign-on-recovery-codes.md
  translations/pt-BR/content/admin/identity-and-access-management/managing-recovery-codes-for-your-enterprise/downloading-your-enterprise-accounts-single-sign-on-recovery-codes.md
  translations/pt-BR/content/admin/identity-and-access-management/managing-recovery-codes-for-your-enterprise/index.md
  translations/pt-BR/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  translations/pt-BR/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-support-for-your-idps-conditional-access-policy.md
  translations/pt-BR/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-oidc-for-enterprise-managed-users.md
  translations/pt-BR/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-saml-single-sign-on-for-enterprise-managed-users.md
  translations/pt-BR/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-scim-provisioning-for-enterprise-managed-users-with-okta.md
  translations/pt-BR/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-scim-provisioning-for-enterprise-managed-users.md
  translations/pt-BR/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/index.md
  translations/pt-BR/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/managing-team-memberships-with-identity-provider-groups.md
  translations/pt-BR/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/migrating-from-saml-to-oidc.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/about-the-audit-log-for-your-enterprise.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/displaying-ip-addresses-in-the-audit-log-for-your-enterprise.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/index.md
  translations/pt-BR/content/authentication/keeping-your-account-and-data-secure/updating-your-github-access-credentials.md
  translations/pt-BR/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
  translations/pt-BR/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/triaging-code-scanning-alerts-in-pull-requests.md
  translations/pt-BR/content/developers/overview/managing-deploy-keys.md
  translations/pt-BR/content/developers/overview/using-ssh-agent-forwarding.md
  translations/pt-BR/content/developers/webhooks-and-events/webhooks/testing-webhooks.md
  translations/pt-BR/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/pt-BR/content/github/copilot/github-copilot-telemetry-terms.md
  translations/pt-BR/content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/viewing-a-pull-request-review.md
  translations/pt-BR/content/rest/overview/api-previews.md
  translations/pt-BR/content/site-policy/acceptable-use-policies/github-acceptable-use-policies.md
  translations/pt-BR/content/site-policy/content-removal-policies/github-private-information-removal-policy.md
  translations/pt-BR/content/site-policy/github-terms/github-corporate-terms-of-service.md
  translations/pt-BR/content/site-policy/privacy-policies/github-privacy-statement.md
  translations/pt-BR/content/site-policy/privacy-policies/github-subprocessors-and-cookies.md
  translations/pt-BR/content/site-policy/privacy-policies/githubs-notice-about-the-california-consumer-privacy-act.md
  translations/pt-BR/content/site-policy/privacy-policies/global-privacy-practices.md
  translations/pt-BR/content/site-policy/privacy-policies/index.md
  translations/pt-BR/data/features/code-scanning-pr-conversations-tab.yml
  translations/pt-BR/data/features/comment-dismissed-code-scanning-alert.yml
  translations/pt-BR/data/features/enterprise-audit-log-ip-addresses.yml
  translations/pt-BR/data/features/oidc-for-emu.yml
  translations/pt-BR/data/features/project-beta-webhooks.yml
  translations/pt-BR/data/reusables/audit_log/audit-log-search-list-info-about-action.md
  translations/pt-BR/data/reusables/code-scanning/choose-alert-dismissal-reason.md
  translations/pt-BR/data/reusables/enterprise-accounts/download-recovery-codes.md
  translations/pt-BR/data/reusables/enterprise-accounts/emu-azure-admin-consent.md
  translations/pt-BR/data/reusables/enterprise-accounts/emu-cap-validates.md
  translations/pt-BR/data/reusables/enterprise-accounts/oidc-beta-notice.md
  translations/pt-BR/data/reusables/enterprise-accounts/oidc-gei-warning.md
  translations/pt-BR/data/variables/product.yml
Labels: triage, automated-reposync-pr

#18402 repo sync
  assets/images/help/repository/enable-dependabot-security-updates-button.png
  assets/images/help/repository/security-and-analysis-disable-or-enable-fpt-private.png
  assets/images/help/repository/security-and-analysis-disable-or-enable-fpt-public.png
  assets/images/help/repository/security-and-analysis-disable-or-enable-ghec-private.png
  assets/images/help/repository/security-and-analysis-disable-or-enable-ghec-public.png
  assets/images/help/repository/security-and-analysis-disable-or-enable-public.png
  content/code-security/dependabot/dependabot-alerts/configuring-dependabot-alerts.md
  content/code-security/dependabot/dependabot-security-updates/configuring-dependabot-security-updates.md
  content/code-security/dependabot/dependabot-version-updates/configuring-dependabot-version-updates.md
  content/code-security/dependabot/working-with-dependabot/keeping-your-actions-up-to-date-with-dependabot.md
  content/code-security/getting-started/securing-your-repository.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-security-and-analysis-settings-for-your-repository.md
  data/features/dependabot-settings-update-37.yml
  data/reusables/dependabot/create-dependabot-yml.md
Labels: triage, automated-reposync-pr

#18352 Correct escaping so copying code matches screenshots
  content/get-started/writing-on-github/working-with-advanced-formatting/organizing-information-with-collapsed-sections.md
Labels: content, ready to merge, waiting for review

#18397 Fix confusing headings in "Configuring the private fork policy for a repository"
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
Labels: content, waiting for review, get started

#18408 repo sync
  assets/images/help/images/overview-github-hosted-runner.png
  assets/images/help/repository/actions-runner-output.png
  content/actions/using-github-hosted-runners/about-github-hosted-runners.md
Labels: triage, automated-reposync-pr

#18232 Discuss uninstalling webhooks
  content/developers/apps/getting-started-with-apps/differences-between-github-apps-and-oauth-apps.md
Labels: content, ready to merge, waiting for review, webhooks, SME reviewed

#18332 Fix repeated sentence fragment
  content/developers/overview/managing-deploy-keys.md
Labels: content, ready to merge, waiting for review, developers

#18146 Update "Configuring Git for GitHub Desktop" article
  assets/images/help/desktop/local-config-email.png
  assets/images/help/desktop/local-config-name.png
  assets/images/help/desktop/mac-email-git-config.png
  assets/images/help/desktop/mac-name-git-config.png
  assets/images/help/desktop/mac-save-git-config.png
  assets/images/help/desktop/mac-select-default-branch-name.png
  assets/images/help/desktop/repository-settings-git-config-save.png
  assets/images/help/desktop/repository-settings-remote.png
  assets/images/help/desktop/repository-settings-save.png
  assets/images/help/desktop/select-git-config.png
  assets/images/help/desktop/use-local-git-config.png
  assets/images/help/desktop/windows-email-git-config.png
  assets/images/help/desktop/windows-name-git-config.png
  assets/images/help/desktop/windows-save-git-config.png
  assets/images/help/desktop/windows-select-default-branch-name.png
  content/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/changing-a-remotes-url-from-github-desktop.md
  content/desktop/installing-and-configuring-github-desktop/configuring-and-customizing-github-desktop/configuring-git-for-github-desktop.md
  data/reusables/desktop/local-config-email.md
  data/reusables/desktop/local-config-name.md
  data/reusables/desktop/mac-repository-settings-menu.md
  data/reusables/desktop/paste-email-git-config.md
  data/reusables/desktop/repository-settings-save.md
  data/reusables/desktop/select-email-git-config.md
  data/reusables/desktop/select-git-config.md
  data/reusables/desktop/use-local-git-config.md
  data/reusables/desktop/windows-repository-settings-menu.md
Labels: content, desktop

#18389 Correct mistyped branch name and mistyped full reference.
  data/reusables/actions/workflows/section-triggering-a-workflow-branches.md
Labels: content, actions, ready to merge, waiting for review

#17835 Update Create a repository section
  content/rest/guides/getting-started-with-the-rest-api.md
Labels: ecosystem, ready to merge, waiting for review

#18167 github-event-types.md : add missed event object common properties into list
  content/developers/webhooks-and-events/events/github-event-types.md
Labels: content, ready to merge, waiting for review, webhooks

#18418 repo sync
  middleware/fastly-behavior.js
  middleware/fastly-cache-test.js
  middleware/index.js
  next.config.js
Labels: triage, automated-reposync-pr

#18420 repo sync
  .github/actions-scripts/content-changes-table-comment.js
Labels: triage, automated-reposync-pr

#18422 repo sync
  components/release-notes/GHAEReleaseNotePatch.tsx
  components/release-notes/GHESReleaseNotePatch.tsx
Labels: triage, automated-reposync-pr

#18440 repo sync
  content/actions/using-github-hosted-runners/about-github-hosted-runners.md
Labels: triage, automated-reposync-pr

#18442 repo sync
  assets/images/help/issues/close-issue-select-reason.png
  assets/images/help/issues/close-issue-with-reason.png
  assets/images/help/issues/close-issue.png
  assets/images/help/issues/close-project-button.png
  assets/images/help/issues/closed-projects-tab.png
  assets/images/help/issues/delete-project-button.png
  assets/images/help/issues/project-delete-confirm.png
  assets/images/help/issues/projects-profile-tab.png
  assets/images/help/issues/projects-select-template.png
  assets/images/help/issues/reopen-project-button.png
  content/issues/tracking-your-work-with-issues/closing-an-issue.md
  content/issues/tracking-your-work-with-issues/filtering-and-searching-issues-and-pull-requests.md
  content/issues/tracking-your-work-with-issues/index.md
  content/issues/trying-out-the-new-projects-experience/index.md
  content/issues/trying-out-the-new-projects-experience/managing-projects.md
  content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  data/features/issue-close-reasons.yml
  data/reusables/projects/create-project.md
  data/reusables/projects/create-user-project.md
  data/reusables/projects/reopen-a-project.md
Labels: triage, automated-reposync-pr

#18410 Fix unclear text in workflow page
  data/reusables/actions/jobs/section-using-jobs-in-a-workflow-name.md
Labels: content, waiting for review

#18385 Update fork button image
  assets/images/help/repository/fork_button.jpg
  assets/images/help/repository/fork_button.png
  content/get-started/quickstart/contributing-to-projects.md
  content/get-started/quickstart/fork-a-repo.md
Labels: content, waiting for review, get started

#18444 repo sync
  assets/images/help/repository/fork_button.png
Labels: triage, automated-reposync-pr

#18445 repo sync
  content/admin/github-actions/managing-access-to-actions-from-githubcom/about-using-actions-in-your-enterprise.md
  content/organizations/managing-git-access-to-your-organizations-repositories/about-ssh-certificate-authorities.md
Labels: triage, automated-reposync-pr

#18446 repo sync
  content/admin/identity-and-access-management/managing-iam-for-your-enterprise/about-authentication-for-your-enterprise.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/about-saml-for-enterprise-iam.md
Labels: triage, automated-reposync-pr

#17479 basic-writing-and-formatting: add `raw=true` also for images of same repo
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, ready to merge, waiting for review, SME reviewed, get started

#18447 Corrected the spelling mistake of components on docs/stylesheets/README.md file
  stylesheets/README.md
Labels: content, ready to merge

#18454 repo sync
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  data/features/dependency-graph-rust-support.yml
Labels: triage, automated-reposync-pr

#18413 Fix ref_type description in delete webhook
  data/reusables/webhooks/delete_properties.md
Labels: content, ready to merge, waiting for review

#18459 repo sync
  content/actions/learn-github-actions/understanding-github-actions.md
  content/actions/quickstart.md
  data/reusables/actions/link-to-example-library.md
Labels: triage, automated-reposync-pr

#18439 Describe contents of automatically generated release notes
  content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md
Labels: content, waiting for review

#18382 Additional closing curly brace
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
Labels: content, ready to merge, code security

#18466 repo sync
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
Labels: triage, automated-reposync-pr

#18464 Fix typo for tool picker name
  lib/all-tools.js
Labels: content, waiting for review, desktop

#18470 repo sync
  assets/images/enterprise/3.5/releases/auto-generate-release-notes.png
  assets/images/enterprise/3.5/releases/releases_description_auto.png
  assets/images/help/releases/generate-release-notes.png
  assets/images/help/releases/releases-tag-previous-release.png
  assets/images/help/releases/releases_description_auto.png
  content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md
  content/repositories/releasing-projects-on-github/managing-releases-in-a-repository.md
  data/features/previous-release-tag.yml
  data/reusables/releases/previous-release-tag.md
Labels: triage, automated-reposync-pr

#18479 repo sync
  data/features/actions-inherit-secrets-reusable-workflows.yml
Labels: triage, automated-reposync-pr

#18435 Update skipping-workflow-runs.md
  content/actions/managing-workflow-runs/skipping-workflow-runs.md
Labels: content, actions, waiting for review, more-information-needed

#18482 repo sync
  content/admin/configuration/configuring-network-settings/enabling-subdomain-isolation.md
  content/admin/packages/getting-started-with-github-packages-for-your-enterprise.md
  content/packages/learn-github-packages/introduction-to-github-packages.md
Labels: triage, automated-reposync-pr

#18483 repo sync
  content/admin/user-management/managing-repositories-in-your-enterprise/restoring-a-deleted-repository.md
  content/admin/user-management/managing-users-in-your-enterprise/placing-a-legal-hold-on-a-user-or-organization.md
  content/repositories/creating-and-managing-repositories/restoring-a-deleted-repository.md
  data/release-notes/enterprise-server/3-5/0.yml
Labels: triage, automated-reposync-pr

#18484 repo sync
  translations/ja-JP/data/variables/product.yml
  translations/pt-BR/data/variables/product.yml
Labels: triage, automated-reposync-pr

#18489 repo sync
  content/rest/secret-scanning.md
Labels: triage, automated-reposync-pr

#18492 repo sync
  assets/images/help/education/community-exchange-page.png
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-for-your-schoolwork/about-github-community-exchange.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-for-your-schoolwork/about-github-education-for-students.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-for-your-schoolwork/index.md
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/using-github-codespaces-with-github-classroom.md
  data/reusables/education/about-github-education-link.md
  data/variables/product.yml
Labels: triage, automated-reposync-pr

#18494 repo sync
  components/lib/get-rest-code-samples.ts
Labels: triage, automated-reposync-pr

#18495 repo sync
  content/rest/activity/feeds.md
Labels: triage, automated-reposync-pr

#18497 repo sync
  translations/ja-JP/content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
  translations/ja-JP/content/actions/learn-github-actions/understanding-github-actions.md
  translations/ja-JP/content/actions/managing-workflow-runs/skipping-workflow-runs.md
  translations/ja-JP/content/actions/migrating-to-github-actions/migrating-from-travis-ci-to-github-actions.md
  translations/ja-JP/content/actions/quickstart.md
  translations/ja-JP/content/actions/using-workflows/using-starter-workflows.md
  translations/ja-JP/content/admin/code-security/managing-supply-chain-security-for-your-enterprise/about-supply-chain-security-for-your-enterprise.md
  translations/ja-JP/content/admin/code-security/managing-supply-chain-security-for-your-enterprise/enabling-the-dependency-graph-for-your-enterprise.md
  translations/ja-JP/content/admin/code-security/managing-supply-chain-security-for-your-enterprise/viewing-the-vulnerability-data-for-your-enterprise.md
  translations/ja-JP/content/admin/configuration/configuring-network-settings/enabling-subdomain-isolation.md
  translations/ja-JP/content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/managing-self-hosted-runners-for-dependabot-updates.md
  translations/ja-JP/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-scim-provisioning-for-enterprise-managed-users.md
  translations/ja-JP/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/index.md
  translations/ja-JP/content/admin/packages/getting-started-with-github-packages-for-your-enterprise.md
  translations/ja-JP/content/admin/user-management/managing-repositories-in-your-enterprise/restoring-a-deleted-repository.md
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/running-codeql-code-scanning-in-a-container.md
  translations/ja-JP/content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  translations/ja-JP/content/code-security/dependabot/dependabot-version-updates/configuring-dependabot-version-updates.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/ja-JP/content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
  translations/ja-JP/content/packages/learn-github-packages/introduction-to-github-packages.md
  translations/ja-JP/content/repositories/creating-and-managing-repositories/deleting-a-repository.md
  translations/ja-JP/content/repositories/creating-and-managing-repositories/restoring-a-deleted-repository.md
  translations/ja-JP/content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md
  translations/ja-JP/content/repositories/releasing-projects-on-github/managing-releases-in-a-repository.md
  translations/ja-JP/content/rest/actions/permissions.md
  translations/ja-JP/content/rest/secret-scanning.md
  translations/ja-JP/data/features/actions-inherit-secrets-reusable-workflows.yml
  translations/ja-JP/data/features/dependency-graph-rust-support.yml
  translations/ja-JP/data/features/previous-release-tag.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-5/0-rc1.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-5/0.yml
  translations/ja-JP/data/reusables/actions/link-to-example-library.md
  translations/ja-JP/data/reusables/dependabot/enterprise-enable-dependabot.md
  translations/ja-JP/data/reusables/releases/previous-release-tag.md
  translations/ja-JP/data/reusables/repositories/enable-security-alerts.md
  translations/ja-JP/data/reusables/repositories/relative-links.md
  translations/ja-JP/data/reusables/webhooks/delete_properties.md
  translations/ja-JP/data/variables/product.yml
Labels: triage, automated-reposync-pr

#18498 repo sync
  content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  content/actions/using-workflows/reusing-workflows.md
  data/features/partial-reruns-with-reusable.yml
  data/reusables/actions/partial-reruns-with-reusable.md
Labels: triage, automated-reposync-pr

#18504 repo sync
  content/desktop/index.md
Labels: triage, automated-reposync-pr

#18505 repo sync
  data/release-notes/enterprise-server/3-1/21.yml
  data/release-notes/enterprise-server/3-2/13.yml
  data/release-notes/enterprise-server/3-3/8.yml
  data/release-notes/enterprise-server/3-4/3.yml
Labels: triage, automated-reposync-pr

#18515 repo sync
  out.txt
Labels: triage, automated-reposync-pr

#18517 repo sync
  docker-compose.prod.tmpl.yaml
Labels: triage, automated-reposync-pr

#18518 repo sync
  translations/pt-BR/content/account-and-profile/index.md
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-profile.md
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-github-profile/index.md
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/index.md
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/sending-enterprise-contributions-to-your-githubcom-profile.md
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/showing-an-overview-of-your-activity-on-your-profile.md
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/showing-your-private-contributions-and-achievements-on-your-profile.md
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/troubleshooting-commits-on-your-timeline.md
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/viewing-contributions-on-your-profile.md
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/why-are-my-contributions-not-showing-up-on-my-profile.md
  translations/pt-BR/content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  translations/pt-BR/content/actions/using-workflows/reusing-workflows.md
  translations/pt-BR/content/actions/using-workflows/using-starter-workflows.md
  translations/pt-BR/content/desktop/index.md
  translations/pt-BR/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-for-your-schoolwork/about-github-community-exchange.md
  translations/pt-BR/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-for-your-schoolwork/about-github-education-for-students.md
  translations/pt-BR/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-for-your-schoolwork/index.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/using-github-codespaces-with-github-classroom.md
  translations/pt-BR/content/rest/activity/feeds.md
  translations/pt-BR/data/features/partial-reruns-with-reusable.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-1/21.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-2/13.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/8.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-4/3.yml
  translations/pt-BR/data/reusables/actions/allow-specific-actions-intro.md
  translations/pt-BR/data/reusables/actions/partial-reruns-with-reusable.md
  translations/pt-BR/data/reusables/education/about-github-education-link.md
  translations/pt-BR/data/variables/product.yml
Labels: triage, automated-reposync-pr

#18521 repo sync
  .github/workflows/check-all-english-links.yml
  script/check-english-links.js
  translations/ja-JP/content/account-and-profile/index.md
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-profile.md
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-github-profile/index.md
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/index.md
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/sending-enterprise-contributions-to-your-githubcom-profile.md
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/showing-an-overview-of-your-activity-on-your-profile.md
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/showing-your-private-contributions-and-achievements-on-your-profile.md
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/troubleshooting-commits-on-your-timeline.md
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/viewing-contributions-on-your-profile.md
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/why-are-my-contributions-not-showing-up-on-my-profile.md
  translations/ja-JP/content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  translations/ja-JP/content/actions/using-workflows/reusing-workflows.md
  translations/ja-JP/content/desktop/index.md
  translations/ja-JP/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-for-your-schoolwork/about-github-community-exchange.md
  translations/ja-JP/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-for-your-schoolwork/about-github-education-for-students.md
  translations/ja-JP/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-for-your-schoolwork/index.md
  translations/ja-JP/content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/using-github-codespaces-with-github-classroom.md
  translations/ja-JP/content/rest/activity/feeds.md
  translations/ja-JP/data/features/partial-reruns-with-reusable.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-1/21.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/13.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/8.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-4/3.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-5/0-rc1.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-5/0.yml
  translations/ja-JP/data/reusables/actions/partial-reruns-with-reusable.md
  translations/ja-JP/data/reusables/education/about-github-education-link.md
  translations/ja-JP/data/variables/product.yml
  translations/log/ja-resets.csv
Labels: triage, automated-reposync-pr

#18529 repo sync
  content/actions/learn-github-actions/contexts.md
  content/actions/using-workflows/events-that-trigger-workflows.md
  data/features/actions-unified-inputs.yml
  data/reusables/actions/inputs-vs-github-event-inputs.md
  data/reusables/actions/workflow-dispatch-inputs.md
Labels: triage, automated-reposync-pr

#18530 repo sync
  content/actions/learn-github-actions/contexts.md
  content/actions/using-workflows/events-that-trigger-workflows.md
  data/features/README.md
  data/reusables/actions/inputs-vs-github-event-inputs.md
  data/reusables/actions/workflow-dispatch-inputs.md
Labels: triage, automated-reposync-pr

#18302 proposal: add custom commit message example (s)
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
Labels: content, ready to merge, dependabot

#18513 Update "can not"
  content/actions/managing-workflow-runs/removing-workflow-artifacts.md
Labels: content, triage, ready to merge

#18527 Lowercase HTML elements
  content/pages/getting-started-with-github-pages/securing-your-github-pages-site-with-https.md
Labels: ready to merge, waiting for review, pages

#18536 repo sync
  lib/webhooks/static/dotcom/push.payload.json
  lib/webhooks/static/ghes-3.3/push.payload.json
  lib/webhooks/static/ghes-3.4/push.payload.json
  lib/webhooks/static/ghes-3.5/push.payload.json
  translations/pt-BR/content/actions/learn-github-actions/contexts.md
  translations/pt-BR/content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  translations/pt-BR/content/actions/managing-workflow-runs/removing-workflow-artifacts.md
  translations/pt-BR/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/pt-BR/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/pt-BR/content/pages/getting-started-with-github-pages/securing-your-github-pages-site-with-https.md
  translations/pt-BR/content/rest/guides/index.md
  translations/pt-BR/data/features/README.md
  translations/pt-BR/data/features/actions-unified-inputs.yml
  translations/pt-BR/data/reusables/actions/inputs-vs-github-event-inputs.md
  translations/pt-BR/data/reusables/actions/workflow-dispatch-inputs.md
Labels: triage, automated-reposync-pr

#18540 repo sync
  content/actions/deployment/security-hardening-your-deployments/using-openid-connect-with-reusable-workflows.md
  content/get-started/writing-on-github/working-with-advanced-formatting/organizing-information-with-collapsed-sections.md
  content/get-started/writing-on-github/working-with-advanced-formatting/using-keywords-in-issues-and-pull-requests.md
  data/features/README.md
  lib/all-versions.js
  lib/frontmatter.js
  tests/fixtures/page-versioned-for-ghae-next.md
  tests/fixtures/page-with-invalid-product-version.md
  tests/helpers/schemas/versions-schema.js
  tests/linting/lint-files.js
  tests/linting/lint-versioning.js
  tests/unit/page.js
  translations/es-ES/content/actions/deployment/security-hardening-your-deployments/using-openid-connect-with-reusable-workflows.md
  translations/es-ES/content/get-started/writing-on-github/working-with-advanced-formatting/organizing-information-with-collapsed-sections.md
  translations/es-ES/content/get-started/writing-on-github/working-with-advanced-formatting/using-keywords-in-issues-and-pull-requests.md
  translations/ja-JP/content/actions/deployment/security-hardening-your-deployments/using-openid-connect-with-reusable-workflows.md
  translations/ja-JP/content/get-started/writing-on-github/working-with-advanced-formatting/organizing-information-with-collapsed-sections.md
  translations/ja-JP/content/get-started/writing-on-github/working-with-advanced-formatting/using-keywords-in-issues-and-pull-requests.md
  translations/pt-BR/content/actions/deployment/security-hardening-your-deployments/using-openid-connect-with-reusable-workflows.md
  translations/pt-BR/content/get-started/writing-on-github/working-with-advanced-formatting/organizing-information-with-collapsed-sections.md
  translations/pt-BR/content/get-started/writing-on-github/working-with-advanced-formatting/using-keywords-in-issues-and-pull-requests.md
  translations/zh-CN/content/actions/deployment/security-hardening-your-deployments/using-openid-connect-with-reusable-workflows.md
  translations/zh-CN/content/get-started/writing-on-github/working-with-advanced-formatting/organizing-information-with-collapsed-sections.md
  translations/zh-CN/content/get-started/writing-on-github/working-with-advanced-formatting/using-keywords-in-issues-and-pull-requests.md
Labels: triage, automated-reposync-pr

#18541 repo sync
  lib/render-content/plugins/use-english-headings.js
  translations/es-ES/content/actions/learn-github-actions/contexts.md
  translations/es-ES/content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  translations/es-ES/content/actions/managing-workflow-runs/removing-workflow-artifacts.md
  translations/es-ES/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/es-ES/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/es-ES/content/pages/getting-started-with-github-pages/securing-your-github-pages-site-with-https.md
  translations/es-ES/content/rest/guides/index.md
  translations/es-ES/data/features/README.md
  translations/es-ES/data/features/actions-unified-inputs.yml
  translations/es-ES/data/reusables/actions/inputs-vs-github-event-inputs.md
  translations/es-ES/data/reusables/actions/workflow-dispatch-inputs.md
Labels: triage, automated-reposync-pr

#18547 repo sync
  translations/ja-JP/content/actions/learn-github-actions/contexts.md
  translations/ja-JP/content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  translations/ja-JP/content/actions/managing-workflow-runs/removing-workflow-artifacts.md
  translations/ja-JP/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/ja-JP/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/ja-JP/content/pages/getting-started-with-github-pages/securing-your-github-pages-site-with-https.md
  translations/ja-JP/content/rest/guides/index.md
  translations/ja-JP/data/features/README.md
  translations/ja-JP/data/features/actions-unified-inputs.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-5/0-rc1.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-5/0.yml
  translations/ja-JP/data/reusables/actions/inputs-vs-github-event-inputs.md
  translations/ja-JP/data/reusables/actions/workflow-dispatch-inputs.md
  translations/log/cn-resets.csv
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-profile.md
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
  translations/zh-CN/content/actions/examples/using-concurrency-expressions-and-a-test-matrix.md
  translations/zh-CN/content/actions/examples/using-scripts-to-test-your-code-on-a-runner.md
  translations/zh-CN/content/actions/examples/using-the-github-cli-on-a-runner.md
  translations/zh-CN/content/actions/learn-github-actions/contexts.md
  translations/zh-CN/content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  translations/zh-CN/content/actions/managing-workflow-runs/removing-workflow-artifacts.md
  translations/zh-CN/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/zh-CN/content/billing/managing-your-license-for-github-enterprise/troubleshooting-license-usage-for-github-enterprise.md
  translations/zh-CN/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/zh-CN/content/desktop/index.md
  translations/zh-CN/content/pages/getting-started-with-github-pages/securing-your-github-pages-site-with-https.md
  translations/zh-CN/content/rest/guides/index.md
  translations/zh-CN/data/features/README.md
  translations/zh-CN/data/features/actions-unified-inputs.yml
  translations/zh-CN/data/reusables/actions/inputs-vs-github-event-inputs.md
  translations/zh-CN/data/reusables/actions/workflow-dispatch-inputs.md
Labels: triage, automated-reposync-pr

#18548 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
  data/reusables/secret-scanning/secret-list-private-push-protection.md
Labels: triage, automated-reposync-pr

#18554 repo sync
  translations/pt-BR/data/features/README.md
  translations/pt-BR/data/reusables/secret-scanning/partner-secret-list-private-repo.md
  translations/pt-BR/data/reusables/secret-scanning/partner-secret-list-public-repo.md
  translations/pt-BR/data/reusables/secret-scanning/secret-list-private-push-protection.md
Labels: triage, automated-reposync-pr

#18582 repo sync
  translations/zh-CN/content/actions/learn-github-actions/contexts.md
  translations/zh-CN/content/rest/guides/index.md
  translations/zh-CN/data/features/README.md
  translations/zh-CN/data/reusables/secret-scanning/partner-secret-list-private-repo.md
  translations/zh-CN/data/reusables/secret-scanning/partner-secret-list-public-repo.md
  translations/zh-CN/data/reusables/secret-scanning/secret-list-private-push-protection.md
Labels: triage, automated-reposync-pr

#18583 repo sync
  translations/ja-JP/data/features/README.md
  translations/ja-JP/data/release-notes/enterprise-server/3-5/0-rc1.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-5/0.yml
  translations/ja-JP/data/reusables/secret-scanning/partner-secret-list-private-repo.md
  translations/ja-JP/data/reusables/secret-scanning/partner-secret-list-public-repo.md
  translations/ja-JP/data/reusables/secret-scanning/secret-list-private-push-protection.md
Labels: triage, automated-reposync-pr

#18525 Update create-a-repo.md
  content/get-started/quickstart/create-a-repo.md
Labels: waiting for review, get started

#18589 repo sync
  content/site-policy/privacy-policies/github-privacy-statement.md
Labels: triage, automated-reposync-pr

#18587 Fixed the typos in this sentence "It detects changes to files the in the translations folder "
  script/README.md
Labels: triage, ready to merge

#18592 repo sync
  .github/workflows/check-all-english-links.yml
Labels: triage, automated-reposync-pr

#18594 repo sync
  components/rest/ParameterRow.tsx
Labels: triage, automated-reposync-pr

#18597 repo sync
  .github/workflows/check-all-english-links.yml
Labels: triage, automated-reposync-pr

#18600 repo sync
  data/reusables/actions/supported-github-runners.md
Labels: triage, automated-reposync-pr

#18601 repo sync
  translations/log/cn-resets.csv
  translations/zh-CN/content/actions/examples/index.md
  translations/zh-CN/content/actions/examples/using-concurrency-expressions-and-a-test-matrix.md
  translations/zh-CN/content/actions/examples/using-scripts-to-test-your-code-on-a-runner.md
  translations/zh-CN/content/actions/examples/using-the-github-cli-on-a-runner.md
  translations/zh-CN/content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  translations/zh-CN/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/zh-CN/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/zh-CN/content/get-started/quickstart/create-a-repo.md
  translations/zh-CN/content/site-policy/privacy-policies/github-privacy-statement.md
Labels: triage, automated-reposync-pr

#18602 repo sync
  content/rest/overview/endpoints-available-for-github-apps.md
Labels: triage, automated-reposync-pr

#18421 Change confusing wording.
  data/reusables/developer-site/limit_workflow_to_activity_types.md
Labels: content, actions, waiting for review

#18610 repo sync
  assets/images/help/classroom/classroom-reuse-assignment-modal.png
  assets/images/help/classroom/multiple-assignments-selected.png
  assets/images/help/classroom/reuse-multiple-assignments-modal.png
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/reuse-an-assignment.md
  data/reusables/classroom/reuse-assignment-link.md
Labels: triage, automated-reposync-pr

#18613 repo sync
  data/release-notes/enterprise-server/3-4/2.yml
  data/release-notes/enterprise-server/3-4/3.yml
Labels: triage, automated-reposync-pr

#18549 Maintain consistent `noreply` email references
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-email-preferences/setting-your-commit-email-address.md
  data/reusables/user-settings/set_your_email_address_in_git.md
Labels: content, ready to merge, waiting for review

#18584 Add exit code information to ssh connection test
  content/authentication/connecting-to-github-with-ssh/testing-your-ssh-connection.md
Labels: content, waiting for review, authentication

#18623 repo sync
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  data/features/ghas-enablement-webhook.yml
  data/release-notes/enterprise-server/3-5/0.yml
  lib/webhooks/static/dotcom/security_and_analysis.payload.json
Labels: triage, automated-reposync-pr

#18624 repo sync
  assets/images/help/branches/branch-creation-popup.png
  assets/images/help/branches/branches-overview-link.png
  assets/images/help/branches/new-branch-button.png
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-and-deleting-branches-within-your-repository.md
  data/reusables/repositories/navigate-to-branches.md
Labels: triage, automated-reposync-pr

#18625 repo sync
  data/release-notes/enterprise-server/3-1/22.yml
  data/release-notes/enterprise-server/3-2/14.yml
  data/release-notes/enterprise-server/3-3/9.yml
  data/release-notes/enterprise-server/3-4/4.yml
  data/release-notes/enterprise-server/3-5/1.yml
Labels: triage, automated-reposync-pr

#18630 repo sync
  middleware/cors.js
  middleware/csp.js
  middleware/helmet.js
  middleware/index.js
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#18636 repo sync
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/saml-configuration-reference.md
Labels: triage, automated-reposync-pr

#18618 Confusing example in Syncing a Fork is fixed
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/syncing-a-fork.md
Labels: content, ready to merge, waiting for review

#18642 repo sync
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/reviewing-dependency-changes-in-a-pull-request.md
  data/features/dependency-review-action-configuration.yml
  data/reusables/dependency-review/dependency-review-action-beta-note.md
  data/reusables/dependency-review/dependency-review-action-overview.md
  data/variables/product.yml
Labels: triage, automated-reposync-pr

#18644 repo sync
  data/reusables/dotcom_billing/actions-packages-report-download-org-account.md
Labels: triage, automated-reposync-pr

#18647 repo sync
  content/rest/overview/permissions-required-for-github-apps.md
Labels: triage, automated-reposync-pr

#18648 repo sync
  content/rest/overview/libraries.md
Labels: triage, automated-reposync-pr

#18653 repo sync
  components/context/ArticleContext.tsx
  components/context/RestContext.tsx
  components/sidebar/RestCollapsibleSection.tsx
  components/ui/MiniTocs/MiniTocs.tsx
  lib/get-mini-toc-items.js
  lib/rest/index.js
  middleware/render-page.js
  pages/[versionId]/rest/[category]/[subcategory].tsx
  pages/[versionId]/rest/[category]/index.tsx
Labels: triage, automated-reposync-pr

#18654 repo sync
  content/actions/hosting-your-own-runners/customizing-the-containers-used-by-jobs.md
  content/actions/hosting-your-own-runners/index.md
  data/features/container-hooks.yml
  data/reusables/actions/jobs/section-running-jobs-in-a-container.md
Labels: triage, automated-reposync-pr

#18655 repo sync
  .github/workflows/pa11y.yml
  .pa11yci
  components/context/ArticleContext.tsx
  content/developers/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps.md
  content/developers/apps/getting-started-with-apps/migrating-oauth-apps-to-github-apps.md
  content/developers/overview/about-githubs-apis.md
  content/graphql/guides/using-global-node-ids.md
  content/graphql/overview/resource-limitations.md
  content/rest/overview/resources-in-the-rest-api.md
  lib/get-mini-toc-items.js
  package-lock.json
  package.json
  tests/unit/mini-toc-items.js
Labels: triage, automated-reposync-pr

#18656 repo sync
  translations/pt-BR/content/admin/identity-and-access-management/using-saml-for-enterprise-iam/saml-configuration-reference.md
  translations/pt-BR/content/billing/managing-billing-for-github-codespaces/about-billing-for-codespaces.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  translations/pt-BR/content/codespaces/prebuilding-your-codespaces/about-codespaces-prebuilds.md
  translations/pt-BR/content/codespaces/prebuilding-your-codespaces/configuring-prebuilds.md
  translations/pt-BR/content/codespaces/prebuilding-your-codespaces/index.md
  translations/pt-BR/content/codespaces/prebuilding-your-codespaces/managing-prebuilds.md
  translations/pt-BR/content/codespaces/prebuilding-your-codespaces/testing-dev-container-changes.md
  translations/pt-BR/content/codespaces/troubleshooting/troubleshooting-prebuilds.md
  translations/pt-BR/content/get-started/exploring-projects-on-github/saving-repositories-with-stars.md
  translations/pt-BR/content/get-started/quickstart/contributing-to-projects.md
  translations/pt-BR/content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/filtering-files-in-a-pull-request.md
  translations/pt-BR/content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/reviewing-dependency-changes-in-a-pull-request.md
  translations/pt-BR/content/pull-requests/collaborating-with-pull-requests/working-with-forks/syncing-a-fork.md
  translations/pt-BR/content/pull-requests/committing-changes-to-your-project/creating-and-editing-commits/about-commits.md
  translations/pt-BR/content/rest/overview/libraries.md
  translations/pt-BR/content/rest/overview/permissions-required-for-github-apps.md
  translations/pt-BR/data/features/commit-tree-view.yml
  translations/pt-BR/data/features/dependency-review-action-configuration.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-1/0.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-1/22.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-2/0.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-2/14.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/0.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/9.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-4/0.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-4/4.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-5/0.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-5/1.yml
  translations/pt-BR/data/reusables/codespaces/about-billing-for-codespaces.md
  translations/pt-BR/data/reusables/codespaces/beta-functionality-limited.md
  translations/pt-BR/data/reusables/codespaces/billing-for-prebuilds.md
  translations/pt-BR/data/reusables/codespaces/prebuilds-beta-note.md
  translations/pt-BR/data/reusables/codespaces/unsupported-repos.md
  translations/pt-BR/data/reusables/dependency-review/dependency-review-action-beta-note.md
  translations/pt-BR/data/reusables/dependency-review/dependency-review-action-overview.md
  translations/pt-BR/data/reusables/dotcom_billing/actions-packages-report-download-org-account.md
  translations/pt-BR/data/variables/product.yml
Labels: triage, automated-reposync-pr

#18658 repo sync
  package-lock.json
  package.json
  pages/_app.tsx
Labels: triage, automated-reposync-pr

#18664 repo sync
  assets/images/enterprise/management-console/hostname-field.png
  assets/images/enterprise/management-console/test-domain-settings.png
Labels: triage, automated-reposync-pr

#18640 "or not" is added
  script/README.md
Labels: contributing docs, ready to merge

#18136 Update deploying-docker-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-docker-to-azure-app-service.md
Labels: content, actions, ready to merge, waiting for review

#18667 repo sync
  content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
Labels: triage, automated-reposync-pr

#18671 repo sync
  .github/workflows/test.yml
  lib/cookie-settings.js
  middleware/handle-errors.js
  package-lock.json
  package.json
  tests/helpers/supertest.js
  tests/rendering/server.js
Labels: triage, automated-reposync-pr

#18672 repo sync
  translations/ja-JP/content/admin/identity-and-access-management/using-saml-for-enterprise-iam/saml-configuration-reference.md
  translations/ja-JP/content/billing/managing-billing-for-github-codespaces/about-billing-for-codespaces.md
  translations/ja-JP/content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  translations/ja-JP/content/codespaces/prebuilding-your-codespaces/about-codespaces-prebuilds.md
  translations/ja-JP/content/codespaces/prebuilding-your-codespaces/configuring-prebuilds.md
  translations/ja-JP/content/codespaces/prebuilding-your-codespaces/index.md
  translations/ja-JP/content/codespaces/prebuilding-your-codespaces/managing-prebuilds.md
  translations/ja-JP/content/codespaces/prebuilding-your-codespaces/testing-dev-container-changes.md
  translations/ja-JP/content/codespaces/troubleshooting/troubleshooting-prebuilds.md
  translations/ja-JP/content/get-started/exploring-projects-on-github/saving-repositories-with-stars.md
  translations/ja-JP/content/get-started/quickstart/contributing-to-projects.md
  translations/ja-JP/content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/filtering-files-in-a-pull-request.md
  translations/ja-JP/content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/reviewing-dependency-changes-in-a-pull-request.md
  translations/ja-JP/content/pull-requests/collaborating-with-pull-requests/working-with-forks/syncing-a-fork.md
  translations/ja-JP/content/pull-requests/committing-changes-to-your-project/creating-and-editing-commits/about-commits.md
  translations/ja-JP/content/rest/overview/libraries.md
  translations/ja-JP/content/rest/overview/permissions-required-for-github-apps.md
  translations/ja-JP/data/features/commit-tree-view.yml
  translations/ja-JP/data/features/dependency-review-action-configuration.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-1/0.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-1/22.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/0.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/14.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/0.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/9.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-4/0.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-4/4.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-5/0.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-5/1.yml
  translations/ja-JP/data/reusables/codespaces/about-billing-for-codespaces.md
  translations/ja-JP/data/reusables/codespaces/beta-functionality-limited.md
  translations/ja-JP/data/reusables/codespaces/billing-for-prebuilds.md
  translations/ja-JP/data/reusables/codespaces/prebuilds-beta-note.md
  translations/ja-JP/data/reusables/codespaces/unsupported-repos.md
  translations/ja-JP/data/reusables/dependency-review/dependency-review-action-beta-note.md
  translations/ja-JP/data/reusables/dependency-review/dependency-review-action-overview.md
  translations/ja-JP/data/reusables/dotcom_billing/actions-packages-report-download-org-account.md
  translations/ja-JP/data/variables/product.yml
  translations/log/ja-resets.csv
Labels: triage, automated-reposync-pr

#18674 repo sync
  components/landing/GuideCards.tsx
Labels: triage, automated-reposync-pr

#18676 repo sync
  assets/images/help/issues/migrate-option.png
  assets/images/help/issues/migrate-start.png
  assets/images/help/issues/migrate-to-beta.png
  assets/images/help/issues/projects-classic-org.png
  assets/images/help/issues/projects-classic-user.png
  content/issues/trying-out-the-new-projects-experience/index.md
  content/issues/trying-out-the-new-projects-experience/migrating-your-project.md
  data/reusables/projects/enable-migration.md
  data/reusables/projects/migrate-project-steps.md
  data/reusables/projects/project_boards_old.md
Labels: triage, automated-reposync-pr

#18677 repo sync
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  data/features/secret-scanning-custom-enterprise-35.yml
  data/features/secret-scanning-custom-enterprise-36.yml
  data/features/secret-scanning-enterprise-dry-runs.yml
  data/features/secret-scanning-org-dry-runs.yml
Labels: triage, automated-reposync-pr

#18678 repo sync
  translations/ja-JP/content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-docker-to-azure-app-service.md
  translations/ja-JP/content/actions/hosting-your-own-runners/customizing-the-containers-used-by-jobs.md
  translations/ja-JP/content/actions/hosting-your-own-runners/index.md
  translations/ja-JP/content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  translations/ja-JP/content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  translations/ja-JP/content/developers/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps.md
  translations/ja-JP/content/developers/apps/getting-started-with-apps/migrating-oauth-apps-to-github-apps.md
  translations/ja-JP/content/developers/overview/about-githubs-apis.md
  translations/ja-JP/content/graphql/guides/using-global-node-ids.md
  translations/ja-JP/content/graphql/overview/resource-limitations.md
  translations/ja-JP/content/organizations/managing-saml-single-sign-on-for-your-organization/about-scim-for-organizations.md
  translations/ja-JP/content/rest/overview/resources-in-the-rest-api.md
  translations/ja-JP/data/features/container-hooks.yml
  translations/ja-JP/data/graphql/ghec/graphql_upcoming_changes.public.yml
  translations/ja-JP/data/graphql/graphql_upcoming_changes.public.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/14.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/9.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-4/4.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-5/1.yml
  translations/ja-JP/data/reusables/actions/jobs/section-running-jobs-in-a-container.md
  translations/log/ja-resets.csv
Labels: triage, automated-reposync-pr

#18603 fix: fixed Actions large secret instructions and added warning
  content/actions/security-guides/encrypted-secrets.md
Labels: content, actions, waiting for review

#18425 Remove redundant notes
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: content, actions, waiting for review, more-information-needed

#18683 repo sync
  content/admin/overview/about-github-ae.md
Labels: triage, automated-reposync-pr

#18687 repo sync
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-self-hosted-runners-for-your-enterprise.md
  content/admin/index.md
  content/admin/overview/about-github-enterprise-server.md
  content/admin/overview/index.md
  content/admin/overview/system-overview.md
  content/get-started/learning-about-github/githubs-products.md
  content/get-started/onboarding/getting-started-with-github-enterprise-server.md
  content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-server.md
  content/packages/learn-github-packages/introduction-to-github-packages.md
  data/reusables/enterprise/ghes-is-a-self-hosted-platform.md
  data/reusables/enterprise/ghes-runs-on-your-infrastructure.md
  data/reusables/enterprise/github-distributes-ghes.md
  tests/rendering/server.js
Labels: triage, automated-reposync-pr

#18690 repo sync
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/viewing-and-triaging-notifications/managing-notifications-from-your-inbox.md
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/permission-levels-for-a-personal-account-repository.md
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/deploying-github-advanced-security-in-your-enterprise.md
  content/admin/code-security/managing-supply-chain-security-for-your-enterprise/enabling-the-dependency-graph-for-your-enterprise.md
  content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  content/code-security/dependabot/dependabot-alerts/about-dependabot-alerts.md
  content/code-security/dependabot/dependabot-alerts/browsing-security-advisories-in-the-github-advisory-database.md
  content/code-security/dependabot/dependabot-alerts/configuring-dependabot-alerts.md
  content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
  content/code-security/dependabot/dependabot-alerts/index.md
  content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  content/code-security/dependabot/working-with-dependabot/troubleshooting-dependabot-errors.md
  content/code-security/dependabot/working-with-dependabot/troubleshooting-the-detection-of-vulnerable-dependencies.md
  content/code-security/getting-started/securing-your-organization.md
  content/code-security/getting-started/securing-your-repository.md
  content/code-security/supply-chain-security/end-to-end-supply-chain/securing-code.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-supply-chain-security.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-the-dependency-graph.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository.md
  content/developers/apps/building-github-apps/creating-a-github-app-using-url-parameters.md
  content/get-started/privacy-on-github/managing-data-use-settings-for-your-private-repository.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  content/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
  data/features/GH-advisory-db-supports-malware.yml
  data/learning-tracks/code-security.yml
  data/release-notes/enterprise-server/3-2/0-rc1.yml
  data/release-notes/enterprise-server/3-2/0.yml
  data/release-notes/github-ae/2022-05/2022-05-17.yml
  data/reusables/advanced-security/getting-the-most-from-your-license.md
  data/reusables/advisory-database/beta-malware-advisories.md
  data/reusables/audit_log/audit-log-action-categories.md
  data/reusables/notifications/vulnerable-dependency-notification-options.md
  data/reusables/repositories/dependency-review.md
  data/reusables/repositories/enable-security-alerts.md
  data/reusables/repositories/github-reviews-security-advisories.md
  data/reusables/repositories/tracks-vulnerabilities.md
  data/reusables/security-advisory/link-browsing-advisory-db.md
  data/reusables/security/displayed-information.md
Labels: triage, automated-reposync-pr

#18691 repo sync
  data/reusables/projects/migrate-project-steps.md
Labels: triage, automated-reposync-pr

#18692 repo sync
  content/admin/user-management/managing-users-in-your-enterprise/managing-dormant-users.md
Labels: triage, automated-reposync-pr

#18695 repo sync
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-supply-chain-security.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-the-dependency-graph.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/troubleshooting-the-dependency-graph.md
  data/features/dependency-submission-api.yml
  data/reusables/dependabot/about-the-dependency-graph.md
  data/reusables/dependency-submission/dependency-submission-link.md
  package-lock.json
  package.json
  script/check-english-links.js
  script/early-access/symlink-from-local-repo.js
  script/early-access/update-data-and-image-paths.js
  script/enterprise-server-deprecations/archive-version.js
  script/enterprise-server-deprecations/remove-redirects.js
  script/enterprise-server-deprecations/remove-version-markup.js
  script/enterprise-server-releases/add-ghec-to-fpt.js
  script/enterprise-server-releases/create-graphql-files.js
  script/enterprise-server-releases/create-rest-files.js
  script/enterprise-server-releases/create-webhook-files.js
  script/enterprise-server-releases/ghes-to-ghae-versioning.js
  script/enterprise-server-releases/release-banner.js
  script/find-orphaned-assets.mjs
  script/i18n/lint-translation-files.js
  script/i18n/liquid-diff.js
  script/i18n/prune-stale-files.js
  script/i18n/report-reset-files.js
  script/i18n/reset-files-with-broken-liquid-tags.js
  script/i18n/reset-translated-file.js
  script/move-category-to-product.js
  script/move-content.mjs
  script/purge-fastly-by-url.js
  script/rendered-content-link-checker.mjs
  script/rest/openapi-check.js
  script/rest/update-files.js
  script/toggle-ghae-feature-flags.js
  tests/unit/render-content.js
Labels: triage, automated-reposync-pr

#18696 repo sync
  data/reusables/dependency-submission/about-dependency-submission.md
Labels: triage, automated-reposync-pr

#18698 repo sync
  content/admin/enterprise-management/monitoring-your-appliance/generating-a-health-check-for-your-enterprise.md
  content/support/learning-about-github-support/about-github-premium-support.md
  data/reusables/support/premium-support-features.md
Labels: triage, automated-reposync-pr

#18725 repo sync
  data/release-notes/enterprise-server/3-5/0.yml
  data/release-notes/enterprise-server/3-5/1.yml
Labels: triage, automated-reposync-pr

#18756 repo sync
  .github/workflows/update-graphql-files.yml
Labels: triage, automated-reposync-pr

#18639 covert those two paragraphs into a bulleted list is done
  content/issues/tracking-your-work-with-issues/deleting-an-issue.md
Labels: content, ready to merge, waiting for review, issues

#18760 repo sync
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/index.md
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/merging-an-upstream-repository-into-your-fork.md
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/syncing-a-fork.md
Labels: triage, automated-reposync-pr

#18763 repo sync
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/managing-your-profile-readme.md
  content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-minio-gateway-for-nas-storage.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-scim-provisioning-for-enterprise-managed-users.md
  data/release-notes/enterprise-server/3-5/0.yml
  lib/excluded-links.js
Labels: triage, automated-reposync-pr

#18764 repo sync
  content/actions/automating-builds-and-tests/building-and-testing-go.md
  content/actions/automating-builds-and-tests/index.md
  content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
Labels: triage, automated-reposync-pr

#18771 repo sync
  assets/images/help/codespaces/add-constraint-dropdown-retention.png
  assets/images/help/codespaces/maximum-days-retention.png
  assets/images/help/codespaces/retention-deletion-message.png
  assets/images/help/codespaces/setting-default-retention.png
  assets/images/help/codespaces/vscode-deleting-in-5-days.png
  content/codespaces/customizing-your-codespace/changing-the-machine-type-for-your-codespace.md
  content/codespaces/customizing-your-codespace/configuring-automatic-deletion-of-your-codespaces.md
  content/codespaces/customizing-your-codespace/index.md
  content/codespaces/customizing-your-codespace/personalizing-codespaces-for-your-account.md
  content/codespaces/customizing-your-codespace/setting-your-default-editor-for-codespaces.md
  content/codespaces/customizing-your-codespace/setting-your-default-region-for-codespaces.md
  content/codespaces/customizing-your-codespace/setting-your-timeout-period-for-codespaces.md
  content/codespaces/guides.md
  content/codespaces/managing-codespaces-for-your-organization/index.md
  content/codespaces/managing-codespaces-for-your-organization/restricting-access-to-machine-types.md
  content/codespaces/managing-codespaces-for-your-organization/restricting-the-idle-timeout-period.md
  content/codespaces/managing-codespaces-for-your-organization/restricting-the-retention-period-for-codespaces.md
  content/codespaces/managing-codespaces-for-your-organization/restricting-the-visibility-of-forwarded-ports.md
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/using-github-codespaces-with-github-classroom.md
Labels: triage, automated-reposync-pr

#18779 repo sync
  assets/images/help/docs/ghes-version-in-footer.png
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
  content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/managing-self-hosted-runners-for-dependabot-updates.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  content/admin/user-management/managing-users-in-your-enterprise/managing-dormant-users.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication.md
  content/get-started/learning-about-github/about-versions-of-github-docs.md
  content/pull-requests/committing-changes-to-your-project/troubleshooting-commits/why-are-my-commits-linked-to-the-wrong-user.md
  data/reusables/enterprise-accounts/dormant-user-activity.md
Labels: triage, automated-reposync-pr

#18785 repo sync
  translations/pt-BR/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/pt-BR/content/admin/enterprise-management/monitoring-your-appliance/generating-a-health-check-for-your-enterprise.md
  translations/pt-BR/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-self-hosted-runners-for-your-enterprise.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  translations/pt-BR/content/admin/overview/about-github-enterprise-server.md
  translations/pt-BR/content/admin/overview/system-overview.md
  translations/pt-BR/content/admin/user-management/managing-users-in-your-enterprise/managing-dormant-users.md
  translations/pt-BR/content/code-security/dependabot/dependabot-alerts/about-dependabot-alerts.md
  translations/pt-BR/content/code-security/dependabot/dependabot-alerts/browsing-security-advisories-in-the-github-advisory-database.md
  translations/pt-BR/content/code-security/dependabot/dependabot-alerts/configuring-dependabot-alerts.md
  translations/pt-BR/content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
  translations/pt-BR/content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  translations/pt-BR/content/code-security/dependabot/working-with-dependabot/troubleshooting-dependabot-errors.md
  translations/pt-BR/content/code-security/dependabot/working-with-dependabot/troubleshooting-the-detection-of-vulnerable-dependencies.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-supply-chain-security.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/troubleshooting-the-dependency-graph.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/using-the-dependency-submission-api.md
  translations/pt-BR/data/release-notes/enterprise-server/3-5/0.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-5/1.yml
  translations/pt-BR/data/reusables/dependency-submission/dependency-submission-link.md
Labels: triage, automated-reposync-pr

#18786 repo sync
  data/features/ghas-enablement-webhook.yml
Labels: triage, automated-reposync-pr

#18788 repo sync
  data/reusables/projects/graphql-deprecation.md
Labels: triage, automated-reposync-pr

#18789 repo sync
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
Labels: triage, automated-reposync-pr

#18790 repo sync
  assets/images/help/copilot/copilot-settings-enable-button.png
  assets/images/help/copilot/copilot-settings-start-trial-button.png
  assets/images/help/copilot/copilot-signup-preferences.png
  content/billing/managing-billing-for-github-copilot/managing-your-github-copilot-subscription.md
  content/copilot/quickstart.md
  content/support/learning-about-github-support/about-github-premium-support.md
  data/reusables/copilot/signup-procedure.md
  data/reusables/support/premium-support-features.md
Labels: triage, automated-reposync-pr

#18792 repo sync
  data/reusables/secret-scanning/secret-list-private-push-protection.md
Labels: triage, automated-reposync-pr

#18794 repo sync
  data/reusables/actions/actions-activity-types.md
Labels: triage, automated-reposync-pr

#18795 repo sync
  content/admin/configuration/configuring-network-settings/configuring-a-hostname.md
Labels: triage, automated-reposync-pr

#18423 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: content, ready to merge, waiting for review

#18818 repo sync
  content/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot.md
  content/copilot/overview-of-github-copilot/about-github-copilot.md
  data/reusables/copilot/signup-procedure.md
Labels: triage, automated-reposync-pr

#18819 repo sync
  content/actions/learn-github-actions/usage-limits-billing-and-administration.md
Labels: triage, automated-reposync-pr

#18821 repo sync
  data/reusables/dependabot/configuration-options.md
Labels: triage, automated-reposync-pr

#18828 repo sync
  content/admin/packages/quickstart-for-configuring-your-minio-storage-bucket-for-github-packages.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  content/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-a-jetbrains-ide.md
  content/copilot/overview-of-github-copilot/about-github-copilot.md
  content/get-started/quickstart/create-a-repo.md
  content/repositories/working-with-files/using-files/working-with-non-code-files.md
  data/features/geoJSON-with-MapBox.yml
Labels: triage, automated-reposync-pr

#18835 repo sync
  assets/images/help/business-accounts/repository-forking-policy-settings.png
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise.md
  data/features/innersource-fork-policies.yml
  data/reusables/repositories/you-can-fork.md
Labels: triage, automated-reposync-pr

#18836 repo sync
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: triage, automated-reposync-pr

#18838 repo sync
  content/README.md
  content/admin/configuration/configuring-network-settings/configuring-tls.md
  content/admin/github-actions/managing-access-to-actions-from-githubcom/setting-up-the-tool-cache-on-self-hosted-runners-without-internet-access.md
  content/admin/user-management/migrating-data-to-and-from-your-enterprise/exporting-migration-data-from-githubcom.md
  content/admin/user-management/migrating-data-to-and-from-your-enterprise/migrating-data-to-your-enterprise.md
  content/get-started/learning-about-github/githubs-products.md
  content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  content/repositories/creating-and-managing-repositories/troubleshooting-cloning-errors.md
  content/repositories/releasing-projects-on-github/managing-releases-in-a-repository.md
  content/rest/teams/members.md
  content/rest/teams/team-sync.md
  contributing/troubleshooting.md
  data/reusables/actions/caching-availability.md
  data/reusables/enterprise_installation/request-a-trial.md
  data/reusables/products/which-product-to-use.md
Labels: triage, automated-reposync-pr

#18839 repo sync
  content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrade-requirements.md
Labels: triage, automated-reposync-pr

#18646 Update supported Terraform versions
  data/reusables/dependabot/supported-package-managers.md
Labels: content, waiting for review, dependabot

#18699 Fix typo on SOCKS5 proxy.
  data/reusables/actions/proxy-considerations.md
Labels: content, actions, ready to merge
