Repository github/docs, pull requests merged in 2022-04, with the labels that each got.

#16736 repo sync
  .devcontainer/devcontainer.json
  .devcontainer/java-environment/devcontainer.json
  .devcontainer/ruby-environment/devcontainer.json
Labels: triage, automated-reposync-pr

#16671 Add users and teams to dependabot security alert information
  content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  data/reusables/repositories/sidebar-dependabot-alerts.md
Labels: content, ready to merge, code security

#16739 repo sync
  content/codespaces/customizing-your-codespace/personalizing-codespaces-for-your-account.md
Labels: triage, automated-reposync-pr

#16743 repo sync
  middleware/contextualizers/breadcrumbs.js
  middleware/contextualizers/early-access-breadcrumbs.js
  middleware/index.js
  tests/rendering/breadcrumbs.js
Labels: triage, automated-reposync-pr

#16744 repo sync
  components/context/ProductLandingContext.tsx
  components/landing/LandingHero.tsx
  lib/frontmatter.js
  lib/page.js
  tests/fixtures/article-with-introLinks.md
  tests/unit/page.js
Labels: triage, automated-reposync-pr

#16755 repo sync
  content/github/site-policy-deprecated/github-enterprise-server-license-agreement.md
  content/github/site-policy-deprecated/github-enterprise-subscription-agreement.md
Labels: triage, automated-reposync-pr

#16761 repo sync
  content/admin/identity-and-access-management/managing-iam-for-your-enterprise/configuring-saml-single-sign-on-for-your-enterprise-using-okta.md
  content/developers/overview/managing-deploy-keys.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/configuring-saml-single-sign-on-and-scim-using-okta.md
  content/site-policy/github-terms/github-community-forum-code-of-conduct.md
  contributing/images-and-versioning.md
  data/reusables/support/connect-in-the-forum-bootcamp.md
Labels: triage, automated-reposync-pr

#16181 Update telling-git-about-your-signing-key.md
  content/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key.md
Labels: content, ready to merge

#15839 Github Actions Release Trigger | docs wrongly state that release-Action is triggered on draft
  data/reusables/webhooks/release_webhook_properties.md
Labels: content, waiting for review, webhooks

#16392 Update to v2.1.4 of gradle-build-action
  content/actions/automating-builds-and-tests/building-and-testing-java-with-gradle.md
  content/actions/publishing-packages/publishing-java-packages-with-gradle.md
Labels: content, actions, waiting for review, needs SME

#16173 workflows: Add link to skipped action workaround
  data/reusables/actions/workflows/section-triggering-a-workflow-paths.md
Labels: content, actions, waiting for review, needs SME

#16410 Added a note about the limitation for the event_type value of the repository_dispatch event
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: content, actions, waiting for review, needs SME

#16803 repo sync
  content/code-security/getting-started/securing-your-organization.md
  content/code-security/security-overview/about-the-security-overview.md
  content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
  content/code-security/security-overview/viewing-the-security-overview.md
  data/reusables/gated-features/security-center.md
  lib/redirects/static/redirect-exceptions.txt
Labels: triage, automated-reposync-pr

#16804 repo sync
  assets/images/help/billing/pay-now-button-disabled.png
  assets/images/help/billing/pay-now-button.png
  assets/images/help/billing/payment-summary-edit.png
  assets/images/help/billing/payment-summary.png
  content/billing/managing-billing-for-your-github-account/one-time-payments-for-customers-in-india.md
Labels: triage, automated-reposync-pr

#16770 Fix typo: affililated -> affiliated
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-your-membership-in-organizations/viewing-peoples-roles-in-an-organization.md
Labels: content, ready to merge

#16812 repo sync
  .github/workflows/needs-sme-workflow.yml
Labels: triage, automated-reposync-pr

#16806 Clarify which jobs are canceled with fail-fast
  data/reusables/actions/jobs/section-using-a-build-matrix-for-your-jobs-failfast.md
Labels: content, actions, ready to merge

#16814 repo sync
  assets/images/help/repository/code-scanning-analysis-origins.png
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-alerts.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/setting-up-code-scanning-for-a-repository.md
  content/code-security/code-scanning/integrating-with-code-scanning/about-integration-with-code-scanning.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/about-codeql-code-scanning-in-your-ci-system.md
  data/reusables/code-scanning/about-analysis-origins-link.md
Labels: triage, automated-reposync-pr

#16815 repo sync
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  content/actions/using-github-hosted-runners/about-github-hosted-runners.md
  content/admin/user-management/monitoring-activity-in-your-enterprise/audited-actions.md
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  data/features/secret-scanning-audit-log-custom-patterns.yml
  data/reusables/actions/supported-github-runners.md
  data/reusables/webhooks/secret_scanning_alert_event_short_desc.md
  data/reusables/webhooks/secret_scanning_alert_location_event_properties.md
  data/reusables/webhooks/secret_scanning_alert_location_event_short_desc.md
  lib/webhooks/static/dotcom/secret_scanning_alert_location.created.payload.json
Labels: triage, automated-reposync-pr

#16818 repo sync
  assets/images/help/organizations/secret-scanning-enable-push-protection.png
  assets/images/help/repository/secret-scanning-enable-push-protection.png
  assets/images/help/repository/secret-scanning-push-protection-with-link.png
  assets/images/help/repository/secret-scanning-unblock-form.png
  content/code-security/secret-scanning/about-secret-scanning.md
  content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  content/code-security/secret-scanning/index.md
  content/code-security/secret-scanning/protecting-pushes-with-secret-scanning.md
  content/get-started/learning-about-github/about-github-advanced-security.md
  data/features/secret-scanning-push-protection.yml
  data/reusables/advanced-security/secret-scanning-push-protection-org.md
  data/reusables/advanced-security/secret-scanning-push-protection-repo.md
  data/reusables/gated-features/secret-scanning.md
  data/reusables/rest-reference/secret-scanning/secret-scanning.md
  data/reusables/secret-scanning/partner-program-link.md
  data/reusables/secret-scanning/push-protection-beta.md
  data/reusables/secret-scanning/push-protection-overview.md
  data/reusables/secret-scanning/secret-list-private-push-protection.md
  data/reusables/webhooks/secret_scanning_alert_location_event_short_desc.md
Labels: triage, automated-reposync-pr

#16819 repo sync
  assets/images/help/repository/require-successful-deployment.png
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches.md
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
  data/features/required-deployments.yml
Labels: triage, automated-reposync-pr

#16823 repo sync
  data/release-notes/enterprise-server/3-1/19.yml
  data/release-notes/enterprise-server/3-2/11.yml
  data/release-notes/enterprise-server/3-3/6.yml
  data/release-notes/enterprise-server/3-4/1.yml
Labels: triage, automated-reposync-pr

#16835 repo sync
  assets/images/help/pull_requests/merge-queue-link.png
  assets/images/help/pull_requests/remove-from-queue-button.png
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/merging-a-pull-request-with-a-merge-queue.md
Labels: triage, automated-reposync-pr

#16836 repo sync
  assets/images/help/organizations/add-moderators.png
  content/communities/maintaining-your-safety-on-github/blocking-a-user-from-your-organization.md
  content/communities/maintaining-your-safety-on-github/unblocking-a-user-from-your-organization.md
  content/communities/moderating-comments-and-conversations/limiting-interactions-in-your-organization.md
  content/communities/moderating-comments-and-conversations/limiting-interactions-in-your-repository.md
  content/communities/moderating-comments-and-conversations/managing-disruptive-comments.md
  content/communities/setting-up-your-project-for-healthy-contributions/about-community-management-and-moderation.md
  content/organizations/collaborating-with-groups-in-organizations/accessing-your-organizations-settings.md
  content/organizations/managing-organization-settings/managing-pull-request-reviews-in-your-organization.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/index.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-moderators-in-your-organization.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
  data/reusables/organizations/block_users.md
  data/reusables/organizations/moderation-settings.md
Labels: triage, automated-reposync-pr

#16839 repo sync
  .devcontainer/devcontainer.json
Labels: triage, automated-reposync-pr

#16845 repo sync
  .devcontainer/test-custom-devcontainer/Dockerfile
  .devcontainer/test-custom-devcontainer/devcontainer.json
Labels: triage, automated-reposync-pr

#16418 Add transparency information to social preview docs
  assets/images/help/repository/social-preview-transparency.png
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/customizing-your-repositorys-social-media-preview.md
Labels: content, ready to merge, repositories

#16850 repo sync
  .github/workflows/optimize-images.yml
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#16851 repo sync
  assets/images/help/repository/social-preview-transparency.png
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  data/reusables/dependabot/supported-package-managers.md
Labels: triage, automated-reposync-pr

#16855 repo sync
  docker-compose.prod.tmpl.yaml
  middleware/index.js
  middleware/rate-limit.js
  middleware/slow-down.js
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#16858 repo sync
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
Labels: triage, automated-reposync-pr

#16860 repo sync
  components/rest/RestReferencePage.tsx
  components/ui/MiniTocs/MiniTocs.tsx
Labels: triage, automated-reposync-pr

#16864 repo sync
  assets/images/help/organizations/org-audit-log-export-git-events.png
  assets/images/help/organizations/org-audit-log-export.png
  content/actions/security-guides/security-hardening-for-github-actions.md
  content/admin/configuration/configuring-your-enterprise/site-admin-dashboard.md
  content/admin/enterprise-management/index.md
  content/admin/enterprise-management/monitoring-your-appliance/about-system-logs.md
  content/admin/enterprise-management/monitoring-your-appliance/index.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/introducing-github-actions-to-your-enterprise.md
  content/admin/guides.md
  content/admin/identity-and-access-management/managing-iam-with-enterprise-managed-users/auditing-activity-in-your-enterprise.md
  content/admin/identity-and-access-management/managing-iam-with-enterprise-managed-users/index.md
  content/admin/index.md
  content/admin/monitoring-activity-in-your-enterprise/exploring-user-activity/activity-dashboard.md
  content/admin/monitoring-activity-in-your-enterprise/exploring-user-activity/index.md
  content/admin/monitoring-activity-in-your-enterprise/exploring-user-activity/log-forwarding.md
  content/admin/monitoring-activity-in-your-enterprise/exploring-user-activity/managing-global-webhooks.md
  content/admin/monitoring-activity-in-your-enterprise/exploring-user-activity/viewing-push-logs.md
  content/admin/monitoring-activity-in-your-enterprise/index.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/about-the-audit-log-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/accessing-the-audit-log-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/exporting-audit-log-activity-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/index.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/searching-the-audit-log-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/using-the-audit-log-api-for-your-enterprise.md
  content/admin/overview/system-overview.md
  content/admin/user-management/index.md
  content/admin/user-management/managing-organizations-in-your-enterprise/index.md
  content/admin/user-management/managing-organizations-in-your-enterprise/viewing-the-audit-logs-for-organizations-in-your-enterprise.md
  content/admin/user-management/managing-users-in-your-enterprise/auditing-users-across-your-enterprise.md
  content/admin/user-management/managing-users-in-your-enterprise/customizing-user-messages-for-your-enterprise.md
  content/admin/user-management/managing-users-in-your-enterprise/impersonating-a-user.md
  content/admin/user-management/monitoring-activity-in-your-enterprise/audit-logging.md
  content/admin/user-management/monitoring-activity-in-your-enterprise/audited-actions.md
  content/admin/user-management/monitoring-activity-in-your-enterprise/index.md
  content/admin/user-management/monitoring-activity-in-your-enterprise/searching-the-audit-log.md
  content/get-started/onboarding/getting-started-with-github-ae.md
  content/get-started/onboarding/getting-started-with-github-enterprise-cloud.md
  content/get-started/onboarding/getting-started-with-github-enterprise-server.md
  content/support/contacting-github-support/providing-data-to-github-support.md
  data/reusables/audit_log/audit-log-action-categories.md
  data/reusables/audit_log/audit-log-events-workflows.md
  data/reusables/audit_log/audit-log-search-by-operation.md
  data/reusables/audit_log/audit-log-search-by-repo.md
  data/reusables/audit_log/audit-log-search-by-user.md
  data/reusables/audit_log/audit-log-search-list-info-about-action.md
  data/reusables/audit_log/audit-log-search.md
  data/reusables/audit_log/audited-data-list.md
  data/reusables/audit_log/exported-git-log-keys-and-values.md
  data/reusables/audit_log/exported-log-keys-and-values.md
  data/reusables/audit_log/retention-periods.md
  data/reusables/enterprise/link-to-ghe-trial.md
  data/reusables/gated-features/more-info-org-products.md
Labels: triage, automated-reposync-pr

#16874 repo sync
  .devcontainer/test/devcontainer.json
Labels: triage, automated-reposync-pr

#16877 repo sync
  .devcontainer/test-custom-devcontainer/Dockerfile
  .devcontainer/test-custom-devcontainer/devcontainer.json
  .devcontainer/test/devcontainer.json
  lib/enterprise-dates.json
Labels: triage, automated-reposync-pr

#16880 repo sync
  content/site-policy/github-terms/github-corporate-terms-of-service.md
  content/site-policy/github-terms/github-terms-for-additional-products-and-features.md
Labels: triage, automated-reposync-pr

#16886 repo sync
  content/get-started/using-github/supported-browsers.md
  tests/meta/repository-references.js
Labels: triage, automated-reposync-pr

#16802 Fixing explanation related to the --disableupdate
  content/actions/hosting-your-own-runners/autoscaling-with-self-hosted-runners.md
Labels: content, actions, ready to merge, needs SME

#16718 Warn re:status for official octokit libraries
  content/rest/overview/libraries.md
Labels: content, ready to merge, rest

#16893 repo sync
  content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
Labels: triage, automated-reposync-pr

#16895 repo sync
  data/reusables/webhooks/secret_scanning_alert_event_short_desc.md
Labels: triage, automated-reposync-pr

#16903 repo sync
  data/features/job-hooks-for-runners.yml
Labels: triage, automated-reposync-pr

#16904 repo sync
  .devcontainer/test-custom-devcontainer/devcontainer.json
Labels: triage, automated-reposync-pr

#16906 repo sync
  content/code-security/security-overview/viewing-the-security-overview.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
Labels: triage, automated-reposync-pr

#16841 Update GitHub Desktop supported editors
  content/desktop/installing-and-configuring-github-desktop/configuring-and-customizing-github-desktop/configuring-a-default-editor.md
Labels: content, waiting for review, desktop

#16911 repo sync
  content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
  content/organizations/collaborating-with-groups-in-organizations/viewing-insights-for-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/accessing-compliance-reports-for-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/restricting-email-notifications-for-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  content/organizations/managing-git-access-to-your-organizations-repositories/about-ssh-certificate-authorities.md
  content/organizations/managing-git-access-to-your-organizations-repositories/index.md
  content/organizations/managing-git-access-to-your-organizations-repositories/managing-your-organizations-ssh-certificate-authorities.md
  content/organizations/managing-organization-settings/restricting-repository-creation-in-your-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/about-identity-and-access-management-with-saml-single-sign-on.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/about-scim.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/configuring-saml-single-sign-on-and-scim-using-okta.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/connecting-your-identity-provider-to-your-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/enabling-and-testing-saml-single-sign-on-for-your-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/enforcing-saml-single-sign-on-for-your-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/index.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/managing-team-synchronization-for-your-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/preparing-to-enforce-saml-single-sign-on-in-your-organization.md
  content/pages/getting-started-with-github-pages/changing-the-visibility-of-your-github-pages-site.md
  data/reusables/organizations/ssh-ca-ghec-only.md
  data/reusables/saml/ghec-only.md
  tests/rendering/static-assets.js
Labels: triage, automated-reposync-pr

#16915 repo sync
  components/ui/MarkdownContent/MarkdownContent.module.scss
Labels: triage, automated-reposync-pr

#16916 repo sync
  translations/pt-BR/content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
  translations/pt-BR/content/actions/hosting-your-own-runners/autoscaling-with-self-hosted-runners.md
  translations/pt-BR/content/actions/security-guides/security-hardening-for-github-actions.md
  translations/pt-BR/content/actions/using-workflows/workflow-commands-for-github-actions.md
  translations/pt-BR/content/admin/configuration/configuring-network-settings/configuring-a-hostname.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/configuring-github-pages-for-your-enterprise.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/managing-github-mobile-for-your-enterprise.md
  translations/pt-BR/content/admin/enterprise-management/caching-repositories/about-repository-caching.md
  translations/pt-BR/content/admin/enterprise-management/caching-repositories/configuring-a-repository-cache.md
  translations/pt-BR/content/admin/enterprise-management/configuring-high-availability/initiating-a-failover-to-your-replica-appliance.md
  translations/pt-BR/content/admin/enterprise-management/index.md
  translations/pt-BR/content/admin/enterprise-management/monitoring-your-appliance/about-system-logs.md
  translations/pt-BR/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-self-hosted-runners-for-your-enterprise.md
  translations/pt-BR/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/introducing-github-actions-to-your-enterprise.md
  translations/pt-BR/content/admin/github-actions/managing-access-to-actions-from-githubcom/using-the-latest-version-of-the-official-bundled-actions.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/exploring-user-activity/index.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/index.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/about-the-audit-log-for-your-enterprise.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/accessing-the-audit-log-for-your-enterprise.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/exporting-audit-log-activity-for-your-enterprise.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/index.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/searching-the-audit-log-for-your-enterprise.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/using-the-audit-log-api-for-your-enterprise.md
  translations/pt-BR/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-github-actions-in-your-enterprise.md
  translations/pt-BR/content/code-security/security-overview/viewing-the-security-overview.md
  translations/pt-BR/content/desktop/installing-and-configuring-github-desktop/configuring-and-customizing-github-desktop/configuring-a-default-editor.md
  translations/pt-BR/content/organizations/collaborating-with-groups-in-organizations/viewing-insights-for-your-organization.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/accessing-compliance-reports-for-your-organization.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/restricting-email-notifications-for-your-organization.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  translations/pt-BR/content/organizations/managing-git-access-to-your-organizations-repositories/about-ssh-certificate-authorities.md
  translations/pt-BR/content/organizations/managing-git-access-to-your-organizations-repositories/index.md
  translations/pt-BR/content/organizations/managing-git-access-to-your-organizations-repositories/managing-your-organizations-ssh-certificate-authorities.md
  translations/pt-BR/content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  translations/pt-BR/content/organizations/managing-organization-settings/restricting-repository-creation-in-your-organization.md
  translations/pt-BR/content/organizations/managing-saml-single-sign-on-for-your-organization/about-identity-and-access-management-with-saml-single-sign-on.md
  translations/pt-BR/content/organizations/managing-saml-single-sign-on-for-your-organization/about-scim.md
  translations/pt-BR/content/organizations/managing-saml-single-sign-on-for-your-organization/configuring-saml-single-sign-on-and-scim-using-okta.md
  translations/pt-BR/content/organizations/managing-saml-single-sign-on-for-your-organization/connecting-your-identity-provider-to-your-organization.md
  translations/pt-BR/content/organizations/managing-saml-single-sign-on-for-your-organization/enabling-and-testing-saml-single-sign-on-for-your-organization.md
  translations/pt-BR/content/organizations/managing-saml-single-sign-on-for-your-organization/enforcing-saml-single-sign-on-for-your-organization.md
  translations/pt-BR/content/organizations/managing-saml-single-sign-on-for-your-organization/index.md
  translations/pt-BR/content/organizations/managing-saml-single-sign-on-for-your-organization/managing-team-synchronization-for-your-organization.md
  translations/pt-BR/content/organizations/managing-saml-single-sign-on-for-your-organization/preparing-to-enforce-saml-single-sign-on-in-your-organization.md
  translations/pt-BR/content/pages/getting-started-with-github-pages/changing-the-visibility-of-your-github-pages-site.md
  translations/pt-BR/content/rest/overview/libraries.md
  translations/pt-BR/data/features/job-hooks-for-runners.yml
  translations/pt-BR/data/reusables/organizations/ssh-ca-ghec-only.md
  translations/pt-BR/data/reusables/saml/ghec-only.md
  translations/pt-BR/data/reusables/webhooks/secret_scanning_alert_event_short_desc.md
Labels: triage, automated-reposync-pr

#16921 repo sync
  content/actions/using-containerized-services/about-service-containers.md
Labels: triage, automated-reposync-pr

#16923 repo sync
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/accessing-the-audit-log-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  data/reusables/audit_log/audit-log-action-categories.md
Labels: triage, automated-reposync-pr

#16925 repo sync
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-in-your-classroom-and-research/about-github-education-for-educators-and-researchers.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-in-your-classroom-and-research/apply-for-an-educator-or-researcher-discount.md
  content/education/guides.md
  data/variables/product.yml
Labels: triage, automated-reposync-pr

#16922 Clarify restore-keys description
  content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
Labels: triage

#16752 Fix `pull_request_target` if_merged example
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: content, actions, ready to merge, SME reviewed

#16929 repo sync
  assets/images/help/issues/filter-archived-items.png
  assets/images/help/issues/projects-beta-assign-button.png
  assets/images/help/issues/projects-beta-assign-dropdown.png
  assets/images/help/issues/restore-archived-item-button.png
  assets/images/help/issues/select-all-checkbox.png
  assets/images/help/issues/select-archived-item.png
  assets/images/help/issues/select-issue-checkbox.png
  content/issues/trying-out-the-new-projects-experience/creating-a-project.md
Labels: triage, automated-reposync-pr

#16793 fix: code examples search component edge case
  components/landing/CodeExamples.tsx
Labels: engineering, ready to merge, waiting for review, MLH fellowship

#16940 repo sync
  content/sponsors/receiving-sponsorships-through-github-sponsors/index.md
  content/sponsors/receiving-sponsorships-through-github-sponsors/sponsors-for-companies.md
  content/sponsors/sponsoring-open-source-contributors/paying-for-github-sponsors-by-invoice.md
Labels: triage, automated-reposync-pr

#16942 repo sync
  assets/images/help/business-accounts/repository-invitation-policy-drop-down.png
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise.md
  content/organizations/managing-access-to-your-organizations-repositories/converting-an-organization-member-to-an-outside-collaborator.md
  content/organizations/managing-access-to-your-organizations-repositories/reinstating-a-former-outside-collaborators-access-to-your-organization.md
  content/organizations/managing-organization-settings/setting-permissions-for-adding-outside-collaborators.md
  data/features/prevent-org-admin-add-outside-collaborator.yml
Labels: triage, automated-reposync-pr

#16943 repo sync
  assets/images/help/repository/secret-scanning-dry-run-custom-pattern-select-repo.png
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  data/features/secret-scanning-org-dry-runs.yml
  data/reusables/advanced-security/secret-scanning-dry-run-results.md
Labels: triage, automated-reposync-pr

#16947 repo sync
  translations/pt-BR/content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
  translations/pt-BR/content/actions/hosting-your-own-runners/autoscaling-with-self-hosted-runners.md
  translations/pt-BR/content/actions/hosting-your-own-runners/running-scripts-before-or-after-a-job.md
  translations/pt-BR/content/actions/security-guides/security-hardening-for-github-actions.md
  translations/pt-BR/content/actions/using-containerized-services/about-service-containers.md
  translations/pt-BR/content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
  translations/pt-BR/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  translations/pt-BR/content/admin/identity-and-access-management/managing-iam-for-your-enterprise/configuring-saml-single-sign-on-for-your-enterprise-using-okta.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-aws.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/accessing-the-audit-log-for-your-enterprise.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/searching-the-audit-log-for-your-enterprise.md
  translations/pt-BR/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise.md
  translations/pt-BR/content/admin/user-management/index.md
  translations/pt-BR/content/admin/user-management/managing-users-in-your-enterprise/auditing-users-across-your-enterprise.md
  translations/pt-BR/content/authentication/keeping-your-account-and-data-secure/reviewing-your-security-log.md
  translations/pt-BR/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
  translations/pt-BR/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/pt-BR/content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
  translations/pt-BR/content/code-security/getting-started/securing-your-organization.md
  translations/pt-BR/content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  translations/pt-BR/content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  translations/pt-BR/content/code-security/security-overview/about-the-security-overview.md
  translations/pt-BR/content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
  translations/pt-BR/content/code-security/security-overview/viewing-the-security-overview.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/pt-BR/content/codespaces/codespaces-reference/security-in-codespaces.md
  translations/pt-BR/content/codespaces/customizing-your-codespace/personalizing-codespaces-for-your-account.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/forwarding-ports-in-your-codespace.md
  translations/pt-BR/content/codespaces/getting-started/quickstart.md
  translations/pt-BR/content/codespaces/managing-codespaces-for-your-organization/restricting-access-to-machine-types.md
  translations/pt-BR/content/codespaces/managing-codespaces-for-your-organization/restricting-the-visibility-of-forwarded-ports.md
  translations/pt-BR/content/codespaces/troubleshooting/troubleshooting-port-forwarding-for-codespaces.md
  translations/pt-BR/content/communities/maintaining-your-safety-on-github/blocking-a-user-from-your-organization.md
  translations/pt-BR/content/communities/maintaining-your-safety-on-github/unblocking-a-user-from-your-organization.md
  translations/pt-BR/content/communities/moderating-comments-and-conversations/limiting-interactions-in-your-organization.md
  translations/pt-BR/content/communities/moderating-comments-and-conversations/limiting-interactions-in-your-repository.md
  translations/pt-BR/content/communities/moderating-comments-and-conversations/managing-disruptive-comments.md
  translations/pt-BR/content/communities/setting-up-your-project-for-healthy-contributions/about-community-management-and-moderation.md
  translations/pt-BR/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-in-your-classroom-and-research/about-github-education-for-educators-and-researchers.md
  translations/pt-BR/content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-in-your-classroom-and-research/apply-for-an-educator-or-researcher-discount.md
  translations/pt-BR/content/education/guides.md
  translations/pt-BR/content/issues/trying-out-the-new-projects-experience/creating-a-project.md
  translations/pt-BR/content/organizations/managing-access-to-your-organizations-repositories/converting-an-organization-member-to-an-outside-collaborator.md
  translations/pt-BR/content/organizations/managing-access-to-your-organizations-repositories/reinstating-a-former-outside-collaborators-access-to-your-organization.md
  translations/pt-BR/content/organizations/managing-organization-settings/setting-permissions-for-adding-outside-collaborators.md
  translations/pt-BR/content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
  translations/pt-BR/content/sponsors/receiving-sponsorships-through-github-sponsors/index.md
  translations/pt-BR/content/sponsors/receiving-sponsorships-through-github-sponsors/sponsors-for-companies.md
  translations/pt-BR/content/sponsors/sponsoring-open-source-contributors/paying-for-github-sponsors-by-invoice.md
  translations/pt-BR/data/features/prevent-org-admin-add-outside-collaborator.yml
  translations/pt-BR/data/features/secret-scanning-org-dry-runs.yml
  translations/pt-BR/data/reusables/advanced-security/secret-scanning-dry-run-results.md
  translations/pt-BR/data/reusables/audit_log/audit-log-action-categories.md
  translations/pt-BR/data/reusables/code-scanning/about-analysis-origins-link.md
  translations/pt-BR/data/reusables/codespaces/restrict-port-visibility.md
  translations/pt-BR/data/variables/product.yml
Labels: triage, automated-reposync-pr

#16956 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  content/code-security/dependabot/dependabot-security-updates/configuring-dependabot-security-updates.md
  content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  content/code-security/secret-scanning/protecting-pushes-with-secret-scanning.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository.md
  content/get-started/privacy-on-github/managing-data-use-settings-for-your-private-repository.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-security-and-analysis-settings-for-your-repository.md
  data/reusables/repositories/navigate-to-code-security-and-analysis.md
Labels: triage, automated-reposync-pr

#16960 repo sync
  .devcontainer/test-custom-devcontainer/devcontainer.json
Labels: triage, automated-reposync-pr

#16967 repo sync
  translations/pt-BR/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  translations/pt-BR/content/code-security/dependabot/dependabot-security-updates/configuring-dependabot-security-updates.md
  translations/pt-BR/content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  translations/pt-BR/content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  translations/pt-BR/content/code-security/secret-scanning/protecting-pushes-with-secret-scanning.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository.md
  translations/pt-BR/content/get-started/privacy-on-github/managing-data-use-settings-for-your-private-repository.md
  translations/pt-BR/content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-security-and-analysis-settings-for-your-repository.md
  translations/pt-BR/data/reusables/repositories/navigate-to-code-security-and-analysis.md
Labels: triage, automated-reposync-pr

#16988 repo sync
  data/reusables/support/view-open-tickets.md
Labels: triage, automated-reposync-pr

#16989 repo sync
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-readmes.md
  content/search-github/searching-on-github/searching-code.md
Labels: triage, automated-reposync-pr

#16994 repo sync
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  tests/rendering/server.js
Labels: triage, automated-reposync-pr

#16996 repo sync
  content/actions/hosting-your-own-runners/configuring-the-self-hosted-runner-application-as-a-service.md
Labels: triage, automated-reposync-pr

#16997 repo sync
  data/release-notes/enterprise-server/3-3/0.yml
  data/release-notes/enterprise-server/3-3/1.yml
  data/release-notes/enterprise-server/3-3/2.yml
  data/release-notes/enterprise-server/3-3/3.yml
  data/release-notes/enterprise-server/3-3/4.yml
  data/release-notes/enterprise-server/3-3/5.yml
  data/release-notes/enterprise-server/3-3/6.yml
Labels: triage, automated-reposync-pr

#16735 Fix code style of *config.yml* file.
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository.md
Labels: content, ready to merge, waiting for review, communities

#17001 repo sync
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-hyper-v.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-openstack-kvm.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-vmware.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-xenserver.md
Labels: triage, automated-reposync-pr

#17002 repo sync
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/managing-git-lfs-objects-in-archives-of-your-repository.md
  content/repositories/working-with-files/managing-large-files/configuring-git-large-file-storage.md
Labels: triage, automated-reposync-pr

#17004 Adjust step number for copy paste
  content/get-started/quickstart/fork-a-repo.md
Labels: content, ready to merge

#17010 repo sync
  .github/workflows/needs-sme-workflow.yml
Labels: triage, automated-reposync-pr

#17012 repo sync
  components/landing/ProductArticlesList.tsx
  content/get-started/learning-about-github/githubs-products.md
  tests/content/featured-links.js
  translations/pt-BR/content/actions/hosting-your-own-runners/configuring-the-self-hosted-runner-application-as-a-service.md
  translations/pt-BR/content/actions/using-containerized-services/about-service-containers.md
  translations/pt-BR/content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-hyper-v.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-openstack-kvm.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-vmware.md
  translations/pt-BR/content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-xenserver.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  translations/pt-BR/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise.md
  translations/pt-BR/content/admin/user-management/managing-users-in-your-enterprise/customizing-user-messages-for-your-enterprise.md
  translations/pt-BR/content/admin/user-management/managing-users-in-your-enterprise/impersonating-a-user.md
  translations/pt-BR/content/admin/user-management/migrating-data-to-and-from-your-enterprise/about-migrations.md
  translations/pt-BR/content/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key.md
  translations/pt-BR/content/authentication/troubleshooting-ssh/using-ssh-over-the-https-port.md
  translations/pt-BR/content/billing/managing-billing-for-github-codespaces/about-billing-for-codespaces.md
  translations/pt-BR/content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  translations/pt-BR/content/code-security/secret-scanning/protecting-pushes-with-secret-scanning.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  translations/pt-BR/content/codespaces/managing-codespaces-for-your-organization/restricting-the-visibility-of-forwarded-ports.md
  translations/pt-BR/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository.md
  translations/pt-BR/content/developers/overview/managing-deploy-keys.md
  translations/pt-BR/content/get-started/exploring-projects-on-github/finding-ways-to-contribute-to-open-source-on-github.md
  translations/pt-BR/content/get-started/exploring-projects-on-github/following-organizations.md
  translations/pt-BR/content/get-started/exploring-projects-on-github/following-people.md
  translations/pt-BR/content/get-started/exploring-projects-on-github/saving-repositories-with-stars.md
  translations/pt-BR/content/get-started/learning-about-github/about-github-advanced-security.md
  translations/pt-BR/content/get-started/onboarding/getting-started-with-github-enterprise-server.md
  translations/pt-BR/content/get-started/privacy-on-github/about-githubs-use-of-your-data.md
  translations/pt-BR/content/get-started/privacy-on-github/managing-data-use-settings-for-your-private-repository.md
  translations/pt-BR/content/get-started/quickstart/fork-a-repo.md
  translations/pt-BR/content/get-started/using-github/supported-browsers.md
  translations/pt-BR/content/issues/trying-out-the-new-projects-experience/creating-a-project.md
  translations/pt-BR/content/issues/trying-out-the-new-projects-experience/using-insights-with-projects.md
  translations/pt-BR/content/organizations/collaborating-with-groups-in-organizations/accessing-your-organizations-settings.md
  translations/pt-BR/content/organizations/collaborating-with-groups-in-organizations/viewing-insights-for-your-organization.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/accessing-compliance-reports-for-your-organization.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/restricting-email-notifications-for-your-organization.md
  translations/pt-BR/content/organizations/managing-access-to-your-organizations-repositories/converting-an-organization-member-to-an-outside-collaborator.md
  translations/pt-BR/content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  translations/pt-BR/content/organizations/managing-organization-settings/managing-pull-request-reviews-in-your-organization.md
  translations/pt-BR/content/organizations/managing-organization-settings/setting-permissions-for-adding-outside-collaborators.md
  translations/pt-BR/content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-custom-repository-roles-for-an-organization.md
  translations/pt-BR/content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-moderators-in-your-organization.md
  translations/pt-BR/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-readmes.md
  translations/pt-BR/content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/managing-git-lfs-objects-in-archives-of-your-repository.md
  translations/pt-BR/content/repositories/working-with-files/managing-large-files/configuring-git-large-file-storage.md
  translations/pt-BR/content/search-github/searching-on-github/searching-code.md
  translations/pt-BR/data/release-notes/enterprise-server/3-3/0.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/1.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/2.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/3.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/4.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/5.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/6.yml
  translations/pt-BR/data/reusables/rest-reference/secret-scanning/secret-scanning.md
  translations/pt-BR/data/reusables/support/view-open-tickets.md
Labels: triage, automated-reposync-pr

#17014 repo sync
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#16954 A Typo in "Understanding GitHub Actions" Page
  content/actions/learn-github-actions/understanding-github-actions.md
Labels: content, actions, waiting for review, needs SME

#17018 repo sync
  assets/images/help/classroom/reuse-assignment-button.png
  assets/images/help/classroom/reuse-assignment-completed-message.png
  assets/images/help/classroom/reuse-assignment-modal.png
  content/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-a-group-assignment.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-an-assignment-from-a-template-repository.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-an-individual-assignment.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/index.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/manage-classrooms.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/reuse-an-assignment.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/use-the-git-and-github-starter-assignment.md
  content/get-started/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks.md
  content/packages/learn-github-packages/introduction-to-github-packages.md
  content/search-github/searching-on-github/searching-code.md
  data/reusables/classroom/reuse-assignment-link.md
Labels: triage, automated-reposync-pr

#17020 repo sync
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/reuse-an-assignment.md
Labels: triage, automated-reposync-pr

#17028 repo sync
  .github/workflows/triage-unallowed-internal-changes.yml
  contributing/search.md
Labels: triage, automated-reposync-pr

#17029 repo sync
  assets/images/help/discussions/enable-org-discussions.png
  assets/images/help/discussions/hero.png
  assets/images/help/discussions/new-poll-add-option.png
  assets/images/help/discussions/new-poll-options.png
  assets/images/help/discussions/new-poll-question.png
  assets/images/help/discussions/new-poll-start-poll-button.png
  assets/images/help/discussions/new-poll-title-and-body-fields.png
  assets/images/help/discussions/org-settings.png
  assets/images/help/discussions/poll-category.png
  assets/images/help/discussions/start-poll-button.png
  content/discussions/collaborating-with-your-community-using-discussions/about-discussions.md
  content/discussions/collaborating-with-your-community-using-discussions/collaborating-with-maintainers-using-discussions.md
  content/discussions/collaborating-with-your-community-using-discussions/participating-in-a-discussion.md
  content/discussions/guides/best-practices-for-community-conversations-on-github.md
  content/discussions/guides/finding-your-discussions.md
  content/discussions/guides/granting-higher-permissions-to-top-contributors.md
  content/discussions/guides/index.md
  content/discussions/index.md
  content/discussions/managing-discussions-for-your-community/index.md
  content/discussions/managing-discussions-for-your-community/managing-categories-for-discussions.md
  content/discussions/managing-discussions-for-your-community/managing-discussions.md
  content/discussions/managing-discussions-for-your-community/moderating-discussions.md
  content/discussions/managing-discussions-for-your-community/viewing-insights-for-your-discussions.md
  content/discussions/quickstart.md
  content/get-started/using-github/github-command-palette.md
  content/organizations/collaborating-with-your-team/about-team-discussions.md
  content/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
  content/organizations/managing-organization-settings/enabling-or-disabling-github-discussions-for-an-organization.md
  content/organizations/managing-organization-settings/index.md
  content/organizations/managing-organization-settings/managing-discussion-creation-for-repositories-in-your-organization.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/enabling-or-disabling-github-discussions-for-a-repository.md
  data/reusables/discussions/about-categories-and-formats.md
  data/reusables/discussions/about-discussions.md
  data/reusables/discussions/about-organization-discussions.md
  data/reusables/discussions/discussions-tab.md
  data/reusables/discussions/enabling-or-disabling-github-discussions-for-your-organization.md
  data/reusables/discussions/marking-a-comment-as-an-answer.md
  data/reusables/discussions/navigate-to-repo-or-org.md
  data/reusables/discussions/repository-category-limit.md
  data/reusables/discussions/starting-a-discussion.md
  data/reusables/discussions/starting-a-poll.md
  script/content-migrations/update-tocs.js
Labels: triage, automated-reposync-pr

#17032 repo sync
  .gitignore
  assets/images/help/codespaces/prebuilds-triggers.png
  content/codespaces/prebuilding-your-codespaces/about-codespaces-prebuilds.md
  content/codespaces/prebuilding-your-codespaces/configuring-prebuilds.md
  content/codespaces/prebuilding-your-codespaces/managing-prebuilds.md
  content/codespaces/troubleshooting/troubleshooting-prebuilds.md
  data/reusables/codespaces/billing-for-prebuilds.md
Labels: triage, automated-reposync-pr

#17033 repo sync
  content/rest/overview/permissions-required-for-github-apps.md
  translations/pt-BR/content/actions/learn-github-actions/understanding-github-actions.md
  translations/pt-BR/content/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates.md
  translations/pt-BR/content/discussions/collaborating-with-your-community-using-discussions/about-discussions.md
  translations/pt-BR/content/discussions/collaborating-with-your-community-using-discussions/collaborating-with-maintainers-using-discussions.md
  translations/pt-BR/content/discussions/collaborating-with-your-community-using-discussions/participating-in-a-discussion.md
  translations/pt-BR/content/discussions/guides/best-practices-for-community-conversations-on-github.md
  translations/pt-BR/content/discussions/guides/finding-your-discussions.md
  translations/pt-BR/content/discussions/guides/granting-higher-permissions-to-top-contributors.md
  translations/pt-BR/content/discussions/guides/index.md
  translations/pt-BR/content/discussions/index.md
  translations/pt-BR/content/discussions/managing-discussions-for-your-community/index.md
  translations/pt-BR/content/discussions/managing-discussions-for-your-community/managing-categories-for-discussions.md
  translations/pt-BR/content/discussions/managing-discussions-for-your-community/managing-discussions.md
  translations/pt-BR/content/discussions/managing-discussions-for-your-community/moderating-discussions.md
  translations/pt-BR/content/discussions/managing-discussions-for-your-community/viewing-insights-for-your-discussions.md
  translations/pt-BR/content/discussions/quickstart.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-a-group-assignment.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-an-assignment-from-a-template-repository.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-an-individual-assignment.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/index.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/manage-classrooms.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/reuse-an-assignment.md
  translations/pt-BR/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/use-the-git-and-github-starter-assignment.md
  translations/pt-BR/content/get-started/learning-about-github/githubs-products.md
  translations/pt-BR/content/get-started/quickstart/fork-a-repo.md
  translations/pt-BR/content/get-started/using-github/github-command-palette.md
  translations/pt-BR/content/get-started/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks.md
  translations/pt-BR/content/organizations/collaborating-with-your-team/about-team-discussions.md
  translations/pt-BR/content/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
  translations/pt-BR/content/organizations/managing-organization-settings/enabling-or-disabling-github-discussions-for-an-organization.md
  translations/pt-BR/content/organizations/managing-organization-settings/index.md
  translations/pt-BR/content/organizations/managing-organization-settings/managing-discussion-creation-for-repositories-in-your-organization.md
  translations/pt-BR/content/packages/learn-github-packages/introduction-to-github-packages.md
  translations/pt-BR/content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/enabling-or-disabling-github-discussions-for-a-repository.md
  translations/pt-BR/content/search-github/searching-on-github/searching-code.md
  translations/pt-BR/data/reusables/classroom/reuse-assignment-link.md
  translations/pt-BR/data/reusables/discussions/about-categories-and-formats.md
  translations/pt-BR/data/reusables/discussions/about-discussions.md
  translations/pt-BR/data/reusables/discussions/about-organization-discussions.md
  translations/pt-BR/data/reusables/discussions/discussions-tab.md
  translations/pt-BR/data/reusables/discussions/enabling-or-disabling-github-discussions-for-your-organization.md
  translations/pt-BR/data/reusables/discussions/marking-a-comment-as-an-answer.md
  translations/pt-BR/data/reusables/discussions/navigate-to-repo-or-org.md
  translations/pt-BR/data/reusables/discussions/repository-category-limit.md
  translations/pt-BR/data/reusables/discussions/starting-a-discussion.md
  translations/pt-BR/data/reusables/discussions/starting-a-poll.md
Labels: triage, automated-reposync-pr

#17035 repo sync
  .github/workflows/needs-sme-stale-check.yaml
Labels: triage, automated-reposync-pr

#17023 Fix/#16325
  components/Search.tsx
  data/ui.yml
Labels: engineering, waiting for review

#17064 repo sync
  .github/actions-scripts/enterprise-server-issue-templates/release-issue.md
Labels: triage, automated-reposync-pr

#17034 Update matrix usage limits
  data/reusables/actions/usage-matrix-limits.md
Labels: content, actions, ready to merge

#17068 repo sync
  assets/images/help/codespaces/advanced-options.png
  assets/images/help/codespaces/choose-branch-vscode.png
  assets/images/help/codespaces/choose-custom-machine-type.png
  assets/images/help/codespaces/choose-repository-vscode.png
  assets/images/help/codespaces/choose-sku-vscode.png
  assets/images/help/codespaces/codespaces-accept-permissions.png
  assets/images/help/codespaces/configuration-file-choice-default.png
  assets/images/help/codespaces/configuration-file-choice.png
  assets/images/help/codespaces/default-machine-type.png
  assets/images/help/codespaces/machine-types-limited-choice.png
  assets/images/help/codespaces/new-codespace-button.png
  assets/images/help/codespaces/open-with-codespaces-pr.png
  assets/images/help/codespaces/prebuilt-codespace-found.png
  assets/images/help/settings/codespaces-org-access-and-security-radio-buttons.png
  components/playground/content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-project-for-codespaces/dotnet.tsx
  components/playground/content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-project-for-codespaces/java.tsx
  components/playground/content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-project-for-codespaces/nodejs.tsx
  components/playground/content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-project-for-codespaces/python.tsx
  content/billing/managing-billing-for-github-codespaces/about-billing-for-codespaces.md
  content/codespaces/codespaces-reference/security-in-codespaces.md
  content/codespaces/codespaces-reference/using-github-copilot-in-codespaces.md
  content/codespaces/customizing-your-codespace/changing-the-machine-type-for-your-codespace.md
  content/codespaces/customizing-your-codespace/personalizing-codespaces-for-your-account.md
  content/codespaces/developing-in-codespaces/creating-a-codespace.md
  content/codespaces/developing-in-codespaces/deleting-a-codespace.md
  content/codespaces/developing-in-codespaces/using-codespaces-for-pull-requests.md
  content/codespaces/developing-in-codespaces/using-codespaces-in-visual-studio-code.md
  content/codespaces/getting-started/deep-dive.md
  content/codespaces/getting-started/quickstart.md
  content/codespaces/managing-codespaces-for-your-organization/managing-repository-access-for-your-organizations-codespaces.md
  content/codespaces/managing-your-codespaces/managing-repository-access-for-your-codespaces.md
  content/codespaces/overview.md
  content/codespaces/prebuilding-your-codespaces/about-codespaces-prebuilds.md
  content/codespaces/prebuilding-your-codespaces/configuring-prebuilds.md
  content/codespaces/prebuilding-your-codespaces/testing-dev-container-changes.md
  content/codespaces/setting-up-your-project-for-codespaces/configuring-codespaces-for-your-project.md
  content/codespaces/setting-up-your-project-for-codespaces/index.md
  content/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers.md
  content/codespaces/setting-up-your-project-for-codespaces/setting-a-minimum-specification-for-codespace-machines.md
  content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-dotnet-project-for-codespaces.md
  content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-java-project-for-codespaces.md
  content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-nodejs-project-for-codespaces.md
  content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-project-for-codespaces.md
  content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-python-project-for-codespaces.md
  content/codespaces/troubleshooting/troubleshooting-creation-and-deletion-of-codespaces.md
  content/codespaces/troubleshooting/troubleshooting-prebuilds.md
  data/reusables/codespaces/codespaces-machine-type-availability.md
  data/reusables/codespaces/codespaces-machine-types.md
  data/reusables/codespaces/creating-a-codespace-in-vscode.md
  data/reusables/codespaces/customize-vcpus-and-ram.md
  data/reusables/codespaces/deleting-a-codespace-in-vscode.md
  data/reusables/codespaces/devcontainer-location.md
  data/reusables/codespaces/more-info-devcontainer.md
  data/reusables/codespaces/next-steps-adding-devcontainer.md
  data/reusables/codespaces/prebuilds-not-available.md
  data/reusables/codespaces/rebuild-reason.md
  data/reusables/codespaces/recovery-mode.md
  data/reusables/codespaces/setup-custom-devcontainer.md
  lib/redirects/static/redirect-exceptions.txt
Labels: triage, automated-reposync-pr

#16948 changed the link from workflow to choosing runner for a job in the FP…
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
Labels: content, waiting for review, code security

#17085 repo sync
  assets/images/enterprise/3.2/repository/code-security-and-analysis-enable-ghas-3.2.png
  assets/images/enterprise/3.4/repository/code-security-and-analysis-enable-ghas-3.4.png
  assets/images/help/dependabot/dependabot-alerts-disable-or-enable-all.png
  assets/images/help/dependabot/dependabot-alerts-disable-or-enable-fpt-private.png
  assets/images/help/dependabot/dependabot-alerts-disable-or-enable-fpt-public-repositories.png
  assets/images/help/dependabot/dependabot-alerts-disable-or-enable-fpt.png
  assets/images/help/dependabot/dependabot-alerts-enable-by-default-organizations.png
  assets/images/help/dependabot/dependabot-alerts-enable-by-default.png
  assets/images/help/dependabot/dependabot-alerts-enable-dependabot-alerts-organizations.png
  assets/images/help/dependabot/dependabot-alerts-enable-dependabot-alerts.png
  assets/images/help/dependabot/dependabot-alerts-enable-for-all-new-repositories.png
  assets/images/help/security/enable-ghas-private-repo.png
  content/code-security/dependabot/dependabot-alerts/about-dependabot-alerts.md
  content/code-security/dependabot/dependabot-alerts/configuring-dependabot-alerts.md
  content/code-security/dependabot/dependabot-alerts/index.md
  content/code-security/dependabot/dependabot-security-updates/configuring-dependabot-security-updates.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-the-dependency-graph.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/index.md
  content/organizations/collaborating-with-groups-in-organizations/viewing-insights-for-your-organization.md
  data/reusables/dependabot/enabling-disabling-dependency-graph-private-repo.md
  data/reusables/dependabot/ghes-ghae-enabling-dependency-graph.md
Labels: triage, automated-reposync-pr

#17086 repo sync
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-comparing-branches-in-pull-requests.md
Labels: triage, automated-reposync-pr

#17087 repo sync
  content/billing/managing-billing-for-github-advanced-security/about-billing-for-github-advanced-security.md
  content/billing/managing-billing-for-github-advanced-security/viewing-your-github-advanced-security-usage.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/setting-up-code-scanning-for-a-repository.md
  content/code-security/secret-scanning/about-secret-scanning.md
  content/get-started/learning-about-github/about-github-advanced-security.md
  data/reusables/code-scanning/licensing-note.md
  data/reusables/gated-features/code-scanning.md
  lib/redirects/static/redirect-exceptions.txt
Labels: triage, automated-reposync-pr

#17088 repo sync
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/merging-a-pull-request-with-a-merge-queue.md
Labels: triage, automated-reposync-pr

#17095 repo sync
  content/authentication/connecting-to-github-with-ssh/about-ssh.md
  content/organizations/managing-git-access-to-your-organizations-repositories/about-ssh-certificate-authorities.md
  content/organizations/managing-git-access-to-your-organizations-repositories/index.md
  content/organizations/managing-git-access-to-your-organizations-repositories/managing-your-organizations-ssh-certificate-authorities.md
  data/reusables/gated-features/ssh-certificate-authorities.md
  lib/redirects/static/redirect-exceptions.txt
Labels: triage, automated-reposync-pr

#17057 Detail limitations of CODEOWNERS with respect to Enterprise Managed Users
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
Labels: content, ready to merge, enterprise, waiting for review, repositories

#17114 repo sync
  data/release-notes/enterprise-server/3-4/0.yml
  data/release-notes/enterprise-server/3-4/1.yml
Labels: triage, automated-reposync-pr

#16301 Ghes workflow auth 15735
  assets/images/help/desktop/enterprise-sign-in-button-browser.png
  assets/images/help/desktop/mac-sign-in-button-enterprise.png
  assets/images/help/desktop/mac-sign-in-github.png
  assets/images/help/desktop/sign-in-browser.png
  assets/images/help/desktop/sign-in-ghes.png
  assets/images/help/desktop/windows-sign-in-button-enterprise.png
  assets/images/help/desktop/windows-sign-in-github.png
  content/desktop/installing-and-configuring-github-desktop/installing-and-authenticating-to-github-desktop/authenticating-to-github.md
  data/reusables/desktop/sign-in-browser.md
Labels: content, ready to merge, desktop

#17118 repo sync
  assets/images/help/desktop/enterprise-sign-in-button-browser.png
  assets/images/help/desktop/mac-sign-in-button-enterprise.png
  assets/images/help/desktop/mac-sign-in-github.png
  assets/images/help/desktop/sign-in-browser.png
  assets/images/help/desktop/sign-in-ghes.png
  assets/images/help/desktop/windows-sign-in-button-enterprise.png
  assets/images/help/desktop/windows-sign-in-github.png
Labels: triage, automated-reposync-pr

#17119 repo sync
  data/release-notes/enterprise-server/3-4/0.yml
  data/release-notes/enterprise-server/3-4/1.yml
Labels: triage, automated-reposync-pr

#17123 repo sync
  .github/workflows/check-broken-links-github-github.yml
  script/check-github-github-links.js
Labels: triage, automated-reposync-pr

#17168 repo sync
  assets/images/help/organizations/suggested-tasks-button.png
  content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
Labels: triage, automated-reposync-pr

#17127 Remove redundant mention of "Allow edits from maintainers" setting from intro
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork.md
Labels: content, ready to merge, waiting for review, pull requests

#17154 Fix wrong component name
  content/actions/learn-github-actions/understanding-github-actions.md
Labels: content, actions, waiting for review, needs SME

#17096 Fix invalid example in "Syntax for GitHub's form schema"
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-githubs-form-schema.md
Labels: content, ready to merge, waiting for review, communities

#17072 :memo: add note about future SDK team
  content/rest/overview/libraries.md
Labels: content, ready to merge, rest

#17173 repo sync
  assets/images/help/business-accounts/repository-forking-policy-settings.png
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise.md
  data/features/innersource-fork-policies.yml
  data/reusables/repositories/you-can-fork.md
Labels: triage, automated-reposync-pr

#17177 repo sync
  content/sponsors/sponsoring-open-source-contributors/sponsoring-an-open-source-contributor.md
  data/reusables/sponsors/sponsorship-details.md
  translations/es-ES/content/actions/learn-github-actions/understanding-github-actions.md
  translations/es-ES/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise.md
  translations/es-ES/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-githubs-form-schema.md
  translations/es-ES/content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  translations/es-ES/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  translations/es-ES/content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork.md
  translations/es-ES/content/rest/overview/libraries.md
  translations/es-ES/data/features/innersource-fork-policies.yml
  translations/es-ES/data/reusables/repositories/you-can-fork.md
  translations/pt-BR/content/actions/learn-github-actions/understanding-github-actions.md
  translations/pt-BR/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise.md
  translations/pt-BR/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-githubs-form-schema.md
  translations/pt-BR/content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  translations/pt-BR/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  translations/pt-BR/content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork.md
  translations/pt-BR/content/rest/overview/libraries.md
  translations/pt-BR/data/features/innersource-fork-policies.yml
  translations/pt-BR/data/reusables/repositories/you-can-fork.md
Labels: triage, automated-reposync-pr

#17179 repo sync
  .github/workflows/codeql.yml
Labels: triage, automated-reposync-pr

#17180 repo sync
  translations/ja-JP/content/actions/learn-github-actions/understanding-github-actions.md
  translations/ja-JP/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise.md
  translations/ja-JP/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-githubs-form-schema.md
  translations/ja-JP/content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  translations/ja-JP/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  translations/ja-JP/content/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility.md
  translations/ja-JP/content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork.md
  translations/ja-JP/content/rest/overview/libraries.md
  translations/ja-JP/data/features/innersource-fork-policies.yml
  translations/ja-JP/data/reusables/repositories/you-can-fork.md
Labels: triage, automated-reposync-pr

#17191 repo sync
  content/developers/apps/building-github-apps/creating-a-github-app-using-url-parameters.md
  content/developers/apps/building-oauth-apps/scopes-for-oauth-apps.md
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  content/rest/overview/permissions-required-for-github-apps.md
  content/rest/reference/secret-scanning.md
  data/reusables/actions/reusable-workflow-calling-syntax.md
  lib/redirects/static/redirect-exceptions.txt
Labels: triage, automated-reposync-pr

#17196 repo sync
  .github/workflows/check-broken-links-github-github.yml
  script/check-github-github-links.js
Labels: triage, automated-reposync-pr

#16999 Fix the file specified in the argument of the `tar` command
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/installing-codeql-cli-in-your-ci-system.md
Labels: content, ready to merge, waiting for review, code security

#17116 Add new troubleshooting codeql
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  data/reusables/code-scanning/alerts-found-in-generated-code.md
Labels: content, waiting for review, code security

#17205 repo sync
  content/developers/apps/building-github-apps/creating-a-github-app-using-url-parameters.md
  content/developers/webhooks-and-events/events/github-event-types.md
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  content/rest/overview/api-previews.md
  data/reusables/webhooks/pull_request_review_thread_short_desc.md
  data/reusables/webhooks/pull_request_thread_properties.md
  lib/redirects/static/redirect-exceptions.txt
  lib/webhooks/static/dotcom/pull_request_review_thread.resolved.payload.json
Labels: triage, automated-reposync-pr

#17206 repo sync
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-organizations-profile.md
  translations/ja-JP/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/ja-JP/content/actions/hosting-your-own-runners/autoscaling-with-self-hosted-runners.md
  translations/ja-JP/content/code-security/code-scanning/index.md
  translations/ja-JP/content/code-security/dependabot/dependabot-alerts/browsing-security-vulnerabilities-in-the-github-advisory-database.md
  translations/ja-JP/content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
  translations/ja-JP/content/developers/apps/building-github-apps/creating-a-github-app-using-url-parameters.md
  translations/ja-JP/content/developers/apps/building-oauth-apps/scopes-for-oauth-apps.md
  translations/ja-JP/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/ja-JP/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/restricting-email-notifications-for-your-organization.md
  translations/ja-JP/content/organizations/managing-organization-settings/verifying-or-approving-a-domain-for-your-organization.md
  translations/ja-JP/content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
  translations/ja-JP/content/rest/overview/permissions-required-for-github-apps.md
  translations/ja-JP/content/rest/reference/secret-scanning.md
  translations/ja-JP/content/sponsors/sponsoring-open-source-contributors/sponsoring-an-open-source-contributor.md
  translations/ja-JP/data/reusables/actions/reusable-workflow-calling-syntax.md
  translations/ja-JP/data/reusables/sponsors/sponsorship-details.md
  translations/log/cn-resets.csv
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-organizations-profile.md
  translations/zh-CN/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/zh-CN/content/actions/hosting-your-own-runners/autoscaling-with-self-hosted-runners.md
  translations/zh-CN/content/actions/learn-github-actions/understanding-github-actions.md
  translations/zh-CN/content/admin/configuration/configuring-your-enterprise/deploying-github-ae.md
  translations/zh-CN/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise.md
  translations/zh-CN/content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
  translations/zh-CN/content/code-security/dependabot/dependabot-alerts/editing-security-advisories-in-the-github-advisory-database.md
  translations/zh-CN/content/code-security/dependabot/dependabot-alerts/index.md
  translations/zh-CN/content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  translations/zh-CN/content/code-security/dependabot/dependabot-security-updates/index.md
  translations/zh-CN/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/zh-CN/content/code-security/dependabot/dependabot-version-updates/configuring-dependabot-version-updates.md
  translations/zh-CN/content/code-security/dependabot/dependabot-version-updates/customizing-dependency-updates.md
  translations/zh-CN/content/code-security/dependabot/dependabot-version-updates/index.md
  translations/zh-CN/content/code-security/dependabot/working-with-dependabot/index.md
  translations/zh-CN/content/code-security/dependabot/working-with-dependabot/managing-encrypted-secrets-for-dependabot.md
  translations/zh-CN/content/code-security/dependabot/working-with-dependabot/managing-pull-requests-for-dependency-updates.md
  translations/zh-CN/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-githubs-form-schema.md
  translations/zh-CN/content/developers/apps/building-github-apps/creating-a-github-app-using-url-parameters.md
  translations/zh-CN/content/developers/apps/building-oauth-apps/scopes-for-oauth-apps.md
  translations/zh-CN/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/zh-CN/content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  translations/zh-CN/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/restricting-email-notifications-for-your-organization.md
  translations/zh-CN/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  translations/zh-CN/content/organizations/managing-organization-settings/verifying-or-approving-a-domain-for-your-organization.md
  translations/zh-CN/content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
  translations/zh-CN/content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork.md
  translations/zh-CN/content/rest/overview/libraries.md
  translations/zh-CN/content/rest/overview/permissions-required-for-github-apps.md
  translations/zh-CN/content/rest/reference/secret-scanning.md
  translations/zh-CN/content/sponsors/sponsoring-open-source-contributors/sponsoring-an-open-source-contributor.md
  translations/zh-CN/data/features/innersource-fork-policies.yml
  translations/zh-CN/data/reusables/actions/reusable-workflow-calling-syntax.md
  translations/zh-CN/data/reusables/dependabot/private-dependencies-note.md
  translations/zh-CN/data/reusables/gated-features/security-center.md
  translations/zh-CN/data/reusables/repositories/you-can-fork.md
  translations/zh-CN/data/reusables/rest-reference/dependency-graph/dependency-review.md
  translations/zh-CN/data/reusables/sponsors/sponsorship-details.md
Labels: triage, automated-reposync-pr

#17207 repo sync
  lib/redirects/static/redirect-exceptions.txt
Labels: triage, automated-reposync-pr

#16945 Configurable rate limit for GitHub Actions on GHES
  content/admin/configuration/configuring-your-enterprise/configuring-rate-limits.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
Labels: content, enterprise, waiting for review

#17230 repo sync
  content/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers.md
Labels: triage, automated-reposync-pr

#16563 Fix maven code example to match instructions
  content/actions/automating-builds-and-tests/building-and-testing-java-with-maven.md
Labels: content, actions, waiting for review, SME reviewed

#17238 repo sync
  content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  content/actions/hosting-your-own-runners/monitoring-and-troubleshooting-self-hosted-runners.md
  content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server.md
  data/features/codeql-runner-supported.yml
  data/reusables/actions/upgrade-runners-before-upgrade-ghes.md
Labels: triage, automated-reposync-pr

#17239 repo sync
  assets/images/help/organizations/customize_pins_link.png
  assets/images/help/organizations/new_organization_page.png
  assets/images/help/organizations/org_member_readme.png
  assets/images/help/organizations/org_profile_view.png
  assets/images/help/organizations/org_public_readme.png
  assets/images/help/organizations/pin_repositories_link.png
  assets/images/help/organizations/pinned_repo_dialog.png
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-organizations-profile.md
  content/organizations/collaborating-with-groups-in-organizations/customizing-your-organizations-profile.md
  data/features/org-profile-pin-private.yml
Labels: triage, automated-reposync-pr

#17241 repo sync
  .github/workflows/browser-test.yml
  .github/workflows/check-all-english-links.yml
  .github/workflows/enterprise-release-sync-search-index.yml
  .github/workflows/pa11y.yml
  .github/workflows/sync-search-indices.yml
  .github/workflows/sync-search-pr.yml
  .github/workflows/test.yml
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-organizations-profile.md
  translations/pt-BR/content/actions/automating-builds-and-tests/building-and-testing-java-with-maven.md
  translations/pt-BR/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/pt-BR/content/actions/hosting-your-own-runners/monitoring-and-troubleshooting-self-hosted-runners.md
  translations/pt-BR/content/actions/hosting-your-own-runners/running-scripts-before-or-after-a-job.md
  translations/pt-BR/content/admin/configuration/configuring-your-enterprise/configuring-rate-limits.md
  translations/pt-BR/content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server.md
  translations/pt-BR/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  translations/pt-BR/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  translations/pt-BR/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/installing-codeql-cli-in-your-ci-system.md
  translations/pt-BR/content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/creating-a-codespace.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/deleting-a-codespace.md
  translations/pt-BR/content/codespaces/getting-started/quickstart.md
  translations/pt-BR/content/codespaces/managing-your-codespaces/managing-repository-access-for-your-codespaces.md
  translations/pt-BR/content/codespaces/overview.md
  translations/pt-BR/content/codespaces/prebuilding-your-codespaces/configuring-prebuilds.md
  translations/pt-BR/content/codespaces/prebuilding-your-codespaces/managing-prebuilds.md
  translations/pt-BR/content/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers.md
  translations/pt-BR/content/codespaces/setting-up-your-project-for-codespaces/setting-a-minimum-specification-for-codespace-machines.md
  translations/pt-BR/content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-dotnet-project-for-codespaces.md
  translations/pt-BR/content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-java-project-for-codespaces.md
  translations/pt-BR/content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-nodejs-project-for-codespaces.md
  translations/pt-BR/content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-python-project-for-codespaces.md
  translations/pt-BR/content/codespaces/troubleshooting/troubleshooting-creation-and-deletion-of-codespaces.md
  translations/pt-BR/content/codespaces/troubleshooting/troubleshooting-prebuilds.md
  translations/pt-BR/content/developers/apps/building-github-apps/creating-a-github-app-using-url-parameters.md
  translations/pt-BR/content/developers/webhooks-and-events/events/github-event-types.md
  translations/pt-BR/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/pt-BR/content/organizations/collaborating-with-groups-in-organizations/customizing-your-organizations-profile.md
  translations/pt-BR/content/rest/overview/api-previews.md
  translations/pt-BR/data/features/codeql-runner-supported.yml
  translations/pt-BR/data/features/org-profile-pin-private.yml
  translations/pt-BR/data/reusables/actions/upgrade-runners-before-upgrade-ghes.md
  translations/pt-BR/data/reusables/audit_log/audit-log-action-categories.md
  translations/pt-BR/data/reusables/code-scanning/alerts-found-in-generated-code.md
  translations/pt-BR/data/reusables/codespaces/billing-for-prebuilds.md
  translations/pt-BR/data/reusables/codespaces/creating-a-codespace-in-vscode.md
  translations/pt-BR/data/reusables/webhooks/pull_request_review_thread_short_desc.md
  translations/pt-BR/data/reusables/webhooks/pull_request_thread_properties.md
Labels: triage, automated-reposync-pr

#17243 repo sync
  .github/workflows/repo-sync.yml
Labels: triage, automated-reposync-pr

#17244 repo sync
  .eslintrc.js
  .prettierignore
  contributing/development.md
  script/bookmarklets/README.md
  script/bookmarklets/add-pr-links.js
  script/bookmarklets/open-in-vscode.js
  script/bookmarklets/pr-link-source.js
  script/bookmarklets/view-in-development.js
  script/bookmarklets/view-in-production.js
Labels: triage, automated-reposync-pr

#17247 repo sync
  data/release-notes/enterprise-server/3-1/20.yml
  data/release-notes/enterprise-server/3-2/12.yml
  data/release-notes/enterprise-server/3-3/7.yml
  data/release-notes/enterprise-server/3-4/2.yml
Labels: triage, automated-reposync-pr

#17248 repo sync
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  data/features/blame-ignore-revs.yml
  data/features/device-flow-is-opt-in.yml
  data/features/github-actions-in-dependency-graph.yml
  data/reusables/code-scanning/deprecation-codeql-runner.md
Labels: triage, automated-reposync-pr

#17249 repo sync
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-organizations-profile.md
  translations/ja-JP/content/actions/automating-builds-and-tests/building-and-testing-java-with-maven.md
  translations/ja-JP/content/actions/hosting-your-own-runners/about-self-hosted-runners.md
  translations/ja-JP/content/actions/hosting-your-own-runners/monitoring-and-troubleshooting-self-hosted-runners.md
  translations/ja-JP/content/admin/configuration/configuring-your-enterprise/configuring-rate-limits.md
  translations/ja-JP/content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server.md
  translations/ja-JP/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  translations/ja-JP/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/installing-codeql-cli-in-your-ci-system.md
  translations/ja-JP/content/code-security/dependabot/dependabot-alerts/browsing-security-vulnerabilities-in-the-github-advisory-database.md
  translations/ja-JP/content/code-security/dependabot/dependabot-alerts/configuring-dependabot-alerts.md
  translations/ja-JP/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/ja-JP/content/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers.md
  translations/ja-JP/content/developers/apps/building-github-apps/creating-a-github-app-using-url-parameters.md
  translations/ja-JP/content/developers/webhooks-and-events/events/github-event-types.md
  translations/ja-JP/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/ja-JP/content/organizations/collaborating-with-groups-in-organizations/customizing-your-organizations-profile.md
  translations/ja-JP/content/rest/overview/api-previews.md
  translations/ja-JP/data/features/codeql-runner-supported.yml
  translations/ja-JP/data/features/org-profile-pin-private.yml
  translations/ja-JP/data/reusables/actions/upgrade-runners-before-upgrade-ghes.md
  translations/ja-JP/data/reusables/code-scanning/alerts-found-in-generated-code.md
  translations/ja-JP/data/reusables/webhooks/pull_request_review_thread_short_desc.md
  translations/ja-JP/data/reusables/webhooks/pull_request_thread_properties.md
  translations/log/ja-resets.csv
Labels: triage, automated-reposync-pr

#16963 Clarify reusable workflow step
  content/actions/using-workflows/reusing-workflows.md
Labels: content, actions, waiting for review, SME reviewed

#17252 repo sync
  lib/get-redirect.js
Labels: triage, automated-reposync-pr

#17254 repo sync
  content/rest/index.md
Labels: triage, automated-reposync-pr

#17264 repo sync
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-supply-chain-security.md
  data/features/codeql-packs.yml
Labels: triage, automated-reposync-pr

#17268 repo sync
  .github/workflows/triage-unallowed-internal-changes.yml
Labels: triage, automated-reposync-pr

#17269 repo sync
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/index.md
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/setting-your-profile-to-private.md
  data/reusables/user-settings/update-preferences.md
  lib/search/popular-pages.json
  tests/meta/orphan-tests.js
Labels: triage, automated-reposync-pr

#17283 fix spelling in about supply chain security page
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-supply-chain-security.md
Labels: content, ready to merge, code security

#17295 repo sync
  content/admin/configuration/configuring-github-connect/enabling-unified-search-for-your-enterprise.md
  content/admin/configuration/configuring-your-enterprise/site-admin-dashboard.md
  content/billing/managing-billing-for-github-advanced-security/viewing-your-github-advanced-security-usage.md
  content/search-github/getting-started-with-searching-on-github/about-searching-on-github.md
  content/search-github/getting-started-with-searching-on-github/enabling-githubcom-repository-search-from-your-private-enterprise-environment.md
  data/features/ghas-committers-calculator.yml
  lib/redirects/static/redirect-exceptions.txt
Labels: triage, automated-reposync-pr

#17059 fixes wrong ::set-output name
  content/actions/creating-actions/creating-a-composite-action.md
Labels: content, actions, waiting for review, SME reviewed

#17298 repo sync
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/about-saml-for-enterprise-iam.md
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/switching-your-saml-configuration-from-an-organization-to-an-enterprise-account.md
  content/admin/user-management/managing-organizations-in-your-enterprise/managing-your-role-in-an-organization-owned-by-your-enterprise.md
  content/authentication/authenticating-with-saml-single-sign-on/about-authentication-with-saml-single-sign-on.md
  content/billing/managing-billing-for-github-actions/managing-your-spending-limit-for-github-actions.md
  content/billing/managing-billing-for-github-actions/viewing-your-github-actions-usage.md
  content/billing/managing-billing-for-github-codespaces/managing-spending-limits-for-codespaces.md
  content/billing/managing-billing-for-github-codespaces/viewing-your-codespaces-usage.md
  content/billing/managing-billing-for-github-packages/managing-your-spending-limit-for-github-packages.md
  content/billing/managing-billing-for-github-packages/viewing-your-github-packages-usage.md
  content/billing/managing-billing-for-your-github-account/about-per-user-pricing.md
  content/code-security/supply-chain-security/end-to-end-supply-chain/securing-accounts.md
  content/organizations/granting-access-to-your-organization-with-saml-single-sign-on/viewing-and-managing-a-members-saml-access-to-your-organization.md
  content/organizations/managing-membership-in-your-organization/inviting-users-to-join-your-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/about-identity-and-access-management-with-saml-single-sign-on.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/about-scim-for-organizations.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/about-scim.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/configuring-saml-single-sign-on-and-scim-using-okta.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/connecting-your-identity-provider-to-your-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/index.md
  content/rest/scim.md
  data/reusables/scim/dedicated-configuration-account.md
  data/reusables/scim/enterprise-account-scim.md
Labels: triage, automated-reposync-pr

#17267 Fix incorrect link
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: content, actions, ready to merge, waiting for review

#17299 repo sync
  assets/images/help/sponsors/activity-tab.png
  assets/images/help/sponsors/export-your-sponsors.png
  assets/images/help/sponsors/your-sponsors-tab.png
  content/sponsors/receiving-sponsorships-through-github-sponsors/viewing-your-sponsors-and-sponsorships.md
  data/reusables/sponsors/activity-tab.md
  data/reusables/sponsors/your-sponsors-tab.md
Labels: triage, automated-reposync-pr

#17089 Specify return value for undefined properties in workflow contexts
  content/actions/learn-github-actions/contexts.md
Labels: content, actions, waiting for review, SME reviewed

#17300 repo sync
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-the-dependency-graph.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository.md
  content/organizations/collaborating-with-groups-in-organizations/viewing-insights-for-your-organization.md
  content/organizations/managing-organization-settings/changing-the-visibility-of-your-organizations-dependency-insights.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
  data/reusables/gated-features/org-insights.md
  lib/redirects/static/redirect-exceptions.txt
Labels: triage, automated-reposync-pr

#17307 repo sync
  components/DefaultLayout.tsx
  components/page-header/Header.tsx
Labels: triage, automated-reposync-pr

#17326 repo sync
  translations/pt-BR/content/actions/learn-github-actions/contexts.md
  translations/pt-BR/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-the-dependency-graph.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository.md
  translations/pt-BR/content/organizations/collaborating-with-groups-in-organizations/viewing-insights-for-your-organization.md
  translations/pt-BR/content/organizations/managing-organization-settings/changing-the-visibility-of-your-organizations-dependency-insights.md
  translations/pt-BR/content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
  translations/pt-BR/content/sponsors/receiving-sponsorships-through-github-sponsors/viewing-your-sponsors-and-sponsorships.md
  translations/pt-BR/data/reusables/gated-features/org-insights.md
  translations/pt-BR/data/reusables/sponsors/activity-tab.md
  translations/pt-BR/data/reusables/sponsors/your-sponsors-tab.md
Labels: triage, automated-reposync-pr

#17296 Be social article update
  content/get-started/quickstart/be-social.md
  content/get-started/quickstart/create-a-repo.md
  content/get-started/quickstart/fork-a-repo.md
  content/get-started/quickstart/set-up-git.md
  data/reusables/getting-started/being-social.md
  data/reusables/getting-started/contributing-to-projects.md
  data/reusables/getting-started/create-a-repository.md
  data/reusables/getting-started/fork-a-repository.md
  data/reusables/getting-started/set-up-git.md
  data/reusables/support/ask-and-answer-forum.md
Labels: content, ready to merge, waiting for review, get started

#17369 repo sync
  content/get-started/quickstart/github-glossary.md
Labels: triage, automated-reposync-pr

#17372 repo sync
  assets/images/help/codespaces/add-constraint-dropdown-ports.png
  assets/images/help/codespaces/add-constraint-dropdown-timeout.png
  assets/images/help/codespaces/add-constraint-dropdown.png
  assets/images/help/codespaces/edit-timeout-constraint.png
  assets/images/help/codespaces/maximum-minutes-timeout.png
  content/codespaces/customizing-your-codespace/setting-your-timeout-period-for-codespaces.md
  content/codespaces/managing-codespaces-for-your-organization/index.md
  content/codespaces/managing-codespaces-for-your-organization/restricting-access-to-machine-types.md
  content/codespaces/managing-codespaces-for-your-organization/restricting-the-idle-timeout-period.md
  content/codespaces/managing-codespaces-for-your-organization/restricting-the-visibility-of-forwarded-ports.md
  data/reusables/codespaces/codespaces-org-policies.md
  data/reusables/codespaces/codespaces-policy-targets.md
Labels: triage, automated-reposync-pr

#17374 repo sync
  data/reusables/actions/supported-github-runners.md
Labels: triage, automated-reposync-pr

#17387 repo sync
  data/reusables/projects/enable-basic-workflow.md
  data/reusables/projects/project-settings.md
Labels: triage, automated-reposync-pr

#17332 Adds missing 'on' between words
  content/actions/using-workflows/about-workflows.md
Labels: content, actions, ready to merge

#17396 repo sync
  data/release-notes/enterprise-server/3-4/1.yml
  data/release-notes/enterprise-server/3-4/2.yml
Labels: triage, automated-reposync-pr

#17303 GitHub Desktop v3.0 release
  assets/images/help/desktop/branch-drop-down-pull-request-tab.png
  assets/images/help/desktop/checks-dialog.png
  assets/images/help/desktop/checks-failed-dialog.png
  assets/images/help/desktop/click-pull-request.png
  assets/images/help/desktop/mac-enable-notifications.png
  assets/images/help/desktop/pull-request-checks-failed-notification.png
  assets/images/help/desktop/pull-request-list-sync.png.png
  assets/images/help/desktop/pull-request-review-dialog.png
  assets/images/help/desktop/pull-request-review-notification.png
  assets/images/help/desktop/re-run-confirmation-dialog.png
  assets/images/help/desktop/re-run-failed-checks.png
  assets/images/help/desktop/re-run-individual-checks.png
  assets/images/help/desktop/windows-enable-notifications.png
  content/desktop/contributing-and-collaborating-using-github-desktop/making-changes-in-a-branch/committing-and-reviewing-changes-to-your-project.md
  content/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/configuring-notifications-in-github-desktop.md
  content/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/index.md
  content/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/viewing-a-pull-request-in-github-desktop.md
  content/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/viewing-and-re-running-checks-in-github-desktop.md
Labels: content, ready to merge, waiting for review, desktop

#17406 repo sync
  data/release-notes/enterprise-server/3-4/2.yml
Labels: triage, automated-reposync-pr
