Repository github/docs, pull requests merged in 2022-01, with the labels that each got.

#12378 Add documentation for conditional composite steps (`runs.steps[*].if`)
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
  content/actions/learn-github-actions/expressions.md
Labels: content, ready to merge, waiting for review

#12586 Patch the missing `edited` action type for xxx_event_api_properties.md
  data/reusables/webhooks/issue_event_api_properties.md
  data/reusables/webhooks/pull_request_event_api_properties.md
Labels: content, actions, ready to merge

#12688 Updated concurrency example to cancel any in-progress job or run
  data/reusables/actions/actions-group-concurrency.md
Labels: content, actions, ready to merge, waiting for review

#13174 added section for git installation on Chrome
  content/get-started/quickstart/set-up-git.md
Labels: content, ready to merge, waiting for review

#13707 repo sync
  .github/actions-scripts/fr-add-docs-reviewers-requests.js
  .github/actions-scripts/projects.js
  .github/actions-scripts/ready-for-docs-review.js
  .github/allowed-actions.js
  .github/workflows/codeql.yml
  .github/workflows/docs-review-collect.yml
  .github/workflows/staging-build-and-deploy-pr.yml
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
  content/actions/monitoring-and-troubleshooting-workflows/adding-a-workflow-status-badge.md
  content/actions/using-github-hosted-runners/about-github-hosted-runners.md
  content/codespaces/troubleshooting/troubleshooting-codespaces-clients.md
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
  middleware/render-page.js
  package-lock.json
  package.json
  tests/unit/actions-workflows.js
Labels: automated-reposync-pr

#13253 Grammar update
  content/issues/organizing-your-work-with-project-boards/managing-project-boards/reopening-a-closed-project-board.md
Labels: content, ready to merge

#13313 fix People tab icon for organizations
  data/reusables/organizations/people.md
Labels: content, ready to merge, waiting for review

#13715 repo sync
  .github/workflows/hubber-contribution-help.yml
  .github/workflows/ready-for-doc-review.yml
Labels: automated-reposync-pr

#13383 Add GitHub Actions icon in reusable
  data/reusables/repositories/actions-tab.md
Labels: content, actions, ready to merge, waiting for review

#13716 repo sync
  .github/workflows/triage-unallowed-contributions.yml
  package-lock.json
  package.json
  script/deployment/deploy-to-production.js
  script/deployment/purge-edge-cache.js
Labels: automated-reposync-pr

#13719 repo sync
  content/actions/hosting-your-own-runners/using-self-hosted-runners-in-a-workflow.md
Labels: automated-reposync-pr

#13720 repo sync
  .github/workflows/link-check-all.yml
Labels: automated-reposync-pr

#13721 repo sync
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/permission-levels-for-a-user-account-repository.md
  content/developers/apps/building-oauth-apps/scopes-for-oauth-apps.md
  content/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
  content/packages/learn-github-packages/about-permissions-for-github-packages.md
  content/packages/learn-github-packages/deleting-a-package.md
  content/packages/learn-github-packages/deleting-and-restoring-a-package.md
  content/packages/learn-github-packages/introduction-to-github-packages.md
  content/packages/working-with-a-github-packages-registry/working-with-the-apache-maven-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-docker-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-gradle-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-npm-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-rubygems-registry.md
  data/release-notes/github-ae/2021-06/2021-12-06.yml
Labels: automated-reposync-pr

#13736 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
Labels: automated-reposync-pr

#13711 Fix typos
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/introducing-github-actions-to-your-enterprise.md
Labels: content, ready to merge

#13743 repo sync
  assets/images/help/writing/enable-fixed-width.png
  assets/images/help/writing/fixed-width-example.png
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/managing-your-theme-settings.md
  content/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/about-writing-and-formatting-on-github.md
  content/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  content/github/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks.md
  content/github/writing-on-github/working-with-advanced-formatting/organizing-information-with-tables.md
  data/features/fixed-width-font-gfm-fields.yml
  data/reusables/user_settings/appearance-settings.md
  data/reusables/user_settings/enabling-fixed-width-fonts.md
Labels: automated-reposync-pr

#13726 Remove stray space from link
  content/actions/learn-github-actions/creating-starter-workflows-for-your-organization.md
Labels: content, actions, ready to merge

#13489 Update twenty-minutes-to-publish.md
  data/reusables/pages/twenty-minutes-to-publish.md
Labels: content, ready to merge

#13509 clarify `runs-on` array
  content/actions/learn-github-actions/workflow-syntax-for-github-actions.md
Labels: ready to merge, waiting for review

#13563 remove double quotes on further reading line
  content/issues/tracking-your-work-with-issues/filtering-and-searching-issues-and-pull-requests.md
Labels: content, ready to merge

#13670 add missing article before "account" to sentence
  content/get-started/quickstart/github-flow.md
Labels: content, ready to merge

#13760 repo sync
  content/actions/creating-actions/creating-a-javascript-action.md
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
Labels: automated-reposync-pr

#13761 repo sync
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches.md
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks.md
Labels: automated-reposync-pr

#13763 repo sync
  components/page-header/LanguagePicker.tsx
  components/ui/Picker/Picker.tsx
  data/ui.yml
Labels: automated-reposync-pr

#13786 repo sync
  assets/images/help/organizations/security-and-analysis-disable-or-enable-all-fpt.png
  assets/images/help/organizations/security-and-analysis-disable-or-enable-all-ghas-ghec.png
  assets/images/help/organizations/security-and-analysis-enable-or-disable-feature-checkbox-dotcom.png
  assets/images/help/organizations/security-and-analysis-enable-or-disable-feature-checkbox-fpt.png
  assets/images/help/organizations/security-and-analysis-enable-or-disable-feature-checkbox-ghec.png
  assets/images/help/repository/security-and-analysis-disable-or-enable-dotcom-private.png
  assets/images/help/repository/security-and-analysis-disable-or-enable-fpt-private.png
  assets/images/help/repository/security-and-analysis-disable-or-enable-fpt-public.png
  assets/images/help/repository/security-and-analysis-disable-or-enable-ghec-private.png
  assets/images/help/repository/security-and-analysis-disable-or-enable-ghec-public.png
  content/code-security/getting-started/github-security-features.md
  content/code-security/getting-started/securing-your-organization.md
  content/code-security/getting-started/securing-your-repository.md
  content/get-started/learning-about-github/about-github-advanced-security.md
  content/github/understanding-how-github-uses-and-protects-your-data/managing-data-use-settings-for-your-private-repository.md
  content/organizations/keeping-your-organization-secure/managing-security-and-analysis-settings-for-your-organization.md
  content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
  content/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-security-and-analysis-settings-for-your-repository.md
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/setting-repository-visibility.md
  data/reusables/advanced-security/ghas-availability.md
  data/reusables/advanced-security/note-org-enable-uses-seats.md
  data/reusables/advanced-security/security-feature-availability.md
  data/variables/product.yml
  middleware/disable-caching-on-safari.js
  middleware/index.js
Labels: automated-reposync-pr

#13789 repo sync
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches.md
Labels: automated-reposync-pr

#13792 repo sync
  components/page-header/Header.tsx
  components/ui/Picker/Picker.tsx
Labels: automated-reposync-pr

#13415 Clarify hotpatch rollback instructions
  content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server.md
Labels: content, enterprise, waiting for review

#13797 repo sync
  components/Search.tsx
  stylesheets/utilities.scss
Labels: automated-reposync-pr

#13800 repo sync
  content/admin/user-management/monitoring-activity-in-your-enterprise/audited-actions.md
  content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
  content/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
Labels: automated-reposync-pr

#13722 Add instructions to download usage report for Codespaces
  assets/images/help/codespaces/usage-report-download.png
  content/billing/managing-billing-for-github-codespaces/viewing-your-codespaces-usage.md
  data/reusables/dotcom_billing/codespaces-report-download.md
Labels: content, waiting for review, codespaces

#13795 Update link text for next page
  content/actions/learn-github-actions/creating-starter-workflows-for-your-organization.md
Labels: content, actions, ready to merge, waiting for review

#13807 Display the workflow oauth scope for GHES 3.0 and above, GHAE, and GHEC
  content/developers/apps/building-oauth-apps/scopes-for-oauth-apps.md
Labels: content, enterprise, waiting for review

#13898 Update keyboard shortcuts meet new style guidelines
  content/get-started/using-github/github-command-palette.md
Labels: content, ready to merge

#13910 Update keyboard shortcut to meet new style guidelines
  content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/squashing-commits.md
Labels: content, ready to merge

#13912 Update keyboard shortcut to meet new style guidelines
  data/reusables/desktop/delete-branch-win.md
Labels: content, ready to merge

#13916 Update keyboard tags to meet new style guidelines
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/managing-accessibility-settings.md
Labels: content, ready to merge

#13913 Update keyboard shortcut to meet new style guidelines
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests.md
Labels: content, ready to merge

#13926 Change `can` to `must` for SCIM in EMUs
  content/admin/authentication/managing-your-enterprise-users-with-your-identity-provider/configuring-scim-provisioning-for-enterprise-managed-users.md
Labels: content, waiting for review

#13942 Clarify that Go is not an interpreted language in CodeQL documentation
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
Labels: content, waiting for review

#12316 Add suggestion for nuspec files in troubleshooting
  content/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry.md
Labels: content, waiting for review

#13925 Update release webhook short description API link
  data/reusables/webhooks/release_short_desc.md
Labels: content, ready to merge

#13952 repo sync
  .github/workflows/test-windows.yml
  .github/workflows/test.yml
  components/landing/TableOfContents.tsx
  content/actions/managing-workflow-runs/disabling-and-enabling-a-workflow.md
  content/actions/managing-workflow-runs/downloading-workflow-artifacts.md
  content/actions/managing-workflow-runs/manually-running-a-workflow.md
  content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  content/actions/monitoring-and-troubleshooting-workflows/viewing-workflow-run-history.md
  content/actions/security-guides/encrypted-secrets.md
  content/authentication/connecting-to-github-with-ssh/adding-a-new-ssh-key-to-your-github-account.md
  content/codespaces/customizing-your-codespace/setting-your-timeout-period-for-codespaces.md
  content/codespaces/developing-in-codespaces/creating-a-codespace.md
  content/codespaces/developing-in-codespaces/deleting-a-codespace.md
  content/codespaces/developing-in-codespaces/forwarding-ports-in-your-codespace.md
  content/codespaces/troubleshooting/codespaces-logs.md
  content/get-started/quickstart/contributing-to-projects.md
  content/get-started/quickstart/create-a-repo.md
  lib/get-liquid-data-references.js
  lib/patterns.js
Labels: automated-reposync-pr

#13955 repo sync
  .github/CODEOWNERS
  .github/actions-scripts/create-translation-batch-pr.js
  .github/workflows/create-translation-batch-pr.yml
Labels: automated-reposync-pr

#13958 repo sync
  content/get-started/quickstart/fork-a-repo.md
  content/issues/tracking-your-work-with-issues/filtering-and-searching-issues-and-pull-requests.md
  content/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository.md
  content/issues/trying-out-the-new-projects-experience/using-the-api-to-manage-projects.md
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/merging-a-pull-request.md
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/checking-out-pull-requests-locally.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/reviewing-proposed-changes-in-a-pull-request.md
  content/repositories/creating-and-managing-repositories/cloning-a-repository.md
  content/repositories/releasing-projects-on-github/managing-releases-in-a-repository.md
Labels: automated-reposync-pr

#13903 Update keyboard shortcuts to meet new style guidelines
  content/codespaces/codespaces-reference/using-the-vs-code-command-palette-in-codespaces.md
Labels: content, ready to merge

#13909 Update keyboard shortcut to meet new style guidelines
  content/codespaces/developing-in-codespaces/using-codespaces-with-github-cli.md
Labels: content, ready to merge

#13914 Update keyboard tag to meet new style guidelines
  content/repositories/working-with-files/using-files/getting-permanent-links-to-files.md
Labels: content, ready to merge

#13975 repo sync
  script/i18n/test-render-translation.js
Labels: automated-reposync-pr

#13976 repo sync
  data/reusables/actions/hardware-requirements-after.md
Labels: automated-reposync-pr

#13978 repo sync
  .vscode/settings.json
  package-lock.json
  package.json
Labels: automated-reposync-pr

#13981 repo sync
  contributing/content-markup-reference.md
  includes/tool-switcher.html
  tests/fixtures/default-tool.md
Labels: automated-reposync-pr

#13991 repo sync
  README.md
  contributing/localization-checklist.md
Labels: automated-reposync-pr

#13995 repo sync
  assets/images/help/classroom/autograding-hero.png
  assets/images/help/notifications-v2/unsubscribe-from-all-repos.png
  assets/images/help/notifications-v2/unwatch-repo-dialog.png
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/managing-subscriptions-for-activity-on-github/managing-your-subscriptions.md
  data/reusables/notifications-v2/custom-notification-types.md
Labels: automated-reposync-pr

#13567 Correct an obvious typo
  content/pages/setting-up-a-github-pages-site-with-jekyll/about-github-pages-and-jekyll.md
Labels: content, ready to merge, waiting for review

#13997 repo sync
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch.md
Labels: automated-reposync-pr

#14010 repo sync
  .github/workflows/staging-build-and-deploy-pr.yml
Labels: automated-reposync-pr

#13953 Correctly show Actions typed inputs example
  content/actions/learn-github-actions/workflow-syntax-for-github-actions.md
Labels: content, ready to merge, waiting for review

#14022 repo sync
  .github/workflows/link-check-all.yml
  script/rendered-content-link-checker.mjs
Labels: automated-reposync-pr

#13616 Correct "return" in expressions
  content/actions/learn-github-actions/expressions.md
Labels: content, actions, ready to merge, waiting for review

#13907 Update Keyboard shortcuts to meet new style guidelines
  data/reusables/command-palette/open-palette.md
Labels: content, waiting for review

#13908 Update keyboard shortcuts to meet new style guidelines
  data/reusables/projects/open-command-palette.md
Labels: content, ready to merge

#13889 Update keyboard shortcuts to meet new Style guidelines
  content/desktop/installing-and-configuring-github-desktop/overview/keyboard-shortcuts.md
Labels: content, ready to merge

#13915 Update keyboard shortcuts to meet new style guidelines
  content/issues/trying-out-the-new-projects-experience/creating-a-project.md
Labels: content, ready to merge

#13911 Update keyboard shortcut to meet new style guidelines
  data/reusables/desktop/delete-branch-mac.md
Labels: content, ready to merge

#14031 repo sync
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/countries-where-sms-authentication-is-supported.md
Labels: automated-reposync-pr

#14006 Fix links to primer website
  stylesheets/README.md
Labels: content, ready to merge

#13106 Reflect closed issues and issues with linked pull requests in task list article
  content/issues/tracking-your-work-with-issues/about-task-lists.md
Labels: content, waiting for review

#14033 repo sync
  content/organizations/managing-saml-single-sign-on-for-your-organization/managing-team-synchronization-for-your-organization.md
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: automated-reposync-pr

#14035 repo sync
  content/issues/trying-out-the-new-projects-experience/creating-a-project.md
  content/issues/trying-out-the-new-projects-experience/customizing-your-project-views.md
  content/issues/trying-out-the-new-projects-experience/managing-the-visibility-of-your-projects.md
  content/issues/trying-out-the-new-projects-experience/quickstart.md
  content/issues/trying-out-the-new-projects-experience/using-the-api-to-manage-projects.md
  translations/pt-BR/content/account-and-profile/managing-subscriptions-and-notifications-on-github/managing-subscriptions-for-activity-on-github/managing-your-subscriptions.md
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/managing-accessibility-settings.md
  translations/pt-BR/content/actions/learn-github-actions/expressions.md
  translations/pt-BR/content/actions/learn-github-actions/workflow-syntax-for-github-actions.md
  translations/pt-BR/content/admin/enterprise-management/caching-repositories/about-repository-caching.md
  translations/pt-BR/content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server.md
  translations/pt-BR/content/authentication/securing-your-account-with-two-factor-authentication-2fa/countries-where-sms-authentication-is-supported.md
  translations/pt-BR/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/using-codespaces-with-github-cli.md
  translations/pt-BR/content/codespaces/setting-up-your-project-for-codespaces/setting-a-minimum-specification-for-codespace-machines.md
  translations/pt-BR/content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/squashing-commits.md
  translations/pt-BR/content/desktop/installing-and-configuring-github-desktop/overview/keyboard-shortcuts.md
  translations/pt-BR/content/get-started/quickstart/fork-a-repo.md
  translations/pt-BR/content/github/copilot/research-recitation.md
  translations/pt-BR/content/github/site-policy/github-data-protection-agreement.md
  translations/pt-BR/content/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/about-writing-and-formatting-on-github.md
  translations/pt-BR/content/github/writing-on-github/working-with-advanced-formatting/organizing-information-with-collapsed-sections.md
  translations/pt-BR/content/issues/trying-out-the-new-projects-experience/creating-a-project.md
  translations/pt-BR/content/issues/trying-out-the-new-projects-experience/using-the-api-to-manage-projects.md
  translations/pt-BR/content/organizations/managing-saml-single-sign-on-for-your-organization/managing-team-synchronization-for-your-organization.md
  translations/pt-BR/content/packages/learn-github-packages/about-permissions-for-github-packages.md
  translations/pt-BR/content/pages/setting-up-a-github-pages-site-with-jekyll/about-github-pages-and-jekyll.md
  translations/pt-BR/content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch.md
  translations/pt-BR/content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/setting-repository-visibility.md
  translations/pt-BR/content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md
  translations/pt-BR/content/repositories/working-with-files/managing-files/adding-a-file-to-a-repository.md
  translations/pt-BR/content/repositories/working-with-files/using-files/getting-permanent-links-to-files.md
  translations/pt-BR/content/repositories/working-with-files/using-files/navigating-code-on-github.md
  translations/pt-BR/content/repositories/working-with-files/using-files/working-with-non-code-files.md
  translations/pt-BR/data/reusables/command-palette/open-palette.md
  translations/pt-BR/data/reusables/desktop/delete-branch-mac.md
  translations/pt-BR/data/reusables/notifications-v2/custom-notification-types.md
  translations/pt-BR/data/reusables/projects/open-command-palette.md
  translations/pt-BR/data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: automated-reposync-pr

#13866 Remove circular link
  content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-graphs-on-your-profile/viewing-contributions-on-your-profile.md
Labels: content, waiting for review

#14039 repo sync
  data/release-notes/enterprise-server/3-3/0.yml
  data/release-notes/enterprise-server/3-3/1.yml
Labels: automated-reposync-pr

#14046 repo sync
  script/rendered-content-link-checker.mjs
Labels: automated-reposync-pr

#14056 repo sync
  translations/es-ES/content/account-and-profile/managing-subscriptions-and-notifications-on-github/managing-subscriptions-for-activity-on-github/managing-your-subscriptions.md
  translations/es-ES/content/actions/automating-builds-and-tests/building-and-testing-java-with-ant.md
  translations/es-ES/content/actions/automating-builds-and-tests/building-and-testing-java-with-gradle.md
  translations/es-ES/content/actions/automating-builds-and-tests/building-and-testing-java-with-maven.md
  translations/es-ES/content/actions/automating-builds-and-tests/building-and-testing-net.md
  translations/es-ES/content/actions/automating-builds-and-tests/building-and-testing-nodejs.md
  translations/es-ES/content/actions/automating-builds-and-tests/building-and-testing-ruby.md
  translations/es-ES/content/actions/automating-builds-and-tests/building-and-testing-swift.md
  translations/es-ES/content/actions/learn-github-actions/expressions.md
  translations/es-ES/content/actions/learn-github-actions/sharing-workflows-secrets-and-runners-with-your-organization.md
  translations/es-ES/content/actions/learn-github-actions/workflow-syntax-for-github-actions.md
  translations/es-ES/content/actions/monitoring-and-troubleshooting-workflows/adding-a-workflow-status-badge.md
  translations/es-ES/content/authentication/securing-your-account-with-two-factor-authentication-2fa/countries-where-sms-authentication-is-supported.md
  translations/es-ES/content/billing/managing-billing-for-github-codespaces/about-billing-for-codespaces.md
  translations/es-ES/content/billing/managing-billing-for-github-codespaces/managing-spending-limits-for-codespaces.md
  translations/es-ES/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
  translations/es-ES/content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/migrating-from-the-codeql-runner-to-codeql-cli.md
  translations/es-ES/content/codespaces/codespaces-reference/understanding-billing-for-codespaces.md
  translations/es-ES/content/codespaces/troubleshooting/troubleshooting-codespaces-clients.md
  translations/es-ES/content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/squashing-commits.md
  translations/es-ES/content/desktop/installing-and-configuring-github-desktop/overview/keyboard-shortcuts.md
  translations/es-ES/content/get-started/learning-about-github/about-github-advanced-security.md
  translations/es-ES/content/get-started/learning-about-github/access-permissions-on-github.md
  translations/es-ES/content/get-started/quickstart/set-up-git.md
  translations/es-ES/content/issues/trying-out-the-new-projects-experience/creating-a-project.md
  translations/es-ES/content/issues/trying-out-the-new-projects-experience/using-the-api-to-manage-projects.md
  translations/es-ES/content/organizations/managing-saml-single-sign-on-for-your-organization/managing-team-synchronization-for-your-organization.md
  translations/es-ES/content/pages/setting-up-a-github-pages-site-with-jekyll/about-github-pages-and-jekyll.md
  translations/es-ES/content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch.md
  translations/es-ES/content/repositories/working-with-files/using-files/getting-permanent-links-to-files.md
  translations/es-ES/data/reusables/command-palette/open-palette.md
  translations/es-ES/data/reusables/desktop/delete-branch-mac.md
  translations/es-ES/data/reusables/notifications-v2/custom-notification-types.md
  translations/es-ES/data/reusables/projects/open-command-palette.md
  translations/es-ES/data/reusables/secret-scanning/partner-secret-list-private-repo.md
  translations/ja-JP/content/account-and-profile/managing-subscriptions-and-notifications-on-github/managing-subscriptions-for-activity-on-github/managing-your-subscriptions.md
  translations/ja-JP/content/actions/learn-github-actions/expressions.md
  translations/ja-JP/content/actions/learn-github-actions/workflow-syntax-for-github-actions.md
  translations/ja-JP/content/authentication/securing-your-account-with-two-factor-authentication-2fa/countries-where-sms-authentication-is-supported.md
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
  translations/ja-JP/content/desktop/installing-and-configuring-github-desktop/overview/keyboard-shortcuts.md
  translations/ja-JP/content/issues/trying-out-the-new-projects-experience/creating-a-project.md
  translations/ja-JP/content/organizations/managing-saml-single-sign-on-for-your-organization/managing-team-synchronization-for-your-organization.md
  translations/ja-JP/content/pages/setting-up-a-github-pages-site-with-jekyll/about-github-pages-and-jekyll.md
  translations/ja-JP/content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch.md
  translations/ja-JP/data/reusables/command-palette/open-palette.md
  translations/ja-JP/data/reusables/desktop/delete-branch-mac.md
  translations/ja-JP/data/reusables/notifications-v2/custom-notification-types.md
  translations/ja-JP/data/reusables/projects/open-command-palette.md
  translations/ja-JP/data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: automated-reposync-pr

#11851 Use `gradle-build-action` for Gradle builds
  content/actions/automating-builds-and-tests/building-and-testing-java-with-gradle.md
  content/actions/publishing-packages/publishing-java-packages-with-gradle.md
Labels: content, actions, waiting for review

#12680 Use a tag to refer to setup-swift action version
  content/actions/automating-builds-and-tests/building-and-testing-swift.md
Labels: content, actions, waiting for review

#14040 Use of hyphen in creating task lists
  data/reusables/repositories/task-list-markdown.md
Labels: content, ready to merge

#14045 Fix typos: 'was' vs. 'has' and singular vs. plural
  content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
Labels: content, ready to merge

#14105 repo sync
  lib/hydro.js
Labels: automated-reposync-pr

#14106 repo sync
  components/landing/ArticleList.tsx
  components/landing/CodeExampleCard.tsx
  components/landing/GuideCard.tsx
  components/landing/ProductArticlesList.tsx
  tests/content/featured-links.js
  tests/rendering/server.js
Labels: automated-reposync-pr

#14111 repo sync
  components/guides/ArticleCard.tsx
  components/guides/GuidesHero.tsx
  components/guides/LearningTrack.tsx
  components/landing/ProductReleases.tsx
Labels: automated-reposync-pr

#14113 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: automated-reposync-pr

#12468 Clarify that webhook deliveries receive all commits in a push
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
Labels: content, waiting for review

#14183 repo sync
  content/organizations/organizing-members-into-teams/managing-code-review-settings-for-your-team.md
  data/features/only-notify-requested-members.yml
Labels: automated-reposync-pr

#14174 Update quickstart.md
  content/codespaces/getting-started/quickstart.md
Labels: content, ready to merge

#14244 repo sync
  data/reusables/code-scanning/codeql-languages-bullets.md
Labels: automated-reposync-pr

#14251 repo sync
  assets/images/help/organizations/secret-scanning-filter-alerts.png
  assets/images/help/organizations/view-alert-subset.png
  assets/images/help/repository/repo-code-scanning-filter-and-search.png
  assets/images/help/repository/repo-security-side-panel.png
  assets/images/help/repository/security-tab.png
  content/code-security/security-overview/about-the-security-overview.md
  content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
  content/code-security/security-overview/index.md
  content/code-security/security-overview/viewing-the-security-overview.md
  data/reusables/organizations/filter-security-overview.md
Labels: automated-reposync-pr

#14250 Fixed broken link on documentation
  content/actions/learn-github-actions/contexts.md
Labels: content, actions

#14264 repo sync
  assets/images/enterprise/support/support-ticket-add-file.png
  assets/images/enterprise/support/support-ticket-description-field.png
  assets/images/enterprise/support/support-ticket-email-address-field.png
  assets/images/enterprise/support/support-ticket-ghe-product.png
  assets/images/enterprise/support/support-ticket-ghes-series.png
  assets/images/enterprise/support/support-ticket-global-region.png
  assets/images/enterprise/support/support-ticket-priority.png
  assets/images/enterprise/support/support-ticket-subject-field.png
Labels: automated-reposync-pr

#14285 repo sync
  data/release-notes/enterprise-server/3-0/23.yml
  data/release-notes/enterprise-server/3-1/15.yml
  data/release-notes/enterprise-server/3-2/7.yml
  data/release-notes/enterprise-server/3-3/2.yml
Labels: automated-reposync-pr

#14291 repo sync
  assets/images/help/pull_requests/commit-squashing-diagram.png
  assets/images/help/pull_requests/standard-merge-commit-diagram.png
Labels: automated-reposync-pr

#14281 docs: removal of unwanted extra closure of achor tag
  content/rest/guides/basics-of-authentication.md
Labels: content, ready to merge, rest

#14295 repo sync
  components/landing/CodeExamples.tsx
  data/ui.yml
  tests/browser/browser.js
Labels: automated-reposync-pr

#14300 repo sync
  content/sponsors/sponsoring-open-source-contributors/sponsoring-an-open-source-contributor.md
Labels: automated-reposync-pr

#14301 repo sync
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  content/code-security/code-scanning/integrating-with-code-scanning/uploading-a-sarif-file-to-github.md
Labels: automated-reposync-pr

#14302 repo sync
  content/actions/index.md
  content/admin/index.md
  content/codespaces/index.md
  content/issues/index.md
Labels: automated-reposync-pr

#14309 repo sync
  components/page-header/LanguagePicker.tsx
  components/page-header/ProductPicker.tsx
  components/page-header/VersionPicker.tsx
  components/ui/Picker/Picker.tsx
  data/ui.yml
Labels: automated-reposync-pr

#14311 repo sync
  translations/es-ES/content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-amazon-elastic-container-service.md
  translations/es-ES/content/actions/index.md
  translations/es-ES/content/actions/learn-github-actions/contexts.md
  translations/es-ES/content/actions/learn-github-actions/understanding-github-actions.md
  translations/es-ES/content/actions/publishing-packages/publishing-java-packages-with-gradle.md
  translations/es-ES/content/admin/advanced-security/overview-of-github-advanced-security-deployment.md
  translations/es-ES/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-cloud.md
  translations/es-ES/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/introducing-github-actions-to-your-enterprise.md
  translations/es-ES/content/admin/identity-and-access-management/managing-iam-with-enterprise-managed-users/about-enterprise-managed-users.md
  translations/es-ES/content/admin/index.md
  translations/es-ES/content/billing/managing-licenses-for-visual-studio-subscriptions-with-github-enterprise/setting-up-visual-studio-subscriptions-with-github-enterprise.md
  translations/es-ES/content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  translations/es-ES/content/code-security/code-scanning/integrating-with-code-scanning/uploading-a-sarif-file-to-github.md
  translations/es-ES/content/code-security/security-overview/about-the-security-overview.md
  translations/es-ES/content/codespaces/index.md
  translations/es-ES/content/developers/overview/github-developer-program.md
  translations/es-ES/content/discussions/managing-discussions-for-your-community/managing-discussions-in-your-repository.md
  translations/es-ES/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/use-autograding.md
  translations/es-ES/content/get-started/learning-about-github/types-of-github-accounts.md
  translations/es-ES/content/get-started/signing-up-for-github/setting-up-a-trial-of-github-ae.md
  translations/es-ES/content/graphql/guides/migrating-graphql-global-node-ids.md
  translations/es-ES/content/issues/index.md
  translations/es-ES/content/issues/trying-out-the-new-projects-experience/customizing-your-project-views.md
  translations/es-ES/content/organizations/managing-membership-in-your-organization/exporting-member-information-for-your-organization.md
  translations/es-ES/content/organizations/managing-saml-single-sign-on-for-your-organization/connecting-your-identity-provider-to-your-organization.md
  translations/es-ES/content/repositories/releasing-projects-on-github/about-releases.md
  translations/es-ES/content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md
  translations/es-ES/content/rest/guides/basics-of-authentication.md
  translations/es-ES/content/sponsors/sponsoring-open-source-contributors/sponsoring-an-open-source-contributor.md
  translations/es-ES/content/support/contacting-github-support/providing-data-to-github-support.md
  translations/es-ES/content/support/contacting-github-support/viewing-and-updating-support-tickets.md
  translations/es-ES/content/support/index.md
  translations/es-ES/content/support/learning-about-github-support/about-ticket-priority.md
  translations/es-ES/data/release-notes/enterprise-server/3-0/17.yml
  translations/es-ES/data/release-notes/enterprise-server/3-0/20.yml
  translations/es-ES/data/release-notes/enterprise-server/3-0/23.yml
  translations/es-ES/data/release-notes/enterprise-server/3-1/12.yml
  translations/es-ES/data/release-notes/enterprise-server/3-1/15.yml
  translations/es-ES/data/release-notes/enterprise-server/3-1/9.yml
  translations/es-ES/data/release-notes/enterprise-server/3-2/1.yml
  translations/es-ES/data/release-notes/enterprise-server/3-2/4.yml
  translations/es-ES/data/release-notes/enterprise-server/3-2/7.yml
  translations/es-ES/data/release-notes/enterprise-server/3-3/0-rc1.yml
  translations/es-ES/data/release-notes/enterprise-server/3-3/0.yml
  translations/es-ES/data/release-notes/enterprise-server/3-3/2.yml
  translations/es-ES/data/reusables/actions/registry-credentials.md
  translations/es-ES/data/reusables/actions/runner-tool-cache-description.md
  translations/es-ES/data/reusables/enterprise-accounts/support-entitlements.md
  translations/es-ES/data/reusables/enterprise_site_admin_settings/access-settings.md
  translations/es-ES/data/reusables/github-actions/actions-on-examples.md
  translations/es-ES/data/reusables/github-actions/run_id_description.md
  translations/es-ES/data/reusables/support/data-protection-and-privacy.md
  translations/es-ES/data/reusables/support/enterprise-resolving-and-closing-tickets.md
  translations/es-ES/data/reusables/support/free-and-paid-support.md
  translations/es-ES/data/reusables/support/scope-of-support.md
  translations/es-ES/data/ui.yml
  translations/es-ES/data/variables/contact.yml
  translations/log/es-resets.csv
Labels: automated-reposync-pr

#14316 repo sync
  translations/zh-CN/content/actions/index.md
  translations/zh-CN/content/actions/learn-github-actions/contexts.md
  translations/zh-CN/content/admin/index.md
  translations/zh-CN/content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  translations/zh-CN/content/code-security/code-scanning/integrating-with-code-scanning/uploading-a-sarif-file-to-github.md
  translations/zh-CN/content/codespaces/index.md
  translations/zh-CN/content/discussions/managing-discussions-for-your-community/managing-discussions-in-your-repository.md
  translations/zh-CN/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/use-autograding.md
  translations/zh-CN/content/issues/index.md
  translations/zh-CN/content/organizations/managing-membership-in-your-organization/exporting-member-information-for-your-organization.md
  translations/zh-CN/content/repositories/releasing-projects-on-github/about-releases.md
  translations/zh-CN/content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md
  translations/zh-CN/content/rest/guides/basics-of-authentication.md
  translations/zh-CN/content/sponsors/sponsoring-open-source-contributors/sponsoring-an-open-source-contributor.md
  translations/zh-CN/data/release-notes/enterprise-server/3-0/23.yml
  translations/zh-CN/data/release-notes/enterprise-server/3-1/15.yml
  translations/zh-CN/data/release-notes/enterprise-server/3-2/7.yml
  translations/zh-CN/data/release-notes/enterprise-server/3-3/2.yml
  translations/zh-CN/data/ui.yml
Labels: automated-reposync-pr

#14317 repo sync
  components/Search.tsx
  data/ui.yml
  translations/ja-JP/content/actions/index.md
  translations/ja-JP/content/actions/learn-github-actions/contexts.md
  translations/ja-JP/content/admin/index.md
  translations/ja-JP/content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  translations/ja-JP/content/code-security/code-scanning/integrating-with-code-scanning/uploading-a-sarif-file-to-github.md
  translations/ja-JP/content/codespaces/index.md
  translations/ja-JP/content/discussions/managing-discussions-for-your-community/managing-discussions-in-your-repository.md
  translations/ja-JP/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/use-autograding.md
  translations/ja-JP/content/issues/index.md
  translations/ja-JP/content/organizations/managing-membership-in-your-organization/exporting-member-information-for-your-organization.md
  translations/ja-JP/content/repositories/releasing-projects-on-github/about-releases.md
  translations/ja-JP/content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md
  translations/ja-JP/content/rest/guides/basics-of-authentication.md
  translations/ja-JP/content/sponsors/sponsoring-open-source-contributors/sponsoring-an-open-source-contributor.md
  translations/ja-JP/data/release-notes/enterprise-server/3-0/23.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-1/15.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-2/7.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/2.yml
  translations/ja-JP/data/ui.yml
  translations/log/ja-resets.csv
Labels: automated-reposync-pr

#14320 repo sync
  content/admin/enterprise-management/caching-repositories/about-repository-caching.md
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  lib/webhooks/static/ghes-3.4/cache_sync.synced.payload.json
Labels: automated-reposync-pr

#14334 repo sync
  content/actions/hosting-your-own-runners/monitoring-and-troubleshooting-self-hosted-runners.md
Labels: automated-reposync-pr

#14335 repo sync
  data/reusables/actions/workflows/section-triggering-a-workflow-types.md
Labels: automated-reposync-pr

#14359 repo sync
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-docker-to-azure-app-service.md
  content/communities/maintaining-your-safety-on-github/blocking-a-user-from-your-personal-account.md
Labels: automated-reposync-pr

#14380 repo sync
  assets/images/azure/azure-resources-search.png
  assets/images/azure/azure-storage-containers.png
  assets/images/azure/azure-storage-permissions.png
  assets/images/azure/azure-storage-shared-access-tokens.png
  assets/images/help/enterprises/audit-stream-add-azureblob.png
  assets/images/help/enterprises/audit-stream-choice-azure.png
  assets/images/help/enterprises/audit-stream-choice-azureblob.png
  assets/images/help/enterprises/audit-stream-choice-google-cloud-storage.png
  assets/images/help/enterprises/audit-stream-choice-s3.png
  assets/images/help/enterprises/audit-stream-choice-splunk.png
  content/admin/user-management/managing-organizations-in-your-enterprise/streaming-the-audit-logs-for-organizations-in-your-enterprise-account.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/using-a-merge-queue.md
  data/reusables/enterprise/verify-audit-log-streaming-endpoint.md
Labels: automated-reposync-pr

#13938 Update creating-a-github-pages-site-with-jekyll.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/creating-a-github-pages-site-with-jekyll.md
Labels: content, waiting for review

#14278 docs: fix broken links on using workflows section
  data/reusables/actions/workflows/section-run-on-specific-branches-or-tags.md
  data/reusables/actions/workflows/section-specifying-branches.md
  data/reusables/actions/workflows/section-triggering-a-workflow-branches.md
  data/reusables/actions/workflows/section-triggering-a-workflow-paths.md
Labels: content, waiting for review

#14399 repo sync
  .github/workflows/prod-build-deploy-azure.yml
Labels: automated-reposync-pr

#14413 repo sync
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/managing-your-tab-size-rendering-preference.md
  content/admin/configuration/configuring-your-enterprise/configuring-custom-footers.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/introducing-github-actions-to-your-enterprise.md
  content/admin/user-management/managing-users-in-your-enterprise/impersonating-a-user.md
  content/admin/user-management/monitoring-activity-in-your-enterprise/audited-actions.md
  content/communities/setting-up-your-project-for-healthy-contributions/adding-a-license-to-a-repository.md
  content/communities/setting-up-your-project-for-healthy-contributions/creating-a-default-community-health-file.md
  content/developers/overview/replacing-github-services.md
  content/github/site-policy/github-terms-for-additional-products-and-features.md
  content/issues/tracking-your-work-with-issues/filtering-and-searching-issues-and-pull-requests.md
  content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  data/features/enterprise-owners-visible-for-org-members.yml
Labels: automated-reposync-pr

#14419 repo sync
  assets/images/enterprise/3.4/actions-access-settings.png
  assets/images/help/repository/actions-general-tab.png
  assets/images/help/settings/actions-access-settings.png
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  data/reusables/repositories/settings-sidebar-actions.md
Labels: automated-reposync-pr

#14422 repo sync
  content/actions/creating-actions/about-custom-actions.md
  content/actions/creating-actions/index.md
  content/actions/creating-actions/sharing-actions-and-workflows-with-your-enterprise.md
  content/actions/learn-github-actions/finding-and-customizing-actions.md
  content/actions/learn-github-actions/understanding-github-actions.md
  content/actions/security-guides/security-hardening-for-github-actions.md
  content/actions/using-workflows/advanced-workflow-features.md
  content/actions/using-workflows/reusing-workflows.md
  content/actions/using-workflows/sharing-workflows-secrets-and-runners-with-your-organization.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/introducing-github-actions-to-your-enterprise.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  data/features/internal-actions.yml
  data/reusables/actions/internal-actions-summary.md
  data/reusables/actions/outside-collaborators-internal-actions.md
  data/reusables/actions/reusable-workflows.md
Labels: automated-reposync-pr

#14112 Fixing upload-artifact codeql debug step
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
Labels: content, waiting for review

#14425 repo sync
  lib/render-content/plugins/rewrite-local-links.js
  tests/rendering/server.js
Labels: automated-reposync-pr

#14427 repo sync
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
Labels: automated-reposync-pr

#14430 repo sync
  content/get-started/using-github/keyboard-shortcuts.md
Labels: automated-reposync-pr

#14433 repo sync
  content/actions/creating-actions/sharing-actions-and-workflows-with-your-enterprise.md
Labels: automated-reposync-pr

#14375 Change Organization to Enterprise
  content/admin/user-management/managing-organizations-in-your-enterprise/adding-organizations-to-your-enterprise.md
Labels: content, enterprise, waiting for review

#14435 repo sync
  components/guides/LearningTrack.module.scss
  components/guides/LearningTrack.tsx
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
Labels: automated-reposync-pr

#14437 repo sync
  .github/workflows/staging-build-and-deploy-pr.yml
  middleware/redirects/handle-redirects.js
  middleware/search.js
  tests/routing/redirects.js
Labels: automated-reposync-pr

#14449 repo sync
  translations/log/cn-resets.csv
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/managing-your-tab-size-rendering-preference.md
  translations/zh-CN/content/actions/creating-actions/about-custom-actions.md
  translations/zh-CN/content/actions/creating-actions/index.md
  translations/zh-CN/content/actions/creating-actions/sharing-actions-and-workflows-with-your-enterprise.md
  translations/zh-CN/content/actions/learn-github-actions/finding-and-customizing-actions.md
  translations/zh-CN/content/actions/learn-github-actions/understanding-github-actions.md
  translations/zh-CN/content/actions/security-guides/security-hardening-for-github-actions.md
  translations/zh-CN/content/actions/using-workflows/advanced-workflow-features.md
  translations/zh-CN/content/actions/using-workflows/reusing-workflows.md
  translations/zh-CN/content/actions/using-workflows/sharing-workflows-secrets-and-runners-with-your-organization.md
  translations/zh-CN/content/admin/advanced-security/enabling-github-advanced-security-for-your-enterprise.md
  translations/zh-CN/content/admin/configuration/configuring-github-connect/about-github-connect.md
  translations/zh-CN/content/admin/configuration/configuring-github-connect/enabling-automatic-user-license-sync-for-your-enterprise.md
  translations/zh-CN/content/admin/configuration/configuring-github-connect/enabling-the-dependency-graph-and-dependabot-alerts-for-your-enterprise.md
  translations/zh-CN/content/admin/configuration/configuring-github-connect/enabling-unified-contributions-for-your-enterprise.md
  translations/zh-CN/content/admin/configuration/configuring-github-connect/enabling-unified-search-for-your-enterprise.md
  translations/zh-CN/content/admin/configuration/configuring-github-connect/index.md
  translations/zh-CN/content/admin/configuration/configuring-github-connect/managing-github-connect.md
  translations/zh-CN/content/admin/configuration/configuring-your-enterprise/configuring-custom-footers.md
  translations/zh-CN/content/admin/configuration/index.md
  translations/zh-CN/content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/setting-up-dependabot-updates.md
  translations/zh-CN/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/introducing-github-actions-to-your-enterprise.md
  translations/zh-CN/content/admin/guides.md
  translations/zh-CN/content/admin/user-management/managing-organizations-in-your-enterprise/adding-organizations-to-your-enterprise.md
  translations/zh-CN/content/admin/user-management/managing-organizations-in-your-enterprise/streaming-the-audit-logs-for-organizations-in-your-enterprise-account.md
  translations/zh-CN/content/admin/user-management/managing-users-in-your-enterprise/impersonating-a-user.md
  translations/zh-CN/content/admin/user-management/monitoring-activity-in-your-enterprise/audited-actions.md
  translations/zh-CN/content/billing/managing-your-license-for-github-enterprise/syncing-license-usage-between-github-enterprise-server-and-github-enterprise-cloud.md
  translations/zh-CN/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  translations/zh-CN/content/code-security/supply-chain-security/managing-vulnerabilities-in-your-projects-dependencies/configuring-notifications-for-vulnerable-dependencies.md
  translations/zh-CN/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  translations/zh-CN/content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  translations/zh-CN/content/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository.md
  translations/zh-CN/content/communities/setting-up-your-project-for-healthy-contributions/adding-a-license-to-a-repository.md
  translations/zh-CN/content/communities/setting-up-your-project-for-healthy-contributions/creating-a-default-community-health-file.md
  translations/zh-CN/content/developers/overview/replacing-github-services.md
  translations/zh-CN/content/get-started/using-github/keyboard-shortcuts.md
  translations/zh-CN/content/github/site-policy/github-terms-for-additional-products-and-features.md
  translations/zh-CN/content/issues/tracking-your-work-with-issues/filtering-and-searching-issues-and-pull-requests.md
  translations/zh-CN/content/pages/setting-up-a-github-pages-site-with-jekyll/creating-a-github-pages-site-with-jekyll.md
  translations/zh-CN/content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/using-a-merge-queue.md
  translations/zh-CN/content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  translations/zh-CN/content/search-github/getting-started-with-searching-on-github/about-searching-on-github.md
  translations/zh-CN/content/search-github/getting-started-with-searching-on-github/enabling-githubcom-repository-search-from-your-private-enterprise-environment.md
  translations/zh-CN/content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  translations/zh-CN/data/features/enterprise-owners-visible-for-org-members.yml
  translations/zh-CN/data/features/internal-actions.yml
  translations/zh-CN/data/reusables/actions/internal-actions-summary.md
  translations/zh-CN/data/reusables/actions/outside-collaborators-internal-actions.md
  translations/zh-CN/data/reusables/actions/reusable-workflows.md
  translations/zh-CN/data/reusables/actions/workflows/section-run-on-specific-branches-or-tags.md
  translations/zh-CN/data/reusables/actions/workflows/section-specifying-branches.md
  translations/zh-CN/data/reusables/actions/workflows/section-triggering-a-workflow-branches.md
  translations/zh-CN/data/reusables/actions/workflows/section-triggering-a-workflow-paths.md
  translations/zh-CN/data/reusables/dependabot/dependabot-alerts-dependency-graph-enterprise.md
  translations/zh-CN/data/reusables/enterprise/link-to-ghec-trial.md
  translations/zh-CN/data/reusables/enterprise/verify-audit-log-streaming-endpoint.md
  translations/zh-CN/data/reusables/repositories/enable-security-alerts.md
  translations/zh-CN/data/reusables/repositories/settings-sidebar-actions.md
Labels: automated-reposync-pr

#14518 repo sync
  translations/ja-JP/content/github/writing-on-github/working-with-advanced-formatting/attaching-files.md
  translations/ja-JP/data/features/svg-support.yml
Labels: automated-reposync-pr

#14536 repo sync
  content/actions/using-jobs/assigning-permissions-to-jobs.md
  content/actions/using-jobs/using-concurrency.md
Labels: automated-reposync-pr

#14541 repo sync
  assets/images/help/saml/okta-add-application.png
  assets/images/help/saml/okta-add-ghec-application.png
  assets/images/help/saml/okta-admin-button.png
  assets/images/help/saml/okta-application-label.png
  assets/images/help/saml/okta-applications.png
  assets/images/help/saml/okta-authenticate-with-ghec-organization.png
  assets/images/help/saml/okta-configure-api-integration.png
  assets/images/help/saml/okta-enable-api-integration.png
  assets/images/help/saml/okta-github-enterprises.png
  assets/images/help/saml/okta-github-organization-name.png
  assets/images/help/saml/okta-provisioning-enable-create-users.png
  assets/images/help/saml/okta-provisioning-enable-deactivate-users.png
  assets/images/help/saml/okta-provisioning-enable-options.png
  assets/images/help/saml/okta-provisioning-enable-update-user-attributes.png
  assets/images/help/saml/okta-provisioning-save.png
  assets/images/help/saml/okta-provisioning-tab-save.png
  assets/images/help/saml/okta-provisioning-tab.png
  assets/images/help/saml/okta-provisioning-to-app-edit-button.png
  assets/images/help/saml/okta-scim-integration-authorize-oktaoan.png
  assets/images/help/saml/okta-search-for-an-application.png
  assets/images/help/saml/okta-sign-on-tab.png
  assets/images/help/saml/okta-view-setup-instructions.png
  content/admin/identity-and-access-management/managing-iam-for-your-enterprise/configuring-saml-single-sign-on-for-your-enterprise-using-okta.md
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/configuring-saml-single-sign-on-and-scim-using-okta.md
  data/reusables/enterprise-accounts/user-provisioning-release-stage.md
  data/reusables/saml/add-okta-application.md
  data/reusables/saml/okta-admin-button.md
  data/reusables/saml/okta-applications-click-ghec-application-label.md
  data/reusables/saml/okta-configure-api-integration.md
  data/reusables/saml/okta-dashboard-click-applications.md
  data/reusables/saml/okta-edit-provisioning.md
  data/reusables/saml/okta-enable-api-integration.md
  data/reusables/saml/okta-provisioning-tab.md
  data/reusables/saml/okta-save-provisioning.md
  data/reusables/saml/okta-sign-into-your-account.md
  data/reusables/saml/okta-sign-on-tab.md
  data/reusables/saml/okta-view-setup-instructions.md
  data/reusables/saml/search-ghec-okta.md
Labels: automated-reposync-pr

#14543 repo sync
  content/actions/learn-github-actions/environment-variables.md
  content/actions/learn-github-actions/expressions.md
  content/actions/using-workflows/workflow-commands-for-github-actions.md
Labels: automated-reposync-pr

#14453 Remove duplicate sentence in the concurrency docs
  data/reusables/actions/jobs/section-using-concurrency.md
Labels: content, ready to merge

#14558 repo sync
  assets/images/help/images/workflow-dispatch-inputs.png
  content/actions/using-workflows/events-that-trigger-workflows.md
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
  content/developers/apps/building-github-apps/creating-a-github-app-using-url-parameters.md
  content/pull-requests/collaborating-with-pull-requests/collaborating-on-repositories-with-code-quality-features/about-status-checks.md
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches.md
  content/rest/guides/building-a-ci-server.md
  content/rest/reference/pulls.md
  content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  data/reusables/apps/checks-availability.md
  lib/redirects/static/rest-api-redirect-exceptions.json
Labels: automated-reposync-pr

#13917 Update keyboard shortcuts to meet new style guidelines
  content/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, ready to merge

#14559 repo sync
  content/admin/configuration/configuring-your-enterprise/accessing-the-management-console.md
  content/admin/enterprise-management/configuring-high-availability/about-high-availability-configuration.md
  content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrade-requirements.md
  content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server.md
  content/organizations/managing-membership-in-your-organization/reinstating-a-former-member-of-your-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/enforcing-saml-single-sign-on-for-your-organization.md
  data/reusables/enterprise_installation/hotpatching-explanation.md
  data/reusables/saml/removed-users-can-rejoin.md
  data/reusables/two_fa/send-invite-to-reinstate-user-before-2fa-is-enabled.md
Labels: automated-reposync-pr

#14560 repo sync
  .github/dependabot.yml
  Dockerfile
  content/developers/apps/building-github-apps/creating-a-github-app-using-url-parameters.md
  content/pull-requests/collaborating-with-pull-requests/collaborating-on-repositories-with-code-quality-features/about-status-checks.md
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches.md
  content/rest/guides/building-a-ci-server.md
  content/rest/reference/pulls.md
  content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  data/reusables/apps/checks-availability.md
  lib/redirects/static/rest-api-redirect-exceptions.json
Labels: automated-reposync-pr

#14614 repo sync
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-email-preferences/setting-your-commit-email-address.md
  content/account-and-profile/setting-up-and-managing-your-github-user-account/managing-your-membership-in-organizations/viewing-peoples-roles-in-an-organization.md
  content/actions/automating-builds-and-tests/building-and-testing-java-with-ant.md
  content/actions/automating-builds-and-tests/building-and-testing-net.md
  content/actions/automating-builds-and-tests/building-and-testing-nodejs.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-to-azure-kubernetes-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-google-kubernetes-engine.md
  content/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-hashicorp-vault.md
  content/actions/hosting-your-own-runners/monitoring-and-troubleshooting-self-hosted-runners.md
  content/actions/learn-github-actions/expressions.md
  content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/increasing-cpu-or-memory-resources.md
  content/admin/user-management/managing-repositories-in-your-enterprise/migrating-to-internal-repositories.md
  content/communities/documenting-your-project-with-wikis/editing-wiki-content.md
  content/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/managing-team-synchronization-for-your-organization.md
Labels: automated-reposync-pr

#14619 repo sync
  components/page-footer/Survey.module.scss
  components/page-footer/Survey.tsx
Labels: automated-reposync-pr

#14620 repo sync
  components/DefaultLayout.tsx
  stylesheets/utilities.scss
Labels: automated-reposync-pr

#14622 repo sync
  components/DefaultLayout.tsx
  components/page-footer/SmallFooter.tsx
  components/page-header/Header.tsx
  components/sidebar/SidebarNav.tsx
  package-lock.json
  package.json
Labels: automated-reposync-pr

#14627 repo sync
  content/actions/using-workflows/reusing-workflows.md
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
  data/reusables/actions/reusable-workflow-calling-syntax.md
  data/reusables/actions/uses-keyword-example.md
Labels: automated-reposync-pr

#14638 repo sync
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/installing-codeql-cli-in-your-ci-system.md
Labels: automated-reposync-pr

#14642 repo sync
  content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  content/admin/github-actions/advanced-configuration-and-troubleshooting/troubleshooting-github-actions-for-your-enterprise.md
  content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-amazon-s3-storage.md
  content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-azure-blob-storage.md
  content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-minio-gateway-for-nas-storage.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  data/reusables/actions/perform-blob-storage-precheck.md
Labels: automated-reposync-pr

#14644 repo sync
  content/get-started/learning-about-github/githubs-products.md
Labels: automated-reposync-pr

#14646 repo sync
  assets/images/help/2fa/2fa-mobile-number-challenge.png
  assets/images/help/2fa/2fa-select-mobile.png
  content/actions/security-guides/automatic-token-authentication.md
  content/admin/advanced-security/configuring-secret-scanning-for-your-appliance.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/about-two-factor-authentication.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/accessing-github-using-two-factor-authentication.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication.md
  content/code-security/guides.md
  content/code-security/secret-scanning/about-secret-scanning.md
  content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  content/code-security/secret-scanning/index.md
  content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
  content/code-security/secret-scanning/secret-scanning-partners.md
  content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
  content/developers/apps/building-github-apps/rate-limits-for-github-apps.md
  content/developers/apps/getting-started-with-apps/differences-between-github-apps-and-oauth-apps.md
  content/developers/github-marketplace/using-the-github-marketplace-api-in-your-app/rest-endpoints-for-the-github-marketplace-api.md
  content/get-started/using-github/github-mobile.md
  content/rest/guides/best-practices-for-integrators.md
  content/rest/guides/getting-started-with-the-rest-api.md
  content/rest/overview/resources-in-the-rest-api.md
  content/rest/reference/rate-limit.md
  content/rest/reference/search.md
  data/learning-tracks/code-security.yml
  data/reusables/apps/api-rate-limits-non-ghec.md
  data/reusables/apps/user-to-server-rate-limits-ghec.md
  data/reusables/apps/user-to-server-rate-limits.md
  data/reusables/enterprise/rate_limit.md
  data/reusables/gated-features/secret-scanning.md
  data/reusables/rest-api/always-check-your-limit.md
  data/reusables/secret-scanning/about-secret-scanning.md
  data/reusables/secret-scanning/beta.md
  data/reusables/secret-scanning/partner-program-link.md
  data/reusables/shortdesc/rate_limits_github_apps.md
  data/reusables/two_fa/after-2fa-add-security-key.md
  lib/redirects/static/redirect-exceptions.txt
Labels: automated-reposync-pr

#14648 repo sync
  .github/workflows/staging-build-and-deploy-pr.yml
Labels: automated-reposync-pr

#14651 repo sync
  .github/workflows/prod-build-deploy-azure.yml
  .github/workflows/staging-build-and-deploy-azure.yml
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/about-notifications.md
  content/packages/learn-github-packages/introduction-to-github-packages.md
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/automatically-merging-a-pull-request.md
  data/variables/contact.yml
Labels: automated-reposync-pr

#14652 repo sync
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/viewing-and-triaging-notifications/customizing-a-workflow-for-triaging-your-notifications.md
  content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-graphs-on-your-profile/sending-enterprise-contributions-to-your-githubcom-profile.md
  content/actions/automating-builds-and-tests/building-and-testing-ruby.md
  content/admin/enterprise-management/monitoring-your-appliance/configuring-collectd.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-azure.md
  content/authentication/troubleshooting-ssh/using-ssh-over-the-https-port.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/migrating-from-the-codeql-runner-to-codeql-cli.md
  content/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/upgrading-from-dependabotcom-to-github-native-dependabot.md
  content/codespaces/managing-codespaces-for-your-organization/managing-billing-for-codespaces-in-your-organization.md
  content/codespaces/setting-up-your-project-for-codespaces/setting-up-your-java-project-for-codespaces.md
  content/codespaces/troubleshooting/working-with-support-for-codespaces.md
  content/developers/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps.md
  content/developers/apps/getting-started-with-apps/setting-up-your-development-environment-to-create-a-github-app.md
  content/developers/apps/guides/creating-ci-tests-with-the-checks-api.md
  content/developers/github-marketplace/creating-apps-for-github-marketplace/viewing-metrics-for-your-listing.md
  content/developers/github-marketplace/listing-an-app-on-github-marketplace/submitting-your-listing-for-publication.md
  content/developers/github-marketplace/using-the-github-marketplace-api-in-your-app/handling-new-purchases-and-free-trials.md
  content/developers/github-marketplace/using-the-github-marketplace-api-in-your-app/handling-plan-changes.md
  content/developers/overview/managing-deploy-keys.md
  content/developers/overview/using-ssh-agent-forwarding.md
  content/developers/webhooks-and-events/webhooks/creating-webhooks.md
  content/get-started/getting-started-with-git/associating-text-editors-with-git.md
  content/get-started/importing-your-projects-to-github/working-with-subversion-on-github/subversion-properties-supported-by-github.md
  content/github/copilot/research-recitation.md
  content/organizations/keeping-your-organization-secure/reviewing-the-audit-log-for-your-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/configuring-saml-single-sign-on-and-scim-using-okta.md
  content/packages/learn-github-packages/deleting-and-restoring-a-package.md
  content/packages/working-with-a-github-packages-registry/working-with-the-rubygems-registry.md
  content/repositories/working-with-files/using-files/working-with-non-code-files.md
  content/rest/guides/getting-started-with-the-rest-api.md
  content/rest/guides/index.md
  content/search-github/getting-started-with-searching-on-github/sorting-search-results.md
  content/search-github/getting-started-with-searching-on-github/understanding-the-search-syntax.md
  content/search-github/searching-on-github/searching-code.md
  content/search-github/searching-on-github/searching-for-packages.md
  content/search-github/searching-on-github/searching-for-repositories.md
  content/search-github/searching-on-github/searching-issues-and-pull-requests.md
Labels: automated-reposync-pr

#14653 repo sync
  components/DefaultLayout.tsx
  components/GenericError.tsx
  components/article/ArticlePage.tsx
Labels: automated-reposync-pr

#14655 repo sync
  .github/workflows/staging-build-and-deploy-azure.yml
  .github/workflows/staging-undeploy-azure.yml
  .github/workflows/workflow-lint.yml
Labels: automated-reposync-pr

#14657 repo sync
  package-lock.json
  package.json
Labels: automated-reposync-pr

#14658 repo sync
  assets/images/help/discussions/discussions-dashboard-date-selctor.png
  assets/images/help/discussions/discussions-dashboard.png
  content/discussions/managing-discussions-for-your-community/index.md
  content/discussions/managing-discussions-for-your-community/viewing-insights-for-your-discussions.md
Labels: automated-reposync-pr

#14664 repo sync
  content/actions/using-workflows/events-that-trigger-workflows.md
  content/actions/using-workflows/triggering-a-workflow.md
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
  data/reusables/actions/workflows/section-triggering-a-workflow-paths.md
  data/reusables/github-actions/actions-activity-types.md
  data/reusables/github-actions/actions-filters.md
  data/reusables/github-actions/actions-multiple-types.md
  data/reusables/github-actions/actions-on-examples.md
  data/reusables/github-actions/on-multiple-example.md
  data/reusables/github-actions/on-single-example.md
  data/reusables/github-actions/workflow-dispatch-inputs.md
Labels: automated-reposync-pr

#14665 repo sync
  middleware/index.js
Labels: automated-reposync-pr

#14669 repo sync
  lib/redirects/static/redirect-exceptions.txt
Labels: automated-reposync-pr

#14680 repo sync
  lib/redirects/static/redirect-exceptions.txt
Labels: automated-reposync-pr

#12853 caching-dependencies-to-speed-up-workflows.md: clarify base of a relative path
  content/actions/advanced-guides/caching-dependencies-to-speed-up-workflows.md
Labels: content, actions, ready to merge
