Repository github/docs, pull requests merged in 2022-12, with the labels that each got.

#22397 repo sync
  data/release-notes/enterprise-server/3-4/0.yml
  data/release-notes/enterprise-server/3-4/1.yml
  data/release-notes/enterprise-server/3-4/2.yml
  data/release-notes/enterprise-server/3-4/3.yml
  data/release-notes/enterprise-server/3-4/4.yml
  data/release-notes/enterprise-server/3-4/5.yml
  data/release-notes/enterprise-server/3-4/6.yml
  data/release-notes/enterprise-server/3-4/7.yml
  data/release-notes/enterprise-server/3-4/8.yml
  data/release-notes/enterprise-server/3-4/9.yml
  data/release-notes/enterprise-server/3-5/0.yml
  data/release-notes/enterprise-server/3-5/1.yml
  data/release-notes/enterprise-server/3-5/2.yml
  data/release-notes/enterprise-server/3-5/3.yml
  data/release-notes/enterprise-server/3-5/4.yml
  data/release-notes/enterprise-server/3-5/5.yml
  data/release-notes/enterprise-server/3-5/6.yml
  data/release-notes/enterprise-server/3-5/7.yml
  data/release-notes/enterprise-server/3-6/0.yml
  data/release-notes/enterprise-server/3-6/1.yml
  data/release-notes/enterprise-server/3-6/2.yml
  data/release-notes/enterprise-server/3-6/3.yml
Labels: automated-reposync-pr

#22403 repo sync
  content/codespaces/developing-in-codespaces/creating-a-codespace-for-a-repository.md
  content/codespaces/developing-in-codespaces/creating-a-codespace-from-a-template.md
  content/codespaces/developing-in-codespaces/deleting-a-codespace.md
  content/codespaces/developing-in-codespaces/index.md
  content/codespaces/developing-in-codespaces/opening-an-existing-codespace.md
  content/codespaces/developing-in-codespaces/stopping-and-starting-a-codespace.md
  content/codespaces/getting-started/deep-dive.md
  content/codespaces/getting-started/index.md
  content/codespaces/getting-started/the-codespace-lifecycle.md
  content/codespaces/index.md
  content/codespaces/managing-codespaces-for-your-organization/restricting-the-base-image-for-codespaces.md
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/using-github-codespaces-with-github-classroom.md
  data/reusables/codespaces/stopping-a-codespace.md
Labels: automated-reposync-pr

#22405 repo sync
  lib/frontmatter.js
  lib/get-data.js
  lib/liquid-tags/indented-data-reference.js
  package-lock.json
  package.json
  tests/content/site-data-references.js
  tests/linting/lint-files.js
  tests/linting/lint-versioning.js
Labels: automated-reposync-pr

#22406 repo sync
  content/actions/using-github-hosted-runners/controlling-access-to-larger-runners.md
Labels: automated-reposync-pr

#22407 repo sync
  data/graphql/ghae/graphql_previews.ghae.yml
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/graphql_previews.yml
  data/graphql/ghec/schema.docs.graphql
  data/graphql/graphql_previews.yml
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/previews.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
  translations/es-ES/content/actions/using-github-hosted-runners/controlling-access-to-larger-runners.md
  translations/es-ES/content/admin/identity-and-access-management/using-saml-for-enterprise-iam/configuring-saml-single-sign-on-for-your-enterprise.md
  translations/es-ES/content/authentication/keeping-your-account-and-data-secure/authorizing-oauth-apps.md
  translations/es-ES/content/code-security/security-advisories/repository-security-advisories/creating-a-repository-security-advisory.md
  translations/es-ES/content/codespaces/developing-in-codespaces/creating-a-codespace-for-a-repository.md
  translations/es-ES/content/codespaces/developing-in-codespaces/creating-a-codespace-from-a-template.md
  translations/es-ES/content/codespaces/developing-in-codespaces/index.md
  translations/es-ES/content/codespaces/developing-in-codespaces/stopping-and-starting-a-codespace.md
  translations/es-ES/content/codespaces/developing-in-codespaces/the-codespace-lifecycle.md
  translations/es-ES/content/codespaces/getting-started/index.md
  translations/es-ES/content/codespaces/index.md
  translations/es-ES/content/codespaces/troubleshooting/troubleshooting-github-codespaces-clients.md
  translations/es-ES/content/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/changing-a-remotes-url-from-github-desktop.md
  translations/es-ES/content/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/index.md
  translations/es-ES/content/developers/github-marketplace/github-marketplace-overview/about-marketplace-badges.md
  translations/es-ES/content/pull-requests/collaborating-with-pull-requests/working-with-forks/configuring-a-remote-for-a-fork.md
  translations/es-ES/content/pull-requests/collaborating-with-pull-requests/working-with-forks/index.md
  translations/es-ES/content/pull-requests/collaborating-with-pull-requests/working-with-forks/syncing-a-fork.md
  translations/es-ES/content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/changing-the-default-branch.md
  translations/es-ES/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
  translations/es-ES/content/rest/guides/getting-started-with-the-rest-api.md
  translations/es-ES/content/rest/overview/permissions-required-for-fine-grained-personal-access-tokens.md
  translations/es-ES/content/rest/overview/resources-in-the-rest-api.md
  translations/es-ES/content/rest/overview/troubleshooting.md
  translations/es-ES/data/release-notes/enterprise-server/3-4/0.yml
  translations/es-ES/data/release-notes/enterprise-server/3-4/1.yml
  translations/es-ES/data/release-notes/enterprise-server/3-4/2.yml
  translations/es-ES/data/release-notes/enterprise-server/3-4/3.yml
  translations/es-ES/data/release-notes/enterprise-server/3-4/4.yml
  translations/es-ES/data/release-notes/enterprise-server/3-4/5.yml
  translations/es-ES/data/release-notes/enterprise-server/3-4/6.yml
  translations/es-ES/data/release-notes/enterprise-server/3-4/7.yml
  translations/es-ES/data/release-notes/enterprise-server/3-4/8.yml
  translations/es-ES/data/release-notes/enterprise-server/3-5/4.yml
  translations/es-ES/data/reusables/apps/reauthorize-apps-saml.md
  translations/es-ES/data/reusables/audit_log/audit-log-action-categories.md
  translations/es-ES/data/reusables/enterprise-managed/sso-redirect-release-phase.md
  translations/es-ES/data/reusables/identity-and-permissions/ip-allow-lists-enterprise.md
  translations/es-ES/data/reusables/identity-and-permissions/org-enterprise-allow-list-interaction.md
  translations/es-ES/data/reusables/organizations/require-ssh-cert.md
  translations/log/msft-es-resets.csv
Labels: automated-reposync-pr

#22411 repo sync
  translations/de-DE/content/actions/using-github-hosted-runners/controlling-access-to-larger-runners.md
  translations/de-DE/content/codespaces/developing-in-codespaces/creating-a-codespace-for-a-repository.md
  translations/de-DE/content/codespaces/developing-in-codespaces/creating-a-codespace-from-a-template.md
  translations/de-DE/content/codespaces/developing-in-codespaces/index.md
  translations/de-DE/content/codespaces/developing-in-codespaces/opening-an-existing-codespace.md
  translations/de-DE/content/codespaces/developing-in-codespaces/stopping-and-starting-a-codespace.md
  translations/de-DE/content/codespaces/developing-in-codespaces/the-codespace-lifecycle.md
  translations/de-DE/content/codespaces/getting-started/index.md
  translations/de-DE/content/codespaces/index.md
  translations/de-DE/content/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/changing-a-remotes-url-from-github-desktop.md
  translations/de-DE/content/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/index.md
  translations/de-DE/content/pull-requests/collaborating-with-pull-requests/working-with-forks/configuring-a-remote-for-a-fork.md
  translations/de-DE/content/pull-requests/collaborating-with-pull-requests/working-with-forks/index.md
  translations/de-DE/content/pull-requests/collaborating-with-pull-requests/working-with-forks/syncing-a-fork.md
  translations/de-DE/content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
  translations/de-DE/data/release-notes/enterprise-server/3-4/0.yml
  translations/de-DE/data/release-notes/enterprise-server/3-4/1.yml
  translations/de-DE/data/release-notes/enterprise-server/3-4/2.yml
  translations/de-DE/data/release-notes/enterprise-server/3-4/3.yml
  translations/de-DE/data/release-notes/enterprise-server/3-4/4.yml
  translations/de-DE/data/release-notes/enterprise-server/3-4/5.yml
  translations/de-DE/data/release-notes/enterprise-server/3-4/6.yml
  translations/de-DE/data/release-notes/enterprise-server/3-4/7.yml
  translations/de-DE/data/release-notes/enterprise-server/3-4/8.yml
  translations/de-DE/data/release-notes/enterprise-server/3-5/4.yml
  translations/log/msft-de-resets.csv
Labels: automated-reposync-pr

#22414 repo sync
  middleware/index.js
Labels: automated-reposync-pr

#22415 repo sync
  lib/languages.js
  middleware/archived-enterprise-versions.js
  middleware/cache-control.js
  middleware/fast-root-redirect.js
  middleware/index.js
  middleware/redirects/handle-redirects.js
  tests/rendering/server.js
  tests/routing/deprecated-enterprise-versions.js
  tests/routing/redirects.js
Labels: triage, automated-reposync-pr

#22382 Removing link to Python Library from official library to community library
  content/rest/overview/libraries.md
Labels: content, ready to merge, waiting for review, rest

#22416 repo sync
  middleware/index.js
Labels: automated-reposync-pr

#22418 repo sync
  content/authentication/keeping-your-account-and-data-secure/githubs-ssh-key-fingerprints.md
  content/authentication/troubleshooting-ssh/using-ssh-over-the-https-port.md
Labels: automated-reposync-pr

#22391 Update link to correct content
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository.md
Labels: content, waiting for review, communities

#22430 repo sync
  data/release-notes/enterprise-server/3-3/16.yml
  data/release-notes/enterprise-server/3-4/11.yml
  data/release-notes/enterprise-server/3-5/8.yml
  data/release-notes/enterprise-server/3-6/4.yml
  data/release-notes/enterprise-server/3-7/1.yml
  translations/de-DE/content/admin/packages/enabling-github-packages-with-azure-blob-storage.md
  translations/de-DE/content/authentication/keeping-your-account-and-data-secure/githubs-ssh-key-fingerprints.md
  translations/de-DE/content/authentication/troubleshooting-ssh/using-ssh-over-the-https-port.md
  translations/de-DE/content/codespaces/developing-in-codespaces/deleting-a-codespace.md
  translations/de-DE/content/codespaces/developing-in-codespaces/index.md
  translations/de-DE/content/codespaces/getting-started/deep-dive.md
  translations/de-DE/content/codespaces/getting-started/index.md
  translations/de-DE/content/codespaces/getting-started/the-codespace-lifecycle.md
  translations/de-DE/content/codespaces/index.md
  translations/de-DE/content/codespaces/managing-codespaces-for-your-organization/restricting-the-base-image-for-codespaces.md
  translations/de-DE/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository.md
  translations/de-DE/content/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/index.md
  translations/de-DE/content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/using-github-codespaces-with-github-classroom.md
  translations/de-DE/content/pull-requests/collaborating-with-pull-requests/working-with-forks/index.md
  translations/de-DE/content/rest/overview/resources-in-the-rest-api.md
  translations/de-DE/data/reusables/codespaces/stopping-a-codespace.md
  translations/log/msft-de-resets.csv
Labels: automated-reposync-pr

#22431 repo sync
  assets/images/help/pull_requests/create-a-fork.png
  assets/images/help/pull_requests/github-spoon-knife-fork.png
  content/get-started/quickstart/contributing-to-projects.md
  content/get-started/quickstart/fork-a-repo.md
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/what-happens-to-forks-when-a-repository-is-deleted-or-changes-visibility.md
  content/repositories/viewing-activity-and-data-for-your-repository/understanding-connections-between-repositories.md
  data/reusables/enterprise-accounts/emu-forks.md
  data/reusables/repositories/fork-definition-long.md
Labels: automated-reposync-pr

#22432 repo sync
  .github/actions-scripts/lib/action-context.js
  .github/actions-scripts/lib/debug-time-taken.js
  .github/actions-scripts/lib/get-env-inputs.js
  .github/actions-scripts/lib/upload-artifact.js
  .github/actions-scripts/rendered-content-link-checker.js
  .github/workflows/link-check-daily.yml
  .github/workflows/link-check-on-pr.yml
  script/rendered-content-link-checker.js
Labels: automated-reposync-pr

#22097 Add mention of composite actions under "Types of actions"
  content/actions/creating-actions/about-custom-actions.md
Labels: content, actions, waiting for review

#22462 repo sync
  assets/images/help/codespaces/install-custom-dotfiles.png
  assets/images/help/codespaces/select-dotfiles-repo.png
Labels: automated-reposync-pr

#22466 repo sync
  data/release-notes/enterprise-server/3-3/15.yml
  data/release-notes/enterprise-server/3-4/10.yml
  data/release-notes/enterprise-server/3-5/7.yml
  data/release-notes/enterprise-server/3-6/3.yml
Labels: automated-reposync-pr

#22470 repo sync
  content/admin/configuration/configuring-github-connect/enabling-server-statistics-for-your-enterprise.md
  content/admin/configuration/configuring-your-enterprise/restricting-network-traffic-to-your-enterprise-with-an-ip-allow-list.md
Labels: automated-reposync-pr

#22471 repo sync
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automated-reposync-pr

#22472 repo sync
  .github/workflows/hubber-contribution-help.yml
Labels: automated-reposync-pr

#22429 Fix `queued` duplicated in sentence
  content/codespaces/prebuilding-your-codespaces/about-github-codespaces-prebuilds.md
Labels: content, Codespaces

#22473 repo sync
  content/actions/learn-github-actions/contexts.md
  content/actions/learn-github-actions/usage-limits-billing-and-administration.md
  content/actions/using-workflows/reusing-workflows.md
  content/actions/using-workflows/triggering-a-workflow.md
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/introducing-github-actions-to-your-enterprise.md
  data/release-notes/github-ae/3-4/0.yml
  data/reusables/actions/reusable-workflows-enterprise-beta.md
  data/reusables/actions/reusable-workflows-ghes-beta.md
Labels: automated-reposync-pr

#22446 fix: format of octokit.js link
  content/rest/overview/libraries.md
Labels: content, ready to merge, rest

#22474 repo sync
  .github/review-template.md
  .github/workflows/sync-search-elasticsearch.yml
  .github/workflows/sync-search-pr.yml
  components/DefaultLayout.tsx
  contributing/README.md
  contributing/self-review.md
  contributing/translations/for-translators.md
  contributing/translations/for-writers.md
  script/search/sync.js
  translations/log/msft-ru-resets.csv
  translations/ru-RU/content/get-started/quickstart/contributing-to-projects.md
  translations/ru-RU/content/get-started/quickstart/fork-a-repo.md
  translations/ru-RU/content/pull-requests/collaborating-with-pull-requests/working-with-forks/what-happens-to-forks-when-a-repository-is-deleted-or-changes-visibility.md
  translations/ru-RU/content/repositories/viewing-activity-and-data-for-your-repository/understanding-connections-between-repositories.md
  translations/ru-RU/data/reusables/enterprise-accounts/emu-forks.md
  translations/ru-RU/data/reusables/repositories/fork-definition-long.md
Labels: automated-reposync-pr

#22481 repo sync
  script/rest/update-files.js
Labels: automated-reposync-pr

#22482 repo sync
  .github/workflows/wip-langs-create-translation-batch-pr.yml
  middleware/cache-control.js
  tests/linting/lint-files.js
Labels: automated-reposync-pr

#22437 Add link to context availability for workflow `.if` key syntax
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
  data/reusables/actions/if-supported-contexts.md
  data/reusables/actions/jobs/section-using-conditions-to-control-job-execution.md
Labels: content, actions, waiting for review

#22464 Emphasise the use of github.action_path
  content/actions/creating-actions/creating-a-composite-action.md
Labels: content, actions, waiting for review

#22488 repo sync
  content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
Labels: automated-reposync-pr

#22497 repo sync
  translations/es-ES/content/actions/creating-actions/creating-a-composite-action.md
  translations/es-ES/content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
  translations/es-ES/content/actions/learn-github-actions/contexts.md
  translations/es-ES/content/actions/learn-github-actions/usage-limits-billing-and-administration.md
  translations/es-ES/content/actions/using-workflows/reusing-workflows.md
  translations/es-ES/content/actions/using-workflows/triggering-a-workflow.md
  translations/es-ES/content/actions/using-workflows/workflow-syntax-for-github-actions.md
  translations/es-ES/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/introducing-github-actions-to-your-enterprise.md
  translations/es-ES/content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
  translations/es-ES/data/reusables/actions/jobs/section-using-conditions-to-control-job-execution.md
  translations/es-ES/data/reusables/actions/reusable-workflows-ghes-beta.md
  translations/log/msft-es-resets.csv
Labels: automated-reposync-pr

#22504 repo sync
  .github/actions-scripts/purge-fastly-edge-cache-per-language.js
  .github/actions-scripts/purge-fastly-edge-cache.js
  .github/workflows/azure-prod-build-deploy.yml
  .github/workflows/purge-fastly.yml
  middleware/api/search.js
  middleware/cache-control.js
  middleware/favicons.js
  middleware/handle-errors.js
  middleware/index.js
  middleware/set-fastly-surrogate-key.js
  script/deployment/purge-edge-cache.js
  tests/content/webhooks.js
  tests/helpers/caching-headers.js
  tests/rendering/server.js
  tests/unit/anchor-redirect.js
Labels: automated-reposync-pr

#22505 repo sync
  components/webhooks/Webhook.tsx
  pages/[versionId]/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.tsx
Labels: automated-reposync-pr

#22506 repo sync
  lib/page.js
Labels: automated-reposync-pr

#22425 Link sample code to documentation
  content/actions/creating-actions/creating-a-javascript-action.md
Labels: triage

#22081 Fix Jenkins migration: Using steps to execute task
  content/actions/migrating-to-github-actions/migrating-from-jenkins-to-github-actions.md
Labels: content, actions, waiting for review

#22513 repo sync
  assets/images/help/support/support-ticket-translation-options.png
  content/support/contacting-github-support/viewing-and-updating-support-tickets.md
  content/support/learning-about-github-support/about-github-support.md
  data/reusables/support/support-ticket-translation-option.md
Labels: automated-reposync-pr

#22514 repo sync
  content/admin/configuration/configuring-network-settings/enabling-subdomain-isolation.md
  data/release-notes/enterprise-server/3-5/0.yml
  data/release-notes/enterprise-server/3-5/1.yml
  data/release-notes/enterprise-server/3-5/2.yml
  data/release-notes/enterprise-server/3-5/3.yml
  data/release-notes/enterprise-server/3-5/4.yml
  data/release-notes/enterprise-server/3-5/5.yml
  data/release-notes/enterprise-server/3-5/6.yml
  data/release-notes/enterprise-server/3-5/7.yml
  data/release-notes/enterprise-server/3-5/8.yml
  data/release-notes/enterprise-server/3-6/0.yml
  data/release-notes/enterprise-server/3-6/1.yml
  data/release-notes/enterprise-server/3-6/2.yml
  data/release-notes/enterprise-server/3-6/3.yml
  data/release-notes/enterprise-server/3-6/4.yml
  data/release-notes/enterprise-server/3-7/0.yml
  data/release-notes/enterprise-server/3-7/1.yml
  data/reusables/enterprise_site_admin_settings/3-7-new-subdomains.md
  data/reusables/release-notes/babeld-max-threads-performance-issue.md
Labels: automated-reposync-pr

#22515 repo sync
  data/reusables/release-notes/babeld-max-threads-performance-issue.md
Labels: automated-reposync-pr

#22518 repo sync
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise.md
Labels: automated-reposync-pr

#22516 Fix typo
  content/rest/overview/api-versions.md
Labels: content, ready to merge, waiting for review, rest

#22528 repo sync
  content/admin/overview/about-github-for-enterprises.md
  translations/de-DE/content/actions/creating-actions/creating-a-javascript-action.md
  translations/de-DE/content/admin/configuration/configuring-network-settings/enabling-subdomain-isolation.md
  translations/de-DE/content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-minio-storage.md
  translations/de-DE/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-support-for-your-idps-conditional-access-policy.md
  translations/de-DE/content/admin/packages/enabling-github-packages-with-azure-blob-storage.md
  translations/de-DE/content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise.md
  translations/de-DE/content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
  translations/de-DE/content/code-security/security-advisories/guidance-on-reporting-and-writing/managing-privately-reported-security-vulnerabilities.md
  translations/de-DE/content/code-security/security-advisories/guidance-on-reporting-and-writing/privately-reporting-a-security-vulnerability.md
  translations/de-DE/content/code-security/security-advisories/repository-security-advisories/creating-a-repository-security-advisory.md
  translations/de-DE/content/codespaces/developing-in-codespaces/creating-a-codespace-for-a-repository.md
  translations/de-DE/content/codespaces/developing-in-codespaces/creating-a-codespace-from-a-template.md
  translations/de-DE/content/codespaces/prebuilding-your-codespaces/configuring-prebuilds.md
  translations/de-DE/content/codespaces/setting-up-your-project-for-codespaces/adding-a-codespaces-badge.md
  translations/de-DE/content/codespaces/troubleshooting/troubleshooting-prebuilds.md
  translations/de-DE/content/communities/setting-up-your-project-for-healthy-contributions/creating-a-default-community-health-file.md
  translations/de-DE/content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository.md
  translations/de-DE/content/discussions/managing-discussions-for-your-community/index.md
  translations/de-DE/content/discussions/managing-discussions-for-your-community/managing-discussions.md
  translations/de-DE/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-a-group-assignment.md
  translations/de-DE/content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-an-individual-assignment.md
  translations/de-DE/content/get-started/onboarding/getting-started-with-github-ae.md
  translations/de-DE/content/get-started/onboarding/getting-started-with-github-enterprise-server.md
  translations/de-DE/content/issues/planning-and-tracking-with-projects/creating-projects/migrating-from-projects-classic.md
  translations/de-DE/content/packages/quickstart.md
  translations/de-DE/content/repositories/creating-and-managing-repositories/creating-a-repository-from-a-template.md
  translations/de-DE/content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md
  translations/de-DE/content/repositories/viewing-activity-and-data-for-your-repository/understanding-connections-between-repositories.md
  translations/de-DE/content/repositories/working-with-files/using-files/viewing-a-file.md
  translations/de-DE/content/support/contacting-github-support/viewing-and-updating-support-tickets.md
  translations/de-DE/content/support/learning-about-github-support/about-github-support.md
  translations/de-DE/data/release-notes/enterprise-server/3-5/4.yml
  translations/de-DE/data/release-notes/enterprise-server/3-5/5.yml
  translations/de-DE/data/release-notes/enterprise-server/3-6/1.yml
  translations/de-DE/data/reusables/enterprise-accounts/dormant-user-activity.md
  translations/de-DE/data/ui.yml
  translations/log/msft-de-resets.csv
Labels: automated-reposync-pr

#22529 repo sync
  .github/actions-scripts/purge-fastly-edge-cache.js
  .github/workflows/sync-search-elasticsearch.yml
  script/deployment/purge-edge-cache.js
Labels: automated-reposync-pr

#22532 repo sync
  .github/actions-scripts/enterprise-server-issue-templates/deprecation-issue.md
  .github/workflows/sync-search-elasticsearch.yml
  .github/workflows/sync-search-pr.yml
  assets/images/fastly_purge.jpg
  assets/images/fastly_purge_url.jpg
  components/DefaultLayout.tsx
  data/release-notes/enterprise-server/README.md
  lib/page.js
  package.json
Labels: automated-reposync-pr

#22534 repo sync
  content/codespaces/codespaces-reference/allowing-your-codespace-to-access-a-private-image-registry.md
  content/codespaces/codespaces-reference/allowing-your-codespace-to-access-a-private-registry.md
  content/codespaces/codespaces-reference/index.md
  content/codespaces/managing-your-codespaces/managing-encrypted-secrets-for-your-codespaces.md
  content/packages/learn-github-packages/about-permissions-for-github-packages.md
  content/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility.md
  content/packages/learn-github-packages/deleting-and-restoring-a-package.md
  content/packages/learn-github-packages/introduction-to-github-packages.md
  content/packages/learn-github-packages/viewing-packages.md
  content/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions.md
  content/packages/working-with-a-github-packages-registry/working-with-the-npm-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry.md
  content/rest/packages.md
  data/features/packages-nuget-v2.yml
  data/features/packages-registries-v2.yml
  data/reusables/package_registry/about-graphql-support.md
  data/reusables/package_registry/authenticate_with_pat_for_v2_registry.md
  data/reusables/package_registry/no-graphql-to-delete-packages.md
  data/reusables/package_registry/publishing-user-scoped-packages.md
  data/variables/packages.yml
Labels: automated-reposync-pr

#22536 repo sync
  components/page-header/Header.tsx
  components/page-header/LanguagePicker.tsx
  components/page-header/ProductPicker.tsx
  components/page-header/VersionPicker.tsx
  components/sidebar/ApiVersionPicker.tsx
  components/sidebar/SidebarProduct.tsx
  components/ui/Picker/Fields.tsx
  components/ui/Picker/Picker.tsx
  components/ui/Picker/index.ts
  package-lock.json
  package.json
  tests/rendering/header.js
Labels: automated-reposync-pr

#22538 repo sync
  .github/workflows/needs-sme-stale-check.yaml
  .github/workflows/stale.yml
  .github/workflows/triage-stale-check.yml
Labels: automated-reposync-pr

#22540 repo sync
  content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-amazon-s3-storage.md
  content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-azure-blob-storage.md
  content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-google-cloud-storage.md
  content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-minio-storage.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  data/reusables/actions/enterprise-storage-about.md
  data/reusables/actions/enterprise-storage-contents.md
Labels: automated-reposync-pr

#22542 repo sync
  .github/workflows/orphaned-assets-check.yml
Labels: automated-reposync-pr

#22476 Updating the documentation for Configuring SAML & SCIM in OKTA to include steps for adding the GHEC - Org app integration.
  assets/images/help/saml/add-integration-button-okta.png
  assets/images/help/saml/okta-application-menu.png
  content/organizations/managing-saml-single-sign-on-for-your-organization/configuring-saml-single-sign-on-and-scim-using-okta.md
  data/reusables/saml/okta-add-ghec-org-integration.md
Labels: content, waiting for review, organizations

#22561 repo sync
  .github/workflows/azure-prod-build-deploy.yml
Labels: automated-reposync-pr

#22563 repo sync
  content/code-security/secret-scanning/about-secret-scanning.md
  content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  data/features/secret-scanning-issue-body-comments.yml
  data/reusables/secret-scanning/scan-issue-description-and-comments.md
Labels: automated-reposync-pr

#22564 repo sync
  .github/workflows/check-broken-links-github-github.yml
  .github/workflows/msft-create-translation-batch-pr.yml
Labels: automated-reposync-pr

#22567 repo sync
  .github/workflows/add-review-template.yml
  .github/workflows/azure-preview-env-deploy.yml
  .github/workflows/azure-preview-env-destroy.yml
  .github/workflows/azure-prod-build-deploy.yml
  .github/workflows/azure-staging-build-deploy.yml
  .github/workflows/browser-test.yml
  .github/workflows/check-broken-links-github-github.yml
  .github/workflows/code-lint.yml
  .github/workflows/codeql.yml
  .github/workflows/content-changes-table-comment.yml
  .github/workflows/docs-review-collect.yml
  .github/workflows/enterprise-dates.yml
  .github/workflows/link-check-daily.yml
  .github/workflows/link-check-on-pr.yml
  .github/workflows/main-preview-docker-cache.yml
  .github/workflows/manually-purge-fastly.yml
  .github/workflows/msft-create-translation-batch-pr.yml
  .github/workflows/open-enterprise-issue.yml
  .github/workflows/openapi-decorate.yml
  .github/workflows/openapi-schema-check.yml
  .github/workflows/optimize-images.yml
  .github/workflows/orphaned-assets-check.yml
  .github/workflows/os-ready-for-review.yml
  .github/workflows/package-lock-lint.yml
  .github/workflows/purge-fastly.yml
  .github/workflows/ready-for-doc-review.yml
  .github/workflows/repo-sync.yml
  .github/workflows/site-policy-sync.yml
  .github/workflows/sync-search-elasticsearch.yml
  .github/workflows/sync-search-pr.yml
  .github/workflows/test-translations.yml
  .github/workflows/test.yml
  .github/workflows/translation-health-report.yml
  .github/workflows/update-graphql-files.yml
Labels: automated-reposync-pr

#22487 Uppercase first letter in nativeName
  lib/languages.js
Labels: localization, ready to merge

#22569 repo sync
  content/admin/enterprise-management/configuring-high-availability/initiating-a-failover-to-your-replica-appliance.md
Labels: automated-reposync-pr

#22570 repo sync
  data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/graphql_upcoming_changes.public.yml
  data/graphql/ghec/schema.docs.graphql
  data/graphql/graphql_upcoming_changes.public.yml
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
  lib/graphql/static/upcoming-changes.json
  translations/es-ES/content/actions/creating-actions/about-custom-actions.md
  translations/es-ES/content/actions/creating-actions/creating-a-composite-action.md
  translations/es-ES/content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
  translations/es-ES/content/admin/configuration/configuring-github-connect/enabling-server-statistics-for-your-enterprise.md
  translations/es-ES/content/admin/configuration/configuring-your-enterprise/restricting-network-traffic-to-your-enterprise-with-an-ip-allow-list.md
  translations/es-ES/content/admin/enterprise-management/configuring-high-availability/initiating-a-failover-to-your-replica-appliance.md
  translations/es-ES/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/using-the-audit-log-api-for-your-enterprise.md
  translations/es-ES/content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
  translations/es-ES/content/code-security/secret-scanning/about-secret-scanning.md
  translations/es-ES/content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  translations/es-ES/content/codespaces/prebuilding-your-codespaces/about-github-codespaces-prebuilds.md
  translations/es-ES/content/organizations/managing-saml-single-sign-on-for-your-organization/configuring-saml-single-sign-on-and-scim-using-okta.md
  translations/es-ES/content/rest/guides/index.md
  translations/es-ES/content/rest/guides/traversing-with-pagination.md
  translations/es-ES/content/rest/index.md
  translations/es-ES/content/rest/overview/libraries.md
  translations/es-ES/content/rest/overview/resources-in-the-rest-api.md
  translations/es-ES/data/reusables/actions/if-supported-contexts.md
  translations/es-ES/data/reusables/actions/jobs/section-using-conditions-to-control-job-execution.md
  translations/es-ES/data/reusables/actions/reusable-workflows-enterprise-beta.md
  translations/es-ES/data/reusables/rest-api/dotcom-only-guide-note.md
  translations/log/msft-es-resets.csv
Labels: automated-reposync-pr

#22574 repo sync
  content/rest/gitignore.md
  content/rest/packages.md
  content/rest/pages.md
  content/rest/projects/cards.md
  content/rest/projects/collaborators.md
  content/rest/projects/columns.md
  content/rest/projects/index.md
  content/rest/projects/projects.md
  content/rest/quickstart.md
  content/rest/reactions.md
  data/reusables/projects/projects-api.md
  translations/ko-KR/content/admin/enterprise-management/configuring-high-availability/initiating-a-failover-to-your-replica-appliance.md
  translations/ko-KR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/using-the-audit-log-api-for-your-enterprise.md
  translations/ko-KR/content/code-security/secret-scanning/about-secret-scanning.md
  translations/ko-KR/content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  translations/ko-KR/content/organizations/managing-saml-single-sign-on-for-your-organization/configuring-saml-single-sign-on-and-scim-using-okta.md
  translations/ko-KR/content/rest/guides/index.md
  translations/ko-KR/content/rest/guides/traversing-with-pagination.md
  translations/ko-KR/content/rest/index.md
  translations/ko-KR/content/rest/overview/resources-in-the-rest-api.md
  translations/ko-KR/data/reusables/rest-api/dotcom-only-guide-note.md
  translations/log/msft-cn-resets.csv
  translations/log/msft-ko-resets.csv
  translations/log/msft-ru-resets.csv
  translations/ru-RU/content/admin/enterprise-management/configuring-high-availability/initiating-a-failover-to-your-replica-appliance.md
  translations/ru-RU/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/using-the-audit-log-api-for-your-enterprise.md
  translations/ru-RU/content/code-security/secret-scanning/about-secret-scanning.md
  translations/ru-RU/content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  translations/ru-RU/content/organizations/managing-saml-single-sign-on-for-your-organization/configuring-saml-single-sign-on-and-scim-using-okta.md
  translations/ru-RU/content/rest/guides/index.md
  translations/ru-RU/content/rest/guides/traversing-with-pagination.md
  translations/ru-RU/content/rest/index.md
  translations/ru-RU/content/rest/overview/resources-in-the-rest-api.md
  translations/ru-RU/data/reusables/rest-api/dotcom-only-guide-note.md
  translations/zh-CN/content/admin/enterprise-management/configuring-high-availability/initiating-a-failover-to-your-replica-appliance.md
  translations/zh-CN/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/using-the-audit-log-api-for-your-enterprise.md
  translations/zh-CN/content/code-security/secret-scanning/about-secret-scanning.md
  translations/zh-CN/content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  translations/zh-CN/content/organizations/managing-saml-single-sign-on-for-your-organization/configuring-saml-single-sign-on-and-scim-using-okta.md
  translations/zh-CN/content/rest/guides/index.md
  translations/zh-CN/content/rest/guides/traversing-with-pagination.md
  translations/zh-CN/content/rest/index.md
  translations/zh-CN/content/rest/overview/resources-in-the-rest-api.md
  translations/zh-CN/data/reusables/rest-api/dotcom-only-guide-note.md
Labels: automated-reposync-pr

#22575 repo sync
  data/reusables/code-scanning/codeql-languages-bullets.md
  package.json
  translations/de-DE/content/admin/enterprise-management/configuring-high-availability/initiating-a-failover-to-your-replica-appliance.md
  translations/de-DE/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/using-the-audit-log-api-for-your-enterprise.md
  translations/de-DE/content/code-security/secret-scanning/about-secret-scanning.md
  translations/de-DE/content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  translations/de-DE/content/organizations/managing-saml-single-sign-on-for-your-organization/configuring-saml-single-sign-on-and-scim-using-okta.md
  translations/de-DE/content/rest/guides/index.md
  translations/de-DE/content/rest/guides/traversing-with-pagination.md
  translations/de-DE/content/rest/index.md
  translations/de-DE/content/rest/overview/resources-in-the-rest-api.md
  translations/de-DE/data/reusables/rest-api/dotcom-only-guide-note.md
  translations/fr-FR/content/actions/creating-actions/creating-a-composite-action.md
  translations/fr-FR/content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
  translations/fr-FR/content/admin/enterprise-management/configuring-high-availability/initiating-a-failover-to-your-replica-appliance.md
  translations/fr-FR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/using-the-audit-log-api-for-your-enterprise.md
  translations/fr-FR/content/code-security/secret-scanning/about-secret-scanning.md
  translations/fr-FR/content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  translations/fr-FR/content/organizations/managing-saml-single-sign-on-for-your-organization/configuring-saml-single-sign-on-and-scim-using-okta.md
  translations/fr-FR/content/rest/guides/index.md
  translations/fr-FR/content/rest/guides/traversing-with-pagination.md
  translations/fr-FR/content/rest/index.md
  translations/fr-FR/content/rest/overview/resources-in-the-rest-api.md
  translations/fr-FR/data/reusables/actions/if-supported-contexts.md
  translations/fr-FR/data/reusables/actions/jobs/section-using-conditions-to-control-job-execution.md
  translations/fr-FR/data/reusables/rest-api/dotcom-only-guide-note.md
  translations/log/msft-de-resets.csv
  translations/log/msft-fr-resets.csv
Labels: automated-reposync-pr

#22576 repo sync
  components/lib/get-rest-code-samples.ts
Labels: automated-reposync-pr

#22578 repo sync
  components/release-notes/PatchNotes.tsx
Labels: automated-reposync-pr

#22581 repo sync
  .github/workflows/translation-health-report.yml
  content/admin/identity-and-access-management/managing-iam-for-your-enterprise/about-authentication-for-your-enterprise.md
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/about-saml-for-enterprise-iam.md
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/switching-your-saml-configuration-from-an-organization-to-an-enterprise-account.md
  content/graphql/guides/forming-calls-with-graphql.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/about-identity-and-access-management-with-saml-single-sign-on.md
  script/i18n/create-translation-health-report.js
Labels: automated-reposync-pr

#22582 repo sync
  content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
Labels: automated-reposync-pr

#22568 Remove shell injection in example
  content/actions/creating-actions/dockerfile-support-for-github-actions.md
Labels: content, actions, waiting for review

#22618 repo sync
  .github/workflows/azure-prod-build-deploy.yml
  .github/workflows/azure-staging-build-deploy.yml
  .github/workflows/browser-test.yml
  .github/workflows/check-broken-links-github-github.yml
  .github/workflows/code-lint.yml
  .github/workflows/content-changes-table-comment.yml
  .github/workflows/docs-review-collect.yml
  .github/workflows/enterprise-dates.yml
  .github/workflows/link-check-daily.yml
  .github/workflows/link-check-on-pr.yml
  .github/workflows/msft-create-translation-batch-pr.yml
  .github/workflows/open-enterprise-issue.yml
  .github/workflows/openapi-decorate.yml
  .github/workflows/openapi-schema-check.yml
  .github/workflows/orphaned-assets-check.yml
  .github/workflows/os-ready-for-review.yml
  .github/workflows/package-lock-lint.yml
  .github/workflows/purge-fastly.yml
  .github/workflows/ready-for-doc-review.yml
  .github/workflows/repo-sync.yml
  .github/workflows/sync-search-elasticsearch.yml
  .github/workflows/sync-search-pr.yml
  .github/workflows/test-translations.yml
  .github/workflows/test.yml
  .github/workflows/translation-health-report.yml
  .github/workflows/update-graphql-files.yml
Labels: automated-reposync-pr

#22619 repo sync
  .github/workflows/azure-prod-build-deploy.yml
  lib/languages.js
Labels: triage, automated-reposync-pr

#22620 repo sync
  assets/images/help/pages/click-pages-url-to-preview.png
  assets/images/help/pages/click-private-pages-url-to-preview.png
  content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/sending-enterprise-contributions-to-your-githubcom-profile.md
  content/admin/policies/enforcing-policies-for-your-enterprise/restricting-email-notifications-for-your-enterprise.md
  content/admin/policies/enforcing-policy-with-pre-receive-hooks/about-pre-receive-hooks.md
  content/admin/policies/enforcing-policy-with-pre-receive-hooks/creating-a-pre-receive-hook-script.md
  content/admin/user-management/managing-users-in-your-enterprise/inviting-people-to-manage-your-enterprise.md
  content/billing/managing-billing-for-your-github-account/managing-invoices-for-your-enterprise.md
  content/organizations/collaborating-with-groups-in-organizations/viewing-insights-for-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/accessing-compliance-reports-for-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/restricting-email-notifications-for-your-organization.md
  content/pages/getting-started-with-github-pages/changing-the-visibility-of-your-github-pages-site.md
  data/reusables/billing/about-invoices-for-enterprises.md
  data/reusables/enterprise_site_admin_settings/pre-receive-hook-examples.md
  data/reusables/pages/visit-site.md
Labels: automated-reposync-pr

#22622 repo sync
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/configuring-dependency-review-for-your-appliance.md
  content/code-security/supply-chain-security/end-to-end-supply-chain/securing-code.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/reviewing-dependency-changes-in-a-pull-request.md
  data/features/dependabot-alerts-rest-api.yml
  data/reusables/dependency-review/action-enterprise.md
  data/reusables/dependency-review/dependency-review-action-beta-note.md
  data/reusables/dependency-review/dependency-review-action-overview.md
  data/variables/dependency-review.yml
  data/variables/product.yml
Labels: automated-reposync-pr

#22626 repo sync
  assets/images/help/billing/ghas-orgs-list-enterprise-ghes.png
  assets/images/help/enterprises/enterprise-licensing-tab-ghas-licenses.png
  assets/images/help/enterprises/enterprise-licensing-tab-ghas-no-licenses.png
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/enabling-github-advanced-security-for-your-enterprise.md
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/managing-github-advanced-security-features-for-your-enterprise.md
  content/admin/configuration/configuring-your-enterprise/site-admin-dashboard.md
  content/billing/managing-billing-for-github-advanced-security/about-billing-for-github-advanced-security.md
  content/billing/managing-billing-for-github-advanced-security/viewing-your-github-advanced-security-usage.md
  content/billing/managing-your-license-for-github-enterprise/viewing-license-usage-for-github-enterprise.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
  contributing/content-style-guide.md
  data/features/ghas-billing-UI-update.yml
  data/reusables/advanced-security/about-committer-numbers-ghec-ghes.md
  data/reusables/advanced-security/about-ghas-license-seats.md
  data/reusables/advanced-security/getting-the-most-from-your-license.md
  data/reusables/advanced-security/license-overview.md
  data/reusables/advanced-security/managing-license-usage-ghec-ghes.md
  data/reusables/advanced-security/note-org-enable-uses-seats.md
Labels: automated-reposync-pr

#22628 repo sync
  .github/workflows/browser-test.yml
  .github/workflows/link-check-daily.yml
  .github/workflows/sync-search-elasticsearch.yml
  .github/workflows/sync-search-pr.yml
  .github/workflows/test-translations.yml
  .github/workflows/test.yml
Labels: automated-reposync-pr

#22629 repo sync
  .github/workflows/code-lint.yml
  .github/workflows/main-preview-docker-cache.yml
  components/lib/get-rest-code-samples.ts
Labels: automated-reposync-pr

#22630 repo sync
  components/lib/get-rest-code-samples.ts
Labels: automated-reposync-pr

#22631 repo sync
  components/rest/RestCodeSamples.tsx
  script/rest/update-files.js
Labels: automated-reposync-pr

#22599 spelling error in intro paragraph
  content/developers/webhooks-and-events/webhooks/creating-webhooks.md
Labels: content, ready to merge, developers

#22632 repo sync
  tests/translations/redirects.js
Labels: automated-reposync-pr

#22635 Fix Docker example errors and make it POSIX compliant
  content/actions/creating-actions/dockerfile-support-for-github-actions.md
Labels: triage

#22603 Amend on.workflow_call.secrets, fixes #22602
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions, waiting for review

#22660 repo sync
  content/actions/creating-actions/creating-a-docker-container-action.md
  content/actions/creating-actions/index.md
  content/actions/creating-actions/sharing-actions-and-workflows-from-your-private-repository.md
  content/actions/creating-actions/sharing-actions-and-workflows-with-your-enterprise.md
  content/actions/creating-actions/sharing-actions-and-workflows-with-your-organization.md
  content/actions/security-guides/security-hardening-for-github-actions.md
  content/actions/using-workflows/reusing-workflows.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  data/features/private-actions.yml
  data/reusables/actions/outside-collaborators-actions.md
  data/reusables/actions/outside-collaborators-internal-actions.md
  data/reusables/actions/reusable-workflow-calling-syntax.md
  data/reusables/actions/scoped-token-note.md
Labels: automated-reposync-pr

#22663 repo sync
  .github/workflows/azure-prod-build-deploy.yml
  .github/workflows/sync-search-pr.yml
  lib/languages.js
Labels: automated-reposync-pr

#22579 Clarify the wording here to match what is in the OKTA form.
  content/organizations/managing-saml-single-sign-on-for-your-organization/configuring-saml-single-sign-on-and-scim-using-okta.md
Labels: content, ready to merge, organizations

#22667 repo sync
  data/reusables/education/upload-proof-status.md
Labels: automated-reposync-pr

#22640 fixed typo in adopting GHAS phase 4
  content/code-security/adopting-github-advanced-security-at-scale/phase-4-create-internal-documentation.md
Labels: content, code security

#22668 repo sync
  assets/images/help/billing/code-security-and-analysis-tab.png
  assets/images/help/billing/ghas-billing-table-repository-csv.png
  assets/images/help/billing/ghas-enterprise-billing-table-click-org.png
  assets/images/help/billing/ghas-enterprise-billing-table.png
  assets/images/help/billing/ghas-org-billing-table.png
  content/billing/managing-billing-for-github-advanced-security/viewing-your-github-advanced-security-usage.md
  data/features/ghas-billing-table-ui-update.yml
Labels: automated-reposync-pr

#22678 repo sync
  script/rest/update-files.js
Labels: automated-reposync-pr

#22680 repo sync
  .github/workflows/openapi-decorate.yml
  content/code-security/dependabot/working-with-dependabot/configuring-dependabot-to-only-access-private-registries.md
Labels: automated-reposync-pr

#22687 repo sync
  .github/workflows/azure-prod-build-deploy.yml
  .github/workflows/keep-caches-warm.yml
  .github/workflows/link-check-daily.yml
  .github/workflows/link-check-on-pr.yml
  assets/images/help/codespaces/codespaces-button.png
  assets/images/help/codespaces/configure-and-create-option.png
  assets/images/help/codespaces/jetbrains-gateway-cli-path.png
  assets/images/help/codespaces/jetbrains-gateway-cli-setup.png
  assets/images/help/codespaces/open-codespace-in-jupyter.png
  assets/images/help/codespaces/resume-codespace.png
  assets/images/help/codespaces/suspend-current-codespace.png
  assets/images/help/codespaces/use-this-template-button.png
  script/find-orphaned-assets.js
Labels: triage, automated-reposync-pr

#22606 Fix RateLimit.resetAt format
  content/graphql/overview/resource-limitations.md
Labels: content, ready to merge, waiting for review, graphql

#22693 repo sync
  assets/images/help/security-overview/security-coverage-view-single-repo-enablement.png
  content/code-security/security-overview/about-the-security-overview.md
  content/code-security/security-overview/viewing-the-security-overview.md
  content/codespaces/the-githubdev-web-based-editor.md
  content/get-started/using-github/github-command-palette.md
  content/get-started/using-github/keyboard-shortcuts.md
  content/repositories/working-with-files/managing-files/navigating-files-with-the-new-code-view.md
  data/features/security-overview-org-risk-coverage.yml
  data/features/security-overview-single-repo-enablement.yml
  data/reusables/security-overview/security-coverage-single-repo-enablement.md
  data/variables/codespaces.yml
Labels: triage, automated-reposync-pr

#22697 repo sync
  .github/workflows/azure-prod-build-deploy.yml
Labels: automated-reposync-pr

#22698 repo sync
  .github/workflows/msft-create-translation-batch-pr.yml
  .github/workflows/sync-search-elasticsearch.yml
  .github/workflows/translation-health-report.yml
  contributing/search.md
  lib/languages.js
  lib/patterns.js
  middleware/detect-language.js
  middleware/redirects/language-code-redirects.js
  script/i18n/create-translation-health-report.js
Labels: automated-reposync-pr

#22699 repo sync
  Dockerfile
  assets/images/participating-watching-subscriptions.png
  lib/languages.js
  lib/schema-event.js
Labels: automated-reposync-pr

#22700 repo sync
  docker-compose.prod.tmpl.yaml
Labels: automated-reposync-pr

#22702 repo sync
  components/DefaultLayout.tsx
  content/get-started/using-github/supported-browsers.md
  contributing/content-style-guide.md
Labels: automated-reposync-pr

#22705 repo sync
  content/rest/commits/comments.md
  content/rest/commits/commits.md
  content/rest/commits/index.md
  content/rest/commits/statuses.md
Labels: automated-reposync-pr

#22708 repo sync
  components/DefaultLayout.tsx
Labels: automated-reposync-pr

#22711 repo sync
  content/actions/using-workflows/reusing-workflows.md
Labels: automated-reposync-pr

#22712 repo sync
  package-lock.json
  package.json
Labels: automated-reposync-pr

#22717 repo sync
  translations/log/msft-de-resets.csv
Labels: automated-reposync-pr

#22719 repo sync
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/about-github-campus-program.md
  content/site-policy/privacy-policies/github-privacy-statement.md
  content/site-policy/privacy-policies/global-privacy-practices.md
  content/site-policy/privacy-policies/index.md
  lib/languages.js
  lib/render-content/renderContent.js
  script/update-internal-links.js
Labels: automated-reposync-pr

#22720 repo sync
  content/rest/overview/api-previews.md
  content/rest/overview/media-types.md
  content/rest/overview/resources-in-the-rest-api.md
  content/rest/pulls/comments.md
  content/rest/pulls/index.md
  content/rest/pulls/pulls.md
  content/rest/pulls/review-requests.md
  content/rest/pulls/reviews.md
  data/reusables/pull_requests/issues-media-types.md
Labels: automated-reposync-pr

#22722 repo sync
  content/site-policy/github-company-policies/github-statement-against-modern-slavery-and-child-labor.md
  content/site-policy/github-terms/github-open-source-applications-terms-and-conditions.md
  content/site-policy/github-terms/github-terms-of-service.md
  content/site-policy/other-site-policies/guidelines-for-legal-requests-of-user-data.md
Labels: automated-reposync-pr

#22723 repo sync
  content/index.md
  content/rest/dependabot/alerts.md
  content/rest/dependabot/index.md
  content/rest/dependabot/secrets.md
  content/rest/dependency-graph/dependency-review.md
  content/rest/dependency-graph/dependency-submission.md
  content/rest/dependency-graph/index.md
  content/rest/deploy-keys.md
  data/reusables/dependency-submission/about-dependency-submission.md
  data/reusables/dependency-submission/dependency-submission-api-beta.md
  lib/frontmatter.js
  tests/rendering/sidebar.js
Labels: automated-reposync-pr

#22724 repo sync
  content/support/learning-about-github-support/about-github-premium-support.md
  data/reusables/desktop/make-changes.md
  data/reusables/support/premium-support-features.md
Labels: automated-reposync-pr

#22725 repo sync
  content/admin/identity-and-access-management/managing-iam-for-your-enterprise/about-authentication-for-your-enterprise.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-scim-provisioning-for-enterprise-managed-users-with-okta.md
Labels: automated-reposync-pr

#22731 repo sync
  data/reusables/actions/supported-github-runners.md
Labels: automated-reposync-pr

#22732 repo sync
  content/copilot/overview-of-github-copilot/about-github-copilot-for-business.md
  content/copilot/overview-of-github-copilot/index.md
Labels: automated-reposync-pr

#22733 repo sync
  content/code-security/adopting-github-advanced-security-at-scale/phase-2-preparing-to-enable-at-scale.md
  content/code-security/getting-started/github-security-features.md
  content/code-security/getting-started/securing-your-repository.md
  content/code-security/secret-scanning/about-secret-scanning.md
  content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
  content/code-security/secret-scanning/secret-scanning-patterns.md
  content/code-security/security-overview/about-the-security-overview.md
  content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
  content/code-security/supply-chain-security/end-to-end-supply-chain/securing-code.md
  content/get-started/learning-about-github/about-github-advanced-security.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
  content/organizations/managing-user-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-security-and-analysis-settings-for-your-repository.md
  content/rest/secret-scanning.md
  data/reusables/advanced-security/more-info-ghas-secret-scanning.md
  data/reusables/gated-features/secret-scanning.md
  data/reusables/secret-scanning/secret-scanning-alerts-beta.md
  data/variables/product.yml
  data/variables/secret-scanning.yml
Labels: automated-reposync-pr

#21726 Document minimal neovim version for Copilot
  content/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-neovim.md
Labels: content, waiting for review, copilot

#22735 repo sync
  assets/images/help/copilot/vs-output.png
  assets/images/help/copilot/vsc-electron-logs.png
  assets/images/help/copilot/vsc-output-pane.png
  content/copilot/index.md
  content/copilot/troubleshooting-github-copilot/index.md
  content/copilot/troubleshooting-github-copilot/troubleshooting-certificate-errors-for-github-copilot.md
  content/copilot/troubleshooting-github-copilot/troubleshooting-github-copilot-in-a-jetbrains-ide.md
  content/copilot/troubleshooting-github-copilot/troubleshooting-github-copilot-in-neovim.md
  content/copilot/troubleshooting-github-copilot/troubleshooting-github-copilot-in-visual-studio-code.md
  content/copilot/troubleshooting-github-copilot/troubleshooting-github-copilot-in-visual-studio.md
Labels: automated-reposync-pr

#22080 Added What is a Gist
  content/get-started/writing-on-github/editing-and-sharing-content-with-gists/creating-gists.md
Labels: content, waiting for review, get started

#22736 repo sync
  data/product-examples/codespaces/code-examples.yml
Labels: automated-reposync-pr

#22730 Change `GITHUB_TOKEN` fork permission description
  content/actions/security-guides/automatic-token-authentication.md
Labels: content, actions, waiting for review

#22729 Add `pull requests from`
  data/reusables/developer-site/pull_request_forked_repos_link.md
Labels: content, actions, waiting for review, repositories
