Repository github/docs, pull requests merged in 2022-08, with the labels that each got.

#19460 repo sync
  content/copilot/index.md
Labels: triage, automated-reposync-pr

#19461 repo sync
  content/issues/index.md
Labels: triage, automated-reposync-pr

#19466 repo sync
  content/codespaces/getting-started/quickstart.md
Labels: triage, automated-reposync-pr

#19467 repo sync
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/best-practices-for-leaving-your-company.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-scim-provisioning-for-enterprise-managed-users-with-okta.md
  content/repositories/creating-and-managing-repositories/about-repositories.md
Labels: triage, automated-reposync-pr

#19397 Note that ACR is not currently supported
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
Labels: core, ready to merge, waiting for review, dependabot, code security

#19478 repo sync
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/best-practices-for-leaving-your-company.md
  translations/pt-BR/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  translations/pt-BR/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-scim-provisioning-for-enterprise-managed-users-with-okta.md
  translations/pt-BR/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  translations/pt-BR/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/viewing-code-scanning-logs.md
  translations/pt-BR/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/pt-BR/content/codespaces/getting-started/quickstart.md
  translations/pt-BR/content/copilot/index.md
  translations/pt-BR/content/issues/index.md
  translations/pt-BR/content/repositories/creating-and-managing-repositories/about-repositories.md
  translations/pt-BR/content/rest/orgs/index.md
  translations/pt-BR/content/rest/orgs/security-managers.md
  translations/pt-BR/data/features/codeql-action-debug-logging.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/0.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/11.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-4/6.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-5/3.yml
Labels: triage, automated-reposync-pr

#19479 repo sync
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/managing-project-boards/changing-project-board-visibility.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/managing-project-boards/reopening-a-closed-project-board.md
  translations/ja-JP/content/organizations/managing-access-to-your-organizations-project-boards/managing-an-individuals-access-to-an-organization-project-board.md
  translations/ja-JP/data/release-notes/enterprise-server/3-6/0-rc1.yml
Labels: triage, automated-reposync-pr

#19481 repo sync
  translations/es-ES/content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/best-practices-for-leaving-your-company.md
  translations/es-ES/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  translations/es-ES/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-scim-provisioning-for-enterprise-managed-users-with-okta.md
  translations/es-ES/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  translations/es-ES/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/viewing-code-scanning-logs.md
  translations/es-ES/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/es-ES/content/codespaces/getting-started/quickstart.md
  translations/es-ES/content/copilot/index.md
  translations/es-ES/content/issues/index.md
  translations/es-ES/content/repositories/creating-and-managing-repositories/about-repositories.md
  translations/es-ES/content/rest/orgs/index.md
  translations/es-ES/content/rest/orgs/security-managers.md
  translations/es-ES/data/features/codeql-action-debug-logging.yml
  translations/es-ES/data/release-notes/enterprise-server/3-3/0.yml
  translations/es-ES/data/release-notes/enterprise-server/3-3/11.yml
  translations/es-ES/data/release-notes/enterprise-server/3-4/6.yml
  translations/es-ES/data/release-notes/enterprise-server/3-5/3.yml
Labels: triage, automated-reposync-pr

#19482 repo sync
  translations/ja-JP/content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/best-practices-for-leaving-your-company.md
  translations/ja-JP/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  translations/ja-JP/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-scim-provisioning-for-enterprise-managed-users-with-okta.md
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/viewing-code-scanning-logs.md
  translations/ja-JP/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/ja-JP/content/codespaces/getting-started/quickstart.md
  translations/ja-JP/content/copilot/index.md
  translations/ja-JP/content/issues/index.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/managing-project-boards/changing-project-board-visibility.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/managing-project-boards/closing-a-project-board.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/managing-project-boards/configuring-automation-for-project-boards.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/managing-project-boards/copying-a-project-board.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/managing-project-boards/creating-a-project-board.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/managing-project-boards/deleting-a-project-board.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/managing-project-boards/editing-a-project-board.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/managing-project-boards/index.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/managing-project-boards/linking-a-repository-to-a-project-board.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/managing-project-boards/reopening-a-closed-project-board.md
  translations/ja-JP/content/organizations/managing-access-to-your-organizations-project-boards/managing-access-to-a-project-board-for-organization-members.md
  translations/ja-JP/content/organizations/managing-access-to-your-organizations-project-boards/managing-an-individuals-access-to-an-organization-project-board.md
  translations/ja-JP/content/repositories/creating-and-managing-repositories/about-repositories.md
  translations/ja-JP/content/rest/orgs/index.md
  translations/ja-JP/content/rest/orgs/security-managers.md
  translations/ja-JP/data/features/codeql-action-debug-logging.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/0.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-3/11.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-4/6.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-5/3.yml
  translations/ja-JP/data/release-notes/enterprise-server/3-6/0-rc1.yml
  translations/log/cn-resets.csv
  translations/log/ja-resets.csv
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/best-practices-for-leaving-your-company.md
  translations/zh-CN/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  translations/zh-CN/content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-scim-provisioning-for-enterprise-managed-users-with-okta.md
  translations/zh-CN/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  translations/zh-CN/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/viewing-code-scanning-logs.md
  translations/zh-CN/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/zh-CN/content/codespaces/getting-started/quickstart.md
  translations/zh-CN/content/copilot/index.md
  translations/zh-CN/content/issues/index.md
  translations/zh-CN/content/repositories/creating-and-managing-repositories/about-repositories.md
  translations/zh-CN/content/rest/orgs/index.md
  translations/zh-CN/content/rest/orgs/security-managers.md
  translations/zh-CN/data/features/codeql-action-debug-logging.yml
  translations/zh-CN/data/release-notes/enterprise-server/3-3/0.yml
  translations/zh-CN/data/release-notes/enterprise-server/3-3/11.yml
  translations/zh-CN/data/release-notes/enterprise-server/3-4/6.yml
  translations/zh-CN/data/release-notes/enterprise-server/3-5/3.yml
Labels: triage, automated-reposync-pr

#19301 Small typo fix for mispelled 'updating'
  content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
Labels: content, ready to merge, dependabot, code security

#19487 repo sync
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
Labels: triage, automated-reposync-pr

#19488 repo sync
  assets/images/help/organizations/member_only_profile.png
  assets/images/help/organizations/new_organization_page.png
  assets/images/help/organizations/pinned_repo_dialog.png
  assets/images/help/organizations/profile_view_switcher_public.png
  assets/images/help/organizations/public_profile.png
  content/organizations/collaborating-with-groups-in-organizations/customizing-your-organizations-profile.md
Labels: triage, automated-reposync-pr

#19493 repo sync
  translations/pt-BR/content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  translations/pt-BR/content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
  translations/pt-BR/content/organizations/collaborating-with-groups-in-organizations/customizing-your-organizations-profile.md
  translations/pt-BR/content/rest/guides/getting-started-with-the-rest-api.md
  translations/pt-BR/content/rest/oauth-authorizations.md
  translations/pt-BR/content/rest/overview/troubleshooting.md
Labels: triage, automated-reposync-pr

#19495 repo sync
  .github/workflows/azure-preview-env-deploy.yml
  .github/workflows/dry-run-elasticsearch-indexing.yml
  .github/workflows/link-check-all.yml
  .github/workflows/repo-freeze-check.yml
  .github/workflows/test.yml
  .github/workflows/triage-unallowed-internal-changes.yml
  content/actions/examples/using-concurrency-expressions-and-a-test-matrix.md
  content/actions/using-workflows/events-that-trigger-workflows.md
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue.md
  data/reusables/pull_requests/merge-queue-beta.md
  lib/webhooks/static/dotcom/merge_group.checks_requested.payload.json
  middleware/api/events.js
Labels: triage, automated-reposync-pr

#19496 repo sync
  content/site-policy/privacy-policies/github-subprocessors-and-cookies.md
Labels: triage, automated-reposync-pr

#19498 repo sync
  components/lib/get-session.ts
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  middleware/cache-full-rendering.js
  pages/_app.tsx
  pages/_document.tsx
  tests/rendering/render-caching.js
  translations/ja-JP/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  translations/ja-JP/content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  translations/ja-JP/content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
  translations/ja-JP/content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/tracking-work-with-project-boards/adding-issues-and-pull-requests-to-a-project-board.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/tracking-work-with-project-boards/adding-notes-to-a-project-board.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/tracking-work-with-project-boards/archiving-cards-on-a-project-board.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/tracking-work-with-project-boards/filtering-cards-on-a-project-board.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/tracking-work-with-project-boards/index.md
  translations/ja-JP/content/organizations/collaborating-with-groups-in-organizations/customizing-your-organizations-profile.md
  translations/ja-JP/content/rest/guides/getting-started-with-the-rest-api.md
  translations/ja-JP/content/rest/oauth-authorizations.md
  translations/ja-JP/content/rest/overview/troubleshooting.md
  translations/log/ja-resets.csv
Labels: triage, automated-reposync-pr

#19499 repo sync
  components/page-header/Header.module.scss
  components/page-header/Header.tsx
  translations/es-ES/content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  translations/es-ES/content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
  translations/es-ES/content/organizations/collaborating-with-groups-in-organizations/customizing-your-organizations-profile.md
  translations/es-ES/content/rest/oauth-authorizations.md
  translations/es-ES/content/rest/overview/troubleshooting.md
  translations/es-ES/data/reusables/pages/admin-must-push.md
  translations/es-ES/data/reusables/pages/new-or-existing-repo.md
  translations/es-ES/data/variables/contact.yml
  translations/es-ES/data/variables/product.yml
  translations/log/cn-resets.csv
  translations/zh-CN/content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  translations/zh-CN/content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
  translations/zh-CN/content/organizations/collaborating-with-groups-in-organizations/customizing-your-organizations-profile.md
  translations/zh-CN/content/rest/guides/getting-started-with-the-rest-api.md
  translations/zh-CN/content/rest/oauth-authorizations.md
  translations/zh-CN/content/rest/overview/troubleshooting.md
Labels: triage, automated-reposync-pr

#19512 repo sync
  .github/actions-scripts/enterprise-server-issue-templates/deprecation-issue.md
  content/actions/monitoring-and-troubleshooting-workflows/adding-a-workflow-status-badge.md
  translations/es-ES/content/actions/examples/using-concurrency-expressions-and-a-test-matrix.md
  translations/es-ES/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/es-ES/content/admin/configuration/configuring-network-settings/configuring-dns-nameservers.md
  translations/es-ES/content/codespaces/managing-your-codespaces/managing-encrypted-secrets-for-your-codespaces.md
  translations/es-ES/content/communities/documenting-your-project-with-wikis/adding-or-editing-wiki-pages.md
  translations/es-ES/content/communities/maintaining-your-safety-on-github/blocking-a-user-from-your-personal-account.md
  translations/es-ES/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/es-ES/content/discussions/collaborating-with-your-community-using-discussions/about-discussions.md
  translations/es-ES/content/discussions/collaborating-with-your-community-using-discussions/participating-in-a-discussion.md
  translations/es-ES/content/discussions/managing-discussions-for-your-community/moderating-discussions.md
  translations/es-ES/content/discussions/quickstart.md
  translations/es-ES/content/issues/organizing-your-work-with-project-boards/managing-project-boards/about-project-boards.md
  translations/es-ES/content/organizations/managing-access-to-your-organizations-project-boards/managing-team-access-to-an-organization-project-board.md
  translations/es-ES/content/packages/working-with-a-github-packages-registry/migrating-to-the-container-registry-from-the-docker-registry.md
  translations/es-ES/content/pages/getting-started-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site.md
  translations/es-ES/content/pages/getting-started-with-github-pages/unpublishing-a-github-pages-site.md
  translations/es-ES/content/pages/setting-up-a-github-pages-site-with-jekyll/troubleshooting-jekyll-build-errors-for-github-pages-sites.md
  translations/es-ES/content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue.md
  translations/es-ES/content/site-policy/privacy-policies/github-subprocessors-and-cookies.md
  translations/es-ES/data/reusables/pages/test-locally.md
  translations/es-ES/data/reusables/pull_requests/merge-queue-beta.md
  translations/es-ES/data/reusables/secret-scanning/partner-secret-list-private-repo.md
  translations/es-ES/data/reusables/support/connect-in-the-forum-bootcamp.md
  translations/es-ES/data/reusables/support/help_resources.md
  translations/pt-BR/content/actions/examples/using-concurrency-expressions-and-a-test-matrix.md
  translations/pt-BR/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/pt-BR/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/pt-BR/content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue.md
  translations/pt-BR/content/site-policy/privacy-policies/github-subprocessors-and-cookies.md
  translations/pt-BR/data/reusables/pull_requests/merge-queue-beta.md
Labels: triage, automated-reposync-pr

#19513 repo sync
  components/graphql/GraphqlPage.tsx
  components/graphql/Query.tsx
  components/graphql/types.tsx
  content/actions/monitoring-and-troubleshooting-workflows/adding-a-workflow-status-badge.md
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
  lib/graphql/static/schema-ghes-3.2.json
  lib/graphql/static/schema-ghes-3.3.json
  lib/graphql/static/schema-ghes-3.4.json
  lib/graphql/static/schema-ghes-3.5.json
  lib/graphql/static/schema-ghes-3.6.json
  lib/graphql/validator.js
  pages/[versionId]/graphql/reference/[page].tsx
  script/graphql/build-changelog.js
  script/graphql/utils/process-schemas.js
  tests/content/graphql.js
Labels: triage, automated-reposync-pr

#19514 repo sync
  middleware/cache-full-rendering.js
  middleware/index.js
  middleware/render-page.js
  package-lock.json
  package.json
  tests/rendering/render-caching.js
  tests/rendering/server.js
Labels: triage, automated-reposync-pr

#19516 repo sync
  .github/CODEOWNERS
  .github/actions-scripts/check-for-enterprise-issues-by-label.js
  tests/content/secure-files.js
Labels: triage, automated-reposync-pr

#19517 repo sync
  .github/actions-scripts/msft-create-translation-batch-pr.js
  .github/workflows/msft-create-translation-batch-pr.yml
Labels: triage, automated-reposync-pr

#19518 repo sync
  translations/ja-JP/content/actions/examples/using-concurrency-expressions-and-a-test-matrix.md
  translations/ja-JP/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/ja-JP/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/index.md
  translations/ja-JP/content/issues/organizing-your-work-with-project-boards/tracking-work-with-project-boards/tracking-progress-on-your-project-board.md
  translations/ja-JP/content/issues/planning-and-tracking-with-projects/automating-your-project/automating-projects-using-actions.md
  translations/ja-JP/content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue.md
  translations/ja-JP/content/site-policy/privacy-policies/github-subprocessors-and-cookies.md
  translations/ja-JP/data/release-notes/enterprise-server/3-6/0-rc1.yml
  translations/ja-JP/data/reusables/pull_requests/merge-queue-beta.md
  translations/zh-CN/content/actions/examples/using-concurrency-expressions-and-a-test-matrix.md
  translations/zh-CN/content/actions/using-workflows/events-that-trigger-workflows.md
  translations/zh-CN/content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
  translations/zh-CN/content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue.md
  translations/zh-CN/content/site-policy/privacy-policies/github-subprocessors-and-cookies.md
  translations/zh-CN/data/reusables/pull_requests/merge-queue-beta.md
Labels: triage, automated-reposync-pr

#19506 Update github-mobile.md
  content/get-started/using-github/github-mobile.md
Labels: content, waiting for review, get started

#19529 repo sync
  script/check-github-github-links.js
Labels: triage, automated-reposync-pr

#19530 repo sync
  content/code-security/dependabot/dependabot-alerts/browsing-security-advisories-in-the-github-advisory-database.md
  pages/_app.tsx
  stylesheets/index.scss
Labels: triage, automated-reposync-pr

#19531 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
Labels: triage, automated-reposync-pr

#19532 repo sync
  README.md
  components/page-footer/SmallFooter.tsx
  stylesheets/index.scss
Labels: triage, automated-reposync-pr

#19533 repo sync
  assets/images/help/settings/sudo_mode_popup.png
  assets/images/help/settings/sudo_mode_prompt_2fa_code.png
  assets/images/help/settings/sudo_mode_prompt_github_mobile.png
  assets/images/help/settings/sudo_mode_prompt_github_mobile_prompt.png
  assets/images/help/settings/sudo_mode_prompt_password.png
  assets/images/help/settings/sudo_mode_prompt_security_key.png
  assets/images/help/settings/sudo_mode_prompt_totp_sms.png
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-access-to-your-personal-repositories/maintaining-ownership-continuity-of-your-personal-accounts-repositories.md
  content/admin/user-management/managing-users-in-your-enterprise/auditing-ssh-keys.md
  content/authentication/connecting-to-github-with-ssh/adding-a-new-ssh-key-to-your-github-account.md
  content/authentication/keeping-your-account-and-data-secure/sudo-mode.md
  content/authentication/keeping-your-account-and-data-secure/updating-your-github-access-credentials.md
  data/features/totp-and-mobile-sudo-challenge.yml
  data/reusables/user-settings/sudo-mode-popup.md
Labels: triage, automated-reposync-pr

#19421 Add case-sensitivity note to HTTP verbs
  content/rest/overview/resources-in-the-rest-api.md
Labels: content, ready to merge, waiting for review, rest

#19537 repo sync
  .github/workflows/azure-prod-build-deploy.yml
Labels: triage, automated-reposync-pr

#19538 repo sync
  components/landing/TableOfContents.tsx
Labels: triage, automated-reposync-pr

#19543 repo sync
  .github/actions-scripts/create-enterprise-issue.js
Labels: triage, automated-reposync-pr

#19546 repo sync
  .github/workflows/check-broken-links-github-github.yml
Labels: triage, automated-reposync-pr

#19548 repo sync
  .github/workflows/check-all-english-links.yml
  .github/workflows/check-broken-links-github-github.yml
  components/Search.tsx
  components/hooks/useSession.ts
  components/lib/events.ts
  components/lib/experiment.ts
  components/lib/get-session.ts
  components/page-footer/Survey.tsx
  components/page-header/Header.tsx
  components/page-header/HeaderNotifications.tsx
  components/page-header/LanguagePicker.tsx
  middleware/index.js
  middleware/overload-protection.js
  middleware/render-page.js
  package-lock.json
  package.json
  pages/_app.tsx
  tests/rendering/server.js
Labels: triage, automated-reposync-pr

#19550 repo sync
  translations/es-ES/content/actions/monitoring-and-troubleshooting-workflows/adding-a-workflow-status-badge.md
  translations/es-ES/content/code-security/dependabot/dependabot-alerts/browsing-security-advisories-in-the-github-advisory-database.md
  translations/es-ES/content/get-started/using-github/github-mobile.md
  translations/es-ES/content/graphql/overview/breaking-changes.md
  translations/es-ES/content/graphql/overview/changelog.md
  translations/es-ES/content/graphql/overview/schema-previews.md
  translations/es-ES/content/graphql/reference/enums.md
  translations/es-ES/content/graphql/reference/input-objects.md
  translations/es-ES/content/graphql/reference/interfaces.md
  translations/es-ES/content/graphql/reference/mutations.md
  translations/es-ES/content/graphql/reference/objects.md
  translations/es-ES/content/graphql/reference/queries.md
  translations/es-ES/content/graphql/reference/scalars.md
  translations/es-ES/content/graphql/reference/unions.md
  translations/es-ES/data/ui.yml
  translations/pt-BR/content/actions/monitoring-and-troubleshooting-workflows/adding-a-workflow-status-badge.md
  translations/pt-BR/content/code-security/dependabot/dependabot-alerts/browsing-security-advisories-in-the-github-advisory-database.md
  translations/pt-BR/content/get-started/using-github/github-mobile.md
  translations/pt-BR/content/graphql/overview/breaking-changes.md
  translations/pt-BR/content/graphql/overview/changelog.md
  translations/pt-BR/content/graphql/overview/schema-previews.md
  translations/pt-BR/content/graphql/reference/enums.md
  translations/pt-BR/content/graphql/reference/input-objects.md
  translations/pt-BR/content/graphql/reference/interfaces.md
  translations/pt-BR/content/graphql/reference/mutations.md
  translations/pt-BR/content/graphql/reference/objects.md
  translations/pt-BR/content/graphql/reference/queries.md
  translations/pt-BR/content/graphql/reference/scalars.md
  translations/pt-BR/content/graphql/reference/unions.md
  translations/pt-BR/data/ui.yml
Labels: triage, automated-reposync-pr

#19553 repo sync
  content/pages/getting-started-with-github-pages/about-github-pages.md
Labels: triage, automated-reposync-pr

#19555 repo sync
  pages/_app.tsx
  stylesheets/index.scss
  translations/zh-CN/content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-access-to-your-personal-repositories/maintaining-ownership-continuity-of-your-personal-accounts-repositories.md
  translations/zh-CN/content/admin/user-management/managing-users-in-your-enterprise/auditing-ssh-keys.md
  translations/zh-CN/content/authentication/connecting-to-github-with-ssh/adding-a-new-ssh-key-to-your-github-account.md
  translations/zh-CN/content/authentication/keeping-your-account-and-data-secure/sudo-mode.md
  translations/zh-CN/content/authentication/keeping-your-account-and-data-secure/updating-your-github-access-credentials.md
  translations/zh-CN/content/rest/overview/resources-in-the-rest-api.md
  translations/zh-CN/data/features/totp-and-mobile-sudo-challenge.yml
  translations/zh-CN/data/reusables/user-settings/sudo-mode-popup.md
Labels: triage, automated-reposync-pr

#19556 repo sync
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/displaying-ip-addresses-in-the-audit-log-for-your-enterprise.md
Labels: triage, automated-reposync-pr

#19557 repo sync
  middleware/cache-control.js
  middleware/render-page.js
Labels: triage, automated-reposync-pr

#19569 repo sync
  data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  data/graphql/ghec/graphql_upcoming_changes.public.yml
  data/graphql/ghec/schema.docs.graphql
  data/graphql/graphql_upcoming_changes.public.yml
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghec.json
  lib/graphql/static/upcoming-changes.json
Labels: triage, automated-reposync-pr

#19570 repo sync
  translations/pt-BR/content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-access-to-your-personal-repositories/maintaining-ownership-continuity-of-your-personal-accounts-repositories.md
  translations/pt-BR/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/displaying-ip-addresses-in-the-audit-log-for-your-enterprise.md
  translations/pt-BR/content/admin/user-management/managing-users-in-your-enterprise/auditing-ssh-keys.md
  translations/pt-BR/content/authentication/connecting-to-github-with-ssh/adding-a-new-ssh-key-to-your-github-account.md
  translations/pt-BR/content/authentication/keeping-your-account-and-data-secure/sudo-mode.md
  translations/pt-BR/content/authentication/keeping-your-account-and-data-secure/updating-your-github-access-credentials.md
  translations/pt-BR/content/pages/getting-started-with-github-pages/about-github-pages.md
  translations/pt-BR/content/rest/overview/resources-in-the-rest-api.md
  translations/pt-BR/data/features/totp-and-mobile-sudo-challenge.yml
  translations/pt-BR/data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  translations/pt-BR/data/graphql/ghec/graphql_upcoming_changes.public.yml
  translations/pt-BR/data/graphql/graphql_upcoming_changes.public.yml
  translations/pt-BR/data/reusables/user-settings/sudo-mode-popup.md
Labels: triage, automated-reposync-pr

#19584 repo sync
  translations/es-ES/content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-access-to-your-personal-repositories/maintaining-ownership-continuity-of-your-personal-accounts-repositories.md
  translations/es-ES/content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/displaying-ip-addresses-in-the-audit-log-for-your-enterprise.md
  translations/es-ES/content/admin/user-management/managing-users-in-your-enterprise/auditing-ssh-keys.md
  translations/es-ES/content/authentication/connecting-to-github-with-ssh/adding-a-new-ssh-key-to-your-github-account.md
  translations/es-ES/content/authentication/keeping-your-account-and-data-secure/sudo-mode.md
  translations/es-ES/content/authentication/keeping-your-account-and-data-secure/updating-your-github-access-credentials.md
  translations/es-ES/content/pages/getting-started-with-github-pages/about-github-pages.md
  translations/es-ES/content/rest/overview/resources-in-the-rest-api.md
  translations/es-ES/data/features/totp-and-mobile-sudo-challenge.yml
  translations/es-ES/data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  translations/es-ES/data/graphql/ghec/graphql_upcoming_changes.public.yml
  translations/es-ES/data/graphql/graphql_upcoming_changes.public.yml
  translations/es-ES/data/reusables/user-settings/sudo-mode-popup.md
  translations/es-ES/data/ui.yml
Labels: triage, automated-reposync-pr

#19589 repo sync
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
Labels: triage, automated-reposync-pr

#19591 repo sync
  content/authentication/connecting-to-github-with-ssh/about-ssh.md
  content/authentication/keeping-your-account-and-data-secure/sudo-mode.md
Labels: triage, automated-reposync-pr

#19594 repo sync
  components/Search.tsx
  components/context/LanguagesContext.tsx
  components/hooks/useSession.ts
  components/page-header/HeaderNotifications.tsx
  components/page-header/LanguagePicker.tsx
  lib/languages.js
  middleware/api/session.js
  middleware/block-robots.js
  middleware/detect-language.js
  pages/_app.tsx
  script/i18n/test-html-pages.js
  tests/browser/browser.js
  tests/rendering/block-robots.js
  tests/rendering/robots-txt.js
Labels: triage, automated-reposync-pr

#19595 repo sync
  content/actions/automating-builds-and-tests/about-continuous-integration.md
  content/actions/automating-builds-and-tests/building-and-testing-xamarin-applications.md
  content/actions/creating-actions/creating-a-docker-container-action.md
  content/actions/migrating-to-github-actions/migrating-from-circleci-to-github-actions.md
  content/actions/monitoring-and-troubleshooting-workflows/using-workflow-run-logs.md
  content/actions/using-github-hosted-runners/about-github-hosted-runners.md
  content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-self-hosted-runners-for-your-enterprise.md
  content/admin/github-actions/managing-access-to-actions-from-githubcom/setting-up-the-tool-cache-on-self-hosted-runners-without-internet-access.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/running-codeql-code-scanning-in-a-container.md
  content/code-security/supply-chain-security/end-to-end-supply-chain/securing-builds.md
  data/reusables/actions/jobs/section-choosing-the-runner-for-a-job.md
  data/reusables/actions/macos-runner-preview.md
  data/reusables/actions/pure-javascript.md
  data/reusables/actions/supported-github-runners.md
  middleware/helmet.js
Labels: triage, automated-reposync-pr

#19596 repo sync
  components/hooks/useSession.ts
  components/lib/events.ts
  pages/_app.tsx
Labels: triage, automated-reposync-pr

#19598 repo sync
  assets/images/help/codespaces/choose-dev-container-vscode.png
  components/hooks/useSession.ts
  content/codespaces/developing-in-codespaces/creating-a-codespace.md
  data/reusables/codespaces/creating-a-codespace-in-vscode.md
Labels: triage, automated-reposync-pr

#19599 repo sync
  content/authentication/authenticating-with-saml-single-sign-on/about-authentication-with-saml-single-sign-on.md
Labels: triage, automated-reposync-pr

#19602 repo sync
  components/ClientSideHighlight.tsx
  components/ClientSideHighlightJS.tsx
  components/article/ArticlePage.tsx
  components/article/AutomatedPage.tsx
  components/rest/RestReferencePage.tsx
Labels: triage, automated-reposync-pr

#19607 repo sync
  components/ClientSideRedirectExceptions.tsx
  components/ClientSideRedirects.tsx
  components/landing/TocLanding.tsx
  components/rest/RestReferencePage.tsx
  script/search/index-elasticsearch.js
  translations/pt-BR/content/actions/automating-builds-and-tests/about-continuous-integration.md
  translations/pt-BR/content/actions/automating-builds-and-tests/building-and-testing-xamarin-applications.md
  translations/pt-BR/content/actions/creating-actions/creating-a-docker-container-action.md
  translations/pt-BR/content/actions/creating-actions/metadata-syntax-for-github-actions.md
  translations/pt-BR/content/actions/migrating-to-github-actions/migrating-from-circleci-to-github-actions.md
  translations/pt-BR/content/actions/monitoring-and-troubleshooting-workflows/using-workflow-run-logs.md
  translations/pt-BR/content/actions/using-github-hosted-runners/about-github-hosted-runners.md
  translations/pt-BR/content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
  translations/pt-BR/content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-self-hosted-runners-for-your-enterprise.md
  translations/pt-BR/content/admin/github-actions/managing-access-to-actions-from-githubcom/setting-up-the-tool-cache-on-self-hosted-runners-without-internet-access.md
  translations/pt-BR/content/authentication/connecting-to-github-with-ssh/about-ssh.md
  translations/pt-BR/content/authentication/keeping-your-account-and-data-secure/sudo-mode.md
  translations/pt-BR/content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/running-codeql-code-scanning-in-a-container.md
  translations/pt-BR/content/code-security/supply-chain-security/end-to-end-supply-chain/securing-builds.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/creating-a-codespace.md
  translations/pt-BR/data/reusables/actions/jobs/section-choosing-the-runner-for-a-job.md
  translations/pt-BR/data/reusables/actions/macos-runner-preview.md
  translations/pt-BR/data/reusables/actions/pure-javascript.md
  translations/pt-BR/data/reusables/actions/supported-github-runners.md
  translations/pt-BR/data/reusables/codespaces/creating-a-codespace-in-vscode.md
Labels: triage, automated-reposync-pr

#19609 repo sync
  content/code-security/getting-started/github-security-features.md
  content/code-security/secret-scanning/about-secret-scanning.md
  content/code-security/security-overview/about-the-security-overview.md
  content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
  content/code-security/security-overview/viewing-the-security-overview.md
  content/get-started/learning-about-github/about-github-advanced-security.md
  data/features/security-overview-displayed-alerts.yml
  data/reusables/gated-features/advanced-security.md
  data/reusables/gated-features/ghas.md
  data/reusables/gated-features/security-overview.md
  data/reusables/security-overview/information-varies-GHAS.md
Labels: triage, automated-reposync-pr

#19505 Replaced cross-marks ✖️ with tick-marks ✔️ to better represent permss…
  content/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
Labels: content, design, enterprise, waiting for review, organizations

#19615 repo sync
  content/code-security/dependabot/dependabot-alerts/about-dependabot-alerts.md
  content/code-security/dependabot/working-with-dependabot/troubleshooting-the-detection-of-vulnerable-dependencies.md
  content/code-security/getting-started/securing-your-organization.md
  content/code-security/getting-started/securing-your-repository.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository.md
  content/get-started/privacy-on-github/managing-data-use-settings-for-your-private-repository.md
Labels: triage, automated-reposync-pr

#19618 repo sync
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/about-saml-for-enterprise-iam.md
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/configuring-saml-single-sign-on-for-your-enterprise.md
  content/admin/overview/about-enterprise-accounts.md
  content/admin/user-management/managing-organizations-in-your-enterprise/adding-organizations-to-your-enterprise.md
  content/authentication/authenticating-with-saml-single-sign-on/about-authentication-with-saml-single-sign-on.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/about-identity-and-access-management-with-saml-single-sign-on.md
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-and-deleting-branches-within-your-repository.md
  data/features/create-branch-from-overview.yml
  data/reusables/saml/dotcom-saml-explanation.md
  data/reusables/saml/outside-collaborators-exemption.md
  data/reusables/saml/saml-accounts.md
Labels: triage, automated-reposync-pr

#19132 Remove implied GraphQL API Explorer scope
  content/graphql/guides/forming-calls-with-graphql.md
Labels: content, ready to merge, waiting for review, graphql

#19601 fixed typo on about-authentication-with-saml-single-sign-on.md file
  content/authentication/authenticating-with-saml-single-sign-on/about-authentication-with-saml-single-sign-on.md
Labels: content, ready to merge, authentication

#19581 doc(search-repository): add search by size to link text as per example
  content/search-github/searching-on-github/searching-for-repositories.md
Labels: content, waiting for review, search-github

#19621 repo sync
  assets/images/help/repository/repository-name-change.png
  components/hooks/useSession.ts
  components/hooks/useTheme.ts
  lib/get-theme.js
  middleware/api/session.js
  pages/_app.tsx
  stylesheets/index.scss
  tests/unit/get-theme.js
  tests/unit/use-theme.js
Labels: triage, automated-reposync-pr

#19622 repo sync
  data/graphql/ghes-3.5/schema.docs-enterprise.graphql
  data/reusables/actions/supported-github-runners.md
  lib/graphql/static/schema-ghes-3.5.json
  translations/pt-BR/content/admin/identity-and-access-management/using-saml-for-enterprise-iam/about-saml-for-enterprise-iam.md
  translations/pt-BR/content/admin/identity-and-access-management/using-saml-for-enterprise-iam/configuring-saml-single-sign-on-for-your-enterprise.md
  translations/pt-BR/content/admin/overview/about-enterprise-accounts.md
  translations/pt-BR/content/admin/user-management/managing-organizations-in-your-enterprise/adding-organizations-to-your-enterprise.md
  translations/pt-BR/content/authentication/authenticating-with-saml-single-sign-on/about-authentication-with-saml-single-sign-on.md
  translations/pt-BR/content/code-security/dependabot/dependabot-alerts/about-dependabot-alerts.md
  translations/pt-BR/content/code-security/getting-started/github-security-features.md
  translations/pt-BR/content/code-security/getting-started/securing-your-organization.md
  translations/pt-BR/content/code-security/getting-started/securing-your-repository.md
  translations/pt-BR/content/code-security/secret-scanning/about-secret-scanning.md
  translations/pt-BR/content/code-security/security-overview/about-the-security-overview.md
  translations/pt-BR/content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
  translations/pt-BR/content/code-security/security-overview/viewing-the-security-overview.md
  translations/pt-BR/content/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository.md
  translations/pt-BR/content/get-started/learning-about-github/about-github-advanced-security.md
  translations/pt-BR/content/graphql/guides/forming-calls-with-graphql.md
  translations/pt-BR/content/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
  translations/pt-BR/content/organizations/managing-saml-single-sign-on-for-your-organization/about-identity-and-access-management-with-saml-single-sign-on.md
  translations/pt-BR/content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-and-deleting-branches-within-your-repository.md
  translations/pt-BR/content/search-github/searching-on-github/searching-for-repositories.md
  translations/pt-BR/data/features/create-branch-from-overview.yml
  translations/pt-BR/data/features/security-overview-displayed-alerts.yml
  translations/pt-BR/data/reusables/gated-features/advanced-security.md
  translations/pt-BR/data/reusables/gated-features/ghas.md
  translations/pt-BR/data/reusables/gated-features/security-overview.md
  translations/pt-BR/data/reusables/saml/dotcom-saml-explanation.md
  translations/pt-BR/data/reusables/saml/outside-collaborators-exemption.md
  translations/pt-BR/data/reusables/saml/saml-accounts.md
  translations/pt-BR/data/reusables/security-overview/information-varies-GHAS.md
Labels: triage, automated-reposync-pr

#19623 repo sync
  .github/workflows/stale.yml
Labels: triage, automated-reposync-pr

#19630 repo sync
  content/actions/using-github-hosted-runners/about-github-hosted-runners.md
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
  content/admin/github-actions/managing-access-to-actions-from-githubcom/setting-up-the-tool-cache-on-self-hosted-runners-without-internet-access.md
  data/reusables/actions/jobs/multi-dimension-matrix.md
  data/reusables/actions/supported-github-runners.md
Labels: triage, automated-reposync-pr

#19636 repo sync
  content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/verifying-your-custom-domain-for-github-pages.md
  content/pages/getting-started-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/about-jekyll-build-errors-for-github-pages-sites.md
  data/features/build-pages-with-actions.yml
  data/reusables/gated-features/environments.md
  data/reusables/pages/check-workflow-run.md
  data/reusables/pages/pages-builds-with-github-actions-public-beta.md
  data/reusables/pages/wildcard-dns-warning.md
Labels: triage, automated-reposync-pr

#19358 Added README.md
  assets/images/README.md
Labels: content, ready to merge

#19651 repo sync
  assets/images/help/repository/sync-fork-dropdown.png
  assets/images/help/repository/update-branch-button.png
  content/authentication/keeping-your-account-and-data-secure/sudo-mode.md
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/syncing-a-fork.md
  data/features/syncing-fork-web-ui.yml
  data/features/totp-and-mobile-sudo-challenge.yml
Labels: triage, automated-reposync-pr

#19192 Clarify how the bash shell will be invoked if not specified explicitlly
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions, waiting for review

#19658 repo sync
  components/hooks/useSession.ts
  components/hooks/useUserLanguage.ts
  components/page-header/HeaderNotifications.tsx
  components/page-header/LanguagePicker.tsx
  lib/constants.js
  middleware/api/session.js
  middleware/detect-language.js
  middleware/fast-root-redirect.js
  tests/routing/deprecated-enterprise-versions.js
  tests/routing/redirects.js
Labels: triage, automated-reposync-pr

#19659 repo sync
  components/page-header/HeaderNotifications.tsx
  content/developers/webhooks-and-events/webhooks/webhook-events-and-payloads.md
Labels: triage, automated-reposync-pr

#19661 repo sync
  .github/actions-scripts/content-changes-table-comment.js
  .github/workflows/content-changes-table-comment.yml
Labels: triage, automated-reposync-pr

#19666 repo sync
  components/graphql/GraphqlItem.tsx
Labels: triage, automated-reposync-pr

#19668 repo sync
  data/ui.yml
Labels: triage, automated-reposync-pr

#19678 repo sync
  .devcontainer/devcontainer.json
Labels: triage, automated-reposync-pr

#19683 repo sync
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise.md
Labels: triage, automated-reposync-pr

#19686 repo sync
  content/codespaces/developing-in-codespaces/connecting-to-a-private-network.md
  content/codespaces/developing-in-codespaces/using-github-codespaces-with-github-cli.md
Labels: triage, automated-reposync-pr

#19632 Fix format of the links
  content/actions/using-workflows/workflow-commands-for-github-actions.md
  content/site-policy/privacy-policies/github-privacy-statement.md
  data/reusables/user-settings/jira_help_docs.md
Labels: content, ready to merge

#19687 repo sync
  components/context/PlaygroundContext.tsx
Labels: triage, automated-reposync-pr

#19688 repo sync
  components/playground/CodeLanguagePicker.tsx
  components/playground/editor/Editor.tsx
  content/codespaces/prebuilding-your-codespaces/about-github-codespaces-prebuilds.md
  content/codespaces/prebuilding-your-codespaces/allowing-a-prebuild-to-access-other-repositories.md
  content/codespaces/prebuilding-your-codespaces/configuring-prebuilds.md
  content/codespaces/prebuilding-your-codespaces/managing-prebuilds.md
  content/codespaces/prebuilding-your-codespaces/testing-dev-container-changes.md
  content/codespaces/troubleshooting/troubleshooting-prebuilds.md
  data/reusables/codespaces/billing-for-prebuilds-default.md
  data/reusables/codespaces/billing-for-prebuilds-reducing.md
  data/ui.yml
Labels: triage, automated-reposync-pr

#19689 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
Labels: triage, automated-reposync-pr

#19691 repo sync
  .github/actions-scripts/content-changes-table-comment.js
  .github/workflows/content-changes-table-comment.yml
  pages/_app.tsx
Labels: triage, automated-reposync-pr

#19693 repo sync
  data/reusables/gated-features/environments.md
Labels: triage, automated-reposync-pr

#19695 repo sync
  middleware/api/es-search.js
Labels: triage, automated-reposync-pr

#19696 repo sync
  components/hooks/useUserLanguage.ts
Labels: triage, automated-reposync-pr

#19697 repo sync
  components/lib/get-rest-code-samples.ts
Labels: triage, automated-reposync-pr

#19700 repo sync
  components/ui/MiniTocs/MiniTocs.tsx
  tests/rendering/server.js
Labels: triage, automated-reposync-pr

#19705 repo sync
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/displaying-a-sponsor-button-in-your-repository.md
  data/features/totp-and-mobile-sudo-challenge.yml
  data/reusables/actions/self-hosted-runner-auto-removal.md
Labels: triage, automated-reposync-pr

#19706 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
  data/reusables/secret-scanning/secret-list-private-push-protection.md
Labels: triage, automated-reposync-pr

#19713 repo sync
  content/actions/using-workflows/workflow-commands-for-github-actions.md
Labels: triage, automated-reposync-pr

#19715 repo sync
  .github/workflows/needs-sme-stale-check.yaml
Labels: triage, automated-reposync-pr

#19717 repo sync
  components/hooks/useHasAccount.ts
  components/hooks/useSession.ts
  components/page-header/Header.tsx
  middleware/api/session.js
Labels: triage, automated-reposync-pr

#19720 repo sync
  components/hooks/useUserLanguage.ts
Labels: triage, automated-reposync-pr

#19652 Update permissions-required-for-github-apps.md
  content/rest/overview/permissions-required-for-github-apps.md
Labels: content, waiting for review, rest

#19755 repo sync
  translations/pt-BR/content/rest/overview/permissions-required-for-github-apps.md
Labels: triage, automated-reposync-pr

#19775 repo sync
  content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
Labels: triage, automated-reposync-pr

#19801 repo sync
  contributing/content-style-guide.md
Labels: triage, automated-reposync-pr

#19625 Update using custom labels to route jobs
  content/actions/hosting-your-own-runners/using-self-hosted-runners-in-a-workflow.md
Labels: content, actions, ready to merge, waiting for review

#19807 repo sync
  content/admin/overview/creating-an-enterprise-account.md
  content/admin/user-management/managing-organizations-in-your-enterprise/adding-organizations-to-your-enterprise.md
  content/billing/managing-billing-for-your-github-account/about-billing-for-your-enterprise.md
  data/reusables/saml/authorized-creds-info.md
Labels: triage, automated-reposync-pr

#19812 repo sync
  .github/actions-scripts/msft-create-translation-batch-pr.js
  .github/workflows/msft-create-translation-batch-pr.yml
  script/i18n/msft-report-reset-files.js
  script/i18n/msft-reset-files-with-broken-liquid-tags.js
  script/i18n/msft-tokens.js
  script/i18n/reset-translated-file.js
  tests/rendering/server.js
Labels: triage, automated-reposync-pr

#19813 repo sync
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
Labels: triage, automated-reposync-pr

#19814 repo sync
  components/hooks/useHasAccount.ts
Labels: triage, automated-reposync-pr

#19817 repo sync
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#19819 repo sync
  assets/images/help/education/global-campus-portal-students.png
  assets/images/help/education/global-campus-portal-teachers.png
  content/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot.md
  content/billing/managing-billing-for-your-github-account/discounted-subscriptions-for-github-accounts.md
  content/education/contribute-with-github-community-exchange/getting-started-with-github-community-exchange.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-students/about-github-community-exchange.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-students/about-github-global-campus-for-students.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-students/apply-to-github-global-campus-as-a-student.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-students/index.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-students/why-wasnt-my-application-to-global-campus-for-students-approved.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-teachers/about-github-global-campus-for-teachers.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-teachers/apply-to-github-global-campus-as-a-teacher.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-teachers/index.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-teachers/why-wasnt-my-application-to-global-campus-for-teachers-approved.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/index.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/about-campus-advisors.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/about-campus-experts.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/about-github-campus-program.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/index.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-for-your-schoolwork/about-github-education-for-students.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-in-your-classroom-and-research/about-github-education-for-educators-and-researchers.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-in-your-classroom-and-research/index.md
  content/education/guides.md
  content/education/index.md
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/using-github-codespaces-with-github-classroom.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-a-group-assignment.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-an-individual-assignment.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/use-the-git-and-github-starter-assignment.md
  content/education/quickstart.md
  data/reusables/education/about-github-education-link.md
  data/reusables/education/access-github-community-exchange.md
  data/reusables/education/apply-for-team.md
  data/reusables/education/educator-requirements.md
  data/reusables/gated-features/codespaces-classroom-articles.md
Labels: triage, automated-reposync-pr

#19821 repo sync
  Dockerfile
  components/Link.tsx
  components/README.md
  components/context/MainContext.tsx
  components/landing/LandingHero.tsx
  middleware/context.js
  pages/[versionId]/graphql/overview/explorer.tsx
Labels: triage, automated-reposync-pr

#19822 repo sync
  translations/es-ES/content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
  translations/es-ES/content/actions/hosting-your-own-runners/using-self-hosted-runners-in-a-workflow.md
  translations/es-ES/content/actions/using-workflows/workflow-commands-for-github-actions.md
  translations/es-ES/content/admin/overview/creating-an-enterprise-account.md
  translations/es-ES/content/admin/user-management/managing-organizations-in-your-enterprise/adding-organizations-to-your-enterprise.md
  translations/es-ES/content/authentication/authenticating-with-saml-single-sign-on/about-authentication-with-saml-single-sign-on.md
  translations/es-ES/content/authentication/keeping-your-account-and-data-secure/authorizing-oauth-apps.md
  translations/es-ES/content/authentication/keeping-your-account-and-data-secure/sudo-mode.md
  translations/es-ES/content/billing/managing-billing-for-your-github-account/about-billing-for-your-enterprise.md
  translations/es-ES/content/billing/managing-your-license-for-github-enterprise/syncing-license-usage-between-github-enterprise-server-and-github-enterprise-cloud.md
  translations/es-ES/content/billing/managing-your-license-for-github-enterprise/troubleshooting-license-usage-for-github-enterprise.md
  translations/es-ES/content/billing/managing-your-license-for-github-enterprise/viewing-license-usage-for-github-enterprise.md
  translations/es-ES/content/codespaces/developing-in-codespaces/connecting-to-a-private-network.md
  translations/es-ES/content/rest/enterprise-admin/license.md
  translations/es-ES/data/release-notes/enterprise-server/3-4/0.yml
  translations/es-ES/data/reusables/enterprise-licensing/about-license-sync.md
  translations/es-ES/data/reusables/enterprise-licensing/unique-user-licensing-model.md
  translations/es-ES/data/reusables/enterprise-licensing/you-can-sync-for-a-combined-view.md
  translations/es-ES/data/reusables/saml/authorized-creds-info.md
  translations/es-ES/data/reusables/saml/saml-accounts.md
  translations/es-ES/data/reusables/secret-scanning/secret-list-private-push-protection.md
Labels: triage, automated-reposync-pr

#19824 repo sync
  content/billing/managing-billing-for-github-packages/about-billing-for-github-packages.md
Labels: triage, automated-reposync-pr

#19830 repo sync
  .github/CODEOWNERS
Labels: triage, automated-reposync-pr

#19845 repo sync
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/managing-your-theme-settings.md
  content/admin/packages/migrating-your-enterprise-to-the-container-registry-from-the-docker-registry.md
  content/admin/user-management/managing-users-in-your-enterprise/viewing-people-in-your-enterprise.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-suggestions-to-update-pull-request-branches.md
  data/release-notes/enterprise-server/3-4/4.yml
  data/release-notes/enterprise-server/3-4/5.yml
  data/release-notes/enterprise-server/3-4/6.yml
  data/release-notes/enterprise-server/3-5/0.yml
  data/release-notes/enterprise-server/3-5/1.yml
  data/release-notes/enterprise-server/3-5/2.yml
  data/release-notes/enterprise-server/3-5/3.yml
  data/reusables/enterprise/3-5-missing-feature.md
Labels: triage, automated-reposync-pr

#19728 Move punctuation and quotation marks outside the links
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/managing-your-profile-readme.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/commenting-on-a-pull-request.md
Labels: content, waiting for review, pull requests, account-and-profile

#19846 repo sync
  assets/images/help/repository/secret-scanning-push-protection-web-ui-commit-allowed.png
  assets/images/help/repository/secret-scanning-push-protection-web-ui-commit-blocked-banner.png
  content/code-security/guides.md
  content/code-security/secret-scanning/index.md
  content/code-security/secret-scanning/protecting-pushes-with-secret-scanning.md
  content/code-security/secret-scanning/pushing-a-branch-blocked-by-push-protection.md
  content/code-security/secret-scanning/secret-scanning-patterns.md
  data/learning-tracks/code-security.yml
  data/reusables/secret-scanning/push-protection-command-line-choice.md
  data/reusables/secret-scanning/push-protection-multiple-branch-note.md
  data/reusables/secret-scanning/push-protection-remove-secret.md
  data/reusables/secret-scanning/push-protection-web-ui-choice.md
Labels: triage, automated-reposync-pr

#19774 Update adding-a-file-to-a-repository.md
  content/repositories/working-with-files/managing-files/adding-a-file-to-a-repository.md
Labels: content, waiting for review, repositories

#19798 Fix typos/errors
  content/README.md
  content/admin/identity-and-access-management/managing-recovery-codes-for-your-enterprise/accessing-your-enterprise-account-if-your-identity-provider-is-unavailable.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-security-settings-in-your-enterprise.md
Labels: content, waiting for review

#19799 Update link
  content/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors.md
Labels: content, waiting for review, communities

#19710 Fix for issue #19312 wiki Internal link format now matches MediaWiki…
  content/communities/documenting-your-project-with-wikis/editing-wiki-content.md
Labels: content, waiting for review, communities

#19853 repo sync
  translations/log/cn-resets.csv
  translations/zh-CN/content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
  translations/zh-CN/content/actions/hosting-your-own-runners/using-self-hosted-runners-in-a-workflow.md
  translations/zh-CN/content/admin/overview/creating-an-enterprise-account.md
  translations/zh-CN/content/admin/user-management/managing-organizations-in-your-enterprise/adding-organizations-to-your-enterprise.md
  translations/zh-CN/content/billing/managing-billing-for-your-github-account/about-billing-for-your-enterprise.md
  translations/zh-CN/content/billing/managing-your-license-for-github-enterprise/syncing-license-usage-between-github-enterprise-server-and-github-enterprise-cloud.md
  translations/zh-CN/content/billing/managing-your-license-for-github-enterprise/troubleshooting-license-usage-for-github-enterprise.md
  translations/zh-CN/content/billing/managing-your-license-for-github-enterprise/viewing-license-usage-for-github-enterprise.md
  translations/zh-CN/content/rest/enterprise-admin/license.md
  translations/zh-CN/data/reusables/enterprise-licensing/about-license-sync.md
  translations/zh-CN/data/reusables/enterprise-licensing/unique-user-licensing-model.md
  translations/zh-CN/data/reusables/enterprise-licensing/you-can-sync-for-a-combined-view.md
  translations/zh-CN/data/reusables/saml/authorized-creds-info.md
Labels: triage, automated-reposync-pr

#19855 repo sync
  .devcontainer/devcontainer.json
  assets/images/help/repository/code-scanning-alert-drop-down-reason.png
  assets/images/help/repository/code-scanning-alert-dropdown-reason.png
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/triaging-code-scanning-alerts-in-pull-requests.md
Labels: triage, automated-reposync-pr

#19858 repo sync
  content/get-started/index.md
  tests/content/featured-links.js
Labels: triage, automated-reposync-pr

#19857 Add missing end quote
  content/issues/planning-and-tracking-with-projects/automating-your-project/using-the-api-to-manage-projects.md
Labels: content, waiting for review, issues

#19675 Add actions performance testing numbers for GHES 3.6
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  data/reusables/actions/hardware-requirements-3.6.md
Labels: content, actions, enterprise, waiting for review

#19879 repo sync
  assets/images/help/repository/allow-merge-commits-no-dropdown.png
  assets/images/help/repository/allow-merge-commits.png
  assets/images/help/repository/allow-rebase-merging-no-dropdown.png
  assets/images/help/repository/allow-rebase-merging.png
  assets/images/help/repository/allow-squash-merging-no-dropdown.png
  assets/images/help/repository/allow-squash-merging.png
  assets/images/help/repository/default-commit-message-dropdown.png
  assets/images/help/repository/default-squash-message-dropdown.png
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/about-pull-request-merges.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/configuring-commit-merging-for-pull-requests.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/configuring-commit-rebasing-for-pull-requests.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/configuring-commit-squashing-for-pull-requests.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/index.md
  data/features/default-merge-squash-commit-message.yml
  data/reusables/repositories/squash-and-rebase-linear-commit-history.md
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#18524 Fixed method for checking cache-hit
  content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
Labels: actions, waiting for review, SME reviewed

#19542 Add troubleshoot help to install NuGet packages
  content/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry.md
Labels: content, packages, waiting for review

#19810 docs(create-actions): add optional flag on branding
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
Labels: content, actions, ready to merge, waiting for review

#19743 docs(creation-actions): add missing 'runs.' prefix
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
Labels: content, actions, ready to merge, waiting for review

#19653 Improve readability and conform to the standard
  content/actions/learn-github-actions/expressions.md
Labels: content, ready to merge, waiting for review

#19404 Document runner.debug
  content/actions/learn-github-actions/contexts.md
  content/actions/learn-github-actions/environment-variables.md
  data/reusables/actions/runner-debug-description.md
Labels: content, actions, waiting for review

#19905 repo sync
  data/reusables/gated-features/codespaces.md
Labels: triage, automated-reposync-pr

#19911 repo sync
  contributing/content-style-guide.md
Labels: triage, automated-reposync-pr

#19921 repo sync
  content/admin/configuration/configuring-your-enterprise/deploying-github-ae.md
  data/release-notes/enterprise-server/3-5/4.yml
  data/ui.yml
Labels: triage, automated-reposync-pr

#18731 Fix user.signingkey example
  data/reusables/gpg/paste-gpg-key-id.md
Labels: content, waiting for review

#17670 provide example how to match against a string list
  content/actions/learn-github-actions/expressions.md
Labels: content, actions, ready to merge, waiting for review, needs SME

#19955 repo sync
  assets/images/help/codespaces/codespaces-list-display-name.png
  assets/images/help/codespaces/codespaces-remote-explorer.png
  components/ui/MiniTocs/MiniTocs.tsx
  content/codespaces/developing-in-codespaces/index.md
  content/codespaces/developing-in-codespaces/renaming-a-codespace.md
  tests/rendering/server.js
Labels: triage, automated-reposync-pr

#19963 repo sync
  tests/meta/repository-references.js
Labels: triage, automated-reposync-pr

#19964 repo sync
  .github/workflows/browser-test.yml
  assets/images/help/pull_requests/merge-queue-options.png
  assets/images/help/repository/do-not-allow-bypassing-the-above-settings.png
  content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-custom-repository-roles-for-an-organization.md
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/merging-a-pull-request-with-a-merge-queue.md
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches.md
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
  data/features/bypass-branch-protections.yml
Labels: triage, automated-reposync-pr

#19965 repo sync
  content/codespaces/developing-in-codespaces/creating-a-codespace.md
  data/reusables/codespaces/concurrent-codespace-limit.md
Labels: triage, automated-reposync-pr

#19966 repo sync
  translations/pt-BR/content/actions/learn-github-actions/expressions.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/index.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/renaming-a-codespace.md
  translations/pt-BR/content/issues/organizing-your-work-with-project-boards/managing-project-boards/about-project-boards.md
  translations/pt-BR/content/issues/organizing-your-work-with-project-boards/managing-project-boards/changing-project-board-visibility.md
  translations/pt-BR/content/issues/organizing-your-work-with-project-boards/managing-project-boards/creating-a-project-board.md
  translations/pt-BR/content/organizations/managing-access-to-your-organizations-project-boards/project-board-permissions-for-an-organization.md
  translations/pt-BR/content/organizations/managing-organization-settings/allowing-project-visibility-changes-in-your-organization.md
  translations/pt-BR/data/features/classic-project-visibility-permissions-or-projects-v2.yml
  translations/pt-BR/data/features/classic-project-visibility-permissions.yml
  translations/pt-BR/data/reusables/gpg/paste-gpg-key-id.md
  translations/pt-BR/data/reusables/projects/owners-can-limit-visibility-permissions.md
  translations/pt-BR/data/variables/projects.yml
Labels: triage, automated-reposync-pr

#19968 repo sync
  content/codespaces/developing-in-codespaces/creating-a-codespace.md
  content/codespaces/developing-in-codespaces/default-environment-variables-for-your-codespace.md
  content/codespaces/developing-in-codespaces/developing-in-a-codespace.md
  data/release-notes/enterprise-server/3-2/17.yml
  data/release-notes/enterprise-server/3-3/12.yml
  data/release-notes/enterprise-server/3-4/7.yml
  data/release-notes/enterprise-server/3-5/4.yml
  data/reusables/codespaces/availability.md
Labels: triage, automated-reposync-pr

#19973 repo sync
  content/developers/apps/building-oauth-apps/scopes-for-oauth-apps.md
Labels: triage, automated-reposync-pr

#19974 repo sync
  package-lock.json
Labels: triage, automated-reposync-pr

#19975 Clarify github.sha context description
  content/actions/learn-github-actions/contexts.md
  content/actions/learn-github-actions/environment-variables.md
  data/reusables/actions/github_sha_description.md
Labels: triage

#19990 repo sync
  content/get-started/quickstart/set-up-git.md
Labels: triage, automated-reposync-pr

#19998 repo sync
  components/page-header/Header.tsx
  data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/graphql_upcoming_changes.public.yml
  data/graphql/ghec/schema.docs.graphql
  data/graphql/graphql_upcoming_changes.public.yml
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
  lib/graphql/static/upcoming-changes.json
Labels: triage, automated-reposync-pr

#19999 repo sync
  .github/actions-scripts/content-changes-table-comment.js
  .github/actions-scripts/lib/wait-until-url-is-healthy.js
  .github/workflows/check-all-english-links.yml
  .github/workflows/content-changes-table-comment.yml
  script/check-english-links.js
Labels: triage, automated-reposync-pr

#20000 repo sync
  middleware/redirects/handle-redirects.js
  tests/routing/redirects.js
  translations/es-ES/content/actions/learn-github-actions/contexts.md
  translations/es-ES/content/actions/learn-github-actions/environment-variables.md
  translations/es-ES/content/codespaces/developing-in-codespaces/creating-a-codespace.md
  translations/es-ES/content/codespaces/developing-in-codespaces/default-environment-variables-for-your-codespace.md
  translations/es-ES/content/codespaces/developing-in-codespaces/developing-in-a-codespace.md
  translations/es-ES/content/developers/apps/building-oauth-apps/scopes-for-oauth-apps.md
  translations/es-ES/content/get-started/quickstart/set-up-git.md
  translations/es-ES/content/index.md
  translations/es-ES/content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-custom-repository-roles-for-an-organization.md
  translations/es-ES/content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/merging-a-pull-request-with-a-merge-queue.md
  translations/es-ES/content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches.md
  translations/es-ES/content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
  translations/es-ES/data/features/bypass-branch-protections.yml
  translations/es-ES/data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  translations/es-ES/data/graphql/ghec/graphql_upcoming_changes.public.yml
  translations/es-ES/data/graphql/graphql_upcoming_changes.public.yml
  translations/es-ES/data/release-notes/enterprise-server/3-2/17.yml
  translations/es-ES/data/release-notes/enterprise-server/3-3/12.yml
  translations/es-ES/data/release-notes/enterprise-server/3-4/7.yml
  translations/es-ES/data/release-notes/enterprise-server/3-5/4.yml
  translations/es-ES/data/release-notes/enterprise-server/3-6/0-rc1.yml
  translations/es-ES/data/release-notes/enterprise-server/3-6/0.yml
  translations/es-ES/data/reusables/actions/github_sha_description.md
  translations/es-ES/data/reusables/codespaces/availability.md
  translations/es-ES/data/reusables/codespaces/concurrent-codespace-limit.md
  translations/es-ES/data/ui.yml
Labels: triage, automated-reposync-pr

#20002 repo sync
  package-lock.json
  package.json
Labels: triage, automated-reposync-pr

#20013 repo sync
  translations/pt-BR/content/actions/learn-github-actions/contexts.md
  translations/pt-BR/content/actions/learn-github-actions/environment-variables.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/creating-a-codespace.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/default-environment-variables-for-your-codespace.md
  translations/pt-BR/content/codespaces/developing-in-codespaces/developing-in-a-codespace.md
  translations/pt-BR/content/developers/apps/building-oauth-apps/scopes-for-oauth-apps.md
  translations/pt-BR/content/get-started/quickstart/set-up-git.md
  translations/pt-BR/content/index.md
  translations/pt-BR/content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-custom-repository-roles-for-an-organization.md
  translations/pt-BR/content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/merging-a-pull-request-with-a-merge-queue.md
  translations/pt-BR/content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches.md
  translations/pt-BR/content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
  translations/pt-BR/data/features/bypass-branch-protections.yml
  translations/pt-BR/data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  translations/pt-BR/data/graphql/ghec/graphql_upcoming_changes.public.yml
  translations/pt-BR/data/graphql/graphql_upcoming_changes.public.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-2/17.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-3/12.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-4/7.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-5/4.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-6/0-rc1.yml
  translations/pt-BR/data/release-notes/enterprise-server/3-6/0.yml
  translations/pt-BR/data/reusables/actions/github_sha_description.md
  translations/pt-BR/data/reusables/codespaces/availability.md
  translations/pt-BR/data/reusables/codespaces/concurrent-codespace-limit.md
  translations/pt-BR/data/ui.yml
Labels: triage, automated-reposync-pr

#20040 Fix action release flow to Marketplace
  assets/images/help/repository/publish-github-action-to-markeplace-button.png
  assets/images/help/repository/publish-github-action-to-marketplace-button.png
  content/actions/creating-actions/publishing-actions-in-github-marketplace.md
Labels: triage

#18970 Note on the use of square brackets in GitHub Actions workflows filter patterns
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions, waiting for review, needs SME

#20042 repo sync
  assets/images/help/repository/publish-github-action-to-marketplace-button.png
Labels: triage, automated-reposync-pr

#19883 More on how INPUT_<VARIABLE_NAME> works or doesn't
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
Labels: content, actions, ready to merge, waiting for review

#19980 Fix wrong instruction to reference a workflow
  content/actions/using-workflows/reusing-workflows.md
Labels: content, actions, ready to merge, waiting for review
