Repository github/docs, pull requests merged in 2023-02, with the labels that each got.

#23624 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
Labels: automated-reposync-pr

#23627 repo sync
  contributing/videos.md
Labels: automated-reposync-pr

#23628 repo sync
  data/reusables/release-notes/new-subdomains-missing-from-management-console.md
Labels: automated-reposync-pr

#23629 repo sync
  assets/images/help/sponsors/edit-goal-button.png
  assets/images/help/sponsors/publish-goal-button.png
  assets/images/help/sponsors/retire-goal-button.png
  assets/images/help/sponsors/select-goal-type.png
  data/reusables/sponsors/select-goal-type.md
Labels: automated-reposync-pr

#23630 repo sync
  content/actions/monitoring-and-troubleshooting-workflows/about-monitoring-and-troubleshooting.md
  content/issues/planning-and-tracking-with-projects/viewing-insights-from-your-project/about-insights-for-projects.md
Labels: automated-reposync-pr

#23631 repo sync
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: automated-reposync-pr

#23632 repo sync
  .github/workflows/validate-asset-images.yml
  assets/images/enterprise/security/Enterprise-Audit-SSH-Keys.png
  content/admin/user-management/managing-users-in-your-enterprise/auditing-ssh-keys.md
  package-lock.json
  package.json
  script/validate-asset-images.js
Labels: automated-reposync-pr

#23588 More Spelling fixes based on automated spellcheck
  content/admin/github-actions/advanced-configuration-and-troubleshooting/troubleshooting-github-actions-for-your-enterprise.md
  content/billing/managing-billing-for-github-advanced-security/about-billing-for-github-advanced-security.md
  content/code-security/code-scanning/codeql-cli-reference/about-codeql-workspaces.md
  content/code-security/code-scanning/using-the-codeql-cli/creating-and-working-with-codeql-packs.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
Labels: content, waiting for review, code security

#23637 repo sync
  content/codespaces/troubleshooting/troubleshooting-included-usage.md
  content/communities/maintaining-your-safety-on-github/blocking-a-user-from-your-personal-account.md
Labels: automated-reposync-pr

#23639 repo sync
  assets/images/help/profile/social-link-example.png
  assets/images/help/profile/social-link-platform.png
  assets/images/help/profile/social-link-url.png
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
  data/features/profile-social-links.yml
Labels: automated-reposync-pr

#23640 repo sync
  components/Search.tsx
  components/page-header/Header.tsx
Labels: automated-reposync-pr

#23641 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-with-codeql.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/customizing-code-scanning.md
  content/code-security/code-scanning/index.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/running-codeql-runner-in-your-ci-system.md
  content/code-security/codeql-cli/codeql-cli-reference/about-codeql-packs.md
  content/code-security/codeql-cli/codeql-cli-reference/about-codeql-workspaces.md
  content/code-security/codeql-cli/codeql-cli-reference/exit-codes.md
  content/code-security/codeql-cli/codeql-cli-reference/index.md
  content/code-security/codeql-cli/codeql-cli-reference/query-reference-files.md
  content/code-security/codeql-cli/codeql-cli-reference/sarif-output.md
  content/code-security/codeql-cli/index.md
  content/code-security/codeql-cli/using-the-codeql-cli/about-the-codeql-cli.md
  content/code-security/codeql-cli/using-the-codeql-cli/analyzing-databases-with-the-codeql-cli.md
  content/code-security/codeql-cli/using-the-codeql-cli/creating-and-working-with-codeql-packs.md
  content/code-security/codeql-cli/using-the-codeql-cli/creating-codeql-databases.md
  content/code-security/codeql-cli/using-the-codeql-cli/creating-codeql-query-suites.md
  content/code-security/codeql-cli/using-the-codeql-cli/extractor-options.md
  content/code-security/codeql-cli/using-the-codeql-cli/getting-started-with-the-codeql-cli.md
  content/code-security/codeql-cli/using-the-codeql-cli/index.md
  content/code-security/codeql-cli/using-the-codeql-cli/publishing-and-using-codeql-packs.md
  content/code-security/codeql-cli/using-the-codeql-cli/specifying-command-options-in-a-codeql-configuration-file.md
  content/code-security/codeql-cli/using-the-codeql-cli/testing-custom-queries.md
  content/code-security/codeql-cli/using-the-codeql-cli/testing-query-help-files.md
  content/code-security/codeql-cli/using-the-codeql-cli/using-custom-queries-with-the-codeql-cli.md
  content/code-security/index.md
  data/reusables/gated-features/codeql.md
Labels: automated-reposync-pr

#23642 repo sync
  content/get-started/privacy-on-github/about-githubs-use-of-your-data.md
  content/get-started/privacy-on-github/managing-data-use-settings-for-your-private-repository.md
  content/get-started/privacy-on-github/opting-into-or-out-of-the-github-archive-program-for-your-public-repository.md
  content/get-started/privacy-on-github/requesting-an-archive-of-your-personal-accounts-data.md
  content/get-started/using-git/about-git-rebase.md
  content/get-started/using-git/about-git-subtree-merges.md
  content/get-started/using-git/dealing-with-non-fast-forward-errors.md
  content/get-started/using-git/getting-changes-from-a-remote-repository.md
  content/get-started/using-git/pushing-commits-to-a-remote-repository.md
  content/get-started/using-git/resolving-merge-conflicts-after-a-git-rebase.md
  content/get-started/using-git/splitting-a-subfolder-out-into-a-new-repository.md
  content/get-started/using-git/using-git-rebase-on-the-command-line.md
Labels: automated-reposync-pr

#23566 Fix dependabot examples
  content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
Labels: content, ready to merge, waiting for review, dependabot, code security

#23643 repo sync
  content/developers/webhooks-and-events/webhooks/about-webhooks.md
  content/developers/webhooks-and-events/webhooks/creating-webhooks.md
  data/reusables/webhooks/webhooks-ipv6.md
Labels: automated-reposync-pr

#23645 repo sync
  data/reusables/organizations/outside_collaborator_forks.md
Labels: automated-reposync-pr

#23647 repo sync
  .github/workflows/azure-preview-env-deploy.yml
  .github/workflows/azure-prod-build-deploy.yml
  .github/workflows/azure-staging-build-deploy.yml
  .github/workflows/main-preview-docker-cache.yml
  contributing/videos.md
Labels: automated-reposync-pr

#23560 Fix abrupt sentence ending
  content/actions/creating-actions/dockerfile-support-for-github-actions.md
Labels: content, actions, waiting for review

#23054 Add intros to GraphQL pages
  content/graphql/reference/enums.md
  content/graphql/reference/interfaces.md
  content/graphql/reference/mutations.md
  content/graphql/reference/queries.md
Labels: content, waiting for review, graphql

#23595 Add missing copy button to yaml content
  content/actions/learn-github-actions/variables.md
  data/reusables/actions/actions-vars-context-example-usage.md
Labels: content, actions, waiting for review

#23656 repo sync
  content/README.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning-for-a-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/customizing-code-scanning.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/running-codeql-code-scanning-in-a-container.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  content/code-security/codeql-cli/codeql-cli-reference/about-codeql-packs.md
  content/code-security/codeql-cli/codeql-cli-reference/about-codeql-workspaces.md
  content/code-security/codeql-cli/using-the-codeql-cli/analyzing-databases-with-the-codeql-cli.md
  content/code-security/codeql-cli/using-the-codeql-cli/creating-and-working-with-codeql-packs.md
  content/code-security/codeql-cli/using-the-codeql-cli/creating-codeql-databases.md
  content/code-security/codeql-cli/using-the-codeql-cli/creating-codeql-query-suites.md
  content/code-security/codeql-cli/using-the-codeql-cli/getting-started-with-the-codeql-cli.md
  content/code-security/codeql-cli/using-the-codeql-cli/publishing-and-using-codeql-packs.md
  contributing/content-style-guide.md
  data/reusables/code-scanning/codeql-action-version-ghes.md
  data/reusables/code-scanning/codeql-cli-version-ghes.md
  middleware/context.js
Labels: automated-reposync-pr

#23052 Add intros to GraphQL pages
  content/graphql/reference/input-objects.md
  content/graphql/reference/objects.md
  content/graphql/reference/scalars.md
  content/graphql/reference/unions.md
Labels: content, waiting for review, graphql

#23659 repo sync
  data/reusables/projects/open-item-menu.md
  data/reusables/projects/select-an-item.md
Labels: automated-reposync-pr

#23661 repo sync
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/configuring-code-scanning-for-your-appliance.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/customizing-code-scanning.md
Labels: automated-reposync-pr

#23662 repo sync
  components/lib/get-rest-code-samples.ts
  content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
  content/billing/managing-licenses-for-visual-studio-subscriptions-with-github-enterprise/setting-up-visual-studio-subscriptions-with-github-enterprise.md
Labels: automated-reposync-pr

#23663 repo sync
  assets/images/help/2fa/2fa-switching-methods.png
  assets/images/help/2fa/change-preferred-2fa-method.png
  assets/images/help/2fa/edit-primary-delivery-option.png
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/accessing-github-using-two-factor-authentication.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/changing-two-factor-authentication-delivery-methods-for-your-mobile-device.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/changing-your-preferred-two-factor-authentication-method.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication-recovery-methods.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/index.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/recovering-your-account-if-you-lose-your-2fa-credentials.md
  data/features/2fa-reconfiguration-inline-update.yml
Labels: automated-reposync-pr

#23492 Update contexts.md
  content/actions/learn-github-actions/contexts.md
Labels: content, actions, ready to merge, waiting for review

#23158 Update base64 command to include -i option
  content/actions/deployment/deploying-xcode-applications/installing-an-apple-certificate-on-macos-runners-for-xcode-development.md
Labels: content, actions, ready to merge, waiting for review

#23664 repo sync
  content/get-started/importing-your-projects-to-github/importing-source-code-to-github/about-github-importer.md
  content/get-started/importing-your-projects-to-github/importing-source-code-to-github/adding-locally-hosted-code-to-github.md
  content/get-started/importing-your-projects-to-github/importing-source-code-to-github/importing-a-git-repository-using-the-command-line.md
  content/get-started/importing-your-projects-to-github/importing-source-code-to-github/importing-a-repository-with-github-importer.md
  content/get-started/importing-your-projects-to-github/importing-source-code-to-github/source-code-migration-tools.md
  content/get-started/importing-your-projects-to-github/importing-source-code-to-github/updating-commit-author-attribution-with-github-importer.md
  content/get-started/importing-your-projects-to-github/working-with-subversion-on-github/support-for-subversion-clients.md
  content/get-started/importing-your-projects-to-github/working-with-subversion-on-github/what-are-the-differences-between-subversion-and-git.md
Labels: automated-reposync-pr

#23666 repo sync
  lib/render-content/plugins/rewrite-local-links.js
Labels: automated-reposync-pr

#23567 Fix dependabot example auto-label
  content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
Labels: content, ready to merge, waiting for review, dependabot, code security

#23674 repo sync
  components/search/SearchResults.tsx
Labels: automated-reposync-pr

#23675 repo sync
  contributing/content-style-guide.md
  contributing/images-and-versioning.md
Labels: automated-reposync-pr

#23686 repo sync
  data/reusables/gated-features/code-review-assignment.md
  data/reusables/gated-features/display-names.md
  data/reusables/gated-features/draft-prs.md
Labels: automated-reposync-pr

#23541 Clarify push protection works with secret_scanning.yml
  content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
Labels: content, waiting for review, code security

#23690 repo sync
  package-lock.json
Labels: automated-reposync-pr

#23691 repo sync
  content/issues/planning-and-tracking-with-projects/customizing-views-in-your-project/customizing-the-board-layout.md
  content/issues/planning-and-tracking-with-projects/customizing-views-in-your-project/customizing-the-roadmap-layout.md
  content/issues/planning-and-tracking-with-projects/customizing-views-in-your-project/customizing-the-table-layout.md
  data/features/projects-v2-consistent-sorting.yml
  data/reusables/projects/customize/sort.md
Labels: automated-reposync-pr

#23693 repo sync
  content/README.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/about-codeql-code-scanning-in-your-ci-system.md
  contributing/content-style-guide.md
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  data/reusables/code-scanning/codeql-cli-context-for-third-party-tools.md
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
Labels: automated-reposync-pr

#23697 repo sync
  middleware/dynamic-assets.js
  tests/rendering/dynamic-assets.js
Labels: automated-reposync-pr

#23698 repo sync
  content/rest/overview/endpoints-available-for-fine-grained-personal-access-tokens.md
  content/rest/overview/permissions-required-for-fine-grained-personal-access-tokens.md
Labels: automated-reposync-pr

#23700 repo sync
  content/get-started/customizing-your-github-workflow/exploring-integrations/about-github-marketplace.md
  content/get-started/customizing-your-github-workflow/exploring-integrations/about-integrations.md
  content/get-started/customizing-your-github-workflow/exploring-integrations/about-webhooks.md
  content/get-started/customizing-your-github-workflow/purchasing-and-installing-apps-in-github-marketplace/installing-an-app-in-your-organization.md
  content/get-started/customizing-your-github-workflow/purchasing-and-installing-apps-in-github-marketplace/installing-an-app-in-your-personal-account.md
Labels: automated-reposync-pr

#23701 repo sync
  content/codespaces/managing-your-codespaces/managing-repository-access-for-your-codespaces.md
  content/codespaces/prebuilding-your-codespaces/allowing-a-prebuild-to-access-other-repositories.md
Labels: automated-reposync-pr

#23702 repo sync
  assets/images/help/business-accounts/enterprise-account-settings-tab.png
  assets/images/help/enterprises/enterprise-licensing-tab.png
  assets/images/help/enterprises/ghas-add-committers.png
  assets/images/help/enterprises/ghas-buy-advanced-security-button.png
  assets/images/help/enterprises/ghas-cancel-subscription.png
  assets/images/help/enterprises/ghas-committers-dropdown.png
  assets/images/help/enterprises/ghas-download-report.png
  assets/images/help/enterprises/ghas-manage-committers.png
  assets/images/help/enterprises/your-enterprises-list.png
  assets/images/help/enterprises/your-enterprises.png
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/managing-github-advanced-security-features-for-your-enterprise.md
  content/billing/managing-billing-for-github-advanced-security/about-billing-for-github-advanced-security.md
  content/billing/managing-billing-for-github-advanced-security/index.md
  content/billing/managing-billing-for-github-advanced-security/managing-your-github-advanced-security-licensing.md
  content/billing/managing-billing-for-github-advanced-security/signing-up-for-github-advanced-security.md
  content/billing/managing-billing-for-github-advanced-security/viewing-your-github-advanced-security-usage.md
  content/get-started/learning-about-github/about-github-advanced-security.md
  data/reusables/gated-features/ghas-ghec.md
Labels: automated-reposync-pr

#23708 repo sync
  lib/graphql/static/previews.json
  lib/graphql/static/upcoming-changes.json
Labels: automated-reposync-pr

#23718 repo sync
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghec.json
Labels: automated-reposync-pr

#23721 repo sync
  data/reusables/identity-and-permissions/ip-allow-lists-example-and-restrictions.md
Labels: automated-reposync-pr

#23724 repo sync
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
  content/actions/hosting-your-own-runners/configuring-the-self-hosted-runner-application-as-a-service.md
  content/actions/hosting-your-own-runners/customizing-the-containers-used-by-jobs.md
  content/actions/learn-github-actions/expressions.md
  content/actions/using-containerized-services/creating-postgresql-service-containers.md
  content/actions/using-containerized-services/creating-redis-service-containers.md
  content/actions/using-workflows/events-that-trigger-workflows.md
  content/actions/using-workflows/workflow-commands-for-github-actions.md
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: automated-reposync-pr

#23726 repo sync
  content/code-security/guides.md
  content/code-security/secret-scanning/index.md
  content/code-security/secret-scanning/secret-scanning-patterns.md
  content/code-security/secret-scanning/troubleshooting-secret-scanning.md
  data/learning-tracks/code-security.yml
  data/reusables/secret-scanning/push-protection-older-tokens.md
  data/reusables/secret-scanning/secret-scanning-pattern-pair-matches.md
Labels: automated-reposync-pr

#23728 repo sync
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/about-your-personal-dashboard.md
  content/actions/using-jobs/assigning-permissions-to-jobs.md
  content/actions/using-jobs/setting-default-values-for-jobs.md
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
  data/reusables/actions/jobs/section-assigning-permissions-to-jobs-specific.md
  data/reusables/actions/jobs/section-using-jobs-in-a-workflow-needs.md
  data/reusables/actions/jobs/setting-default-run-value-for-job-example.md
  data/reusables/actions/jobs/setting-default-values-for-jobs-defaults-job-run.md
  data/reusables/actions/jobs/setting-permissions-specific-jobs-example.md
  lib/redirects/static/client-side-rest-api-redirects.json
  lib/rest/static/apps/enabled-for-apps.json
Labels: automated-reposync-pr

#23732 repo sync
  content/get-started/using-github/github-command-palette.md
  content/get-started/using-github/github-mobile.md
  content/get-started/using-github/keyboard-shortcuts.md
  content/get-started/using-github/troubleshooting-connectivity-problems.md
Labels: automated-reposync-pr

#23703 Update troubleshooting-included-usage.md
  content/codespaces/troubleshooting/troubleshooting-included-usage.md
Labels: ready to merge

#23704 Update deleting-a-codespace.md
  content/codespaces/developing-in-codespaces/deleting-a-codespace.md
Labels: ready to merge

#23711 Fix typo: "subscription"
  content/billing/managing-billing-for-github-advanced-security/managing-your-github-advanced-security-licensing.md
Labels: ready to merge

#23733 repo sync
  content/rest/actions/self-hosted-runners.md
  package-lock.json
  package.json
Labels: automated-reposync-pr

#23531 Fixed example to match the text (one folder name)
  content/get-started/using-git/splitting-a-subfolder-out-into-a-new-repository.md
Labels: content, ready to merge, get started

#23509 Update understanding-the-search-syntax.md
  content/search-github/getting-started-with-searching-on-github/understanding-the-search-syntax.md
Labels: content, ready to merge, search-github

#23739 repo sync
  content/developers/overview/managing-deploy-keys.md
  content/developers/webhooks-and-events/events/github-event-types.md
  content/rest/overview/media-types.md
Labels: automated-reposync-pr

#23740 repo sync
  .github/workflows/test.yml
  content/actions/learn-github-actions/usage-limits-billing-and-administration.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/about-campus-experts.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/about-github-campus-experts.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/applying-to-be-a-github-campus-expert.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/index.md
  content/education/guides.md
  data/reusables/actions/change-retention-period-for-artifacts-logs.md
  data/variables/product.yml
  lib/all-products.js
  lib/constants.js
  lib/languages.js
  lib/redirects/precompile.js
  middleware/contextualizers/features.js
  middleware/find-page.js
  next.config.js
  package.json
  script/copy-fixture-data.js
  tests/fixtures/content/get-started/foo/autotitling.md
  tests/fixtures/content/get-started/foo/bar.md
  tests/fixtures/content/get-started/foo/cross-version-linking.md
  tests/fixtures/content/get-started/foo/index.md
  tests/fixtures/content/get-started/index.md
  tests/fixtures/content/get-started/quickstart/hello-world.md
  tests/fixtures/content/get-started/quickstart/index.md
  tests/fixtures/content/index.md
  tests/fixtures/content/search/index.md
  tests/fixtures/data/features/volvo.yml
  tests/fixtures/data/reusables/enterprise_deprecation/deprecation_details.md
  tests/fixtures/data/reusables/enterprise_deprecation/version_was_deprecated.md
  tests/fixtures/data/reusables/enterprise_deprecation/version_will_be_deprecated.md
  tests/fixtures/data/reusables/policies/translation.md
  tests/fixtures/data/ui.yml
  tests/fixtures/data/variables/product.yml
  tests/fixtures/data/variables/release_candidate.yml
  tests/rendering-fixtures/footer.js
  tests/rendering-fixtures/internal-links.js
Labels: automated-reposync-pr

#23742 repo sync
  lib/find-page.js
  tests/fixtures/content/get-started/foo/autotitling.md
  tests/rendering-fixtures/internal-links.js
Labels: automated-reposync-pr

#23744 repo sync
  components/article/ArticlePage.tsx
  components/landing/ProductLanding.tsx
  components/landing/TocLanding.tsx
Labels: automated-reposync-pr

#23650 Remove obsolete `workflow_dispatch` trigger from "cleanup caches" example
  content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
Labels: content, actions, waiting for review

#23750 repo sync
  data/release-notes/enterprise-server/3-6/0.yml
Labels: automated-reposync-pr

#23753 repo sync
  content/codespaces/prebuilding-your-codespaces/configuring-prebuilds.md
Labels: automated-reposync-pr

#23755 repo sync
  content/actions/learn-github-actions/expressions.md
Labels: automated-reposync-pr

#23756 repo sync
  content/codespaces/developing-in-codespaces/opening-an-existing-codespace.md
Labels: automated-reposync-pr

#23525 Update form-schema required key information
  data/reusables/form-schema/required-key.md
Labels: content, ready to merge, communities

#23758 repo sync
  content/get-started/learning-about-github/about-github-advanced-security.md
  content/get-started/learning-about-github/access-permissions-on-github.md
  content/get-started/learning-about-github/faq-about-changes-to-githubs-plans.md
  content/get-started/learning-about-github/github-language-support.md
  content/get-started/learning-about-github/githubs-products.md
  content/get-started/learning-about-github/types-of-github-accounts.md
Labels: automated-reposync-pr

#23760 repo sync
  content/billing/managing-your-github-billing-settings/about-billing-on-github.md
  content/developers/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps.md
  content/developers/apps/building-oauth-apps/authorizing-oauth-apps.md
  content/developers/github-marketplace/listing-an-app-on-github-marketplace/writing-a-listing-description-for-your-app.md
  content/packages/working-with-a-github-packages-registry/working-with-the-npm-registry.md
  content/sponsors/getting-started-with-github-sponsors/about-github-sponsors.md
  content/sponsors/sponsoring-open-source-contributors/sponsoring-an-open-source-contributor.md
  data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  data/graphql/ghec/graphql_upcoming_changes.public.yml
  data/graphql/graphql_upcoming_changes.public.yml
  data/reusables/sponsors/paypal-deprecation.md
  lib/graphql/static/changelog.json
  lib/graphql/static/upcoming-changes.json
Labels: automated-reposync-pr

#23762 repo sync
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  content/organizations/managing-user-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
  data/features/dependabot-alerts-permissions-write-maintain.yml
Labels: automated-reposync-pr

#23763 repo sync
  .dockerignore
  data/variables/release_candidate.yml
  lib/render-with-fallback.js
  middleware/contextualizers/ghes-release-notes.js
  tests/fixtures/data/variables/release_candidate.yml
Labels: automated-reposync-pr

#23765 repo sync
  tests/README.md
  tests/fixtures/README.md
Labels: automated-reposync-pr

#23766 repo sync
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-github-actions-in-your-enterprise.md
  content/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot.md
  content/billing/managing-billing-for-your-github-account/one-time-payments-for-customers-in-india.md
  content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  content/code-security/dependabot/dependabot-security-updates/about-dependabot-security-updates.md
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches.md
Labels: automated-reposync-pr

#23213 Update about-code-owners.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
Labels: content, waiting for review, repositories, needs SME

#23767 repo sync
  content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
  content/code-security/dependabot/working-with-dependabot/configuring-access-to-private-registries-for-dependabot.md
  content/code-security/dependabot/working-with-dependabot/index.md
  content/code-security/dependabot/working-with-dependabot/managing-encrypted-secrets-for-dependabot.md
  content/code-security/dependabot/working-with-dependabot/removing-dependabot-access-to-public-registries.md
  content/code-security/guides.md
  content/code-security/index.md
  content/code-security/secret-scanning/about-secret-scanning.md
  content/code-security/supply-chain-security/end-to-end-supply-chain/securing-code.md
  content/rest/dependabot/secrets.md
  data/learning-tracks/code-security.yml
  data/reusables/dependabot/dependabot-updates-registries-options.md
  data/reusables/dependabot/dependabot-updates-registries.md
Labels: automated-reposync-pr

#23769 repo sync
  components/rest/RestOperation.tsx
  components/search/SearchResults.module.scss
  components/search/SearchResults.tsx
  data/features/api-date-versioning.yml
  data/release-notes/enterprise-server/3-8/0-rc1.yml
  data/ui.yml
  tests/fixtures/data/ui.yml
Labels: automated-reposync-pr

#23752 Corrected code block language
  content/actions/using-workflows/creating-starter-workflows-for-your-organization.md
Labels: content, actions, waiting for review

#23770 repo sync
  components/rest/RestStatusCodes.tsx
  content/developers/apps/managing-github-apps/installing-github-apps.md
Labels: automated-reposync-pr

#23736 Added missing parameters to GitHub app manifest.
  content/developers/apps/building-github-apps/creating-a-github-app-from-a-manifest.md
Labels: content, ready to merge, developers

#23573 Remove reusable workflow limitation when used with composite action
  content/actions/using-workflows/reusing-workflows.md
Labels: content, actions, waiting for review

#23783 repo sync
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-email-preferences/remembering-your-github-username-or-email.md
  content/billing/managing-your-github-billing-settings/setting-your-billing-email.md
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/common-validation-errors-when-creating-issue-forms.md
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-githubs-form-schema.md
  content/get-started/getting-started-with-git/associating-text-editors-with-git.md
  content/get-started/getting-started-with-git/managing-remote-repositories.md
  content/get-started/onboarding/getting-started-with-your-github-account.md
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/quickstart-for-writing-on-github.md
  content/repositories/working-with-files/using-files/working-with-non-code-files.md
  data/reusables/dotcom_billing/org-billing-perms.md
  tests/rendering/server.js
Labels: automated-reposync-pr

#23785 repo sync
  content/admin/configuration/configuring-github-connect/enabling-server-statistics-for-your-enterprise.md
  content/admin/configuration/configuring-your-enterprise/configuring-email-for-notifications.md
Labels: automated-reposync-pr

#23786 repo sync
  components/ui/Picker/Fields.tsx
Labels: automated-reposync-pr

#23787 repo sync
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/about-codeql-code-scanning-in-your-ci-system.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/index.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/migrating-from-the-codeql-runner-to-codeql-cli.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/running-codeql-runner-in-your-ci-system.md
  content/code-security/guides.md
  data/reusables/code-scanning/codeql-runner-analyze-example.md
  data/reusables/code-scanning/deprecation-codeql-runner.md
Labels: automated-reposync-pr

#23790 repo sync
  assets/images/help/server-statistics/export-button.png
  assets/images/help/server-statistics/server-statistics-enable-disable-options.png
  content/admin/configuration/configuring-github-connect/enabling-server-statistics-for-your-enterprise.md
  data/reusables/server-statistics/csv-download.md
Labels: triage, automated-reposync-pr

#23791 repo sync
  assets/images/help/pull_requests/clock-icon-in-pull-request-list.png
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/merging-a-pull-request-with-a-merge-queue.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue.md
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
  content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  data/reusables/gated-features/merge-queue.md
  data/reusables/pull_requests/merge-queue-beta.md
Labels: automated-reposync-pr

#23792 repo sync
  content/developers/apps/building-oauth-apps/authorizing-oauth-apps.md
Labels: automated-reposync-pr

#23793 repo sync
  .github/workflows/optimize-images.yml
  assets/images/azure/azure-aad-app-storage-ids.png
  assets/images/azure/azure-federated-credential.png
  assets/images/azure/azure-resources-search.png
  assets/images/azure/azure-storage-containers.png
  assets/images/azure/azure-storage-permissions.png
  assets/images/azure/azure-storage-shared-access-tokens.png
  assets/images/azure/github-ae-azure-portal-form.png
  assets/images/azure/github-ae-azure-portal-type-filter.png
  assets/images/help/settings/actions-workflow-permissions-enterprise-with-default-restrictive.png
  assets/images/help/settings/actions-workflow-permissions-organization-with-default-restrictive.png
  assets/images/help/settings/actions-workflow-permissions-repository-with-default-restrictive.png
  content/actions/security-guides/automatic-token-authentication.md
  content/admin/configuration/configuring-your-enterprise/deploying-github-ae.md
  content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-azure-blob-storage.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-github-actions-in-your-enterprise.md
  content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
Labels: automated-reposync-pr

#23794 repo sync
  data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  data/graphql/ghec/graphql_upcoming_changes.public.yml
  data/graphql/graphql_upcoming_changes.public.yml
  lib/graphql/static/changelog.json
  lib/graphql/static/upcoming-changes.json
  script/create-subject.js
  src/README.md
Labels: automated-reposync-pr

#23796 repo sync
  content/organizations/collaborating-with-your-team/about-team-discussions.md
  content/organizations/collaborating-with-your-team/creating-a-team-discussion.md
  content/organizations/collaborating-with-your-team/editing-or-deleting-a-team-discussion.md
  content/organizations/collaborating-with-your-team/index.md
  content/organizations/collaborating-with-your-team/pinning-a-team-discussion.md
  content/organizations/organizing-members-into-teams/disabling-team-discussions-for-your-organization.md
  content/rest/teams/discussion-comments.md
  content/rest/teams/discussions.md
  data/features/team-discussions-migration.yml
  data/reusables/organizations/team-discussions-migration.md
  src/README.md
Labels: automated-reposync-pr

#23797 repo sync
  content/organizations/managing-peoples-access-to-your-organization-with-roles/about-custom-repository-roles.md
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-branches.md
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/configuring-tag-protection-rules.md
  data/features/edit-repository-rules.yml
  data/reusables/pull_requests/required-reviews-for-prs-summary.md
Labels: triage, automated-reposync-pr

#23798 repo sync
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: automated-reposync-pr

#23799 repo sync
  package-lock.json
  package.json
Labels: automated-reposync-pr

#23800 repo sync
  .github/actions-scripts/rendered-content-link-checker.js
Labels: automated-reposync-pr

#22988 Add note to use bash shell on Windows
  content/actions/security-guides/encrypted-secrets.md
Labels: content, actions, ready to merge, waiting for review

#23774 chore: remove typo
  content/actions/using-workflows/sharing-workflows-secrets-and-runners-with-your-organization.md
Labels: ready to merge

#23803 repo sync
  components/hooks/useNumberFormatter.ts
  components/search/SearchResults.tsx
  components/search/index.tsx
Labels: automated-reposync-pr

#23780 Reordered sections
  content/billing/managing-your-license-for-github-enterprise/downloading-your-license-for-github-enterprise.md
Labels: triage, enterprise

#23806 repo sync
  content/support/learning-about-github-support/about-github-premium-support.md
  content/support/learning-about-github-support/about-github-support.md
Labels: automated-reposync-pr

#23807 repo sync
  data/reusables/dependabot/configuration-options.md
Labels: automated-reposync-pr

#23809 repo sync
  assets/images/help/organizations/security-and-analysis-disable-or-enable-all-fpt.png
  assets/images/help/organizations/security-and-analysis-disable-or-enable-all-ghas-ghec.png
  assets/images/help/security/private-vulnerability-reporting-enable-or-disable-org-new-repos.png
  assets/images/help/security/private-vulnerability-reporting-enable-or-disable-org.png
  assets/images/help/security/private-vulnerability-reporting-enable-or-disable-repo.png
  assets/images/help/security/private-vulnerability-reporting-enable-or-disable.png
  assets/images/help/security/report-a-vulnerability-button.png
  content/code-security/guides.md
  content/code-security/security-advisories/repository-security-advisories/configuring-private-vulnerability-reporting-for-a-repository.md
  content/code-security/security-advisories/repository-security-advisories/configuring-private-vulnerability-reporting-for-an-organization.md
  content/code-security/security-advisories/repository-security-advisories/index.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
  data/learning-tracks/code-security.yml
  data/reusables/security-advisory/private-vulnerability-reporting-benefits.md
  data/reusables/security-advisory/private-vulnerability-reporting-security-researcher.md
Labels: automated-reposync-pr

#23811 repo sync
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-saml-single-sign-on-for-enterprise-managed-users.md
  content/communities/setting-up-your-project-for-healthy-contributions/adding-a-code-of-conduct-to-your-project.md
  content/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors.md
  content/rest/teams/discussions.md
Labels: automated-reposync-pr

#23813 repo sync
  content/authentication/troubleshooting-commit-signature-verification/checking-your-commit-and-tag-signature-verification-status.md
  content/authentication/troubleshooting-commit-signature-verification/using-a-verified-email-address-in-your-gpg-key.md
  content/authentication/troubleshooting-ssh/deleted-or-missing-ssh-keys.md
  content/authentication/troubleshooting-ssh/error-bad-file-number.md
  content/authentication/troubleshooting-ssh/error-key-already-in-use.md
  content/authentication/troubleshooting-ssh/error-permission-denied-publickey.md
  content/authentication/troubleshooting-ssh/error-permission-to-userrepo-denied-to-userother-repo.md
  content/authentication/troubleshooting-ssh/error-ssh-add-illegal-option----k.md
  content/authentication/troubleshooting-ssh/error-unknown-key-type.md
  content/authentication/troubleshooting-ssh/error-were-doing-an-ssh-key-audit.md
  content/authentication/troubleshooting-ssh/recovering-your-ssh-key-passphrase.md
  content/authentication/troubleshooting-ssh/using-ssh-over-the-https-port.md
Labels: automated-reposync-pr

#23817 repo sync
  .github/workflows/first-responder-docs-content.yml
Labels: automated-reposync-pr

#23818 repo sync
  content/get-started/signing-up-for-github/verifying-your-email-address.md
  content/organizations/managing-membership-in-your-organization/inviting-users-to-join-your-organization.md
Labels: automated-reposync-pr

#23819 repo sync
  content/support/learning-about-github-support/about-github-premium-support.md
  content/support/learning-about-github-support/about-github-support.md
Labels: automated-reposync-pr

#23820 repo sync
  content/organizations/organizing-members-into-teams/synchronizing-a-team-with-an-identity-provider-group.md
Labels: automated-reposync-pr

#23822 repo sync
  components/article/ArticlePage.tsx
  components/context/ArticleContext.tsx
  components/context/ProductLandingContext.tsx
  components/landing/LandingHero.tsx
  content/index.md
  contributing/videos.md
  data/allowed-topics.js
  data/ui.yml
  lib/frontmatter.js
  package-lock.json
  tests/fixtures/content/get-started/index.md
  tests/fixtures/content/get-started/video-transcripts/index.md
  tests/fixtures/content/get-started/video-transcripts/transcript--my-awesome-video.md
  tests/fixtures/data/ui.yml
  tests/linting/lint-files.js
  tests/rendering-fixtures/video-transcripts.js
Labels: automated-reposync-pr

#23826 repo sync
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: automated-reposync-pr

#23829 repo sync
  assets/images/help/projects-v2/edit-single-select-color.png
  assets/images/help/projects-v2/edit-single-select.png
  content/issues/planning-and-tracking-with-projects/understanding-fields/about-single-select-fields.md
  data/features/projects-v2-colorful-selects.yml
Labels: automated-reposync-pr

#23832 repo sync
  data/reusables/support/premium-support-features.md
Labels: automated-reposync-pr

#23833 repo sync
  assets/images/help/security/security-advisories-suggest-improvement-reason.png
  assets/images/help/security/security-advisory-drop-down-request-cve.png
  assets/images/help/security/security-advisory-package-name.png
  assets/images/help/security/security-advisory-request-cve-button.png
  assets/images/help/security/security-advisory-severity.png
  assets/images/help/security/security-policy-tab.png
  assets/images/help/security/start-setup-security-policy-button.png
  assets/images/help/security/suggest-improvements-to-advisory-on-github-com.png
  assets/images/help/security/suggest-improvements-to-advisory.png
  content/code-security/getting-started/adding-a-security-policy-to-your-repository.md
  content/code-security/security-advisories/global-security-advisories/editing-security-advisories-in-the-github-advisory-database.md
  content/code-security/security-advisories/guidance-on-reporting-and-writing/best-practices-for-writing-repository-security-advisories.md
  content/code-security/security-advisories/repository-security-advisories/publishing-a-repository-security-advisory.md
  data/reusables/repositories/security-advisory-edit-severity.md
Labels: automated-reposync-pr

#23834 repo sync
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
Labels: automated-reposync-pr

#23835 repo sync
  assets/images/help/security/actions-new-workflow-button.png
  assets/images/help/security/actions-workflows-documentation.png
  assets/images/help/security/actions-workflows-security-section.png
  assets/images/help/security/add-collaborator-field.png
  assets/images/help/security/advanced-code-scanning-setup.png
  assets/images/help/security/advisories-tab.png
  assets/images/help/security/advisory-database-dependabot-alerts-filters.png
  assets/images/help/security/advisory-database-dependabot-alerts.png
  assets/images/help/security/advisory-database-dropdown-filters.png
  assets/images/help/security/default-code-scanning-setup.png
  assets/images/help/security/enable-codeql-default-setup.png
  assets/images/help/security/overview-set-up-code-scanning.png
  assets/images/help/security/security-advisory-add-collaborator-button.png
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning-for-a-repository.md
  content/code-security/security-advisories/global-security-advisories/browsing-security-advisories-in-the-github-advisory-database.md
  content/code-security/security-advisories/repository-security-advisories/adding-a-collaborator-to-a-repository-security-advisory.md
  data/reusables/repositories/sidebar-advisories.md
Labels: automated-reposync-pr

#23837 repo sync
  content/desktop/contributing-and-collaborating-using-github-desktop/adding-and-cloning-repositories/cloning-and-forking-repositories-from-github-desktop.md
  content/get-started/quickstart/fork-a-repo.md
  data/reusables/desktop/forking-a-repo.md
Labels: automated-reposync-pr

#23839 repo sync
  content/admin/identity-and-access-management/managing-iam-for-your-enterprise/about-authentication-for-your-enterprise.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  data/release-notes/enterprise-server/3-8/0-rc1.yml
Labels: automated-reposync-pr

#23840 repo sync
  data/release-notes/enterprise-server/3-8/0-rc1.yml
Labels: automated-reposync-pr

#23843 repo sync
  assets/images/bad-screenshot-example.png
  assets/images/good-screenshot-example.png
  assets/images/help/billing/ghas-orgs-list-enterprise-dotcom.png
  assets/images/help/enterprises/enterprise-licensing-tab-ghas-no-seats.png
  assets/images/help/enterprises/enterprise-licensing-tab-ghas.png
  assets/images/octicons/search-16.svg
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
  data/reusables/secret-scanning/secret-list-private-push-protection.md
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghec.json
Labels: automated-reposync-pr

#23846 repo sync
  .github/workflows/automerge-dependencies.yml
  .github/workflows/azure-preview-env-deploy.yml
  .github/workflows/azure-prod-build-deploy.yml
  .github/workflows/azure-staging-build-deploy.yml
  .github/workflows/check-for-spammy-issues.yml
  .github/workflows/confirm-internal-staff-work-in-docs.yml
  .github/workflows/copy-api-issue-to-internal.yml
  .github/workflows/first-responder-docs-content.yml
  .github/workflows/hubber-contribution-help.yml
  .github/workflows/merged-notification.yml
  .github/workflows/move-existing-issues-to-the-correct-repo.yml
  .github/workflows/move-new-issues-to-correct-docs-repo.yml
  .github/workflows/move-reopened-issues-to-triage.yaml
  .github/workflows/notify-when-maintainers-cannot-edit.yaml
  .github/workflows/os-ready-for-review.yml
  .github/workflows/repo-sync-stalls.yml
  .github/workflows/repo-sync.yml
  .github/workflows/sync-search-elasticsearch.yml
  .github/workflows/test.yml
  .github/workflows/transfer-api-issue-to-openapi.yml
  .github/workflows/triage-issue-comments.yml
  .github/workflows/triage-unallowed-contributions.yml
  components/page-footer/SmallFooter.tsx
Labels: automated-reposync-pr

#23847 repo sync
  .github/workflows/content-changes-table-comment.yml
  .github/workflows/needs-sme-workflow.yml
  .github/workflows/notify-about-deployment.yml
  .github/workflows/site-policy-reminder.yml
  components/page-footer/SmallFooter.tsx
Labels: automated-reposync-pr

#23849 repo sync
  .github/workflows/triage-unallowed-contributions.yml
  .github/workflows/update-graphql-files.yml
  Dockerfile
  content/graphql/README.md
  data/graphql/README.md
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  package-lock.json
  package.json
  pages/[versionId]/graphql/overview/breaking-changes.tsx
  pages/[versionId]/graphql/overview/changelog.tsx
  pages/[versionId]/graphql/overview/schema-previews.tsx
  pages/[versionId]/graphql/reference/[page].tsx
  script/enterprise-server-deprecations/remove-static-files.js
  script/enterprise-server-releases/create-graphql-files.js
  src/graphql/README.md
  src/graphql/data/changelog.json
  src/graphql/data/previews.json
  src/graphql/data/schema-dotcom.json
  src/graphql/data/schema-ghae.json
  src/graphql/data/schema-ghec.json
  src/graphql/data/schema-ghes-3.4.json
  src/graphql/data/schema-ghes-3.5.json
  src/graphql/data/schema-ghes-3.6.json
  src/graphql/data/schema-ghes-3.7.json
  src/graphql/data/schema-ghes-3.8.json
  src/graphql/data/upcoming-changes.json
  src/graphql/lib/index.js
  src/graphql/lib/non-schema-scalars.json
  src/graphql/lib/types.json
  src/graphql/lib/validator.js
  src/graphql/scripts/README.md
  src/graphql/scripts/build-changelog.js
  src/graphql/scripts/update-files.js
  src/graphql/scripts/utils/data-filenames.json
  src/graphql/scripts/utils/process-previews.js
  src/graphql/scripts/utils/process-schemas.js
  src/graphql/scripts/utils/process-upcoming-changes.js
  src/graphql/scripts/utils/schema-helpers.js
  tests/content/graphql.js
  tests/graphql/build-changelog-test.js
  tests/unit/graphql.js
Labels: automated-reposync-pr

#23812 Remove confusing folder from example
  content/actions/learn-github-actions/variables.md
Labels: content, actions, ready to merge, waiting for review

#23523 corrected Organization SP SSO SAML URL
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/saml-configuration-reference.md
Labels: content, enterprise, waiting for review

#23866 001
  content/actions/learn-github-actions/variables.md
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/saml-configuration-reference.md
Labels: triage

#23868 repo sync
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/using-the-dependency-submission-api.md
Labels: automated-reposync-pr

#23870 repo sync
  assets/images/help/command-palette/command-palette-command-mode.png
  assets/images/help/support/account-field.png
  content/get-started/using-github/github-command-palette.md
  data/reusables/repositories/anyone-can-view-anonymized-url.md
  data/reusables/support/submit-a-ticket.md
Labels: automated-reposync-pr

#23876 repo sync
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
  content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
Labels: automated-reposync-pr

#23879 repo sync
  .github/workflows/notify-about-deployment.yml
  .github/workflows/purge-fastly.yml
  .github/workflows/sync-search-elasticsearch.yml
Labels: automated-reposync-pr

#23880 repo sync
  content/copilot/troubleshooting-github-copilot/index.md
  content/copilot/troubleshooting-github-copilot/troubleshooting-common-issues-with-github-copilot.md
Labels: automated-reposync-pr

#23881 repo sync
  content/get-started/importing-your-projects-to-github/importing-source-code-to-github/importing-a-repository-with-github-importer.md
Labels: automated-reposync-pr

#23885 repo sync
  content/actions/security-guides/automatic-token-authentication.md
  content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  content/code-security/codeql-cli/using-the-codeql-cli/getting-started-with-the-codeql-cli.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/using-the-dependency-submission-api.md
  content/organizations/managing-user-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
  data/reusables/actions/supported-github-runners.md
  data/reusables/dependabot/supported-package-managers.md
  data/reusables/github-ae/saml-idp-table.md
  data/reusables/supported-languages/php.md
  data/reusables/supported-languages/ruby.md
  data/reusables/supported-languages/scala.md
Labels: automated-reposync-pr

#23810 Update typo on Visual Studio Code docs
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/about-using-visual-studio-code-with-github-classroom.md
Labels: content, ready to merge, education

#23886 repo sync
  components/DefaultLayout.tsx
  components/article/ArticleGridLayout.tsx
  components/article/ArticlePage.tsx
  components/landing/ProductLanding.tsx
  components/landing/TocLanding.tsx
  components/page-header/Breadcrumbs.tsx
  components/page-header/Header.tsx
  components/page-header/HeaderNotifications.tsx
  components/page-header/LanguagePicker.tsx
  components/page-header/VersionPicker.tsx
  components/rest/RestCodeSamples.module.scss
  components/sidebar/AllProductsLink.tsx
  components/sidebar/ApiVersionPicker.tsx
  components/sidebar/SidebarNav.tsx
  components/sidebar/SidebarProduct.module.scss
  components/sidebar/SidebarProduct.tsx
  tests/browser/browser.js
  tests/rendering/breadcrumbs.js
  tests/rendering/sidebar.js
  tests/translations/frame.js
Labels: automated-reposync-pr

#23888 repo sync
  contributing/content-style-guide.md
Labels: automated-reposync-pr

#23757 Add missing copy property to code blocks
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/customizing-code-scanning.md
Labels: content, ready to merge, code security

#23548 Update importing-a-git-repository-using-the-command-line.md
  content/get-started/importing-your-projects-to-github/importing-source-code-to-github/importing-an-external-git-repository-using-the-command-line.md
  content/get-started/importing-your-projects-to-github/importing-source-code-to-github/index.md
Labels: content, ready to merge, waiting for review, get started

#23897 repo sync
  components/page-footer/SmallFooter.tsx
Labels: automated-reposync-pr

#23900 repo sync
  package.json
Labels: automated-reposync-pr

#23901 repo sync
  content/developers/webhooks-and-events/webhooks/receiving-webhooks-with-the-github-cli.md
Labels: automated-reposync-pr

#23859 Workflow job execution doc edited to clarify that 'env' context is not available in job 'if' conditional
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/changing-your-github-username.md
  content/actions/using-jobs/using-conditions-to-control-job-execution.md
Labels: content, actions, waiting for review

#23915 repo sync
  content/rest/overview/endpoints-available-for-fine-grained-personal-access-tokens.md
  content/rest/overview/permissions-required-for-fine-grained-personal-access-tokens.md
Labels: automated-reposync-pr

#23916 repo sync
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms.md
Labels: automated-reposync-pr

#23918 repo sync
  content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
Labels: automated-reposync-pr

#23919 repo sync
  components/ui/MiniTocs/MiniTocs.tsx
Labels: automated-reposync-pr

#23920 repo sync
  content/admin/all-releases.md
  content/get-started/writing-on-github/working-with-advanced-formatting/attaching-files.md
  data/features/pat-v2-enterprise.yml
  data/features/pat-v2.yml
  script/search/index-elasticsearch.js
  script/search/parse-page-sections-into-records.js
  tests/content/fixtures/search-indexes/github-docs-dotcom-en-records.json
  tests/content/fixtures/search-indexes/github-docs-dotcom-ja-records.json
  tests/content/fixtures/search-indexes/github-docs-ghae-en-records.json
  tests/content/fixtures/search-indexes/github-docs-ghae-ja-records.json
  tests/unit/search/parse-page-sections-into-records.js
Labels: automated-reposync-pr

#23921 repo sync
  .github/workflows/orphaned-assets-check.yml
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-github-copilot-in-your-enterprise.md
  content/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot.md
  content/billing/managing-billing-for-github-copilot/index.md
  content/billing/managing-billing-for-github-copilot/managing-your-github-copilot-subscription-for-your-organization-or-enterprise.md
  content/billing/managing-billing-for-github-copilot/managing-your-github-copilot-subscription-for-your-personal-account.md
  content/billing/managing-billing-for-github-copilot/viewing-your-github-copilot-usage.md
  content/copilot/configuring-github-copilot/configuring-github-copilot-settings-in-your-organization.md
  content/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-a-jetbrains-ide.md
  content/copilot/overview-of-github-copilot/about-github-copilot-for-business.md
  content/copilot/overview-of-github-copilot/about-github-copilot-for-individuals.md
  content/copilot/overview-of-github-copilot/enabling-and-setting-up-github-copilot-for-business.md
  content/copilot/overview-of-github-copilot/index.md
  content/copilot/quickstart.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-students/about-github-global-campus-for-students.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-teachers/about-github-global-campus-for-teachers.md
  content/site-policy/content-removal-policies/submitting-content-removal-requests.md
  content/site-policy/github-company-policies/github-statement-against-modern-slavery-and-child-labor.md
  content/site-policy/github-terms/github-community-guidelines.md
  content/site-policy/privacy-policies/github-privacy-statement.md
  data/reusables/copilot/about-copilot.md
  data/reusables/copilot/differences-cfi-cfb-table.md
  data/reusables/copilot/disable-copilot-organization.md
  data/reusables/copilot/enabling-github-copilot-for-business.md
  data/reusables/copilot/signup-procedure-enterprise.md
  data/reusables/copilot/signup-procedure-org.md
  data/reusables/copilot/telemetry-setting-org.md
  data/reusables/gated-features/copilot-billing.md
  data/reusables/gated-features/copilot.md
  lib/page-data.js
  lib/update-internal-links.js
  package-lock.json
  package.json
  script/find-orphaned-assets.js
  script/helpers/walk-files.js
  script/update-internal-links.js
Labels: automated-reposync-pr

#23922 repo sync
  content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
Labels: automated-reposync-pr

#23788 Update adding-outside-collaborators-to-repositories-in-your-organizat…
  data/reusables/organizations/outside-collaborators-use-seats.md
Labels: content, ready to merge, organizations

#23771 Replaced filter-branch with filter-repo
  content/authentication/keeping-your-account-and-data-secure/removing-sensitive-data-from-a-repository.md
  content/repositories/working-with-files/managing-large-files/about-large-files-on-github.md
  content/repositories/working-with-files/managing-large-files/moving-a-file-in-your-repository-to-git-large-file-storage.md
  content/repositories/working-with-files/managing-large-files/removing-files-from-git-large-file-storage.md
Labels: content, ready to merge, authentication, repositories

#23928 repo sync
  components/ui/MiniTocs/MiniTocs.tsx
  content/actions/index.md
  content/github-cli/github-cli/quickstart.md
  contributing/videos.md
  tests/fixtures/article-with-videos.md
  tests/unit/page.js
Labels: automated-reposync-pr

#23932 repo sync
  components/Search.tsx
Labels: automated-reposync-pr
