Repository github/docs, pull requests merged in 2023-12, with the labels that each got.

#30139 fix: Clarifying sources that support Terraform Dependency Updates
  content/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates.md
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
Labels: content, triage, code security

#29297 Update adding-outside-collaborators-to-repositories-in-your-organizat…
  content/organizations/managing-user-access-to-your-organizations-repositories/managing-outside-collaborators/adding-outside-collaborators-to-repositories-in-your-organization.md
Labels: content, enterprise, waiting for review, organizations

#30277 Update searching-issues-and-pull-requests.md
  content/search-github/searching-on-github/searching-issues-and-pull-requests.md
Labels: content, waiting for review, search-github

#30352 Fix Runner_ and Worker_ prefixes in self-hosted runner docs
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/monitoring-and-troubleshooting-self-hosted-runners.md
Labels: content, actions, waiting for review

#30379 fix: remove duplicate word from `secret-scanning-configure-notifications.md`
  data/reusables/secret-scanning/secret-scanning-configure-notifications.md
Labels: content, ready to merge

#30384 Fix typo
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: ready to merge

#30039 Add Symlinks Resolution and Source File Clarification to SARIF Reports
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
Labels: content, waiting for review, code security

#30383 Update about-github-copilot-enterprise.md
  content/copilot/github-copilot-enterprise/overview/about-github-copilot-enterprise.md
Labels: waiting for review, copilot

#30442 Update improve-existing-docs.yaml
  .github/ISSUE_TEMPLATE/improve-existing-docs.yaml
Labels: ready to merge

#30444 Update about-teams.md
  content/organizations/organizing-members-into-teams/about-teams.md
Labels: content, waiting for review, organizations

#30450 Update generating-a-json-web-token-jwt-for-a-github-app.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/generating-a-json-web-token-jwt-for-a-github-app.md
Labels: triage, ready to merge

#30554 Update generating-a-json-web-token-jwt-for-a-github-app.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/generating-a-json-web-token-jwt-for-a-github-app.md
Labels: content, ready to merge, github apps

#30492 Update adding-your-project-to-a-repository.md
  content/issues/planning-and-tracking-with-projects/managing-your-project/adding-your-project-to-a-repository.md
Labels: content, waiting for review, issues

#30443 Update adding-outside-collaborators-to-repositories-in-your-organizat…
  content/organizations/managing-user-access-to-your-organizations-repositories/managing-outside-collaborators/adding-outside-collaborators-to-repositories-in-your-organization.md
Labels: content, waiting for review, organizations

#30177 Update configuring-the-referrer-policy-for-your-enterprise.md
  content/admin/configuration/hardening-security-for-your-enterprise/configuring-the-referrer-policy-for-your-enterprise.md
Labels: content, enterprise, waiting for review

#30564 Removed duplicate word in the pages docs
  content/pages/getting-started-with-github-pages/about-github-pages.md
Labels: content, ready to merge

#30585 Fixed Contributing Guide link (top link) within /contributing/README.md
  contributing/README.md
Labels: content, contributing docs, waiting for review

#30593 add note for installing the cli extension
  content/copilot/github-copilot-in-the-cli/enabling-github-copilot-in-the-cli.md
Labels: content, waiting for review, github cli

#30637 Add audit log troubleshooting note
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
Labels: content, enterprise, waiting for review, administering a repo

#30677 Update about-github-hosted-runners.md
  content/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners.md
Labels: content, actions, waiting for review

#30597 feat: Adding screenshot
  assets/images/help/pull_requests/allow-edits-and-access-by-maintainers.png
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/allowing-changes-to-a-pull-request-branch-created-from-a-fork.md
Labels: content, waiting for review, pull requests

#30713 fixes(typo): adds closing quote
  content/issues/planning-and-tracking-with-projects/managing-items-in-your-project/adding-items-to-your-project.md
Labels: content, ready to merge

#30750 Update SPM url in building-and-testing-swift.md
  content/actions/automating-builds-and-tests/building-and-testing-swift.md
Labels: triage

#30679 github app: generate jwt with powershell
  content/apps/creating-github-apps/authenticating-with-a-github-app/generating-a-json-web-token-jwt-for-a-github-app.md
Labels: content, ready to merge, waiting for review, github apps

#30241 Update outdated CLI edit releases information
  content/repositories/releasing-projects-on-github/managing-releases-in-a-repository.md
Labels: content, waiting for review, github cli
