Repository github/docs, pull requests merged in 2023-01, with the labels that each got.

#22908 fix: minor typo in docs to publish actions
  content/actions/creating-actions/publishing-actions-in-github-marketplace.md
Labels: content, actions, waiting for review

#22875 Adjust language in global security advisories intro
  content/code-security/security-advisories/global-security-advisories/about-global-security-advisories.md
Labels: content, code security

#22872 change fromJson to fromJSON
  content/actions/learn-github-actions/expressions.md
Labels: content, actions

#22383 document some limitations on repo topics
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/classifying-your-repository-with-topics.md
Labels: content, ready to merge, repositories, Merge-after-freeze

#22666 Fix: Remove Unnecessary Comma in Private Forks Documentation
  data/reusables/actions/private-repository-forks-overview.md
Labels: ready to merge, more-information-needed

#22676 Fix branch restriction feature docs
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches.md
  content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
Labels: content, ready to merge, repositories, Merge-after-freeze

#22738 knlkshyp-patch-1: Change "close repo" to "archive repo" #22508
  assets/images/help/repository/repo-delete.png
Labels: content, ready to merge, repositories, Merge-after-freeze

#22740 "Viewing large files in pull requests" section is not correct #21798
  content/repositories/working-with-files/managing-large-files/collaboration-with-git-large-file-storage.md
Labels: content, ready to merge, repositories, Merge-after-freeze

#22743 docs: update autoscaling-with-self-hosted-runners.md
  content/actions/hosting-your-own-runners/autoscaling-with-self-hosted-runners.md
Labels: content, actions, ready to merge, Merge-after-freeze

#22744 Update connecting-to-a-private-network.md
  content/actions/using-github-hosted-runners/connecting-to-a-private-network.md
Labels: content, actions, ready to merge, Merge-after-freeze

#22771 Correct path to known-hosts file.
  content/authentication/keeping-your-account-and-data-secure/githubs-ssh-key-fingerprints.md
Labels: content, ready to merge, authentication, Merge-after-freeze

#22792 Fixed typo on GraphQL name
  content/graphql/guides/forming-calls-with-graphql.md
Labels: content, ready to merge, graphql, Merge-after-freeze

#22811 Update Debian Stretch OS to Buster
  content/admin/overview/system-overview.md
Labels: ready to merge, enterprise, Merge-after-freeze

#22883 Fixed: "--" in "Securing your webhooks" topic (#22874)
  content/developers/webhooks-and-events/webhooks/securing-your-webhooks.md
Labels: content, ready to merge, waiting for review, developers

#22918 format events-that-trigger-workflows.md
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: content, ready to merge, waiting for review

#22901 Minor grammar fix
  data/reusables/marketplace/marketplace-failed-purchase-event.md
Labels: content, waiting for review

#22984 repo sync
  .dockerignore
  components/context/LanguagesContext.tsx
  components/page-header/HeaderNotifications.tsx
  components/page-header/LanguagePicker.tsx
  pages/_app.tsx
Labels: automated-reposync-pr

#23019 repo sync
  .github/workflows/test.yml
  lib/languages.js
  tests/content/api-search.js
  tests/rendering/homepage.js
  tests/rendering/release-notes.js
  tests/translations/frame.js
  tests/unit/get-data.js
Labels: automated-reposync-pr

#23023 repo sync
  content/rest/billing.md
  content/rest/branches/branch-protection.md
  content/rest/branches/branches.md
  content/rest/branches/index.md
  content/rest/checks/index.md
  content/rest/checks/runs.md
  content/rest/checks/suites.md
  content/rest/code-scanning.md
  content/rest/collaborators/collaborators.md
  content/rest/collaborators/index.md
  content/rest/collaborators/invitations.md
Labels: automated-reposync-pr

#23026 repo sync
  lib/languages.js
  lib/page-data.js
  lib/redirects/precompile.js
  lib/render-content/plugins/rewrite-asset-urls.js
  script/i18n/create-translation-health-report.js
Labels: automated-reposync-pr

#23029 repo sync
  components/article/ArticlePage.tsx
  components/article/LearningTrackCard.tsx
  components/article/LearningTrackNav.tsx
  components/context/ArticleContext.tsx
  components/context/TocLandingContext.tsx
  data/ui.yml
  middleware/learning-track.js
  tests/rendering/learning-tracks.js
Labels: automated-reposync-pr

#23030 repo sync
  .github/workflows/azure-preview-env-deploy.yml
Labels: automated-reposync-pr

#23031 repo sync
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  data/features/secret-scanning-custom-pattern-push-protection-audit.yml
  data/reusables/audit_log/audit-log-action-categories.md
Labels: automated-reposync-pr

#23033 repo sync
  .github/workflows/openapi-decorate.yml
Labels: automated-reposync-pr

#23035 repo sync
  middleware/handle-errors.js
  pages/_app.tsx
  tests/routing/next.js
Labels: automated-reposync-pr

#23043 repo sync
  content/get-started/importing-your-projects-to-github/importing-source-code-to-github/adding-locally-hosted-code-to-github.md
Labels: automated-reposync-pr

#23004 Fixing a typo
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
Labels: content, actions, ready to merge

#22974 Replace link to deprecated doc with latest link
  content/codespaces/codespaces-reference/security-in-github-codespaces.md
Labels: content, ready to merge, Codespaces

#23046 repo sync
  .github/workflows/test.yml
  .gitignore
  tests/translations/api-search.js
Labels: automated-reposync-pr

#23047 repo sync
  content/actions/hosting-your-own-runners/removing-self-hosted-runners.md
  content/admin/guides.md
  content/admin/index.md
  middleware/index.js
  script/helpers/get-liquid-conditionals.js
  tests/content/featured-links.js
  tests/linting/lint-versioning.js
Labels: automated-reposync-pr

#22993 Make two examples of `format(...)`consistent
  content/actions/learn-github-actions/expressions.md
Labels: content, actions, waiting for review

#23078 repo sync
  assets/images/help/settings/actions-required-workflow-locate.png
  assets/images/help/settings/actions-required-workflows-add.png
  assets/images/help/settings/actions-required-workflows-repos.png
  assets/images/help/settings/actions-required-workflows-select-repos.png
  assets/images/help/settings/example-required-workflow.png
  assets/images/help/settings/view-required-workflows.png
  content/actions/security-guides/security-hardening-for-github-actions.md
  content/actions/using-workflows/index.md
  content/actions/using-workflows/required-workflows.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  data/features/required-workflows.yml
  data/reusables/actions/workflows/required-workflow-beta.md
  data/reusables/actions/workflows/required-workflow-prerequisites.md
  data/reusables/actions/workflows/required-workflow-source-notes.md
  data/reusables/actions/workflows/required-workflow-target-notes.md
Labels: automated-reposync-pr

#23083 repo sync
  content/actions/publishing-packages/publishing-docker-images.md
  content/packages/working-with-a-github-packages-registry/working-with-the-container-registry.md
  data/reusables/package_registry/about-annotation-keys.md
  data/reusables/package_registry/about-docker-labels.md
Labels: automated-reposync-pr

#23085 repo sync
  assets/images/help/security/advanced-code-scanning-setup.png
  assets/images/help/security/default-code-scanning-setup.png
  assets/images/help/security/enable-codeql-default-setup.png
  content/actions/security-guides/security-hardening-for-github-actions.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-with-codeql.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/index.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/setting-up-code-scanning-for-a-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-your-default-setup-for-codeql.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/viewing-code-scanning-logs.md
  content/code-security/getting-started/securing-your-repository.md
  content/get-started/learning-about-github/about-github-advanced-security.md
  data/features/code-scanning-without-workflow.yml
  data/reusables/actions/starter-workflow-categories.md
  data/reusables/code-scanning/edit-workflow.md
  data/reusables/code-scanning/enabling-options.md
  data/reusables/user-settings/security-analysis.md
Labels: automated-reposync-pr

#23086 repo sync
  data/release-notes/enterprise-server/3-3/16.yml
  data/release-notes/enterprise-server/3-3/17.yml
  data/release-notes/enterprise-server/3-4/11.yml
  data/release-notes/enterprise-server/3-4/12.yml
  data/release-notes/enterprise-server/3-5/8.yml
  data/release-notes/enterprise-server/3-5/9.yml
  data/release-notes/enterprise-server/3-6/4.yml
  data/release-notes/enterprise-server/3-6/5.yml
  package-lock.json
  package.json
Labels: automated-reposync-pr

#23087 repo sync
  .gitignore
Labels: automated-reposync-pr

#23090 repo sync
  .github/actions/node-npm-setup/action.yml
  .github/workflows/check-broken-links-github-github.yml
  .github/workflows/code-lint.yml
  .github/workflows/enterprise-dates.yml
  .github/workflows/keep-caches-warm.yml
  .github/workflows/link-check-daily.yml
  .github/workflows/link-check-on-pr.yml
  .github/workflows/manually-purge-fastly.yml
  .github/workflows/open-enterprise-issue.yml
  .github/workflows/openapi-decorate.yml
  .github/workflows/orphaned-assets-check.yml
  .github/workflows/purge-fastly.yml
  .github/workflows/sync-search-elasticsearch.yml
  .github/workflows/sync-search-pr.yml
  .github/workflows/test.yml
  .github/workflows/translation-health-report.yml
  .github/workflows/update-graphql-files.yml
  package-lock.json
  package.json
  tests/unit/actions-workflows.js
Labels: automated-reposync-pr

#23093 repo sync
  .github/workflows/azure-prod-build-deploy.yml
Labels: automated-reposync-pr

#23099 repo sync
  pages/[versionId]/rest/overview/endpoints-available-for-github-apps.tsx
  tests/rendering/rest.js
Labels: automated-reposync-pr

#23050 Move line 14 into permissions statement frontmatter
  content/communities/maintaining-your-safety-on-github/reporting-abuse-or-spam.md
Labels: content, waiting for review, communities

#23109 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
Labels: automated-reposync-pr

#23110 repo sync
  content/packages/learn-github-packages/about-permissions-for-github-packages.md
  content/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions.md
  content/packages/working-with-a-github-packages-registry/working-with-the-container-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-npm-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-rubygems-registry.md
  data/features/packages-nuget-v2.yml
  data/features/packages-rubygems-v2.yml
  data/reusables/package_registry/authenticate_with_pat_for_v2_registry.md
  data/reusables/package_registry/publishing-user-scoped-packages.md
  data/reusables/package_registry/v2-actions-codespaces.md
Labels: automated-reposync-pr

#23111 repo sync
  content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
Labels: automated-reposync-pr

#23059 npm build -> npm run build (example)
  content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
Labels: content, actions, waiting for review

#23114 repo sync
  assets/images/help/codespaces/codespaces-manage-settings-sync.png
  assets/images/help/codespaces/settings-sync-turn-off.png
  assets/images/help/codespaces/turn-off-sync-dialog.png
  content/codespaces/codespaces-reference/security-in-github-codespaces.md
  content/codespaces/customizing-your-codespace/personalizing-github-codespaces-for-your-account.md
  content/codespaces/getting-started/quickstart.md
  content/codespaces/troubleshooting/index.md
  content/codespaces/troubleshooting/troubleshooting-personalization-for-codespaces.md
  data/reusables/codespaces/about-settings-sync.md
  data/reusables/codespaces/disabling-settings-sync.md
Labels: automated-reposync-pr

#23118 repo sync
  .github/actions-scripts/content-changes-table-comment.js
  .github/workflows/content-changes-table-comment.yml
  .github/workflows/test.yml
  content/account-and-profile/index.md
  content/admin/index.md
  content/codespaces/index.md
  content/education/index.md
  content/get-started/index.md
  content/index.md
  content/rest/scim.md
  content/rest/users/blocking.md
  content/rest/users/emails.md
  content/rest/users/followers.md
  content/rest/users/gpg-keys.md
  content/rest/users/index.md
  content/rest/users/keys.md
  content/rest/users/ssh-signing-keys.md
  content/rest/users/users.md
  data/reusables/user-settings/user-api.md
  package-lock.json
  package.json
  script/content-changes-table-comment.js
  tests/content/featured-links.js
Labels: automated-reposync-pr

#23120 repo sync
  .github/actions-scripts/content-changes-table-comment.js
Labels: automated-reposync-pr

#23122 repo sync
  .github/actions/clone-translations/action.yml
  .github/workflows/azure-prod-build-deploy.yml
  .github/workflows/sync-search-elasticsearch.yml
  .github/workflows/test.yml
  content/rest/guides/getting-started-with-the-rest-api.md
  content/rest/guides/index.md
  content/rest/guides/scripting-with-the-rest-api-and-javascript.md
  content/rest/guides/using-pagination-in-the-rest-api.md
  content/rest/index.md
  content/rest/overview/libraries.md
  content/rest/quickstart.md
Labels: automated-reposync-pr

#23129 repo sync
  data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/graphql_upcoming_changes.public.yml
  data/graphql/ghec/schema.docs.graphql
  data/graphql/graphql_upcoming_changes.public.yml
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
  lib/graphql/static/upcoming-changes.json
  script/graphql/update-files.js
Labels: automated-reposync-pr

#23133 repo sync
  content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
  content/actions/learn-github-actions/contexts.md
  content/actions/learn-github-actions/variables.md
  data/features/actions-oidc-custom-claims.yml
  data/reusables/actions/actor_id-description.md
  data/reusables/actions/job-workflow-sha-description.md
  data/reusables/actions/repository_id-description.md
  data/reusables/actions/repository_owner_id-description.md
  data/reusables/actions/workflow-ref-description.md
  data/reusables/actions/workflow-sha-description.md
Labels: automated-reposync-pr

#23150 repo sync
  content/packages/learn-github-packages/about-permissions-for-github-packages.md
  content/repositories/creating-and-managing-repositories/transferring-a-repository.md
Labels: automated-reposync-pr

#23153 repo sync
  content/site-policy/privacy-policies/github-octernships-terms-of-service.md
  content/site-policy/privacy-policies/index.md
Labels: automated-reposync-pr

#23155 repo sync
  content/actions/index.md
  content/education/index.md
  content/sponsors/index.md
Labels: automated-reposync-pr

#23156 repo sync
  data/reusables/enterprise-accounts/dormant-user-activity.md
Labels: automated-reposync-pr

#23163 repo sync
  lib/render-content/create-processor.js
  package-lock.json
  package.json
Labels: automated-reposync-pr

#23165 repo sync
  content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/accessing-github-using-two-factor-authentication.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication.md
  data/features/2fa-check-up-period.yml
Labels: automated-reposync-pr

#23166 repo sync
  lib/site-data.js
  script/reconcile-category-dirs-with-ids.js
  script/update-internal-links.js
Labels: automated-reposync-pr

#23169 repo sync
  middleware/index.js
Labels: automated-reposync-pr

#23171 repo sync
  content/actions/automating-builds-and-tests/building-and-testing-xamarin-applications.md
  data/reusables/actions/macos-runner-preview.md
  data/reusables/actions/supported-github-runners.md
Labels: automated-reposync-pr

#23048 Update creating-starter-workflows-for-your-organization.md
  content/actions/using-workflows/creating-starter-workflows-for-your-organization.md
Labels: triage

#23184 repo sync
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  data/features/dependabot-updates-gomod-indirect.yml
Labels: automated-reposync-pr

#23185 repo sync
  content/search-github/searching-on-github/searching-for-repositories.md
  data/release-notes/enterprise-server/3-7/0.yml
  data/release-notes/enterprise-server/3-7/1.yml
  data/release-notes/enterprise-server/3-7/2.yml
  data/reusables/release-notes/new-subdomains-missing-from-management-console.md
Labels: automated-reposync-pr

#23186 repo sync
  content/education/index.md
  content/github-cli/index.md
  content/issues/index.md
  content/rest/index.md
Labels: automated-reposync-pr

#23187 repo sync
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms.md
  data/release-notes/enterprise-server/3-3/18.yml
  data/release-notes/enterprise-server/3-4/13.yml
  data/release-notes/enterprise-server/3-5/10.yml
  data/release-notes/enterprise-server/3-6/6.yml
  data/release-notes/enterprise-server/3-7/3.yml
  data/reusables/community/issue-forms-beta.md
Labels: automated-reposync-pr

#23190 repo sync
  components/context/ArticleContext.tsx
  components/context/AutomatedPageContext.tsx
  components/context/TocLandingContext.tsx
  components/landing/TocLanding.tsx
  lib/page.js
  middleware/render-page.js
Labels: automated-reposync-pr

#23192 repo sync
  lib/languages.js
  lib/page.js
Labels: automated-reposync-pr

#23060 Fix Sentence Construction
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/allowing-changes-to-a-pull-request-branch-created-from-a-fork.md
Labels: content, ready to merge, pull requests

#23193 repo sync
  components/search/SearchResults.tsx
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-security-settings-in-your-enterprise.md
  lib/webhooks/static/decorated/ghes-3.3.json
  lib/webhooks/static/decorated/ghes-3.4.json
  lib/webhooks/static/decorated/ghes-3.5.json
  lib/webhooks/static/decorated/ghes-3.6.json
  middleware/api/search.js
Labels: automated-reposync-pr

#22969 Matching SCIM & SAML values need to match when provisioning SCIM, this should be mentioned in troubleshooting documentation
  content/organizations/managing-saml-single-sign-on-for-your-organization/troubleshooting-identity-and-access-management-for-your-organization.md
Labels: content, enterprise, waiting for review, organizations

#23194 repo sync
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-allowed-ip-addresses-for-your-organization.md
  data/reusables/identity-and-permissions/ip-allow-lists-example-and-restrictions.md
Labels: automated-reposync-pr

#23197 repo sync
  data/release-notes/enterprise-server/3-6/4.yml
  data/release-notes/enterprise-server/3-6/5.yml
  data/release-notes/enterprise-server/3-7/1.yml
  data/release-notes/enterprise-server/3-7/2.yml
Labels: automated-reposync-pr

#23198 repo sync
  content/codespaces/setting-up-your-project-for-codespaces/adding-a-dev-container-configuration/setting-up-your-dotnet-project-for-codespaces.md
  content/codespaces/setting-up-your-project-for-codespaces/adding-a-dev-container-configuration/setting-up-your-java-project-for-codespaces.md
  content/codespaces/setting-up-your-project-for-codespaces/adding-a-dev-container-configuration/setting-up-your-nodejs-project-for-codespaces.md
  content/codespaces/setting-up-your-project-for-codespaces/adding-a-dev-container-configuration/setting-up-your-python-project-for-codespaces.md
Labels: automated-reposync-pr

#22692 fix-spelling-canceled
  content/codespaces/troubleshooting/troubleshooting-creation-and-deletion-of-codespaces.md
  content/communities/maintaining-your-safety-on-github/blocking-a-user-from-your-organization.md
  content/communities/maintaining-your-safety-on-github/blocking-a-user-from-your-personal-account.md
  content/developers/github-marketplace/creating-apps-for-github-marketplace/viewing-transactions-for-your-listing.md
  content/developers/github-marketplace/selling-your-app-on-github-marketplace/pricing-plans-for-github-marketplace-apps.md
  content/developers/github-marketplace/using-the-github-marketplace-api-in-your-app/handling-plan-cancellations.md
  content/developers/github-marketplace/using-the-github-marketplace-api-in-your-app/testing-your-app.md
  content/organizations/managing-membership-in-your-organization/removing-a-member-from-your-organization.md
  content/site-policy/github-terms/github-corporate-terms-of-service.md
  content/site-policy/github-terms/github-terms-of-service.md
  content/sponsors/receiving-sponsorships-through-github-sponsors/managing-your-sponsorship-tiers.md
Labels: content, waiting for review

#23199 repo sync
  content/issues/planning-and-tracking-with-projects/managing-items-in-your-project/adding-items-to-your-project.md
  data/features/projects-v2-timeline-events.yml
Labels: automated-reposync-pr

#23202 repo sync
  assets/images/help/sponsors/example-sponsors-invoice.png
  content/sponsors/sponsoring-open-source-contributors/paying-for-github-sponsors-by-invoice.md
Labels: automated-reposync-pr

#23145 update to use python3.9 with jwt==1.3.1
  content/developers/apps/building-github-apps/authenticating-with-github-apps.md
Labels: content, ready to merge, waiting for review, developers

#23203 repo sync
  content/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot.md
  content/billing/managing-billing-for-github-copilot/index.md
  content/billing/managing-billing-for-github-copilot/managing-your-github-copilot-for-individuals-subscription.md
  content/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-a-jetbrains-ide.md
  content/copilot/overview-of-github-copilot/about-github-copilot.md
  content/copilot/quickstart.md
  data/reusables/copilot/copilot-prerequisites.md
  data/reusables/copilot/dotcom-settings.md
  data/reusables/copilot/jetbrains-ides.md
  data/reusables/gated-features/copilot.md
Labels: automated-reposync-pr

#23204 repo sync
  .github/workflows/link-check-on-pr.yml
  .github/workflows/test.yml
  Dockerfile
  azure-preview-env-template.json
  contributing/development.md
  docker-compose.staging.tmpl.yaml
  lib/languages.js
  package.json
  script/search/index-elasticsearch.js
  tests/translations/api-search.js
Labels: automated-reposync-pr

#23206 repo sync
  .github/workflows/link-check-on-pr.yml
  .github/workflows/test.yml
  Dockerfile
  azure-preview-env-template.json
  contributing/development.md
  docker-compose.staging.tmpl.yaml
  lib/languages.js
  package.json
  script/search/index-elasticsearch.js
  tests/translations/api-search.js
Labels: automated-reposync-pr

#23211 repo sync
  content/rest/overview/endpoints-available-for-fine-grained-personal-access-tokens.md
  content/rest/overview/permissions-required-for-fine-grained-personal-access-tokens.md
  content/rest/overview/permissions-required-for-github-apps.md
Labels: automated-reposync-pr

#23212 repo sync
  .github/workflows/openapi-decorate.yml
  script/rest/update-files.js
Labels: automated-reposync-pr

#23214 repo sync
  .github/workflows/openapi-decorate.yml
Labels: automated-reposync-pr

#23215 repo sync
  .github/workflows/openapi-decorate.yml
Labels: automated-reposync-pr

#23227 repo sync
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghec.json
Labels: automated-reposync-pr

#23235 repo sync
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
Labels: automated-reposync-pr

#23254 repo sync
  content/actions/managing-workflow-runs/reviewing-deployments.md
Labels: automated-reposync-pr

#23258 repo sync
  content/code-security/getting-started/securing-your-repository.md
Labels: automated-reposync-pr

#23260 repo sync
  content/authentication/managing-commit-signature-verification/signing-commits.md
Labels: automated-reposync-pr

#23270 repo sync
  data/product-examples/codespaces/code-examples.yml
Labels: automated-reposync-pr

#23272 repo sync
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
  data/reusables/secret-scanning/secret-list-private-push-protection.md
Labels: automated-reposync-pr

#23216 Fix "low hanging fruit" spelling errors
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-organizations-profile.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  content/billing/managing-billing-for-github-advanced-security/about-billing-for-github-advanced-security.md
  content/code-security/dependabot/dependabot-version-updates/configuring-dependabot-version-updates.md
  content/code-security/security-advisories/guidance-on-reporting-and-writing/privately-reporting-a-security-vulnerability.md
  content/code-security/security-advisories/repository-security-advisories/configuring-private-vulnerability-reporting-for-a-repository.md
  content/codespaces/customizing-your-codespace/configuring-automatic-deletion-of-your-codespaces.md
  content/codespaces/developing-in-codespaces/stopping-and-starting-a-codespace.md
  content/codespaces/managing-codespaces-for-your-organization/restricting-access-to-machine-types.md
  content/copilot/configuring-github-copilot/configuring-github-copilot-in-a-jetbrains-ide.md
  content/copilot/troubleshooting-github-copilot/troubleshooting-github-copilot-in-a-jetbrains-ide.md
  content/get-started/onboarding/getting-started-with-github-enterprise-cloud.md
  content/get-started/using-github/github-command-palette.md
  content/packages/learn-github-packages/deleting-and-restoring-a-package.md
  content/rest/commits/comments.md
Labels: content, ready to merge

#23278 repo sync
  content/actions/security-guides/security-hardening-for-github-actions.md
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/configuring-code-scanning-for-your-appliance.md
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/enabling-github-advanced-security-for-your-enterprise.md
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/index.md
  content/code-security/adopting-github-advanced-security-at-scale/phase-3-pilot-programs.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-alerts.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-with-codeql.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning-for-a-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/customizing-code-scanning.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/index.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/recommended-hardware-resources-for-running-codeql.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/running-codeql-code-scanning-in-a-container.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/triaging-code-scanning-alerts-in-pull-requests.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-your-default-setup-for-codeql.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/viewing-code-scanning-logs.md
  content/code-security/code-scanning/integrating-with-code-scanning/about-integration-with-code-scanning.md
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/installing-codeql-cli-in-your-ci-system.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/running-codeql-runner-in-your-ci-system.md
  content/code-security/getting-started/securing-your-organization.md
  content/code-security/getting-started/securing-your-repository.md
  content/code-security/guides.md
  content/code-security/index.md
  content/code-security/security-overview/filtering-alerts-in-the-security-overview.md
  content/get-started/learning-about-github/about-github-advanced-security.md
  data/reusables/actions/starter-workflow-categories.md
  data/reusables/actions/workflows/required-workflow-source-notes.md
  data/reusables/code-scanning/alerts-found-in-generated-code.md
  data/reusables/code-scanning/enabling-options.md
  data/reusables/code-scanning/enterprise-enable-code-scanning-actions.md
  data/reusables/code-scanning/enterprise-enable-code-scanning.md
  tests/linting/lint-files.js
Labels: automated-reposync-pr

#23279 repo sync
  .github/workflows/azure-prod-build-deploy.yml
  assets/images/help/2fa/continue-unlinking-email.png
  assets/images/help/2fa/final-unlink-button.png
  assets/images/help/2fa/recovery-code-or-reset.png
  assets/images/help/2fa/start-unlinking-email.png
  assets/images/help/2fa/try-recovering-account.png
  assets/images/help/2fa/unlink-email-create-new-account.png
  assets/images/help/2fa/unlink-this-email.png
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/index.md
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/unlinking-your-email-address-from-a-locked-account.md
  content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/about-two-factor-authentication.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/accessing-github-using-two-factor-authentication.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/recovering-your-account-if-you-lose-your-2fa-credentials.md
  data/reusables/two_fa/recover-account-without-2fa.md
  data/reusables/two_fa/unlink-email-address.md
Labels: automated-reposync-pr

#22951 Add .jpeg as file extension to the list of attachable files
  content/get-started/writing-on-github/working-with-advanced-formatting/attaching-files.md
Labels: content, ready to merge, get started

#19527 switch adopt to temurin and bump to jdk17
  content/actions/automating-builds-and-tests/building-and-testing-java-with-ant.md
  content/actions/automating-builds-and-tests/building-and-testing-java-with-gradle.md
  content/actions/automating-builds-and-tests/building-and-testing-java-with-maven.md
Labels: content, actions, waiting for review, SME reviewed

#22976 Update creating-a-docker-container-action.md
  content/actions/creating-actions/creating-a-docker-container-action.md
Labels: content, actions, waiting for review

#22865 Adds missing `{% raw %}` tags to caching page
  content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
Labels: content, actions, waiting for review

#22970 Fixes breaking `base64` command options change in OSX 13.0+
  content/actions/deployment/deploying-xcode-applications/installing-an-apple-certificate-on-macos-runners-for-xcode-development.md
Labels: content, actions, waiting for review

#23284 Add missing `@` symbol to "using a public action" example
  content/actions/creating-actions/creating-a-docker-container-action.md
Labels: triage, actions

#23289 repo sync
  package-lock.json
  package.json
Labels: automated-reposync-pr

#23292 repo sync
  content/actions/learn-github-actions/contexts.md
Labels: automated-reposync-pr

#23293 repo sync
  content/repositories/working-with-files/managing-large-files/about-git-large-file-storage.md
  data/reusables/repositories/git-lfs.md
Labels: automated-reposync-pr

#22909 Add missing copy button to yaml content
  content/actions/using-workflows/creating-starter-workflows-for-your-organization.md
Labels: content, actions

#23294 repo sync
  data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  data/graphql/ghec/graphql_upcoming_changes.public.yml
  data/graphql/ghec/schema.docs.graphql
  data/graphql/graphql_upcoming_changes.public.yml
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghec.json
  lib/graphql/static/upcoming-changes.json
Labels: automated-reposync-pr

#23296 repo sync
  content/authentication/troubleshooting-ssh/using-ssh-over-the-https-port.md
  content/site-policy/privacy-policies/github-privacy-statement.md
Labels: automated-reposync-pr

#23276 Remove language mentioning beta.
  content/admin/user-management/managing-users-in-your-enterprise/managing-dormant-users.md
Labels: content, enterprise, waiting for review

#23302 repo sync
  assets/images/help/codespaces/copy-local-address.png
  assets/images/help/codespaces/postman-screenshot-key-token.png
  assets/images/help/codespaces/postman-screenshot-url.png
  content/codespaces/developing-in-codespaces/forwarding-ports-in-your-codespace.md
  data/reusables/codespaces/find-address-and-token.md
  data/reusables/codespaces/navigate-to-ports-tab.md
  data/reusables/codespaces/using-tools-to-access-ports-1.md
  data/reusables/codespaces/using-tools-to-access-ports-2.md
Labels: automated-reposync-pr

#23304 repo sync
  content/codespaces/overview.md
Labels: automated-reposync-pr

#23306 repo sync
  tests/translations/frame.js
Labels: automated-reposync-pr

#23309 repo sync
  contributing/content-model.md
Labels: automated-reposync-pr

#23310 repo sync
  contributing/content-style-guide.md
Labels: automated-reposync-pr

#23312 repo sync
  .github/workflows/openapi-decorate.yml
Labels: automated-reposync-pr

#23314 repo sync
  assets/images/help/business-accounts/add-user-to-org.png
  assets/images/help/business-accounts/enterprise-add-or-remove-from-org.png
  assets/images/help/business-accounts/enterprise-failed-invitations.png
  assets/images/help/business-accounts/enterprise-invitation-retry-or-cancel.png
  assets/images/help/business-accounts/retry-invitation-pop-up-enterprise.png
  assets/images/help/enterprises/enterprise-invitations-bulk-select.png
  assets/images/help/enterprises/enterprise-invitations-multiple-selection.png
  assets/images/help/organizations/organization-failed-invitations.png
  assets/images/help/organizations/organization-invitations-bulk-select.png
  assets/images/help/organizations/organization-invitations-multiple-selection.png
  assets/images/help/organizations/retry-invitation-pop-up.png
  assets/images/help/organizations/retry-or-cancel-invitation.png
  content/admin/user-management/managing-users-in-your-enterprise/index.md
  content/admin/user-management/managing-users-in-your-enterprise/managing-invitations-to-organizations-within-your-enterprise.md
  content/admin/user-management/managing-users-in-your-enterprise/managing-organization-members-in-your-enterprise.md
  content/organizations/managing-membership-in-your-organization/adding-people-to-your-organization.md
  content/organizations/managing-membership-in-your-organization/canceling-or-editing-an-invitation-to-join-your-organization.md
  content/organizations/managing-membership-in-your-organization/inviting-users-to-join-your-organization.md
  data/features/enterprise-manage-organization-members.yml
  data/features/organization-invitation-enhancements.yml
  data/reusables/organizations/invite_member_from_people_tab.md
  data/reusables/organizations/people.md
  data/reusables/organizations/retrying-or-deleting-expired-invitations.md
Labels: triage, automated-reposync-pr

#22884 Document behavior of `prefix` in dependabot.yml
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
Labels: content, waiting for review, dependabot, code security, needs SME

#23298 Dependabot: update supported terraform versions
  data/reusables/dependabot/supported-package-managers.md
Labels: content, waiting for review, dependabot

#23167 Minor error correction in the verification part
  data/reusables/pages/wildcard-dns-warning.md
Labels: content, waiting for review, pages, needs SME

#23320 repo sync
  content/README.md
  content/admin/configuration/configuring-your-enterprise/site-admin-dashboard.md
  content/developers/apps/getting-started-with-apps/about-apps.md
  content/developers/apps/guides/using-content-attachments.md
  content/graphql/guides/forming-calls-with-graphql.md
  content/graphql/guides/migrating-graphql-global-node-ids.md
  content/graphql/guides/using-the-explorer.md
  content/issues/planning-and-tracking-with-projects/automating-your-project/using-the-api-to-manage-projects.md
  content/rest/guides/getting-started-with-the-rest-api.md
  content/rest/overview/other-authentication-methods.md
  content/rest/overview/resources-in-the-rest-api.md
  content/rest/quickstart.md
  content/rest/search.md
  lib/all-tools.js
Labels: automated-reposync-pr

#23324 repo sync
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
Labels: automated-reposync-pr

#23325 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  lib/graphql/static/changelog.json
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
Labels: automated-reposync-pr

#23328 repo sync
  components/parameter-table/ParameterRow.tsx
  script/rest/utils/get-body-params.js
Labels: automated-reposync-pr

#23329 repo sync
  assets/images/help/projects-v2/copy-include-drafts.png
  assets/images/help/projects-v2/copy-name.png
  assets/images/help/projects-v2/copy-owner.png
  assets/images/help/projects-v2/copy-submit.png
  assets/images/help/projects-v2/make-a-copy.png
  assets/images/help/projects-v2/workflow-autoadd-filter.png
  assets/images/help/projects-v2/workflow-autoadd-repo.png
  assets/images/help/projects-v2/workflow-autoadd.png
  assets/images/help/projects-v2/workflow-save-and-turn-on.png
  assets/images/help/projects-v2/workflow-start-editing.png
  content/issues/planning-and-tracking-with-projects/automating-your-project/adding-items-automatically.md
  content/issues/planning-and-tracking-with-projects/automating-your-project/index.md
  content/issues/planning-and-tracking-with-projects/automating-your-project/using-the-built-in-automations.md
  content/issues/planning-and-tracking-with-projects/creating-projects/copying-an-existing-project.md
  content/issues/planning-and-tracking-with-projects/creating-projects/creating-a-project.md
  content/issues/planning-and-tracking-with-projects/creating-projects/index.md
  content/issues/planning-and-tracking-with-projects/learning-about-projects/about-projects.md
  content/issues/planning-and-tracking-with-projects/learning-about-projects/best-practices-for-projects.md
  content/issues/planning-and-tracking-with-projects/learning-about-projects/quickstart-for-projects.md
  content/issues/planning-and-tracking-with-projects/managing-items-in-your-project/adding-items-to-your-project.md
  content/rest/enterprise-admin/index.md
  data/features/projects-v2-auto-add.yml
  data/features/projects-v2-copy-a-project.yml
  data/reusables/projects/about-workflows.md
Labels: automated-reposync-pr

#23331 repo sync
  .github/workflows/azure-prod-build-deploy.yml
  .github/workflows/confirm-internal-staff-work-in-docs.yml
  .github/workflows/enterprise-dates.yml
  .github/workflows/openapi-decorate.yml
  .github/workflows/repo-sync-stalls.yml
  .github/workflows/repo-sync.yml
  .github/workflows/sync-search-elasticsearch.yml
  .github/workflows/translation-health-report.yml
  .github/workflows/update-graphql-files.yml
Labels: automated-reposync-pr

#23334 repo sync
  middleware/helmet.js
Labels: automated-reposync-pr

#23337 repo sync
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/troubleshooting-the-dependency-graph.md
Labels: automated-reposync-pr

#23339 repo sync
  assets/images/help/codespaces/preview-in-editor-vscode.png
  content/codespaces/troubleshooting/troubleshooting-github-codespaces-clients.md
  data/reusables/codespaces/troubleshooting-simple-browser.md
Labels: automated-reposync-pr

#23342 repo sync
  content/code-security/getting-started/securing-your-repository.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  data/reusables/dependency-graph/feature-availability.md
Labels: automated-reposync-pr

#23343 repo sync
  assets/images/help/dependabot/dependabot-improve-security-advisory.png
  content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  data/features/dependabot-filter-label-security-advisory.yml
Labels: automated-reposync-pr

#23344 repo sync
  assets/images/help/repository/secret-scanning-dismiss-alert-web-ui-link-partner-documentation.png
  assets/images/help/repository/secret-scanning-dismissal-comment.png
  assets/images/help/repository/secret-scanning-validity-check.png
  content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
  data/features/secret-scanning-validity-check.yml
Labels: automated-reposync-pr

#23330 Update dormant users documentation to include wording about outside c…
  content/admin/user-management/managing-users-in-your-enterprise/managing-dormant-users.md
Labels: triage, enterprise

#23349 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-with-codeql.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/customizing-code-scanning.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  content/code-security/code-scanning/codeql-cli-reference/about-codeql-packs.md
  content/code-security/code-scanning/codeql-cli-reference/about-codeql-workspaces.md
  content/code-security/code-scanning/codeql-cli-reference/exit-codes.md
  content/code-security/code-scanning/codeql-cli-reference/index.md
  content/code-security/code-scanning/codeql-cli-reference/query-reference-files.md
  content/code-security/code-scanning/codeql-cli-reference/sarif-output.md
  content/code-security/code-scanning/index.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/running-codeql-runner-in-your-ci-system.md
  content/code-security/code-scanning/using-the-codeql-cli/about-the-codeql-cli.md
  content/code-security/code-scanning/using-the-codeql-cli/analyzing-databases-with-the-codeql-cli.md
  content/code-security/code-scanning/using-the-codeql-cli/creating-and-working-with-codeql-packs.md
  content/code-security/code-scanning/using-the-codeql-cli/creating-codeql-databases.md
  content/code-security/code-scanning/using-the-codeql-cli/creating-codeql-query-suites.md
  content/code-security/code-scanning/using-the-codeql-cli/extractor-options.md
  content/code-security/code-scanning/using-the-codeql-cli/getting-started-with-the-codeql-cli.md
  content/code-security/code-scanning/using-the-codeql-cli/index.md
  content/code-security/code-scanning/using-the-codeql-cli/publishing-and-using-codeql-packs.md
  content/code-security/code-scanning/using-the-codeql-cli/specifying-command-options-in-a-codeql-configuration-file.md
  content/code-security/code-scanning/using-the-codeql-cli/testing-custom-queries.md
  content/code-security/code-scanning/using-the-codeql-cli/testing-query-help-files.md
  content/code-security/code-scanning/using-the-codeql-cli/using-custom-queries-with-the-codeql-cli.md
  data/features/query-pack-compatibility.yml
  data/reusables/code-scanning/beta-kotlin-support.md
  data/reusables/code-scanning/beta-ruby-support.md
  data/reusables/codeql-cli/advanced-query-execution.md
  data/reusables/codeql-cli/beta-note-package-management.md
  data/reusables/codeql-cli/codeql-site-migration-note.md
  data/reusables/codeql-cli/test-qlpack.md
  data/reusables/gated-features/codeql.md
  tests/meta/repository-references.js
Labels: automated-reposync-pr

#23333 Add a note about JSON formatting of streaming logs.
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
Labels: content, enterprise, waiting for review

#23354 repo sync
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-support-for-your-idps-conditional-access-policy.md
  content/developers/apps/building-github-apps/authenticating-with-github-apps.md
Labels: automated-reposync-pr

#23379 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  lib/graphql/static/schema-dotcom.json
  lib/graphql/static/schema-ghae.json
  lib/graphql/static/schema-ghec.json
Labels: automated-reposync-pr

#23380 repo sync
  content/actions/hosting-your-own-runners/using-self-hosted-runners-in-a-workflow.md
  data/reusables/actions/about-runner-groups.md
  data/reusables/actions/jobs/example-runs-on-groups.md
  data/reusables/actions/jobs/example-runs-on-labels-and-groups.md
  data/reusables/actions/runner-groups-ent-note.md
Labels: automated-reposync-pr

#23222 chore: Use same type in contexts example
  content/actions/learn-github-actions/contexts.md
Labels: content, actions, waiting for review

#23200 Fix syntax GitHub Actions OIDC example JWT
  content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
Labels: content, actions, waiting for review

#23393 repo sync
  content/codespaces/index.md
Labels: automated-reposync-pr

#23394 repo sync
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/changing-your-github-username.md
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/deleting-your-personal-account.md
  content/organizations/managing-organization-settings/deleting-an-organization-account.md
  content/organizations/managing-organization-settings/renaming-an-organization.md
  data/reusables/package_registry/delete-account-namespace-retirement.md
  data/reusables/package_registry/rename-account-namespace-retirement.md
Labels: automated-reposync-pr

#23396 repo sync
  assets/images/help/codespaces/live-share-click-icon.png
  assets/images/help/codespaces/live-share-click-share.png
  assets/images/help/codespaces/live-share-enable-rightclick.png
  assets/images/help/codespaces/live-share-link-copied-clipboard.png
  assets/images/help/codespaces/live-share-search-extensions.png
  assets/images/help/codespaces/live-share-stop-collaboration.png
  content/codespaces/developing-in-codespaces/index.md
  content/codespaces/developing-in-codespaces/working-collaboratively-in-a-codespace.md
  content/codespaces/guides.md
  content/codespaces/troubleshooting/troubleshooting-github-codespaces-clients.md
Labels: automated-reposync-pr

#23398 repo sync
  content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  content/admin/enterprise-management/configuring-clustering/about-clustering.md
  content/admin/enterprise-management/configuring-clustering/configuring-high-availability-replication-for-a-cluster.md
  content/admin/enterprise-management/configuring-clustering/index.md
  content/admin/enterprise-management/configuring-clustering/initiating-a-failover-to-your-replica-cluster.md
  content/admin/identity-and-access-management/managing-iam-for-your-enterprise/about-authentication-for-your-enterprise.md
  content/admin/identity-and-access-management/using-ldap-for-enterprise-iam/using-ldap.md
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/about-saml-for-enterprise-iam.md
Labels: automated-reposync-pr

#23400 repo sync
  content/codespaces/developing-in-codespaces/using-github-codespaces-with-github-cli.md
Labels: automated-reposync-pr

#23401 repo sync
  .github/actions-scripts/content-changes-table-comment.js
  middleware/contextualizers/current-product-tree.js
Labels: automated-reposync-pr

#23402 repo sync
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/actions/node-npm-setup/action.yml
  .github/workflows/azure-prod-build-deploy.yml
  .github/workflows/azure-staging-build-deploy.yml
  .github/workflows/browser-test.yml
  .github/workflows/content-changes-table-comment.yml
  .github/workflows/docs-review-collect.yml
  .github/workflows/os-ready-for-review.yml
  .github/workflows/package-lock-lint.yml
  .github/workflows/ready-for-doc-review.yml
  .github/workflows/repo-sync.yml
  .node-version
  CONTRIBUTING.md
  Dockerfile
  Dockerfile.openapi_decorator
  contributing/development.md
  contributing/node-versions.md
Labels: automated-reposync-pr

#23404 repo sync
  components/article/ArticlePage.tsx
  components/context/ArticleContext.tsx
  content/README.md
  contributing/content-style-guide.md
  data/ui.yml
  lib/frontmatter.js
  middleware/contextualizers/current-product-tree.js
Labels: automated-reposync-pr

#23410 repo sync
  content/get-started/importing-your-projects-to-github/importing-source-code-to-github/importing-a-git-repository-using-the-command-line.md
  lib/path-utils.js
  tests/content/category-pages.js
Labels: automated-reposync-pr

#23425 repo sync
  lib/check-if-next-version-only.js
  lib/enterprise-server-releases.js
  lib/get-applicable-versions.js
  tests/linting/lint-versioning.js
  tests/unit/pages.js
Labels: automated-reposync-pr

#23351 [:recycle:] Using lowercase input ids
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
Labels: content, actions, waiting for review

#23458 repo sync
  assets/images/help/repository/rename-repo-during-transfer.png
  assets/images/help/repository/repo-transfer-free-plan-warnings.png
  assets/images/help/repository/repo-transfer-overview.png
  assets/images/help/repository/transfer-repo-new-owner-name.png
  content/repositories/creating-and-managing-repositories/transferring-a-repository.md
  data/features/rename-and-transfer-repository.yml
  data/reusables/repositories/transfer-repository-steps.md
Labels: automated-reposync-pr

#23386 Fix markdown table formatting
  content/admin/configuration/configuring-github-connect/about-github-connect.md
Labels: content, enterprise, waiting for review

#23460 repo sync
  content/code-security/code-scanning/codeql-cli-reference/about-codeql-workspaces.md
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/about-using-visual-studio-code-with-github-classroom.md
  content/rest/guides/using-the-rest-api-to-interact-with-your-git-database.md
Labels: automated-reposync-pr
