Repository github/docs, pull requests merged in 2023-09, with the labels that each got.

#27822 Clarify, in about-code-owners.md, which `CODEOWNERS` file GitHub will respect if a repo contains more than one
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
Labels: content, waiting for review, code owners, repositories

#27845 variables: describe `GITHUB_OUTPUT`, too
  content/actions/learn-github-actions/variables.md
Labels: content, actions, ready to merge

#27866 Fix sections in the "Configure dependabot.yml" docs being affected by a recent unrelated change.
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  data/reusables/dependabot/option-affects-security-updates.md
Labels: content, waiting for review, dependabot, code security

#27946 docs(arc): remove metrics which are not exposed
  content/actions/hosting-your-own-runners/managing-self-hosted-runners-with-actions-runner-controller/deploying-runner-scale-sets-with-actions-runner-controller.md
Labels: content, actions, waiting for review

#27497 Be more precise when expression syntax ${{ }} can be omitted in if statement
  content/actions/learn-github-actions/expressions.md
  data/reusables/actions/expression-syntax-if.md
Labels: content, actions, waiting for review, more-information-needed

#27990 docs: remove trailing newlines in code blocks
  content/actions/using-workflows/events-that-trigger-workflows.md
  content/admin/administering-your-instance/command-line-utilities.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/migrating-from-the-codeql-runner-to-codeql-cli.md
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/using-the-dependency-submission-api.md
  content/codespaces/setting-up-your-project-for-codespaces/adding-a-dev-container-configuration/setting-up-your-java-project-for-codespaces.md
  content/issues/planning-and-tracking-with-projects/automating-your-project/automating-projects-using-actions.md
  content/migrations/using-github-enterprise-importer/migrating-organizations-with-github-enterprise-importer/migrating-organizations-from-githubcom-to-github-enterprise-cloud.md
  data/reusables/actions/actions-vars-context-example-usage.md
  data/reusables/actions/jobs/matrix-add-with-include.md
  data/reusables/discussions/discussion-category-forms-sample.md
  data/reusables/repositories/actions-scheduled-workflow-example.md
Labels: content, actions, waiting for review

#28020 Fix outdated cask name
  content/get-started/getting-started-with-git/caching-your-github-credentials-in-git.md
Labels: content, waiting for review, get started

#28027 Update hello-world.md
  content/get-started/quickstart/hello-world.md
Labels: content, waiting for review, get started

#27909 Update configuring-commit-squashing-for-pull-requests.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/configuring-commit-squashing-for-pull-requests.md
Labels: content, waiting for review, repositories

#28056 Fix indentation of groups yaml example
  data/reusables/dependabot/dependabot-version-updates-groups-yaml-example.md
Labels: content, waiting for review, dependabot, code security

#27986 Specify the same port in the loopback OAuth redirect_url
  content/apps/oauth-apps/building-oauth-apps/authorizing-oauth-apps.md
Labels: content, ready to merge, waiting for review, github apps

#28140 Add "blockquote" to alerts description to improve SEO
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, ready to merge, waiting for review

#24612 python: use release branch for PyPI publishing
  content/actions/automating-builds-and-tests/building-and-testing-python.md
Labels: content, actions, waiting for review

#27747 Runners name may not be unique in a workflow
  data/reusables/actions/runner-name-description.md
Labels: content, actions, waiting for review

#28058 Fix formatting of OpenID Connect examples
  content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
Labels: content, actions, waiting for review

#26654 Update example to use env. within expression
  content/actions/learn-github-actions/variables.md
Labels: content, actions, blocked, waiting for review, needs SME

#28237 update `gh clone` to `gh repo clone`
  content/github-cli/github-cli/quickstart.md
Labels: content, waiting for review, using git

#23466 Fix wrong info for defaults.run
  data/reusables/actions/jobs/setting-default-values-for-jobs-defaults-job-run.md
Labels: content, actions, waiting for review, more-information-needed

#22662 Update creating-redis-service-containers.md
  content/actions/using-containerized-services/creating-redis-service-containers.md
Labels: content, actions, waiting for review, needs SME

#26519 Update reusing-workflows.md
  content/actions/using-workflows/reusing-workflows.md
Labels: content, actions, waiting for review

#27808 fixed saved search query
  content/search-github/github-code-search/using-github-code-search.md
Labels: content, waiting for review, search-github

#26567 Make it clearer the Mars 2020 event has ended
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
Labels: content, waiting for review, account-and-profile

#28340 Update action-setup-node.md
  data/reusables/actions/action-setup-node.md
Labels: content, actions, waiting for review

#28245 Switch `checkout` to `switch` in checking-out-pull-requests-locally.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/checking-out-pull-requests-locally.md
Labels: content, waiting for review, pull requests

#28395 Update about-creating-github-apps.md
  content/apps/creating-github-apps/about-creating-github-apps/about-creating-github-apps.md
Labels: content, ready to merge, waiting for review, github apps

#28385 Changing the wording about trial limitaitons
  content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
Labels: content, enterprise, waiting for review

#28408 Fix indentation causing duplicate "reusables.ssh.add-public-key-to-github" step on Linux steps for "Adding your SSH key"
  content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, triage, waiting for review, authentication

#28411 Fix issue events docs
  content/rest/overview/issue-event-types.md
  data/reusables/issue-events/assignee-properties.md
Labels: content, ready to merge, rest

#28442 Use node:18 in examples of actions with containers
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/customizing-the-containers-used-by-jobs.md
  data/reusables/actions/jobs/section-running-jobs-in-a-container.md
Labels: content, actions, waiting for review

#28391 Improve docs by removing typos and grammatical errors
  content/codespaces/managing-codespaces-for-your-organization/choosing-who-owns-and-pays-for-codespaces-in-your-organization.md
  content/codespaces/managing-your-codespaces/managing-secrets-for-your-codespaces.md
  content/codespaces/prebuilding-your-codespaces/about-github-codespaces-prebuilds.md
  content/codespaces/prebuilding-your-codespaces/allowing-a-prebuild-to-access-other-repositories.md
  content/codespaces/prebuilding-your-codespaces/managing-prebuilds.md
  content/codespaces/prebuilding-your-codespaces/testing-dev-container-changes.md
Labels: content, ready to merge, Codespaces

#28488 Fix issue self-hosted action-runners docs (#28487)
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/about-self-hosted-runners.md
Labels: content, actions, waiting for review

#28303 Correct case of github.event.review.state
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: content, actions, ready to merge, waiting for review, graphql

#28504 Add RustRover to the list of supported IDEs for Copilot
  content/copilot/getting-started-with-github-copilot.md
Labels: triage

#28544 Fix Copilot "Trigger inline suggestion" shortcut displaying backslash incorrectly
  content/copilot/configuring-github-copilot/configuring-github-copilot-in-your-environment.md
Labels: content, ready to merge, waiting for review, copilot

#28592 Correct license casing, fixes #28331
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/licensing-a-repository.md
Labels: content, waiting for review, repositories

#28567 Update incorrect activity type in the `check_suite` event note
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: content, actions, waiting for review

#28447 Update managing-multiple-accounts.md
  data/reusables/git/clear-stored-gcm-credentials.md
Labels: content, waiting for review, using git, SME reviewed, account-and-profile
