Repository github/docs, pull requests merged in 2023-07, with the labels that each got.

#26450 Fix user_migrations_intro saying "GitHub Enterprise Server.com"
  data/variables/migrations.yml
Labels: content, enterprise, Merge-after-freeze

#26517 Mention Dependabot support for npm v9
  data/reusables/dependabot/supported-package-managers.md
Labels: content, dependabot, Merge-after-freeze

#26522 Update security-hardening-for-github-actions.md
  content/actions/security-guides/security-hardening-for-github-actions.md
Labels: content, actions, waiting for review

#26527 Add a missing bracket
  content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, ready to merge, authentication

#26553 fix: typos in quickstart packages
  content/packages/quickstart.md
Labels: content, actions, waiting for review

#26586 Spell adjust
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
Labels: content, actions, waiting for review, account-and-profile

#26606 Whitespace cleanup
  data/release-notes/enterprise-server/3-6/0-rc1.yml
  data/release-notes/enterprise-server/3-6/0.yml
  data/release-notes/github-ae/3-6/0.yml
Labels: triage, enterprise

#26587 Fix spell
  contributing/content-style-guide.md
  contributing/troubleshooting.md
Labels: content, contributing docs, waiting for review

#26521 New tasklists also allow shorthand syntax
  content/issues/tracking-your-work-with-issues/about-tasklists.md
Labels: content, ready to merge, issues

#26299 Update searching-discussions.md
  content/search-github/searching-on-github/searching-discussions.md
Labels: content, waiting for review, search-github

#25140 Update sudo-mode.md
  content/authentication/keeping-your-account-and-data-secure/sudo-mode.md
Labels: content, waiting for review, authentication

#26622 fix: remove extra space in remote URL
  content/get-started/getting-started-with-git/managing-remote-repositories.md
Labels: content, ready to merge, waiting for review, get started

#26662 Fix spell 0713
  content/actions/security-guides/automatic-token-authentication.md
  content/admin/configuration/configuring-your-enterprise/configuring-ssh-connections-to-your-instance.md
Labels: content, waiting for review

#26648 Audit log streaming ip ranges
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
Labels: content, enterprise, waiting for review

#26538 Dependabot private Ruby registry config: Fix indentation of `replaces-base`
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
Labels: content, waiting for review, dependabot, code security

#26373 Update securing-your-github-pages-site-with-https.md
  content/pages/getting-started-with-github-pages/securing-your-github-pages-site-with-https.md
Labels: content, waiting for review, pages

#26678 docs: typo in passkeys.dev domain name
  content/authentication/authenticating-with-a-passkey/about-passkeys.md
Labels: content, waiting for review, authentication

#26667 Added a missing dependency to building-a-github-app-that-responds-to-…
  content/apps/creating-github-apps/writing-code-for-a-github-app/building-a-github-app-that-responds-to-webhook-events.md
Labels: content, ready to merge, waiting for review, github apps

#26157 Update customizing-the-containers-used-by-jobs.md
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/customizing-the-containers-used-by-jobs.md
Labels: content, actions, waiting for review

#26252 fix: Clarify that the example to list and delete caches on PR closure has a limit
  content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
Labels: content, actions, waiting for review

#26075 Update deploying-to-azure-static-web-app.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-to-azure-static-web-app.md
Labels: content, actions, waiting for review

#26487 Change wording in enterprise team synchronization
  data/reusables/identity-and-permissions/team-sync-confirm-saml.md
Labels: content, waiting for review

#26701 Correct rendering of actions variables and upload-pages-artifact version
  content/pages/getting-started-with-github-pages/using-custom-workflows-with-github-pages.md
Labels: content, waiting for review, pages

#26605 Use the new `inputs` API
  .github/workflows/azure-preview-env-deploy.yml
  .github/workflows/azure-preview-env-destroy.yml
  .github/workflows/azure-staging-build-deploy.yml
  .github/workflows/purge-fastly.yml
  .github/workflows/sync-codeql-cli.yml
  .github/workflows/sync-openapi.yml
  .github/workflows/sync-search-elasticsearch.yml
  data/reusables/actions/jobs/section-choosing-the-runner-for-a-job.md
Labels: engineering, waiting for review

#26641 Fix: Add quotes for labels in YAML issue form template
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms.md
Labels: content, ready to merge, waiting for review, communities

#26114 Update getting-started-with-github-copilot.md
  assets/images/help/copilot/copilot-activate.png
  content/copilot/getting-started-with-github-copilot.md
Labels: content, waiting for review, copilot

#26717 Fix confusing/contradictory note about environment availability
  content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
Labels: content, actions, waiting for review

#20732 Clarify documentation for `versioning-strategy` option
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
Labels: content, waiting for review, dependabot

#26699 NPM/Yarn examples: Use lock file usually
  content/actions/automating-builds-and-tests/building-and-testing-nodejs.md
Labels: content, actions, waiting for review

#26990 Fix misleading wording regarding permissions and access to secrets
  content/actions/security-guides/encrypted-secrets.md
  data/reusables/actions/permissions-statement-secrets-variables-repository.md
Labels: content, actions, rest

#26968 Removing duplicate ssh-keygen line for Github AE docs
  content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, waiting for review, authentication

#26173 Patterns that start with `*` or `!` must use quotes
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions, waiting for review

#27059 Update release_properties.md
  data/reusables/webhooks/release_properties.md
Labels: content, ready to merge, waiting for review, webhooks

#26540 Fix expressions.md confusing directions
  content/actions/learn-github-actions/expressions.md
Labels: content, actions, waiting for review

#27127 fix wrong activity type `starred`
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: content, actions, waiting for review
