Repository github/docs, pull requests merged in 2023-11, with the labels that each got.

#29641 docs: Add notes about runs-on syntax
  data/reusables/actions/jobs/section-choosing-the-runner-for-a-job.md
Labels: content, actions, waiting for review

#29412 Clarify required status check language
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-protected-branches/about-protected-branches.md
Labels: content, waiting for review, needs SME, pull requests

#29633 docs: fix an undefined reference in generating-a-new-ssh-key-and-addi…
  content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, hacktoberfest-accepted, waiting for review, authentication

#29436 fix(docs): Updated the documentation on using local workflow
  content/actions/learn-github-actions/finding-and-customizing-actions.md
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
  data/reusables/actions/workflows/section-referencing-an-action-from-the-same-repository.md
Labels: content, actions, hacktoberfest-accepted, waiting for review

#29640 Update splitting-a-subfolder-out-into-a-new-repository.md, adding com…
  content/get-started/using-git/splitting-a-subfolder-out-into-a-new-repository.md
Labels: content, waiting for review, using git, get started

#29682 Authenticating with a GitHub App: Use non-deprecated syntax
  content/apps/creating-github-apps/authenticating-with-a-github-app/making-authenticated-api-requests-with-a-github-app-in-a-github-actions-workflow.md
Labels: content, waiting for review, github apps

#29638 docs: Update composite action for Windows users
  content/actions/creating-actions/creating-a-composite-action.md
  data/reusables/actions/composite-actions-commit-file-linux-mac.md
  data/reusables/actions/composite-actions-executable-linux-mac.md
Labels: content, triage, actions

#29472 Update adding-a-billing-manager-to-your-organization.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/adding-a-billing-manager-to-your-organization.md
Labels: content, waiting for review, copilot

#29701 Update instructions on settings up Git on ChromeOS
  content/get-started/quickstart/set-up-git.md
Labels: content, waiting for review, get started

#29713 Update Instructions for OAuth Application Policy
  data/reusables/organizations/oauth_app_access.md
Labels: content, waiting for review, organizations

#29770 Use GitHub CLI instead of imjohnbo/issue-bot in "Scheduling issue creation" page
  content/actions/managing-issues-and-pull-requests/scheduling-issue-creation.md
Labels: content, actions, ready to merge, waiting for review, Merge-after-freeze

#29792 Update paste-ssh-public-key.md
  data/reusables/gpg/paste-ssh-public-key.md
Labels: content, ready to merge, ssh, authentication, Merge-after-freeze

#29845 add OpenZiti and zrok
  content/webhooks/using-webhooks/delivering-webhooks-to-private-systems.md
Labels: content, ready to merge, waiting for review, webhooks

#29928 Make dark scroll bar in dark theme in Chromium-based browsers
  src/events/components/events.ts
  src/frame/pages/app.tsx
Labels: engineering

#29942 docs: fix code block indentation
  content/actions/learn-github-actions/essential-features-of-github-actions.md
Labels: content, actions, waiting for review

#29806 docs: Add heading on scanning alerts
  content/code-security/code-scanning/managing-code-scanning-alerts/managing-code-scanning-alerts-for-your-repository.md
Labels: content, ready to merge, code security

#29842 Update about-runner-groups.md
  data/reusables/actions/about-runner-groups.md
Labels: content, ready to merge

#29963 Fix keyboard shortcuts typos
  content/get-started/accessibility/keyboard-shortcuts.md
Labels: content, waiting for review, get started

#29415 Restore correct section range in TOS
  content/site-policy/github-terms/github-terms-of-service.md
Labels: content, site policy, hacktoberfest-accepted, waiting for review

#29989 Update unlinking-your-email-address-from-a-locked-account.md
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/unlinking-your-email-address-from-a-locked-account.md
Labels: content, waiting for review, account-and-profile

#30043 Update about-readmes.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-readmes.md
Labels: content, waiting for review, repositories

#30080 Fix quote char on "Planning your migration to GH"
  content/migrations/overview/planning-your-migration-to-github.md
Labels: content, enterprise, waiting for review

#30082 Fix concurrency groups example
  data/reusables/actions/actions-group-concurrency.md
Labels: content, actions, waiting for review

#30098 Remove note about codespaces URL containing GitHub handle
  content/codespaces/troubleshooting/troubleshooting-your-connection-to-github-codespaces.md
Labels: content, waiting for review, Codespaces

#29840 Clarify behavior of template repo usage in GitHub Classroom
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-an-assignment-from-a-template-repository.md
Labels: content, ready to merge, waiting for review, education, repositories

#30137 Fix typo
  content/code-security/security-advisories/guidance-on-reporting-and-writing-information-about-vulnerabilities/privately-reporting-a-security-vulnerability.md
Labels: content, ready to merge, code security

#30138 Fix self-review checklist PR template link
  .github/PULL_REQUEST_TEMPLATE.md
Labels: contributing docs, ready to merge

#29826 use GH_REPO instead of --repo and REPO
  content/actions/managing-issues-and-pull-requests/commenting-on-an-issue-when-a-label-is-added.md
Labels: content, actions, waiting for review

#29853 Use `gh issue edit` instead of `actions/github-script` to add labels in "Adding labels to issues"
  content/actions/managing-issues-and-pull-requests/adding-labels-to-issues.md
Labels: content, actions, waiting for review

#30164 Markdown syntax / Alert section: fix number of alert types
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, waiting for review, get started

#30205 Fix casing of BibTeX
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files.md
Labels: content

#30167 docs: Add info on getting the installation ID of an App
  data/reusables/apps/generate-installation-access-token.md
Labels: content, ready to merge, waiting for review, github apps
