Repository github/docs, pull requests merged in 2023-03, with the labels that each got.

#24212 repo sync
  assets/images/oauth-apps/oauth_apps_application_description.png
  assets/images/oauth-apps/oauth_apps_application_name.png
  assets/images/oauth-apps/oauth_apps_authorization_callback_url.png
  assets/images/oauth-apps/oauth_apps_badge_background_color.png
  assets/images/oauth-apps/oauth_apps_choose_app_post2dot12.png
  assets/images/oauth-apps/oauth_apps_crop_and_set_logo.png
  assets/images/oauth-apps/oauth_apps_delete_application.png
  assets/images/oauth-apps/oauth_apps_delete_confirm.png
  assets/images/oauth-apps/oauth_apps_homepage_url.png
  assets/images/oauth-apps/oauth_apps_new_app.png
  assets/images/oauth-apps/oauth_apps_register_application.png
  assets/images/oauth-apps/oauth_apps_sidebar_advanced.png
  assets/images/oauth-apps/oauth_apps_transfer_application.png
  assets/images/oauth-apps/oauth_apps_transfer_new_owner.png
  assets/images/oauth-apps/oauth_apps_transfer_oauth_name.png
  assets/images/oauth-apps/oauth_apps_transfer_ownership.png
  assets/images/oauth-apps/oauth_apps_update_application.png
  assets/images/oauth-apps/oauth_apps_upload_logo.png
  content/apps/maintaining-github-apps/modifying-a-github-app.md
  content/apps/oauth-apps/building-oauth-apps/creating-a-custom-badge-for-your-oauth-app.md
  content/apps/oauth-apps/building-oauth-apps/creating-an-oauth-app.md
  content/apps/oauth-apps/maintaining-oauth-apps/deleting-an-oauth-app.md
  content/apps/oauth-apps/maintaining-oauth-apps/transferring-ownership-of-an-oauth-app.md
  data/reusables/user-settings/modify_oauth_app.md
  data/reusables/user-settings/update_oauth_app.md
  src/rest/data/meta.json
  src/rest/scripts/utils/sync.js
  src/rest/scripts/utils/update-markdown.js
  tests/unit/automated-pipelines.js
Labels: triage, automated-reposync-pr

#24216 repo sync
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  data/reusables/audit_log/audit-log-action-categories.md
  src/rest/data/client-side-rest-api-redirects.json
Labels: automated-reposync-pr

#24218 repo sync
  src/rest/data/client-side-rest-api-redirects.json
  src/rest/scripts/utils/getRedirects.js
Labels: automated-reposync-pr

#24220 repo sync
  components/landing/CodeExamples.tsx
  components/landing/GuideCards.tsx
  components/landing/ProductLanding.tsx
  components/page-header/RestBanner.tsx
  components/rest/RestCodeSamples.tsx
  components/rest/types.ts
  data/ui.yml
  tests/fixtures/data/ui.yml
Labels: automated-reposync-pr

#24227 repo sync
  content/discussions/index.md
  content/get-started/quickstart/git-and-github-learning-resources.md
  content/get-started/using-git/about-git.md
  contributing/videos.md
Labels: automated-reposync-pr

#24228 repo sync
  .github/workflows/browser-test.yml
  lib/render-content/plugins/rewrite-asset-img-tags.js
  middleware/dynamic-assets.js
  tests/rendering-fixtures/dynamic-assets.js
  tests/rendering-fixtures/images.js
Labels: automated-reposync-pr

#24229 repo sync
  assets/images/help/profile/pronouns-field.png
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-profile.md
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/setting-your-profile-to-private.md
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/configuring-code-scanning-for-your-appliance.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/customizing-code-scanning.md
  content/code-security/codeql-cli/using-the-codeql-cli/creating-codeql-databases.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/about-identity-and-access-management-with-saml-single-sign-on.md
Labels: automated-reposync-pr

#24041 Screenshot Update for gist directory
  assets/images/help/gist/create-secret-gist-button.png
  assets/images/help/gist/gist-visibility-drop-down-ae.png
  assets/images/help/gist/gist-visibility-drop-down.png
  assets/images/help/gist/gist_clone_btn.png
  assets/images/help/gist/gist_forks.png
  assets/images/help/gist/gist_history.png
  assets/images/help/gist/gist_name_description.png
  assets/images/help/gist/gist_revisions_tab.png
  assets/images/help/gist/gist_text_box.png
  content/get-started/writing-on-github/editing-and-sharing-content-with-gists/creating-gists.md
  content/get-started/writing-on-github/editing-and-sharing-content-with-gists/forking-and-cloning-gists.md
Labels: content, waiting for review

#24230 repo sync
  data/reusables/actions/supported-github-runners.md
  data/reusables/billing/billing-hosted-runners.md
Labels: automated-reposync-pr

#24233 repo sync
  content/actions/migrating-to-github-actions/automated-migrations/automating-migration-with-github-actions-importer.md
  content/actions/migrating-to-github-actions/automated-migrations/extending-github-actions-importer-with-custom-transformers.md
  content/actions/migrating-to-github-actions/automated-migrations/index.md
  content/actions/migrating-to-github-actions/automated-migrations/supplemental-arguments-and-settings.md
  content/actions/migrating-to-github-actions/index.md
  content/actions/migrating-to-github-actions/manual-migrations/index.md
  content/actions/migrating-to-github-actions/manual-migrations/migrating-from-azure-pipelines-to-github-actions.md
  content/actions/migrating-to-github-actions/manual-migrations/migrating-from-circleci-to-github-actions.md
  content/actions/migrating-to-github-actions/manual-migrations/migrating-from-gitlab-cicd-to-github-actions.md
  content/actions/migrating-to-github-actions/manual-migrations/migrating-from-jenkins-to-github-actions.md
  content/actions/migrating-to-github-actions/manual-migrations/migrating-from-travis-ci-to-github-actions.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/migrating-your-enterprise-to-github-actions.md
  data/reusables/actions/actions-importer-legal-notice.md
Labels: automated-reposync-pr

#24234 repo sync
  content/pages/getting-started-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/troubleshooting-jekyll-build-errors-for-github-pages-sites.md
  data/features/pages-disable-symlinks-on-legacy-pages.yml
  data/reusables/pages/admin-must-push.md
  data/reusables/pages/pages-custom-workflow-beta.md
  data/reusables/pages/symlink-removal.md
  package-lock.json
  package.json
Labels: automated-reposync-pr

#24235 repo sync
  content/apps/creating-github-apps/authenticating-with-a-github-app/index.md
  src/rest/scripts/utils/update-markdown.js
Labels: automated-reposync-pr

#24236 repo sync
  content/apps/creating-github-apps/authenticating-with-a-github-app/authenticating-as-a-github-app.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/index.md
  lib/excluded-links.js
Labels: automated-reposync-pr

#24237 repo sync
  content/codespaces/guides.md
  lib/update-internal-links.js
  script/update-internal-links.js
  tests/fixtures/content/index.md
Labels: automated-reposync-pr

#24239 repo sync
  assets/images/help/marketplace/marketplace-add-payment-method-org.png
  assets/images/help/marketplace/marketplace-add-payment-method-personal.png
  assets/images/help/marketplace/marketplace-buy-with-github-button.png
  assets/images/help/marketplace/marketplace-choose-new-plan.png
  assets/images/help/marketplace/marketplace-choose-plan.png
  assets/images/help/marketplace/marketplace-choose-repo-install-option.png
  assets/images/help/marketplace/marketplace-complete-order-begin-installation-button.png
  assets/images/help/marketplace/marketplace-confirm-org-no-org-details.png
  assets/images/help/marketplace/marketplace-confirm-org.png
  assets/images/help/marketplace/marketplace-confirm-personal-account.png
  assets/images/help/marketplace/marketplace-edit-app-billing-settings.png
  assets/images/help/marketplace/marketplace-edit-payment-method-org.png
  assets/images/help/marketplace/marketplace-edit-payment-method-personal.png
  assets/images/help/marketplace/marketplace-issue-plan-changes.png
  assets/images/help/marketplace/marketplace-link-global-navigation.png
  assets/images/help/marketplace/marketplace-new-quantity.png
  assets/images/help/marketplace/marketplace-report-app.png
  assets/images/help/marketplace/marketplace-select-repo-field.png
  content/admin/identity-and-access-management/managing-iam-for-your-enterprise/about-authentication-for-your-enterprise.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/managing-team-memberships-with-identity-provider-groups.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/migrating-from-saml-to-oidc.md
  content/admin/identity-and-access-management/using-ldap-for-enterprise-iam/using-ldap.md
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/about-saml-for-enterprise-iam.md
  content/admin/user-management/managing-organizations-in-your-enterprise/adding-organizations-to-your-enterprise.md
  content/admin/user-management/managing-users-in-your-enterprise/customizing-user-messages-for-your-enterprise.md
  content/apps/using-github-apps/installing-an-app-in-your-organization.md
  content/apps/using-github-apps/installing-an-app-in-your-personal-account.md
  content/billing/managing-billing-for-github-advanced-security/about-billing-for-github-advanced-security.md
  content/communities/maintaining-your-safety-on-github/reporting-abuse-or-spam.md
  content/organizations/managing-organization-settings/setting-permissions-for-adding-outside-collaborators.md
  content/organizations/managing-user-access-to-your-organizations-repositories/adding-outside-collaborators-to-repositories-in-your-organization.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/licensing-a-repository.md
  data/reusables/enterprise/saml-or-ldap.md
  data/reusables/marketplace/add-payment-method-org.md
  data/reusables/marketplace/add-payment-method-personal.md
  data/reusables/marketplace/cancel-app-billing-settings.md
  data/reusables/marketplace/choose-new-plan.md
  data/reusables/marketplace/choose-new-quantity.md
  data/reusables/marketplace/choose-plan.md
  data/reusables/marketplace/complete-order-begin-installation.md
  data/reusables/marketplace/confirm-install-account-org.md
  data/reusables/marketplace/confirm-install-account-personal.md
  data/reusables/marketplace/downgrade-app-billing-settings.md
  data/reusables/marketplace/install-buy.md
  data/reusables/marketplace/issue-plan-changes.md
  data/reusables/marketplace/select-installation-repos.md
  data/reusables/marketplace/upgrade-app-billing-settings.md
  data/reusables/marketplace/visit-marketplace.md
  data/reusables/organizations/about-outside-collaborators.md
Labels: automated-reposync-pr

#24242 repo sync
  assets/images/actions-bypass-env-protection-rules.png
  content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
  content/actions/managing-workflow-runs/reviewing-deployments.md
  data/features/actions-break-glass.yml
Labels: automated-reposync-pr

#24245 repo sync
  src/graphql/scripts/utils/process-previews.js
Labels: automated-reposync-pr

#24246 repo sync
  content/apps/creating-github-apps/authenticating-with-a-github-app/authenticating-as-a-github-app-installation.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/generating-an-installation-access-token-for-a-github-app.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/index.md
  data/reusables/apps/generate-installation-access-token.md
Labels: automated-reposync-pr

#24247 repo sync
  .github/workflows/openapi-decorate.yml
Labels: automated-reposync-pr

#24145 Update base permissions docs to explicitly state changes impact new & existing customers.
  content/organizations/managing-user-access-to-your-organizations-repositories/setting-base-permissions-for-an-organization.md
Labels: content, organizations

#24257 repo sync
  assets/images/help/repository/tags-download-zip-targz.png
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/managing-git-lfs-objects-in-archives-of-your-repository.md
  content/repositories/working-with-files/managing-large-files/about-storage-and-bandwidth-usage.md
  content/repositories/working-with-files/using-files/downloading-source-code-archives.md
  content/repositories/working-with-files/using-files/index.md
  data/reusables/large_files/can-include-lfs-objects-archives.md
Labels: automated-reposync-pr

#24211 CODEOWNERS file syntax documentation edited to make it explicitly clear that a pattern can only be used once
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
Labels: content, ready to merge, waiting for review, code owners, repositories

#24262 repo sync
  data/release-notes/enterprise-server/3-4/17.yml
  data/release-notes/enterprise-server/3-5/14.yml
  data/release-notes/enterprise-server/3-6/10.yml
  data/release-notes/enterprise-server/3-7/7.yml
Labels: automated-reposync-pr

#24244 Hyperlink to the inputs context documentation
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions, waiting for review

#24266 repo sync
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  content/authentication/keeping-your-account-and-data-secure/sudo-mode.md
Labels: automated-reposync-pr

#24269 repo sync
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/troubleshooting-the-dependency-graph.md
Labels: automated-reposync-pr

#24270 repo sync
  src/rest/data/client-side-rest-api-redirects.json
  src/rest/lib/rest-api-overrides.json
  src/rest/scripts/update-files.js
  src/rest/scripts/utils/get-redirects.js
Labels: automated-reposync-pr

#24271 repo sync
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/searching-the-audit-log-for-your-enterprise.md
  content/admin/overview/best-practices-for-enterprises.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/accessing-compliance-reports-for-your-organization.md
  data/reusables/organizations/ent-ownership-recommendation.md
  tests/helpers/schemas/release-notes-schema.js
Labels: automated-reposync-pr

#24273 repo sync
  content/code-security/secret-scanning/about-secret-scanning.md
Labels: automated-reposync-pr

#24274 repo sync
  content/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-visual-studio.md
Labels: automated-reposync-pr

#24260 Update configuring-github-copilot-in-visual-studio.md
  content/copilot/configuring-github-copilot/configuring-github-copilot-in-visual-studio.md
Labels: content, blocked, copilot

#24275 repo sync
  assets/images/help/profile/pronouns-field.png
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
Labels: automated-reposync-pr

#24268 fixing a grammar mistake in Copilot with neovim setup article
  content/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-neovim.md
Labels: content, waiting for review, copilot

#24279 repo sync
  assets/images/help/desktop/base-branch-selection.png
  assets/images/help/desktop/branch-history-commit.png
  assets/images/help/desktop/mac-create-pull-request.png
  assets/images/help/desktop/mac-preview-pull-request.png
  assets/images/help/desktop/preview-dialog-create-pull-request.png
  assets/images/help/desktop/preview-dialog-merge-status.png
  assets/images/help/desktop/windows-preview-pull-request.png
  content/desktop/contributing-and-collaborating-using-github-desktop/making-changes-in-a-branch/committing-and-reviewing-changes-to-your-project.md
  content/desktop/contributing-and-collaborating-using-github-desktop/making-changes-in-a-branch/pushing-changes-to-github.md
  content/desktop/contributing-and-collaborating-using-github-desktop/making-changes-in-a-branch/viewing-the-branch-history.md
  content/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/creating-an-issue-or-pull-request.md
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request.md
Labels: automated-reposync-pr

#24198 Fixed link to project contributors
  content/repositories/viewing-activity-and-data-for-your-repository/viewing-a-projects-contributors.md
Labels: content, waiting for review, repositories

#24283 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  src/graphql/data/dotcom/changelog.json
  src/graphql/data/dotcom/schema.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghec/schema.json
Labels: automated-reposync-pr

#24285 repo sync
  content/admin/configuration/configuring-your-enterprise/configuring-applications.md
  content/code-security/secret-scanning/secret-scanning-patterns.md
  content/pull-requests/collaborating-with-pull-requests/collaborating-on-repositories-with-code-quality-features/about-status-checks.md
  content/rest/guides/using-the-rest-api-to-interact-with-checks.md
  data/features/status-check-retention.yml
  data/release-notes/enterprise-server/3-8/0-rc1.yml
  data/reusables/pull_requests/retention-checks-data.md
  data/reusables/secret-scanning/partner-secret-list-private-repo.md
  data/reusables/secret-scanning/partner-secret-list-public-repo.md
  data/reusables/secret-scanning/secret-list-private-push-protection.md
  data/secret-scanning.yml
  middleware/contextualizers/secret-scanning.js
  middleware/index.js
  package-lock.json
  package.json
  tests/helpers/schemas/secret-scanning-schema.js
  tests/linting/lint-secret-scanning-data.js
Labels: automated-reposync-pr

#24286 repo sync
  content/actions/learn-github-actions/finding-and-customizing-actions.md
  content/actions/security-guides/security-hardening-for-github-actions.md
  data/reusables/actions/actions-pin-commit-sha.md
Labels: automated-reposync-pr

#24301 repo sync
  content/actions/migrating-to-github-actions/automated-migrations/automating-migration-with-github-actions-importer.md
Labels: automated-reposync-pr

#24217 Fix example that showed a number for workflow_dispatch
  content/actions/learn-github-actions/contexts.md
Labels: content, actions, waiting for review

#24303 repo sync
  data/secret-scanning.yml
Labels: automated-reposync-pr

#24305 repo sync
  assets/images/enterprise/3.3/dependabot/dependabot-secrets.png
  assets/images/enterprise/3.3/settings/security-and-analysis-enable-dependency-graph.png
  assets/images/enterprise/repository/dependabot-alerts-tab.png
  assets/images/enterprise/security/enterprise-security-and-analysis-enable-secret-scanning.png
  assets/images/enterprise/site-admin-settings/dependabot-alerts-dropdown.png
  assets/images/enterprise/site-admin-settings/dependabot-updates-button.png
  assets/images/help/repository/dependabot-alert-dismiss-drop-down-ungrouped.png
  assets/images/help/settings/security-and-analysis-enable-dependency-graph.png
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/managing-security-and-analysis-settings-for-your-personal-account.md
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/managing-github-advanced-security-features-for-your-enterprise.md
  content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
  content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
  data/release-notes/enterprise-server/3-8/0-rc1.yml
  data/reusables/dependabot/sidebar-secret.md
  data/reusables/repositories/sidebar-dependabot-alerts.md
Labels: automated-reposync-pr

#24306 repo sync
  package-lock.json
Labels: automated-reposync-pr

#24311 repo sync
  assets/images/developer/graphiql-headers.png
  assets/images/developer/graphql/insomnia-base-url-and-pat.png
  assets/images/developer/graphql/insomnia-bearer-token-option.png
  assets/images/developer/graphql/json-content-type-header.png
  assets/images/developer/graphql/preview-header-for-2.18.png
  content/graphql/guides/managing-enterprise-accounts.md
  content/graphql/guides/using-the-explorer.md
Labels: automated-reposync-pr

#24312 repo sync
  lib/create-tree.js
  middleware/index.js
  middleware/reload-tree.js
Labels: automated-reposync-pr

#24313 repo sync
  components/graphql/Enum.tsx
  components/graphql/GraphqlItem.tsx
  components/graphql/InputObject.tsx
  components/graphql/Interface.tsx
  components/graphql/Mutation.tsx
  components/graphql/Object.tsx
  components/graphql/Query.tsx
  components/graphql/Table.tsx
  components/graphql/Union.tsx
  data/ui.yml
  tests/fixtures/data/ui.yml
Labels: automated-reposync-pr

#24314 repo sync
  src/rest/scripts/utils/get-openapi-schemas.js
Labels: automated-reposync-pr

#24315 repo sync
  .github/workflows/purge-fastly.yml
Labels: automated-reposync-pr

#24318 repo sync
  content/education/explore-internship-projects-with-github-octernships/about-github-octernships.md
  content/education/explore-internship-projects-with-github-octernships/applying-for-github-octernships.md
  content/education/explore-internship-projects-with-github-octernships/index.md
  content/education/index.md
  data/reusables/education/octernships-availability.md
  data/variables/product.yml
Labels: automated-reposync-pr

#24326 repo sync
  content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  content/support/contacting-github-support/providing-data-to-github-support.md
  data/features/specify-period-for-support-bundle.yml
  data/reusables/enterprise/bundle-utility-period-argument-availability-note.md
  data/reusables/enterprise_enterprise_support/use_ghe_cluster_support_bundle.md
Labels: automated-reposync-pr

#24329 repo sync
  assets/images/github-apps/content_reference_attachment.png
Labels: automated-reposync-pr

#24333 repo sync
  content/rest/users/social-accounts.md
Labels: automated-reposync-pr

#24335 repo sync
  assets/images/help/package-registry/package-settings.png
  content/packages/learn-github-packages/about-permissions-for-github-packages.md
  content/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility.md
  content/packages/learn-github-packages/connecting-a-repository-to-a-package.md
  content/packages/working-with-a-github-packages-registry/working-with-the-container-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-npm-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-rubygems-registry.md
  data/features/packages-inherit-permissions.yml
  data/reusables/package_registry/auto-inherit-permissions-note.md
  data/reusables/package_registry/disable-auto-inheritance-step.md
  data/reusables/package_registry/package-settings-option.md
  data/reusables/package_registry/visibility-and-access-permissions.md
  lib/create-tree.js
Labels: automated-reposync-pr

#24334 Typo: Fix space
  content/copilot/overview-of-github-copilot/about-github-copilot-for-business.md
Labels: content, ready to merge, waiting for review

#24336 repo sync
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  data/reusables/dependabot/dependabot-alerts-dependency-scope.md
Labels: automated-reposync-pr

#21729 Updating snippets to latest dotnet
  content/actions/automating-builds-and-tests/building-and-testing-net.md
Labels: content, actions, ready to merge, waiting for review, SME reviewed

#24337 repo sync
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  src/graphql/data/dotcom/changelog.json
  src/graphql/data/dotcom/schema.json
  src/graphql/data/ghec/schema.json
Labels: automated-reposync-pr

#24338 repo sync
  src/rest/scripts/update-files.js
Labels: automated-reposync-pr

#24340 repo sync
  content/admin/configuration/configuring-your-enterprise/restricting-network-traffic-to-your-enterprise-with-an-ip-allow-list.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-support-for-your-idps-conditional-access-policy.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/about-authentication-with-a-github-app.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/authenticating-with-github-apps.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/index.md
  content/apps/creating-github-apps/creating-github-apps/differences-between-github-apps-and-oauth-apps.md
  content/apps/creating-github-apps/creating-github-apps/making-a-github-app-public-or-private.md
  content/apps/creating-github-apps/guides/migrating-oauth-apps-to-github-apps.md
  content/apps/creating-github-apps/guides/setting-up-your-development-environment-to-create-a-github-app.md
  content/apps/index.md
  content/apps/publishing-apps-to-github-marketplace/creating-apps-for-github-marketplace/security-best-practices-for-apps.md
  content/apps/publishing-apps-to-github-marketplace/using-the-github-marketplace-api-in-your-app/rest-endpoints-for-the-github-marketplace-api.md
  content/authentication/connecting-to-github-with-ssh/managing-deploy-keys.md
  content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
  content/graphql/guides/forming-calls-with-graphql.md
  content/issues/planning-and-tracking-with-projects/automating-your-project/automating-projects-using-actions.md
  content/issues/planning-and-tracking-with-projects/automating-your-project/using-the-api-to-manage-projects.md
  content/rest/apps/apps.md
  content/rest/apps/installations.md
  content/rest/guides/getting-started-with-the-rest-api.md
  content/rest/guides/scripting-with-the-rest-api-and-javascript.md
  content/rest/overview/endpoints-available-for-github-apps.md
  content/rest/quickstart.md
  content/rest/scim.md
  data/reusables/shortdesc/authenticating_github_app.md
Labels: automated-reposync-pr

#24341 repo sync
  .gitignore
  .npmrc
  package.json
  script/cmp-files.js
  tests/helpers/schemas.js
  tests/helpers/schemas/release-notes-schema.js
  tests/linting/lint-files.js
  tests/unit/products.js
Labels: automated-reposync-pr

#24342 repo sync
  assets/images/help/platform/oauth_access_types.png
  assets/images/help/platform/oauth_app_info.png
  assets/images/help/platform/oauth_existing_access_pane.png
  assets/images/help/platform/oauth_owner_bar.png
  content/apps/oauth-apps/building-oauth-apps/authenticating-to-the-rest-api-with-an-oauth-app.md
  content/apps/oauth-apps/building-oauth-apps/index.md
  content/apps/using-github-apps/connecting-with-third-party-applications.md
  content/rest/activity/starring.md
  content/rest/activity/watching.md
  content/rest/guides/index.md
  tests/routing/developer-site-redirects.js
Labels: automated-reposync-pr

#24344 repo sync
  .github/workflows/openapi-decorate.yml
  .gitignore
  src/rest/scripts/update-files.js
Labels: automated-reposync-pr

#24346 repo sync
  contributing/content-style-guide.md
Labels: automated-reposync-pr

#24347 repo sync
  tests/content/site-tree.js
  tests/helpers/schemas/site-tree-schema.js
  tests/helpers/schemas/versions-schema.js
  tests/unit/versions.js
Labels: automated-reposync-pr

#24348 repo sync
  assets/images/help/repository/security-tab.png
  assets/images/help/security/security-advisories-choose-credit-type.png
  assets/images/help/security/security-advisory-new-draft-security-advisory-button.png
  content/code-security/security-advisories/global-security-advisories/editing-security-advisories-in-the-github-advisory-database.md
  content/code-security/security-advisories/repository-security-advisories/creating-a-repository-security-advisory.md
  content/code-security/security-advisories/repository-security-advisories/editing-a-repository-security-advisory.md
  data/features/security-advisories-credit-types.yml
  data/release-notes/enterprise-server/3-4/12.yml
  data/release-notes/enterprise-server/3-4/15.yml
  data/release-notes/enterprise-server/3-5/12.yml
  data/release-notes/enterprise-server/3-5/9.yml
  data/release-notes/enterprise-server/3-6/5.yml
  data/release-notes/enterprise-server/3-6/8.yml
  data/release-notes/enterprise-server/3-7/5.yml
  data/reusables/repositories/security-advisory-credits-notification.md
  data/reusables/repositories/security-advisory-edit-details.md
Labels: automated-reposync-pr

#24352 repo sync
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-dependency-insights-in-your-enterprise.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-team-policies-in-your-enterprise.md
  content/admin/user-management/managing-users-in-your-enterprise/managing-dormant-users.md
  content/admin/user-management/managing-users-in-your-enterprise/managing-invitations-to-organizations-within-your-enterprise.md
  content/billing/managing-billing-for-your-github-account/viewing-the-subscription-and-usage-for-your-enterprise-account.md
  content/billing/managing-your-license-for-github-enterprise/downloading-your-license-for-github-enterprise.md
  content/code-security/security-overview/about-the-security-overview.md
  content/code-security/security-overview/viewing-the-security-overview.md
  content/issues/planning-and-tracking-with-projects/customizing-views-in-your-project/customizing-the-roadmap-layout.md
  content/organizations/organizing-members-into-teams/requesting-to-add-a-child-team.md
  content/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility.md
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/configuring-autolinks-to-reference-external-resources.md
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/managing-pull-request-reviews-in-your-repository.md
  content/repositories/working-with-files/managing-large-files/about-large-files-on-github.md
  content/webhooks-and-events/webhooks/securing-your-webhooks.md
  data/reusables/actions/settings-ui/settings-actions-general.md
  data/reusables/enterprise-accounts/administrators-tab.md
  data/reusables/enterprise-accounts/audit-log-tab.md
  data/reusables/enterprise-accounts/billing-tab.md
  data/reusables/enterprise-accounts/enterprise-accounts-compliance-tab.md
  data/reusables/enterprise-accounts/github-connect-tab.md
  data/reusables/enterprise-accounts/hooks-tab.md
  data/reusables/enterprise-accounts/people-tab.md
  data/reusables/enterprise-accounts/policies-tab.md
  data/reusables/enterprise-accounts/projects-tab.md
  data/reusables/enterprise-accounts/repositories-tab.md
  data/reusables/enterprise-accounts/security-tab.md
  data/reusables/enterprise-accounts/settings-tab.md
  data/reusables/enterprise-accounts/view-current-policy-config-orgs.md
  data/reusables/enterprise_site_admin_settings/management-console.md
  data/reusables/identity-and-permissions/ip-allow-lists-add-entry.md
  data/reusables/marketplace/cancel-app-billing-settings.md
  data/reusables/marketplace/downgrade-app-billing-settings.md
  data/reusables/marketplace/upgrade-app-billing-settings.md
  data/reusables/organizations/click-general.md
  data/reusables/organizations/new_team.md
  data/reusables/organizations/team-discussions-tab.md
  data/reusables/organizations/team-security-overview.md
  data/reusables/organizations/team_members_tab.md
  data/reusables/organizations/team_settings.md
  data/reusables/package_registry/package-settings-delete-versions.md
  data/reusables/package_registry/package-settings-from-org-level.md
  data/reusables/package_registry/package-settings-from-user-level.md
  data/reusables/package_registry/package-settings-manage-versions-menu.md
  data/reusables/package_registry/package-settings-option.md
  data/reusables/projects/projects-tab.md
  data/reusables/repositories/click-collaborators-teams.md
  data/reusables/repositories/navigate-to-branches.md
  data/reusables/repositories/navigate-to-commit-page.md
  data/reusables/repositories/sidebar-advisories.md
  data/reusables/repositories/sidebar-security.md
  data/reusables/repositories/sidebar-settings.md
  lib/excluded-links.js
  package-lock.json
  package.json
Labels: automated-reposync-pr

#24358 repo sync
  content/actions/migrating-to-github-actions/automated-migrations/automating-migration-with-github-actions-importer.md
  content/actions/migrating-to-github-actions/automated-migrations/index.md
  content/actions/migrating-to-github-actions/automated-migrations/migrating-from-circleci-with-github-actions-importer.md
  content/actions/migrating-to-github-actions/automated-migrations/migrating-from-jenkins-with-github-actions-importer.md
  contributing/content-markup-reference.md
  data/reusables/actions/actions-importer-prerequisites.md
  data/reusables/actions/installing-actions-importer.md
Labels: automated-reposync-pr

#24359 repo sync
  content/apps/creating-github-apps/authenticating-with-a-github-app/generating-a-user-access-token-for-a-github-app.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/identifying-and-authorizing-users-for-github-apps.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/index.md
  data/reusables/apps/user-access-token-example-request.md
  data/reusables/apps/user-access-token-response-parameters.md
  data/reusables/apps/web-app-flow-exchange-code.md
  data/reusables/apps/web-app-flow-token-response.md
  data/reusables/shortdesc/identifying_and_authorizing_github_apps.md
  tests/browser/browser.js
  tests/helpers/schemas.js
  tests/helpers/schemas/feature-versions-schema.js
  tests/linting/lint-versioning.js
Labels: automated-reposync-pr

#24362 repo sync
  assets/images/help/enterprises/cancel-enterprise-member-invitation.png
  assets/images/help/enterprises/enterprise-filter-pending-invitations.png
  assets/images/help/enterprises/pending-invitations-tab.png
  assets/images/help/enterprises/pending-invitations-type-tabs.png
  assets/images/help/organizations/edit-invitation-button.png
  assets/images/help/organizations/organization-edit-invitation.png
  assets/images/help/organizations/organization-edit-or-cancel-invitation.png
  assets/images/help/organizations/organization-filter-invitations.png
  assets/images/help/organizations/pending-invitation-link.png
  assets/images/help/organizations/update-cancel-invitation-buttons-for-dotcom-and-2.8.png
  content/actions/examples/using-concurrency-expressions-and-a-test-matrix.md
  content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/configuring-the-audit-log-for-your-enterprise.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-github-actions-in-your-enterprise.md
  content/admin/user-management/managing-users-in-your-enterprise/viewing-people-in-your-enterprise.md
  content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  content/get-started/exploring-integrations/github-extensions-and-integrations.md
  content/organizations/managing-membership-in-your-organization/canceling-or-editing-an-invitation-to-join-your-organization.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/about-custom-repository-roles.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/reviewing-dependency-changes-in-a-pull-request.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  data/features/actions-cache-list-delete-apis.yml
  data/features/actions-cache-management.yml
  data/features/actions-cache-policy-apis.yml
  data/features/actions-caching.yml
  data/features/dependabot-alerts-vulnerable-calls.yml
  data/features/dependency-review-action-ghes.yml
  data/features/git-events-audit-log.yml
  data/features/remove-enterprise-members.yml
  data/release-notes/github-ae/3-6/0.yml
  data/reusables/dependency-review/dependency-review-action-overview.md
  lib/all-versions.js
Labels: automated-reposync-pr

#24363 repo sync
  assets/images/help/notifications-v2/all-subscriptions.png
  assets/images/help/notifications-v2/automatic-watching-example.png
  assets/images/help/notifications-v2/automatic-watching-options.png
  assets/images/help/notifications-v2/custom-filter-example.png
  assets/images/help/notifications-v2/custom-options-for-customizing-notification-thread-updates.png
  assets/images/help/notifications-v2/customize-notifications-for-specific-thread.png
  assets/images/help/notifications-v2/default-filters.png
  assets/images/help/notifications-v2/dependabot-alerts-options.png
  assets/images/help/notifications-v2/github-actions-notification-options.png
  assets/images/help/notifications-v2/inbox-view.png
  assets/images/help/notifications-v2/manage-notifications-options.png
  assets/images/help/notifications-v2/mobile-watch-button.png
  assets/images/help/notifications-v2/mobile-watch-settings.png
  assets/images/help/notifications-v2/participating-and-watching-options.png
  assets/images/help/notifications-v2/reasons-as-labels-in-inbox.png
  assets/images/help/notifications-v2/review-requested-reason.png
  assets/images/help/notifications-v2/save-triaging-option.png
  assets/images/help/notifications-v2/triage-multiple-notifications-together.png
  assets/images/help/notifications-v2/unread-inbox-view.png
  assets/images/help/notifications-v2/unsubscribe-from-all-repos.png
  assets/images/help/notifications-v2/unsubscribe-from-main-inbox.png
  assets/images/help/notifications-v2/unsubscribe-from-subscriptions-page.png
  assets/images/help/notifications-v2/unwatch-repo-dialog.png
  assets/images/help/notifications-v2/watch-repository-options-custom.png
  assets/images/help/notifications-v2/watch-repository-options-custom2-dotcom.png
  assets/images/help/notifications-v2/watched-notifications-custom.png
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/managing-subscriptions-for-activity-on-github/managing-your-subscriptions.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/managing-subscriptions-for-activity-on-github/viewing-your-subscriptions.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/about-notifications.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/viewing-and-triaging-notifications/managing-notifications-from-your-inbox.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/viewing-and-triaging-notifications/triaging-a-single-notification.md
  content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
  data/reusables/notifications-v2/manage-notifications.md
Labels: automated-reposync-pr

#24121 Update repository names to be consistent
  content/get-started/getting-started-with-git/managing-remote-repositories.md
Labels: content, waiting for review, repositories, get started

#24364 repo sync
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/configuring-code-scanning-for-your-appliance.md
  data/features/code-scanning-runner-label.yml
Labels: automated-reposync-pr

#24367 repo sync
  content/actions/security-guides/security-hardening-for-github-actions.md
  content/code-security/dependabot/working-with-dependabot/keeping-your-actions-up-to-date-with-dependabot.md
  content/graphql/overview/explorer.md
  content/issues/planning-and-tracking-with-projects/automating-your-project/adding-items-automatically.md
  content/issues/planning-and-tracking-with-projects/automating-your-project/archiving-items-automatically.md
  content/rest/announcement-banners/index.md
  content/rest/dependency-graph/index.md
  data/features/dependabot-updates-actions-reusable-workflows.yml
  data/features/projects-v2-auto-add.yml
  data/features/projects-v2-auto-archive.yml
  data/reusables/actions/workflow-runs-dependabot-note.md
  package-lock.json
  package.json
  script/search/build-records.js
Labels: automated-reposync-pr

#24368 repo sync
  components/Search.tsx
  components/page-header/Header.module.scss
  components/page-header/Header.tsx
  package-lock.json
  package.json
Labels: automated-reposync-pr

#24369 repo sync
  components/parameter-table/ChildBodyParametersRows.tsx
  components/parameter-table/ParameterRow.tsx
  components/webhooks/Webhook.tsx
  src/rest/scripts/utils/get-body-params.js
Labels: automated-reposync-pr

#24372 repo sync
  assets/images/help/organizations/settings-button.png
  assets/images/help/settings/actions-required-workflow-locate.png
  assets/images/help/settings/actions-required-workflows-add.png
  assets/images/help/settings/actions-required-workflows-repos.png
  assets/images/help/settings/actions-required-workflows-select-repos.png
  assets/images/help/settings/example-required-workflow.png
  content/actions/using-workflows/required-workflows.md
  content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  data/features/actions-required-workflow-improvements.yml
  data/reusables/actions/workflows/required-workflow-prerequisites.md
  data/reusables/actions/workflows/required-workflow-source-notes.md
  data/reusables/apps/settings-step.md
  data/reusables/profile/org_settings.md
Labels: automated-reposync-pr

#24375 repo sync
  assets/images/help/repository/code-scanning-remove-configuration.png
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-alerts.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning-for-a-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-your-default-setup-for-codeql.md
  content/code-security/code-scanning/integrating-with-code-scanning/about-integration-with-code-scanning.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/about-codeql-code-scanning-in-your-ci-system.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  data/features/remove-code-scanning-configurations.yml
  data/reusables/code-scanning/about-analysis-origins-link.md
  data/reusables/code-scanning/about-multiple-configurations-link.md
  data/reusables/code-scanning/troubleshooting-multiple-configurations.md
Labels: automated-reposync-pr

#24376 repo sync
  lib/update-internal-links.js
  script/update-internal-links.js
Labels: automated-reposync-pr

#24380 repo sync
  tests/helpers/schemas.js
  tests/helpers/schemas/learning-tracks-schema.js
  tests/linting/lint-files.js
Labels: automated-reposync-pr

#24382 repo sync
  assets/images/help/settings/github-hosted-runners-max-jobs.png
  content/account-and-profile/index.md
  content/actions/learn-github-actions/usage-limits-billing-and-administration.md
  content/actions/using-github-hosted-runners/monitoring-your-current-jobs.md
  content/admin/identity-and-access-management/managing-iam-for-your-enterprise/about-authentication-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/about-the-audit-log-for-your-enterprise.md
  content/apps/index.md
  content/authentication/index.md
  content/billing/index.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-alerts.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
  content/code-security/dependabot/dependabot-alerts/about-dependabot-alerts.md
  content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  content/code-security/getting-started/auditing-security-alerts.md
  content/code-security/getting-started/index.md
  content/code-security/getting-started/securing-your-organization.md
  content/code-security/getting-started/securing-your-repository.md
  content/code-security/guides.md
  content/code-security/index.md
  content/code-security/secret-scanning/about-secret-scanning.md
  content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
  content/code-security/secret-scanning/protecting-pushes-with-secret-scanning.md
  content/communities/index.md
  content/copilot/index.md
  content/desktop/index.md
  content/get-started/index.md
  content/github-cli/index.md
  content/graphql/index.md
  content/issues/index.md
  content/organizations/index.md
  content/pull-requests/index.md
  content/repositories/index.md
  content/rest/index.md
  content/search-github/index.md
  content/site-policy/index.md
  content/support/index.md
  content/webhooks-and-events/index.md
  data/learning-tracks/code-security.yml
  data/reusables/code-scanning/audit-code-scanning-events.md
  data/reusables/secret-scanning/audit-secret-scanning-events.md
  package-lock.json
  package.json
  script/accessibility-checks.js
Labels: automated-reposync-pr

#24383 repo sync
  content/rest/search.md
  script/early-access/migrate-early-access-product.js
  script/early-access/update-data-and-image-paths.js
Labels: automated-reposync-pr

#24384 repo sync
  .github/actions/setup-elasticsearch/action.yml
  .github/workflows/browser-test.yml
  .github/workflows/headless-tests.yml
  .github/workflows/sync-search-pr.yml
  .github/workflows/test.yml
  .gitignore
  content/README.md
  content/billing/managing-billing-for-github-advanced-security/about-billing-for-github-advanced-security.md
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  content/code-security/codeql-cli/codeql-cli-reference/sarif-output.md
  content/code-security/codeql-cli/using-the-codeql-cli/analyzing-databases-with-the-codeql-cli.md
  content/code-security/security-advisories/repository-security-advisories/permission-levels-for-repository-security-advisories.md
  content/code-security/security-overview/about-the-security-overview.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/using-the-dependency-submission-api.md
  content/get-started/learning-about-github/about-github-advanced-security.md
  contributing/content-style-guide.md
  data/reusables/dependabot/supported-package-managers.md
  lib/create-tree.js
  package-lock.json
  package.json
  playwright.config.ts
  server.js
  tests/content/fixtures/search-indexes/github-docs-dotcom-en-records.json
  tests/fixtures/content/get-started/foo/for-playwright.md
  tests/fixtures/content/get-started/foo/index.md
  tests/rendering-fixtures/playwright-rendering.spec.ts
Labels: automated-reposync-pr

#24387 repo sync
  content/apps/creating-github-apps/authenticating-with-a-github-app/authenticating-as-a-github-app-installation.md
  content/apps/creating-github-apps/creating-github-apps/index.md
  content/apps/creating-github-apps/creating-github-apps/using-webhooks-with-github-apps.md
  lib/create-tree.js
  server.js
Labels: automated-reposync-pr

#24389 repo sync
  content/admin/user-management/managing-organizations-in-your-enterprise/managing-projects-using-jira.md
  content/billing/managing-billing-for-github-copilot/viewing-your-github-copilot-usage.md
Labels: automated-reposync-pr

#24398 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  src/graphql/data/dotcom/changelog.json
  src/graphql/data/dotcom/schema.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghec/schema.json
Labels: automated-reposync-pr

#24415 repo sync
  content/actions/learn-github-actions/variables.md
Labels: automated-reposync-pr

#24418 repo sync
  assets/images/help/codespaces/jetbrains-copilot-plugin.png
  assets/images/help/dependabot/audit-log-UI-dependabot-alert.png
  assets/images/help/dependabot/check-for-updates.png
  assets/images/help/dependabot/dependabot-alert-pr-link.png
  assets/images/help/dependabot/dependabot-alerts-disable-or-enable-all.png
  assets/images/help/dependabot/dependabot-alerts-disable-or-enable-fpt.png
  assets/images/help/dependabot/dependabot-alerts-enable-by-default-organizations.png
  assets/images/help/dependabot/dependabot-alerts-enable-by-default.png
  assets/images/help/dependabot/dependabot-alerts-enable-dependabot-alerts-organizations.png
  assets/images/help/dependabot/dependabot-alerts-enable-dependabot-alerts.png
  assets/images/help/dependabot/dependabot-alerts-enable-for-all-new-repositories.png
  assets/images/help/dependabot/dependabot-alerts-sort-dropdown.png
  assets/images/help/dependabot/dependabot-improve-security-advisory.png
  assets/images/help/dependabot/dependabot-notification-frequency.png
  assets/images/help/dependabot/dependabot-tab-view-error.png
  assets/images/help/dependabot/dependabot-tab-view.png
  assets/images/help/dependabot/dependabot-tab.png
  assets/images/help/dependabot/dependabot-version-update-error.png
  assets/images/help/dependabot/dependabot-version-update-forks.png
  assets/images/help/dependabot/last-checked-link.png
  assets/images/help/dependabot/monitored-dependency-files.png
  assets/images/help/dependabot/secret-repository-access.png
  assets/images/help/dependabot/update-remove-org-secret.png
  assets/images/help/dependabot/update-remove-repo-secret.png
  content/code-security/dependabot/dependabot-alerts/configuring-dependabot-alerts.md
  content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
  content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  content/code-security/dependabot/dependabot-version-updates/configuring-dependabot-version-updates.md
  content/code-security/dependabot/dependabot-version-updates/listing-dependencies-configured-for-version-updates.md
  content/code-security/dependabot/working-with-dependabot/configuring-access-to-private-registries-for-dependabot.md
  content/code-security/dependabot/working-with-dependabot/troubleshooting-dependabot-errors.md
  content/codespaces/codespaces-reference/using-github-copilot-in-github-codespaces.md
  content/codespaces/developing-in-codespaces/using-github-codespaces-in-your-jetbrains-ide.md
  content/search-github/github-code-search/understanding-github-code-search-syntax.md
  content/video-transcripts/index.md
  data/reusables/codespaces/copilot-in-vscode.md
  data/reusables/dependabot/click-dependabot-tab.md
  lib/create-tree.js
Labels: automated-reposync-pr

#24420 repo sync
  content/codespaces/prebuilding-your-codespaces/allowing-a-prebuild-to-access-other-repositories.md
  lib/create-tree.js
Labels: automated-reposync-pr

#24403 Change some words a bit
  content/apps/creating-github-apps/authenticating-with-a-github-app/authenticating-with-a-github-app-on-behalf-of-a-user.md
Labels: content, ready to merge, waiting for review, github apps, authentication

#24411 Fix a grammatical error on line 75
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-and-deleting-branches-within-your-repository.md
Labels: content, ready to merge, pull requests, Merge-after-freeze

#24414 Added missing /
  data/reusables/apps/generate-installation-access-token.md
Labels: content, ready to merge, github apps, Merge-after-freeze

#24433 repo sync
  .github/workflows/test.yml
  assets/images/help/organizations/audit-log-source-ip-disclosure-tab.png
  components/article/InArticlePicker.tsx
  components/page-footer/Survey.tsx
  components/search/SearchResults.tsx
  components/search/index.tsx
  components/sidebar/ProductCollapsibleSection.tsx
  components/sidebar/RestCollapsibleSection.tsx
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/displaying-ip-addresses-in-the-audit-log-for-your-enterprise.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-security-settings-in-your-enterprise.md
  content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/about-two-factor-authentication.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/disabling-two-factor-authentication-for-your-personal-account.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/index.md
  content/code-security/supply-chain-security/end-to-end-supply-chain/securing-accounts.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/displaying-ip-addresses-in-the-audit-log-for-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/index.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-two-factor-authentication-for-your-organization/requiring-two-factor-authentication-in-your-organization.md
  data/features/dependabot-updates-gradle-versions-catalog-support.yml
  data/features/display-ip-org-audit-log.yml
  data/features/mandatory-2fa-dotcom-contributors.yml
  data/reusables/audit_log/about-ip-display.md
  data/reusables/audit_log/enable-ip-disclosure.md
  data/reusables/audit_log/users-agree-to-ip-collection.md
  data/reusables/dependabot/supported-package-managers.md
  data/reusables/two_fa/mandatory-2fa-contributors-2023.md
  lib/create-tree.js
  middleware/api/index.js
  middleware/req-utils.js
  nodemon.json
  pages/_app.tsx
  script/create-subject.js
  script/update-internal-links.js
  server.js
  src/events/README.md
  src/events/browser.ts
  src/events/experiment.ts
  src/events/hydro.js
  src/events/middleware.js
  src/events/schema.js
  src/events/tests/events.js
  src/events/tests/hydro.js
Labels: automated-reposync-pr

#24435 repo sync
  content/admin/configuration/configuring-your-enterprise/restricting-network-traffic-to-your-enterprise-with-an-ip-allow-list.md
  content/admin/user-management/managing-users-in-your-enterprise/exporting-membership-information-for-your-enterprise.md
  content/admin/user-management/managing-users-in-your-enterprise/viewing-people-in-your-enterprise.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-allowed-ip-addresses-for-your-organization.md
  content/organizations/managing-membership-in-your-organization/exporting-member-information-for-your-organization.md
  data/release-notes/enterprise-server/3-8/0.yml
  data/reusables/identity-and-permissions/ip-allow-lists-example-and-restrictions.md
  data/reusables/saml/personal-accounts-determine-email-visibility.md
  data/reusables/saml/use-api-to-get-externalidentity.md
Labels: automated-reposync-pr

#24437 repo sync
  tests/PLAYWRIGHT.md
  tests/README.md
  tests/meta/orphan-tests.js
Labels: automated-reposync-pr

#24438 repo sync
  script/update-internal-links.js
Labels: automated-reposync-pr

#24440 repo sync
  content/apps/oauth-apps/building-oauth-apps/authorizing-oauth-apps.md
  content/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token.md
  content/rest/enterprise-admin/admin-stats.md
  content/rest/enterprise-admin/global-webhooks.md
  content/rest/enterprise-admin/index.md
  content/rest/enterprise-admin/license.md
  content/rest/enterprise-admin/orgs.md
  content/rest/enterprise-admin/pre-receive-environments.md
  content/rest/enterprise-admin/pre-receive-hooks.md
  content/rest/enterprise-admin/users.md
  content/rest/migrations/orgs.md
  content/rest/migrations/users.md
  content/rest/oauth-authorizations.md
  content/rest/overview/authenticating-to-the-rest-api.md
  content/rest/overview/index.md
  content/rest/overview/other-authentication-methods.md
  content/rest/overview/resources-in-the-rest-api.md
  content/rest/scim.md
  data/reusables/apps/deprecating_auth_with_query_parameters.md
  data/reusables/user-settings/user-api.md
Labels: automated-reposync-pr

#24450 repo sync
  content/discussions/collaborating-with-your-community-using-discussions/about-discussions.md
  content/discussions/managing-discussions-for-your-community/managing-discussions.md
  content/discussions/managing-discussions-for-your-community/moderating-discussions.md
  data/features/discussions-closable.yml
  data/reusables/discussions/closing-discussions.md
Labels: automated-reposync-pr

#24452 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/customizing-code-scanning.md
  data/reusables/code-scanning/codeql-query-suites-explanation.md
Labels: automated-reposync-pr

#24455 repo sync
  content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
  content/codespaces/customizing-your-codespace/configuring-automatic-deletion-of-your-codespaces.md
  content/codespaces/getting-started/the-codespace-lifecycle.md
  content/codespaces/managing-codespaces-for-your-organization/managing-the-cost-of-github-codespaces-in-your-organization.md
  content/codespaces/prebuilding-your-codespaces/about-github-codespaces-prebuilds.md
  content/codespaces/prebuilding-your-codespaces/configuring-prebuilds.md
  content/codespaces/setting-up-your-project-for-codespaces/adding-a-dev-container-configuration/introduction-to-dev-containers.md
  content/codespaces/the-githubdev-web-based-editor.md
  content/codespaces/troubleshooting/troubleshooting-included-usage.md
  data/release-notes/enterprise-server/3-8/0.yml
Labels: automated-reposync-pr

#24456 repo sync
  content/actions/guides.md
  content/admin/guides.md
  content/codespaces/guides.md
  content/issues/guides.md
  content/sponsors/guides.md
Labels: automated-reposync-pr

#24457 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning-for-a-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-your-default-setup-for-codeql.md
Labels: automated-reposync-pr

#24461 repo sync
  content/copilot/configuring-github-copilot/configuring-github-copilot-in-visual-studio-code.md
Labels: automated-reposync-pr

#24465 repo sync
  components/graphql/Notice.tsx
Labels: automated-reposync-pr

#24468 repo sync
  content/issues/tracking-your-work-with-issues/about-slash-commands.md
  content/issues/tracking-your-work-with-issues/index.md
  data/features/slash-commands.yml
Labels: automated-reposync-pr

#24471 repo sync
  content/apps/creating-github-apps/creating-github-apps/creating-a-github-app.md
  data/reusables/shortdesc/creating_github_apps.md
Labels: automated-reposync-pr

#24472 repo sync
  .github/CODEOWNERS
  .github/workflows/sync-search-elasticsearch.yml
  .github/workflows/sync-search-pr.yml
  .github/workflows/translation-health-report.yml
  lib/search/popular-pages.json
  script/i18n/create-translation-health-report.js
  script/search/build-records.js
  script/search/popular-pages.js
  script/search/sync-search-indices.js
  tests/meta/repository-references.js
Labels: automated-reposync-pr

#24474 repo sync
  components/graphql/Table.tsx
Labels: automated-reposync-pr

#24476 repo sync
  data/learning-tracks/actions.yml
  data/learning-tracks/admin.yml
  data/learning-tracks/code-security.yml
  package-lock.json
  package.json
  script/update-internal-links.js
Labels: automated-reposync-pr

#24477 repo sync
  content/actions/migrating-to-github-actions/automated-migrations/index.md
  content/actions/migrating-to-github-actions/automated-migrations/migrating-from-circleci-with-github-actions-importer.md
  content/actions/migrating-to-github-actions/automated-migrations/migrating-from-gitlab-with-github-actions-importer.md
  data/variables/product.yml
Labels: automated-reposync-pr

#24486 repo sync
  assets/images/enterprise/3.2/repository/secret-scanning-create-custom-pattern.png
  assets/images/enterprise/3.2/repository/secret-scanning-resolve-alert-ghe.png
  assets/images/enterprise/3.3/dependabot/dependabot-version-update-error.png
  assets/images/enterprise/3.5/dependabot/dependabot-alerts-filters.png
  assets/images/enterprise/github-ae/organizations/security-and-analysis-enable-or-disable-secret-scanning-checkbox-ghae.png
  assets/images/enterprise/github-ae/organizations/security-and-analysis-enable-secret-scanning-existing-repos-ghae.png
  assets/images/enterprise/github-ae/repository/enable-ghas-secret-scanning-ghae.png
  assets/images/help/enterprises/dependabot-alerts-options-no-UI.png
  assets/images/help/repository/reopen-dismissed-alert.png
  assets/images/help/repository/review-calls-to-vulnerable-functions.png
  assets/images/help/repository/secret-scanning-dismiss-alert-web-ui-link-partner-documentation.png
  assets/images/help/repository/secret-scanning-dry-run-custom-pattern-select-repo-only.png
  assets/images/help/repository/secret-scanning-push-protection-web-ui-allow-secret-options.png
  assets/images/help/repository/secret-scanning-push-protection-web-ui-commit-allowed.png
  assets/images/help/repository/secret-scanning-push-protection-web-ui-commit-blocked-banner-with-link.png
  assets/images/help/repository/secret-scanning-push-protection-web-ui-commit-blocked-banner.png
  assets/images/help/repository/secret-scanning-push-protection-with-custom-link.png
  assets/images/help/repository/secret-scanning-push-protection-with-link.png
  assets/images/help/repository/secret-scanning-unblock-form.png
  content/code-security/dependabot/dependabot-alerts/configuring-notifications-for-dependabot-alerts.md
  content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  content/code-security/dependabot/working-with-dependabot/troubleshooting-dependabot-errors.md
  content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
  content/code-security/secret-scanning/protecting-pushes-with-secret-scanning.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-security-and-analysis-settings-for-your-repository.md
  data/reusables/advanced-security/secret-scanning-add-custom-pattern-details.md
  data/reusables/advanced-security/secret-scanning-dry-run-select-enterprise-repos.md
  data/reusables/secret-scanning/push-protection-web-ui-choice.md
  tests/browser/browser.js
  tests/rendering-fixtures/playwright-rendering.spec.ts
Labels: automated-reposync-pr

#24353 Used consistent styling for placeholder and variable text
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/managing-multiple-accounts.md
  content/admin/identity-and-access-management/managing-iam-for-your-enterprise/username-considerations-for-external-authentication.md
  content/admin/policies/enforcing-policy-with-pre-receive-hooks/creating-a-pre-receive-hook-script.md
  content/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-a-jetbrains-ide.md
  content/desktop/installing-and-configuring-github-desktop/overview/creating-your-first-repository-using-github-desktop.md
  content/get-started/quickstart/hello-world.md
  content/organizations/managing-git-access-to-your-organizations-repositories/about-ssh-certificate-authorities.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/about-identity-and-access-management-with-saml-single-sign-on.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/enforcing-saml-single-sign-on-for-your-organization.md
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/troubleshooting-custom-domains-and-github-pages.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/adding-a-theme-to-your-github-pages-site-using-jekyll.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/adding-content-to-your-github-pages-site-using-jekyll.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/creating-a-github-pages-site-with-jekyll.md
  content/pull-requests/collaborating-with-pull-requests/addressing-merge-conflicts/resolving-a-merge-conflict-on-github.md
  content/pull-requests/committing-changes-to-your-project/viewing-and-comparing-commits/comparing-commits.md
  content/search-github/getting-started-with-searching-on-github/understanding-the-search-syntax.md
  data/reusables/copilot/enabling-or-disabling-in-vsc.md
  data/reusables/copilot/enabling-or-disabling-vs.md
  data/reusables/organizations/domains-approve-domain.md
  data/reusables/organizations/review-team-repository-access.md
  data/reusables/pages/build-locally-download-cname.md
  data/reusables/pages/theme-customization-help.md
  data/reusables/sponsors/choose-updates.md
  data/reusables/sponsors/org-sponsored-choose-updates.md
  data/reusables/sponsors/sponsor-account.md
Labels: content, waiting for review

#24491 repo sync
  content/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility.md
  content/packages/learn-github-packages/connecting-a-repository-to-a-package.md
  data/reusables/package_registry/publishing-user-scoped-packages.md
Labels: automated-reposync-pr

#24422 Remove redundant word (since/so)
  content/search-github/github-code-search/understanding-github-code-search-syntax.md
Labels: content, ready to merge, waiting for review, search-github

#24495 repo sync
  data/features/ssh-cert-policy-allow-u2s-tokens.yml
  data/reusables/organizations/require-ssh-cert.md
Labels: automated-reposync-pr

#24497 repo sync
  data/features/dependabot-updates-actions-reusable-workflows.yml
Labels: automated-reposync-pr

#24502 repo sync
  assets/images/help/notifications/secret-scanning-notification-options.png
  assets/images/help/repository/repository-watch-dropdown.png
  components/page-header/RestBanner.tsx
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
  content/code-security/secret-scanning/about-secret-scanning.md
  content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
  data/features/secret-scanning-notification-settings.yml
  data/reusables/secret-scanning/secret-scanning-configure-notifications.md
Labels: automated-reposync-pr

#24506 repo sync
  src/codeql-cli/lib/config.json
  tests/linting/lint-files.js
Labels: automated-reposync-pr

#24409 Fix 16 "Low hanging fruit" spelling issues
  content/admin/configuration/configuring-your-enterprise/configuring-applications.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/authenticating-as-a-github-app.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/generating-a-user-access-token-for-a-github-app.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/refreshing-user-access-tokens.md
  content/apps/creating-github-apps/creating-github-apps/using-webhooks-with-github-apps.md
  content/migrations/using-github-enterprise-importer/completing-your-migration-with-github-enterprise-importer/troubleshooting-your-migration-with-github-enterprise-importer.md
  content/migrations/using-github-enterprise-importer/understanding-github-enterprise-importer/migrating-between-github-products-with-github-enterprise-importer.md
  content/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility.md
  data/reusables/apps/web-app-flow-exchange-code.md
Labels: content, ready to merge, waiting for review

#24513 repo sync
  data/release-notes/enterprise-server/3-6/0.yml
  data/release-notes/enterprise-server/3-6/1.yml
  data/release-notes/enterprise-server/3-6/10.yml
  data/release-notes/enterprise-server/3-6/2.yml
  data/release-notes/enterprise-server/3-6/3.yml
  data/release-notes/enterprise-server/3-6/4.yml
  data/release-notes/enterprise-server/3-6/5.yml
  data/release-notes/enterprise-server/3-6/6.yml
  data/release-notes/enterprise-server/3-6/7.yml
  data/release-notes/enterprise-server/3-6/8.yml
  data/release-notes/enterprise-server/3-6/9.yml
  data/release-notes/enterprise-server/3-7/0.yml
  data/release-notes/enterprise-server/3-7/1.yml
  data/release-notes/enterprise-server/3-7/2.yml
  data/release-notes/enterprise-server/3-7/3.yml
  data/release-notes/enterprise-server/3-7/4.yml
  data/release-notes/enterprise-server/3-7/5.yml
  data/release-notes/enterprise-server/3-7/6.yml
  data/release-notes/enterprise-server/3-7/7.yml
  data/release-notes/enterprise-server/3-8/0.yml
  data/reusables/release-notes/git-push-known-issue.md
  data/reusables/release-notes/replication-commands-in-maintenance-mode-known-issue.md
Labels: automated-reposync-pr

#24514 repo sync
  content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
  lib/liquid-tags/extended-markdown.js
  lib/render-content/create-processor.js
  lib/render-content/plugins/wrap-in-element.js
  tests/fixtures/content/get-started/liquid/index.md
  tests/fixtures/content/get-started/liquid/table-row-headers.md
  tests/rendering-fixtures/liquid.js
Labels: automated-reposync-pr

#24517 repo sync
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  content/codespaces/developing-in-codespaces/creating-a-codespace-for-a-repository.md
  content/codespaces/developing-in-codespaces/creating-a-codespace-from-a-template.md
  content/codespaces/developing-in-codespaces/using-source-control-in-your-codespace.md
  content/codespaces/managing-codespaces-for-your-organization/enabling-github-codespaces-for-your-organization.md
  content/codespaces/overview.md
  content/codespaces/troubleshooting/troubleshooting-creation-and-deletion-of-codespaces.md
  data/reusables/codespaces/codespaces-are-personal.md
  data/reusables/codespaces/emus-create-codespaces.md
  data/reusables/codespaces/when-you-can-create-codespaces.md
Labels: automated-reposync-pr

#24523 repo sync
  .github/workflows/local-dev.yml
  tests/linting/lint-files.js
  tests/rendering/server.js
Labels: automated-reposync-pr

#24529 repo sync
  content/site-policy/other-site-policies/github-and-trade-controls.md
  content/webhooks-and-events/webhooks/receiving-webhooks-with-the-github-cli.md
Labels: automated-reposync-pr

#24530 repo sync
  src/codeql-cli/lib/config.json
  src/codeql-cli/scripts/sync.js
Labels: automated-reposync-pr

#24532 repo sync
  content/support/contacting-github-support/creating-a-support-ticket.md
  content/support/contacting-github-support/getting-started-with-the-github-support-portal.md
  content/support/contacting-github-support/index.md
  content/support/contacting-github-support/viewing-and-updating-support-tickets.md
  data/reusables/support/enterprise-comment-on-support-tickets.md
  data/reusables/support/support-portal-notes.md
Labels: automated-reposync-pr

#24533 repo sync
  middleware/archived-enterprise-versions.js
Labels: automated-reposync-pr

#24550 repo sync
  content/actions/creating-actions/about-custom-actions.md
  content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
  content/actions/examples/using-concurrency-expressions-and-a-test-matrix.md
  content/actions/examples/using-scripts-to-test-your-code-on-a-runner.md
  content/actions/examples/using-the-github-cli-on-a-runner.md
  content/actions/hosting-your-own-runners/autoscaling-with-self-hosted-runners.md
  content/actions/learn-github-actions/contexts.md
  content/actions/learn-github-actions/usage-limits-billing-and-administration.md
  content/actions/migrating-to-github-actions/manual-migrations/migrating-from-jenkins-to-github-actions.md
  content/actions/using-workflows/events-that-trigger-workflows.md
  content/admin/all-releases.md
  content/admin/enterprise-management/configuring-clustering/cluster-network-configuration.md
  content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-server.md
  content/admin/identity-and-access-management/using-cas-for-enterprise-iam/using-cas.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-saml-single-sign-on-for-enterprise-managed-users.md
  content/admin/identity-and-access-management/using-ldap-for-enterprise-iam/using-ldap.md
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/about-saml-for-enterprise-iam.md
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/mapping-okta-groups-to-teams.md
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/saml-configuration-reference.md
  content/admin/packages/configuring-package-ecosystem-support-for-your-enterprise.md
  content/admin/packages/quickstart-for-configuring-your-minio-storage-bucket-for-github-packages.md
  content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
  content/billing/managing-billing-for-github-packages/about-billing-for-github-packages.md
  content/codespaces/the-githubdev-web-based-editor.md
  content/copilot/configuring-github-copilot/configuring-github-copilot-in-visual-studio-code.md
  content/migrations/using-ghe-migrator/preparing-to-migrate-data-to-github-enterprise-server.md
  content/packages/learn-github-packages/introduction-to-github-packages.md
  data/reusables/actions/checkout-action-table-entry.md
  data/reusables/actions/concurrency-table-entry.md
  data/reusables/actions/cron-table-entry.md
  data/reusables/actions/example-table-intro.md
  data/reusables/actions/if-conditions-table-entry.md
  data/reusables/actions/permissions-table-entry.md
  data/reusables/actions/pull-request-table-entry.md
  data/reusables/actions/push-table-entry.md
  data/reusables/actions/secrets-table-entry.md
  data/reusables/actions/setup-node-table-entry.md
  data/reusables/actions/supported-github-runners.md
  data/reusables/actions/workflow-dispatch-table-entry.md
  data/reusables/github-ae/saml-idp-table.md
Labels: automated-reposync-pr

#24425 Fix url in curl examples
  content/apps/creating-github-apps/authenticating-with-a-github-app/authenticating-as-a-github-app-installation.md
Labels: content, ready to merge, waiting for review, github apps

#24552 repo sync
  content/admin/configuration/configuring-your-enterprise/restricting-network-traffic-to-your-enterprise-with-an-ip-allow-list.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-support-for-your-idps-conditional-access-policy.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/authenticating-as-a-github-app-installation.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/authenticating-with-a-github-app-on-behalf-of-a-user.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/generating-a-user-access-token-for-a-github-app.md
  content/apps/creating-github-apps/creating-github-apps/about-apps.md
  content/apps/creating-github-apps/creating-github-apps/about-the-user-authorization-callback-url.md
  content/apps/creating-github-apps/creating-github-apps/creating-a-github-app-using-url-parameters.md
  content/apps/creating-github-apps/creating-github-apps/creating-a-github-app.md
  content/apps/creating-github-apps/creating-github-apps/differences-between-github-apps-and-oauth-apps.md
  content/apps/creating-github-apps/guides/migrating-oauth-apps-to-github-apps.md
  content/apps/maintaining-github-apps/editing-a-github-apps-permissions.md
  content/apps/maintaining-github-apps/installing-github-apps.md
  content/apps/maintaining-github-apps/modifying-a-github-app.md
  content/apps/using-github-apps/authorizing-github-apps.md
  content/authentication/connecting-to-github-with-ssh/managing-deploy-keys.md
  content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
  content/authentication/keeping-your-account-and-data-secure/token-expiration-and-revocation.md
  content/get-started/exploring-integrations/about-integrations.md
  content/graphql/reference/queries.md
  content/rest/quickstart.md
  data/glossaries/external.yml
  data/reusables/apps/expiring_user_authorization_tokens.md
Labels: automated-reposync-pr

#24553 repo sync
  content/migrations/using-github-enterprise-importer/completing-your-migration-with-github-enterprise-importer/reclaiming-mannequins-for-github-enterprise-importer.md
Labels: automated-reposync-pr

#24554 repo sync
  .github/workflows/sync-codeql-cli.yml
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-access-to-your-personal-repositories/inviting-collaborators-to-a-personal-repository.md
  content/admin/overview/creating-an-enterprise-account.md
  content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
Labels: automated-reposync-pr

#24556 repo sync
  assets/images/enterprise/3.3/organizations/security-and-analysis-disable-or-enable-all-ghas.png
  assets/images/enterprise/3.3/organizations/security-and-analysis-enable-or-disable-feature-checkbox.png
  assets/images/enterprise/orgs-and-teams/security-and-analysis-enable-or-disable-feature-checkbox.png
  assets/images/help/organizations/dependabot-private-repo-choose.png
  assets/images/help/organizations/dependabot-private-repository-access.png
  assets/images/help/organizations/dependabot-private-repository-list.png
  assets/images/help/organizations/security-and-analysis-enable-or-disable-feature-checkbox.png
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning-at-scale.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning-for-a-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/index.md
  content/code-security/getting-started/securing-your-organization.md
  content/code-security/security-overview/about-the-security-overview.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  data/features/org-enable-code-scanning.yml
  data/reusables/code-scanning/beta-org-enable-all.md
  data/reusables/code-scanning/default-setup-info-link.md
  data/reusables/organizations/security-and-analysis.md
  middleware/archived-enterprise-versions.js
  tests/helpers/e2etest.js
Labels: automated-reposync-pr

#24560 repo sync
  package-lock.json
  package.json
  src/events/browser.ts
Labels: automated-reposync-pr

#24543 Fix spelling: "collapsible"
  content/issues/tracking-your-work-with-issues/about-slash-commands.md
Labels: content, ready to merge, waiting for review, issues

#24563 repo sync
  lib/page.js
  lib/render-with-fallback.js
  middleware/archived-enterprise-versions.js
Labels: automated-reposync-pr

#24565 repo sync
  content/admin/packages/enabling-github-packages-with-aws.md
  content/admin/packages/enabling-github-packages-with-azure-blob-storage.md
  content/admin/packages/enabling-github-packages-with-minio.md
Labels: automated-reposync-pr

#24566 repo sync
  middleware/index.js
  middleware/req-utils.js
  src/events/middleware.js
Labels: automated-reposync-pr

#24577 repo sync
  content/admin/enterprise-management/configuring-high-availability/creating-a-high-availability-replica.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning-for-a-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/customizing-code-scanning.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/running-codeql-code-scanning-in-a-container.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/triaging-code-scanning-alerts-in-pull-requests.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  content/code-security/code-scanning/integrating-with-code-scanning/about-integration-with-code-scanning.md
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  content/code-security/code-scanning/integrating-with-code-scanning/uploading-a-sarif-file-to-github.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/migrating-from-the-codeql-runner-to-codeql-cli.md
Labels: automated-reposync-pr

#24582 repo sync
  components/guides/ArticleCards.tsx
  tests/browser/browser.js
  tests/fixtures/content/code-security/getting-started/index.md
  tests/fixtures/content/code-security/getting-started/quickstart.md
  tests/fixtures/content/code-security/getting-started/securing-your-organization.md
  tests/fixtures/content/code-security/guides.md
  tests/fixtures/content/code-security/index.md
  tests/fixtures/content/index.md
  tests/fixtures/data/allowed-topics.js
  tests/rendering-fixtures/playwright-rendering.spec.ts
Labels: automated-reposync-pr

#24588 repo sync
  src/events/middleware.js
  src/events/schema.js
Labels: automated-reposync-pr

#24590 repo sync
  data/variables/desktop.yml
Labels: automated-reposync-pr

#24592 repo sync
  contributing/content-markup-reference.md
Labels: automated-reposync-pr

#24463 Update changing the visibility of your private contributions
  content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/showing-your-private-contributions-and-achievements-on-your-profile.md
Labels: content, ready to merge, account-and-profile

#24593 repo sync
  assets/images/site/hash.svg
  components/LinkPreviewPopover.tsx
  components/article/ArticlePage.tsx
  components/sidebar/SidebarNav.tsx
  lib/render-content/plugins/rewrite-local-links.js
  middleware/index.js
  middleware/product-icons.js
  stylesheets/index.scss
  stylesheets/links.scss
  tests/fixtures/content/get-started/quickstart/hello-world.md
  tests/fixtures/content/get-started/quickstart/link-rewriting.md
  tests/fixtures/content/index.md
  tests/fixtures/content/pages/index.md
  tests/fixtures/content/pages/quickstart.md
  tests/fixtures/data/reusables/gated-features/more-info.md
  tests/fixtures/data/reusables/gated-features/pages.md
  tests/fixtures/data/variables/location.yml
  tests/rendering-fixtures/internal-links.js
  tests/routing/product-icons.js
Labels: automated-reposync-pr

#24483 Rename 'master' to 'main' in publishing package sample
  content/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions.md
Labels: content, packages, ready to merge

#24597 repo sync
  src/github-apps/lib/config.json
  src/rest/lib/config.json
  src/webhooks/lib/config.json
Labels: automated-reposync-pr

#24598 repo sync
  src/events/tests/events.js
  src/events/tests/middleware.js
Labels: automated-reposync-pr

#24602 repo sync
  content/copilot/configuring-github-copilot/configuring-github-copilot-settings-in-your-organization.md
Labels: automated-reposync-pr

#24416 Fix missing heading in Octernships TOS
  content/site-policy/privacy-policies/github-octernships-terms-of-service.md
Labels: content, site policy, waiting for review

#24603 Fix AUTOTITLE in "re-running-workflows-and-jobs"
  content/actions/managing-workflow-runs/re-running-workflows-and-jobs.md
Labels: content, ready to merge
