Repository github/docs, pull requests merged in 2023-05, with the labels that each got.

#25321 repo sync
  content/code-security/security-advisories/global-security-advisories/about-the-github-advisory-database.md
  content/code-security/security-advisories/global-security-advisories/browsing-security-advisories-in-the-github-advisory-database.md
Labels: automated-reposync-pr

#25323 repo sync
  content/actions/hosting-your-own-runners/managing-self-hosted-runners-with-actions-runner-controller/deploying-runner-scale-sets-with-actions-runner-controller.md
  lib/excluded-links.js
Labels: automated-reposync-pr

#25324 repo sync
  content/actions/security-guides/security-hardening-for-github-actions.md
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/mapping-okta-groups-to-teams.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  content/authentication/keeping-your-account-and-data-secure/index.md
  content/authentication/keeping-your-account-and-data-secure/reviewing-your-security-log.md
  content/authentication/keeping-your-account-and-data-secure/security-log-events.md
  content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
  content/code-security/getting-started/auditing-security-alerts.md
  content/codespaces/managing-codespaces-for-your-organization/reviewing-your-organizations-audit-logs-for-github-codespaces.md
  content/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/audit-log-events-for-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/index.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
Labels: automated-reposync-pr

#25326 repo sync
  components/LinkPreviewPopover.tsx
  components/article/HeadingLink.tsx
  components/graphql/BreakingChanges.tsx
  components/graphql/Changelog.tsx
  components/graphql/GraphqlItem.tsx
  components/graphql/Previews.tsx
  components/landing/LandingSection.tsx
  components/release-notes/PatchNotes.tsx
  components/rest/RestOperation.tsx
  components/webhooks/Webhook.tsx
  lib/get-mini-toc-items.js
  lib/render-content/create-processor.js
  lib/render-content/plugins/heading-links.js
  stylesheets/heading-links.scss
  stylesheets/index.scss
  stylesheets/permalinks.scss
  tests/unit/mini-toc-items.js
Labels: automated-reposync-pr

#25327 repo sync
  .github/actions-scripts/create-enterprise-issue.js
  .github/workflows/enterprise-dates.yml
  .github/workflows/open-enterprise-issue.yml
  .github/workflows/test.yml
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  content/apps/using-github-apps/index.md
  content/apps/using-github-apps/reviewing-and-revoking-authorization-of-github-apps.md
  data/release-notes/enterprise-server/README.md
  lib/enterprise-server-releases.js
  package-lock.json
  package.json
  script/README.md
  src/ghes-releases/README.md
  src/ghes-releases/lib/deprecation-steps.md
  src/ghes-releases/lib/enterprise-dates.json
  src/ghes-releases/lib/release-steps.md
  src/ghes-releases/scripts/archive-version.js
  src/ghes-releases/scripts/get-version-blocks.js
  src/ghes-releases/scripts/release-banner.js
  src/ghes-releases/scripts/remove-deprecated-frontmatter.js
  src/ghes-releases/scripts/remove-liquid-statements.js
  src/ghes-releases/scripts/remove-static-files.js
  src/ghes-releases/scripts/remove-version-markup.js
  src/ghes-releases/scripts/update-enterprise-dates.js
  src/ghes-releases/tests/fixtures/remove-liquid-statements/and-greater-than1.md
  src/ghes-releases/tests/fixtures/remove-liquid-statements/and-greater-than2.md
  src/ghes-releases/tests/fixtures/remove-liquid-statements/equals.md
  src/ghes-releases/tests/fixtures/remove-liquid-statements/frontmatter1.md
  src/ghes-releases/tests/fixtures/remove-liquid-statements/frontmatter2.md
  src/ghes-releases/tests/fixtures/remove-liquid-statements/greater-than.md
  src/ghes-releases/tests/fixtures/remove-liquid-statements/less-than-next-oldest.md
  src/ghes-releases/tests/fixtures/remove-liquid-statements/not-equals.md
  src/ghes-releases/tests/fixtures/remove-liquid-statements/unnecessary.md
  src/ghes-releases/tests/fixtures/remove-liquid-statements/whitespace.md
  src/ghes-releases/tests/remove-liquid-statements.js
Labels: automated-reposync-pr

#25329 repo sync
  src/graphql/data/dotcom/schema.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghec/schema.json
  src/graphql/data/ghes-3.4/schema.json
  src/graphql/data/ghes-3.5/schema.json
  src/graphql/data/ghes-3.6/schema.json
  src/graphql/data/ghes-3.7/schema.json
  src/graphql/data/ghes-3.8/schema.json
Labels: automated-reposync-pr

#25331 repo sync
  content/apps/creating-github-apps/setting-up-a-github-app/about-creating-github-apps.md
  content/apps/using-github-apps/about-using-github-apps.md
  content/apps/using-github-apps/index.md
Labels: automated-reposync-pr

#25332 repo sync
  .github/workflows/sync-graphql.yml
  content/apps/using-github-apps/authorizing-github-apps.md
  src/ghes-releases/lib/release-steps.md
  src/graphql/README.md
  src/graphql/data/fpt/changelog.json
  src/graphql/data/fpt/previews.json
  src/graphql/data/fpt/schema.json
  src/graphql/data/fpt/upcoming-changes.json
  src/graphql/lib/index.js
  src/graphql/scripts/README.md
  src/graphql/scripts/sync.js
  src/graphql/scripts/utils/data-filenames.json
  src/graphql/tests/validate-schema.js
Labels: automated-reposync-pr

#25293 fix render bug for good-first-issues:>2 javascript
  content/search-github/searching-on-github/searching-for-repositories.md
Labels: content, waiting for review, search-github

#25334 repo sync
  content/actions/security-guides/automatic-token-authentication.md
  content/actions/security-guides/encrypted-secrets.md
  content/actions/security-guides/security-hardening-for-github-actions.md
  content/actions/using-workflows/triggering-a-workflow.md
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
  content/apps/creating-github-apps/guides/index.md
  content/apps/creating-github-apps/guides/making-authenticated-api-requests-with-a-github-app-in-a-github-actions-workflow.md
  content/apps/creating-github-apps/setting-up-a-github-app/about-creating-github-apps.md
  content/apps/creating-github-apps/setting-up-a-github-app/index.md
  content/apps/oauth-apps/building-oauth-apps/differences-between-github-apps-and-oauth-apps.md
  content/apps/oauth-apps/building-oauth-apps/index.md
  content/issues/planning-and-tracking-with-projects/automating-your-project/automating-projects-using-actions.md
Labels: automated-reposync-pr

#25335 repo sync
  tests/fixtures/content/index.md
  tests/fixtures/content/rest/actions/artifacts.md
  tests/fixtures/content/rest/actions/index.md
  tests/fixtures/content/rest/index.md
  tests/fixtures/content/rest/overview/about-githubs-apis.md
  tests/fixtures/content/rest/overview/index.md
  tests/rendering-fixtures/sidebar.js
  tests/rendering/sidebar.js
Labels: automated-reposync-pr

#25337 repo sync
  components/article/ArticleGridLayout.module.scss
  components/article/ArticleGridLayout.tsx
Labels: automated-reposync-pr

#25342 repo sync
  content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
  content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
  content/billing/managing-billing-for-github-packages/about-billing-for-github-packages.md
  data/features/billing-auth-and-capture.yml
  data/reusables/billing/authorization-charge.md
Labels: automated-reposync-pr

#25345 repo sync
  content/site-policy/github-terms/github-terms-for-additional-products-and-features.md
Labels: automated-reposync-pr

#25348 repo sync
  content/repositories/creating-and-managing-repositories/creating-a-new-repository.md
  data/features/create-new-repos-with-query-params.yml
Labels: automated-reposync-pr

#25352 repo sync
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication-recovery-methods.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/recovering-your-account-if-you-lose-your-2fa-credentials.md
Labels: automated-reposync-pr

#25315 Fix yml format for inline list
  data/glossaries/external.yml
Labels: content, waiting for review, get started

#25355 repo sync
  content/rest/rate-limit.md
Labels: automated-reposync-pr

#25358 repo sync
  content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  content/admin/user-management/managing-users-in-your-enterprise/impersonating-a-user.md
  content/admin/user-management/managing-users-in-your-enterprise/removing-a-member-from-your-enterprise.md
  content/admin/user-management/managing-users-in-your-enterprise/roles-in-an-enterprise.md
  content/code-security/codeql-cli/using-the-codeql-cli/testing-custom-queries.md
  content/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors.md
  data/reusables/support/submit-a-ticket.md
Labels: automated-reposync-pr

#25359 repo sync
  package.json
  src/rest/docs.js
Labels: automated-reposync-pr

#25360 repo sync
  content/actions/learn-github-actions/contexts.md
  content/admin/configuration/configuring-github-connect/about-github-connect.md
  content/admin/configuration/configuring-github-connect/enabling-automatic-user-license-sync-for-your-enterprise.md
  content/admin/configuration/configuring-github-connect/enabling-unified-search-for-your-enterprise.md
  content/admin/configuration/configuring-github-connect/managing-github-connect.md
  content/admin/configuration/configuring-your-enterprise/command-line-utilities.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-oidc-for-enterprise-managed-users.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-scim-provisioning-for-enterprise-managed-users-with-okta.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
  content/admin/overview/about-github-enterprise-server.md
  content/admin/overview/about-github-for-enterprises.md
  content/admin/user-management/managing-organizations-in-your-enterprise/removing-organizations-from-your-enterprise.md
  content/copilot/configuring-github-copilot/configuring-github-copilot-settings-in-your-organization.md
  content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  content/organizations/managing-organization-settings/verifying-or-approving-a-domain-for-your-organization.md
  content/packages/learn-github-packages/about-permissions-for-github-packages.md
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests.md
  contributing/content-style-guide.md
  data/reusables/package_registry/v2-actions-codespaces.md
  tests/fixtures/versionless-redirects.txt
Labels: automated-reposync-pr

#25279 chore: hint to set requirement to regex
  data/reusables/repositories/rulesets-commit-regex.md
Labels: content, waiting for review, repositories

#24949 Fix and adjust steps in 'splitting a subfolder'
  content/get-started/using-git/splitting-a-subfolder-out-into-a-new-repository.md
Labels: content, waiting for review, using git

#25364 repo sync
  data/release-notes/enterprise-server/3-8/0.yml
  data/release-notes/enterprise-server/3-8/1.yml
  data/release-notes/enterprise-server/3-8/2.yml
Labels: automated-reposync-pr

#25365 repo sync
  content/authentication/connecting-to-github-with-ssh/managing-deploy-keys.md
  lib/update-internal-links.js
Labels: automated-reposync-pr

#25366 repo sync
  src/pageinfo/middleware.js
  src/pageinfo/tests/pageinfo.js
Labels: automated-reposync-pr

#25318 Adding a link to purchase instructions
  content/billing/managing-billing-for-git-large-file-storage/about-billing-for-git-large-file-storage.md
Labels: content, waiting for review, billing

#25368 Add SARIF limits provided by SME
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
Labels: content, triage, waiting for review

#25371 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-alerts.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/triaging-code-scanning-alerts-in-pull-requests.md
Labels: automated-reposync-pr

#25373 repo sync
  content/apps/index.md
  content/apps/overview.md
  data/release-notes/PLACEHOLDER-TEMPLATE.yml
  src/automated-pipelines/lib/config.json
  src/ghes-releases/lib/deprecation-steps.md
  src/ghes-releases/lib/release-steps.md
  src/ghes-releases/scripts/sync-automated-pipeline-data.js
  src/github-apps/data/meta.json
  src/github-apps/lib/config.json
  src/graphql/lib/config.json
Labels: automated-reposync-pr

#25374 repo sync
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  content/authentication/keeping-your-account-and-data-secure/security-log-events.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/audit-log-events-for-your-organization.md
Labels: automated-reposync-pr

#25375 repo sync
  components/rest/RestOperation.module.scss
  content/rest/guides/building-a-ci-server.md
  lib/update-internal-links.js
Labels: automated-reposync-pr

#25376 repo sync
  content/webhooks-and-events/index.md
Labels: automated-reposync-pr

#25377 repo sync
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: automated-reposync-pr

#24272 Make examples consistent
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-protected-branches/troubleshooting-required-status-checks.md
Labels: content, waiting for review, repositories

#25378 repo sync
  content/code-security/secret-scanning/about-secret-scanning.md
  content/pages/getting-started-with-github-pages/about-github-pages.md
  data/features/secret-scanning-backfill-email.yml
  lib/render-content/plugins/rewrite-local-links.js
  middleware/contextualizers/glossaries.js
  middleware/index.js
  script/i18n/create-translation-health-report.js
  tests/fixtures/content/get-started/quickstart/github-glossary.md
  tests/fixtures/content/get-started/quickstart/index.md
  tests/fixtures/data/glossaries/external.yml
  tests/rendering-fixtures/glossary.js
Labels: automated-reposync-pr

#25380 repo sync
  content/actions/migrating-to-github-actions/automated-migrations/migrating-from-azure-devops-with-github-actions-importer.md
  content/actions/migrating-to-github-actions/automated-migrations/migrating-from-circleci-with-github-actions-importer.md
  content/actions/migrating-to-github-actions/automated-migrations/migrating-from-gitlab-with-github-actions-importer.md
Labels: automated-reposync-pr

#25384 repo sync
  assets/images/help/settings/scheduled-reminders-org-choice.png
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-membership-in-organizations/managing-your-scheduled-reminders.md
  content/organizations/managing-organization-settings/managing-scheduled-reminders-for-your-organization.md
  content/organizations/organizing-members-into-teams/managing-scheduled-reminders-for-your-team.md
  data/reusables/organizations/org-invite-scim.md
  data/reusables/reminders/test-reminder.md
  data/reusables/reminders/update-buttons.md
Labels: automated-reposync-pr

#25385 repo sync
  assets/images/help/repository/choose-commit-email-address.png
  content/code-security/getting-started/adding-a-security-policy-to-your-repository.md
  content/communities/setting-up-your-project-for-healthy-contributions/adding-a-license-to-a-repository.md
  content/repositories/working-with-files/managing-files/adding-a-file-to-a-repository.md
  content/repositories/working-with-files/managing-files/deleting-files-in-a-repository.md
  content/repositories/working-with-files/managing-files/editing-files.md
  data/reusables/files/commit-message.md
  data/reusables/files/propose_file_change.md
  data/reusables/files/propose_new_file.md
Labels: automated-reposync-pr

#25386 repo sync
  content/apps/oauth-apps/building-oauth-apps/authenticating-to-the-rest-api-with-an-oauth-app.md
  content/authentication/connecting-to-github-with-ssh/using-ssh-agent-forwarding.md
  content/code-security/codeql-cli/codeql-cli-manual/database-create.md
  content/code-security/codeql-cli/codeql-cli-manual/database-index-files.md
  content/code-security/codeql-cli/codeql-cli-manual/database-init.md
  content/code-security/codeql-cli/codeql-cli-manual/database-trace-command.md
  content/code-security/codeql-cli/codeql-cli-manual/dataset-check.md
  content/code-security/codeql-cli/codeql-cli-manual/generate-log-summary.md
  content/code-security/codeql-cli/codeql-cli-manual/test-run.md
  content/codespaces/prebuilding-your-codespaces/configuring-prebuilds.md
  content/rest/guides/best-practices-for-integrators.md
  content/rest/guides/delivering-deployments.md
  content/rest/guides/working-with-comments.md
  content/webhooks-and-events/webhooks/about-webhooks.md
  content/webhooks-and-events/webhooks/creating-webhooks.md
Labels: automated-reposync-pr

#25387 repo sync
  content/actions/hosting-your-own-runners/managing-self-hosted-runners-with-actions-runner-controller/quickstart-for-actions-runner-controller.md
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  content/code-security/codeql-cli/codeql-cli-reference/sarif-output.md
Labels: automated-reposync-pr

#25388 repo sync
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automated-reposync-pr

#25390 repo sync
  content/migrations/overview/index.md
Labels: automated-reposync-pr

#25298 Fixed a typo in the privacy statement
  content/site-policy/privacy-policies/github-privacy-statement.md
Labels: content, site policy, ready to merge, waiting for review

#25397 repo sync
  content/apps/oauth-apps/using-oauth-apps/index.md
  content/apps/oauth-apps/using-oauth-apps/installing-an-oauth-app-in-your-organization.md
  content/apps/oauth-apps/using-oauth-apps/installing-an-oauth-app-in-your-personal-account.md
  content/apps/using-github-apps/index.md
  content/apps/using-github-apps/installing-a-github-app-in-your-organization.md
  content/apps/using-github-apps/installing-a-github-app-in-your-personal-account.md
Labels: automated-reposync-pr

#25399 repo sync
  components/LinkPreviewPopover.tsx
  src/pageinfo/middleware.js
  src/pageinfo/tests/pageinfo.js
Labels: automated-reposync-pr

#25404 repo sync
  components/ui/MiniTocs/MiniTocs.tsx
  tests/rendering-fixtures/playwright-rendering.spec.ts
Labels: automated-reposync-pr

#25408 repo sync
  components/webhooks/Webhook.tsx
  src/rest/scripts/utils/get-body-params.js
Labels: automated-reposync-pr

#25312 Update building-and-testing-nodejs examples
  content/actions/automating-builds-and-tests/building-and-testing-nodejs.md
Labels: content, actions, ready to merge, waiting for review

#25320 Add creating a branch as contribution count
  content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/viewing-contributions-on-your-profile.md
Labels: content, ready to merge, waiting for review, account-and-profile

#25409 repo sync
  README.md
  components/GenericError.tsx
  components/page-footer/Support.tsx
  pages/404.tsx
  tests/rendering-fixtures/footer.js
Labels: automated-reposync-pr

#25410 repo sync
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/about-custom-domains-and-github-pages.md
Labels: automated-reposync-pr

#25415 repo sync
  content/codespaces/developing-in-codespaces/opening-an-existing-codespace.md
Labels: automated-reposync-pr

#25420 repo sync
  middleware/redirects/handle-redirects.js
  tests/routing/redirects.js
Labels: automated-reposync-pr

#25421 repo sync
  Dockerfile
Labels: automated-reposync-pr

#25422 repo sync
  .github/workflows/close-on-invalid-label.yaml
  .github/workflows/triage-issue-comments.yml
  .github/workflows/triage-issues.yml
  .github/workflows/triage-pull-requests.yml
  README.md
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  src/graphql/data/fpt/schema.json
  src/graphql/data/ghec/schema.json
Labels: automated-reposync-pr

#25424 repo sync
  lib/is-archived-version.js
  src/pageinfo/middleware.js
  src/pageinfo/tests/pageinfo.js
Labels: automated-reposync-pr

#25426 repo sync
  .github/workflows/triage-unallowed-contributions.yml
  content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
  content/desktop/contributing-and-collaborating-using-github-desktop/keeping-your-local-repository-in-sync-with-github/index.md
  content/desktop/contributing-and-collaborating-using-github-desktop/keeping-your-local-repository-in-sync-with-github/syncing-your-branch-in-github-desktop.md
  content/desktop/contributing-and-collaborating-using-github-desktop/making-changes-in-a-branch/committing-and-reviewing-changes-to-your-project-in-github-desktop.md
  content/desktop/contributing-and-collaborating-using-github-desktop/making-changes-in-a-branch/index.md
  content/desktop/contributing-and-collaborating-using-github-desktop/making-changes-in-a-branch/managing-branches-in-github-desktop.md
  content/desktop/contributing-and-collaborating-using-github-desktop/making-changes-in-a-branch/pushing-changes-to-github-from-github-desktop.md
  content/desktop/contributing-and-collaborating-using-github-desktop/making-changes-in-a-branch/stashing-changes-in-github-desktop.md
  content/desktop/contributing-and-collaborating-using-github-desktop/making-changes-in-a-branch/viewing-the-branch-history-in-github-desktop.md
  content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/amending-a-commit-in-github-desktop.md
  content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/cherry-picking-a-commit-in-github-desktop.md
  content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/index.md
  content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/managing-tags-in-github-desktop.md
  content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/reordering-commits-in-github-desktop.md
  content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/reverting-a-commit-in-github-desktop.md
  content/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/squashing-commits-in-github-desktop.md
  content/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/changing-the-remote-url-for-a-repository-in-github-desktop.md
  content/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/creating-an-issue-or-pull-request-from-github-desktop.md
  content/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/index.md
  content/desktop/index.md
  content/desktop/installing-and-configuring-github-desktop/configuring-and-customizing-github-desktop/configuring-a-default-editor-in-github-desktop.md
  content/desktop/installing-and-configuring-github-desktop/configuring-and-customizing-github-desktop/configuring-basic-settings-in-github-desktop.md
  content/desktop/installing-and-configuring-github-desktop/configuring-and-customizing-github-desktop/configuring-git-for-github-desktop.md
  content/desktop/installing-and-configuring-github-desktop/configuring-and-customizing-github-desktop/index.md
  content/desktop/installing-and-configuring-github-desktop/installing-and-authenticating-to-github-desktop/about-connections-to-github-in-github-desktop.md
  content/desktop/installing-and-configuring-github-desktop/installing-and-authenticating-to-github-desktop/authenticating-to-github-in-github-desktop.md
  content/desktop/installing-and-configuring-github-desktop/installing-and-authenticating-to-github-desktop/index.md
  content/desktop/installing-and-configuring-github-desktop/installing-and-authenticating-to-github-desktop/setting-up-github-desktop.md
  content/desktop/installing-and-configuring-github-desktop/installing-and-authenticating-to-github-desktop/uninstalling-github-desktop.md
  content/desktop/installing-and-configuring-github-desktop/installing-and-authenticating-to-github-desktop/updating-github-desktop.md
  content/desktop/installing-and-configuring-github-desktop/overview/creating-your-first-repository-using-github-desktop.md
  content/desktop/installing-and-configuring-github-desktop/overview/getting-started-with-github-desktop.md
  content/desktop/installing-and-configuring-github-desktop/overview/github-desktop-keyboard-shortcuts.md
  content/desktop/installing-and-configuring-github-desktop/overview/index.md
  content/desktop/installing-and-configuring-github-desktop/overview/supported-operating-systems-for-github-desktop.md
  content/get-started/quickstart/contributing-to-projects.md
  content/pull-requests/committing-changes-to-your-project/creating-and-editing-commits/about-commits.md
  content/pull-requests/committing-changes-to-your-project/creating-and-editing-commits/creating-a-commit-with-multiple-authors.md
  contributing/content-style-guide.md
  data/reusables/repositories/protected-branches-block-web-edits-uploads.md
  tests/routing/redirects.js
Labels: automated-reposync-pr

#25427 repo sync
  components/LinkPreviewPopover.tsx
Labels: automated-reposync-pr

#25432 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  src/graphql/data/fpt/schema.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghec/schema.json
Labels: automated-reposync-pr

#25441 repo sync
  content/communities/maintaining-your-safety-on-github/blocking-a-user-from-your-organization.md
  content/communities/maintaining-your-safety-on-github/blocking-a-user-from-your-personal-account.md
Labels: automated-reposync-pr

#25442 repo sync
  data/reusables/copilot/dotcom-settings.md
  data/reusables/copilot/telemetry-setting-org.md
  data/secret-scanning.yml
Labels: automated-reposync-pr

#25445 repo sync
  src/events/browser.ts
  src/pageinfo/middleware.js
  src/pageinfo/tests/pageinfo.js
Labels: automated-reposync-pr

#25449 repo sync
  middleware/robots.js
  tests/rendering/robots-txt.js
Labels: automated-reposync-pr

#25453 repo sync
  src/search/components/Search.tsx
  src/search/components/SearchResults.tsx
  src/search/components/index.tsx
  src/search/components/useBreakpoint.ts
  src/search/components/useMediaQuery.ts
  src/search/components/useNumberFormatter.ts
  src/search/components/usePage.ts
  src/search/components/useQuery.ts
Labels: automated-reposync-pr

#25454 repo sync
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/managing-subscriptions-for-activity-on-github/viewing-your-subscriptions.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/about-notifications.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/viewing-and-triaging-notifications/managing-notifications-from-your-inbox.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-team-policies-in-your-enterprise.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/generating-a-user-access-token-for-a-github-app.md
  content/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps.md
  content/discussions/index.md
  content/get-started/learning-about-github/githubs-products.md
  content/get-started/quickstart/communicating-on-github.md
  content/organizations/collaborating-with-your-team/about-team-discussions.md
  content/organizations/collaborating-with-your-team/creating-a-team-discussion.md
  content/organizations/collaborating-with-your-team/editing-or-deleting-a-team-discussion.md
  content/organizations/collaborating-with-your-team/index.md
  content/organizations/collaborating-with-your-team/pinning-a-team-discussion.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/audit-log-events-for-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organization.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
  content/organizations/organizing-members-into-teams/about-teams.md
  content/organizations/organizing-members-into-teams/assigning-the-team-maintainer-role-to-a-team-member.md
  content/organizations/organizing-members-into-teams/disabling-team-discussions-for-your-organization.md
  content/rest/overview/permissions-required-for-fine-grained-personal-access-tokens.md
  content/rest/overview/permissions-required-for-github-apps.md
  content/rest/teams/discussion-comments.md
  content/rest/teams/discussions.md
  data/features/team-discussions-migration.yml
  data/features/team-discussions.yml
  data/reusables/audit_log/audit-log-action-categories.md
  data/reusables/organizations/team-discussions-deprecation.md
  data/reusables/organizations/team-discussions-migration.md
  data/reusables/organizations/team_maintainers_can.md
Labels: automated-reposync-pr

#25455 repo sync
  .github/workflows/test.yml
Labels: triage, automated-reposync-pr

#25456 repo sync
  content/apps/creating-github-apps/guides/building-a-github-app-that-responds-to-webhook-events.md
  content/apps/creating-github-apps/guides/index.md
  content/apps/creating-github-apps/setting-up-a-github-app/using-webhooks-with-github-apps.md
  content/rest/guides/scripting-with-the-rest-api-and-javascript.md
  data/reusables/apps/navigate-to-app-settings-page.md
  data/reusables/apps/settings-step.md
  src/rest/scripts/update-files.js
Labels: automated-reposync-pr

#25457 repo sync
  src/ghes-releases/lib/release-steps.md
Labels: automated-reposync-pr

#25458 repo sync
  assets/images/help/writing/inline-backtick-math-markdown-rendering.png
  assets/images/help/writing/inline-math-markdown-rendering.png
  assets/images/help/writing/math-expression-as-a-block-rendering.png
  content/get-started/writing-on-github/working-with-advanced-formatting/writing-mathematical-expressions.md
  data/features/math-backtick-syntax.yml
  data/features/math-fenced-blocks.yml
Labels: automated-reposync-pr

#25283 Update licensing-a-repository.md: Add 0BSD
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/licensing-a-repository.md
Labels: content, ready to merge, waiting for review, repositories

#25304 Updated the instructions on using setup-swift.
  content/actions/automating-builds-and-tests/building-and-testing-swift.md
Labels: content, actions, ready to merge, waiting for review

#25463 repo sync
  data/reusables/actions/supported-github-runners.md
Labels: automated-reposync-pr

#25464 repo sync
  content/get-started/writing-on-github/working-with-advanced-formatting/attaching-files.md
  data/reusables/repositories/anyone-can-view-anonymized-url.md
Labels: automated-reposync-pr

#25465 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/customizing-code-scanning.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue.md
Labels: automated-reposync-pr

#25467 repo sync
  components/page-header/HeaderNotifications.tsx
Labels: automated-reposync-pr

#25470 repo sync
  assets/images/help/desktop/click-branch-in-drop-down-win.png
  assets/images/help/desktop/commit-revert-win.png
  assets/images/help/desktop/fetch-newer-commits.png
  assets/images/help/desktop/new-branch-button-win.png
  assets/images/help/desktop/windows-editor-menu.png
  assets/images/help/desktop/windows-email-git-config.png
  assets/images/help/desktop/windows-name-git-config.png
  assets/images/help/desktop/windows-save-git-config.png
  assets/images/help/desktop/windows-select-default-branch-name.png
  assets/images/help/repository/file-tree-view-branch-dropdown-tags.png
  assets/images/help/repository/file-tree-view-branch-dropdown.png
  assets/images/help/settings/scheduled-reminders-update-buttons.png
  assets/images/help/settings/send-and-update-contributions.png
  content/desktop/installing-and-configuring-github-desktop/overview/github-desktop-keyboard-shortcuts.md
Labels: automated-reposync-pr

#25474 repo sync
  components/article/HeadingLink.tsx
  lib/render-content/plugins/heading-links.js
  stylesheets/heading-links.scss
Labels: automated-reposync-pr

#25475 repo sync
  content/rest/rate-limit.md
  middleware/index.js
  middleware/rate-limit.js
  package-lock.json
  package.json
Labels: automated-reposync-pr

#25477 repo sync
  .github/workflows/test.yml
  data/features/README.md
  data/learning-tracks/README.md
  data/release-notes/enterprise-server/README.md
  data/release-notes/github-ae/README.md
  package.json
  src/content-linter/README.md
  src/content-linter/lib/diff-files.js
  src/content-linter/lib/feature-versions-schema.js
  src/content-linter/lib/learning-tracks-schema.js
  src/content-linter/lib/release-notes-schema.js
  src/content-linter/lib/secret-scanning-schema.js
  src/content-linter/tests/category-pages.js
  src/content-linter/tests/lint-files.js
  src/content-linter/tests/lint-secret-scanning-data.js
  src/content-linter/tests/lint-versioning.js
  src/content-linter/tests/liquid-line-breaks.js
  src/content-linter/tests/site-data-references.js
Labels: automated-reposync-pr

#25478 repo sync
  content/admin/code-security/managing-supply-chain-security-for-your-enterprise/configuring-dependabot-to-work-with-limited-internet-access.md
  content/admin/code-security/managing-supply-chain-security-for-your-enterprise/index.md
  content/admin/configuration/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
  content/code-security/dependabot/working-with-dependabot/configuring-access-to-private-registries-for-dependabot.md
  content/code-security/dependabot/working-with-dependabot/removing-dependabot-access-to-public-registries.md
  data/features/dependabot-ghes-no-public-internet.yml
  data/reusables/dependabot/private-registry-support.md
Labels: automated-reposync-pr

#25480 repo sync
  data/release-notes/enterprise-server/3-5/17.yml
  data/release-notes/enterprise-server/3-6/13.yml
  data/release-notes/enterprise-server/3-6/5.yml
  data/release-notes/enterprise-server/3-7/10.yml
  data/release-notes/enterprise-server/3-7/9.yml
  data/release-notes/enterprise-server/3-8/3.yml
Labels: automated-reposync-pr

#25434 Adding note to ignore markdown formatting.
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, ready to merge, waiting for review, get started

#25440 Fix workflow-syntax-for-github-actions.md
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions, ready to merge, waiting for review

#25443 Update publishing-docker-images.md
  content/actions/publishing-packages/publishing-docker-images.md
Labels: content, actions, ready to merge, waiting for review

#25436 [GitHub Actions] Fix typo (envrionment => number)
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions, ready to merge, waiting for review

#25439 Removed duplicated step under Finding and applying for a Github Octernship (Step 7 is a duplicate of Step 5)
  content/education/explore-internship-projects-with-github-octernships/applying-for-github-octernships.md
Labels: content, ready to merge, waiting for review, education

#25484 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/customizing-code-scanning.md
  data/features/code-scanning-config-input.yml
Labels: automated-reposync-pr

#25486 repo sync
  assets/images/help/writing/math-expression-as-a-block-rendering.png
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/setting-your-profile-to-private.md
  data/release-notes/enterprise-server/3-6/0.yml
  data/release-notes/enterprise-server/3-6/1.yml
  data/release-notes/enterprise-server/3-6/10.yml
  data/release-notes/enterprise-server/3-6/11.yml
  data/release-notes/enterprise-server/3-6/12.yml
  data/release-notes/enterprise-server/3-6/2.yml
  data/release-notes/enterprise-server/3-6/3.yml
  data/release-notes/enterprise-server/3-6/4.yml
  data/release-notes/enterprise-server/3-6/5.yml
  data/release-notes/enterprise-server/3-6/6.yml
  data/release-notes/enterprise-server/3-6/7.yml
  data/release-notes/enterprise-server/3-6/8.yml
  data/release-notes/enterprise-server/3-6/9.yml
  data/release-notes/enterprise-server/3-7/0.yml
  data/release-notes/enterprise-server/3-7/1.yml
  data/release-notes/enterprise-server/3-7/2.yml
  data/release-notes/enterprise-server/3-7/3.yml
  data/release-notes/enterprise-server/3-7/4.yml
  data/release-notes/enterprise-server/3-7/5.yml
  data/release-notes/enterprise-server/3-7/6.yml
  data/release-notes/enterprise-server/3-7/7.yml
  data/release-notes/enterprise-server/3-7/8.yml
  data/release-notes/enterprise-server/3-7/9.yml
  data/reusables/release-notes/slow-deleted-repos-migration-known-issue.md
Labels: automated-reposync-pr

#25488 repo sync
  content/codespaces/developing-in-codespaces/using-github-codespaces-with-github-cli.md
  data/reusables/dependabot/configuration-options.md
Labels: automated-reposync-pr

#25492 repo sync
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/auto-label-prs.yml
  .github/workflows/codeowners-content-strategy.yml
  .github/workflows/codeowners-docs-engineering.yml
  middleware/api/index.js
  next.config.js
  pages/[versionId]/webhooks-and-events/webhooks/webhook-events-and-payloads.tsx
  src/webhooks/components/Webhook.tsx
  src/webhooks/components/WebhookPayloadExample.module.scss
  src/webhooks/components/types.ts
  src/webhooks/middleware/webhooks.js
  src/webhooks/pages/webhook-events-and-payloads.tsx
Labels: automated-reposync-pr

#25493 repo sync
  tests/browser/browser.js
Labels: automated-reposync-pr

#25494 repo sync
  content/organizations/managing-programmatic-access-to-your-organization/about-programmatic-access-in-your-organization.md
  content/organizations/managing-programmatic-access-to-your-organization/index.md
Labels: automated-reposync-pr

#25495 repo sync
  package-lock.json
  package.json
Labels: automated-reposync-pr

#25496 repo sync
  content/issues/planning-and-tracking-with-projects/automating-your-project/automating-projects-using-actions.md
  src/rest/scripts/utils/sync.js
Labels: automated-reposync-pr

#25483 Add missing line continuation to REST API authentication docs (#25482)
  content/rest/overview/authenticating-to-the-rest-api.md
Labels: content, ready to merge, waiting for review, rest

#25497 repo sync
  pages/[versionId]/graphql/overview/breaking-changes.tsx
  pages/[versionId]/graphql/overview/changelog.tsx
  pages/[versionId]/graphql/overview/explorer.tsx
  pages/[versionId]/graphql/overview/schema-previews.tsx
  pages/[versionId]/graphql/reference/[page].tsx
  src/graphql/components/BreakingChanges.tsx
  src/graphql/components/Changelog.tsx
  src/graphql/components/Enum.tsx
  src/graphql/components/GraphqlItem.tsx
  src/graphql/components/GraphqlPage.tsx
  src/graphql/components/InputObject.tsx
  src/graphql/components/Interface.tsx
  src/graphql/components/Mutation.tsx
  src/graphql/components/Notice.tsx
  src/graphql/components/Object.tsx
  src/graphql/components/Previews.tsx
  src/graphql/components/Query.tsx
  src/graphql/components/Scalar.tsx
  src/graphql/components/Table.tsx
  src/graphql/components/Union.tsx
  src/graphql/components/types.tsx
  src/graphql/pages/breaking-changes.tsx
  src/graphql/pages/changelog.tsx
  src/graphql/pages/explorer.tsx
  src/graphql/pages/reference.tsx
  src/graphql/pages/schema-previews.tsx
Labels: automated-reposync-pr

#25500 repo sync
  content/issues/tracking-your-work-with-issues/about-tasklists.md
Labels: automated-reposync-pr

#25501 repo sync
  data/reusables/dependabot/supported-package-managers.md
Labels: automated-reposync-pr

#25502 repo sync
  data/release-notes/enterprise-server/3-6/13.yml
  data/release-notes/enterprise-server/3-7/10.yml
Labels: automated-reposync-pr

#25503 repo sync
  tests/browser/browser.js
  tests/rendering-fixtures/playwright-rendering.spec.ts
Labels: automated-reposync-pr

#25505 repo sync
  package-lock.json
  package.json
Labels: automated-reposync-pr

#25506 repo sync
  content/get-started/using-github/keyboard-shortcuts.md
  data/features/projects-v2-board-drag-multiple.yml
  data/features/projects-v2-board-keyboard-shorts.yml
  data/reusables/projects/about-board-layout.md
Labels: automated-reposync-pr

#25447 Update renaming-a-branch.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch.md
Labels: content, ready to merge, waiting for review, repositories

#25509 repo sync
  content/apps/oauth-apps/building-oauth-apps/authorizing-oauth-apps.md
  content/apps/oauth-apps/building-oauth-apps/creating-an-oauth-app.md
  content/apps/oauth-apps/building-oauth-apps/rate-limits-for-oauth-apps.md
  content/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps.md
  src/graphql/data/fpt/schema.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghec/schema.json
  src/graphql/data/ghes-3.4/schema.json
  src/graphql/data/ghes-3.5/schema.json
  src/graphql/data/ghes-3.6/schema.json
  src/graphql/data/ghes-3.7/schema.json
  src/graphql/data/ghes-3.8/schema.json
Labels: automated-reposync-pr

#25510 repo sync
  components/DefaultLayout.tsx
  components/article/ArticlePage.tsx
  components/landing/ProductLanding.tsx
  components/landing/TocLanding.tsx
  components/page-header/Header.tsx
  components/sidebar/SidebarNav.tsx
  components/sidebar/SidebarProduct.tsx
  pages/[versionId]/rest/[category]/[subcategory].tsx
  pages/[versionId]/rest/[category]/index.tsx
  pages/[versionId]/rest/overview/endpoints-available-for-github-apps.tsx
  src/rest/components/ApiVersionPicker.tsx
  src/rest/components/ClientSideRedirectExceptions.tsx
  src/rest/components/ClientSideRedirects.tsx
  src/rest/components/RestBanner.tsx
  src/rest/components/RestCodeSamples.module.scss
  src/rest/components/RestCodeSamples.tsx
  src/rest/components/RestCollapsibleSection.module.scss
  src/rest/components/RestCollapsibleSection.tsx
  src/rest/components/RestMethod.tsx
  src/rest/components/RestOperation.module.scss
  src/rest/components/RestOperation.tsx
  src/rest/components/RestPreviewNotice.tsx
  src/rest/components/RestRedirect.tsx
  src/rest/components/RestReferencePage.tsx
  src/rest/components/RestStatusCodes.tsx
  src/rest/components/get-rest-code-samples.ts
  src/rest/components/types.ts
  src/rest/components/useClipboard.ts
  src/webhooks/components/types.ts
Labels: automated-reposync-pr

#25511 repo sync
  src/rest/docs.js
Labels: automated-reposync-pr

#25512 repo sync
  content/actions/hosting-your-own-runners/managing-self-hosted-runners-with-actions-runner-controller/authenticating-to-the-github-api.md
Labels: automated-reposync-pr

#25498 Updated the instructions to refer to "Personal access tokens" link
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-personal-access-tokens-in-your-enterprise.md
Labels: content, enterprise, waiting for review

#25061 Update setting-up-your-development-environment-to-create-a-github-app.md
  content/apps/creating-github-apps/guides/setting-up-your-development-environment-to-create-a-github-app.md
Labels: content, ready to merge, waiting for review, github apps

#25479 Hyperlink to `pull_request_target`
  data/reusables/actions/workflow-run-approve-public-fork.md
Labels: content, actions, waiting for review

#25515 repo sync
  pages/[versionId]/rest/[category]/[subcategory].tsx
  pages/[versionId]/rest/[category]/index.tsx
  pages/[versionId]/rest/guides/[...restPage].tsx
  pages/[versionId]/rest/guides/index.tsx
  pages/[versionId]/rest/overview/[...restPage].tsx
  pages/[versionId]/rest/overview/endpoints-available-for-github-apps.tsx
  pages/[versionId]/rest/overview/index.tsx
  pages/[versionId]/rest/quickstart.tsx
  src/rest/pages/category.tsx
  src/rest/pages/endpoints-available-for-github-apps.tsx
  src/rest/pages/subcategory.tsx
Labels: automated-reposync-pr

#25516 repo sync
  package-lock.json
  package.json
Labels: automated-reposync-pr

#25523 repo sync
  content/admin/configuration/configuring-your-enterprise/configuring-applications.md
  content/get-started/writing-on-github/working-with-advanced-formatting/creating-diagrams.md
  content/repositories/working-with-files/using-files/working-with-non-code-files.md
  data/features/azure-maps.yml
  data/reusables/advanced-formatting/administrator-must-enable-mapping.md
Labels: automated-reposync-pr

#25524 repo sync
  content/rest/enterprise-admin/scim.md
Labels: automated-reposync-pr

#25527 repo sync
  src/webhooks/pages/webhook-events-and-payloads.tsx
Labels: automated-reposync-pr

#24009 Document how to specify an image version
  data/reusables/actions/redis-label-description.md
Labels: content, actions, ready to merge, waiting for review

#25531 repo sync
  content/apps/creating-github-apps/authenticating-with-a-github-app/generating-a-user-access-token-for-a-github-app.md
  data/reusables/apps/web-app-flow-exchange-code.md
Labels: automated-reposync-pr

#25533 repo sync
  content/apps/maintaining-github-apps/suspending-a-github-app-installation.md
  content/apps/maintaining-github-apps/transferring-ownership-of-a-github-app.md
  content/apps/using-github-apps/index.md
  content/apps/using-github-apps/reviewing-and-modifying-installed-github-apps.md
  content/apps/using-github-apps/reviewing-and-revoking-authorization-of-github-apps.md
  content/organizations/managing-programmatic-access-to-your-organization/reviewing-github-apps-installed-in-your-organization.md
Labels: automated-reposync-pr

#25534 repo sync
  content/apps/maintaining-github-apps/deleting-a-github-app.md
  data/reusables/shortdesc/deleting_github_apps.md
Labels: automated-reposync-pr

#25535 repo sync
  content/organizations/managing-oauth-access-to-your-organizations-data/about-oauth-app-access-restrictions.md
  content/organizations/managing-oauth-access-to-your-organizations-data/approving-oauth-apps-for-your-organization.md
  content/organizations/managing-oauth-access-to-your-organizations-data/denying-access-to-a-previously-approved-oauth-app-for-your-organization.md
  content/organizations/managing-oauth-access-to-your-organizations-data/disabling-oauth-app-access-restrictions-for-your-organization.md
  content/organizations/managing-oauth-access-to-your-organizations-data/enabling-oauth-app-access-restrictions-for-your-organization.md
Labels: automated-reposync-pr

#25536 repo sync
  content/apps/oauth-apps/using-oauth-apps/connecting-with-third-party-applications.md
  content/apps/oauth-apps/using-oauth-apps/index.md
  content/apps/using-github-apps/index.md
  data/reusables/user-settings/review_oauth_tokens_tip.md
Labels: automated-reposync-pr

#25564 repo sync
  content/admin/configuration/configuring-network-settings/configuring-built-in-firewall-rules.md
  content/admin/identity-and-access-management/managing-iam-for-your-enterprise/troubleshooting-identity-and-access-management-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
  content/billing/managing-billing-for-your-github-account/connecting-an-azure-subscription.md
  content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  data/reusables/audit_log/audit-log-api-info.md
  data/reusables/enterprise/ghec-trial-azure.md
  data/reusables/scim/emu-scim-rate-limit.md
Labels: automated-reposync-pr

#25565 repo sync
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/viewing-and-triaging-notifications/customizing-a-workflow-for-triaging-your-notifications.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/viewing-and-triaging-notifications/managing-notifications-from-your-inbox.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/viewing-and-triaging-notifications/triaging-a-single-notification.md
  content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
  content/actions/managing-issues-and-pull-requests/removing-a-label-when-a-card-is-added-to-a-project-board-column.md
  content/admin/configuration/administering-your-instance-from-the-management-console/troubleshooting-access-to-the-management-console.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-self-hosted-runners-for-your-enterprise.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/changing-your-preferred-two-factor-authentication-method.md
  content/billing/managing-billing-for-github-advanced-security/viewing-your-github-advanced-security-usage.md
  content/billing/managing-your-license-for-github-enterprise/viewing-license-usage-for-github-enterprise.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning-for-a-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-your-default-setup-for-codeql.md
  content/code-security/dependabot/dependabot-version-updates/listing-dependencies-configured-for-version-updates.md
  content/code-security/dependabot/working-with-dependabot/configuring-access-to-private-registries-for-dependabot.md
  content/code-security/getting-started/securing-your-repository.md
  content/code-security/secret-scanning/defining-custom-patterns-for-secret-scanning.md
  content/codespaces/customizing-your-codespace/configuring-automatic-deletion-of-your-codespaces.md
  content/codespaces/customizing-your-codespace/personalizing-github-codespaces-for-your-account.md
  content/codespaces/developing-in-codespaces/creating-a-codespace-for-a-repository.md
  content/codespaces/developing-in-codespaces/deleting-a-codespace.md
  content/codespaces/developing-in-codespaces/using-github-codespaces-for-pull-requests.md
  content/codespaces/developing-in-codespaces/using-github-codespaces-in-visual-studio-code.md
  content/codespaces/getting-started/quickstart.md
  content/codespaces/managing-codespaces-for-your-organization/restricting-access-to-machine-types.md
  content/codespaces/managing-codespaces-for-your-organization/restricting-the-base-image-for-codespaces.md
  content/codespaces/managing-codespaces-for-your-organization/restricting-the-idle-timeout-period.md
  content/codespaces/managing-codespaces-for-your-organization/restricting-the-retention-period-for-codespaces.md
  content/codespaces/managing-codespaces-for-your-organization/restricting-the-visibility-of-forwarded-ports.md
  content/codespaces/setting-up-your-project-for-codespaces/configuring-dev-containers/adding-features-to-a-devcontainer-file.md
  content/codespaces/the-githubdev-web-based-editor.md
  content/codespaces/troubleshooting/troubleshooting-github-codespaces-clients.md
  content/codespaces/troubleshooting/working-with-support-for-github-codespaces.md
  content/communities/maintaining-your-safety-on-github/reporting-abuse-or-spam.md
Labels: automated-reposync-pr

#25568 repo sync
  content/actions/using-workflows/required-workflows.md
  content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  data/reusables/actions/workflows/required-workflow-prerequisites.md
Labels: automated-reposync-pr

#25570 repo sync
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/managing-access-to-self-hosted-runners-using-groups.md
Labels: automated-reposync-pr

#25576 repo sync
  .github/workflows/first-responder-docs-content.yml
Labels: automated-reposync-pr

#25577 repo sync
  data/secret-scanning.yml
Labels: automated-reposync-pr

#25582 repo sync
  content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
  data/reusables/secret-scanning/notification-settings.md
  data/reusables/secret-scanning/secret-scanning-configure-notifications.md
Labels: automated-reposync-pr

#25583 repo sync
  content/issues/planning-and-tracking-with-projects/automating-your-project/archiving-items-automatically.md
Labels: automated-reposync-pr

#25584 repo sync
  content/site-policy/other-site-policies/github-and-trade-controls.md
Labels: automated-reposync-pr

#25587 repo sync
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/managing-access-to-self-hosted-runners-using-groups.md
Labels: automated-reposync-pr

#25589 repo sync
  content/actions/using-github-hosted-runners/about-github-hosted-runners.md
Labels: automated-reposync-pr

#25590 repo sync
  middleware/handle-invalid-querystrings.js
  middleware/index.js
  tests/rendering-fixtures/invalid-querystrings.js
Labels: automated-reposync-pr

#25593 repo sync
  tests/rendering-fixtures/playwright-rendering.spec.ts
Labels: automated-reposync-pr

#25595 repo sync
  tests/browser/browser.js
  tests/fixtures/content/rest/code-scanning.md
  tests/fixtures/content/rest/index.md
  tests/rendering-fixtures/playwright-rendering.spec.ts
Labels: automated-reposync-pr

#25563 - documents the lack of CORS pre-flight support
  content/apps/oauth-apps/building-oauth-apps/authorizing-oauth-apps.md
Labels: content, waiting for review, github apps

#25605 repo sync
  assets/images/help/gist/starring-a-gist.png
  content/get-started/writing-on-github/editing-and-sharing-content-with-gists/index.md
  content/get-started/writing-on-github/editing-and-sharing-content-with-gists/saving-gists-with-stars.md
  data/variables/gists.yml
Labels: automated-reposync-pr

#25609 repo sync
  content/get-started/writing-on-github/working-with-advanced-formatting/attaching-files.md
Labels: automated-reposync-pr

#25610 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-the-tool-status-page.md
Labels: automated-reposync-pr

#25612 repo sync
  tests/browser/browser.js
Labels: automated-reposync-pr

#25613 repo sync
  content/actions/automating-builds-and-tests/building-and-testing-java-with-maven.md
  content/actions/publishing-packages/publishing-java-packages-with-maven.md
  content/admin/configuration/configuring-network-settings/configuring-tls.md
  content/admin/configuration/configuring-network-settings/enabling-subdomain-isolation.md
  content/admin/configuration/configuring-network-settings/using-github-enterprise-server-with-a-load-balancer.md
  content/admin/enterprise-management/configuring-high-availability/about-geo-replication.md
  content/admin/enterprise-management/monitoring-your-appliance/about-system-logs.md
  content/admin/enterprise-management/monitoring-your-appliance/setting-up-external-monitoring.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-aws.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/using-the-audit-log-api-for-your-enterprise.md
  content/admin/policies/enforcing-policy-with-pre-receive-hooks/creating-a-pre-receive-hook-environment.md
  content/apps/creating-github-apps/guides/creating-ci-tests-with-the-checks-api.md
  content/apps/creating-github-apps/guides/setting-up-your-development-environment-to-create-a-github-app.md
  content/apps/creating-github-apps/guides/using-the-github-api-in-your-app.md
  content/apps/publishing-apps-to-github-marketplace/creating-apps-for-github-marketplace/security-best-practices-for-apps.md
  content/communities/documenting-your-project-with-wikis/viewing-a-wikis-history-of-changes.md
  content/desktop/contributing-and-collaborating-using-github-desktop/adding-and-cloning-repositories/cloning-and-forking-repositories-from-github-desktop.md
  content/desktop/index.md
  content/desktop/installing-and-configuring-github-desktop/installing-and-authenticating-to-github-desktop/about-connections-to-github-in-github-desktop.md
  content/desktop/installing-and-configuring-github-desktop/overview/creating-your-first-repository-using-github-desktop.md
  content/desktop/installing-and-configuring-github-desktop/overview/getting-started-with-github-desktop.md
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/integrate-github-classroom-with-an-ide.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/connecting-your-identity-provider-to-your-organization.md
  content/repositories/working-with-files/managing-large-files/about-large-files-on-github.md
  content/rest/guides/best-practices-for-integrators.md
  content/rest/overview/resources-in-the-rest-api.md
  content/webhooks-and-events/webhooks/webhook-events-and-payloads.md
Labels: automated-reposync-pr

#25616 repo sync
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/about-self-hosted-runners.md
Labels: automated-reposync-pr

#25519 Set permissions at the job level rather than the top-level
  data/reusables/actions/github_token-input-example.md
Labels: content, actions, waiting for review

#25624 repo sync
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
Labels: automated-reposync-pr

#25626 repo sync
  content/education/guides.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-a-group-assignment.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/create-an-individual-assignment.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/extending-an-assignments-deadline-for-an-individual-or-group.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/index.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/monitor-students-progress-with-the-assignment-overview-page.md
  data/reusables/classroom/clear-all-assignment-overview.md
  data/reusables/classroom/link-to-assignment-overview-article.md
Labels: automated-reposync-pr

#25361 Update viewing-branches-in-your-repository.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/viewing-branches-in-your-repository.md
Labels: content, ready to merge, waiting for review, repositories

#25629 repo sync
  assets/images/help/actions/arc-diagram.png
  content/actions/hosting-your-own-runners/managing-self-hosted-runners-with-actions-runner-controller/about-actions-runner-controller.md
Labels: automated-reposync-pr

#25603 Update working-with-the-docker-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-docker-registry.md
Labels: content, packages, waiting for review

#25633 repo sync
  data/reusables/enterprise/use-a-multiplexer.md
Labels: automated-reposync-pr
