Repository github/docs, pull requests merged in 2023-08, with the labels that each got.

#27169 Clarify that `if` operates before `matrix`
  data/reusables/actions/jobs/section-using-conditions-to-control-job-execution.md
Labels: triage

#27171 Remove extra 's' at end of "GitHub's plans"
  content/organizations/collaborating-with-groups-in-organizations/creating-a-new-organization-from-scratch.md
Labels: content, waiting for review, organizations

#25720 Add guide for setting up php codespaces
  content/codespaces/guides.md
  content/codespaces/index.md
  content/codespaces/setting-up-your-project-for-codespaces/adding-a-dev-container-configuration/index.md
  content/codespaces/setting-up-your-project-for-codespaces/adding-a-dev-container-configuration/setting-up-your-php-project-for-codespaces.md
Labels: content, waiting for review, Codespaces

#26730 remove z-index of sup
  components/ui/MarkdownContent/stylesheets/table.scss
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: triage, waiting for review

#27252 fix-exmple-sub-and-sup
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: triage

#26137 Avoid shell injection in examples
  content/actions/using-workflows/workflow-commands-for-github-actions.md
Labels: content, actions, ready to merge, Merge-after-freeze

#27291 Change Example of `jobs.<job_id>.env` from ## to ###
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions, ready to merge, Merge-after-freeze

#25050 Clarified information about codeowners and forks.
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
Labels: content, ready to merge, waiting for review, code owners, Merge-after-freeze

#27175 no need of escaping inside single quotes
  content/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key.md
Labels: content, ready to merge, authentication, Merge-after-freeze

#27268 Fix typo.
  content/site-policy/github-terms/github-sponsors-additional-terms.md
Labels: content, site policy, ready to merge, Merge-after-freeze

#27220 fix github actions file location: `.workflows` -> `.github/workflows`
  content/apps/creating-github-apps/registering-a-github-app/choosing-permissions-for-a-github-app.md
Labels: content, ready to merge, waiting for review, github apps, Merge-after-freeze

#27239 Update configuration-options-for-the-dependabot.yml-file.md
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
Labels: content, ready to merge, dependabot, Merge-after-freeze

#27247 Update add project to repo
  content/issues/planning-and-tracking-with-projects/managing-your-project/adding-your-project-to-a-repository.md
Labels: content, ready to merge, issues, Merge-after-freeze

#27286 Make the location of the pull requests settings clearer
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-the-automatic-deletion-of-branches.md
Labels: content, ready to merge, repositories, Merge-after-freeze

#27306 Fix typo: no apostrophe needed for plural form
  content/rest/guides/using-the-rest-api-to-interact-with-checks.md
Labels: content, ready to merge, waiting for review, rest

#27360 Update github-corporate-terms-of-service.md
  content/site-policy/github-terms/github-corporate-terms-of-service.md
Labels: content, site policy, waiting for review

#27264 doc(securing-your-webhooks): add standard JavaScript example
  content/webhooks-and-events/webhooks/securing-your-webhooks.md
Labels: content, ready to merge, waiting for review, webhooks

#24361 Add to docs new contexts concurrency supports
  data/reusables/actions/jobs/section-using-concurrency.md
Labels: content, actions, waiting for review

#27374 Fixed typo in understanding-github-code-search-syntax.md
  content/search-github/github-code-search/understanding-github-code-search-syntax.md
Labels: content, waiting for review, search-github

#27386 Update licensing-a-repository.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/licensing-a-repository.md
Labels: content, waiting for review, repositories

#27265 sec(securing-your-webhooks): use constant time comparator
  content/webhooks-and-events/webhooks/securing-your-webhooks.md
Labels: content, ready to merge, waiting for review, webhooks

#25911 Update copy-ssh-public-key.md
  content/authentication/connecting-to-github-with-ssh/adding-a-new-ssh-key-to-your-github-account.md
  data/reusables/gpg/copy-ssh-public-key.md
Labels: content, waiting for review, ssh, authentication

#27409 Update authenticating-as-a-github-app-installation.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/authenticating-as-a-github-app-installation.md
Labels: content, ready to merge, waiting for review, github apps

#27420 fix incomplete bullets in "creating a tasklist" doc
  content/issues/managing-your-tasks-with-tasklists/creating-a-tasklist.md
Labels: content, waiting for review, issues

#27446 Add dismissed to Reviewed event state
  content/webhooks-and-events/events/issue-event-types.md
Labels: content, waiting for review, webhooks

#27404 Fix typo: `sponsoring-an-open-source-contributor.md`
  content/sponsors/sponsoring-open-source-contributors/sponsoring-an-open-source-contributor.md
Labels: content, ready to merge, sponsors

#27307 feat: updates context menu shortcut for code nav
  content/get-started/using-github/keyboard-shortcuts.md
Labels: content, waiting for review, get started

#24884 Update and improve PowerShell code
  content/actions/using-workflows/workflow-commands-for-github-actions.md
Labels: content, actions, waiting for review, needs SME

#24896 Specify scope of default environment variables
  content/actions/learn-github-actions/variables.md
Labels: content, actions, waiting for review

#27503 Update applying-to-be-a-github-campus-expert.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/applying-to-be-a-github-campus-expert.md
Labels: content, ready to merge, waiting for review, education

#27493 Update section-choosing-the-runner-for-a-job.md
  data/reusables/actions/jobs/section-choosing-the-runner-for-a-job.md
Labels: content, actions, waiting for review

#27463 Update customizing-your-repositorys-social-media-preview.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/customizing-your-repositorys-social-media-preview.md
Labels: content, waiting for review, repositories

#26974 Adding a tip to mention that the given steps to start ssh-agent may not work for all
  content/authentication/keeping-your-account-and-data-secure/reviewing-your-ssh-keys.md
  content/authentication/troubleshooting-ssh/error-permission-denied-publickey.md
  data/reusables/desktop/note-start-ssh-agent.md
  data/reusables/desktop/windows_git_bash_turn_on_ssh_agent.md
  data/reusables/desktop/windows_git_for_windows_turn_on_ssh_agent.md
Labels: content, waiting for review, authentication

#25401 Add Host key verification failed page
  content/authentication/troubleshooting-ssh/error-host-key-verification-failed.md
  content/authentication/troubleshooting-ssh/index.md
Labels: content, ready to merge, waiting for review, authentication

#27498 Fix branches -> branches-ignore
  data/reusables/actions/workflows/section-triggering-a-workflow-branches.md
Labels: content, actions, waiting for review

#27583 [GitHub Actions] Fail fast from the default shells (bash/sh) in Linux/macOS
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: triage

#27587 Fix yaml indentation for Action Runner Controller Docs
  content/actions/hosting-your-own-runners/managing-self-hosted-runners-with-actions-runner-controller/deploying-runner-scale-sets-with-actions-runner-controller.md
Labels: content, actions, waiting for review

#27593 Fix force flag in syncing fork documentation
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/syncing-a-fork.md
Labels: content, waiting for review, pull requests

#27616 typo: fix tipo in `jobs.<job_id>.with`
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions, waiting for review

#27623 Update index.md
  content/rest/copilot/index.md
Labels: content, waiting for review

#27663 Update workflow-commands-for-github-actions.md
  content/actions/using-workflows/workflow-commands-for-github-actions.md
Labels: content, actions, waiting for review

#27548 Form schema allows undocumented required field on checkbox options
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-githubs-form-schema.md
Labels: content, ready to merge, waiting for review, communities

#27597 Mention pagination flag for classroom cli student repo downloads
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/using-github-classroom-with-github-cli.md
Labels: content, ready to merge, education

#27792 Update deploying-runner-scale-sets-with-actions-runner-controller.md
  content/actions/hosting-your-own-runners/managing-self-hosted-runners-with-actions-runner-controller/deploying-runner-scale-sets-with-actions-runner-controller.md
Labels: content, actions, waiting for review

#27739 Fix Actions branch glob documentation.
  data/reusables/actions/workflows/section-run-on-specific-branches-or-tags.md
Labels: content, actions, waiting for review

#27850 Fix typo
  content/apps/creating-github-apps/registering-a-github-app/about-the-setup-url.md
Labels: content, ready to merge, github apps

#27841 Update matrix-expand-with-include.md
  data/reusables/actions/jobs/matrix-expand-with-include.md
Labels: content, actions, waiting for review

#27857 Update connect-a-learning-management-system-course-to-a-classroom.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/connect-a-learning-management-system-course-to-a-classroom.md
Labels: content, waiting for review, education

#27557 Add about gitignore global default config at ignoring-files.md (#21863)
  content/get-started/getting-started-with-git/ignoring-files.md
Labels: content, ready to merge, get started
