Repository github/docs, pull requests merged in 2023-04, with the labels that each got.

#24807 repo sync
  content/code-security/security-overview/filtering-alerts-in-security-overview.md
  data/features/security-overview-acv-filters.yml
Labels: automated-reposync-pr

#24813 repo sync
  content/migrations/overview/planning-your-migration-to-github.md
Labels: automated-reposync-pr

#24814 repo sync
  data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/graphql_upcoming_changes.public.yml
  data/graphql/ghec/schema.docs.graphql
  data/graphql/graphql_upcoming_changes.public.yml
  data/graphql/schema.docs.graphql
  src/graphql/data/dotcom/changelog.json
  src/graphql/data/dotcom/schema.json
  src/graphql/data/dotcom/upcoming-changes.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghae/upcoming-changes.json
  src/graphql/data/ghec/schema.json
  src/graphql/data/ghec/upcoming-changes.json
Labels: automated-reposync-pr

#24778 Replace CodeQL product name with CLI command name
  content/code-security/codeql-cli/using-the-codeql-cli/creating-codeql-databases.md
Labels: content, waiting for review, codeql, code security

#24834 repo sync
  content/billing/managing-billing-for-github-copilot/managing-your-github-copilot-subscription-for-your-organization-or-enterprise.md
  content/billing/managing-billing-for-your-github-account/connecting-an-azure-subscription-to-your-enterprise.md
  content/copilot/quickstart.md
  data/reusables/copilot/enabling-in-enterprise.md
  data/reusables/copilot/signup-procedure-enterprise-msft-ea.md
  data/reusables/copilot/signup-procedure-enterprise.md
  data/reusables/enterprise-accounts/billing-microsoft-ea-overview.md
Labels: automated-reposync-pr

#24839 repo sync
  .github/actions-scripts/rendered-content-link-checker.js
Labels: automated-reposync-pr

#24479 Update using-webhooks-with-github-apps.md to replace offline "Smee"
  content/apps/creating-github-apps/creating-github-apps/using-webhooks-with-github-apps.md
Labels: content, ready to merge, waiting for review

#24840 repo sync
  content/admin/enterprise-management/configuring-clustering/evacuating-a-cluster-node-running-data-services.md
  content/admin/enterprise-management/configuring-clustering/evacuating-a-cluster-node.md
  content/admin/enterprise-management/configuring-clustering/index.md
  content/admin/enterprise-management/monitoring-your-appliance/recommended-alert-thresholds.md
  content/authentication/authenticating-with-saml-single-sign-on/authorizing-an-ssh-key-for-use-with-saml-single-sign-on.md
  content/billing/managing-billing-for-git-large-file-storage/viewing-your-git-large-file-storage-usage.md
  content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  content/organizations/managing-git-access-to-your-organizations-repositories/about-ssh-certificate-authorities.md
  content/organizations/managing-membership-in-your-organization/exporting-member-information-for-your-organization.md
  data/features/packages-delete-with-github-token-api.yml
  data/reusables/enterprise_clustering/replacing-a-cluster-node-need-three-nodes.md
  data/reusables/package_registry/visibility-and-access-permissions.md
Labels: automated-reposync-pr

#24806 Fix 18 Spelling errors
  content/code-security/codeql-cli/codeql-cli-manual/bqrs-decode.md
  content/code-security/codeql-cli/codeql-cli-manual/database-analyze.md
  content/code-security/codeql-cli/codeql-cli-manual/database-run-queries.md
  content/code-security/codeql-cli/codeql-cli-manual/execute-queries.md
  content/code-security/codeql-cli/codeql-cli-manual/github-upload-results.md
  content/code-security/codeql-cli/codeql-cli-manual/pack-install.md
  content/code-security/codeql-cli/codeql-cli-manual/query-compile.md
  content/code-security/codeql-cli/codeql-cli-manual/query-run.md
  content/code-security/codeql-cli/codeql-cli-manual/resolve-library-path.md
  content/code-security/codeql-cli/codeql-cli-manual/resolve-ram.md
Labels: content, waiting for review, codeql, code security

#24838 Add copy property to script examples
  content/actions/creating-actions/creating-a-composite-action.md
Labels: content, waiting for review

#24843 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning-for-a-repository.md
Labels: automated-reposync-pr

#24845 repo sync
  content/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot.md
  content/billing/managing-billing-for-github-copilot/managing-your-github-copilot-subscription-for-your-personal-account.md
  content/copilot/overview-of-github-copilot/about-github-copilot-for-individuals.md
  content/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud.md
  contributing/README.md
  contributing/development.md
  contributing/github-partners.md
  contributing/node-versions.md
  contributing/self-review.md
  contributing/translations-for-translators.md
  contributing/translations-for-writers.md
  data/reusables/copilot/tp-users-trial-eligibility.md
  data/reusables/copilot/trial-period.md
  data/reusables/gated-features/copilot.md
Labels: automated-reposync-pr

#24846 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  src/graphql/data/dotcom/changelog.json
  src/graphql/data/dotcom/schema.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghec/schema.json
Labels: automated-reposync-pr

#24847 repo sync
  .github/workflows/sync-search-elasticsearch.yml
  .github/workflows/sync-search-pr.yml
  .github/workflows/test.yml
  components/page-header/Breadcrumbs.tsx
  components/page-header/Header.tsx
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/displaying-ip-addresses-in-the-audit-log-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
  data/reusables/audit_log/audit-log-api-info.md
  lib/page-data.js
  middleware/api/index.js
  middleware/context.js
  package.json
  pages/[versionId]/search.tsx
  pages/search.tsx
  script/README.md
  src/events/hydro.js
  src/events/tests/hydro.js
  src/search/README.md
  src/search/components/Loading.tsx
  src/search/components/NoQuery.tsx
  src/search/components/Search.tsx
  src/search/components/SearchError.tsx
  src/search/components/SearchResults.module.scss
  src/search/components/SearchResults.tsx
  src/search/components/index.tsx
  src/search/components/types.ts
  src/search/lib/config.js
  src/search/lib/versions.js
  src/search/middleware/es-search.js
  src/search/middleware/search.js
  src/search/pages/search.tsx
  src/search/scripts/analyze-text.js
  src/search/scripts/build-records.js
  src/search/scripts/find-indexable-pages.js
  src/search/scripts/index-elasticsearch.js
  src/search/scripts/parse-page-sections-into-records.js
  src/search/scripts/popular-pages.js
  src/search/scripts/search-index-records.js
  src/search/scripts/sync-search-indices.js
  src/search/scripts/sync.js
  src/search/scripts/validate-records.js
  src/search/tests/api-search.js
  src/search/tests/fixtures/page-with-heading-and-paragraph-no-whitespace.html
  src/search/tests/fixtures/page-with-multiple-h1s.html
  src/search/tests/fixtures/page-with-sections.html
  src/search/tests/fixtures/page-without-body.html
  src/search/tests/fixtures/page-without-sections.html
  src/search/tests/fixtures/search-indexes/github-docs-dotcom-en-records.json
  src/search/tests/fixtures/search-indexes/github-docs-dotcom-ja-records.json
  src/search/tests/fixtures/search-indexes/github-docs-ghae-en-records.json
  src/search/tests/fixtures/search-indexes/github-docs-ghae-ja-records.json
  src/search/tests/parse-page-sections-into-records.js
  src/search/tests/search.js
  src/search/tests/topics.js
  tests/browser/browser.js
  tests/translations/api-search.js
  tests/translations/fingerprints-page.js
Labels: automated-reposync-pr

#24848 repo sync
  components/ui/MarkdownContent/stylesheets/lists.scss
  middleware/cache-control.js
Labels: automated-reposync-pr

#24849 repo sync
  data/reusables/actions/schedule-delay.md
  package-lock.json
  package.json
  tests/meta/repository-references.js
Labels: automated-reposync-pr

#24851 repo sync
  .github/workflows/openapi-decorate.yml
Labels: automated-reposync-pr

#24635 Update securing-your-webhooks.md
  content/webhooks-and-events/webhooks/securing-your-webhooks.md
Labels: content, ready to merge, waiting for review, webhooks

#24853 repo sync
  content/apps/creating-github-apps/guides/creating-ci-tests-with-the-checks-api.md
  content/rest/guides/using-the-rest-api-to-interact-with-checks.md
  package-lock.json
  package.json
  src/graphql/lib/validator.js
  tests/content/graphql.js
Labels: automated-reposync-pr

#24854 repo sync
  content/apps/creating-github-apps/guides/building-a-cli-with-a-github-app.md
Labels: automated-reposync-pr

#24855 repo sync
  assets/images/enterprise/security/Enterprise-Audit-SSH-Keys.png
  assets/images/enterprise/security/Enterprise-Begin-Audit.png
  assets/images/enterprise/security/Enterprise-Redirect-Users-To-Sign-In-Checkbox.png
  assets/images/enterprise/security/Enterprise-Start-Key-Audit.png
  assets/images/enterprise/security/advanced-security-phased-approach-diagram.png
  assets/images/enterprise/security/enterprise-security-and-analysis-disable-or-enable-all.png
  assets/images/enterprise/security/enterprise-security-and-analysis-enable-or-disable-feature-checkbox.png
  assets/images/enterprise/security/enterprise-security-and-analysis-enable-secret-scanning.png
  assets/images/enterprise/settings/Enterprise-Hooks-Details.png
  assets/images/enterprise/settings/Enterprise-Hooks-More-Deliveries.png
  assets/images/enterprise/settings/Enterprise-Hooks-Payload.png
  assets/images/enterprise/settings/Enterprise-Hooks-Sidebar.png
  assets/images/enterprise/settings/add-authorized-ssh-key-admin-shell.png
  assets/images/enterprise/settings/conflict-editor-settings.png
  assets/images/enterprise/settings/enterprise-settings.png
  assets/images/enterprise/settings/password-recovery-page.png
  assets/images/enterprise/settings/referrer-policy-checkbox.png
  assets/images/enterprise/settings/referrer-policy-save-button.png
  assets/images/enterprise/settings/top_right_avatar.png
  assets/images/enterprise/stafftools/active-user.png
  assets/images/enterprise/stafftools/dormant-user.png
  assets/images/enterprise/stafftools/end-impersonation.png
  assets/images/enterprise/stafftools/impersonate.png
  assets/images/enterprise/stafftools/impersonation-reason.png
  assets/images/enterprise/stafftools/recreate-organization.png
  assets/images/enterprise/stafftools/search-field.png
  assets/images/enterprise/stafftools/user-info.png
  assets/images/enterprise/support/choose-support-bundle-file.png
  assets/images/enterprise/support/download-diagnostics-info-button.png
  assets/images/enterprise/support/health-check-dialog-choose-file.png
  assets/images/enterprise/support/health-check-dialog-ea.png
  assets/images/enterprise/support/support-bundle-account.png
  assets/images/enterprise/support/support-portal-header-premium.png
  assets/images/enterprise/support/support-portal-health-checks-section.png
  assets/images/enterprise/support/support-portal-request-health-check.png
  assets/images/enterprise/support/upload-support-bundle.png
  assets/images/enterprise/vmware/vsphere-hardware-tab.png
  assets/images/enterprise/writing/task-lists-reorder.gif
  content/admin/code-security/managing-github-advanced-security-for-your-enterprise/managing-github-advanced-security-features-for-your-enterprise.md
  content/admin/configuration/configuring-your-enterprise/accessing-the-administrative-shell-ssh.md
  content/admin/configuration/configuring-your-enterprise/configuring-the-referrer-policy-for-your-enterprise.md
  content/admin/enterprise-management/monitoring-your-appliance/generating-a-health-check-for-your-enterprise.md
  content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/increasing-cpu-or-memory-resources.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-security-settings-in-your-enterprise.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise.md
  content/admin/user-management/managing-organizations-in-your-enterprise/restoring-a-deleted-organization.md
  content/admin/user-management/managing-repositories-in-your-enterprise/troubleshooting-service-hooks.md
  content/admin/user-management/managing-users-in-your-enterprise/auditing-ssh-keys.md
  content/admin/user-management/managing-users-in-your-enterprise/impersonating-a-user.md
  content/admin/user-management/managing-users-in-your-enterprise/managing-dormant-users.md
  content/authentication/keeping-your-account-and-data-secure/updating-your-github-access-credentials.md
  content/get-started/writing-on-github/working-with-advanced-formatting/about-task-lists.md
  content/support/contacting-github-support/creating-a-support-ticket.md
  content/support/contacting-github-support/providing-data-to-github-support.md
  data/reusables/enterprise-accounts/access-enterprise.md
  data/reusables/enterprise_user_management/service-hooks-sidebar-navigation.md
  data/reusables/profile/access_profile.md
  data/reusables/profile/enterprise_access_profile.md
  data/reusables/security/overview-of-phased-approach-for-ghas-rollout.md
Labels: automated-reposync-pr

#24810 fix: /app/installations should be GET method
  content/apps/creating-github-apps/authenticating-with-a-github-app/authenticating-as-a-github-app.md
Labels: content, waiting for review, github apps

#24861 repo sync
  assets/images/help/repository/create-repository-button.png
  assets/images/help/security-overview/security-coverage-view-single-repo-enablement.png
  assets/images/help/security-overview/security-risk-interactive-header.png
  assets/images/help/sponsors/short-bio.png
Labels: automated-reposync-pr

#24863 repo sync
  data/reusables/codeql-cli/advanced-query-execution.md
  data/reusables/enterprise-accounts/emu-short-summary.md
  data/reusables/enterprise-migration-tool/reclaiming-mannequins.md
  data/reusables/organizations/create-team-choose-parent.md
  data/reusables/pages/symlink-removal.md
  data/reusables/pull_requests/retention-checks-data.md
  data/reusables/release-notes/scim-custom-mappings-supported-change.md
  data/reusables/security-overview/permissions.md
Labels: automated-reposync-pr

#24864 repo sync
  content/rest/overview/resources-in-the-rest-api.md
Labels: automated-reposync-pr

#24736 Mention dependency name for docker image tags
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
Labels: content, waiting for review, dependabot, code security, needs SME

#24865 repo sync
  content/billing/managing-billing-for-git-large-file-storage/upgrading-git-large-file-storage.md
  content/billing/managing-billing-for-your-github-account/downgrading-your-github-subscription.md
  content/billing/managing-billing-for-your-github-account/upgrading-your-github-subscription.md
  content/billing/managing-your-github-billing-settings/adding-or-editing-a-payment-method.md
  content/billing/managing-your-github-billing-settings/changing-the-duration-of-your-billing-cycle.md
  content/billing/managing-your-github-billing-settings/viewing-your-payment-history-and-receipts.md
  content/billing/managing-your-github-billing-settings/viewing-your-subscriptions-and-billing-date.md
Labels: automated-reposync-pr

#24817 Fix typo in co-author example
  content/pull-requests/committing-changes-to-your-project/creating-and-editing-commits/creating-a-commit-with-multiple-authors.md
Labels: content, ready to merge, waiting for review, pull requests

#24818 Update short title for using a matrix page
  content/actions/using-jobs/using-a-matrix-for-your-jobs.md
Labels: content, ready to merge, waiting for review

#24870 repo sync
  assets/images/help/sponsors/bulk-sponsors-business-purchase.png
  assets/images/help/sponsors/bulk-sponsors-sponsor-as-dropdown.png
  assets/images/help/sponsors/download-dependencies-csv.png
  content/billing/managing-billing-for-github-sponsors/downgrading-a-sponsorship.md
  content/billing/managing-billing-for-github-sponsors/upgrading-a-sponsorship.md
  content/organizations/managing-organization-settings/managing-updates-from-accounts-your-organization-sponsors.md
  content/sponsors/getting-started-with-github-sponsors/about-github-sponsors.md
  content/sponsors/sponsoring-open-source-contributors/managing-your-sponsorship.md
  content/sponsors/sponsoring-open-source-contributors/paying-for-github-sponsors-by-invoice.md
  content/sponsors/sponsoring-open-source-contributors/sponsoring-an-open-source-contributor.md
  data/reusables/sponsors/beta-note-sponsors-for-companies.md
  data/reusables/sponsors/choose-updates.md
  data/reusables/sponsors/no-fees.md
  data/reusables/sponsors/org-email-updates.md
  data/reusables/sponsors/org-sponsors-release-phase.md
  data/reusables/sponsors/select-sponsorship-billing.md
  data/reusables/sponsors/sponsor-account.md
  data/reusables/sponsors/sponsor-as-business.md
Labels: automated-reposync-pr

#24871 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  src/graphql/data/dotcom/changelog.json
  src/graphql/data/dotcom/schema.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghec/schema.json
Labels: automated-reposync-pr

#24872 repo sync
  content/code-security/codeql-cli/codeql-cli-manual/database-add-diagnostic.md
  content/code-security/codeql-cli/codeql-cli-manual/database-export-diagnostics.md
  content/code-security/codeql-cli/codeql-cli-manual/diagnostic-add.md
  content/code-security/codeql-cli/codeql-cli-manual/diagnostic-export.md
  content/code-security/codeql-cli/codeql-cli-manual/index.md
Labels: automated-reposync-pr

#24873 repo sync
  assets/images/help/discussions/report-discussion.png
  content/communities/maintaining-your-safety-on-github/reporting-abuse-or-spam.md
  content/communities/moderating-comments-and-conversations/managing-how-contributors-report-abuse-in-your-organizations-repository.md
  content/discussions/managing-discussions-for-your-community/managing-discussions.md
  content/organizations/managing-user-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
  data/features/discussions-moderators-control-who-can-report.yml
Labels: automated-reposync-pr

#24875 repo sync
  components/landing/CodeExamples.tsx
  tests/browser/browser.js
  tests/fixtures/content/code-security/index.md
  tests/fixtures/data/product-examples/code-security/code-examples.yml
  tests/rendering-fixtures/playwright-rendering.spec.ts
Labels: automated-reposync-pr

#24876 repo sync
  components/playground/ArticleMarkdown.module.scss
  components/playground/ArticleMarkdown.tsx
  components/playground/editor/ActionBar.tsx
  components/playground/editor/LoadingIndicator.tsx
Labels: automated-reposync-pr

#24877 repo sync
  content/rest/overview/endpoints-available-for-fine-grained-personal-access-tokens.md
  content/rest/overview/permissions-required-for-fine-grained-personal-access-tokens.md
Labels: automated-reposync-pr

#24885 repo sync
  content/graphql/guides/using-the-explorer.md
Labels: automated-reposync-pr

#24888 repo sync
  .github/workflows/enterprise-dates.yml
  .github/workflows/repo-sync.yml
  .github/workflows/update-graphql-files.yml
Labels: automated-reposync-pr

#24890 repo sync
  .github/actions-scripts/deleted-assets-pr-comment.js
  .github/workflows/dont-delete-assets.yml
  script/deleted-assets-pr-comment.js
Labels: automated-reposync-pr

#24897 repo sync
  package-lock.json
  package.json
  script/README.md
  script/list-image-sizes.js
  tests/fixtures/content/actions/category/index.md
  tests/fixtures/content/actions/category/map-topic/article.md
  tests/fixtures/content/actions/category/map-topic/index.md
  tests/fixtures/content/actions/index.md
  tests/fixtures/content/index.md
  tests/rendering-fixtures/playwright-rendering.spec.ts
Labels: automated-reposync-pr

#24898 repo sync
  components/sidebar/SidebarNav.tsx
Labels: automated-reposync-pr

#24899 repo sync
  components/page-header/DeprecationBanner.module.scss
  components/page-header/DeprecationBanner.tsx
  components/ui/Callout/Callout.module.scss
  package-lock.json
  package.json
Labels: automated-reposync-pr

#24900 repo sync
  contributing/content-model.md
Labels: automated-reposync-pr

#24901 repo sync
  components/page-footer/Contribution.tsx
  data/ui.yml
  tests/fixtures/data/ui.yml
Labels: automated-reposync-pr

#24902 repo sync
  .github/workflows/content-changes-table-comment.yml
  .github/workflows/dont-delete-assets.yml
  .github/workflows/enterprise-dates.yml
  .github/workflows/needs-sme-workflow.yml
  .github/workflows/notify-about-deployment.yml
  .github/workflows/site-policy-reminder.yml
  .github/workflows/update-graphql-files.yml
Labels: automated-reposync-pr

#19886 Describe how to generate and output secrets
  content/actions/using-workflows/workflow-commands-for-github-actions.md
Labels: content, actions, waiting for review

#24906 repo sync
  assets/images/help/codespaces/view-personal-usage-collapsed.png
  assets/images/help/codespaces/view-personal-usage-expanded.png
  content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
  content/codespaces/prebuilding-your-codespaces/managing-prebuilds.md
  content/codespaces/troubleshooting/troubleshooting-included-usage.md
  content/codespaces/troubleshooting/troubleshooting-prebuilds.md
Labels: automated-reposync-pr

#24907 repo sync
  components/LinkPreviewPopover.tsx
Labels: automated-reposync-pr

#24910 repo sync
  assets/images/help/settings/compliance-report-download.png
  assets/images/help/settings/context-switcher-button.png
  assets/images/help/settings/cookie-settings-accept-or-reject.png
  assets/images/help/settings/cookie-settings-manage.png
  assets/images/help/settings/deleted-repos.png
  assets/images/help/settings/email-verify-button.png
  assets/images/help/settings/email_primary.png
  assets/images/help/settings/email_privacy.png
  assets/images/help/settings/email_privacy_block_command_line_pushes.png
  content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/sending-enterprise-contributions-to-your-githubcom-profile.md
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-email-preferences/blocking-command-line-pushes-that-expose-your-personal-email-address.md
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-email-preferences/changing-your-primary-email-address.md
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-email-preferences/setting-a-backup-email-address.md
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/managing-your-cookie-preferences-for-githubs-enterprise-marketing-pages.md
  content/billing/managing-your-github-billing-settings/about-billing-on-github.md
  content/get-started/signing-up-for-github/verifying-your-email-address.md
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/about-email-notifications-for-pushes-to-your-repository.md
  content/sponsors/sponsoring-open-source-contributors/paying-for-github-sponsors-by-invoice.md
  data/reusables/github-connect/authorize-connection.md
  data/reusables/security/compliance-report-screenshot.md
  data/reusables/user-settings/add_and_verify_email.md
  data/reusables/user-settings/appearance-settings.md
  data/reusables/user-settings/deleted-repos.md
  data/reusables/user-settings/developer_settings.md
  data/reusables/user-settings/keeping_your_email_address_private.md
  data/reusables/user-settings/oauth_apps.md
  data/reusables/user-settings/restore-confirmation.md
  data/reusables/user-settings/select_primary_email.md
Labels: automated-reposync-pr

#24911 repo sync
  assets/images/help/codespaces/new-shell-session.png
  content/codespaces/customizing-your-codespace/changing-the-shell-in-a-codespace.md
  content/codespaces/customizing-your-codespace/index.md
  content/codespaces/customizing-your-codespace/personalizing-github-codespaces-for-your-account.md
  content/codespaces/developing-in-codespaces/persisting-environment-variables-and-temporary-files.md
  data/reusables/codespaces/access-user-settings.md
  data/reusables/codespaces/settings-sync-link.md
Labels: automated-reposync-pr

#24912 repo sync
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
  content/actions/migrating-to-github-actions/manual-migrations/migrating-from-azure-pipelines-to-github-actions.md
  content/actions/migrating-to-github-actions/manual-migrations/migrating-from-circleci-to-github-actions.md
  content/actions/migrating-to-github-actions/manual-migrations/migrating-from-gitlab-cicd-to-github-actions.md
  content/actions/migrating-to-github-actions/manual-migrations/migrating-from-jenkins-to-github-actions.md
  content/actions/migrating-to-github-actions/manual-migrations/migrating-from-travis-ci-to-github-actions.md
  content/issues/planning-and-tracking-with-projects/automating-your-project/automating-projects-using-actions.md
  content/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions.md
  data/reusables/actions/workflow-basic-example-and-explanation.md
Labels: automated-reposync-pr

#24914 repo sync
  package-lock.json
  package.json
Labels: automated-reposync-pr

#24915 repo sync
  content/repositories/working-with-files/using-files/downloading-source-code-archives.md
Labels: automated-reposync-pr

#24916 repo sync
  components/context/ProductGuidesContext.tsx
  components/guides/GuidesHero.tsx
  components/guides/ProductGuides.tsx
  data/ui.yml
  tests/fixtures/content/code-security/guides.md
  tests/fixtures/data/learning-tracks/code-security.yml
  tests/fixtures/data/ui.yml
  tests/rendering-fixtures/guides.js
Labels: automated-reposync-pr

#24917 repo sync
  .gitignore
  package-lock.json
  package.json
  tests/meta/repository-references.js
Labels: automated-reposync-pr

#24919 repo sync
  components/LinkPreviewPopover.tsx
  components/article/ArticleGridLayout.tsx
  package-lock.json
  package.json
Labels: automated-reposync-pr

#24921 repo sync
  components/hooks/useWindowScroll.ts
  components/lib/getAnchorLink.ts
  content/organizations/organizing-members-into-teams/about-teams.md
  content/organizations/organizing-members-into-teams/configuring-team-notifications.md
  content/organizations/organizing-members-into-teams/creating-a-team.md
  content/organizations/organizing-members-into-teams/index.md
  data/features/team-mentions-setting.yml
  data/reusables/organizations/team-notifications.md
Labels: automated-reposync-pr

#24925 repo sync
  components/landing/ProductArticlesList.tsx
  tests/linting/lint-files.js
Labels: automated-reposync-pr

#24928 repo sync
  components/LinkPreviewPopover.tsx
  package-lock.json
  package.json
Labels: automated-reposync-pr

#24929 repo sync
  tests/fixtures/content/get-started/index.md
  tests/fixtures/content/get-started/versioning/index.md
  tests/fixtures/content/get-started/versioning/only-fpt.md
  tests/fixtures/content/get-started/versioning/only-ghec-and-ghes.md
  tests/fixtures/content/get-started/versioning/only-ghec.md
  tests/rendering-fixtures/versioning.js
  tests/rendering/server.js
Labels: automated-reposync-pr

#24905 Remove duplicate further reading link
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/manually-creating-a-single-issue-template-for-your-repository.md
Labels: content, waiting for review, communities

#24931 repo sync
  components/page-header/VersionPicker.tsx
  components/ui/Picker/Picker.tsx
  package-lock.json
  package.json
  src/rest/tests/api.js
  src/search/tests/api-search.js
  src/webhooks/tests/api.js
  tests/helpers/e2etest.js
  tests/rendering-fixtures/dynamic-assets.js
  tests/rendering-fixtures/images.js
  tests/rendering/api.js
  tests/rendering/favicons.js
  tests/rendering/robots-txt.js
  tests/rendering/server.js
  tests/rendering/static-assets.js
  tests/routing/product-icons.js
  tests/routing/redirects.js
  tests/routing/remote-ip.js
  tests/translations/api-search.js
Labels: automated-reposync-pr

#24932 repo sync
  components/LinkPreviewPopover.tsx
Labels: automated-reposync-pr

#24933 repo sync
  components/LinkPreviewPopover.tsx
  content/support/learning-about-github-support/about-github-premium-support.md
  tests/fixtures/content/pages/quickstart.md
  tests/rendering-fixtures/playwright-rendering.spec.ts
Labels: automated-reposync-pr

#24934 repo sync
  data/graphql/ghae/graphql_upcoming_changes.public-ghae.yml
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/graphql_upcoming_changes.public.yml
  data/graphql/ghec/schema.docs.graphql
  data/graphql/graphql_upcoming_changes.public.yml
  data/graphql/schema.docs.graphql
  src/graphql/data/dotcom/changelog.json
  src/graphql/data/dotcom/schema.json
  src/graphql/data/dotcom/upcoming-changes.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghae/upcoming-changes.json
  src/graphql/data/ghec/schema.json
  src/graphql/data/ghec/upcoming-changes.json
Labels: automated-reposync-pr

#24935 repo sync
  components/article/ArticlePage.tsx
  components/landing/LandingHero.tsx
  components/page-footer/SmallFooter.tsx
  components/page-header/Header.tsx
  components/release-notes/GHESReleaseNotes.tsx
  components/sidebar/SidebarHomepage.tsx
Labels: automated-reposync-pr

#24937 repo sync
  data/release-notes/enterprise-server/3-4/18.yml
  data/release-notes/enterprise-server/3-5/15.yml
  data/release-notes/enterprise-server/3-6/11.yml
  data/release-notes/enterprise-server/3-7/8.yml
  data/release-notes/enterprise-server/3-8/1.yml
Labels: automated-reposync-pr

#24938 repo sync
  src/README.md
Labels: automated-reposync-pr

#24942 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  src/graphql/data/dotcom/changelog.json
  src/graphql/data/dotcom/schema.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghec/schema.json
Labels: automated-reposync-pr

#24880 Fix reason value `complete`→ `completed`
  content/issues/tracking-your-work-with-issues/filtering-and-searching-issues-and-pull-requests.md
Labels: content, waiting for review, issues

#24962 repo sync
  data/reusables/actions/supported-github-runners.md
Labels: automated-reposync-pr

#24963 repo sync
  tests/browser/browser.js
  tests/fixtures/content/get-started/liquid/index.md
  tests/fixtures/content/get-started/liquid/tool-specific.md
  tests/rendering-fixtures/playwright-rendering.spec.ts
Labels: automated-reposync-pr

#24977 repo sync
  content/code-security/codeql-cli/using-the-codeql-cli/publishing-and-using-codeql-packs.md
Labels: automated-reposync-pr

#24978 repo sync
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
Labels: automated-reposync-pr

#24979 repo sync
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-aws.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-azure.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-google-cloud-platform.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-hyper-v.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-openstack-kvm.md
  content/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-vmware.md
  data/reusables/enterprise_installation/new-instance-attack-vector-warning.md
  data/reusables/enterprise_installation/new-instance-config-summary.md
Labels: automated-reposync-pr

#24982 repo sync
  assets/images/help/security/default-setup-query-suite-dropdown.png
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/built-in-codeql-query-suites.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning-for-a-repository.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/index.md
  content/migrations/using-github-enterprise-importer/migrating-repositories-with-github-enterprise-importer/migrating-repositories-from-azure-devops-to-github-enterprise-cloud.md
  content/migrations/using-github-enterprise-importer/migrating-repositories-with-github-enterprise-importer/migrating-repositories-from-bitbucket-server-to-github-enterprise-cloud.md
  content/migrations/using-github-enterprise-importer/migrating-repositories-with-github-enterprise-importer/migrating-repositories-from-github-enterprise-server-to-github-enterprise-cloud.md
  content/migrations/using-github-enterprise-importer/migrating-repositories-with-github-enterprise-importer/migrating-repositories-from-githubcom-to-github-enterprise-cloud.md
  data/reusables/enterprise-migration-tool/wait-flag.md
Labels: automated-reposync-pr

#24983 repo sync
  assets/images/help/pull_requests/pull-request-comment-on-file.png
  content/get-started/quickstart/github-flow.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/approving-a-pull-request-with-required-reviews.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/commenting-on-a-pull-request.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/reviewing-proposed-changes-in-a-pull-request.md
  data/features/pull-request-comment-on-file.yml
  data/reusables/repositories/start-file-comment.md
Labels: automated-reposync-pr

#24986 repo sync
  assets/images/help/repository/secret-scanning-github-token-metadata.png
  content/code-security/secret-scanning/managing-alerts-from-secret-scanning.md
  content/site-policy/acceptable-use-policies/github-impersonation.md
  data/features/secret-scanning-github-token-metadata.yml
Labels: automated-reposync-pr

#24987 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  src/graphql/data/dotcom/changelog.json
  src/graphql/data/dotcom/schema.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghec/schema.json
Labels: automated-reposync-pr

#24988 repo sync
  .github/workflows/openapi-decorate.yml
  components/sidebar/SidebarNav.tsx
Labels: automated-reposync-pr

#24989 repo sync
  content/actions/migrating-to-github-actions/automated-migrations/migrating-from-azure-devops-with-github-actions-importer.md
  content/actions/migrating-to-github-actions/automated-migrations/migrating-from-circleci-with-github-actions-importer.md
  content/actions/migrating-to-github-actions/automated-migrations/migrating-from-gitlab-with-github-actions-importer.md
  content/actions/migrating-to-github-actions/automated-migrations/migrating-from-jenkins-with-github-actions-importer.md
  content/actions/migrating-to-github-actions/automated-migrations/migrating-from-travis-ci-with-github-actions-importer.md
Labels: automated-reposync-pr

#24991 repo sync
  content/code-security/dependabot/working-with-dependabot/removing-dependabot-access-to-public-registries.md
  data/reusables/actions/supported-github-runners.md
Labels: automated-reposync-pr

#24992 repo sync
  content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
  content/billing/managing-billing-for-github-actions/managing-your-spending-limit-for-github-actions.md
  content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
  content/billing/managing-billing-for-github-codespaces/managing-the-spending-limit-for-github-codespaces.md
  content/billing/managing-billing-for-github-packages/about-billing-for-github-packages.md
  content/billing/managing-billing-for-github-packages/managing-your-spending-limit-for-github-packages.md
  content/billing/managing-billing-for-your-github-account/about-billing-for-your-enterprise.md
  content/billing/managing-billing-for-your-github-account/connecting-an-azure-subscription.md
  content/billing/managing-billing-for-your-github-account/index.md
  content/billing/managing-billing-for-your-github-account/viewing-the-subscription-and-usage-for-your-enterprise-account.md
  data/reusables/enterprise-accounts/billing-azure-subscription-enterprise-only.md
  data/reusables/enterprise-accounts/billing-azure-subscription.md
  data/reusables/enterprise-accounts/billing-microsoft-ea-overview.md
  tests/fixtures/versionless-redirects.txt
Labels: automated-reposync-pr

#24993 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning-at-scale.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning-for-a-repository.md
  data/features/code-scanning-default-setup-go.yml
Labels: automated-reposync-pr

#24994 repo sync
  assets/images/help/projects-v2/bulk-cell-drag.png
  assets/images/help/projects-v2/bulk-cell-finished.png
  assets/images/help/projects-v2/bulk-cell-handle.png
  assets/images/help/projects-v2/bulk-select-a-cell.png
  assets/images/help/projects-v2/bulk-select-cells.png
  assets/images/help/projects-v2/select-multiple-cells.png
  assets/images/help/projects-v2/undo-bulk-change.png
  content/issues/planning-and-tracking-with-projects/managing-items-in-your-project/adding-items-to-your-project.md
  content/issues/planning-and-tracking-with-projects/managing-items-in-your-project/editing-items-in-your-project.md
  content/issues/planning-and-tracking-with-projects/managing-items-in-your-project/index.md
  data/features/projects-v2-bulk-table-editing.yml
  data/reusables/projects/select-a-cell.md
Labels: automated-reposync-pr

#24995 repo sync
  assets/images/help/billing/billing-payment-method-edit-button.png
  assets/images/help/organizations/org-insights-dependencies-my-orgs-button.png
  assets/images/help/organizations/org-nav-insights-tab.png
  assets/images/help/organizations/organization-people-tab.png
  assets/images/help/organizations/organization-projects-tab-table.png
  assets/images/help/organizations/organization-security-tab.png
  assets/images/help/organizations/organization-teams-tab.png
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/managing-the-default-branch-name-for-your-repositories.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/exporting-audit-log-activity-for-your-enterprise.md
  content/admin/user-management/managing-organizations-in-your-enterprise/adding-people-to-teams.md
  content/admin/user-management/managing-organizations-in-your-enterprise/creating-teams.md
  content/admin/user-management/managing-organizations-in-your-enterprise/index.md
  content/admin/user-management/managing-organizations-in-your-enterprise/removing-users-from-teams-and-organizations.md
  content/communities/maintaining-your-safety-on-github/blocking-a-user-from-your-organization.md
  content/communities/maintaining-your-safety-on-github/unblocking-a-user-from-your-organization.md
  content/communities/maintaining-your-safety-on-github/unblocking-a-user-from-your-personal-account.md
  content/organizations/collaborating-with-groups-in-organizations/viewing-insights-for-your-organization.md
  content/organizations/collaborating-with-your-team/about-team-discussions.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
  content/organizations/managing-membership-in-your-organization/removing-a-member-from-your-organization.md
  content/organizations/managing-organization-settings/integrating-jira-with-your-organization-project-board.md
  content/organizations/managing-organization-settings/managing-scheduled-reminders-for-your-organization.md
  content/organizations/managing-organization-settings/managing-the-default-branch-name-for-repositories-in-your-organization.md
  content/organizations/managing-organization-settings/restricting-repository-creation-in-your-organization.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization.md
  content/organizations/organizing-members-into-teams/about-teams.md
  content/organizations/organizing-members-into-teams/adding-organization-members-to-a-team.md
  content/organizations/organizing-members-into-teams/creating-a-team.md
  data/reusables/audit_log/audit_log_sidebar_for_org_admins.md
  data/reusables/audit_log/export-log.md
  data/reusables/billing/edit-payment-method.md
  data/reusables/organizations/insights.md
  data/reusables/organizations/invite_member_from_people_tab.md
  data/reusables/organizations/new_team.md
  data/reusables/organizations/organization-wide-project.md
  data/reusables/organizations/owners-team.md
  data/reusables/organizations/people-export.md
  data/reusables/organizations/people.md
  data/reusables/organizations/repository-defaults.md
  data/reusables/organizations/restrict-email-notifications.md
  data/reusables/organizations/security-and-analysis.md
  data/reusables/organizations/security-overview.md
  data/reusables/organizations/security.md
  data/reusables/organizations/specific_team.md
  data/reusables/organizations/teams.md
  data/reusables/user-settings/access_org.md
Labels: automated-reposync-pr

#24996 repo sync
  content/admin/user-management/managing-users-in-your-enterprise/managing-support-entitlements-for-your-enterprise.md
  content/migrations/using-ghe-migrator/preparing-to-migrate-data-to-github-enterprise-server.md
  content/support/contacting-github-support/creating-a-support-ticket.md
  content/support/contacting-github-support/getting-started-with-the-github-support-portal.md
  content/support/contacting-github-support/getting-your-enterprise-started-with-the-github-support-portal.md
  content/support/contacting-github-support/index.md
  content/support/contacting-github-support/viewing-and-updating-support-tickets.md
  content/support/learning-about-github-support/about-github-premium-support.md
  data/reusables/enterprise-accounts/support-entitlements.md
  data/reusables/support/submit-a-ticket.md
  data/reusables/support/zendesk-old-tickets.md
  package-lock.json
  package.json
Labels: automated-reposync-pr

#24980 Update workflow-syntax-for-github-actions.md
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: actions

#24997 repo sync
  .github/workflows/notify-about-deployment.yml
Labels: automated-reposync-pr

#24961 Fix actions importer install copy
  data/reusables/actions/installing-actions-importer.md
Labels: content, actions

#24953 fix: remove duplicate step in getting started guide
  content/copilot/getting-started-with-github-copilot.md
Labels: content, copilot

#24941 Fix URL syntax in "CI tests with the Checks API"
  content/apps/creating-github-apps/guides/creating-ci-tests-with-the-checks-api.md
Labels: triage

#25001 repo sync
  components/parameter-table/ChildBodyParametersRows.tsx
  components/parameter-table/ParameterRow.tsx
  components/parameter-table/types.ts
  src/github-apps/lib/config.json
  src/rest/scripts/utils/get-body-params.js
  src/rest/scripts/utils/sync.js
  tests/linting/lint-files.js
Labels: automated-reposync-pr

#25005 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/built-in-codeql-query-suites.md
Labels: automated-reposync-pr

#25008 repo sync
  content/actions/using-workflows/events-that-trigger-workflows.md
  data/reusables/actions/jobs/section-running-jobs-in-a-container-options.md
Labels: automated-reposync-pr

#25009 repo sync
  content/migrations/using-github-enterprise-importer/completing-your-migration-with-github-enterprise-importer/troubleshooting-your-migration-with-github-enterprise-importer.md
Labels: automated-reposync-pr

#25011 repo sync
  components/LinkPreviewPopover.tsx
  components/article/ArticlePage.tsx
  lib/render-content/plugins/rewrite-local-links.js
Labels: automated-reposync-pr

#25012 repo sync
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  data/features/dependabot-version-updates-docker-metadata-support.yml
  data/reusables/dependabot/supported-package-managers.md
Labels: automated-reposync-pr

#25013 repo sync
  components/DefaultLayout.tsx
  components/page-footer/Contribution.tsx
  components/page-footer/LegalFooter.tsx
  components/page-footer/SmallFooter.tsx
  components/page-footer/Support.tsx
  components/page-footer/SupportSection.tsx
  components/page-footer/Survey.tsx
  data/ui.yml
  tests/fixtures/data/ui.yml
  tests/rendering-fixtures/landing-hero.js
  tests/rendering/server.js
  tests/routing/deprecated-enterprise-versions.js
  tests/routing/release-notes.js
Labels: automated-reposync-pr

#25014 repo sync
  components/GenericError.tsx
  components/page-footer/LegalFooter.tsx
Labels: automated-reposync-pr

#25017 repo sync
  components/article/ArticleGridLayout.tsx
  components/article/ArticlePage.tsx
Labels: automated-reposync-pr

#25016 docs: fix single upgrade markdown link
  content/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server.md
Labels: triage

#25022 repo sync
  content/organizations/managing-user-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
Labels: automated-reposync-pr

#25023 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-the-tool-status-page.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  content/sponsors/sponsoring-open-source-contributors/paying-for-github-sponsors-by-invoice.md
  data/features/code-scanning-tool-status-page.yml
Labels: automated-reposync-pr

#25024 repo sync
  content/search-github/github-code-search/about-github-code-search.md
Labels: automated-reposync-pr

#25025 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  src/graphql/data/dotcom/changelog.json
  src/graphql/data/dotcom/schema.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghec/schema.json
Labels: automated-reposync-pr

#25018 Correct typo in telling-git-about-your-signing-key.md
  content/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key.md
Labels: content, authentication

#25027 repo sync
  components/page-footer/Contribution.tsx
  components/page-footer/LegalFooter.tsx
  components/page-footer/Support.tsx
  components/page-footer/SupportSection.tsx
  components/page-footer/Survey.tsx
  tests/browser/browser.js
  tests/rendering-fixtures/playwright-rendering.spec.ts
Labels: automated-reposync-pr

#25028 repo sync
  components/rest/RestCodeSamples.tsx
Labels: automated-reposync-pr

#25046 repo sync
  content/code-security/security-advisories/repository-security-advisories/collaborating-in-a-temporary-private-fork-to-resolve-a-repository-security-vulnerability.md
Labels: automated-reposync-pr

#25055 repo sync
  .github/workflows/add-review-template.yml
  .github/workflows/azure-preview-env-deploy.yml
  .github/workflows/enterprise-dates.yml
  .github/workflows/update-graphql-files.yml
  content/migrations/using-github-enterprise-importer/completing-your-migration-with-github-enterprise-importer/troubleshooting-your-migration-with-github-enterprise-importer.md
  content/organizations/managing-organization-settings/managing-rulesets-for-repositories-in-your-organization.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-rulesets/managing-rulesets-for-a-repository.md
Labels: automated-reposync-pr

#25057 repo sync
  package-lock.json
  package.json
  pages/[versionId]/rest/overview/endpoints-available-for-github-apps.tsx
Labels: automated-reposync-pr

#25062 repo sync
  content/migrations/using-github-enterprise-importer/migrating-organizations-with-github-enterprise-importer/migrating-organizations-from-githubcom-to-github-enterprise-cloud.md
Labels: automated-reposync-pr

#25030 Fix link in creating-personal-access-token
  content/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token.md
Labels: content

#25053 Fix the command of deleting a remote branch
  content/get-started/using-git/pushing-commits-to-a-remote-repository.md
Labels: content, using git

#25065 repo sync
  contributing/content-style-guide.md
Labels: automated-reposync-pr

#25067 repo sync
  assets/images/help/sponsors/sponsoring-settings-tab.png
  assets/images/help/sponsors/tax-form-link.png
  assets/images/help/sponsors/tier-filter-dropdown.png
  content/sponsors/receiving-sponsorships-through-github-sponsors/managing-your-payouts-from-github-sponsors.md
  content/sponsors/receiving-sponsorships-through-github-sponsors/viewing-your-sponsors-and-sponsorships.md
  content/sponsors/sponsoring-open-source-contributors/attributing-sponsorships-to-your-organization.md
  data/reusables/sponsors/edit-bank-information.md
  data/reusables/sponsors/navigate-to-sponsors-tab.md
  data/reusables/sponsors/tax-form-link.md
Labels: automated-reposync-pr

#25072 repo sync
  data/features/slash-commands.yml
Labels: automated-reposync-pr

#25073 repo sync
  data/secret-scanning.yml
Labels: automated-reposync-pr

#25075 repo sync
  assets/images/help/repository/create-repository-name.png
  assets/images/help/repository/repo-create.png
  assets/images/help/repository/social-preview.png
  content/get-started/quickstart/create-a-repo.md
  data/reusables/repositories/choose-repo-visibility.md
  data/reusables/repositories/create_new.md
  data/reusables/repositories/repo-name.md
Labels: automated-reposync-pr

#25076 repo sync
  content/admin/enterprise-management/monitoring-your-appliance/generating-a-health-check-for-your-enterprise.md
  content/support/learning-about-github-support/about-github-premium-support.md
Labels: automated-reposync-pr

#25077 repo sync
  .github/actions-scripts/enterprise-server-issue-templates/release-issue.md
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
  contributing/content-model.md
  contributing/content-style-guide.md
Labels: automated-reposync-pr

#25078 repo sync
  .github/workflows/orphaned-assets-check.yml
  components/LinkPreviewPopover.tsx
  tests/fixtures/content/pages/quickstart.md
  tests/rendering-fixtures/playwright-rendering.spec.ts
Labels: automated-reposync-pr

#25079 repo sync
  content/rest/search.md
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  src/graphql/data/dotcom/changelog.json
  src/graphql/data/dotcom/schema.json
  src/graphql/data/ghec/schema.json
Labels: automated-reposync-pr

#25080 repo sync
  .github/workflows/notify-about-deployment.yml
Labels: automated-reposync-pr

#25082 repo sync
  data/reusables/actions/workflows/required-workflow-source-notes.md
Labels: automated-reposync-pr

#25092 repo sync
  .github/workflows/test.yml
  src/automated-pipelines/tests/update-markdown.js
  src/graphql/tests/build-changelog.js
  src/graphql/tests/fixtures/changelog-entry.json
  src/graphql/tests/fixtures/example-changelog.json
  src/graphql/tests/fixtures/updated-changelog-file.json
  src/graphql/tests/get-schema-files.js
  src/graphql/tests/validate-schema.js
Labels: automated-reposync-pr

#25096 repo sync
  src/automated-pipelines/README.md
  src/codeql-cli/README.md
  src/github-apps/README.md
Labels: automated-reposync-pr

#25100 repo sync
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/merging-a-pull-request.md
  contributing/content-style-guide.md
  data/features/scim-for-ghes.yml
  data/features/squash-merge-email.yml
  data/release-notes/enterprise-server/3-6/0.yml
  data/release-notes/enterprise-server/3-6/1.yml
  data/release-notes/enterprise-server/3-6/10.yml
  data/release-notes/enterprise-server/3-6/11.yml
  data/release-notes/enterprise-server/3-6/2.yml
  data/release-notes/enterprise-server/3-6/3.yml
  data/release-notes/enterprise-server/3-6/4.yml
  data/release-notes/enterprise-server/3-6/5.yml
  data/release-notes/enterprise-server/3-6/6.yml
  data/release-notes/enterprise-server/3-6/7.yml
  data/release-notes/enterprise-server/3-6/8.yml
  data/release-notes/enterprise-server/3-6/9.yml
  data/release-notes/enterprise-server/3-7/1.yml
  data/release-notes/enterprise-server/3-7/2.yml
  data/release-notes/enterprise-server/3-7/3.yml
  data/release-notes/enterprise-server/3-7/8.yml
  data/release-notes/enterprise-server/3-8/0.yml
  data/release-notes/enterprise-server/3-8/1.yml
  data/reusables/files/choose-commit-email.md
  data/reusables/release-notes/scim-custom-mappings-known-issue.md
  data/reusables/release-notes/scim-in-3-6-series.md
Labels: automated-reposync-pr

#25102 repo sync
  data/release-notes/enterprise-server/3-5/16.yml
  data/release-notes/enterprise-server/3-6/12.yml
  data/release-notes/enterprise-server/3-7/8.yml
  data/release-notes/enterprise-server/3-7/9.yml
  data/release-notes/enterprise-server/3-8/2.yml
Labels: automated-reposync-pr

#25105 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  src/graphql/data/dotcom/changelog.json
  src/graphql/data/dotcom/schema.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghec/schema.json
Labels: automated-reposync-pr

#25106 repo sync
  tests/browser/browser.js
  tests/rendering-fixtures/playwright-rendering.spec.ts
Labels: automated-reposync-pr

#24820 typo fix
  content/authentication/keeping-your-account-and-data-secure/removing-sensitive-data-from-a-repository.md
Labels: content, waiting for review, authentication

#25068 Add a missing word in a sentence (grammar)
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning-for-a-repository.md
Labels: content, code security

#25036 Fix typo in collaboration-with-git-large-file-storage.md
  content/repositories/working-with-files/managing-large-files/collaboration-with-git-large-file-storage.md
Labels: content, waiting for review, repositories

#25107 repo sync
  .github/workflows/check-broken-links-github-github.yml
  lib/page-data.js
  script/check-github-github-links.js
  script/helpers/git-utils.js
Labels: automated-reposync-pr

#25109 repo sync
  assets/images/help/actions/actions-deployments-repo-permissions-read-and-write.png
  assets/images/help/actions/actions-repo-permissions-read-only.png
  assets/images/help/actions/actions-subscribe-to-events-deployment-protection-rules.png
  content/actions/deployment/about-deployments/deploying-with-github-actions.md
  content/actions/deployment/index.md
  content/actions/deployment/protecting-deployments/configuring-custom-deployment-protection-rules.md
  content/actions/deployment/protecting-deployments/creating-custom-deployment-protection-rules.md
  content/actions/deployment/protecting-deployments/index.md
  content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
  data/allowed-topics.js
  data/features/actions-custom-deployment-protection-rules-beta.yml
  data/reusables/actions/about-custom-deployment-protection-rules.md
  data/reusables/actions/about-environments.md
  data/reusables/actions/custom-deployment-protection-rules-beta-note.md
  data/reusables/actions/custom-deployment-protection-rules-limits.md
Labels: automated-reposync-pr

#25115 repo sync
  content/copilot/troubleshooting-github-copilot/troubleshooting-github-copilot-in-your-environment.md
Labels: automated-reposync-pr

#25116 repo sync
  middleware/contextualizers/ghae-release-notes.js
  middleware/contextualizers/ghes-release-notes.js
  tests/routing/release-notes.js
Labels: automated-reposync-pr

#24540 chore: use `node16` for actions
  content/actions/automating-builds-and-tests/building-and-testing-java-with-gradle.md
  content/actions/automating-builds-and-tests/building-and-testing-nodejs.md
  content/actions/automating-builds-and-tests/building-and-testing-ruby.md
  content/actions/automating-builds-and-tests/building-and-testing-swift.md
  content/actions/creating-actions/about-custom-actions.md
  content/actions/creating-actions/creating-a-javascript-action.md
  content/actions/creating-actions/metadata-syntax-for-github-actions.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-amazon-elastic-container-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-docker-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-java-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-net-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-nodejs-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-php-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-python-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-to-azure-kubernetes-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-google-kubernetes-engine.md
  content/actions/examples/using-the-github-cli-on-a-runner.md
  content/actions/learn-github-actions/expressions.md
  content/actions/learn-github-actions/finding-and-customizing-actions.md
  content/actions/managing-issues-and-pull-requests/commenting-on-an-issue-when-a-label-is-added.md
  content/actions/managing-issues-and-pull-requests/moving-assigned-issues-on-project-boards.md
  content/actions/managing-issues-and-pull-requests/scheduling-issue-creation.md
  content/actions/migrating-to-github-actions/manual-migrations/migrating-from-circleci-to-github-actions.md
  content/actions/publishing-packages/publishing-docker-images.md
  content/actions/publishing-packages/publishing-java-packages-with-gradle.md
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
  content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
  content/issues/planning-and-tracking-with-projects/automating-your-project/automating-projects-using-actions.md
  content/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions.md
  content/packages/working-with-a-github-packages-registry/working-with-the-container-registry.md
  content/rest/quickstart.md
  contributing/content-style-guide.md
  data/reusables/actions/allow-specific-actions-intro.md
  data/reusables/package_registry/publish-docker-image.md
Labels: content, actions, ready to merge

#25119 repo sync
  content/actions/migrating-to-github-actions/automated-migrations/migrating-from-azure-devops-with-github-actions-importer.md
  content/actions/migrating-to-github-actions/automated-migrations/migrating-from-gitlab-with-github-actions-importer.md
  content/actions/security-guides/automatic-token-authentication.md
  content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
  content/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  content/copilot/overview-of-github-copilot/about-github-copilot-for-business.md
  content/get-started/learning-about-github/github-language-support.md
  content/organizations/managing-user-access-to-your-organizations-repositories/repository-roles-for-an-organization.md
  data/reusables/copilot/differences-cfi-cfb-table.md
  data/reusables/supported-languages/php.md
  data/reusables/supported-languages/ruby.md
  data/reusables/supported-languages/scala.md
Labels: automated-reposync-pr

#25120 repo sync
  content/actions/deployment/protecting-deployments/configuring-custom-deployment-protection-rules.md
  content/actions/deployment/protecting-deployments/creating-custom-deployment-protection-rules.md
Labels: automated-reposync-pr

#25123 repo sync
  content/migrations/using-github-enterprise-importer/migrating-repositories-with-github-enterprise-importer/migrating-repositories-from-azure-devops-to-github-enterprise-cloud.md
  content/migrations/using-github-enterprise-importer/migrating-repositories-with-github-enterprise-importer/migrating-repositories-from-bitbucket-server-to-github-enterprise-cloud.md
  content/migrations/using-github-enterprise-importer/migrating-repositories-with-github-enterprise-importer/migrating-repositories-from-github-enterprise-server-to-github-enterprise-cloud.md
  content/migrations/using-github-enterprise-importer/migrating-repositories-with-github-enterprise-importer/migrating-repositories-from-githubcom-to-github-enterprise-cloud.md
  data/reusables/enterprise-migration-tool/archive-path-placeholder.md
  data/reusables/enterprise-migration-tool/bitbucket-server-migrate-repo-access.md
  data/reusables/enterprise-migration-tool/generate-migration-script.md
Labels: automated-reposync-pr

#25124 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  src/graphql/data/dotcom/changelog.json
  src/graphql/data/dotcom/schema.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghec/schema.json
Labels: automated-reposync-pr

#25127 repo sync
  content/organizations/organizing-members-into-teams/synchronizing-a-team-with-an-identity-provider-group.md
Labels: automated-reposync-pr

#25128 repo sync
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/troubleshooting-saml-authentication.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/using-the-audit-log-api-for-your-enterprise.md
  content/migrations/overview/planning-your-migration-to-github.md
  data/reusables/audit_log/create-s3-bucket.md
  data/reusables/audit_log/create-s3-policy.md
  data/reusables/enterprise-migration-tool/bbs-release-phase.md
Labels: automated-reposync-pr

#25130 repo sync
  assets/images/help/graphs/repository-forks-page-period-dropdown.png
  assets/images/help/graphs/repository-forks-page-repository-type-dropdown.png
  assets/images/help/graphs/repository-forks-page-save-defaults-button.png
  assets/images/help/graphs/repository-forks-page-sort-dropdown.png
  content/repositories/viewing-activity-and-data-for-your-repository/understanding-connections-between-repositories.md
Labels: automated-reposync-pr

#25131 repo sync
  content/rest/index.md
  src/automated-pipelines/tests/rendering.js
  src/rest/tests/openapi-schema.js
  tests/helpers/e2etest.js
Labels: automated-reposync-pr

#25066 Fixes a small grammar bug
  content/apps/creating-github-apps/guides/creating-ci-tests-with-the-checks-api.md
Labels: content, ready to merge, waiting for review, github apps

#25134 repo sync
  .github/workflows/sync-openapi.yml
  src/README.md
  src/automated-pipelines/README.md
  src/codeql-cli/README.md
  src/codeql-cli/codeql-cli-pipeline-flowchart.png
  src/github-apps/README.md
  src/github-apps/github-apps-pipeline-flowchart.png
  src/rest/README.md
  src/rest/rest-pipeline-flowchart.png
  src/webhooks/README.md
  src/webhooks/scripts/sync.js
  src/webhooks/scripts/webhook-schema.js
  src/webhooks/scripts/webhook.js
  src/webhooks/webhooks-pipeline-flowchart.png
Labels: automated-reposync-pr
