Repository github/docs, pull requests merged in 2023-10, with the labels that each got.

#27464 Fix - #27294 content updated
  content/get-started/quickstart/hello-world.md
Labels: content, waiting for review, get started

#28668 Fix checkout version
  data/reusables/actions/workflow-basic-example-and-explanation.md
Labels: content, actions, hacktoberfest-accepted, ready to merge, waiting for review

#28613 Add missing heading for steps.working-directory
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions, hacktoberfest-accepted, ready to merge, waiting for review

#28712 Remove unnecessary double quotes in Further Reading section
  content/copilot/github-copilot-chat/using-github-copilot-chat.md
Labels: content, hacktoberfest-accepted, ready to merge, copilot

#28699 Fix title of link to section
  content/actions/using-workflows/reusing-workflows.md
Labels: content, actions, ready to merge

#28674 Update deploying-to-azure-static-web-app.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-to-azure-static-web-app.md
Labels: content, triage, actions, waiting for review

#28702 Updated cache instructions to use the right package file
  content/actions/automating-builds-and-tests/building-and-testing-net.md
Labels: content, actions, hacktoberfest-accepted, ready to merge, waiting for review

#28743 Disable line wrapping in base64 encoding
  content/actions/security-guides/using-secrets-in-github-actions.md
Labels: content, actions, hacktoberfest-accepted, ready to merge, waiting for review

#28755 Add small note about forking policy
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/managing-the-forking-policy-for-your-repository.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review, repositories

#28780 Update migrating-from-gitlab-cicd-to-github-actions.md
  content/actions/migrating-to-github-actions/manually-migrating-to-github-actions/migrating-from-gitlab-cicd-to-github-actions.md
Labels: content, actions, hacktoberfest-accepted, ready to merge, waiting for review

#28792 docs: replace unsupported method nobr
  content/billing/managing-billing-for-github-advanced-security/about-billing-for-github-advanced-security.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  content/code-security/codeql-cli/getting-started-with-the-codeql-cli/analyzing-your-code-with-codeql-queries.md
  content/code-security/codeql-cli/getting-started-with-the-codeql-cli/customizing-analysis-with-codeql-packs.md
  content/code-security/codeql-cli/getting-started-with-the-codeql-cli/preparing-your-code-for-codeql-analysis.md
  content/code-security/codeql-cli/getting-started-with-the-codeql-cli/uploading-codeql-analysis-results-to-github.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#28808 fix(docs): Code scanning: Clarify the descriptions of some SARIF fields
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review, code security

#28767 Workflow commands: Minor tweaks to example formatting, syntax
  content/actions/using-workflows/workflow-commands-for-github-actions.md
Labels: content, actions, hacktoberfest-accepted, ready to merge, waiting for review

#27618 Improve example workflow to delete cache entries for closed PRs
  content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
Labels: content, actions, hacktoberfest-accepted, ready to merge, waiting for review

#28800 Clarify how to use a negated expression in an if statement
  content/actions/learn-github-actions/expressions.md
  data/reusables/actions/expression-syntax-if.md
Labels: content, actions, hacktoberfest-accepted, ready to merge, waiting for review

#28802 Update notifications reusable from bell to inbox
  assets/images/help/notifications/notifications-general-existence-indicator.png
  data/reusables/notifications/access_notifications.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review

#28580 feat: add note that clarifies the process of using Gravatar profile
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
Labels: content, hacktoberfest-accepted, ready to merge, account-and-profile

#28815 Update about-github-copilot-chat.md
  content/copilot/github-copilot-chat/about-github-copilot-chat.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review, copilot

#28648 Inconsistency between description and code
  content/actions/automating-builds-and-tests/building-and-testing-net.md
Labels: content, actions, hacktoberfest-accepted, ready to merge, waiting for review

#28864 fix(docs): Updated the permissions doc examples with clearer scope assignment inputs.
  data/reusables/actions/github-token-available-permissions.md
Labels: content, actions, hacktoberfest-accepted, ready to merge, waiting for review

#28862 fix(docs): Updated the getting started guide of code-security with consistent monospace font for file/directory names
  content/code-security/getting-started/adding-a-security-policy-to-your-repository.md
  content/code-security/getting-started/dependabot-quickstart-guide.md
Labels: content, waiting for review, code security

#28855 Update OIDC tokens table
  content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
Labels: content, actions, hacktoberfest-accepted, ready to merge, waiting for review

#28845 Reworked references to the no-reply email
  content/migrations/importing-source-code/using-github-importer/updating-commit-author-attribution-with-github-importer.md
  data/reusables/files/choose-commit-email.md
  data/reusables/files/commit-author-email-options.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review, pages

#28846 Indicate that `fail-fast` can be an expression
  content/actions/learn-github-actions/contexts.md
  data/reusables/actions/jobs/section-using-a-build-matrix-for-your-jobs-failfast.md
Labels: content, actions, hacktoberfest-accepted, ready to merge, waiting for review

#28916 Add note explaining how to replace an organization
  content/organizations/managing-organization-settings/deleting-an-organization-account.md
Labels: content, hacktoberfest-accepted, ready to merge, organizations

#28870 docs(feat): add content on how to set an organization profile picture using Gravatar
  content/organizations/collaborating-with-groups-in-organizations/customizing-your-organizations-profile.md
Labels: content, core, hacktoberfest-accepted, organizations

#28920 docs: update copilot enable information
  content/copilot/getting-started-with-github-copilot.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review, copilot

#28939 Explain artifact sharing in "Reusing Workflows"
  content/actions/using-workflows/reusing-workflows.md
Labels: content, actions, hacktoberfest-accepted, ready to merge, waiting for review

#28850 Replaced gh-actions-cache with git cache subcommand
  content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
Labels: content, actions, waiting for review

#28936 docs: quote language versions in YAML examples
  content/actions/automating-builds-and-tests/building-and-testing-nodejs.md
  content/actions/automating-builds-and-tests/building-and-testing-ruby.md
  content/actions/migrating-to-github-actions/manually-migrating-to-github-actions/migrating-from-circleci-to-github-actions.md
  content/actions/migrating-to-github-actions/manually-migrating-to-github-actions/migrating-from-travis-ci-to-github-actions.md
  data/reusables/actions/matrix-variable-example.md
Labels: content, actions, hacktoberfest-accepted, ready to merge, waiting for review

#29004 add fragment identifiers to the glossary terms
  data/glossaries/external.yml
Labels: content, ready to merge, pumpkin-spice

#29051 Fix step definition
  content/actions/automating-builds-and-tests/building-and-testing-go.md
Labels: content, actions

#28996 Update create_properties.md to reference `repository` and `pusher_type`.
  data/reusables/webhooks/create_properties.md
Labels: hacktoberfest-accepted, ready to merge, waiting for review, rest

#29043 docs: update article about alert syntax
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, hacktoberfest-accepted, get started

#28884 Dependabot Docs: update guidance-for-the-configuration-of-private-registries
  content/code-security/dependabot/working-with-dependabot/guidance-for-the-configuration-of-private-registries-for-dependabot.md
Labels: content, waiting for review, dependabot, needs SME

#29137 docs: fix typo in tests/PLAYWRIGHT.md
  tests/PLAYWRIGHT.md
Labels: content, hacktoberfest-accepted

#29135 docs: fix typos in data/reusables
  data/reusables/codespaces/prebuilds-permission-authorization.md
  data/reusables/dependabot/advanced-private-registry-config-link.md
Labels: content, hacktoberfest-accepted, Codespaces

#29136 docs: fix typos in script
  script/copy-to-test-repo.sh
  script/move-content.js
Labels: content, hacktoberfest-accepted

#29133 Clarify how to unwatch a repository.
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/managing-subscriptions-for-activity-on-github/managing-your-subscriptions.md
Labels: content, hacktoberfest-accepted, ready to merge, account-and-profile

#28973 added transferring action repositories section
  content/actions/creating-actions/publishing-actions-in-github-marketplace.md
Labels: content, actions

#29000 Update development.md
  contributing/development.md
Labels: content, contributing docs, hacktoberfest-accepted

#29175 Fix typos
  content/code-security/code-scanning/enabling-code-scanning/configuring-default-setup-for-code-scanning.md
  content/code-security/code-scanning/troubleshooting-sarif-uploads/default-setup-enabled.md
  content/code-security/dependabot/dependabot-alerts/index.md
  content/code-security/dependabot/working-with-dependabot/guidance-for-the-configuration-of-private-registries-for-dependabot.md
  content/code-security/dependabot/working-with-dependabot/viewing-dependabot-job-logs.md
  content/code-security/security-advisories/working-with-global-security-advisories-from-the-github-advisory-database/about-global-security-advisories.md
  content/code-security/security-advisories/working-with-global-security-advisories-from-the-github-advisory-database/about-the-github-advisory-database.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-dependency-review.md
  data/reusables/projects/last-updated-explanation.md
  tests/fixtures/content/index.md
Labels: content, hacktoberfest-accepted, ready to merge

#29186 Update GitHub Actions Documentation for 'success' Expression
  content/actions/learn-github-actions/expressions.md
  data/reusables/actions/jobs/section-using-jobs-in-a-workflow-needs.md
Labels: content, actions, hacktoberfest-accepted, ready to merge

#29166 Update README link in development.md
  contributing/development.md
Labels: content, hacktoberfest-accepted, ready to merge

#29170 Fix typo in pages/verifying custom domain
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/verifying-your-custom-domain-for-github-pages.md
Labels: content, ready to merge, pages

#29193 feat: adding mentions about forking back after transferring repos
  content/repositories/creating-and-managing-repositories/transferring-a-repository.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review, repositories

#29083 Add a guide on how to use the Ruby Octokit SDK
  content/rest/guides/index.md
  content/rest/guides/scripting-with-the-rest-api-and-ruby.md
Labels: content, hacktoberfest-accepted, ready to merge, rest, SME reviewed

#29280 Fix syntax error in types-of-webhooks.md
  content/webhooks/types-of-webhooks.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review, webhooks

#29243 Fixed typo
  data/reusables/gated-features/multiple-pr-reviewers.md
Labels: content, waiting for review, pull requests

#29277 Rephrased sentece
  content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, waiting for review, ssh, authentication

#29255 Update working-with-the-npm-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-npm-registry.md
Labels: content, packages, waiting for review

#29322 Update viewing-your-milestones-progress.md
  content/issues/using-labels-and-milestones-to-track-work/viewing-your-milestones-progress.md
Labels: content, waiting for review, issues

#29329 Update troubleshooting-webhooks.md
  content/webhooks/testing-and-troubleshooting-webhooks/troubleshooting-webhooks.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review, webhooks

#24924 Update workflow-commands-for-github-actions.md
  content/actions/using-workflows/workflow-commands-for-github-actions.md
Labels: content, actions, waiting for review

#29247 feat: add info about convert tasks into issues
  assets/images/help/writing/convert-task-lists-into-issues.png
  content/get-started/writing-on-github/working-with-advanced-formatting/about-task-lists.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review, get started

#29319 docs: Add note on skip-checks
  content/actions/managing-workflow-runs/skipping-workflow-runs.md
  content/pull-requests/collaborating-with-pull-requests/collaborating-on-repositories-with-code-quality-features/about-status-checks.md
  data/reusables/commits/about-commit-cleanup.md
Labels: content, actions, waiting for review

#29379 mention minimum git version required to use git filter-repo script
  content/get-started/using-git/splitting-a-subfolder-out-into-a-new-repository.md
Labels: content, waiting for review, using git, get started

#29470 Fixed typo in "About commit signoffs" section of managing-the-commit-signoff-policy-for-your-repository
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/managing-the-commit-signoff-policy-for-your-repository.md
Labels: content, hacktoberfest-accepted, waiting for review, repositories

#29443 docs: fix typo in content/webhooks/about-webhooks
  content/webhooks/about-webhooks.md
Labels: content, hacktoberfest-accepted, waiting for review, webhooks

#29420 use `gh issue comment` instead of peter-evans/create-or-update-comment
  content/actions/managing-issues-and-pull-requests/commenting-on-an-issue-when-a-label-is-added.md
Labels: content, actions, hacktoberfest-accepted, ready to merge, waiting for review, pumpkin-spice

#29464 feat: add info on what should occur post-transfer
  content/apps/oauth-apps/maintaining-oauth-apps/transferring-ownership-of-an-oauth-app.md
Labels: content, ready to merge, github apps

#29543 docs: removed optional expression syntax from if conditions
  content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
Labels: content, hacktoberfest-accepted, waiting for review, dependabot, code security

#29564 Added missing "\" in example command
  content/rest/overview/authenticating-to-the-rest-api.md
Labels: content, hacktoberfest-accepted, ready to merge, waiting for review, rest

#29557 Add note about disabled read-and-write permissions
  content/actions/security-guides/automatic-token-authentication.md
Labels: content, actions, hacktoberfest-accepted, waiting for review

#29493 Rephrased Sentence
  content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, hacktoberfest-accepted, waiting for review, authentication

#29134 docs: fix typos in src/content-linter
  src/content-linter/lib/diff-files.js
  src/content-linter/lib/linting-rules/frontmatter-video-transcripts.js
  src/content-linter/scripts/lint-content.js
  src/content-linter/style/github-docs.js
  src/content-linter/tests/unit/image-alt-text-exclude-start-words.js
Labels: content, waiting for review

#29535 Fix missing section for linux
  content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, hacktoberfest-accepted, waiting for review, authentication
