Repository github/docs, pull requests merged in 2023-06, with the labels that each got.

#25774 repo sync
  content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
Labels: automated-reposync-pr

#25775 repo sync
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise.md
Labels: automated-reposync-pr

#25777 repo sync
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/running-scripts-before-or-after-a-job.md
Labels: automated-reposync-pr

#25779 repo sync
  package-lock.json
  package.json
  tests/browser/browser.js
  tests/rendering-fixtures/playwright-rendering.spec.ts
Labels: automated-reposync-pr

#25783 repo sync
  content/admin/configuration/configuring-github-connect/managing-github-connect.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-oidc-for-enterprise-managed-users.md
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/about-saml-for-enterprise-iam.md
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/configuring-saml-single-sign-on-for-your-enterprise-using-okta.md
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/configuring-saml-single-sign-on-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
  content/admin/user-management/managing-users-in-your-enterprise/managing-dormant-users.md
  content/authentication/keeping-your-account-and-data-secure/security-log-events.md
  content/authentication/managing-commit-signature-verification/about-commit-signature-verification.md
  content/migrations/using-github-enterprise-importer/migrating-repositories-with-github-enterprise-importer/migrating-repositories-from-azure-devops-to-github-enterprise-cloud.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/audit-log-events-for-your-organization.md
  data/reusables/enterprise-accounts/dormant-user-activity.md
  data/reusables/saml/no-scim-for-enterprises.md
  data/reusables/support/enterprise-comment-on-support-tickets.md
Labels: automated-reposync-pr

#25778 Clarify the process for publishing an action to the marketplace when you are not an organization owner
  content/actions/creating-actions/publishing-actions-in-github-marketplace.md
Labels: content, actions, ready to merge, waiting for review

#25785 repo sync
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
  content/admin/overview/about-upgrades-to-new-releases.md
  content/education/guides.md
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  src/graphql/data/fpt/changelog.json
  src/graphql/data/fpt/schema.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghec/schema.json
Labels: automated-reposync-pr

#25786 repo sync
  content/admin/enterprise-management/configuring-high-availability/initiating-a-failover-to-your-replica-appliance.md
  content/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-google-cloud-storage.md
  content/billing/managing-licenses-for-visual-studio-subscriptions-with-github-enterprise/setting-up-visual-studio-subscriptions-with-github-enterprise.md
  content/code-security/code-scanning/integrating-with-code-scanning/uploading-a-sarif-file-to-github.md
  content/code-security/codeql-cli/using-the-codeql-cli/getting-started-with-the-codeql-cli.md
  content/code-security/security-advisories/guidance-on-reporting-and-writing/best-practices-for-writing-repository-security-advisories.md
  content/code-security/security-advisories/repository-security-advisories/creating-a-repository-security-advisory.md
  content/code-security/security-advisories/repository-security-advisories/editing-a-repository-security-advisory.md
  content/desktop/installing-and-configuring-github-desktop/overview/creating-your-first-repository-using-github-desktop.md
  content/organizations/collaborating-with-groups-in-organizations/viewing-insights-for-your-organization.md
  content/organizations/managing-membership-in-your-organization/removing-a-member-from-your-organization.md
Labels: automated-reposync-pr

#25787 repo sync
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-to-azure-kubernetes-service.md
  content/actions/learn-github-actions/variables.md
  content/actions/using-workflows/about-workflows.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise.md
  content/admin/policies/enforcing-policy-with-pre-receive-hooks/creating-a-pre-receive-hook-script.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/customizing-code-scanning.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  content/code-security/codeql-cli/using-the-codeql-cli/creating-codeql-databases.md
  content/code-security/dependabot/dependabot-alerts/about-dependabot-alerts.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph.md
  content/codespaces/codespaces-reference/security-in-github-codespaces.md
  content/get-started/learning-about-github/github-language-support.md
  content/get-started/using-git/getting-changes-from-a-remote-repository.md
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/audit-log-events-for-your-organization.md
  content/search-github/searching-on-github/searching-issues-and-pull-requests.md
  data/features/codeql-swift-beta.yml
  data/reusables/code-scanning/autobuild-add-build-steps.md
  data/reusables/code-scanning/beta-kotlin-or-swift-support.md
  data/reusables/code-scanning/beta-swift-support.md
  data/reusables/code-scanning/codeql-languages-bullets.md
  data/reusables/code-scanning/codeql-languages-keywords.md
  data/reusables/enterprise_installation/download-package.md
  data/reusables/supported-languages/products-table-header.md
  data/reusables/supported-languages/swift.md
  pages/[versionId]/rest/overview/endpoints-available-for-github-apps.tsx
  src/automated-pipelines/components/AutomatedPage.tsx
  src/automated-pipelines/components/AutomatedPageContext.tsx
  src/automated-pipelines/components/parameter-table/ChildBodyParametersRows.module.scss
  src/automated-pipelines/components/parameter-table/ChildBodyParametersRows.tsx
  src/automated-pipelines/components/parameter-table/ParameterRow.tsx
  src/automated-pipelines/components/parameter-table/ParameterTable.module.scss
  src/automated-pipelines/components/parameter-table/ParameterTable.tsx
  src/automated-pipelines/components/parameter-table/types.ts
  src/github-apps/pages/endpoints-available-for-github-apps.tsx
  src/graphql/pages/breaking-changes.tsx
  src/graphql/pages/changelog.tsx
  src/graphql/pages/reference.tsx
  src/graphql/pages/schema-previews.tsx
  src/rest/components/RestCollapsibleSection.tsx
  src/rest/components/RestOperation.tsx
  src/rest/components/RestReferencePage.tsx
  src/rest/pages/category.tsx
  src/rest/pages/subcategory.tsx
  src/webhooks/components/Webhook.tsx
  src/webhooks/pages/webhook-events-and-payloads.tsx
Labels: automated-reposync-pr

#25791 repo sync
  content/authentication/keeping-your-account-and-data-secure/about-authentication-to-github.md
  content/authentication/keeping-your-account-and-data-secure/index.md
  content/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens.md
  content/rest/guides/getting-started-with-the-rest-api.md
  content/rest/index.md
  content/rest/overview/authenticating-to-the-rest-api.md
  content/rest/overview/endpoints-available-for-fine-grained-personal-access-tokens.md
  content/rest/overview/endpoints-available-for-github-apps.md
  content/rest/overview/index.md
  content/rest/overview/keeping-your-api-credentials-secure.md
  content/rest/overview/permissions-required-for-fine-grained-personal-access-tokens.md
  content/rest/overview/permissions-required-for-github-apps.md
  content/site-policy/other-site-policies/github-account-recovery-policy.md
  content/site-policy/other-site-policies/index.md
  data/reusables/command_line/providing-token-as-password.md
  data/reusables/two_fa/support-may-not-help.md
Labels: automated-reposync-pr

#25792 repo sync
  content/apps/creating-github-apps/guides/building-a-cli-with-a-github-app.md
  content/apps/creating-github-apps/guides/building-a-github-app-that-responds-to-webhook-events.md
  content/apps/creating-github-apps/guides/building-a-login-with-github-button-with-a-github-app.md
  content/apps/creating-github-apps/guides/making-authenticated-api-requests-with-a-github-app-in-a-github-actions-workflow.md
  content/apps/creating-github-apps/guides/quickstart.md
  content/apps/creating-github-apps/setting-up-a-github-app/about-the-setup-url.md
  content/apps/creating-github-apps/setting-up-a-github-app/about-the-user-authorization-callback-url.md
  content/apps/creating-github-apps/setting-up-a-github-app/best-practices-for-creating-a-github-app.md
  content/apps/creating-github-apps/setting-up-a-github-app/choosing-permissions-for-a-github-app.md
  content/apps/creating-github-apps/setting-up-a-github-app/creating-a-custom-badge-for-your-github-app.md
  content/apps/creating-github-apps/setting-up-a-github-app/index.md
  content/apps/creating-github-apps/setting-up-a-github-app/making-a-github-app-public-or-private.md
  content/apps/creating-github-apps/setting-up-a-github-app/migrating-oauth-apps-to-github-apps.md
  content/apps/creating-github-apps/setting-up-a-github-app/registering-a-github-app.md
  content/apps/creating-github-apps/setting-up-a-github-app/using-webhooks-with-github-apps.md
  content/apps/maintaining-github-apps/about-github-app-managers.md
  content/apps/maintaining-github-apps/deleting-a-github-app.md
  content/apps/maintaining-github-apps/index.md
  content/apps/maintaining-github-apps/managing-allowed-ip-addresses-for-a-github-app.md
  content/apps/maintaining-github-apps/modifying-a-github-app-registration.md
  content/apps/maintaining-github-apps/transferring-ownership-of-a-github-app.md
  content/apps/sharing-github-apps/index.md
  content/apps/sharing-github-apps/making-your-github-app-available-for-github-enterprise-server.md
  content/apps/sharing-github-apps/registering-a-github-app-from-a-manifest.md
  content/apps/sharing-github-apps/registering-a-github-app-using-url-parameters.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization.md
  data/reusables/apps/github-app-managers.md
  data/reusables/apps/maximum-github-apps-allowed.md
  data/reusables/apps/webhooks-and-apps.md
  data/reusables/shortdesc/modifying_github_apps.md
  data/reusables/shortdesc/transferring_ownership_of_github_apps.md
Labels: automated-reposync-pr

#25797 repo sync
  contributing/content-style-guide.md
Labels: automated-reposync-pr

#25800 repo sync
  components/context/TocLandingContext.tsx
  components/sidebar/SidebarNav.tsx
  middleware/index.js
  pages/[versionId]/[productId]/index.tsx
  pages/index.tsx
  src/landings/README.md
  src/landings/components/ArticleCard.tsx
  src/landings/components/ArticleCards.tsx
  src/landings/components/ArticleList.tsx
  src/landings/components/CommunityExamples.tsx
  src/landings/components/FeaturedArticles.tsx
  src/landings/components/GuideCard.tsx
  src/landings/components/GuideCards.tsx
  src/landings/components/GuidesHero.module.scss
  src/landings/components/GuidesHero.tsx
  src/landings/components/HomePageHero.tsx
  src/landings/components/LandingHero.tsx
  src/landings/components/LandingSection.tsx
  src/landings/components/LearningTrack.module.scss
  src/landings/components/LearningTrack.tsx
  src/landings/components/LearningTracks.tsx
  src/landings/components/OctocatHeader.tsx
  src/landings/components/ProductArticlesList.tsx
  src/landings/components/ProductGuides.tsx
  src/landings/components/ProductGuidesContext.tsx
  src/landings/components/ProductLanding.tsx
  src/landings/components/ProductLandingContext.tsx
  src/landings/components/ProductReleases.tsx
  src/landings/components/ProductSelectionCard.tsx
  src/landings/components/ProductSelections.tsx
  src/landings/components/RepoCard.tsx
  src/landings/components/SidebarHomepage.tsx
  src/landings/components/SidebarProduct.tsx
  src/landings/components/SponsorsExamples.tsx
  src/landings/components/TableOfContents.tsx
  src/landings/components/TocLanding.tsx
  src/landings/components/UserCard.tsx
  src/landings/middleware/featured-links.js
  src/landings/pages/home.tsx
  src/landings/pages/product.tsx
  src/landings/tests/curated-homepage-links.js
  src/landings/tests/featured-links.js
  src/landings/tests/homepage.js
  src/rest/pages/category.tsx
Labels: automated-reposync-pr

#25790 Add Typescript example to securing-your-webhooks.md
  content/webhooks-and-events/webhooks/securing-your-webhooks.md
Labels: content, ready to merge, waiting for review, webhooks

#25796 doc: highlighted config.yml file in issue-template-config
  data/reusables/repositories/issue-template-config.md
Labels: content, ready to merge, waiting for review, repositories

#25804 repo sync
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/adding-self-hosted-runners.md
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/autoscaling-with-self-hosted-runners.md
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/removing-self-hosted-runners.md
  content/actions/security-guides/security-hardening-for-github-actions.md
  data/features/actions-single-use-tokens.yml
  data/reusables/actions/jit-runner-removal.md
  data/reusables/actions/self-hosted-runner-auto-removal.md
Labels: automated-reposync-pr

#25722 Refactor export GPG_TTY command to add line break (#25721)
  content/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key.md
Labels: automerge, content, ready to merge, waiting for review, using git

#25781 Use version for action azure/webapps-deploy instead of hash
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-docker-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-java-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-net-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-nodejs-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-php-to-azure-app-service.md
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-python-to-azure-app-service.md
Labels: content, actions, ready to merge, waiting for review

#25823 repo sync
  content/actions/learn-github-actions/essential-features-of-github-actions.md
  content/billing/managing-billing-for-github-copilot/managing-your-github-copilot-subscription-for-your-organization-or-enterprise.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
  content/site-policy/github-terms/github-sponsors-additional-terms.md
  content/site-policy/site-policy-deprecated/github-supplemental-terms-for-microsoft-volume-licensing.md
  data/reusables/enterprise-migration-tool/migration-destination-query.md
Labels: automated-reposync-pr

#25826 repo sync
  .github/workflows/repo-sync.yml
Labels: automated-reposync-pr

#25827 repo sync
  .github/workflows/close-bad-repo-sync-prs.yml
  .github/workflows/repo-sync.yml
  content/get-started/exploring-integrations/about-webhooks.md
  content/get-started/exploring-integrations/index.md
  content/webhooks-and-events/webhooks/about-webhooks.md
  content/webhooks-and-events/webhooks/creating-webhooks.md
  data/reusables/webhooks/webhooks_intro.md
Labels: automated-reposync-pr

#25829 repo sync
  .github/actions-scripts/test-local-dev.js
  components/context/MainContext.tsx
  lib/all-products.js
  lib/get-product-groups.js
  middleware/context.js
  middleware/contextualizers/homepage-links.js
  middleware/contextualizers/product-groups.js
  middleware/index.js
  src/landings/components/ProductLandingContext.tsx
  src/landings/components/SidebarHomepage.tsx
  src/pageinfo/tests/pageinfo.js
  tests/PLAYWRIGHT.md
  tests/fixtures/content/index.md
  tests/fixtures/content/pages/index.md
  tests/fixtures/translations/ja-jp/content/get-started/index.md
  tests/rendering-fixtures/homepage.js
  tests/rendering-fixtures/landing-hero.js
  tests/rendering-fixtures/playwright-rendering.spec.ts
  tests/rendering-fixtures/sidebar.js
  tests/rendering-fixtures/translations.js
Labels: automated-reposync-pr

#25713 Use examples with env variable
  content/actions/learn-github-actions/contexts.md
Labels: content, actions, waiting for review

#25830 repo sync
  components/sidebar/SidebarNav.tsx
  lib/page.js
  lib/warm-server.js
  middleware/abort.js
  middleware/api/index.js
  middleware/archived-enterprise-versions.js
  middleware/get-remote-json.js
  middleware/index.js
  middleware/rate-limit.js
  middleware/render-page.js
  middleware/timeout.js
  package.json
  pages/[versionId]/graphql/overview/breaking-changes.tsx
  pages/[versionId]/graphql/overview/changelog.tsx
  pages/[versionId]/graphql/overview/explorer.tsx
  pages/[versionId]/graphql/overview/schema-previews.tsx
  pages/[versionId]/graphql/reference/[page].tsx
  pages/[versionId]/webhooks-and-events/webhooks/webhook-events-and-payloads.tsx
  pages/search.tsx
  src/events/lib/hydro.js
  src/events/middleware.js
  src/observability/README.md
  src/pageinfo/middleware.js
  src/search/middleware/search.js
  src/search/scripts/index-elasticsearch.js
  src/search/scripts/sync.js
  start-server.js
  tests/rendering-fixtures/invalid-querystrings.js
Labels: triage, automated-reposync-pr

#25837 repo sync
  content/copilot/overview-of-github-copilot/about-github-copilot-for-business.md
  content/copilot/overview-of-github-copilot/about-github-copilot-for-individuals.md
  data/reusables/copilot/prompts.md
  data/reusables/copilot/suggestions.md
  data/reusables/copilot/user-engagement-data.md
Labels: automated-reposync-pr

#25849 repo sync
  content/apps/creating-github-apps/about-creating-github-apps/best-practices-for-creating-a-github-app.md
  content/apps/creating-github-apps/about-creating-github-apps/deciding-when-to-build-a-github-app.md
  content/apps/oauth-apps/building-oauth-apps/best-practices-for-creating-an-oauth-app.md
  content/apps/oauth-apps/building-oauth-apps/differences-between-github-apps-and-oauth-apps.md
  content/apps/oauth-apps/building-oauth-apps/index.md
  content/apps/publishing-apps-to-github-marketplace/creating-apps-for-github-marketplace/customer-experience-best-practices-for-apps.md
  content/apps/publishing-apps-to-github-marketplace/creating-apps-for-github-marketplace/security-best-practices-for-apps-on-github-marketplace.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-protected-branches/about-protected-branches.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-protected-branches/managing-a-branch-protection-rule.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-rulesets/available-rules-for-rulesets.md
  data/features/pull-request-mergeability-security-changes.yml
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  data/reusables/apps/app-scans.md
  data/reusables/apps/app-services.md
  data/reusables/apps/apps-logging.md
  data/reusables/pull_requests/security-changes-mergeability.md
  src/graphql/data/fpt/changelog.json
  src/graphql/data/fpt/schema.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghec/schema.json
Labels: automated-reposync-pr

#25821 Remove unnecessary $ symbols
  content/authentication/managing-commit-signature-verification/generating-a-new-gpg-key.md
Labels: content, ready to merge, waiting for review, authentication

#25852 repo sync
  src/content-linter/lib/linting-rules/image-alt-text-period.js
  src/content-linter/scripts/markdownlint.js
Labels: automated-reposync-pr

#25853 repo sync
  data/reusables/actions/reusable-workflow-calling-syntax.md
  src/content-linter/lib/default-markdownlint-options.js
  src/content-linter/tests/unit/image-alt-text-length.js
  src/content-linter/tests/unit/image-alt-text-length.md
Labels: automated-reposync-pr

#25859 repo sync
  content/admin/configuration/configuring-your-enterprise/enabling-and-scheduling-maintenance-mode.md
  data/reusables/enterprise_installation/monitoring-replicas.md
Labels: automated-reposync-pr

#25860 repo sync
  package-lock.json
Labels: automated-reposync-pr

#25863 repo sync
  content/search-github/github-code-search/about-github-code-search.md
  content/search-github/github-code-search/index.md
  content/search-github/github-code-search/using-github-code-search.md
  data/reusables/search/code-search-login-requirement.md
Labels: automated-reposync-pr

#25864 repo sync
  content/apps/publishing-apps-to-github-marketplace/github-marketplace-overview/about-github-marketplace-for-apps.md
  content/apps/publishing-apps-to-github-marketplace/github-marketplace-overview/index.md
  content/apps/using-github-apps/about-using-github-apps.md
  content/billing/managing-billing-for-github-marketplace-apps/about-billing-for-github-marketplace.md
  content/get-started/exploring-integrations/about-building-integrations.md
  content/get-started/exploring-integrations/about-github-marketplace.md
  content/get-started/exploring-integrations/about-integrations.md
  content/get-started/exploring-integrations/about-using-integrations.md
  content/get-started/exploring-integrations/featured-github-integrations.md
  content/get-started/exploring-integrations/index.md
  content/organizations/managing-programmatic-access-to-your-organization/adding-and-removing-github-app-managers-in-your-organization.md
  content/search-github/searching-on-github/searching-github-marketplace.md
  content/support/learning-about-github-support/github-marketplace-support.md
  data/reusables/getting-started/marketplace.md
  tests/fixtures/developer-redirects.json
Labels: automated-reposync-pr

#25865 repo sync
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  src/graphql/data/fpt/changelog.json
  src/graphql/data/fpt/schema.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghec/schema.json
Labels: automated-reposync-pr

#25867 repo sync
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-saml-single-sign-on-for-enterprise-managed-users.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-scim-provisioning-for-enterprise-managed-users.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/migrating-your-enterprise-to-a-new-identity-provider-or-tenant.md
  data/reusables/enterprise-accounts/beta-pingfed-for-emu.md
  data/reusables/enterprise-accounts/emu-supported-idps.md
Labels: automated-reposync-pr

#25869 repo sync
  content/rest/checks/suites.md
Labels: automated-reposync-pr

#25846 Fix code blocks in `jobs.<job_id>.runs-on` document are not highlighted
  data/reusables/actions/jobs/section-choosing-the-runner-for-a-job.md
Labels: content, actions, waiting for review

#25871 repo sync
  src/content-linter/tests/site-data-references.js
Labels: automated-reposync-pr

#25878 repo sync
  assets/images/help/billing/view-payment-history-link-personal-account.png
  content/billing/managing-your-github-billing-settings/viewing-your-payment-history-and-receipts.md
  content/billing/managing-your-github-billing-settings/viewing-your-subscriptions-and-billing-date.md
  data/reusables/dotcom_billing/next_billing_date_personal_account.md
  data/reusables/dotcom_billing/view-payment-history-personal-account.md
Labels: automated-reposync-pr

#25841 chore: remove redundant category prefix
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/audit-log-events-for-your-organization.md
Labels: content, waiting for review, organizations

#25880 repo sync
  .github/workflows/secret-scanning-pattern-table-updates.yml
Labels: automated-reposync-pr

#25877 FIX #25824
  data/reusables/audit_log/audit-log-api-info.md
Labels: content, waiting for review

#25882 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
Labels: automated-reposync-pr

#25886 repo sync
  lib/render-content/create-processor.js
  lib/render-content/plugins/wrap-in-element.js
  lib/render-content/plugins/wrap-procedural-images.js
  package-lock.json
  package.json
Labels: automated-reposync-pr

#25888 repo sync
  .github/workflows/secret-scanning-pattern-table-updates.yml
Labels: automated-reposync-pr

#25889 repo sync
  lib/liquid-tags/annotate.js
  lib/render-content/create-processor.js
  lib/render-content/index.js
  lib/render-content/plugins/annotate.js
  lib/render-content/plugins/parse-info-string.js
  package-lock.json
  package.json
  tests/rendering/__snapshots__/annotate.js.snap
  tests/rendering/annotate.js
Labels: automated-reposync-pr

#25890 repo sync
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
Labels: automated-reposync-pr

#25891 repo sync
  content/apps/creating-github-apps/about-creating-github-apps/best-practices-for-creating-a-github-app.md
  content/apps/creating-github-apps/about-creating-github-apps/deciding-when-to-build-a-github-app.md
Labels: automated-reposync-pr

#25892 repo sync
  content/apps/using-github-apps/index.md
  content/apps/using-github-apps/requesting-a-github-app-from-your-organization-owner.md
Labels: automated-reposync-pr

#25895 repo sync
  .github/workflows/test.yml
  content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/why-are-my-contributions-not-showing-up-on-my-profile.md
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/merging-multiple-personal-accounts.md
  data/reusables/pull_requests/pull_request_merges_and_contributions.md
  middleware/index.js
  src/shielding/middleware/handle-invalid-paths.js
  src/shielding/middleware/handle-invalid-query-strings.js
  src/shielding/middleware/index.js
  src/shielding/middleware/rate-limit.js
  src/shielding/tests/invalid-querystrings.js
  src/shielding/tests/shielding.js
Labels: automated-reposync-pr

#25898 repo sync
  data/reusables/projects/select-a-cell.md
  lib/page-data.js
  middleware/contextualizers/glossaries.js
  tests/fixtures/content/get-started/foo/index.md
  tests/fixtures/content/get-started/foo/table-with-ifversions.md
  tests/fixtures/translations/ja-jp/content/get-started/foo/table-with-ifversions.md
  tests/rendering-fixtures/translations.js
Labels: automated-reposync-pr

#25902 repo sync
  content/admin/user-management/managing-organizations-in-your-enterprise/continuous-integration-using-jenkins.md
  lib/excluded-links.js
  lib/render-content/plugins/wrap-procedural-images.js
Labels: automated-reposync-pr

#25903 repo sync
  contributing/content-style-guide.md
Labels: automated-reposync-pr

#24357 Update actions expression documentation for ternary like behaviour
  content/actions/learn-github-actions/expressions.md
Labels: content, actions, waiting for review

#25904 repo sync
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-the-codeql-workflow-for-compiled-languages.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/customizing-code-scanning.md
  content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
  content/code-security/codeql-cli/using-the-codeql-cli/creating-codeql-databases.md
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/ghes-3.9/graphql_upcoming_changes.public-enterprise.yml
  data/graphql/ghes-3.9/schema.docs-enterprise.graphql
  data/graphql/schema.docs.graphql
  data/reusables/code-scanning/analyze-go.md
  data/reusables/code-scanning/autobuild-compiled-languages.md
  data/variables/code-scanning.yml
  src/graphql/data/fpt/changelog.json
  src/graphql/data/fpt/schema.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghec/schema.json
  src/graphql/data/ghes-3.9/schema.json
  src/graphql/data/ghes-3.9/upcoming-changes.json
Labels: automated-reposync-pr

#25905 repo sync
  content/authentication/keeping-your-account-and-data-secure/sudo-mode.md
Labels: automated-reposync-pr

#25918 repo sync
  .github/workflows/optimize-images.yml
  .github/workflows/repo-sync.yml
  assets/images/enterprise/repository/blame-button.png
  assets/images/enterprise/repository/edit-file-edit-button.png
  assets/images/enterprise/repository/edit-readme-preview-changes.png
  assets/images/enterprise/repository/git-blame.png
  assets/images/enterprise/repository/new-file-preview.png
  assets/images/enterprise/repository/raw-file-button.png
  assets/images/enterprise/site-admin-settings/dependabot-alerts-setup-dropdown.png
  assets/images/github-apps/authorize_app.png
  assets/images/github-apps/install_app.png
  assets/images/help/actions/arc-diagram.png
  assets/images/help/billing/update_payment_method_org.png
  assets/images/help/billing/update_payment_method_personal_account.png
  assets/images/help/billing/view-payment-history-link-personal-account.png
  assets/images/help/branches/branch-selection-dropdown.png
  assets/images/help/branches/file-tree-view-branch-dropdown.png
  assets/images/help/codespaces/settings-sync-config-ok.png
  assets/images/help/codespaces/who-will-pay-vscode.png
  assets/images/help/codespaces/who-will-pay.png
  assets/images/help/copilot/copilot-cancel-trial.png
  assets/images/help/desktop/ahead-tab.png
  assets/images/help/desktop/view-pr-on-github.png
  assets/images/help/gist/starring-a-gist.png
  assets/images/help/graphs/activity-view-compare-changes.png
  assets/images/help/graphs/activity-view-embedded-link.png
  assets/images/help/graphs/activity-view-icon.png
  assets/images/help/projects-v2/filter-for-templates.png
  assets/images/help/repository/add-files-buttons.png
  assets/images/help/repository/choose-commit-email-address.png
  assets/images/help/repository/delete-file-button.png
  assets/images/help/repository/file-tree-view-branch-dropdown-expanded.png
  assets/images/help/repository/fork_button.png
  assets/images/help/repository/https-url-clone-cli.png
  assets/images/help/repository/new-branch.png
  assets/images/help/repository/upload-files-button.png
  assets/images/help/settings/scheduled-reminders-org-choice.png
  assets/images/help/writing/inline-backtick-math-markdown-rendering.png
  assets/images/help/writing/inline-math-markdown-rendering.png
  assets/images/help/writing/math-expression-as-a-block-rendering.png
  assets/images/site/apple-touch-icon-114x114.png
  assets/images/site/apple-touch-icon-120x120.png
  assets/images/site/apple-touch-icon-144x144.png
  assets/images/site/apple-touch-icon-152x152.png
  assets/images/site/apple-touch-icon-180x180.png
  assets/images/site/apple-touch-icon-192x192.png
  assets/images/site/apple-touch-icon-512x512.png
  assets/images/site/apple-touch-icon-57x57.png
  assets/images/site/apple-touch-icon-60x60.png
  assets/images/site/apple-touch-icon-72x72.png
  assets/images/site/apple-touch-icon-76x76.png
  components/ui/MarkdownContent/stylesheets/code.scss
  lib/render-content/create-processor.js
  lib/render-content/plugins/annotate.js
  lib/render-content/plugins/code-header.js
  lib/render-content/plugins/parse-info-string.js
  package-lock.json
  package.json
  src/codeql-cli/scripts/convert-markdown-for-docs.js
  tests/unit/render-content.js
Labels: automated-reposync-pr

#25912 Added "have"
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
Labels: content, ready to merge, account-and-profile

#25881 updating MediaWiki link syntax as mentioned in issue #24850
  content/communities/documenting-your-project-with-wikis/editing-wiki-content.md
Labels: content, waiting for review, communities

#25923 Repo sync
  components/page-header/Header.tsx
Labels: automated-reposync-pr

#25926 Repo sync
  src/content-linter/lib/linting-rules/image-file-kebab.js
  src/content-linter/scripts/markdownlint.js
  src/content-linter/tests/fixtures/image-file-kebab.md
  src/content-linter/tests/unit/image-file-kebab.js
Labels: automated-reposync-pr

#25927 Repo sync
  content/actions/security-guides/security-hardening-for-github-actions.md
  data/reusables/actions/workflows/required-workflow-beta.md
Labels: automated-reposync-pr

#25934 Repo sync
  lib/render-content/plugins/annotate.js
  stylesheets/utilities.scss
  tests/rendering/__snapshots__/annotate.js.snap
Labels: automated-reposync-pr

#24505 Update re: adding SSH key to the ssh-agent for Mac users (Issue #23159)
  content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, waiting for review, authentication

#25943 Repo sync
  content/communities/maintaining-your-safety-on-github/reporting-abuse-or-spam.md
  content/search-github/github-code-search/about-github-code-search.md
Labels: automated-reposync-pr

#24421 Update to include mention of SQL query generation
  data/reusables/copilot/supported-languages.md
Labels: content, waiting for review, copilot

#25944 Repo sync
  content/site-policy/privacy-policies/github-copilot-for-business-privacy-statement.md
Labels: automated-reposync-pr

#25950 Repo sync
  content/actions/security-guides/automatic-token-authentication.md
  content/actions/using-workflows/events-that-trigger-workflows.md
  data/reusables/actions/actions-do-not-trigger-pages-rebuilds.md
  data/reusables/actions/inputs-vs-github-event-inputs.md
  data/reusables/enterprise_installation/hardware-considerations-all-platforms.md
  data/reusables/enterprise_installation/hardware-rec-table.md
  data/reusables/pages/admin-must-push.md
Labels: automated-reposync-pr

#25951 Repo sync
  lib/correct-translation-content.js
  lib/get-data.js
  lib/page-data.js
  middleware/contextualizers/glossaries.js
  src/shielding/middleware/handle-old-next-data-paths.js
  src/shielding/middleware/index.js
  src/shielding/tests/shielding.js
  tests/fixtures/content/get-started/quickstart/hello-world.md
  tests/fixtures/translations/ja-jp/content/get-started/quickstart/hello-world.md
  tests/fixtures/translations/ja-jp/data/reusables/gated-features/more-info.md
  tests/rendering-fixtures/translations.js
Labels: automated-reposync-pr

#25953 Repo sync
  data/variables/desktop.yml
Labels: automated-reposync-pr

#25956 Repo sync
  contributing/content-style-guide.md
Labels: automated-reposync-pr

#25957 Repo sync
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-saml-single-sign-on-for-enterprise-managed-users.md
  content/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-scim-provisioning-for-enterprise-managed-users.md
  data/graphql/ghae/schema.docs-ghae.graphql
  data/graphql/ghec/schema.docs.graphql
  data/graphql/schema.docs.graphql
  data/reusables/enterprise-accounts/emu-supported-idps.md
  data/reusables/enterprise-accounts/public-beta-pingfed-for-emu.md
  src/graphql/data/fpt/changelog.json
  src/graphql/data/fpt/schema.json
  src/graphql/data/ghae/schema.json
  src/graphql/data/ghec/schema.json
Labels: automated-reposync-pr

#25961 Repo sync
  .github/workflows/repo-sync.yml
  content/apps/creating-github-apps/about-creating-github-apps/best-practices-for-creating-a-github-app.md
  content/apps/creating-github-apps/registering-a-github-app/about-the-user-authorization-callback-url.md
Labels: automated-reposync-pr

#25962 Repo sync
  content/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-system.md
  src/content-linter/README.md
  src/content-linter/scripts/markdownlint.js
Labels: triage

#25199 Fixed wrong keyboard shortcuts for Visual Studio in getting-started-with-github-copilot.md
  content/copilot/getting-started-with-github-copilot.md
Labels: content, waiting for review, copilot

#25955 updated mention about secret-to-public gist feature on GitHub
  content/get-started/writing-on-github/editing-and-sharing-content-with-gists/creating-gists.md
Labels: content, get started

#21154 Clarify process for refreshing EOL's of existing checked-out repo HEAD
  content/get-started/getting-started-with-git/configuring-git-to-handle-line-endings.md
Labels: content, waiting for review, more-information-needed, get started

#26054 updated yarn command
  content/actions/publishing-packages/publishing-nodejs-packages.md
Labels: content, actions, waiting for review, get started

#26074 Incorrect powershell module locations fix (#18377)
  content/actions/automating-builds-and-tests/building-and-testing-powershell.md
Labels: content, actions

#26058 update to Octokit doc for direction to appropriate resources
  content/rest/overview/libraries.md
Labels: content, actions, ready to merge, waiting for review, rest, get started

#26152 [GitHub Actions] Update context availability for `jobs.<job_id>.container` and `jobs.<job_id>.container.image`
  content/actions/learn-github-actions/contexts.md
Labels: triage

#25870 Add explanation of ordinal comparison of strings using the `<` and `>` operators
  content/actions/learn-github-actions/expressions.md
  data/reusables/actions/expressions-syntax-evaluation.md
Labels: content, actions, waiting for review

#26234 Update jit-runner-removal.md
  data/reusables/actions/jit-runner-removal.md
Labels: content, actions, waiting for review

#26241 Update renaming-a-branch.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch.md
Labels: content, waiting for review, repositories

#26028 updated about-protected-branches.md with new Liquid template helper
  assets/images/help/actions/overview-actions-event.png
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-protected-branches/about-protected-branches.md
Labels: content, ready to merge, repositories, get started

#25960 Update splitting-a-subfolder-out-into-a-new-repository.md
  content/get-started/using-git/splitting-a-subfolder-out-into-a-new-repository.md
Labels: content, waiting for review, get started

#26273 Update enterprise-storage-contents.md
  data/reusables/actions/enterprise-storage-contents.md
Labels: content, actions, enterprise, waiting for review

#26283 Update about-locked-repositories.md (simple typo fix)
  content/migrations/overview/about-locked-repositories.md
Labels: content, enterprise, waiting for review

#26278 Update testing-custom-queries.md
  content/code-security/codeql-cli/using-the-codeql-cli/testing-custom-queries.md
Labels: content, waiting for review, codeql, code security

#26300 fix codeql database api 404 error
  content/code-security/codeql-cli/using-the-codeql-cli/creating-codeql-databases.md
Labels: content, waiting for review, codeql, code security
