Repository github/docs, pull requests merged in 2024-11, with the labels that each got.

#35124 Update the-githubdev-web-based-editor.md
  content/codespaces/the-githubdev-web-based-editor.md
Labels: content, ready to merge, Codespaces

#35123 Update troubleshooting-your-connection-to-github-codespaces.md
  content/codespaces/troubleshooting/troubleshooting-your-connection-to-github-codespaces.md
Labels: content, ready to merge, Codespaces

#35118 Remove quotations of external link on configuring-prebuilds.md
  content/codespaces/prebuilding-your-codespaces/configuring-prebuilds.md
Labels: content, ready to merge, Codespaces

#35117 Remove periods from list in troubleshooting-creation-and-deletion-of-codespaces.md
  content/codespaces/troubleshooting/troubleshooting-creation-and-deletion-of-codespaces.md
Labels: content, ready to merge, Codespaces

#35116 Remove quotes around external link on troubleshooting-github-codespaces
  content/codespaces/troubleshooting/troubleshooting-github-codespaces-clients.md
Labels: content, ready to merge, Codespaces

#35112 Update using-the-github-codespaces-plugin-for-jetbrains.md
  content/codespaces/reference/using-the-github-codespaces-plugin-for-jetbrains.md
Labels: content, ready to merge, Codespaces

#35097 Spelling fixes
  content/actions/migrating-to-github-actions/using-github-actions-importer-to-automate-migrations/extending-github-actions-importer-with-custom-transformers.md
  content/admin/managing-accounts-and-repositories/managing-users-in-your-enterprise/managing-invitations-to-organizations-within-your-enterprise.md
  content/admin/upgrading-your-instance/performing-an-upgrade/upgrading-with-an-upgrade-package.md
  content/admin/upgrading-your-instance/preparing-to-upgrade/overview-of-the-upgrade-process.md
  content/billing/managing-the-plan-for-your-github-account/connecting-an-azure-subscription.md
  content/billing/using-the-new-billing-platform/about-the-new-billing-platform-for-enterprises.md
  content/code-security/code-scanning/troubleshooting-code-scanning/advanced-security-must-be-enabled.md
  content/code-security/code-scanning/troubleshooting-code-scanning/cannot-enable-codeql-in-a-private-repository.md
  content/code-security/code-scanning/troubleshooting-sarif-uploads/results-exceed-limit.md
  content/code-security/codeql-for-vs-code/using-the-advanced-functionality-of-the-codeql-for-vs-code-extension/telemetry-in-codeql-for-visual-studio-code.md
  content/code-security/dependabot/working-with-dependabot/about-dependabot-on-github-actions-runners.md
  content/code-security/securing-your-organization/managing-the-security-of-your-organization/interpreting-security-findings.md
  content/issues/tracking-your-work-with-issues/using-issues/filtering-and-searching-issues-and-pull-requests.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-rulesets/available-rules-for-rulesets.md
  data/reusables/enterprise_installation/hardware-considerations-all-platforms.md
  data/reusables/permissions/dependency-graph.md
  data/reusables/secret-scanning/validity-checks-intro.md
Labels: content, ready to merge

#35084 Update hyperlinks to maintain consistency with other references in documentation
  data/reusables/codespaces/jupyterlab-in-default-image.md
Labels: content, ready to merge, Codespaces

#35080 Remove periods from list in connecting-to-a-private-network#connecting-to-resources-on-a-private-network
  content/codespaces/developing-in-a-codespace/connecting-to-a-private-network.md
Labels: content, ready to merge, Codespaces

#35081 Update to ordered list in using-github-codespaces-in-your-jetbrains-ide#the-jetbrains-remote-development-connection-process
  content/codespaces/developing-in-a-codespace/using-github-codespaces-in-your-jetbrains-ide.md
Labels: content, ready to merge, Codespaces

#35079 Remove periods from list in using-github-codespaces-in-your-jetbrains-ide#prerequisites
  content/codespaces/developing-in-a-codespace/using-github-codespaces-in-your-jetbrains-ide.md
Labels: content, ready to merge, Codespaces

#35076 Add row to Styling text - Underline
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, ready to merge, get started

#35133 Formats file names with backticks
  content/codespaces/setting-your-user-preferences/personalizing-github-codespaces-for-your-account.md
Labels: content, Codespaces

#35147 Fix typo in adding-custom-instructions-for-github-copilot.md
  content/copilot/customizing-copilot/adding-custom-instructions-for-github-copilot.md
Labels: content, copilot

#35193 fixes: moved period inside quotation marks
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/setting-repository-visibility.md
Labels: content, repositories

#35200 Update managing-pull-request-reviews-in-your-repository.md | Add missing period for link.
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/managing-pull-request-reviews-in-your-repository.md
Labels: content, repositories

#35201 Update about-protected-branches.md | Move period inside ending quotation par with GitHub styling.
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-protected-branches/about-protected-branches.md
Labels: content, repositories

#35202 Update about-protected-branches.md | Add period inside quotation
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-protected-branches/about-protected-branches.md
Labels: content, repositories

#35043 Missing originalUriBaseIds property from the SARIF specification
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
Labels: content, triage, more-information-needed, code security, SME reviewed

#35092 Update creating-a-github-pages-site-with-jekyll.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/creating-a-github-pages-site-with-jekyll.md
Labels: content, pages, SME reviewed

#35228 Fix a jq option to get a TODO_OPTION_ID
  content/issues/planning-and-tracking-with-projects/automating-your-project/automating-projects-using-actions.md
Labels: content, waiting for review, issues

#35244 Update understanding-connections-between-repositories.md | Capitalize list lines in understanding-connections-between-repositories.
  content/repositories/viewing-activity-and-data-for-your-repository/understanding-connections-between-repositories.md
Labels: content, repositories

#35245 Update renaming-a-file.md | Add missing period in renaming-a-file
  content/repositories/working-with-files/managing-files/renaming-a-file.md
Labels: content, repositories

#35246 Update rulesets-bypass-step.md | Remove period from list in creating rulesets-for-a-repository
  data/reusables/repositories/rulesets-bypass-step.md
Labels: content, repositories

#35250 Update about-workflows-long.md (missing 'of')
  data/reusables/actions/about-workflows-long.md
Labels: content, actions

#35258 Acknowledge that the available parsers are not compatible with GitHub…
  content/pages/setting-up-a-github-pages-site-with-jekyll/setting-a-markdown-processor-for-your-github-pages-site-using-jekyll.md
Labels: content, waiting for review, pages

#35275 Fix typo in example repo org name
  content/codespaces/prebuilding-your-codespaces/allowing-a-prebuild-to-access-other-repositories.md
Labels: content, Codespaces

#35289 Update default community health file order and wording
  content/communities/setting-up-your-project-for-healthy-contributions/creating-a-default-community-health-file.md
Labels: content, communities

#35291 Update changing-a-commit-message.md | Remove quotes around external resource in changing-a-commit-message#amending-older-or-multiple-commit-messages #35288
  content/pull-requests/committing-changes-to-your-project/creating-and-editing-commits/changing-a-commit-message.md
Labels: content, pull requests

#35292 Fix typo: 'practise' to 'practice'
  content/get-started/start-your-journey/hello-world.md
Labels: content, get started

#35295 Update changing-a-commit-message.md | Remove quotes around external resource in changing-a-commit-message#commit-has-not-been-pushed-online #35287
  content/pull-requests/committing-changes-to-your-project/creating-and-editing-commits/changing-a-commit-message.md
Labels: content, pull requests

#35304 Move period within quotes under 'Forking a repository versus duplicating a repository' heading
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/about-forks.md
Labels: content, pull requests

#35313 Fix typo in prompt-engineering-for-github-copilot.md
  content/copilot/using-github-copilot/prompt-engineering-for-github-copilot.md
Labels: content, copilot

#35282 Update repository visibility changes to be relevant for GHES location
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/setting-repository-visibility.md
Labels: content, enterprise

#35349 Fix formatting of text with octicons - part 2
  content/code-security/code-scanning/creating-an-advanced-setup-for-code-scanning/configuring-advanced-setup-for-code-scanning.md
  content/code-security/code-scanning/enabling-code-scanning/configuring-default-setup-for-code-scanning.md
  content/code-security/code-scanning/managing-your-code-scanning-configuration/editing-your-configuration-of-default-setup.md
  content/code-security/code-scanning/troubleshooting-code-scanning/default-setup-fails-with-a-language.md
  content/code-security/code-scanning/troubleshooting-code-scanning/enabling-default-setup-takes-too-long.md
  content/code-security/code-scanning/troubleshooting-code-scanning/results-different-than-expected.md
  content/code-security/code-scanning/troubleshooting-sarif-uploads/default-setup-enabled.md
  content/code-security/dependabot/working-with-dependabot/about-dependabot-on-github-actions-runners.md
  content/code-security/getting-started/quickstart-for-securing-your-organization.md
  content/code-security/getting-started/quickstart-for-securing-your-repository.md
  content/code-security/secret-scanning/managing-alerts-from-secret-scanning/evaluating-alerts.md
  content/code-security/securing-your-organization/fixing-security-alerts-at-scale/creating-tracking-security-campaigns.md
  content/code-security/securing-your-organization/managing-the-security-of-your-organization/filtering-repositories-in-your-organization-using-the-repository-table.md
  content/code-security/securing-your-organization/managing-the-security-of-your-organization/interpreting-security-findings.md
  content/code-security/security-overview/assessing-code-security-risk.md
  content/code-security/security-overview/exporting-data-from-security-overview.md
  content/code-security/security-overview/viewing-metrics-for-pull-request-alerts.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/enforcing-dependency-review-across-an-organization.md
  content/codespaces/developing-in-a-codespace/opening-an-existing-codespace.md
  content/communities/maintaining-your-safety-on-github/reporting-abuse-or-spam.md
  content/copilot/building-copilot-extensions/managing-the-availability-of-your-copilot-extension.md
  content/copilot/building-copilot-extensions/quickstart-for-github-copilot-extensions.md
  content/copilot/customizing-copilot/extending-the-capabilities-of-github-copilot-in-your-organization.md
  content/copilot/managing-copilot/managing-copilot-as-an-individual-subscriber/extending-the-capabilities-of-github-copilot-in-your-personal-account.md
  content/copilot/managing-copilot/managing-github-copilot-in-your-organization/managing-access-to-github-copilot-in-your-organization/managing-requests-for-copilot-business-in-your-organization.md
  content/copilot/using-github-copilot/asking-github-copilot-questions-in-github.md
  content/copilot/using-github-copilot/using-github-copilot-for-pull-requests/using-copilot-to-help-you-work-on-a-pull-request.md
  content/desktop/making-changes-in-a-branch/committing-and-reviewing-changes-to-your-project-in-github-desktop.md
  content/desktop/making-changes-in-a-branch/managing-branches-in-github-desktop.md
  content/desktop/managing-commits/checking-out-a-commit-in-github-desktop.md
  content/desktop/managing-commits/cherry-picking-a-commit-in-github-desktop.md
  content/desktop/working-with-your-remote-repository-on-github-or-github-enterprise/syncing-your-branch-in-github-desktop.md
  content/discussions/guides/finding-your-discussions.md
  content/discussions/managing-discussions-for-your-community/managing-discussions.md
  content/education/contribute-with-github-community-exchange/getting-started-with-github-community-exchange.md
  content/education/manage-coursework-with-github-classroom/learn-with-github-classroom/viewing-your-assignments-deadline.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/editing-an-assignment.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/extending-an-assignments-deadline-for-an-individual-or-group.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/use-the-git-and-github-starter-assignment.md
  content/get-started/using-github/github-mobile.md
  content/get-started/writing-on-github/editing-and-sharing-content-with-gists/saving-gists-with-stars.md
  content/get-started/writing-on-github/working-with-advanced-formatting/creating-a-permanent-link-to-a-code-snippet.md
  content/github-models/prototyping-with-ai-models.md
Labels: triage

#35350 Fix formatting of text with octicons - part 3
  content/issues/organizing-your-work-with-project-boards/managing-project-boards/creating-a-project-board.md
  content/issues/organizing-your-work-with-project-boards/tracking-work-with-project-boards/adding-issues-and-pull-requests-to-a-project-board.md
  content/issues/planning-and-tracking-with-projects/creating-projects/copying-an-existing-project.md
  content/issues/planning-and-tracking-with-projects/creating-projects/migrating-from-projects-classic.md
  content/issues/planning-and-tracking-with-projects/customizing-views-in-your-project/customizing-the-board-layout.md
  content/issues/planning-and-tracking-with-projects/customizing-views-in-your-project/customizing-the-roadmap-layout.md
  content/issues/planning-and-tracking-with-projects/customizing-views-in-your-project/customizing-the-table-layout.md
  content/issues/planning-and-tracking-with-projects/customizing-views-in-your-project/managing-your-views.md
  content/issues/planning-and-tracking-with-projects/learning-about-projects/finding-your-projects.md
  content/issues/planning-and-tracking-with-projects/learning-about-projects/quickstart-for-projects.md
  content/issues/planning-and-tracking-with-projects/managing-items-in-your-project/archiving-items-from-your-project.md
  content/issues/planning-and-tracking-with-projects/managing-your-project/adding-your-project-to-a-repository.md
  content/issues/planning-and-tracking-with-projects/managing-your-project/adding-your-project-to-a-team.md
  content/issues/planning-and-tracking-with-projects/managing-your-project/exporting-your-projects-data.md
  content/issues/planning-and-tracking-with-projects/managing-your-project/managing-project-templates-in-your-organization.md
  content/issues/planning-and-tracking-with-projects/understanding-fields/about-iteration-fields.md
  content/issues/tracking-your-work-with-issues/using-issues/creating-an-issue.md
  content/issues/tracking-your-work-with-issues/using-issues/editing-an-issue.md
  content/organizations/collaborating-with-groups-in-organizations/viewing-insights-for-dependencies-in-your-organization.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/accessing-compliance-reports-for-your-organization.md
  content/organizations/managing-access-to-your-organizations-project-boards/managing-team-access-to-an-organization-project-board.md
  content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
  content/organizations/managing-organization-settings/managing-custom-properties-for-repositories-in-your-organization.md
  content/organizations/organizing-members-into-teams/requesting-to-add-a-child-team.md
  content/packages/learn-github-packages/viewing-packages.md
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/allowing-changes-to-a-pull-request-branch-created-from-a-fork.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch.md
  content/repositories/creating-and-managing-repositories/cloning-a-repository.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/disabling-projects-in-a-repository.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository.md
  content/repositories/working-with-files/using-files/downloading-source-code-archives.md
  content/repositories/working-with-files/using-files/navigating-code-on-github.md
  content/search-github/github-code-search/using-github-code-search.md
  content/sponsors/receiving-sponsorships-through-github-sponsors/viewing-your-sponsors-and-sponsorships.md
  content/sponsors/sponsoring-open-source-contributors/about-sponsorships-fees-and-taxes.md
  content/sponsors/sponsoring-open-source-contributors/attributing-sponsorships-to-your-organization.md
  content/sponsors/sponsoring-open-source-contributors/paying-for-github-sponsors-by-invoice.md
Labels: triage

#35346 Fix note alert rendering
  content/code-security/code-scanning/enabling-code-scanning/configuring-default-setup-for-code-scanning.md
Labels: triage

#35358 Fix tip alert
  data/reusables/code-scanning/run-additional-queries.md
Labels: content, code security

#35366 Update why-are-my-commits-linked-to-the-wrong-user.md
  content/pull-requests/committing-changes-to-your-project/troubleshooting-commits/why-are-my-commits-linked-to-the-wrong-user.md
Labels: content, pull requests

#35365 Blank lines causing the quote lines to not be joined to the "tip" formatted block.
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/merging-multiple-personal-accounts.md
Labels: content, pull requests

#35371 Fix link to supported packages in 'Code Security > Explore dependencies'
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository.md
Labels: content, code security

#35372 Update changing-a-commit-message.md
  content/pull-requests/committing-changes-to-your-project/creating-and-editing-commits/changing-a-commit-message.md
Labels: content, pull requests

#35373 Update the-githubdev-web-based-editor.md
  content/codespaces/the-githubdev-web-based-editor.md
Labels: content, Codespaces

#35376 Unify the aria attribute for octicons with text
  content/actions/managing-workflow-runs-and-deployments/managing-deployments/managing-environments-for-deployment.md
  content/apps/using-github-apps/reviewing-and-modifying-installed-github-apps.md
  content/code-security/code-scanning/creating-an-advanced-setup-for-code-scanning/customizing-your-advanced-setup-for-code-scanning.md
  content/code-security/code-scanning/managing-code-scanning-alerts/resolving-code-scanning-alerts.md
  content/code-security/code-scanning/troubleshooting-code-scanning/default-setup-fails-with-a-language.md
  content/code-security/getting-started/quickstart-for-securing-your-repository.md
  content/code-security/secret-scanning/using-advanced-secret-scanning-and-push-protection-features/custom-patterns/defining-custom-patterns-for-secret-scanning.md
  content/code-security/security-overview/filtering-alerts-in-security-overview.md
  content/copilot/managing-copilot/managing-github-copilot-in-your-organization/managing-access-to-github-copilot-in-your-organization/managing-requests-for-copilot-business-in-your-organization.md
  content/copilot/using-github-copilot/asking-github-copilot-questions-in-your-ide.md
  content/desktop/working-with-your-remote-repository-on-github-or-github-enterprise/viewing-a-pull-request-in-github-desktop.md
  content/education/contribute-with-github-community-exchange/getting-started-with-github-community-exchange.md
  content/issues/organizing-your-work-with-project-boards/tracking-work-with-project-boards/adding-issues-and-pull-requests-to-a-project-board.md
  content/issues/planning-and-tracking-with-projects/managing-your-project/managing-project-templates-in-your-organization.md
  content/organizations/managing-organization-settings/disabling-project-boards-in-your-organization.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch.md
  content/repositories/working-with-files/using-files/downloading-source-code-archives.md
  content/repositories/working-with-files/using-files/navigating-code-on-github.md
  content/sponsors/getting-started-with-github-sponsors/navigating-your-sponsors-dashboard.md
  content/sponsors/sponsoring-open-source-contributors/paying-for-github-sponsors-by-invoice.md
  data/reusables/actions/add-hosted-runner.md
  data/reusables/actions/github-hosted-runners-navigate-to-repo-org-enterprise.md
  data/reusables/actions/runner-groups-org-navigation.md
  data/reusables/actions/self-hosted-runner-navigate-repo-and-org.md
  data/reusables/actions/self-hosted-runner-navigate-to-org.md
  data/reusables/actions/self-hosted-runner-navigate-to-repo.md
  data/reusables/advanced-security/secret-scanning-add-custom-pattern-details.md
  data/reusables/advanced-security/secret-scanning-generate-regular-expression-custom-pattern.md
  data/reusables/enterprise-accounts/messages-tab.md
  data/reusables/files/add-file.md
  data/reusables/repositories/rulesets-require-code-scanning-results.md
  data/reusables/sponsors/sponsorship-dashboard.md
Labels: triage

#35377 Remove duplicate words
  content/actions/security-for-github-actions/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
  content/actions/using-github-hosted-runners/using-larger-runners/about-larger-runners.md
  content/admin/managing-github-actions-for-your-enterprise/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-cloud.md
  content/code-security/codeql-cli/codeql-cli-manual/github-upload-results.md
  content/contributing/writing-for-github-docs/templates.md
  content/desktop/installing-and-authenticating-to-github-desktop/updating-github-desktop.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-rulesets/available-rules-for-rulesets.md
  content/search-github/getting-started-with-searching-on-github/understanding-the-search-syntax.md
Labels: triage

#35186 Sign all tags by default
  data/reusables/gpg/set-auto-sign.md
Labels: content, authentication, SME reviewed

#35359 Fix bullet list formatting
  content/code-security/codeql-cli/using-the-advanced-functionality-of-the-codeql-cli/creating-codeql-query-suites.md
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  content/code-security/dependabot/working-with-dependabot/troubleshooting-dependabot-errors.md
  content/code-security/getting-started/best-practices-for-preventing-data-leaks-in-your-organization.md
  content/code-security/getting-started/dependabot-quickstart-guide.md
  content/code-security/secret-scanning/introduction/about-secret-scanning.md
  content/code-security/secret-scanning/introduction/supported-secret-scanning-patterns.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-supply-chain-security.md
  content/site-policy/other-site-policies/guidelines-for-legal-requests-of-user-data.md
  data/reusables/dependabot/dependabot-overview.md
Labels: triage

#35411 Remove empty `if` statement
  content/actions/sharing-automations/sharing-actions-and-workflows-with-your-organization.md
Labels: content, actions

#35416 Add note alert header
  content/code-security/dependabot/dependabot-auto-triage-rules/about-dependabot-auto-triage-rules.md
Labels: content, code security

#35425 Fix alert header
  content/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts.md
Labels: content, code security

#35427 Fix alert header - part 2
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  content/code-security/dependabot/working-with-dependabot/about-dependabot-on-github-actions-runners.md
Labels: content, code security

#35428 Fix NuGet typo
  content/admin/monitoring-activity-in-your-enterprise/analyzing-how-your-team-works-with-server-statistics/about-server-statistics.md
  content/code-security/code-scanning/creating-an-advanced-setup-for-code-scanning/codeql-code-scanning-for-compiled-languages.md
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  content/code-security/dependabot/working-with-dependabot/guidance-for-the-configuration-of-private-registries-for-dependabot.md
  content/code-security/dependabot/working-with-dependabot/removing-dependabot-access-to-public-registries.md
Labels: content, code security

#35432 Fix text formatting with colon - part 1
  content/actions/hosting-your-own-runners/managing-self-hosted-runners-with-actions-runner-controller/authenticating-to-the-github-api.md
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/monitoring-and-troubleshooting-self-hosted-runners.md
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/running-scripts-before-or-after-a-job.md
  content/actions/managing-workflow-runs-and-deployments/managing-deployments/managing-environments-for-deployment.md
  content/actions/security-for-github-actions/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
  content/actions/security-for-github-actions/security-hardening-your-deployments/using-openid-connect-with-reusable-workflows.md
  content/actions/using-github-hosted-runners/using-larger-runners/controlling-access-to-larger-runners.md
  content/actions/using-github-hosted-runners/using-larger-runners/managing-larger-runners.md
  content/actions/writing-workflows/choosing-what-your-workflow-does/storing-and-sharing-data-from-a-workflow.md
  content/actions/writing-workflows/choosing-what-your-workflow-does/using-pre-written-building-blocks-in-your-workflow.md
  content/admin/administering-your-instance/administering-your-instance-from-the-web-ui/about-the-management-console.md
  content/admin/administering-your-instance/administering-your-instance-from-the-web-ui/managing-access-to-the-management-console.md
  content/admin/configuring-packages/enabling-github-packages-with-aws.md
  content/admin/configuring-packages/enabling-github-packages-with-minio.md
  content/admin/configuring-settings/configuring-github-connect/enabling-dependabot-for-your-enterprise.md
  content/admin/configuring-settings/configuring-github-connect/enabling-github-connect-for-ghecom.md
  content/admin/data-residency/about-github-enterprise-cloud-with-data-residency.md
  content/admin/enforcing-policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-github-actions-in-your-enterprise.md
  content/admin/enforcing-policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-personal-access-tokens-in-your-enterprise.md
  content/admin/managing-accounts-and-repositories/managing-users-in-your-enterprise/deleting-users-from-your-instance.md
  content/admin/managing-accounts-and-repositories/managing-users-in-your-enterprise/managing-support-entitlements-for-your-enterprise.md
  content/admin/managing-accounts-and-repositories/managing-users-in-your-enterprise/roles-in-an-enterprise.md
  content/admin/managing-accounts-and-repositories/managing-users-in-your-enterprise/viewing-people-in-your-enterprise.md
  content/admin/managing-github-actions-for-your-enterprise/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-amazon-s3-storage.md
  content/admin/managing-github-actions-for-your-enterprise/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-google-cloud-storage.md
  content/admin/managing-iam/provisioning-user-accounts-with-scim/configuring-authentication-and-provisioning-with-pingfederate.md
  content/admin/managing-your-enterprise-account/creating-an-enterprise-account.md
  content/admin/monitoring-and-managing-your-instance/monitoring-your-instance/about-the-monitor-dashboards.md
  content/admin/overview/about-github-enterprise-server.md
  content/admin/overview/about-github-for-enterprises.md
  content/apps/using-github-apps/installing-your-own-github-app.md
  content/authentication/troubleshooting-ssh/using-ssh-over-the-https-port.md
  content/code-security/adopting-github-advanced-security-at-scale/phase-6-rollout-and-scale-secret-scanning.md
  content/code-security/codeql-for-vs-code/using-the-advanced-functionality-of-the-codeql-for-vs-code-extension/using-the-codeql-model-editor.md
  content/code-security/dependabot/dependabot-auto-triage-rules/customizing-auto-triage-rules-to-prioritize-dependabot-alerts.md
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
  content/code-security/dependabot/working-with-dependabot/troubleshooting-dependabot-errors.md
  content/code-security/dependabot/working-with-dependabot/troubleshooting-the-detection-of-vulnerable-dependencies.md
  content/code-security/secret-scanning/introduction/about-push-protection.md
  content/code-security/secret-scanning/introduction/about-secret-scanning.md
  content/code-security/secret-scanning/introduction/supported-secret-scanning-patterns.md
  content/code-security/secret-scanning/secret-scanning-partnership-program/secret-scanning-partner-program.md
  content/code-security/secret-scanning/working-with-secret-scanning-and-push-protection/working-with-push-protection-from-the-rest-api.md
  content/code-security/security-advisories/guidance-on-reporting-and-writing-information-about-vulnerabilities/best-practices-for-writing-repository-security-advisories.md
  content/code-security/security-overview/viewing-security-insights.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/about-supply-chain-security.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/troubleshooting-the-dependency-graph.md
Labels: triage

#35433 Fix text formatting with colon - part 2
  content/codespaces/managing-codespaces-for-your-organization/choosing-who-owns-and-pays-for-codespaces-in-your-organization.md
  content/codespaces/reference/security-in-github-codespaces.md
  content/contributing/setting-up-your-environment-to-work-on-github-docs/troubleshooting-your-environment.md
  content/contributing/style-guide-and-content-model/style-guide.md
  content/contributing/writing-for-github-docs/using-videos-in-github-docs.md
  content/copilot/building-copilot-extensions/about-building-copilot-extensions.md
  content/copilot/building-copilot-extensions/building-a-copilot-skillset-for-your-copilot-extension/building-copilot-skillsets.md
  content/copilot/building-copilot-extensions/managing-the-availability-of-your-copilot-extension.md
  content/copilot/building-copilot-extensions/setting-up-copilot-extensions.md
  content/copilot/customizing-copilot/creating-a-custom-model-for-github-copilot.md
  content/copilot/example-prompts-for-github-copilot-chat/refactoring-code/refactoring-to-implement-a-design-pattern.md
  content/copilot/managing-copilot/configure-personal-settings/configuring-github-copilot-in-your-environment.md
  content/copilot/setting-up-github-copilot/setting-up-github-copilot-for-your-enterprise.md
  content/copilot/setting-up-github-copilot/setting-up-github-copilot-for-your-organization.md
  content/copilot/using-github-copilot/asking-github-copilot-questions-in-github-mobile.md
  content/copilot/using-github-copilot/asking-github-copilot-questions-in-your-ide.md
  content/copilot/using-github-copilot/best-practices-for-using-github-copilot.md
  content/copilot/using-github-copilot/code-review/using-copilot-code-review.md
  content/copilot/using-github-copilot/getting-code-suggestions-in-your-ide-with-github-copilot.md
  content/copilot/using-github-copilot/guides-on-using-github-copilot/refactoring-code-with-github-copilot.md
  content/copilot/using-github-copilot/guides-on-using-github-copilot/writing-tests-with-github-copilot.md
  content/copilot/using-github-copilot/using-extensions-to-integrate-external-tools-with-copilot-chat.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-education-for-students/about-github-education-for-students.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/monitor-students-progress-with-the-assignment-overview-page.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/use-autograding.md
  content/issues/planning-and-tracking-with-projects/managing-your-project/managing-access-to-your-projects.md
  content/issues/tracking-your-work-with-issues/configuring-issues/planning-and-tracking-work-for-your-team-or-project.md
  content/migrations/overview/migration-paths-to-github.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/about-custom-organization-roles.md
  content/organizations/managing-programmatic-access-to-your-organization/setting-a-personal-access-token-policy-for-your-organization.md
  content/organizations/managing-user-access-to-your-organizations-repositories/managing-repository-roles/repository-roles-for-an-organization.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/about-pull-request-reviews.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/viewing-branches-in-your-repository.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-rulesets/available-rules-for-rulesets.md
  content/rest/using-the-rest-api/getting-started-with-the-rest-api.md
  content/site-policy/github-company-policies/github-statement-against-modern-slavery-and-child-labor.md
  content/site-policy/github-terms/github-copilot-extension-developer-policy.md
  content/site-policy/other-site-policies/guidelines-for-legal-requests-of-user-data.md
Labels: content

#35434 Fix text formatting with colon - part 3
  data/reusables/actions/about-actions-metrics.md
  data/reusables/actions/add-hosted-runner.md
  data/reusables/actions/enterprise-gcp-storage-credential-fields.md
  data/reusables/actions/enterprise-minio-storage-credential-fields.md
  data/reusables/actions/enterprise-s3-storage-credential-fields.md
  data/reusables/actions/github-hosted-runners-navigate-to-repo-org-enterprise.md
  data/reusables/actions/larger-runners-troubleshooting-linux-windows.md
  data/reusables/actions/org-roles-for-gh-actions.md
  data/reusables/actions/self-hosted-runner-management-permissions-required.md
  data/reusables/code-scanning/enabling-options.md
  data/reusables/codespaces/devcontainer-properties-1.md
  data/reusables/codespaces/devcontainer-properties-2.md
  data/reusables/community/types-of-interaction-limits.md
  data/reusables/copilot/assess-copilot-suggestion.md
  data/reusables/copilot/copilot-chat-models-list.md
  data/reusables/copilot/policies-for-dotcom.md
  data/reusables/enterprise-migration-tool/limitations-of-migrated-data.md
  data/reusables/enterprise_clustering/proxy_xff_firewall_warning.md
  data/reusables/organizations/pre-defined-organization-roles.md
  data/reusables/repositories/push-rulesets-overview.md
  data/reusables/repositories/rulesets-about-enforcement-statuses.md
  data/reusables/secret-scanning/alert-types.md
Labels: content

#35443 Fix danger alert
  content/admin/monitoring-and-managing-your-instance/configuring-clustering/monitoring-the-health-of-your-cluster.md
  data/reusables/enterprise_clustering/proxy_xff_firewall_warning.md
Labels: content, administering a repo

#35444 Fix alerts to match the markdown notation
  content/admin/managing-iam/using-ldap-for-enterprise-iam/using-ldap.md
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  content/migrations/using-github-enterprise-importer/migrating-between-github-products/migrating-repositories-from-github-enterprise-server-to-github-enterprise-cloud.md
  content/organizations/managing-organization-settings/deleting-an-organization-account.md
  data/reusables/secret-scanning/beta-prs-discussions-wikis-scanned.md
Labels: content

#35446 Update branch name
  content/actions/sharing-automations/creating-workflow-templates-for-your-organization.md
  content/apps/oauth-apps/building-oauth-apps/authenticating-to-the-rest-api-with-an-oauth-app.md
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-githubs-form-schema.md
  content/get-started/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks.md
  content/packages/learn-github-packages/connecting-a-repository-to-a-package.md
  content/packages/working-with-a-github-packages-registry/working-with-the-container-registry.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-repository-languages.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/licensing-a-repository.md
  content/repositories/working-with-files/managing-files/customizing-how-changed-files-appear-on-github.md
  content/search-github/github-code-search/understanding-github-code-search-syntax.md
  content/search-github/searching-on-github/finding-files-on-github.md
  content/search-github/searching-on-github/searching-code.md
Labels: content
