Repository github/docs, pull requests merged in 2024-06, with the labels that each got.

#33265 docs(github-apps): explain github apps name characters limit
  content/apps/creating-github-apps/registering-a-github-app/registering-a-github-app.md
Labels: content, ready to merge, waiting for review, github apps

#33231 Update generating-a-json-web-token-jwt-for-a-github-app.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/generating-a-json-web-token-jwt-for-a-github-app.md
Labels: content, ready to merge, waiting for review, github apps

#32926 Artifact attestation needs `id-token: write` permission in publishing-docker-images.md
  content/actions/publishing-packages/publishing-docker-images.md
  data/reusables/package_registry/publish-docker-image.md
Labels: content, actions, packages, waiting for review

#33130 use official octokit library for validating webhook in typescript
  content/webhooks/using-webhooks/validating-webhook-deliveries.md
Labels: content, ready to merge, waiting for review, webhooks

#33326 Remove errant blocks from Adding a system path
  content/actions/using-workflows/workflow-commands-for-github-actions.md
Labels: content, actions

#33347 Apply link to first set of quotation marks
  content/get-started/getting-started-with-git/managing-remote-repositories.md
Labels: content, get started

#33349 Move period inside quotation
  content/get-started/using-git/pushing-commits-to-a-remote-repository.md
Labels: content, get started

#33350 Remove unnecessary quote at end of link
  content/get-started/using-git/getting-changes-from-a-remote-repository.md
Labels: content, get started

#33351 Add a period to the end of a list line
  content/get-started/using-git/about-git-subtree-merges.md
Labels: content, get started

#33352 Add a period inside the quotation marks
  content/pull-requests/committing-changes-to-your-project/creating-and-editing-commits/changing-a-commit-message.md
Labels: content, get started

#33331 Removes the mention of "internal repositories" in GitHub actions docs for FPT customers
  content/actions/creating-actions/sharing-actions-and-workflows-with-your-organization.md
  data/reusables/actions/outside-collaborators-actions.md
Labels: content, actions

#33405 update about-your-personal-dashboard.md
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-user-account-settings/about-your-personal-dashboard.md
Labels: content, triage, account-and-profile

#33407 update unlinking-your-email-address-from-a-locked-account.md
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/unlinking-your-email-address-from-a-locked-account.md
Labels: content, account-and-profile

#33408 Move period inside quotation marks
  content/migrations/using-github-enterprise-importer/migrating-from-bitbucket-server-to-github-enterprise-cloud/overview-of-a-migration-from-bitbucket-server-to-github-enterprise-cloud.md
Labels: content

#33409 fix: typo dependabot configuration
  data/reusables/dependabot/dependabot-version-updates-supported-options-for-groups.md
Labels: content, dependabot

#33197 Updates environment files documentation
  content/actions/using-workflows/workflow-commands-for-github-actions.md
Labels: content, actions, waiting for review

#32613 Update building-and-testing-net.md
  content/actions/automating-builds-and-tests/building-and-testing-net.md
Labels: content, actions, waiting for review

#33497 Clean up merge-conflict text
  content/copilot/github-copilot-chat/copilot-chat-in-ides/using-github-copilot-chat-in-your-ide.md
Labels: content, copilot

#33502 Provide example of using an output to define two matrixes
  content/actions/using-jobs/using-a-matrix-for-your-jobs.md
  data/reusables/actions/jobs/matrix-used-twice.md
Labels: content, actions, waiting for review

#33529 Fix heading structure of workflow-syntax-for-github-actions
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions

#33554 Remove use of 'actions-cache-org-ui' feature version
  content/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization.md
Labels: content, organizations

#33590 Remove periods from list in personalizing-your-profile#setting-your-l…
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile.md
Labels: content, account-and-profile

#33605 fix: typo in username
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-email-preferences/remembering-your-github-username-or-email.md
Labels: content, account-and-profile

#33608 Add missing period in inviting-collaborators-to-a-personal-repository#inviting-a-collaborator-to-a-personal-repository
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-access-to-your-personal-repositories/inviting-collaborators-to-a-personal-repository.md
Labels: content, account-and-profile

#33610 fix: Break up run on sentence
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/deleting-your-personal-account.md
Labels: triage

#33612 Format text with backticks to align with style guide
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-organizations-profile.md
Labels: content, account-and-profile

#33646 docs: Update scope of write:org in oauth apps
  content/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps.md
Labels: content, github apps

#33648 Composable actions support if conditionals
  content/actions/using-workflows/avoiding-duplication.md
Labels: content, actions

#33650 docs : Move period inside quotation marks for consistency
  data/reusables/profile/create-profile-readme.md
Labels: content, account-and-profile

#33655 Remove unneeded periods from list
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/setting-your-profile-to-private.md
Labels: triage

#33656 Remove unneeded periods from list
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/setting-your-profile-to-private.md
Labels: triage

#33652 fix: remove periods from list in about-notifications#subscription-options
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/about-notifications.md
Labels: content, account-and-profile

#32650 Update supported-languages.md to show its IaaC capabilities
  data/reusables/copilot/supported-languages.md
Labels: content, waiting for review, copilot

#33732 Add a missing word "sent"
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
Labels: content, account-and-profile

#33734 Remove single quotation marks
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
Labels: content, account-and-profile

#33753 Update Common reasons that contributions are not counted
  content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/why-are-my-contributions-not-showing-up-on-my-profile.md
Labels: content, account-and-profile

#33733 Remove periods from list items
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
Labels: content, account-and-profile

#33763 Update exporting-a-software-bill-of-materials-for-your-repository.md
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/exporting-a-software-bill-of-materials-for-your-repository.md
Labels: content, code security
