Repository github/docs, pull requests merged in 2024-07, with the labels that each got.

#33783 docs: mismatch between explanation and code in triggers
  content/actions/publishing-packages/publishing-docker-images.md
  data/reusables/actions/release-trigger-workflow.md
Labels: content, actions, ready to merge

#33784 docs: update irrelvant links
  content/actions/publishing-packages/publishing-java-packages-with-gradle.md
  content/actions/publishing-packages/publishing-java-packages-with-maven.md
Labels: content, actions, ready to merge

#33832 Replace comma with a period, capitalize "w" in "warnings"
  data/reusables/notifications/vulnerable-dependency-notification-options.md
Labels: content, account-and-profile

#33834 Remove extra space in configuring-notifications
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
Labels: content, account-and-profile

#33833 move periods inside
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
Labels: content, account-and-profile

#33835 replace comma with period
  data/reusables/notifications/vulnerable-dependency-notification-options.md
Labels: content, account-and-profile

#33836 capitalize first letter in each line
  data/reusables/notifications/vulnerable-dependency-notification-options.md
Labels: content, account-and-profile

#33839 typo in sample nested list item markdown literal
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, get started

#33872 Update setting-your-default-editor-for-github-codespaces.md
  content/codespaces/setting-your-user-preferences/setting-your-default-editor-for-github-codespaces.md
Labels: content, Codespaces

#33876 typo: `projectws` -> `projects`
  content/site-policy/github-terms/github-sponsors-additional-terms.md
Labels: content, site policy

#33314 Added an item with github source authentication to the dotnet CLI in the instructions for GitHub Packages
  content/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry.md
Labels: content, packages, SME reviewed

#33912 Remove periods from list
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/viewing-and-triaging-notifications/managing-notifications-from-your-inbox.md
Labels: content, account-and-profile

#33908 Update filtering-and-searching-issues-and-pull-requests.md
  content/issues/tracking-your-work-with-issues/filtering-and-searching-issues-and-pull-requests.md
Labels: content, pull requests

#33918 fix: #33909
  content/authentication/keeping-your-account-and-data-secure/switching-between-accounts.md
Labels: content, authentication

#33920 Update managing-access-for-a-migration-from-azure-devops.md
  content/migrations/using-github-enterprise-importer/migrating-from-azure-devops-to-github-enterprise-cloud/managing-access-for-a-migration-from-azure-devops.md
Labels: content, enterprise

#33922 Fix for #33905
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/viewing-and-triaging-notifications/customizing-a-workflow-for-triaging-your-notifications.md
Labels: content, account-and-profile

#33935 Update the-githubdev-web-based-editor.md
  content/codespaces/the-githubdev-web-based-editor.md
Labels: content, Codespaces

#33932 Remove periods from customizing-a-workflow-for-triaging-your-notifications
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/viewing-and-triaging-notifications/customizing-a-workflow-for-triaging-your-notifications.md
Labels: content, account-and-profile

#33914 fix: #33907
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/managing-subscriptions-for-activity-on-github/managing-your-subscriptions.md
Labels: content, account-and-profile

#33938 Switch ", to ," in the creating-a-team.md page
  content/organizations/organizing-members-into-teams/creating-a-team.md
Labels: content, organizations

#33812 update github sponsors tax document link description
  data/reusables/sponsors/tax-form-information-dev.md
Labels: content, sponsors, more-information-needed, SME reviewed

#33569 actions/publishing(nodejs): `id-token: write` for `npm publish` with `--provenance`
  content/actions/publishing-packages/publishing-nodejs-packages.md
Labels: content, actions, waiting for review

#33948 GitHub Bug Bounty Program Legal Safe Harbor: site policy typo fix
  content/site-policy/security-policies/github-bug-bounty-program-legal-safe-harbor.md
Labels: content, site policy

#33947 GitHub Terms for Additional Products and Features: site policy typo fix
  content/site-policy/github-terms/github-terms-for-additional-products-and-features.md
Labels: content, site policy

#33946 GitHub Misinformation and Disinformation: site policy typo fix
  content/site-policy/acceptable-use-policies/github-misinformation-and-disinformation.md
Labels: content, site policy

#33949 GitHub Impersonation: site policy typo fix
  content/site-policy/acceptable-use-policies/github-impersonation.md
Labels: content, site policy

#33954 Clarify that date ranges are inclusive
  content/search-github/getting-started-with-searching-on-github/understanding-the-search-syntax.md
Labels: content, search-github

#33929 Clarify callout options and update to markdown from Liquid
  content/contributing/style-guide-and-content-model/style-guide.md
  content/contributing/writing-for-github-docs/using-markdown-and-liquid-in-github-docs.md
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, contributing docs, waiting for review

#33632 Update to v3.4.2 of setup-action
  content/actions/automating-builds-and-tests/building-and-testing-java-with-gradle.md
  content/actions/publishing-packages/publishing-java-packages-with-gradle.md
Labels: content, actions, waiting for review

#33951 Corrected Ruff linter call example
  content/actions/automating-builds-and-tests/building-and-testing-python.md
Labels: content, actions, waiting for review

#33955 Update installing-the-github-copilot-extension-in-your-environment.md
  content/copilot/managing-copilot/configure-personal-settings/installing-the-github-copilot-extension-in-your-environment.md
Labels: content, waiting for review, copilot

#33799 Update paste-gpg-key-id.md
  data/reusables/gpg/paste-gpg-key-id.md
Labels: content, waiting for review, authentication

#33960 Update github-command-palette.md
  content/get-started/accessibility/github-command-palette.md
Labels: content, get started

#33966 Update section-using-environments-for-jobs.md
  data/reusables/actions/jobs/section-using-environments-for-jobs.md
Labels: content, actions

#33975 Update "Callouts" to "Alerts"
  content/contributing/writing-for-github-docs/best-practices-for-github-docs.md
Labels: content, contributing docs

#33994 Remove annoying newline in `copy-gpg-key-id.md`
  data/reusables/gpg/copy-gpg-key-id.md
Labels: content

#34001 Fix reusables readme link
  content/contributing/style-guide-and-content-model/style-guide.md
Labels: content, contributing docs

#33917 Fix regression in artifact-attestations-step-for-container-images.md
  content/actions/publishing-packages/publishing-docker-images.md
  data/reusables/actions/artifact-attestations-step-for-container-images.md
  data/reusables/package_registry/publish-docker-image.md
Labels: content, actions, waiting for review

#33993 Added shell copy in `generating-a-new-gpg-key.md`
  content/authentication/managing-commit-signature-verification/generating-a-new-gpg-key.md
Labels: content, authentication

#33786 About billing and sponsorship payments
  content/sponsors/sponsoring-open-source-contributors/about-sponsorships-fees-and-taxes.md
Labels: content, sponsors, SME reviewed

#34023 Add missing space for command in migrating-from-bitbucket-pipelines-with-github-actions-importer.md
  content/actions/migrating-to-github-actions/automated-migrations/migrating-from-bitbucket-pipelines-with-github-actions-importer.md
Labels: content, actions

#33695 Fixes GHES docs for PAT as SSO not available
  assets/images/help/settings/personal-access-tokens-ghes.png
  content/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens.md
Labels: content, more-information-needed, authentication

#33166 fix: postCreate.sh doesn't execute without providing execute permission to the script first
  content/codespaces/developing-in-a-codespace/rebuilding-the-container-in-a-codespace.md
Labels: content, waiting for review, Codespaces

#34042 (Fixed) Add period in quotation marks in Apps page
  content/apps/creating-github-apps/authenticating-with-a-github-app/authenticating-as-a-github-app-installation.md
Labels: content, github apps

#34007 Updates repo topics URL for GHES docs
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/classifying-your-repository-with-topics.md
Labels: content, waiting for review, repositories

#34052 Fix typos
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
  content/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories.md
Labels: content, code security, account-and-profile

#34053 nit: remove extraneous space
  content/actions/managing-workflow-runs/canceling-a-workflow.md
Labels: content, actions

#33310 Add RUNNER_ENVIRONMENT to default env variables docs
  content/actions/learn-github-actions/variables.md
Labels: content, actions, SME reviewed

#34062 Update abilities-and-restrictions-of-managed-user-accounts.md
  content/admin/managing-iam/understanding-iam-for-enterprises/abilities-and-restrictions-of-managed-user-accounts.md
Labels: content, waiting for review, administering a repo

#33601 Update configuring-github-copilot-in-your-environment.md
  content/copilot/managing-copilot/configure-personal-settings/configuring-github-copilot-in-your-environment.md
Labels: content, waiting for review, copilot

#34015 Drop verbose from cp call
  content/actions/hosting-your-own-runners/managing-self-hosted-runners-with-actions-runner-controller/deploying-runner-scale-sets-with-actions-runner-controller.md
Labels: content, actions, waiting for review

#34090 Update about-security-overview.md for customer feedback
  content/code-security/security-overview/about-security-overview.md
Labels: content, code security

#34095 fix: environments on implicit builds have branch source
  content/actions/administering-github-actions/managing-environments-for-deployment.md
Labels: content, actions

#34103 page publishing source visibility fix
  data/reusables/pages/private_pages_are_public_warning.md
Labels: content, pages

#34110 fix: Add missing period in `updating-your-github-access-credentials#changing-an-existing-password`
  content/authentication/keeping-your-account-and-data-secure/updating-your-github-access-credentials.md
Labels: content, authentication

#34111 fix: Move period inside quotations in `managing-your-personal-access-tokens#personal-access-tokens-classic`
  data/reusables/user-settings/patv2-limitations.md
Labels: content, authentication

#34113 fix: Remove period from list line in removing-sensitive-data-from-a-repository#about-sensitive-data-exposure
  content/authentication/keeping-your-account-and-data-secure/removing-sensitive-data-from-a-repository.md
Labels: content, authentication

#33751 Indicate that you may not be prompted to re-authenticate
  content/authentication/managing-commit-signature-verification/adding-a-gpg-key-to-your-github-account.md
Labels: content, waiting for review, authentication

#33375 Update working-with-the-nuget-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry.md
Labels: content, packages, waiting for review, needs SME
