Repository github/docs, pull requests merged in 2024-08, with the labels that each got.

#34063 Update installing-a-github-app-from-github-marketplace-for-your-organ…
  content/apps/using-github-apps/installing-a-github-app-from-github-marketplace-for-your-organizations.md
Labels: content, github apps

#33683 Update troubleshooting-404-errors-for-github-pages-sites.md
  content/pages/getting-started-with-github-pages/troubleshooting-404-errors-for-github-pages-sites.md
Labels: content, pages, more-information-needed, SME reviewed

#34190 docs: remove unnecessary `"`
  content/actions/security-guides/using-secrets-in-github-actions.md
Labels: content, actions

#34194 Fix formatting for tasklist title
  content/issues/managing-your-tasks-with-tasklists/creating-a-tasklist.md
Labels: content, issues

#34203 update commit message section
  content/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.md
Labels: content, code security

#34226 Move period inside ending quotation
  data/reusables/two_fa/backup_options_during_2fa_enrollment.md
Labels: content, authentication

#34229 update note two factor authentication
  data/reusables/two_fa/mandatory-2fa-contributors-2023-nested.md
Labels: content, authentication

#34098 Update managing-multiple-accounts.md
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/managing-multiple-accounts.md
Labels: content, stale, more-information-needed, account-and-profile

#34197 Bugfix creating-a-composite-action.md
  content/actions/creating-actions/creating-a-composite-action.md
Labels: content, actions, more-information-needed

#33797 Update python example to use PyJWT
  content/apps/creating-github-apps/authenticating-with-a-github-app/generating-a-json-web-token-jwt-for-a-github-app.md
Labels: content, github apps, SME reviewed

#34233 (Fixed) Move period inside ending quotations in hanging-your-two-fact…
  data/reusables/two_fa/enable-totp-app-method.md
Labels: content, authentication

#33842 Update misleading note in section-defining-outputs-for-jobs.md
  data/reusables/actions/jobs/section-defining-outputs-for-jobs.md
Labels: content, actions, SME reviewed

#34239 Update to v4.0.0 of setup-gradle action
  content/actions/automating-builds-and-tests/building-and-testing-java-with-gradle.md
  content/actions/publishing-packages/publishing-java-packages-with-gradle.md
Labels: content, actions

#34235 Fix example for running a workflow when a pull request is approved
  content/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows.md
Labels: content, actions, waiting for review

#34248 fix:docs-using-a-security-key #34224
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/accessing-github-using-two-factor-authentication.md
Labels: content, authentication

#34250 Fix intro title
  content/actions/managing-workflow-runs-and-deployments/managing-workflow-runs/approving-workflow-runs-from-public-forks.md
Labels: content, actions

#34182 Update testing-your-github-pages-site-locally-with-jekyll.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/testing-your-github-pages-site-locally-with-jekyll.md
Labels: content, waiting for review, pages, needs SME

#34305 Clarify that the clone is over https
  content/apps/creating-github-apps/writing-code-for-a-github-app/building-ci-checks-with-a-github-app.md
Labels: content, github apps

#33859 Patch 1
  content/apps/creating-github-apps/authenticating-with-a-github-app/generating-a-json-web-token-jwt-for-a-github-app.md
Labels: content, github apps, SME reviewed

#34314 Clarify Git LFS installation and verification steps
  content/repositories/working-with-files/managing-large-files/installing-git-large-file-storage.md
Labels: content, enterprise

#34324 fix: make the placeholder tag in text match the shell command
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/checking-out-pull-requests-locally.md
Labels: content, pull requests

#34332 Switch to reusable
  content/repositories/creating-and-managing-repositories/repository-limits.md
Labels: content, repositories

#34341 Fix wording for updating a knowledge base
  content/copilot/managing-copilot/managing-github-copilot-in-your-organization/enhancing-copilot-for-your-organization/managing-copilot-knowledge-bases.md
Labels: content, copilot

#34349 nit: remove comma
  data/reusables/user-settings/token_access_capabilities.md
Labels: content, github apps

#34129 Remove mention of things you can no longer do
  content/actions/use-cases-and-examples/project-management/using-github-actions-for-project-management.md
Labels: content, actions, waiting for review

#34306 Remove `id-token: read` from available permissions
  content/actions/security-for-github-actions/security-guides/automatic-token-authentication.md
  content/actions/security-for-github-actions/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
  content/actions/security-for-github-actions/security-hardening-your-deployments/configuring-openid-connect-in-azure.md
  content/actions/security-for-github-actions/security-hardening-your-deployments/configuring-openid-connect-in-cloud-providers.md
  content/actions/security-for-github-actions/security-hardening-your-deployments/configuring-openid-connect-in-google-cloud-platform.md
  data/reusables/actions/github-token-available-permissions.md
  data/reusables/actions/github-token-scope-descriptions.md
  data/reusables/actions/oidc-permissions-token.md
Labels: content, actions, waiting for review, needs SME

#34403 Fix typo in the "Skipping workflow runs" article
  content/actions/managing-workflow-runs-and-deployments/managing-workflow-runs/skipping-workflow-runs.md
Labels: content, actions

#34426 Correct sidebar section from "Archives" to "Archive"
  data/reusables/audit_log/audit_log_sidebar_for_org_admins.md
Labels: content, administering a repo

#34435 Remove .git from directory name
  content/repositories/creating-and-managing-repositories/duplicating-a-repository.md
Labels: content, repositories
