Repository github/docs, pull requests merged in 2024-10, with the labels that each got.

#34816 Configuring Cloudsmith as a private registry
  content/code-security/dependabot/working-with-dependabot/guidance-for-the-configuration-of-private-registries-for-dependabot.md
Labels: content, code security, needs SME

#34814 Fix for 34805
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
Labels: content, ready to merge, repositories

#34799 Update managing-notifications-from-your-inbox.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/viewing-and-triaging-notifications/managing-notifications-from-your-inbox.md
Labels: content, ready to merge, account-and-profile

#34767 Update managing-a-custom-domain-for-your-github-pages-site.md
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
Labels: content, ready to merge, pages

#34657 Clarify the existing pending job is canceled
  data/reusables/actions/actions-group-concurrency.md
Labels: content, actions, SME reviewed

#34837 Add example collapsible section that is open by default
  content/get-started/writing-on-github/working-with-advanced-formatting/organizing-information-with-collapsed-sections.md
Labels: content, more-information-needed, get started

#34879 timeout-minutes doesn't support fractional values
  content/actions/writing-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions

#34436 Clarify GITHUB_SHA for push event
  content/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows.md
Labels: content, actions, SME reviewed

#33621 Fix job services localhost example in workflow-syntax-for-github-actions.md
  content/actions/writing-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions, SME reviewed

#34646 Avoid linting issues with Super-Linter
  content/actions/writing-workflows/choosing-what-your-workflow-does/workflow-commands-for-github-actions.md
Labels: content, actions, SME reviewed

#34907 Fix container<->host port mapping notes
  content/actions/use-cases-and-examples/using-containerized-services/about-service-containers.md
  content/actions/writing-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions

#34915 Update 'Building and testing Python' for Python 3.13
  content/actions/use-cases-and-examples/building-and-testing/building-and-testing-python.md
Labels: content, actions, waiting for review

#34927 Update comparing-commits.md to mention "OWNER:REPO:BRANCH" new pattern
  content/pull-requests/committing-changes-to-your-project/viewing-and-comparing-commits/comparing-commits.md
Labels: content, pull requests

#34809 Update the tag of aws-actions/configure-aws-credentials
  content/actions/security-for-github-actions/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
Labels: content, actions, SME reviewed

#34960 Replaces colon with a period in persisting environment variables and …
  data/reusables/codespaces/workspaces-directory.md
Labels: content, Codespaces

#34959 Removes periods from list in developing in a codespace
  content/codespaces/developing-in-a-codespace/developing-in-a-codespace.md
Labels: content, Codespaces

#34958 Adds periods to the end of each list line, as each line is a complete…
  content/codespaces/developing-in-a-codespace/persisting-environment-variables-and-temporary-files.md
Labels: content, Codespaces

#34962 Update about-github-campus-program.md
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-at-your-educational-institution/about-github-campus-program.md
Labels: content, waiting for review, education

#34975 Clarify case sensitive search
  content/search-github/github-code-search/understanding-github-code-search-syntax.md
Labels: content, search-github

#34820 sarif-support-for-code-scanning.md:`runAutomationDetails` fix
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
Labels: content, code security

#34996 Fix typo in guidance-for-the-configuration-of-private-registries-for-…
  content/code-security/dependabot/working-with-dependabot/guidance-for-the-configuration-of-private-registries-for-dependabot.md
Labels: content, code security

#35016 Update internal file links in content/README.md
  content/README.md
Labels: content, contributing docs

#35018 Unifying glossary items format
  content/copilot/building-copilot-extensions/copilot-extensions-glossary.md
Labels: content, copilot

#35023 Update getting-started-with-github-codespaces-for-machine-learning.md
  content/codespaces/developing-in-a-codespace/getting-started-with-github-codespaces-for-machine-learning.md
Labels: content, Codespaces

#34833 Add context information for `jobs.<job_id>.uses`
  content/actions/writing-workflows/choosing-what-your-workflow-does/accessing-contextual-information-about-workflow-runs.md
  data/reusables/actions/reusable-workflow-calling-syntax.md
Labels: content, actions, SME reviewed

#35065 Mark `converted_to_discussion` issue event type as available in timeline API
  content/rest/using-the-rest-api/issue-event-types.md
Labels: content, developers
