Repository github/docs, pull requests merged in 2024-09, with the labels that each got.

#34454 Use consistent format for placeholders in Open ID section
  content/actions/security-for-github-actions/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
  content/actions/security-for-github-actions/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
  content/actions/security-for-github-actions/security-hardening-your-deployments/configuring-openid-connect-in-google-cloud-platform.md
  content/actions/security-for-github-actions/security-hardening-your-deployments/configuring-openid-connect-in-hashicorp-vault.md
Labels: content, actions

#34468 Remove double period in "Creating a template repository"
  content/repositories/creating-and-managing-repositories/creating-a-template-repository.md
Labels: content, repositories

#34469 Reword sentence to avoid hard-coded provider
  data/reusables/actions/gai-inspect-audit.md
Labels: content, actions

#34471 Update link to "vulnerability" in CVE program glossary
  content/code-security/security-advisories/working-with-global-security-advisories-from-the-github-advisory-database/about-the-github-advisory-database.md
Labels: content, code security

#34458 Remove port mapping for container jobs
  content/actions/use-cases-and-examples/using-containerized-services/creating-postgresql-service-containers.md
Labels: content, actions, waiting for review

#34481 Update creating-diagrams.md
  content/get-started/writing-on-github/working-with-advanced-formatting/creating-diagrams.md
Labels: content, get started

#34491 fix: revise link and improve information about topics in the contributing docs
  content/contributing/style-guide-and-content-model/about-topics.md
Labels: content, contributing docs, waiting for review

#34496 Fixes github/docs#34351
  content/rest/using-the-rest-api/github-event-types.md
Labels: content, rest

#34510 Fixes github/docs#33389
  content/actions/writing-workflows/choosing-what-your-workflow-does/accessing-contextual-information-about-workflow-runs.md
Labels: content, actions, more-information-needed

#34253 Update `pwsh` commands
  content/actions/writing-workflows/choosing-what-your-workflow-does/workflow-commands-for-github-actions.md
Labels: content, actions, ready to merge, SME reviewed

#34453 Upgrade node version for service containers
  content/actions/migrating-to-github-actions/manually-migrating-to-github-actions/migrating-from-gitlab-cicd-to-github-actions.md
  content/actions/use-cases-and-examples/using-containerized-services/creating-postgresql-service-containers.md
  content/actions/use-cases-and-examples/using-containerized-services/creating-redis-service-containers.md
  content/actions/writing-workflows/about-workflows.md
  data/reusables/actions/service-container-host.md
Labels: content, actions, ready to merge, SME reviewed

#34525 Use consistent language for placeholders in AWS OpenID setup
  content/actions/security-for-github-actions/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services.md
Labels: content, actions, ready to merge

#34528 Correct text to match URL ID example in project automation documentation
  content/issues/planning-and-tracking-with-projects/automating-your-project/automating-projects-using-actions.md
Labels: content, ready to merge, issues

#34540 docs: Remove periods from Managing deploy keys list
  content/authentication/connecting-to-github-with-ssh/managing-deploy-keys.md
Labels: content, ready to merge, authentication

#34549 docs: Update mandatory 2fa contributors 2023 to past tense
  data/reusables/two_fa/mandatory-2fa-contributors-2023-nested.md
Labels: content, ready to merge, authentication

#34553 Update quickstart-for-writing-on-github.md
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/quickstart-for-writing-on-github.md
Labels: content, ready to merge, get started

#34555 docs: Add more details to secret output in GitHub Actions
  data/reusables/actions/jobs/section-defining-outputs-for-jobs.md
Labels: content, actions, ready to merge

#34578 Use "Actions Runner Controller" consistently
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/using-labels-with-self-hosted-runners.md
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/using-self-hosted-runners-in-a-workflow.md
  data/reusables/actions/self-hosted-runner-labels-runs-on.md
Labels: content, actions

#34584 Fix a non-existent `#pull_request_target` anchor
  content/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows.md
Labels: content, actions

#34597 update typo in the sentence
  content/code-security/secret-scanning/introduction/about-secret-scanning.md
Labels: content, code security

#34619 Clarify default org member permissions
  content/organizations/managing-user-access-to-your-organizations-repositories/managing-repository-roles/setting-base-permissions-for-an-organization.md
Labels: content, waiting for review, organizations

#34564 Include + in the refspec in sample commands for split push (2 GB limit)
  content/get-started/using-git/troubleshooting-the-2-gb-push-limit.md
Labels: content, SME reviewed, get started

#34465 docs: add required title parameter to message command
  content/actions/writing-workflows/choosing-what-your-workflow-does/workflow-commands-for-github-actions.md
Labels: content, actions, Review on hold

#34641 Update about-azure-private-networking-for-github-hosted-runners-in-yo…
  content/organizations/managing-organization-settings/about-azure-private-networking-for-github-hosted-runners-in-your-organization.md
Labels: content, organizations

#34650 docs: Update code block formatting
  content/authentication/troubleshooting-ssh/using-ssh-over-the-https-port.md
Labels: triage

#34663 Typo fix
  data/reusables/gated-features/draft-prs.md
Labels: triage

#34661 Change Ubuntu 24.04 status from beta to GA
  data/reusables/actions/supported-github-runners.md
Labels: content, actions

#33531 Expand Section Links documentation and add a section for Custom Anchors
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-readmes.md
  data/reusables/repositories/section-links.md
Labels: content, waiting for review, get started

#34682 docs: Update migrating from CircleCI to GitHub Actions
  content/actions/migrating-to-github-actions/using-github-actions-importer-to-automate-migrations/migrating-from-circleci-with-github-actions-importer.md
Labels: content, actions

#34708 Move period inside quotations in connecting-an-azure-subscription#message-need-admin-approval
  content/billing/managing-the-plan-for-your-github-account/connecting-an-azure-subscription.md
Labels: triage

#34709 Add periods to list in upgrading-your-accounts-plan#troubleshooting-a-500-error-when-upgrading
  data/reusables/dotcom_billing/500-error.md
Labels: triage

#34707 Remove periods from list in about-billing-for-github-codespaces#storage-costs-for-prebuilds
  content/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces.md
Labels: triage

#34698 Update `about-code-owners.md`
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
Labels: content, waiting for review, repositories

#34739 Add missing space to using-an-api-gateway-with-oidc.md
  content/actions/using-github-hosted-runners/connecting-to-a-private-network/using-an-api-gateway-with-oidc.md
Labels: content, actions
