Repository github/docs, pull requests merged in 2024-02, with the labels that each got.

#31390 Doc fix: Fix incorrect word choice
  content/get-started/learning-about-github/about-github-advanced-security.md
Labels: content, get started

#31146 Add shortcut for stashing current changes
  content/desktop/overview/github-desktop-keyboard-shortcuts.md
Labels: content, desktop

#31381 Fix sample OAuth verification URI
  content/apps/oauth-apps/building-oauth-apps/authorizing-oauth-apps.md
Labels: content, waiting for review, github apps

#30907 ref_name-description.md: fix format for PRs
  data/reusables/actions/ref_name-description.md
Labels: content, actions, waiting for review

#31103 Update adding-a-new-ssh-key-to-your-github-account.md
  content/authentication/connecting-to-github-with-ssh/adding-a-new-ssh-key-to-your-github-account.md
Labels: content, waiting for review, ssh

#29915 [Actions] Document authentication for service containers
  content/actions/using-containerized-services/about-service-containers.md
Labels: content, actions, waiting for review

#31433 Fixes small grammatical error/typo in `using-query-parameters-to-create-a-pull-request.md`
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/using-query-parameters-to-create-a-pull-request.md
Labels: content, pull requests

#31439 Update label-properties.md
  data/reusables/issue-events/label-properties.md
Labels: content, rest

#31429 Use https:// instead of http://
  content/actions/hosting-your-own-runners/managing-self-hosted-runners-with-actions-runner-controller/authenticating-to-the-github-api.md
Labels: content, actions, waiting for review

#31481 Add note that workflow_dispatch workflows must be on the default branch
  data/reusables/actions/workflow-dispatch.md
Labels: content, actions

#31496 Fix typo in basic-writing-and-formatting-syntax.md
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, get started

#31498 Remove accidental `</span>` from SSH command output
  content/authentication/connecting-to-github-with-ssh/using-ssh-agent-forwarding.md
Labels: content, ssh

#31492 Remove bad examples for PR templates
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository.md
Labels: content, communities, pull requests

#31534 Remove extra word in about-code-owners.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
Labels: content, repositories

#31531 Fixup contributing docs and links
  .github/CONTRIBUTING.md
  contributing/development.md
Labels: content, contributing docs

#31526 Content Corrections
  content/copilot/managing-copilot-business/configuring-content-exclusions-for-github-copilot.md
Labels: content, copilot

#31540 Discussions that are announcements can't be transferred
  content/discussions/managing-discussions-for-your-community/managing-discussions.md
Labels: content

#31487 Update necessary_ports.md
  data/reusables/enterprise_installation/necessary_ports.md
Labels: content, enterprise, waiting for review

#31569 Fix indentation for code example in ruby actions
  content/actions/automating-builds-and-tests/building-and-testing-ruby.md
Labels: content, actions

#31597 Content Corrections.
  content/copilot/managing-copilot-business/configuring-content-exclusions-for-github-copilot.md
  content/copilot/managing-copilot-business/managing-access-for-copilot-business-in-your-organization.md
Labels: content, copilot

#31415 Update using-github-classroom-with-github-cli.md to reflect default s…
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/using-github-classroom-with-github-cli.md
Labels: content, waiting for review, education, needs SME

#31551 Change site to application in desktop shortcuts
  content/desktop/overview/github-desktop-keyboard-shortcuts.md
Labels: content, waiting for review, desktop

#31638 Fix typo in section-choosing-the-runner-for-a-job.md
  data/reusables/actions/jobs/section-choosing-the-runner-for-a-job.md
Labels: content, actions, waiting for review

#31624 Update for gradle/actions@v3.1.0
  content/actions/automating-builds-and-tests/building-and-testing-java-with-gradle.md
  content/actions/publishing-packages/publishing-java-packages-with-gradle.md
  data/reusables/actions/gradle-workflow-steps.md
Labels: content, actions, ready to merge, waiting for review

#31680 Consistent style-guide.md repository link styling
  content/contributing/style-guide-and-content-model/style-guide.md
Labels: content, contributing docs

#31682 Fix style-guide.md pat_v1 vs. pat_v2 product name render
  content/contributing/style-guide-and-content-model/style-guide.md
Labels: content, contributing docs

#31687 Fix style guide examples formatting and ellipsis
  content/contributing/style-guide-and-content-model/style-guide.md
Labels: content, contributing docs

#31688 Add missing example octicon
  content/contributing/style-guide-and-content-model/style-guide.md
Labels: content, contributing docs

#31689 Fix style-guide.md endraw rendering
  content/contributing/style-guide-and-content-model/style-guide.md
Labels: content, contributing docs

#31681 docs(notifications) add approval_requested reason type
  content/rest/activity/notifications.md
Labels: content, ready to merge, waiting for review, rest

#31342 add authentication instructions to yarn publish
  content/actions/publishing-packages/publishing-nodejs-packages.md
Labels: content, actions, waiting for review

#31709 Apply style guides to "Manage security & analysis"
  data/reusables/code-scanning/default-setup-info-link.md
Labels: content, code security

#31711 Apply style guides to "Upgrade to Corporate ToS"
  content/organizations/managing-organization-settings/upgrading-to-the-github-customer-agreement.md
Labels: content, organizations

#31695 docs(notifications): add missing `security_advisory_credit` reason
  content/rest/activity/notifications.md
Labels: content, waiting for review, rest

#31698 docs(notifications): add missing `member_feature_requested` reason
  content/rest/activity/notifications.md
Labels: content, waiting for review, rest, needs SME

#31753 Syntactical corrections
  content/copilot/troubleshooting-github-copilot/troubleshooting-common-issues-with-github-copilot.md
  content/copilot/troubleshooting-github-copilot/troubleshooting-firewall-settings-for-github-copilot.md
  content/copilot/troubleshooting-github-copilot/troubleshooting-issues-with-github-copilot-chat.md
  content/copilot/troubleshooting-github-copilot/troubleshooting-network-errors-for-github-copilot.md
  content/copilot/troubleshooting-github-copilot/viewing-logs-for-github-copilot-in-your-environment.md
Labels: content, copilot

#31733 Closes Issue(31721): Added the link to What are your cookie choices and controls?
  content/site-policy/privacy-policies/github-general-privacy-statement.md
Labels: content, site policy

#31744 Update workflow-basic-example-and-explanation.md
  data/reusables/actions/workflow-basic-example-and-explanation.md
Labels: content, actions, waiting for review

#31767 Closes(31721): Added the fragment instead of the whole URL
  content/site-policy/privacy-policies/github-general-privacy-statement.md
Labels: content, site policy

#31779 Fix migrating-to-internal-repositories command pipe whitespace
  content/admin/managing-accounts-and-repositories/managing-repositories-in-your-enterprise/migrating-to-internal-repositories.md
Labels: content, administering a repo

#30966 Update transferring-a-repository.md
  content/repositories/creating-and-managing-repositories/transferring-a-repository.md
Labels: content, waiting for review, repositories

#31828 Fix pypi-publish@release version
  content/actions/automating-builds-and-tests/building-and-testing-python.md
Labels: content, actions, ready to merge, waiting for review

#31837 Clarified `.github/workflows` name importance in `quickstart.md`
  content/actions/quickstart.md
Labels: content, actions, ready to merge, waiting for review

#31728 Update managing-repository-access-for-your-codespaces.md
  content/codespaces/managing-your-codespaces/managing-repository-access-for-your-codespaces.md
Labels: content, waiting for review, Codespaces

#31858 Do not require a fixed length of SHA code
  data/reusables/repositories/two-dot-diff-comparison-example-urls.md
Labels: triage, ready to merge, waiting for review

#31845 fix example
  content/code-security/code-scanning/creating-an-advanced-setup-for-code-scanning/customizing-your-advanced-setup-for-code-scanning.md
Labels: content, code security

#30647 Clarify concurrency cancel-in-progress behaviour
  data/reusables/actions/actions-group-concurrency.md
Labels: content, actions, waiting for review

#31902 Update authenticating-as-a-github-app-installation.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/authenticating-as-a-github-app-installation.md
Labels: content, github apps

#31847 Update action-setup-node.md
  data/reusables/actions/action-setup-node.md
Labels: content, actions, ready to merge, waiting for review
