Repository github/docs, pull requests merged in 2024-04, with the labels that each got.

#32306 Update to remove smimesign from Linux instructions
  content/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key.md
Labels: content, authentication

#32311 Fix 'secrets.GITHUB_TOKEN' reference
  content/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions.md
Labels: content, packages

#32312 Match "ORIGINAL_*" placeholders with "YOUR-*" placeholders
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/configuring-a-remote-repository-for-a-fork.md
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/fork-a-repo.md
Labels: content, pull requests

#32313 Apply style guide to placeholders in "Syncing a fork"
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/syncing-a-fork.md
Labels: content, pull requests

#32314 Fix sentence structure in "publish packages with actions"
  content/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions.md
Labels: content, packages

#32348 Removed specific directory reference from the creating-a-github-pages-site-with-jekyll page
  content/pages/setting-up-a-github-pages-site-with-jekyll/creating-a-github-pages-site-with-jekyll.md
Labels: content, pages

#32345 Document `@dependabot ignore this patch version` command
  content/code-security/dependabot/working-with-dependabot/managing-pull-requests-for-dependency-updates.md
Labels: content, waiting for review, code security

#32218 Rearrange minute multiplier heading & paragraphs
  content/billing/managing-billing-for-github-actions/about-billing-for-github-actions.md
Labels: content, waiting for review, billing

#32361 Add missing beta note to Tasklists quickstart
  content/issues/managing-your-tasks-with-tasklists/quickstart-for-tasklists.md
Labels: content, issues

#32383 Fix typo for event trigger
  content/code-security/code-scanning/creating-an-advanced-setup-for-code-scanning/customizing-your-advanced-setup-for-code-scanning.md
Labels: content, code security

#32379 Update about-github-code-search.md
  content/search-github/github-code-search/about-github-code-search.md
Labels: content, search-github

#32377 Update alias setup language to clarify usage
  content/copilot/github-copilot-in-the-cli/using-github-copilot-in-the-cli.md
Labels: content, waiting for review, copilot

#32409 Remove repeated sentence from setting-your-commit-email-address.md
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-email-preferences/setting-your-commit-email-address.md
Labels: content, account-and-profile

#32408 Add a screenshot of the "Set up templates" button in repo settings
  assets/images/help/repository/set-up-issue-templates-button.png
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository.md
Labels: content, communities

#32411 docs: made updates about security files and improving sentences
  content/code-security/getting-started/adding-a-security-policy-to-your-repository.md
  content/communities/setting-up-your-project-for-healthy-contributions/creating-a-default-community-health-file.md
  data/reusables/community/issue-forms-sample.md
Labels: content, communities

#32417 Remove unnecessary colon in `releasing-and-maintaining-actions.md`
  content/actions/creating-actions/releasing-and-maintaining-actions.md
Labels: content, actions

#32420 Fix extra space in `CODE_OF_CONDUCT.md`.
  .github/CODE_OF_CONDUCT.md
Labels: content, contributing docs

#32267 Update default `run-name` triggered by `pull_request` event
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions

#32407 Complete list of GITHUB_ vars that are exceptionally not _PATH suffixed.
  content/actions/learn-github-actions/variables.md
Labels: content, actions, SME reviewed, test-create-tracking-issue

#32296 Update repository-limits.md
  content/repositories/creating-and-managing-repositories/repository-limits.md
Labels: content, repositories, SME reviewed, test-create-tracking-issue

#32459 Update triggering-a-workflow.md
  content/actions/using-workflows/triggering-a-workflow.md
Labels: content, actions

#32460 Quote $GH_COPILOT_PROFILE
  content/copilot/github-copilot-in-the-cli/using-github-copilot-in-the-cli.md
Labels: content, waiting for review, copilot

#32449 Windows users can use the Resolve-DnsName command.
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
Labels: content, waiting for review, pages

#32470 Fix filter iteration by range example
  content/issues/planning-and-tracking-with-projects/customizing-views-in-your-project/filtering-projects.md
Labels: content, issues

#32473 fix typo
  content/site-policy/privacy-policies/github-general-privacy-statement.md
Labels: content, site policy, test-create-tracking-issue

#32450 Update dependabot/fetch-metadata refs to v2
  content/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions.md
Labels: content, waiting for review, code security

#32486 Update CODE_OF_CONDUCT url's in Issue templates
  .github/ISSUE_TEMPLATE/improve-the-site.yml
  .github/ISSUE_TEMPLATE/partner-contributed-documentation.yml
Labels: content, contributing docs

#32504 The "Renaming a branch" setting was changed.
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch.md
Labels: content, repositories

#32506 Fix storage for 2-core linux runners
  content/actions/using-github-hosted-runners/about-larger-runners/about-larger-runners.md
Labels: content, actions

#32526 Close #32309
  content/apps/creating-github-apps/authenticating-with-a-github-app/generating-a-json-web-token-jwt-for-a-github-app.md
Labels: content, github apps

#32536 Fix typos in GitHub Audit log event descriptions
  src/audit-logs/data/fpt/organization.json
  src/audit-logs/data/ghec/enterprise.json
  src/audit-logs/data/ghec/organization.json
  src/audit-logs/data/ghes-3.10/enterprise.json
  src/audit-logs/data/ghes-3.10/organization.json
  src/audit-logs/data/ghes-3.11/enterprise.json
  src/audit-logs/data/ghes-3.11/organization.json
  src/audit-logs/data/ghes-3.12/enterprise.json
  src/audit-logs/data/ghes-3.12/organization.json
  src/audit-logs/data/ghes-3.13/enterprise.json
  src/audit-logs/data/ghes-3.13/organization.json
  src/audit-logs/data/ghes-3.8/enterprise.json
  src/audit-logs/data/ghes-3.8/organization.json
  src/audit-logs/data/ghes-3.9/enterprise.json
  src/audit-logs/data/ghes-3.9/organization.json
Labels: content

#32493 Update events-that-trigger-workflows.md
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: content, actions, waiting for review

#32553 closes #31971
  content/search-github/getting-started-with-searching-on-github/about-searching-on-github.md
Labels: content, search-github

#32556 docs: update Callouts formatting
  content/contributing/style-guide-and-content-model/style-guide.md
Labels: content, contributing docs

#32562 docs: correct case for Copilot
  content/rest/activity/notifications.md
Labels: content, rest

#32580 Fix Spacing in GitHub Token Scope Descriptions
  data/reusables/actions/github-token-scope-descriptions.md
Labels: content, actions

#32595 chore: update npm docs reference link to current version
  content/packages/working-with-a-github-packages-registry/working-with-the-npm-registry.md
Labels: content, packages

#32599 Update expressions.md
  content/actions/learn-github-actions/expressions.md
Labels: content, actions

#32602 Update setting-your-profile-to-private.md
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/setting-your-profile-to-private.md
Labels: content, account-and-profile

#32629 fix(discussion-form): `issue form` -> `discussion category form`
  content/discussions/managing-discussions-for-your-community/syntax-for-discussion-category-forms.md
Labels: content

#32686 Fix typo detatch in using-github-copilot-chat-in-githubcom.md
  content/copilot/github-copilot-enterprise/copilot-chat-in-github/using-github-copilot-chat-in-githubcom.md
Labels: content, copilot

#31807 Clarify merge queue merge limits
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue.md
Labels: content, waiting for review, repositories, needs SME, test-create-tracking-issue

#32703 docs:improve description for GITHUB_OUTPUT
  content/actions/learn-github-actions/variables.md
Labels: content, actions

#32653 Let's upgrade the docs to use `actions/setup-python@v5`
  data/reusables/actions/action-setup-python.md
Labels: content, actions

#32685 Upgrades `setup-go` to v5
  data/reusables/actions/action-setup-go.md
Labels: content, actions

#32735 Fixed a typo in setting-up-github-copilot-in-the-cli.md
  content/copilot/github-copilot-in-the-cli/setting-up-github-copilot-in-the-cli.md
Labels: content, copilot

#32539 Add .NET NuGet action to list of cacheable package managers
  content/actions/using-workflows/caching-dependencies-to-speed-up-workflows.md
Labels: content, actions
