Repository github/docs, pull requests merged in 2024-12, with the labels that each got.

#35460 move period inside quotations in compare branches
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-comparing-branches-in-pull-requests.md
Labels: content, pull requests

#35469 Use backticks to format file reference
  content/pull-requests/collaborating-with-pull-requests/addressing-merge-conflicts/resolving-a-merge-conflict-using-the-command-line.md
Labels: content, pull requests

#35472 Capitalized first letter in each line of the list
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/committing-changes-to-a-pull-request-branch-created-from-a-fork.md
Labels: content, pull requests

#35474 Update basic-writing-and-formatting-syntax.md
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, get started

#35525 Correct thanks.dev instructions
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/displaying-a-sponsor-button-in-your-repository.md
Labels: content, waiting for review, repositories

#35536 Fix 'OAuth app policy' menu description
  content/organizations/managing-peoples-access-to-your-organization-with-roles/about-custom-organization-roles.md
  data/reusables/organizations/oauth_app_access.md
Labels: content, enterprise, organizations

#35482 docs: make single vs double star glob patterns documentation clearer
  content/actions/writing-workflows/workflow-syntax-for-github-actions.md
Labels: content, actions, waiting for review

#35545 Fix alert header
  content/organizations/managing-oauth-access-to-your-organizations-data/about-oauth-app-access-restrictions.md
Labels: content, organizations

#35554 Update checking-for-existing-gpg-keys.md
  content/authentication/managing-commit-signature-verification/checking-for-existing-gpg-keys.md
Labels: content, waiting for review, authentication

#35414 Update code examples in building-a-login-with-github-button-with-a-github-app.md
  content/apps/creating-github-apps/writing-code-for-a-github-app/building-a-login-with-github-button-with-a-github-app.md
Labels: content, github apps, SME reviewed

#35592 Closing }
  content/copilot/example-prompts-for-github-copilot-chat/security-analysis/finding-existing-vulnerabilities-in-code.md
Labels: content, copilot

#35590 typo in searching-users.md
  content/search-github/searching-on-github/searching-users.md
Labels: content, search-github

#35614 Update supported Terraform version in Dependabot to 1.10.x
  data/reusables/dependabot/supported-package-managers.md
Labels: content, dependabot, SME reviewed

#35638 Add missing space to security-hardening-for-github-actions.md
  content/actions/security-for-github-actions/security-guides/security-hardening-for-github-actions.md
Labels: content, actions

#35635 Bump `actions/attest-build-provenance` GitHub Actions
  content/actions/security-for-github-actions/using-artifact-attestations/using-artifact-attestations-to-establish-provenance-for-builds.md
  content/actions/use-cases-and-examples/publishing-packages/publishing-docker-images.md
  data/reusables/package_registry/publish-docker-image.md
Labels: content, actions, SME reviewed

#35653 Update apply-to-github-education-as-a-student.md
  assets/images/help/education/reverify-academic-affiliation.png
  assets/images/help/education/your-benefits-application.png
  content/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-education-for-students/apply-to-github-education-as-a-student.md
Labels: content, education

#35678 fix: grammar and spacing
  data/reusables/apps/deprecating_auth_with_query_parameters.md
Labels: content, rest

#35338 Add explicit bareRepository configuration when pushing bare mirror
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/detaching-a-fork.md
Labels: content, SME reviewed, pull requests

#35696 Fix formatting issues in documentation: Removed periods and added backticks
  content/discussions/guides/best-practices-for-community-conversations-on-github.md
  content/pull-requests/collaborating-with-pull-requests/addressing-merge-conflicts/resolving-a-merge-conflict-using-the-command-line.md
  data/reusables/actions/about-workflows-long.md
  data/reusables/dependency-review/feature-overview.md
Labels: triage

#35706 Replace invalid file references
  content/rest/README.md
Labels: content, rest

#35707 Update invalid syntax / wording
  content/communities/documenting-your-project-with-wikis/editing-wiki-content.md
Labels: content, communities

#35697 Document the fact that Rouge only recognises lower-case language identifiers
  content/get-started/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/about-github-pages-and-jekyll.md
Labels: waiting for review, pages, get started

#35727 Removed Ambiguity :workflow_dispatch statement about "default branch"
  data/reusables/actions/branch-requirement.md
Labels: content, actions

#35605 Update automatically-redelivering-failed-deliveries-for-a-github-app-webhook.md
  content/webhooks/using-webhooks/automatically-redelivering-failed-deliveries-for-a-github-app-webhook.md
Labels: waiting for review, webhooks, needs SME

#35730 Fix case of `ruleId`
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
Labels: content, code security

#35732 Update code-languages.yml to include Swift
  data/code-languages.yml
Labels: triage

#35724 Update Xcode source completion sample
  content/copilot/using-github-copilot/getting-code-suggestions-in-your-ide-with-github-copilot.md
Labels: content, copilot
