Repository github/docs, pull requests merged in 2024-05, with the labels that each got.

#32759 Update making-your-github-app-available-for-github-enterprise-server.md
  content/apps/sharing-github-apps/making-your-github-app-available-for-github-enterprise-server.md
Labels: content, github apps

#32796 Update troubleshooting-authentication-to-a-repository.md
  content/codespaces/troubleshooting/troubleshooting-authentication-to-a-repository.md
Labels: content, Codespaces

#32804 Fix missing escaping on "Using WireGuard to create a network overlay"
  content/actions/using-github-hosted-runners/connecting-to-a-private-network/using-wireguard-to-create-a-network-overlay.md
Labels: content, actions

#32806 Add missing closing quotes to link text
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-profile.md
Labels: content, account-and-profile

#32785 Add runner environment description in runner context
  content/actions/learn-github-actions/contexts.md
  data/reusables/actions/runner-environment-description.md
Labels: content, actions

#32781 Update contributing-to-a-project.md
  content/get-started/exploring-projects-on-github/contributing-to-a-project.md
Labels: content, waiting for review, get started

#32833 Fix typo `build` -> `bill` of materials in artifact attestation guide
  content/actions/security-guides/using-artifact-attestations-to-establish-provenance-for-builds.md
Labels: triage

#32834 Update about-secret-scanning.md
  content/code-security/secret-scanning/about-secret-scanning.md
Labels: content, code security

#32916 Update Node.js 14, 16 versions to 20 in building-and-testing-nodejs.m…
  content/actions/automating-builds-and-tests/building-and-testing-nodejs.md
Labels: content, actions, waiting for review

#32750 Update about-tracks-and-tracked-by-fields.md
  content/issues/planning-and-tracking-with-projects/understanding-fields/about-tracks-and-tracked-by-fields.md
Labels: content, issues

#32962 Remove reference to case-sensitive repositories
  content/repositories/creating-and-managing-repositories/troubleshooting-cloning-errors.md
Labels: content, ready to merge, repositories

#32971 Fix typo (Add missing 'be' in a 'may not be able' expression)
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/monitoring-and-troubleshooting-self-hosted-runners.md
Labels: content, triage, actions

#32973 Update understanding-github-actions.md
  content/actions/learn-github-actions/understanding-github-actions.md
Labels: content, actions

#32978 Fix duplicated words and improper "a" in several content pages
  content/actions/hosting-your-own-runners/managing-self-hosted-runners-with-actions-runner-controller/about-actions-runner-controller.md
  content/actions/migrating-to-github-actions/automated-migrations/automating-migration-with-github-actions-importer.md
  content/actions/migrating-to-github-actions/automated-migrations/migrating-from-circleci-with-github-actions-importer.md
  content/apps/github-marketplace/listing-an-app-on-github-marketplace/deleting-your-app-listing-from-github-marketplace.md
  content/apps/oauth-apps/using-oauth-apps/connecting-with-third-party-applications.md
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  content/code-security/dependabot/working-with-dependabot/managing-dependabot-on-self-hosted-runners.md
  content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/managing-security-and-analysis-settings-for-your-organization.md
  data/reusables/actions/creating-a-runner-group-for-an-organization.md
Labels: content

#32094 PR - Adding imagePullSecrets into the template spec gha-runner-scale-set/v…
  content/actions/hosting-your-own-runners/managing-self-hosted-runners-with-actions-runner-controller/deploying-runner-scale-sets-with-actions-runner-controller.md
Labels: content, actions, waiting for review

#33040 Update external.yml
  data/glossaries/external.yml
Labels: content, get started

#33045 Add missing period in types-of-github-accounts.md
  content/get-started/learning-about-github/types-of-github-accounts.md
Labels: content, get started

#33047 removed ellipses from hello-world.md
  content/get-started/start-your-journey/hello-world.md
Labels: content, get started

#33049 fixed misuse of colon of connecting-to-github.md
  content/get-started/using-github/connecting-to-github.md
Labels: content, get started

#33051 Fix period should be moved inside ending quotation marks
  content/get-started/using-github/troubleshooting-connectivity-problems.md
Labels: content, get started

#33058 Update merging-multiple-personal-accounts.md
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/merging-multiple-personal-accounts.md
Labels: content, account-and-profile

#33001 Clarify the method of selecting several lines for commenting in PR.
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/commenting-on-a-pull-request.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/reviewing-proposed-changes-in-a-pull-request.md
  data/reusables/repositories/multiple-lines-comment.md
  data/reusables/repositories/start-line-comment.md
Labels: content, more-information-needed, pull requests

#33072 Update hello-world.md
  content/get-started/start-your-journey/hello-world.md
Labels: content, get started

#33114 Fix 33102 gitfile typo
  data/glossaries/external.yml
Labels: content, get started

#33117 Update configuring-dependabot-security-updates.md
  content/code-security/dependabot/dependabot-security-updates/configuring-dependabot-security-updates.md
Labels: content, code security

#33123 Fix secret availability wording in codespace docs
  content/codespaces/developing-in-a-codespace/creating-a-codespace-for-a-repository.md
Labels: content, Codespaces

#33139 Fix 33030 remove unnecessary period
  content/get-started/start-your-journey/hello-world.md
  content/get-started/start-your-journey/uploading-a-project-to-github.md
  data/glossaries/external.yml
Labels: content, get started

#33141 Remove extra dash from last step
  content/actions/deployment/deploying-to-your-cloud-provider/deploying-to-azure/deploying-to-azure-kubernetes-service.md
Labels: content, actions

#33146 update note text
  data/reusables/classroom/note-on-assignment-changes.md
Labels: content, education

#32934 Add missing `CNAME` DNS record creation instruction
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
Labels: content, pages

#33140 docs: add information about limitation that can on github.dev when exceeding GraphQL rate limits
  content/codespaces/the-githubdev-web-based-editor.md
Labels: content, Codespaces

#33134 Making access to reusable workflows clearer
  content/actions/using-workflows/reusing-workflows.md
Labels: content, actions, waiting for review

#33113 Add new required(ish) "parser" parameter to markdownlint custom rule examples in Content Linter README.md.
  src/content-linter/README.md
Labels: content, waiting for review

#33167 fix: add missing link to "Hello World" tutorial
  content/get-started/start-your-journey/uploading-a-project-to-github.md
Labels: content, get started

#33170 fix: change link from `quickstart` to `start-your-journey`
  content/get-started/start-your-journey/uploading-a-project-to-github.md
Labels: content, get started

#33174 fix lists in communicating-on-github.md (#33100)
  content/get-started/using-github/communicating-on-github.md
Labels: content, get started

#33178 Fix recurring typo in mentioning the principle of least privilege
  content/actions/security-guides/security-hardening-for-github-actions.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/getting-started-with-github-actions-for-github-enterprise-cloud.md
  content/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/introducing-github-actions-to-your-enterprise.md
Labels: content, actions

#33184 Clarifying that X-GitHub-Delivery is unique per event, not per delivery
  content/webhooks/using-webhooks/best-practices-for-using-webhooks.md
  content/webhooks/webhook-events-and-payloads.md
Labels: content, webhooks

#33175 Removed the fullstop.
  content/get-started/writing-on-github/editing-and-sharing-content-with-gists/creating-gists.md
Labels: content, get started

#33233 Fix 33213 remove unnecessary period
  content/get-started/getting-started-with-git/set-up-git.md
Labels: content, get started

#32064 Clarify required check for skipped jobs using 'needs'
  content/pull-requests/collaborating-with-pull-requests/collaborating-on-repositories-with-code-quality-features/troubleshooting-required-status-checks.md
Labels: content, waiting for review, pull requests

#33235 Fix 33212 moved period inside the quotation marks
  content/get-started/exploring-projects-on-github/contributing-to-a-project.md
Labels: content, get started

#33247 Bold interactable UI elements in forking-and-cloning-gists#cloning-gists
  content/get-started/writing-on-github/editing-and-sharing-content-with-gists/forking-and-cloning-gists.md
Labels: content, get started

#33252 Moved period inside ending quotation mark for #upstream
  data/glossaries/external.yml
Labels: content, get started

#32352 Added instruction for ignoring the Gemfile.lock file to prevent unsatisfiable dependencies warning in the creating-a-github-pages-site-with-jekyll page
  content/pages/setting-up-a-github-pages-site-with-jekyll/creating-a-github-pages-site-with-jekyll.md
Labels: engineering, content, waiting for review, pages

#31801 Update managing-scheduled-reminders-for-your-team.md with "Get mentioned on slack" section
  content/organizations/managing-organization-settings/managing-scheduled-reminders-for-your-organization.md
  content/organizations/organizing-members-into-teams/managing-scheduled-reminders-for-your-team.md
  data/reusables/reminders/slack-channel.md
Labels: content, waiting for review, organizations

#33259 Fix 33103 move period inside quotation
  data/glossaries/external.yml
Labels: content, get started

#33260 Fix 33032 move period inside quotation
  content/get-started/using-github/github-flow.md
Labels: content, get started

#33261 Removed unnecessary period
  content/get-started/getting-started-with-git/why-is-git-always-asking-for-my-password.md
Labels: content, get started

#33269 Move period inside quotation marks in managing-your-theme-settings.md
  content/get-started/accessibility/managing-your-theme-settings.md
Labels: content, get started

#32544 Clarifies outputs in reusable workflows
  content/actions/using-workflows/reusing-workflows.md
Labels: content, actions, more-information-needed

#33284 Fix 33136 move period inside quotation
  data/glossaries/external.yml
Labels: content, get started
