Repository github/docs, pull requests merged in 2024-03, with the labels that each got.

#31898 fix: improving style guide
  content/contributing/style-guide-and-content-model/style-guide.md
Labels: content, contributing docs

#31403 Include `ports` Config in Postgres Service Container Docs
  content/actions/using-containerized-services/creating-postgresql-service-containers.md
Labels: content, actions, waiting for review

#30252 Avoid codesign modal keychain password dialog
  content/actions/deployment/deploying-xcode-applications/installing-an-apple-certificate-on-macos-runners-for-xcode-development.md
Labels: content, actions, waiting for review

#31929 Update renaming-a-branch.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch.md
Labels: content, repositories

#31944 Fix doc for opening a new tab
  content/copilot/using-github-copilot/getting-started-with-github-copilot.md
Labels: triage

#31946 Update merge-queue gated feature for GHES 3.12
  data/reusables/gated-features/merge-queue.md
Labels: triage

#31252 feat: describe conditional values
  content/actions/learn-github-actions/expressions.md
Labels: content, actions, waiting for review

#31962 Update src/links js comments
  src/links/lib/update-internal-links.js
Labels: content

#31808 Remove mentions of Jekyll 4 & Pygments deprecation from about-github-pages-and-jekyll
  content/pages/setting-up-a-github-pages-site-with-jekyll/about-github-pages-and-jekyll.md
Labels: content, pages, needs SME

#32002 Clarify X-GitHub-SSO discussion
  content/rest/authentication/authenticating-to-the-rest-api.md
Labels: triage

#31981 Spelling `e.g.` means `exempli gratia`
  content/site-policy/content-removal-policies/dmca-takedown-policy.md
Labels: content, site policy, more-information-needed

#32018 Fix doc section GIT_SSH_COMMAND in managing multiple accounts
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/managing-multiple-accounts.md
Labels: content, account-and-profile

#31751 workflow-syntax-for-github-actions.md: services.image: document empty image
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
Labels: content, triage, actions

#32049 Use underscores to match Rome
  content/communities/setting-up-your-project-for-healthy-contributions/creating-a-default-community-health-file.md
Labels: content, communities

#31970 Document `jobs.<job_id>.defaults.run.working-directory`
  content/actions/using-workflows/workflow-syntax-for-github-actions.md
  data/reusables/actions/jobs/setting-default-values-for-jobs-defaults-job-run.md
  data/reusables/actions/jobs/setting-default-values-for-jobs-defaults-run-shell.md
  data/reusables/actions/jobs/setting-default-values-for-jobs-defaults-run-working-directory.md
  data/reusables/actions/reusable-keyword.md
  data/reusables/actions/supported-shells.md
  data/reusables/actions/working-directory-must-exist.md
Labels: content, actions, waiting for review

#32045 Clarify that MITRE != The CVE Program
  content/code-security/security-advisories/working-with-global-security-advisories-from-the-github-advisory-database/about-the-github-advisory-database.md
Labels: content, waiting for review, code security

#31931 Update deleting-a-repository.md
  content/repositories/creating-and-managing-repositories/deleting-a-repository.md
Labels: content, waiting for review, repositories

#32074 Update sarif-invalid.md
  content/code-security/code-scanning/troubleshooting-sarif-uploads/sarif-invalid.md
Labels: content, code security

#32057 Update renaming-a-branch.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch.md
Labels: content, waiting for review, repositories

#31894 Update githubs-plans.md
  content/get-started/learning-about-github/githubs-plans.md
Labels: content, waiting for review, get started

#31512 Update creating-rulesets-for-a-repository.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-rulesets/creating-rulesets-for-a-repository.md
Labels: content, waiting for review, repositories

#31251 feat: describe matrix variables of type array of objects
  data/reusables/actions/jobs/multi-dimension-matrix.md
Labels: content, actions, more-information-needed

#32059 fix: lowercase keyboard shortcuts
  content/get-started/accessibility/keyboard-shortcuts.md
Labels: content, ready to merge, waiting for review, get started

#32136 Update using-environments-for-deployment.md
  content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
Labels: content, actions

#31926 Add "cd" into cloned repo before push
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/detaching-a-fork.md
Labels: content, ready to merge, waiting for review, pull requests

#31843 Fix wrong screenshot in linking-a-pull-request-to-an-issue.md
  assets/images/help/pull_requests/development-menu.png
  content/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue.md
  data/reusables/pull_requests/click-development-in-issue.md
  data/reusables/pull_requests/click-development-in-pull-request.md
Labels: content, waiting for review, issues

#31358 Correcting how to configure CNAME for a subdomain
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
Labels: content, pages

#31874 Clarify case-insensitivity for code search
  content/search-github/github-code-search/understanding-github-code-search-syntax.md
Labels: content, search-github

#31760 Update removing-sensitive-data-from-a-repository.md
  content/authentication/keeping-your-account-and-data-secure/removing-sensitive-data-from-a-repository.md
Labels: content, authentication

#32185 Remove beta tag from publishing pages with a custom workflow
  content/pages/getting-started-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site.md
  data/reusables/pages/pages-custom-workflow-beta.md
Labels: triage

#31639 Some exception that might not work
  data/reusables/repositories/relative-links.md
Labels: content, get started

#32191 Fix incorrect DNS record value
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
Labels: content, pages

#32197 Use "revert" instead of "reverse" in Git context
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-protected-branches/about-protected-branches.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-rulesets/available-rules-for-rulesets.md
Labels: triage

#32198 Use "em dash" instead of "hyphens" to set off end clause
  content/pull-requests/committing-changes-to-your-project/creating-and-editing-commits/changing-a-commit-message.md
Labels: triage

#32199 Use "deselect" instead of "unselecet" for checkboxes
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
  content/communities/documenting-your-project-with-wikis/changing-access-permissions-for-wikis.md
  content/communities/documenting-your-project-with-wikis/disabling-wikis.md
  content/organizations/managing-organization-settings/enabling-or-disabling-github-discussions-for-an-organization.md
  content/organizations/organizing-members-into-teams/disabling-team-discussions-for-your-organization.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-suggestions-to-update-pull-request-branches.md
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-the-automatic-deletion-of-branches.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/disabling-projects-in-a-repository.md
  content/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/enabling-or-disabling-github-discussions-for-a-repository.md
Labels: content

#32200 Fix sentence structure in "Backing up a repository"
  content/repositories/archiving-a-github-repository/backing-up-a-repository.md
Labels: content, repositories

#32204 docs: Drop agreement on Azure Subscription info
  content/billing/managing-the-plan-for-your-github-account/connecting-an-azure-subscription.md
Labels: content, billing

#32205 docs: Add indexing limitation on files with lines over 4096 bytes
  content/search-github/github-code-search/about-github-code-search.md
Labels: triage

#32202 Use "ID" instead of "id" when in commit context
  content/pull-requests/committing-changes-to-your-project/creating-and-editing-commits/changing-a-commit-message.md
  content/repositories/working-with-files/using-files/getting-permanent-links-to-files.md
Labels: triage

#32231 Fix JSON "repository" object key to "repo" to match actual API call results.
  content/rest/using-the-rest-api/github-event-types.md
Labels: content, ready to merge, waiting for review, rest

#31419 Update leave-feedback-with-pull-requests.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/leave-feedback-with-pull-requests.md
Labels: content, education, SME reviewed

#32269 Update MIT License year from 2023 -> 2024
  LICENSE-CODE
Labels: content

#31844 Add additional clarification about the merge queue
  content/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue.md
Labels: content, waiting for review, repositories

#31665 searching: any assignee; excluding missing metadata
  content/search-github/searching-on-github/searching-issues-and-pull-requests.md
Labels: content, waiting for review, search-github

#32279 Change "commit id" to "commit ID" [cont.]
  content/repositories/working-with-files/using-files/getting-permanent-links-to-files.md
Labels: content, repositories

#32280 Fix sentence structure in "checks-availability" reusable
  data/reusables/apps/checks-availability.md
Labels: content

#32281 Fix quotations in "Fork a repository"
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/fork-a-repo.md
  data/reusables/getting-started/create-a-repository.md
Labels: content

#32283 Fix inconsistent PR "title" parameter
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/using-query-parameters-to-create-a-pull-request.md
Labels: content, pull requests

#32284 Add period "." to end of sentence
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-branches.md
Labels: content, pull requests

#32287 Apply style guide to placeholders in "Troubleshooting commits"
  content/pull-requests/committing-changes-to-your-project/troubleshooting-commits/commit-exists-on-github-but-not-in-my-local-clone.md
Labels: content, pull requests

#32286 Apply style guide to some "YOUR_*" placeholders
  content/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-email-preferences/remembering-your-github-username-or-email.md
  content/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens.md
  content/communities/documenting-your-project-with-wikis/adding-or-editing-wiki-pages.md
  content/contributing/writing-for-github-docs/using-markdown-and-liquid-in-github-docs.md
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/configuring-a-remote-repository-for-a-fork.md
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/fork-a-repo.md
Labels: content

#32299 #32221: Updating language around the 'Codespaces Network Bridge' exte…
  content/codespaces/developing-in-a-codespace/connecting-to-a-private-network.md
Labels: content, Codespaces

#32301 Fix broken code block formatting for callouts
  content/contributing/style-guide-and-content-model/style-guide.md
Labels: content, contributing docs
