Repository github/docs, pull requests merged in 2024-01, with the labels that each got.

#30833 Fixing dead/broken links for rest api docs
  content/rest/about-the-rest-api/about-the-rest-api.md
  content/rest/index.md
Labels: content, ready to merge, waiting for review, rest

#30784 Fix numeric comparison in Filtering projects
  content/issues/planning-and-tracking-with-projects/customizing-views-in-your-project/filtering-projects.md
Labels: content, waiting for review, issues

#30792 Spelling docs
  content/actions/hosting-your-own-runners/managing-self-hosted-runners-with-actions-runner-controller/about-actions-runner-controller.md
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/running-scripts-before-or-after-a-job.md
  content/actions/learn-github-actions/contexts.md
  content/actions/learn-github-actions/variables.md
  content/actions/migrating-to-github-actions/automated-migrations/extending-github-actions-importer-with-custom-transformers.md
  content/actions/security-guides/using-secrets-in-github-actions.md
  content/admin/identity-and-access-management/using-saml-for-enterprise-iam/mapping-okta-groups-to-teams.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/configuring-the-audit-log-for-your-enterprise.md
  content/admin/monitoring-managing-and-updating-your-instance/configuring-clustering/rebalancing-cluster-workloads.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-code-security-and-analysis-for-your-enterprise.md
  content/apps/oauth-apps/building-oauth-apps/authorizing-oauth-apps.md
  content/apps/oauth-apps/building-oauth-apps/differences-between-github-apps-and-oauth-apps.md
  content/authentication/troubleshooting-ssh/error-ssh-add-illegal-option----apple-use-keychain.md
  content/billing/managing-billing-for-github-advanced-security/about-billing-for-github-advanced-security.md
  content/code-security/code-scanning/creating-an-advanced-setup-for-code-scanning/codeql-code-scanning-for-compiled-languages.md
  content/code-security/code-scanning/troubleshooting-code-scanning/fewer-lines-scanned-than-expected.md
  content/code-security/codeql-cli/using-the-advanced-functionality-of-the-codeql-cli/specifying-command-options-in-a-codeql-configuration-file.md
  content/code-security/dependabot/working-with-dependabot/guidance-for-the-configuration-of-private-registries-for-dependabot.md
  content/code-security/getting-started/securing-your-organization.md
  content/code-security/security-overview/viewing-security-insights-for-your-organization.md
  content/code-security/supply-chain-security/end-to-end-supply-chain/securing-code.md
  content/codespaces/overview.md
  content/codespaces/setting-up-your-project-for-codespaces/adding-a-dev-container-configuration/setting-up-your-nodejs-project-for-codespaces.md
  content/codespaces/troubleshooting/troubleshooting-github-codespaces-clients.md
  content/communities/using-templates-to-encourage-useful-issues-and-pull-requests/common-validation-errors-when-creating-issue-forms.md
  content/contributing/writing-for-github-docs/creating-screenshots.md
  content/copilot/troubleshooting-github-copilot/viewing-logs-for-github-copilot-in-your-environment.md
  content/get-started/getting-started-with-git/caching-your-github-credentials-in-git.md
  content/get-started/writing-on-github/editing-and-sharing-content-with-gists/creating-gists.md
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/quickstart-for-writing-on-github.md
  content/issues/planning-and-tracking-with-projects/customizing-views-in-your-project/customizing-the-board-layout.md
  content/migrations/overview/planning-your-migration-to-github.md
  content/migrations/using-ghe-migrator/about-ghe-migrator.md
  content/organizations/organizing-members-into-teams/synchronizing-a-team-with-an-identity-provider-group.md
  content/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/finding-changed-methods-and-functions-in-a-pull-request.md
  content/rest/quickstart.md
  content/site-policy/github-terms/github-corporate-terms-of-service.md
  content/site-policy/github-terms/github-terms-of-service.md
  content/site-policy/site-policy-deprecated/github-enterprise-subscription-agreement.md
  content/site-policy/site-policy-deprecated/github-supplemental-terms-for-microsoft-volume-licensing.md
  content/support/contacting-github-support/viewing-and-updating-support-tickets.md
  content/webhooks/using-webhooks/handling-webhook-deliveries.md
  content/webhooks/using-webhooks/validating-webhook-deliveries.md
  data/reusables/actions/enable-debug-logging-cli.md
  data/reusables/actions/workflows/section-triggering-a-workflow-paths.md
  data/reusables/audit_log/generating-hash-for-a-token.md
  data/reusables/ssh/apple-use-keychain.md
Labels: content, ready to merge

#30850 Exemplify good commit message hygiene
  content/pull-requests/collaborating-with-pull-requests/addressing-merge-conflicts/resolving-a-merge-conflict-using-the-command-line.md
Labels: content, ready to merge, pull requests

#30854 Fix-Typo_corrected_file_name
  content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, ready to merge, ssh, authentication

#30829 Spell `aria` correctly in `aria-hidden`
  content/codespaces/troubleshooting/troubleshooting-prebuilds.md
  data/reusables/actions/sidebar-secrets-and-variables.md
  data/reusables/enterprise-accounts/copilot-tab.md
  data/reusables/user-settings/repo-tab.md
Labels: content, ready to merge

#30827 Fix misspelled brand names
  content/actions/hosting-your-own-runners/managing-self-hosted-runners-with-actions-runner-controller/deploying-runner-scale-sets-with-actions-runner-controller.md
  content/code-security/code-scanning/creating-an-advanced-setup-for-code-scanning/codeql-code-scanning-for-compiled-languages.md
  content/get-started/writing-on-github/working-with-advanced-formatting/attaching-files.md
  contributing/codespace.md
  data/features/actions-default-workflow-permissions-restrictive.yml
Labels: content, ready to merge

#30825 Copy (to eventually Rename) typod files
  assets/images/help/copilot/disable-copilot-global-or-language-ads.png
  assets/images/help/copilot/disable-copilot-global-or-language-jetbrains.png
  assets/images/help/copilot/disable-copilot-global-or-language.png
  content/apps/oauth-apps/maintaining-oauth-apps/troubleshooting-oauth-app-access-token-request-errors.md
  content/copilot/configuring-github-copilot/configuring-github-copilot-in-your-environment.md
  content/copilot/using-github-copilot/getting-started-with-github-copilot.md
  data/reusables/copilot/enabling-or-disabling-in-ads.md
  data/reusables/copilot/enabling-or-disabling-in-vsc.md
  data/reusables/shortdesc/troubleshooting_access_token_request_errors_oauth_apps.md
Labels: content, waiting for review

#30859 Fixed some typos in security-hardening-for-github-actions.md
  content/actions/security-guides/security-hardening-for-github-actions.md
Labels: content, actions

#30879 Drop a surplus space
  content/actions/using-workflows/triggering-a-workflow.md
Labels: content, actions

#30938 Update building-a-cli-with-a-github-app.md
  content/apps/creating-github-apps/writing-code-for-a-github-app/building-a-cli-with-a-github-app.md
Labels: content, github apps

#30944 spelling: notwithstanding
  content/site-policy/github-terms/github-corporate-terms-of-service.md
Labels: content, site policy

#30890 Spelling fixes for various typos
  .github/CONTRIBUTING.md
  .github/actions/setup-elasticsearch/action.yml
  content/actions/deployment/targeting-different-environments/using-environments-for-deployment.md
  content/actions/migrating-to-github-actions/automated-migrations/migrating-from-bitbucket-pipelines-with-github-actions-importer.md
  content/admin/administering-your-instance/administering-your-instance-from-the-command-line/administering-your-instance-using-the-github-cli.md
  content/admin/administering-your-instance/administering-your-instance-from-the-command-line/command-line-utilities.md
  content/admin/configuration/configuring-private-networking-for-hosted-compute-products/configuring-private-networking-for-github-hosted-runners.md
  content/admin/identity-and-access-management/provisioning-user-accounts-for-enterprise-managed-users/configuring-scim-provisioning-for-enterprise-managed-users.md
  content/admin/identity-and-access-management/provisioning-user-accounts-for-enterprise-managed-users/troubleshooting-team-membership-with-identity-provider-groups.md
  content/admin/managing-accounts-and-repositories/managing-users-in-your-enterprise/suspending-and-unsuspending-users.md
  content/admin/managing-accounts-and-repositories/managing-users-in-your-enterprise/viewing-people-in-your-enterprise.md
  content/admin/monitoring-activity-in-your-enterprise/analyzing-how-your-team-works-with-server-statistics/about-server-statistics.md
  content/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise.md
  content/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise.md
  content/apps/creating-github-apps/writing-code-for-a-github-app/building-ci-checks-with-a-github-app.md
  content/apps/using-github-apps/saml-and-github-apps.md
  content/billing/managing-billing-for-github-marketplace-apps/upgrading-the-billing-plan-for-a-github-marketplace-app.md
  content/code-security/code-scanning/troubleshooting-sarif-uploads/file-too-large.md
  content/code-security/dependabot/working-with-dependabot/guidance-for-the-configuration-of-private-registries-for-dependabot.md
  content/code-security/getting-started/best-practices-for-preventing-data-leaks-in-your-organization.md
  content/code-security/getting-started/dependabot-quickstart-guide.md
  content/code-security/security-advisories/guidance-on-reporting-and-writing-information-about-vulnerabilities/managing-privately-reported-security-vulnerabilities.md
  content/codespaces/reference/disaster-recovery-for-github-codespaces.md
  content/copilot/github-copilot-chat/using-github-copilot-chat-in-your-ide.md
  content/copilot/github-copilot-enterprise/copilot-chat-in-github/using-github-copilot-chat-in-githubcom.md
  content/copilot/troubleshooting-github-copilot/troubleshooting-issues-with-github-copilot-chat.md
  content/get-started/writing-on-github/working-with-advanced-formatting/organizing-information-with-collapsed-sections.md
  content/migrations/overview/programmatically-importing-repositories.md
  content/migrations/using-github-enterprise-importer/migrating-between-github-products/migrating-organizations-from-githubcom-to-github-enterprise-cloud.md
  content/organizations/managing-peoples-access-to-your-organization-with-roles/maintaining-ownership-continuity-for-your-organization.md
  content/organizations/managing-saml-single-sign-on-for-your-organization/troubleshooting-identity-and-access-management-for-your-organization.md
  content/rest/authentication/authenticating-to-the-rest-api.md
  data/features/actions-single-use-tokens.yml
  data/features/audit-log-sso-response-events.yml
  data/features/codeql-ml-queries.yml
  data/reusables/copilot/enabling-copilot-chat-beta.md
  data/reusables/enterprise_migrations/retrieve-enterprise-id-graphql.md
  data/reusables/identity-and-permissions/team-sync-usage-limits.md
  data/reusables/security-advisory/security-researcher-cannot-create-advisory.md
  data/reusables/sponsors/pay-prorated-amount.md
  src/README.md
  src/content-linter/README.md
  src/fixtures/fixtures/content/actions/category/map-topic/article.md
  src/fixtures/fixtures/content/get-started/liquid/data.md
  src/fixtures/fixtures/content/get-started/liquid/raw.md
  src/fixtures/fixtures/content/get-started/quickstart/link-rewriting.md
  src/ghes-releases/lib/deprecation-steps.md
Labels: content, waiting for review

#30804 Update creating-a-new-organization-from-scratch.md
  content/organizations/collaborating-with-groups-in-organizations/creating-a-new-organization-from-scratch.md
Labels: content, waiting for review, organizations

#30855 Incorrect windows syntax & instructions fixed
  content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, ready to merge, waiting for review, ssh, authentication

#30947 python-built-in-queries needs python, not cpp
  content/code-security/code-scanning/managing-your-code-scanning-configuration/python-built-in-queries.md
Labels: content, waiting for review, code security

#30853 Update canceling-a-workflow.md
  content/actions/managing-workflow-runs/canceling-a-workflow.md
Labels: content, actions, waiting for review

#30958 Fix specification for mailing-list in configuring-notifications.md
  content/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications.md
Labels: content, ready to merge, account-and-profile

#30985 Update about-github-pages-and-jekyll.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/about-github-pages-and-jekyll.md
Labels: content, pages

#31010 spelling: permissions
  content/organizations/managing-user-access-to-your-organizations-repositories/managing-repository-roles/setting-base-permissions-for-an-organization.md
  data/reusables/repositories/org-base-permissions-private-forks.md
  data/reusables/repositories/private_forks_inherit_permissions.md
Labels: content, waiting for review

#30995 Update managing-your-profile-readme.md
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/managing-your-profile-readme.md
Labels: content, waiting for review, account-and-profile

#30802 Update upgrading-to-the-github-customer-agreement.md
  content/organizations/managing-organization-settings/upgrading-to-the-github-customer-agreement.md
Labels: content, waiting for review, organizations

#30251 Update about-code-owners.md
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.md
Labels: content, waiting for review, code owners, repositories

#31043 Fix CodeQL default setup docs
  content/code-security/code-scanning/enabling-code-scanning/configuring-default-setup-for-code-scanning.md
Labels: content, code security

#25906 Update using-ldap.md
  content/admin/identity-and-access-management/using-ldap-for-enterprise-iam/using-ldap.md
Labels: content, enterprise, waiting for review

#31084 managing_the_display_of_members: Fix incorrect heading reference
  content/organizations/managing-organization-settings/managing-the-display-of-member-names-in-your-organization.md
Labels: content, organizations

#31085 Center align Guide Cards for all devices
  src/landings/components/GuideCards.tsx
Labels: engineering, waiting for review

#31125 Update about-your-profile.md
  content/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/about-your-profile.md
Labels: content, account-and-profile

#31025 Corrected documentation
  content/copilot/configuring-github-copilot/configuring-github-copilot-in-your-environment.md
Labels: content, waiting for review, copilot

#31188 Correct formatting of macOS.
  content/authentication/managing-commit-signature-verification/signing-commits.md
Labels: content, authentication

#31215 Update deep-dive.md Fix VS Code Command Palette command for Windows
  content/codespaces/getting-started/deep-dive.md
Labels: triage

#31133 Update github-candidate-privacy-policy.md
  content/site-policy/privacy-policies/github-candidate-privacy-policy.md
Labels: content, site policy

#31207 Update working-with-the-npm-registry.md
  content/packages/working-with-a-github-packages-registry/working-with-the-npm-registry.md
Labels: content, packages

#31191 Update generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
  content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md
Labels: content, waiting for review, ssh

#31257 fix typo in about-github-hosted-runners.md
  content/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners.md
Labels: content, actions

#30703 Update events-that-trigger-workflows.md
  content/actions/using-workflows/events-that-trigger-workflows.md
Labels: content, actions, waiting for review

#31289 Update uploading-a-project-to-github.md
  content/get-started/quickstart/uploading-a-project-to-github.md
Labels: content, get started

#31299 Remove merge conflict text
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/fork-a-repo.md
Labels: content, pull requests

#31326 Changed "using emoji" to "using emojis"
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, get started

#31293 Adding Windows 11 to the list of supported OS for self hosted runners.
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/about-self-hosted-runners.md
Labels: content, actions, waiting for review

#31352 Update about-releases.md
  content/repositories/releasing-projects-on-github/about-releases.md
Labels: content, repositories

#31357 Fix dollar sign example
  content/get-started/writing-on-github/working-with-advanced-formatting/writing-mathematical-expressions.md
Labels: content, get started

#31359 Grammatical and Syntactical Error Corrections.
  content/copilot/configuring-github-copilot/configuring-network-settings-for-github-copilot.md
  content/copilot/github-copilot-chat/using-github-copilot-chat-in-your-ide.md
  content/copilot/github-copilot-enterprise/copilot-docset-management/about-copilot-docset-management.md
Labels: content, copilot
