Repository github/docs, pull requests merged in 2025-01, with the labels that each got.

#35816 fix(docs): replaces `actions` with the right keyword `OWNER`
  content/actions/sharing-automations/creating-actions/creating-a-composite-action.md
Labels: content, actions, ready to merge

#35811 Simplify the links for languages by pointing to the full list directly
  content/actions/migrating-to-github-actions/manually-migrating-to-github-actions/migrating-from-travis-ci-to-github-actions.md
Labels: content, actions, ready to merge

#35804 Be sure to define 'description'
  content/issues/tracking-your-work-with-issues/using-issues/linking-a-pull-request-to-an-issue.md
Labels: content, ready to merge, issues

#35800 Fixed command for listing domains required for Codespaces
  content/codespaces/troubleshooting/troubleshooting-your-connection-to-github-codespaces.md
Labels: content, ready to merge, Codespaces

#35795 use backticks to format _layouts directory in securing-your-github-pages-site-with-https#resolving-problems-with-mixed-content
  content/pages/getting-started-with-github-pages/securing-your-github-pages-site-with-https.md
Labels: content, ready to merge, pages

#35793 docs: Use backticks to format file name in working-with-the-npm-registry#installing-a-package.
  content/packages/working-with-a-github-packages-registry/working-with-the-npm-registry.md
Labels: content, packages, ready to merge

#35791 Add colons in about-github-packages-and-github-actions#workflows-for-publishing-packages | issue/35774
  data/reusables/package_registry/about-packaging-and-actions.md
Labels: content, packages, ready to merge

#35770 Fit disable-selfhosted-runners reusable sentence in its ifversion
  data/reusables/actions/disable-selfhosted-runners-crossrefs.md
Labels: content, actions, ready to merge

#35764 Update about-task-lists.md
  content/get-started/writing-on-github/working-with-advanced-formatting/about-task-lists.md
Labels: content, ready to merge, get started

#35765 Use backtick to format references to file names in `working-with-the-npm-registry`
  data/reusables/package_registry/verify_repository_field.md
Labels: content, packages, ready to merge

#35759 fix: payload and secret are translated in some langs(use inline code)
  content/webhooks/using-webhooks/validating-webhook-deliveries.md
Labels: content, ready to merge, webhooks

#35741 add: missing period
  data/reusables/actions/about-oidc-short-overview.md
Labels: content, actions, ready to merge

#35715 Clarify use of labels and groups together
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/using-self-hosted-runners-in-a-workflow.md
Labels: content, actions, ready to merge

#35830 Fix #35823 Use backticks to format references to the file name
  content/pages/setting-up-a-github-pages-site-with-jekyll/adding-a-theme-to-your-github-pages-site-using-jekyll.md
Labels: content, pages

#35832 Updated 'The Picture element' section as per issue requirements
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content, get started

#35838 Use backticks to format file name in using-submodules-with-github-pages.md
  content/pages/getting-started-with-github-pages/using-submodules-with-github-pages.md
Labels: content, pages

#35851 Fix: Use backticks to format file name in adding-a-theme-to-your-github-pages-site-using-jekyll#adding-a-theme #35821
  content/pages/setting-up-a-github-pages-site-with-jekyll/adding-a-theme-to-your-github-pages-site-using-jekyll.md
Labels: content, pages

#35852 Provide redirect for broken UI link as temporary fix
  content/actions/writing-workflows/quickstart.md
Labels: triage, waiting for review

#35448 Clarify GitHub Actions webhooks limit
  content/actions/administering-github-actions/usage-limits-billing-and-administration.md
Labels: content, actions, SME reviewed

#35742 Update deleting-and-restoring-a-package.md
  content/packages/learn-github-packages/deleting-and-restoring-a-package.md
Labels: content, packages, ready to merge

#35818 dependabot options: fix values for ignore update-types
  content/code-security/dependabot/working-with-dependabot/dependabot-options-reference.md
Labels: content, waiting for review, code security, needs SME

#35841 Change to git add renormalize command after changing line endings
  content/get-started/getting-started-with-git/configuring-git-to-handle-line-endings.md
Labels: content, SME reviewed, get started

#35864 Update countries-where-sms-authentication-is-supported.md
  content/authentication/securing-your-account-with-two-factor-authentication-2fa/countries-where-sms-authentication-is-supported.md
Labels: content, waiting for review, authentication

#35875 Add a section for the Important alert type to the style guide
  content/contributing/style-guide-and-content-model/style-guide.md
Labels: content, contributing docs, waiting for review

#35890 Addresses #35215 - corrected example for github.ref pull requests events
  data/reusables/actions/ref-description.md
Labels: content, actions

#35899 HTTPS repositories: user/pass only required for private repos
  content/get-started/getting-started-with-git/about-remote-repositories.md
Labels: content, get started

#35942 Update MIT License year from 2024 -> 2025
  LICENSE-CODE
Labels: content

#35963 Add missing dot to `.github`
  content/actions/writing-workflows/using-workflow-templates.md
Labels: content, actions

#35967 Promote warning about unspecified permissions to a call-out
  content/actions/security-for-github-actions/security-guides/automatic-token-authentication.md
Labels: content, actions

#35980 GitHub issues public preview cleanup
  content/issues/tracking-your-work-with-issues/about-issues.md
  content/issues/tracking-your-work-with-issues/using-issues/adding-sub-issues.md
  content/issues/tracking-your-work-with-issues/using-issues/browsing-sub-issues.md
  content/issues/tracking-your-work-with-issues/using-issues/filtering-and-searching-issues-and-pull-requests.md
Labels: content

#36017 Clarifying that GITHUB_TOKEN can be used to install packages from other private repositories
  data/reusables/package_registry/authenticate-packages.md
Labels: content, packages

#35901 docs: dependabot: show how to express Maven version ranges
  content/code-security/dependabot/working-with-dependabot/dependabot-options-reference.md
Labels: content, code security, SME reviewed

#36061 Added run keyword to example file triggering-a-workflow.md
  content/actions/writing-workflows/choosing-when-your-workflow-runs/triggering-a-workflow.md
Labels: content, actions

#35893 chore: update github actions major version numbers
  data/reusables/actions/action-cache.md
  data/reusables/actions/action-github-script.md
  data/reusables/actions/action-setup-dotnet.md
  data/reusables/actions/action-stale.md
Labels: content, actions, SME reviewed

#36062 Update basic-writing-and-formatting-syntax.md
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content

#36063 Update using-github-classroom-with-github-cli.md
  content/education/manage-coursework-with-github-classroom/teach-with-github-classroom/using-github-classroom-with-github-cli.md
Labels: content

#36069 Update GitHub Desktop macOS supported version
  data/variables/desktop.yml
Labels: content

#36083 Remove the -- in front of integrate-boards for migrations from Devops
  content/migrations/using-github-enterprise-importer/migrating-from-azure-devops-to-github-enterprise-cloud/managing-access-for-a-migration-from-azure-devops.md
Labels: content

#36095 Update removing-sensitive-data-from-a-repository.md
  content/authentication/keeping-your-account-and-data-secure/removing-sensitive-data-from-a-repository.md
Labels: content

#36084 Remove mention of steps from concurrency description
  content/actions/writing-workflows/choosing-what-your-workflow-does/control-the-concurrency-of-workflows-and-jobs.md
Labels: content, actions

#36098 fix: 36077
  content/repositories/working-with-files/managing-files/editing-files.md
Labels: content
