Repository github/docs, pull requests merged in 2025-07, with the labels that each got.

#39128 Adds notice for Nuget ecosystem and other misc corrections
  content/code-security/dependabot/working-with-dependabot/dependabot-options-reference.md
Labels: triage

#39137 Use up-to-date maven domain
  content/packages/working-with-a-github-packages-registry/working-with-the-apache-maven-registry.md
Labels: content, packages

#39047 Add `enqueued` and `dequeued` to `pull_request_target`
  content/actions/reference/events-that-trigger-workflows.md
Labels: content, github_actions

#39088 Update www-and-apex-domain-recommendation.md to fix #39087
  data/reusables/pages/www-and-apex-domain-recommendation.md
Labels: content, pages

#39249 Fixed link for options
  content/actions/how-tos/migrating-to-github-actions/manually-migrating-to-github-actions/migrating-from-jenkins-to-github-actions.md
Labels: triage

#39269 Fix typo in reviewing-a-pull-request-created-by-copilot.md
  content/copilot/how-tos/agents/copilot-coding-agent/reviewing-a-pull-request-created-by-copilot.md
Labels: triage

#39260 Improve Account and Profile Documentation Frontmatter and Intro Wording
  content/account-and-profile/index.md
Labels: content, account-and-profile

#39360 Principal -> Principle
  content/actions/reference/secure-use-reference.md
Labels: triage

#39439 docs: update branch name to `main` from `master`
  content/contributing/writing-for-github-docs/templates.md
  content/repositories/creating-and-managing-repositories/repository-limits.md
  contributing/debugging-the-docs-application.md
Labels: triage

#39438 docs: update `rust` organization name to `rust-lang`
  content/pull-requests/committing-changes-to-your-project/viewing-and-comparing-commits/differences-between-commit-views.md
Labels: triage

#39466 docs: update branch name to github-actions-auto-update from master
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: triage

#39478 Fix input parameter typo in `uploading-a-sarif-file-to-github.md`
  content/code-security/code-scanning/integrating-with-code-scanning/uploading-a-sarif-file-to-github.md
Labels: triage

#39519 Remove warning about `nuget-feed` not supporting `replaces-base`
  content/code-security/dependabot/working-with-dependabot/configuring-access-to-private-registries-for-dependabot.md
  content/code-security/dependabot/working-with-dependabot/dependabot-options-reference.md
  data/reusables/dependabot/dependabot-replaces-base-nuget.md
Labels: triage

#39569 Clarify Python autosubmission prerequisites
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-automatic-dependency-submission-for-your-repository.md
Labels: triage

#39449 docs: bump `actions/create-github-app-token` action
  content/issues/planning-and-tracking-with-projects/automating-your-project/automating-projects-using-actions.md
  content/rest/quickstart.md
Labels: content, github_actions

#39451 docs: bump `actions/go-dependency-submission` action
  data/reusables/dependency-submission/premade-action-table.md
Labels: content, github_actions

#39448 docs: bump `actions/labeler` GitHub Actions
  content/actions/how-tos/reuse-automations/reuse-workflows.md
Labels: content, github_actions

#39595 Update `.git-blame-ignore-revs` description
  content/repositories/working-with-files/using-files/viewing-and-understanding-files.md
Labels: triage
