Repository github/docs, pull requests merged in 2025-02, with the labels that each got.

#36130 Fix typo
  content/actions/migrating-to-github-actions/manually-migrating-to-github-actions/migrating-from-travis-ci-to-github-actions.md
Labels: content

#36160 Small Changes
  content/get-started/getting-started-with-git/setting-your-username-in-git.md
Labels: triage

#36105 Update generating-a-json-web-token-jwt-for-a-github-app.md
  content/apps/creating-github-apps/authenticating-with-a-github-app/generating-a-json-web-token-jwt-for-a-github-app.md
Labels: content, waiting for review, github apps, needs SME

#36157 GitHub Pages: Adding note to remove default DNS records
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
Labels: content, waiting for review, pages, needs SME

#36175 Update about-github-pages.md
  content/pages/getting-started-with-github-pages/about-github-pages.md
Labels: waiting for review, needs SME

#36209 Clarify that messages can be errors _or_ warnings
  content/actions/sharing-automations/creating-actions/publishing-actions-in-github-marketplace.md
Labels: triage

#36172 Updated GitHub desktop fork instructions
  assets/images/help/desktop/choose-repository-location-url-tab-windows.png
  assets/images/help/desktop/clone-a-repository-url-tab-name-input.png
  assets/images/help/desktop/clone-choose-button-url-windows.png
  assets/images/help/desktop/create-fork-button-windows.png
  content/desktop/adding-and-cloning-repositories/cloning-and-forking-repositories-from-github-desktop.md
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/fork-a-repo.md
  data/reusables/desktop/choose-local-path-url-tab.md
  data/reusables/desktop/cloning-location-url-tab.md
  data/reusables/desktop/cloning-repository-url.md
  data/reusables/desktop/create-fork-prompt.md
  data/reusables/desktop/forking-a-repo.md
Labels: waiting for review

#36232 Update evaluate-expressions-in-workflows-and-actions.md
  content/actions/writing-workflows/choosing-what-your-workflow-does/evaluate-expressions-in-workflows-and-actions.md
Labels: content, waiting for review

#35597 Update checking-for-existing-gpg-keys.md
  content/authentication/managing-commit-signature-verification/checking-for-existing-gpg-keys.md
Labels: content, authentication, SME reviewed

#36266 Fix Alerts example, and copyedit intro of using-markdown-and-liquid-in-github-docs.md
  content/contributing/writing-for-github-docs/using-markdown-and-liquid-in-github-docs.md
Labels: content, waiting for review

#36274 fix: invalid syntax for docker commit prefix
  content/code-security/dependabot/dependabot-version-updates/customizing-dependabot-prs.md
Labels: content

#36263 Fix attest build provenance steps in publishing docker image examples
  content/actions/use-cases-and-examples/publishing-packages/publishing-docker-images.md
Labels: waiting for review, more-information-needed

#36304 Fix incorrect summary of how an SSH agent works
  content/authentication/connecting-to-github-with-ssh/working-with-ssh-key-passphrases.md
Labels: triage

#36314 Update creating-a-github-pages-site-with-jekyll.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/creating-a-github-pages-site-with-jekyll.md
Labels: triage

#36333 Simple grammar Update about-github-pages.md
  content/pages/getting-started-with-github-pages/about-github-pages.md
Labels: triage

#36352 Incorrect link to Okta documentation in team synchronization guide is fixed
  data/reusables/identity-and-permissions/team-sync-okta-requirements.md
Labels: triage

#36370 Update outdated note on downloading actions
  content/actions/writing-workflows/choosing-what-your-workflow-does/storing-and-sharing-data-from-a-workflow.md
Labels: content, triage, waiting for review

#36402 Fix expansion of LLM
  content/copilot/building-copilot-extensions/building-a-copilot-agent-for-your-copilot-extension/using-copilots-llm-for-your-agent.md
Labels: content, copilot

#36384 Fix and improve example workflow
  content/copilot/rolling-out-github-copilot-at-scale/reminding-inactive-users.md
Labels: triage

#36449 Update about-projects.md
  content/issues/planning-and-tracking-with-projects/learning-about-projects/about-projects.md
Labels: triage

#36457 Update squash_and_merge_summary.md
  data/reusables/pull_requests/squash_and_merge_summary.md
Labels: content

#36455 Style guide updates
  content/support/learning-about-github-support/about-github-premium-support.md
  data/reusables/support/scope-of-support.md
Labels: waiting for review

#36483 Correct information about root action metadata file
  content/actions/sharing-automations/creating-actions/publishing-actions-in-github-marketplace.md
Labels: content, actions

#36519 Fix: Correct Issue Reference to Pull Request in Actions Security Docs
  content/actions/security-for-github-actions/security-guides/security-hardening-for-github-actions.md
Labels: content

#36481 Update changing-the-ai-model-for-copilot-code-completion.md
  content/copilot/using-github-copilot/ai-models/changing-the-ai-model-for-copilot-code-completion.md
Labels: content

#36522 Correct label of GitHub Copilot Chat button in JetBrains IDEs
  content/copilot/using-github-copilot/copilot-chat/asking-github-copilot-questions-in-your-ide.md
Labels: content

#36498 Fixing subheading level sudo-mode.md
  content/authentication/keeping-your-account-and-data-secure/sudo-mode.md
Labels: content, more-information-needed

#36523 Xcode extension is now generally available
  content/copilot/using-github-copilot/copilot-chat/asking-github-copilot-questions-in-your-ide.md
  data/reusables/copilot/xcode-chat-public-preview-note.md
Labels: triage

#36526 Add missing dots in asking-github-copilot-questions-in-your-ide.md
  content/copilot/using-github-copilot/copilot-chat/asking-github-copilot-questions-in-your-ide.md
Labels: triage

#36538 Warn that `runs.pre` doesn't work from local actions
  content/actions/sharing-automations/creating-actions/metadata-syntax-for-github-actions.md
Labels: content

#36539 Document `runs.steps[*].continue-on-error` for composite actions
  content/actions/sharing-automations/creating-actions/metadata-syntax-for-github-actions.md
Labels: triage

#36563 Update Guidance for configuration of private...Dependabot
  content/code-security/dependabot/working-with-dependabot/guidance-for-the-configuration-of-private-registries-for-dependabot.md
Labels: content

#36557 Update protected-branches.md, add missing space after punctuation
  data/reusables/gated-features/protected-branches.md
Labels: content
