Repository github/docs, pull requests merged in 2025-09, with the labels that each got.

#39799 docs: bump `actions/checkout` GitHub Actions
  data/reusables/actions/action-checkout.md
Labels: content, github_actions

#40066 docs: bump `actions/attest-build-provenance` from 2 to 3
  content/actions/how-tos/secure-your-work/use-artifact-attestations/use-artifact-attestations.md
  content/actions/tutorials/publish-packages/publish-docker-images.md
  data/reusables/package_registry/publish-docker-image.md
Labels: content, github_actions

#39683 Update to v4.4.2 of setup-gradle action
  content/actions/tutorials/build-and-test-code/java-with-gradle.md
  content/actions/tutorials/publish-packages/publish-java-packages-with-gradle.md
Labels: content, github_actions

#39682 docs: bump `actions/download-artifact` GitHub Actions
  data/reusables/actions/action-download-artifact.md
Labels: content, github_actions

#40200 Update oidc-in-azure.md
  content/actions/how-tos/secure-your-work/security-harden-deployments/oidc-in-azure.md
Labels: triage

#40215 Fixed Swapped Links
  content/packages/learn-github-packages/connecting-a-repository-to-a-package.md
Labels: triage

#40245 Fix registration link and clean up content
  content/get-started/showcase-your-expertise-with-github-certifications/about-github-certifications.md
Labels: content, get started

#40253 chore: change Licences to Licenses - American English spelling
  content/get-started/learning-to-code/finding-and-understanding-example-code.md
Labels: triage

#40314 sentence fix: remove duplicated verb in step list
  content/actions/how-tos/write-workflows/use-workflow-templates.md
Labels: triage

#40233 docs: bump `actions/stale` from 9 to 10
  data/reusables/actions/action-stale.md
Labels: content, github_actions

#40231 docs: bump `actions/github-script` from 7 to 8
  data/reusables/actions/action-github-script.md
Labels: content, github_actions

#40382 Enhance guidance for go proxy server in Dependabot
  content/code-security/dependabot/working-with-dependabot/guidance-for-the-configuration-of-private-registries-for-dependabot.md
Labels: triage

#40424 Restore example of conditional logic in expressions
  content/actions/reference/workflows-and-actions/expressions.md
Labels: triage

#40443 Remove duplicate section from planning-and-tracking-work-for-your-tea…
  content/issues/tracking-your-work-with-issues/learning-about-issues/planning-and-tracking-work-for-your-team-or-project.md
Labels: triage

#40451 chore: change labelled to labeled - American English spelling
  content/admin/managing-accounts-and-repositories/managing-organizations-in-your-enterprise/removing-organizations-from-your-enterprise.md
  content/code-security/dependabot/dependabot-auto-triage-rules/managing-automatically-dismissed-alerts.md
  content/contributing/writing-for-github-docs/creating-diagrams-for-github-docs.md
  content/contributing/writing-for-github-docs/using-markdown-and-liquid-in-github-docs.md
  content/education/manage-coursework-with-github-classroom/integrate-github-classroom-with-an-ide/about-using-makecode-arcade-with-github-classroom.md
  data/reusables/desktop/settings-git-pane.md
  data/reusables/two_fa/add-additional-method.md
Labels: triage

#40538 Replace incorrect example search term
  content/pages/getting-started-with-github-pages/securing-your-github-pages-site-with-https.md
Labels: triage

#40546 style-guide.md: Unmatched closing tags found in style-guide.md
  content/contributing/style-guide-and-content-model/style-guide.md
Labels: triage

#40547 Update autolinked references section for clarity
  content/get-started/writing-on-github/working-with-advanced-formatting/autolinked-references-and-urls.md
Labels: triage

#40550 Replace outdated hardcoded GitHub SHA links for SARIF schemas with HTTP links
  content/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning.md
  content/code-security/codeql-cli/using-the-advanced-functionality-of-the-codeql-cli/sarif-output.md
Labels: triage

#40610 Remove excess spaces
  content/organizations/keeping-your-organization-secure/managing-two-factor-authentication-for-your-organization/preparing-to-require-two-factor-authentication-in-your-organization.md
Labels: triage

#40520 fix link fragments to dependabot options reference
  content/code-security/dependabot/dependabot-version-updates/configuring-dependabot-version-updates.md
  content/code-security/dependabot/dependabot-version-updates/customizing-dependabot-prs.md
  content/code-security/dependabot/ecosystems-supported-by-dependabot/supported-ecosystems-and-repositories.md
  content/code-security/dependabot/troubleshooting-dependabot/troubleshooting-dependabot-errors.md
  content/code-security/dependabot/working-with-dependabot/configuring-multi-ecosystem-updates.md
  content/code-security/dependabot/working-with-dependabot/managing-pull-requests-for-dependency-updates.md
  data/release-notes/enterprise-server/3-14/0.yml
  data/reusables/dependabot/dependabot-ignore-dependencies.md
  data/reusables/dependabot/dependabot-updates-supported-versioning-tags.md
  data/reusables/dependabot/initial-updates.md
  data/reusables/dependabot/supported-package-managers.md
Labels: content, dependabot, code security
