Repository github/docs, pull requests merged in 2025-05, with the labels that each got.

#37994 chore: updated the list of what counts as a contribution on your profile
  content/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/viewing-contributions-on-your-profile.md
Labels: triage

#37728 Fix incorrect DNS instructions
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
Labels: content, pages, SME reviewed

#38016 deprecate(libraries-for-the-rest-api): octocat.rs is WIP and unmaintained
  content/rest/using-the-rest-api/libraries-for-the-rest-api.md
Labels: content, rest

#38235 Clarification about poetry projects
  data/reusables/dependabot/supported-package-managers.md
Labels: content, dependabot, SME reviewed

#38140 fix: version in example
  content/apps/creating-github-apps/authenticating-with-a-github-app/making-authenticated-api-requests-with-a-github-app-in-a-github-actions-workflow.md
Labels: content, github apps

#38255 Update feature-overview-for-github-enterprise-cloud-with-data-residen…
  content/admin/data-residency/feature-overview-for-github-enterprise-cloud-with-data-residency.md
Labels: triage

#38172 Fix typos
  content/code-security/codeql-cli/codeql-cli-manual/resolve-ram.md
  content/pages/setting-up-a-github-pages-site-with-jekyll/troubleshooting-jekyll-build-errors-for-github-pages-sites.md
  content/rest/enterprise-admin/repo-pre-receive-hooks.md
  content/site-policy/github-terms/github-sponsors-additional-terms.md
  data/reusables/actions/jobs/setting-default-values-for-jobs-defaults-job-run.md
Labels: content

#38289 Fix typo in configuring-scim-provisioning-with-okta.md
  content/admin/managing-iam/provisioning-user-accounts-with-scim/configuring-scim-provisioning-with-okta.md
Labels: content

#38440 Add note about Poetry v2 support
  content/code-security/dependabot/working-with-dependabot/dependabot-options-reference.md
Labels: triage

#38441 Remove circular link in warning
  data/reusables/pages/wildcard-dns-warning.md
Labels: content, pages

#38275 Add new interval options to optimizing-pr-creation-version-updates.md
  content/code-security/dependabot/dependabot-version-updates/optimizing-pr-creation-version-updates.md
Labels: content, dependabot

#38445 Correct duplicate branch-paths-filter.md paragraph
  content/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows.md
Labels: content, github_actions

#38523 Fix typos in "Private keys" and "Use a webhook secret" sections
  content/apps/creating-github-apps/about-creating-github-apps/best-practices-for-creating-a-github-app.md
Labels: content

#38555 Fix typo on price
  content/billing/managing-billing-for-your-products/managing-billing-for-github-actions/about-billing-for-github-actions.md
Labels: triage

#38458 Create terms-for-student-benefits.md
  content/education/about-github-education/github-education-for-students/github-terms-and-conditions-for-the-student-developer-pack.md
  content/education/about-github-education/github-education-for-students/index.md
Labels: content

#38230 Update evaluate-expressions-in-workflows-and-actions.md
  content/actions/writing-workflows/choosing-what-your-workflow-does/evaluate-expressions-in-workflows-and-actions.md
Labels: content, needs SME, github_actions
