Repository github/docs, pull requests merged in 2025-08, with the labels that each got.

#39630 Change awkward phrasing in `automatically-merging-a-pull-request.md`
  content/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/automatically-merging-a-pull-request.md
Labels: triage

#39688 Fix "What are GitHub Codespaces?" stating 64 GB RAM as the highest spec configuration
  content/codespaces/about-codespaces/what-are-codespaces.md
Labels: triage

#39732 docs: Remove redundant "apps"
  content/organizations/managing-oauth-access-to-your-organizations-data/about-oauth-app-access-restrictions.md
Labels: triage

#39818 Removed duplicate phrase
  content/actions/concepts/security/openid-connect.md
Labels: triage

#39720 Update README documentation
  content/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-readmes.md
Labels: triage

#39766 fix the application timeline information
  content/education/about-github-education/use-github-at-your-educational-institution/applying-to-be-a-github-campus-expert.md
Labels: content, education

#39827 Update managing-labels.md
  content/issues/using-labels-and-milestones-to-track-work/managing-labels.md
Labels: triage

#39830 fix: remove duplicated word aka typo
  content/copilot/how-tos/provide-context/use-copilot-spaces/create-and-use-copilot-spaces.md
Labels: triage

#39711 Update `Preinstalling tools or dependencies in Copilot's environment` Docs
  content/copilot/how-tos/use-copilot-agents/coding-agent/customize-the-agent-environment.md
Labels: content, copilot

#40005 docs: bump `actions/upload-pages-artifact` from 3 to 4
  content/pages/getting-started-with-github-pages/using-custom-workflows-with-github-pages.md
Labels: content, pages

#40028 Demote heading in dependabot-options-reference.md
  content/code-security/dependabot/working-with-dependabot/dependabot-options-reference.md
Labels: triage

#40031 Clarify the valid `update-types` values for the ignore block
  content/code-security/dependabot/working-with-dependabot/dependabot-options-reference.md
Labels: content, dependabot

#39741 docs: typo `demographical` → `demographic`
  content/site-policy/privacy-policies/github-cookies.md
Labels: content, site policy
