Repository github/docs, pull requests merged in 2025-06, with the labels that each got.

#38686 docs: fixes in Actions security hardening guide
  content/actions/security-for-github-actions/security-guides/security-hardening-for-github-actions.md
Labels: triage

#38714 docs: Fix typo in evaluate expressions in workflows doc
  content/actions/writing-workflows/choosing-what-your-workflow-does/evaluate-expressions-in-workflows-and-actions.md
Labels: triage

#38685 docs: fixes in Actions runner documentation
  content/actions/hosting-your-own-runners/managing-self-hosted-runners-with-actions-runner-controller/about-actions-runner-controller.md
  content/actions/hosting-your-own-runners/managing-self-hosted-runners/customizing-the-containers-used-by-jobs.md
Labels: content, github_actions

#38767 Update caching-dependencies-to-speed-up-workflows.md
  content/actions/writing-workflows/choosing-what-your-workflow-does/caching-dependencies-to-speed-up-workflows.md
Labels: content

#38720 Fix broken AUTOTITLE links for prompt engineering documentation
  content/copilot/rolling-out-github-copilot-at-scale/assigning-licenses/reminding-inactive-users.md
  content/copilot/rolling-out-github-copilot-at-scale/enabling-developers/driving-copilot-adoption-in-your-company.md
  content/copilot/setting-up-github-copilot/setting-up-github-copilot-for-yourself.md
  content/copilot/using-github-copilot/best-practices-for-using-github-copilot.md
  content/copilot/using-github-copilot/getting-code-suggestions-in-your-ide-with-github-copilot.md
Labels: content, copilot

#38835 `fix:` Possible incompatibility in docs regarding the use of gemini-2.5 pro for github free & pro & pro+ plans
  content/copilot/using-github-copilot/ai-models/using-gemini-in-github-copilot.md
Labels: triage

#38840 Explicitly mention SMS as insecure method
  content/organizations/keeping-your-organization-secure/managing-two-factor-authentication-for-your-organization/requiring-two-factor-authentication-in-your-organization.md
Labels: triage

#38850 Fix broken AUTOTITLE links in Copilot quickstart reusables
  data/reusables/copilot/quickstart-nextsteps1.md
  data/reusables/copilot/quickstart-nextsteps2.md
Labels: content, copilot

#38903 Fix inconsistent/incorrect note about pull request template features
  content/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/using-query-parameters-to-create-a-pull-request.md
Labels: content, pull requests

#38552 Fix the script bug in importing-a-subversion-repository.md
  content/migrations/importing-source-code/using-the-command-line-to-import-source-code/importing-a-subversion-repository.md
Labels: content

#38913 Update about-forks.md: move a non-difference out of the list of diffe…
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/about-forks.md
Labels: content, pull requests

#38683 Update Configuring your proxy server or firewall for Copilot
  content/copilot/managing-copilot/managing-github-copilot-in-your-organization/configuring-your-proxy-server-or-firewall-for-copilot.md
Labels: content, copilot

#39017 Fix Azure MCP server configuration and resolve schema validation errors
  content/copilot/using-github-copilot/coding-agent/extending-copilot-coding-agent-with-mcp.md
Labels: content

#38514 Fix typos, logic errors and language
  content/actions/sharing-automations/reusing-workflows.md
  content/admin/administering-your-instance/administering-your-instance-from-the-command-line/command-line-utilities.md
  content/admin/managing-iam/configuring-authentication-for-enterprise-managed-users/configuring-saml-single-sign-on-for-enterprise-managed-users.md
  content/admin/managing-iam/understanding-iam-for-enterprises/about-enterprise-managed-users.md
  content/billing/managing-billing-for-your-products/managing-billing-for-github-advanced-security/signing-up-for-github-advanced-security.md
  content/code-security/dependabot/working-with-dependabot/configuring-access-to-private-registries-for-dependabot.md
  content/code-security/dependabot/working-with-dependabot/dependabot-options-reference.md
  content/code-security/securing-your-organization/fixing-security-alerts-at-scale/best-practice-fix-alerts-at-scale.md
  content/code-security/security-overview/filtering-alerts-in-security-overview.md
  content/code-security/security-overview/viewing-security-insights.md
  content/code-security/trialing-github-advanced-security/explore-trial-code-scanning.md
  content/copilot/building-copilot-extensions/building-a-copilot-agent-for-your-copilot-extension/context-passing-for-your-agent.md
  content/enterprise-onboarding/feature-enhancements/about-enterprise-security.md
  content/repositories/configuring-branches-and-merges-in-your-repository/managing-rulesets/troubleshooting-rules.md
Labels: content

#38880 About discussions edits
  content/discussions/collaborating-with-your-community-using-discussions/about-discussions.md
  content/discussions/collaborating-with-your-community-using-discussions/collaborating-with-maintainers-using-discussions.md
  content/discussions/managing-discussions-for-your-community/managing-categories-for-discussions.md
  content/discussions/managing-discussions-for-your-community/managing-discussions.md
  data/reusables/discussions/category-sections.md
  data/reusables/discussions/closing-discussions.md
  data/reusables/discussions/github-recognizes-members.md
  data/reusables/discussions/repository-category-limit.md
  data/reusables/discussions/you-can-categorize-discussions.md
  data/reusables/discussions/you-can-convert-an-issue.md
Labels: content, waiting for review

#39085 8Update creating-gists.md
  content/get-started/writing-on-github/editing-and-sharing-content-with-gists/creating-gists.md
Labels: content, get started
