Repository github/docs, pull requests merged in 2025-04, with the labels that each got.

#37291 Update maintainer to Anjuan
  ownership.yaml
Labels: triage

#37305 Fix typo: s/ruselet/ruleset/
  content/code-security/supply-chain-security/understanding-your-software-supply-chain/enforcing-dependency-review-across-an-organization.md
Labels: content

#37306 Fixed missing curly brace for variable in the docs (comparing-ai-models-using-diff…)
  content/copilot/using-github-copilot/ai-models/comparing-ai-models-using-different-tasks.md
Labels: triage

#37296 Use correct description of detaching a fork
  content/pull-requests/collaborating-with-pull-requests/working-with-forks/detaching-a-fork.md
Labels: content

#37262 fix: Add uv to fix disparity between Dependabot docs articles
  content/code-security/dependabot/working-with-dependabot/dependabot-options-reference.md
  data/reusables/dependabot/supported-package-managers.md
Labels: content, dependabot, needs SME

#37421 Fix typo in URL
  content/copilot/using-github-copilot/ai-models/choosing-the-right-ai-model-for-your-task.md
Labels: triage

#37440 chore: updated spelling for consistency
  content/code-security/codeql-cli/codeql-cli-manual/database-create.md
Labels: triage

#37525 Update feature-overview-for-github-enterprise-cloud-with-data-residen…
  content/admin/data-residency/feature-overview-for-github-enterprise-cloud-with-data-residency.md
Labels: content

#37470 Update choosing-the-right-ai-model-for-your-task.md
  content/copilot/using-github-copilot/ai-models/choosing-the-right-ai-model-for-your-task.md
Labels: content, copilot

#37463 Update githubs-plans.md to remove redundant line
  content/get-started/learning-about-github/githubs-plans.md
Labels: content

#37552 Update managing-policies-for-copilot-in-your-organization.md
  content/copilot/managing-copilot/managing-github-copilot-in-your-organization/managing-policies-for-copilot-in-your-organization.md
Labels: triage

#37574 security-hardening-with-openid-connect: Add missing comma
  content/actions/security-for-github-actions/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md
Labels: content

#37598 Update managing-policies-for-copilot-in-your-organization.md
  content/copilot/managing-copilot/managing-github-copilot-in-your-organization/managing-policies-for-copilot-in-your-organization.md
Labels: triage

#37643 fix: remove duplicate line about actions
  content/code-security/code-scanning/enabling-code-scanning/configuring-default-setup-for-code-scanning-at-scale.md
Labels: content

#35987 Document how to avoid backlinks for references
  content/get-started/writing-on-github/working-with-advanced-formatting/autolinked-references-and-urls.md
Labels: content, waiting for review, needs SME, get started

#37704 Add Mix to Dependency Submission premade action table
  data/reusables/dependency-submission/premade-action-table.md
Labels: content, code security

#37760 Remove Ubuntu 20.04 from supported GitHub Actions runners list
  data/reusables/actions/supported-github-runners.md
Labels: content, github_actions

#37949 fix: correct grammar in custom properties documentation
  content/organizations/managing-organization-settings/managing-custom-properties-for-repositories-in-your-organization.md
Labels: triage
