Repository github/docs, pull requests merged in 2025-03, with the labels that each got.

#36598 chore: changed organisation to organization - American English spelling
  content/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/about-email-notifications-for-pushes-to-your-repository.md
Labels: triage

#36586 Update about-githubs-ip-addresses.md
  content/authentication/keeping-your-account-and-data-secure/about-githubs-ip-addresses.md
Labels: content

#36607 Describe linked issues can use trailer syntax
  content/issues/tracking-your-work-with-issues/using-issues/linking-a-pull-request-to-an-issue.md
Labels: triage

#36651 Adds redirect
  content/site-policy/acceptable-use-policies/github-appeal-and-reinstatement.md
Labels: triage

#36735 Link to choosing the runner for a job
  data/reusables/actions/actions-billing.md
Labels: triage

#36983 fix: omit incorrect slash commands
  content/copilot/using-github-copilot/copilot-chat/github-copilot-chat-cheat-sheet.md
Labels: triage

#36891 Fix character entity references
  content/contributing/setting-up-your-environment-to-work-on-github-docs/troubleshooting-your-environment.md
Labels: ready to merge, waiting for review

#36892 fix #36593 again
  content/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site.md
Labels: content, ready to merge, waiting for review

#37055 Update basic-writing-and-formatting-syntax.md
  content/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.md
Labels: content

#37051 Fixed a typo in disabling-github-copilot-free.md
  content/copilot/managing-copilot/managing-copilot-as-an-individual-subscriber/managing-copilot-free/disabling-github-copilot-free.md
Labels: triage

#37069 fix java libraries links
  content/rest/using-the-rest-api/libraries-for-the-rest-api.md
Labels: content

#37137 fix: change 'day' to 'Tuesday' in optimizing docs
  content/code-security/dependabot/dependabot-version-updates/optimizing-pr-creation-version-updates.md
Labels: content

#37145 Fix formatting in the notes section
  data/reusables/pull_requests/pull_request_merges_and_contributions.md
Labels: content
